[2017-03-24 02:03] daspecster commented on #3165
@lukesneeringer I think @cgratie is up and running right?

But this definitely weird.

[2017-03-24 06:40] mikelambert commented on #3191
Would you be interested in making that workaround happen automatically in __getstate__?

Or will users be forced to investigate and discover this (generally unindexed-by-Google) github issue in order to get these two Google products working with each other?

Anecdotally, these are the things that frustrate me about "buying into" the Google cloud infrastructure (and I say this as a former Google SW

[2017-03-24 11:51] daiyueweng opened #3203 "How to use MonitoredResource in stackdriver logging"
Hi, I am wondering how to use `MonitoredResource` in `Stackdriver logging` in `Python`. I found that `MonitoredResource` is available in `REST API`, `JAVA`, `NODE.JS` and `C#`, but I couldn't find it in `Python`. Since all log entries are written to `global` resource by default, I am wondering how to change that to a specific resource in `Python`, an example will be great.

cheers

[2017-03-24 12:21] cgratie commented on #3165
**Update:** I can no longer reproduce the issue. I've checked the package versions I had before (good thing I had posted that) and the only change seems to be **grpcio 1.1.3** to **grpcio 1.2.0**. So maybe the problem was there and it was fixed?

It would still be nice to have more control over configuration options when creating a Client instance, but now at least it works fine with the default c

[2017-03-24 12:33] cgratie commented on #3165
@daspecster Yes, I am up and running, by hacking the config file.
@lukesneeringer Indeed, changing **"initial_rpc_timeout_millis"** to 81000 was enough to make it work. Setting it to 79000 gives
[code]

[2017-03-24 14:14] lukesneeringer commented on #3165
Okay, so the _formula_ in the error message is correct, but the _time target_ in the error message is bogus.

We should make it so that you do not have to outright hack the config file; the auto-generated `SpeechClient` [does take a `client_config` object][1] that we should actually expose in the manual layer.

  [1]: https://github.com/googleapis/api-client-staging/blob/master/generated/python/ga

[2017-03-24 14:32] lukesneeringer commented on #3165
Another thing to consider: Perhaps we should change those default timeouts for speech. It seems like `initial_rpc_timeout_millis` might just be too low for speech.

So, the limit for audio is one minute, which means we should probably have an initial timeout setting of at least 185 seconds (actually 186 seconds due to the float thing). That is an easy change to just make and then generate a new au

[2017-03-24 14:58] lukesneeringer commented on #3191
I guess the question I would ask is:

Pickling is an anti-pattern. It is not a particularly good (or safe!) serialization protocol. Do you _have_ to pickle this thing? Is that something that is forced by the Dataflow pipeline?

If it is something that we really cannot get around for reasons outside our control, then the case for making sure these objects are pickleable is better. But if you have t

[2017-03-24 15:01] lukesneeringer commented on #3200
Concur. Try upgrading pip (it is on [9.0.1][] now).
I am closing this issue, but please feel free to re-open if that does not fix your problem.

  [9.0.1]: https://pypi.python.org/pypi/pip/9.0.1

[2017-03-24 15:01] #3200 closed

[2017-03-24 15:01] lukesneeringer commented on #3203
Summoning @waprin.

[2017-03-24 15:47] garye commented on #3061
Ok, do we think the deadline mechanism will actually work around whatever hang we're seeing?

[2017-03-24 15:51] lukesneeringer commented on #3061
Oh, I just re-read this. I am not sure.
On a separate note, can you upgrade to `grpcio` 1.2.0 (released last week)? There was a fix to a hanging issue in there.

[2017-03-24 16:04] lukesneeringer commented on #3165
We decided not to expose the client config just yet (pending some design questions), but I am still hoping to get the default config changed to avoid this error.

[2017-03-24 17:11] daspecster opened #3205 "CONTRIBUTING.rst out of date since the switch to nox from tox."
Since we're using nox now, we should update the CONTRIBUTING.rst to show users how to run docs/lint/unit/system tests.

[2017-03-24 20:28] garye commented on #2255
@dhermes @tseaver, @calpeyser will be taking a look at implementing this.

Note that it's not enough to just resend the same request after a failure, we need to invoke `ReadRows` with a `start_key` that is immediately after the last row key we have successfully read. It looks like this will require some refactoring since `PartialRowsData` doesn't actually invoke the API call curently.

[2017-03-24 20:45] mikelambert commented on #3191
I'm relatively new to Dataflow, but AFAIK pickling is *the* serialization method used by Dataflow. They run multiple worker instances, all on the same GCE image, with the same python and package code versions, so I'm guaranteed identical code running on both ends of the pickling. In Dataflow, I yield/return python objects from one function in the pipeline, and they are magically sent as an argumen

[2017-03-24 20:50] lukesneeringer commented on #3191
Yeah, it does not help much to say that pickling is an anti-pattern if you have no choice. :-) That is a valid argument.

@dhermes Does this change your calculus?

[2017-03-24 20:54] dhermes commented on #3191
@lukesneeringer It does not change my stance on `pickle`. Users of dataflow could always just create a `PickleClient` subclass of our `Client` with `__setstate__` / `__getstate__` defined on it. We could even document this in some deep dark place, but I don't want to encourage use of `pickle` by explicitly supporting it.

[2017-03-24 20:58] daspecster commented on #3172
Moving discussion from https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3206#issuecomment-289135807 to this thread.

@lukesneeringer so here's the current status of snippets for GA.

- Datastore snippet tests work/pass and are the most current architecture.
- BigQuery snippet tests work/pass but they are the old architecture and need to be updated.
- Storage snippet tests do not wor

[2017-03-24 21:14] robertwb commented on #3191
Most arguments against pickling (java serialization, etc.) center around the fact that it's a bad format for shipping or persisting data, but Dataflow uses it to ship (references to) "code" around (e.g. a users particular subclass of DoFn) to be executed on remote machines.

The difficulty here is that a user's DoFn may hold a datastore client object preventing us from serializing their Fn. One co

[2017-03-24 21:22] dhermes commented on #3172
@daspecster FYI: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/1bcff68a53435301e1f309d634420703ec8c2464/docs/logging_snippets.py

[2017-03-24 21:23] dhermes commented on #3172
There is an inflection point where doing things "by hand" starts to become longer than doing it the right way

[2017-03-24 21:24] mikelambert commented on #3191
Aside from the inanity of two google products intentionally not working well together, and asking users to lookup and write extra workaround code, because of a philosophical belief about built-in language features you want to impose on other devs...

...this also means you will be teaching these users (who may have never used pickle before in their life) to learn *more* about pickle and how to wri

[2017-03-24 21:25] daspecster commented on #3172
@dhermes logging_snippets.py looks fairly outdated.

[code]

[2017-03-24 21:31] dhermes commented on #3172
I am unaware of how up to date it is, just posted as a response to "Logging snippet tests do not exists."

[2017-03-24 21:32] dhermes commented on #3191
It's also worth pointing out that you wouldn't have even known your were using pickle if you were never using pickle in the first place.

[2017-03-24 21:32] jonparrott commented on #3191
It's not a philosophical belief. Pickle is objectively bad *and* insecure. While I agree that it's frustrating that these two Google products don't work together in every case, the alternative of encouraging users to put their heads in the sand while handing them the gun to shot themselves in the foot with isn't acceptable either.

Client are not serializable, nor do I think they *should* be. Seve

[2017-03-24 21:34] daspecster commented on #3172
@dhermes yeah thanks! I updated the status in the list.

[2017-03-24 21:45] robertwb commented on #3191
Note that many DoFns are simply lambdas that capture necessary state by closure. Forcing one to create a full class and implement `__getstate__`/`__setstate__` (or adding our own "serialize this class" API to avoid Python's pickle) greatly adds to the verbosity, once they even discover that's what they need to do. Suggesting `client._datastore_api_internal = None` seem seven more fragile.

Seems b

[2017-03-24 21:47] jonparrott commented on #3191
There are some very stateful clients, especially those that deal with transactions and batches.

I'm not overly familiar with dataflow, but is it not unusual to construct a client locally and try to use that remotely? That seems like a recipe for pain regardless of if this library supported serialization.

[2017-03-24 21:59] robertwb commented on #3191
That all depends on the properties of a client. Suppose I have a library that interacts with Datastore. When I invoke it, I could either give it a Client object, or I could give it the full set of parameters used to construct a client object and let it create the Client object itself. The latter seems a lot less clean (testable, etc.), but is what you're imposing if the library possibly does any r

[2017-03-24 22:03] jonparrott commented on #3191
So I think the final answer here is this (please let me know if I'm misrepresenting @lukesneeringer @dhermes):

1. It's extremely unlikely we'll support pickling of clients in this library.
2. @dhermes and I discussed adding a helpful error message if you try to pickle one of these clients.
3. Our recommendation for dataflow is to create the client inside of your DoFn instead of outside of it. If

[2017-03-24 22:11] elibixby commented on #3191
@mikelambert The correct and idiomatic solution is to build client creation into your DoFn:

[code]

No change is needed here from the client library team. This this is a very standard pattern in beam. It will not result in an O(records) cost, only an O(shards) cost, which the beam runner will likely factor in when deciding how large to make bundles.

I do however have a proposal to allow creation

[2017-03-25 00:14] robertwb commented on #3191
At least a more helpful message would be nice.

On Fri, Mar 24, 2017 at 3:11 PM, Eli Bixby <notifications@github.com> wrote:

[2017-03-25 00:19] elibixby commented on #3191
@robertwb I think requesting a more helpful message in Beam is reasonable (Something along the lines of "Serialization failed: consider creating this property within a `beam.DoFn.start_bundle` call" ) although it might be hard to implement, and would probably be pretty low on the team's priority list (but PRs accepted!)

But I don't think we should be encouraging devs to assume everything is pickl

[2017-03-25 02:30] cgratie commented on #3165
@lukesneeringer What I wonder is why `initial_rpc_timeout_millis` is used for timeout, and not `timeout_millis`, under `StreamingRecognize` in the config file. The latter has a value of 190 seconds, which seems just right. Is that value used anywhere?

[2017-03-25 18:49] lukesneeringer commented on #3191
This is still my current position. I could be talked out of it, and I would like for the interop to be easier, but not enough to make clients pickleable.

[2017-03-25 18:50] lukesneeringer commented on #3165
Yes, in the streaming methods. (See the discussion on googleapis/googleapis#297 where this was brought up.)

[2017-03-26 06:08] mikelambert commented on #3191
Thanks for the discussion and good ideas, appreciate your ideas..

I wasn't aware of the start_bundle approach, definitely sounds cleanest for
my purposes here to avoid excessive reauthentication!

And yeah, a message when pickling about how one *should* recreate clients
instead of pickling them would be great, including assurances about
authentication being cheap. :) Should I file a bug on this,

[2017-03-26 13:04] PrasenjitGiri opened #3208 "Error in NL API, 'Sentiment' object has no attribute 'score'"
Upon executing the following code on GCE & locally I'm getting 'score' not found error locally while it works on GCE.

[code]

Only difference I can find is on GCE, the gcloud version is different than the local
**GCE gcloud**
gcloud --version
Google Cloud SDK 145.0.0
alpha 2017.02.21
app-engine-python 1.9.50
beta 2017.02.21
bq 2.0.24
bq-nix 2.0.24
core 2017.02.21
core-nix 2017.02.21
gcloud
gcloud

[2017-03-27 04:00] c0b opened #3209 "feature request: query without having to provide a jobid ?"
i'm reading the `google-cloud-python` docs and the bigquery rest api reference [2], the job insert api is the async query job, I wonder why the python api is designed to have to provide a jobid? since bigquery server side is archiving the job id for a long time can't re-use same id, that has imposed client side a burden to maintain every jobid to be unique, although that can be easily archived by

[2017-03-27 04:20] c0b opened #3210 "feature request: better api for arbitrary keyword argument pass to query ?"
from this example https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html#querying-data-asynchronous

[code]

how about a better api by allowing arbitrary keyword list to be appended on the insert job POST request
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs the keyword `destinationTable` and `writeDisposition` here are from rest api reference, this wa

[2017-03-27 05:17] lukesneeringer opened #3211 "Raise exception with helpful error on Client pickle."
Based on the discussion in #3191, raise an exception with a helpful error stating that `Client` classes are not pickleable.

Note to self: We probably want this in GAX also.

[2017-03-27 05:18] lukesneeringer commented on #3191
I just added #3211 to track it.

[2017-03-27 12:58] ensonic opened #3212 ""grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.UNAUTHENTICATED" after leaving code running for multiple days"
Code is running on GKE. The docker image is based on ubuntu:xenial and has Python 3.5.2.
These are the packages:
[code]

When leaving the code running for several days we get a series of such exceptions:
[code]

later in the log we get:
[code]

The code where it starts to fails is a `subscription.pull(return_immediately=False, max_messages=10)` wrapped into a @retrying.retry(stop_max_attempt_numbe

[2017-03-27 14:55] salrashid123 commented on #2667
Yes, i'd say quarter-level would help (it'll atleast give some indication on planning if GA label is a hard requirement)  [issue#1363](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1369#issuecomment-288846182)

[2017-03-27 15:36] dhermes commented on #3211
[code]

[2017-03-27 16:51] daspecster commented on #3172
@dhermes the Storage [snippet for generate_upload_policy](https://googlecloudplatform.github.io/google-cloud-python/stable/storage-buckets.html#google.cloud.storage.bucket.Bucket.generate_upload_policy) seems to be broken. I looked at [the docs](https://cloud.google.com/storage/docs/xml-api/post-object#policydocument) but I don't see where the breakdown is.

Here's the output when trying to upload

[2017-03-27 17:29] dhermes commented on #3172
@jonparrott Wrote the snippet.

[2017-03-27 17:31] jonparrott commented on #3172
It's probably fine, it's just that the bucket has to exist.

[2017-03-27 17:32] daspecster commented on #3172
@jonparrott in my test, I was/am using a bucket that exists.

[2017-03-27 17:33] dhermes opened #3214 "Whack-a-mole: Flaky Spanner system test"
See https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1369

[2017-03-27 17:33] jonparrott commented on #3172
Weird. That error message indicates otherwise!

[2017-03-27 17:33] daspecster commented on #3172
@jonparrott haha I know! 😕

[2017-03-27 17:38] jonparrott commented on #3172
Can you try manually verifying it?

[2017-03-27 17:41] daspecster commented on #3172
@jonparrott yeah that's how I'm getting the error. I'm not just running the snippets. The storage snippets need some updating to work.

[code]

[2017-03-27 17:46] jonparrott commented on #3172
Hmm. I'm at a a bit of a loss.

[2017-03-27 18:54] tseaver commented on #3209
@c0b thanks for the report.  AFAICT, the [docs for the `jobReference` element of a job resource](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#jobReference) say that `jobId` is a required field.  The ["managing jobs" docs](https://cloud.google.com/bigquery/docs/managing_jobs_datasets_projects#generate-jobid) state that supplying a job ID is best practice:

[2017-03-27 19:31] craigtb commented on #3061
Hey - We updated `grpcio` and have pushed it out to our users.  We will monitor once they start using.

[2017-03-27 20:05] lukesneeringer commented on #3209
The client library can totally solve for this by generating a job ID (e.g. `str(uuid.uuid4())`), saving it to the object, and using it.

[2017-03-27 20:16] daspecster commented on #3172
I was able to get the logging snippets running somewhat.

[code]

[2017-03-27 20:21] lukesneeringer commented on #3061
Let us know, thanks!

[2017-03-27 21:07] waprin commented on #3203
@daiyueweng Unfortunately, there's currently no way to do this at the top-level documented API. We are planning to fix this.

In the meantime, your best bet is to use the lower-level APIs. If you take a look at [client.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/client.py), you'll notice the code duplexes between a GRPC level (called GAX,

[2017-03-27 21:07] #3203 closed

[2017-03-27 22:23] BrandonY opened #3216 "Support for GCS Cloud Pub/Sub Notifications"
GCS has a new feature (currently in private alpha) wherein buckets can be configured to send object change notifications to Cloud Pub/Sub topics, rather than as push notifications to HTTPS endpoints.

For gcloud-python, I imagine such a feature might look like this:

    from gcloud import pubsub
    from gcloud import storage

    storage_client = storage.Client()
    pubsub_client = pubsub.Clien

[2017-03-28 11:23] daiyueweng commented on #2673
Hi, I see that in `_make_entry_resource` of `logger.py`, there is a `resource` dictionary that has a key -
 `resource` which specifies resource type, so maybe I can pass in/define whatever `resource` I like to write to in there?

Or, instead, I have to use `write_entries` in `_gax.py` and `__http.py`?

[2017-03-28 13:56] lukesneeringer commented on #3216
Thanks for reporting. This seems like a useful feature request that we will definitely consider.

[2017-03-28 14:49] daspecster opened #3218 "Logging seems to not support type.googleapis.com/google.cloud.audit.AuditLog."
@waprin Logging does not seem to support [type.googleapis.com/google.cloud.audit.AuditLog](https://cloud.google.com/logging/docs/reference/audit/auditlog/rest/Shared.Types/AuditLog).

[code]

These entries are for things like auth logging/auditing. I think this popped up for me because I just checked all logs and not a specific services log. However I would imagine this would a common log type to

[2017-03-28 15:57] dhermes commented on #3218
@daspecster It's not about what `Logging` supports, it's about our parsing of `Any` protobufs. When a type is encountered that isn't in the `google.protobuf` registry, `google.protobuf` barfs.

In other words, this bug is a lot more generic than `AuditLog`

[2017-03-28 17:01] jonparrott commented on #3172
@daspecster can you file a separate bug about the storage policy document stuff and assign it to me? Thanks!

[2017-03-28 17:02] daspecster commented on #3218
@dhermes yeah, I gathered.

Isn't this a problem for GA though?

/cc @lukesneeringer

[2017-03-28 17:04] daspecster opened #3222 "Storage document upload policy snippet"
Storage [snippet for generate_upload_policy](https://googlecloudplatform.github.io/google-cloud-python/stable/storage-buckets.html#google.cloud.storage.bucket.Bucket.generate_upload_policy) seems to be broken. I looked at [the docs](https://cloud.google.com/storage/docs/xml-api/post-object#policydocument) but I don't see where the breakdown is.

Here's the output when trying to upload with the gen

[2017-03-28 17:04] daspecster commented on #3172
@jonparrott sure thing!

https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3222

[2017-03-28 17:05] dhermes commented on #3218
Yes it is a problem for GA

[2017-03-28 17:16] lukesneeringer commented on #3210
Hi @c0b, thanks for reporting. We will evaluate this.

[2017-03-28 17:45] dhermes opened #3224 "Show Luke I can move an issue to a different repo"

[2017-03-28 17:46] lukesneeringer commented on #3224
Hahahahaha. Nice.

[2017-03-28 17:46] #3224 closed

[2017-03-28 17:46] dhermes commented on #3224
Even add some comments to be moved. And a reference to #1.

[2017-03-28 17:51] waprin commented on #2673
@daiyueweng I might be missing something, but even if you use `_make_entry_resource` there's no method that accepts the object that returns. All of the `log_*` methods call `_make_entry_resource` themselves. Plus it's not ideal to use a private method.

I think I explained it slightly poorly in the previous issue. You should be able to use the public method `client.logging_api`, which will pick th

[2017-03-28 17:54] waprin commented on #3218
I don't think working with AuditLogs are the most critical thing in general (the are mostly for compliance and we have Cloud Console tooling for them), but agree with @dhermes the general bug seems like a pretty big issue, especially if crash while just reading all the logs.

[2017-03-28 19:55] daspecster commented on #3172
Ok, just a few PR's to merge and I think we're pretty much there.

- #3219
- #3220
- #3206
- #3227

[2017-03-28 20:13] jonparrott commented on #3222
@daspecster this works fine, however, two things:

1. The closing form tag is `<form>` instead of `</form>`. My bad.
2. You'll get the 'Cannot create buckets using a POST.' if you fail to put a value into the `key` input field. Granted, the sample outputs a form that doesn't have a label on that field so it's easy to miss.

[2017-03-28 20:22] dhermes opened #3228 "Core Exception Rename for 308?"
We [currently][1] name our 308 exception `ResumeIncomplete` because that is how Google Cloud Storage resumable uploads [use the status code][3].

But the [RFC][2] officially defines it as `308 Permanent Redirect`. Seems like people [are mad][4] about this?

Also, in Python through 3.4, 308 isn't even around

[code]

but it made it's way into Python 3.5:

[code]

[1]: https://github.com/GoogleCloud

[2017-03-28 20:24] dhermes commented on #3222
Re-opening issue until the snippet is restored in source

[2017-03-28 20:31] jonparrott commented on #3228
From what I can tell from internal code, Google services consistently use 308 as `Resume Incomplete`. Our client library should keep that, even if the RFC disagrees. We should properly document this, though.

[2017-03-28 20:35] lukesneeringer commented on #3228
LOLOLOLOLOL

[2017-03-28 20:36] jonparrott commented on #3228
Yeah that blog was a fun read.

[2017-03-28 20:38] lukesneeringer commented on #3228
My philosophy tends to be that you try as hard as you can to follow the spec, but I agree with @jonparrott in this case. I agree with documentation pointing out the differing behavior though, although sadly for reasons of professionalism we should avoid linking to the epic rant. ;-)

[2017-03-28 20:47] #3214 closed

[2017-03-28 20:52] lukesneeringer commented on #3218
@dhermes Any thoughts on the correct fix?

[2017-03-28 20:55] dhermes commented on #3218
The culprit is our usage of the `google.protobuf` parsers:

[code]

[2017-03-28 21:37] daspecster commented on #3222
@jonparrott, ah thanks. Sorry I missed that.

[2017-03-28 21:57] #3222 closed

[2017-03-28 23:31] dhermes opened #3232 "Entities created in datastore snippets should use a namespace"
This is useful for debugging build failures. This is [already done][1] for the rest of the entities created in the datastore system test.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e63ddc384e4a54a6a085595d779a399ed449c26c/datastore/tests/system/test_system.py#L52-L64

[2017-03-29 00:50] c0b commented on #3209
the jobId is only required if `jobReference` is present; but the `jobReference` itself is optional;

<img src="https://cloud.githubusercontent.com/assets/14798161/24433372/f98547ba-13dc-11e7-9b47-2502e2254adb.png" width="480">

[2017-03-29 09:56] daiyueweng commented on #2673
@waprin So I clone the `google.cloud.logging` library into a directory/package(called `stackdriver_logging`) of my project and changed all the references to `google.cloud.logging` to `stackdriver_logging.google.cloud.logging`. Slightly modified the `client.py` and `logger.py` in order to use `Monitored Resource` as follows,

[code]
[code]
When I unit tested the code, I got the following error,

[c

[2017-03-29 13:21] daiyueweng commented on #2673
A simple unit test code is as follows,

[code]

[2017-03-29 16:15] daiyueweng commented on #2673
I have fixed the above error, this was due to the way I define `resource`, it should be

[code]
instead of

[code]
in method `_make_entry_resource` of `logger.py`.

[2017-03-29 17:05] DizzeePascall opened #3233 "google.cloud.error_reporting AttributeError: 'Client' object has no attribute '_project'"
When running the examples from the documentation, I get the following error: `AttributeError: 'Client' object has no attribute '_project'`

Disabling GRPC via the GOOGLE_CLOUD_DISABLE_GRPC environment variable fixes this.

I'm running on an Ubuntu 14.04 compute instance with python 3.5.3 and version 023.2 of the google-cloud-error-reporting project

[2017-03-29 17:07] DizzeePascall commented on #3233
The problem seems to exist because PRs #3158 and #3159 have interefered with each other

[2017-03-29 17:07] dhermes commented on #3233
@DizzeePascall We just pushed `0.23.2` to fix this issue. Can you try updating?

[2017-03-29 17:10] DizzeePascall commented on #3233
@dhermes I'm running `0.23.2`. As I mentioned, two PRs were filed to address a similar problem in `0.23.1`, but ironically they've cancelled each other out. This shouldn't be closed yet

[2017-03-29 17:30] dhermes commented on #3233
Thanks for the heads up. Can you post the snippet you used that failed so we can confirm as well? (You like to one PR and one issue, maybe you meant to link to two PRs?)

[2017-03-29 17:34] DizzeePascall commented on #3233
@dhermes Good point, I've updated my comment above

[2017-03-29 17:36] marcboissonneaultjda commented on #3175
@dhermes While your team is fixing the issue, can you to fix the [subscription_create issue](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub/_gax.py#L316-L323) at the same time?
It's exactly the same issue but for subscription and I completely forgot to mention it in my support case with @lucmult

[2017-03-29 17:59] dhermes commented on #3233
Confirming the issue:

[code]

[2017-03-29 18:14] eeveeta commented on #2672
@Fematich any news on the RST?

[2017-03-29 22:13] calpeyser commented on #2255
Hey guys - I've had a look, here's a proposal:

(1) **Implementing Retries** - we can probably do this by combining "[retryable](https://github.com/googleapis/gax-python/blob/master/google/gax/retry.py#L73)" in gax-python with the "[response iterator](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigtable/google/cloud/bigtable/table.py#L275)" convention currently used in t

[2017-03-29 23:03] dhermes opened #3236 "Add 3.6 classifier to all setup.py files"
`Programming Language :: Python :: 3.6`

[2017-03-29 23:21] dhermes opened #3237 "Logging system tests are hanging on CircleCI"
Four builds all hung:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1413 (after `.........` == 9)
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1415 (after `.............` == 13)
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1418 (after `...........` == 11)
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1426 (after `..

[2017-03-29 23:22] dhermes commented on #3237
Note this is "blocking" the release of `error_reporting == 0.23.3` /cc @DizzeePascall

[2017-03-29 23:36] dhermes commented on #3237
Running `py.test tests/system.py -vv` (under the `logging` directory) the (deterministic) order of test cases is:

[code]

(with numbers added by me).

[2017-03-29 23:44] waprin commented on #3237
I'm a bit confused as to under what circumstances these tests are failing? Is it with those error reporting changes or is it just sporadically failing everywhere (sorry Circle interface isn't obviously answering this question to me).

 `test_log_root_handler(self)` is the most complex test and worth commenting out to see if it fixes anything.

[2017-03-29 23:53] dhermes commented on #3237
The `logging` environment is completely isolated from the `error_reporting` changes, so they are unrelated. (Though `logging` is a dependency of `error_reporting`, so we want to make sure `logging` is good before doing a downstream release.)

Every CI run since the first failure has failed, i.e. it doesn't seem sporadic. To replicate we'd want to use the same env. vars. locally?

[2017-03-30 00:47] vkedia opened #3238 "Enhance Readme file for spanner"
Currently Readme file for spanner does not have much in it. It should be enhanced to include a usage section like the other apis.
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/README.rst

[2017-03-30 05:50] speedplane commented on #3128
Can you please reopen? This is coming back with a vengeance. Same error, but slightly different codepath, see stacktrace below:

[code]

[2017-03-30 11:50] daiyueweng commented on #2673
So, I have tried to use `Monitored Resource` code work, no luck. Tried to pass in an argument for `resource` parameter in method `write_entries` of `_gax.py`, caused

[code]
this is probably because in `write_entries`,
[code]
requires `resource` to be `None`, so that in method `write_log_entries`, `resource` can be initliaze to a `monitored_resource_pb2.MonitoredResource()` in `logging_service_v2_

[2017-03-30 13:06] daiyueweng commented on #2673
If I don't pass in any argument for `resource` in `write_entries`, and just specify a `resource type` other than `global` (e.g. `project` in this case) in method `_make_entry_resource` of `logger.py`, I will get the following errors,

[code]

[2017-03-30 14:15] daspecster commented on #3128
@speedplane I don't see anything on the status dashboard about an outage.
https://status.cloud.google.com

It does seem strange that it's `ServiceUnavailable`. Maybe communication problems between Kubernetes and datastore and it some how doesn't get reported? /cc @lukesneeringer

[2017-03-30 14:51] #3211 closed

[2017-03-30 15:05] lukesneeringer opened #3240 "Add unit tests for superset of expected responses."
There was [a bug][] in the Node.js Vision client which was effectively that the client raised an exception if it ever got a key that it did not expect. This is relatively easy to do for any number of reasons:

[code]

This is an anti-pattern, because it strongly assumes that you will never get a new key that is not already in your key map. If the API adds a `gammaObject` key and this (Python) code

[2017-03-30 15:13] lukesneeringer commented on #3240
@dhermes It came up in Vision, but nothing about the potential issue is Vision-specific.

[2017-03-30 15:16] dhermes commented on #3240
Ah gotcha. This seems like a pretty beefy issue then.

Personally, it seems like a nasty trick for a versioned API to start returning things it didn't used to, but that's already happened to us (with BigQuery, maybe others), so it seems like we can't pretend it won't.

[2017-03-30 15:17] lukesneeringer commented on #3128
@speedplane Let me make sure I understand -- it _was_ gone with the grpc 1.2 upgrade, and now it is back? But with a slightly different error? Is it still intermittent?

[2017-03-30 15:19] dhermes commented on #3128
@speedplane Seeing one `UNAVAILABLE` a day probably isn't a bug (other than the absence of a retry feature). Is this happening LOTS (as you indicated the issue was happening before)?

Aside: @lukesneeringer doesn't GAPIC have a retry feature?

[2017-03-30 15:20] garye commented on #2255
(1) With the current interface that only takes a row range, you don't know the row keys that still need to be read. You do know the last key that was read before an error (they come back in lexicographical order), which tells you which row range you need to send in the retried request.

(2) I don't think re-implementing the mock server is Python is a great use of time. We can easily build linux, m

[2017-03-30 15:21] lukesneeringer commented on #3240
The contract is basically that additive changes are in bounds and should not break the client.

Additionally, remember that it is common practice at Google to whitelist people for particular additional fields, and while we may not support those additional fields, we need the client not to barf completely.

I do not think we have any instances of the error that Node had, but we should add some test

[2017-03-30 15:23] dhermes commented on #3237
@waprin We've now got a fourth instance.

[2017-03-30 15:23] daspecster commented on #3172
Ok all the PRs are merged.

I'm not saying the docs are perfect but they should be a lot closer.

I'm going to close this issue since all the outlined tasks are completed.

[2017-03-30 15:23] #3172 closed

[2017-03-30 15:28] lukesneeringer commented on #3237
Adding an `issue-3237` branch with `-vvv` so that we can see it more easily.

[2017-03-30 15:40] dhermes commented on #3237
![55452314](https://cloud.githubusercontent.com/assets/520669/24512861/8d1ed37c-1524-11e7-9066-60e466c1165b.jpg)

[2017-03-30 15:41] lukesneeringer commented on #3172
:tada:, thanks.

[2017-03-30 15:42] lukesneeringer commented on #2672
Actually going to close this since it looks like it has languished. @Fematich feel free to open a new issue (preferred over reopening this one) if you want to go down this route.

[2017-03-30 15:42] #2672 closed

[2017-03-30 16:29] lukesneeringer commented on #3237
Closing, but merging #3244 to help us watch.

[2017-03-30 17:23] asilversempirical commented on #3233
Any ETA on a fix for this? My team's error reporting is broken on this. Should we just temporarily pin to .23.0?

[2017-03-30 17:28] dhermes commented on #3233
@asilversempirical Hopefully `0.24.0` (not `0.23.2`) will come out this afternoon via #3245

[2017-03-30 17:31] dhermes opened #3246 "Monitoring system test `test_write_point` is flaky"
See bad [build][1].

/cc @waprin

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1449

[2017-03-30 17:32] asilversempirical commented on #3233
Excellent, thank you for being on top of this :)

[2017-03-30 18:40] dhermes opened #3247 "Auto-cancelled builds will skip cleanup in system tests"
This results in orphaned resources, e.g. a [recent build][1] was pre-empted and a bucket created in the BQ tests is still around an hour later

![screenshot from 2017-03-30 11-40-14](https://cloud.githubusercontent.com/assets/520669/24520541/b2ec1718-153d-11e7-8050-ce6ab1dc0796.png)

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1448

[2017-03-30 20:38] dhermes opened #3248 "system_test nox sessions shouldn't ALWAYS "pass" with no config"
Was just chatting with @daspecster and running `nox` locally gives no real indication that the system tests did nothing.

Rather than [checking for][1] `GOOGLE_APPLICATION_CREDENTIALS` and saying "nothing to see here" we should probably instead do:

1. Bail without failing if in CI and not in a push build ([e.g.][2])
1. If we've made it PAST the bail out (i.e. not on CI or in CI on a merge build)

[2017-03-30 21:16] duggelz commented on #2819
Can we just use the standard [`faulthandler`](https://docs.python.org/3/library/faulthandler.html) module from Python 3 (and backported to Python 2 on PyPI)?

I worked a lot on the C++ crash handling inside Google, and it's tremendously difficult to get everything right in a robust and portable way.  And there is a direct correlation where the more elaborate you make the crash handler, the less re

[2017-03-30 21:27] kkinder commented on #2957
@daspecster Perhaps your environment is different? I'm still seeing the issue, and it's exceedingly easy to reproduce.

1. Create a Python2.7 virtualenv. Activate it, obviously.
2. pip install google-cloud-bigquery (currently resolves to the latest version on pip: google_cloud_bigquery-0.23.0-py2.py3-none-any)
3. Make sure you're authenticated and create a test project. Do this in python interactv

[2017-03-30 21:38] lukesneeringer commented on #3248
Running nox locally should run system tests. That is a bug. I will fix it.

[2017-03-30 21:47] lukesneeringer commented on #3236
Done in the 1.0 PR.

[2017-03-30 21:47] #3236 closed

[2017-03-31 05:56] sparkline-paolo opened #3251 "KeyError: 'list_logs' for Google Cloud Logging"
After updating to the latest pips, I am now encountering this keyerror when using google-cloud logging.  Any thoughts?

[code]

Code example
[code]

[2017-03-31 14:24] benjamin-fenker-tessella opened #3252 "Authentication hangs with no error message for vision API example"
The vision API example [here](https://cloud.google.com/vision/docs/fulltext-annotations#importing_libraries) appears to fail during authentication without reporting an error message. Note that `GOOGLE_APPLICATION_CREDENTIALS` does point to a JSON key (although I don't claim infallibility on this).

[code]

[2017-03-31 14:39] lukesneeringer commented on #3252
Hi @benjamin-fenker-tessella. Thanks for reporting.

We will look into this. Even if your authentication file is not correct, it should not _hang_. :-)

[2017-03-31 14:45] lukesneeringer commented on #3233
We missed yesterday afternoon, but it is coming out this morning.

[2017-03-31 14:46] lukesneeringer commented on #3128
It does.

[2017-03-31 14:59] benjamin-fenker-tessella commented on #3252
Well it did eventually time out with this error, which maybe helps more:

Traceback (most recent call last):
  File "doctext.py", line 88, in <module>
    render_doc_text(args.detect_file, args.out_file)
  File "doctext.py", line 68, in render_doc_text
    bounds = get_document_bounds(filein, FeatureType.PAGE)
  File "doctext.py", line 40, in get_document_bounds
    document = image.detect_full_te

[2017-03-31 15:04] lukesneeringer commented on #3251
Thanks for reporting! We will look into this.

[2017-03-31 15:05] lukesneeringer commented on #3252
It does, thank you.

[2017-03-31 15:05] lukesneeringer commented on #3252
Can you still give us the full `pip freeze`?

[2017-03-31 15:12] benjamin-fenker-tessella commented on #3252
Sure!

appdirs==1.4.3
cachetools==2.0.0
Cython==0.25.2
decorator==4.0.11
dill==0.2.6
enum34==1.1.6
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.3
gapic-google-cloud-spanner-admin-database-v1==0.15.3
gapic-google-cloud-spanner-admin-instance-v1==0.15.3
gapic-google-c

[2017-03-31 15:16] dhermes commented on #3251
@waprin Any ideas?

[2017-03-31 15:19] lukesneeringer commented on #3252
Thanks!

[2017-03-31 19:34] yaalaa opened #3259 "_grpc_catch_rendezvous Unauthorized - Datastore - AppEngine Flexible"
I'm running instance at App Engine Flexible.
I'm working with Google Datastore using `google-cloud-python` (now it's 0.23.0)
I've noticed datastore operations are used to fail with the stack like that:
[code]
The failure is used to appear every hour.

Any idea?
PS. I suppose the issue is nearly new-born, I haven't seen it around a month ago.

[2017-03-31 19:41] jonparrott commented on #3259
@yaalaa can we get the output of pip freeze / your deployed requirements.txt?

[2017-03-31 19:46] yaalaa commented on #3259
here you are, @jonparrott
[code]

[2017-03-31 19:48] lukesneeringer commented on #3259
Is this an _intermittent_ failure?

[2017-03-31 19:51] jonparrott commented on #3259
@lukesneeringer

That coincides with the token refresh interval. Is datastore perhaps not retrying requests on 401?

[2017-03-31 19:55] yaalaa commented on #3259
FYI folks, more my observances, if you'd like.
It looks like initermittent. At least there are long enough periods while the issue is not happening.
I haven't dared to retry 401-failed requests, BTW.
I'm not sure whether it tries to refresh the token and then to retry the original request.

[2017-03-31 20:06] dhermes commented on #3218
Closing as duplicate of #2674

[2017-03-31 20:06] #3218 closed

[2017-03-31 20:07] dhermes commented on #2572
Duplicate of #2674

[2017-03-31 20:08] dhermes commented on #2674
I may just end up reverting #2600.

[2017-03-31 20:41] dhermes commented on #2674
It's fairly relevant that the **only** `Any` in the `logging` protobufs [is `LogEntry.proto_payload`][1] (which is part of the `payload` oneof)

[1]: https://github.com/googleapis/googleapis/blob/c74a9367216c44b3ba8d8e3913d497d5b3a0be16/google/logging/v2/log_entry.proto#L68

[2017-03-31 21:57] naoko commented on #3085
I'm actually getting this intermittent problem although I instantiate Client object only one time per life of application. I do get intermittent 503 too but per Google Doc suggestion, I've handled with back off strategy and retry but I do not want to add 401 as part of back off strategy...

[2017-04-01 13:20] baradas opened #3262 "Vision API failing on Standard Environment Appengine"
Are the cloud vision python clients ready for use on Standard Environment on AppEngine?

Steps as below :

[code]

Redeployed the project and during the invocation of the API I get the below stacktrace.

[code]

The cloud vision python clients seem to be doing fine on a compute engine box.

[2017-04-01 16:58] asilversempirical opened #3263 "error reporting still broken at 0.24"
After updating to 0.24 to fix https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3167 I'm still unable to report exceptions.

Ubuntu xenial w/ Python 3.5.2

`client.report_exception(http_context=error_reporting.build_flask_context(flask.request))`

On google-cloud-error-reporting <0.23 the above line works fine. At 0.24 I get:

Apr  1 15:52:51   File "/usr/local/lib/python3.5/dist-p

[2017-04-03 01:10] Kagadar opened #3264 "Cloud Logging Handler import statement incorrect"
On https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html#cloud-logging-handler the import statement is:
`from google.cloud.logging.handlers import CloudLoggingHandler`

According to the documentation for CloudLoggingHandler, https://googlecloudplatform.github.io/google-cloud-python/stable/logging-handlers.html#google.cloud.logging.handlers.handlers.CloudLoggingHandler

[2017-04-03 13:52] benjamin-fenker-tessella commented on #3252
This issue is unchanged after installing `google-cloud-core==0.24.0` and `google-cloud-vision==0.24.0`.

[2017-04-03 14:27] lukesneeringer commented on #3262
`google.gax` does not work at all on GAE Standard (because the gRPC transport is not supported).
Set the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable to `'true'` and it should fall back to the HTTP transport and work without issue.

Feel free to re-open if this does not fix the problem for you.

[2017-04-03 14:27] #3262 closed

[2017-04-03 14:35] garye commented on #2411
Good news: @skyfox is currently working on implementing this

[2017-04-03 14:41] garye commented on #3061
@craigtb, any luck with this yet?

[2017-04-03 14:49] craigtb commented on #3061
@garye We haven't had any hangups since we got this updated.  We are going to let things run for a few more days to make sure the issue doesn't reappear.  Thanks for following up.

[2017-04-03 15:23] dhermes commented on #3264
/cc @waprin

[2017-04-03 15:47] baradas commented on #3262
Added below to app.yaml and redeployed using gcloud but still the same. It's unable to detect the environment variable.

env_variables:
  APP_ENV: 'test'
  GOOGLE_CLOUD_DISABLE_GRPC: 'true'

[2017-04-03 16:01] jmgirven opened #3265 "App Engine Standard and Flexible Environments"
I am trying to create a Python application that uses both App Engine Standard and Flexible environments for different components. I need a worker to utilise tools not available in the standard environment. The majority of my code can run on the standard environment. The two should ideally: share a common database, share common file storage, and have a way of communicating (TaskQueue / PubSub). I w

[2017-04-03 17:16] waprin commented on #3264
The class is imported into the `handlers` package in `__init__.py` as a convenience to minimize redundancy. The class documentation gives the fully qualified name. Both import statements will work. Closing this as works as intended, feel free to re-open if you're not happy with this answer.

[2017-04-03 17:16] #3264 closed

[2017-04-03 18:46] vkedia opened #3267 "Snapshot transaction documentation on readthedocs is incorrect"
https://google-cloud-python.readthedocs.io/en/latest/spanner-snapshot-usage.html talks about read/read_streaming and execute_sql/execute_streaming_sql. We no longer have the *streaming* variants. We just have read and execute_sql which behave like streaming apis.

[2017-04-03 18:59] lukesneeringer commented on #3265
Hi @jmgirven,
It is hard to be able to give specific advice on a broad question like that -- whether GAE standard or flex is right for you will depend a lot on your circumstances.

I will mention that the gRPC transport does not work on GAE standard, so you will be limited to the HTTP transport on those services if you house your code there.

[2017-04-03 18:59] #3265 closed

[2017-04-03 20:02] sprakash3 opened #3268 "[Vision] No Exceptions raised for non-existent gcs uri's"
Hi,

Google Vision python package doesn't raise exceptions for non-existent gcs uri resources, instead returns an annotation object with empty list for texts. This makes it harder to tell if the resource doesn't exist or if the vision api failed to detect any text.

1. OS type and version: macOS Sierra 10.12.3
2. Python version: Python 2.7.10
3. google-cloud-python version: Version: 0.23.0
4. Code

[2017-04-03 20:07] dhermes commented on #3268
Thanks for reporting! ISTM this is a bug in the API itself, because for us to detect it in the client we'd need to make two round trips (which is a nontrivial penalty).

We **could** add a check locally, maybe with an optional `verify=False` flag, but I think we should try to discuss with the Vision API team first. @lukesneeringer WDYT?

[2017-04-03 21:06] vkedia opened #3269 "No way to override default deadlines in Spanner API"
Currently none of the Spanner APIs expose a way to override default deadline. This is especially important for read and query apis since people can use those APIs to stream millions of rows and the default deadline (which I think is [30 seconds](https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/spanner_gapic.yaml#L109)) is just too small for those cases.
One way of doing this

[2017-04-03 21:36] lukesneeringer commented on #3268
I would rather not, because then six other languages have to do that, too. This is an API bug.

[2017-04-03 21:36] #3268 closed

[2017-04-03 21:46] jmgirven commented on #3265
Thanks @lukesneeringer. You are right about it being too broad. A marginally better set of questions would be:

- Is google.cloud.datastore designed to function normally on GAE standard (with the gRPC exception you mention above)?
- Is there any extra set up required over the documented process? I.e. `gcloud init` presumably doesn't get transferred to the GAE instance.
- Assuming google.cloud.data

[2017-04-03 22:14] lukesneeringer commented on #3269
We talked about this in the context of #3204, and decided that while this is something we want to do, there is some design work involved.

[2017-04-03 22:26] sprakash3 commented on #3268
Thanks. Is there a place to report this ?

[2017-04-04 14:29] ensonic commented on #3212
This happened again (from pubsub_client.list_topics()). To make it clear, the auth works; it stops working after some time.
Is the api not supporting long running clients? if there is an upper limit on the life time of a client please document this, as well as tell users how to handle this case.

[2017-04-04 15:08] lukesneeringer commented on #3212
Hmm, I am not aware of an upper limit on the lifetime of a client, but that does sound like the error you are getting. We will try to find out.

[2017-04-04 15:10] lukesneeringer commented on #3263
Hi @asilversempirical,
That is frustrating. We will try to figure out what the problem is.

[2017-04-04 15:12] lukesneeringer commented on #3259
That seems like something the client should handle for you. We will look into it.

[2017-04-04 15:13] lukesneeringer commented on #3233
This issue should be fixed in 0.24.0.

[2017-04-04 15:13] #3233 closed

[2017-04-04 15:13] #3228 closed

[2017-04-04 15:15] #3141 closed

[2017-04-04 15:16] lukesneeringer commented on #3136
@gguuss Any update on this?

[2017-04-04 15:17] lukesneeringer commented on #3268
I have been pointing folks [here](https://cloud.google.com/support/).

[2017-04-04 16:56] vkedia commented on #3269
So is there some ETA for this? Can we do something in the short term till we figure out a common solution for all the libraries. This seems important to me especially for long running streaming apis which would be the most widely used apis in Spanner.

[2017-04-04 19:08] lukesneeringer commented on #3269
There is not an ETA right now. It is something we do want to do.
I do not want to put a stopgap solution in Spanner only.

[2017-04-04 19:18] lukesneeringer commented on #3061
@craigtb Huzzah.

I am going to close this issue since it is probably resolved, but please feel free to reopen if that turns out not to be true.

[2017-04-04 19:18] #3061 closed

[2017-04-04 19:51] gguuss commented on #3136
The project ID is only used when the content is a private GCS file.

[2017-04-04 19:55] lukesneeringer commented on #3136
Thanks @gguuss. That puts us more or less back where we started; project is not the culprit.
To be honest, I have no idea why the dashboard does not reflect anything, and that is a backend issue... :-/

[2017-04-05 03:26] sparkline-paolo commented on #3251
so I reinstalled everything from scratch and I can't reproduce this error anymore. feel free to close this issue guys

[2017-04-05 05:40] waprin commented on #3251
Yeah I had no ideas btw, sorry.

[2017-04-05 11:53] hakanak commented on #3100
Hello,
I have the same problem. I am developing an application with C #.
How did you find a solution?
Thank you.

[2017-04-05 13:09] elcombato commented on #3136
The API calls are now showing up on my dashboard after updating to `0.24`

[2017-04-05 13:56] AdamLazarus opened #3272 "Is the Python client library thread safe when using gRPC?"
Hello all,

The documentation [1] makes it clear that http2lib objects aren't thread safe in the Python client library. Are clients that have gRPC support (such as Pubsub) thread safe when using gRPC? This question has been asked with the Java client library before [2] but I'd appreciate a firm answer for Python too.

Thank you.

[1] https://developers.google.com/api-client-library/python/guide/th

[2017-04-05 14:13] lukesneeringer commented on #3272
Hi @AdamLazarus,
Thanks for asking.

The short answer is: We _think_ so. :-)

[2017-04-05 14:14] #3272 closed

[2017-04-05 14:15] lukesneeringer commented on #3136
How incredibly bizarre.
Closing this issue. Feel free to reopen if the problem pops back up.

[2017-04-05 14:15] #3136 closed

[2017-04-05 14:15] #3251 closed

[2017-04-05 14:32] mentat commented on #1893
I'm having a similar problem using the cloud vision api in GAE standard:

[code]

[2017-04-05 14:37] lukesneeringer opened #3273 "Remove time.sleep in Speech system tests."
The Speech system tests contain defensive code to address [a backend issue][1] with the new `v1` endpoint (it sometimes returns `v1beta1` LRO URLs).

This is supposed to be fixed in the backend soon; remove the defensive code once it is.

  [1]: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3266#discussion_r109510490

[2017-04-05 15:13] isdefic opened #3274 "Unable to import `google-cloud-storage`"
Hi,

We're looking to create a Lambda function that leverages the Google Cloud Storage SDK (`google-cloud-storage`) to pull down files.

We're following this guide to create .zip packages to deploy our code to Lambda: http://docs.aws.amazon.com/lambda/latest/dg/lambda-python-how-to-create-deployment-package.html

When we run the Lambda function, it errors saying that it's unable to import the pack

[2017-04-05 18:15] dhermes commented on #3274
It's almost certainly related to namespace packages.

[2017-04-05 19:14] lukesneeringer commented on #3274
Yeah, that is my guess also. We try to be good Python citizens and use the `google.cloud` namespace, but namespace packages are imperfect, particularly in older versions of Python.

Assuming the obvious things (e.g. you have `google-cloud-storage` in your `requirements.txt` file) are sanity checked, your best bet is probably to ask the Lambda folks. Sorry. :-/

[2017-04-05 19:18] jonparrott commented on #3274
@isdefic I'd recommend you take a look at [darth-vendor](https://github.com/jonparrott/Darth-Vendor), which we originally created for App Engine but is also highly applicable to this situation.

What you'd need to do is:

1. Instead of `pip install -t your/project/dir` you'd do `pip install -t your/project/dir/lib`. Separating the third-party packages into a 'lib' sub-folder.
2. Place `darth.py` i

[2017-04-05 19:52] tswast opened #3275 "Missing "Using the API" section for Cloud Storage"
I'd like a page that tells you how to get started with the API.

![image](https://cloud.githubusercontent.com/assets/247555/24724049/95f89b8e-19fe-11e7-9a14-e7f9f3e71800.png)

I know I can go to https://cloud.google.com/storage/docs/reference/libraries#client-libraries-usage-python but most people who arrive on the page won't know that.

[2017-04-05 19:57] dhermes commented on #3275
Thanks for filing @tswast. We've already got an open issue for this (I'll try to hunt it down right now, but have spotty internet)

[2017-04-05 19:58] #1159 closed

[2017-04-05 20:00] dhermes commented on #2352
@lukesneeringer is this project still in some long-term "TODO"?

[2017-04-05 20:01] dhermes commented on #3275
#1037. Shall we close as duplicate?

[2017-04-05 20:01] #3275 closed

[2017-04-05 20:04] tswast commented on #3275
Ah, thanks. Wasn't labeled with storage, so I didn't find it.

[2017-04-05 20:05] dhermes commented on #3275
Totes. My bad.

[2017-04-05 20:06] dhermes commented on #1037
Once this is resolved we should probably check during builds that such a page always exists (for all packages).

[2017-04-05 23:20] lukesneeringer commented on #2352
I had no idea this was even a thing.

[2017-04-06 08:34] isdefic commented on #3274
Thank you guys for the reply.
@lukesneeringer yes, I do have `google-cloud-storage` in my `requirements.txt`. We did raise a case with the AWS too as I wasn't sure who to 'blame' for this :). Waiting for a reply.

@jonparrott I was hopping for something a little bit different. I'll let you know if I can apply this solution for my case and if works.

Thank you all ;)

[2017-04-06 12:49] craigtb commented on #3061
@lukesneeringer @garye Looks like we ran into this issue again last night.  It seems like its hanging before it ever does anything within the consume_next function.  We put some logging inside that function and we did not see any of it for this unit of work.

[2017-04-06 14:20] lukesneeringer commented on #3274
Today I learned that there is a Python package named Darth Vendor. That is amazing.

[2017-04-06 14:23] #3267 closed

[2017-04-06 16:41] ccmonnett commented on #3212
Seeing the same thing on a script we left running on a standard GCP VM instance (Debian 8.7). Python 2.7.9.

Some of the packages (prototype instance, pip freeze is quite long...):
`gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.3
gapic-google-cloud-spanner-admin-database-v1==0.15.3

[2017-04-06 17:05] dhermes opened #3277 "pageSize vs. maxResults"
What is the point of the two arguments? For old-style APIs (i.e. discovery based), JSON paging is done via `maxResults`.

For new-style APIs (i.e. those with gRPC support), paging is done via `pageSize` (both in JSON and gRPC).

Currently our iterator takes `maxResults` to mean a maximum **over many pages** while `pageSize` (at least in terms of the two english words put together) means **the size

[2017-04-06 18:42] #2674 closed

[2017-04-06 19:42] calpeyser commented on #2255
I gave the above a whirl - please see https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3279

[2017-04-06 19:46] garye commented on #3061
@craigtb Out of curiosity, does the CPU of your VM spike while there is a hang?

[2017-04-06 20:16] craigtb commented on #3061
@garye No we haven't seen anything strange with that.

[2017-04-07 02:11] irri commented on #3212
Getting the same error here as well. The errors keeps coming for an interval of 5-10 minutes every hour.

This is for a pubsub client that is running for a long time (hours).

[code]

Here's a part of my `pip freeze`:

[code]

[2017-04-07 14:44] lukesneeringer commented on #3212
@jonparrott Any ideas of how I can attack this problem?

[2017-04-07 16:45] jonparrott commented on #3212
@lukesneeringer I'm gonna look into it. It seems that we need to enumerate and validate the failure modes for gRPC streaming when auth fails.

[2017-04-07 16:46] jonparrott commented on #3212
@ensonic @ccmonnett @irri Can any of you show the complete code that invoking `subscription.pull`?

[2017-04-07 20:23] pdknsk commented on #1660
I've made a simple patch for common use cases, on top of [another patch](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1185#issuecomment-287584661). It does not check the name of the predefined ACL, nor does it [translate](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b035bf78d726ddccc821e8884e6a4eda48e93e56/storage/google/cloud/storage/acl.py#L179) from XML t

[2017-04-07 21:17] jonparrott commented on #3212
@lukesneeringer I think that gax just needs to retry grpc errors with `UNAUTHENTICATED`. I'm not sure though.

[2017-04-07 21:34] cva opened #3281 "AttributeError: '_JWTAccessCredentials' object has no attribute 'before_request' trying to use google.auth.iam.Signer"
Trying to figure out how to use `google.auth.iam.Signer` to make signed URLs for cloud storage but stuck on what kind of credentials it wants. My understanding was I could use the app's default credentials for the call to iam.

1. OS type and version

Linux (appengine flexible python runtime)

2. Python version and virtual environment information `python --version`

Python 3.5.2

3. google-cloud-p

[2017-04-07 21:41] jonparrott commented on #3281
oauth2client is soon to be deprecated, please use credentials from google-auth itself:

[code]

Also, the Cloud Storage client in this repository has a helper for generated signed urls: https://google-cloud-python.readthedocs.io/en/latest/storage-blobs.html#google.cloud.storage.blob.Blob.generate_signed_url

[2017-04-07 21:41] #3281 closed

[2017-04-07 21:50] cva commented on #3281
Thanks, that worked.

[2017-04-07 22:44] pdknsk commented on #1660
[code]

[2017-04-07 23:48] PrasenjitGiri commented on #3208
So, any idea about this?

[2017-04-08 00:22] cva commented on #3281
In case anyone runs across this later and also trying to use iam signBlob, here's a snippet of what ended up working:

[code]

[2017-04-10 03:42] lukesneeringer commented on #3208
That most likely means that the API is inconsistent. I can make it not `KeyError`; you will just get a `None`. I will do that now while I am thinking about it.

[2017-04-10 17:33] skyfox commented on #2411
n my current solution, I added mutation class and the new multi rows mutation function as a method of the Table class.
Pros: 1) Easy to use - mutations can be specified outside of rows; 2) No need to construct Row instances. Original RPC call works on a level of row keys.
Cons: 1) new abstraction 2) The Row class should be refactored and work with mutations 3) Mutations for every row should be the

[2017-04-11 08:08] remcohaszing opened #3284 "google-cloud-datastore no longer works with freezegun"
As of `google-cloud-datastore` 1.0.0 it no longer works together with [freezegun](https://github.com/spulec/freezegun).

Workaround: downgrade to `google-cloud-datastore` 0.23.0

1. OS type and version:

Ubuntu 17.04, but it was also reproduced on 16.04.

2. Python version and virtual environment information `python --version`

[code]

3. google-cloud-python version `pip show google-cloud`, `pip s

[2017-04-11 15:01] lukesneeringer commented on #3284
Hi @remcohaszing,
Thanks for reporting, and for the level of detail.

That traceback looks like an internal server error to me. Is this a _repeatable_ error, or did you get it once and downgrade? I think it is probably (almost certainly) unrelated to the version difference (particularly because the version difference had no actual code change, I do not think).

[2017-04-11 15:12] remcohaszing commented on #3284
I managed to repeat this consistently. All of my tests succeed when using version 0.23.0, but all tests decorated with `freeze_time` fail when using version 1.0.0. I've upgraded the packages, downgraded them, did some full virtualenv wipes for fresh installs, etc.

I've tested this with the `google-cloud-sdk-datastore-emulator` installed using apt on my machine and in a Docker image in which I hav

[2017-04-11 15:26] lukesneeringer commented on #3284
Interesting. Thank you. I will look into it.

[2017-04-11 16:06] justinwp commented on #2877
Any update on this? Would prefer not dropping back to making rest calls.

[2017-04-11 17:07] dhermes commented on #3284
So a primary difference between `0.23.0` and `1.0.0` is the usage of the GAPIC generated surface for the client (see the [release notes][1])

@remcohaszing Can you manually pass `_use_grpc=False` when creating a `Client` and see if the issue persists? (This way we can zoom in on it.)

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/datastore-1.0.0

[2017-04-11 17:07] dhermes commented on #2877
@waprin WDYT?

[2017-04-11 17:24] remcohaszing commented on #3284
Adding `_use_grpc=False` still makes the test fail, but with another error.

The test without freezegun still works.

[code]

Stack trace from `test_put_frozen`:

[code]

[2017-04-11 17:35] dhermes commented on #3284
Well that's at least comforting. Your test is trying to make a live request to the auth server with a bad time. That's the buyer beware of using `freezegun`. You'll probably want to use a mocked out `credentials` instance ([e.g.][1]).

I'm not sure what other timing issues you're having in GAPIC / gRPC but there's not much we can do about it (aside from better stacktraces, which were pretty non-he

[2017-04-11 19:25] pbogle opened #3285 "Client library incorrectly returns error when FLAC is used with long-running-recognize"
The client library incorrectly returns an error when anything other than LINEAR16 is used for a long-running recognize request:

[https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/sample.py#L173][1]

The v1 server support all encodings so this breaks functionality.

In general, the client library should almost never do it's own validation; it should

[2017-04-11 19:28] pbogle opened #3286 "Client library should not try to validate sample rate"
The client library should allow validation of sample rate to occur on the server rather than trying to do it's own validation.  Allowing the server to check errors means that we don't need to update the client if the server expands the range of sample rates that it supports.

[https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/sample.py#L70][1]

[1]:

[2017-04-11 19:35] pbogle opened #3287 "Client library incorrectly throws exception if alternative does not have confidence"
I believe the code below will throw an exception if the API representation doesn't include a confidence value.  This is incorrect because alternative don't always have a confidence; it should supply a default of None.

        return cls(alternative['transcript'], alternative.get('confidence'))

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/alter

[2017-04-11 19:39] pbogle opened #3288 "encoding.py missing OGG_OPUS and SPEEX_WITH_HEADER_BYTE encodings"
The new encodings  OGG_OPUS and SPEEX_WITH_HEADER_BYTE are missing.

[https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/encoding.py][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/46e417e838001f4d1eb13f5e3fc2a54d390dd5db/speech/google/cloud/speech/encoding.py

[2017-04-11 20:33] lukesneeringer commented on #3287
This is fine; `dict.get('key')` returns `None` if the key is unset:

[code]

[2017-04-11 20:33] #3287 closed

[2017-04-11 22:23] #3208 closed

[2017-04-11 22:36] dhermes commented on #3288
@lukesneeringer Are these in some `pb2` module?

[2017-04-11 22:37] dhermes commented on #3285
I am +(a million) on this.

[2017-04-11 23:20] pbogle commented on #3287
That's not true for Python 2.7.  I assume we're not requiring Python 3?

$ python
Python 2.7.10 (default, Jul 30 2016, 19:40:32)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

'b'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'b'

[2017-04-11 23:23] dhermes commented on #3287
@pbogle The `__getitem__` syntax isn't used for `confidence`, for that value, we allow a fallback to `None`:

[code]

[2017-04-12 02:04] pbogle commented on #3287
Sorry I reveal my lack of knowledge of Python here; you are correct and there is no issue.

[2017-04-12 08:08] remcohaszing commented on #3284
I'm using `google-cloud-datastore` and `google-cloud-storage`. My tests for GCloud storage are fully based on mocks, because there is no emulator for this. The ones on `google-cloud-datastore` use an actual datastore emulator, as I've experienced this catches far more bugs than when mocking everything. Because of this, I'm only having this issue with the datastore.

Since the issue occurs regardle

[2017-04-12 12:14] speedplane commented on #3128
@dhermes @daspecster @lukesneeringer I am seeing this much more often than once a day, I see this roughly once a minute. I have a feeling that when I said the issue was gone, it wasn't, but only that I was not collecting the events properly. Not sure if this is helfpul, but I am installing the SDK files from within my Dockerfile with the following command:
[code]

[2017-04-12 13:47] garye commented on #2411
@tseaver , any thoughts on this?

[2017-04-12 14:36] lukesneeringer commented on #3288
https://github.com/googleapis/api-client-staging/blob/master/generated/python/gapic-google-cloud-speech-v1/google/cloud/gapic/speech/v1/enums.py#L66-L67

[2017-04-12 16:53] dhermes commented on #3284
@remcohaszing The issue is that you **aren't** mocking auth, but you **are** mocking the system time, so when your tests try to communicate with the auth server, bad things happen.

[2017-04-12 16:54] dhermes commented on #3288
So shouldn't we just use those values?

[2017-04-12 17:02] pbogle commented on #3288
Just a note that we will be adding additional new encodings in Q2.  So +1
on Danny's suggestion: it's highly desirable to expose the autogenerated
values directly to reduce the manual changes needed as we add new features.

On Wed, Apr 12, 2017 at 9:55 AM, Danny Hermes <notifications@github.com>
wrote:

[2017-04-12 17:41] ndenny opened #3293 "Provide a method to convert ndb Key's urlsafe format to/from datastore.Key"
In GAE standard, ndb has the concept of the urlsafe string version of a Key.
e.g. `url_string = sandy_key.urlsafe()` produces a result like `agVoZWxsb3IPCxIHQWNjb3VudBiZiwIM`.

However, I cannot find a way to use this format with the google.cloud.datastore library for code running outside GAE standard. Please add a method to the Key class to create urlsafe strings and a method to generate Keys fro

[2017-04-12 18:48] MarcelTon commented on #2990
@MarSoft bit tricky in a chicken-egg kind of way:
`pip install --upgrade pip setuptools
Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 7, in <module>
    from pip import main
  File "/usr/local/lib/python3.5/dist-packages/pip/__init__.py", line 26, in <module>
    from pip.utils import get_installed_distributions, get_prog
  File "/usr/local/lib/python3.5/dist-packages/pip/u

[2017-04-12 20:32] #3286 closed

[2017-04-12 20:33] #3288 closed

[2017-04-12 20:33] #3285 closed

[2017-04-12 21:34] dhermes commented on #3288
@lukesneeringer Can we re-open this / file a new issue to discuss a plan of attack to dump the hand-crafted enums?

[2017-04-13 06:24] lukesneeringer commented on #3288
The latter, please.

[2017-04-13 08:24] mikelambert commented on #40
I don't understand, why are you tying these (sync=datastore, async=ndb) together?

NDB has much more than an async API. I've traditionally used NDB synchronously, mainly for its ORM and memcaching.

The `datastore` sync API, meant it was unfortunately difficult to migrate this query:
[code]

Because it would need to be rewritten as this (slower) serialized operation:
[code]

Are you suggesting tha

[2017-04-13 08:28] mikelambert commented on #3259
I just started using `datastore` libraries on GAE Flexible (migrating from NDB), and am seeing this exact same error. Glad to see it's being looked into.

However, it doesn't appear to be intermittent for me.
3:47 - deployment
3:51 - (3:51-ish) go-live
4:17 - the above errors start, and keep going...
4:38 - i push again, and the next push goes live, and the errors finally stop
5:30 - errors haven'

[2017-04-13 09:57] lifeofguenter opened #3294 "zero mirror visibility"
on some of my nodes I am getting the following error:

[code]

unfortunately there is zero visibility/transparency on who is maintaining the mirror, nor any (findable) option on rsync'ing it on-premise to avoid such IP based blocks.

[2017-04-13 10:52] isdefic commented on #3274
At the end, I had create a separated virtualenv for the installation and add the init file to the package before zipping it all.

Thank you all.

[2017-04-13 10:52] #3274 closed

[2017-04-13 11:30] irri commented on #3212
@jonparrott Here's the simplified version of what I'm running:

[code]

By moving the creation of the pubsub client into the while loop (and thus re-creating a new one every second) the problems go away. But I feel that is not a beautiful production-ready solution.

[2017-04-13 11:47] mxmzdlv commented on #3212
I've got the same error message on GAE, but with pushing messages to pubsub. It usually appears every 30 minutes or so. The workaround is to create a new pubsub client before pushing a message. It is not ideal though, because it introduces an additional delay.

[2017-04-13 17:12] dhermes commented on #3294
@lifeofguenter This repository is not for the `gcloud` SDK, it's for Python packages for interacting with Google cloud APIs.

See: https://cloud.google.com/support/docs/issue-trackers

[2017-04-13 17:12] #3294 closed

[2017-04-13 17:14] dhermes commented on #3259
You shouldn't need to, though we are still working on making our clients threadsafe, so if your application is doing any threading you may see issues (though I don't think that is related to this issue).

[2017-04-13 17:14] dhermes opened #3296 "Stop hard-coding protobuf enums in speech Encoding"
See #3288

/cc @pbogle

[2017-04-13 17:14] dhermes commented on #3288
Filed #3296

[2017-04-13 17:15] jonparrott commented on #3259
I'm thinking that this and #3212 have the same root cause.

[2017-04-13 17:19] jonparrott commented on #3212
@irri @mxmzdlv @ensonic can any of you try using a new credential type and seeing if this goes away? Make sure you have the latest google-auth and try this:

[code]

[2017-04-13 18:51] lukesneeringer commented on #3296
Really we should make this change everywhere that we surface a GAPIC enum.

[2017-04-13 18:52] lukesneeringer commented on #3293
Hi @ndenny,
Thanks for reporting. We will look into this.

[2017-04-13 18:58] pbogle commented on #3296
Can you help me understand why we don't simply expose the underlying GAPIC enum??

(If the challenge is to come up with the equivalent string representation for error messages, there are definitely ways to do that programatically.)

[2017-04-13 19:10] dhermes commented on #3296
@pbogle Looking at [the class][1] there is absolutely no reason.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/24e603c377e8276dd79e202668b14bb6f5cff94f/speech/google/cloud/speech/encoding.py#L18-L44

[2017-04-13 19:51] rishsriv opened #3298 "BigQuery dataset.table("TABLE_NAME").exists() fails frequently"
The following snippet has been failing frequently in the past 12 hours:

[code]

System specs are:
OS: Ubuntu 16.10
Python 2.7.12, google-cloud version: 0.23.0
The request is made from a GCP instance in the Asia region, while the BigQuery dataset is in the North America region.

I get either a 500 error or a 503 error. The error stacktraces are:

[code]

OR

[code]

[This](https://github.com/Googl

[2017-04-13 23:27] mikelambert commented on #3259
And perhaps it's obvious, but just to follow-up: If I create a new datastore client on each servlet request, then I no longer get the errors mentioned above.

[2017-04-14 01:10] waprin commented on #3246
@dhermes you said in other thread this hasn't happened again? Can we close?

[2017-04-14 01:43] geigerj opened #3300 "Udpate contributing.rst"
Information in [contributing.rst](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst) referring to `tox` or to the `system_tests` directory no longer works after #3146.

[2017-04-14 02:10] dhermes commented on #3300
Closing as a duplicate of #3205, thanks for taking the time to file @geigerj!

Last I recall, @lukesneeringer was on the hook for this, though maybe that's no longer true.

[2017-04-14 02:10] #3300 closed

[2017-04-14 02:10] dhermes commented on #3246
Sure

[2017-04-14 02:10] #3246 closed

[2017-04-14 16:09] lukesneeringer commented on #3300
I am still on the hook for this. :-)

[2017-04-14 16:33] dhermes commented on #3293
For [reference][1], `urlsafe` just takes the key, turns it into raw bytes as a serialized protobuf, then urlsafe-base64 encodes those raw bytes. However, the protobuf used by App Engine is different than the one used by the Cloud Datastore API (I think).

@jonparrott Can you weigh in?

---

If you'd like a "band-aid" for now:

[code]

[1]: https://github.com/GoogleCloudPlatform/datastore-ndb-pytho

[2017-04-14 17:13] jonparrott commented on #3293
There's two separate requests here:

1. We need to add `Key.urlsafe()` and `Key.from_urlsafe()` that operates with our current proto format.
2. We should make sure the first method accepts App Engine standard's protobuf format as well.

[2017-04-14 19:24] merla18 opened #3301 "Cloud-Speech doc still mentions only LINEAR16 is supported for asynchronous recognition"
see https://googlecloudplatform.github.io/google-cloud-python/stable/speech-usage.html

FLAC is now supported in the client lib  (version 0.25.1) for async recognition. The doc might need to be regenerated

[2017-04-14 20:12] mykolasmith opened #3302 "[PubSub] Subscription.pull() not working (returns deadline exceeded)"
Any call pull() call to a PubSub subscription fails. There are about 1500 unacknowledged messages in the subscription in question. Note: I frequently switch this subscription between push and pull for draining and debugging purposes. (It would be nice to be able to peek messages and get message statistics by key without having to do this!)

Subscription details:
- Delivery type: `pull`
- Acknowled

[2017-04-14 20:19] mykolasmith commented on #3302
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2993

[2017-04-14 20:20] dhermes commented on #3302
@mykolasmith Is this issue limited to the Python client or is it an issue with Pub / Sub itself? Can you get these requests to succeed elsewhere, e.g. in the [APIs explorer][1]?

[1]: https://developers.google.com/apis-explorer/#p/pubsub/v1/pubsub.projects.subscriptions.pull

[2017-04-15 00:34] mxmzdlv commented on #3212
@jonparrott I've tried it and I still get the error message, but less frequently – always after 65 minutes and it seems to fix itself on subsequent 1-10 requests (the instance gets ~10 req/s). I've also tried changing `token_lifetime` – changing it to 5 minutes gives me the error every 10 minutes. Without jwt it could take up to 5 minutes to fix itself:
![screen shot 2017-04-15 at 12 31 15 pm](htt

[2017-04-17 16:35] jonparrott commented on #3212
@lukesneeringer at this point I have no idea. It seems somehow during the credentials refresh the old, expired token can still be used. Additionally, it doesn't appear that authentication errors are being retried appropriately.

[2017-04-17 16:35] jonparrott commented on #3212
@mxmzdlv thanks for giving that a try. :)

[2017-04-17 17:16] #2877 closed

[2017-04-17 17:19] dhermes commented on #3263
@waprin I am re-opening this since you said "probably" in #3299. Feel free to close if you think you nailed it (but again, prefer a system test).

[2017-04-17 17:50] dhermes opened #3304 "503 (flaky) in language system test"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1628

The error happened during [teardown][1] (a `DELETE` request) of the [`test_analyze_entities_from_blob`][2] case though I doubt the error is linked to which case spawned it.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/138f59fc1795e1e433822bdd62d927762fd8f2e2/language/tests/system.py#L64-L66
[2]: https://

[2017-04-17 17:51] dhermes commented on #3298
@tswast Have you seen 500s and 503s like this before?

[2017-04-17 19:12] tswast commented on #3298
I'll check with the BigQuery backend folks.

[2017-04-17 20:44] dhermes opened #3306 "Exponential backoff failed on monitoring test_write_point system test"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1630

It [looks like][1] the intent is 10 retries but this one failed after 4 retries.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/3b8c9f60097b3160feb881673c143e2a72b5b8ff/monitoring/tests/system.py#L205

[2017-04-17 21:11] lukesneeringer commented on #3301
Fixed in #3305.

[2017-04-17 21:11] #3301 closed

[2017-04-17 21:21] mykolasmith commented on #3302
FYI, it seems like an issue with Pub/Sub and not this specific client library. Per Google Support:

```Our Engineering team is actively looking into this issue right now. They've confirmed that there is indeed an issue on our side that caused this issue (which was triggered by you switching from pull to push and then back to push on that subscription). A colleague of mine will be further in touch

[2017-04-17 21:21] #3302 closed

[2017-04-17 21:22] dhermes commented on #3302
Thanks for the update @mykolasmith and sorry we can't be of more help.

[2017-04-18 09:30] sbv-csis commented on #3212
As another datapoint I can report that i've maxed out a 10k/month sentry.io free account with these errors from datastore.client.get_multi/put_multi and pubsub.subscription.acknowledge (the latter wrapped in `RetryError: GaxError....(StatusCode.UNAUTHENTICATED,....`) on a 300-500 req/s setup (before get/put_multi and with 100 messages per pubsub.publish)

[2017-04-18 20:12] hangll opened #3310 "log_text freezes in my Django project"
I have this piece of code in my Django project and 'start' is printed but I never see 'end'.

[code]

Also, if I set
[code]
~It won't freeze, but I don't see my log in stackdriver.~
It will work!

BTW, I also see this error in test cases but not in production env:
[code]

[UPDATE] It works fine locally, but when I deploy everything to kubenetes with Apache, I keep getting the same problem (log_tex

[2017-04-19 02:25] xiangfeidongsc commented on #920
@dhermes @tseaver
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/bucket.py#L331
The prefixes is set to be empty. How can I extract prefixed?

[2017-04-19 03:00] xiangfeidongsc commented on #920
Nvm. I found how to use it by searching in your test files.

I had to say I am disappointed to the library. It is far from complete.

[2017-04-19 13:35] isdefic opened #3312 "SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:590)"
Hi all,

I'm trying to use google-cloud-python to get the content of my bucket and save in a S3 bucket using an aws lambda function.

I've been having issues with the SSL certificate validation and after trying few things I have zero results.

My script is:
[code]

and the error I get is:
[code]
Any help would be appreciated.

Thanks,
Isaura

[2017-04-19 13:58] tswast commented on #3298
@rishriv Are you still having trouble with this API giving frequent errors?

If so, the BigQuery team needs a project, dataset, and table name to debug. You can send an email to me with the details if you'd like them to check it out.

Closing this issue here since I don't believe this is due to the client libraries.

[2017-04-19 13:58] #3298 closed

[2017-04-19 13:59] remcohaszing commented on #3284
I couldn't figure out a proper way to mock auth. Instead, I've created the following pytest fixture to work around this issue:

[code]

[2017-04-19 15:21] #1679 closed

[2017-04-19 15:41] jgeewax commented on #920
We've now seen a couple different people agreeing that this is a shortcoming against other libraries. Maybe it's time to explore fixing this? @dhermes

[2017-04-19 16:27] dhermes commented on #2184
This is stale?

[2017-04-19 16:27] #2184 closed

[2017-04-19 16:32] dhermes commented on #3312
@isdefic We've seen this quite a bit because `httplib2` is not threadsafe (see #1214).

I'm closing this for now, with the assumption that you are sharing a `Client` across multiple threads. If that isn't the case, let us know and I'll re-open and we can discuss. (As it turns out I am **very close** to ripping out `httplib2` as a dependency.)

Assuming you **are** using this library in multiple th

[2017-04-19 16:32] #3312 closed

[2017-04-19 16:35] dhermes commented on #3284
@remcohaszing I'd recommend just starting with a mock credentials object and passing it to a client:

[code]

then build up the mock slowly as you find the `AttributeError`-s in your tests. The [snippet][1] I linked to before should work just fine, and I'm happy to chat in Google Hangouts if you are having issues getting it off the ground.

I'm closing this issue out, it seems to be "resolved" in

[2017-04-19 16:35] #3284 closed

[2017-04-19 16:43] jonparrott commented on #3284
[here](https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/master/tests/transport/test_grpc.py#L31)'s a simple mock credentials class you can work from.

[2017-04-19 17:36] #2349 closed

[2017-04-19 17:37] lukesneeringer commented on #2317
I intend to turn this on very soon.

[2017-04-19 17:37] #2317 closed

[2017-04-19 17:37] #2277 closed

[2017-04-19 17:38] #2266 closed

[2017-04-19 17:38] lukesneeringer commented on #2253
Superceded by not using Pylint anymore.

[2017-04-19 17:38] #2253 closed

[2017-04-19 17:39] #2207 closed

[2017-04-19 17:39] lukesneeringer commented on #2204
I am assuming this _must_ be out of date. Please re-open if it is still an active issue.

[2017-04-19 17:39] #2204 closed

[2017-04-19 17:45] #2186 closed

[2017-04-19 17:49] dhermes commented on #2207
@lukesneeringer This still doesn't exist

[2017-04-19 18:06] #2667 closed

[2017-04-19 18:06] #2619 closed

[2017-04-19 18:07] #2606 closed

[2017-04-19 18:07] #2605 closed

[2017-04-19 18:07] #2582 closed

[2017-04-19 18:08] #2476 closed

[2017-04-19 18:08] #2480 closed

[2017-04-19 18:08] #2466 closed

[2017-04-19 18:08] #2458 closed

[2017-04-19 18:10] #2142 closed

[2017-04-19 18:10] #2137 closed

[2017-04-19 18:10] #2136 closed

[2017-04-19 18:11] #2070 closed

[2017-04-19 18:11] #2043 closed

[2017-04-19 18:12] #2395 closed

[2017-04-19 18:12] #2382 closed

[2017-04-19 18:13] #1615 closed

[2017-04-19 18:13] #1695 closed

[2017-04-19 18:14] #1482 closed

[2017-04-19 18:14] #1198 closed

[2017-04-19 18:15] #1124 closed

[2017-04-19 18:15] #2055 closed

[2017-04-19 18:16] #2010 closed

[2017-04-19 18:16] #1959 closed

[2017-04-19 18:17] #1939 closed

[2017-04-19 18:17] #1852 closed

[2017-04-19 18:18] #1735 closed

[2017-04-19 18:18] #34 closed

[2017-04-19 18:18] #35 closed

[2017-04-19 18:18] #77 closed

[2017-04-19 18:18] #578 closed

[2017-04-19 18:18] #632 closed

[2017-04-19 18:19] #970 closed

[2017-04-19 18:19] #1037 closed

[2017-04-19 18:19] #1069 closed

[2017-04-19 18:19] #1791 closed

[2017-04-19 18:19] #1819 closed

[2017-04-19 18:19] #1821 closed

[2017-04-19 18:20] #1822 closed

[2017-04-19 18:20] #1835 closed

[2017-04-19 18:22] lukesneeringer commented on #2207
I know, but I am going to be doing a larger rehash of docs with @omaray, so do not need an issue to track Datastore specifically.

[2017-04-19 18:31] jgeewax commented on #1934
I'm not sure this has been settled... It seems like we have a way to do it that is private and not documented, and we should look at potentially exposing this... Re-opening for discussion, feel free to re-close if there was an off-line conversation that was omitted here.

[2017-04-19 18:34] dhermes commented on #1934
@jgeewax That is outside our purview. If people want to use what we do it is all in public surfaces provided by https://github.com/GoogleCloudPlatform/google-auth-library-python/

[2017-04-19 18:34] #1934 closed

[2017-04-19 18:35] dhermes commented on #2207
:+1:

[2017-04-19 18:36] dhermes commented on #1883
@lukesneeringer This is still a bug

[2017-04-19 18:40] lukesneeringer commented on #34
Hey all,
Closing this issue as it is going to be handled by auto-gen soon.

[2017-04-19 18:45] lukesneeringer commented on #1835
We are in the process of working on a pretty significant change to this API, so for now I would prefer not shore up docs that we are about to need to change anyway.

[2017-04-19 18:47] lukesneeringer commented on #1819
The Pub/Sub team and I are working on a significant rehash to this API, and among other things, I proposed a verb form for `topic.subscribe()`.

[2017-04-19 19:24] bmorgan21 opened #3315 "StackDriver Error reporting payload key is wrong"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0.24.0/error_reporting/google/cloud/error_reporting/client.py#L227

I believe this like should set the payload context key to httpRequest and NOT httpContext.  This would make it match the spec.

https://cloud.google.com/error-reporting/docs/formatting-error-messages

Right now the report_exception call is throwing an error when using

[2017-04-19 19:24] jonparrott commented on #2446
We should do this. Google-auth does it.

[2017-04-19 19:25] jonparrott commented on #1893
@lukesneeringer this is still an open (and important) issue.

[2017-04-19 19:35] bmorgan21 commented on #3315
here is a code snippet that at least gets the data to show up.

[code]

[2017-04-19 19:36] asilversempirical commented on #1346
What's the current status of thread-safety in the python APIs? https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1214 was closed and redirected to this issue, but it'd be nice to have a clearer explanation of what's going on in this issue with respect to thread safety. FWIW https://developers.google.com/api-client-library/python/guide/thread_safety still mentions only httplib2 and

[2017-04-19 20:31] dhermes commented on #2658
@lukesneeringer This is actually important.

[2017-04-19 20:32] lukesneeringer commented on #1346
Hi @asilversempirical:
@dhermes is in the process of moving us over to urllib3, which is thread-safe.
I actually thought there was an issue for this, but I can not find it, so I am reopening this one. :-)

[2017-04-19 20:32] dhermes commented on #2154
@lukesneeringer This never got done and we currently have stale snippets in `docs/*_snippets.py`.

[2017-04-19 20:33] dhermes commented on #2136
@lukesneeringer No longer a priority to run CI for OS X?

[2017-04-19 20:33] dhermes commented on #2142
This is still an issue, `_Monkey` is around in places and should be removed.

[2017-04-19 20:34] lukesneeringer commented on #2154
Sold. Reopening.

[2017-04-19 20:34] dhermes commented on #1615
Whoa this is a blast from the past!

[2017-04-19 20:34] lukesneeringer commented on #2136
Correct.

[2017-04-19 20:35] dhermes commented on #1346
@lukesneeringer I'd guess that issue was #1998

[2017-04-19 20:36] dhermes commented on #3315
Thanks for reporting @bmorgan21, this was fixed in #3299. It seems we should get a release out soon?

[2017-04-19 20:36] #3315 closed

[2017-04-19 20:37] lukesneeringer commented on #1346
Okay. Let's keep that one and close this one.

[2017-04-19 20:37] #1346 closed

[2017-04-19 20:37] dhermes commented on #2446
@jonparrott Jinx! I'm going to send a PR for adding this to `nox -e lint` for the subpackages. Should I add a `nox -e lint` for the top-level package?

[2017-04-19 20:38] dhermes commented on #1835
@lukesneeringer We should probably re-open a "sub-issue" here, namely the idea that class **attributes** should be documented (especially if they aren't `@property`-s or constructor arguments)

[2017-04-19 20:40] bmorgan21 commented on #3315
thanks.

is there a dev build I can use?  vs having to patch the broken code?

[2017-04-19 20:40] lukesneeringer commented on #3315
@dhermes Go ahead and cut a release. Thanks!

[2017-04-19 20:41] lukesneeringer commented on #2446
I would prefer it be a separate nox session if possible.

[2017-04-19 20:43] lukesneeringer commented on #2658
I actually thought this was _done_.

[2017-04-19 20:49] dhermes commented on #2658
@lukesneeringer ISTM that the "correct" way to proceed is to

-   Do both HTTP and gRPC in nightlies
-   One of
    - Never do HTTP in "push" builds
    - Randomly pick one of HTTP / gRPC in "push" builds based on e.g. `build_number % 2`

[2017-04-19 20:56] dhermes commented on #3315
@bmorgan21 Kicked off a build

https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1652

that will push the new release to

https://pypi.python.org/pypi/google-cloud-error-reporting/0.24.1

[2017-04-19 20:57] bmorgan21 commented on #3315
@dhermes thank you for the quick turnaround.

[2017-04-19 22:07] roscoejp opened #3317 "timeout_ms docs are misleading"
Docs reference timeout_ms as being the 'time to wait for the query to complete':
[https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/query.py#L386][1]

This is contradictory to the actual use of timeout_ms as the API docs describe it as the request timeout:
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query#timeoutMs

TimeoutMS is

[2017-04-19 22:12] lukesneeringer commented on #3317
Hi @roscoejp,
Thanks for reporting. I agree that this is in error.

[2017-04-19 22:13] asilversempirical commented on #1346
Thanks for the pointer!

[2017-04-19 22:31] akashgangil commented on #1216
It makes a lot of sense to have this in the gcs client library. The concept of folders is important as the information within a bucket is organized in folder structure. Yes, the underlying implementing might lay it down as a flat model, but this doesn't help from a API consumer point of view. Please consider raising its priority.

thanks!

[2017-04-20 03:04] pkch commented on #2277
Did you close this because the effort to deal with it is just not worth the benefit, or because this problem was solved through some other PRs? We're dealing with the same question in our project, so I was hoping to borrow ideas =)

[2017-04-20 06:08] dhermes commented on #2277
@pkch We have mostly solved it by examining the files in the new commits.

I am trying to make this into a generic helper in http://ci-diff-helper.readthedocs.io/en/latest/ if you want to take a look.

[2017-04-20 20:00] #2446 closed

[2017-04-20 21:41] asilversempirical commented on #3263
Based on https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3315 I was thinking this was fixed in 0.24.1, but I'm still having issues (albeit new ones).

I'm now seeing:

[code]

I'd blame myself for doing something weird with credentials, but this is with identical code + config that works in <023.0. Has something else changed with credential handling?

[2017-04-20 21:59] waprin commented on #3263
Still in process of taking another pass at testing this (sorry for delay). <0.23.0 was quite different since it was defaulting to writing to Stackdriver via Logging instead of using gRPC to the API directly. So it's honestly not a huge surprise we're running into some issues, it was a big change.

Error Reporting constructor takes a `_use_grpc` that falls back to the old approach. You can also set

[2017-04-20 22:17] asilversempirical commented on #3263
I don't think we're doing anything particularly strange. Our call is just:

[code]

Our credentials file is provided via $GOOGLE_APPLICATION_CREDENTIALS

If there are other details you think would be useful I'm happy to provide them, but I think we're using it in a pretty straightforward manner.

Thanks for the consistently quick responses!

[2017-04-20 23:35] rishsriv commented on #3298
@tswast Seems like its fixed now. I couldn't find an issue on the [Google Cloud Status Dashboard](https://status.cloud.google.com/), though. Sending you an email with your more details.

[2017-04-20 23:39] dhermes commented on #3298
Thanks guys!

[2017-04-21 01:02] hangll commented on #3310
Hi,

Has anyone looked into this problem? We really want to have this implemented but can't figure out the issue.

[2017-04-21 01:02] mikelambert commented on #2674
I just started looking into logging google.appengine.logging.v1.RequestLog, so am happy to see this has been fixed. What's the best way to use this?

I assume that installing [google-cloud-logging](https://pypi.python.org/pypi/google-cloud-logging) 1.0.0 won't work if I want to use other google-cloud-* libraries too, due to conflicts on `google.cloud.logging` package? (Or am I misunderstanding how

[2017-04-21 01:14] mikelambert commented on #2572
Thanks for investigating and pushing for this @Fkawala, I see dhermes has added support for `Any` protobufs now.

But François I was curious how you accumulate your application logs? If you've already built that, I'd love to take a peek (if possible!), to save me the trouble of digging into the complexity of python loggers, handlers, exclusions, etc. Thanks!

[2017-04-21 02:25] dhermes commented on #3310
@waprin Can you take a look?

[2017-04-21 02:26] dhermes commented on #2674
Installing `google-cloud-logging` will work just fine with other packages. For most usage, you can just ignore the `google-cloud` "uber"-package and focus on the services you actually want to use.

The only place to worry about a version collision is in `google-cloud-core`, since each package `google-cloud-FOO` depends on `google-cloud-core`.

[2017-04-21 02:27] dhermes commented on #2572
@mikelambert Have you seen the "getting started" doc for logging? https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html

[2017-04-21 02:27] #2572 closed

[2017-04-21 03:17] mikelambert commented on #2572
Yup, it's quite helpful, but didn't quite answer the above for me. My confusion was more about python's logging system.

If I dig into `google/cloud/logging/handlers/handlers.py` for inspiration, and make a best-guess about how python's `logging` works (and ignore stuff like `propagate` and `sub-loggers`), then my test code would be something like this:
[code]

I was just hoping to save the time o

[2017-04-21 03:28] ravindranathakila commented on #3191
In case somebody ends up here with a problem similar to mine, I believe this happens when using multiple cpu-cores in threading. For example, using multiprocessing.ThreadPool works but multiprocessing.Pool throws this error (in my case, for BigQuery).

So make sure it's a single core execution? (I'm shooting in the blind here, but using Pool caused this exception for me and ThreadPool resolved it.

[2017-04-21 03:37] dhermes commented on #2572
Ah I see, maybe @waprin can give some pointers there.

[2017-04-21 07:08] roscoejp commented on #3317
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3320 to update the docs.

[2017-04-21 16:31] aazimh opened #3321 "Can't install Speech API Python client on Raspberry Pi 3"
1. OS type and version - **Raspbian Pixel**
2. Python version and virtual environment information `python --version` - **2.7.9**

Hi guys,

Trying to install the Speech API Python client on my Raspberry Pi 3 but running into installation issues. When I try

`pip install --upgrade google-cloud-speech`

it starts the install process, but hangs when it comes to building the **grpcio** dependency and

[2017-04-21 16:38] tseaver commented on #3321
While it is possible to disable the library's use of GRPC (via setting the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable), we don't support installing without the `grpcio` library.  Please [open an issue against the gprc repository](https://github.com/grpc/grpc/issues) requesting raspbian wheels for the Python `grpcio` library.

[2017-04-21 16:38] #3321 closed

[2017-04-21 17:04] dhermes commented on #3321
@aazimh I'm fairly certain you'll be able to get it installed from source via:

[code]

But that command **may** stall `grpcio`. I suppose in that case you could always install a fake `grpc` package.

[2017-04-21 17:11] aazimh commented on #3321
@dhermes Would that not do the same thing as installing via pip? If not, I'm willing to give it a shot.

Have no idea how I would go about installing a fake package :) for now, I'm going to go the long way around and try and use REST calls via the requests module in Python.

[2017-04-21 17:20] dhermes commented on #3321
`setup.py` will use `setuptools` directly, which can have different behavior than `pip` (a not so fun quirk, packaging is no fun sometimes).

`pip install --no-deps` would (probably) also do the trick for you

[2017-04-21 17:51] lukesneeringer commented on #3321
On a RaspPi? Sure, but it will be 2019 before it completes. ;-)

[2017-04-21 17:52] lukesneeringer commented on #3321
For tracking purposes: @aazimh did open an issue on GRPC: https://github.com/grpc/grpc/issues/10793

[2017-04-21 17:58] aazimh commented on #3321
And it worked! I was just being impatient :) thanks for pointing me in the right direction guys!

[2017-04-22 01:12] clifton commented on #3067
Ran into this today and couldn't find a work-around (even overwriting scopes wouldn't work!). In the mean-time I'm manually re-materializing the google sheets table.

[2017-04-24 14:27] znewman01 opened #3322 "ImportError: cannot import name JSONClient"
I believe this is a packaging bug; I'm reporting on behalf of a StackOverflow user.

http://stackoverflow.com/questions/43584965/importerror-cannot-import-name-jsonclient

    $ sudo pip install --upgrade google-cloud
    File "/usr/local/bin/pip", line 7, in <module>
        from pip import main
      File "/usr/local/lib/python2.7/dist-packages/pip/__init__.py", line 26, in <module>
        from

[2017-04-24 17:09] dhermes commented on #3322
Here is my answer (as a comment) from StackOverflow:

I am going to close this out since the issue is almost certainly an old version of `pip` (H/T to @lukesneeringer) or a strange combination of old and new versions of some packages and their dependencies.

Happy to re-open if there is a way to get more information.

[2017-04-24 17:09] #3322 closed

[2017-04-24 19:26] jonparrott commented on #3263
It seems error_reporting isn't specifying the scopes needed for the credentials:

https://travis-ci.org/GoogleCloudPlatform/python-docs-samples/builds/225318153

@waprin / @dhermes is this the same issue?

[2017-04-24 19:29] dhermes commented on #3263
@jonparrott It seems very possible.

[2017-04-25 08:47] thijsterlouw commented on #3212
I can confirm we are also seeing this problem:

[code]

![gamestate_cloud_datastore_unauthenticated](https://cloud.githubusercontent.com/assets/126053/25376406/54fa4a32-29a4-11e7-86b6-c175687edff3.png)
Orange spikes indicate Unauthorized errors

We are running in K8s (GKE) with volume-mounted pubsub

[2017-04-25 08:50] thijsterlouw commented on #3259
I can confirm we are also seeing this problem:

[code]

![gamestate_cloud_datastore_unauthenticated](https://cloud.githubusercontent.com/assets/126053/25376406/54fa4a32-29a4-11e7-86b6-c175687edff3.png)
Orange spikes indicate Unauthorized errors

We are running in K8s (GKE) with volume-mounted pubsub

[2017-04-25 10:03] mikelambert commented on #3191
`multiprocessing.Pool` is probably pickling objects to pass them to the
other processes in the worker pool, while `ThreadPool` is using regular
shared memory to pass in-memory python objects. This would explain why you
saw this problem, and why your change fixes it.

2017年4月21日(金) 12:28 Ravindranath Akila <notifications@github.com>:

[2017-04-25 16:16] jonparrott commented on #3212
@nathanielmanistaatgoogle is it possible we're doing something wrong with grpc authentication? iirc, you reviewed the code in google-auth for this.

[2017-04-25 19:07] tseaver commented on #3070
On this now.

[2017-04-25 19:47] #3070 closed

[2017-04-25 20:33] dr3x opened #3327 "Spanner and Storage libs don't play well together"
# Spanner and Storage libs don't play well together

Using the latest version of the code, I can use Spanner and Storage cloud_client separately but get error trying to use them together so there may be some conflict in the dependencies.

If I install the requirements for Spanner first, then Storage, I get this:

[code]

If Storage first, then Spanner, I get this:

[code]

[2017-04-25 22:11] dhermes commented on #3327
@dr3x This seems like you are installing incompatible versions. Can you run the following for me?

[code]

[2017-04-25 22:15] dr3x commented on #3327
(env) C:\src\github\python-docs-samples\spanner\cloud-client>pip install --upgrade pip
Requirement already up-to-date: pip in c:\src\github\python-docs-samples\spanner\cloud-client\env\lib\site-packages

(env) C:\src\github\python-docs-samples\spanner\cloud-client>pip show google-cloud-core google-cloud-spanner google-cloud-storage
Name: google-cloud-core
Version: 0.22.1
Summary: API Client librar

[2017-04-25 22:18] dhermes commented on #3327
The latest (and compatible) versions are:

- https://pypi.python.org/pypi/google-cloud-core/0.24.0
- https://pypi.python.org/pypi/google-cloud-spanner/0.24.0
- https://pypi.python.org/pypi/google-cloud-storage/1.0.0

`pip install --upgrade` those three dependencies and your issue should be resolved

I am preemptively closing, but am happy to re-open if this doesn't resolve your issue.

[2017-04-25 22:18] #3327 closed

[2017-04-25 22:35] dr3x commented on #3327
ok verified fixed after running the pip upgrade; however maybe packaging is still an issue because I started by downloading the latest version of the sample code.

pip install --upgrade google-cloud-core
pip install --upgrade google-cloud-spanner
pip install --upgrade google-cloud-storage

Thanks for the quick response :)

[2017-04-25 22:42] dhermes commented on #3327
Can you clarify what you mean here? Where did you download / which sample code?

[2017-04-26 02:40] mikelambert opened #3329 "Cannot do parallelized "X is one of [A,B,C]" queries"
The old DB and NDB libraries offered a way to query a field as a member of a list:
[code]
I think it should be possible to do this parallelized query in `google.cloud.datastore` as well.

The `google.cloud.datastore` offers no async API, and so can be an order of magnitude slower when manually stitching together this query, which makes it unusable for my purposes as a replacement for NDB. (I am ge

[2017-04-26 09:51] kosmiciatakuja opened #3330 "speech_contexts parameter of Sample.long_running_recognize() limited to 50 phrases?"
The `speech_contexts` parameter to `long_running_recognize` method of the Sample has a description that starts with:

Meanwhile, the true API limits for this parameter are described here: https://cloud.google.com/speech/limits#content
and specifically say:

Does the python client API impose additional limits (50 strings) then? Or is it just an error in the description of this parameter and we can

[2017-04-26 17:44] dhermes commented on #3329
IIUC

[code]

is "more efficient" because `IN` is supported directly by the RPC API that App Engine has access to, not because of async. @jonparrott can you confirm this?

As for a generic async API, that seems to be a distinct issue than "it would be nice to have an `IN` query".

We **used to** have #557 as a target for just supporting `ndb` but that is no longer true.

[2017-04-26 17:44] dhermes commented on #3330
@lukesneeringer Do you know the answer to this? Could you point an API owner to this question?

[2017-04-26 22:52] mikelambert commented on #3329
Ahh I was not aware that there was special support for IN queries (I know that under the hood, they still counted as multiple queries).

Yes, async API is broader than supporting the `IN` API. There was an open issue for an [async API](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/40), but you closed it in favor of [supporting NDB](https://github.com/GoogleCloudPlatform/google-

[2017-04-27 01:07] samskillman opened #3331 "pip installation dependencies inconsistency"
Hi,

When pip installing version 0.24.0, I think there is an inconsistency in the dependencies with google-cloud-error-reporting. In the 0.24.0 tagged release, which is what pip install google-cloud picks up, the setup.py associated with it has `google-cloud-error-reporting >=0.24.0,<0.25dev`. See [https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0.24.0/setup.py][1]

Because google-

[2017-04-27 02:45] dhermes commented on #3331
Thanks for reporting @samskillman!

It seems we should have gone to `0.25.0` on `error-reporting` after the `1.0.0` upgrade for `logging` (it lagged a little because of a difficult bug).

@lukesneeringer We should cut a new release of `google-cloud` to eliminate this contradiction.

[2017-04-27 14:26] lukesneeringer commented on #3327
Summoning @jonparrott. Sounds like a sample for one of these two probably needs to be updated.

[2017-04-27 14:29] lukesneeringer commented on #3331
Yep. Agreed.

Another thing we should do (I will change this) is have CI run the unit tests as a group, rather than as individual packages, which would catch this error.

Can you cover doing the updated release?

[2017-04-27 15:48] Fkawala commented on #3263
@jonparrott I reproduce the scope issue. Below a docker-ized MRE.
@dhermes Is it related to #2934 ?

main.py
[code]

Dockerfile
[code]
Sample output
[code]

[2017-04-27 16:29] scjody commented on #3331
Note that this prevents installation of `google-cloud` using `pip-compile`: https://github.com/jazzband/pip-tools/issues/497

[2017-04-27 16:50] jonparrott commented on #3327
seems the samples are using the latest versions

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/cloud-client/requirements.txt

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/spanner/cloud-client/requirements.txt

[2017-04-27 16:52] jonparrott commented on #3329
ndb supports IN because behind the scenes it starts an individual query for each item in the clause and combines them. It's possible to emulate that behavior here by using izip_longest.

[2017-04-27 17:16] jonparrott opened #3332 "Release new storage client"
I need a new version of the storage client containing the IAM bits so I can write some samples. :)

[2017-04-27 17:19] jonparrott commented on #3332
looks like a new core needs to be released as well.

[2017-04-27 17:20] lukesneeringer commented on #3332
@dhermes Can you knock this out?

[2017-04-27 17:22] dr3x commented on #3327
ok disregard, I think it was the rev I had checked out, out of sync dependencies appears to be resolved:

this was the version I was on:
C:\src\github\python-docs-samples [master ≡ +2 ~0 -0 !]> git log
commit c02c187e16238932540ecf62a3185c5bde2a4a25
Author: Gus Class <gguuss@gmail.com>
Date:   Wed Apr 19 14:58:27 2017 -0700

this is the version I am on now:
commit 24e1a79ca95d8a7cd7a6e10553ba0bb33

[2017-04-27 17:23] dhermes commented on #3332
Sure thing.

[2017-04-27 17:31] dhermes commented on #3327
Sounds good, thanks!

[2017-04-27 17:33] dhermes commented on #3329
@jonparrott

- Then the *real* issue would be sending multiple queries simultaneously (i.e. async) as noted by @mikelambert
- I'm not sure why we would be `zip`-ing the results, instead we'd be adding them to a `set`-like object which de-duplicates the result

[2017-04-27 17:33] dhermes commented on #3331
@lukesneeringer I'll do this release along with #3332

[2017-04-27 17:42] dhermes commented on #3263
The culprit is that [`error_reporting.Client`][1] has no scope. BLERG! Compare to a [typical `Client`][2].

@waprin We **DESPERATELY** need system tests here. Or we should just push a release that results in:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/ce043bba2883588a89b5c4c9ad34c2af64287d5e/error_reporting/google/cloud/error_reporting/client.py
[2]: https://gith

[2017-04-27 17:46] dhermes opened #3333 "Bigtable system test has a "race condition" if run simultaneously on same project"
Two builds ([1682][1] and [1683][2]) were happening simultaneously and this caused a [Bigtable system test check][3] to fail in the second build (1683)

[code]

This is because `EXISTING_INSTANCES` is set at module setup time while the test case is run later.

I'm not sure what a realistic fix should be?

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1682
[2]: https://circle

[2017-04-27 17:53] waprin commented on #3263
I'll have fix and system test PR by EOD.

[2017-04-27 18:10] dhermes opened #3335 "Error reporting system tests needed"
Follow up to #3263.

[2017-04-27 20:11] lukesneeringer commented on #3331
Thanks!

[2017-04-27 23:41] sharpstef commented on #2539
@eyalev Try forcing the endpoint to use v1 like in the documentation examples here:
[](https://cloud.google.com/resource-manager/reference/rest/v1/projects/create)

[2017-04-28 00:06] mikelambert commented on #3329
And just to be clear, both appengine's NDB *and* DB libraries support IN queries. For example, this is a DB query from my code:
[code]

[2017-04-28 01:25] dmitry-saritasa commented on #2683
I confirm the intermittent errors when working with bigtable API

![image](https://cloud.githubusercontent.com/assets/1747653/25510661/b3bab556-2b76-11e7-9e20-2a4d77af1065.png)

**python 3.5.2**
**google-cloud==0.23.0**

[code]

[2017-04-28 13:32] cmac4603 commented on #2596
I have a possibly related issue with permissions in BQ and service account JSON file. Correct permissions are with the service account, and I can do the creation of datasets/tables with default client when signed in using the CLI. I'd like to pick this issue up if they are related and no one has any objections? I have been in contact with GCP support already. @Fkawala, are you seeing this issue wi

[2017-04-28 13:45] Fkawala commented on #2596
@cmac4603 The only other BQ call I do is for data insertion (as described below). It worth mentioning  that I did not try any further to get the sink creation working.

[code]

[2017-04-28 13:51] cmac4603 commented on #2596
@Fkawala I think I was getting an error even trying to reload(), which is a GET request, so the two may not be related. But permissions seem fine, I'll keep digging my end and if I find some error will get back in touch

[2017-04-28 14:22] leonardoam opened #3341 "Method list_tables does not return table schemas"
I am trying to use the bigquery python API to do a migration program (to create and update table schemas), but when I try to retrieve the current schemas from a dataset, I can't get the table schema because the array that is supposed to return the list of SchemaFields is always empty.

See the folow snippet:

[code]

It returns the following data:

[code]

I am using Python 3.6.1 in Antergos, goog

[2017-04-28 16:41] dhermes commented on #3341
@leonardoam Unfortunately the schema is not part of the response for `tables.list`, see the [docs][1].

I am pre-emptively closing, but we can re-open if there is anything that can be done.

@tswast Can you confirm my observation about the API spec?

[1]: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables/list

[2017-04-28 16:41] #3341 closed

[2017-04-28 16:46] dhermes commented on #2683
@nathanielmanistaatgoogle Can you weigh in / can we all have a pow-wow about this?

[2017-04-28 16:47] tswast commented on #3341
Yeah, unfortunately to get all the data it looks like you have to do a subsequent get. I'll pass this on to the eng team.

[2017-04-28 16:49] tswast commented on #3341
Or, actually @leonardoam would you mind filing this as feedback for the BigQuery backend API using the Google Issue Tracker? https://issuetracker.google.com/issues/new?component=187149&template=0

[2017-04-28 18:07] devries commented on #2583
I am also experiencing this issue, and have resorted to wrapping my datastore code in a try/except which will initially try with the current datastore client, and if that fails, get a new client and try the query again. I am using a service account to access datastore, and this seems to happen more frequently if I use the same service account from multiple computers (i.e. I try it from my home com

[2017-04-28 18:15] kunalq commented on #2583
@devries I ended up writing a small retry decorator to make things easier. There's [3rd party libraries](https://pypi.python.org/pypi/retrying) available that may help, as well as a [recipe here](https://wiki.python.org/moin/PythonDecoratorLibrary#Retry).

[2017-04-28 18:15] #3331 closed

[2017-04-28 18:15] #3332 closed

[2017-04-28 18:43] patitonav commented on #2472
Hello, i have a question :  Inserting ('foo', 'bar'), ('foo2', 'bar2') is ok, but when you want to insert a Json File, it doesnt work.

`with open('infobae.json') as json_data:
    dic = json.load(json_data)
    json_str = json.dumps(dic)
    errors = table.insert_data([json_data])`

BQ doesnt recognize the JSON structure?

Thanks

[2017-04-28 19:24] jonparrott opened #3342 "Error when downloading blobs with storage v1.1.0"
See build log: https://www.google.com/url?q=https%3A%2F%2Ftravis-ci.org%2FGoogleCloudPlatform%2Fpython-docs-samples%2Fbuilds%2F226935178%23L786&sa=D&sntz=1&usg=AFQjCNG3mWBi07AXjvj70yKUdQ0pI4hJNw

[2017-04-28 19:29] samskillman commented on #3331
Confirmed this was fixed by the bump to 0.25.0. Thanks!

[2017-04-28 20:03] dhermes commented on #3342
So this is kind of a bug, kind of not a bug, but **some code** needs to change.

TLDR; **My vote for a fix**: make the `Blob.download_to_filename` [file timestamp update][4] optional, dependent on `self.updated is not None`

----

The [old implementation][1] did something somewhat silly. It [called `reload`][2] on the instance if the `media_link` wasn't present, essentially forcing users to incur

[2017-04-28 20:11] jonparrott commented on #3342
Fine with me.

[2017-04-28 20:13] dhermes commented on #2472
@patitonav Can you

1. [File a new issue][1]
1. Include a stacktrace (and some setup code)

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/new

[2017-04-28 21:00] patitonav opened #3343 "BigQuery on python. upload_from_file job not done"
I am running a test to upload a .json file into an bigquery table and i cant get the job done.
Here is my code :

[code]
The job ended in fail with this error:

[code]

This has no sense becouse i create the table with a json file with the same structure.

Any suggestion?

Thanks

[2017-04-28 22:30] NarekA opened #3344 "Allow Creation of HDD Instance in Bigtable APi"
Currently the Bigtable API does not have a parameter for node_type and defaults to SSD.

[2017-04-28 22:33] NarekA opened #3345 "Add Parameter for Instance Type in Bigtable API"
Currently the Bigtable API only supports production instances, I would like to be able to create development instances in using the API.

[2017-04-28 22:41] dhermes commented on #3344
Define in [`common.StorageType`][1].

@NarekA IIRC when this package was originally implemented there was no support for HDD, but maybe that has changed.

[1]: https://github.com/googleapis/googleapis/blob/3ed5397c0214913a8f37994164652bc70dfa6619/google/bigtable/admin/v2/common.proto#L29-L38

[2017-04-28 22:42] dhermes commented on #3345
@NarekA I'm not sure what feature you're referring to, there is no sign of development vs. production in the [proto][1].

[1]: https://github.com/googleapis/googleapis/blob/3ed5397c0214913a8f37994164652bc70dfa6619/google/bigtable/admin/v2/bigtable_instance_admin.proto#L87-L107

[2017-04-28 22:45] dhermes commented on #3343
@tswast Is JSON even supported as an upload type? (`source_format='NEWLINE_DELIMITED_JSON'` seems to indicate yes)

[2017-04-28 22:48] tswast commented on #3343
Yes, JSON is supported. Keep in mind that it's "Newline Delimited". That means each **row** not table is a separate JSON object, each separated by a newline.

[2017-04-28 22:50] patitonav commented on #3343
Yes, actually in the JSON file there is just one row.

El El vie, 28 de abr. de 2017 a la(s) 19:49, Tim Swast <
notifications@github.com> escribió:

--
Ing. Patricio Navarro

[2017-04-28 22:51] tswast commented on #3343
I recommend using the `bq` command line tool to experiment with the file format & schema. Once you have a file that BigQuery accepts, then you can automate it with this library. https://cloud.google.com/bigquery/bq-command-line-tool

[2017-04-28 22:59] dhermes commented on #3343
@patitonav I am going to pre-emptively close this, since it seems your issue is with your data formatting and this isn't really an issue with this library.

Let me know if you'd like to re-open this issue.

Thanks for the assist @tswast, helpful as always!

[2017-04-28 22:59] #3343 closed

[2017-04-28 23:45] NarekA commented on #3345
See the `instance-type` parameter in [gcloud](https://cloud.google.com/sdk/gcloud/reference/beta/bigtable/instances/create)

Here it is in the GUI too:
![screen shot 2017-04-28 at 4 39 20 pm](https://cloud.githubusercontent.com/assets/737367/25550889/08f4134e-2c32-11e7-9742-4111ca234f6f.png)

[2017-04-28 23:53] NarekA commented on #3344
See `cluster-storage-type` in [gcloud](https://cloud.google.com/sdk/gcloud/reference/beta/bigtable/instances/create)

[2017-04-29 01:39] dhermes commented on #3345
@garye Any comments on this feature?

[2017-04-29 01:42] garye commented on #3345
We should allow this, but we need to release the new protos first. Assign it to me and I'll make sure the protos get committed here.

[2017-04-29 01:47] garye commented on #3345
@NarekA - There are certainly valid reasons to create development instances programmatically, but I also wanted to make sure you were aware of the [Bigtable Emulator](https://cloud.google.com/bigtable/docs/emulator) in case what you had was an automated integration/system test use case. In general we'd recommend using the emulator *if possible* for automated testing.

[2017-04-29 03:10] dhermes commented on #3345
@garye I can't assign you (I think it's because you aren't in the right org / group).

Also, we **can** commit the protos here and regenerate directly from them, but wouldn't you rather update the ["official" source of truth][1]?

[1]: https://github.com/googleapis/googleapis/tree/master/google/bigtable

[2017-04-29 11:46] MaximilianR commented on #2926
I'm trying to parse through the posts above.

Is there a way to use `autodetect` with the `google-cloud-bigquery` library at the moment?

[2017-04-29 16:58] devries commented on #3259
I am experiencing this issue as well. I basically have had to make a library which retries every put, get or fetch request which fails with a new request that creates a new client.

[2017-04-29 17:00] devries commented on #2583
@kunalq thank you. I've done something similar, but your recipe is a lot more comprehensive and robust.

[2017-04-29 18:00] danigosa commented on #3342
Same issue here, is there any workaround or sticking to 1.0.0 'til the fix? All our tests failed miserably because of the upgrade.

[2017-04-29 22:54] garye commented on #3345
yup the protos will go there first, do we have a separate copy in google-cloud-python?

[2017-04-30 08:08] eyalev commented on #2539
@sharpstef works, thanks!

Would be nice if there was documentation for the request body, which entries are required (e.g `projectId`) and which are optional (e.g `name`).

[2017-05-01 16:46] dhermes commented on #2926
@MaximilianR We don't have any explicit support for it (yet).

@tswast AFAICT `autodetect` only shows up in

- `Job.configuration.load.autodetect`
- `Job.configuration.query.tableDefinitions.autodetect`
- `Table.externalDataConfiguration.autodetect`

The relevant methods for autodetect at **creation** time seem to be

- `bigquery.jobs.insert`
- `bigquery.tables.insert`

Is this correct? (I based t

[2017-05-01 17:10] jonparrott opened #3346 "IAM policy should return an empty set of the bindings do not exist"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/bd9fdfba07fac63a91847628613928a569250c0f/core/google/cloud/iam.py#L71

Should return an empty set if no bindings are set for that role.

[2017-05-01 17:25] dhermes commented on #3346
Current behavior leads to `KeyError`, yes?

[2017-05-01 17:28] jonparrott commented on #3346
ya, I'd like to be able to do:

[code]

and it'll work regardless of if any editors had been previously set.

[2017-05-01 17:31] hangll commented on #3310
Friendly ping?

[2017-05-01 17:38] waprin commented on #3310
@hangll was largely away for a few weeks but I'm back today, will try to repro this in a bit.

[2017-05-01 17:45] tswast commented on #2926
I believe that is correct.

There are two times when you would use the autodetect feature: creating a new table from loaded data and making an external table definition. https://cloud.google.com/bigquery/external-table-definition

[2017-05-01 17:58] dhermes commented on #3346
@jonparrott ISTM like you want a `collections.defaultdict(set)`?

In #3325 a similar snippet was **failing** because `policy.owners` returned a `frozenset`. In the `__getitem__` case, the raw binding will be returned, which we [guarantee][1] is a `set`. Is it a bad thing that the two different means of access produce different behavior?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-pyt

[2017-05-01 18:11] pdknsk opened #3347 "limit has no effect on image features"
[code]

[2017-05-01 18:36] jonparrott commented on #3346
Defaultdict is pretty much what I'm after, in terms of behavior.
I'm fine with the old/deprecated methods returning a frozenset.

[2017-05-02 05:23] alexchao opened #3349 "speech_context typo in speech-usage docs"
Looks like the `speech_context` argument to `sample.recognize()`/`long_running_recognize()` got changed to `speech_contexts` in a9268a3e2777c35405c6c114c6b358e4d4c02335. The usage example in the docs (docs/speech-usage.rst) just needs to be updated. It still uses `speech_context`.

1. OS type and version
Mac OS 10.12.4
2. Python version and virtual environment information `python --version`
Python

[2017-05-02 16:03] #3349 closed

[2017-05-02 16:28] WillFuks opened #3351 "Issue when inserting Stackdriver sink identity in Bigquery dataset"
Hello,

I was going through the [documentation](https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html) for setting up a Stackdriver sink using the python API and had some issues so I decided to ask here if I did something wrong (I got the answer already in [SO](http://stackoverflow.com/questions/43688393/bigquery-not-accepting-stackdrivers-sink-writer-identity?noredir

[2017-05-02 16:43] dhermes commented on #3351
@WillFuks Sorry for the confusion, you'll want to actually load the dataset from the server before appending to the grants list:

[code]

I am pre-emptively closing this, but am happy to re-open if you think there is more to be done / be said.

We are open to suggestions on how to improve this siutation, e.g. suggestions on where/what to add to documentation.

[2017-05-02 16:43] #3351 closed

[2017-05-02 16:44] dhermes commented on #3345
@garye Yes in the [`_generated`][1] package. At some point this will go away (i.e. once a GAPIC autogenerated library exists on PyPI).

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/tree/892e997e9aeee17ffed2c985326ff09a4e1219ce/bigtable/google/cloud/bigtable/_generated

[2017-05-02 16:46] dhermes commented on #3342
@danigosa I'll send out a fix today and we can push a `1.1.1` release. SGTY @jonparrott and @lukesneeringer?

[2017-05-02 17:02] jonparrott commented on #3342
Yes

On Tue, May 2, 2017 at 9:46 AM Danny Hermes <notifications@github.com>
wrote:

[2017-05-02 17:12] #3342 closed

[2017-05-02 21:35] alercunha commented on #3152
I'm facing the same issue described here. I haven't tried the branch yet, but is there any workaround available?

[2017-05-02 21:36] lukesneeringer opened #3356 "Explicitly depend on setuptools"
Context: #3295

We should explicitly depend on a minimum version of setuptools to get around problems installing our packages if setuptools is too old.

[2017-05-02 21:38] dhermes commented on #3356
This is just like a CYA? Isn't this kind of the chicken or the egg, like `setup.py` doesn't work because of an old version of `setuptools`, so we are going to require a newer version in `setup.py`?

[2017-05-02 21:39] dhermes commented on #3152
@alercunha The branch **may be** a path to a workaround, but it seems @lukesneeringer was looking for someone to vet the fix.

[2017-05-02 22:08] duggelz commented on #2997
I had always understood that we would tell users to always use the standard Python logging, and never use the API-type functions from this library other than a setup call in their main(), and we'll do what it takes to make it work well (and printing to stdout/stderr is not that).  That's what I've been telling others, and what I've been telling the ABSL people who are open-sourcing the internal Go

[2017-05-02 22:10] waprin commented on #2997
@duggelz yes, the issue is that `client.setup_logging` which uses standard Python logging, currently writes to /var/log/appengine, we just need to hook to make it use the regular API client instead. And then we can put GAE stuff on top of that afterwards.

[2017-05-02 22:51] jonparrott opened #3359 "Send trace context with logs from web applications"
When running on App Engine (and potentially other platforms in the future), we should send along the trace context when writing logs. This context is available in the HTTP request headers as `X-Cloud-Trace-Context` and should be passed in the structured log as the `traceId`. For more details, read [here](https://gist.github.com/JustinBeckwith/43dd04cfbc4551ddd8996a5b803da0b0).

Since this is a web

[2017-05-02 22:52] jonparrott commented on #3359
Original context: #3355

[2017-05-02 23:06] dhermes opened #3360 "Build failed due to protobuf shared object file access"
Probably due to the fact that [`protobuf==3.3.0`][1] was just released. ([Failed build][2], [another][3])

[1]: https://pypi.python.org/pypi/protobuf/3.3.0
[2]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1726
[3]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1727

[2017-05-02 23:16] waprin commented on #3359
#2673 is a blocker too because since we're no longer using fluentd we will need to specify the monitoredresource.

[2017-05-03 00:01] alercunha commented on #3152
I just tested the suggested fix and in my case it does work.

[2017-05-03 01:10] lukesneeringer commented on #3360
I did not see this, but I hit the same issue on Artman.
I filed an issue with them, and they fixed it: https://github.com/google/protobuf/issues/3042

[2017-05-03 01:10] #3360 closed

[2017-05-03 01:37] GustavoRPS opened #3361 "How put an array of objects at Google Cloud Datastore?"
**OS** : Ubuntu 14.04.5
**Python**: 3.4.3
**google-cloud-datastore**: 0.24.0

**Code example**:
[code]
**Stacktrace**:
[code]

[2017-05-03 04:22] dhermes commented on #3360
Builds looks to have gone back to green: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1729

[2017-05-03 06:24] GustavoRPS commented on #3361
I tested the JSON below on Datastore Entites on https://console.cloud.google.com/datastore/entities/new and worked!
[code]
![screenshot from Google Cloud Datastore Entities](https://cloud.githubusercontent.com/assets/516827/25649900/6c63d0f6-2faf-11e7-9ba2-c014367aca7e.png)

But in python don't
[code]

**Traceback**
[code]

[2017-05-03 16:43] dhermes commented on #3361
Thanks for filing @GustavoRPS I'll look into it.

[2017-05-03 17:19] dhermes commented on #3361
@GustavoRPS Two things:

- As your second stacktrace shows, `dict` is not supported as an entity type. [Here][1] is the list of supported types, though we should do a better job surfacing this list / making `__setitem__` fail for a bad type. What you want to use there is another `Entity`, not a `dict`.
- Do you want a `Batch` or a `Transaction`? A `batch` will just accumulate mutations, but won't

[2017-05-03 17:19] #3361 closed

[2017-05-03 19:19] GustavoRPS commented on #3361
Thx for fas thet replay @dhermes.
Now i'm using a `Entity` instead of a `dict` and try 2 forms to add to array of entityValues and the results is this:

**First Form**
[code]
**Traceback**
[code]

**Second Form**
[code]
**Traceback**
[code]

I decided to use the `client` instead of a `transaction` because my code runs for more than 1 minute and only make inserts and `batch` how you say will just a

[2017-05-03 19:30] dhermes commented on #3361
`datastore.Entity` takes a `key` as the first argument, not a string (`'author1'` or `'author2'`) (this is why you saw

[code]

[2017-05-03 19:54] jonparrott opened #3364 "Spanner should have helpful aliases for param types"
Having to do:

[code]

Is rather awkward, it would be much more friendly to have:

[code]

or similar

[2017-05-03 20:10] GustavoRPS commented on #3361
My bad @dhermes!
Everything is work now. Thx very much for the support.

You can close the issue.

[2017-05-03 20:17] dhermes commented on #3361
Cheers!

[2017-05-04 09:27] ivvory commented on #2926
@MaximilianR may be you are interested in some notes about using autodetect.

Now you can use autodetect simply by polling the job:
[code]

---
Sometimes you want to add the data with new columns that are absent in existing table. That is more popular case when using autodetect rather than manual schema. So you may consider schemaUpdateOption param with also new `'ALLOW_FIELD_ADDITION'` option tha

[2017-05-04 15:50] yarharel opened #3367 "pubsub: allow setting a pull HTTP timeout"
What I would like to do is be able to send a timeout param in the pull request to tell pubsub to send back a response after a 30000ms (or something else) if no messages are published during that time.

Exactly the same issue as in Node:
https://github.com/GoogleCloudPlatform/google-cloud-node/pull/981

[2017-05-04 16:00] patitonav opened #3368 "add row to BQ from a dictionary"
I am having trouble inserting a single JSON row into a BQ table from the API. I can get it done with bq-command-line or using `table.upload_from_file()` method. But when i am trying to do it with `table.insert_data(json_dic) ` the method takes everything in the dictionary as a value instead of insert every value in the corresponding key of the table.
There is a way of insert a json object without

[2017-05-04 17:30] kir-titievsky opened #3369 "[Pub/Sub] Add a bare Subscriber factory to Client"
Current Pub / Sub API requires a topic to create a subscription. This is unnecessary and cumbersome.  It is also not feasible for some use cases: some users will only be given a subscription resource name to work with and not know the topic.

Current API:

[code]

Target:

[code]

[2017-05-04 17:30] kir-titievsky commented on #3369
@garrettjonesgoogle @lukesneeringer

[2017-05-04 17:41] dhermes commented on #3369
@kir-titievsky

-   FWIW, the behavior you want can already be accomplished (though not with a `Client.subscription` factory)

[code]

-   RE: "only be given a subscription resource name to work with and not know the topic." Won't the topic be embedded in the subscription resource name?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4e6e2b13e7f4fa092c772e1dd4a1a976f4280713/p

[2017-05-04 17:59] dhermes commented on #3369
@kir-titievsky In our [current implementation][1], a subscription with `self.topic` set to `None` will not be able to call `Subscription.create()` (there may be other methods that require a `topic` to be set on a `Subscription` but none that I can tell).

Can you help me understand when a `Subscription` **should** have a `Topic` and when it doesn't matter? Also, can you give an example of a "a sub

[2017-05-04 18:02] kir-titievsky commented on #3369
@dhermes Thank you for the prompt consideration!  Good points.  I did not consider the pubsub.Topic() and pubsub.Subscription() factories since they are not used in the documentation examples. We can fix that bit.

That said, this still seems really not super great:
1.  There is an asymetry here: pubsub.Client().topic() but a subscription but a subscription as pubsub.Client().topic().subscription(

[2017-05-04 18:43] dhermes commented on #3369
@kir-titievsky `pubsub.Subscription` and `pubsub.Topic` are not factories, they are just the classes (but they **ARE** part of the public interface).

I sent #3370 to add a `Subscription` factory, so it should be all good?

[2017-05-04 18:44] kir-titievsky commented on #3369
Right. I can see the logic there, since you always create a subscription to a topic.  But in my mind the right solution is to have a Client().create_subscription(topic=topic_name, subscription_name) or Client().topic(topic_name).create_subscription(subscription_name).

`
// current logic
s = Subscription(topic_name, client=Client())
if not s.exists():
  s.create()
`

The alternative would be:
`
if

[2017-05-04 18:48] dhermes opened #3371 "BigQuery system test broken by google-resumable-media"
See

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1744
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1745

I am going AFK for an hour or two but will fix ASAP.

[2017-05-04 18:51] kir-titievsky commented on #3369
@dhermes Wrote that last comment before seeing yours.   Would you please give an example of how the usage changes with your PR?

[2017-05-04 19:39] dhermes commented on #3369
@kir-titievsky

The usage doesn't "change" (i.e. the PR is an additive change, so it adds something new). The newly enabled behavior is as you mapped out:

[code]

Let's discuss further on the PR?

[2017-05-04 22:04] dr3x commented on #1917
I'm getting a similar error, appears to be an auth timeout; basically setting up a Spanner client and pushing data to a table using a batch insert; finding that somewhere between 1-2mm records I get this auth error. Let me know if you want me to write this up with a separate issue.

Traceback (most recent call last):
  File "C:\src\GitHub\python-docs-samples\quick_table_load.py", line 77, in <modu

[2017-05-04 22:06] dhermes commented on #1917
@dr3x more crucial than 1-2mm records it the **length of time** that has elapsed. In general, the token's will only be good for an hour, but [`google-auth`][1] should handle the refresh just fine (i.e. this error is still strange to see, so worth digging into for us).

[1]: https://github.com/GoogleCloudPlatform/google-auth-library-python/

[2017-05-04 22:41] #3335 closed

[2017-05-05 05:43] sulliwane commented on #2683
I have same error with:
**Client**:
- grpcio@1.2.0
- python 3.6
**Server**:
- grpc@1.3.0
- node 6.9

**Client error message:**
[code]
I updated to ```grpcio@1.3.0``` and I'm waiting to see if the error occurs again.

Notes: I'm not sure if ```Endpoint read failed``` is same as ```Secure read failed```. I think I had both error from time to time.

[2017-05-05 15:46] dr3x commented on #1917
ok will try an explicit auth refresh every 45 minutes and see if that resolves it - thanks

[2017-05-05 16:44] cdchan commented on #3067
I had the same issue as well -- created a client subclass that added the Drive scope but still couldn't get it to work.

[2017-05-05 16:54] #2609 closed

[2017-05-05 16:55] tswast commented on #3067
In the meantime you should be able to create a credentials object using `google.auth.default(scopes=...)`

https://google-auth.readthedocs.io/en/latest/reference/google.auth.html#google.auth.default

or from a service account file

https://google-auth.readthedocs.io/en/latest/reference/google.oauth2.service_account.html#google.oauth2.service_account.Credentials.from_service_account_file

You can p

[2017-05-05 17:09] cdchan commented on #3067
@tswast cool, thanks! I was able to get

[code]
to work. Don't know why my subclass didn't before but this'll do.

[2017-05-05 17:26] cdchan commented on #3067
@tswast I forgot that used the same workaround as @clifton and materialized the sheet into a real table. ☹️  What I have above doesn't actually work, so it's likely not a scoping issue.

[2017-05-05 20:35] jonparrott opened #3377 "Implement monitored resource for logging client"
Log entries can have a monitored resource associated with them as of v2 of the logging API.

* entries.write documentation: https://cloud.google.com/logging/docs/reference/v2/rest/v2/entries/write
* MonitoredResource reference: https://cloud.google.com/logging/docs/reference/v2/rest/v2/MonitoredResource
* Existing tiny resource class in monitoring: https://github.com/GoogleCloudPlatform/google-clo

[2017-05-05 20:35] jonparrott commented on #3359
Also blocked by: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3377

[2017-05-05 20:45] dr3x commented on #1917
Go the issue again with explicit refresh.

This is the code I'm using; invoking the refresh method when there is less than 15 minutes to expiration:

credentials, project_id = google.auth.default()
print("Starting data load in project {}".format(project_id))
request = google.auth.transport.requests.Request()
credentials.refresh(request)

I'm using the credentials.expiry property to know when to re

[2017-05-05 20:48] dhermes commented on #1917
@dr3x Sorry I'm having trouble parsing what you've said. Are you said that when you explicitly call

[code]

it fails (even after 45 minutes)?

[2017-05-05 20:58] dr3x commented on #1917
No the call to the refresh method seems to be working but still getting the unauthorized error:

  File "C:\src\github\python-docs-samples\env\lib\site-packages\google\gax\retry.py", line 127, in inner
    ' classified as transient', exception)
google.gax.errors.RetryError: GaxError(Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminat

[2017-05-05 21:14] dr3x commented on #1917
Strange - based on the log - looks like it failed at an hour, even though the expiry showed it had more time?

Timeline:
Start 00:00
Refresh 00:45
Auth Error 00:60 (which is 15 minutes after successfully invoking refresh)

...
Inserting batch: 1337671, Table: Some_Table, Expiration: 0:45:01.936000
Inserting batch: 1338172, Table: Inventory_Avail, Expiration: 0:45:00.733000
Traceback (most recent c

[2017-05-05 22:42] #3371 closed

[2017-05-08 04:00] jaitaiwan commented on #3377
We discovered this today in production when moving from using the app log to request_log in google app engine. Is there any way to get the resource information per ProtobufEntry even without it being part of the _BaseEntry?

[2017-05-08 11:37] jmgirven opened #3382 "Datastore on GCE - Intermittent Unauthorized 401"
There are a few questions similar to this, but I don't think any are the same. I apologise if I didn't recognise it.

I am using Datastore inside a docker on a Google Compute Engine instance. The docker container is based off of `python:3.4-slim`. The python version is `Python 3.4.6`. I have used pip to install `google-cloud-datastore==1.0.0`. My GCE instance explicitly has Cloud API access scope

[2017-05-08 11:40] jmgirven commented on #3382
[code]

[2017-05-08 13:12] jmgirven commented on #3382
Error stops occurring after 5 minutes of failures.

[2017-05-08 16:57] dhermes commented on #3016
Working on this right now.

[2017-05-08 16:59] jonparrott commented on #3377
@jaitaiwan not without using the gapic layer directly.

[2017-05-08 17:08] jonparrott commented on #3382
This should be fixed by https://github.com/GoogleCloudPlatform/google-auth-library-python/releases/tag/v1.0.1 which was just released. Try making sure that package is up-to-date and if this is still an issue, let us know.

[2017-05-08 17:08] #3382 closed

[2017-05-08 17:08] jonparrott commented on #3259
This should be fixed by https://github.com/GoogleCloudPlatform/google-auth-library-python/releases/tag/v1.0.1 which was just released. Try making sure that package is up-to-date and if this is still an issue, let us know.

[2017-05-08 17:09] jonparrott commented on #3252
@benjamin-fenker-tessella is this still occurring with grpcio 1.3.0?

[2017-05-08 17:09] jonparrott commented on #3212
This should be fixed by https://github.com/GoogleCloudPlatform/google-auth-library-python/releases/tag/v1.0.1 which was just released. Try making sure that package is up-to-date and if this is still an issue, let us know.

[2017-05-08 17:09] #3212 closed

[2017-05-08 18:12] obulpathi opened #3383 "Google Cloud Service Accounts not working with Python Google Cloud Client Libraries"
## Information
### OS: Mac OS X El Capitan 10.11.6
### Python: Python 2.7.11
### Google Cloud:

- Name: google-cloud
- Version: 0.22.0
- Summary: API Client library for Google Cloud
- Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
- Author: Google Cloud Platform
- Author-email: jjg+google-cloud-python@google.com
- License: Apache 2.0
- Location: /Users/ochall/.envs/env/lib/p

[2017-05-08 18:53] dhermes commented on #3383
@obulpathi We do support service accounts, in fact it's the "primary" auth type we recommend.

It's likely that you project has not yet enabled the Google Cloud Datastore API or that you have a mismatch between your project and your service account.

Have you read our [auth doc][1] yet?

[1]: https://googlecloudplatform.github.io/google-cloud-python/stable/google-cloud-auth.html

[2017-05-08 19:36] jasonmellone commented on #1381
Is there any reason table.insert() does not accept dictionaries of {'column_name':value_to_be_inserted,...,}?

This would be clean and allow arbitrary sorting.

[2017-05-08 19:36] pdknsk commented on #3347
This is, if at all, a bug in the API. I used *google-api-python-client* directly, and manually crafted a request in the *API Explorer*. In both cases 10 colors are returned, regardless of what `maxResults` is set to.

[2017-05-08 19:36] #3347 closed

[2017-05-08 19:37] nathanielmanistaatgoogle commented on #2683
@dhermes: my apologies for the silence; this is now properly being recognized as a problem in gRPC Core affecting all Core-using languages and will be fixed in Core. In the meantime I don't know that the options are any good: if your RPC is idempotent you can make application-level retries until it succeeds, but if it isn't idempotent you may have to awkwardly work around the issue in a problem-sp

[2017-05-08 19:42] dhermes commented on #2683
Thanks @nathanielmanistaatgoogle, is there a tracking issue somewhere?

[2017-05-08 19:42] dhermes commented on #3347
Sorry @pdknsk, thanks for digging on your own.

[2017-05-08 19:44] tseaver commented on #3015
On this one today.

[2017-05-08 19:48] dhermes commented on #1381
@jasonmellone Care to file a feature request?

[2017-05-08 19:51] jasonmellone commented on #1381
Will do this evening

On Mon, May 8, 2017, 15:48 Danny Hermes <notifications@github.com> wrote:

[2017-05-08 19:54] dhermes commented on #1381
Thanks

[2017-05-08 20:55] obulpathi commented on #3383
@dhermes Thanks a ton! I figured out what the problem is. I was creating a service account but was not giving it the service actor role. Once I gave the service account service actor role and datastore access role, auth is seamless and code is working perfectly. Thanks a ton!

Can you please make it a little bit more explicit in the documentation that users need to assign Service Actor Role to the

[2017-05-08 20:55] #3383 closed

[2017-05-08 21:58] dhermes commented on #3383
This should work, it's possible you unclicked something by mistake?

[2017-05-08 23:35] pdknsk commented on #3347
Where would I file an API bug? I'm not sure it is, but it could be.

[2017-05-08 23:41] dhermes commented on #3347
@lukesneeringer @jonparrott Do you know of an API owner here?

[2017-05-08 23:45] duggelz commented on #3377
Do we have documentation anywhere of the mapping from MonitoredResource type to list of labels used?

[2017-05-08 23:48] tseaver commented on #3019
Implementation note:  the `setupClass` for this test should check for the existence of a specially-named database within its instance, and [raise a `unittest.SkipTest` exception](https://docs.python.org/2/library/unittest.html#setupclass-and-teardownclass) if it is not there.  This will allow developers to run the system tests without needing an expensive-to-build-and-maintain pre-populated databa

[2017-05-08 23:56] dhermes commented on #3019
:+1:

[2017-05-08 23:58] obulpathi commented on #3383
You are right! I must have fat fingered something / somewhere. Just creating a service account works perfectly fine. Thanks for the help!

[2017-05-09 03:40] dr3x opened #3387 "Spanner batch inserts >1hr fail with GaxError Exception StatusCode.UNAUTHENTICATED"
1. OS type and version **Microsoft Windows [Version 10.0.10586]**
2. Python version **Python 2.7.12**
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
**google-auth==1.0.0
google-auth-httplib2==0.0.2
google-cloud-core==0.24.1
google-cloud-spanner==0.24.1
google-cloud-storage==1.1.0
google-gax==0.15.8
google-resumable-media==0.0.2
googleapis-common

[2017-05-09 03:43] dhermes commented on #3387
@dr3x This is continuing the [discussion][1] from #1917, yes?

We fixed this issue today and made a [new release][2] of the auth library.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1917#issuecomment-299577433
[2]: https://github.com/GoogleCloudPlatform/google-auth-library-python/releases/tag/v1.0.1

[2017-05-09 03:43] dhermes commented on #3387
@dr3x I am going to pre-emptively close this (so it doesn't linger in limbo) but **REALLY** am interested to see if the new release fixes the issue for you.

Does that seem OK?

[2017-05-09 03:43] #3387 closed

[2017-05-09 03:46] dr3x commented on #3387
Yes - it is a continuation of the discussion from #1917 but seemed like it might be a new issue

I will check out the new auth lib and let you know.

Thanks

[2017-05-09 04:42] dr3x commented on #3387
Ok now throwing a different error - **StatusCode.DEADLINE_EXCEEDED** at the 24 minute mark:

[code]

[2017-05-09 05:05] dhermes commented on #3387
@dr3x That just sounds like bad luck (and unrelated to the new release). I doubt the DEADLINE_EXCEEDED is related (though I'm surprised the gRPC layer doesn't automatically retry that for you).

The fact that you are already refreshing is a bit strange to see:

This is **exactly** the error that I've [reproduced][1] when the invalid expiry keeps a token around too long.

[1]: https://gist.github.c

[2017-05-09 05:21] hm-distro opened #3388 "The Python BigQuery client fails on creating a view in standardSQL"
[code]
The https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/table.py#L355 should also take in another property for useLegacySql

Example  payload at http://stackoverflow.com/questions/33243427/how-can-i-create-a-new-view-in-bigquery-using-the-python-api

[2017-05-09 08:57] briandeheus commented on #3088
Hey guys, terribly sorry for the (really) late reply. I haven't been able to reproduce it with new installations, it must've been something I've done wrong.

If I have any more details I'll update this ticket, I think it's best to close it for now.

[2017-05-09 15:32] nathanielmanistaatgoogle commented on #2683
@dhermes: [there is now](https://github.com/grpc/grpc/issues/11043); please add any details (pretty please a deterministic reproduction?).

[2017-05-09 16:49] jonparrott commented on #3377
It's here: https://cloud.google.com/logging/docs/api/v2/resource-list

We don't need to include in the client library, as it'll very quickly get out of date. We just need to accept a string and let the backend do the validation.

[2017-05-09 16:57] dhermes commented on #2683
@nathanielmanistaatgoogle I [already gave][1] a deterministic reproduction. I am happy to chat with you off the thread about how to set up the credentials needed for this or we could work together (I'll need your expertise) to create a gRPC service that doesn't require auth to accomplish the same goal.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2683#issuecomment-258518

[2017-05-09 16:58] dhermes commented on #3088
Thanks for coming back @briandeheus, sorry for the issues.

[2017-05-09 16:58] #3088 closed

[2017-05-09 17:04] waprin commented on #3088
This is probably related to #3310 so there's probably an issue lurking somewhere (though maybe fixed in some release?) that's just been hard to repro :-\

[2017-05-09 17:43] dr3x commented on #3387
Ok was able to run the data load script for two large tables (>1hr) and they both successfully completed so I'll consider it fixed. Good news

[2017-05-09 17:50] dhermes commented on #3387
Great news. Please let us know if you are having other issues and thanks for providing such good info!

[2017-05-09 18:40] jerjou opened #3389 "language: annotate_text method doc says it returns 4-tuple when it returns 5-tuple."
The [doc for natural-language](https://googlecloudplatform.github.io/google-cloud-python/stable/language-document.html#google.cloud.language.document.Document.annotate_text) says that the annotate_text method returns a 4-tuple of "sentences, tokens, sentiment and entities." However, when trying to use the library, it appears to actually return a 5-tuple:

[code]
The tuple appears to contain:
1. Se

[2017-05-09 18:49] yaalaa commented on #3259
Seems fixed, at the first glance. (1.5hour testing).
Thanks

[2017-05-09 19:03] bkleef commented on #2990
Looks highly related to https://github.com/pypa/pip/issues/4216.

[2017-05-09 19:07] dhermes commented on #2990
@bkleef Indeed these are the same issue. The fix is a simple one: update `setuptools`

[2017-05-09 19:09] bkleef commented on #2990
@dhermes indeed but 9.0.2 is not yet on pypa and so you need to upgrade like:

[code]

[2017-05-09 19:10] dhermes commented on #2990
I don't think the issue is present in the latest released version of `setuptools` (but I could be wrong). Also, you can update `setuptools` without updating `pip`.

[2017-05-09 19:18] vkedia opened #3390 "BurstyPool in spanner can lead to unbounded number of sessions to be created"
BurstyPool takes a parameter which is supposed to bound the maximum number of sessions that will be maintained in the pool. But this invariant if maintained when the session is put back in the pool. In case there is a bug (either in the client or in the user code) which leads to session leaking and never being released back into the pool, this can cause an unbounded number of sessions to be create

[2017-05-09 19:56] tseaver commented on #3389
The same text is present on both `stable` and `latest` versions of the docs.

[2017-05-09 20:03] dhermes commented on #3389
The [returned type][1] is a named tuple with

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e3fecf121f5306ebea3c0e76e8a6f1de9b383ae0/language/google/cloud/language/document.py#L30-L33

[2017-05-09 20:05] #3015 closed

[2017-05-09 20:07] dhermes commented on #3237
This issue has [come back][1] (and [here][2] and [here][3])

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1780
[2]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1774
[3]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1753

[2017-05-09 20:30] #3016 closed

[2017-05-09 20:39] tartavull opened #3391 "500 Error during `list_entries()` in logging"
[code]
raises

[code]

[2017-05-09 20:44] dhermes commented on #3391
@tartavull Thanks for filing. That just means a request failed. You can add in exception handling to retry? (Though while paging through an [iterator][1] I realize that is a bit painful.)

@lukesneeringer Do we have a retry plan that we are tracking?

[1]: https://googlecloudplatform.github.io/google-cloud-python/stable/iterators.html

[2017-05-09 20:57] dhermes opened #3392 "test_async_recognize_local_file() is flaky"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1781

[Failed line][1] assumes `operation.results` will be a list, but instead it is `None`.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/391c6fd807f5f4c0ea7066ec086cfa67b47a637e/speech/tests/system.py#L188

[2017-05-09 20:58] tseaver commented on #3018
Working now on this one.

[2017-05-09 21:07] tseaver commented on #3019
@dhermes BTW, where did the script go which pre-populates the datastore indexes for system testing?

[2017-05-09 22:05] vkedia commented on #3390
As per discussion with @bjwatson making this P0.

[2017-05-09 22:38] brandondutra opened #3393 "Support a query over an external data source / federated data source"
Bigquery supports running queries over csv files, but I don't see this option in this bigquery api.

See https://cloud.google.com/bigquery/external-data-sources
and
https://cloud.google.com/bigquery/external-data-cloud-storage

I see example for reading csv files into a table, but I would rather not have to manage creating and deleting temporary tables.

[2017-05-09 23:23] dhermes commented on #3393
AFAIK this **is** supported out of the box, but I'm not sure how.

@tswast Do you have any docs to this effect?

[2017-05-09 23:27] #3018 closed

[2017-05-09 23:28] tswast commented on #3393
No samples yet for this. It's on my todo list.

[2017-05-09 23:43] dhermes commented on #3393
@tswast Is there anything you'd like to see from us, e.g. a `Client.from_foo()` factory constructor that allows specifying scopes for the federated sources? (Or is that necessary?)

[2017-05-09 23:55] tswast commented on #3393
Yeah, it is necessary, thus: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3067 The Google Cloud Platform scope covers Cloud Storage, but not Drive or Sheets. (Not sure about Bigtable)

Regarding  those `Client.from_foo()` functions, I'd want us to make sure we pass through all the supported arguments in the google-auth library.

As far is the external data source functionality

[2017-05-10 00:58] brandondutra commented on #3393
I cannot use the UI. I'm looking to replace Google's Datalab python/bigquery api with this one.

[2017-05-10 17:55] vkedia opened #3395 "Spanner library should have a way to track leaked sessions"
Due to a bug in user code or client library code, it is possible that a session is checked out from the pool but never released. We should make it easier for users to be able to detect such leaks and debug where in there code the leak occurred. One way can be to record the stack trace in a list or a map whenever a session is checked out and remove that trace when the session is released back to th

[2017-05-10 18:12] dhermes commented on #3395
@vkedia Isn't this the same issue as #3390?

[2017-05-10 18:19] vkedia commented on #3395
Not really. That issue is about bounding the session pool so that leaked session do not lead to unbounded number of sessions being created. This issue is for users to be able to debug where they are leaking sessions.

[2017-05-10 20:24] cdchan commented on #3067
Another update after taking a crack at this again. I was able to get the below to work, but only if I used the `GOOGLE_APPLICATION_CREDENTIALS` method with [Application Default Credentials](https://developers.google.com/identity/protocols/application-default-credentials#howtheywork) (the `google.auth.default`), not the Google Cloud SDK method. Maybe the scoping interacts weirdly with the SDK metho

[2017-05-10 21:06] dhermes commented on #3067
@cdchan That (i.e. using `google.auth.default`) is precisely what I would've suggested.

I'm not sure what the "Google Cloud SDK method" you refer to is, but would be happy to clear it up if I understood better.

[2017-05-10 21:13] podopie opened #3396 "table.insert_data should allow for dictionaries"
[`table.insert_data`][2] currently only accepts tuples/lists in the order of the schema. It'd be a great feature allow lists of dictionaries to be passed.

Would expect cases where if the keys in the dictionary do not match the schema, it would return back an error.

FWIW, here's an example of how another python library handles it for a typical database connection:

[https://github.com/pudo/datase

[2017-05-10 21:14] cdchan commented on #3067
@dhermes from what I understand, `google.auth.default` supplies [Application Default Credentials](http://google-auth.readthedocs.io/en/latest/reference/google.auth.html). Those are generated in a variety of methods, one of which pulls from the environment variable `GOOGLE_APPLICATION_CREDENTIALS` (which worked for me). Another method is to authenticate as a user via the Google Cloud SDK (as explai

[2017-05-10 21:23] dhermes commented on #3067
Ah gotcha. Yeah it just depends on what account was being used. I'd guess it was your personal account, which maybe didn't have the right permissions? When you say "couldn't get it to work", this means you got some kind of error?

[2017-05-10 21:30] cdchan commented on #3067
@dhermes it had the right permissions (my work account) -- I was able to query the regular tables without issues and I had access to the Google Sheet itself.

The error I got was `400 The job encountered an internal error during execution and was unable to complete successfully.`  once I scoped the SDK method like so

```gcloud auth application-default login --scopes=https://www.googleapis.com/aut

[2017-05-10 21:36] dhermes commented on #3067
Thanks for the info! The error message isn't clear to me though maybe @tswast recognizes it?

[2017-05-10 22:02] tswast commented on #3067
Not a super helpful error message, but it is true that Google Cloud SDK credentials can't be used for all APIs. The reason is that it is using your user credentials, but associated with the Google Cloud SDK project. My guess is that the Drive and Sheets APIs aren't enabled on the Cloud SDK project.

With service account credentials, GOOGLE_APPLICATION_CREDENTIALS, it is using the project associate

[2017-05-10 22:08] dhermes commented on #3396
@lukesneeringer WDYT of this? It'd be somewhat easy to support with a helper that mapped a each `row` in `rows` [into `row_info`][1] (whether it started as a `tuple` or a `dict`).

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/ff4f492f04c9b4f5511f8b0b7d2a32df86328306/bigquery/google/cloud/bigquery/table.py#L742-L750

[2017-05-10 22:18] dhermes commented on #3067
Ah good point @tswast. @cdchan You can "verify" this by hitting the [tokeninfo endpoint][1] or just check out

[code]

where `{SOMEID}` is a stand-in for a numerical ID. Then you can navigate to

[code]

to see the settings for that project (or to realize you don't have access to that project).

[1]: https://developers.google.com/apis-explorer/#p/oauth2/v2/oauth2.tokeninfo

[2017-05-10 22:56] tseaver commented on #3396
@dhermes I think we would be better off with another method which handles dicts (and likely calls the current `install_data`).

[2017-05-11 02:02] matrixl opened #3398 "(google-cloud-vision) enum34 should not be installed on Python 3.4+"
The enum34 breaks my code (python3.6), it is a known issue that enum34 doesn't work on Python 3.4+

Please refer to the discussion over here:
[https://bitbucket.org/stoneleaf/enum34/issues/5/enum34-incompatible-with-python-35#comment-19462547](https://bitbucket.org/stoneleaf/enum34/issues/5/enum34-incompatible-with-python-35#comment-19462547)

suggested fix in vision/setup.py

[code]

[2017-05-11 02:26] dhermes commented on #3398
@matrixl Can you link to the known issue? Our unit tests run in Python 3.4, 3.5, 3.6 and our system tests run in 3.6 without **any issue** at all.

[2017-05-11 03:11] matrixl commented on #3398
Here is the issue reported in other project.
[https://github.com/donnemartin/saws/issues/55](https://github.com/donnemartin/saws/issues/55)

Also some discussion over here.
[https://bitbucket.org/stoneleaf/enum34/issues/5/enum34-incompatible-with-python-35#comment-19462547](https://bitbucket.org/stoneleaf/enum34/issues/5/enum34-incompatible-with-python-35#comment-19462547)

[2017-05-11 05:07] dhermes commented on #3398
Both of this indicate that the incompatibility was resolved 2 years ago. Am I somehow misreading?

[2017-05-11 06:27] matrixl commented on #3398
Yes, those issues have been fixed, but the way they fixed it is to only install enum34 with Python < 3.4.

[https://github.com/donnemartin/saws/commit/f109bc8f534905797ee44239cb766ea3de4ceb5d](https://github.com/donnemartin/saws/commit/f109bc8f534905797ee44239cb766ea3de4ceb5d)

Here is the latest post in 2017.
[https://bitbucket.org/stoneleaf/enum34/issues/19/enum34-isnt-compatible-with-python-36]

[2017-05-11 14:42] dhermes commented on #3398
Gotcha, thanks for digging @matrixl. So the issue isn't that our code is broken on it's own, just that it steps in front of `import enum` and stops you from using the newest features of `enum`?

@jonparrott WDYT of adding `enum34;python_version<"3.4"` in our requirements?

[2017-05-11 16:33] jonparrott commented on #3398
@dhermes I'm fine with that.

[2017-05-11 17:30] skyfox commented on #2411
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3401

[2017-05-11 17:45] tseaver commented on #3398
@matrixl If what you report is true, I don't understand how our system and unit tests could be working with `enum34` unconditionally installed.

[2017-05-11 17:52] #3377 closed

[2017-05-11 17:53] jonparrott commented on #2673
Closed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3386 and should be in the next release.

[2017-05-11 17:56] jonparrott commented on #3359
@duggelz @liyanhui1228  #2673 is resolved, you should be good to start on #2997. Holler if you need anything.

[2017-05-11 17:57] waprin opened #3403 "Should system tests be parametrized to run under both HTTP and gRPC?"
Some google-cloud-* libraries have both gRPC (gax) transports and HTTP transports. Logging, Datastore, Error Reporting, Pub/Sub at least. The clients generally try to use gRPC unless there's an ImportError (no gRPC support) ,or it's explicitly disabled by `google.cloud.environment_vars.DISABLE_GRPC` or a constructor argument to the client.

As far as I can tell most system tests just instantiate a

[2017-05-11 17:57] #2673 closed

[2017-05-11 17:58] dhermes commented on #3403
Yes they should, but on a cron basis.

[2017-05-11 17:58] dhermes commented on #3403
@waprin #2658 already exists. Shall we close this one or that one?

[2017-05-11 18:00] dhermes commented on #3398
@tseaver He didn't say it doesn't work with **our** code, he said: "enum34 breaks my code (python3.6)".

The point is that `enum34` steps in front of the native `import enum` and so users and up with the wrong package, and the backport one has fewer features.

[2017-05-11 18:20] liyanhui1228 commented on #3359
OK sure.

[2017-05-11 18:22] daiyueweng commented on #2673
I am just wondering when the next release will be available and how can I get a notification about it.

cheers

[2017-05-11 18:23] jonparrott commented on #2673
@daiyueweng you can subscribe to notifications on this repo, but it'll probably be noisy.

Unless @dhermes wants to go ahead and release now, we'll probably wait until #3359 is complete.

[2017-05-11 18:31] tseaver commented on #3017
#3399 and #3404 should close this issue: we are already testing both transactional reads and snapshots with time boundaries.

[2017-05-11 18:32] waprin commented on #3403
Ah sorry, didn't search enough.

[2017-05-11 18:32] #3403 closed

[2017-05-11 18:37] dhermes commented on #3237
@waprin @jonparrott This is somewhat concerning. Do you guys have any ideas what could be causing this?

[2017-05-11 19:03] dhermes commented on #2673
I'm fine doing a release if @lukesneeringer is

[2017-05-11 19:05] jonparrott commented on #3237
I really have no idea - what's our gRPC deadline?

[2017-05-11 19:08] dhermes commented on #3237
Whatever the default is? It **consistently** hangs though. A "bad" deadline wouldn't happen twice a day?

[2017-05-11 19:15] jonparrott commented on #3237
If the RPC itself is hanging and our deadline is ~10 minutes, I can see how
this occurs.

Has anyone been able to reproduce locally?

On Thu, May 11, 2017 at 12:08 PM Danny Hermes <notifications@github.com>
wrote:

[2017-05-11 19:28] #3398 closed

[2017-05-11 19:57] waprin commented on #3237
While I'd like to imagine my code is bug-free, and I have no specific idea of where a bug might be, the piece of code I'd be by far most suspicious of causing a deadlock is the async `background_thread.py` logging handler transport since it starts a new thread, and both the main thread and background thread acquire locks. I had to fix a few deadlocks when I first wrote it.

I would suggest comment

[2017-05-11 20:08] waprin commented on #2997
[code]

is the basic call you're going to want to end up making. Currently the handler in `handlers.app_engine` extends RotatingFileHandler but you're going to want to instead make it either extend or something similar to `handlers.handlers.CloudLoggingHandler`. However the actual `log_text` or `log_struct` call is made in `SyncTransport` and `AsyncTransport` `send` method. So you probably want to

[2017-05-11 20:18] jonparrott commented on #3237
What locking is even needed by the background transport? It's just a queue,
right?

On Thu, May 11, 2017 at 12:57 PM Bill Prin <notifications@github.com> wrote:

[2017-05-11 20:30] waprin commented on #3237
Pretty much but `Queue` isn't quite what we want since you need to commit all the items at once rather than pick them off one a time. You also need some locks to gracefully shutdown regardless.

[2017-05-11 21:10] jonparrott commented on #3237
Looks like the background transport could use some love, I'm not sure the conditions are the best way to accomplish what we want.

Even still, it seems we're still kind of guessing at what's going on. Again, has anyone reproduced this locally?

[2017-05-11 21:16] duggelz commented on #3237
It might be helpful to add 'faulthandler.enable()' or '.register()' in our system test harness to get a multi-thread traceback when the test is killed.  We'll have to figure out what signals CircleCI uses to kill jobs (and hopefully it's something reasonable).

[2017-05-11 22:26] dhermes commented on #3237
@waprin Regarding your [last comment][1], I have annotated my [previous comment][2] to show exactly which methods are / were hanging.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3237#issuecomment-300899965
[2]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3237#issuecomment-300285940

[2017-05-11 22:27] dhermes commented on #3237
I'm going to take a stab here and add some print statements (I'm worried about using Python `logging` since this code hooks into it).

[2017-05-11 22:35] duggelz commented on #3237
[faulthandler](https://docs.python.org/3/library/faulthandler.html) prints to standard error directly, so it should be safe.  It's only available in Python 3 though (there is a backport to 2.7).

[2017-05-12 00:42] duggelz commented on #3237
I'm able to reproduce some logging test errors in the internal Jenkins builds for the [python-runtime](https://github.com/GoogleCloudPlatform/python-runtime) repo, but nothing when running locally.

[2017-05-12 15:00] JustinBeckwith opened #3409 "Write correlation-id in log entry metadata"
By writing a correlation-id into the logging metadata, users can get request-correlated logs in pantheon.  See https://gist.github.com/JustinBeckwith/43dd04cfbc4551ddd8996a5b803da0b0 for details.

[2017-05-12 15:25] lukesneeringer commented on #3409
@JustinBeckwith The majority of people who will read this ticket (including the people who will most likely service it) are unable to follow internal links.

[2017-05-12 15:54] JustinBeckwith commented on #3409
Fixed :)

[2017-05-12 16:11] duggelz commented on #3409
Issue #3359 tracks writing the trace id to logs, so I think this is a duplicate.

[2017-05-12 16:21] jonparrott commented on #3409
Closing, duplicate of #3359, but thanks for the extra context, @JustinBeckwith! I'll update that issue with it.

[2017-05-12 16:21] #3409 closed

[2017-05-12 16:39] duggelz commented on #3237
Just FYI, `faulthandler` does have some deadlock problems after all: https://bugs.python.org/issue30165

[2017-05-12 20:37] #3017 closed

[2017-05-12 21:14] dhermes commented on #3237
Just got a [build][1] that seems to shed some light on the issue. The issue seems to be in the tear down:

[code]

Using `max_tries=10` means we can have a total sleep of

[code]

This **exceeds** the CircleCI threshold of 600 seconds (10 minutes) without any output.

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1868

[2017-05-12 22:06] supercharger opened #3411 "Python3 HTTP Proxy support, moving to URLLib3"
HttpLib2 has two code bases for python 2 and python 3. The Python 3 version of httplib2 is not implemented with socks/proxy support. Please refer to [here](has two code bases for python 2 and python 3. The Python 3 version of httplib2 is not implemented with socks/proxy support. Please refer to https://github.com/httplib2/httplib2/blob/43ff2654ad4f1c90cfb44b8c9bfa9090c0d502a1/python3/httplib2/init

[2017-05-12 22:08] jonparrott commented on #3411
You can try using httplib2shim, but there's nothing we can do in this project to get httplib2 to support proxies.

[2017-05-12 22:08] #3411 closed

[2017-05-13 00:50] proppy opened #15455 "tool should support a way to namespace credentials"
So that you can create multiple credentials for different scope without having to fully qualify the credentials path.

[2017-05-13 00:50] proppy opened #15454 "tool should support Android resource output"
to make it easier to parse than json.

[2017-05-13 13:51] filipealeixo opened #3415 "Datastore API, 'Forbidden: 403 Request had insufficient authentication scopes.'"
I'm running a TensorFlow model on Google ML Engine. When the model training is finished, I want to store a JSON string with the results to Datastore. For this, I am using the following:

[code]

Although, I am getting the error 'Forbidden: 403 Request had insufficient authentication scopes.' Here's the full error trace:

Do I need to grant access somewhere for the ML engine to access the Datastore

[2017-05-13 16:11] mistercrunch commented on #2434
Maintainer on Superset here (https://github.com/airbnb/superset)

@tswast I'm curious to hear how far you made it. It seems like it should be fairly straightforward to mimic DBAPI and to define a SQLAlchemy dialect. Note that the dialect can be incomplete and limited to work for read, as [of course] you wouldn't use DML or expect to use an ORM on top BigQuery. Also there's a need to implement the

[2017-05-15 05:16] Lordie12 commented on #3396
+1 to this, it would be really helpful (especially when handling 2-3 level nested RECORDS). Its currently quite a change from using both the Java client and the NodeJS client (both of which accept a TableRow / dictionary).

[2017-05-15 16:12] tweeter0830 opened #3416 "Schema needed when uploading AVRO file from local filesystem, but not from GCS."
I'm trying to upload an avro file from my local filesystem using the following code:

[code]

I get the following error:

I don't need to specify a schema when using the web api or when uploading a file from GCS.

[2017-05-15 16:19] tweeter0830 opened #3417 "Unhelpful documentation for Table.upload_from_file."
The [docs](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-table.html#google.cloud.bigquery.table.Table.upload_from_file) for `Table.upload_from_file` are not very helpful.

Non of the actual default values are shown. They all show "foo=None". Also the docs indicate that "source_format" can only be JSON or CSV, but if you check the entry for "configuration.load.sourceForm

[2017-05-15 16:22] tweeter0830 commented on #3416
For reference, the following code works when pointed at a file on GCS.

[code]

[2017-05-15 16:29] tseaver commented on #3416
I realize that [AVRO](https://cloud.google.com/bigquery/data-formats#avro_format) is supposed to be self-describing, but that error message is being generated on the back-end.  The only thing I can see that we might be able to fix on the client side is to omit sending the `schema=[]` field at all if the schema isn't set.  However, the [docs for `client.load`](https://cloud.google.com/bigquery/docs

[2017-05-15 16:40] jonparrott opened #3418 "Nox isn't linting tests or running pylint anymore"
It seems that nox is now only running flake8 over the main package. :/

[2017-05-15 16:51] tweeter0830 commented on #3416
Interesting, that is a weird restriction. It certainly makes my workflow harder. I need to bounce the file to some temporary location in gcs and then upload from there. At the very least, this should be in the documentation for upload_from_file.

[2017-05-15 17:02] tseaver commented on #3416
@tweeter0830 Could you apply the following patch and let me know if it works for you?

[code]

If so, I will add tests for this case and create a PR.

[2017-05-15 17:17] tweeter0830 opened #3419 "How to store BigQuery schemas for later use."
Is there an easy way to get the schema from a BigQuery table and save it to disk for later use?

For example, say that I wanted to get the schema of a table that currently exists, save it to disk and later create a table with the same schema.

I see that there is such a thing as a SchemaField in the api, but there doesn't seem to be a clean way to serialize it.

[2017-05-15 17:28] tseaver commented on #3419
@tweeter0830 There is no built-in support for serializing `SchemaField` instances.  The non-public `table._build_schema_resource` and `table._parse_schema_resource` functions could be used as the basis for serializing them to JSON.

[2017-05-15 17:32] tweeter0830 commented on #3419
Thanks.

[2017-05-15 17:35] tseaver commented on #3419
I'll leave the issue open, as making those two functions public / better documented seems like a reasonable enhancement.

[2017-05-15 17:38] tseaver commented on #3419
E.g., I could see adding a `schema.SchemaField.from_api_repr` classmethod and a corresponding `schema.SchemaField.to_api_repr` instance method to support your usecase.

[2017-05-15 17:54] tswast commented on #2434
I paused my work on https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2921 but am restarting it now. I'm glad to hear there's interest in this.

[2017-05-15 18:56] dhermes commented on #3418
That's correct. @lukesneeringer did this on purpose IIIC?

[2017-05-15 19:55] tswast commented on #3205
Looks like the files were reorganized too. The CONTRIBUTING.md still talks about the `system_tests` directory, which looks to have been split into the various subpackages.

[2017-05-15 19:57] tweeter0830 commented on #3416
No luck. Got the same error.

[2017-05-15 20:12] dhermes commented on #3205
@lukesneeringer Are you still ["on the hook for this"][1]?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3300#issuecomment-294181684

[2017-05-15 21:29] ofek opened #3420 "bug: from_service_account_json fails without GOOGLE_APPLICATION_CREDENTIALS env var set"
pypinfo-96fad88c6384.json
[code]

[code]

[2017-05-15 23:30] ofek commented on #3420
I'm trying to query [https://bigquery.cloud.google.com/dataset/the-psf:pypi](https://bigquery.cloud.google.com/dataset/the-psf:pypi). I don't own it, but that shouldn't be an issue as querying from the console works.

This executes successfully:

[code]

but then if I do:

[code]

an error occurs:

[code]

[2017-05-15 23:35] dhermes commented on #3420
The error message is pretty specific. Maybe the issue is the way we're forming the query? @tswast is this an unexpected error message?

[2017-05-15 23:46] tswast commented on #3420
@ofek You shouldn't be setting `project='the-psf'` in the load from file function call. You should be setting the project for which you want the queries to be charged to (your project).

You can still query data in the project `the-psf`, so long as your project has access to those datasets.

[2017-05-15 23:49] dhermes commented on #3420
Thanks @tswast I figured it was something straightforward.

@ofek I'm pre-emptively closing this. Happy to re-open if there is still something unresolved.

[2017-05-15 23:49] #3420 closed

[2017-05-15 23:52] ofek commented on #3420
@tswast Ok thanks, that makes sense and is what I originally tried in op.

@dhermes Can you please reopen this? See first post.

Do either of you know why from_service_account_json fails then?

[2017-05-15 23:55] dhermes commented on #3420
@ofek This is actually #1883 rearing it's ugly head. I've been meaning to tackle that one, this is just another bump that I should do it ASAP.

The issue is that the `project` is implicitly determined from the **environment** when it should be determined from the JSON file.

Sorry I conflated your two issues as one. Next time, it'd be better if you just filed two separate issues, though I realize

[2017-05-16 00:03] ofek commented on #3420
@dhermes Oh, I see. Thanks! I suppose I'll just parse the file for project id myself to pass to `from_service_account_json`.

[2017-05-16 01:48] dhermes commented on #3420
@ofek Yeah unfortunately that's the best you can do for now. I'll try to send a legit fix for #1883 tomorrow.

[2017-05-16 05:10] sstepashka opened #3421 "How can I make cancellable uploading file to GCP storage?"
Sometimes uploading is very slow. Uploading small files sometimes requires couple of seconds, sometimes about 15 mins. I think, The good solution is make request with timeout or cancel request then retry to upload. I see, In current implementation I cant provide timeout or cancellation to upload/download methods. Could you help me with it?

Thank you!

[2017-05-16 14:34] #3019 closed

[2017-05-16 14:35] #3369 closed

[2017-05-16 16:46] dhermes commented on #3369
@kir-titievsky We can open a new issue if there are thing's you'd like to discuss?

Some of your comments above indicate that you'd like a way for users to bundle object creation and a call to `reload()` with a single helper / method.

[2017-05-16 18:15] tseaver commented on #3421
@sstepashka You are correct that `Blob.upload_from_file` provides no mechanism for timing out its request.  You might be able to accomplish your goal by calling `Blob.create_resumable_upload_session` to get a signed upload URL, and then [post the file in chunks](https://cloud.google.com/storage/docs/xml-api/resumable-upload#unknownresumables) to that URL.

[2017-05-16 18:17] tseaver commented on #3416
@lukesneeringer Who is the current back-end contact for BigQuery?

[2017-05-16 18:21] kir-titievsky commented on #3369
I'll yell upcoming changes don't resolve my concerns and keep quiet in the
mean time.

On Tue, May 16, 2017 at 12:46 PM, Danny Hermes <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-05-16 18:25] tseaver commented on #3388
The first issue (that the commented out bit fails) seems like a back-end issue:  the [`Table` resource docs](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#view.useLegacySql) should govern how that flag is used.

WRT how the API surface exposes standard vs. legacy dialects, I'd like to update the `view_query` setter to require standard SQL, and add another one (`view_query_legacy_

[2017-05-16 18:31] tseaver commented on #3368
`Table.insert_data` takes as its `rows` argument a list of tuples.  To insert a single row, you need to map your from-JSON dict onto a tuple using the table's underlying schema.  E.g., something like:

[code]

[2017-05-16 18:31] #3368 closed

[2017-05-16 18:31] dhermes commented on #3421
@sstepashka I recommend checking out https://github.com/GoogleCloudPlatform/google-resumable-media-python

Let me know if you have any questions about using it after check out the docs: https://googlecloudplatform.github.io/google-resumable-media-python/0.1.1/google.resumable_media.requests.html

[2017-05-16 18:32] dhermes commented on #3369
:+1:

[2017-05-16 18:39] tseaver commented on #3367
This would involve adding a `timeout` option to the `_gax._SubscriberAPI.subscription_pull` method (similar to the one added to `_gax._PublisherAPI.topic_publish` method in deca383a), and surfacing that option at the `subscription.Subscripton` level (`Topic.publish` needs to expose the `timeout` too).

[2017-05-16 18:51] tseaver commented on #3368
#3396 is tracking a feature request for a new convenience method to `Table` for this usecase.

[2017-05-16 19:02] dhermes commented on #3416
@tswast Is DevRel on BigQuery and he's the best

[2017-05-16 19:03] tseaver commented on #3396
I'd like to add a `Table.row_from_mapping` method which uses the schema to generate row tuples from a dict.  Usage would then be:

[code]

[2017-05-16 19:43] tseaver commented on #2905
Fixed in #3180.

[2017-05-16 19:43] #2905 closed

[2017-05-16 19:46] tswast commented on #3416
I'm looking into this. I'm making some Avro test data for use in integration tests and so I can get a better look at the request google-cloud-bigquery is generating.

[2017-05-16 20:23] tseaver commented on #2957
@tswast I'm running up against the difference in the JSON representation of datetime for row values (i.e., floating point seconds to microsecond precisions) vs. query parameters (ISO strings).  I'm assuming that is a known issue (or design choice):  are there other types where the row value representation is known to differ from query parameter representation?

[2017-05-16 20:52] tseaver commented on #3001
/cc @tswast

[2017-05-16 20:58] #3346 closed

[2017-05-16 21:17] evanj opened #3429 "storage: upload_from_file does not correctly stream Popen pipes"
`upload_from_file` attempts to detect the size of the file by executing `os.fstat(file_obj.fileno())`
(`google/cloud/storage/blob.py:929` [https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L929][1])

For a `subprocess.Popen` pipe, this returns a stat structure with `st_size` set to `0`. For some miracle that I didn't track down, this appear

[2017-05-16 21:49] dhermes commented on #3429
@evanj Thanks for reporting!

- The line you linked to (929) is just for open directly from files. That `st_size` check is present in the [latest released version][1] but has been removed in `HEAD` (not released yet though).
- RE: `.tell()`, `upload_from_file` explicitly requires an `IO[Bytes]` object, and a `subprocess.Popen` does **not** fit that interface (as you noted). Adapting the implementi

[2017-05-16 22:01] evanj commented on #3429
Ah oops, sorry for wasting your time: I was looking at the wrong thing. I'm going to close it, since it looks like this will work correctly with the next release.

One minor suggestion: The doc comment for `upload_from_file` maybe should be updated to indicate that if you want a streaming upload, you must set `chunk_size` in the `Blob` constructor. That isn't super obvious if you just read the doc

[2017-05-16 22:01] #3429 closed

[2017-05-16 22:09] #3181 closed

[2017-05-16 22:22] dhermes commented on #3429
@evanj Thanks for the suggestion! I recently dug into the very old implementation and was less than happy about the amount of things going on under the covers.

If you'd like a more explicit interface, I recommend checking out what we use under the covers ([source][1] and [docs][2]).

[1]: https://github.com/GoogleCloudPlatform/google-resumable-media-python
[2]: https://googlecloudplatform.github.

[2017-05-16 22:23] #3416 closed

[2017-05-16 23:34] y4n9squared opened #3431 "Importing modules from google.cloud package hangs indefinitely"
If I install `google-cloud` in a brand new virtual environment and don't use the wheel distribution, importing modules from the package causes the program to hang indefinitely.

[code]

The only material difference I see between installing wheel vs. egg is compiling the grpcio dependency, which has c extensions.

[code]

Installing from wheel distribution works fine, but if a package lists `google

[2017-05-16 23:58] dhermes commented on #3431
@y4n9squared I just tried and can't reproduce. Can you consistently reproduce this? (i.e. make a brand new `virtualenv` and run the commands in the same order)

[2017-05-17 00:04] y4n9squared commented on #3431
@dhermes Yes, I can reliably reproduce. I might have made a slight errata in reporting my error. Try

[code]

instead of the `--no-binary :all:` option. I thought those were the same but perhaps they are not.

Here is a full trace from a brand new environment:

[code]

[2017-05-17 13:15] patitonav commented on #3368
`row = tuple([
    my_json_dict[field.name] for field in table.schema
])`

This works fine for a simple dictionary but it think we need a strong solution for nested structures (a idctionary inside a dictionary)

thanks

[2017-05-17 15:08] dhermes commented on #3431
@y4n9squared It's worth noting the warning printed by `pip`:

[code]

I ran the same commands you just outlined and the import worked just fine.

[2017-05-17 15:09] patitonav commented on #1200
I found another related issue:

When i try:
`entity = datastore.Entity( key = client.key("Foo") )
entity["time"] = datetime.datetime.now()
client.put( entity )`
Works fine, but affter when i look in the datastore dashboard i see 3 hours difference.
Any idea?

[2017-05-17 15:19] dhermes commented on #1200
@patitonav You should use `datetime.datetime.utcnow()`

The [underlying value][1] is stored as a [`Timestamp`][2], which

When our code receives a "naive" timestamp (i.e. one without a timezone) it [assumes][4] the timestamp is UTC ([via][3]).

[1]: https://github.com/googleapis/googleapis/blob/5c6df0cd18c6a429eab739fb711c27f6e1393366/google/datastore/v1/entity.proto#L138-L141
[2]: https://github.

[2017-05-17 15:47] patitonav commented on #1200
Yes. You were right thanks

[2017-05-17 17:52] tweeter0830 opened #3433 "Upload file to GCS with Storage Object Creator role."
Is there a way to upload a file to GCS using the python api using a service account with write only privileges?

I'm using the following code to do try this right now:
[code]

This fails at the following line:
[code]

I get the following error:

[code]

This is kind of expected as my service account has the "Storage Object Creator" role and nothing else.

[2017-05-17 17:59] dhermes commented on #3433
@tweeter0830 Use [`client.bucket`][2] instead of [`client.get_bucket`][1]. This will simply create a local `Bucket` object without trying to call `storage.buckets.get` via the API.

[1]: https://googlecloudplatform.github.io/google-cloud-python/stable/storage-client.html#google.cloud.storage.client.Client.get_bucket
[2]: https://googlecloudplatform.github.io/google-cloud-python/stable/storage-clie

[2017-05-17 17:59] #3433 closed

[2017-05-17 18:36] vkedia opened #3434 "Calling run_in_transaction twice causes the second call to fail"
It seems that the `_transaction` object in Session is not being reset once the transaction commits. This leads to a "Transaction is already committed" error. Here is a simple code to demonstrate this:

[code]

The error that is raised is:

[code]

[2017-05-17 18:45] vkedia commented on #3434
The version of google-cloud-spanner I used was 0.24.1

[2017-05-17 19:06] vkedia opened #3435 "Unable to write a single column to cloud spanner"
Trying to write a single column value to cloud spanner raises an error saying mismatched number of columns and values:

[code]

This raises the error:

[code]

[2017-05-17 19:24] lukesneeringer commented on #3435
This is a coding error:

[code]

That is a string, not a tuple. You need `['SingerId']` or `('SingerId',)`.

[2017-05-17 19:24] #3435 closed

[2017-05-17 19:33] y4n9squared commented on #3431
@dhermes I have traced it to something specific on my machine. It seems to work fine on a brand new GCP instance that I spun up as well as my OS X machine.

[2017-05-17 19:33] #3431 closed

[2017-05-17 19:40] dhermes commented on #3431
Thanks for doing the sleuthing! Sorry this happened to you, happy to help if there is more we can do. Cheers.

[2017-05-17 20:00] tweeter0830 commented on #3433
Thanks!

[2017-05-17 20:40] dhermes commented on #3433
Sure thing. Let us know if there is some other problem I hadn't considered, we're happy to help more.

[2017-05-17 21:01] #3434 closed

[2017-05-17 21:02] dhermes commented on #3237
@jonparrott Do you feel OK if I change this back to closed?

[2017-05-17 21:06] jonparrott commented on #3237
Close it!

On Wed, May 17, 2017, 2:02 PM Danny Hermes <notifications@github.com> wrote:

[2017-05-17 22:16] jonparrott commented on #3359
@liyanhui1228 https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3410 is merged, so this work should now be unblocked. Holler if you need anything. :)

[2017-05-18 16:22] jonparrott commented on #2997
Closed by #3410

[2017-05-18 16:22] #2997 closed

[2017-05-18 17:46] tseaver commented on #3434
Fix released:

- https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/spanner-0.24.2
- https://pypi.python.org/pypi/google-cloud-spanner/0.24.2

[2017-05-18 17:47] tseaver commented on #3016
Fix released:

- https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/spanner-0.24.2
- https://pypi.python.org/pypi/google-cloud-spanner/0.24.2

[2017-05-18 18:08] vkedia commented on #3123
The code you pointed to is for the admin APIs. Is this also being done for the data API?
Our backend logs do not show any requests where x-goog-api-client contains "python" string (or similar) in it. At the very least we should be seeing some requests from the integration tests?

[2017-05-18 18:18] tseaver commented on #3123
@vkedia the non-admin APIs have the [same configuration in `database.py`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/c43e8f1e59477a5f94996b0a10b6bacc483e4183/spanner/google/cloud/spanner/database.py#L179-L185).

[2017-05-18 18:28] vkedia commented on #3123
@tseaver What would be the exact value of "x-goog-api-client"? I wonder why are we not seeing anything in our logs in that case. Maybe I am looking for the wrong string.

[2017-05-18 18:40] tseaver commented on #3123
The header is generated by `google.gax.api_callable`.  I'm not sure of the format, but it should start with `gl-python` and the Python version;  it should inclue `gccl` and the version of `google-cloud-spanner`, and tokens for the `gax` and `gapic` versions.

@lukesneeringer could probably point you to the spec for the header contents.

[2017-05-18 18:59] #2957 closed

[2017-05-18 19:21] vkedia commented on #3123
@tseaver @lukesneeringer There must be some bug somewhere because I am not finding any requests where the x-goog-api-client looks like that. I did find requests where the UserAgent was "grpc-python/1.3.3 grpc-c/3.0.0 (manylinux; chttp2; gentle),gzip(gfe)". I am guessing these requests came from python library? x-goog-api-client was empty on these.
Is it possible to dump the headers of outgoing req

[2017-05-18 19:31] tseaver commented on #3123
Here is what the `kwargs['metadata']` looks like in the run up to the call:

[code]

[2017-05-18 19:38] tseaver commented on #3123
The code which actually generates the gRPC header from that metadata is buried too deep inside the gRPC stack for me to find.

I would say the bug is not in this library, unless it turns out that *every* place where we set up the call optoins metadata is borked the same way.

[2017-05-18 19:52] vkedia commented on #3123
Is there a way to make gRPC dump headers it is sending out?

On May 18, 2017 12:38 PM, "Tres Seaver" <notifications@github.com> wrote:

[2017-05-18 22:23] albertpadin commented on #1414
+1

I also suggest adding a code snippet in the documentation. This is a common use case and I just spent a few hours running into error after error trying to figure it out.

Thanks! :)

[2017-05-19 00:59] dhermes opened #3440 "BigQuery builds seem to be very broken"
e.g.

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1960
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1963

There are many more in the last 48 hours (sorry I don't have time to gather them all right now).

We should diagnose and fix ASAP.

[2017-05-19 09:07] sstepashka commented on #3421
@dhermes How i can provide timeout for resumable upload?

[2017-05-19 12:53] mikelambert commented on #3259
I still see this issue (have verified the libraries on disk contain the patch referenced above):
[code]

I push an instance at 17:21, which starts receiving traffic at 17:33. Errors start at 17:46 and continue indefinitely until I re-push a new instance.

For the moment, I've gone back to my "create a new client for each incoming request" workaround to keep things working.

[2017-05-19 14:46] dhermes commented on #3259
@mikelambert Any chance there is clock drift on the machine? Is it possible you have multiple envs and one has the old version installed?

[2017-05-19 14:49] dhermes commented on #3421
You would do it on your `transport`. There is currently no way to send extra arguments through to `transport.request()` but you could do it by making a custom transport:

[code]

[2017-05-19 14:56] mikelambert commented on #3259
These are freshly-created GAE Flexible VM instances. I assume Google's clock drift should be good.

These are then instantiated from the same docker image (so checking on one machine should speak for the rest).

[2017-05-19 15:08] tweeter0830 opened #3441 "blob.upload_from_filename blocks for upwards of an hour."
I am using the following code to upload files to GCS.

[code]

This works most of the time. However, it has been stuck uploading for the last hour and has not raised an exception yet. It seems like this method should have a timeout or something for situations like this. It would also be helpful if it had the option to log the progress of the method for further diagnosis.

[2017-05-19 15:12] tweeter0830 opened #3442 "blob.upload_from_filename raises BadStatusLine exception occasionally."
I am using the following code to upload files to GCS.

[code]

This works most of the time. However, occasionally, it raises the following exception:

[code]

[2017-05-19 15:54] tseaver commented on #3441
Duplicate of #3442, which has more information.

[2017-05-19 15:55] tseaver commented on #3441
Hmm, not a duplicatie.

[2017-05-19 16:28] dhermes commented on #3442
@tweeter0830 We've seen this issue before when people use the same `Client` (which uses `httplib2` under the covers) in multiple threads.

- We have "dumped" `httplib2` in `master`, a release should be out soon
- Can you confirm you are (or aren't) using a `Client` across threads?

[2017-05-19 16:29] dhermes commented on #3441
@tseaver @tweeter0830 It may be somewhat of a duplicate if the real answer is that `httplib2` + threading == a bad time.

[2017-05-19 18:15] tseaver commented on #3053
/cc @tswast

[2017-05-19 18:43] tseaver commented on #3175
@lukesneeringer Generalizing the solution from `datastore` requires moving `datastore._gax._catch_remap_gax_error` into `core`, most obviously `core.exceptions`.  Doing that requires adding a from `google.cloud.core` to `google.gax`.  We have unconditional dependencies to `google.gax` in other packages:  would that be a problem for core?

[2017-05-19 18:56] tseaver commented on #3175
The issue within pubsub seems to be that the back-end API shifted from returning `FAILED_PRECONDITION` to `ALREADY_EXISTS`:  we have handling which raises `Conflict` for the older code.

We should add a system test (or extend and existing one) to ensure that we don't regress whatever fix we apply now.

[2017-05-19 20:31] tweeter0830 commented on #3442
I am using it in a thread. I can switch to using a process fairly easily. Will that fix this issue?

[2017-05-19 20:31] tweeter0830 commented on #3441
I am using this is a thread.

[2017-05-19 20:42] tseaver commented on #3442
@tweeter0830 Or switch to using a separate `Client` instance per thread (they should be relatively cheap to construct).

[2017-05-19 20:42] tseaver commented on #3441
@tweeter0830 Or switch to using a separate `Client` instance per thread (they should be relatively cheap to construct).

[2017-05-19 20:43] dhermes commented on #3441
@tweeter0830 I'm closing this out as that is the culprit. As @tseaver said, you'll want `Client` instances to be thread local (for now). We will soon be dumping `httplib2` altogether (for `requests`).

[2017-05-19 20:45] dhermes commented on #3442
That will fix the issue if you don't share the `Client` across processes.

I am pre-emptively closing since the fix is known (i.e. don't share a `Client`, or more properly, don't share a client's HTTP / transport object)

[2017-05-19 20:45] #3442 closed

[2017-05-19 20:45] #3441 closed

[2017-05-22 14:49] tweeter0830 commented on #3442
I moved the client into a single thread and I am still having this issue.