[2017-01-25 21:03] #2948 closed

[2017-01-26 00:00] daspecster commented on #2947
This is actually pretty broken now.

The system tests exhibit the issues.
I'm working on a PR to resolve now.

[2017-01-26 18:01] brandon-white commented on #2880
@dhermes Thanks for your help here! Do you or anybody have any idea when the next Bigtable client release will be?

[2017-01-26 18:11] dhermes commented on #2880
I may cut a release this week. However, I'm happy to help you get a local install working from source, feel free to ping me on Hangouts (email on GitHub profile)

[2017-01-26 18:25] brandon-white commented on #2880
@dhermes Appreciate it Danny! I am willing to wait 1-2 weeks for the official release on pip. Thanks for your help!

[2017-01-28 18:27] junghoahnsc opened #2971 "[Bigtable] Incompatible with CPP protobuf implementation for Python"
Hello,

I'm trying to use [C++ protobuf implementation for Python](https://github.com/google/protobuf/tree/master/python) since pure Python proto is too slow.
But importing `gcloud.bigtable` package throws an exception `TypeError: Descriptors should not be created directly, but only retrieved from their parent.`.

Is there any way to fix this problem?

Thanks,

1. OS type and version
Tested on ubu

[2017-01-28 22:16] dhermes commented on #2971
@junghoahnsc Can you please try upgrading to `google-cloud`, the package moved from `gcloud` to `google-cloud` (a simple rename) after August 2016.

Unfortunately, I'm not sure the upgrade will fix the problem, but I want to make sure we're on the same page.

[2017-01-28 22:27] junghoahnsc commented on #2971
Yes, actually I tried to upgrade to google-cloud 0.22.0, but it showed the same issue.

[2017-01-29 20:13] tseaver commented on #2971
Note that the error is being raised from code in `google.longrunning.operations_grpc`, which is not maintained in this repository (it is auto-generated from the proto file), which means we won't be able to fix it here.

@bjwatson, @geigerj can you comment?

[2017-01-30 18:05] dhermes commented on #2971
@tseaver The error is actually in `protobuf` itself.

[2017-01-30 18:13] junghoahnsc commented on #2971
Should I file this issue to https://github.com/google/protobuf?

[2017-01-30 18:24] dhermes commented on #2971
@junghoahnsc Maybe? I'm interseted if @bjwatson or @geigerj (or @lukesneeringer) have any insights.

[2017-01-30 19:03] andreadale commented on #124
TRY THIS:
pip install --upgrade oauth2client

[2017-01-30 21:03] daspecster opened #2974 "Pycodestyle update causing our lint to fail."
From what I can tell, there are three new errors that pycodestyle is finding.

E306: expected 1 blank line before a nested definition, found 0
~E123: closing bracket does not match indentation of opening bracket's line~
~E722: do not use bare except~

See: #2973

[2017-01-30 21:19] dhermes commented on #2974
`E123` seems legit

[2017-01-30 21:32] daspecster commented on #1713
Mostly done! Tracking the rest and some extras in #2753.

[2017-01-30 21:32] #1713 closed

[2017-01-30 21:33] daspecster commented on #2330
This is a straggler issue.

[2017-01-30 21:33] #2330 closed

[2017-01-30 21:33] daspecster commented on #2526
Also forgot to close this.

[2017-01-30 21:33] #2526 closed

[2017-01-30 21:35] daspecster commented on #2708
Closed with #2850.

[2017-01-30 21:35] #2708 closed

[2017-01-30 22:20] #2930 closed

[2017-01-30 23:16] daspecster commented on #2974
Yeah, I updated the PR to just fix the E123 errors.

[2017-01-30 23:20] dhermes commented on #2974
I filed https://github.com/PyCQA/pycodestyle/issues/621

[2017-01-31 00:03] waprin commented on #2673
@tseaver @dhermes circling back on this, I think this does need to be added the logger surface because it's pretty basic functionality to the api .

I think @tseaver's proposed plan to add the MonitoredResource type does make sense.

However, the code already exists in `google.cloud.monitoring.resource.py` and `google.cloud.monitoring.label.py`. And if you look at the Logging API and the Monitorin

[2017-01-31 00:33] arita37 commented on #2434
There is some tentative of plugging sql alchemy:
https://pypi.python.org/pypi/sqlalchemy_bigquery/

Having Big Query connector to SQL Alchemy would give a strong incentive to use Big Query

[2017-01-31 01:14] rwillard opened #2975 "pubsub fails with error from gax"
Looks like a recent update to google-gax is broken with pip. https://github.com/googleapis/gax-python/issues/152.

I was getting this error
[code]

I'm using version 0.22.0 `google-cloud-pubsub==0.22.0`
I was able to fix this problem by including a previous version of google-gax in my requirements.txt file.  `google-gax==0.15.1`

Could google-cloud-pubsub also use a versioned package of google-gax

[2017-01-31 01:36] dhermes commented on #2974
They fixed it in `2.3.1`

[2017-01-31 01:39] rwillard commented on #2975
Makes sense, thank you!

[2017-01-31 01:39] #2975 closed

[2017-01-31 01:44] dhermes commented on #2975
Thanks for understanding! (And filing)

[2017-01-31 02:05] #2974 closed

[2017-01-31 02:14] dhermes commented on #2974
@daspecster I should've been more specific, they fixed the `E306` false positives. We still have the `E722` and maybe the `E123` issues to deal with

[2017-01-31 02:19] daspecster commented on #2974
Yeah I saw, maybe closed this too soon, but the rest are resolved in #2973 either way. I have an update to remove the ignore for E306 then it should be good IMO.

[2017-01-31 05:41] jorvis opened #2977 "No module named "google" after installing python google-cloud-storage"
I'm following the guide here:

https://cloud.google.com/storage/docs/reference/libraries#

And installed the module like this:

`sudo pip3 install google-cloud-storage`

It was successful, but then:

[code]

Everything else I do with the 'googleapiclient' module works fine.  I'm just trying to create a storage bucket.

[2017-01-31 05:45] dhermes commented on #2977
@jorvis This is a fairly common issue. It means either

- You're install failed in a hard-to-detect way
- You have a package in the `google` namespace which isn't playing nice with others.

Check out #2366 and LMK if that helps?

I am going to pre-emptively close out since this isn't new / isn't an issue with `google-cloud-python`. However, I'm happy to keep helping as you troubleshoot your instal

[2017-01-31 05:45] #2977 closed

[2017-01-31 05:45] dhermes commented on #2767
This issue seems stale?

[2017-01-31 05:45] #2767 closed

[2017-01-31 05:45] #2635 closed

[2017-01-31 05:46] dhermes commented on #2493
Closing this out as it seems to have gone stale

[2017-01-31 05:46] #2493 closed

[2017-01-31 06:04] jorvis commented on #2977
Thanks for the help.  I went to my /usr/local/lib/python3.4/dist-packages directory and deleted protobuf and google*.  Then successfully ran "sudo pip3 install google-cloud"  I see that it created many directories, including 'google', but I still get the same error when I import.

[2017-01-31 06:10] dhermes commented on #2977
You should do two things. First check where the `google` package actually comes from:

[code]

Second try to install in a `virtualenv` and see if the issue persists:

[code]

[2017-01-31 06:20] jorvis commented on #2977
OK, I got it.  The python3 which appears first in my PATH is /opt/Python-3.4.2/bin/python3 but for some reason the libraries got installed in /usr/local/lib/python3.4/dist-packages.  When I used the correct pip3 path they got placed in /opt/Python-3.4.2/lib/python3.4/site-packages instead and all was well.

Thanks again!

[2017-01-31 06:31] dhermes commented on #2977
Good to hear

[2017-01-31 12:34] Ngg971 commented on #2951
I'm having the same issue with the BigQuery library. It would be much easier if we could use an actual dictionary.

I tried using sub-tuples (with parentheses), brackets, etc. but it keeps returning _invalid_argument: 'Array specified for non-repeated field._

[2017-01-31 17:04] lukesneeringer commented on #2971
I think you will need to file an issue there. I looked at the code and it's specifically nested within a `if _USE_C_DESCRIPTORS:`, and it is not obvious to me what it is supposed to be doing. Sorry. :-(

[2017-01-31 22:49] lukesneeringer commented on #2673
I am confused. A new package feels like overkill, and is most sensible? (Apologies if I am not understanding, those two sentences just seem contradictory to me.)

I would be fine with just putting it in `core`. I am nervous about the idea of having `core` and `common` as I cannot think of any defining rule of what belongs in which of them.

[2017-01-31 22:53] waprin commented on #2673
Thanks for chiming in. Yes I was thinking out loud and was a bit unclear. In my head `core` involves code relating to the client but `common` would be shared API data objects. But I agree it's a blurry distinction so moving to `core` sounds good to me.

[2017-02-01 15:36] Ngg971 commented on #2951
I was able to insert nested data by wrapping the RECORD (nested) field in a dict() object.

For example if I have the following schema:
    SCHEMA_NAME = [
        bigquery.table.SchemaField('some_filename', 'STRING', mode='REQUIRED'),
        bigquery.table.SchemaField('some_timestamp', 'TIMESTAMP', mode='REQUIRED'),
        bigquery.table.SchemaField('some_file_info', 'RECORD', mode='REQUIRED',

[2017-02-01 17:58] npetitclerc commented on #2493
I had similar issues upgrading to 0.22.0 from 0.19.0 @jlowin solution worked for me:

@bjwatson FYI uninstalling google-cloud only didn't work for me.

[2017-02-01 18:01] dhermes commented on #2493
Yes it seems `0.19.0` is the problem, but it's unclear if anything can be done about it (other than having this issue here as a reference).

[2017-02-02 11:23] namitapg commented on #1570
Removing this package and reinstall'ing google-cloud resolved the issue (I verified this by reinstalling 'google' and the problem regressed).

How did you uninstall it, my `pip` or rather any python command is not working :( Suddenly everything stopped working after install this package. My local app-engine server or normal python command is not working.

[code]

Kindly help.

[2017-02-02 13:01] daspecster commented on #1570
You did a `$ pip install google` and it broke your virtualenv? If so, that's interesting.

@namitapg I would try creating a fresh virtualenv to start with. You may be able to manually delete the google package from your current virtualenv's site-packages but I'm not sure that would resolve the issue.

[2017-02-02 13:26] namitapg commented on #1570
I did `pip install --upgrade google-cloud-storage`. Afterwards, nothing was working. Also, I removed that package from site-packages, still did not work. Now, I have set up new virtualenv. And everything is working now :)

Our requirements.txt includes `google-cloud==0.22.0`. I was getting `DistributionNotFound: The 'google-cloud-core' distribution was not found and is required by the application`

[2017-02-02 14:52] daspecster commented on #1570
Glad to hear it's working!

[2017-02-02 21:22] junghoahnsc opened #2980 "[bigtable] InvalidChunk"
1. OS type and version
Ubuntu 14.04

2. Python version and virtual environment information `python --version`
Python 2.7.6

3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

Name: google-cloud-bigtable
Version: 0.22.0

4. Stacktrace if available
[code]
5. Steps to reproduce
See the code example
6. Code example
[code]

This exception is raised all

[2017-02-02 21:27] dhermes commented on #2980
It's tough to say without actually seeing the failed chunk. Can you run this with a debugger? It may be easiest to just dump it in a script and run `python -m pdb script_name.py` or to run it in IPython and use the `%debug` magic after it fails.

[2017-02-02 21:49] junghoahnsc commented on #2980
[code]

Actually the value is an empty string.

[2017-02-02 21:55] dhermes commented on #2980
Gotcha, ISTM the chunk is equivalent to:

[code]

[2017-02-02 21:57] dhermes commented on #2980
@tseaver The culprit is exactly as described by @junghoahnsc. I don't quite recognize the validation since it was re-worked for `v2` while I was on "paternity leave". Is there a reason we don't allow empty cells on read?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigtable/google/cloud/bigtable/row_data.py#L370

[2017-02-02 22:58] #2971 closed

[2017-02-02 22:58] dhermes commented on #2971
@junghoahnsc Closing out since we can't really offer help. Please post back here if you aren't able to resolve?

[2017-02-02 23:26] tseaver commented on #2980
Too much water under the bridge since June :).  I think we need to ask @garye, @mbrukman, or @sduskis.  The [context](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigtable/google/cloud/bigtable/row_data.py#L365-L377) is:

- The state machine is in the "row in progress" state (no current partial cell)
- It is validating  the chunk which wo

[2017-02-02 23:31] yuanbaisc commented on #2980
Hi, I am trying to run this step by step:
The PartialRowData object's state is  "row in progress"
The chunk it currently processing has only "qualifier" and "timestamp_micros". "reset_now" is False, no "commit_row" field, "value" is empty.

[2017-02-02 23:32] yuanbaisc commented on #2980
The error is triggered in _validate_chunk_row_in_progress method:
        if not chunk.HasField('commit_row') and not chunk.reset_row:
            _raise_if(not chunk.timestamp_micros or not chunk.value)

[2017-02-03 03:50] garye commented on #2980
Yeah I think the chunk and timestamp check there is invalid.

[2017-02-03 06:43] junghoahnsc commented on #2980
Is there any workaround until it is fixed?
@dhermes do you need any more information from our side? Actually our bigtable was written by Go/Java apps and now we're trying to read it in Python.

[2017-02-03 07:02] sean185 opened #2981 "BigQuery: jobs created with run_async_query() and run with begin() ignores flag dry_run=True"
The aim is to be able to dry run the queries to check how much it would cost us before we actually proceed with it. Hopefully we will be able to use it as a safety mechanism.

I hope I am not misunderstanding the availability of the `dry_run` parameter as [listed on the docs](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-job.html#google.cloud.bigquery.job.QueryJob.dry_r

[2017-02-03 07:05] dhermes commented on #2981
@tseaver We should probably add `__slots__` at this point. There have just been too many of these is it accepted / isn't it accepted issues.

[2017-02-03 13:01] garye commented on #2980
Is there any way you can validate the same read using Go or Java? Just to gain confidence that the fix I suggested will work...

[2017-02-03 15:19] sduskis commented on #2980
A timestamp of 0 is valid.  I think that there needs to be a chunk.value.

[2017-02-03 15:43] garye commented on #2980
Timestamp of 0 is fine and empty value for chunk.value is fine, but I think "not chunk.value" is true if it's an empty string which is wrong.

[2017-02-03 15:56] sduskis commented on #2980
empty values are not fine in these cases.  An empty cell isn't a thing in BT.  If there's no reset, there needs to be a value, IIRC.

[2017-02-03 16:59] tseaver commented on #2981
@dhermes This isn't that:  we actually do have a `dry_run` property [defined](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigquery/google/cloud/bigquery/job.py#L983), and we [copy it to the job configuration if set](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigquery/google/cl

[2017-02-03 17:02] dhermes commented on #2981
Interesting. What do you think is the issue here?

[2017-02-03 17:03] dhermes commented on #2980
@junghoahnsc @yuanbaisc Can you consume the response using the [low-level API][1]?

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigtable/google/cloud/bigtable/table.py#L229-L230

[2017-02-03 17:17] tseaver commented on #2981
@dhermes We might have a bug on our side (e.g., copying to the wrong part of the job config resource, or with the wrong name), or the back-end might be ignoring the `dryRun` flag.

[2017-02-03 17:22] dhermes commented on #2981
Easy enough to add a `job.dry_run = True` before calling `.begin()` in a system test and adding a handy-dandy `import pdb; pdb.set_trace()` when `api_request()` actually sends off a payload?

[2017-02-03 18:03] sean185 commented on #2981
Hi, yes I am referring to an issue like @tseaver has pointed out, that the dry_run configuration was accepted (was mentioned and fixed in an earlier issue, I had checked before posting). I attempted to read and trace the code to where the configurations were being passed around, but unfortunately I don't think I'm quite familiar enough.

I tried using `pdb` as suggested, and I got to a point where

[2017-02-03 18:04] dhermes commented on #2981
@sean185 Almost certainly what I was hoping for.

[2017-02-03 18:18] sean185 commented on #2981
@dhermes @tseaver
I don't know if this is relevant, but on the docs for Jobs > QueryJob
https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-job.html#google.cloud.bigquery.job.QueryJob.dry_run

I found that it mentioned this link for the documentation regarding dryRun,
https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.query.dryRun

when the hyperlink shoul

[2017-02-03 18:29] tseaver commented on #2981
@dhermes I wonder if we've been gaslighted:  note the language describing the option:

[code]

Five will get you ten they "promoted" that option up from the `query` section without telling anybody, or rev'ing the API.

[2017-02-03 18:30] tseaver commented on #2981
@sean185 Thanks for digging into that!  We need to update to write the flag at the `config` level, rather than `config`/`query`.

[2017-02-03 18:51] sean185 commented on #2981
@tseaver no problem, just glad that it wasn't a case of me running blind.

So just to clarify, it is [this chunk of code](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/bigquery/google/cloud/bigquery/job.py#L1067-L1084), the `_build_resource` function that places the `dry_run` variable too deep, correct?

[2017-02-03 18:56] tseaver commented on #2981
@sean185 Yes, it calls (eventually) `_populate_config_booleans`, which does the actual work.

[2017-02-03 18:58] sduskis commented on #2980
Regarding my earlier comment, @garye and I spoke offline.  While there's no such thing as a Bigtable cell with an value, someone can set a filter that strips the value; that's useful in cases where all you want to do is check for existence of a row.

The check for value should be removed as well as @garye suggested.  I authored an implementation guide which may be incorrect.  Sorry about that.

[2017-02-03 19:00] sean185 commented on #2981
@tseaver ah okay, got it! Will be looking forward to how this issue will be managed, thank you guys for the great work!

[2017-02-03 20:00] daspecster commented on #2981
@tseaver @dhermes have one of you guys started on this already? If not I can make a PR.

[2017-02-03 20:31] tseaver commented on #2981
@daspecster Go ahead!

[2017-02-03 23:19] scottcode opened #2982 "Vision client's annotate method fails on expected image input"
# Description

An instance of `google.cloud.vision.Client` has method annotate, which the docstring says should take `image` and `features` parameters. The `image` parameter is described to be a string which should represent either a URL, a Google Cloud Storage path, or a byte stream of the image. However, trying to use the method in this way yields an error. It seems to expect the `image` paramet

[2017-02-04 01:40] daspecster commented on #2982
@scottcode sorry for the confusion. The docs have been updated since, but Vision hasn't been released yet.

`image` should not be a string. It should be an instance of `google.cloud.vision.image.Image`.

Also, the library doesn't yet support URLs for image sources.

To fix you could download the image with [`requests`](http://requests.readthedocs.io/en/master) and then pass the content to Vision.

[2017-02-04 03:05] junghoahnsc commented on #2980
IIUC, it looks like the current validation check is not correct. Is it easy to remove that?
Or should we use a low-level api until it is fixed?

[2017-02-05 21:25] tarrencev commented on #754
Would love this functionality

[2017-02-06 11:43] zamai commented on #2896
Hi, I'm catching the same 503 ServiceUnavailable error when fetching data from the datastore.
google-auth==0.5.0
google-cloud-datastore==0.22.1
Traceback:
`ServiceUnavailable: 503 {"created":"@1486373186.421925534","description":"Endpoint read failed","file":"src/core/ext/transport/chttp2/transport/chttp2_transport.c","file_line":1851,"grpc_status":14,"occurred_during_write":0,"referenced_errors":

[2017-02-06 11:45] zamai commented on #2694
Hi, I'm catching the same 503 ServiceUnavailable error when fetching data from the datastore.
google-auth==0.5.0
google-cloud-datastore==0.22.1
Traceback:
ServiceUnavailable: 503 {"created":"@1486373186.421925534","description":"Endpoint read failed","file":"src/core/ext/transport/chttp2/transport/chttp2_transport.c","file_line":1851,"grpc_status":14,"occurred_during_write":0,"referenced_errors":[

[2017-02-06 14:29] tcroiset opened #2983 "PubSub & Rpc timeout"
Hi,

Part our of pubsub rpc calls (i.e. publish()) timeout:
GaxError: GaxError(RPC failed, caused by <_Rendezvous of RPC that terminated with (StatusCode.DEADLINE_EXCEEDED, The service was unable to fulfill your request. Please try again. [code=8a75])>)

It looks like the timeout occurs after about 60s.
For some reason, such timeouts were frequent in the last few days.

Is there any existing or up

[2017-02-06 15:07] tseaver commented on #2983
We don't expose any way to set a timeout for [`Topic.publish`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7e1632598365af1c03709bb5f5ff29f4d8a98847/pubsub/google/cloud/pubsub/topic.py#L218) calls.

For GAPIC/gRPC requests, the `google.gax.CallOptions` class does expose a `timeout` field:  we could likely work out how to inject a user-supplied timeout value into the instance whi

[2017-02-06 15:19] tcroiset commented on #2983
would be great

[2017-02-06 15:36] tseaver commented on #1554
Obsoleted by #2531 and subsequent PRs.

[2017-02-06 15:36] #1554 closed

[2017-02-06 16:27] lukesneeringer commented on #2947
This has since been dealt with by other PRs; re-closing. :-)

[2017-02-06 16:27] #2947 closed

[2017-02-06 17:51] scottcode commented on #2982
Thanks for the clarification, @daspecster. I got it to work with both your suggestions, with the slight change to `client.annotate(image, [feature])` for the first option.

[2017-02-06 17:54] daspecster commented on #2982
Great to hear! Sorry for my typo.

[2017-02-06 17:54] #2982 closed

[2017-02-06 18:24] #2981 closed

[2017-02-06 18:24] daspecster commented on #2981
@sean185 this should be fixed on `master` now! Thanks for the help!

[2017-02-06 20:29] daspecster opened #2987 "Vision and Speech snippets?"
So there are a couple ways that snippets are run right now.

The old way with `{service}-snippets.py` or the way @dhermes has done with [doctest for datastore](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/65213a1ebe4ce18a50b922388f8d36328de08449/system_tests/datastore.py#L526).

Are we for sure going to use doctest and head down that route?

[2017-02-06 20:31] salrashid123 commented on #2674
ran into this issue as well.  Just to document, you can disable gRPC using

[code]

[2017-02-06 20:32] dhermes commented on #2987
I am :+1: for the approach [set forth in datastore][1] (as @daspecster already linked). Obviously, as the author, this is my preference.

I'm open to @tseaver and @lukesneeringer opinions.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/65213a1ebe4ce18a50b922388f8d36328de08449/system_tests/datastore.py#L526

[2017-02-07 15:32] tseaver commented on #2220
Another option is to shorten the sleeps drastically (e.g., `time.sleep(0.05)` vs. `time.sleep(1)`.

[2017-02-07 15:41] lukesneeringer commented on #2987
Glancing at this code very briefly and early in the morning, it looks like it:

  * Compiles docs using Sphinx based on the code.
  * Runs in `:: code..` snippets it finds and complains if any of them error.

Seems reasonable in principle. I would be interested in a way to make that not datastore-specific (but in the meantime...)

[2017-02-07 15:56] tseaver commented on #2913
I just tried to reproduce using @dhermes recipe and had the installation run successfully.

[2017-02-07 15:56] #2913 closed

[2017-02-07 16:50] dhermes commented on #2987
@lukesneeringer Putting it in `system_tests/datastore.py` was intentional: we want to make sure the snippets aren't "right with mock, wrong with actual code". So the only datastore specific pieces in that class are fairly easy to factor out (just used for listing all modules in the datastore package and for creating a temporary directory with a simple Sphinx conf containing only datastore modules)

[2017-02-07 16:54] dhermes commented on #2220
@tseaver In a perfect world we'd just have a check which says "really human? you want your unit tests to be non-deterministic?". In other words, the "simple check" just disallows all sleeps and doesn't differentiate / allow for nuance (this is more scalable across all devs).

[2017-02-08 02:36] sean185 commented on #2981
No problem, didn't do much! It's really thanks to you guys!

[2017-02-08 10:17] nabilm commented on #2573
Please any updates on this ? passing empty credentials didn't fix the problem ? please advice !

[2017-02-08 13:35] daspecster commented on #2573
@nabilm can you give a code example of how you passed in the credentials?

[2017-02-08 22:29] pdudnik opened #2988 "would like to be able to specify timeout for get_bucket and download_to_file"
I am using some methods from this file gcloud/storage/client.py

Specifically, get_bucket and list_bucket.

I am struggling to figure out how I should set timeouts on these methods. I am worried about them being stuck.

[2017-02-08 22:57] daspecster commented on #2988
Hello @pdudnik!

Currently I don't think there is a way to set the timeout for storage operations directly.
However you may be able to [pass in your own HTTP client](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4d2a7d170ad1fb0f5dd70caae6eb5cae9497bd6b/core/google/cloud/client.py#L104-L109) with a [timeout set](http://httplib2.readthedocs.io/en/latest/libhttplib2.html#httplib2.Ht

[2017-02-09 04:36] Rockyyost opened #2990 "AttributeError: '_NamespacePath' object has no attribute 'sort'"
1. Ubuntu 16.04.1 LTS
2. Python 3.5.2 :: Anaconda 4.2.0 (64-bit)

I was trying install with **pip install --upgrade google-cloud** but I get the following **AttributeError: '_NamespacePath' object has no attribute 'sort'**

Below is the stack trace:

[code]

[2017-02-09 04:54] dhermes commented on #2990
@Rockyyost This error is 100% in `pip`. It seems you have a broken version of `pip`.

[2017-02-09 04:55] dhermes commented on #2990
I'm pre-emptively closing but happy to re-open if more information arises.

[2017-02-09 05:09] jonparrott commented on #2990
Notably, you just need to update your pip & setuptools.

On Wed, Feb 8, 2017, 8:55 PM Danny Hermes <notifications@github.com> wrote:

[2017-02-09 09:33] omaray opened #2991 "Storage: add support for Per-Object Storage Class"
We need to add support for Per-Object Storage Class (POSC).

Here some extra information to help:

- [POSC info from Cloud Storage documentation](https://cloud.google.com/storage/docs/per-object-storage-class)
- [POSC example with JSON API](https://cloud.google.com/storage/docs/changing-storage-classes)
- [Storage Class info from Cloud Storage documentation](https://cloud.google.com/storage/docs/s

[2017-02-09 14:16] daspecster commented on #2990
Not sure if this is related https://github.com/pypa/setuptools/issues/885#issuecomment-278652057.

[2017-02-09 15:23] garye commented on #2980
@dhermes @tseaver I put a PR together for this, can you take a look? We've heard from other users offline that are being impacted by the bug.

[2017-02-09 15:41] lukesneeringer commented on #2987
Okay. Seems fine to me.

[2017-02-09 15:42] lukesneeringer commented on #2991
@tseaver Is this something you would be able to take on?

[2017-02-09 15:48] daspecster commented on #2987
OK SGTM. Onward and forward!

[2017-02-09 15:48] #2987 closed

[2017-02-09 15:49] daspecster commented on #2987
@tseaver I just realized you hadn't weighed in. Feel free to reopen if you have some feedback!

[2017-02-09 17:19] jonparrott opened #2993 "pubsub frequently raises a gax DEADLINE_EXCEEDED error"
Debian Jessie, Python 2.7 and 3.4

Stacktrace:
[code]

test code is [here](https://github.com/GoogleCloudPlatform/getting-started-python/blob/623f4fd00810925c1babf279d3d6f8e4d33bf696/6-pubsub/tests/test_storage.py)

[2017-02-09 17:20] #2897 closed

[2017-02-09 17:31] daspecster opened #2994 "Bigtable and operations_grpc are failing unit tests in travis."
Possibly other services as well.

[code]

See: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/200057226#L9600

[2017-02-09 17:33] daspecster commented on #2994
@lukesneeringer did something change with the longrunning packages?

[2017-02-09 17:42] dhermes commented on #2994
@daspecster The issue is a bad release of `protobuf` (3.2.0)

[2017-02-09 17:48] lukesneeringer commented on #2990
I am re-opening; I think this might actually be an issue with the _current_ version of pip (as in, pip re-broke it), and I want to track it.

[2017-02-09 17:52] lukesneeringer commented on #2990
Confirmed, this works with setuptools==34.0.0, broken in setuptools==34.1.1 (the current version).

[2017-02-09 21:22] lukesneeringer commented on #2994
I fixed this by releasing a new version of `googleapis-common-protos` (1.5.1) this morning, which solves the problem that `protobuf` is complaining about (it requires any module creating a Descriptor to end in `_pb2`.

[2017-02-09 21:22] #2994 closed

[2017-02-09 21:29] dhermes commented on #2994
@lukesneeringer `grpc-google-cloud-datastore-v1` will also need a new release, it ships the following files:

[code]

Is there a rollback planned for `protobuf`?

[2017-02-09 21:33] tswast commented on #2951
Thanks @Ngg971 for following up. I think there still might be a bug here. I think it's likely that timestamp fields within the nested records might not be sent over the wire correctly by using a dict like this, but I might be wrong.

We need a system test to verify.

[2017-02-09 21:45] lukesneeringer commented on #2994
None that I know of.
Regenerating `grpc-google-cloud-datastore-v1` would actually be pretty consequential because of other changes made since then. However, we could potentially make a hand update to it that version-pins `protobuf` to `>=3.0.0, <3.2.0`, which would buy time.

We will need to update all of the gapic/grpc libraries shortly; I have been eyeing next week for that task.

[2017-02-09 21:48] jgeiger commented on #2994
I think you've got the wrong person...

[2017-02-09 21:49] lukesneeringer commented on #2994
I do. I meant @geigerj. My apologies.

[2017-02-09 21:53] lukesneeringer commented on #2994
Actually I think the `datastore` package might be fine. I do not see any `Descriptor` instances made there (or in any of the other packages I have spot checked).

[2017-02-09 21:54] dhermes commented on #2994
Gotcha

[2017-02-09 23:55] #1240 closed

[2017-02-10 09:11] gjanvier opened #2995 "DefaultCredentialsError (only sometimes) in Google Compute Engine with docker"
Hello,

I run a python script hourly, embedded in a docker container hosted on a Google Compute Engine instance. That script includes a step where I use python lib google.cloud.storage to upload files in google storage.

I want to use the default service account of the compute engine instance. As written in the [doc](https://google-cloud-python.readthedocs.io/en/latest/google-cloud-auth.html), aut

[2017-02-10 14:37] ensonic opened #2996 "pubsub emulator project settings don't work"
According to  `/usr/lib/google-cloud-sdk/platform/pubsub-emulator/bin/cloud-pubsub-emulator --help`:
[code]
When I start it, no `--projects` are given:
[code]
Setting up the env:
[code]

[2017-02-10 14:50] tcroiset commented on #2993
similar to #2983

[2017-02-10 17:01] jonparrott commented on #2995
@gjanvier do you have logging enabled? Do you see any logs from `google.auth`? If so, those can be helpful.

My initial guess is that either there's a network timeout occurring or docker is dropping the traffic to the metadata server. The auth library pings the metadata server to determine if it's available and then tries to acquire credentials. You can try setting the `GCE_METADATA_TIMEOUT` envir

[2017-02-10 17:38] dhermes commented on #2996
@ensonic ISTM this is an issue solely with the `gcloud` CLI tool, is that correct?

[2017-02-10 18:03] JustinBeckwith opened #2997 "Stop writing to `/var/log/app_engine/`"
Currently the logging library is writing files to a magical path:  `/var/log/app_engine/`.  This is not an official supported path, and would only work for App Engine.  At any point -that path could stop working.

The only officially supported ways to write logs are to write to stdout or stderr, or to use the cloud logging APIs.  Come chat with me if you have questions!

[https://github.com/Google

[2017-02-10 18:04] jonparrott commented on #2997
@waprin can you take this?

[2017-02-10 18:51] waprin commented on #2997
@JustinBeckwith it's ok if it only works on App Engine because it's only supposed to be used on App Engine.

stdout/stderr don't capture severity which this was supposed to address.

We can switch it to use the API directly, just need to make sure correct monitored resource gets set.

[2017-02-11 09:25] ensonic commented on #2996
Yes, I now added some test setup to pre-create the topic. If there is a way to make the gcloud tool use the emulator, it would be nice to document it.

[2017-02-11 16:15] tcroiset opened #2999 "BROKEN with last version of google-gax"
with google-gax 0.15.5
(at least) pubsub publish doesn't work anymore:

[code]

[2017-02-11 18:54] dhermes commented on #2999
@geigerj @lukesneeringer Any ideas?

[2017-02-12 12:10] andersgb commented on #1883
I ran into this issue when attempting to switch from the more manual `googleapiclient` to this library.
[code]
[code]

As pointed out in this thread, if we manually specify the `project` argument to `Client` in the latter example it will work. Dunno how relevant this comparison is, but the difference in default behaviour took me a while to figure out.

[2017-02-12 14:04] bussiere opened #3000 "Table usage docs inconsistent"
Page Name: bigquery-usage
Release: fa4563d

Problem with the doc :

[code]

Not working :

[code]

And :

[code]

http://stackoverflow.com/questions/42181282/unexpected-keyword-argument-type-for-bigquery

Not working also :

[code]

[2017-02-12 17:30] matheuspatury commented on #1893
@jonparrott any updates on this? This library has a much better support for Storage and BigQuery than any other library available in the moment...

[2017-02-12 18:56] cuberskulk commented on #2999
I can confirm. I have the same issue.

[2017-02-12 20:24] jonparrott commented on #1893
Storage and BigQuery should work on app engine. Let me know if you have
installation issues.

On Sun, Feb 12, 2017, 9:30 AM Matheus <notifications@github.com> wrote:

[2017-02-13 02:25] dhermes commented on #2996
This repo is a Python library for

@jonparrott What would be the best place to file a bug against the `gcloud` CLI Pub/Sub components?

[2017-02-13 09:26] gjanvier commented on #2995
I do see a "Compute Engine Metadata server unavailable" log just before the exception, nice guess.
Let me try that env variable, I'll give some feedbacks soon.

[2017-02-13 11:11] amirshavit opened #3001 "BigQuery properties issues in query.py"
(1) When I run a long, non-cached, sync query --
[code]
... it often returns without being complete. I call `query_job.fetch_data(page_token=None)` to try and get the result. If the query finished by that time -- all is well, however if doesn't, the server response doesn't include the job's name (`jobReference.jobId`); since the state is being completely erased/rewritten, following calls to `fetch

[2017-02-13 14:31] miverson commented on #2999
I've the same issue as well.

[2017-02-13 16:19] dhermes commented on #2999
Thanks guys. If you pin to an older version of `google-gax` does that fix the issue?

[2017-02-13 16:38] miverson commented on #2999
Yes.

Sent from my iPhone

[2017-02-13 16:40] lukesneeringer commented on #2999
I will have a fix out as soon as CI completes.

[2017-02-13 16:43] #2999 closed

[2017-02-13 16:47] lukesneeringer commented on #2999
Fixed, and cut 0.15.6

[2017-02-13 17:01] jonparrott commented on #2996
@dhermes https://code.google.com/p/google-cloud-sdk/issues/list

[2017-02-13 17:02] dhermes commented on #2996
Thanks @jonparrott

[2017-02-13 17:02] #2996 closed

[2017-02-13 17:08] miverson commented on #2999
Awesome!

Thanks for jumping on this right away. You definitely improved my Monday.

[2017-02-13 19:16] tseaver opened #3003 "Check query's run status using property, not attribute"
Split out from #3001, where @amirshavit reported:

[2017-02-13 19:17] tseaver opened #3004 "Return integer or None from 'Query.total_rows'"
Split out from #3001, where @amirshavit reported:

[2017-02-13 19:18] tseaver commented on #3001
@amirshavit Thanks for the report!  I've set the `back-end` label because the [API docs for `jobs/getQueryResults`](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/getQueryResults) say that the resource returned from that API **must** include the `jobReference.jobId` subkey.

I've split out your second and third points into separate issues (#3002, #3003).

[2017-02-13 20:16] dhermes opened #3006 "Add more useful header info on HTTP requests"
Most relevant place: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/9619004959def22ad2084691f382dc1cada46afd/core/google/cloud/_http.py#L177

May want to make this easier to use upstream

/cc @lukesneeringer

[2017-02-13 20:53] #3004 closed

[2017-02-13 20:54] #3003 closed

[2017-02-13 21:04] destijl commented on #2397
Just FYI I upgraded to google-cloud-bigtable==0.22.0 and verified the error is still there. I have a few integration tests I have to skip at the moment due to this bug.

[2017-02-13 21:09] tseaver commented on #3006
Seems like we could override the `USER_AGENT` class attribute for the APIs which use `JSONConnection`, and derive it from `pkg_resources` (maybe add a helper for that?).  E.g.:

[code]

I don't know whether the `-python` suffix should be there.  @lukesneeringer can you confirm?

[2017-02-13 21:21] lukesneeringer commented on #3006
It is actually moving to a new header, `X-Goog-API-Client`, and the client library is going to be abbreviated `gccl` (**g**oogle **c**loud **c**lient **l**ibrary).

We also intend to track the language via `gl-python/{v}`, which should appear at the beginning of the string.

We probably still need to set a User-Agent string (just because it is considered good practice), and it does not matter what

[2017-02-13 21:31] dhermes commented on #3006
@lukesneeringer The value of `gcloud-python` used to be deemed "sacred" to preserve some reporting internal to Google. That may no longer be true.

[2017-02-13 22:52] lukesneeringer commented on #3006
This is no longer true. The new header is superceding the old one.

[2017-02-14 08:03] gjanvier commented on #2995
I set the logs in debug and here is what I can see:

On a regular upload (as mentionned, my script does several uploads and most of them are ok):
[code]

And when it fails:
[code]

As you can see, the "Compute Engine Metadata server unavailable." error is raised instantly, before the 30s I configured as timeout. I don't know what kind of error it is (5xx, 4xx?).

Maybe the mechanism does not suppo

[2017-02-14 16:08] jonparrott commented on #2995
Consdering it's failing immediately, I'm a bit stumped as to why it's failing. If you do a simply retry does it succeed? I'm not sure there's much we can do to fix this, it seems like a network failure.

[2017-02-14 16:36] ensonic commented on #2996
FYI: https://code.google.com/p/google-cloud-sdk/issues/detail?id=1539

[2017-02-14 19:48] dhermes commented on #3000
@tseaver Is this on your list of BQ bugs to squash?

[2017-02-14 19:51] lukesneeringer opened #3010 "Ensure that libraries are designated alpha."
As part of the refresh for `core>=0.23.0` and HTTP headers, please also ensure that all client libraries are designated alpha in `setup.py` _except_ the following, which are beta:

  * BigQuery
  * Datastore
  * Logging
  * Storage

This should be altered as part of the umbrella release (should be trivial).

Thank you. :-)

[2017-02-14 20:24] #2980 closed

[2017-02-14 20:27] tseaver commented on #3000
@dhermes Yup.

[2017-02-14 22:32] dhermes commented on #3010
IIRC we took the Google "alpha / beta" labels to mean something different than the PyPI. Though I don't really have an opinion here.

[2017-02-14 22:50] lukesneeringer commented on #3010
I am in the same boat. I do not think most people pay much attention to the PyPI labels.
That said, I cannot think of any reason for them to be out of sync, and "while we are doing a big umbrella release anyway" is the right time to fix it.

[2017-02-15 02:36] dhermes opened #3011 "Spanner Unit Test b0rken on AppVeyor"
https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1072.master/job/qvj0q69feleskbpu

[2017-02-15 08:15] ToGoBananas opened #3013 "There is no possibility to extract or run project/saved queries"
Not a bug or issue, but it nice to have ability to extract SQL or run project query from python client

[2017-02-15 08:24] gjanvier commented on #2995
I added an automated retry:

[code]

It is really strange that I have a network issue every 8 hours (my script run every 8 hours and fails all the time at the 4th upload).

[2017-02-15 13:07] ensonic commented on #2683
The exception thrown is fairly internal. Could the cloud-pubsub library catch the error and throw something more descriptive. Also can the retries be documented?

[2017-02-15 14:37] daspecster commented on #3013
@ToGoBananas is this for BigQuery?

[2017-02-15 14:58] ToGoBananas commented on #3013
@daspecster yes

[2017-02-15 15:42] daspecster commented on #3013
@ToGoBananas ok thanks!

I'm not sure that is available through the [REST API](https://cloud.google.com/bigquery/docs/reference/rest/v2/). @tseaver might have some ideas though.

[2017-02-15 16:29] tseaver commented on #3013
@ToGoBananas can you point out docs for the feature you are describing?

[2017-02-15 17:26] jonparrott commented on #2995
@gjanvier do you have any way to test to see if this occurs outside of docker?

[2017-02-15 17:31] tseaver opened #3014 "Unlink explicitly committed / rolled back transaction from its session."
Each session holds onto a reference to its "active" transaction. If the application commits or rolls back that transaction explicitly (rather than via our APIs), it should be unlinked from the session.

[2017-02-15 17:35] tseaver opened #3015 "Add system tests for database convenience wrappers."
Add tests which exercise the higher-level `Database` convenience APIs (`read`, `execute_sql`, `run_in_transaction`, `batch`, and `snapshot`).

[2017-02-15 17:38] tseaver opened #3016 "Add system tests for spanner datatypes"
Show inserting / reading all the datatypes supported by spanner, particularly:

- Special-case floats (`nan`, `+inf`, `-inf`).
- Arrays of all scalar types.

[2017-02-15 17:40] tseaver opened #3017 "Add system tests for variations on spanner read operations"
- Read with indexes
- Read with limits
- Different concurrency options
- Range reads

[2017-02-15 17:42] tseaver opened #3018 "Add system tests for parameter binding"
Exercise parameter binding in `Session.execute_sql` for all the data types including:

- nulls
- null arrays
- arrays containing null
- array of structs
- special values for double type (`nan`, `+inf`, `-inf`)

[2017-02-15 17:44] tseaver opened #3019 "Add system tests which exercise stream chunking / resume"
The Java system tests do this by populating the database with:

- 1000 rows of size 4 KB
- 100 rows of size 40 KB
- 25 rows of size 400KB
- 10 rows of size 4 MB

And then reading all this data back.

[2017-02-15 17:49] tseaver opened #3020 "Remove '_BrokenOperationFuture' workaround"
`google.cloud.spanner.databse._BrokenOperationFuture` is a subclass of `google.gax._OperationFuture` which attempts to work around the fact that the spanner back-end sometimes returns metadata instead of the expected empty response, which causes the normal future to blow up.

Once the back-end is updated to fix this, remove `_BrokenOperationFuture`.

[2017-02-15 17:52] tseaver opened #3021 "Add a convenience method to fetch data for a single row"
@jonparrott would prefer:

[code]

[2017-02-15 17:57] tseaver opened #3022 "Implement DB-API 2.0 driver for Spanner"
Per [PEP 249](https://www.python.org/dev/peps/pep-0249/).

- `connect()` module-scope function would return an instance implementing the `Connection` interface.
- Each `SpannerConnection` class would hold a `Session` instance.
- `SpannerConnection` and `SpannerCursor` would work together to map the DB-API semantics onto snapshots, batches, transactions, etc.

Note that until the back-end supports

[2017-02-15 17:58] tseaver opened #3023 "Map Spanner DB-API onto a SQLAlchemy dialect"
Blocked on #3022.

Relevant SQLAlchemy docs:

- [Dialect interface spec](http://docs.sqlalchemy.org/en/latest/core/internals.html#sqlalchemy.engine.interfaces.Dialect)
- [Existing dialects](http://docs.sqlalchemy.org/en/latest/dialects/index.html)

[2017-02-15 18:00] tseaver opened #3024 "Integrate Spanner DB-API with Django"
Blocked on #3022.  Can run in parallel with #3023.

See: https://docs.djangoproject.com/en/1.10/ref/databases/

[2017-02-15 19:45] waprin opened #3025 "RTD build is broken"
Can look at this, leaving as note as reminder.

[2017-02-15 19:52] daspecster commented on #3025
I'm not sure what this means?

They appear to be populated?
https://googlecloudplatform.github.io/google-cloud-python/latest/storage-client.html

[2017-02-15 20:03] daspecster opened #3026 "Track umbrella 0.23.0 release."
I thought we could keep track of what need to be done for the umbrella release here.

- [x] Add more detailed HTTP header info (#3006) PR: (#3035, #3046, new PR pending from @dhermes0.
- [x] Make most libraries be declared alpha in `setup.py` (#3010) PR: #3027.
- [x] Update to depend on `google-cloud-core >= 0.23.0`. PR: #3028

If it's just this one issue then I'll close this out, but I thought th

[2017-02-15 20:25] lukesneeringer commented on #3026
Added the rest.

[2017-02-15 20:54] waprin commented on #3025
Sorry opened issue with customer next to me.

@daspecster realizing its' the read the docs docs that are missing.

https://google-cloud-python.readthedocs.io/en/latest/storage-client.html

[2017-02-15 21:02] dhermes commented on #3025
Indeed, another example: https://google-cloud-python.readthedocs.io/en/latest/datastore-transactions.html

Latest build is green (but must be secretly not green): https://readthedocs.org/projects/google-cloud-python/builds/5028739/

[2017-02-15 21:04] #3010 closed

[2017-02-16 08:12] ToGoBananas commented on #3013
@tseaver https://cloud.google.com/bigquery/docs/saving-sharing-queries#sharing_queries_with_project_members
Seems like this feature are not available via REST api

More likely I need to create feature request here https://code.google.com/p/google-bigquery

Sorry for trouble, close issue?

[2017-02-16 09:53] omaray opened #3029 "Write more integration tests for BigQuery"
Please see email I sent about the details and test cases from @tswast .

Also, C# has [some examples](https://github.com/GoogleCloudPlatform/google-cloud-dotnet/blob/master/apis/Google.Cloud.BigQuery.V2/Google.Cloud.BigQuery.V2.IntegrationTests/ExhaustiveTypesTest.cs) that might be worth looking at.

/cc @jskeet @jba @tswast @danoscarmike

[2017-02-16 15:27] daspecster commented on #3013
@ToGoBananas I think you're right.  If it gets added to the REST/gRPC API's let us know!
Thanks for looking into this!

[2017-02-16 15:27] #3013 closed

[2017-02-16 15:49] speedplane opened #3030 "Documentation Issue: Environment Variables Section is Not Complete"
The [section in the documentation that describes environment variables](https://googlecloudplatform.github.io/google-cloud-python/stable/google-cloud-api.html#module-google.cloud.environment_vars) does not list all of them. In particular, it misses all of the environment variables defined in `google.auth.environment_vars` ([file here](https://github.com/GoogleCloudPlatform/google-auth-library-pyth

[2017-02-16 16:25] nilleb commented on #1893
Are the google (cloud) endpoints compatible with the cloud-sdk?

[code]

appengine_config.py:
[code]

[2017-02-16 16:41] dhermes commented on #3030
@speedplane `google.auth` is not part of this library. We do list `GOOGLE_APPLICATION_CREDENTIALS` in https://googlecloudplatform.github.io/google-cloud-python/stable/google-cloud-auth.html

Anything else that can be done? (Preemptively closing out.)

[2017-02-16 16:41] #3030 closed

[2017-02-16 17:04] jonparrott commented on #1893
@nilleb it's a differently library but it should work. Your call to `vendor.add` doesn't seem right- you should just point it at the top-level `server/libs` folder (or whichever folder you specify when running `pip install -t {folder}`

[2017-02-16 18:44] jonparrott opened #3031 "Cleanup duplicated "credentials can not sign" error"
Context: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2998#discussion_r100650121

[2017-02-16 20:07] dhermes commented on #3011
@tseaver Having a not-green build is making me itchy. Are you planning on checking this out?

[2017-02-16 20:43] tseaver commented on #3011
I will start on this issue today.  I have zero clue why the following would fail on Python 3.4 on Windows but not on Linux:

[code]

(There is an identical failure in `unit_tests.test_pool.TestTransactionPingingPool testMethod=test_put_full`).

[2017-02-16 21:11] #2861 closed

[2017-02-16 23:40] dhermes opened #3032 "Remove dead branches"
@tseaver Are these all good to be deleted?

- https://github.com/GoogleCloudPlatform/google-cloud-python/tree/0.18-deprecation
- https://github.com/GoogleCloudPlatform/google-cloud-python/tree/spanner-release
- https://github.com/GoogleCloudPlatform/google-cloud-python/tree/0.18.4-prep

[2017-02-17 00:47] dhermes commented on #3006
#3035 is most of the "intellectual way" towards this

[2017-02-17 08:11] nilleb commented on #1893
@jonparrott the vendor.add() are right, even if they look strange. I have progressed a little bit, but now I experience another problem, related to google.cloud.spanner...
[code]

[2017-02-17 10:45] ensonic opened #3037 "[pubSub] tell when to use subscription.reload()"
The [api docs](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub/subscription.py#L217) don't mention when one should use this api (when is my local config out of sync), e.g. is there are exception I should react to?

[2017-02-17 16:58] jonparrott commented on #1893
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893

@nilleb are you staying that spanner works after this?

[2017-02-17 17:01] tseaver commented on #3032
That one was yours, preparing the 0.18.3 release.

I deleted it.

That one is the base for the open #2889 PR.

[2017-02-17 17:16] dhermes commented on #3032
OK cool. I just deleted `0.18-deprecation` as well.

IMO we don't need to release `0.18.4`, and it's possible that the warning I added to https://pypi.python.org/pypi/gcloud/0.18.3 is sufficient?

[2017-02-17 17:44] nilleb commented on #1893
@jonparrott using the hack above, on my local development server, I am able to create databases and insert data. Not tested in production (just a POC).

[2017-02-17 17:46] daspecster commented on #1921
@waprin I think this is 90% done right? Just the Django piece left?

We could close this and just make the Django issue?

[2017-02-17 17:47] jonparrott commented on #1893
@nilleb I see, it definitely won't work in production. I'm surprised that it works locally.

[2017-02-17 17:47] daspecster opened #3040 "Exception Handling Design"
Created from https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2936.

@dhermes I wasn't 100% sure if you had this all planned out or not, but if there are pieces to it or design questions we could talk about it here instead of in PRs.

The idea(to the best of my knowledge) is to better handle exceptions between our services that handle multiple transports. There is also a differentia

[2017-02-17 17:50] dhermes commented on #3040
Sure. The only TODO I am aware of is:

- (At a high-level): Support [RPC status codes][1] for the transport exceptions we raise (this should be fine, since the HTTP errors usually/always? contain the RPC status code)

[1]: https://github.com/googleapis/googleapis/blob/cc80e9432f082553cb7e5af0b29cb8a89d9ffb46/google/rpc/code.proto#L33

[2017-02-17 17:53] daspecster commented on #3032
I think we should atleast change the classifier to [`Development Status :: 7 - Inactive`](https://pypi.python.org/pypi?%3Aaction=list_classifiers). (it is currently still set to `Development Status :: 4 - Beta`)

Also, I wen to https://pypi.python.org/pypi/gcloud/0.18.3 after not seeing it for a while and I didn't even notice the warning. Just my $0.02.

[2017-02-17 18:21] waprin commented on #1921
Yep, that and some maintenance (need to keep GAPIC up to date). But yeah I think we can close this and replace with Django error reporting (which I think is pretty low-priority anyway). Will make new issue.

[2017-02-17 18:21] #1921 closed

[2017-02-17 18:23] daspecster commented on #1921
Thanks @waprin!

[2017-02-17 18:37] nilleb commented on #1893
@jonparrott do you have an idea of when it will be ready for production?

Le 17 févr. 2017 6:47 PM, "Jon Wayne Parrott" <notifications@github.com> a
écrit :

@nilleb <https://github.com/nilleb> I see, it definitely won't work in
production. I'm surprised that it works locally.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/

[2017-02-17 18:41] jonparrott commented on #1893
I can't speak to timelines, but it's on our radar.

[2017-02-17 18:43] waprin opened #3041 "Make Django Error Reporting Helper"
Tracking issue for a low priority nice to have feature.

Create a helper so that when an unhandled exception is thrown in a Django app, make the stack trace show up in Stackdriver Error Reporting.

See the Flask helper as en example.

[2017-02-17 21:28] tseaver commented on #3032
Fine by me.  I deleted that branch after you closed #2899.

[2017-02-17 21:28] #3032 closed

[2017-02-17 21:36] tseaver commented on #3037
@ensonic Thanks for the report!

The two bits of state which `Subscription.reload()` fetches from the server are the `ack_deadline` and `push_endpoint` attributes.  "Normal" use of the subscription (pulling events) isn't affected by those variables.  Any time your app *does* need to know their values for some reason (e.g., before calling `modify_push_endpoint()` to see what the current state is),

[2017-02-17 22:20] tseaver commented on #3011
OK, my theory is that the clock resolution on the Appveyor Windows host is weird, such that successive calls to `datetime.datetime.utcnow()` are returning the same time, which makes the priority queue switch to the mock session to distinguish between entries.

I can work around the test failure by making `_Session` total-orderable:  likely I need to ensure that the "real" `Session` class can be or

[2017-02-18 16:44] #3011 closed

[2017-02-18 20:38] dhermes commented on #3011
Victory: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1079.master

[2017-02-20 08:51] gjanvier commented on #2995
I could, but actually I found a better "workaround" which is - I think - the right way to do it.

I wrote some python to handle the upload of my files on google storage because it made things simpler, as all of my operations were python. Now I've just abandonned that, and execute a `gsutil cp` instead. It works great, and even faster with parallel uploads.

I'll keep the google-cloud-python libs o

[2017-02-20 08:51] #2995 closed

[2017-02-21 05:22] dhermes commented on #3011
A "sporadic" failure: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1081.master/job/rl8ms6nhw1gibeb1

@tseaver It seems very possible that the culprit is a unit test that talks to the backend on accident

[2017-02-21 05:22] #2915 closed

[2017-02-21 09:33] ensonic commented on #1436
It is also happening on local machine using Ubuntu 14.04 LTS - from pip freze:
[code]
[code]

[2017-02-21 09:44] ensonic commented on #1835
Friendly ping.
[code]
but still not covered in https://googlecloudplatform.github.io/google-cloud-python/stable/pubsub-topic.html

[2017-02-21 14:42] tseaver commented on #3011
I don't think so in this case:  the database and spanner_api objects are completely mocked out.  I think what is happening is that the Appveyor machine is slow / loaded enough such that the very low retry timeout (0.01 seconds) is cutting the retry loop off before the first retry.  We can try raising that timeout (maybe 50 ms vs. 10?)

[2017-02-21 16:01] dhermes commented on #1436
@ensonic Run `import google; print(google.__path__)` so see what the problem is. The usual suspect here is that you have a "bad" package breaking the `google` namespace. (The fact that you have the very old `gcloud` co-tenant with `google-cloud` isn't a good sign.)

[2017-02-21 16:02] dhermes commented on #3011
Why don't we also mock the retry?

[2017-02-21 16:41] ensonic commented on #1436
@dhermes
[code]

which ones should I get rid of - the 'grpc-google-*' or 'gapic-google-*'

[2017-02-21 16:46] dhermes commented on #1436
Neither need be gotten rid of AFAIK. From there you'd want to poke around in `/usr/local/lib/python2.7/dist-packages/google/__init__.py` and see if it is a namespace package or otherwise (you also need to look around for (maybe bad?) `.nspkg` files in your site-packages

[2017-02-21 17:00] tseaver commented on #3011
The whole point of that test is to ensure that `run_with_transaction` *does* retry on a gRPC ABORT.

[2017-02-21 18:05] dhermes commented on #3011
No worries. Just want to make sure the test is deterministic.

[2017-02-21 18:28] tseaver commented on #3011
`run_with_transaction(callback)` sets up a transaction and passes it to `callback`, and afterwards attempts to commit the transaction.  While the `commit` back-end raises `ABORT`, and the user-supplied timeout has not expired, it retries.

In order to exercise the retry loop without adding too much delay, I set the timeout to 10 msec.  I didn't think it would be possible for the following to take

[2017-02-21 18:29] dhermes commented on #3011
Why does the timeout play any role?

[2017-02-21 18:56] dhermes commented on #3006
Remaining APIs:

- [ ] `bigquery`
- [ ] `datastore`
- [ ] `dns`
- [ ] `error_reporting`
- [ ] `language`
- [ ] `logging`
- [ ] `monitoring`
- [ ] `pubsub`
- [ ] `resource_manager`
- [ ] `runtimeconfig`
- [ ] `speech`
- [ ] `storage`
- [ ] `translate`
- [ ] `vision`

[2017-02-21 19:37] tseaver commented on #3011
The `run_with_transaction` method keeps retrying until the user-supplied timeout expires.  In the failing test, the timeout expired unexpectedly during the first run of the callback, which led to the assertion failure:  there was no retry.

[2017-02-22 00:49] dhermes commented on #3011
Got it. Can we mock out the part that decides when to retry so it doesn't rely on elapsed time (which is what makes it nondeterministic)?

[2017-02-22 08:22] forsberg commented on #2683
Upgraded my stack to google-cloud-pubsub==0.22.0. Error is still present, traceback/error message is slightly different. Here's a fresh one:

    ERROR 2017-02-22 08:16:31,484
    Traceback (most recent call last):
      File "/opt/ospdatasubmit/virtualenvs/ospsubmit.opera.com/v1/local/lib/python2.7/site-packages/ospgcptools/pubsub/__init__.py", line 327, in flush
        self.pubsub_topic.publish

[2017-02-22 11:40] vkedia commented on #3020
@tseaver @lukesneeringer
Backend has been fixed to return empty response. You should be able to remove BrokenOperationFuture now.

[2017-02-22 14:18] ensonic commented on #3037
Thanks for the info. The reason I looked at the API was that I wonder if a subscription can go 'stale'. I have a case where a subscriber seems to be getting 'old' messages. The subscriber is ack'ing the messages. By 'old', I mean the message.service_timestamp is e.g. 3 hours behind. E.g.
[code]
Each topic is published by a gke instance. When I log into each instance the clock is looking alright. T

[2017-02-22 15:26] lukesneeringer commented on #3020
@vkedia Thanks!

[2017-02-22 15:40] #3006 closed

[2017-02-22 15:40] tseaver commented on #3011
Have a look at the [MUT](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0cb9e5346139af2dc15bf5e8b31a58a65b792204/spanner/google/cloud/spanner/session.py#L287-L314) (`Session.run_in_transaction`) *is* the bit that makes the decision.

[2017-02-22 16:16] dhermes commented on #3011
@tseaver Maybe that's an indication that a re-factor would be useful?

[2017-02-22 16:24] tseaver commented on #2391
Should we update the `USER_AGENT` header to include the new `__version__` headers added in #3046?

[2017-02-22 16:26] dhermes commented on #2391
@lukesneeringer Seemed to indicate that it wasn't as relevant. It might be a non-trivial code change? I'm not sure if the individual packages allow over-riding the user agent. At the very least it'd be a breaking change if we moved from `self.USER_AGENT` to a key-value pair in `_EXTRA_HEADERS`.

[2017-02-22 16:41] lukesneeringer opened #3049 "GAX headers"
This is a tracking meta-issue for adding the `gccl` header to the GAX side of each API client library:

Each PR should:

  * Add the `lib_name` and `lib_version` keyword arguments to the GAPIC client.
  * Bump the version of the client library to 0.23.0
  * Bump the GAPIC dependency to 0.15.0

Completion List:

  * [ ] ~Datastore~ (Putting this off.)
  * [x] Error Reporting (#3055)
  * [x] Logging

[2017-02-22 17:03] tseaver commented on #3000
@bussiere Can you point me to the URL of the rendered docs which have these errors?

All uses of `table.create()` on ReadTheDocs [latest](https://google-cloud-python.readthedocs.io/en/latest/bigquery-usage.html) and [stable](http://google-cloud-python.readthedocs.io/en/stable/bigquery-usage.html) and the Github-hosted pages [latest]() and [stable](https://googlecloudplatform.github.io/google-cloud

[2017-02-22 17:03] #3000 closed

[2017-02-22 17:10] #3037 closed

[2017-02-22 17:10] dhermes commented on #3025
@tseaver @daspecster We should tackle this. I'm not sure if there is another issue, but the RTD build has been b0rken for a few days:

https://readthedocs.org/projects/google-cloud-python/builds/

e.g.

https://readthedocs.org/projects/google-cloud-python/builds/5060236/

[2017-02-22 17:11] dhermes commented on #3025
OK the fix is easy, we just need to get all subpackages on the same version of `google-cloud-core`. DERP!

[2017-02-22 18:46] bjwatson commented on #3049
@lukesneeringer Logging and Datastore are most urgent to complete, since they're Beta already.

@dhermes What's the status of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2746? If we don't have the manual layer ported onto GAPIC, we're going to have to implement the full custom header (`x-goog-api-client`) in the manual layer.

[2017-02-22 19:38] tseaver commented on #3049
Datastore is still not GAPIC (although we've added the dependency).

[code]

[2017-02-22 19:41] tseaver commented on #3049
@lukesneeringer has `pubsub` in work.  I will tackle `logging` and `error_reporting` bits today.

[2017-02-22 20:48] tseaver commented on #2991
Wrinkles on the per-object API:

- The `storageClass` property can only be "set" during object creation.
- "Updating" a blob's storage class cannot be done via `PATCH`:  instead, one must perform a `rewrite`, passing the `storageClass` property dict in the body.

To handle this properly, we can't just re-use the `Bucket.storage_class` setter:  we should only allow setting the value if the object d

[2017-02-22 21:58] tseaver commented on #2991
Because we don't send along blob properties during `upload_*` operations (#754, #1660), there is no point in adding a `storage_class` setter at all.

[2017-02-23 00:54] dhermes commented on #3049
#2746 was my next priority after this issue. Since @lukesneeringer is taking the GAPIC ones to the finish line I can work on that now?

[2017-02-23 01:47] lukesneeringer commented on #3049
Yeah.

[2017-02-23 02:14] bjwatson commented on #3049
Thanks @dhermes!

[2017-02-23 09:49] ensonic commented on #2341
It doesn't really work:

[code]

if you do this you get:
[code]

If you leave out the subscription.create() part your get:
[code]

Having a subscription for *all* topics would be nice to work around the performance issues with pulling from many topics.

[2017-02-23 12:36] ensonic opened #3053 "[pubsub] subscription.pull(return_immediately=True, max_messages=10) is slow"
os: ubuntu:xenial (running on GKE)
python 3.5.2
library versions:
google-auth==0.6.0
google-auth-httplib2==0.0.2
google-cloud-core==0.22.1
google-cloud-pubsub==0.22.0
google-gax==0.15.6
googleapis-common-protos==1.5.2
grpc-google-cloud-pubsub-v1==0.14.0
grpc-google-iam-v1==0.11.1
grpcio==1.1.0

I wrapped code like this:
[code]
The running code produces a log like this:
[code]
What stands out for m

[2017-02-23 16:06] lukesneeringer commented on #3049
@omaray told us the exact opposite on Datastore; that it was _least_ urgent because they are not in Concord yet. Based on that, I was actually intending to let it wait until @dhermes did #2746.

[2017-02-23 17:22] tseaver commented on #2341
The back-end does not provide an API method for creating a subscription which binds to multiple topics.

Not passing a topic to the `Subscription` constructor (or passing `None`) [indicates that the topic for the subscription no longer exists](https://googlecloudplatform.github.io/google-cloud-python/stable/pubsub-subscription.html#google.cloud.pubsub.subscription.Subscription).  The only useful t

[2017-02-23 17:22] #2341 closed

[2017-02-23 17:34] tseaver commented on #3053
@ensonic I'm tagging this with the `back-end` tag because we don't have any visibility to server-side latency issues here:  this repository is just the client wrapper.

@tmatsuo Can you suggest anything?

[2017-02-23 18:26] dhermes commented on #1883
@jonparrott @lukesneeringer I have thought about this but written no code. The issue is that some clients don't ever use a project while some don't ever use `http`. I want to just combine `_ClientFactoryMixin` and `_ClientProjectMixin` but not all clients use a project, so we would only **optionally** pass project [with the args][1].

| Package          | HTTP | Project |
|:----------------:|:----

[2017-02-23 18:58] jonparrott commented on #1883
Optional project on every client seems fine with me.

Also, google-auth doesn't choke on ADC if it can't determine the project.

[2017-02-23 19:22] lukesneeringer opened #3058 "Documentation Issue"
From @bjwatson:

[2017-02-23 19:23] bjwatson commented on #3049
Ok, I would go with what @omaray said. :)

[2017-02-23 19:26] dhermes commented on #3058
See #3056 and #3025

[2017-02-23 19:31] bjwatson commented on #3025
This is a P0 issue that must be fixed ASAP. It's a poor user experience.

How can we avoid this with future `google-cloud-core` releases?

[2017-02-23 19:31] bjwatson commented on #3058
Closing. Duplicates https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3025.

[2017-02-23 19:31] #3058 closed

[2017-02-23 19:32] daspecster commented on #3025
@bjwatson #3056 should do it AFAICT.

[2017-02-23 19:38] dhermes commented on #3025
@bjwatson It's not the release, it's just a broken build.

[2017-02-23 19:43] daspecster commented on #3025
Looks like it's still broken :(
https://readthedocs.org/projects/google-cloud-python/builds/5066476/

[2017-02-23 19:43] dhermes commented on #3025
Jinx.

I think it's because of cached deps, so i'm blowing up the cache.

[2017-02-23 20:01] lukesneeringer commented on #3049
All items complete except Datastore. Closing this issue and tracking Datastore separately.

[2017-02-23 20:01] #3049 closed

[2017-02-23 20:05] protoforge opened #3060 "Streaming download for the storage API?"
I'm only seeing methods for downloading a blob to a file or string. Is there a stream method? This might be used for handling web requests or adding files to a zip archive.

[2017-02-23 20:13] daspecster commented on #3060
@protoforge I believe downloading [does support](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/d4d0abcab27b3f1aba9b56db4d643d5692230bd5/storage/google/cloud/storage/blob.py#L331) streaming.

Here's the [`download_to_file`](https://googlecloudplatform.github.io/google-cloud-python/stable/storage-blobs.html#google.cloud.storage.blob.Blob.download_to_file) docs.

I don't think that

[2017-02-23 20:17] dhermes commented on #3025
It **was** because of cached deps, but now it's because of an accidental [missing comma][1] in [`proto-google-cloud-pubsub-v1==0.15.0`][2].

@lukesneeringer is **on the case**!

[1]: https://github.com/googleapis/api-client-staging/blob/d0682de146e60af7fe1084d8b1a9906c63e5050b/generated/python/proto-google-cloud-pubsub-v1/setup.py#L13
[2]: https://pypi.python.org/pypi/proto-google-cloud-pubsub-v1/

[2017-02-23 20:43] lukesneeringer commented on #3025
Waiting on an LGTM and I will push the packages.

[2017-02-23 20:52] lukesneeringer commented on #3025
Packages to be added / pushed to 0.15.1 (proto only):

  * [ ] datastore (0.90.1)
  * [ ] error reporting
  * [ ] functions
  * [ ] language
  * [ ] monitoring
  * [ ] pubsub
  * [ ] spanner-admin-database
  * [ ] spanner-admin-instance
  * [ ] spanner
  * [ ] speech
  * [ ] vision

[2017-02-23 20:53] dhermes commented on #3025
Whoa that's a lot! Thanks @lukesneeringer

[2017-02-23 20:53] lukesneeringer commented on #3025
Sooner or later I am going to automate this... :-)

[2017-02-23 21:00] garye opened #3061 "Bigtable operation never completes after error in grpc._cython.cygrpc.plugin_get_metadata"
I'm working with a user to debug an issue in the following code:
https://gist.github.com/garye/1c273182ff7a27881396cd12931236a4

Once in a while when this code runs, the `read_rdc_item_data` function seems to hang at the `table.read_rows` call on line 94. It does not seem to be related to a particular query and no issue is visible on the bigtable server side. It does not seem easily reproducible o

[2017-02-23 21:03] jonparrott commented on #3061
The use of oauth2client indicates an older library, can you share which version is being used?

[2017-02-23 21:13] garye commented on #3061
Here's the output of `pip freeze`, looks like version 3.0.0
[code]

[2017-02-23 21:18] tseaver opened #3062 "Enable setting 'Blob.storage_class' before upload"
From #3051.

Because of #754, there currently is no point in allowing the user to set `storage_class` on a blob instance before uploading it:  the value won't be transmitted.  Once that issue is cleared, we should either: a) allow passing `storage_class` to `Blob.__init__`, or b) add a "setter" for the `storage_class` property (it would need to reject setting values for already-created blobs).  We

[2017-02-23 21:26] jonparrott commented on #3061
So two issues up front:

1. They shouldn't be using oauth2client, they should be using google-auth. This is handled automatically by the client library, so they can just remove their credentials logic and it should work.
2. They're 2 versions behind, the latest google-cloud-bigtable is 0.22.

[2017-02-23 21:43] protoforge commented on #3060
Thanks - Is there anything ill-advised in direct use of the Download class?

google.cloud.streaming.transfer -> Download

[2017-02-23 21:46] dhermes commented on #3060
Nothing really ill-advised but we won't really be supporting it / may be subject to change (in the near future)

[2017-02-23 22:30] lukesneeringer commented on #3025
All launched except Speech.

[2017-02-23 22:31] bjwatson commented on #3049
Thanks @lukesneeringer, @dhermes, and @tseaver! Can you let me know when packages are published with these updates? I assume that will be sometime today, due to the RTD issues.

[2017-02-23 23:34] lukesneeringer commented on #3025
Speech launched.

[2017-02-24 00:57] dhermes commented on #3025
Builds still failing, but it's because the umbrella package refers to versions other than the ones in source (this is an argument against getting too far out of sync)

[2017-02-24 01:44] Naveg commented on #2990
Is there a workaround for this? I can't install `google-cloud`

[2017-02-24 02:31] tseaver commented on #2990
@Naveg Thanks for updating with the workaround you found!

[2017-02-24 03:58] lukesneeringer commented on #2391
Doing nothing is fine here.

[2017-02-24 04:01] lukesneeringer commented on #2391
Also, oh hey, I bet this ticket is close-able. :-) #3046 pretty clearly supercedes it.

Closing. Re-open if there are any concerns.

[2017-02-24 04:01] #2391 closed

[2017-02-24 04:09] lukesneeringer commented on #3025
Okay. Let's make a concerted effort to get this across the finish line tomorrow morning.

[2017-02-24 04:29] lukesneeringer commented on #1883
Fine with me as long as it can be done without a breaking change. I am not keen to have a 0.23 to 0.24 path that is as painful as this one.

[2017-02-24 04:29] lukesneeringer commented on #2990
Yeah, my problem turned out to be unrelated and I forgot about this ticket. Re-closing.

[2017-02-24 04:29] #2990 closed

[2017-02-24 15:53] jlowin opened #3067 "Expose BigQuery scopes"
The default [scopes](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L75) for the BigQuery Client do not include Google Drive, which makes it difficult to access federated data sources in Google Sheets.

This can be worked around by manually constructing service account credentials with the appropriate scopes but that feels cumbersome

[2017-02-24 16:15] daspecster commented on #3067
I don't believe that Google Drive is directly support to import data from for BigQuery.

This is the list of supported sources that I'm aware of.
https://cloud.google.com/bigquery/loading-data

[2017-02-24 17:36] dhermes commented on #3067
@tswast Can you comment?

[2017-02-24 17:40] #2404 closed

[2017-02-24 17:42] dhermes commented on #1883
In some sense it **can't** be done **without** breaking some behaviors. It would add `project` as a keyword (unless `'project' in kwargs`). So this would magically change some people's code's behavior, but it's the right change for us.

[2017-02-24 17:46] tswast commented on #3067
Google Drive is in fact a supported federated query source. https://cloud.google.com/bigquery/external-data-sources#creating_an_external_table_using_google_drive

I don't think it should in the default scopes, but we definitely need a way to amend the scopes used in the client. This will be an issue for any of the external data sources described in https://github.com/GoogleCloudPlatform/google-clo

[2017-02-24 18:29] jlowin commented on #3067
@tswast I agree it shouldn't be in the default set, but it would be great to be able to flag it from the default `Client`. That was it could also be passed as a kwarg to `bigquery.Client.from_service_account_json()` without modification.

[2017-02-24 18:31] jlowin commented on #3067
@daspecster I think the reason it isn't listed there is because unlike GCS files, GDrive files (including Google Sheets) can only be external -- not loaded as native tables.

[2017-02-24 22:58] dhermes commented on #3025
Still b0rken but now it's not our fault: https://readthedocs.org/projects/google-cloud-python/builds/5071900/

[code]

@lukesneeringer and I are aware of this, but we weren't aware it'd keep RTD from building

[2017-02-24 23:57] bjwatson commented on #3025
At least the `/latest/` RTD is showing content now: https://googlecloudplatform.github.io/google-cloud-python/latest/datastore-usage.html

[2017-02-25 00:27] daspecster commented on #3025
@bjwatson I was looking at `/latest/` the other day and it was fine? Was there a time when it wasn't showing content?

[2017-02-25 00:33] dhermes commented on #3025
@bjwatson That isn't RTD, this is: http://google-cloud-python.readthedocs.io/en/latest/datastore-usage.html

[2017-02-25 00:39] bjwatson commented on #3025
Ugh, you're right. Sorry, I'm juggling too many things at once right now.

Is there a plan to resolve the remaining issue?

[2017-02-25 00:39] bjwatson commented on #3025
@daspecster Yes.

[2017-02-25 00:48] lukesneeringer commented on #3025
Yeah, I know what needs to happen to fix that.

[2017-02-25 00:51] bjwatson commented on #3025
Ok, cool.

[2017-02-25 00:52] lukesneeringer commented on #3025
Correction: It is every `proto-` package, so after I fix it I will have to regenerate all of them, and every GAPIC.

[2017-02-25 00:52] bjwatson commented on #3025
Got it. Will we make `grpc` an option for every `proto-` package?

[2017-02-25 00:53] lukesneeringer commented on #3025
Yeah, that is exactly what needs to happen. We thought we were thorough when we changed grpc to optional but clearly I made a small mistake here.

[2017-02-25 01:01] lukesneeringer commented on #3025
Another note: A high priority needs to be that RTD builds from CI. We need to know about failures without having to check RTD.

[2017-02-25 01:10] lukesneeringer commented on #3025
Correction to my correction: Just Datastore.

[2017-02-25 01:54] dhermes commented on #3025
@lukesneeringer We do build `docs` on CI, we just use different flags than RTD uses.

[2017-02-25 20:13] supertom opened #3070 "[Spanner] credentials object not passed into InstanceAdminAPI"
Hi Folks,

I don't see that the credentials I pass into the Spanner Client are being used for the [InstanceAdminClient](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/f4cb0eeea38606e90c86391e559526d9bffbd4b0/spanner/google/cloud/spanner/client.py#L156) or [DatabaseAdminClient](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/f4cb0eeea38606e90c86391e559526d9bffbd4b0/

[2017-02-25 21:41] anantb commented on #3022
This would be important for us to migrate to Spanner. We use Google Cloud (GKE) but for databases, we still use Amazon Aurora. All of our database access is through sqlalchemy so whenever spanner becomes compatible with sqlalchemy, we'd love to migrate to Spanner.

[2017-02-25 21:55] kevmo314 opened #3071 "AttributeError: 'str' object has no attribute '_credentials'"
Hi, I'm trying the example code and it's failing with the following exception:

[code]

Reading the source, this seems like a rather obvious error:

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/error_reporting/google/cloud/error_reporting/client.py#L162

`self._project` is a string and at https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/error_reporti

[2017-02-25 22:26] VelizarVESSELINOV opened #3072 "storage get_blob very frequent exception '503 Service Unavailable'"
If you can provide us with as much of the following information as possible it
will help us identify the cause of your issue more quickly.

1. GCP VM: `Linux ptk-parsing2 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
2. Python: `3.5.2`
3. google-cloud-python version `0.23.0`
4. Stacktrace:
[code]
5. Steps to reproduce: create a program that is reading

[2017-02-26 05:24] VelizarVESSELINOV commented on #3072
Same for `InternalServerError`. It will be nice if you can catch your internal errors and retry instead to propagate the error to the external user of the library

[2017-02-26 17:30] dhermes commented on #3071
I would agree, it **does** seem like a rather obvious error. Thanks for reporting!

In the meantime, you can avoid this by setting `GOOGLE_CLOUD_DISABLE_GRPC=True`, but we'll get a fix out.

[2017-02-26 17:30] dhermes commented on #3071
/cc @waprin @jonparrott

[2017-02-27 15:12] drzero42 opened #3076 "AttributeError when calling storage.bucket.exists"
[code]

When I use the exists method on a bucket, the above AttributeError is produced. It does not matter if the blob actually exists or not.

[2017-02-27 15:49] yogeshesoft opened #3077 "No module named proto.datastore.v1"
We just installed google cloud SDK and all with the below list of cmds, still we are facing the issue like ImportError: No module named proto.datastore.v1, we try to deploy and running Flask  app-engine flexible environment in localhost

The issue we are facing in Windows OS and python 2.7.9

pip install --upgrade google-cloud-datastore
pip install gapic-google-cloud-datastore-v1
pip install googl

[2017-02-27 16:00] daspecster commented on #3077
@yogeshesoft I'm guessing that there is something contaminated in your environment.

You might try creating a new virtualenv and seeing if the issue clears up.

If that doesn't resolve the issue, could you post the output of `pip freeze` so we can see what versions of the packages are installed?

[2017-02-27 16:29] #3071 closed

[2017-02-27 17:26] dhermes opened #3078 "Logging system tests broken"
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/205851892#L2768

[code]

Preliminarily assigning to Luke.

[2017-02-27 17:32] dhermes commented on #3076
@drzero42 Check out the docs for `bucket.exists()`. It takes an optional client and you passed in a string in that place. This method is intended to check if the **bucket** exists. If you want to check if a blob / storage object exists:

[code]

[2017-02-27 17:32] #3076 closed

[2017-02-27 17:45] daspecster commented on #3072
@VelizarVESSELINOV thanks for the report!

I referenced this issue in #2694. I'm going to close this for now and track over there unless you feel the need to open it again.

[2017-02-27 17:45] #3072 closed

[2017-02-27 17:46] #3026 closed

[2017-02-27 17:47] daspecster commented on #3025
We had one build pass a couple days ago but we're back to this it looks like.
[code]
See: https://readthedocs.org/projects/google-cloud-python/builds/5080674/

[2017-02-27 18:33] garye commented on #3061
Thanks a lot, Jon. The user is going to upgrade to google-auth and google-cloud-bigtable 0.22 and attempt to reproduce in the next day or two.

[2017-02-27 20:29] lukesneeringer commented on #3078
Yep, that belongs to me. Thanks.

[2017-02-27 20:50] #2991 closed

[2017-02-27 22:30] lukesneeringer commented on #3025
@dhermes You said this is fixed, correct?

[2017-02-27 22:31] lukesneeringer commented on #2991
@tseaver This change is purely additive, correct? I can cut a `storage 0.23.1` safely?

[2017-02-27 22:35] dhermes commented on #3025
As of https://readthedocs.org/projects/google-cloud-python/builds/5081679/ it seems to be fixed (a new build after it also passed: https://readthedocs.org/projects/google-cloud-python/builds/5081815/)

[2017-02-27 22:35] #3025 closed

[2017-02-27 23:24] hoootsli commented on #2573
@dhermes we used the same approach as you suggested to avoid that default credentials have to be set in emulator mode:

However, we recently updated to the version that contains [this code](https://github.com/GoogleCloudPlatform/google-cloud-python/blame/master/core/google/cloud/client.py#L119-L122) which checks that the credentials are either `None` or an instance of `google.auth.credentials.Cred

[2017-02-27 23:27] #3078 closed

[2017-02-28 00:05] dhermes opened #3080 "Non-deterministic unit test (test_run_in_transaction_w_timeout)"
The [failure][1] is:

[code]

Observed failures:

1. https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1064
1. https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1143.master/job/x22vv8q3ftl2to1o
1. https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1144.master/job/awpf0vg10pknev8i
1. https://ci.appveyor.com/project/GoogleC

[2017-02-28 01:07] kylemcdonald opened #3081 "Add startIndex to bigquery.table.Table.fetch_data"
The API describes a `startIndex` parameter for the ["Tabledata: list" endpoint](https://cloud.google.com/bigquery/docs/reference/rest/v2/tabledata/list). But the implementation [doesn't include this parameter](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/table.py#L645). An example of a class does implement a `startIndex` parameter is [bigque

[2017-02-28 09:27] drzero42 commented on #3076
@dhermes Ahh, sorry, my bad. Read the docs wrong. Thank you.

[2017-02-28 11:57] eyalev commented on #2539
I'm having the same problem. Can't create a new project.

Error:
[code]

[2017-02-28 15:19] daspecster commented on #2539
@lukesneeringer do you know if this is available to use or is it restricted/unavailable?

[2017-02-28 15:41] eyalev commented on #2539
@daspecster maybe it's related to the `v1beta1` part?
`https://cloudresourcemanager.googleapis.com/v1beta1/projects`

Shouldn't the lib use the stable API?

[2017-02-28 15:49] daspecster commented on #2539
@eyalev, that endpoint depends on what is available from the services upstream.
It looks like [projects are only at `v1beta1`](https://cloud.google.com/resource-manager/reference/rpc/google.cloudresourcemanager.projects.v1beta1) upstream.

Currently 4 of the services in this library are Beta and the rest are still in [Alpha](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/c090fb5f0

[2017-02-28 16:32] lukesneeringer commented on #2971
This ended up being solved by [this pull request][1] in googleapis-common-protos.

  [1]: https://github.com/googleapis/api-client-staging/pull/159

[2017-02-28 20:02] lukesneeringer commented on #3077
Nope, that is a problem with us actually. If you upgrade `proto-google-cloud-python-datastore-v1` and `gapic-google-cloud-python-datastore-v1`, it should be fixed.

Feel free to reopen if that does not work for you.

[2017-02-28 20:02] #3077 closed

[2017-02-28 20:05] lukesneeringer commented on #3081
Thank you for opening the issue. We will look into it and get back to you soon.

[2017-02-28 20:06] lukesneeringer commented on #3070
Thanks for raising this issue. It looks like a bug; we will look into it soon.

[2017-02-28 20:09] lukesneeringer commented on #3061
@garye Closing this for now; feel free to re-open if upgrading does not solve your problem.

[2017-02-28 20:10] danoscarmike commented on #3060
Closing issue as resolved.

[2017-02-28 20:10] #3060 closed

[2017-02-28 20:10] lukesneeringer commented on #3053
We are planning this in the near future.

[2017-02-28 20:24] lukesneeringer commented on #3001
I will reroute this to the BigQuery folks.

[2017-02-28 20:27] lukesneeringer commented on #2997
@waprin Can you provide me with some clarity on this? Does this need to be fixed, or is it working as intended?

[2017-02-28 20:28] lukesneeringer commented on #2983
In the interest of sane management overhead, closing this in favor of #2993.

[2017-02-28 20:28] #2983 closed

[2017-02-28 20:28] lukesneeringer commented on #2988
Note: Related to #2993.

[2017-02-28 20:35] lukesneeringer commented on #2949
Hi @cristicbz,
I am going to go ahead and close this ticket for now -- unfortunately, our clients are not thread-safe. We are working on a fix to this, and hopefully they will be soon. :-)

[2017-02-28 20:35] #2949 closed

[2017-02-28 20:36] lukesneeringer commented on #2943
Is this a duplicate of #2951? (It seems like it is, but I am hesitant to close without being sure.)

[2017-02-28 20:37] lukesneeringer commented on #2932
Hi all,
I am going to go ahead and close this ticket, as it does not represent active work for us. If you decide to open a PR, we would be happy to work to get it in! :-)

[2017-02-28 20:37] #2932 closed

[2017-02-28 20:38] lukesneeringer commented on #2931
@tswast What actually needs to be done on this?

[2017-02-28 20:41] lukesneeringer commented on #2926
@ivvory Thank you for your submission.
Unfortunately, I am unsure what it is you want us to change. Would you be willing to rephrase?

[2017-02-28 20:41] bjwatson commented on #2927
@lukesneeringer says this is blocked on httplib2 work.

[2017-02-28 20:42] lukesneeringer commented on #2920
Hey Tim,
Has this come out of the experimental phase yet?

[2017-02-28 20:50] #2842 closed

[2017-02-28 20:51] #2838 closed

[2017-02-28 20:52] lukesneeringer commented on #2819
@waprin I think we have this now, correct? (If so, let me know so I can close this; if not, what is the priority on it?)

[2017-02-28 20:53] #2810 closed

[2017-02-28 20:53] lukesneeringer commented on #2804
Since we believe this has already been fixed, I am going to close this. Please re-open if it is still an issue on the current version of the library.

[2017-02-28 20:53] #2804 closed

[2017-02-28 20:54] #2785 closed

[2017-02-28 20:55] lukesneeringer commented on #2780
@waprin Can you provide me some guidance on this issue? Do I need to leave it open? Is there something we intend to change in the future, or is the correct answer to provide a workaround.

[2017-02-28 20:56] danoscarmike commented on #2774
Batching code is an elegant solution and is already in master and latest release

[2017-02-28 20:56] #2774 closed

[2017-02-28 20:58] lukesneeringer commented on #2772
@dhermes Is this a problem with the docs, or the example snippets?

[2017-02-28 20:59] jonparrott commented on #2772
The samples all use `client_instance.key()` not `datastore.Key()`.

[2017-02-28 20:59] flunderpero commented on #2780
@waprin: Your solution worked.

In the mean-time we just went to logging JSON-formatted messages directly to STDOUT (we're using GKE) and that works like a charm - no more background-threads (all of our application code is single-threaded on purpose).

Thanks for the help!

[2017-02-28 20:59] lukesneeringer commented on #2768
I would prefer not update the client libraries to reflect private alpha features. If the feature is publicly available, feel free to raise a new issue.

[2017-02-28 20:59] #2768 closed

[2017-02-28 21:02] waprin commented on #2997
@lukesneeringer

tl;dr: It's working, but via an unofficially supported mechanism, and so it needs to be fixed, which I can do.

Longer story:

These are for the Python standard logging handlers, which is not the main API interface we document, it's just a helper that I added. I documented  it under "Additional tools" in the Cloud docs and a section at the bottom of these Github docs.

As mentione

[2017-02-28 21:07] waprin commented on #2780
@flunderpero cool glad that worked...if you were on GKE then that default handler is supposed to pick up a GKE handler that writes in the expected JSON format which captures things like severity, but maybe you don't care.

@lukesneeringer there is no bug, it's just if you don't read the docs carefully you can use the handler incorrectly. Jon had some ideas about how we could use logging filters to

[2017-02-28 21:07] #2780 closed

[2017-02-28 21:25] waprin commented on #2819
Yes, I will still need to add some memory stats but that will also be a small change.

[2017-02-28 21:26] waprin commented on #2819
I think priority is probably P2 or P3 hence the chipping away in free cycles but it's close to done, will close after.

[2017-02-28 22:04] lukesneeringer commented on #2772
So, problem with internal docs, got it. Thanks.

[2017-02-28 22:07] lukesneeringer opened #3083 "RetryErrors obscure actual errors."
@daspecster Please take a look at [this issue][1].

Instead of raising a retry error saying that we got an error that was not classified as transient, can we just re-raise the original error? What is there now is a nightmare for debugging.

  [1]: https://github.com/GoogleCloudPlatform/python-docs-samples/issues/833

[2017-02-28 22:10] lukesneeringer commented on #2997
@waprin That sounds good. Thank you so much.

[2017-02-28 23:00] daspecster commented on #3083
Interesting, I'll see if I can track it down.

[2017-03-01 00:39] tswast commented on #2931
I believe the labels property needs to be added to both Dataset and Table.

[2017-03-01 00:54] speedplane opened #3085 "Intermittent Cloud Datastore Error: Unauthorized: 401 ... Unable to find the server at accounts.google.com"
I am getting regular, but intermittent errors when using GCL to read from the datastore. The stacktrace is below. I am running Python 2.7 on Ubuntu.

I get this error only occasionally when I call the `get_multi` function. It is intermittent and looks like it could be a network error based on the very last line (`Unable to find the server at accounts.google.com.`). I am making thousands of calls t

[2017-03-01 02:18] daspecster commented on #3085
@speedplane, if it's intermittent, I would lean towards a networking flutter. If you retry does it succeed?

[2017-03-01 07:07] speedplane commented on #3085
@daspecster Normally, I would agree, but this is happening far too often to be a flutter. The image below is a short log of the cases in which I am seeing this, notice how often it occurs. Further, it would be a bit disconcerting if a Google service cannot reach accounts.google.com, I would expect the internal google network to be pretty good. Finally, I am getting a 401, not a 503, suggesting tha

[2017-03-01 12:42] ivvory commented on #2926
@lukesneeringer sorry for bad explanation. Let me try again. The problem is that when i was trying to use autodetect feature to upload data without the schema i faced with a problem the feature doesn't work correctly. I tried to use autodetect by passing empty schema, because didn't find how to use it through the client directly. By the way I decided to pass jobs myself specifying params manually.

[2017-03-01 15:27] lukesneeringer commented on #2926
@ivvory Thanks, that makes sense. Thank you.

[2017-03-01 23:31] dhermes commented on #2943
@tswast Can you confirm / deny the duplicateness?

[2017-03-01 23:41] tswast commented on #2943
These two issues look like duplicates to me, too.

[2017-03-02 08:20] MarSoft commented on #2990
# Workaround / Fix
[code]
With `setuptools=34.3.0` the problem is no longer there.

[2017-03-02 08:26] briandeheus opened #3088 "Django freezes when using Stackdriver logging"
OS: `MacOS 10.11.6`
Python: `Python 2.7.10`
Package:
[code]

## Steps to reproduce

1. start a new Django project
2. set up your logging as follows:
[code]

Your app will freeze after a few seconds. I've narrowed it down by adding some print statements to the stackdriver module:

[code]

The Worker class has some modified methods to achieve this:

[code]

I've tried both the `SyncTransport` and th

[2017-03-02 16:16] daspecster commented on #3088
Thanks for reporting @briandeheus!

@waprin's the most familiar with this service I believe. WDYT @waprin?

[2017-03-02 16:46] tseaver commented on #3022
(Expanding on my note in the description)

I'm pretty sure that it is premature to tackle the DB-API mapping before the back-end adds support for DML:  I can't see a huge demand for DB-API for query-only usecases, and we won't be DB-API compliant without e.g.  working `commit()` and `rollback()` methods on the connection object.

OTOH, the implementation of `Cursor.execute{,many}` won't actually c

[2017-03-02 16:58] bjwatson commented on #2746
@lukesneeringer @dhermes If we're blocking the `x-goog-api-client` header updates on this issue, then it's `P0`.

[2017-03-02 17:33] dhermes commented on #2746
@bjwatson Those are already in for HTTP. I can get them in to the gRPC transport before the process is finished (#3066 and #3064 will give you an idea of what the process looks like).

[2017-03-02 19:39] bjwatson commented on #2746
Ok, thanks Danny!

[2017-03-02 19:49] ensonic commented on #3053
@lukesneeringer what are you planning in the near future? Any comment on why the pull invocations are slow, especially when there are no messages?

[2017-03-02 19:50] anantb commented on #3022
This sounds awesome. DB-API mapping won't be useful for any real usage until DML is supported but I think, we would be able to at least test the query-only use case.

[2017-03-02 22:11] lukesneeringer commented on #2943
Okay. I marked the other one as important, and am going to close this one for personal sanity / tracking. :-)

[2017-03-02 22:11] #2943 closed

[2017-03-03 14:07] vijaypalmanit commented on #1304
still not resolved for me, although i followed the same steps

[2017-03-03 14:22] vijaypalmanit commented on #1570
deleting all the files with name and path site-packages/googleapis***********
for the folder 'site-packages' worked for me.

[2017-03-03 15:41] daspecster commented on #1304
Glad to hear you got it working @vijaypalmanit.

Reference: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1570#issuecomment-283965389.

[2017-03-03 17:29] dhermes opened #3090 "Low-level transport objects should not be public @property-s"
The majority (11 of 12) low-level API `@property`-s that we use are surfaced publicly on the client. This is not intended, right?

[code]

Other than vision, the non-GAPIC APIs that happen to use gRPC **do not** surface the properties publicly:

[code]

[2017-03-03 17:30] dhermes commented on #3090
@lukesneeringer Note that `pubsub` and `logging` have these as part of their "Beta" interface, which we don't want to break?

[2017-03-03 17:40] lukesneeringer commented on #3090
I would prefer leave this as-is, for a few reasons:

  (1) We do want it to be considered acceptable to use the GAPIC APIs for advanced cases.
  (2) I want to move Veneers toward being lighter weight in the future; adding convenience methods where needed but being less opinionated about responses. That probably is not going to happen with any existing Veneer (because it would be surface breaking i

[2017-03-03 17:55] waprin commented on #3088
Not sure will try to repro.

[2017-03-03 18:10] daspecster commented on #2957
@inkrement I haven't been able to reproduce this locally. Are you on the latest version of the library?

[2017-03-03 21:57] tseaver commented on #2991
@lukesneeringer Sorry for the lag:  yes, it is purely additive.

[2017-03-03 22:12] lukesneeringer commented on #2991
@tseaver No worries, and thanks. I will probably cut minor updates to things on Monday morning.

[2017-03-03 22:26] tseaver commented on #2991
@lukesneeringer It occurs to me that calling the release `0.23.1` is actually a semver violation:  it isn't a bugfix, but a feature addition.

[2017-03-03 23:11] lukesneeringer commented on #2991
My understanding is that semver is picky about that post `1.0`, but less so in the `0` phase.
I have basically been using the middle-number bump for breaking changes, because we version using `>=0.23.x, <0.24`, and for these types of changes, my goal is to opt people in automatically.

Open to another approach.

[2017-03-04 00:11] daspecster commented on #2991
I talked to @lukesneeringer a tiny bit about this offline. I think we don't have a solid plan of how versioning should work since we split out the services from `gcloud`. I could be wrong but I think the umbrella package should be incrementing a lot faster and be at a higher number now?

[2017-03-04 03:48] dhermes commented on #3080
Another example (from a different CI provider): https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1143.master/job/x22vv8q3ftl2to1o

[2017-03-04 12:20] jacobtomlinson opened #3097 "Speech throwing DistributionNotFound error"
### OS
`MacOS Sierra`

### Python
`Python 2.7.11`

### pip freeze
[code]

### Stacktrace
[code]
### Steps to reproduce

[code]

[2017-03-04 12:48] inkrement commented on #2957
I installed it directly from the pip repository. But I don't use the library anymore so I don't know :/

[2017-03-04 14:51] dhermes commented on #3097
It definitely doesn't exist: https://pypi.python.org/pypi/gapic-google-longrunning-v1

This package does: https://pypi.python.org/pypi/gapic-google-longrunning

Now this error [is in `google-gax`][1]?

/cc @lukesneeringer

[1]: https://github.com/googleapis/gax-python/blob/56210906ca979c1b768c535c5c2f64e490d5530e/google/gapic/longrunning/operations_client.py#L153-L155

[2017-03-04 16:40] tseaver commented on #3097
https://github.com/googleapis/gax-python/issues/170

[2017-03-04 18:15] lukesneeringer commented on #3097
Fixing. That is an autogen problem.

[2017-03-04 18:26] lukesneeringer commented on #3097
Will be fixed as soon as https://github.com/googleapis/gax-python/issues/171 is approved and passes CI (if either of you want to give it a once-over, I would appreciate it).

[2017-03-04 18:29] lukesneeringer commented on #3097
I also added googleapis/gax-python#172 so that we fix our automated testing to catch this sort of thing.

[2017-03-04 18:30] lukesneeringer commented on #2957
@daspecter Make sure there is a test for this case. If there already is, point to it and close this. If there is not, make one and post a PR.

[2017-03-04 19:24] lukesneeringer opened #3098 "Language System Tests throwing Errors"
Our semi-last-minute change to remove `wikipedia_url` as a first-class property is not reflected in system tests. I need to fix this.

[2017-03-04 20:27] frankyn commented on #3097
@lukesneeringer is there a workaround while the PRs are in flight?

[2017-03-04 20:39] lukesneeringer commented on #3097
@frankyn I actually already pushed a `google-gax==0.15.8` to PyPI (since I acknowledge that it is Saturday and the review process will be slow, and it broke an entire library).

[2017-03-04 20:41] dhermes commented on #3080
Moar: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1144.master/job/awpf0vg10pknev8i

[2017-03-04 20:42] frankyn commented on #3097
Thanks @lukesneeringer !

I have a student stuck on this issue. Should the student be okay with running the following?

`pip install --upgrade google-cloud-speech`

[2017-03-04 20:43] lukesneeringer commented on #3097
I cannot remember for sure if `--upgrade google-cloud-speech` will implicitly update every dependency, and the gax version is still pinned at `>= 0.15.6` right now.

You can try it. If it does not work, do the command I gave above.

[2017-03-04 21:20] frankyn commented on #3097
Ah, I didn't see that. Thanks @lukesneeringer!

[2017-03-04 22:01] lukesneeringer commented on #3097
@jacobtomlinson Can you confirm that you are unblocked? If so, I will close this.

[2017-03-04 22:05] jacobtomlinson commented on #3097
@lukesneeringer Yep! That's great thanks.

[2017-03-04 22:05] #3097 closed

[2017-03-05 03:13] brianjpetersen opened #3099 "Setting Content-Encoding header for Cloud Storage Uploads with upload_from_file"
I'm on Python 3.5.2 with ```google.cloud.storage.__version__ = '0.23.0'```.

I'm attempting to upload objects to a bucket such that the object supports [decompressive gzip transcoding](https://cloud.google.com/storage/docs/transcoding).  I haven't been able to figure out how to accomplish this after searching through the documentation and the code as well as reviewing existing issues.  My most pro

[2017-03-05 20:14] viktort commented on #2729
Where is this at? Sounds like an awesome addition to the python sdk

[2017-03-06 03:23] dstufft opened #3100 "Invalid JWT Token when using Service Account JSON"
1. OS type and version

macOS Sierra running a Debian Jessie Docker Container

2. Python version and virtual environment information `python --version`

CPython 3.5.0, no virtual environment

3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

google-cloud-bigquery==0.23.0

4. Stacktrace if available

[code]

5. Steps to reproduce

Try to query anyt

[2017-03-06 14:42] daspecster commented on #2957
I believe this is covered in [this](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7b0188f07b296b76e012fed7e1f6a12402117f5f/system_tests/bigquery.py#L283) system test.

[2017-03-06 16:38] dhermes commented on #3100
First, thanks for all the work you do on packaging @dstufft!

@jonparrott Any ideas? @dstufft This probably belongs in https://github.com/GoogleCloudPlatform/google-auth-library-python/, but let's discuss here first.

I've seen an issue where an invalid grant was caused by the clock on the local machine being out of sync by 4+ hours with the real world, but even being wrong by 65 minutes (in eithe

[2017-03-06 16:45] graingert opened #3103 "asyncio support"
I want to use google-cloud-python in a Sanic web service, however I'm having to use run_in_executor() to use this library without stalling the eventloop.

This is much less efficient than an Asyncio native client.

[2017-03-06 16:48] jonparrott commented on #3100
Yeah this is a weird one. I'll try to reproduce.

On Mon, Mar 6, 2017, 8:38 AM Danny Hermes <notifications@github.com> wrote:

[2017-03-06 17:51] jonparrott commented on #3100
@dstufft I can't reproduce. :(

I can't really debug any further without asking you for sensitive information. Do you mind reaching out to me via email or hangouts? I'm jonwayne at google.com.

[2017-03-06 18:10] dstufft commented on #3100
Sure.

[2017-03-06 18:35] graingert commented on #3103
@jonparrott it would be possible to support python 2.x and python 3.x at the same time by using a custom deferred, future or IOAction implementation.

[2017-03-06 18:36] jonparrott commented on #3103
This might be possible once we exorcise httplib2 from this project. @lukesneeringer

[2017-03-06 18:39] lukesneeringer commented on #3103
That sounds right to me (and that has moved up in priority slightly).

Tagging #1998 for reference.

[2017-03-06 18:40] graingert commented on #3103
the core code would use Action composition,
[code]

Then there could be various , pluggable http transport implementations, that would take an Action instance and return a Future from various event systems, or even use blocking IO.

[2017-03-06 18:58] jonparrott commented on #3100
As per email conversation with @dstufft, closing for now.

[2017-03-06 18:58] #3100 closed

[2017-03-06 20:31] daspecster opened #3109 "How should we pass options for http clients in service client creation?"
In order to address #2988, where timeouts are not a service option, but need to be handled by the HTTP client.

How should we handle passing arguments like `timeout` when creating a service client?

[code]

This value could then be passed [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/14c250316aeef72b7f951a0959c46855948bd2b7/core/google/cloud/client.py#L118-L139) but we wou

[2017-03-06 20:38] tseaver commented on #2920
DML Docs still show beta status.

[2017-03-06 20:41] lukesneeringer commented on #3109
This question should likely be informed by #1998, since how that implementation is done may affect this.

I would also be okay with only supporting a situation like a custom timeout if they use our default objects.

[2017-03-06 20:41] dhermes commented on #3109
I am :+1: on the idea to make it configurable, but I really wish we had an easier way of passing in custom transport objects. For example

[code]

[2017-03-06 20:41] jonparrott commented on #3109
This is probably an artifact of httplib2, all other transports can accept a timeout per-request.

[2017-03-06 20:44] daspecster commented on #3109
So is this something that should wait, and maybe focus on #1998 first?

[2017-03-06 20:44] lukesneeringer commented on #3109
Defer to @dhermes, but that is my take on it.

[2017-03-06 20:45] jonparrott commented on #3109
So many things will be easier once we nail #1998.

[2017-03-07 11:27] daiyueweng opened #3115 "google cloud datastore put_multi couldn't insert data"
Hi, I am trying to insert 6000 rows/`entities` into `google cloud datastore`. I am also using `datastore emulator` as the local server on `Linux Mint 18.1`.

In the code, I created an insert function that inserts entities in batches using `put_multi` and set the batch size to 50. I use `python multiprocessing` to spawn processes that execute the function.

A slice function is also used to divide t

[2017-03-07 14:15] daspecster commented on #3115
@daiyueweng the library isn't thread safe 😞. It uses httplib2 (however it's in process of being removed #1998).  If you run this in a single process does it work?

[2017-03-07 15:40] daspecster commented on #1998
@dhermes @jonparrott is [`google_auth_httplib2.py`](https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/master/httplib2_transport/google_auth_httplib2.py) what should be used instead of directly using `httplib2`?

[2017-03-07 15:56] jonparrott commented on #1998
That's already the case. We should stop using httplib2 completely and
switch to urllib3.

On Tue, Mar 7, 2017, 7:40 AM Thomas Schultz <notifications@github.com>
wrote:

[2017-03-07 16:18] dhermes commented on #3115
@daiyueweng The Datastore Admin console will be eventually consistent, so you may not see your inserted entities right away.

As @daspecster mentioned, there are some issues with thread-safety, so sharing a `Client` across subprocesses may be problematic. Instead, your task should create a client that is local to the subprocess and then you should have no threading issues.

[2017-03-07 17:07] daiyueweng commented on #3115
Hi. changed the code to use the single process and set batch size to 500 (maximal). It took 74 secs to insert 6946 `entities`, which is slow comparing to the others. I am wondering is there a way to improve the efficiency of inserting in `datastore`.

One other thing, I use `Datastore Admin` console to delete entities of a certain `kind`, which always left one `entity` undeleted that can seen in `

[2017-03-07 17:10] daiyueweng commented on #3115
If I use `python multiprocessing`, I will get the following errors,

    @contextlib.contextmanager
    def _grpc_catch_rendezvous():
        """Re-map gRPC exceptions that happen in context.

        .. _code.proto: https://github.com/googleapis/googleapis/blob/\
                        master/google/rpc/code.proto

        Remaps gRPC exceptions to the classes defined in
        :mod:`~google.cl

[2017-03-07 17:58] dhermes commented on #3115
@daiyueweng That error seems to indicate a bug in your calling code.

[2017-03-07 21:41] tseaver commented on #3029
Specific tests needed:

- [ ] Test queries w/ legacy scalar types, including timestamp.
- [ ] Test queries w/ record nested inside record
- [ ] Test `Table.fetch_data` w/ repeated scalars, records, repeated records, nested records, repeated scalars inside records, standard SQL types.
- [ ] Test `Table.insert_data` w/ repeated  scalars, records, repeated records, nested records, repeated scalars in

[2017-03-07 22:17] dhermes commented on #3029
@tswast Don't you have some fancy spreadsheet defining which tests are worthwhile?

[2017-03-07 22:38] tswast commented on #3029
@dhermes Yep, [this spreadsheet](https://docs.google.com/spreadsheets/d/1bbYm2Eav9T9zR1y2VkrDcmB2xY3v7xBZSz9VfU3ipq0/edit#gid=1154704566) has the list. Rows are the data types and columns are the features to be tested.

Note: I can't share this publicly since I created it with my corp account, but I can add people individually as needed.

[2017-03-07 22:42] tseaver commented on #3029
@dhermes, @tswast The checklist above is based on that spreadsheet.

[2017-03-08 09:59] graingert commented on #3103
[code]

Should be pretty easy with twisted deferred too. Idea being, calling code would choose an IO type, configure the google cloud platform library appropriately, call a method on some API endpoint and then be able to call .exec() on the returned action. The calling code would then be able to receive the value, await and receive the value, or yield it in twisted inline callbacks.

[2017-03-08 10:06] Hinata-HN opened #3119 "Streaming recognition throwing errors (Speech)"
1. OS：Windows 10
2. Python：2.7.13
3. google-cloud-speech version：0.23.0
4. Code example

[code]

5. error log：
[code]

My code is working at google-cloud-speech version：**0.22.0**

[2017-03-08 10:18] daiyueweng commented on #3115
@dhermes I updated with the calling code, got some errors with `multiprocessing`,

    Unexpected error for index  49  message reads 503 {"created":"@1488965334.282616744","description":"Secure read failed","file":"src/core/lib/security/transport/secure_endpoint.c","file_line":157,"grpc_status":14,"referenced_errors":[{"created":"@1488965334.282613183","description":"OS Error","errno":104,"file":"

[2017-03-08 10:47] robhaswell commented on #3071
Thanks for catching this. Please can you roll `0.23.1` so we can deploy this fix?

[2017-03-08 13:57] graingert commented on #3103
Here's how you might to inline callbacks: https://gist.github.com/graingert/ca6cdd5d9ae2e18ca917b4594ac8a633#file-asyncio_and_blocking_io-py-L141-L148

[2017-03-08 14:00] graingert commented on #3103
inside google code platform:
[code]

In some calling code:
[code]

[2017-03-08 14:44] daspecster commented on #3119
Thanks for reporting @Hinata-HN!

In 0.23.0, a new source was added `stream`.  In 0.22.0, `content` did double duty. If you make the following change does it work?

[code]

[2017-03-08 14:59] Hinata-HN commented on #3119
@daspecster Yes, it is work!! Thank you.

[2017-03-08 15:35] daspecster commented on #3071
@lukesneeringer I can setup the release for this if you want?

[2017-03-08 15:36] daspecster commented on #3119
Glad to hear!

[2017-03-08 15:36] #3119 closed

[2017-03-08 16:26] lukesneeringer commented on #3071
Yes please.

[2017-03-08 17:01] dhermes commented on #3115
@daiyueweng Your code still does not create a new `client` within each subprocess

[2017-03-08 17:32] #1561 closed

[2017-03-08 18:01] daspecster commented on #3071
@robhaswell [google-cloud-error-reporting 0.23.1](https://pypi.python.org/pypi/google-cloud-error-reporting/0.23.1) is up on PyPi.

[2017-03-08 18:03] robhaswell commented on #3071
Wonderful, thank you.

On Wed, 8 Mar 2017, 6:01 p.m. Thomas Schultz, <notifications@github.com>
wrote:

[2017-03-08 18:31] dhermes commented on #3080
Moar: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1158.master/job/fppo8w73x7yfup4u

[2017-03-08 18:50] daiyueweng commented on #3115
@dhermes That was my mistake I didn't put the correct code snippet, I have updated my last post correctly. I am getting those error, even I passed in `datastore.Client` as the argument.

[2017-03-08 18:56] jaredmaxwell commented on #2683
Also seeing this issue. Retrying within in our own code seems to workaround the issue. we also only retry a max of 3 times. Usually second try fixes it.

We were on 0.18 and just upped to 0.23.
We run python 3.6

[code]

[code]

[2017-03-08 19:21] dhermes commented on #3115
@daiyueweng Your snippet still uses `self.client` in

[code]

That means the code won't run.

[2017-03-08 19:22] dhermes commented on #3115
@daiyueweng I'm saying `inserter.execute` needs to create an instance of `Client`, not the code that spawns each process.

[2017-03-08 22:12] dhermes commented on #3080
Moar: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.1160.master/job/jr47sjis2tyeuu0n

@tseaver Can you ack this issue / give an ETA?

[2017-03-09 05:45] vkedia opened #3123 "Set x-goog-api-client header for Spanner rpcs"
I believe this has been done so far for Bigtable and Datastore. We should do the same for spanner as well since we use it for internal metrics.

[2017-03-09 05:47] dhermes commented on #3123
This is [done][1] and has been released in `0.23.1`.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/c43e8f1e59477a5f94996b0a10b6bacc483e4183/spanner/google/cloud/spanner/client.py#L152-L170

[2017-03-09 10:46] HopLiu opened #3124 "the api of detect_full_text() return incorrect results when the texts is chinese characters"
now  i use   detect_full_text() to detect words in sdk way.  there are two issues:
1.  the detect_full_text cannot return correct language code and words info when the texts in picture is chinese.
2. meanwhile, the detect_text() can return correct info(words and bounds info).

since i need the info of each words and bounds, i have to use the first api. Any ideas or  is this an exist issue of this

[2017-03-09 12:12] daiyueweng commented on #3115
@dhermes changed the code to spawn processes within the `execute` method of `FastInsertGCDatastore` class now,

[code]

Tested the entire piece of code with inserting over 1 million of `entities`, using the `datastore emulator` as local server. The memory was consumed very quickly (had to swap). Errors were generated,

[code]

[2017-03-09 16:21] lukesneeringer commented on #3124
Hi @HopLiu,
Thank you for reporting this issue.

I do not _think_ the client library does anything differently with regard to character encodings between `detect_text` and `detect_full_text`, although I intend to double check.

Could you provide me with a reproduction case? (Basically, what is an image I can use to observe this behavior?) I expect it is a problem on the vision backend, but I would

[2017-03-09 16:30] lukesneeringer commented on #3090
I am assuming silence gives assent. Feel free to re-open if more discussion is needed.

[2017-03-09 16:30] #3090 closed

[2017-03-09 16:37] lukesneeringer commented on #3099
Hi @brianjpetersen,
Thanks for raising this, and sorry it took a couple days for us to say anything in response.

Let me summarize to make sure I understand the problem. Basically there seems to be no obvious valid way to set the `Content-Encoding` in the metadata to `gzip` and have it stick in storage. Is that correct?

[2017-03-09 16:40] lukesneeringer commented on #3085
@speedplane Are you still seeing this error? (I am baffled at what the problem might be.)

[2017-03-09 16:45] brianjpetersen commented on #3099
That's right.  Setting the ```content_encoding``` attribute to ```'gzip'``` on the object before uploading doesn't actually result in proper transcoding on subsequent GETs to Cloud Storage.  Furthermore, the metadata on the uploaded object (viewed in the Cloud Storage in the web console) doesn't reflect that the Content-Encoding was set to ```'gzip'``` (see below).

<img width="1280" alt="screen s

[2017-03-09 16:45] #3020 closed

[2017-03-09 16:49] lukesneeringer commented on #3099
Thanks. We will look into it.

[2017-03-09 17:15] dhermes commented on #3115
The failures may just be from the emulator not being able to handle a certain level of throughput? That is outside our purview. From here, it seems like a retry strategy (on errors) would help you. We are planning to add a retry feature but as of right now you'd need to implement your own.

[2017-03-09 20:48] barroca commented on #2683
I really think my problem is related to this, we have a node.js connecting to a python server using gRpc and we frequently receive this: ```Critical: gRPC server raised an error.
 Error: {"created":"@1489090385.752311821","description":"Endpoint read failed","file":"../src/core/ext/transport/chttp2/transport/chttp2_transport.c","file_line":1851,"grpc_status":14,"occurred_during_write":0,"reference

[2017-03-09 20:49] dhermes commented on #2683
@barroca This looks like a Node.js failure?

[2017-03-09 20:54] barroca commented on #2683
might be, we are creating a client in other language to isolate it.

I've just needed to share my frustration and see if someone had the same problem. Anyway, it's very strange since it is an intermittent error with no pattern,  it sometimes happens between seconds, sometimes between minutes. :(

[2017-03-10 02:03] speedplane commented on #3085
@lukesneeringer I've mitigated it. It turns out I was creating a new datastore client object for each datastore query. I now create a single global object and reuse it and the problem went away. While this was likely my fault, it would be nice if I got some warning on this.

[2017-03-10 02:10] speedplane opened #3128 "Intermittent Cloud Datastore Error: ServiceUnavailable: 503"
I am getting intermittent `ServiceUnavailable: 503` error messages when doing datastore operations with the google cloud client library. The stack trace is below.  I am running Python 2.7 on Ubuntu, within a Docker container on a small Kubernetes cluster.

[code]

For ease of reading, that last line is expanded:
[code]

I am running this within a Docker container orchestrated by Kubernetes. My Doc

[2017-03-10 02:12] cobookman commented on #3085
Is there a chance that this is related: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2896

[2017-03-10 02:18] cobookman commented on #3128
Is there a chance that this is related: #2896

[2017-03-10 02:20] cobookman commented on #3128
Also the `Socket closed` error makes it seem like gRPC had its connection terminated to datastore. And needs to be re-opened.

[2017-03-10 02:21] lukesneeringer commented on #3085
Got it. Thanks.

[2017-03-10 02:21] #3085 closed

[2017-03-10 02:22] lukesneeringer commented on #3128
Are you getting the error at 30 minute intervals like the author of #2896?

[2017-03-10 02:29] cobookman commented on #3085
@speedplane One of our appengine flex tutorials generates the datastore client for each incoming request in a http handler: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/appengine/flexible/datastore/main.py#L38.

I'll work with that team on fixing the sample code.

[2017-03-10 02:53] HopLiu commented on #3124
use this  attached jpg file(8E27CE646909307503C8C5D16.jpg) to test.
1. "python detect_chn.py fulltext resources/8E27CE646909307503C8C5D16.jpg "
2."python detect_chn.py text resources/8E27CE646909307503C8C5D16.jpg"
the detect_chn.py is the same as detect.py in "python-docs-samples-master/vision/cloud-client"  except i add a little encodings in order to print  on the console.
![8e27ce646909307503c8c

[2017-03-10 06:44] speedplane commented on #3128
It's happening much more regularly than once every 30 minutes, but it does looks like the error is bursty in approximately 30 minute intervals. Below is a log with some timings.

![image](https://cloud.githubusercontent.com/assets/671052/23784487/3f12266a-0530-11e7-9ffd-4537b8780897.png)

[2017-03-10 06:56] speedplane commented on #3128
Actually, I take that back, this is happening pretty regularly, not in any interval:

![image](https://cloud.githubusercontent.com/assets/671052/23785250/bd0a124a-0534-11e7-8cda-7dd48945d847.png)

[2017-03-10 14:07] sactre opened #3129 "Bug, double conversion."
in #2860 line: 163, file: logging/google/cloud/logging/logger.py

the function _make_entry_resource return a resource(dict), but de timestamp element has to be a datetime not a string. Because in the next step the timestamp has a conversion from datetime to string (file: _gax.py, function: _log_entry_mapping_to_pb).

[2017-03-10 15:46] lukesneeringer commented on #3128
Interesting that the second log set shows so much more frequent failures than the first one.

[2017-03-10 15:55] daspecster commented on #3128
@speedplane if this was asked already somewhere, sorry for the repeat question, but is this script using `multiprocessing` or any kind of threading?

My thought is that either it's an upstream issue(in which case I feel like there would be more people chiming in) or there's something in your architecture that is unhappy?

[2017-03-10 15:57] daspecster commented on #3124
Thanks @HopLiu! I can test this out real quick @lukesneeringer if you want.

[2017-03-10 16:48] lukesneeringer commented on #3124
@daspecster Sure. I have faith in the reproduction case, what I really want to know is whether it is our bug or the backend API's bug.

[2017-03-10 16:56] speedplane commented on #3128
I saw that discussion. I don't use multiprocessing. I don't think there is threading, but just in case, I make sure all my clients are thread-local using the function below.

Perhaps I should have mentioned, but this call is being made across projects. It is being made from an instance within a project named `ocr-api`, but is trying to grab data from a project named `docketupdate`.

Also, I have a

[2017-03-10 17:08] cobookman commented on #3128
I'd recommend filling a support ticket. Feel free to cc me at
bookman@google.com or share your case #, so I can follow up on it and make
sure your issue gets resolved.

On Fri, Mar 10, 2017, 8:56 AM Michael Sander <notifications@github.com>
wrote:

[2017-03-10 17:18] daspecster commented on #3124
@lukesneeringer so I'm still looking into this but for `detect_full_text`, under `pages`, I'm getting results like the following, but there are no properly encoded Chinese characters in the results AFAICT.

[code]

## Example

[code]

[2017-03-10 17:32] daspecster commented on #3124
Also, I tried passing `languageHints` (which currently isn't supported well in the library), but I get this...

[code]

I don't get that error if I leave `languageHints` out of the request.

[2017-03-10 17:37] daspecster commented on #3128
@speedplane the project information is helpful.  I believe there was an issue about that a long time ago regarding that not being supported well? I can't seem to find it though.

@dhermes @tseaver might remember?

[2017-03-10 17:43] xmedeko opened #3131 "What SO tag to use"
When I open a new issue here the text says to use SO tag `google-cloud-python`:

If you are reporting  .... to see if there is already work being done.
- http://stackoverflow.com/questions/tagged/google-cloud-python

The SO tag `google-cloud-python` has no guidance, to icon. However, the SO tag `gcloud-python` has a guidance and a nice Google Cloud logo. Which one is right? If the `google-cloud-py

[2017-03-10 17:49] daspecster commented on #3131
Thanks for the report @xmedeko!

@lukesneeringer or @omaray, do you have access to the StackOverflow account to update this?

[2017-03-10 17:54] speedplane commented on #3128
Done. See case ID 12283187.

[2017-03-10 18:05] daspecster opened #3132 "Vision support ImageContext throughout all detection types."
I think the reason this wasn't supported before was because it wasn't supported on all the detection types.

Right now it's only really in [`Crop Hints`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/7ba4d7a211e19d2a3fe8641ce3443e30a34ae4da/vision/google/cloud/vision/image.py#L164).

If someone can confirm that this is supported on everything else, I can start adding it.

[2017-03-10 18:07] xmedeko opened #3133 "num_retries for all requests like googleapiclient"
I am confused about the `num_retries` differences between the old `googleapiclient` and the new `google-cloud-python`.

I am able to specify `num_retries` for all API requests with the old `googleapiclient` by either

 1. specifying `num_retries` for all requests
 2. or supplying own `requestBuilder` for the `googleapiclient.discovery.build` which subclasses the original `googleapiclient.http.Http

[2017-03-10 18:32] dhermes commented on #3133
@daspecster Can you merge this with the "retry" issue?

[2017-03-10 18:42] daspecster commented on #3133
Thanks @xmedeko! I'm going to close this and you can track progress on https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2694.

@dhermes: Yup, I'll reference it in the list.

[2017-03-10 18:42] #3133 closed

[2017-03-10 18:49] dhermes commented on #3133
Thanks @daspecster.

@xmedeko We don't have a set retry feature in place but it's something we'd like to add soon.

[2017-03-10 18:50] lukesneeringer commented on #3132
Huh?

[2017-03-10 20:23] daspecster commented on #3132
[This](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#google.cloud.vision.v1.ImageContext) might explain a bit better.

I've abstracted the usage away from the user and just allowed them to pass in values that coincide with the API they're using, but my question is maybe I should expose that for all the detection types if it's used by all the detection types? But I don't

[2017-03-12 16:12] xmedeko commented on #3133
Thanks, I'm going to watch that issue.

[2017-03-13 08:47] Fkawala commented on #3129
@sactre that's wired ! from the source I get the same understanding than you, it should fail. However, I currently use the timestamp parameter in the log_struct function and it works like a charm.

Do you have a stack trace to investigate on ?

[2017-03-13 14:43] elcombato opened #3136 "Unsuccessful authentication without errors/warnings"
At first the authentication worked fine and I could see the API requests in the dashboard. But at some point the requests were not showing up anymore in the dashboard API overview.

I created a service account and stored the json file locally. Then I set the environment variable `GCLOUD_PROJECT` to the project ID and `GOOGLE_APPLICATION_CREDENTIALS` to the path of the json file.

[code]
Prints the

[2017-03-13 15:30] daspecster commented on #3136
@elcombato thanks for reporting!

That is pretty strange, because if you're getting results and a 200 response then it should be counting the requests on the dashboard.

Does the request count on the dashboard go up a few hours later?

[2017-03-13 15:49] elcombato commented on #3136
@daspecster No it won't show up. The last activity is more than a week old and I used the API daily in the last week.

How can I evaluate that the client is correctly authenticated, to eliminate the possibility of an user error by me?

[2017-03-13 15:58] dhermes commented on #3136
You can check the actual authenticated account and project via `client._credentials.__dict__` and `client._project`

[2017-03-13 16:11] elcombato commented on #3136
@dhermes With my code from above the object `client` has no attribute `_project`.

In `client._credentials.__dict__` everything looks fine. Is it expected behavior, that `client._credentials.expiry` is `None` after the initialization of `speech.Client()` and after running `client.sample()` and `sync_recognize()` the variable `client._credentials.expiry` is set to the time of execution?

[2017-03-13 16:13] jonparrott commented on #3136
It's `None` at first because the credentials have yet to be refreshed. It should be the time of execution plus one hour after because it refreshed during the execution.

[2017-03-13 16:30] elcombato commented on #3136
There is no plus one hour:
[code]

[2017-03-13 16:32] jonparrott commented on #3136
@elcombato what's `datetime.utcnow()`?

[2017-03-13 16:35] elcombato commented on #3136
ok yea, that is `2017-03-13 16:32:29.200383`. So `expiry` is in `utc`.

Any thoughts on the missing `_project` attribute?

[2017-03-13 16:40] jonparrott commented on #3136
Not sure, you can try executing `credentials, project = google.auth.default()` and see what it says. You can also explicitly pass the project into the `Client` constructor.

[2017-03-13 16:50] elcombato commented on #3136
Both the `credentials` and `project` are correct.

[2017-03-13 16:56] dhermes commented on #3136
@daspecster It seems [there is no project][1] used in the Speech API. Can you confirm? @elcombato Since that's the case, it seems the relevant project dashboard would be the project that owns the service account credentials.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/fee3f2f0129a0206f4643d86d3ad6108cefb93ac/speech/google/cloud/speech/client.py#L58

[2017-03-13 17:07] daspecster commented on #3136
@dhermes looking now.

[2017-03-13 17:12] daspecster commented on #3136
Yeah, it's [using](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/fee3f2f0129a0206f4643d86d3ad6108cefb93ac/speech/google/cloud/speech/client.py#L19) `google.cloud.core.client.Client` instead of `ClientWithProject`.

[2017-03-13 17:20] daspecster commented on #3136
The [Speech authentication docs](https://cloud.google.com/speech/docs/common/auth) mention projects but kind of in a general way. Also, it used to be an API key based API so maybe that has something to do with it?

@lukesneeringer is there someone we can ask about how Speech supports project IDs?

[2017-03-13 17:31] jonparrott commented on #3136
Maybe @gguuss knows?

[2017-03-13 18:09] speedplane commented on #3128
I stopped receiving these altogether on March 10 at 3:30PM ET. I did not deploy or change any settings in my app since then. Did something change on the backend?

[2017-03-13 18:57] lukesneeringer commented on #3128
Not sure. Perhaps?

[2017-03-13 20:30] tswast commented on #2960
The [public issue for BigQuery supporting the MySQL CSV formats](https://issuetracker.google.com/35906027) also includes some work-arounds.

[2017-03-13 20:40] gguuss commented on #3136
re: project IDs on Speech API projects, I have a few contacts from the team but I'm not sure they're on GH.

[2017-03-13 21:13] inkrement commented on #2960
@tswast haha.. thanks, but this is my issue. But as I mentioned in this thread this is not a nice solution. I would have to scan all my data and find a symbol, which does not occur.. but whats next? If I add a new row to my database the next day, which includes exactly this symbol I have to find another one. MySQL is a really famous database and its format is used by a lot of other databases (MemS

[2017-03-13 21:30] dhermes commented on #3080
@tseaver Bump

[2017-03-14 16:17] daspecster commented on #3088
@waprin were you able to reproduce this?

If not, I can try and reproduce it and get you some more information if possible.

[2017-03-14 16:29] cobookman commented on #3128
@speedplane just double checking that you are still not seeing the errors.

[2017-03-14 16:30] lukesneeringer commented on #3128
Closing, but feel free to reopen if the status changes.

[2017-03-14 16:30] lukesneeringer commented on #2993
@daspecter Why did you close this? Is it fixed?

[2017-03-14 18:22] daspecster commented on #2993
@lukesneeringer it was closed via #3130. I thought they were duplicates/related but perhaps not?

I'll run @jonparrott's tests and try and verify real quick.

[2017-03-14 20:04] lukesneeringer commented on #2993
That sounds good to me. Just verifying.

[2017-03-14 20:26] daspecster commented on #2993
@lukesneeringer in talking to @jonparrott, it sounds like this is an upstream issue with the service.

[2017-03-14 20:40] tartavull opened #3139 "Batch uploading of files"
I'm confused about this comment https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L589

What is the correct way of uploading blobs in a batch?
[code]
This, of course, won't work because is using client._base_connection instead of client.current_batch.

[2017-03-14 21:12] tseaver commented on #3139
@tartavull Thanks for the report!  Unfortunately, the back-end API [doesn't support batching "media" operations](https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch), which means we don't support it either.

[code]

[2017-03-14 21:12] #3139 closed

[2017-03-14 22:33] plowman commented on #3129
@Fkawala I'm seeing the same thing that @sactre sees. Specifically, if I specify a timestamp, it fails.

**Using a string timestamp**
[code]

**String timestamp stack trace:**
[code]

**Using a datetime timestamp**
[code]

**Datetime timestamp stack trace:**
[code]

[2017-03-14 22:37] omaray opened #3141 "Test top 4 APIs on GAE Flex, GKE, and GCP"
Test BigQuery, Storage, Datastore, and Logging client libraries on all the GCP platforms (don't include GAE Standard).

Environments:

  * [ ] GAE Flex
  * [x] GCE
  * [x] GKE

Close this issue once we confirm it all works.

[2017-03-14 23:05] waprin commented on #3088
Very sorry for delay here.

Unfortunately I am currently not able to reproduce this. This is on Django 1.10.5 , Python 2.7.10 (assuming you are also Django 1.10?) Copying and pasting your logging config is actually working fine for me and Django doesn't seem to be freezing up, and I see the logs.

@briandeheus any way you can provide any more steps to reproduce? Django version, Python version all

[2017-03-15 03:07] lukesneeringer commented on #2993
I actually learned more about this in an internal meeting today. It sounds like it is an issue with the grpc client itself, and we are expecting a new release soon (as in, probably within the next week or two).

[2017-03-15 10:37] DizzeePascall commented on #2687
When running the examples from the documentation, I get the following error:

[code]

Disabling GRPC via the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable fixes this.

I'm running on an Ubuntu 14.04 compute instance with python 3.5.3 and version 023.1 of the google-cloud-error-reporting project

[2017-03-15 12:22] daiyueweng opened #3143 "how to import LogSeverity in python"
Hi, is there a way to import `LogSeverity` in `Python` using the client library. I can only find it in [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#logseverity). I couldn't find it in [Entries](https://googlecloudplatform.github.io/google-cloud-python/stable/logging-entries.html) for `Python`.

I am wondering do I need to take a reference to the LogEntry rest API

[2017-03-15 13:41] Fkawala commented on #3129
@plowman Thanks for the MRE! We observe different behaviors because I use the `Batch` class instead of `Logger` class. A `Batch` [instance](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/logger.py#L335) is created by the `batch` [method](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/logger.py

[2017-03-15 14:47] daspecster commented on #3129
@plowman, @Fkawala, @sactre  this is great information.

@Fkawala, I believe the best place to fix is where @sactre mentioned. I'll take a stab at it right now, I think it should be pretty simple to fix.

[2017-03-15 14:54] bjwatson commented on #2687
FYI @lukesneeringer

[2017-03-15 14:57] Fkawala commented on #3129
@daspecster great !

[2017-03-15 17:06] lukesneeringer commented on #2687
@daspecster Can you look at this one? It looks like it is probably a quick bugfix.

[2017-03-15 17:31] daspecster commented on #3141
@omaray not sure I follow?

You mean windows/linux/etc?

[2017-03-15 17:59] Fkawala commented on #3143
If you want your log to be displayed properly in the Cloud Platform Console Logging page [1] you'll have to use the standard python log levels names (ie. 'INFO', ..., 'CRITICAL'). The `logging.LogRecord` instances have their log level name available in their levelname attribute.

[1] https://cloud.google.com/logging/docs/view/logs_viewer_v2

[2017-03-15 19:07] tseaver commented on #3141
ISTM that we should take this as an opportunity to adopt non-PR-driven testing, and do these builds (including system test runs) periodically.

[2017-03-15 19:58] dhermes commented on #3141
@jonparrott Has previously mentioned they have a Jenkins server we might use. Travis has a whitelisted cron feature. CircleCI has no official cron support, but they do have an API to spawn jobs, so we could have a dumb GAE app that sent API requests to CircleCI every 24 hours to act as a cron?

[2017-03-15 21:40] landrito opened #3149 "Language: support mention type in Entity.mentions."
[Currently](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/language/google/cloud/language/entity.py#L79) the mentions property of an entity is only a list of strings whereas it should be a list of objects containing the mention text and mention type.

Furthermore, this change should add mention_type information to the mention documentation.

[2017-03-15 22:12] lukesneeringer commented on #3149
Adding the release blocking tag; this is a beta blocker.

[2017-03-15 23:42] 80nashi opened #3150 "blob.py is unable to handle a partial rewrite and fails with KeyError on lack of resource"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L871
[code]

This relies on the API to always return 'resource'.  However, it is optional as per the doc.
https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite
"""
This property is present in the response only when copying completes.
"""

As such, when the write was partial, done

[2017-03-16 00:40] #3080 closed

[2017-03-16 04:10] thisbejim opened #3152 "ValueError: For an array_value, subvalues must either all be indexed or all excluded from indexes."
Getting `ValueError: For an array_value, subvalues must either all be indexed or all excluded from indexes.` error when querying entities with empty arrays.

Edit: I tried getting around this with projection queries where possible but I need to modify the entities after fetching them, which you can't do with the results of a projection query. So this is a pretty big issue as there is no way around

[2017-03-16 04:20] omaray commented on #3141
Yes, we need to make sure that our libraries work on GCE, GKE, and GAE Flex. We need to do what an end-user would do. Literally, write some code, use the client libraries for these 4 APIs, and deploy it to these platforms! Ideally we can test all methods. If we can automate - great. But we definitely need a full manual end-to-end test here. And we should test the top 4 libraries.

Basically: when

[2017-03-16 06:54] verbal commented on #3150
I don't think your solution will work. I came across the same issue, but when it is *not* done, it falls through. You probably want to move it inside the if `api_response['done']`.

[2017-03-16 07:41] 80nashi commented on #3150
Ah, you are totally right. Scrap my suggestion.
I wasn't sure how _set_properties is used in the API and I mistook the "done" check in the wrong way, of course.

[2017-03-16 09:58] quom opened #3154 "Batch upload fails when messages exceed API limit"
1. OS type and version
All OS and all versions supporting topic.Batch
2. Steps to reproduce
Create a batch context & publish messages to it
On batch commit an API failure occurs due to batch size being too large

Suggestion:
In the publish function check the serialised size of the message does not exceed 10MB and that the number of messages doesn't exceed 1000. If it does then commit the batch pre

[2017-03-16 10:13] #3143 closed

[2017-03-16 10:21] daiyueweng opened #3155 "google cloud logging delete log entries issue with requested entity was not found"
Hi, I am testing the code at [snippets.py](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/logging/cloud-client/snippets.py) to write, list and delete log entries. When running `delete_logger`, some errors were generated,

[code]
when running `write_entry` and `list_entries`, there was no any problem. I am wondering how to fix the issue.

I am running the code on `Linux Mint

[2017-03-16 10:56] #3115 closed

[2017-03-16 13:34] tseaver commented on #3154
@quom Thanks for the report!

[2017-03-16 14:25] daspecster commented on #3155
@daiyueweng, are you just running that `snippets.py` file and that error is occuring?

My guess is that the logger hasn't been created by the time you're calling `delete_logger`.

Could you give some steps to reproduce?

[2017-03-16 14:43] daiyueweng commented on #3155
@daspecster I found out the issue is probably due to one cannot delete multiple logs at once? My code snippet is as follows,

[code]

[2017-03-16 14:59] daspecster commented on #3150
Thanks for reporting @80nashi!

If I understand correctly from the docs, the `resource` is only available when the copy is complete?

@tseaver, @dhermes maybe we should be raising an exception here?

I'm not sure from the docs, but is there polling that should be available for rewriting so you can check if the copy is done?

[2017-03-16 15:12] daspecster commented on #3155
Yeah, the service does not appear to support [deleting a list of loggers](https://cloud.google.com/logging/docs/reference/v2/rest/v2/projects.logs/delete).

It might be a nice feature to add! I'm not sure how common of a use case that would be though.

I'm going to close this since it sounds like it's working for you. Feel free to reopen if there's something still not working or more in question.

[2017-03-16 15:42] daspecster commented on #2687
@lukesneeringer sure thing!

[2017-03-16 16:09] lukesneeringer commented on #3131
I do not. @omaray?

[2017-03-16 16:31] daiyueweng commented on #3155
@daspecster I did a few more tests and sometimes even a logger is deleted as seen from the `Stackdriver logging console`. I still got the errors,

[code]

[2017-03-16 16:53] lukesneeringer commented on #3152
Hi @thisbejim,
Thanks for reporting this issue.

First off, a disclaimer: I am not an expert in Datastore.

That said, I am having a little trouble with a fix for your issue, and it would help if you could provide the code that you think should work. It makes sense to me that an empty array should not raise an exception complaining about mismatched index exclusion of its subelements. That said, I

[2017-03-16 16:57] lukesneeringer commented on #3141
I can set this up.

Worth noting: Right now on the `ci` branch, there are a small number of system tests that are a little flaky. I am adjusting timeouts and such to try to fix, but running tests once a night on GCP is not going to do us any good if we have a lot of noisy failures.

[2017-03-16 17:16] waprin commented on #2687
@daspecster mentioned this to Luke but I'm OOO next week but spending today and tomorrow trying to catch up on loose ends/random issues so feel free to ping me on anything you want me to look at/try to fix.

[2017-03-16 17:19] lukesneeringer commented on #2687
@waprin I am really only referring to [this comment][1], which honestly should be a separate issue.

  [1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2687#issuecomment-286703711

[2017-03-16 17:41] bjwatson commented on #2687
@lukesneeringer Can you or @daspecster split it out as a separate issue to reflect that?

[2017-03-16 17:44] waprin commented on #2687
Now I am understanding you're just referring to the reported bug. Yes, I think once we create that new issue, we can close this issue as it was done in #2894 . Only thing I think that's left is the documentation for the GAPIC which is also a separate issue.

[2017-03-16 17:47] lukesneeringer commented on #3154
This exact implementation will not work well because of strings vs. bytes in Python 3. I am working on something that will be compatible though.

[2017-03-16 17:48] quom commented on #3154
Does encoding the string as utf-8 bytes & then base64 encoding it not produce the correct format?

[2017-03-16 17:57] lukesneeringer commented on #3154
It is a little tricker than that because `json.dumps` does not accept bytestrings in Python 3.

[2017-03-16 18:10] #3149 closed

[2017-03-16 18:21] lukesneeringer commented on #3154
@quom Can you check out the #3157 pull request and verify that it meets your use case?

[2017-03-16 19:01] daspecster opened #3158 "Error reporting accessing client.project instead of client._project."
[Originally](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2687#issuecomment-286703711) from @DizzeePascall.

When running the examples from the documentation, I get the following error:

[code]

Disabling GRPC via the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable fixes this.

I'm running on an Ubuntu 14.04 compute instance with python 3.5.3 and version 023.1 of the google-c

[2017-03-16 19:02] daspecster commented on #2687
@waprin @lukesneeringer @bjwatson issue created!
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3158

[2017-03-16 19:45] craigtb commented on #3061
Hi - It seems this issue has cropped back up again. The application seems to hang and never make it to our retry logic.  Here are the relevant logs.  Please let me know if you have any questions or suggestions.

[code]

[2017-03-16 19:58] garye commented on #3061
@lukesneeringer: unfortunately I don't seem to have permissions to re-open this but it does look like a similar issue has occurred even with the library updates.

[2017-03-16 20:07] dhermes commented on #3061
This is probably a `google-auth-library-python` issue? The error there is a 502 for the OAuth service. However, users can avoid talking to the service if they use JWT tokens. @jonparrott we resolved that issue, right?

[2017-03-16 20:07] #3158 closed

[2017-03-16 20:08] dhermes commented on #3061
@garye We never made any particular update to fix or address this issue. This is a transient service error so it's tough to detect.

[2017-03-16 20:08] #3129 closed

[2017-03-16 20:11] jonparrott commented on #3061
We haven't actually started promoting service account credentials to jwt credentials in this library yet.

It's an issue with the oauth service. If we were using the urllib3/requests transport, we could do retries, but we're not, so we can't.

[2017-03-16 20:11] tseaver commented on #2956
If the API allows for `/` in the bucket name, then we shouldn't be prohibiting such names:  instead, we should be URL-escaping the bucket name when constructing the API request URL.

[2017-03-16 20:12] garye commented on #3061
@craigtb, just to confirm it looks like the library hangs after it receives that error? Is it possible that whatever error gets returned doesn't trigger retry logic for another reason?

I think failing and retrying (which they have logic for) is acceptable, but I believe the assertion was that the library hangs.

[2017-03-16 20:14] tseaver commented on #3154
@tmatsuo Can you confirm whether the 10MB limit, as mentioned in the [pubsub docs](https://cloud.google.com/pubsub/docs/publisher#publish), is per-message or per batch?

[2017-03-16 20:14] dhermes commented on #3061
Yeah gRPC's hangy-ness is a mystery to me at this point. I spent like an hour debugging a refresh error that gRPC swallowed and then the process just stared at me (i.e. hung) after.

[2017-03-16 20:15] jonparrott commented on #3061
Summoning @nathanielmanistaatgoogle

[2017-03-16 20:23] daspecster commented on #3155
@waprin any ideas?

[2017-03-16 20:28] waprin commented on #3155
@daiyueweng @daspecster trying to wrap my head around the issue. Did you delete the logger and then have some entries written and then you're surprised it gest deleted? Hopefully you can clarify the question more.

In general it's really useful to keep in mind with Logging and Monitoring that many API calls are eventually consistent. Any sort of write, update, or delete won't always be reflected r

[2017-03-16 20:39] nathanielmanistaatgoogle commented on #3061
This isn't ringing any bells with respect to known issues.

Is this being observed with `grpcio` 1.1.3 or later? If so, what is a sequence of the calls and returns across the gRPC Python API leading up to the problem?

[2017-03-16 20:40] lukesneeringer commented on #2956
[It does not.](https://cloud.google.com/storage/docs/naming#requirements)

[2017-03-16 21:05] lukesneeringer commented on #2687
Closing this issue (done in #2894).

[2017-03-16 21:05] #2687 closed

[2017-03-16 23:50] tbrent commented on #1893
Pretty excited to use spanner in production but lack of client library support in standard appengine env is blocking.

[2017-03-16 23:53] thisbejim commented on #3152
Hi @lukesneeringer thanks for looking in to this.

So to provide some context - I've built out an application using the [node datastore client](https://github.com/GoogleCloudPlatform/google-cloud-node) which does allow for writing and retrieving empty arrays, and I'm setting up a seperate python service just to handle my cron jobs / tasks.

The application is a micro-blogging clone, so I have a `K

[2017-03-17 00:10] 80nashi commented on #3150
As I understand the method and the API, the method is expected to return the rewrite token without raising an exception, in case of partial write (`done: false` and `resource` non-existent).
Then the user program can call the method again with the non-null, non empty string rewrite token, repeat it until `done: true` and `resource` present.

[2017-03-17 00:12] 80nashi commented on #3150
So yeah, the following can be a possible fix as verba suggested.
However, I'm not sure what _set_properties is expected to do in case of `done: false`.

[code]

[2017-03-17 02:48] ojengwa commented on #35
any updates on this?

[2017-03-17 02:49] ojengwa commented on #35
I can send in a PR over the weekend

[2017-03-17 03:18] lukesneeringer commented on #3152
Thanks. I will look into this further.

[2017-03-17 03:44] daspecster commented on #3124
@gguuss would you have any insight on this?

[2017-03-17 08:53] omaray commented on #3131
Hello xmedeko. Thanks for pointing out that gcloud-python has a logo next to it. We'll make sure to remove it.

Regarding what tag to use - we normally recommend using a double tag system: [python][product]. So for bigquery for instance, you could use [python][google-bigquery].

[2017-03-17 09:42] xmedeko commented on #3131
@omaray What if a want to address this library in general? When I open a new issue here the text says to use SO tag `google-cloud-python` - is that the right tag? What about `gcloud-python` is it the wrong tag? If I look into the SO questions, many users use both of them, i.e. they are confused like me.

[2017-03-17 10:38] daiyueweng commented on #3155
@waprin What I think about `Stackdriver logging` based on my experience of using its `Python API`, is the delay between writing log entries and shown on the `Log Viewer` is severe。 Yes I am using `global` resource, and I am wondering how to shorten the delay that makes it in near real time monitoring. How to use monitored resources, and I can only see [Monitored Resources and Services](https://clo

[2017-03-17 14:07] craigtb commented on #3061
@garye yes, it looks like its hanging at that error and holding the thread.  It seems to happen in this code block:
[code]

[2017-03-17 14:42] lukesneeringer commented on #3124
This sounds like a backend issue to me.

[2017-03-17 15:10] lukesneeringer commented on #3141
## Testing on GCE

### Step 1. Create Instance

  * Go to [Pantheon](https://pantheon.corp.google.com/compute/instances?project=precise-truck-742)
  * Create new Ubuntu 16.04 image with 1 CPU, 10 GB disk space

### Step 2. Configure Instance

[code]

(The above generated too much output to paste, but it is exactly what you would expect.)

[code]

Okay, could have skipped that step. Fine.

[code]

[2017-03-17 15:35] dmcgrath commented on #599
Yes, this should definitely support insert, upsert, update as they are fundamental features of the database, not just power user features. For an example of how our other Cloud Datastore libraries to this, please review [Node.js](https://googlecloudplatform.github.io/google-cloud-node/#/docs/datastore/0.7.1/datastore?method=save) and [.NET](https://github.com/GoogleCloudPlatform/google-cloud-dotne

[2017-03-17 15:49] dhermes commented on #3061
@craigtb Are you referring to [that block][1] in source, or elsewhere?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/97379fcba1eced243eb2f0bee00c41b6344c7264/bigtable/google/cloud/bigtable/row_data.py#L322-L325

[2017-03-17 16:00] elcombato opened #3161 "Speech API faster with higher sample_rate"
The function `sync_recognize()` of the Speech API has consistently a shorter runtime, if I use a flac audio file with a sampling rate of 48 kHz in comparison to a sampling rate of 16 kHz.
How does it come that the larger file with more information to process, is analyzed faster?

And as a follow-up question: The [docs](https://googlecloudplatform.github.io/google-cloud-python/stable/speech-sample.

[2017-03-17 16:11] daspecster opened #3162 "Spanner system tests failing"
Running the tests locally with `GOOGLE_CLOUD_TESTS_CREATE_SPANNER_INSTANCE=True`, the tests pass.

I think it's something with the configuration of travis or the setup.

[code]

See: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/211892379#L2442

@tseaver do you have access to the project(maybe I do too and don't know it?) to recreate the instance or check that it exists?

[2017-03-17 16:12] daspecster commented on #3161
Thanks for the question @elcombato! To be totally honest, I'm not sure. I'm guessing it's just some optimization upstream.

@gguuss do you have any insight into this?

[2017-03-17 16:25] lukesneeringer commented on #3162
@daspecster Set the `GOOGLE_CLOUD_TESTS_CREATE_SPANNER_INSTANCE` on your system to `true`. Do they still fail?

Note: The tests are [working on CircleCI on the CI branch][1]. Given that I am hoping to merge that in later today, it will supercede this.

  [1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/1256

[2017-03-17 16:25] #3162 closed

[2017-03-17 16:26] daspecster commented on #3162
@lukesneeringer they do pass for me.

I haven't been able to reproduce the failure locally.

[2017-03-17 16:32] lukesneeringer commented on #3161
Hi @elcombato,
This repository is for the client library, not the API itself. To be honest, I am not sure why you are getting distinct behavior there. You can feel free to follow-up with the API's [support channels][1] (as it seems you may have already done).

  [1]: https://cloud.google.com/speech/support

[2017-03-17 16:32] #3161 closed

[2017-03-17 17:29] craigtb commented on #3061
@dhermes In our code where we are using the BigTable library.
https://gist.github.com/garye/1c273182ff7a27881396cd12931236a4

[2017-03-17 17:48] lukesneeringer commented on #2746
@dhermes This is now done, question mark?

[2017-03-17 18:00] dhermes commented on #2746
Almost. One follow-up PR, coming in hot.

[2017-03-17 18:14] lukesneeringer commented on #3098
Superceded by #3146 (which fixes them).

[2017-03-17 18:14] #3098 closed

[2017-03-17 18:23] lukesneeringer commented on #3152
@thisbejim Could you help me out by pulling [this branch][1] and telling me if it fixes your issue, or if you just get a different error? (I am asking under the assumption this is a quick check for you; if not, feel free to just say no.)

  [1]: https://github.com/lukesneeringer/google-cloud-python/tree/datastore-issue-3152

[2017-03-17 18:24] lukesneeringer commented on #3155
How are you defining "severe"? Seconds?  Minutes? An hour?

[2017-03-17 18:25] lukesneeringer commented on #2753
Long since launched.

[2017-03-17 18:25] #2753 closed

[2017-03-17 18:30] lukesneeringer commented on #2927
The _correct_ solution is blocked on #1998.

What would be the benefits and drawbacks of increasing the default, though? Would it be okay to make the default chunk size 10 MB instead of 1 MB?

[2017-03-17 19:00] #2746 closed

[2017-03-17 19:15] lukesneeringer commented on #212
Considering this dead. Open a new issue with a specific goal if needed.

[2017-03-17 19:15] #212 closed

[2017-03-17 19:16] dhermes commented on #212
FWIW I think the datastore approach has showed one way to do this, and maybe even the "right way".

[2017-03-17 19:17] lukesneeringer commented on #549
I like the idea of doing this next week as a final step before 1.0.

[2017-03-17 19:23] pdudnik commented on #2927
I think gcs has a way of Auto detecting what's the best chunk size, so I'd
ask them. I know they have solutions for this issue

On Mar 17, 2017 11:30, "Luke Sneeringer" <notifications@github.com> wrote:

[2017-03-17 19:30] lukesneeringer commented on #547
This seems to have been done.

[2017-03-17 20:10] bjwatson commented on #2746
Woo hoo! Great job, Danny!

@lukesneeringer @dhermes Does this mean that we'll have the new HTTP headers working for Datastore as soon as this is published?

[2017-03-17 20:38] gguuss commented on #3124
The API accepts an optional parameter, the [image context](https://cloud.google.com/vision/docs/reference/rest/v1/images/annotate#ImageContext), which needs to specify the language.  I am going to see if I can determine how to specify this in our Python Cloud client.

[2017-03-17 20:42] daspecster commented on #3124
So this may be related to my #3132 issue then.

@gguuss do you know if all annotation API's support ImageContext right now?  If I need to support ImageContext for all annotation types then I can do that, but if it's only one or two types(as it was in the past) then I tried to make adding that information to the API call more direct.

[2017-03-17 20:45] gguuss commented on #3124
The ImageContext is not used by all features. I think the context configuration is used for crop hints, language features, and landmark / entities / labels. Do we currently have a way of setting it?

[2017-03-17 20:51] gguuss commented on #3124
I authored a [quick example](http://wheresgus.com/vision-zh/) of a web-based proof of concept that correctly detects Chinese text so it is definitely not a backend issue.

[2017-03-17 21:50] lukesneeringer commented on #2746
I believe we have the HTTP headers now. But, yes.
I am thinking a quick umbrella release next week as part of the GA effort, but we can push a 0.23.x for this if we want it sooner.

[2017-03-17 22:07] daspecster commented on #3124
@gguuss your example uses this library?

[2017-03-17 22:16] daspecster commented on #3124
@gguuss I think I missed adding that. I would have sworn I had that for the `EntityAnnotation`s but it appears that I'm not passing that along.

I do use `ImageContext` for crop hints but I think that might be the only one.

@lukesneeringer I can get to work on this if there aren't other priorities?

[2017-03-17 22:20] lukesneeringer commented on #3124
Go for it.

[2017-03-17 22:21] gguuss commented on #3124
@daspecster My example is Apiary on JavaScript (insert joke about merely being a front-end developer and microservices on Python scaring / frightening me).

[2017-03-17 22:25] daspecster commented on #3124
No jokes here! I hail from the frontend as well..but a long time ago in a galaxy far far away.

[2017-03-17 23:06] dhermes commented on #547
@lukesneeringer Nope, that was the CRC-32 PR that you closed. We also need the option of an MD5 integrity check.

[2017-03-17 23:09] gguuss commented on #3124
Btw, crop hints works well, maybe we can similarly accept an optional parameter on detect_text and detext_fulltext for language.

[2017-03-17 23:12] dhermes commented on #2746
I just did a

[code]

and the only change that is in the **public** interface is the addition of `use_gax` in the `Client` constructor.

[2017-03-17 23:25] lukesneeringer commented on #2746
Sure, but it is a huge under-the-hood change, because those with GRPC support are suddenly using the GRPC transport now.

[2017-03-17 23:37] dhermes commented on #2746
@lukesneeringer We already had the gRPC transport (for many releases), it was just the raw stub produced by the `protoc` plugin rather than the `DatastoreClient` which wraps that very same class.

[2017-03-18 17:31] cgratie opened #3165 ""Client GRPC deadline too short" for speech streaming_recognize + cannot override defaults"
There is currently no way to override default configuration parameter values when using **google.cloud.speech.Client**. Support is available in **google.cloud.gapic.speech.v1beta1.speech_client.SpeechClient** via the **client_config** constructor argument. However, this is not used in **google.cloud.speech._gax.GAPICSpeechAPI**, where a **SpeechClient** instance is constructed without making use o

[2017-03-18 17:42] cgratie opened #3166 "Result returned from google.cloud.speech.sample.Sample.streaming_recognize"
The **streaming_recognize** method of **Sample** computes its output as follows:

[code]

Thus, it returns a generator where results are no longer grouped by response. I feel that this makes it more difficult for the end user to use the results, since results from the same response should be concatenated in order to obtain the complete transcript of the fragment transcribed so far.

[2017-03-18 22:45] pdknsk commented on #3099
This is a duplicate of several bugs, summed up in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1185#issuecomment-201044696), which also has a work-around.

[2017-03-18 23:20] brianjpetersen commented on #3099
Many thanks @pdknsk.

This workaround fixes the problem, although as noted in #754, the property update isn't atomic which has all sorts of nasty implications.  As another commenter noted in a linked thread, unfortunately this prevents me from using gcloud-python (and Google Cloud Platform) at this time.

[2017-03-19 00:15] pdknsk commented on #1185
I've updated a [previous](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/536#issuecomment-71909652) patch, hack perhaps, which makes it work. It's not tested extensively.

[code]
The file ```google/cloud/storage/blob.py``` is located in your Python ```site-packages``` directory.
[code]

[2017-03-19 00:24] cva opened #3167 "google.cloud.error_reporting AttributeError: 'Client' object has no attribute 'project'"
I am trying to follow the sample code [here](https://googlecloudplatform.github.io/google-cloud-python/stable/error-reporting-usage.html) in an appengine custom flexible runtime and whenever I run the code, I get the following error:

[code]
In the same project I'm also creating clients for pubsub and storage with the same default constructor and they both find the project and credentials, both wh

[2017-03-19 00:24] pdknsk commented on #3099
I remembered a patch I had once used, which [I've updated now](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1185#issuecomment-287584661). An alternative is to [use the API directly](https://developers.google.com/api-client-library/python/), which is more complex.

[2017-03-19 00:37] cva commented on #3167
forgot to mention I get a similar error when I try to use the google.cloud.logging client as well.

[2017-03-19 01:09] brianjpetersen commented on #3099
This unfortunately didn't seem to do the trick for the ```content_encoding``` property.

[2017-03-19 04:13] pdknsk commented on #3099
Works for me.
[code]
In the browser too.

[2017-03-19 14:03] brianjpetersen commented on #3099
Apologies @pdknsk, ```pip``` and I weren't getting along last night.  This does indeed address my need.  You've been super helpful - thanks.

[2017-03-19 14:20] brianjpetersen commented on #3099
Although this contrived example works, now I'm getting a gzip-decoding error from ```requests``` with larger payloads.  Using your example (slightly modified for Python 3):

[code]

Is this possibly related to #1724?

[2017-03-19 15:48] daspecster commented on #3165
@cgratie thanks for reporting!

The limit for streaming detection [is 1 minute](https://cloud.google.com/speech/limits).
However if the GAPIC code isn't using the `timeout_millis` argument there may be a bug there.

I will look into that and also see about passing that config to the GAPIC API constructor.

[2017-03-20 00:23] jaitaiwan commented on #2572
Just been hit by this myself for the past few days when trying to use the cloud logging api

[2017-03-20 07:26] omaray commented on #35
Hello ojengwa.

Thank you for the message. We have other plans for Cloud SQL - and won't be doing any manual work. We don't have an ETA quite yet but we want to cover it in 2017.  In the meantime we do have the older client library at:

https://developers.google.com/api-client-library/python/apis/sqladmin/v1beta4

I hope this helps.

[2017-03-20 07:33] omaray commented on #3131
To clarify: the `gcloud-python` tag should not be sponsored with a logo anymore. I made a request and waiting for a response. Thank you for pointing that out.

Then the fact that the text says to use "google-cloud-python" is actually something that was debated (whether we should use it or not). Meaning,  when people use a client library, it's usually "in a **language** and for a **product**". Ther

[2017-03-20 08:15] xmedeko commented on #3131
The `[python]` tag and the product tag are too broad. So I vote for both `[google-cloud-python]` and the product tag:
- The problem may not be related to any particular product, just to the `[google-cloud-python]` library itself.
- When the problem is related to a particular product, it should be tagged with both `[google-cloud-python][google-bigquery]`.

Note: there is also a tag [`google-api-pyt

[2017-03-20 09:32] cgratie commented on #3165
So the code I am running it the following.
[code]
The audio "sample.raw" is 25 seconds long. The error I get when running without changing defaults is:
[code]
I also ran a new test, seeing that the deadline is so close to what the server expects: I changed **"initial_rpc_timeout_millis"** from the config file to **61000**. What I got is:
[code]
If I change **"initial_rpc_timeout_millis"** from the

[2017-03-20 13:51] garye commented on #3061
Not sure who can best answer this, but does the python API expose a deadline that could be set and turn this hang into a `DEADLINE_EXCEEDED` error and leave it up to the client to retry?

[2017-03-20 14:29] lukesneeringer commented on #2746
Okay.

[2017-03-20 14:44] lukesneeringer commented on #3167
Thanks for reporting, @cva. :-) Looking into this now.

[2017-03-20 14:45] quom commented on #3154
@lukesneeringer Yep this solves my case.

I don't quite fully understand your point here though:

I'm creating a dict (containing strings), calling json.dumps (i.e. not calling it with byte strings) and then taking the length of the utf8 encoded output. In your pull request it looks like you ignore the additional punctuation of how the message is stored in the request and are just adding up the da

[2017-03-20 15:37] lukesneeringer commented on #3154
Exactly, and that is not an assumption that we can make. We might be getting _bytes_ rather than strings as the message, and we can not send that to `json.dumps`.

Yeah, that was where I landed. Since `attrs` is consistently JSON-serializable and `message` is not, I just coerced `message` to bytes, JSON-dumped the `attrs`, and ignored the punctuation, deciding it was "good enough".

[2017-03-20 15:43] #3154 closed

[2017-03-20 16:16] tseaver commented on #3154
@lukesneeringer Published messages *must* be bytes, on either Python2 or Python3.

[2017-03-20 16:36] lukesneeringer commented on #3154
Correct, we convert them to `bytes` later, regardless of what they come in as. However, they might _come in as_ bytes, and we cannot send that to `json.dumps` (nor can we safely assume utf-8).

[2017-03-20 16:59] geigerj commented on #2572
@lukesneeringer @bjwatson I can update googleapis/googleapis#226 and googleapis/api-client-staging#144 and have a new `logging-extra-types` package pretty quickly. Does that sound reasonable?

[2017-03-20 17:09] daspecster commented on #3165
@cgratie is there anyway way that your sample.raw could have been recorded at a different bitrate than 16,000?

[2017-03-20 17:10] tseaver commented on #3154
We [document](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/1bd4f11166c102a97b5a2bdd1fd6026e26493cf5/pubsub/google/cloud/pubsub/topic.py#L239) [that](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/1bd4f11166c102a97b5a2bdd1fd6026e26493cf5/pubsub/google/cloud/pubsub/topic.py#L481) they *must* be bytes, and we do not coerce them (we call `base64.b64encode()` on the

[2017-03-20 17:13] tseaver commented on #3154
Checking closer, the `google.cloud.pubsub._gapic` module *does* coerce before assigning the message to the protobuf, but the `_http` module does not:  it encodes the bytes using `b64encode` and then *decodes* them to Unicode as `ascii`.

[2017-03-20 17:18] tseaver commented on #3061
@garye We don't expose a "universal" way to set timeouts on operations:  we've added them to specific API wrapper methods (e.g., deca383ae3a6901064cb16fdba6d31259b36980c for `google.cloud.pubsub.topic.Topic.publish`).

[2017-03-20 17:39] daspecster commented on #3166
@cgratie if you set `interin_results` to `True`, it will pass the live results as they are received.

I which case you could concatenate them.  Does that answer your question?

[2017-03-20 17:47] tseaver commented on #2951
@tswast Like the back-end API, we do not flatten nested records into tuples, but preserve them as dicts.  PR #3171 adds a system test showing how to insert your original example.

[2017-03-20 17:47] lukesneeringer commented on #2572
Just discussed with @geigerj offline, and based on https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2572#issuecomment-257954412, I am pretty sure we should _not_ do that. It would just move the problem, because as soon as you installed that package, oauth2client would think you were on GAE.

[2017-03-20 17:53] #2956 closed

[2017-03-20 17:55] lukesneeringer commented on #3061
@tseaver Any concerns about adding something similar here?

[2017-03-20 17:59] lukesneeringer commented on #3154
Aha, I had only looked at the `_gapic` module. We should decide on a consistent mechanism.

I would probably prefer that text strings raise an exception, but that bugfix would be a pretty drastic backwards-incompatible change. It might be better to go the forgiving route at this point

[2017-03-20 18:01] daspecster commented on #3099
@brianjpetersen googling that error for `requests` got me to [this SO question](http://stackoverflow.com/questions/40652405/zlib-error-3-while-decompressing-data-invalid-distance-too-far-back) which lead me to the following issue.

See: https://bugs.python.org/issue27164

It sounds like there's an issue with Python 3.5.2.  If you upgrade do you still have the same issue?

[2017-03-20 18:04] #2951 closed

[2017-03-20 18:21] dhermes commented on #3167
@lukesneeringer Was fixed in #3159

[2017-03-20 18:29] tseaver commented on #3154
I'd say we've documented the `bytes` requirement all along:  we could just enforce it.

[2017-03-20 18:56] bjwatson commented on #2572
@lukesneeringer @geigerj This seems like a P1 issue given the user impact. I assigned to Luke; feel free to re-assign to Jacob if you prefer.

[2017-03-20 19:00] geigerj commented on #2572
@jonparrott Do you have thoughts on the right way to handle this?

[2017-03-20 19:21] brianjpetersen commented on #3099
That seems to be it.  It's working on my 2.7 binary.  Thanks.

[2017-03-20 19:29] daspecster opened #3172 "Test all links and code examples in docs for GA/Beta."
Test all doc links and examples for...

- [x] BigQuery ([results](https://gist.github.com/daspecster/2c928e30b287e7c2ea63dabbafdaec61))
  - [x] Links/references (#3196)
  - [x] Examples/Snippets
- [x] Datastore 1 anchor reference error, ([results](https://gist.github.com/daspecster/1385b1675f4a923998d7c698fe99c328))
  - [x] Links/references (#3186)
  - [x] Examples/Snippets
- [x] Storage
  - [x] L

[2017-03-20 19:29] tseaver commented on #3061
My only concern is that this is whack-a-mole salad:  adding timeout support on an ad-hoc basis feels vaguely wrong, but I'm not sure that the Right Thing (TM) would be.

[2017-03-20 19:40] jonparrott commented on #2572
@bjwatson good news and bad news:

1. We no longer depend on oauth2client. The new library does a narrow check and wouldn't be triggered by the presence of that package.
2. If we installed that package, we'll break any app engine users. This library already has tenuous support for App Engine, so let's try not to do anything more to rock the boat.

If the extra types library can have an import path

[2017-03-20 19:46] daspecster commented on #3099
OK great! I'm going to close this then.

[2017-03-20 19:46] #3099 closed

[2017-03-20 20:22] cva commented on #3167
when might those changes show up in a new release?

[2017-03-20 20:50] dhermes commented on #3172
This is in some sense the grandchild of #212. I vote for the approach used in #2738.

[2017-03-20 20:52] dhermes commented on #2572
The fix is to loosen the way we parse `Any` protobufs here. (We had discussed this before and I let it fall through the cracks, my bad.) No need for any new generated libraries

[2017-03-20 21:51] mbrukman commented on #2762
@arita37, we recently launched support for [BigQuery to query data stored in Cloud Bigtable](https://cloud.google.com/bigquery/external-data-bigtable), and BigQuery supports SQL. It removes the need to run Impala or Hive or any other system, so anything that can already talk to BigQuery can use this (read-only) bridge to query data in Cloud Bigtable.

Would this address your use case?

[2017-03-20 21:52] mbrukman commented on #2762
@daspecster, @dhermes -- not sure why it says I removed my assignment, I did not do that (only left a comment) and had no intention of doing this. However, I am now unable to reassign this issue to myself (looks like I don't have permission to do so). Please feel free to assign it back to me. Thanks!

[2017-03-20 22:26] yatuzhang opened #3174 "Text Detection Client Not Synched Up to Server Update _KEY_MAP values Missing"
Hi,

There seems to be some changes in JSON response returned from the server, but the client library is not up-to-date.

The issue seems to be from an outdated [annotations.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/8f3881adb20e0783599add7a3528e7aa69e1093e/vision/google/cloud/vision/annotations.py)

For instance, I see that there is now a key called fullTextAnnotation ret

[2017-03-20 22:28] lukesneeringer commented on #2762
I think you lost your assignment because you are not on a team with write access to this repository. We did a pretty thorough permissions scrub a few weeks ago.

Poke me on Hangouts if you actively need write access; otherwise, feel free to just treat this issue as if it is yours and send a pull request.

[2017-03-20 23:38] cgratie commented on #3165
@daspecster It is very unlikely, the result is actually piped from **ffmpeg** with **-ar 16000**. Also, if the actual rate was, say, 44100, the duration would go beyond the 1 minute limit and the file would not go through regardless of the timeout setting.

[2017-03-20 23:49] cgratie commented on #3166
@daspecster I am indeed using `interim_results=True` and want to use live results as they come in. As far as I could figure out from the content of the responses, results from the same response are to be concatenated to get the current transcription of the video, whereas new responses overwrite older ones. Thus, if I don't know when a new response starts (because I only see a flow of results), I d

[2017-03-21 00:10] lucmult opened #3175 "PubSub topic.create method should raise a Conflict error instead of RetryError/GaxError when topic exists"
Following the [documentation from PubSub site](https://cloud.google.com/pubsub/docs/reference/libraries#client-libraries-install-python) if you run the example 2x it will generate the error:
[code]

However it should raise Conflict Error (google.cloud.exceptions.Conflict), because the API returns a 409 response.
You can see the status code using API Explorer:
https://developers.google.com/apis-exp

[2017-03-21 00:37] samskillman opened #3176 "Unable to get all monitoring metrics for num_undelivered_messages"
I've written a simple utility to monitor a bunch of pubsub queues, in particular the number of undelivered messages. I'm currently unable to page through all the subscriptions and am instead only able to see 32 results.
[code]

I've also tried using the select_resource to filter the query, but that seems to only filter on the first 32 results. I'm using python2.7 and google-cloud-monitoring==0.23.

[2017-03-21 01:32] daspecster commented on #3174
@yatuzhang thanks for reporting!

Actually `fullTextAnnotation` is in the current released version ([0.23.3](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/vision-0.23.3/vision/google/cloud/vision/annotations.py#L31)).

What version does your `pip freeze` say is installed?

[2017-03-21 01:35] #3124 closed

[2017-03-21 01:49] mbrukman commented on #2762
@lukesneeringer – I don't have a strong need for repo-wide write access; I just wanted to keep this assigned to me for clarity and tracking purposes. There isn't a specific PR to send at this time. If you have repo write access, maybe you can assign it to me?

[2017-03-21 02:04] dhermes commented on #3175
@lukesneeringer This is part of a more general question: how / where should we re-wrap `GaxError`?

[2017-03-21 02:06] dhermes commented on #2762
From [Assigning issues and pull requests to other GitHub users][1]:

@lukesneeringer Was under the impression you needed write access to be assigned but it looks like read access will be sufficient?

[1]: https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

[2017-03-21 02:10] dhermes commented on #3176
@samskillman I am trying to reproduce, any suggestions for reproducing? If you make the same query in the [APIs explorer][1] can you get more than 32?

[1]: https://developers.google.com/apis-explorer/#p/monitoring/v3/

[2017-03-21 04:53] lucmult commented on #3175
For anybody affected by this, to handle ALREADY_EXISTS exception you can use the following scheme:

[code]

[2017-03-21 04:55] samskillman commented on #3176
@dhermes thanks I went through https://developers.google.com/apis-explorer/#search/monitoring/cloudmonitoring/v2beta2/cloudmonitoring.timeseries.list and got the same result. I think my confusion came from a lag between when the subscription started processing messages and when the monitoring metrics showed up (which they now do as expected). I was used to the 3-5 minute lag between a new subcript

[2017-03-21 05:01] dhermes commented on #3176
Thanks for confirming!

@lukesneeringer @jonparrott Where should we redirect this feedback?

[2017-03-21 05:01] #3176 closed

[2017-03-21 09:38] briandeheus commented on #3088
@waprin I'll see if I can create a case. We're actually using Django 1.9 on our end. I should have mentioned that.

[2017-03-21 11:08] nilleb commented on #3162
I reproduce this issue using
`google-cloud-spanner-0.23.1 gapic-google-cloud-spanner-admin-database-v1-0.15.3 gapic-google-cloud-spanner-admin-instance-v1-0.15.3 gapic-google-cloud-spanner-v1-0.15.3 proto-google-cloud-spanner-admin-instance-v1-0.15.3 proto-google-cloud-spanner-v1-0.15.3`

[2017-03-21 13:58] daspecster commented on #3166
@cgratie ok, cool.

I think I'm starting to grasp the issue. I think what you need access to is the [`result_index`](https://cloud.google.com/speech/reference/rpc/google.cloud.speech.v1beta1#streamingrecognizeresponse)?

That way you can update in place the results.

[2017-03-21 15:17] lukesneeringer commented on #3175
The _correct_ answer is to have GAX raise these different kinds of errors, rather than the catch-all `GaxError`. It could import them from `google.cloud.exceptions`.

[2017-03-21 15:19] lukesneeringer commented on #3174
I also see an `if feature_type in _KEY_MAP` check, so new keys should not just break the client.

[2017-03-21 15:21] lukesneeringer commented on #3174
Closing this for now. Feel free to re-open if there is new information.

[2017-03-21 15:21] #3174 closed

[2017-03-21 15:22] lukesneeringer commented on #3167
I can release a new error reporting client today.

[2017-03-21 15:40] lukesneeringer commented on #3162
@nilleb What is the specific failure you are getting?

[2017-03-21 15:44] cva commented on #3167
Thanks for the update. btw, did anyone check to see if the same fix has also been made to google.cloud.logging? (or should I just open a separate issue?) It seems to exhibit the same behavior.

[2017-03-21 15:44] #3167 closed

[2017-03-21 16:25] kevhill opened #3179 "More secure Docker support"
From the documentation, it looks like you need to include the service account .json file with the private key into any code repo/docker image that you use to develop. Obviously, this is not the most secure practice, nor the most flexible in developing in multiple environments.

Is there any way to pass the client id and private key used to go through the service account OAuth flow directly through

[2017-03-21 16:48] daspecster commented on #3179
Docker has some support for managing secrets.

https://blog.docker.com/2017/02/docker-secrets-management

You can override the path to the credentials with
[code]

Let me know if that helps!

[2017-03-21 16:56] kevhill commented on #3179
Thanks for the link @daspecster I hadn't seen that new feature in docker. However, it looks like it is part of swarm right? I don't see how you'd, say use that for local development and then deploy on Google Container Engine.

Directly loading the needed data through 3-4 environmental variables works in all circumstances.

[2017-03-21 17:01] jonparrott commented on #3179
@kevhill you can also mount the file using docker volumes. Kubernetes / Container engine can do this with secrets and config maps.

[2017-03-21 17:07] lukesneeringer commented on #3167
I was not able to find the issue on logging.

[2017-03-21 17:18] lukesneeringer commented on #3061
That sounds right to me. If we move HTTP support into GAX, we could likely unify it; until then, probably whack-a-mole is the right answer.

[2017-03-21 17:47] dhermes commented on #3175
@lukesneeringer That would be much preferred to the [current ad-hoc approach][1] (only in use in one subpackage, though some [other remappings][2] also exist).

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/983783b105c1bff4b43e7403b649c4acfa1b9138/datastore/google/cloud/datastore/_gax.py#L98-L115
[2]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/983783b105

[2017-03-21 18:10] #3150 closed

[2017-03-21 22:21] daspecster opened #3181 "Chaining ACL grants on Storage does not work."
So from what I can tell [this](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/ce6756fbe3633c74fd742567654565147628f4ba/storage/google/cloud/storage/acl.py#L56) doesn't work.

Example:
[code]

None of the grant methods return an object to chain to.
See:  https://github.com/GoogleCloudPlatform/google-cloud-python/blob/486163e5378897961bc3cf367062c8b10cf7ce3e/storage/google/cloud/sto

[2017-03-21 22:24] daspecster commented on #3088
Ah sorry, I got distracted and this slipped my memory.

@briandeheus that would be great! Thanks!

[2017-03-21 22:25] daspecster commented on #3150
@80nashi if you want to try and install from `master` it appears that @lukesneeringer addressed this.

[2017-03-21 22:55] cgratie commented on #3166
@daspecster Yeah, `result_index` would be enough for my current project.

It would also be useful if `endpointer_type` can be exposed somehow: for example it could help identify segments containing speech inside a larger audio file. Assuming of course that the value of `endpointer_type` is reliable in the current version of the API. I am making the implicit assumption that all values inside a resp

[2017-03-22 05:50] nilleb commented on #3162
@lukesneeringer all the instance creations I've tried to complete yesterday were failing with a StatusCode.INVALID_ARGUMENT. This is the reason for which I've found this issue via a simple Google search.

[2017-03-22 05:56] omaray commented on #3131
Yes, I'm indeed aware of these other google-api-* tags.

Thanks for the feedback xmedeko. We'll consider strongly.

[2017-03-22 08:37] omaray commented on #2667
Not in the plans to add an exact timeline. Would something "more ball parky" make sense?

[2017-03-22 14:00] lukesneeringer commented on #3131
Regardless of the final decision, closing this issue.

[2017-03-22 14:00] #3131 closed

[2017-03-22 14:01] lukesneeringer commented on #3162
Can you provide a traceback?

[2017-03-22 14:08] lukesneeringer commented on #3181
I would rather fix the code to match the docs.

[2017-03-22 15:00] daspecster commented on #3181
SGTM, I'll get a PR together.

[2017-03-22 16:42] tseaver commented on #3181
Those docs may be leftovers from some early development:  we've mostly avoided the `return self` chaining thing on purpose.

[2017-03-22 17:47] #2906 closed

[2017-03-22 17:47] #3029 closed

[2017-03-22 17:48] tseaver commented on #3029
@tswast If you update your sample data / schema, please reopen and post them here.

[2017-03-22 18:26] tseaver commented on #1679
@lukesneeringer How would you prefer that I factor out the existing `google.cloud.pubsub` IAM support?

- Shared bits move into a new `google.clooud.iam` module inside the `core/` subproject?
- Shared bits move into a new `iam/` subproject?

[2017-03-22 18:39] lukesneeringer commented on #1679
Good question. My instinct is that I would prefer not have an excessive number of sub-projects, and to put it in a `google.cloud.iam` module in core. My feeling is that if we later have six or seven projects like that, it will become hard to know what is an API and what is a shared module.

That is a loose preference though and I am happy to be persuaded otherwise.

(If this were day 1, I would ha

[2017-03-22 19:28] tseaver commented on #1679
I'm find with putting it in `core/`:  I was just worried that we wanted to be more conservative about such changes.

[2017-03-22 19:29] dhermes commented on #1679
What about putting it all in `google-auth-library-python`? @jonparrott WDYT?

[2017-03-22 20:22] jonparrott commented on #1679
@dhermes I'd prefer to keep code that hits any non-auth API endpoint outside of google-auth (I was actually *really* wary of adding `IAMSigner`). But I may be able to be convinced if you think it's the best place for this.

[2017-03-22 20:23] jonparrott commented on #1679
gax/core seems like the right spot for this IMO.

[2017-03-22 20:28] tseaver commented on #1679
I'd vote for `core` at this point:  the APIs of interest (`pubsub`, `storage`) don't expose any IAM-related methods over gRPC:  they are REST-only.  There really isn't very much code involved for the API-specific bits (mostly knowing how to formulate the request URLs, which aren't uniform).

[2017-03-22 20:31] tseaver commented on #1679
Most of the code will be in the "common" bits:  schlepping the policy resource into / out of the Python object, creating various principal iDs, etc.  See #3188.

[2017-03-22 21:09] lukesneeringer commented on #3181
Based on feedback to #3183, please change the docs. :-)

[2017-03-22 21:20] lukesneeringer commented on #1679
@tseaver To answer a prior question, I am fine with additive changes to core. What I want to move away from is sweeping refactors like what we did with `._connection` that basically threw you into situations where you could not run certain juxtapositions of APIs simultaneously.

[2017-03-22 22:04] daspecster commented on #3181
👍

[2017-03-22 22:12] elibixby commented on #1679
FYI looks like most of the IAM implementations (not just pubsub) will break with the introduction of custom roles which is happening within the next month (already some customers in alpha).

Fortunately the solution is simple. Stop maintaining individual sets for each role and instead maintain one dict of sets which maps from roles -> members. Then make property shortcuts use the new "bindings" pr

[2017-03-23 05:52] mikelambert opened #3191 "Can't use/pickle datastore Clients on google dataflow (apache beam)"
I am attempting to use `datastore.Client()` from within a google cloud dataflow (apache beam) pipeline.

It attempts to pickle objects being passed around (lexically or arguments) to processing stages, but unfortunately the Client is not pickleable:
[code]

I believe the correct fix is to discard the Connection when serializing, and rebuild it when deserialized.

I could attempt to recreate the Cl

[2017-03-23 06:18] mikelambert commented on #3191
Ahh seems as a temporary workaround, I can disable GRPC altogether:
[code]

(Though having it serialize/deserialize correctly, and reconnect using the saved oauth credentials, would be a much preferable solution.)

[2017-03-23 15:21] lukesneeringer commented on #1679
Wait, _what?_ This is pretty critical information.
Has the IAM team reviewed the implementations that just went in for Node and PHP to see if they are forward-compatible with your changes?

Tagging @bjwatson, @omaray for awareness.

Could we see an example?

[2017-03-23 15:42] dhermes commented on #3191
@mikelambert The issue with pickling is not the credentials, it's the gRPC transport object.

A simple hack for you would be just to do

[code]

This way you don't have to go with the "inferior" HTTP transport.

I'm not sure how much we want to prioritize being pickle-able. Though maybe serialization is a worthwhile discussion. @lukesneeringer @tseaver WDYT?

[2017-03-23 15:45] lukesneeringer commented on #3191
I am pretty uninterested in putting any priority on being pickle-able.

[2017-03-23 16:08] elibixby commented on #1679
@lukesneeringer I have provided an example on python on @tseaver 's CL, which is how I had it set up in my proposal for #2031 . I don't know about Node or PHP since I don't know those languages, but we should make sure of that.

To support custom roles at the very least you need to support arbitrary role strings and not limit the role strings that you parse out of policy bindings.

To fully suppor

[2017-03-23 16:15] lukesneeringer opened #3193 "New BigQuery system tests fail on Python 3."
@tseaver One of the new BigQuery system tests consistently fails on Python 3.x:

Running `tox -e system-tests3 -- bigquery` on current master:

[code]

[2017-03-23 16:32] chinnawatp commented on #2683
@barroca  I had the same problem. In my case, If my Node.js run for a while without any request, this error will occur and making request again will get normal response.

Really need help

`{ Error: {"created":"@1490271131.819044969","description":"Endpoint read failed","file":"../src/core/ext/transport/chttp2/transport/chttp2_transport.c","file_line":1851,"grpc_status":14,"occurred_during_write":

[2017-03-23 17:24] daiyueweng commented on #3155
@lukesneeringer I am more interested in how to use a specific resource type by using the `Python` API, e.g. under `Google Project/project_id`.

[2017-03-23 17:36] tseaver commented on #1679
@elibixby `google.cloud.pubsub` has implemented `get_iam_policy`, `set_iam_policy`, and `test_iam_permissions` for two years.  PR #3188  is only factoring out the "shared" bits of `google.cloud.pubsub.iam` into a new `google.cloud.iam` module.  I have updated it to address your issues concerning custom roles.

The bits of your proposal which add a common subclass for the implementation of those AP

[2017-03-23 17:45] elibixby commented on #1679
@tseaver This makes it difficult/slow to implement IAM for a new API. One platform should standardize the implementations. In this case it is Pub/Sub which is doing things correctly and storage which is the oddball since the former is a OP API and the latter is not. So new APIs should follow the pattern of Pub/Sub.

As a potential user of this library I have avoided it for a while because it didn'

[2017-03-23 17:49] lukesneeringer commented on #3191
I am going to close this. @dhermes has posted a workaround, and I think that is the extent that I want to make `pickle` an authorized way to do something. :-)

[2017-03-23 17:49] #3191 closed

[2017-03-23 17:50] lukesneeringer commented on #3179
You can set the environment variable in Kubernetes.

[2017-03-23 17:50] #3179 closed

[2017-03-23 17:53] tseaver commented on #3193
@lukesneeringer OK, should be a simple fix.

[2017-03-23 17:53] lukesneeringer commented on #3165
You said the audio is 25 seconds long? Because 25 * 3 + 5 is equal to 80.
What happens if you try something that is >= 81 seconds? (I say 81 since obviously the `float` conversion is causing issues at the exact level.)

Could you try that?

Obviously this error message is lousy either way, and we want to improve that. :-) But for now, let's see if we can get you working...

[2017-03-23 17:54] lukesneeringer commented on #3193
Great, thanks! I tried to fix it and was scratching my head this morning. But it was 7:00 AM, which might have been the issue.

[2017-03-23 17:56] lukesneeringer commented on #1679
@tseaver What would be your thoughts on implementing generalistic class the "pubsub way" (which @elibixby says is the correct way) and subclassing for storage?

Clarity: I am not mandating this. Honestly asking.

[2017-03-23 18:11] tseaver commented on #1679
Maybe it would work out, if storage is truly the only exception.  I don't think there will be any point in subclassing for storage, rather than just re-implementing the same set of API methods.

[2017-03-23 18:47] #3193 closed

[2017-03-23 20:56] garye commented on #3061
What's the best way for @craigtb to make progress here? Adding a deadline whack-a-mole style requires a release, is there a short-term workaround?

[2017-03-23 21:34] lukesneeringer commented on #3061
Yeah, let's do that for now.

[2017-03-23 22:09] lukesneeringer commented on #3181
Has this been done?

[2017-03-23 22:11] lukesneeringer commented on #3155
Huh?

[2017-03-23 22:12] lukesneeringer commented on #3109
Closing for now. #1998 is in progress.

[2017-03-23 22:12] #3109 closed

[2017-03-23 22:29] daiyueweng commented on #3155
@lukesneeringer do you know how to use `Monitored Resource` in `Python`?

[2017-03-23 22:38] lukesneeringer commented on #3155
I am not familiar with the details, no. But at this point I also do not know what bug this ticket is reporting.

[2017-03-23 22:49] BrandonY opened #3200 "Installing from clean Python fails on 'packaging.version' dependency"
1. OS type and version: Ubuntu
2. Python version and virtual environment information: Python 2.7.6
3. google-cloud-python version: 0.23.0
4. Stacktrace if available

[code]

5. Steps to reproduce

    1. Create a brand new venv environment.
    2. Run "pip install --upgrade google-cloud"

You can fix this error by separately installing the packaging and the appdirs packages, so I assume they are s

[2017-03-23 22:53] jonparrott commented on #3200
@BrandonY can you give me the output of `pip --version` and `pip freeze | grep setuptools`?

[2017-03-23 22:54] daspecster commented on #3200
@BrandonY thanks for reporting!

I'm attempting to reproduce now.

[2017-03-23 22:56] lukesneeringer commented on #1679
@elibixby I want to follow up on something you said earlier.

I am worried about the potential that something is coming out that will break our libraries, and I still do not understand what the change is or how it will break the library.

Can we set up a meeting (internally) to discuss? I want to figure out what, if anything, cross-language action items are.

[2017-03-23 22:58] BrandonY commented on #3200
I created a new virtualenv and tried again. Same issue for me.

$> pip --version
pip 1.5.6 from /homedir/venv3/local/lib/python2.7/site-packages (python 2.7)
$> pip freeze | grep setuptools
(No output)

I created another virtualenv and installed packaging and appdirs, then installed google-cloud, and that time I was completely successful.

[2017-03-23 23:00] jonparrott commented on #3200
pip 1.5.6 is pretty ancient. I suspect you'll have no issues with a newer pip.

[2017-03-23 23:16] #3155 closed