[2018-06-21 19:07] JustinBeckwith commented on #5514
@theacodes - @salrashid123 thinks this deserves another look :)

[2018-06-21 20:42] yiga2 commented on #5313
Not sure why it gets closed as what seems to be missing is the module compiled from proto, as per https://stackoverflow.com/questions/50301632/using-python-to-query-gcp-stackdriver-logs

Instead of each of us compiling a python module for it, it would make sense to have a new google.cloud.audit package containing, at a minimum, the AuditLog module. After that, I agree @tseaver's code makes it stra

[2018-06-21 21:35] tseaver commented on #5514
@salrashid123 Can you please expand?  We *cannot* know the type of the message in a protobuf payload a priori:  it could be *any* protobuf message type at all.  The very most a library like `google-cloud-python` could do would be to expose to the user a registry, to be populated with  message types known to the user, which we could then be used to transform the `Any` using code like my example abo

[2018-06-21 21:44] tseaver opened #5520 "Regen / release vision, texttospeech, iot"
Now that the gapic-generator [fix for shared modules is merged](https://github.com/googleapis/gapic-generator/pull/2063).  The recent releases of those API libraries all contain the re-introduced module overwrites for shared modules (#5473).

[2018-06-22 02:53] emmick4 opened #5523 "PubSub: Errno 24: too many open files with multiple publishers"
Ubuntu 16.04
Python version 3.5.2
google-cloud-pubsub==0.35.4
google-auth-oauthlib==0.2.0

I'm using multiprocessing + pubsub and after X amount of time get the stack trace shown below.  Even stepping down to just 1 process causes it to fail. When I pull the publisher class out of the publish message function, the error stops being thrown, but the throughput plummets. My inclination is that publis

[2018-06-22 06:35] klaister opened #5525 "BigTable on AppEngineStandard"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

Google Bigtable Python Client Library is not compatible with App Engine's standard hosting environment.

Does anyone know if there is any way to connect to Bigtable from APP ENGINE STANDARD

[2018-06-22 07:00] psalaberria002 commented on #4994
What's the status on this? Batching of messages seems a very common requirement.

[2018-06-22 08:41] Finfa811 opened #5527 "Street View Publish: google-gax not found"
- Windows 10
- Python 2.7.14
- google-cloud==0.33.1
- gapic-google-maps-streetview-publish-v1==0.1.4
- google-gax==0.15.16

### Traceback:

### Steps & Code

`pip install gapic-google-maps-streetview_publish-v1`

Tried testing the example in https://developers.google.com/streetview/publish/libraries. Error is raised in the line:

`from google.streetview.publish.v1 import street_view_publish_servic

[2018-06-22 14:50] sduskis commented on #5525
@theacodes, do you know about gRPC status with App Engine Standard?

[2018-06-22 15:11] AnilkumarKomanduru commented on #3450
Hi,
Im using ttn version 2.1.1, and still seeing same issue,
I did not use any certificate for your info for testing.

gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gapic-google-cloud-pubsub-v1==0.15.4
gapic-google-cloud-spanner-admin-database-v1==0.15.3
gapic-google-cloud-spanner-admin-instance-v1==0.15.3
gapic-goo

[2018-06-22 15:16] AnilkumarKomanduru opened #5528 "google-cloud==0.33.1, ttn==2.1.1 with grpcio==1.7.3 hangs in completion_queue.poll()"
# Thank you for reporting an issue to google-cloud-python!

Actually when I try use the demo file with No changes ( https://github.com/TheThingsNetwork/python-app-sdk) except app-id and access key,
Which is getting hung while creating handler i.e. handler = ttn.HandlerClient(app_id, access_key).

Stack trace:

handler = ttn.HandlerClient(app_id, access_key)
|
handler.py  -- >  self.__open(discover

[2018-06-22 16:18] lukesneeringer commented on #5527
Hello @Finfa811,
I am sorry you are having trouble.

One thing I am noticing in your traceback: You are running setuptools 0.6c11. That is about nine years old at this point, and very likely to be the issue. Is it possible for you to upgrade to a modern version? (It looks like you are using something involving App Engine, which I confess I am not familiar with.)

[2018-06-22 19:12] Finfa811 commented on #5527
Thanks @lukesneeringer.

You are right, the App Engine extension for Python is creating conflicts with the Street View Publish API. When you run `gcloud components install app-engine-python`, several libraries are installed, _setuptools 0.6c11_ among them.

In my _virtualenv_ I have the last version of _setuptools_ (39.2.0), but when running the code, the library is imported from the GAE distribut

[2018-06-22 19:29] theacodes commented on #5525
See #1893

[2018-06-22 19:29] #5525 closed

[2018-06-22 20:05] theacodes commented on #5523
@mehrdada can you take a look here? Seems related to gRPC forking support.

[2018-06-22 20:07] mehrdada commented on #5523
@psrini @ericgribkoff can y'all take a look and see if it is a supported use case?

[2018-06-22 21:19] ericgribkoff commented on #5523
It doesn't sound to me like this has anything to do with fork+gRPC. The code snippet looks like the fork(s) happen before the child uses the client library (gRPC) which should work fine. And the stack trace `SSLError(OSError(24, 'Too many open files')` indicates that too many file descriptors have been opened by the process: forking would not cause gRPC to open extra files.

From the original post

[2018-06-22 21:32] emmick4 commented on #5523
@ericgribkoff Several hundred at least, possibly into the thousands. It's hitting the OS limit for number of open files. This may just not be a supported use case, digging through docs I haven't seen a way to kill a publisher once it's been created. My workaround for the moment has been to use a stack of publishers equal to the number of processes spawned (below). To support the original case I im

[2018-06-24 23:36] salrashid123 commented on #5505
The ability to inject the ```trace``` parameter into a ```log_entry``` is pretty useful in setting up consolidated logs and grouping in for ```httpRequests```

as an example, here is  sample where you can add on log groups in Flask using a hacked local version overriding ```log_text()``` method to add ```trace=```

[code]

(diff file for local overrides included):
-[https://gist.github.com/salrash

[2018-06-25 14:27] helen-fornazier opened #5532 "pip fails to install google-cloud-logging: error in google-api-core setup command: 'install_requires'"
I am trying to install google-cloud-logging using pip but I am getting the following error:

[code]

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
`Doesn't apply`
2. OS type and version
`Suse 12 (image at GCE)`
3. Python version and virtual environment information `python --version`
[code]
4. google-cloud-pytho

[2018-06-25 15:23] theacodes commented on #5532
It seems your pip version is out of date. Can you try upgrading pip to see
if that helps?

On Mon, Jun 25, 2018 at 7:27 AM Helen Koike <notifications@github.com>
wrote:

[2018-06-25 15:29] helen-fornazier commented on #5532
yes, updating pip with `sudo pip install --upgrade pip` worked, thanks!

[2018-06-25 15:29] #5532 closed

[2018-06-25 16:14] tseaver opened #5533 "Storage: 429 during 'create_bucket' system test"
New failure:

See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6958

[2018-06-25 16:17] tseaver commented on #5527
The only thing related to this repository in the report is that you appear to have the `google-cloud` umbrella package installed:  that package is deprecated, and also doesn't have anything to do with the reported traceback.

What *is* present in the traceback is libraries from the `Google Cloud SDK` distribution, which is supported [here](https://cloud.google.com/sdk/docs/getting-support).

[2018-06-25 16:17] #5527 closed

[2018-06-25 16:23] tseaver commented on #5528
This issue is unrelated to any of the `google-cloud` API libraries, which are not imported by any of the code in the TTN repository.  Please report it [there](https://github.com/TheThingsNetwork/python-app-sdk/issues/new).

[2018-06-25 16:23] #5528 closed

[2018-06-25 16:31] tseaver commented on #5533
We need retry support added here:

[code]

[2018-06-25 20:40] #5533 closed

[2018-06-25 21:18] kierkegaard13 opened #5537 "Storage: No module named google.protobuf/google.resumable_media"
OS: Ubuntu 17.10
Python 3.6.0 :: Continuum Analytics, Inc
conda 4.5.4
conda list:
google-api-core           0.1.4                     <pip>
google-api-core           0.1.4                      py_0    conda-forge
google-auth               1.2.1                      py_0    conda-forge
google-auth               1.2.1                     <pip>
google-auth               1.5.0                     <pip

[2018-06-26 09:08] brcoghe commented on #5507
Since this morning the error has changed:

3
[{'info_type': {'name': 'CREDIT_CARD_NUMBER'}}]
{'info_types': [{'name': 'CREDIT_CARD_NUMBER'}], 'min_likelihood': None, 'limits': {'max_findings_per_request': None}}
---------------------------------------------------------------------------
InvalidArgument                           Traceback (most recent call last)
<ipython-input-17-678886a7c500> in <

[2018-06-26 09:17] epifab opened #5539 "BigQuery: insert_rows does not seem to work"
Hello,
I have this code snippet:
[code]
This produces the following output:
[code]
It seems like it worked, but when I go to my table it's empty. Any idea?

Python version: 3.6.0
Libraries version:
google-cloud-bigquery==1.1.0
google-cloud-core==0.28.1

[2018-06-26 09:58] aleksihakli opened #5540 "Stackdriver Logging: Support custom log levels for Python standard library logging module"
Stackdriver Logging with the Python API client fails with custom logging levels at the moment because the internals fail to map a Python log level name into a Stackdriver internal log level.

1. Specify the API: Stackdriver Logging using the Python libraries
2. OS type and version: `macOS 10.13.5`
3. Python version and virtual environment information `python --version`: `Python 3.6.2`
4. Google Cl

[2018-06-26 16:13] sduskis commented on #5454
It looks like `bigtable/tests/unit/test_instance.py`'s `test_create_w_explicit_serve_nodes` method was never complete.  (see [this comment](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5542#discussion_r198204531))

The method needs to set all parameters, and the input should be checked.

[2018-06-26 16:14] tseaver commented on #5537
Something about how you are installing the various packages is wrecking the `google` namespace setup.  I cannot reproduce in a fresh Python 3.6 virtualenv:

[code]

Can you import the bare `google` package an report its path?

[2018-06-26 16:19] kierkegaard13 commented on #5537
[code]

[2018-06-26 16:21] kierkegaard13 commented on #5537
It also seems like `touch ./opt/conda/lib/python3.6/site-packages/google/__init__.py` fixes the issue, but I'm still wondering if there's a better fix. I've had teammates who continue to run into issues even trying said fix.

[2018-06-26 16:29] tseaver commented on #5539
`client.insert_rows` returns a list of errors (typically, rows which don't match the schema requirements).  What is returned in your case?

[2018-06-26 16:31] tseaver commented on #5539
Also, [streamed rows may not be instantly available](https://cloud.google.com/bigquery/streaming-data-into-bigquery#dataavailability).

[2018-06-26 16:34] tseaver commented on #5537
Please see the [Namespace packages recipe on conda-forge](https://github.com/conda-forge/staged-recipes/wiki/Namespace-packages).

[2018-06-26 16:47] tseaver commented on #5303
I don't believe #5486 actually fixed the `test_utils.retry.BackoffFailed` problem:  it just added retries for 429s w/ `RESOURCE_EXHAUSTED` gRPC status codes.  See [today's failure](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6995) (the second error, inside `TestLogging.test_log_text_with_resource`).

[2018-06-26 16:50] tseaver opened #5543 "Logging systests: 'list_metrics' returning extra entries"
See the [first error here](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6995):

[code]

My hypothesis is that overlapping CI runs are causing the extra metrics instances to be present.

[2018-06-26 16:59] shollyman commented on #5539
If "go to my table" means checking the web UI, be aware that the UI doesn't refresh table state automatically.  You should be able to issue a query against the table and expect the streamed records to be available.

[2018-06-26 23:08] seanmt13 commented on #5444
I upgraded to 35.4 and i am still having the issue where my subscriber stops pulling from a subscription. My environment is in kubernetes and should be pulling 40-50 messages a second. Looking at the logs i get the following:

Jun 26, 2018, 12:58:14 PM |
INFO:google.cloud.pubsub_v1.subscriber._protocol.leaser:Thread-LeaseMaintainer exiting.
INFO:google.cloud.pubsub_v1.subscriber._protocol.heartbea

[2018-06-27 00:01] theacodes commented on #5444
Can you file a new issue? Please include a complete debug-level log that
covers at least 2 minutes before and 1 minute after you see the consumer
stop. We really can't debug without that. The "observed recoverable error"
messages as totally normal, so they don't tell us much.

On Tue, Jun 26, 2018, 4:08 PM seanmt13 <notifications@github.com> wrote:

[2018-06-27 09:00] epifab commented on #5539
hi, there are no errors thrown, that's literally the only output produced. I came back to check today (via the UI), the table still has no rows. I run a manual query and it returned nothing.

[2018-06-27 14:41] iethan commented on #1893
It doesn't seem like using Google APIs with App Engine is possible. I've followed the above instructions and receive the following when using `dev_appserver.py . `:

    THIRD_PARTY_C_MODULES.get_importable_module_names(config))
  File "/Users/ethanlyon/google-cloud-sdk/platform/google_appengine/google/appengine/tools/devappserver2/python/runtime/sandbox.py", line 856, in __init__
    dep_lib = __

[2018-06-27 18:33] tseaver commented on #5303
[Failed again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7011)

[2018-06-27 18:45] tseaver commented on #5539
@epifab Note that the `errors` are the return value from `client.insert_rows()`, and are not raised as an exception.

Trying to reproduce ([Gist of `reproduce_gcp_5539.py`](https://gist.github.com/tseaver/6c40a6a0f2bf9e71f0431cd37c9ca9fa)).

[code]

[2018-06-27 19:29] tseaver commented on #5026
@tyggna Please reopen if you can provide more information to help reproduce the issue.

[2018-06-27 19:29] #5026 closed

[2018-06-27 20:01] tseaver commented on #5254
Trying to reproduce in a fresh virtualenv:

[code]

The [`reproduce_gcp_5254` script I'm using](https://gist.github.com/tseaver/224e54aa87ee85c22400265b7b5a0a14):

[code]

[2018-06-27 20:02] tseaver commented on #5254
Please reopen if you can provide more information to help us reproduce.

[2018-06-27 20:02] #5254 closed

[2018-06-27 20:06] tseaver commented on #5437
Please reopen if you can provide more information to help us reproduce the problem:  the code snippet you are using, stacktrace, etc.

[2018-06-27 20:06] #5437 closed

[2018-06-27 20:14] tseaver commented on #5462
You likely have a broken installation (maybe out-of-date setuptools / pip?).  Try in a fresh virtual environment, e.g.:

[code]

Please reopen if you can provide us more information to help reproduce the problem.

[2018-06-27 20:14] #5462 closed

[2018-06-27 20:18] tseaver commented on #5537
Please reopen if you can reproduce the issue in a fresh virtual environment (no conda, etc.).  E.g.:

[code]

[2018-06-27 20:18] #5537 closed

[2018-06-27 20:19] tseaver commented on #5539
Please reopen if you can provide more information to help us reproduce the issue.

[2018-06-27 20:19] #5539 closed

[2018-06-27 20:32] tseaver commented on #5480
@theacodes, @schmidt-sebastian, @jba Can any of you tell me which project we are using to CI firestore?  It can't be done using our normal, datastore-enabled projects.

[2018-06-27 21:59] thakursc1 opened #5546 "Storage: fetch specific object version"
Is there a way to query a specific version of an object from cloud storage?

[code]

`>> None `

The above function returns None, but when I remove the version I get the respective object. Is there a way to retrieve an object with specified version?

[2018-06-27 22:02] #3989 closed

[2018-06-27 22:10] tseaver commented on #5546
This is basically a duplicate of #4490.  We do not have support for fetching specific generations / metagenerations of blobs / objects, but have future plans to add that support.

/cc @frankyn

[2018-06-27 22:10] #5546 closed

[2018-06-28 00:15] schmidt-sebastian commented on #5480
You have to create a new project and enable Firestore without enabling Datastore. The easiest way to do this is through the Firebase Console.

[2018-06-28 00:21] jba commented on #5480
Presumably Python has such a project.

[2018-06-28 09:22] epifab commented on #5539
I run the code again and printed the results from `insert_rows`: empty list.
I run a select query after about 1 hour: 0 records.
I then run the following snippet:
[code]
This time, all the records were correctly inserted in the table and basically instantly available.
I can't seem to figure out what the issue is here, and I am unsure how to provide better steps to replicate it.
Also I wonder how b

[2018-06-28 15:44] mcdonc opened #5548 "TypeError: __init__() got an unexpected keyword argument 'syntax' in http_pb2.py"
_From @alexandermichels on May 22, 2018 21:34_

Hello, I'm trying to use Google Cloud's Text-To-Speech and I am getting this traceback when I try importing texttospeech from google.cloud. I installed the SDK using [Google's Quickstart for Debian/Ubuntu and Python](https://cloud.google.com/sdk/docs/) and the Python libraries using pip. I've tried upgrading using pip and still get this error, I've u

[2018-06-28 15:44] mcdonc commented on #5548
This doesn't appear to happen in a fresh install using a virtualenv from a checkout of the cloud api Python libraries:

[code]

This issue is slightly misfiled; I'm going to use the issue mover to move it to the google cloud platform repository issue tracker.

[2018-06-28 18:28] leeparayno opened #5549 "BigQuery: insert into table example doesn't work"
The example code from https://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#table-operations doesn't work.

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version

Ubuntu 16.04

3. Python version and virtual environment information `python --version`

Python 2.7.12

4. google-cl

[2018-06-28 18:40] leeparayno commented on #5549
Version installed issue, was not updated to 1.3.0 of google-cloud-bigquery on the bastion host running the script.

[2018-06-28 18:40] #5549 closed

[2018-06-28 18:55] tseaver commented on #5480
Right, there is one being used for CI, but the credentials (including the project) are stored encrypted, and decrypted using CircleCI env vars.  I'm not sure who on the team knows the actual project ID. @dhermes, maybe?

[2018-06-28 18:56] tseaver commented on #5303
[And again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7015)

[2018-06-29 12:01] yiga2 opened #5555 "BigQuery: no public method to retry/resubmit an existing job"
There is currently no public method to resubmit an existing job for instance when a transient error
like 403 **rateLimitExceeded** is returned.

As a workaround, we currently use the following, which works for `query` and `load` :

    bq = bigquery.Client()
    job_ref = bq.get_job('jobid_that_failed_because_of_ratelimit')._build_resource()
    job_ref['jobReference']['jobId'] = str(uuid4())

[2018-06-29 15:20] yiga2 commented on #5409
@tseaver not sure `Retry` will do so if 403 **rateLimitExceeded** is hit.

That error is currently not listed as transient API error as per https://google-cloud-python.readthedocs.io/en/latest/core/retry.html?highlight=retry#google.api_core.retry.if_transient_error

Would be good to add but in the meantime, I guess you can pass the error as custom `predicate` but not sure as that error type is not

[2018-06-29 16:18] tseaver commented on #5480
Projects to which I have access on https://console.cloud.google.com/:

[code]

Of those, the main Python CI one (`precise-truck-742`) and @jgeewax's personal project (`jjg-cloud-research`) have the Firestore API enabled, but neither can actually use it, because they also have the Datastore API enabled.

[2018-06-29 17:41] tseaver opened #5556 "Logging: unexpected entries returned in system tests"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7029

[code]

[2018-06-29 18:46] shileiyu opened #15232 "Enable caller provide customized request session for authentication request."
Hardcode a new session dedicated for authentication request make the user hard to customize the requests session object. (for example, proxy)

https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/edfe24602051969e32917e82bcedd2bace43e260/google/auth/transport/requests.py#L167

[2018-06-29 20:04] tseaver commented on #5555
As luck with have it, PR #5552 (merged yesterday) moves the `DEFAULT_RETRY` policy into a new, public module:  it does indeed retry `rateLimitExceeded` errors, and can be customized by users, e.g.:

[code]

[2018-06-29 20:57] yiga2 commented on #5555
Not sure the PR helps. The retry is for inserting a job, not for resubmitting an existing job.
As per Tim: https://stackoverflow.com/questions/49926546/retry-an-update-in-bigquery-does-not-seem-to-work

[2018-06-29 23:47] tseaver opened #5559 "BigQuery: `fetch_single_page` systest returns 500 response"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7040

[code]

[2018-07-02 08:12] miyatin0212 opened #5560 "Monitoring: where is CallOptions on monitoring API example?"
[OS] macOS Sierra 10.12.6
[Versions]

- Python 3.6.1

[code]

----

## CallOptions class was not found!

Hi. I'm new to GCP and Stackdriver. I wanted to use Google Kubernetes Engine and its auto scaling by custom metrics. Then, it is required to export the metrics to Stackdriver Monitoring, so I am trying to do it.

But, After installing above-mentioned libraries, the example code on monitoring AP

[2018-07-02 16:53] seanmt13 opened #5562 "Google PubSub Subscription stops pulling messages from topic."
In response to issue [5444 - Pubsub 0.35.3 stop consuming messages](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5444#issuecomment-400500096) and per theacodes request I am opening up a new issue.

I am currently running a container on kubernetes with 40 pods that are pulling from a subscription that is receiving ~50 messages a second. I am currently running 35.4

This is my c

[2018-07-02 17:00] seanmt13 commented on #5562
This acctually isn't the right log to post closing the issue until i can reproduce the issue.

[2018-07-02 17:00] #5562 closed

[2018-07-02 17:01] tseaver commented on #5480
@crwilcox Maybe you have the keys?

[2018-07-02 17:04] theacodes commented on #5562
@seanmt13 actually if that's your code it does reveal the underlying issue: You need to wait on the subscription future to receive notifications when unrecoverable errors occur:

[code]

[2018-07-02 17:15] seanmt13 commented on #5562
Thanks for pointing that out. I will fix that and see if any unrecoverable errors are raised.

[2018-07-02 20:34] sduskis opened #5563 "Bigtable: createTable should allow creation of column families"
Table.create() should allow the user to create column families when the table itself is created.  Users should be able to supply a Column Family Id => GcRule policy mapping to accomplish this feature.

[2018-07-03 20:32] helen-fornazier opened #5565 "google.cloud.logging.handlers: send messages to stderr"
Would it be ok if we do the print at https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/handlers/transports/background_thread.py#L222
to stderr instead? So it doesn't disturb the output of the software?

Thanks

[2018-07-03 20:38] theacodes commented on #5565
Definitely!

On Tue, Jul 3, 2018, 1:32 PM Helen Koike <notifications@github.com> wrote:

[2018-07-04 11:37] trendelkampschroer opened #5568 "Type conversion bug in google.cloud.monitoring.timeseries._make_typed_value"
1. Monitoring
2. macOS high sierra
3. Python 3.6.4 :: Anaconda, Inc.
4.
google-api-core           0.1.4                      py_0    conda-forge
google-auth               1.5.0                      py_0    conda-forge
google-cloud-core         0.28.1                     py_0    conda-forge
google-cloud-monitoring   0.28.1                    <pip>
google-cloud-storage      1.10.0

[2018-07-04 18:07] tseaver commented on #5568
I'm afraid `google-cloud-monitoring 0.28.1` is old enough that there is no `timeseries.py` module anywhere, nor is there a `makek_typed_value()` function.

We won't be able to fix your bug, but might be able to get some help on migrating your app to use the latest version (`0.30.0` as of today).  At a guess, it will involve a call to [`MetricServicesClient.create_time_series`](https://googlecloudp

[2018-07-04 18:07] #5568 closed

[2018-07-04 21:44] dmarvp opened #5570 "Speech: Connections stay open in ESTABLISHED or CLOSE_WAIT state"
**OS:** CentOS Linux release 7.2.1511 (Core) 
**Python 2.7.5**
**google-cloud-speech** Version: 0.27.0

**Steps to reproduce:**
After using the google speech client do:
`lsof -p <pid>`
or:
`netstat -a`
and you'll notice that there are some TCP connections still in ESTABLISHED or CLOSE_WAIT state.

<img width="590" alt="image" src="https://user-images.githubusercontent.com/6411740/42294648-45461f52

[2018-07-05 08:22] Hillary-K commented on #5205
@ragul-sky So it worked for you when you uninstalled either of them? And which one?

[2018-07-05 11:33] usul83 opened #5571 "Logging: python handler fails to parse log path when running via bash script"
I'm trying to attach a handler to a python logging module, which works as expected when I run the file directly from a [cloud compute engine SSH] terminal, however when I run it via a bash shell script (in the same terminal) it fails with the below traceback.

I tried supplying the project name and credentials explicitly (i.e. using client = logging.Client(project=project_id, credentials=credentia

[2018-07-05 15:37] dmarvp commented on #5570
Btw, this seems somewhat related to #5523 and similar to this 2-year old issue in stack overflow: https://stackoverflow.com/questions/34794516/gcloud-python-close-connection

[2018-07-05 17:47] brodiemackenzie opened #5572 "[BigQuery] Load to table from dataframe always loads an index when using client.load_table_from_dataframe()"
client.load_table_from_dataframe() results in the dataframe index being loaded into the bigquery table.

Can the capability to load data to a table from a dataframe without having to load the index be implemented?

[2018-07-05 18:32] thakursc1 opened #5573 "Tasks: GAE Flex, INVALID_ARGUMENT, "x-goog-request-params""
I am trying to create tasks from a flex application environment with the following code:

[code]

Stack Trace from Error Reporting:
[code]
I looked up online and I found similar error being addressed in the Ruby Client Lib, I am not sure if the same bug exisits in python client library as well.

[2018-07-05 22:50] tseaver commented on #5571
Your script is using `file`, but not defining it:  in this case, it will be the Python built-in `file()` function, which is certainly not what you want.  Maybe meant to use something derived from `__name__`, which will be the name of the module / script?

[2018-07-06 08:55] usul83 commented on #5571
Thanks, but that was markdown picking up the \_\_*\_\_ as a bold, I was indeed using \_\_file\_\_, have edited

[2018-07-06 16:42] GenslerEric commented on #4866
@kprovance

Can you explain what you needed to / how you accomplished this? I'm seeing this same error in my Python stack trace of an Ubuntu 14.04 box:

[code]

[2018-07-06 19:54] casa87 opened #5574 "StackDriver: ResourceExhausted: 429 Received message larger than max (5595329 vs. 4194304)"
Hi

When trying to query Stackdriver metrics I am getting the following error `ResourceExhausted: 429 Received message larger than max`.
I feel like the max rpc call should be far over 4Mb, or the client should be to assemble multiple messages together.

Code example :
[code]

Python 2.7.10 on OSX and virtual env
[code]

[2018-07-07 14:19] constantinos07 commented on #5023
@hiranya911 I am a beginner in appegine and firestore, facing the same problem, which i describe in https://github.com/firebase/firebase-admin-python/issues/179

Can you elaborate how did you fix yours?

[2018-07-08 08:19] iddan commented on #5409
Eventually just moved to another logs product with a better UX instead of extending Stackdriver

[2018-07-09 10:43] usul83 commented on #5571
Worked it out, it's because \_\_file\_\_ passes the path from where the the command was run, rather than just the file name. So it must be confusing things at some point having a handler name with "/". Doing \_\_file\_\_.split('/')[-1] works.

[2018-07-09 15:28] tseaver commented on #5571
@usul83 I think ``__name__`` is probably what you were thinking.  Glad you found an answer.

[2018-07-09 15:28] #5571 closed

[2018-07-09 15:30] tseaver commented on #5409
@iddan I'm sorry we weren't able to work out how to address your usecase better with GCP logging.

[2018-07-09 15:30] #5409 closed

[2018-07-09 15:32] javadnoorb opened #5575 "pip install doesn't upgrade google cloud packages"
1. General google-cloud installation
2. Ubuntu 16.04.4 LTS
3. Python version: Python 2.7.15 :: Anaconda, Inc.
4. google-cloud-python version 0.33.1

I've tried many different approaches including installing gcloud from source, pip installing and force-reinstalling of packages, but I keep getting the following message every time I run `pip install -U pip`:

[code]

Trying `pip install -U google-api

[2018-07-09 15:40] tseaver commented on #5023
@constantinos07 Until the pip bug is fixed, or `firebase-admin-python` adds the explicit pin needed to work around it, you can work around this by creating an explicit `requirements.txt` which pins the needed versions,   E.g.:

[code]

[2018-07-09 16:02] tseaver commented on #5575
@javadnoorb to answer the specific question:  the pins for the (quite old now) API-specific packages look like `google-cloud-pubsub 0.30.1 has requirement google-api-core[grpc]<0.2.0dev,>=0.1.3` (note the upper bound of `<0.2.0dev`.

The umbrella `google-cloud` package is now deprecated.  Rather than installing it, please install the API-specific packages you need, e.g.:

[code]

etc.

[2018-07-09 16:02] #5575 closed

[2018-07-09 16:52] theacodes commented on #5570
Seems this should maybe be moved to gRPC, @tseaver?

[2018-07-09 16:57] tseaver commented on #4305
#5550 moved the `_item_to_row` and `_rows_page_start` to the `table` module (their only uses were there).

[2018-07-09 16:57] #4305 closed

[2018-07-09 17:10] javadnoorb commented on #5575
Thanks. I didn't notice the other was upper bound.

[2018-07-09 20:50] anguillanneuf commented on #1893
@iethan Judging from your `app.yaml` file, you are using Google App Engine Standard Environment. You may need to use the Google Language API in GAE Standard this way:

Your `appengine_config.py` looks good to me.

In `requirement.txt`, you would want to use `GoogleAppEngineCloudStorageClient==1.9.22.1` in place of `google-cloud-storage==1.7.0`. The former is good to use in GAE Standard, the latter

[2018-07-10 17:29] #5565 closed

[2018-07-10 18:17] gnazareths opened #5580 "DefaultCredentialsError pointing to non-existent page"

[2018-07-10 18:34] #5580 closed

[2018-07-10 18:43] iethan commented on #1893
@anguillanneuf Thanks for the comment. I'm getting the following error:

[code]

I did a [search on Google Cloud](https://cloud.google.com/s/results/?q=GoogleAppEngineCloudStorageClient&p=%2Fappengine%2Fdocs%2Fstandard%2Fpython%2F) for the library you mentioned and am not seeing it. Am I missing something from the documentation?

[2018-07-10 20:45] anguillanneuf commented on #1893
@iethan It's definitely on the [webpage](https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/setting-up-cloud-storage). Let me grab a screenshot for you.
![screen shot 2018-07-10 at 1 42 43 pm](https://user-images.githubusercontent.com/9518298/42536541-3fd392a4-8447-11e8-8680-270d1c07a52e.png)

[2018-07-10 23:40] tswast opened #5583 "BigQuery: list_rows() raises a ValueError for empty tables"
[code]

This may not seem like much of a problem, but it prevents DDL statements from being used from the `%%bigquery` magics.

[2018-07-10 23:41] tswast commented on #5583
Instead, when a table has no rows (whether or not it has a schema), it should return an empty iterable.

[2018-07-11 00:02] tswast commented on #5583
I've written a failing system test.

    def test_list_rows_empty_table(self):
        from google.cloud.bigquery.table import RowIterator

        dataset_id = _make_dataset_id('empty_table')
        dataset = self.temp_dataset(dataset_id)
        table_ref = dataset.table('empty_table')
        table = Config.CLIENT.create_table(bigquery.Table(table_ref))

        # It's a bit silly to list rows

[2018-07-11 10:49] adri242 opened #5585 "BigQuery: Partitioning by field attribute in Table class missing"
I need to create a table in Bigquery partitioned by a specific field. I have noticed that this is only available via API Rest.

The class missing the attribute in the Python API is: google.cloud.bigquery.table.Table.

In the REST Reference the time partitioning attributes are defined as:
[code]

A new attribute to define the field named **field** above will be required

[2018-07-11 12:23] Tritrita opened #5586 "Accuracy on Audio to Text Conversion"
Hi

We are recording an audio and sending the Audio to Google Speech API-Python for converting to Text,but the conversion is not as expected.
How do we increase the accuracy of the Audio->Text Conversion.?

**For Info:**
The API is Speech API-MacOS-Python 3.6

Thanks,

[2018-07-11 15:43] tseaver commented on #5585
PR #5267 added support for time partitioning.  That feature was released in [`bigquery-1.2.0`](https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/bigquery-1.2.0).

See the [docs for `Table.time_partitioning`](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.table.Table.time_partitioning.html#google.cloud.bigquery.table.T

[2018-07-11 15:43] #5585 closed

[2018-07-11 15:46] tseaver commented on #5586
@Tritrita I'm not sure there is anything we can do in the Python library to help you.  Please see the [Speech-to-Text API Support docs](https://cloud.google.com/speech-to-text/docs/support) for resources.

In particular, the [Best Practices page](https://cloud.google.com/speech-to-text/docs/best-practices) might help.

[2018-07-11 15:46] #5586 closed

[2018-07-11 15:48] tseaver opened #5587 "BigQuery:"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-07-11 15:51] tseaver opened #5588 "BigQuery: 'Client.update_dataset' systest error, 412 PreconditionFailed"
First error in [this CI run](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7126):

[code]

[2018-07-11 15:54] tseaver opened #5589 "BigQuery: 'Client.update_table' systest error, 412 PreconditionFailed"
Second error in [this CI run](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7126):

[code]

[2018-07-11 15:55] tseaver commented on #5588
Same error occurs in failing snippets test in that CI run.

[2018-07-11 15:55] tseaver commented on #5588
Same error occurs in failing snippets test in that CI run.

[2018-07-11 15:56] tseaver commented on #5003
I'm closing this one, although we have new flakiness:  #5588, #5589

[2018-07-11 15:56] #5003 closed

[2018-07-11 15:56] tseaver commented on #5589
Same error occurs in failing snippets tests in that CI run.

[2018-07-11 16:30] tswast commented on #5588
I think this is a regression in the backend where the REST call to create table doesn't return the correct etag for the patch call.

[2018-07-11 16:35] tswast commented on #5588
I've pinged the BigQuery on-call.

[2018-07-11 17:11] tswast commented on #5588
I thought I might be able to work around this by calling `get_dataset()` before calling `update_dataset()`, but I still have flakes. I'll send a PR to disable these tests until the BQ team pushes a fix.

[2018-07-11 18:28] bond- opened #5591 "Cloud Speech API: Fails behind a SSL proxy"
1. OS type and version: macOS, High Sierra (10.13.5)
2. Python version and virtual environment information: 3.6.3
3. google-cloud-python version
[code]

4. Stacktrace if available: [grpc_error.txt](https://github.com/GoogleCloudPlatform/google-cloud-python/files/2185763/grpc_error.txt)

5. Steps to reproduce, reproducible only within the enterprise network
6. Code example: [speech.py.txt](https://

[2018-07-11 19:13] tseaver commented on #5591
@bond- Thanks for the report!  Can you provide the Python stacktrace at the point your script errors out?

[2018-07-11 19:18] #5587 closed

[2018-07-11 19:33] tseaver commented on #5144
@jasper-smith Thanks for the report!  This bug was fixed in PR #5107, which was part of the `bigquery-1.0.0` release (2018-04-11).

[2018-07-11 19:33] #5144 closed

[2018-07-11 19:35] theacodes commented on #5570
This issue was moved to grpc/grpc#15990

[2018-07-11 19:35] #5570 closed

[2018-07-11 19:39] tseaver commented on #5316
@Ayiruss Can you provide the source of the `analyzeUpload` function?

Per the [gunicorn source](https://github.com/benoitc/gunicorn/blob/3e265d43199e4f915cd40ebd0ceebe3d6cf23f65/gunicorn/workers/base.py#L169), the `handle_abort()` call is from the signal handler for `SIGABRT`. AFAIK, there is nothing in `google-cloud-storage` which generates a `SIGABRT`.  Maybe GAE is sending that signal to the pr

[2018-07-11 19:58] tseaver commented on #5318
@benbc Does your call to `Client.list_entries()` pass a `filter_` argument?  It is quite likely that the overall number of log entries for a project could be huge.  In addition, you might want to limit the number of results you fetch, e.g.:

[code]

FWIW, a `409 Aborted` response is not one of the standard retryable exceptions (`DEADLINE_EXCEEDED`, `INTERNAL`, `UNAVAILABLE`).

[2018-07-11 20:11] tseaver commented on #5327
@crwilcox Can we call this good with the redirect to `https://googlecloudplatform.github.io/google-cloud-python/`?

[2018-07-11 20:14] tseaver commented on #5514
@salrashid123 @JustinBeckwith Reopening the bug isn't particularly helpful if we can't get feedback from the OP.

[2018-07-11 20:34] bond- commented on #5591
@tseaver
[code]

[2018-07-11 21:21] tseaver commented on #5591
@theacodes The error is being raised from the `google.api_core.grpc_helpers.StreamingResponseIterator.next()`, likely on the first iteration.  Any clue why this would fail behind a normally- / properly-configured SSL proxy?

@bond- Can you show us a dump of the [environment variable(s)](http://docs.python-requests.org/en/master/user/advanced/#proxies) which hold the proxy configuration?  Redact an

[2018-07-11 22:04] tseaver opened #5593 "Bigtable: new system test failure"
#5513 caused a new (non-flaky, AFAICT) [system test failure](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7142):

[code]

[2018-07-11 22:13] #5583 closed

[2018-07-11 22:41] crwilcox commented on #5574
Hi @casa87 , I have submitted a PR that should address your issue. After merge I will release a new version for you to verify with.

[2018-07-12 02:19] mbrukman opened #5597 "Bigtable: Instance object cannot create a Table with app profile"
The [`Instance` object][instance] has a method [`table()`][instance#table] which only takes a table id, but not an app profile. This means it's not possible to create a `Table` object given an instance to be used with app profiles, even though the `Table` object constructor does take an optional app profile parameter.

Thus, instead of a simple quickstart as follows:

[code]

we have to do somethi

[2018-07-12 10:53] aneepct commented on #5593
@tseaver I fixed in my brach feature/initial_split_keys_on_table

[2018-07-12 13:38] bond- commented on #5591
@tseaver This is a enterprise wide proxy, it's not set on my local system. Every network call is redirected from this proxy.

[2018-07-12 14:11] sduskis commented on #5597
Basically, `instasnce.table()` needs an optional app_profile_id parameter.

[2018-07-12 14:27] alexcwatt opened #5598 "PubSub: Message publish_time return type unexpected"
I am working on a PubSub project and was a bit confused about the Message `publish_time`. I expected to get `datetime` per [the docstring](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/1acc8c22664229b6681ff91654932998e611e1c2/pubsub/google/cloud/pubsub_v1/subscriber/message.py#L152) for the method. Instead I got a `Timestamp` that apparently comes from protobuf types. I found the

[2018-07-12 14:37] tseaver commented on #5593
@aneepct The new system test added in PR #5513 is the one which is failing (it fails repeatably for me on my local machine, too).

[2018-07-12 14:42] aneepct commented on #5593
@tseaver I am going to create new PR for this.

[2018-07-12 14:55] tseaver commented on #5591
@bond- Does Python/requests HTTPS access work for other URLs in that environment?  E.g.:

[code]

[2018-07-12 15:05] benbc commented on #5318
@tseaver Yes, we filter the query quite accurately. I would expect that we are getting a few tens of logs back with any one call. For good measure we pass `page_size=200` (not `num_entries`) and then double check that we're getting back _less_ than 200 results, so we can be sure our query is specific enough. And we still see this problem from time to time.

[2018-07-12 15:10] #5563 closed

[2018-07-12 15:19] bond- commented on #5591
@tseaver Oh I forgot to mention, to browse any make any request I need to add intermediate SSL certificates.

For running the attached python file, speech.py I am setting the env variable GRPC_DEFAULT_SSL_ROOTS_FILE_PATH:
[code]

all.ca_bundle has all the pem files that my organization has.

[2018-07-12 15:36] bond- commented on #5591
When I try to do a curl on the ip it tries to connect, this is what I see:

The error says it tries to connect to a server with hostnames of type: *.googleapis.com but it found a IP which is not on the SSL cert.

[code]

Same error from the python program:
[code]

[2018-07-12 15:48] tseaver commented on #5598
@alexcwatt Thanks for the report!  I believe that updating the implementation / test to convert the integer timestamp to a date time is best.

[2018-07-12 15:52] tseaver commented on #5318
@theacodes I don't think @liyanhui1228 is our Stackdriver PoC any longer.  Can you loop in the correct person for us?

[2018-07-12 16:31] theacodes commented on #5318
I'm gonna have @crwilcox track that down. :)

[2018-07-12 18:59] bencaine1 opened #5600 "Dataproc: AttributeError: 'module' object has no attribute 'OperationsStub'"
OS: x86_64 GNU/Linux
Python 2.7.6
google-cloud-dataproc version: 0.1.0
google-cloud version: 0.32.0
google-api-core version: 1.1.2

Getting this error on creating a new ClusterControllerClient. Code to reproduce below.
[code]

[2018-07-12 19:09] sduskis commented on #5593
@aneepct, thanks!

[2018-07-12 19:49] qingling128 opened #5601 "Logging: Expose receiveTimestamp field in LogEntry"
The [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) proto has the following two fields:
1. `receiveTimestamp` - The time the log entry was received by Stackdriver Logging.
2. `timestamp` - The time the event described by the log entry occurred.

We can potentially use the delta between these two to measure the latency at the client side.

However `receiveTimestamp`

[2018-07-12 20:11] bond- commented on #5591
The intermediate SSL calls are do decrypt and re-encrypt. Kind of like 'Man in the middle'.

[2018-07-12 21:47] tseaver commented on #5600
@theacodes, @crwilcox Looks to be a codegen problem (needs a `synth.py` fixup for the location of the operation stub).  I labelled it `p1` because AFAICT it blocks any use of the library at all -- do we not have system tests?

[2018-07-12 21:53] tseaver commented on #5591
I don't think there is anything we can do in `google-cloud-logging` to work around a MITM proxy:  such proxies are what SSL/TLS is *supposed* to defeat.

Please reopen if you can suggest differently.

[2018-07-12 21:53] #5591 closed

[2018-07-12 21:57] #5574 closed

[2018-07-12 22:15] tseaver commented on #5598
@theacodes I marked this as `triaged for GA` because the return type of the `publish_time` method property needs to change to match the docstring:  ISTM that is a "surface" change which we might want to fix before GA.

[2018-07-13 01:42] aneepct commented on #5593
@tseaver Fixed the system test at #5606

[2018-07-13 03:42] #5593 closed

[2018-07-13 15:42] tseaver opened #5608 "Monitoring: new system test failure"
After PR #5594 was merged, the [system tests fail](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7179)

[code]

[2018-07-13 16:04] tseaver commented on #5480
@jba Is the desired behavior just to list sub-collection IDs, or should the method return references to the subcollections?

[2018-07-13 16:15] jba commented on #5480
There's no conformance test, but there is a clear description of what should be returned in [the client API doc](https://docs.google.com/document/d/1PjoomZav75_wevZxTarHWqkAlcLnNBAhLBJ4NN_eCPs/edit#heading=h.gvhbp6ce4qht):

[2018-07-13 16:15] bond- commented on #5591
@tseaver I switched from using a MITM proxy to a HTTP_PROXY and HTTPS_PROXY

[code]
[code]

This is the new trace:
[code]

GRPC trace:
[code]

[2018-07-13 16:18] tseaver commented on #5480
@jba OK, thanks -- I must've been misreading the [snippets on the "Getting Data" doc](https://cloud.google.com/firestore/docs/query-data/get-data#list_subcollections_of_a_document).

[2018-07-13 19:03] tseaver opened #5615 "BigQuery: systest 'test_lists_datasets_by_label' failure"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7193

[code]

Likely overlapping test runs.  Suggested fix is to use a label value with `_unique_id`, or else weaken the assertion (assert that the current dataset ID is in the set returned by the `list_datasets` call).

[2018-07-13 19:52] #5608 closed

[2018-07-13 22:15] crwilcox commented on #5574
@casa87 I released this as v0.30.1 to PyPI this afternoon.

[2018-07-13 22:17] crwilcox commented on #5327
@tseaver , these automagically redirect to github.io so this issue should be resolved

@talonx if you still have issues feel free to reopen.

[2018-07-13 22:17] #5327 closed

[2018-07-15 12:04] ron819 opened #5618 "AttributeError: 'module' object has no attribute 'SourceFormat'"
When using the example in the docs:

[code]

https://cloud.google.com/bigquery/docs/python-client-migration#copying_a_table

The line:
`job_config.source_format = bigquery.SourceFormat.CSV`

gives:
`AttributeError: 'module' object has no attribute 'SourceFormat'`

I am aware that this is set by default so this line is redundent but defaults may change in future releases the best way to avoid issue

[2018-07-16 09:44] ron819 opened #5624 "Please look into the error stream for more details."
I'm using a python script to COPY/INSERT data from google storage to a table in big query:

    uri = 'gs:// ....   .csv.gz'
    load_job = client.load_table_from_uri(
        uri,
        dataset_ref.table('testtable'))  # API request

I'm getting:
`google.api_core.exceptions.BadRequest: 400 Error while reading data, error message: CSV table encountered too many errors, giving up. Rows: 1; errors

[2018-07-16 15:18] tseaver commented on #5624
The `load_job` instance has an `errors` property, which will return a list of the [error mappings](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#status.errors) returned by the API call.  See also [troubleshooting errors](https://cloud.google.com/bigquery/troubleshooting-errors).

[2018-07-16 15:18] #5624 closed

[2018-07-16 16:56] tseaver commented on #5598
@alexcwatt If you don't already have a PR in hand, I'm going to go ahead this week, so that we can get the change in place before the upcoming GA release.

[2018-07-16 18:55] tseaver opened #5629 "Spanner system test timeout"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7224

[code]

[2018-07-16 19:06] guanzo commented on #5480
Thank you!

[2018-07-16 20:29] tseaver opened #5632 "Logging system test backoff failures during teardown"
Similar to #5303, but [this failure](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7228) is in trying to delete the `python` logger during teardown:

[code]

Might be due to overlapping test runs?

[2018-07-17 02:22] alexcwatt commented on #5598
@tseaver Awesome, thanks!

[2018-07-17 03:30] alugowski commented on #2255
Can someone with permissions please add this to that Feature Requests page?

This issue means that nearly all online examples on how to iterate over Bigtable are misleading; a simple `for in` loop will unexpectedly crash at some point. The default behavior of iteration should be somewhat retry tolerant.

[2018-07-17 05:27] frankyn opened #5635 "Storage: add support get_service_account method"
Feature request to add support for [projects.serviceAccount](https://cloud.google.com/storage/docs/json_api/v1/projects/serviceAccount/get)

The request gets the GCS managed service account that is used by GCS PubSub notifications and CMEK to allow GCS to access to PubSub and a KMS key respectively.

Examples of existing implementations:
* [PHP](https://github.com/GoogleCloudPlatform/google-cloud-

[2018-07-17 10:51] arvindnrbt commented on #3139
Any update on this? How do we upload thousands of files to GCS ? Should we always iterate and use file upload?

[2018-07-17 12:42] ron819 commented on #5618
@tseaver  I'm not sure you understood me.
removing the `job_config.source_format = bigquery.SourceFormat.CSV` from my code solved the issue.
I claim that the code should work with it. Also, this line is in the official docs! so the example there is with error until this issue is fixed.

[2018-07-17 14:11] bond- commented on #5591
@tseaver I am working with my enterprise to bypass SSL inspection/MITM proxy.

Can you please tell me which communication channels(like speech.googleapis.com:443) should be open for Cloud Speech API?

[2018-07-17 14:24] vcolano opened #5636 "Can't install module w/ 'google-cloud-dataproc' as a dependency in a docker build"
I'm getting an error when I try to to install a python module from it's source using `python setup.py install` where `setup.py` has as one of it's dependencies `'google-cloud-dataproc==0.1.0'`.  The error occurs when I try to build a docker container from a Dockerfile that attempts to install the module with the dependency on `google-cloud-dataproc`. This issue only started occurring since the rec

[2018-07-17 17:08] cpcloud opened #5637 "BigQuery: import on Python 3.7 causes a segmentation fault"
- OS: Arch Linux
- Steps to reproduce and Python version:
[code]

I suspect that one of the noarch google-* packages is actually dependent on some ABI that changed in Python 3.7, and that this may not be a BigQuery specific issue.

[2018-07-17 17:16] cpcloud commented on #5637
Running

[code]
shows that importing `google.protobuf.pyext._message` might be related.

When I try to import `google.protobuf.pyext._message` I get a missing symbol error from the shared object:

[code]

[2018-07-17 17:36] tseaver commented on #5618
@ron819 What version of `google-cloud-bigquery` are you using?  The following works:

[code]

and has worked since the `0.32.0` release (we are now at `1.4.0`).  The docs are tied to the current release.

[2018-07-17 18:01] tseaver commented on #5591
@bond-

That endpoint is the only one used by the Speech API itself.  Using a service account private key for credentials also requires the `accounts.google.com:443` endpoint (check the `auth_uri` / `token_uri` keys in the JSON key file you are using).

[2018-07-17 18:17] tseaver commented on #2255
@alugowski, @sduskis Since the merge of PR #5178, the new low-level GAPIC clients already handle retries, based on the relevant `*_client_config` modules:

- [`bigtable_v2/gapic/bigtable_client_config`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/411c339e815050a7174f696a648db86cd46fd399/bigtable/google/cloud/bigtable_v2/gapic/bigtable_client_config.py)
- [`bigtable_admin_v2/gap

[2018-07-17 18:35] lsimkins opened #5639 "Vision: Poor OCR Quality for Tabular Data"
**OS type and version**
macOS 10.13.5 (alpine linux used in Production)
Python 3.6.4
google-cloud-vision v0.31.1

This issue is specific to the quality of ocr output under a specific circumstance. If there is a more appropriate place to post this issue, please let me know.

**Summary**
The google cloud vision ocr document_text_detection output has a severe drop in quality for tabular data. In some

[2018-07-17 18:47] tseaver commented on #5639
@lsimkins Thanks for the report.  Unfortunately, I don't think there is anything in the Python client library (`google-cloud-vision`) which could be contributing to the poor OCR quality.

Please check out the [Vision API support document](https://cloud.google.com/vision/docs/support) for ways to ask your question where the back-end team is more likely to hear and respond.

[2018-07-17 18:47] #5639 closed

[2018-07-17 18:51] tseaver opened #5640 "Bigtable system test failure:"
/cc @sduskis, @AVaksman

Introdued in #5614. See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7246

[code]

[2018-07-17 18:53] tseaver commented on #5640
The test passes locally, but fails on CircleCI due to how `unique_resource_id()` is expanded there.

[2018-07-17 18:54] lsimkins commented on #5639
@tseaver Thank you. I'll post in the the vision google group.

[2018-07-17 19:01] #5640 closed

[2018-07-17 19:08] tseaver commented on #5637
I'm not sure how conda is setting things up, but we *do* support Python 3.7, including running the test suite on it under CI.  The known limitation at the moment is that `pandas` doesn't support Python 3.7, which means that the features which integrate with pandas don't work.  This caveat is distinct from the segfault you are seeing, however.

[2018-07-17 19:43] tseaver commented on #5636
This is actually a bug in `google-api_core 0.1.4` which `google-cloud-dataproc` pins.

The fix was merged in PR #5075, and released in `google-api_core `1.2.1`.

So, we need a release of `google-cloud-dataproc` which pins a more modern version of `google-api_core`.

[2018-07-17 19:53] tseaver commented on #5636
Hmm, the `dataproc/setup.py` file was already updated in PR #4944 to allow a post-1.0 `api_core`.  That fix was added to the changelog as part of a `0.1.1` release (PR #4954), but somehow the release didn't land at pypi.org:  the most recent (only) release there is `0.1.0`.  I don't see a `dataproc-0.1.1` tag, either.

@crwilcox Can you please make a `dataproc-0.1.2` release (or maybe `0.2.0`)?

[2018-07-17 19:56] sduskis commented on #2255
The low level GAPIC retries don't work for streaming RPCs like Cloud Bigtable Read Rows.  Default retries just retry the original request until it completes.  Retries for streaming RPCs need to pick up from where they previously left off, which requires custom logic.  We actually put in a fix for this 4 months ago with PR #4882.

[2018-07-17 20:08] tseaver commented on #2255
@sduskis OK, looks like #4882 is not part of a release, so it will be included in the one we are driving toward this month.

[2018-07-17 20:14] #5598 closed

[2018-07-17 22:31] alugowski commented on #2255
Thanks!

Sounds like this kludge will no longer be necessary:

    while True:
        try:
            for row in table.yield_rows(start_key=start_key):
                row_key = row.row_key.decode('utf-8')
                yield (...)

                start_key = row_key  # if iteration raises, we will restart again here
            break
        except Exception as e:
            logging.warning

[2018-07-17 22:43] #5597 closed

[2018-07-18 12:59] ibrahim-abuelalaa commented on #4675
@tseaver how to get this fix?should we wait to the next release?

[2018-07-18 17:30] anguillanneuf commented on #4218
@patitonav You have probably figured this out a long time ago, but I'm posting some code here anyway in case someone else is also looking for the answer. Remember to replace `{PROJECT_NAME}` and `{TOPIC_NAME}` in the code below.

[code]

[2018-07-18 20:14] tseaver commented on #5629
[Again yesterday](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7250)

[2018-07-18 20:15] tseaver commented on #5597
FTR, closed via #5605.

[2018-07-18 20:29] tseaver opened #5645 "BigQuery: add 'labels' properties to job and job config classes"
See the [API ref](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.labels)

- Each job config class should have a writable `labels` property, taking / returning a mapping, `{str: str}`.

- Each job class should have a read-only `lables` property, returning a mapping, `{str: str}`.

[2018-07-18 20:34] tseaver opened #5646 "BigQuery: add 'QueryJob.estimates_bytes_processed' property"
See [API ref](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#statistics.query.estimatedBytesProcessed).

Read-only, based on the `statistics.query.estimatedBytesProcessed` field.

[2018-07-19 04:02] DarrowAndromedus opened #5650 "Command "python setup.py egg_info" failed with error code 1"
I'm pretty new to Python, so I'm not sure what alternatives I have to pip to get any libraries because pip just isn't working. Running Windows 10, I've tried pip install --upgrade setuptools and I'm running 40.0.0, I've tried using easy_install but that fails to update, I'm pulling at straws here. I know that this problem has had a lot of coverage here, but I've been through pages upon pages of fi

[2018-07-19 08:15] zyfang commented on #3485
@arycloud @u2takey I had the same problem as you and I realized it's because I "unpack" the response before trying to convert it to json or dict. For example:
`response = client.annotate_image({'image': {'source': {'image_uri': image_url}}, 'features': features, })`
My program did the equivalent of:
`MessageToJson(response.label_annotation)`  , which results in `AttributeError:'google.protobuf.pye

[2018-07-19 14:58] vcolano opened #5653 "DataProc: Unable to import dataproc_v1."
- Debian GNU/Linux 9
- python 2.7
- google-cloud-dataproc 0.1.0.

I'm getting an error when importing a module which imports dataproc_v1 as `from google.cloud import dataproc_v1`. The error is occurring within a docker container running Debian 9.

Stack trace:
[code]

This maybe related to [issue 5636](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5636)

[2018-07-19 15:41] tseaver commented on #5653
@vcolano Yes, this is a symptom of the same underlying issue as #5636:  we need a new release of `google-cloud-dataproc`, because the automated release machinery borked.

I'm closing this, as #5636 is already assigned to @crwilcox:  when he makes the release, all should be well.

[2018-07-19 15:41] #5653 closed

[2018-07-19 15:42] tseaver commented on #5636
@crwilcox The lack of a current release means nobody can use the `dataproc` API at all ATM.

[2018-07-19 15:45] bond- commented on #5591
@tseaver Thanks for the support. After adding a SSL bypass in MITM proxy the connection works now.

[2018-07-19 15:51] tseaver commented on #5591
@bond- Great!  I'm glad you found a solution.

[2018-07-19 17:39] tseaver commented on #5600
Looks to be fixed w/ the release of `google-cloud-dataproc 0.1.2`:

[code]

[2018-07-19 17:41] tseaver commented on #5600
Hmm, that was a failure to reproduce with `google-cloud-dataproc 0.1.0`. :( -- `0.1.2` is not yet released.

[2018-07-19 18:34] #5646 closed

[2018-07-19 19:55] crwilcox commented on #5636
Released 0.1.2. it seems Release 0.1.1 was never published to PyPI so that may have been the issue.

[2018-07-19 19:55] #5636 closed

[2018-07-19 20:12] tseaver commented on #5600
I was able to create an instance of `dataproc_v1.ClusterControllerClient()` using the just-now released `google-cloud-dataproc 0.1.2` release.

Please re-open if you can provide information about reproducing the issue with the current release.

[2018-07-19 20:12] #5600 closed

[2018-07-19 20:14] #5645 closed

[2018-07-19 22:32] ingenium21 opened #5659 "trying to install Flask-mysqldb and functools inside app engine and it continues to fail."
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-07-19 22:50] crwilcox opened #5660 "AutoML: add a get_operation_status method to clients"
in https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1575#discussion_r203881281 I noticed one of our samples is relying on an internal method `client.transport._operations_client.get_operation(`.

@sirtorry said it is common for training jobs to take long periods of time and having a way of checking on the status is useful.

I believe we should consider exposing a method, perhaps one

[2018-07-19 22:50] crwilcox commented on #5660
cc @sirtorry

[2018-07-20 11:26] arvindnrbt opened #5661 "Vision: How to batch multiple local images in one request for detection?"
So far I've seen the AsyncBatchFilesRequest for batching the images stored in GCS. But when you have to batch the images from local directory. There isn't any option on google python client.
The below snippet is set for GCS Urls, how do we send batch requests with images that are read as bytes in memory with the google-vision-client python.
`input_config={
"gcs_source":<url>
}
output_config = {
gc

[2018-07-20 12:08] mcdonc opened #5662 "Google Cloud Storage Not Uploading Files on Local Development Server"
_From @migdall on June 6, 2018 5:45_

When trying to test uploading of images on the local development server I am running into this issue.

So far this is not affecting the versions of the app deployed online, just the local environment.

This uploading images code was working fine and then now its not working.

I tried gcloud init and gcloud auth but the error persists.

[code]

[code]

I am upl

[2018-07-20 12:11] mcdonc commented on #5662
I moved this here on behalf of @migdall because it got filed against the wrong repo (google-api-python-client).

[2018-07-20 17:01] crwilcox commented on #5660
Currently you have to do the following. If we add a method for get_operation this simplifies greatly. It enables getting status and cancelling operations.

[code]

[2018-07-20 17:17] tseaver commented on #5662
@mcdonc, @migdall Unfortunately, this isn't the right repo either:  the issue is with the GAE-specific `cloudstorage` and `google.appengine.api.app_identity` packages, not with the `google-cloud-storage` library maintained here.

The [GAE `cloudstorage` docs](https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/read-write-to-cloud-storage) don't show a link for GAE supp

[2018-07-20 17:17] #5662 closed

[2018-07-20 17:21] tseaver opened #5664 "Storage: system test failure in 'tearDownModule'"
[New failure this morning](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7299):

[code]

[2018-07-20 18:49] tseaver commented on #5661
Any annotation request contains an instance of `google.cloud.vision_v1.types.Image`, which can have either its `source` property set (containing the URL of the image, e.g. in GCS) or its `content` property (containing the actual bytes of the image).  So, for instance:

[code]

[2018-07-20 18:49] #5661 closed

[2018-07-20 18:58] tseaver commented on #5629
[Another one](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7314)

[2018-07-20 19:55] bencaine1 commented on #5600
Thanks so much @tseaver! It works for me now with version 0.1.2.

[2018-07-20 20:35] tseaver commented on #5514
@theacodes Any reason you chose to label this a bug, rather than a feature request?  And do you have a plan for addressing it?

[2018-07-20 20:49] tseaver commented on #4031
If the `triaged for GA` label means that we judge this issue not a blocker for the GA release, I'd like to re-litigate that choice.  ISTM that releasing this library as GA *without* good system test coverage would be a mistake.

The notion that "generated methods, no worries" is clearly wrong:  the generator has bugs, too.

Having the snippets maintained elsewhere give *us* no visibility to any re

[2018-07-20 20:52] tseaver commented on #4126
@theacodes, @JustinBeckwith can one of your set up a second project with the `project.editor` role assigned to our CI project?  We will then need to set that project in the CI environment as `GOOGLE_CLOUD_TESTS_USER_PROJECT`, at which point those system tests will no longer be skipped.

[2018-07-20 21:40] tseaver commented on #4226
Rather than the [dance using PyJWT in the OAuth2 service account doc](https://developers.google.com/identity/protocols/OAuth2ServiceAccount), it looks like `google.auth.jwt.Credentials` should be all we need.  The `audience` argument to its `from_service_account_{info,file}` factories is `{service_name}/{api_name}`, e.g. `pubsub.googleapis.com/google.pubsub.v1.Publisher`.

[2018-07-21 06:39] crwilcox opened #5668 "DLP Synth.py will not generate buildable docs"
The current synth.py for DLP will not build docs correctly. Add replacement patterns to adjust docstrings

[2018-07-22 20:46] commilfo opened #5670 "PubSub: import pubsub fails with ImportError: No module named grpc._cython.cygrpc"
Hi,

Our project is based on Python2.7, Google Apps Engine, and we use Pubsub.
In one of our modules we call pubsub to publish events.

The project is legacy and adding new libraries required upgrades to existing libs.
Now we have latest google cloud components, latest google-cloud-core, google-cloud-pubsub and other libs, I'll list them below.
We've made a fresh install of everything - python2.7,

[2018-07-23 06:36] arvindnrbt opened #5671 "Vision Beta: PDF/TIFF document detection returns with a None type error for some pdf"
I've been testing the beta pdf/tiff detection from vision API, so far there has been one pdf which throws this error,

`google.api_core.exceptions.GoogleAPICallError: None Error in extracting images from PDF file gs://xxstorage/yy.pdf`

From the error it seems to me that google internally extracts each page as an image and then processes the document_text_detection on each page.

When I do this ma

[2018-07-23 09:38] narsariamanu opened #5672 "Integer keys in Map throw invalid property path error"
The firestore document has a map of the following type:
[code]

When trying to query on the map in the form of:
`db.collection(u'validHours').where(u'hour.6', u'==', True).get()`
it throws error
`InvalidArgument: 400 Invalid property path "hour.6".`

[code]

Works fine when trying the same query with NodeJS.
Summary:
Interger keys in a map are not working.

[2018-07-23 12:22] systocrat commented on #3103
How feasible would it be for a third party to implement certain functionality with asyncio or Twisted on their own? Is the documentation there for it?

[2018-07-23 15:11] mcdonc opened #5673 "Logging client can't handle timestamp correctly"
_From @rkosegi on March 23, 2017 12:0_

I'm trying to list log entries using this simple code (used [this](https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html) as reference):

[code]
But it fails with following error:

Example log entry from gcloud console:

[code]

How can I list log entries then?

_Copied from original issue: google/google-api-python-client#371_

[2018-07-23 15:11] mcdonc commented on #5673
_From @rkosegi on March 23, 2017 12:23_

It seems that nanos are required to be present, but my log entry has no such info in timestamp.
Could be nanos part in regexp optional?

[2018-07-23 15:11] mcdonc commented on #5673
_From @lukesneeringer on March 23, 2017 19:24_

Hi @rkosegi, thanks for reporting.
It looks like we are using a regex for parsing, and the API format has changed to include the time zone. We will look into this.

[2018-07-23 15:11] mcdonc commented on #5673
_From @forrestchang on March 25, 2017 2:0_

@lukesneeringer @rkosegi I want to fix this bug.

[2018-07-23 15:11] mcdonc commented on #5673
_From @forrestchang on March 25, 2017 2:18_

@lukesneeringer @rkosegi

I have a question, because I don't use this module. So is gcloud module the same as googleapiclient?

[2018-07-23 15:11] mcdonc commented on #5673
_From @techieashish on March 29, 2017 12:40_

I will try and fix this bug

[2018-07-23 16:22] tseaver commented on #5673
This import is from the really-old, no-longer-maintained / deprecated `gcloud` package:

[code]

Using the current `google-cloud-logging` package:

[code]

[2018-07-23 16:22] #5673 closed

[2018-07-23 17:35] tseaver commented on #5672
@narsariamanu Thanks for the report!  The `400 InvalidArgument` response from the API indicates that the `hour.6` query itself is not allowed.  The integer key needs to be escaped, e.g.:

[code]

There is a [`FieldPath` helper](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/8fa7ab2f9071bc41e610c0ab4f0319f8770d0ea9/firestore/google/cloud/firestore_v1beta1/_helpers.py#L113) which kn

[2018-07-23 18:11] tseaver commented on #5670
GAE support can be problematic (see #1893), particularly for gRPC_based libraries:  GAE allows loading only whitelisted C extensions, which doesn't include `grpc`.  `google-cloud-pubsub 0.28.0` dropped support for the HTTP (non-gRPC) transport.

For now, the recommended way to talk to Google APIs from App Engine standard remains the [Google API Client Library](https://cloud.google.com/apis/docs/cl

[2018-07-23 18:11] #5670 closed

[2018-07-23 21:47] danoscarmike opened #5676 "Cloud IoT Core: no/missing API client ref docs"
Would expect to find API reference docs at: https://googlecloudplatform.github.io/google-cloud-python/latest/iot/index.html but that link 404s

[2018-07-23 22:38] commilfo commented on #5670
Do you mean Google App Engine and modern PubSub are incompatible and will not work together?

[2018-07-23 22:51] tseaver commented on #5670
@commilfo I mean that it is highly likely that current versions of the `google-cloud-pubsub` library maintained here do not work on GAE as of this writing.  The last version with (optional) HTTP-only support was `google-cloud-pubsub 0.27.0`, with the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable set to a truthy value.

Please see the [GAE Python Release Notes](https://cloud.google.com/appengine

[2018-07-23 22:58] meirelesmj commented on #5172
Hi Crwilcox

I installed the latest version of google cloud storage I think 1.10 and this error still to happen.

Is this already fixed in the code ?

Thanks

[2018-07-23 23:31] #5676 closed

[2018-07-24 00:31] tseaver commented on #5600
@bencaine1 Great, I'm glad that works for you!

[2018-07-24 00:36] tseaver opened #5680 "Release 'datastore 1.7.0'"
Major changes are:

- Add support for Python 3.7.
- Drop support for Python 3.4.
- Bugfix: query offsets (#4675).

[2018-07-24 00:36] tseaver commented on #4675
@ibrahim-abuelalaa I've asked for a `google-cloud-datastore 1.7.0` release in #5680.

[2018-07-24 00:45] tseaver commented on #3139
@arvindnrbt *with consulting hat on* "It depends...".  You could:

- Iterate and upload files one by one.
- Populate a `queue.Queue` with the filenames and have worker threads upload items from the queue.
- Populate a cross-process queue and have worker processes upload items from the queue.

You can't:

- Upload a zipfile and have GCS automagically explode its entries into blobs / objects.
- Crea

[2018-07-24 00:49] tseaver commented on #5172
@meirelesmj The fix from PR #5187 was released in `google-cloud-storage 1.9.0`.  If you can reproduce with version `1.10.0`, please follow up here with a recipe, and we will investigate / reopen.

[2018-07-24 02:22] pttdev opened #5681 "Firestore: ImportError: No module named moves"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
Firestore
2. OS type and version
Ubuntu 16.04
3. Python version and virtual environment information `python --version`
Python 2.7.12
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
gax-google-logging-v2==0.8.3
gax-

[2018-07-24 06:09] narsariamanu commented on #5672
@tseaver Thanks for the clarification. I was able to do solve my problem by escaping the integer key.

I tried to import the FieldPath helper and use it but to my surprise, the library installed on my machine did not have this helper class available. I only had FieldPathHelper. I installed the library using pip, I even tried updating the library but is says up to date. Current versions being used:

[2018-07-24 06:59] Vonisoa commented on #1187
@Shoshin23 , I create the file hook-google.cloud.py and add this :
`datas += copy_metadata('google-api-core')`
but I get the following error
`PyInstaller.compat.FileNotFoundError: Hook directory "C:\hook-google.cloud.py" not found.`

[2018-07-24 07:05] srkn commented on #1187
@Vonisoa I believe you mentioned me, you need to change original hook file, no need to create a new hook file. You can find original hook file in site-packages/PyInstaller/hooks  or dist-packages/PyInstaller/hooks folder according to your OS.

[2018-07-24 09:04] commilfo commented on #5670
Ok, thank you.

[2018-07-24 12:40] meirelesmj commented on #5172
HI @tseaver

Thanks for the help

There is a print of the error. Can I give you any additional information that could help ?

<img width="948" alt="capture" src="https://user-images.githubusercontent.com/33875177/43138520-0c0e82d4-8f47-11e8-92c8-90f1d56d855b.PNG">

[2018-07-24 17:00] hamx0r commented on #1295
One can actually set the `blobkey` arg to `None` and then use the `filename` kwarg to your file path prepended by `/gs` like this:
`images.get_serving_url(None, filename='/gs{}'.format(filename))`

`filename` would be like `/mybucket/some/path/to/photo.jpg`

In other words, there's no need to use the `blobstore.create_gs_key()` function as an intermediate step.

[2018-07-25 09:15] naeemakram commented on #124
updating the oauth2client worked for me...

[2018-07-25 16:06] tseaver commented on #5672
@narsariamanu You are correct:  the `FieldPath` class is not yet in a released version of `google-cloud-firestore`.  We have an upcoming / planned a review of the library surface, and I have asked that we consider supporting `FieldPath` arguments for any methods taking `field_path` / `field_paths` parameters.

[2018-07-25 16:06] #5672 closed

[2018-07-25 16:50] BrandonY opened #5685 "Document thread-safety of library"
After reading through the docs, it is unclear to me whether I should expect this code to work:

[code]

[2018-07-25 17:15] tseaver commented on #5172
@meirelesmj What is the architecture of your Python?  E.g.:

[code]

If the first item is `32bit`, we may not be able to do anything in `google-cloud-storage` to fix the issue.

[2018-07-25 17:28] tseaver opened #5686 "BigQuery: 'Table.location' should be read-only"
From https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5678#issuecomment-407830285

Currently, the `Table.location` property is [settable](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/814e75bdff73c8c298eb90f828cc4f8a36f5cc3e/bigquery/google/cloud/bigquery/table.py#L603), but the [API reference](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#locatio

[2018-07-25 18:09] #5499 closed

[2018-07-25 18:12] tseaver commented on #5479
Surfaced again [today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7388).

[2018-07-25 18:14] mehrdada commented on #5479
We have uploaded 1.14.0rc1 today. Is your system picking that up?

[2018-07-25 18:19] mehrdada commented on #5479
Have you tried calling `Channel.close` when you are done with a Channel?

[2018-07-25 18:21] #5686 closed

[2018-07-25 18:22] #5148 closed

[2018-07-25 18:25] tswast commented on #5148
🎉 Thanks Tres!

[2018-07-25 18:40] tseaver commented on #5479
@mehrdada

Yes, I think so.  We install it via `pip install --upgrade --pre grpcio`

Both system tests which set up BIDI streams do end up calling `Channel.close`, via:
-  `future.cancel()` aka `subscriber.futures.StreamingPullFuture.cancel`
- `self._manager.close()` aka `subscriber._protocol.streaming_pull_manager.StreamingPullManager.close`
- `self._consumer.stop()` aka `subscriber._protocol.bid

[2018-07-25 18:54] tseaver commented on #5629
[Again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7367).

[2018-07-25 19:08] tseaver commented on #5681
@pttdev There shouldn't be any possibility of having `six` without `six.moves`. Can you please provide the full traceback?

[2018-07-25 19:32] tseaver commented on #5685
`google-cloud-storage` has been based on `requests` since #3674, released with [`google-cloud-storage 1.3.0`](https://pypi.org/project/google-cloud-storage/1.3.0/) just about a year ago.

I'm leaving this open as a docs bug so that we add a note to that effect.

[2018-07-25 19:38] tseaver commented on #5014
@gcbirzan Any more recent sightings from you?

@theacodes Is the upstream ticket still open?

[2018-07-25 19:40] tseaver commented on #5318
@crwilcox Ping?

[2018-07-25 19:41] theacodes commented on #5014
The upstream issue is still open

On Wed, Jul 25, 2018 at 12:40 PM Tres Seaver <notifications@github.com>
wrote:

[2018-07-25 19:41] tseaver commented on #5507
@ace-n Can you follow up, or loop in the appropriate PoC?

[2018-07-25 19:56] tseaver commented on #5573
I believe this issue was fixed in PR #5495, which was part of the `google.api_core 1.2.1` release.  Can you try updating, e.g.:

[code]

and see if that resolves the issue?

[2018-07-25 20:31] tseaver commented on #5111
@duyphuong13 For nested values to be excluded, they must be created as `Entity` instances, rather than bare `dict`s.  So, for your example, I wrote [this gist](https://gist.github.com/tseaver/196a26f3ebeaa08e9f63260e39e6843b).

[2018-07-25 20:39] thakursc1 commented on #5573
I added my specific service argument and the code started working.

[2018-07-25 21:00] #5573 closed

[2018-07-25 21:00] tseaver commented on #5573
@thakursc1 I'm glad you found a solution!

[2018-07-25 21:11] tseaver commented on #5520
As of right now:

- `vision-0.33.0` has the fix in place (#5530)
- `texttospeech` does not yet have it.
- `iot` does not yet have it.

[2018-07-25 21:56] BrandonY commented on #5685
Sorry, you last me. Does being based on `requests` imply that `google-cloud-storage` is thread-safe, and the code example above should work fine?

[2018-07-25 22:51] asontha commented on #5539
+1, currently also facing this issue exactly as epifab described

[2018-07-26 08:44] narsariamanu commented on #5672
@tseaver Thanks for the clarification.

[2018-07-26 09:33] arvindnrbt commented on #5671
Any update on this?

[2018-07-26 10:12] dmayo3 opened #5691 "PubSub: add ack_id property accessor to subscriber Message class"
Version: google-cloud-pubsub 0.35.4

This is a feature request to add a property accessor for ack_id in `google.cloud.pubsub_v1.subscriber.message.Message`.

Currently the `_ack_id` field is 'private', and only gets used via the `ack()` method (plus other related methods).

We find it useful to log the ack ID so that we can manually ack the ID using the Google Cloud SDK (`gcloud` command line inte

[2018-07-26 16:41] theacodes commented on #5691
Seems reasonable.

[2018-07-26 17:01] tseaver commented on #5685
Yes to both questions.

[2018-07-26 17:06] tseaver opened #5692 "Logging: system test failure in 'list_sinks'"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7405

[code]

[2018-07-26 18:09] #5691 closed

[2018-07-26 18:14] #5680 closed

[2018-07-26 21:30] tseaver opened #5695 "Bigtable: 'list_instances' systest flakes w/ simultaneous runs"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7441

The fix from #5476 didn't account for the fact that the "other" test run might be deleting instances, too.

[2018-07-26 21:47] RomHartmann commented on #3501
I would like to add (for googling purposes) that I got the following errors inconsistently:

[code]

[code]

[code]

[code]

Passing a new client to each new process solved this.

[2018-07-27 09:17] meirelesmj commented on #5172
('64bit', 'WindowsPE')

Sorry for the delay. It's running locally for now in my machine, then probably will be running in Google Cloud infrastructure

[2018-07-27 10:42] tseaver commented on #3501
@RomHartmann

Are you using `multiprocessing`, or `threading`?

[2018-07-27 10:43] tseaver commented on #5629
[Yet another](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7450)

[2018-07-27 11:02] sduskis commented on #5695
We should probably just check to make sure that the instance(s) we know exist are in the list.

[2018-07-27 11:02] sduskis commented on #5695
@AVaksman, FYI

[2018-07-27 15:51] tseaver commented on #5695
The `tests/system.py` module computes `EXISTING_INSTANCES` at the beginning of the test run, and expects that those instances will be present for its duration (at least until `test_list_instances` runs).  However, when two CI runs overlap, one can tear down / remove its temporary instance after the other has started, but before the `test_list_instances` run.

We can fix this one of two ways:

- Ex

[2018-07-27 15:53] tseaver commented on #4935
I believe that we have addressed this issue:  I haven't seen stray CI-generated instances for several months.

[2018-07-27 15:57] tseaver commented on #5179
I believe 76552b2e1900799d811cada0f05cf471a94c6c14 resolved the `CreateTable` issue by making each table-creating system test use a distinct table name.

[2018-07-27 15:57] #5179 closed

[2018-07-27 16:05] tseaver commented on #5695
#5696 implements the second option.

[2018-07-27 16:18] tseaver commented on #5629
While investigating this issue, I discovered that three system tests are sharing the same temporary database name.  Rather than just "hail Mary" this by jacking up the timeout for the `update_database_ddl` retry, I want to try changing them to use unique names, and see if that helps (the `test_update_database_ddl` test can already retry for *four minutes*, which is absurd).

[2018-07-27 16:23] tseaver commented on #5629
After applying that change locally, I was able to reproduce the timeout.

@sduskis can the back-end folks suggest a reason that the `UpdateDatabaseDdl` RPC would frequently take longer than two minutes to complete?  I hate to have this one testcase introduce even more delay into each overall system test run.

[2018-07-27 16:55] tseaver commented on #5629
Grrrrr. Bumping the timeout for `update_database_ddl` to 150 seconds [wasn't enough](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7457).

[2018-07-27 16:59] tseaver commented on #5559
Closing preemptively, because #5599 made `internalError` retryable, which likely fixed this issue.

[2018-07-27 16:59] #5559 closed

[2018-07-27 17:09] RomHartmann commented on #3501
@tseaver Both.

I think it's best if I quickly also describe what I was doing.
The google.storage python api does not seem to have a better way to download a bunch of small files than to individually create a blob `blob = bucket.blob(name); blob.download_as_x()`, which is super slow.  In contrast, `gsutil -m cp x y` is really quick, but all metadata is lost.
I needed that metadata as well.

So as

[2018-07-27 17:34] tseaver commented on #4377
Preemptively closing because we have no repeats in eight months.

[2018-07-27 17:34] #4377 closed

[2018-07-27 17:55] #5695 closed

[2018-07-30 14:39] sadeel opened #5703 "pkg_resources.UnknownExtra: googleapis-common-protos 1.6.0b4 has no such extra feature 'grpc'"
I am trying to to fetch the following dependencies in my pip virtualenv.

    'pydicom',
    'requests-toolbelt',
    'google-api-python-client',
    'google-api-core',
    'googleapis-common-protos',
    'google-cloud-pubsub',
    'httplib2',
    'oauth2client'

This leads to an error stating: pkg_resources.UnknownExtra: googleapis-common-protos 1.6.0b4 has no such extra feature 'grpc'.

Pinning

[2018-07-30 15:34] #5615 closed

[2018-07-30 15:48] tseaver commented on #5703
(Note similar traceback in #5636, due to a pin in out-of-date `google-cloud-dataproc`.)

I can't reproduce in an empty Python 2.7 virtualenv:

[code]

The `grpc` extra is not needed / used Maybe you have older versions installed which pin it?  Could you try installing fresh, or with `pip install --upgrade`?

[2018-07-30 15:52] tseaver commented on #5629
Three more failures on Friday:

- [7463](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7463)
- [7470](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7470)
- [7471](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7471)

[2018-07-30 17:06] tseaver commented on #5629
[And again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7479).

I'm going to disable the `test_update_database_ddl` system test until we get some guidance from the back-end team.

[2018-07-30 17:47] #5629 closed

[2018-07-30 17:49] #5543 closed

[2018-07-30 17:49] #5556 closed

[2018-07-30 17:49] #5632 closed

[2018-07-30 17:49] #5692 closed

[2018-07-30 17:49] #5664 closed

[2018-07-30 17:55] tseaver commented on #5681
@pttdev Also, can you show the full output of `pip freeze`?

[2018-07-30 18:38] tseaver opened #5706 "BigQuery: 'test_undelete_table' systest"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7481

[code]

@tswast Can you suggest a fix for the test?

[2018-07-30 18:41] tseaver commented on #5111
I'm going to close preemptively.  Please feel free to follow up / reopen if my answer above doesn't work for you.

[2018-07-30 18:41] #5111 closed

[2018-07-31 00:31] theacodes commented on #3103
Simply but we don't have the resources to maintain two divergent forks.

Once we're able to drop 2.7 support (2019/2020) we can start adopting stuff
like asyncio.

On Mon, Jul 30, 2018, 5:23 PM Vladysav Tarasenko <notifications@github.com>
wrote:

[2018-07-31 00:55] vladyslav2 commented on #3103
@theacodes why do you believe supporting python 3 will be so significant big task?
Are you willing to accept help from a community? I just check iot-core (stuff that i'm interested) and most of  calls based on the `paho.mqtt.python` library which does support asyncio.
So, i'm expecting I can port `google-cloud-python/iot` in few days since you have tests coverage

[2018-07-31 00:59] theacodes commented on #3103
It's not that supporting python 3 is a significant task (we *do* support
Python 3 after all), it's that maintaining 2 separate, divergent codebases
for 40+ libraries isn't feasible. It's much more realistic for us to wait
until we can remove 2.7 support.

One of the reasons these libraries are open so is precisely to empower
users to fork and extend as much as they want. So you're welcome to do so

[2018-07-31 07:31] hotstaff commented on #5600
Same problem?

Python 2.7.6
google-cloud (0.34.0)
google-cloud-core (0.28.1)
google-cloud-dataproc (0.1.2)
google-cloud-speech (0.35.0)
google-api-core (1.3.0)

hotstaff@emw ~/python-docs-samples/speech/cloud-client $ python2.7 transcribe_streaming_mic.py
Traceback (most recent call last):
  File "transcribe_streaming_mic.py", line 193, in <module>
    main()
  File "transcribe_streaming_mic.py",

[2018-07-31 10:09] joshuahendinata commented on #5703
Having the same issue when running on docker container. specifying the googleapis-common-protos==1.5.3 resolve the issue

[2018-07-31 13:53] Vonisoa commented on #1187
@srkn , thanks for your answer, it solve my problem. Now I have another trouble when running the .exe

`Exception  in 'grpc._cython.cygrpc.ssl_roots_override_callback' ignored
E0731 16:52:01.684000000 13212 src/core/lib/security/security_connector/security
_connector.cc:1173] assertion failed: pem_root_certs != nullptr`
I don't know what can produce this error!!!

[2018-07-31 14:28] srkn commented on #1187
You need to set "GRPC_DEFAULT_SSL_ROOTS_FILE_PATH" environ in your code. Check this out https://github.com/grpc/grpc/blob/master/doc/environment_variables.md . I cant find right now but @dhermes coded a gist that helps you to find ssl root file in your OS.

[2018-07-31 16:44] shollyman commented on #5706
I suspect this is time drift between the backend and the test node where the code is running, since the table create time is determined by backend, and we're picking the snapshot time based on the current time of the test node immediately thereafter.

We could pick the snapshot time based on the response from table_create, but it requires reworking the sample a bit.  I'll grab this one.

[2018-07-31 17:35] tseaver opened #5710 "GAPIC-generated clients scribble on global DEFAULT_CLIENT_INFO"
### tl;dr

The GAPIC-generated class constructors listed below scribble on the fallback `google.api_core.gapic_v1.client_info.DEFAULT_CLIENT_INFO` instance, rather than creating their own copy.

@crwilcox Can you please link in the related codegen issue?

### Analysis

The pattern is that these client classes take an optional `client_info` parameter:  if not passed, they use the `DEFAULT_CLIENT_IN

[2018-07-31 21:33] #5706 closed

[2018-07-31 23:24] tseaver opened #5716 "Bigtable: new cluster systests flake on CI"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7511

[code]

/cc @sduskis, @AVaksman `test_create_cluster` was introduced in #6773.

[2018-07-31 23:28] tseaver opened #5718 "Spanner: 'test_transaction_read_and_insert_then_rollback' systest flake"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7509

[code]

[2018-07-31 23:32] AVaksman commented on #5716
I will shorten cluster ID into
`ALT_CLUSTER_ID = INSTANCE_ID+'-c2'`

[2018-08-01 02:49] chenleiwhu opened #5720 "gcs: batch move file failure, "Connection reset by peer""
hi, I suspect below code ran out connection capacity, etc. Is there any interface I can send batch requests? or sleep a few ms?

[code]

Traceback (most recent call last): File "/env/local/lib/python3.7/site-packages/urllib3/connectionpool.py", line 600, in urlopen chunked=chunked) File "/env/local/lib/python3.7/site-packages/urllib3/connectionpool.py", line 384, in _make_request six.raise_from(e,

[2018-08-01 03:00] #5720 closed

[2018-08-01 12:54] ahti-qvik opened #5722 "Running dev_appserver on remote machine behind a proxy"
I have managed to put myself into a very special circumstance (or maybe OS vendors have), where I can't find a stable project development solution, which I would enjoy; I have been using Chromebook for development with Cloud 9 and alike services. I like the paradigm of developing on remote servers, because you don't have to deal with the bugs and system malfunctions, which tend to plague the virtu

[2018-08-01 17:34] tseaver commented on #5722
@ahti-qvik I'm sorry your development experience is less fun now.  Unfortunately, this repository is dedicated to the `google-cloud-<apiname>` client libraries, and is not the right place to report issues or ask for support for AppEngine development.

Please check out the "Support" links on the [Python on Google App Engine](https://cloud.google.com/appengine/docs/python/) page, or maybe the [GAE P

[2018-08-01 17:34] #5722 closed

[2018-08-01 18:25] crwilcox opened #5723 "Spanner: Improve Doc linking"
In our spanner docs we have mentions of `client` that don't go anywhere. For instance
https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/usage.html#instantiating-a-client

It may be useful to have them link to https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/client-api.html.

Also https://googlecloudplatform.github.io/google-cloud-python/latest/spanner

[2018-08-01 18:27] crwilcox opened #5724 "Spanner: class reference not formatting correctly."
https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/usage.html#warnings-about-multiprocessing

There are multiple utterances of `:class:` without formatting. There is likely a formatting issue in the source.

[2018-08-01 20:33] sduskis opened #5725 "Bigtable: reads are much slower in latest release than previous release."
Users describe a dramatic slowdown (300x) in reads in google-cloud-bigtable==0.29.0 potentially due to to `deepcopy`.  ([Here's the stackOverflow post](https://stackoverflow.com/questions/51593612/python-bigtable-client-spends-ages-on-deepcopy?noredirect=1#comment90170224_51593612)).

We have new methods that have not been released yet that improve performance.  We should probably release soon.

T

[2018-08-01 21:38] tswast opened #5726 "Release BigQuery 1.5.0"
For clustering feature.

@alixhami Do you want to try your hand at releasing this one?

[2018-08-01 22:31] jhallard opened #5727 "Dataflow: jobs randomly started failing in production with no new deploys or changes"
(The issue was originally discussed in this StackOverflow thread: https://stackoverflow.com/questions/51623806/can-no-longer-install-google-cloud-datastore-dependency-for-google-cloud-dataf)

### Environment

Development Environment: OSX
Python: Version 2.7

## Overview

We have various dataflow pipelines that are run nightly via cron scripts. These jobs began to fail on July 31st at 1:00AM (PT),

[2018-08-01 22:42] jhallard commented on #5727
We have a Google Cloud Platform support platform, should we bring this up there perhaps? Was just wondering if anyone knew, off the top of their head, why pipelines would randomly start breaking in production.

[2018-08-01 23:09] tswast commented on #5726
We might want to wait for https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5711

[2018-08-02 08:24] bloxofcodes commented on #4780
no solution for this?

[2018-08-02 08:42] bloxofcodes commented on #1187
Hi doing datas += copy_metadata('google-api-core') doesnt solve my error about gcloud...what particular steps you do to make it work?

[2018-08-02 12:50] narsariamanu opened #5730 "Unable to List subcollections of the current document in Firestore"
As per the documentation:
https://firebase.google.com/docs/firestore/query-data/get-data#list_subcollections_of_a_document
This is not supported on Firestore.

But in the python library codebase:
https://googlecloudplatform.github.io/google-cloud-python/latest/firestore/document.html#google.cloud.firestore_v1beta1.document.DocumentReference.collections
there is a function which can be used and is

[2018-08-02 12:55] narsariamanu opened #5731 "Firestore - Count number of documents in a collection"
I can find the implementation of counting the number of documents in a collection in all the libraries except the Python library.
Am I looking in the wrong place or this feature is still pending?

[2018-08-02 14:06] tseaver commented on #5726
@tswast We likely also need to fix the missing `bigquery-1.4.0` tag (I don't know if `releasetool` will work without it).

[2018-08-02 14:38] tseaver commented on #5727
@jhallard Unfortunately, the `google-cloud-dataflow` library is not maintained here, and I cannot find its repository.  There was an older [Dataflow SDK for Python repo](https://github.com/GoogleCloudPlatform/DataflowPythonSDK), but it's code has moved to [Apache Beam](https://github.com/apache/beam/tree/master/sdks/python).  It was the location for the `python_dataflow` library.

@theacodes Do yo

[2018-08-02 14:44] tseaver commented on #5730
@narsariamanu The `Document.collections` method was added in PR #5613, but there has been no release of `google-cloud-firestore` since it was merged.

[2018-08-02 14:44] #5730 closed

[2018-08-02 15:00] tseaver commented on #5731
@narsariamanu I'm not sure what you mean -- the `google-cloud-firestore` Python library allows you to list the documents in a collection:

[code]

But the backend API doesn't allow querying just for the count.  Can you point to the examples you found?

[2018-08-02 15:07] tseaver commented on #5716
Via #5719.

[2018-08-02 15:07] #5716 closed

[2018-08-02 15:50] tswast commented on #5726
Thanks for taking care of the tag.

[2018-08-02 15:56] tseaver commented on #5726
I think we need to land #5714 first, as it fixes non-flaky BQ system tests.

[2018-08-02 15:56] tswast commented on #5726
Seth is OOO today, so I'll take a stab at the open comments.

[2018-08-02 15:57] #5588 closed

[2018-08-02 15:57] #5589 closed

[2018-08-02 19:49] chenleiwhu commented on #5726
when can I expect new version with clustering?
https://pypi.org/project/google-cloud-bigquery/1.4.0/#description

[2018-08-02 20:34] tseaver commented on #5726
@chenleiwhu Track PR 5735.

[2018-08-02 20:40] tseaver commented on #5718
Another failure on `master` [just now](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7549).

[2018-08-02 20:43] tswast commented on #5726
The CI for doing the auto-release just failed due to a failure in the spanner tests https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7549

Assigning to Chris to cut a manual release.

[2018-08-02 22:18] hiranya911 commented on #5023
We define it as `>= 0.27.0`. So it ends up installing 0.29.0. This issue also seems to occur randomly. For instance I don't see it happening in our CI builds: https://travis-ci.org/firebase/firebase-admin-python/jobs/410999811

[2018-08-02 22:51] tswast commented on #5726
The tag build just completed. The package is now live. https://pypi.org/project/google-cloud-bigquery/#history

[2018-08-02 22:51] #5726 closed

[2018-08-03 00:25] rylz opened #5738 "Datastore: Client requires authentication even when connecting to the datastore emulator"
When I try to construct a datastore client on a box that has the datastore enabled and running, I get the following:
[code]

However, it's clear that these credentials are not actually required because when I initialize my client as follows, it works in both dev and production:
[code]

With that change, the library works fine for me, but this seems like something the library ought to be able to de

[2018-08-03 06:03] narsariamanu commented on #5731
@tseaver The code snippet uploaded by you solves my problem but I could not find any reference to counting the number of documents in a collection in the `google-cloud-firestore` documentation found [query documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/firestore/query.html) or [collection documentation](https://googlecloudplatform.github.io/google-cloud-python/late

[2018-08-03 11:02] gcbirzan commented on #5014
The last error we got on the 17th of June. I'd say this can be closed, but not sure if it's just not a period in which we got lucky.

[2018-08-03 14:05] tseaver commented on #5738
@rylz Thanks for the report!  See also #4840 .

[2018-08-03 14:20] #5724 closed

[2018-08-03 15:50] tseaver opened #5740 "Storage: 'test_notification_*' systests flake with 503"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7563

[code]

and:

[code]

[2018-08-03 17:21] wenrg opened #5742 "Spanner: copy-paste error in database usage docs"
Spanner API Documentation

https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/database-usage.html#update-an-existing-database

Database Admin/Update an existing Database

instead of
`operation = instance.update_ddl(ddl_statements, operation_id)`

it should be
`operation = database.update_ddl(ddl_statements, operation_id)`

[2018-08-03 17:51] caizhiyuanrise opened #5743 "Vision: DefaultCredentialsError raised from ImageAnnotatorClient"
Hi

I have a Python Script that requests to google vision API to receive keywords for images.
It ran fine, and I played around with the numbers of size of the images and quality.
I then set it to 5000px, and then it tried that constantly and did not got through, but the script just tried again and again and again.. so I terminates Terminal and then reopened a new session.
Since then I get the erro

[2018-08-03 19:26] sebbov opened #5744 "Redis: broken doc links"
These links in your top-level README.md appear broken:

- Enable the Google Cloud Memorystore for Redis API.
- Setup Authentication.

[2018-08-03 20:14] tseaver commented on #5744
@sebbov Thanks for the report!

[2018-08-03 20:19] tseaver commented on #5743
@caizhiyuanrise You need to set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to point to your service account Json file.  E.g.:

[code]

Please feel free to follow up or reopen if this doesn't answer your question.

[2018-08-03 20:19] #5743 closed

[2018-08-03 20:24] tseaver opened #5746 "BigQuery: 'test_extract_table' snippet flakes with 429 in teardown"
See first error in https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7569

[code]

[2018-08-03 20:26] tseaver opened #5747 "BigQuery: 'test_extract_table_json' snippet flakes with 429"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7569

[code]

[2018-08-03 20:28] tseaver opened #5748 "BigQuery: 'test_extract_table_compressed' snippet flakes with 429"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7569

[code]

[2018-08-04 00:44] RupertMa commented on #3836
Hi, I'm running requests 2.19.1 & google-cloud-storage==1.10.0 and get the same error.
what versions do I need now?

[2018-08-04 03:46] caizhiyuanrise commented on #5743
fantastic, yes that was it. I did it on that day, did not know I might have to do that again...
Many thanks!
For info: I used this command:
export GOOGLE_APPLICATION_CREDENTIALS=$HOME/service-account
worked then

[2018-08-06 01:50] cpcloud opened #5750 "BigQuery: '_time_from_json' raises for values w/ sub-second precision"
- OS: Arch Linux
- relevant conda versions:
[code]

- Steps to reproduce:

[code]

- Traceback:

[code]

[2018-08-06 08:26] hamzassi opened #5751 "PubSub: Bidirectional RPC unexpectedly exited"
Debian GNU/Linux 8

Python version == 2.7.9

google-cloud==0.32.0

google-cloud-pubsub==0.35.4

From our logs we see the following error message:
`The bidirectional RPC unexpectedly exited. This is a truly exceptional case. Please file a bug with your logs.`

Followed by:
[code]

[2018-08-06 16:07] tseaver commented on #5750
I can reproduce locally, with the correction that the field name in the query should be `creation_date`, rather than `created_date`.

[2018-08-06 16:08] cpcloud commented on #5750
@tseaver Whoops, thanks.

[2018-08-06 16:58] vashish76 opened #5752 "AttributeError: module 'google.cloud.vision' has no attribute 'Client'"
When i RUN this program on Spyder

[code]

I get the following error "AttributeError: module 'google.cloud.vision' has no attribute 'Client'"

Can you please help me resolve this ?  I am working on a time bound project of text detection

[2018-08-06 18:04] tseaver commented on #5752
Since PR #4493, the client is named `ImageAnnotatorClient`:

[code]

[2018-08-06 18:04] #5752 closed

[2018-08-06 18:13] tseaver commented on #5751
This is a clear race condition:  `StreamingPullManager.close` sets `self._consumer = None` (while holding the `self._closing` lock).  However, other methods access `self._consumer` without checking that it could be `None`:

- `StreamingPullManager.maybe_pause_consumer`
- `StreamingPullManager.maybe_resume_consumer`

One method, `StreamingPullManager.is_active`, does check.

[2018-08-06 18:29] #5740 closed

[2018-08-06 18:30] #5718 closed

[2018-08-06 18:46] #5744 closed

[2018-08-06 18:48] #5750 closed

[2018-08-06 18:57] cpcloud commented on #5750
@tseaver Excellent! Thanks for addressing the issue.

[2018-08-06 20:11] tseaver commented on #5303
A [new failures today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7591).

#5551 set `max_tries=9` in the retry wrapper.  I wish I had a better idea than to just bump the number higher.

[2018-08-06 20:14] tseaver opened #5759 "Logging: 'test_list_entry_with_unregistered' systest flakes with '429 ResourceExhausted`"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7594

[code]

[2018-08-06 20:16] #5751 closed

[2018-08-06 20:50] tseaver commented on #5746
[Another failure today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7598).

[2018-08-07 08:28] vashish76 commented on #5752
Thanks for the help.

I encountered few more issues but was able to resolve them..

Need few inputs, following is the entire code written in Jupyter.. I want to see the output of all the texts the code had recognized from the image. I am not able to see the o/p on the console. I also tried running it from anaconda prompt by giving following command but still not output (it just executes it)

pytho

[2018-08-07 08:52] vashish76 commented on #5752
My bad... I am sorry.. forgot to call "detect_text" at the end of the program..

Please ignore the above query.. thanks

[2018-08-07 12:32] #5746 closed

[2018-08-07 12:32] #5747 closed

[2018-08-07 12:32] #5748 closed

[2018-08-07 12:58] tseaver commented on #5685
@BrandonY Here is the text I am planning to add to the [`client` page](https://googlecloudplatform.github.io/google-cloud-python/latest/storage/client.html):

[code]

Does that address your need?

[2018-08-07 13:03] tseaver commented on #5685
@BrandonY Please follow up via #5763, if needed.

[2018-08-07 13:20] tseaver commented on #5723
@crwilcox

Broken by the move of the actual module to `spanner_v1.client` (Sphinx wants the real module, not just any alias).  See 8bd57c5 (PR #5764).

The spanner docs distinguish between "usage" pages (narrative, with examples). vs "API reference" pages (autogen from docstrings/signatures).  The API reference pages are all linked on the [`api-reference` sub-index](https://googlecloudplatform.git

[2018-08-07 15:30] vashish76 opened #5768 "Image text Recognition using Keras in Python"
Use case is to recognize the text and digits from the attached image using Machine / Deep learning technique such as Keras tenserflow in Python

My questions are the following..
1. Whether I need to make use of MNIST database for digit recognition if so then which database that can be used for text recognition. Do i need to build two different models ?
2. Once model is trained then I will validate

[2018-08-07 16:33] max-sixty commented on #5572
Details for how to do this are here: https://github.com/pydata/pandas-gbq/issues/133#issuecomment-411119426

More than happy for this to be implemented here rather than `pandas-gbq`...

[2018-08-07 16:39] tseaver commented on #5768
@vashish76 Thanks for your question.  Unfortunately, this repository is about maintaining the Python client libraries for Google Cloud APIs (`google-cloud-vision` and / or `google-cloud-automl`, in your case), rather than for support of the APIs themselves.

Please investigate the following support links for the two APIs:

- [Cloud Vision Support](https://cloud.google.com/vision/docs/support)
- [A

[2018-08-07 16:39] #5768 closed

[2018-08-07 20:14] glinskyc commented on #5218
For others that may stumble upon this, my issue was fixed by updating the Cloud SDK from v209 to v211.0.0.  See here for instructions:

https://cloud.google.com/sdk/docs/#install_the_latest_cloud_tools_version_cloudsdk_current_version

[2018-08-07 22:25] mbrukman opened #5770 "Create a new release of the Bigtable library"
As of 7 Aug 2018, the [latest version of the Bigtable library on PyPi](https://pypi.org/project/google-cloud-bigtable/) is 0.29.0 from 28 Feb 2018. Would it be possible to release a new version (and release new ones regularly) to pick up the latest updates and ongoing feature additions, please?

Thank you!

/cc: @sduskis, @ghaisa

[2018-08-08 13:22] helgasvala opened #5771 "AutoML tutorial - ModuleNotFoundError: No module named 'google.cloud'"
Hey, I'm trying to go through the google cloud autoML tutorial (https://cloud.google.com/translate/automl/docs/tutorial), running on macOS High Sierra, with python 3.6.5 in Anaconda3.

Already in _step 1_ I'm experiencing issues, with the command:

`python automl_translation_dataset.py create_dataset "en_ru_dataset" "en" "ru"`

It returns `ModuleNotFoundError: No module named 'google.cloud'`

Howe

[2018-08-08 13:34] Vonisoa commented on #1187
@srkn , thanks for your advice, I will try this and give feedback!

[2018-08-08 14:02] tseaver commented on #5771
@helgasvala Thanks for the report.  You do not need the (outdated) `gcloud` Python library (as opposed to the `gcloud` CLI/SDK) nor the bare `google-cloud` package installed.  Instead, install `google-cloud-automl`, e.g.:

[code]

[2018-08-08 14:02] #5771 closed

[2018-08-08 16:23] theacodes opened #5772 "Resource manager claims it's invite only, but the API is now public"
This warning needs to be removed/updated: https://googlecloudplatform.github.io/google-cloud-python/latest/resource-manager/api.html

[2018-08-08 16:39] #5635 closed

[2018-08-08 17:18] wcordeiro opened #5774 "Exception in GRPC when trying to execute Google Cloud API"
I am having a problem when I generate an exe file with pyinstaller. My code runs okay when I execute using the python interpreter but when I generate the exe file using the PyInstaller I get a GRPC error.

Error: Exception in 'grpc._cython.cygrpc.ssl_roots_override_callback' ignored E0807 20:38:36.262000000 10808 src/core/lib/security/security_connector/security_connector.cc:1173] assertion failed

[2018-08-08 17:35] theacodes commented on #5014
Cool, let's close for now. We can always re-open. Thanks, @gcbirzan!

[2018-08-08 17:35] #5014 closed

[2018-08-08 20:08] tseaver commented on #5774
@wcordeiro I'm not really familiar with pyinstaller.  We have had a couple of reports of packaging-related issues with it:

- #1187
- #4780

In your case, it looks as though the SSL root certificates are not present in the pyinstaller-generated EXE.  There are a couple of reports of similar problems, e.g. for `requests`:

- https://stackoverflow.com/questions/21201238/twilio-python-module-errors-a

[2018-08-08 20:08] #5774 closed

[2018-08-08 22:07] #5457 closed

[2018-08-08 23:37] evanj opened #5776 "datastore: pip install bigquery, datastore fails to install grpc"
1. Create a new virtualenv
2. `pip install google-cloud-bigquery google-cloud-datastore`
3. `python -c import google.cloud.datastore`

Produces the following Trackback because grpc is not installed. I believe this is due to a bug in pip: since `google-cloud-bigquery` depends on `google-cloud-core`, it doesn't install `google-cloud-core[grpc]`.  This also happens if these lines are in a `requiremen

[2018-08-08 23:43] evanj commented on #5776
I think this is caused by https://github.com/pypa/pip/issues/4957. This is the same issue that caused https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5023.

[2018-08-09 11:55] tseaver commented on #5776
@evanj Thanks for the report!  I concur that this issue is due to the `pip` issue you linked.

@theacodes The only workaround I can think of would be to add specific `grcpio` pins to `datastore/setup.py` (and other APIs which use `gprc`), which seems pretty ugly.

[2018-08-09 13:55] DazWilkin opened #5777 "Container: documentation is deficient, links aren't helpful, page has bug"
https://googlecloudplatform.github.io/google-cloud-python/latest/container/gapic/v1/api.html

![image](https://user-images.githubusercontent.com/1022400/43903089-7d536c4c-9ba0-11e8-95e2-c66a033162b8.png)

Page's "Client Library Documentation" is a self-referential, expect it to take me to the list of methods.

References to e.g. "API Documentation" go to the Kubernetes Engine product page (not the

[2018-08-09 17:25] sduskis commented on #5770
There's one more change we need to make regarding [AppProfile](https://cloud.google.com/bigtable/docs/app-profiles) admin functionality that will be backwards incompatible.  We're aiming to be code complete by Monday.  It would be ideal to release after we commit the AppProfile changes.

[2018-08-09 18:16] theacodes opened #5779 "Make PubSub publisher's batch interfaces private"
In preparation for GA, we're going to hide some interfaces that users don't need at the moment. We can always make these public in a future minor release.

Please make the following items private:

1. https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/pubsub/google/cloud/pubsub_v1/publisher/batch (rename the whole module to `_batch`).
2. https://github.com/GoogleCloudPlatform/g

[2018-08-09 18:31] DazWilkin opened #5780 "Container: example(s) for long-running operations"
Please provide (reference) an example for converting `container_v1.types.Operation` into `api_core.operatoin.Operation`.

[`create_cluster`](https://googlecloudplatform.github.io/google-cloud-python/latest/_modules/google/cloud/container_v1/gapic/cluster_manager_client.html#ClusterManagerClient.create_cluster) (and other methods in the Cloud Client Library) return (long-running) `Operation`(s).

I

[2018-08-09 19:29] lukesneeringer commented on #5780
Yep, we should add that and then this just magically works for @DazWilkin. What API is it?

[2018-08-09 19:32] theacodes commented on #5780
Container

On Thu, Aug 9, 2018 at 12:29 PM Luke Sneeringer <notifications@github.com>
wrote:

[2018-08-09 19:44] DazWilkin commented on #5780
Ooh.... thanks @theacodes @lukesneeringer

[2018-08-09 20:19] The-Gupta commented on #5175
@nick-jonas , even with importing `google.cloud.speech_v1p1beta1 ` I get

Same as using `google.cloud.speech`.

[2018-08-09 20:42] pnovotnak commented on #5120
@tseaver I'd like to submit a PR with new autogenerated code (looks like we'd need to use v1beta definitions), but it's unclear to me how one would generate the code or have @dpebot do it.

[2018-08-09 20:43] pnovotnak commented on #5120
https://github.com/googleapis/googleapis paths don't match up

[2018-08-09 21:12] tseaver commented on #5120
@pnovotnak Fortunately, @lukesneeringer just volunteered to regen `google-cloud-container` in #5780.

[2018-08-09 21:48] sdigit opened #5781 "Storage: add support for deleting specific blob generations"
OS: Debian Stretch
Python 3.6.6
google-cloud-storage 1.10.0

In the following scenario, the API will return versioned blobs. However, it is unable to delete a specific version, as the `Blob.delete` method does not take a `generation` parameter nor does `Bucket.delete_blob`.

[code]

`blobs` will iterate over all versions, but calling `.delete()` on any of them will always delete the current versio

[2018-08-09 22:03] tseaver commented on #5781
See  #4490. We do not have support for fetching specific generations / metagenerations of blobs / objects, but have future plans to add that support.

/cc @frankyn

[2018-08-09 22:14] frankyn commented on #5781
Thanks @tseaver. Marking this in feature support sheet.

[2018-08-10 08:57] mstal opened #5783 "RuntimeConfig: Unable to retrieve "text" value of the Variable"
### Description
The runtimeconfig.v1beta1.variable needs to be updated with "text" property so users will be able to access the text value.

### Steps to reproduce with code samples
For creating the config with the name of my-config
`gcloud beta runtime-config configs create my-config`

For creating the key value pair, key is "some-gibberish" and value is "hahahablblblbl"
`gcloud beta runtime-conf

[2018-08-10 10:41] The-Gupta commented on #5175
@nick-jonas, It worked after enabling **data logging**.

[2018-08-10 16:49] tswast commented on #5750
Thanks @cpcloud and @tseaver for the report and the fix!

[2018-08-10 17:11] amirkargar opened #5785 "Speech_v1p1beta1: STT not returning the final result until another word is spoken"
I recently added Google Speech To Text to my Nexmo python application. I'm using GRPC method to perform real time speech recognition. Below are the metadata and configs I'm using:

[code]

[code]

[code]

The issue is that when `use_enhanced=True` it does not return the final result of the recognition until a new word is spoken.
The same code with the same configs work if I don't use the `use_enha

[2018-08-10 18:06] dmarvp commented on #5570
hello @theacodes, the problem persists and according to @srini100 on https://github.com/grpc/grpc/issues/15990 it's not on the grpc side of things. Anything we can do about it?

[2018-08-10 18:10] theacodes commented on #5570
If you're only using one client then I'm not sure. It could be requests?

[2018-08-10 21:04] jtromans commented on #5570
I'm also experiencing the same issue, which is similar to and reported here:
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5523

I get it on Windows and on Linux using Python 3.6.5. I am using requests module version '2.18.4' and I recently tried upgrading to '2.19.1'. It would appear as though I'm getting the same issue regardless of version. Regarding grpc, seems like I'm usi

[2018-08-10 21:05] jtromans commented on #5523
I am also experiencing the same issue. I think the same issue is reported here: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5570

[2018-08-10 21:18] mehrdada commented on #5523
@jtromans To be clear the issue you have referred to has been closed for a while and the `Channel.close` API has been available for a few months now https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/__init__.py#L934

[2018-08-10 21:46] jtromans commented on #5523
Great so I wonder when that will be implemented into pusub_v1 python API for Google Cloud :) ?

[2018-08-10 21:48] theacodes commented on #5523
The client exposes `channel`, so you can call `client.channel.close()` when
you're done.

On Fri, Aug 10, 2018 at 2:46 PM jtromans <notifications@github.com> wrote:

[2018-08-10 22:02] jtromans commented on #5523
Thanks,I guess you mean grpc client exposes channel (after skimming the code) as opposed to pubsub_v1.PublisherClient. I'm in a situation where I get so many CLOSE_WAIT connections that I get this OS error complaining about the number of files open. Shouldn't pubsub library make use of channels.close() and handle these properly ?

[2018-08-10 22:04] theacodes commented on #5523
Since our clients only use one channel at a time, we not do any automatic
closing.

On Fri, Aug 10, 2018, 3:02 PM jtromans <notifications@github.com> wrote:

[2018-08-10 22:08] jtromans commented on #5523
Ok, is it expected behaviour (based on your experience) to see to many ESTABLISHED and CLOSE_WAIT connections via netstat -a when using pubsub library correctly? I'm eventually getting crashes complaining of too many files open and just presumed this was the cause because it seemed to make sense from the threads that I was reading.

[2018-08-10 22:16] theacodes commented on #5523
If you're creating lots of instances of clients you might see that, are you
creating many instances?

On Fri, Aug 10, 2018, 3:08 PM jtromans <notifications@github.com> wrote:

[2018-08-10 22:37] #5779 closed

[2018-08-11 23:16] jmwoloso opened #5787 "STT: 429 ResourceExhausted"
Linux Mint 18.3
Python 3.6.5
google-cloud 0.32.0 & google-cloud-speech 0.35.0

I seem to get the 429 ResourceExhausted exception every 12th request for an operation. Having the program sleep for 90 seconds before resuming works, but as you can see from the attached png, I'm not coming anywhere close to the advertised quota.

![quota](https://user-images.githubusercontent.com/7530947/43996889-cb394

[2018-08-12 00:41] SidraYounas commented on #2990
Hey there, I have also been receiving the same error ,

I am trying to use `'pip install cogent'` and I came across with the error I mentioned above. According to different suggestions given above, I have upgraded the `'setuptools'` `'pip'`, also I installed `'google-coud'` . I have also tried installing 'pip install cogent[all]' but again I come across with the error, `'Command "c:\python27\pytho

[2018-08-12 05:07] aymanfarhat commented on #3067
Quick tip in case anyone is facing this issue when setting up a drive based federated source to BQ via Apps Script. Enabling the Drive API in the UI won't be enough. In case the app doesn't explicitly call any Drive related API calls, the drive scope won't get added into the script.

This worked in my case by explicitly enabling the drive scope in the manifest.json file (make sue to select  "show

[2018-08-12 10:48] edwardfung123 opened #5788 "pubsub: The publisher client API page is empty"
The documentation page is empty. https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/publisher/api/client.html

However, the subscriber page is working.
https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/subscriber/api/client.html

[2018-08-12 11:19] edwardfung123 opened #5789 "PubSub: Got unbound method error when calling the class method from_service_account_json"
I am using the service account for authentication. By following the example in [here](https://googlecloudplatform.github.io/google-cloud-python/latest/core/auth.html#service-accounts)
, I create the following code:

[code]

The output:

[code]

However, when I use similar code to create datastore client with the service account JSON file, it works. E.g.

[code]

After checking the source code, per

[2018-08-12 15:37] jmwoloso commented on #5787
I think I figured this out. My clips are 15 mins long which means every 100 seconds I can only send 12 clips before I need to sleep and wait for my quota usage to come back (10,800 seconds of audio per 100 seconds). While the requests were below the quota, the amount of audio sent was not.

[2018-08-12 15:37] #5787 closed

[2018-08-12 16:15] jmwoloso commented on #5787
one more note, the quota chart for audio seconds (found on the same page as the requests chart I took a screen cap of) doesn't seem to work. it always says "There is no data for this chart"

![audio_seconds](https://user-images.githubusercontent.com/7530947/44003992-47b4265e-9e10-11e8-88d4-dbc374f3c617.png)

[2018-08-13 06:06] mstal commented on #5783
Hello @JustinBeckwith ! Sorry, but not sure how to proceed with the "triage me" label.

[2018-08-13 07:55] arvindnrbt commented on #5671
So, we've gone forward and extracted images from the pdf and used document_text_detection on each of those images, now we get a response of <type AnnotateImageResponse>. Our codebase is getting a little redundant since we have to deal with the same functionality in two different ways as the beta APIs have a JSON file as response and the latter is producing the AnnotateImageResponse object. I think

[2018-08-13 11:37] ron819 opened #5791 "allow compression in the write_to function (Storage)"
I'm using the library as follows:

`storage.Bucket('bucket_name').item(path).write_to(df['results'].to_json(), 'application/json')`

It would be nice if the write_to function will also have the ability to do compression.
For example data frame has the ability to :
[code]

However this requires me to save the file locally and only then upload it (same for csv and json)
So as I said, it would be nic

[2018-08-13 15:35] letusfly85 opened #5792 "Exception in subscribe - google cloud pubsub 0.35.4"
Summary:
---

Hi, thank you for the awesome Google Cloud Pub/Sub python library. 😃
I have a question about this library.

- running the publishing process from last week by using Google Cloud Pub/Sub.
- running a `subscriber` process by using Google Cloud Pub/Sub.
- After 8 ~ 9 hours from starting subscribing, I got the following stdout.
- I used `logger` and `try~except`, however, I couldn't hand

[2018-08-13 20:43] theacodes commented on #5789
Weird, @lukesneeringer @andreamlin can you take a look?

[2018-08-14 04:33] joelfernandes19 opened #5796 "Support for Firestore Client on App Engine Standard?"
This is with regard to [#179](https://github.com/firebase/firebase-admin-python/issues/179) on Firebase Admin Python SDK.

Is there a workaround, or any updates on the timeline on when support for Firestore client will be added on App Engine Standard?

[2018-08-14 06:31] pankajjoshi16 opened #5797 "Google Cloud Functions"
OS: MACOS

I used following command

gcloud beta functions deploy start --runtime python37 --trigger-http --memory 2048MB --timeout 540s

(gcloud.beta.functions.deploy) OperationError: code=3, message=Build failed: USER ERROR:
`pip_download_wheels` had stderr output:
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-wheel-8b_hn74q/PyWavelets/

error: `pip_download_wheels` ret

[2018-08-14 08:35] AbhishekBabuji opened #5798 "Cloud Natural Language API returning socket.gaierror: nodename nor servname provided after a performing Sentiment Analysis on a few text files"
The issue I'm having is cross posted [here](https://stackoverflow.com/questions/51775484/cloud-natural-language-api-returning-socket-gaierror-nodename-nor-servname-prov)

I'm running the code on Jupyter notebook, I modified the code from this [link][1] so it takes it from Jupyter notebook instead of console and iterates over a list of files.

    """Demonstrates how to make a simple call to the Na

[2018-08-14 15:01] letusfly85 commented on #5792
Sorry, maybe this is my mistake, I haven't called `ack()` method for each message.
So, a lot of messages had come to the callback process, and CPU and Network Input increased.

Now, I'm trying to above program with `ack()`.
If tomorrow, I don't see the same error, I want to close this issue 🙇

[2018-08-14 15:02] letusfly85 commented on #5792
However, if I can, I want to handle such error on the user code 💦

[2018-08-14 15:15] joseret opened #5799 "Logging Handlers add the attribute python_logger which breaks the stackdriver convention for jsonpayload"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
ClougLogging
2. OS type and version
AppEngine Flex Python 3
3. Python version and virtual environment information `python --version`
AppEngine Python3
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
Name: google-cl

[2018-08-14 16:40] theacodes commented on #5792
Yeah, we should fix that codepath so it doesn't totally choke, but for sure the biggest issue here is not `ack`ing or `nack`ing your message.

If you want to be able to handle errors, you need to keep track of the future returned by `subscribe` and call `result()` on it, for example:

[code]

[2018-08-14 17:12] fabltd opened #5800 "Pull Subscription Errors"
Hi

I am using the python example for receive messages ( Pull Subscription)

    subscriber = pubsub_v1.SubscriberClient()
    subscription_path = subscriber.subscription_path(project, subscription_name)

This is working but the following error is logged.

Observed recoverable stream error 504 Deadline Exceeded
Observed recoverable stream error 504 Deadline Exceeded
Re-established stream

Where do

[2018-08-14 17:36] theacodes commented on #5800
Those are normal.

[2018-08-14 17:38] eddavisson opened #5801 "Datastore: Ability to override base URL"
Seee https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/datastore/google/cloud/datastore/client.py.

It is currently only possible to override the base URL:

`_DATASTORE_BASE_URL = 'https://datastore.googleapis.com'`

by setting the `GCD_HOST` environment variable:

[code]

but this is meant to be used with the emulator and so does not use SSL.

It would be helpful to be able t

[2018-08-14 18:00] theacodes commented on #5796
These libraries are supported by the Python 3.7 runtime on GAE standard. At this time, we have no plans to support the Python 2.7 runtime.

[2018-08-14 18:00] #5796 closed

[2018-08-14 18:03] theacodes commented on #1893
An update for y'all:

App Engine has launched its Python 3.7 runtime for Standard based on gVisor sandboxing technology. This means that these libraries (along with a significant amount of other libraries) are now supported on App Engine standard with that runtime. You should be able to simply add these to your `requirements.txt` and use them as normal.

At this time we have no plans to support th

[2018-08-14 18:03] #1893 closed

[2018-08-14 19:49] theacodes commented on #5800
Closing for now, but let us know if there's anything else we can help with.

[2018-08-14 19:49] #5800 closed

[2018-08-14 19:59] fabltd commented on #5800
Any way to mute these notifications?

[2018-08-14 20:14] theacodes commented on #5800
You can use the standard library logging utilities to filter these logs.

[2018-08-15 01:36] letusfly85 commented on #5792
@theacodes

Thank you for replying.
Now, I don't get any errors.

And thank you for the snippets!

I'll also try to use when I want to block messages.

[2018-08-15 08:48] ron819 opened #5804 "datalab.storage.Item - allow to upload file from local disk"
according to: http://googledatalab.github.io/pydatalab/datalab.storage.html#
The supported function of `datalab.storage.Item` that allows upload is: `write_to`
this function upload string/stream. there is no way to upload a file.
meaning that if we want to upload a file we need to read it, convert it to stream and then upload it.

Please add function `uploadfile(path,content_type)`
which will allo

[2018-08-15 17:45] nicoleeel opened #5805 "[BigQuery] table schema field descriptions do not update"
**Bigquery Python API: Updating schema with descriptions for fields / columns does not work**
Using the client API to add descriptions for fields does not work.

**example code with fake data/query:**
[code]

Table will create successfully, with table description updating successfully, but schema for fields does not update. Have tried this in various methods, but it seems like a bug or lack of the

[2018-08-15 18:50] ppopp opened #5806 "Speech v1p1beta1 words do not match transcription when diarization enabled"
The words do not match the transcription in the LongRunningRecognitionResponse when speaker diarization is enable.  The issue goes away when speaker diarization is disabled.

I attached a wave file that I used to run the following example
[bug_v1p1beta1.wav.zip](https://github.com/GoogleCloudPlatform/google-cloud-python/files/2291293/bug_v1p1beta1.wav.zip)

[code]

This script results in:
[code]

[2018-08-15 20:03] ppopp commented on #5806
Nevermind. I see this is expected behavior from the docs:
https://googlecloudplatform.github.io/google-cloud-python/latest/speech/gapic/v1p1beta1/types.html#google.cloud.speech_v1p1beta1.types.RecognitionConfig.enable_speaker_diarization

[2018-08-15 20:03] #5806 closed

[2018-08-15 20:17] nirmalthacker opened #5807 "Pubsub: Publish hangs on futures.wait intermittently"
Our publish frequently hangs on the future.wait().

Application details:
1. A poller thread subscribes to a topic fetching messages as they come in
2. When messages come in, worker multiprocess is started to do some work
3. When work is done, worker multiprocess publish to a different topic

3 hangs in the publish future.wait() intermittently with the below stack trace. Following the stack trace a

[2018-08-15 20:31] theacodes commented on #5807
Are you creating a new client in each new process? Multiprocessing can
cause serious issues with the gRPC clients.

On Wed, Aug 15, 2018 at 1:17 PM Nirmal Thacker <notifications@github.com>
wrote:

[2018-08-15 20:44] nirmalthacker commented on #5807
@theacodes Yes, a new client per process.

[2018-08-15 22:08] zinjiggle commented on #5671
Hi Arvind:

What is your pdf file?

[2018-08-15 22:16] nirmalthacker commented on #5807
I've resorted to using the REST API for step 3 for the publish and it seems to be a decent workaround. Is the issue concerning multiprocessing and grpc a bug? Can you link it in here? Would we see a fix in the later releases?

[2018-08-16 00:46] crwilcox commented on #5318
I have reached out to a contact on the StackDriver team. Hopefully they can help us figure out what is going on.

@benbc sorry for the time to get back to this issue. Can I ask if the issue is still occurring? If so, are you trying to use the entries in list_entries for a long amount of 'clock time'? Just trying to think why you may be seeing an aborted error.

[2018-08-16 06:04] arvindnrbt commented on #5671
I can see the difference now, It is noticeably faster. Many thanks for that. But I still get the none type error for some pdf documents. My pdf is a redacted contract agreement, If you do want to have a look at it, I can look into what I can share with you.

[2018-08-16 10:27] AbhishekBabuji commented on #5798
Guys?

[2018-08-16 11:37] arvindnrbt commented on #5671
@zinjiggle Sent you a mail with the document. And what does GAed mean? Is there a google group or something of sorts where I can get latest info on Cloud vision?

[2018-08-16 15:39] crwilcox commented on #5671
@arvindnrbt GA refers to a launch stage for Google Cloud products. https://cloud.google.com/terms/launch-stages

[2018-08-16 17:43] gruzewski opened #5812 "Pub/Sub: future.result() doesn't raise exceptions from callback"
Hi. I am trying to setup up a simple client that subscribes to a PubSub and consumes messages. I have a problem with handling exceptions raised in callback method. I would like to be able to handle them in the main thread. The reason why I would like to do it is those exceptions are impossible to recover from and the app should crash and not consume messages. In the `subscribe` method's docstring

[2018-08-16 17:46] theacodes commented on #5812
The future only bubbles exceptions that occur with the actual API call, not with individual callbacks. You'll need to do your own error handling to capture those, something like:

[code]

Closing for now, but happy to answer any follow-up questions.

[2018-08-16 17:46] #5812 closed

[2018-08-16 18:43] gruzewski commented on #5812
Thanks @theacodes ! Looks like that did the job. For everyone interested, this is what I did in the end.

[code]

[2018-08-16 18:45] theacodes commented on #5812
Glad you got it worked out!

On Thu, Aug 16, 2018, 11:43 AM Jacek Gruzewski <notifications@github.com>
wrote:

[2018-08-17 01:59] galinagpolyakova opened #5813 "[Speech] does not work from AWS Lambda"
Google.cloud.speech
![image](https://user-images.githubusercontent.com/40973152/44243737-d58b5200-a224-11e8-83bd-65e0387fb870.png)

fails within AWS Lambda environment, works fine on windows

python 3.6

Error message:

```Unable to import module 'My_Module': cannot import name 'cygrpc'```

To reproduce:
create dummy Lambda function, copy code to windows, import google.cloud.speech, install libs i

[2018-08-17 08:49] arvindnrbt commented on #5671
Thanks :)

[2018-08-17 14:14] sumerc opened #5814 "'ImageAnnotatorClient' object has no attribute 'safe_search_detection'"
Hi all,

System is Ubuntu 14.04 and python3.4. google-cloud-vision is installed via pip. Here are the versions:
google-api-core==1.3.0
google-auth==1.5.1
google-cloud-vision==0.33.0
googleapis-common-protos==1.5.3

I am getting 'ImageAnnotatorClient' object has no attribute 'safe_search_detection' from the example below:

[code]

In my local dev environment (MACosx) it is working fine, but in this

[2018-08-17 15:46] jakewins commented on #5318
@crwilcox I'm a coworker of @benbc. We're still seeing this, last time was on the 13th of this month, prior to that was the 7th. Seems to occur about once a week.

Here is a snippet of how we're using list_entries at the point of error, with some minor renames of variables and query filter field names; there should be no semantic difference from our actual code:

[code]

[2018-08-17 17:03] #5668 closed

[2018-08-17 17:13] skhaz opened #5816 "Mocking google cloud storage"
Hi,

I'm trying to test a piece of code that uses the google cloud storage, but there's no emulators for that neither something like to the [moto](https://github.com/spulec/moto). How can I mock these component?

Thanks.

[2018-08-17 21:10] rllin-fathom opened #5818 "DNS: zone exist endpoint has changed?"
2. internal image based on `python:3.6.3`
3. `3.6.3`
4. dns version 0.29.0
[code]
6. See stacktrace

I've been running this `exist` call on this zone and dns name for a few months now.  Suddenly we are getting this breakage.  I've check that the zone and dns exist in Cloud Console.  Though you'd think either way it would return a better error?  I've also checked that this isn't a new dns module ve

[2018-08-17 21:19] rllin-fathom commented on #5818
it looks like https://cloud.google.com/dns/api/v1/managedZones/get doesn't even accept a query param as https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/dns/google/cloud/dns/zone.py#L284 is trying to pass?

it's unclear to me if the api/v1 changed recently?

[2018-08-18 01:03] jdupl123 opened #5819 "Speech: v1p1beta1 with diarization, 429 Received message larger than max"
# Api
speech_v1p1beta1
# os
macOS 10.13.5
# python version
Python 3.6.3 :: Anaconda, Inc.
# api version
Name: google-cloud-speech
Version: 0.35.0
Summary: Google Cloud Speech API client library
# stack trace

[code]

# Code example

[code]

[2018-08-18 14:55] Arvin6 commented on #5671
Did you find out what the problem is with the pdf I sent you? This is just for our clarity to know if we could identify which pdf is going to fail beforehand.
Thank you for your swift response 😄

[2018-08-20 09:35] jocieA commented on #3736
Hi all, any idea  on how to make this work on Cloud Composer? I am migrating DAGs from our current environment to Cloud Composer however I get this error even when I install  google-cloud-storage==1.6.0 and requests==2.18.0 as PyPI package.

[2018-08-20 09:32:09,128] {base_task_runner.py:98} INFO - Subtask: [2018-08-20 09:32:09,127] {bash_operator.py:101} INFO - from google.cloud import bigquery
[

[2018-08-20 09:56] basphilippus commented on #4713
Hi,

Is there any progress on this feature? I would really like to scale my writes to Bigtable with Python code.

[2018-08-20 13:08] sduskis commented on #4713
We still do not have concrete plans to implement this feature.

[2018-08-20 13:11] jcpowermac commented on #5818
I am also experiencing the exact issue with `exist`

[code]

cc: @karmab

[2018-08-20 13:19] niwa-kazutomo opened #5820 "PubSub 0.37.1 Subscription Client is Broken"
Hi,

I encountered the following error.

[code]

This problem did not occur in 0.35.4.
I checked the commit log and found a strange part.

https://github.com/GoogleCloudPlatform/google-cloud-python/commit/371333a51165e99d4d02876b1ef133618485b6fc#diff-e221f62050dd418b49b113c7909d0ea2L129

Channel initialization processing has been deleted.

https://github.com/GoogleCloudPlatform/google-cloud-python

[2018-08-20 14:39] tseaver commented on #5789
The bug is almost certainly in [`google.cloud.pubsub_v1._gapic.add_methods`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/75de6a53c9feee1bc37ee4bfd1369b3010403194/pubsub/google/cloud/pubsub_v1/_gapic.py#L35), which is not detecting that `from_service_account_file` (aliased to `from_service_account_json`) is a classmethod.

[2018-08-20 14:43] tseaver commented on #5783
Per the [API doc for variables](https://cloud.google.com/deployment-manager/runtime-configurator/reference/rest/v1beta1/projects.configs.variables), `text` is indeed an alternate to `value` as bytes.

[2018-08-20 14:47] tseaver commented on #5785
For reference, the [API docs for the `use_enhanced` flag](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1p1beta1#google.cloud.speech.v1p1beta1.RecognitionConfig.FIELDS.bool.google.cloud.speech.v1p1beta1.RecognitionConfig.use_enhanced), which is a new feature in `v1p1beta1`.

[2018-08-20 14:55] tseaver commented on #5805
We have a [passing system test](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/75de6a53c9feee1bc37ee4bfd1369b3010403194/bigquery/tests/system.py#L398) which exercises `Client.update_table`, specifically passing an updated schema.

Can you step into the call to `client.update_table(table, ['schema'])` and examine the `Tables` resource returned by the API call?

[2018-08-20 14:57] tseaver commented on #5788
@edwardfung123 Thanks for the report!

[2018-08-20 15:02] tseaver commented on #5813
@galinagpolyakova Thanks for the report!  Can you please provide the full traceback at the time of the import error?  Also, can you please show the steps you are using to install `google-cloud-speech` and its dependencies?

[2018-08-20 15:28] tseaver commented on #5816
As you note, there is no emulator for the GCS service (see #4897, #4840):  constructing one is not within scope for the `google-cloud-storage` library project.

"Mocking" is perhaps ambiguous -- to me it implies more of a unit testing context, e.g.:

[code]

[2018-08-20 15:28] #5816 closed

[2018-08-20 15:36] tseaver commented on #5791
The `google-cloud-storage` library doesn't support that kind of access pattern.  The equivalent code there would look like:

[code]

[2018-08-20 15:36] #5791 closed

[2018-08-20 15:42] tseaver commented on #5819
The [documented content limits](https://cloud.google.com/speech-to-text/quotas#content) are in terms of approximate minutes of speech:  ~180 minutes for asynch requests via a GCS URI.

In the reported error, the limit appears to be 4 megabytes (which is much smaller).

[2018-08-20 15:45] tseaver commented on #5797
The `google-cloud-python` libraries maintained in this repository are distinct from the `gcloud` CLI, which is part of the [Cloud SDK](https://cloud.google.com/sdk/docs/).  Please see [the support resources page](https://cloud.google.com/sdk/docs/getting-support).

[2018-08-20 15:45] #5797 closed

[2018-08-20 15:48] tseaver commented on #5801
@eddavisson Can you please clarify the usecase?  Do you intend to run the emulator behind a proxy addressable via HTTPS (rather than running it on your local machine)?

[2018-08-20 15:49] tseaver commented on #5804
Please report this issue to the [`googledatalab` repository](https://github.com/googledatalab/datalab).

[2018-08-20 15:49] #5804 closed

[2018-08-20 15:51] tseaver commented on #5818
@theacodes, @crwilcox please loop in the appropriate PoC for the Cloud DNS API.

[2018-08-20 15:53] tseaver commented on #5820
@theacodes I believe you have the state to point this issue in the right direction.

[2018-08-20 15:58] #5742 closed

[2018-08-20 15:59] eddavisson commented on #5801
@tseaver This would be for contacting an actual deployed instance of the API, either a non-prod environment or the prod environment via an alternative hostname. For example, the Dataflow SDK contacts the prod environment via the `batch-datastore.googleapis.com` hostname:
https://issues.apache.org/jira/browse/BEAM-1387

[2018-08-20 16:01] #5685 closed

[2018-08-20 16:01] #5723 closed

[2018-08-20 16:06] theacodes commented on #5820
@lukesneeringer

[2018-08-20 17:44] lukesneeringer commented on #5820
Lines 188 and 189 in `subscriber_client.py` should not be there.
As best as I can tell, [gapic-generator does not write them](https://github.com/googleapis/gapic-generator/blob/master/src/main/resources/com/google/api/codegen/py/main.snip#L134-L136), so this was probably an incomplete sync of some kind? If you re-generate, you should get a file without those lines. (A similar edit applies to `publ

[2018-08-20 19:36] #5788 closed

[2018-08-20 21:40] galinagpolyakova commented on #5813
@tseaver
Hi there, at the moment I can only provide this:
![image](https://user-images.githubusercontent.com/40973152/44367948-57c98e00-a525-11e8-8628-f6c99199b492.png)

I don't have access to Lambda Execution environment locally, I use the console version so can't see the full trace back unfortunately.
I assume the problem is in the lack of libraries for Virtual Environment, but I can't figure ou

[2018-08-20 23:43] crwilcox commented on #5818
Hi All. I spoke with some members of the DNS team. This was a regression. The team has identified the issue and is working on a fix. We expect that by next week a release will occur to prod to resolve your problem.

[2018-08-21 11:35] speedplane opened #5824 "Datastore: Deadline of 900.0s exceeded while calling functools.partial object"
My requests to the datastore keep on timing out with 504 errors, despite a very long retry handler. Here is the stack trace:

[code]

I am using the following versions of the API:
[code]

Running Python 2.7 on Google Cloud Flexible with the following app.yaml:
[code]

It seems that requests to the datastore are timing out with 504 errors even after retrying many times. To better debug the issue, I

[2018-08-21 17:48] #5820 closed

[2018-08-21 18:15] rllin-fathom commented on #5818
Thanks!  Will there be an update when the release happens?

[2018-08-21 19:25] #5789 closed

[2018-08-21 19:41] sonlac commented on #3736
Hi @jocieA, with your logs I am assuming that your problem is not in the module _google-cloud-storage==1.6.0_ but rather in the module _google-cloud-bigquery_. You can do a `pip freeze` to see your installed bigquery module. I am not working with Cloud Composer service but I am very familiar with Airflow DAGs, your task (using Airflow BashOperator) should work correctly "out-of-box". It should be

[2018-08-21 21:24] suhasm21 opened #5830 "Storage: Python test fails with bunch of errors."
URL: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst#running-system-tests

Steps:
1. git clone https://github.com/GoogleCloudPlatform/google-cloud-python
2. Create JSON key on developer console
3. Set GOOGLE_APPLICATION_CREDENTIALS: The path to a JSON key file
4. Change directory to google-cloud-python
5.  Run Storage system test
ex: ~/.local/bin/nox -f stor

[2018-08-21 23:01] crwilcox commented on #5830
Failing:
TestStorageNotificationCRUD.test_notification_explicit
TestStorageNotificationCRUD.test_notification_minimal
TestKMSIntegration.test_blob_w_explicit_kms_key_name
TestKMSIntegration.test_bucket_w_default_kms_key_name
TestKMSIntegration.test_rewrite_rotate_csek_to_cmek

[2018-08-22 00:45] edave commented on #5819
I can confirm also encountering this error/limit with the same stack trace while trying to do a transcription.
1. **OS type and version:** MacOS 10.13.6 (High Sierra)
2. **Python version and virtual environment information:** `Python 3.7.0`
3. **google-cloud-python:** Core: 0.28.1, Speech: 0.35.0

Indirectly, this is caused by enabling diarization and how transcriptions are divided into several re

[2018-08-22 12:31] jens86 opened #5833 "./google-cloud-sdk/install.sh error"
Trying to install the google cloud sdk locally. Using Mac 64 bit. just installed python 2.7.15.

c02s10gwg8wp:~ szb7493$ /Applications/google-cloud-sdk/install.sh
Welcome to the Google Cloud SDK!
Traceback (most recent call last):
  File "/Applications/google-cloud-sdk/bin/bootstrapping/install.py", line 12, in <module>
    import bootstrapping
  File "/Applications/google-cloud-sdk/bin/bootstrapp

[2018-08-22 14:02] andyhky commented on #5770
Is there any update on this?

[2018-08-22 14:13] rasmi opened #5834 "Storage: Blob.compose doesn't use default content_type"
[`Blob.compose`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/51ba7e148fc76e07018dc60192219fb28ff628b0/storage/google/cloud/storage/blob.py#L1363-L1381) does not use the [`self._get_content_type` method](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/51ba7e148fc76e07018dc60192219fb28ff628b0/storage/google/cloud/storage/blob.py#L605-L633), which means Blob.compos

[2018-08-22 16:39] #5830 closed

[2018-08-22 17:22] tseaver opened #5835 "Bigtable: failing system test"
/cc @sduskis, @vikas-jamdar (bug introduced in PR #5790).

From:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7763
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7766

[code]

[2018-08-22 17:31] tseaver commented on #5835
@sduskis I've marked this bug P1 because it is a non-flaky failure which breaks CI for all post-merge builds (even those unrelated to Bigtable).

[2018-08-22 17:33] tseaver commented on #5833
@jens86 I'm sorry you are having trouble installing the Cloud SDK.  Unfortunately, this repository is not where that SDK is maintained / supported.  Please use one of the resources on the [SDK support page](https://cloud.google.com/sdk/docs/getting-support).

[2018-08-22 17:33] #5833 closed

[2018-08-22 18:08] vikas-jamdar commented on #5835
@tseaver Will try to fix the issue as early as possible.

[2018-08-22 18:36] vikas-jamdar commented on #5835
OK. You have removed _test_state_helper and put the required code in test_create_instance_w_two_clusters. The system test for this function does not fail from my local environment. Can tell me the reason for this fail   so that I can avoid it in future.

[2018-08-22 18:43] tseaver commented on #5835
There were two problems in `_test_state_helper`:

- NameError for `enums` (imported in `test_create_instance_w_two_clusters`).
- NameErrors for `clusterid1` / `clusterid2`.

Since `test_create_instance_w_two_clusters` was the only caller, I just collapsed to two methods into one and fixed the name usage.

[2018-08-22 18:45] #5835 closed

[2018-08-22 20:22] suhasm21 opened #5839 "Python Bitable system test fails with NameError: global name 'enums' is not defined"
URL: https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/bigtable/tests

TestInstanceAdminAPI.test_create_instance_w_two_clusters fails with
NameError: global name 'enums' is not defined
tests/system.py:312: NameError

Attached is the console output log
[BigtableError.docx](https://github.com/GoogleCloudPlatform/google-cloud-python/files/2311866/BigtableError.docx)

[2018-08-22 20:25] tseaver commented on #5839
Duplicates #5835

[2018-08-22 20:25] #5839 closed

[2018-08-24 04:37] joshuahendinata opened #5841 "Pubsub: New version (0.37.2) caused the stream to be throttled and spiky"
I have an unusual issue that might be particular to my use case.

I am comparing the data emitted from kafka and pubsub. Starting from 0.37 release, when an error occurred (log below), the stream from pubsub seems to be throttled and spiky.

Screenshot below. Blue is stream from kafka, Red is stream from pubsub. Notice that before the error at 11:35:00, there are minimal to no difference between t

[2018-08-24 08:59] AlbertWigmore commented on #2990
Currently experiencing this issue with the following setup

python 3.5.2
pip 18.0
virtualenv 15.0.1
setuptools 40.2.0

When installing google-cloud-bigquery setuptools fails to install googleapis-common-protos with the following error:
[code]

Seems the problem has been re-introduced with a newer version of setuptools which is confusing for anyone who finds this thread.

**Temporary Fix:** Downgra

[2018-08-24 10:00] khandelwal1998 commented on #2990
Updating pip and the setup tools did the work for me.
`python -m pip install --upgrade pip`
`python -m pip install --upgrade setuptools`

[2018-08-24 16:58] theacodes commented on #5841
This is *probably* expected behavior. The stream gets re-established about every 60 minutes, and when it's re-established you will see a spike in the backlog of messages as the Pub/Sub server will send a much higher number on that initial request if the subscriber has been down for a while.

What is concerning to me is the presence of "Can not recv()" errors, that shouldn't happen in normal operat

[2018-08-24 19:41] joshuahendinata commented on #5841
I think if you count the overall sum of value then in the end it is the same, however, we are running an anomaly detection and hence the spiky behaviour might cause an issue.

I have tried several thing that fixed the issue
1. Deleting and re-creating the subscription
2. Redeploying the application

For the consecutive deadline, yes I am running multiple subscriber on the process and it’s difficul

[2018-08-24 19:43] theacodes commented on #5841
Yeah, the deadline exceeded is an expected error and is part of the design (basically, our servers force a re-connect every so often, and that's what you're seeing there).

I think this is working as intended given the design of the Pub/Sub service, so I'm going to close this, but if you think there's more we can do let me know.

[2018-08-24 19:43] #5841 closed

[2018-08-25 20:33] guillaumeblaquiere opened #5845 "WriteDisposition and SourceFormat in incorrect package."
Hello

I'm new in python and BigQuery (I prefer Java, but GCF are only in node and python....) So, the code example is wrong for WriteDisposition and SourceFormat. The enumerations are in bigquery.`job`.WriteDisposition.WRITE_APPEND

File with problem (I don't look for others) `google-cloud-python/docs/bigquery/snippets.py`

[code]

There is maybe another issue. I saw only these, linked at my code

[2018-08-25 23:45] nwzy commented on #2990
@khandelwal1998 Hi, I was having problems with installing pysam and constantly getting error code 1 while in my venv. This solved all my problems

[2018-08-26 05:43] MajdiRabia commented on #4117
This saved my day ! Thanks panuta

[2018-08-27 05:54] shubhamtanwar opened #5846 "ImportError: cannot import name pem"
I'm writting test case for my app hosted on Google app engine and when running the following command an import error occurs
`nosetests -w tests --logging-level=ERROR --with-gae --gae-application=path_to_yaml_file --gae-lib-root=path_to_appengine`

### Following is the stacktrace of error message
`Traceback (most recent call last): File "/home/daffodil/Desktop/museconnect/venv/local/lib/python2.7/s

[2018-08-27 06:36] sumerc commented on #5814
I use following:
pip3 install google-cloud-vision

I reproduced the issue with a fresh install of Python 3.4.3. When I switch to Python 3.6, and run same commands the issue is not reproduced anymore. Below is the dockerfile I used to switch between Python versions with pyenv:

[code]
With this pyenv, I run pip install google-cloud-vision, then I tried pip install --upgrade pip and then again upgra

[2018-08-27 09:56] arvindnrbt opened #5847 "AsyncAnnotateFileRequest wont pass in image_context when using visionBeta"
I'm using Cloud vision for extracting text from pdf documents, while many documents work well some documents were detected to be in other languages. When you see the detected languages, you can see that it detected 'en' and 'sl' in the document while I've clearly specified only 'en'.
[code]
This results in
[code]

[2018-08-27 14:27] kalravibhor opened #5848 "Vision: document_text_detection no response on localhost"
Hi,

I am creating an application to which uses `document_text_detection`. I run into problems while testing the application on my machine (localhost), while the same runs perfectly well on the server (not GCP) where the application is deployed.

The application is server by `gunicorn` and the `falcon` framework and uses `celery` to process/annotate the images in an async fashion. Since the applic

[2018-08-27 14:34] dmsolow opened #5849 "PubSub Subscriber fatal error "Can not recv() on an RPC that has never been open()ed""
I'm running google-cloud-pubsub 0.37.2 on python 3.6.6. This code is running on the google cloud container OS. The code runs fine for days at a time, pulling messages from PubSub and processing them, but it occasionally crashes as follows:

First I see the following logging messages:
[code]
Then I see this stack trace:
[code]

This is followed by the following logging messages:
[code]

After this

[2018-08-27 15:36] brianmhunt opened #5850 "firebase-admin - `from firebase-admin import storage` fails"
Was unable to find another accounting of this, so reporting here with relevant details.

The problem should be fairly self-explanatory from the below, but I'm happy to provide any more details that might be of assistance.

This also fails with e.g. `from firebase-admin import firestore`, and I suspect others.

### Setup:

[code]

### Reproduction

[code]

### Background Info

[code]

[2018-08-27 16:00] theacodes commented on #5849
Alright, this is the second instance I've seen of this bug so it warrants some investigation.

You can work around this in the meantime by catching the error (returned by `subscribe_future.result()`) and just re-subscribing.

[2018-08-27 16:06] theacodes commented on #5846
Hi there! These libraries are not supported on the App Engine standard 2.7 runtime. They are supported on the Python 3.7 runtime for standard.

[2018-08-27 16:06] #5846 closed

[2018-08-27 17:36] hiranya911 commented on #5850
Works fine on my Mac:

[code]

[2018-08-27 17:51] brianmhunt commented on #5850
Thanks @hiranya911 ; I'd need some info to do a differential here.  What's the output from the above commands?

[2018-08-27 18:06] tseaver commented on #5814
Thanks for digging further into the problem!

The implementation of the standard library `enum` module in Python 3.4 changed in Python 3.5, and in the (ironically named) `enums34` backward-compatibility library used under Python 2.7, such that the enum type now exposes its members as attributes:  the Python 3.4 version does not.

The introspection code in `google.cloud.vision_helpers` depends on t

[2018-08-27 18:18] tseaver commented on #5845
Thanks for the report!  We actually import those types as aliases in `google.cloud.bigquery`, and document that we expect applications to import them from there (the snippets are tested via CI):

- [WriteDisposition](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/ac16d34d2d95d22fdc6228e5ce56c1eeae23f5d5/bigquery/google/cloud/bigquery/__init__.py#L61)
- [SourceFormat](https://githu

[2018-08-27 18:18] #5845 closed

[2018-08-27 18:26] tseaver commented on #5848
Can you please verify that the snippet you showed above runs from your machine without all the `gunicorn` stuff in place?

[2018-08-27 18:29] tseaver commented on #5850
@brianmhunt Sorry you are having trouble with the Firebase SDK.  However, this repository is not its home: please use one of the [Firebase support resources](https://firebase.google.com/support/) to ask for help.

[2018-08-27 18:29] #5850 closed

[2018-08-27 18:36] #5814 closed

[2018-08-27 18:56] brianmhunt commented on #5850
Thanks for the redirect, @tseaver

[2018-08-27 19:08] tseaver opened #5852 "Storage: KMS systests flake"
See multiple failures on `master`:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7782
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7793
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7801

I believe @crwilcox thought he was fixing these errors in #5837 / #5832, but AFAICT no luck.

[code]

[2018-08-27 19:26] hiranya911 commented on #5850
I think this is the right place for this issue. `firebase-admin` doesn't have its own storage implementation. It just uses `google-cloud-storage` underneath. @brianmhunt see if you can run `from google.cloud import storage` in your environment.

[2018-08-27 19:34] brianmhunt commented on #5850
Thanks @hiranya911

Here's the output:

[code]

It looks like it's installed though:

[code]

However when I run this I get:

[code]

I believe I've discovered the problem:

[code]

Which is outside the virtualenv.  I'm not sure why it'd being preferred over the virtualenv; perhaps  because my `PYTHONPATH=/Users/bmh/google-cloud-sdk/platform/google_appengine/`?

Looking into it.

[2018-08-27 19:37] brianmhunt commented on #5850
⭐️  When I clear the `PYTHONPATH` this issue resolves.

So it would appear that there's some conflict between the Google Cloud SDK and virtualenv.

I believe I've posted enough details that this can be sorted or otherwise documented, but please don't hesitate to reach out for more details that might be of assistance.

[2018-08-28 00:45] yiga2 commented on #5514
If you are fine not using gRPC, you can disable it by setting the environment variable `GOOGLE_CLOUD_DISABLE_GRPC` to a non-empty string, e.g. `GOOGLE_CLOUD_DISABLE_GRPC=true`.

This will populate the `payload` dict instead of `payload_pb`.

[2018-08-28 06:15] brunoais commented on #5505
@salrashid123 Why won't you do a PR with such proposal?

[2018-08-28 07:04] kalravibhor commented on #5848
@tseaver Yes, it does. Have tried it multiple times. What is perplexing is that this snippet works on any cloud sever without fail.

[2018-08-28 13:52] arvindnrbt commented on #5847
Thank you for your response, My use case would be for english only. I get a lot of other languages in result which is irrelevant. A way to force one or more languages will be a great feature to have and will save a lot of these issues.

[2018-08-28 15:42] #5770 closed

[2018-08-28 15:47] tseaver commented on #5852
More recent failures:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7806
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7805

[2018-08-28 16:31] #5454 closed

[2018-08-28 16:32] sduskis commented on #5305
`yield_rows` and `read_rows` now have a `row_set` optional parameter that allows arbitrary keys and ranges.

[2018-08-28 16:32] #5305 closed

[2018-08-28 16:34] sduskis commented on #5239
Reads rows now do automated retries.  I don't think that this is a problem anymore.  There's nothing actionable here, so I'll close this issue.  If something like this happens again, I'll open a new issue.

[2018-08-28 16:34] #5239 closed

[2018-08-28 16:47] tseaver commented on #5834
@frankyn I'm not sure how the GCS team would like to shape this feature.

[2018-08-28 16:52] tseaver commented on #5848
Given that the snippet works without `celery` / `gunicorn` in play, I don't think we have an actual bug in the `google-cloud-vision` library, so I'm closing.  Please feel free to keep discussing here, or reopen if you find something we could change to help your usecase.

One thing to check:  compare the versions in the output of `pip freeze` in your two environments:  perhaps you have a version mi

[2018-08-28 16:52] #5848 closed

[2018-08-28 16:52] tseaver commented on #5819
@theacodes, @crwilcox Ping for a PoC?

[2018-08-28 16:56] tseaver commented on #5813
@galinagpolyakova Can you get a completely new environment on AWS?  If not, can you trigger the install such that it replaces everything, e.g.:

[code]

[2018-08-28 16:57] #5805 closed

[2018-08-28 16:57] sduskis commented on #5770
Version 0.30.0 was pushed to pypi.  Thanks @tseaver!

https://pypi.org/project/google-cloud-bigtable/

[2018-08-28 16:58] frankyn opened #5855 "Request to release GCS Python library"
Hi,

Is it possible to release the Storage client library for Python?

I'd like the new method `get_service_account_email` to be available. Unless there exist concerns.

[2018-08-28 16:59] tseaver commented on #5780
@lukesneeringer Ping?

[2018-08-28 17:08] tseaver commented on #5514
@theacodes I still think this is a feature request, not a bug.  The classes for the AppEngine log entry payloads are not importable by default, and in fact we **cannot** know all the types used by random log entry producers.

If having application authors write handlers like the one in my [example above](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5514#issuecomment-399200147)

[2018-08-28 17:11] tseaver commented on #5479
[Another failure today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7815)

[2018-08-28 17:18] tseaver commented on #5194
Closed via #5808.

[2018-08-28 17:18] #5194 closed

[2018-08-28 17:19] tseaver commented on #5855
@frankyn my only current storage-related concern is the flaky KMS system tests (#5852).  We can likely make a release without addressing it.

[2018-08-28 18:40] tseaver commented on #4929
@tswast Seems like this issue has changed from a docs bug to a feature request.  Is it still relevant, given that the current release of `google-cloud-bigquery` is at 1.5.0?

[2018-08-28 18:42] tswast commented on #4929
I never updated the migration page samples, but I do think there's probably less demand to do so now. We can close this out.

[2018-08-28 18:42] #4929 closed

[2018-08-28 19:09] tseaver commented on #5294
Pandas 0.23.3 [claims (working) support for Python 3.7](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#v0-23-3-july-7-2018).

The release page also notes Pandas will be [dropping Python 2.7 support](http://pandas.pydata.org/pandas-docs/stable/install.html#install-dropping-27) for new feature releases as of 2019-01-01.

[2018-08-28 19:09] tseaver commented on #5293
Pandas 0.23.3 [claims (working) support for Python 3.7](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#v0-23-3-july-7-2018).

The release page also notes Pandas will be [dropping Python 2.7 support](http://pandas.pydata.org/pandas-docs/stable/install.html#install-dropping-27) for new feature releases as of 2019-01-01.

[2018-08-28 19:11] tseaver commented on #5294
However, `pyarrow` does **not** yet support Python 3.7 in its [latest release](https://pypi.org/project/pyarrow/0.10.0/#files).

[2018-08-28 19:12] tswast commented on #4684
Can we reopen this as a feature request? It would be useful to have helpers for recursive copies similar to gsutil.

[2018-08-28 19:37] frankyn commented on #5855
Let's take a look at the failing tests first. I think it's a permission issue.

[2018-08-28 19:39] tseaver commented on #5855
@frankyn The failures are flaky:  I presume that means there needs to be some backoff / retry added, or maybe the KMS stuff has a LRO we need to wait on?

[2018-08-28 19:41] tseaver commented on #4684
@frankyn I'll let you prioritize this one among other GCS feature requests.

[2018-08-28 19:50] tseaver commented on #4928
`google.api_core.operation.Operation._set_result_from_operation` is raising this error because its `self._operation.done` flag is already true, but neither `error` nor `response` is set.  This is a bug in the backend:  the [API docs for `Operation`](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.longrunning#google.longrunning.Operation) state:

@theacodes, @crwilcox please loop

[2018-08-28 19:54] frankyn commented on #5855
KMS has strong consistency for newly created key rings and keys. Are they being disabled in-between?

https://cloud.google.com/kms/docs/consistency#keys

[2018-08-28 19:55] tseaver commented on #4216
@frankyn I'm not sure how you'd like to prioritize this issue.  I think the "clean" way to do this without breaking backward compatibility is to add a new method, e.g. `Bucket.list_blob_objects`, which hides the paging and the `fields` and `versions` arguments.

[2018-08-28 20:03] tseaver commented on #4772
Just did a quick check.  The following spanner unit test modules are still using custom stubs (although none seem a candidate for `ChannelStub`, which is used in the generated tests for the gapic-layer clients).

- [ ] `tests/unit/test_batch.py`
- [ ] `tests/unit/test_database.py`
- [ ] `tests/unit/test_instance.py`
- [ ] `tests/unit/test_snapshot.py`
- [ ] `tests/unit/test_streamed.py`
- [ ] `tes

[2018-08-28 22:32] zinjiggle commented on #5671
Arvin:

your pdf doc's problem should be fixed now. Would you like to try it out again to verify?

It is actually not clear to me what is the problem of the pdf file itself. But we improved our pipeline for image extraction and it should work for all types of pdf files.

If you find out some pdf file which does not work. Feel free to send me those files and we will immediately process your request

[2018-08-29 02:01] #5293 closed

[2018-08-29 09:19] arvindnrbt commented on #5671
Hello @zinjiggle I did verify it again but it didn't work. I'm getting the same error.

[code]

[2018-08-29 09:34] HarshCHhz opened #5859 "Facing memory issue while loading the bigquery table data through python."
Hi, while trying to fetch the data of 1.8 M rows from Bigquery to local machine, we are getting Memory Error.

Import pandas_gbq as pgbq
 df= pgbq.read_gbq(sql, dialect)

[2018-08-29 11:49] kalravibhor commented on #5848
@tseaver : Looks like `celery` is interacting badly with the API call. Any idea on what might be causing this ? Looking for any help. Thanks !

[2018-08-29 14:51] tseaver commented on #5852
And more last night:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7825
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7826

[2018-08-29 15:04] tseaver commented on #5859
I'm sorry you are having this issue.  Unfortunately, `pandas_gbq` isn't maintained in this repository:  you probably need to report the issue [over there](https://github.com/pydata/pandas-gbq/issues/new).

As a check, can you try iterating over the results the same query using just `google-cloud-bigquery` facilities?  E.g.:

[code]

You could also try converting to a dataframe directly using `goog

[2018-08-29 15:05] tseaver commented on #5855
@crwilcox Do you have context for the KMS issue?

[2018-08-29 15:22] tseaver commented on #5852
I can't replicate locally, but perhaps that is because I created the `gcs-test` keyring myself.  I just tried jamming in `serviceAccount:<OUR-CI-PROJECT>@gs-project-accounts.iam.gserviceaccount.com` as an `Owner` of the keyring via the Cloud Console.  Maybe that will clear it up?

[2018-08-29 15:27] frankyn commented on #5855
The issue is the CI service account requires permission to [cloudkms.keyRings.setIamPolicy](https://cloud.google.com/kms/docs/reference/permissions-and-roles#required_permissions) for it to be able to update the keyRing IamPolicy. The existing roles it exists in are: roles/owner and `roles/cloudkms.admin`, and I think using only `roles/cloudkms.admin` given the service account currently uses Edito

[2018-08-29 15:51] HarshCHhz commented on #5859
@tseaver : Hi Tres, I have tried to implement your suggestion but now it is showing
IOError: [Errno 22] Invalid argument

[2018-08-29 16:03] tseaver commented on #5852
#5860 attacks the problem by invoking `set_iam_policy` only on newly-created keyrings.  Since keyrings cannot be deleted, this won't occur except the first time somebody runs the tests for a given project (or if we change the keyring location / name).

[2018-08-29 16:35] #5852 closed

[2018-08-29 17:06] #5772 closed

[2018-08-29 17:06] #5801 closed

[2018-08-29 17:07] #5855 closed

[2018-08-29 17:41] tseaver commented on #5859
@HarshCHhz Are you using the `legacy` dialect for your query?  Also, can you please provide the full traceback?

[2018-08-29 17:50] tseaver commented on #5637
Trying to reproduce in a Python 3.7.0 virtualenv:

[code]

Please feel free to continue investigating / following up here, but I am closing the issue because I can't reproduce it using "stock" Python packaging.

[2018-08-29 17:50] #5637 closed

[2018-08-29 17:53] HarshCHhz commented on #5859
@tseaver : I am using standard dialect for the query.
Traceback (most recent call last):
  File "filename_path.py", line 416, in <module>
    args.specialstrings
  File "filename_path.py", line 362, in main
    run()
  File "filename_path.py", line 288, in run
    sourcewisefilename= generatecsv(sqlinput[i], csvfilename,title[i])
  File "filename_path.py", line 82, in generatecsv
    client = Clie

[2018-08-29 18:29] tseaver opened #5861 "Spanner: 'test_invalid_type' systest flakes"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7832

[code]

[2018-08-29 20:11] max-sixty commented on #3191
I'm not sure this is high enough priority to start a new issue (let me know if you'd like me to), but Jobs are also not picklable:

[code]

I'm guessing that's because it represents some sort of future? IMO it would be fine if `__getstate__` deleted the polling and let a reference that could be checked.

[2018-08-29 21:25] tseaver opened #5863 "Spanner: 'TestSpannerClient.test_client_with_grpc_gcp_channel' unit test fails repeatably"
When running the full `nox` suite, tripped over these errors in the `unit_grpc_gcp` sessions:

[code]

And a side note:  there is really no purpose in running with `grpcio-gcp` on all supported Pythons:  we should trim it back to just 2.7 and 3.6.

[2018-08-29 21:26] tseaver commented on #5863
Looks like we need a new release of `api_core`:  the `gprc_gcp` stuff added in #5533 is not in a release.  @crwilcox Can you do that release?

[2018-08-29 21:34] tseaver commented on #3191
@max-sixty You likely do want to raise this as a new issue, given that this one is closed as "won't fix" and is about datastore, rather than bigquery.

As a workaround, you could pickle the result of `job._to_api_repr`, and then reconstitute it using `client.job_from_resource`.

[2018-08-29 22:08] max-sixty opened #5866 "BigQuery Job objects not pickle-able"
@tseaver suggested I start a new issue after adding to a closed issue: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3191

BigQuery Job Objects are not pickle-able:

[code]

I'm guessing that's because it represents some sort of future? IMO it would be fine if `__getstate__` deleted the polling and let a reference that could be checked.

@tseaver suggests:

which works. This co

[2018-08-29 22:10] tseaver commented on #5848
@kalravibhor I'm not positive that it would help, but I would try to avoid sharing the `ImageAnnotatorClient` across forks:  can you arrange to create a new client instance as part of processing the task in each worker?

[2018-08-30 04:47] galinagpolyakova commented on #5813
Sorry, i don't think it's possible, it's a serverless environment I don't have access to.

[2018-08-30 05:36] HarshCHhz commented on #5859
@tseaver so this error is caused by this issue

[2018-08-30 06:31] HarshCHhz commented on #5859
Traceback (most recent call last):
  File "file.py", line 415, in <module>
    args.specialstrings
  File "file.py", line 361, in main
    run()
  File "file.py", line 287, in run
    sourcewisefilename= generatecsv(sqlinput[i], csvfilename,title[i])
  File "file.py", line 82, in generatecsv
    query = client.query()
TypeError: query() takes at least 2 arguments (1 given)

[2018-08-30 07:41] kalravibhor commented on #5848
@tseaver Yeah, I realized that the `ImageAnnotatorClient` is perhaps not fork safe. Found the same issue that somebody else was facing with the `LanguageServiceClient` on StackOverflow (link below).

My sense is that initializing the `client` for every worker might be slower than sending a request via the `requests` module in Python. I am able to successfully get the response inside a `Celery` wor

[2018-08-30 09:41] s-pace opened #5869 "[Documentation] Add a nice search experience in the website"
👋  Google team,

In our project, we need to use your awesome tool. But without search within your documentation, browsing it might be painful. In order to help me learn your tool, I have build a quick search experience that provide me a learn-as-you-type experience. I feel like I must share it to you

I'm working at Algolia on the a project called [DocSearch](https://community.algolia.com/docsearc

[2018-08-30 12:30] andkamau commented on #2366
Post-June'18:
the "google-cloud" python package has been deprecated.

You should install your product-specific package
`pip install google-cloud-{x}`

[2018-08-30 13:45] gmvidooly commented on #2990
Downgrading setuptools worked for

[2018-08-30 13:58] tseaver commented on #5863
PR #5865 solves this issue by using development installs of the local packages during nox unit / system test runs.

[2018-08-30 13:58] #5863 closed

[2018-08-30 14:00] tseaver commented on #5859
@HarshCHhz do you see the MemoryError when iterating row-by-row, or only when converting the query to a dataframe?

[2018-08-30 14:02] HarshCHhz commented on #5859
After converting to dataframe

On Thu, Aug 30, 2018, 7:31 PM Tres Seaver <notifications@github.com> wrote:

[2018-08-30 14:53] tseaver commented on #5859
OK, looking at `google.cloud.bigquery.table.RowIterator.to_dataframe`, I can see that it is pulling the whole rowset into memory before constructing the `pandas.Dataframe`.  @HarshCHhz can you try with the following patch applied?

[code]

[2018-08-30 18:31] vandevoorde commented on #5727
I have experienced a similar problem.  There are a couple of things going on.

First, apache_beam is using the 'extra_requires' feature of setup/pip to pull in the GCP_REQUIREMENTS.  Unfortunately, pip does not report constraint violations for 'extra_requires' packages.  It's easy to end up with a newer version of google-cloud-pubsub (e.g., 0.37.1) with no warning about the constraint violation.

[2018-08-30 19:32] #5859 closed

[2018-08-30 19:35] tseaver commented on #5859
@HarshCHhz Thank you for the report!

[2018-08-30 20:30] saalaa opened #5872 "Missing Machine Learning API support"
Unless I'm greatly mistaken, support for the Machine Learning (`ml`) API is missing from the project which means that I am personally using `requests` to extract prediction from models on GCP.

This, in my opinion, is a bug because unlike AutoML, ML is not in beta and should therefore receive greater attention but you may decide it's a feature request instead.

To reproduce the issue:

[code]

[2018-08-30 21:29] carlosV2 opened #5873 "Uploaded folders not shown when listing"
I'm trying to list the items of a bucket but it does not return what I expected.

Here is my setup:
1/ In the web UI, drag & drop a folder into the bucket (f.e. `my_uploaded_folder` with `uploaded1.txt`)
2/ In the web UI, click the button to create a folder (f.e. `my_created_folder`)
3/ Drag & drop a file into `my_created_folder` (f.e. `uploaded2.txt`)

With this setup, I've tried the following:
-

[2018-08-30 22:04] tseaver commented on #5872
Adding support for an API is definitely feature-ish:  the priorities for such efforts are juggled by the stakeholders (typically *not* here).  That doesn't mean we would turn down reviewing a PR which added support for `ml`, of course. :)

[2018-08-31 00:42] crwilcox commented on #5849
@dmsolow, are there any logs leading up to this? I am curious if it shows an attempt to close the subscriber or attempts to recover.

[2018-08-31 16:29] tseaver commented on #5873
Folders, per se, don't exist in Google Cloud Storage.  Per the [Object Naming API doc](https://cloud.google.com/storage/docs/naming#object-considerations):

The console web UI *synthesizes* folders based on those names, but there is no actual folder to be listed.

[2018-08-31 16:29] #5873 closed

[2018-08-31 16:30] tseaver commented on #5872
@saalaa I am an external contractor, paid by Google for my work on `google-cloud-python`.

[2018-08-31 16:31] tseaver commented on #5872
@danoscarmike is the Googler who juggles the feature priority list.

[2018-08-31 16:33] rlkelly commented on #5539
+1, it works if i run it as a script, but not when I run it as part of a unittest class

[2018-08-31 16:40] carlosV2 commented on #5873
Ah, I think I understand it now. Thanks.

[2018-08-31 17:16] andyhky opened #5874 "google-cloud-bigtable 0.30.0 doesn't work with non-admin context"
We are seeing an issue with the newly release google-cloud-bigtable (0.30.0):

Python version:
[code]

Package version:
[code]

A simple repro script:

[code]

With 0.30.0, this fails:

[code]

After downgrading to 0.29.0, we receive the expected output:

[code]
(there was no row with that key on our table)

[2018-08-31 18:15] tseaver commented on #5874
@andyhky Thanks for the report!  I can reproduce, and am working on a fix right now.

[2018-08-31 18:56] xEcEz opened #5876 "BigTable: google-cloud-bigtable 0.30.0 throws InvalidChunk error while iterating through a large collection"
Python version: 3.6.3
google-cloud-bigtable 0.30.0

After switching to 0.30.0 and adapting my code to use the newly integrated iter function of PartialRowsData, I can't iterate through a large collection without the InvalidChunk error being thrown.

Sample code:
[code]

[2018-08-31 19:03] tseaver commented on #5876
@xEcEz Can you please provide the full traceback?  Also, can you guesstimate the size of the table (number of rows, column families, etc.)?

[2018-08-31 19:10] xEcEz commented on #5876
Stacktrace:
[code]

Table size: 2.5M approx.

[2018-09-01 15:24] brianmhunt opened #5879 "Cloud Functions & Storage: fails intermittently with ProtocolError + ConnectionResetError"
This is a cross post originally detailed at https://issuetracker.google.com/issues/113672049

Essentially the problem is that in a Google Cloud Functions python endpoint the `google-cloud-storage` API is intermittently throwing a `ProtocolError` and `ConnectionResetError` when getting a blob.

[2018-09-01 15:27] brianmhunt commented on #5879
Linking possibly relevant Golang issue: GoogleCloudPlatform/google-cloud-go#108

[2018-09-01 15:45] tseaver commented on #5879
/cc @frankyn

[2018-09-01 16:54] salrashid123 commented on #5505
ah.....sorry, i just realized i didn't add on the abiltiy to set the `spanId`  to that PR...

 - [https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging_v2/proto/log_entry_pb2.py#L172](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging_v2/proto/log_entry_pb2.py#L172)

how do you want to handle this?   rev

[2018-09-01 17:14] brunoais commented on #5505
@salrashid123 new PR

[2018-09-03 14:16] manikanta-kondeti opened #5881 "PubSub: StreamingPull future.cancel() doesn't stop and not working as expected"
Ubuntu 16:04, Python3, google-cloud-pubsub: 0.35.4

We are currently using google pubsub for our project. publisher.publish() and subscriber.subscribe() works perfectly. However, I want to have a method that triggers the subscribe() to stop. Therefore, as given in code example below, I am using a shared boolean value(self.running)  to exit the while loop and then do future.cancel();

However, it d

[2018-09-03 19:37] manikanta-kondeti commented on #5881
Hey,

My bad!

After debugging little further found out the issue i.e.., a few db transactions are not committed into database, therefore the thread hangs.

Closing out the issue.

[2018-09-03 19:37] #5881 closed

[2018-09-04 11:44] michalmisiewicz opened #5884 "Dataproc: submit job does not support GCP regions"
Submitting dataproc job with specified GCP region fails.

When executing:

[code]
it gives

	status = StatusCode.INVALID_ARGUMENT
	details = "Region 'europe-west1' invalid or not supported by this endpoint; permitted regions: '[global]'"
	debug_error_string = "{"created":"@1536060753.242822959","description":"Error received from peer","file":"src/core/lib/surface/call.cc","file_line":1095,"grpc_me

[2018-09-04 19:02] tseaver commented on #5884
The error message says:

What region did you use when creating the cluster?

[2018-09-04 19:17] tseaver opened #5886 "BigQuery: 'test_extract_table' snippet, bucket creation flakes with 500"
Similar to #5746, #5747, #5748, but with a 500 error instead of a 429.

See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7904 (first error in `snippets-2-7` run).

[code]

[2018-09-04 19:31] shollyman commented on #5886
Possibly related to https://status.cloud.google.com/incident/storage/18003

[2018-09-04 20:14] tseaver commented on #5886
@shollyman Thanks for linking the incident: that is a likely culprit.

[2018-09-04 22:01] #5505 closed

[2018-09-05 06:58] Farhan1998 opened #5887 "ModuleNotFoundError: No module named 'google.api'"

[2018-09-05 06:59] Farhan1998 commented on #5887
Traceback (most recent call last):
  File "C:/Users/farha/Desktop/VoicebotRuuh_6_langs_Modified - Copy/lol.py", line 7, in <module>
    from google.cloud import speech
  File "C:\Python36-32\lib\site-packages\google\cloud\speech.py", line 17, in <module>
    from google.cloud.speech_v1 import SpeechClient
  File "C:\Python36-32\lib\site-packages\google\cloud\speech_v1\__init__.py", line 17, in <mo

[2018-09-05 09:15] davidgasquez opened #5888 "Logging: Ability to add extra fields to logging calls"
When using Python in GKE, you can take advantage of the `fluentd` log collector in GKE and use the following setup for logging:

[code]

This makes really easy to integrate any application without having to authenticate!

[code]

I was wondering if there's an easy way to also accept *extra fields* in the logging call. Ideally, I could send more information like in other languages like `go` using `

[2018-09-05 09:27] dmvtmn commented on #2366
Hi,
so I did this:
`Requirement already up-to-date: google-cloud-bigquery in /usr/local/lib/python3.5/dist-packages (1.5.0)`
but now when trying to run the import I get a syntax error:
` File "<string>", line 1
    import google-cloud-bigquery
                 ^
SyntaxError: invalid syntax`

 Can you please help? any suggestions?

[2018-09-05 10:08] leolazou opened #5889 "AutoML client : Method not working on automl_v1beta1.PredictionServiceClient"
**Location :** Python client for the AutoML API
**Problem :**
While initializing a `PredictionServiceClient` the methods `from_service_account_file()` and `from_service_account_json()` don't work as described in the [docs](https://googlecloudplatform.github.io/google-cloud-python/latest/automl/gapic/v1beta1/api.html).
Instead of taking the given service account credentials from the indicated json

[2018-09-05 13:05] tseaver commented on #5887
@Farhan1998 Can you please show the output of `pip freeze`?

[2018-09-05 13:08] Farhan1998 commented on #5887
Sure sir, Thank you !

This is the output of pip freeze
appdirs==1.4.3
appier==1.16.29
atomicwrites==1.1.5
attrs==17.4.0
backcall==0.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.6.3
bleach==2.1.3
bs4==0.0.1
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
ChatterBot==0.8.7
chatterbot-corpus==1.1.2
chromedriver==2.24.1
click==6.7
cmake==3.12.0
colorama==0.3.9
cycler==0.1

[2018-09-05 13:10] tseaver commented on #2366
@dmvtmn `google-cloud-bigquery` names the *distribution* installed by pip:  it installs software into the
package, `google.cloud.bigquery`.  So,

[code]

but

[code]

[2018-09-05 13:14] tseaver commented on #5887
OK, so the `google-api` distribution is in there.  Something is broken in how the various packages are installed in to the `google` namespace. Can you show the output from the following:

[code]

[2018-09-05 13:16] Farhan1998 commented on #5887
Thank you for helping me out……am in real need of a solution to this problem. Thank you !

[cid:image002.png@01D44548.C4E5E6B0]

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tres Seaver <notifications@github.com>
Sent: Wednesday, September 5, 2018 6:44:44 PM
To: GoogleCloudPlatform/google-cloud-python
Cc: Iftekharuddin Mohamme

[2018-09-05 13:17] tseaver commented on #5889
@leolazou Can you please show the traceback from the failing `from_service_account_file` call?

[2018-09-05 13:27] tseaver commented on #5887
@Farhan1998 Hmm, I can't see the image referenced there:  can you upload it via the web UI, rather than mail?

One thing to try is to create a fresh virtualenv and install only the bits your application actually needs (the list from `pip freeze` has a lot of stale packages in it).  E.g.:

[code]

[2018-09-05 13:35] Farhan1998 commented on #5887
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 16:07:46) [MSC v.1900 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

['C:\\Python36-32\\lib\\site-packages\\google']

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tres Seaver <notifications@github.com>
Sent: Wednesday, September 5,

[2018-09-05 13:36] Farhan1998 commented on #5887
Hey, it’s working in virtual environment now. But the same file again, is not working in the actual environment. Why is this happening?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tres Seaver <notifications@github.com>
Sent: Wednesday, September 5, 2018 6:57:21 PM
To: GoogleCloudPlatform/google-cloud-python
Cc: Iftekharuddi

[2018-09-05 14:12] tseaver commented on #5889
Trying to reproduce:

[code]

[2018-09-05 14:15] tseaver commented on #5887
@Farhan1998 Something in the other bits you've installed (beyond `google-cloud-speech`) is messing up the `google` namespace package.

[2018-09-05 14:15] #5887 closed

[2018-09-05 15:15] leolazou commented on #5889
@tseaver I am sorry, it was all a mistake in my code. I'll be more careful next time.

[2018-09-05 15:15] #5889 closed

[2018-09-05 15:26] tseaver commented on #5884
@theacodes Can you please loop in the appropriate PoC for dataproc?

[2018-09-05 16:58] sduskis commented on #5876
@AVaksman, can you please take a look at this?

[2018-09-05 20:35] Farhan1998 commented on #5887
I solved it now. I copied all the files and folders from the site-packages directory of the virtual environment to the site-packages folder of the actual environment. (copied and replaced). Now everything is working fine. Thankx for the identification !

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tres Seaver <notifications@

[2018-09-05 20:42] tseaver commented on #5887
@Farhan1998 I'm glad you worked that out!

[2018-09-05 20:43] #5874 closed

[2018-09-05 20:56] Farhan1998 commented on #5887
Thank you for identifying that it will work in virenv.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Tres Seaver <notifications@github.com>
Sent: Thursday, September 6, 2018 2:12:59 AM
To: GoogleCloudPlatform/google-cloud-python
Cc: Iftekharuddin Mohammed; Mention
Subject: Re: [GoogleCloudPlatform/google-cloud-python] ModuleN

[2018-09-05 21:15] dmarvp commented on #5570
@theacodes at this point, should I create a docker image with a minimal way to reproduce it and share it with you? or would you suggest stop using the library and start hitting the HTTP endpoint directly (is that even possible?)

[2018-09-05 22:40] danoscarmike commented on #5872
Looking into this today...standby...

[2018-09-05 22:45] Farhan1998 commented on #5887
Can you please help me out with this small issue too?
https://stackoverflow.com/questions/52194281/how-to-handle-errors-raised-in-an-imported-python-package-code

From: Tres Seaver<mailto:notifications@github.com>
Sent: Thursday, September 6, 2018 2:13 AM
To: GoogleCloudPlatform/google-cloud-python<mailto:google-cloud-python@noreply.github.com>
Cc: Iftekharuddin Mohammed<mailto:farhan_mohammed98@o

[2018-09-06 02:11] user-ZJ commented on #2990
I also have the same problem when I use python3.5 to build tensorflow.But I user this command to resolve it.
pip3 install --user --upgrade pip setuptools

[2018-09-06 02:28] frankyn commented on #4216
acking

[2018-09-06 02:29] frankyn commented on #4684
Acking

[2018-09-06 02:33] frankyn commented on #5834
Acking. Adding to GCS client library weekly.

[2018-09-06 03:14] frankyn commented on #5879
I'm not sure what's happening here, acking for now in GCS library weekly.

[2018-09-06 13:40] sd0m1n1ck commented on #3822
Has this been fixed?

[2018-09-06 14:03] Hypro999 opened #5892 "Firestore: Accept non-strings in '*collection_path' parameter of 'Client.collection'"
Short Explanation:
Hello, this is a small feature request/suggestion, what if we could allow passing any primitive data types or any class instances which can be converted into a string (that is, those which have a __str__(self) method associated with them) to be passed to the *collection_path parameter in the collection (and perhaps even  the document) method of the google.cloud.firestore_v1beta1

[2018-09-06 14:05] Hypro999 commented on #5892
I'd like to volunteer to make the change, if the idea checks out.

[2018-09-06 16:14] tseaver commented on #5892
@jba Can you comment on the requested feature?

[2018-09-06 16:45] tseaver commented on #5886
@tswast, @shollyman Should we just decide to write off those GCS failures as "sunspots"?  Or do you think we need to harden our tests against 500 / 503 response codes from GCS (in addition to the 429 we already retry for)?

[2018-09-06 16:55] tswast commented on #3822
This is still a known issue with the BigQuery API: https://issuetracker.google.com/issues/64329577#comment3

Note: for many use cases you can recreate the table with the new rows by using a load job and the `WRITE_TRUNCATE` write disposition.

[2018-09-06 17:09] jba commented on #5892
I'm influenced by Go, which tries to avoid magic conversions, so I'd say no. But this is Python. @schmidt-sebastian is a better person to ask.

[2018-09-06 17:14] schmidt-sebastian commented on #5892
I am also leaning towards not supporting this. This is a very slippery slope. We almost have to restrictions on collection names. I would rather make this explicit, to make sure that if someone ends up with JSON or any other data format in their collection names, it really was their choice.

[2018-09-06 17:17] tseaver commented on #5886
Ugh, [just happened again](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7922).

[2018-09-06 18:51] anguillanneuf opened #5894 "Pub/Sub Releases Page for Google Cloud Client Library for Python Needs An Update"
The latest release for Pub/Sub is 0.37.2. But the releases page is somewhat behind at 0.30.0.

Could we update this page? https://google-cloud-python.readthedocs.io/en/stable/pubsub/releases.html

[2018-09-06 19:08] tseaver commented on #5731
There isn't any `QuerySnapshot` object in the `google.cloud.firestore` library.  The `Query` object doesn't *know* how many documents it contains:  you have to perform the `get()` API call, which returns an iterator over the set of documents.  That iterator cannot know how many documents it contains, as they are fetched via a gRPC stream.

@jba, @schmidt-sebastian, please reopen if I'm mistaken ab

[2018-09-06 19:08] #5731 closed

[2018-09-06 19:09] tseaver commented on #5681
Closing due to lack of follow-up on requested information.

[2018-09-06 19:09] #5681 closed

[2018-09-06 19:13] narsariamanu commented on #5731
@tseaver that's how I was count now, but this way I have to read all the documents just to count them. If possible please treat this as a feature request.

[2018-09-06 19:17] tseaver commented on #4113
I'm going to assume that the API surface reviews done this spring make this question moot.

[2018-09-06 19:17] #4113 closed

[2018-09-06 19:20] tseaver commented on #5489
[`google.cloud.firestore_v1beta1._helpers.pbs_for_set`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/005ddd11770f8953643dac9b64a037524da2f49e/firestore/google/cloud/firestore_v1beta1/_helpers.py#L931) only canonicalizes field names if the `merge` flag is passed as `True`.

AFAICT, the canonicalization should happen whether or not `merge` is occurring.

[2018-09-06 20:31] tseaver commented on #5489
Hmm, that isn't a correct invocation of `document.update`:  it takes only the update data (the dictionary), plus an optional `options` argument.

The example you posted before that *is* correct.  However, I'm unable to reproduce:  see PR #5895, which adds a system test calling `document.update({'14': {'status: 'active'}})`.

Can you reproduce with the current release of `google-cloud-firestore` (`

[2018-09-06 20:46] tseaver commented on #5894
The `stable` tree in the docs should be removed altogether:  it is completely pointless / bogus now that we have deprecated the umbrella package, and is not being updated.

[2018-09-06 20:52] tseaver commented on #5731
@narsariamanu It *isn't* possible, as I explained above:  the data is not available.  The links you referenced in the `firebase` docs aren't relevant here:  they are based around a client-side architecture where the set of documents has already been fetched.

[2018-09-06 21:17] tchristensenowlet opened #5896 "Avoid simultaneous read-modify-write race condition in Python"
In the cloud storage documentation, there is an example of how to avoid simultaneous read-modify-write race conditions using the JSON API. https://cloud.google.com/storage/docs/generations-preconditions#examples_of_race_conditions

Since we are encouraged to use one of the client libraries instead of the JSON API, how do we replicate this functionality in Python?

[2018-09-06 21:28] #5781 closed

[2018-09-06 21:29] tseaver commented on #5896
See #4490.  Supporting generations / metagenerations and the corresponding precondition headers is on the list of GCS features being prioritized, but we don't have a concrete timeframe.

/cc @frankyn

[2018-09-06 21:29] #5896 closed

[2018-09-06 21:57] tswast commented on #5886
We could change the bucket to regional instead of multi-regional? We could also put the bucket creation / destruction into a module-level test fixture to avoid doing as many calls to GCS.

[2018-09-07 12:49] ediphy-azorab opened #5898 "Default max_bytes in pubsub seems wrong"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/005ddd11770f8953643dac9b64a037524da2f49e/pubsub/google/cloud/pubsub_v1/types.py#L43

In my code I'm seeing this:
[code]

Based on the error coming out of the pubsub, I think this default max size is wrong.

[2018-09-07 16:09] #5898 closed

[2018-09-07 17:31] tseaver commented on #5894
@theacodes I tried to poke into this, but couldn't figure out how the contents of the `stable/` tree are being populated:  `test_utils/scripts/update_docs.sh` doesn't touch that tree at all.

[code]

So, it looks like @crwilcox repopulated the `stable/` branch in #5225 after @dhermes removed it in #4637.  Becuase `stable/` is worthless, I'd rather re-remove it and then fix up any links which still

[2018-09-07 17:41] tseaver commented on #5489
The new system tests I added in PR #5895 are [passing](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7926#action-115).

[2018-09-07 17:41] #5489 closed

[2018-09-07 18:09] theacodes commented on #5894
Sounds reasonable to me?

[2018-09-07 18:27] sduskis commented on #5876
I've been looking at this.  `row_data.py:517` indicates that the client sees row_keys that are out of order.
 v0.29.0 and before didn't have that validation.

We can relax the validation in the short term, but it really ought to be fixed.  The service doesn't send rows out of sequence, so my guess is that there's some sort of unexpected retry that happens that restarts the request from the beginni