[2018-04-06 17:44] tswast commented on #5162
Oh, you are using `0.31.0`. My workaround was for `0.32.0`. Drop the `['load']` to workaround the missing field in version `0.31.0`.

[2018-04-06 17:52] yixizhang commented on #5164
which param for that method i should convert `''` to `b''`?

the only thing changed recently is the `partition_token`, whose type is `byte` but i don't use that one. https://github.com/GoogleCloudPlatform/google-cloud-python/blame/spanner-1.3.0/spanner/google/cloud/spanner_v1/gapic/spanner_client.py#L662

[2018-04-06 18:10] VikramTiwari commented on #5162
@tswast I created a new virtualenv and now using 0.32.0
[code]

Gives me an error:
[code]

Table is already present (empty). I have tried passing schema to table_ref which seems useless.

[2018-04-06 19:12] tswast commented on #5162
I don't think you can make a table into a partitioned table after it is already created.

[2018-04-06 19:51] VikramTiwari commented on #5162
@tswast I have also tried with empty table.

The error seems to be in the `client.load_table_from_file` where it requires `table_ref`.

`table_ref` is `TableReference('project, 'dataset', 'table')`
but while pushing data in with `timePartitioning`, I have to also pass `schema` which can be done by passing `table` object `<google.cloud.bigquery.table.Table object at 0x105a83950>`

A fix would be `l

[2018-04-06 19:55] tswast commented on #5162
Why aren't you setting the `LoadJobConfig.schema` property?

[2018-04-06 19:58] VikramTiwari commented on #5162
Ah! My bad. Fixed. Thanks, @tswast. 👍

[2018-04-06 22:02] foresmac opened #5168 "Error Reporting: Docs for HTTPContext incorrect"
The [documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/error-reporting/usage.html) for `error_reporting.client.HTTPContext` gives the wrong parameter names.

[code]

Reading the code, it's clear that the camel-cased names are internally used to match expected JSON keys for the underlying API call, but the [actual parameter names are properly snake-cased](https://githu

[2018-04-07 00:04] jabubake commented on #5163
@frankyn FYI

[2018-04-07 00:04] jabubake commented on #5164
@jsimonweb FYI

[2018-04-07 01:44] foresmac commented on #5168
Can do, thanks.

[2018-04-08 04:11] wsh opened #5169 "AttributeError: 'Iterator' object has no attribute 'item_to_value' in datastore/query.py page_iterator.Page"
_From @bialoglowy on March 24, 2018 9:52_

I'm getting the following AttributeError error in datastore/query.py:

[code]

It happens in the following code:
[code]

Application is deployed on Google App Engine with the following requirements.txt:

[code]

_Copied from original issue: GoogleCloudPlatform/google-cloud-datastore#200_

[2018-04-08 04:11] wsh commented on #5169
_From @daniiln on March 30, 2018 18:35_

experiencing the same issus after updated to the latest datastore library
[code]

[code]

[2018-04-08 04:11] wsh commented on #5169
_From @dkavraal on March 31, 2018 19:56_

Dropped to 1.5.0, then it works.
google-cloud-datastore==1.5.0

[2018-04-08 04:11] wsh commented on #5169
_From @bialoglowy on April 4, 2018 6:53_

Correct, it works on google-cloud-datastore==1.5.0.

[2018-04-08 04:11] wsh commented on #5169
Hey there! I'm sorry you're experiencing this issue, but the driver you're having issues with is part of [google-cloud-python](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/datastore). The Python driver in this repo (package name `googledatastore`) is totally separate. Please re-file this issue there and the google-cloud-python team will investigate. Sorry for the confusin

[2018-04-08 04:12] wsh opened #5170 "After upgrade to 1-5-0, I get ImportError: dynamic module does not define init function (initcygrpc)"
_From @zonito on February 17, 2018 3:35_

[code]

Even after downgrade, I see same error.

_Copied from original issue: GoogleCloudPlatform/google-cloud-datastore#198_

[2018-04-08 04:12] wsh commented on #5170
_From @zonito on February 17, 2018 3:36_

I my project I am installing / upgrading these packages:
[code]

[2018-04-08 04:12] wsh commented on #5170
_From @nkumar15 on March 27, 2018 7:59_

Are you able to solve this issue?

[2018-04-08 04:12] wsh commented on #5170
Hey there! I'm sorry you're experiencing this. The driver you're having issues with is part of [google-cloud-python](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/datastore). The Python driver in this repo (package name `googledatastore`) is totally separate. Please re-file this issue there and the google-cloud-python team will investigate. Sorry for the confusing situatio

[2018-04-08 15:48] Jordan-Gillard opened #5171 "BigQuery: No errors, but rows sent from python script to BigQuery not appearing."
OS: Ubuntu 14.04.5 LTS
Python 2.7.6 and running in c9.
google-cloud-python version:  google-cloud-bigquery==0.31.0

Hey guys,
My code seems to be working fine, I get no errors when I run it (so therefore no traceback). The problem is that the row I'm sending does not appear in my BigQuery table. I've tried waiting, and after a day it still does not show. I know the table name is correct, because I

[2018-04-09 16:00] jonparrott commented on #5152
This should be fixed in the latest protobuf: https://github.com/google/protobuf/issues/2974

[2018-04-09 16:00] #5152 closed

[2018-04-09 18:38] Osiris1975 opened #5172 "Cloud Storage: Overflow error: Python int too large to convert to C long from blob.py"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-04-09 19:01] jonparrott commented on #5172
@Osiris1975, hrm, I wonder if this happens in Python 3 as well?

[2018-04-09 20:00] frankyn commented on #5163
HI @james-woods,

Looking for clarification. I'm assuming you're seeing "should not happen" as it found a blob with `subdir/`?

If this is correct, it's possible that you created a "folder" using the [Cloud Storage browser](https://console.cloud.google.com/storage/browser). When a folder is created an empty object with the folder name is created to "simulate" a file structure even though it doesn'

[2018-04-09 20:36] crwilcox commented on #5161
Hi @santhoshdc1590 ,

I just ran the code you have provided and it did what I expected. I have a png saved in google cloud in a bucket as 'document/Test15.png'. I created a miniconda3 environment (python 3.6.5), installed google-cloud==0.32.0, opencv, and matplotlib.

Something interesting about your code though, You aren't reading the file from your google cloud storage bucket. You are just showi

[2018-04-09 22:47] jonparrott commented on #5172
@crwilcox want to take point on fixing this?

[2018-04-10 07:06] james-woods commented on #5163
Hi @frankyn - yes. I think you've nailed it. My question would be how I can remove the artificial folder with the minimum amount of steps as the "folder" keeps currently over 90k objects.

[2018-04-10 07:11] james-woods commented on #5163
`gsutil rm gs://bucket/subdir` did the trick :)

[2018-04-10 07:11] #5163 closed

[2018-04-10 09:20] benkuhn opened #5173 "General: gcloud crashes when run within virtualenv even if CLOUDSDK_PYTHON is set correctly"
This started happening immediately after upgrading to 196.0.0 and kept happening when I reinstalled:

[code]

I'm running macOS High Sierra 10.13.3. Using zsh in case that matters. `pip show google-cloud` does not show any output although `gcloud version` works fine outside of a virtualenv or with `-S` passed.

[2018-04-10 13:47] Osiris1975 commented on #5172
@jonparrott and @crwilcox thanks for jumping on this so quickly. Hopefully a quick and easy fix. Once fixed will you be releasing a new version anytime soon?

[2018-04-10 15:41] tseaver commented on #5173
@benkuhn I'm sorry you are having trouble with the `gcloud` CLI.  Unfortunately, the `google-cloud-*` packages are libraries for Python application development, and are entirely separate from the `gcloud` command-line package and the SDK.  Please report issues with the CLI/SDK to [its tracker](https://issuetracker.google.com/issues/new?component=187143&template=800102).

[2018-04-10 15:41] #5173 closed

[2018-04-10 15:55] benkuhn commented on #5173
Oh rats! Sorry for the noise, not sure how I ended up in the wrong place.

[2018-04-10 18:03] tseaver commented on #5171
`Client.insert_rows` takes as its second argument a *sequence* of row tuples.  You are passing a single tuple (or the equivalent list).  So, your last line should read:

[code]

[2018-04-10 18:03] #5171 closed

[2018-04-10 18:31] tseaver commented on #5169
The base class (`google.api_core.page_iterator.Iterator`) defines an `item_to_value` attribute explicitly.  What version of `google.api_core` do you have installed?  E.g.:

[code]

[2018-04-10 18:43] tseaver commented on #4714
Via #4745.

[2018-04-10 18:43] #4714 closed

[2018-04-10 18:47] tseaver commented on #4608
Note to self:  use work from PR #4870 to address this issue.

[2018-04-10 18:58] tseaver commented on #5134
@grantdelozier Given that your re-export of the file got the API to accept it, I'm going to close this.  Please feel free to reopen or submit a new issue if you can provoke the same behavior with another image.

[2018-04-10 18:58] #5134 closed

[2018-04-10 19:00] albertlai opened #5175 "Speech - RecognitionConfig has no enableAutomaticPunctuation field"
Trying to use the Python google speech client lib using the new enableAutomaticPunctuation field but it throws an error. The use_enhanced, model, and metadata fields all work correctly.

So this works:
[code]
this gives an error:
[code]

[code]

Python v3.5.1
google-cloud-speech version v0.33.0
googleapis-common-protos v1.5.3

[2018-04-10 19:01] tseaver commented on #5137
This is an issue with `grpc`, not with `google-cloud-texttospeech`.  Please report the issue on the [grpc repository](https://github.com/grpc/grpc/issues).

[2018-04-10 19:01] #5137 closed

[2018-04-10 19:06] tseaver commented on #5154
I can't see that this is an issue with `google-cloud-bigquery` at all:  it is a bug in `pip`.

[2018-04-10 19:06] #5154 closed

[2018-04-10 19:08] tseaver commented on #5164
@yixizhang We need enough information to be able to reproduce the issue.  Can you post a snippet / gist of your code, with any sensitive data redacted / replaced?

[2018-04-10 19:09] albertlai commented on #5175
Oops saw my own error, should have used enable_automatic_punctuation=True

[2018-04-10 19:09] #5175 closed

[2018-04-10 20:10] tseaver commented on #4608
@jonparrott ISTM that there are a couple of questions here:

- If a single message is larger than the `max_bytes` setting, should any existing batched messages be flushed first before publishing the over-large message in its own batch?  I don't know whether we care at all about order-of-publishing.
- Likewise, if a message itself is smaller than the `max_bytes` setting, but appending it to the bat

[2018-04-10 20:18] yiga2 commented on #5169
`1.1.0`

Datastore 1.6 requirement is `google-api-core[grpc]<2.0.0dev,>=1.0.0`

[2018-04-10 20:45] kir-titievsky commented on #4608
@jonparrott 's comment on Feb 27 says that oversize messages should be published in their own batch.

PM perspective here: we do care about order of publishing. Client library should not re-order messages if possible.

[2018-04-10 21:00] chemelnucfin commented on #4608
@kir-titievsky But it looked like from [this](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java#L256) that the batch gets sent off immediately?

[2018-04-10 21:03] kir-titievsky commented on #4608
Ah, I see what you mean now. I, as a user, would expect that the large message would cause the existing buffer of small messages to get flushed first.

[2018-04-10 21:16] tswast opened #5176 "Feature Request: Use sphinx autosummary in API reference docs"
I like how [Pandas](https://github.com/pandas-dev/pandas/blob/master/doc/source/api.rst) and [Pandas-GBQ](https://raw.githubusercontent.com/pydata/pandas-gbq/master/docs/source/api.rst) use [Sphinx autosummary](http://www.sphinx-doc.org/en/master/ext/autosummary.html) to show a browsable [table](https://pandas-gbq.readthedocs.io/en/latest/api.html) or [tables](https://pandas.pydata.org/pandas-docs

[2018-04-10 23:47] jadekler commented on #5058
Closing this, since grpc=1.10.1 and above seem to work without problems.

[2018-04-10 23:47] #5058 closed

[2018-04-11 00:38] Jordan-Gillard commented on #5171
Ugh. Sorry man, I still can't get it to work. This is what my code looks like now:
[code]

With `bq_tuble = (u'Hornet', u'FR', u'2018-02-10', u'android_phone', 34193)`. Thanks for the help. I'm a bit of a noobie so I appreciate it a ton!

[2018-04-11 15:21] tseaver opened #5179 "Bigtable system tests fail creating tables with 503"
CI failures for changes unrelated to Bigtable:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6267
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6268

[2018-04-11 15:35] tseaver commented on #5169
I cannot reproduce in a fresh virtualenv, using a [script like yours](https://gist.github.com/tseaver/c9d9ff4594cd11a64b31b86b0c75bc51) which pre-populates entities of the given kind before querying:

[code]

[2018-04-11 16:25] jonparrott commented on #2694
@speedplane unless you need to overwrite the defaults for all methods, I don't think you need to do that. Each method should allow you to pass in a `retry` argument.

[2018-04-11 16:30] tseaver commented on #4087
@frankyn ping?

[2018-04-11 16:40] tseaver commented on #5001
`grpcio 1.11.0rc2` was [released to PyPI yesterday](https://pypi.org/project/grpcio/1.11.0rc2/).

[2018-04-11 17:12] frankyn commented on #4087
Hey @tseaver, responding through hangouts.

[2018-04-11 17:18] jadekler opened #5180 "pubsub should have a default flow controller"
re: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5058#issuecomment-378412550

PubSub should come configured with a default flow controller and some arbitrary default max messages (several other languages use 1000 as the number), with documentation around tuning it for higher-throughput workloads (which requires more memory).

[2018-04-11 17:25] #5168 closed

[2018-04-11 17:26] tseaver commented on #5168
@foresmac Thanks for the report!

[2018-04-11 17:44] #4087 closed

[2018-04-11 17:50] tswast opened #5183 "BigQuery: ability to set default job / table / dataset configs in client class"
The [location](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5148) is considered a global parameter (by the the BigQuery engineering team and the `bq` command-line tool), and we are tracking the feature to set a default location at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5148.
There are other non-global properties where it would be useful to set a user

[2018-04-12 13:09] Yourivdzee opened #5188 "Speech: transcribe_streaming doesn't work for other languages"
Hi,

I've been trying to transcribe streaming audio in Dutch. I ran the transcribe_streaming.py file and everything works fine. Switched the language code to this:
`
    language_code = 'nl-NL'  # a BCP-47 language tag
`

And I get nothing back. Tried the Italian language as well, no result. Do I need to change stuff in addition to the language code?

Kind regards

[2018-04-12 18:02] tseaver commented on #5188
Is the `transcribe_streaming.py` script you are using is the one from [here](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming.py)?  And the only change is to the language code in line 49?

[2018-04-12 18:06] tseaver commented on #5188
Might be related to #5094, which I have just re-opened.

@jonparrott Who is our POC for the Speech-to-Text back-end team?

[2018-04-12 18:08] jonparrott commented on #5188
Not sure, but @dizcology or @beccca can help.

[2018-04-12 18:53] yiga2 commented on #5169
Weird - with the above code and mine (airflow), I don't have an error anymore.

I am not the OP, @bialoglowy is. @dkavraal and @daniiln reported the issue too so I let them chime in - if they are monitor this.

[2018-04-12 22:52] speedplane commented on #2694
Yes, but at least in my project, this library is buried under multiple layers of middleware libraries, touching all of the calls is not so straightforward. Using global or a set config file would be nice. In the meantime I can just monkey-patch.

[2018-04-12 22:56] speedplane commented on #2694
For instance, the datastore client doesn’t have a configurable retry parameter (https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/datastore/google/cloud/datastore/client.py) and I have further libraries that sit on top of that.

[2018-04-12 23:31] macklin opened #5190 "Request: google-cloud-bigquery version update in google-cloud-python setup.py"
Note: this is based on an issue I filed with `pandas-gbq` at https://github.com/pydata/pandas-gbq/issues/165. They suggested I file it here.

In a python environment [1] with the following packages installed:

[code]

and with a minimal `setup.py`:

[code]

if I run `python setup.py install`, I get the following (truncated) log messages that end with an error:

[code]
Since `google-cloud-bigquery`

[2018-04-13 03:20] chengvt opened #5192 "BigQuery: to_dataframe not working"
OS: Ubuntu 14.04.5
Python 3.5.2 :: Anaconda custom (64-bit)
google-api-core==0.1.4
google-auth==1.4.1
google-auth-httplib2==0.0.2
google-auth-oauthlib==0.1.0
google-cloud==0.32.0
google-cloud-bigquery==0.29.0
google-cloud-bigquery-datatransfer==0.1.1
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-c

[2018-04-13 05:57] xmedeko commented on #2694
IMO it's nice to have a possibility to change the default value for all calls. I also increase default retries. For the old `google-api-python-client` I use own subclass of `googleapiclient.http.HttpRequest` with the overridden `execute` method.

[2018-04-13 07:53] ShaMan123 commented on #1295
+1

[2018-04-13 13:56] zglin opened #5193 "texttospeech: usage documentation is missing"
*API:* google-cloud-texttospeech

*OS:* Irrelevant

*Python:* Irrelevant

*Steps to Reproduce:* Link in Readme.MD file (https://googlecloudplatform.github.io/google-cloud-python/stable/texttospeech/usage.html) under Next Steps leads to 404 error.

[2018-04-13 15:49] sanja7s commented on #2990
I also still have the problem, with the newest pip version.

[2018-04-13 15:58] mcdonamp commented on #1295
@ShaMan123, I have a minimal example of Python + Image Serving below:

[code]

[2018-04-13 16:29] gastlich opened #5194 "Support for Bucket.location setter"
I was trying to change location of the bucket in Storage, but everything gets updated apart from location. It looks like the data is being sent through API, but are not persisted?

Code example
[code]

[code]

I know that documentation doesn't say that `location` attribute is a setter, but under the hood it's a `_scalar_property` which is appended to changed properties and according to json API, l

[2018-04-13 17:01] sduskis commented on #5179
@zakons, FYI

[2018-04-13 17:02] sduskis commented on #5179
@tseaver, Do these tests go against the Cloud Bigtable service itself or against an emulator?

[2018-04-13 17:06] sduskis commented on #4935
Our HBase Java client tests run on Jenkins, although we only run them against master.  We opted to use a single instance for most of our table admin and data tests.  We run a separate test for instance / cluster operations.

Bigtable cells have a timestamp.  You can create a marker table called "created_date" or something like that, which contains a single row with a single cell which either conta

[2018-04-13 17:32] jonparrott commented on #5179
production

On Fri, Apr 13, 2018 at 10:02 AM Solomon Duskis <notifications@github.com>
wrote:

[2018-04-13 17:35] jonparrott commented on #5190
Hi @macklin, don't depend on `google-cloud`. I recommend that you just depend on `google-cloud-bigquery`.

[2018-04-13 17:35] #5190 closed

[2018-04-13 17:56] frankyn commented on #5194
Hi @gastlich,

Could you try the following instead:
[code]

[2018-04-13 17:57] Jordan-Gillard commented on #5171
@tseaver Anyway you could just take a quick glance at this? Im sorry for the inconvenience! :(

[2018-04-13 18:26] gastlich commented on #5194
Hi @frankyn ,
it worked, I thought there is only `create_bucket` way to create buckets, didn't realise, that there might be just `.bucket()` constructor...

but still, do you know the reason, why it hasn't been updated in my first example?

Cheers

[2018-04-14 22:51] vsoch commented on #3474
Thanks, I'll come back here and check every so often for updates. I would want it scoped to a single bucket (for a consistently predictable namespace) so the second ideal would be a good workaround, but I'd much prefer the first (and will happily wait!)

[2018-04-15 08:12] james-woods opened #5196 "New subscribers don't see messages"
2. OS type and version: GKE / COS
3. Python version and virtual environment information: 3.5 running on Kubernetes Engine
4. google-cloud-python version: google-cloud-pubsub==0.30.1
6. Steps to reproduce: When running workers in GKE to process items (cloud storage blob paths) from PubSub and scaling them (by scaling a Kubernetes Job), new workers don't pick any work. To have workers distribute the

[2018-04-15 14:08] tswast commented on #5192
What version of `google-cloud-bigquery` are you using? Note that the version included in the `google-cloud` package is out-of-date.

[2018-04-15 14:49] tswast commented on #4658
I just remembered Table has some partioning properties already:
- `partition_expiration`
- `partitioning_type`

We could add a `partition_field` property to table instead of a new class.

Then again Time partioning now has a `requirePartitionFilter` property in the API, so a new class would be better than adding 4 new properties to load jobs and query jobs. I think we can do the class-based method

[2018-04-15 19:13] james-woods commented on #5196
Actually after waiting one hour the new workers pick up work, but it still feels weird that this takes so long. I think i might be better off using something like the ruby implementation that supports pulling (?)

[2018-04-16 01:26] chengvt commented on #5192
@tswast Thank you so much! Installing `google-cloud-bigquery==1.0.0` works. Will be careful when upgrading `google-cloud` bundle from now.

[2018-04-16 01:26] #5192 closed

[2018-04-16 02:28] yiga2 commented on #4658
+1 for a class instead

[2018-04-16 06:59] akmalhakimi1991 opened #5197 "What is the difference and expected improvement in speech_v1 and speech_v1p1beta1?"
Not sure if this the right place to ask this question and I don't really know where else can I ask this question, what is the key difference between speech, speech_v1 and speech_v1p1beta1?

[2018-04-16 14:45] dmsolow opened #5198 "Subscriber eating errors"
I recently upgraded to google-cloud-pubsub 0.33.1 and it looks like `future.result()` is not raising callback exceptions how it used to. Here's the code I'm using:
[code]

As you can see, `callback` raises a ValueError after printing the message. However, the `future.result` call in the `try` block never raises this exception. Any idea how to get this error?

[2018-04-16 16:09] jonparrott commented on #5198
The `future.result` from `policy.open`/`subscriber.subscribe` only resolves when the *stream* is closed. It does not resolve when the callback is executed. The callbacks are executed by a ` `ThreadPoolExecutor` that is resilient in the face of exceptions thrown by the callback (so that poorly behaved callbacks do not cause the system to crash). If you need to handle errors in your callback, you wi

[2018-04-16 16:09] #5198 closed

[2018-04-16 16:11] jonparrott commented on #5196
@james-woods `0.30.1` has known issues. If you can reproduce with `0.33.1` let me know and we'll re-open.

[2018-04-16 16:11] #5196 closed

[2018-04-16 16:50] gcbirzan commented on #5014
While internally we're discussing better ways to handle this, is there any update on this, or suggestions on what to try?

[2018-04-17 09:33] achachet opened #5200 "BigTable Float values incompatible with BigQuery?"
Hi,

As recommended in issue [2614](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2614), I stored a timestamp in BigTable rows using the following python code:

[code]
It works fine and I am able to retrieve the value and unpack it.

However, I use BigQuery to query the same table - and the values encoded this way completely prevent querying the table, although the column names

[2018-04-17 15:58] tswast commented on #5200
Per https://cloud.google.com/bigquery/external-data-bigtable#value_encoding BigQuery assumes two types, either text or [HBase Bytes.toBytes()](https://hbase.apache.org/apidocs/org/apache/hadoop/hbase/util/Bytes.html). From the error, it seems BigQuery is trying to interpret this column as strings.

[2018-04-17 16:03] tswast commented on #4842
Just got word that some customers desire `getServiceAccount` support in this library. I propose we do something similar to the Ruby implementation: https://github.com/GoogleCloudPlatform/google-cloud-ruby/pull/2040

That is, make a `Client.get_service_account_email()` method which makes the GET request and returns the service account email as a string.

[2018-04-17 17:53] tseaver commented on #5003
@tswast Stalled BQ snippets tests caused a [failure today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6318).

[2018-04-17 18:01] tseaver commented on #4935
FTR, I cleaned out four "old" instances this morning (created with the `g-c-p-#####' ids more than a week ago).

[2018-04-17 18:11] tswast commented on #5003
I really wish we used verbose output so we could see which snippets are stalling.

[2018-04-17 19:55] tseaver commented on #5003
We are actually passing `--quiet`, which suppresses even the dots (which might contribute to the CI timeout).

One thing I notice when running locally with `--verbose`:  we have duplicated snippets for all the file formats crossed by all the variations on "load" operations (append, truncate, load from uri, w/ autodetect, etc.).  Is that redundancy actually valuable for the docs, versus having a te

[2018-04-17 20:16] tswast commented on #5003
Unfortunately the docs are structured such that each file format needs 3 or 4 samples specific to that file type.

- [Avro](https://cloud.google.com/bigquery/docs/loading-data-cloud-storage-avro) 3 samples: load (schema defined by filetype), load append, load truncate
- [Parquet](https://cloud.google.com/bigquery/docs/loading-data-cloud-storage-parquet) 3 samples: load (schema defined by filetype)

[2018-04-17 22:03] #5172 closed

[2018-04-17 22:17] crwilcox commented on #5194
@gastlich,

The issue is each call does something a bit different. storage_client.bucket creates a bucket object on the client. storage_client.create_bucket creates the bucket on the platform. When you changed your code to use bucket() you changed it to not actually create anything until you had set the location to EU.

In the original you had created a bucket in US and then tried to change its lo

[2018-04-17 22:26] crwilcox commented on #5161
Closing as not reproducible. Feel free to re-open this if you have additional information.
Thanks!

[2018-04-17 22:26] #5161 closed

[2018-04-17 22:35] crwilcox commented on #4939
@akmalhakimi1991, this should be resolved and believe the root of the issue was fixed in a recent update to grpcio. If you update grpcio by running `pip install grpcio --upgrade` your issue should be resolved. This will get version 1.11.0 which has the fix.

[2018-04-17 23:33] tseaver commented on #5194
Two code changes are required to address this issue:

- Plumb the `location` argument through to `Client.create_bucket`.
- Make the `Bucket.location` property read-only.

[2018-04-17 23:50] tseaver commented on #5194
Hmmm, making `Bucket.location` read-only in all cases would be backward-incompatible:  applications which set the location between instantiating the bucket and calling its `create` method would break.

[2018-04-18 00:05] crwilcox commented on #5194
That could be done, but the comment for `create_bucket` already states that for more complex creation you should use the other flow. My guess would be this is because if we add location, really we need to start adding all of the possible configuration options to `create_bucket` to support all uses. But we already have an alternative for that.

The doc comment I am referring to btw:

        To set

[2018-04-18 00:54] akmalhakimi1991 commented on #4939
I have yet to updated my `grpcio` but updating `google-cloud-speech` to 0.33.0 seems to fix the issue as well

[2018-04-18 06:25] santhoshdc1590 commented on #5161
@crwilcox
Thank You for the response.

I am processing the image and then am trying to store the `image` onto `google bucket`.

This was a silly error from my end.

when a specify where and what name to store the `temp file` using the command below

This is how, it's stored
`document/document/Test15.jpg`

This is how, I though the location would be
`/document/Test15.jpg`

[2018-04-18 15:01] tseaver commented on #5194
@crwilcox OK.  Maybe the setter for the `location` property should still raise an error if there is already a value set?

[2018-04-18 15:19] cpcloud opened #5204 "BigQuery: to_arrow() method similar to to_dataframe()"
Current there's a `to_dataframe()` method that returns a pandas `DataFrame` from a query. `DataFrame`s don't efficiently support array and struct values, but `pyarrow` provides efficient support for them:

[code]

A `to_arrow()` method will make it easier to efficiently support more complex types going forward in downstream libraries like [ibis](https://github.com/ibis-project/ibis).

[2018-04-18 16:26] dariushazimi commented on #4360
@amgsharma Were you able to correct the issue? Can you share the final version?

[2018-04-18 16:38] ragul-sky opened #5205 "'module' object has no attribute 'Client'"
Have installed required python libraries:
1) pip install google-cloud
2) pip install --upgrade google-cloud-logging

Output of pip show google-cloud_:

Name: google-cloud                                                                                                                                           Version: 0.32.0

[2018-04-18 17:25] crwilcox commented on #5194
That seems like a reasonable idea. Really that entire class is *almost* entirely read-only once written fields from what I could tell. That fix would help to prevent this in the future.

[2018-04-18 17:46] tseaver commented on #5205
I can't reproduce this with up-to-date versions of `setuptools` / `pip` / `wheel` in a clean virtualenv:

[code]

First, note the warnings about incompatible versions for all the `google-cloud-*` packages *except* `google-cloud-logging`.  Those got installed because you installed the `google-cloud` umbrella package, but you almost certainly don't need all of them. I would avoid installing `google-

[2018-04-18 17:47] tseaver commented on #4360
@dariushazimi You need to ensure that the audio file to be converted is mono, not stereo.

[2018-04-18 17:49] jonparrott commented on #5205
Yep, that's the plan. I just have to write a formal doc before I do it.

[2018-04-18 20:10] tseaver commented on #5193
@crwilcox The `/stable` bit is really problematic for us while we are in the monorepo:  it is tied to releases of the umbrella `google-cloud` package, which we mean to be deprecating.

Note that the `usage.html` link would 404 even if it was based in `latest/`:  there is no `usage.rst` document in the `texttospeech/docs` tree from which to generate it.

[2018-04-18 20:13] tseaver commented on #5194
According to the API docs for [`buckets.patch`](https://cloud.google.com/storage/docs/json_api/v1/buckets/patch), there are a bunch of writable bucket properties.

[2018-04-18 20:40] Jordan-Gillard commented on #5171
To anyone reading this: The problem was two things. I was streaming correctly, but when I'd click `Preview` it wouldn't show up. The data was still in the table, but it seems to be an issue with BQ's UI. I could still query that data. The bigger problem was that I couldn't stream into a freshly created table. You have to wait a minute or so after a table is created to stream into it.

[2018-04-18 20:47] crwilcox commented on #5194
That may have been a strong statement. The more accurate statement I should have made is that in fixing this we should be sure we do the same protection of all write-once settings.

[2018-04-18 20:56] tswast commented on #5003
I timed them locally, though there might be something specific with the project used by the CI which may be taking longer.

[code]

I see that `list_jobs` is still taking a long time.

[2018-04-18 21:03] tswast commented on #5003
Sent https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5209. The `list_jobs` snippet had a regression to showing all jobs in the project.

[2018-04-18 21:08] tswast commented on #5003
I agree that we should probably limit the number of load jobs we do, too, by having more generic samples for truncate/append rather than one for every file type. (Probably do Avro for that, since it's the fastest to load right now)

[2018-04-18 21:35] tseaver commented on #5194
`Bucket.location` is the only property set using the `_scalar_property` helper, which gives it a non-validating setter.

The following properties are already read-only (no setter defined):

- `path`
- `client`
- `user_project`
- `acl` (but the `ACL` itself is mutable).
- `default_object_acl` (likewise)
- `etag`
- `id`
- `metageneration`
- `owner`
- `project_number`
- `self_link`
- `time_created`

[2018-04-19 02:47] tseaver commented on #5171
@Jordan-Gillard There are some latencies outlined in the [data availability](https://cloud.google.com/bigquery/streaming-data-into-bigquery#dataAvailability) docs for streamed data.  I'm glad you found a solution.

[2018-04-19 10:58] ragul-sky commented on #5205
Just found out that this error happens when I have both gcloud and  google-cloud installed.
1) pip install gcloud
2) pip install google-cloud

[2018-04-19 22:50] crwilcox opened #5213 "Narrow screen width rendering issue on github.io page"
At narrow screen widths https://googlecloudplatform.github.io/google-cloud-python/ is rendering poorly.
<img width="663" alt="screen shot 2018-04-19 at 3 49 58 pm" src="https://user-images.githubusercontent.com/638797/39022217-59f79246-43e9-11e8-9da1-9a159de9cbff.png">

[2018-04-20 15:41] tswast opened #5216 "BigQuery: add project parameter to `list_datasets`, `list_jobs`"
I think of a Client as corresponding to the "billing project" for BigQuery, but this should not restrict the client from listing datasets / jobs in other projects if its associated credentials have permissions to do so in those projects.

https://github.com/ibis-project/ibis/pull/1428#discussion_r183066783

[2018-04-20 18:30] tseaver commented on #5205
@ragul-sky Actually, you shouldn't need to install *either* of those two:  `gcloud` is a long-deprecated early version of `google-cloud`.  Just install `google-cloud-logging` (or any of the other API-specific packages you need).

[2018-04-20 18:31] tseaver commented on #5213
Via #5214.

[2018-04-20 18:31] #5213 closed

[2018-04-20 19:10] #5216 closed

[2018-04-20 19:48] VelizarVESSELINOV commented on #2464
Again after updating google-storage-cloud the package didn't work due to residual google packages with mismatch dependency.

Needed to delete all the old packages that pip3 uninstall google-cloud was ignoring using:
`pip3 list | grep google | awk '{print $1}' | xargs pip uninstall -y`

Hopefully one day Google will master pip or improve pip system.

[2018-04-20 20:53] bcreane opened #5218 "ERROR: (gcloud.app.deploy) Error Response: [13] An internal error occurred during deployment. [Python-edition]"
This seems to be the same issue as reported by GoogleCloudPlatform/getting-started-java#281 as well as GoogleCloudPlatform/nodejs-getting-started#153, however since I'm using python runtime I didn't want to piggyback on the Java and nodejs issues.

We see the internal error intermittently while our CI (Jenkins) attempts to publish the website deployment.

We're running the latest Google cloud SDK:

[2018-04-20 21:39] bcreane commented on #5218
ah, just noticed the work-around posted in GoogleCloudPlatform/getting-started-java#281:
`gcloud config  set app/use_deprecated_preparation True`

We'll give this a try and re-open this issue if we continue to see app deployment failures.

[2018-04-20 21:39] #5218 closed

[2018-04-21 19:14] maxim-lian commented on #5204
I realize out of scope for this library, but it would awesome to have this as an export rather than JSON -> python -> arrow.

quasi-ref https://github.com/pydata/pandas-gbq/issues/133

[2018-04-21 19:30] maxim-lian commented on #4930
I did find this very confusing. For example, `client.dataset(dataset_name)` returns a `DatasetReference`, in spite of its name.

Is this something we're coupled to because of the REST API? Could we at least add options to supply strings, so `bigquery.Dataset(dataset_name)` returned a dataset?

Overall, the API is extremely class-heavy for a python library. A recent frustrating example was `client.

[2018-04-21 21:40] tswast commented on #4930
It's funny you mention that method. It's probably the only thing that didn't change in the 0.27 to 0.28 rewrite. In 0.27 and earlier, the `dataset()` method returned a `Dataset` class, but IMO even more confusingly none of the properties were populated besides the ID!

In my first version of the rewrite, I proposed exactly this (allowing either string or reference), but the number of combinations

[2018-04-21 22:48] maxim-lian commented on #4930
Thanks for the reply @tswast

I still don't understand what a `DatasetReference` has over a `'project.dataset'` string - looking through the implementation the only advantage I can see is creating a table from the object. Is it that it could be `project:dataset` or `dataset`-with-implicit-project, and we don't want to support all the permutations?

It sounds like you've thought about it a lot, so

[2018-04-21 23:29] tswast commented on #4930
Honestly since the REST API separates everything out like

[code]

it hadn't crossed my mind to accept a fully-qualified dataset ID. I would be open to a PR that modifies Dataset to accept strings like "project.dataset" as an option where there is a Dataset reference.

[2018-04-23 07:52] ragul-sky commented on #5205
Thanks for the help :)

[2018-04-23 07:52] #5205 closed

[2018-04-23 10:21] Anurag-14 opened #5219 "Vision: auth-error, invalid jwt issue"
i am facing issue while annotation of  encoded image using LABEL_DETECTION of  google vision api.

[2018-04-23 12:42] krelst opened #5220 "Bigquery: KeyError: 'configuration'"
We are using `google-cloud-bigquery==0.32.0`, and have an hourly script that monitors the status of async queries. The code basically looks like this:
[code]
Excerpt of installed google cloud packages:
[code]
Starting from 20/04/2018 08:00 AM UTC the script started to fail with the following stacktrace:
[code]
Strange thing is that with the exact same virtual environment on my local computer, I do

[2018-04-23 20:55] tseaver commented on #5220
When the failure occurs, what is the `resource` which it is trying to parse?  Can you dump the JSON and redact any sensitive values?

[2018-04-23 20:56] tseaver commented on #5219
Can you paste the traceback?

[2018-04-23 22:48] jonparrott opened #5224 "Cut new release of monitoring"

[2018-04-24 07:32] krelst commented on #5220
On the server the following resource causes the issue:
[code]
Locally I receive for the same query the following resource:
[code]
Is it a difference in service account rights that is causing the difference between the two resources?

[2018-04-25 09:34] james-woods commented on #5196
Tried with `0.33.1` - the issue is the same, one consumer is listening and getting messages, the other one joins and sits idle.

[code]

[2018-04-25 12:17] euri10 commented on #5111
seems like it's fixed in the node client https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1916

[2018-04-25 13:49] BHushanRathod opened #5234 "ImportError: cannot import name 'opentype' on ubuntu 16, python3.6"
Im getting error after upgrading from ubuntu 14 to ubuntu 16. My development server is on ubuntu 14 which has no issue, but now i upgraded my local system with ubuntu 16, and i started getting this error for `pip install --upgrade google-cloud-storage` package.
Tried `pip install --upgrade pyasn1-modules.` but same error.

Here are system details and error traceback:

1. Google Cloud Storage

2. D

[2018-04-25 18:16] jonparrott commented on #5234
Your version of `pyasn1` it too old. I'm not sure why `pip install --upgrade pyasn1` isn't fixing it, but that is the root of the problem.  pyans1-modules requires `pyasn1>=0.4.1,<0.5.0`.

It's even weirder that your `pip freeze` output lists `0.4.2` as the `pyans1` version, so I really don't know what's occurring here.

I could not reproduce with Ubuntu 16.04 and the apt-provided Python 3.5. My `

[2018-04-25 18:16] #5234 closed

[2018-04-26 04:51] frankyn commented on #3474
@vsoch, spoke with the Product Manager, and there was mention of a project focused around this, but there's no set timeline in the foreseeable future at this time. I'd suggest to try workaround at this time.

I may lose this thread in the future, so I'd suggest keeping on eye on [GCS Release Notes](https://cloud.google.com/storage/docs/release-notes). Thanks for raising the question, cheers!

[2018-04-26 04:54] vsoch commented on #3474
Will do! Thanks muchly @frankyn.

[2018-04-26 05:35] achachet commented on #5200
Very clear, I missed that, thanks!

[2018-04-26 05:35] #5200 closed

[2018-04-26 08:26] hokumski opened #5238 "BigQuery: resource['configuration'] can raise KeyError in job_from_resource"
Hello!

in /bigquery/google/cloud/bigquery/client.py, **job_from_resource**,

Recently I've got _resource_ dict without '_configuration_' key, it looked like some kind of dump (can show it, I have a copy).

So, it was permanent error on _list_jobs_, and I had nothing to do with it except to modify client.py:

[code]

[2018-04-26 11:40] Yourivdzee commented on #5188
I am using [this](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py). Only changed the language code.

I think the issue is related to #5094. The program output nothing, until it runs out of time. Then I get the following error:

[code]

During this period the only I said was "Test123", so it did manage to recognize my speech. Ho

[2018-04-26 12:50] sduskis opened #5239 "Bigtable: reports of transient failures in long running scans"
Long running scans fail in a variety of ways due to transient networking issues.  These are completely recoverable.  While there are retries under the covers, they don't seem to be robust enough over long scans over time.  We need to add long running tests (multiple hours) of running these types of reads, and make sure that we catch all of the various conditions in which this can

[2018-04-26 13:16] andresvelasco2 opened #5240 "TypeError: 'QueryJob' object is not iterable"
Details of the library below.

I followed the example in:

https://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#querying-data

My aim is to read the results from a query without waiting for the query to finish completely.

I get the error:
`TypeError: 'QueryJob' object is not iterable`

Sample code I use to reproduce is as the example mentioned above

[code]

[code]

[2018-04-26 14:35] yiga2 opened #5241 "BigQuery: add ddl_operation_performed property to QueryJob stats"
See https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#statistics.query.ddlOperationPerformed

Very useful to branch code (for us, in Airflow).

Btw, there is also an issue with the documentation - see discrepancy @ https://google-cloud-python.readthedocs.io/en/latest/bigquery/reference.html#google.cloud.bigquery.job.ExtractJob.destination_uri_file_counts

[2018-04-26 16:36] tseaver commented on #5220
@tswast Can you suggest a reason why the first example resource would be missing the `configuration` key?

[2018-04-26 16:37] tseaver commented on #5238
@hokumski Thanks for the report!  It duplicates #5220, so I'm closing this one -- please follow there for resolution.

[2018-04-26 16:37] #5238 closed

[2018-04-26 16:39] tseaver commented on #5239
I wonder if either of the two "flaky" Bigtable system test issues (#4935, #5179) are related.

[2018-04-26 16:43] tseaver commented on #5240
The documentation you link assumes you are running a more recent version of `google-cloud-bigquery`.  Can you update and try again?  E.g. via:

[code]

[2018-04-26 16:45] tseaver commented on #5241
@yiga2 Thanks for the report.  I'm not sure what the discrepancy is -- can you please elaborate?  Ideally we would have the feature request (adding support for the `ddlOperationPerformed` field) separate from the documentation bug report.

[2018-04-26 16:49] tswast commented on #5220
I have no idea how a job could be missing a configuration.

@shollyman do you have any ideas?

[2018-04-26 17:08] tseaver opened #5242 "Logging system tests are leaking sinks"
I have failures (see https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6368) in unrelated PRs:

[code]

[2018-04-26 17:28] hokumski commented on #5220
Have same issue, but as I remember my json contains some debug information like execution plan.
I'll post it tomorrow.

[2018-04-26 17:32] shollyman commented on #5220
This is a case where the user/principal issuing the jobs.list request lacks the `bigquery.jobs.listAll `permission, a new permission that clarifies when metadata for other users can be inspected.
Because the identity lacks this information, job information is redacted (you can see the jobID is redacted above, as well as the configuration submessage.

Adding the permission, either via a custom role

[2018-04-26 17:41] hokumski commented on #5220
@shollyman
This is not my case.
I have cron job for listing and saving job results, both BQ job start and list_jobs are made under one service account.
It looks like something was wrong during job execution, and then this job couldn't be listed

[2018-04-26 17:54] shollyman commented on #5220
@hokumski Feel free to send me the details out of band, we may undupe 5238 if its something different.

[2018-04-26 20:19] tseaver opened #5244 "'ExtractJob.destination_uri_file_counts' docstring copy pasta"
In #5241, @yiga2 reported:

and elaborated later:

[2018-04-26 21:31] #5244 closed

[2018-04-26 22:30] jonparrott commented on #4986
I am going to close this. We are going to provide reasonable means to override the concurrency primitive used to schedule tasks for pub/sub, but no way to wholesale eliminate the usage of threading.

[2018-04-26 22:30] #4986 closed

[2018-04-27 05:36] gitdesai opened #5251 "ImportError for 'google.cloud.speech'"
Working from google console. I had cloned your project 2 weeks back and I was able to execute quickStart & transcribe.py. However, since couple of days I get an error "from google.cloud import speech". Kindly help.

[2018-04-27 06:52] krelst commented on #5220
Adding `bigquery.admin` rights indeed solved the issue. However I don't think it's desirable behaviour to let the client crash with a `KeyError` when it hasn't got the correct permissions.

[2018-04-27 07:29] hokumski commented on #5220
@shollyman

This is from me:

`
{
  "status": {
    "state": "DONE"
  },
  "kind": "bigquery#job",
  "statistics": {
    "query": {
      "totalSlotMs": "732",
      "queryPlan": [
        {
          "readMsMax": "27",
          "computeMsMax": "6",
          "waitMsAvg": "11",
          "id": "0",
          "endMs": "1524217492753",
          "waitMsMax": "22",
          "startMs": "152421749205

[2018-04-27 07:58] tianxiongh commented on #5094
I encounter the same problem that the property 'is_final' is working fine with English recognition. However for other languages it takes too much time to get 'is_final=True', even more than 1 minute. Meanwhile the interim results keeps coming and the responses are quick. It just does not return 'is_final'.

[2018-04-27 08:53] Maerig commented on #5220
I'm having the same problem with jobs which result  in a `resourcesExceeded` error.
Likewise the job id is `<REDACTED>`, so this might be related to the job configuration missing.

[2018-04-27 10:35] andresvelasco2 commented on #5240
sorry, my bad.

[2018-04-27 10:35] #5240 closed

[2018-04-27 13:01] versex commented on #3100
Just as a note, I was having the same issue on a windows machine. I was looking at the time on the clock and it was correct, but I  was still receiving the error. It ended up being the timezone. Someone had set the clock but they had not changed the timezone to EST.

[2018-04-27 13:46] sduskis commented on #5179
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6268 is a transient networking problem that occurred to mutate rows.  It does indeed need to be retried.

https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6267 is a transient networking problem that occurred in a column admin api.  We can't retry those.

We should look into https://circleci.com/gh/GoogleCloudPlatform/go

[2018-04-27 16:09] tseaver opened #5252 "Pubsub unit test hangs intermittently"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6432

[code]

[2018-04-27 16:15] #5242 closed

[2018-04-27 16:36] tseaver commented on #5003
The BigQuery system tests are *waaaaaay* too slow:  they are taking around 8 minutes *each* to run today:

[code]

The snippet tests are purtneer as bad (aggregate 20 - 30 minutes or more for the four environments, see the [last successful build on master](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6428)).

[2018-04-27 16:42] tseaver opened #5253 "Consider skipping system tests for "dependent" packages"
When making changes to `storage`, I'm not sure I see the utility in re-running the system tests for `bigquery`, `vision`, *et aliae*:  ISTM that if the API surface for `storage` makes breaking changes, those should surface in the unit tests for the dependent packages.

[2018-04-27 17:02] lordcenzin opened #5254 "Error message when downloading blob to local file"
Dear all,
i am facing a very weird issue when I try to download an existing file in gcs to local machine (in this case Datalab)
First of all additional machine information (retrieved through datalab):
[code]

This is the scenario:

[code]

I obtain the following error (reported stacktrace)

[code]

[2018-04-27 18:04] tswast commented on #5003
[code]

Unfortunately, some of the longest-running ones I'm not comfortable cutting.
- `test_load_table_from_file_w_explicit_location` : tests some particularly tricky cross-location features. We don't have equivalent snippets for these and probably won't.
- `test_query_many_columns` and `test_list_rows_many_columns` : response to a bug w/ fix, for example. (Though maybe we could convert to unit t

[2018-04-27 18:09] ShaMan123 commented on #1295
thanks!
didn't work for me but I found a workaround

On 13 April 2018 at 18:58, Michael McDonald <notifications@github.com>
wrote:

[2018-04-27 20:12] gitdesai commented on #5251
Are these steps required if I am using gcp console?
I am trying to execute quickstart.py from https://github.com/GoogleCloudPlatform/python-docs-samples.git/python-docs-samples/speech/cloud-client

[2018-04-27 20:50] #5252 closed

[2018-04-27 21:48] zakons commented on #5179
I will take a close look at how our retry is handling (or not) the exception in 6268. Thanks.
    On Friday, April 27, 2018, 9:46:50 AM EDT, Solomon Duskis <notifications@github.com> wrote:

https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6268 is a transient networking problem that occurred to mutate rows. It does indeed need to be retried.

https://circleci.com/gh/GoogleCloudPlatf

[2018-04-27 21:52] tseaver commented on #5220
@shollyman ISTM that the back-end could reasonably just omit listing jobs for which the requester doesn't have access.

[2018-04-27 22:01] tseaver commented on #5254
What version of `google-cloud-storage` is installed?  E.g.:

[code]

[2018-04-27 23:03] crwilcox commented on #5251
@gitdesai a little bit back a change was made to Cloud Console to only contain the `Production/Stable` Libraries. google-cloud-speech, currently v0.34.0, is currently Beta so you will need to `pip install google-cloud-speech`

[2018-04-27 23:13] crwilcox commented on #5224
https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/monitoring-0.29.0

[2018-04-27 23:13] #5224 closed

[2018-04-29 16:48] eyaler opened #5260 "enum34 installed for pip -t"
when installing with pip install -t target, enum34 gets installed for python 3.6, and prevents later imports

[2018-04-30 01:03] jpchen opened #5261 "Vision: document_text_detection does not perform consistently"
## Issue
`document_text_detection()` produces wildly inconsistent performance (wall clock time between 2.99s to 22.2s) across identical runs with identical images.
[code]
I couldnt profile beyond the line `method 'poll' of 'grpc._cython.cygrpc.CompletionQueue' objects` which seems to take up the bulk of the time.  Any idea where this could be/how to make this more performant and consistent? what i

[2018-04-30 03:39] manzikki opened #5262 "usage documentation: please mention unicode"
http://google-cloud-python.readthedocs.io/en/latest/datastore/usage.html please add (in the first example) a mention that storing strings should be done with u:
entity['name'] = u'Jane'

Not using unicode will make the datastore convert them to blobs.

[2018-04-30 11:06] gitdesai commented on #5251
Hmm! thank you for your responses.

I am definitely confused. But may be I have not been able to explain the problem correctly. However, I have been able to get my work done.

I was trying to run the script on "Google Cloud Shell" which comes with pre-installed google cloud SDK and I don't have to / no permissions to install either. So, I was able to get the script working on this one earlier whic

[2018-04-30 11:06] #5251 closed

[2018-04-30 15:28] tseaver commented on #5260
Can you please provide the exact command line you are using (i.e., which API libraries are you installing)?

[2018-04-30 15:29] tseaver commented on #5261
@jonparrott Who is the vision PoC?

[2018-04-30 15:37] eyaler commented on #5260
pip install google-cloud-vision==0.31.0 -t my_folder

[2018-04-30 15:44] jonparrott commented on #5261
@dizcology might be able to help. :)

[2018-04-30 16:32] tseaver commented on #5260
OK, that one has the following dependency:

[code]
I tried reproducing via:

[code]

When I install directly in the virtualenv (without the `-t`) it is also installing `enum34`:

[code]

@jonparrott Any clues why the platform spec isn't working?

[2018-04-30 16:43] #5262 closed

[2018-04-30 17:31] tseaver commented on #5260
See PyPA discussion linked from PR #4991, which landed the change to `vision/setup.py`.

[2018-04-30 17:44] jonparrott commented on #5260
This is a bug in pip, not on us. I'm closing this and opening a bug over there.

[2018-04-30 17:44] tseaver commented on #5260
Looks like an issue with `wheel`:  the built wheel on PyPI has the following metadata:

[code]
https://github.com/pypa/wheel/issues/181 seems to describe this behavior, but claims that the fix was in `setuptools 36.2.0`

When  I build the wheel locally using up-to-date setuptools / wheel, it has correct metadata:

[code]

[code]

[2018-04-30 17:45] tseaver commented on #5260
@jonparrott We might need to ensure that we `pip install --upgrade setuptools wheel` in our deployment step.

[2018-04-30 17:51] jonparrott commented on #5260
Yeah, we'll need to do a follow-up publish on this. PR incoming for CI, then I'll get @crwilcox to release a new version.

[2018-04-30 17:56] jonparrott commented on #5260
CI change done in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5265

We need to publish patch releases of:

- [ ] api-core
- [ ] vision
- [ ] language

[2018-04-30 17:56] #5253 closed

[2018-04-30 17:59] tseaver commented on #5260
We should update `language/setup.py` to use the newer `install_requires` format while we're at it.

[2018-04-30 17:59] jonparrott commented on #5260
Done in #5266

[2018-04-30 22:17] jonparrott commented on #5260
The packages are all published and this should be resolved.

[2018-04-30 22:17] #5260 closed

[2018-05-01 04:15] Maerig commented on #5220
Yes, it happens when calling `list_jobs` with `all_users=True` while not having the `bigquery.jobs.listAll` permission.

[2018-05-01 21:34] myelin opened #5282 "Spanner: generator raises StopIteration under Python 3.7 (due to PEP 479)"
Running the following code (modified slightly from actual example, for clarity) under Python 3.7 results in RuntimeError('generator raised StopIteration').

[code]

Here's the traceback:

[code]

This is the result of [PEP 479](https://www.python.org/dev/peps/pep-0479/), which changes the behaviour of StopIteration exceptions raised in generators: pre-3.7, these cause the generator to exit, but in

[2018-05-02 11:49] lordcenzin commented on #5254
[code]

[2018-05-02 12:10] lordcenzin commented on #5254
#

[2018-05-02 12:10] lordcenzin commented on #5254
sorry...closed by mistake.

[2018-05-02 14:46] tseaver commented on #5282
@myelin Thanks for the report and for digging up the root cause (and trying it out on Python 3.7)!

[2018-05-02 14:58] tseaver commented on #5254
The error is being raised from within `google.resumable_media`.  Can you please list all installed package versions, e.g.:

[code]

[2018-05-02 15:47] lordcenzin commented on #5254
sure. Here we go:
[code]

[2018-05-02 15:55] Ashton08 commented on #3884
Did you ever find a solution for this? I'm currently having the same problem. @candscientecon

[2018-05-02 15:56] greenwaves opened #5284 "onnx-tensorflow install: ImportError: No module named onnx_pb2 when installing"
1. API: onnx-tensorflow backend
2. OS: Ubuntu 17.10
3. Python version: Python 2.7.14
6. Steps to reproduce

 sudo add-apt-repository ppa:kelleyk/emacs
    2  sudo apt-get update
    3  sudo apt-get install emacs25
    4  sudo apt-get install protobuf-compiler libprotoc-dev
    5  pip install onnx
    6  sudo apt-get install python-pip
    7  pip install onnx
    8  python -c "import onnx"
    9  p

[2018-05-02 16:01] #5284 closed

[2018-05-02 16:06] candscientecon commented on #3884
Hi guys
@Sanjay-B Im using Python 3.7 for win 64 bit and matplotlib supports every version, so i tried degrade my Python and vice versa but no luck.
@fishruti I tried that!
@Ashton08 no solutions. But it worked on Spyder through Anaconda, since Anaconda has the most packages installed.

[2018-05-02 16:34] tseaver commented on #3884
@srcolinas In spite of the appearance given by its name, `google-cloud-dataflow` is not maintained in this repository.  Please use https://cloud.google.com/dataflow/support for issues relating to that API / wrapper library.

@candscientecon Your issue is with `matplotlib`, or else with `pip` / `setuptools`.  We can't really help you with it here.

[2018-05-02 16:46] candscientecon commented on #3884
@tseaver I came up with the idea that I had installed Python wrongly e.g. Pipy or somthing wrong with my path from packages to python.
Or Python is install at a place where windows cant make changes through cmd?

[2018-05-02 17:00] tseaver commented on #3884
@candscientecon For help with `matplotlib`, please see https://matplotlib.org/#need-help.  For help with `setuptools`, please see https://github.com/pypa/setuptools

[2018-05-02 17:08] #4658 closed

[2018-05-02 17:10] tswast commented on #4658
@yiga2 I'd love it if the API matched the structure of DDL, but currently this library is modeled after the REST API.

[2018-05-02 20:39] tswast opened #5287 "BigQuery 1.2.0 release"
The big new feature is https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5267 which adds support for column-based time partitioning.

[2018-05-02 22:51] danoscarmike opened #5290 "List links to other language doc pages in alphabetical order"
Please update drop down menu of [Python docs page(s)](https://googlecloudplatform.github.io/google-cloud-python/)

### Expected Behavior

.NET, C++, Go, Java, Node.js , PHP, Python, Ruby

### Actual Behavior

C++, .NET, Go, Java, Node.js, PHP, Python, Ruby

[2018-05-03 09:02] esprehn opened #5291 "BigQuery: Should retry on 502 like Go client does"
See https://code-review.googlesource.com/c/gocloud/+/22490 ans associated bug.

This is the python equivalent function here:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/_helpers.py#L372

but it doesn't check for StatusBadGateway

[2018-05-03 15:35] tgensol commented on #3128
Hi guys,

I am using the google-cloud-datastore on AWS Lambda (serverless), and sometimes I am getting the error too :

[code]

I am using **google-cloud-core  0.28.1 and google-cloud-datastore   1.6.0**,
Thanks !

[2018-05-03 17:36] tseaver commented on #3128
@tgensol Hmm, your error is propagated from a `Commit` call, which is not idempotent.  I don't think we have any expected automatic retries for that case.  @jonparrott can you confirm?

[2018-05-03 17:49] tseaver commented on #5290
@crwilcox I'm not sure of the procedure for updating it, but the list in question is in `index.html` on the `gh-pages` branch.

[2018-05-03 18:12] crwilcox commented on #5290
I had matched CPP when I last did it. Looks like they made this change themselves a bit back. Going to match everyone else now :)

[2018-05-03 18:14] crwilcox commented on #5290
Fixed by cec07b9

[2018-05-03 18:14] #5290 closed

[2018-05-03 19:15] jonparrott commented on #3128
Yeah, it's generally not safe for us to retry a commit operation blindly. If *you* are certain it's safe to retry, you can do so using our `retry` helper:

[code]

[2018-05-03 20:17] speedplane commented on #3128
I've dealt with this same problem. Using the retry handler directly can be difficult because the calls are often burried under middleware code. Instead, I've monkey hacked the default retry handler settings:

[code]

[2018-05-03 20:18] crwilcox opened #5292 "Scheduler needs to shutdown in a way compatible with SimpleQueue and Queue types for worker queue."
Currently one test is failing for the scheduler. The issue is Py3.7 changed the _worker_queue to be a SimpleQueue.

Traceback (most recent call last):
  File "/Users/crwilcox/workspace/google-cloud-python/pubsub/tests/unit/pubsub_v1/subscriber/test_scheduler.py", line 51, in test_schedule
    scheduler_.shutdown()
  File "/Users/crwilcox/workspace/google-cloud-python/pubsub/google/cloud/pubsub_v1/

[2018-05-03 20:20] crwilcox opened #5293 "[Monitoring] cannot be used with Python 3.7 (Pandas)"
Pandas/Cython doesn't currently support 3.7. Once it does we need to enable 3.7 testing on Monitoring.

Collecting pandas>=0.17.1 (from google-cloud-monitoring==0.29.0)
  Using cached https://files.pythonhosted.org/packages/08/01/803834bc8a4e708aedebb133095a88a4dad9f45bbaf5ad777d2bea543c7e/pandas-0.22.0.tar.gz
  Could not find a version that satisfies the requirement Cython (from versions: )
No ma

[2018-05-03 20:21] crwilcox opened #5294 "BigQuery: 'pyarrow' support cannot be used with Python 3.7"
Pandas/Cython doesn't currently support 3.7. Once it does we need to enable 3.7 testing on BigQuery.

Collecting pandas>=0.17.1 (from google-cloud-monitoring==0.29.0)
Using cached https://files.pythonhosted.org/packages/08/01/803834bc8a4e708aedebb133095a88a4dad9f45bbaf5ad777d2bea543c7e/pandas-0.22.0.tar.gz
Could not find a version that satisfies the requirement Cython (from versions: )
No matching

[2018-05-03 20:28] jonparrott commented on #3128
well, I certainly can't endorse that - but I'm glad it works for you.

[2018-05-03 23:47] crwilcox commented on #5294
I came across a bunch of closed issues for Cython (which works for 3.7 but doesn't seem to ship a wheel at this time). I couldn't find much at all regarding Pandas.

[2018-05-04 11:47] exjohn commented on #4683
I have a very similar problem that hasn't been fixed with the above measures. The one difference is that I'm having the docker be built by gitlab CI.

This is my dockerfile:
[code]

And this is my .gitlab-ci.yml:
[code]

See the commented line in the 'build' job? If I run that line, the job passes. The 'test' job, however, doesn't and fails with:
[code]

Any help is very much appreciated!!!

[2018-05-04 11:52] exjohn opened #5296 "storage access not working from within docker within gitlab CI - from google.cloud import storage - ImportError: No module named 'google'"
I have a very similar problem to  #4683. The fixes suggested there didn't work, though. The one difference is that I'm having the docker be built by gitlab CI.

This is my dockerfile:
[code]

And this is my .gitlab-ci.yml:
[code]

See the commented line in the 'build' job? If I run that line, the job passes.

The 'test' job, however, fails and throws:
[code]

Any help is very much appreciated!!!

[2018-05-04 12:05] exjohn commented on #5296
Sorry the problem seems more related to my usage of Gitlab CI than to google-cloud.

[2018-05-04 12:05] #5296 closed

[2018-05-04 16:01] #5292 closed

[2018-05-04 16:04] arycloud commented on #3485
Hi @lukesneeringer , I have tried it but it return an error like: `AttributeError:'google.protobuf.pyext._message.RepeatedCompositeCo' object has no attribute 'DESCRIPTOR'`
How can I resolve this error?

[2018-05-04 17:46] crwilcox commented on #5282
@myelin , Thanks again for reporting this. The fix is in master and the next release of spanner will have this fix.

[2018-05-04 17:47] #5282 closed

[2018-05-04 19:03] schmidt-sebastian commented on #4109
@chemelnucfin I don't see an issue for DocumentSnapshot cursors. The issue that I see in `Feature Request` (https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4109) cleans up the cursor API, which is a precursor for GoogleCloudPlatform/google-cloud-java#2768

[2018-05-04 19:48] frankyn opened #5298 "Request to release a version of Google Cloud Storage"
Request is to release latest version of Google Cloud Storage. Don't include KMS integration.

[2018-05-04 20:06] crwilcox commented on #5298
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5299.

[2018-05-04 20:06] crwilcox commented on #5287
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5297

[2018-05-06 21:12] yiga2 commented on #5110
Workaround for anyone on `1.0.0` is to use private `_properties` e.g.

`job_config._properties['labels']['mylabel'] = 'myvalue'`

[2018-05-06 23:55] naomifridman commented on #2995
Same issue.
Is the python environment stable ? with the java it went smoothly.
The python I don't manage to solve for days.

[2018-05-07 00:01] jmgamboa opened #5300 "Cloud storage signing urls"
Specs
1. Cloud storage
2. OS type and version
3. 3.4
4. google-cloud-python version 1.9

Hi. Great job so far. I using signed urls for google cloud storage. I saw this feature was recently added on Feb 6th. I noticed that the signed url function exists only on a Blob level whereas google also allows you to generate signed urls on the bucket level. Does this function support the bucket level signed

[2018-05-07 07:07] #5298 closed

[2018-05-07 07:53] psalaberria002 commented on #4841
@TonyRoussel where you able to find the root cause of the problem? I am seeing inactive subscribers very often...

[2018-05-07 08:03] TonyRoussel commented on #4841
From our experiment I would say that the root cause was forking (with
multiprocessing lib) and using multiple consumers.
The temporary solution until we use another messaging system, was to
monitor the suscribers and restart them when they're inactive for too long
:/

On Mon, May 7, 2018, 09:53 psalaberria002 <notifications@github.com> wrote:

[2018-05-07 13:46] kir-titievsky commented on #4841
@psalaberria002  @TonyRoussel If the inactivity of sub-scribers are the symptom you are observing, I'll bet on a client-side issue. The wonderful news here is that @jonparrott has completely rewritten the subscriber code to address a lot of the multithreading issues.  The current release has it in `SubscriberClient.subscriber_experimental`, but the code should get merged into a release this week a

[2018-05-07 15:42] jonparrott commented on #5300
@jmgamboa can you describe your use case a little bit more?

[2018-05-07 15:43] jonparrott commented on #5300
Also - heads up - we're likely to drop 3.4 support soonish. I would highly recommend upgrading!

[2018-05-07 15:44] jonparrott commented on #2995
If you are experiencing issues with the metadata service the suggest route is to provide a private key directly. See https://cloud.google.com/docs/authentication/getting-started.

[2018-05-07 16:04] psalaberria002 commented on #4841
What's the recommended approach to check if the subscriber is running? I tried future._manager.is_active, and it is very often False even when I have 500K pending messages.

[2018-05-07 16:10] jonparrott commented on #4841
if `future._manager.is_active` is False then the consumer is not processing any messages and the future should've been resolved with an exception.

[2018-05-07 16:10] jonparrott commented on #4841
Also where is the `500K pending messages` number coming from?

[2018-05-07 16:17] jmgamboa commented on #5300
Thanks for the heads up. To elaborate, I am trying to allow a user to upload or retrieve files to my bucket on cloud storage via signed url. Signed urls as you might know give temporary access to the bucket or or asset within the bucket. It is my understanding that a Blob is a particular item within a bucket and not the bucket itself. You have generated_signed_url available on the [Blob class](htt

[2018-05-07 16:26] jonparrott commented on #5300
Interesting. I actually wasn't aware that it works at the bucket level. You can try using the private [`google.cloud.storage._singing.generate_signed_url`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/_signing.py#L102) directly. If you can confirm that works for your use case, we can add a bucket-level generate signed url method. :)

[2018-05-07 16:27] psalaberria002 commented on #4841
500K pending messages comes from Stackdriver monitoring.

Why does a subscriber return False when calling `future._manager.is_active` then if there are thousands of messages in the subscription? What am I missing?

[2018-05-07 16:30] tseaver commented on #5300
The [Creating Signed URLs with a Program](https://cloud.google.com/storage/docs/access-control/create-signed-urls-program#signing-language) doc has a Python example which shows signing URLs using just ServiceAccountCredentials.  That example should work with bucket URLs, too.

[2018-05-07 16:33] jonparrott commented on #4841
I see. Remember that the client will only pull a limited number of items from the subscription at a time.

I'm not sure, I need more details. Can you maybe enable debug-level logging and share your log with us? Can you share the code you're using for subscribing? Can you see if the future has an exception?

[2018-05-07 20:04] psalaberria002 commented on #4841
I have something like the following. Using 0.34.0.

[code]

After few minutes without messages in the queue, the subscribers get inactive. Sending new messages to the queues does not trigger the subscriber. When I restart or add new instances then new messages flow as expected.

How can I enable DEBUG level logging for the PubSub part?

[2018-05-07 20:28] psalaberria002 commented on #4841
[code]

[2018-05-07 20:37] jonparrott commented on #4841
Thanks, @psalaberria002, this is super helpful. Are you actually seeing this code get executed?:

[code]

If not, what do you see in the logs *after* that stacktrace? (It's actually really helpful you can share your entire log with us, you can use gist.github.com and link to it).

503s should generally be retried automatically, @kir-titievsky would you know what `code 8a75` means? All I can find i

[2018-05-07 20:41] kir-titievsky commented on #4841
Not sure precisely, but they person I would ask has already responded to this [here](https://stackoverflow.com/questions/42638468/google-pubsub-error-code-8a75): it's a please-retry error.

[2018-05-07 20:48] psalaberria002 commented on #4841
@jonparrott you can find the gist [here](https://gist.github.com/psalaberria002/e91956d94e82d706d65da7111a40ca24).

That one starts 2 subscribers. One of them dies quite early, the other one later.

The code does not get executed, so I suspect the exception is not thrown.

[2018-05-07 21:05] psalaberria002 commented on #4841
And the same happens when I use a single subscriber (just wanted to make sure it wasn't related to having more than one). I have added a comment to the gist.

[2018-05-07 21:26] crwilcox opened #5303 "'BackoffFailed' in logging system tests."
System tests for logging are failing like this currently:
[code]

[2018-05-07 21:28] jonparrott commented on #4841
What happens at the end of your log? Does it not log any more and just appears to hang indefinitely or does the program actually exit?

[2018-05-07 21:34] psalaberria002 commented on #4841
It hangs indefinitely. That's the last line of the log.

[2018-05-07 21:42] jonparrott commented on #4841
Hrm, I'm thinking this is a race condition but I am currently unable to reproduce this at all. I'll keep investigating and report back.

[2018-05-07 21:43] psalaberria002 commented on #4841
I let it running for a while, and I got the following error now:

`google.api_core.exceptions.DeadlineExceeded: 504 Deadline Exceeded`

Added an extra comment in the gist with the full output.

Thank you.

[2018-05-07 21:46] psalaberria002 commented on #4841
In case it helps while debugging, I am running it with service account credentials in Kubernetes, using Python3.

[2018-05-07 21:50] sduskis opened #5305 "Bigtable: Read arbitrary rows and sets of ranges"
The Cloud Bigtable API allows users to read multiple ranges and sets of individual keys in a single request.  Currently, read_rows/yield_rows does not expose that capability, but rather exposes a single range.

A user requested the ability to read arbitrary keys.  We should also allow sets of ranges (for now, opened start, closed end).

There is a complicated retry process that happens, and that r

[2018-05-07 21:51] jonparrott commented on #4841
Thanks. I may not be able to debug any further this week, unfortunately, as PyCon is coming up.

[2018-05-07 21:52] jonparrott commented on #4841
Actually, starting a new issue for this.

[2018-05-07 21:52] #4841 closed

[2018-05-07 21:56] theacodes opened #5306 "Subscribe experimental doesn't appear to be retrying on retryable exceptions, also doesn't surface the error."
Full context at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4841#issuecomment-386988007 downwards.

gist with logs: https://gist.github.com/psalaberria002/e91956d94e82d706d65da7111a40ca24

Possible culprits:

1. `send()` and `recv()` expectedly error on `next(self.call)`, but if that was a *retryable* error that somehow re-bubbled, it would not trigger any callbacks.
2. `bidi

[2018-05-07 21:56] jonparrott commented on #4841
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5306

[2018-05-08 08:12] akmalhakimi1991 opened #5308 "Speech: prevent returning English words when user is speaking non-English"
Is there a way to prevent speech to return English words when user is speaking non-English?

[2018-05-08 18:28] edwardfung123 commented on #1763
Hello. Is there any way to work around the 300 entities limit? Is there any documentation about this 300 limit? I searched the library source code and nothing related to this 300 limit. Is it from the server side? To iterating all the entities, what is the best practice? Should we set the limit to `None` or use the `cursor` way?

[2018-05-08 19:55] theacodes opened #5311 "Monitoring alias package is missing new service clients"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/monitoring/google/cloud/monitoring.py is missing the new clients added to https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/monitoring/google/cloud/monitoring_v3/__init__.py

Should be a relatively easy fix.

[2018-05-08 22:13] yiga2 opened #5313 "Logging: parse entries created by bigquery_resource"
`client_logging.list_entries()` on **BigQuery** log entries renders a list of `ProtobufEntry` objects.

Unfortunately there is no documentation on how to read ("unpack" ?) the `payload_pb` property, for instance to retrieve the `jobId`.

Request to extent the documentation beyond retrieving entries that were written to a logger, and include snippets on how-to parse `protoPayload` messages like tho

[2018-05-08 22:50] jmgamboa commented on #5300
@jonparrott so i gave it a try

and the resource i passed the function was the bucket name. it sent back a signed url and assume it worked fine. the issue is, after reading the docs. I dont know what to do with it. Is it ok to assume that

(Not the actual return)

https://storage.googleapis.combucketname-filestorage?GoogleAccessId=bucketname%40tiny-tact-133716.iam.gserviceaccount.com&Expires=15264

[2018-05-09 05:55] anmol1vw13 opened #5314 "Pubsub stops receiving messages"
I have storage as my publisher and a subscriber on the compute engine as the receiver.
Below is the subscriber code that I use.
[code]
After a day or two of the subscriber running, it stops consuming the messages. I have to manually restart it to make it work again.
Please suggest what I am doing wrong.

PS: The data flowing speed into the topic is high during the day and reduces at night.

[2018-05-09 13:10] yiga2 commented on #2674
Unclear if this should be reopened or is a new issue but I get same error when trying to parse a Protobuf payload written by GCP services: `json_format.MessageToJson(payload_pb)`

It seems the only way to consume GCP logging outside of the UI is to export to bigquery sink and query from there. Or is `logging` only meant to work with a `logger` ?

[2018-05-09 15:18] crwilcox commented on #5314
@anmol1vw13 , which version of google-cloud-pubsub are you using? Could you please share the output of `pip freeze`?

[2018-05-09 19:57] Ayiruss opened #5316 "Couldn't transfer file from gcs bucket to local."
I am trying to transfer a large file from gcs bucket to local instance folder but it doesn't work. The file seems to be empty.

gcs = storage.Client()
bucket = gcs.get_bucket(bucket_name)
blob = bucket.blob(blobname)
blob.download_to_filename(os.path.join(app.instance_path, filename))

The same snippet works fine in local. but i couldn't run the same on google app engine. It's a flexible environme

[2018-05-09 20:02] Ayiruss opened #5317 "couldn't upload file size more than 30 MB using"
f = request.files.get('filename')
bucket_name = "bucket_name"
bucket = client.get_bucket(bucket_name)
blobname = uname + "/upload/" + f.filename
blob = bucket.blob(blobname)
blob.upload_from_string(
        f.read(),
       content_type=f.content_type
 )

I am getting the error "413 Request Entity Too Large" and it works fine when i try to run the same in my local.

[2018-05-09 20:37] tseaver commented on #5316
I presume there is no exception being raised here:  the operation completes, but does not write the file data?

Can you please specify:

- The version of `google-cloud-storage` you are using
- The flavor of GAE you use (where the download fails silently, creating an empty file).

@jonparrott Any issues you know of about downloads on GAE?

[2018-05-09 20:38] tseaver commented on #5317
Is this error also only happening on GAE?

[2018-05-09 20:42] tseaver commented on #5300
Per the [`objects.insert` documentation](https://cloud.google.com/storage/docs/json_api/v1/objects/insert), new blobs / objects are created in a bucket via a `POST` to the URL pattern `https://www.googleapis.com/upload/storage/v1/b/<bucket-name>/o`.  It seems that you would need to sign *that* URL, including the `POST` method.

[2018-05-09 20:48] tseaver commented on #2674
@yiga2 Looks like you opened #5313 to track the parsing issue for protobuf payloads.

[2018-05-09 21:30] Ayiruss commented on #5316
I am not using google beta deploy, so I am not able to see the file saved. But when I check whether the file existence status
os.path.exists(os.path.join(app.instance_path', f.filename))

It returns true.

So it creates the file but nothing gets written on the file.

I am getting an exception when i tried to read and process the file. It's actually a video file. When i get a frame out of it and tr

[2018-05-09 21:58] yiga2 commented on #2674
Related but #5313 is to request more documentation whereas here is to report an error with `MessageToJson`.

If the documentation highlights a different method to use, I agree my present comment is not applicable.

[2018-05-10 08:51] shomratalon commented on #5314
I have the same issue, this is my `pip freeze`:

[code]

I upgraded to `google-cloud-pubsub==0.33.1`, but this issue isn't solved yet. My callback is the same (process the data, ack the message).

[2018-05-10 09:32] benbc opened #5318 "logging: Aborted (409) errors from StackDriver log API"
We see unexplained errors from the StackDriver API from time-to-time.

They are reported from the client library as

    google.api_core.exceptions.Aborted: 409 The operation was aborted.

We are using `google-cloud-logging==1.6.0` with Python 3.6 on Ubuntu.

Here is a sample stacktrace:

    /tmp/tmp.GlCRmiNEDr/lib/python3.6/site-packages/google/api_core/page_iterator.py:199: in _items_iter

[2018-05-10 16:17] tseaver commented on #5318
Can you provide the full traceback, so that we can see the library method actually being called?

[2018-05-10 19:08] tseaver commented on #5318
@iyanhui1228 can you please look at why the retry would be failing for `Client.list_entries()`?

[2018-05-10 19:33] tseaver commented on #2674
@yiga2 `json_format.MessageToJson` is defined in the [`protobuf` package](https://github.com/google/protobuf):  please [report issues](https://github.com/google/protobuf/issues/new) with formatting your particular message type there (I see a couple of open issues related to that function already).

[2018-05-10 19:38] tseaver commented on #5313
@yiga2 We don't have any visibility here as to what kind of message has been passed by the originator as the `proto_payload` (gRPC) or `protoPayload` (HTTP):  handling them requires knowledge of the protobuf message schema.  Can you point to docs for the entries you are trying to parse?

[2018-05-10 21:53] yiga2 commented on #5313
Understood. I have a hard time getting the `list_entries` as expected for the below - no issue using the API (explorer) but here how to reproduce.
To get the log entries from biquery (used https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/simple_app.py):
[code]
then here to retrieve the log entries (I am project owner)
[code]
`res` should return the job_c

[2018-05-10 23:36] jaredwa commented on #3947
I have this same problem, and it's really frustrating. Also, @lukesneeringer  - seriously? Do you think everyone who posts here is an idiot? OBVIOUSLY anyone who had this issue would start by checking that it wasn't too long. Mine are limited at 35 seconds and it fails... maybe 45% of the time. Please stop closing stuff because you lack human logic.

[2018-05-11 09:01] nimeshneema commented on #3884
@rahul6612 Please be conscious of your language and show respect to the community. I have already reported abuse to GitHub for your user account.

[2018-05-11 16:34] jmgamboa commented on #5300
@tseaver ah yeah. thanks.  just passing the /<bucket-name>/ to the generate_signed_url function did not suffice.

Just an update.
I believe I have a correct signed url given tseavers feedback. At least I am getting errors from the xml api about required fields. Once I finally get an upload successful, I will confirm here.
 Also a side note, resumable uploading is only supported via xml api :(

[2018-05-11 20:53] theacodes commented on #5314
Hi there, please try using the `subscribe_experimental` function present in pubsub `0.34.0`.  This will soon become the default behavior in 0.35.0 and it resolves several issues with streaming pull. If you're still experiencing issues after that, let us know and we'll re-open.

[2018-05-11 20:54] theacodes commented on #5316
@tseaver no limit as far as I know for GAE flex <-> GCE.

@Ayiruss how large is the file? If you turn on debug-level logging, does anything useful get logged? If so, could you share that with us?

[2018-05-12 23:06] VenturaAtDD opened #5322 "Stackdriver Logging payload_pb unreadable"
I am using Python3 (google-cloud-logging (1.4.0)) to query Stackdriver for GCP logs. Unfortunately, the log entries that have important data are returned to me as "NoneType" instead of as a "dict" or a "str". The resulting "entry.payload" is type "None" and the "entry.payload_pb" has the data I want, but it is garbled (most other log entries are readable and present in "entry.payload").

When I us

[2018-05-13 07:26] le-koj opened #5323 "cloudstorage"
I have read and implemented several solution to fix this issue on my local machine, and all resulted in the same error response. Now I am executing my code in GOOGLE CLOUD SHELL, which is suppose to have google-cloud pre-install, yet I am still receiving the same errors. PLEASE HELP!!!

python version - python2.7

## this is the import script
`from google.cloud import storage`

## this is the trac

[2018-05-13 10:54] anmol1vw13 commented on #5314
Sorry for the delayed response.
pip freeze:
acme==0.14.2
Babel==1.3
beautifulsoup4==4.4.1
boto==2.38.0
cachetools==2.0.1
certbot==0.14.2
certbot-apache==0.14.2
certifi==2018.1.18
chardet==3.0.4
ConfigArgParse==0.11.0
configobj==5.0.6
crcmod==1.7
cryptography==1.7.1
dnspython==1.15.0
docutils==0.12
enum34==1.1.2
feedparser==5.1.3
funcsigs==0.4
futures==3.2.0
gdata==2.0.18
google-api-core==0.1.4
goo

[2018-05-13 11:07] shomratalon commented on #5314
Hi, getting an exception with 0.34.0:
[code]
I think it's the CleanupThread.

Created a script to reproduce:

1. Create topic
2. Insert message to it.
3. Create subscription.
4. Start subscribe.
5. Get exception (CleanupThread in _channel -> grpc package).

[code]

[2018-05-13 11:15] anmol1vw13 commented on #5314
@theacodes What I've done is replace subscriber.subscribe(...) with subscriber.subscribe_experimental(...).
Is that correct? I didn't find any exception while running it.
Btw, could you tell me what's different between subscribe and subscribe_experimental? I mean what in subscriber() was causing it to stop!

[2018-05-13 16:08] anmol1vw13 commented on #5314
@theacodes @crwilcox Please reopen the issue.  Below is the part of the code which has subscriber.subscribe changed to subscriber.subscribe_experimental.

The script this time, stopped after just a few hours. I had to restart it to get it to start working.
Need your help to figure this out.
`def receive_messages_with_flow_control(project, subscription_name):
    """Receives messages from a pull su

[2018-05-13 17:46] crwilcox commented on #5314
@anmol1vw13 sorry for the delay. Both @theacodes and myself are at PyCon US so responses may be a bit more asynchronous than normal.

Thanks for trying out the experimental method. As @theacodes said, that is the future implementation so figuring out how that implementation works would be very beneficial to us and hopefully other users.

Could you describe what you mean by 'it stopped'? Is the pro

[2018-05-13 18:15] anmol1vw13 commented on #5314
@crwilcox Thanks for the response. Badly need it.

The process is still alive but there are unprocessed messages left.
If you could help me in getting the process killed when the messages stop being consumed, that would do too. I say this because, I have a cron which restarts the process if the process isn't alive.

[2018-05-13 18:25] anmol1vw13 commented on #5314
I haven't put any logger.debug statements in my code. All my logs are of info level. Would debug level logs do any good?

[2018-05-13 18:29] theacodes commented on #5314
Yes, the subscriber does a significant amount of logging specifically to
help in this case.

On Sun, May 13, 2018, 2:25 PM anmol1vw13 <notifications@github.com> wrote:

[2018-05-13 18:34] anmol1vw13 commented on #5314
PFB, the logger code I had written. I changed the logging level to debug but it still isn't giving the subscriber logs in.
This project was the first time I put logging into a python code. Prior to that I mostly used print statements.
Please let me know where I am wrong.
[code]

[2018-05-13 18:36] theacodes commented on #5314
You may need to config the root logger. Please try logging.basicConfig.

On Sun, May 13, 2018, 2:34 PM anmol1vw13 <notifications@github.com> wrote:

[2018-05-13 19:11] anmol1vw13 commented on #5314
So, I have got the debug logging working and yes, the subscriber logs are coming in. But, it stops arbitrarily in a few hours and I don't know how to notify myself when that happens. If I could know that, I might as well could kill the process :)
Do you have an idea of how that could be done?
If not, I'll check up on it after a few hours.

[2018-05-13 20:29] anmol1vw13 commented on #5314
It stopped.
The logs: https://gist.github.com/anmol1vw13/eea5d5a8a15798e2d5221a67adb444b0

[2018-05-14 02:42] theacodes commented on #5314
Thanks, @anmol1vw13. Your logs confirm this is a duplicate of #5306. I'm closing this - you can follow the progress of the fix over there.

[2018-05-14 02:42] #5314 closed

[2018-05-14 04:28] anmol1vw13 commented on #5306
Can anyone tell me how I can auto kill the subscriber in case this happens? I mean, coz, restarting the process works, killing it incase such event happens and starting it will do the trick!
Just need to know how does my code know that this exception arouse.

[2018-05-14 04:36] theacodes commented on #5306
As noted above, the core issue here is that the lower-level code *is not* surfacing this error in a way that can be handled by the user. There is no workaround for now. When this is fixed, the `future` will appropriate raise the exception.

[2018-05-14 05:00] shadiakiki1986 opened #5324 "translate: documentation of python API client to show the "source_language" argument"
The python API client features a "source_language" argument in the "translate" function.
I found out about it by going to the python code.
It shows up in the documentation under [REST reference](https://cloud.google.com/translate/docs/reference/translate) as `source`, but not in the [python example](https://cloud.google.com/translate/docs/reference/translate).

[2018-05-14 06:02] u2takey commented on #3485
@lukesneeringer same problem with @arycloud `AttributeError:'google.protobuf.pyext._message.RepeatedCompositeCo' object has no attribute 'DESCRIPTOR'`

[2018-05-14 11:12] shomratalon opened #5325 "Exception in subscribe_experimental - google cloud pubsub 0.34.0"
Hi, getting an exception in 0.34.0:

[code]
I think it's the CleanupThread.

Created a script to reproduce:

1.  Create topic
2. Insert message to it.
3. Create subscription.
4. Start subscribe.
5. Get exception (CleanupThread in _channel -> grpc package).

[code]

Rest of the information:

[code]

[2018-05-14 18:03] michaelsafyan opened #5326 "Please restore "google.cloud.monitoring.Client'"
I understand that this code was hand-generated. Rather than deleting this code, though, it would be ideal if its creation were simply automated. Breaking existing code that references this library is not ideal.

Code that previously used:
`from google.cloud import monitoring

client = monitoring.Client()
# ...
`

... shouldn't be broken when upgrading to newer versions. Ideally, the definition of

[2018-05-14 18:31] theacodes commented on #5326
Hi @michaelsafyan, unfortunately, we can't commit to stable interfaces until v1.0.0

 The whole purpose of this change was to make it much easier for us to make the monitoring library v1.0.0. I understand this isn't ideal, but we have to make sure that the code we take to v1.0.0 is something we're ready to commit to.

I *highly* recommend that you pin your package versions, especially before v1.0.

[2018-05-14 18:31] #5326 closed

[2018-05-15 04:14] ncouture commented on #3103
#4513 (Firebase/Firestore listen/watch/server-side events) brought me here as it seems like a good candidate for using asyncio;

@lukesneeringer should there be medium or long-term plans for using asyncio in google-cloud-python?

[2018-05-15 06:01] theacodes commented on #3103
There really isn't a feasible way for us to support asyncio until we can drop Python 2 support.

[2018-05-15 06:01] graingert commented on #3103
You can support twisted and that works with asyncio

On Tue, 15 May 2018, 07:01 Thea Flowers, <notifications@github.com> wrote:

[2018-05-15 06:05] theacodes commented on #3103
Supporting twisted is essentially removing our entire underlying transport and replacing it, not to mention replacing all of the layers above that with async layers. That doesn't even get into grpc. It's just not feasible while we still have to support Python 2.

I would love to be pushing the edge of the boundaries here, but it's really not commercially viable for us to drop Python 2, re-architec

[2018-05-15 09:25] ravi133 commented on #2366
no module name error : google not found even after installing it from pip command. do i need to do the authentication process before import

[2018-05-15 09:55] talonx opened #5327 "Documentation not updated?"
Your documentation link points to https://google-cloud-python.readthedocs.io/en/latest/monitoring/index.html . The Stackdriver examples there do not work with 0.29.0. Specifically, I am looking for API documentation/examples for fetching time series data for Stackdriver agent metrics.

Elsewhere, I have run into cases where the documentation is marked as Alpha whereas the product is marked as beta

[2018-05-15 11:41] anmol1vw13 commented on #5306
@theacodes Any update on this? It's stopping every 2 hours now. Very weird. Could you explain the meaning of the log? I just couldn't understand it as to why it's happening. I'm curious
The log:
[code]

[2018-05-15 15:10] bencaine1 opened #5328 "Document _AsyncJob in BigQuery documentation"
_AsyncJob contains several important properties, e.g. the errors property, but it does not show up in the python documentation at https://google-cloud-python.readthedocs.io/en/latest/bigquery/reference.html and is only visible if you look at the source code. It would be great if it were visible on the documentation page!

[2018-05-15 15:37] eavaria opened #5329 "General - google-api-core dependency is out of date."
If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

OS: `Linux localhost 4.13.0-38-generic #43-Ubuntu SMP Wed Mar 14 15:20:44 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`
Python: `Python 3.6.3`

[code]

When using `pipenv` to manage dependencies, the following `Pipfile`:

[code]

It gives the following ou

[2018-05-15 19:13] anmol1vw13 commented on #5306
I find `subscriber` in **0.32.0** more stable than `subscriber_experimental` in **0.34.0**. That stops too, but it happens after a day or two not unlike `subscriber_experimental` which goes offline every two hours.

[2018-05-15 20:30] nick-jonas commented on #5175
I'm getting a similar issue for both ```model``` and ```use_enhanced```:

[code]

Python v3.5.3
google-cloud-speech==0.34.0
googleapis-common-protos==1.5.3

Data logging is enabled on the project, and my ~/.profile has exported my service account creds:

```export GOOGLE_APPLICATION_CREDENTIALS="/home/pi/dev/xxxxxxxxxxxxxxxxxxxxx.json"```

[2018-05-15 20:34] crwilcox commented on #5329
Hi @eavaria, Thanks for the feedback. We are in the process of deprecating the `google-cloud` package as we think it is better to install the specific library you wish to use. For your case I believe that is `google-cloud-bigquery`.

[2018-05-15 21:01] nick-jonas commented on #5175
Ah it works when importing ```google.cloud.speech_v1p1beta1``` instead of ```google.cloud.speech```

[2018-05-16 06:04] michaelsafyan commented on #5326
We have pinned package versions, but we need new functionality added in later versions; it's a little unfortunate that the upgrade involves rewriting existing code so significantly; we are ending up creating our own "Client" class in our code that wraps this interface to make it less breaking. It would have been better to leave the "Client" as-is and to make the means of contribution to the hand-w

[2018-05-16 06:05] michaelsafyan commented on #5326
I understand that <1.0 isn't stable, but it seems like this is putting implementation before interface and choosing a less ideal API to make it easier to implement, rather than picking the interface, first, and then figuring out how to manage implementation better. This new approach is significantly less usable.

[2018-05-16 14:01] asshatter opened #5332 "vision : Parse Error"
I am getting this exception while uploading one specific file.

[code]

[2018-05-16 17:38] tseaver commented on #5322
`ProtobufEntry.payload_pb` is an instance of `google.protobuf.any_pb2.Any`.  Per the [protobuf docs](https://developers.google.com/protocol-buffers/docs/reference/python-generated#any), you can unpack it into a known message type via:

[code]

[2018-05-16 17:38] #5322 closed

[2018-05-16 17:42] tseaver commented on #5322
For reference, here are the [docs for the `AuditLog` message](https://cloud.google.com/logging/docs/reference/audit/auditlog/rest/Shared.Types/AuditLog).

[2018-05-16 17:44] tseaver commented on #5313
@yiga2 I've found the [docs for the `AuditLog` message type](https://cloud.google.com/logging/docs/audit/api/ref/rest/Shared.Types/AuditLog).

[2018-05-16 17:56] tseaver commented on #5324
Thanks for the report.  It looks like the [API docs](http://google-cloud-python.readthedocs.io/en/latest/translate/client.html) for the `google.cloud.translate_v2.client.Client` class are not being linked in to the [usage docs for this library](http://google-cloud-python.readthedocs.io/en/latest/translate/usage.html).  The API docs *do* show the `source_language` parameter to `Client.translate`.

[2018-05-16 18:01] tseaver commented on #5327
@talonx Thanks for the report!

For the record, `google.cloud.monitoring` *is* [still in alpha status](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/monitoring-0.29.0/monitoring/setup.py#L30) as of the 0.29.0 release.

[2018-05-16 18:07] #5329 closed

[2018-05-16 18:09] tseaver commented on #5332
@asshatter Can you please provide a snippet of the code which provokes this error, and the full traceback?

[2018-05-16 18:20] theacodes commented on #5324
/cc @dizcology @beccca

[2018-05-16 18:43] tseaver opened #5334 "Generate code from Firestore testing proto"
@jba has defined a great set of [conformance tests](https://github.com/GoogleCloudPlatform/google-cloud-common/tree/master/testing/firestore) for Firestore.  Parsing them requires generating code from his [.proto file](https://github.com/GoogleCloudPlatform/google-cloud-common/blob/master/testing/firestore/proto/test.proto), which doesn't work for me:

[code]

[2018-05-16 19:32] tswast commented on #5328
+1 to showing inherited members and not documenting a private base class.

[2018-05-16 20:13] khieu opened #5335 "paginate through queries"
I want to run a paginate query through bigquery client. However, it doesn't seem to be possible as `QueryJob` results function does not take `max_results` or ` page_token` to pass down to `list_rows` call. I want to ask if there's a way to run a paginate query with this BigQuery Client ?

Thank you.

[2018-05-16 21:11] tseaver commented on #5334
After switching to use `protoc-3.5.1` (which has the `php_namespace` support), the code generation itself completes without errors.  However, imports within it fail:

[code]

[2018-05-16 21:18] SurferJeffAtGoogle opened #5338 "Intellisense does not see all the names in monitoring_v3."
I'm using the monitoring_v3 0.29.0 API.  Visual Studio Code cannot see all the names in the namespace:
![image](https://user-images.githubusercontent.com/11778530/40144507-c216a72e-5913-11e8-99ef-263323391f17.png)

Despite the fact that they exist:
[code]

Specifically, I'm looking for the TimeSeries type.

[2018-05-16 21:30] tswast commented on #5335
The BigQuery client library automatically paginates through all pages automatically. You do not need to supply a `page_token` parameter.

[2018-05-16 21:30] #5335 closed

[2018-05-16 21:31] tswast commented on #5335
P.S. It's a generator, so you can loop through the rows without creating a complete list if you are concerned about them fitting in memory.

[2018-05-16 21:44] theacodes commented on #5334
@lukesneeringer @jba can you take a look?

[2018-05-16 23:27] Xiangju commented on #2990
Thanks for @farridav.  Your solution works for me to create virtual environment (as a replacement for Anaconda3/4.4.0 due to the issue) on HPC server for my account.

[2018-05-17 03:40] anmol1vw13 commented on #5314
@theacodes I'm not using `subscriber_experimental` coz it's not very stable right now but would continue to use `subscriber` present in 0.32.0.
All I want to know is, when `subscriber` stops it gives out the following in the logs. How should I handle it, so I'm able to restart the subscriber?

[code]

[2018-05-17 06:42] asshatter commented on #5332
Sure, Here's the full traceback

[code]

[2018-05-17 06:59] asshatter commented on #5332
I'm using this URL to make a post request and formatting it to dictionary for a faster response :
https://vision.googleapis.com/v1p1beta1/images:annotate?key=<API KEY>

[2018-05-17 07:07] asshatter commented on #5332
I'm sorry it was my issue. Apparently I was using BatchAnnotateImagesResponse object from v1 module instead of v1p1beta1. Closing this issue.

[2018-05-17 07:07] #5332 closed

[2018-05-17 11:27] anmol1vw13 commented on #5314
@theacodes @crwilcox Anything on this?

[2018-05-17 15:46] tseaver commented on #5332
@asshatter Any reason why you are doing a manual HTTP POST to the endpoint, rather than using the `google.cloud.vision_*.ImageAnnotatorClient`?

[2018-05-17 15:55] tseaver commented on #5332
E.g., from the [docs](https://google-cloud-python.readthedocs.io/en/latest/vision/index.html):

[code]
Based on your call path above, you might want the [`document_text_detection` method](https://google-cloud-python.readthedocs.io/en/latest/vision/gapic/v1/api.html#google.cloud.vision_v1.ImageAnnotatorClient.document_text_detection)

[code]

[2018-05-17 16:52] Nycroth opened #5341 "pubsub ImportError on MLEngine"
When using the Python google-cloud-pubsub library within the Google Cloud ML Engine v1.7 runtime utilizing Python 3.5, attempting to import the library results in a module not found error. This ticket follows up on an issue opened with Google Cloud Support (Case#15774813) which has been passed along to the ML Engine team as far as I was told.

Notably, not all versions of the library are affected.

[2018-05-17 16:59] tseaver commented on #5341
I'm afraid I don't know enough about MLEngine to diagnose this one.  @theacodes can you loop the appropriate person in?

[2018-05-17 18:26] tseaver commented on #4608
@kir-titievsky, @theacodes We currently test for an overflow of the message count *after* appending the message in `publisher.batch.thread.Batch.publish`.  I think the "overflow" logic needs to be normalized for both `max_bytes` and `max_messages`:

- First, remove exceptions for individual messages exceeding `max_bytes` in both `publisher.batch.base.Batch.will_accept` or in `publisher.client.Clie

[2018-05-17 22:56] jba commented on #5334
Are you using the [Makefile](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/firestore/Makefile)?

[2018-05-17 23:28] tseaver commented on #5334
@jba I didn't realize it was in this repo.  It is a little specific to your machine, though. :)

[2018-05-17 23:34] tseaver commented on #5334
That was enough hint to get a new version generated, after hacking around a bit on the Makefile and then discarding my changes.

[2018-05-17 23:34] #5334 closed

[2018-05-18 06:09] allsyed opened #5344 "Snippet in documentation is not correct."
Code snippet on [PubSub index page](https://google-cloud-python.readthedocs.io/en/latest/pubsub/index.html#subscribing):

[code]
But, subscribe returns a `Policy` instance not `future`.

[code]

Is more appropriate

[2018-05-18 06:56] HaHatake commented on #4928
I also encountered the error "Long-running operation had neither response nor error set"
Is this session timeout ?

[2018-05-18 15:35] SurferJeffAtGoogle commented on #5338
Still coping with this today.  It makes calling these APIs at least twice as hard as it would otherwise be.

[2018-05-18 15:50] Shoshin23 commented on #1187
Hi,
I'm still facing this issue while trying to create an executable out of my current python programme that uses cloud vision but am unable to do so as i get this very same error. Any workarounds?

[2018-05-18 18:09] tseaver commented on #5344
@allsyed The docs for the `/latest` tree track the master branch, where `subscribe` *does* [return a future](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4cea94970a13590f9b79ecc278606e72ff529c8e/pubsub/google/cloud/pubsub_v1/subscriber/client.py#L170-L174) since 0da12f692070258b652d8a807a5f00c44bdbe618.

[2018-05-18 18:09] #5344 closed

[2018-05-18 18:21] tseaver opened #5347 "Release 'error_reporting-0.30.0'"
PR #5345 fixes the incompatibility of `0.29.1` with the current `logging-1.6.0` release.

[2018-05-19 03:34] anmol1vw13 commented on #5314
@crwilcox Where should this be checked? In the while loop that I have.(I have given the sample code above)
Could you provide me with an example of how it must be used.
Also, is there any other way? subscriber_experimental isn't reliable.

[2018-05-19 04:40] jl-DaDar opened #5348 "better proxy support for users in China?"
I am trying to access google cloud services in China, and it is very painful to do so at the moment.
right now I am using REST with requests.get/post with proxy but I have to manually reconstruct the REST request. I can't change the global proxy env setting as I have other local Chinese services to call.
Can you please add proxy support into the python google cloud client?

Thanks.

[2018-05-21 10:10] benbc commented on #5318
In case this is useful information: we are calling the StackDriver API from code running on AWS EC2 instances (where our build agents run).

[2018-05-21 10:40] stefano9-4 opened #5349 "google.api_core.exceptions.ServiceUnavailable: 503 Getting metadata from plugin failed with error: 'str' object has no attribute 'before_request'"
I'm trying to iterate through images in a directory and get their labels through goodle_api_vision. This is my code:

    def run_quickstart():
    import io
    import os
    import cv2
    import numpy as np
    from google.cloud import vision
    from google.cloud.vision import types

    client = vision.ImageAnnotatorClient(credentials = 'service_acc_key.json')

    path = 'E:\wrand\\'
    for

[2018-05-21 12:33] pascaldelange commented on #3191
Hi,
I just wanted to post here because this answer was hugely useful for me as well, and I did not find this in any of the regular apache beam tutos.
In fact, I first saw the "start_bundle" method mentioned here, and then had to look into the source code to see how it works. Since it is seems to be a quite important method, it would maybe be nice to have it mentioned more explicitly in the doc.

[2018-05-21 15:56] theacodes commented on #5349
@stefano9-4 unfortunately you can't just pass a string directly as the `credentials` argument (although perhaps we should make it where you can), you should do this instead:

[code]

[2018-05-21 15:56] #5349 closed

[2018-05-21 16:14] Ayiruss commented on #5316
Sure. I tried files with 25MB, 100MB and 500MB. I got the same issue all the time.

This is the error I am getting

SystemExit: 1

        at handle_abort (/env/lib/python3.6/site-packages/gunicorn/workers/base.py:192)
        at analyzeUpload (/home/vmagent/app/main.py:223)

[2018-05-21 16:16] theacodes commented on #5341
@puneith can you help us out?

[2018-05-21 16:25] theacodes commented on #5338
Absolutely, I would. :)

[2018-05-21 16:27] #4608 closed

[2018-05-21 16:43] theacodes opened #5350 "Pub/Sub should send streaming pull requests over unary RPCs"

[2018-05-21 21:19] Avantol13 opened #5353 "General: v0.33.0 pip install fails"
In a fresh Python v2.7.12 virtualenv on linux:
[code]

Results in:
[code]

Note:
[code]
works fine.

I believe it has to do with recent changes: https://github.com/GoogleCloudPlatform/google-cloud-python/commit/71e5d4bf94745580834b86c3e92ac4186c3115c0

[2018-05-22 02:56] danoscarmike opened #5357 "Redis Client Reference Docs 404"
Link from [Redis README](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/redis/README.rst) to API client reference documentation (https://googlecloudplatform.github.io/google-cloud-python/stable/redis/usage.html) does not resolve (404).

[2018-05-22 05:47] bartaelterman commented on #5353
We have the same on Python 3.6

[2018-05-22 09:04] stefano9-4 opened #5359 "TypeError: get() expected a dict or protobuf message, got <class 'PIL.PngImagePlugin.PngImageFile'>."
I'm trying to add salt and pepper noise to an image in order to make it miss-classify by google's cloud vision. My problem is that I wrote the noise method without keeping in mind what google's input should be :/

For handling the image in the noise method I used PIL but now, from what i can see from the error I should, in some way, cast it to another type. My question is which one? How?

Here I p

[2018-05-22 10:45] joergrech commented on #5353
I got this problem on Amazon EMR - it looks like the archive was changed yesterday at 10:30 am and something broke (maybe just the file "setup-README.rst" is missing?):
[code]

If this is already patched: can you tell how long it will take to be distributed to the repository in "files.pythonhosted.org" and picked up by Amazon EMR?

[2018-05-22 12:11] nkhumphreys opened #5361 "pip install google-cloud fails on OS X"
Installing the latest google-cloud on OS X (10.13.3 High Sierra) fails:

[code]

pip version:

[code]

NOTE: Installing 0.32.0 installs successfully.

[2018-05-22 12:16] nkhumphreys commented on #5361
My apologies, I missed #5353

Closing this as a duplicate

[2018-05-22 12:16] #5361 closed

[2018-05-22 16:54] tseaver commented on #5353
The `google-cloud` umbrella package is deprecated, and will (after 2018-06-18) no longer actually have any of the API libraries as dependencies.  Please just install the API library / libraries you actually need, e.g.:

[code]

[2018-05-22 16:55] tseaver commented on #5353
@crwilcox We likely *do* need to get the `MANIFEST.in` fixed for the umbrella package, so that it picks up the `legacy/*` files needed.

[2018-05-22 16:57] tseaver commented on #5357
Looks to me as though the CI docs build / publish isn't working (we have other docs bugs open which are likely symptoms of the same problem).

[2018-05-22 18:19] theacodes opened #5362 "Fix Failing BigTable System tests"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6646

[2018-05-22 18:21] theacodes commented on #5357
https://github.com/rtfd/readthedocs.org/issues/4127

[2018-05-22 18:28] theacodes commented on #5357
Redis docs *do* need to be symlinked into the top-level /docs directory.

[2018-05-22 19:37] eiva commented on #5353
Python 3.4, 3.5 also failing.
mrjsob also not working. Thanks Google!

[2018-05-22 20:04] tswast commented on #5328
Closed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5340 which does include inherited members in the class documentation.

[2018-05-22 20:04] #5328 closed

[2018-05-22 20:07] crwilcox commented on #5353
@tseaver you are correct. I will patch this today. This shouldn't be failing.

[2018-05-22 20:08] kerighan commented on #5196
Same problem for me. I can only get one worker to work with about the same code as yours.

[2018-05-22 20:17] #5353 closed

[2018-05-22 20:19] crwilcox commented on #5353
Thanks to @Avantol13  for reporting this. And thank you to the others for including additional information. The issue was that a file was not included in the manifest (`setup-README.rst`) and this caused the package to fail to install.

A patch version is up that resolves this install issue now as 0.33.1 -> https://pypi.org/project/google-cloud/

Also, note that in around a month this package will

[2018-05-22 20:26] crwilcox commented on #5357
It seems maybe our template for the README needs to be updated to use ReadTheDocs links. That said,
http://google-cloud-python.readthedocs.io/en/latest/ should have it but redis isn't there either.

[2018-05-22 22:46] #5347 closed

[2018-05-23 02:16] Avantol13 commented on #5353
Thanks for the quick fix @crwilcox

[2018-05-23 06:38] james-woods commented on #5196
@theacodes how should I reopen?

[2018-05-23 14:46] anmol1vw13 commented on #5314
@crwilcox @theacodes Please help me out people?

[2018-05-23 15:47] theacodes commented on #5196
This is due to known, unchangeable behavior in the way gRPC handles message buffers. I'm working on providing documentation that describes exactly how this occurs and ways to mitigate it.

[2018-05-23 16:33] crwilcox commented on #5362
I think this is related to the merge #5302 as it was a pretty large scale modification.

[2018-05-23 17:57] theacodes commented on #4914
With #5124 in and after talking to the product team - you must call `result` on the future if you care ab out publishing failures. Closing this.

[2018-05-23 17:57] #4914 closed

[2018-05-23 18:13] brunoais commented on #4914
@theacodes And for not having the logs appearing for the ones where `.result()` is called, how to do?

[2018-05-23 18:15] theacodes commented on #4914
@brunoais are you asking how to configure the logging so that it doesn't show the exception if you are calling `result()`? There's no way for us to know at exception time if you're going to call result or not. You can silence logging for that entire module if you want.

[2018-05-23 18:18] gcbirzan commented on #4914
Wait, I'm confused. You're logging the error correctly now? Your reason for closing it implies that you're not logging and we have to...

[2018-05-23 18:29] brunoais commented on #4914
Why can't we just set a flag parameter in the PubSub client so that the messages created using that instance do not log?

[2018-05-23 19:51] Diyago opened #5376 "Cant get access to google bucket Invalid string value: 'noAcl:'. Allowed values: [full, noacl]"
I have created google cloud virtual image first

1. Google bucket
2. Ububtu LTS 16.+
3. Python 3.6.4 :: Anaconda, Inc
4.
[code]
5.

[code]

6. Steps to reproduce

[code]

Traceback  sometimes returns this:

[code]

After owner added access to my profile, then other error

[code]

PS. Running same code through local PC returns error:

DefaultCredentialsError: Could not automatically determine crede

[2018-05-23 20:14] Diyago commented on #5376
![image](https://user-images.githubusercontent.com/8073766/40448733-0db94864-5edf-11e8-8483-5a4e89558989.png)
Read access given to all users

[2018-05-23 20:15] javdrher commented on #5306
Hi @theacodes thank you very much. I understand the beta state, thanks for the links. I'm looking forward to test the latest updates.

[2018-05-23 21:11] Diyago commented on #5376
Definitely the execution of `gcloud auth application-default login` instead of `gcloud auth login` solved this 403 issue for me

But I dont know why

[2018-05-23 21:11] #5376 closed

[2018-05-23 21:14] theacodes commented on #4984
Hi there, this is part of fundamental limitations of pubsub's streaming implementation. For more details and for potential solutions, see https://cloud.google.com/pubsub/docs/pull#streamingpull.

[2018-05-23 21:14] #4984 closed

[2018-05-23 21:20] theacodes commented on #4914
I mean, that's certainly possible to add but that seems like we're papering over something. What is the concrete use case for that sort of behavior?

[2018-05-23 22:20] #5350 closed

[2018-05-23 22:53] puneith commented on #5341
@tseaver How are you installing the google-cloud-pubsub library on Cloud ML Engine?

[2018-05-23 22:57] crwilcox commented on #5362
Currently the system tests for BigTable are failing. It appears this as a result of the recent rewrite/regen of the library.

@aneepct, do you want to take a look at these? The tests failing are all in `/bigtable/tests/system.py` and currently marked with `xfail`

[2018-05-24 03:18] pnatraj opened #5384 "logging: User does not have permission to access organization"
I am trying to create a sink to monitor VPC_FLOW LOGS for all the projects in an organization and i am getting permission denied, has anybody else have a similar issue ?. Error is clear that it's permissiond denied but what permission do i need to create this ?

Environment: I am logging with somebody@domainname.com (gsuite user)

From Command Line:
gcloud beta logging sinks create somesinknameher

[2018-05-24 04:59] danoscarmike commented on #5357
Next steps here? We're blocked on inserting links from cloud.google.com.

@crwilcox #5358 links out to PyPI (I just followed suit, but I agree it would be more meaningful to link to reference docs or both).

[2018-05-24 07:47] gcbirzan commented on #4914
The correct way to handle that is to have the topic always there. If you
don't have a subscription on a topic, messages are discarded.

On 24 May 2018 at 10:27, brunoais <notifications@github.com> wrote:

--
George-Cristian Bîrzan

[2018-05-24 07:51] brunoais commented on #4914
I see.... Alright then. We'll try like that.

[2018-05-24 17:37] shollyman commented on #5241
Added in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/538

[2018-05-24 17:37] #5241 closed

[2018-05-24 17:38] shollyman commented on #5241
5382 that is.
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5382

[2018-05-25 00:01] ludwigschubert opened #5388 "Storage: Blob.exists() does not work within Batch context"
The `Blob.exists()` method does not work when run within a Batch context. The normal behavior of `exists()` is to return True unless a `NotFound` exception occurs. Within the Batch context the exception seems to be suppressed and the function returns True. After leaving the Batch context, an Exception is then thrown.

This is how I expected to be able to use the `exists()` function:

[code]

Witho

[2018-05-25 01:33] ji-han opened #5389 "Spanner: timeout for streaming reads is 60 seconds"
It seems that the timeout for streaming read operations from Spanner is set to 60 seconds by the Python client. It wasn't clear to me if this was intentional, since the configuration here has `timeout_millis` for `StreamingRead` set to `3600000`: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/26f1a97ec06b5c48df7a3c9eec00ae3985657164/spanner/google/cloud/spanner_v1/gapic/spanner_cl

[2018-05-25 09:24] jam182 opened #5391 "please delete me"
please delete

[2018-05-25 09:25] #5391 closed, assigned to jam182

[2018-05-25 09:56] jam182 opened #5392 "PubSub: Subscriber does not propagate exception to main thread:"
pubsub v0.34.0

Subscriber type: `subscribe_experimental`

# Issue
The following error usually only happens when trying to send a `ack()` or `nack()`:

[code]

Unfortunately the exception is only printed, but not propagated to the `future`, so the child thread dies, while the subscriber looks healthy. But it's indeed not pulling messages anymore.

# Context
When we see this happening, (or around t

[2018-05-25 11:42] EvilPatick commented on #3884
[https://i.imgur.com/9gVCeH7.png](url)

[2018-05-25 14:37] sduskis commented on #4660
zakons@: Can we close this?

[2018-05-25 14:39] sduskis commented on #4468
@zakons: can this be closed?

[2018-05-25 15:25] krelst commented on #4994
Copying in this issue as I requested the same feature in that issue: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4141

[2018-05-25 15:55] theacodes commented on #5392
Hi there. I believe we fixed this in 0.35.0, can you try it with that?

On Fri, May 25, 2018, 2:56 AM Daniele Giancola <notifications@github.com>
wrote:

[2018-05-25 16:20] melissachang opened #5393 "Provide wheels for googleapis-common-protos==1.5.3, google-apitools==0.5.21"
While attempting to deploy this [AWS Lambda](https://github.com/HumanCellAtlas/data-store/tree/master/daemons/dss-sync), I get:
[code]

http://chalice.readthedocs.io/en/latest/topics/packaging.html says: "Specifically all pure python packages as well as all packages that upload wheel files for the manylinux1_x86_64 platform will be automatically installable."

So it appears that googleapis-common-

[2018-05-25 16:23] mbrukman commented on #5305
@sduskis: s/BigTable/Bigtable/ in the title, please. 😄

[2018-05-25 17:57] tseaver commented on #5393
@melissachang Unfortunately, those projects aren't managed here.  Please create issues in their respective trackers:

- https://github.com/googleapis/googleapis
- https://github.com/google/apitools

Note that both `googleapis-common-protos` and `google-apitools` **are** both pure-Python distributions AFAICT.

[2018-05-25 17:57] #5393 closed

[2018-05-25 18:19] theacodes commented on #5393
/cc @lukesneeringer for the googleapis-common-protos

Also keep in mind apitools is *not* supported at all.

[2018-05-25 19:13] tseaver commented on #5341
@puneith I'm not:  @Nycroth is the OP.

[2018-05-25 19:20] tseaver commented on #5384
@pnatraj Unfortunately, the `gcloud` CLI is not part of the `google-cloud-*` python libraries.  Please report this issue to the [Cloud SDK issue tracker](https://issuetracker.google.com/issues/new?component=187143).

[2018-05-25 19:20] #5384 closed

[2018-05-25 19:30] tseaver commented on #5388
@ludwigschubert Under the covers, `Blob.exists()` makes a `GET` request to the blob's resource URL and converts a 404 response into a `False`, 20x into a `True`.  This implementation does not fit well with the current `Batch` design, which fakes the responses inside the context manager, and then applies the sub-responses to the individual targets at exit.  See the [comment in `Blob.exists`](https:

[2018-05-25 19:36] tseaver commented on #5392
Duplicate of #5306.

[2018-05-25 19:36] #5392 closed

[2018-05-25 20:56] msuozzo opened #5394 "google-api-core v1.2.0 not release to pypi"
Not sure what the release cadence is but we'd love access to this version of the package.

Source: https://pypi.org/project/google-api-core/#history

[2018-05-25 21:30] crwilcox commented on #5394
released. https://pypi.org/project/google-api-core

[2018-05-25 21:30] #5394 closed

[2018-05-25 21:44] tseaver commented on #5287
The release deployment failed.

[2018-05-25 21:56] msuozzo commented on #5394
Thanks for the quick resolution!!

[2018-05-26 15:44] bionichuman opened #5395 "Weird Error- get() expected a dict or protobuf message, got <class 'list'>."
Hi, I keep getting this error with this code-

get() expected a dict or protobuf message, got <class 'list'>.

![actuallerrrrr](https://user-images.githubusercontent.com/11791504/40577919-21d040d0-60da-11e8-93db-2aa89f784c16.JPG)

How do I fix this?

[2018-05-26 21:34] tseaver commented on #5395
Can you please provide a gist of the code you are using?

[2018-05-26 22:04] bionichuman commented on #5395
@tseaver Here is the code.
https://pastebin.com/BZ9PMXw5

[2018-05-26 23:47] tseaver commented on #5395
In line 274, you create a list with one item, which is the `Image` protobuf you should be passing (instead of the list) in line 277.

Note that this would be a lot easier to debug if you weren't capturing and swallowing the original error (line 292):  the traceback would have showed you the line in your code which triggered the error.

[2018-05-26 23:47] #5395 closed

[2018-05-27 22:00] berlincode commented on #4264
I'll delete my dataset within some days.

I'd be happy, if someone (from google) may confirm this problem before.

[2018-05-28 12:47] javdrher commented on #5306
Hi @theacodes ,

I tested 0.35.0 this morning, using following code:
[code]
The goal is to re-open whenever something occurs. Unfortunately after about 3 minutes following occurs, which is the same issue encountered with 0.34.0 and was reported in #4841
[code]
No exception seems to reach the handler.

Python 3.6.3, libraries:
google-api-core==1.2.0
google-auth==1.4.1
google-cloud-pubsub==0.35.0
go

[2018-05-28 16:21] theacodes commented on #5306
Thank you for testing this, @anmol1vw13! I still haven't been able to reproduce this myself, but it would be super helpful if you could enable debug level logging and provide the *full* log of everything. If it's too big to send over a github gist, please feel free to email it to me.

[2018-05-28 16:26] theacodes commented on #5306
Note to (future) self:

This is due to https://github.com/GoogleCloudPlatform/google-cloud-python/blob/26f1a97ec06b5c48df7a3c9eec00ae3985657164/pubsub/google/cloud/pubsub_v1/subscriber/_protocol/bidi.py#L375 assuming that the method will *always* succeed. For some reason, this is possible to fail as well.

[2018-05-28 16:28] theacodes commented on #4264
Hey @berlincode. I'm sorry you're having trouble with this. We definitely acknowledge that this is an issue. I'm going to bump this up to P1.

@tseaver can you continue investigation?

[2018-05-28 16:53] javdrher commented on #5306
Assuming you meant to refer me, that log was created with debugging on, the full log can be found here:
https://gist.github.com/javdrher/90ebab7a171466f9b9c457f28d95ac09
it occurs frequently, each time I run it this happens after approximately 3 minutes.

[2018-05-28 16:55] theacodes commented on #5306
@javdrher interesting. It seems like in your case you never received any messages - is that expected?

Can you tell me more about your environment? What credentials are you using?

[2018-05-28 17:28] javdrher commented on #5306
This is indeed the case, I wasn't sending any messages through. Its currently running in a development environment with no live requests passing through it yet. The client was running on my laptop, with standard gcloud authentication.

I also have an implementation which is now being integrated into our system, which is running on a Kubernetes cluster with a service account with the PubSub publish

[2018-05-28 17:53] theacodes commented on #5306
It's very strange to see it fail that often, but that is on `0.34`, so I'd be interested to see how it behaves in your cluster with `0.35`. On my end, I've literally run the thing for 4 days without any fatal errors, so this is a fun one.

If you try using service account key authentication locally, does that make a difference?

[2018-05-29 03:30] Nycroth commented on #5341
It gets installed via package dependency. The above code will be packaged into a python sdist when uploaded to the CloudML training server. Once there, it gets installed with pip where the `install_requires` directive in setup will trigger pip to fetch the dependency.

[2018-05-29 03:33] Nycroth commented on #5341
Quick update, the case was marked closed as apparently the issue vanishes if run within the 1.8 runtime environment. I haven't yet fully tested this, but I'm willing to believe it for now. It's not really an answer, but it is a solution if it works.

[2018-05-29 04:13] #4468 closed

[2018-05-29 08:28] javdrher commented on #5306
Modified the code as follows for 0.35.0:
[code]

With the service account locally:
https://gist.github.com/javdrher/df44f6521ae352cde463aa7af7d97607

On kubernetes (GKE, version 1.8.10-gke.0), no signs of improvement either:

[code]

[2018-05-29 09:04] shomratalon commented on #5325
Thanks for your help @tseaver @theacodes

[2018-05-29 11:31] brianbaquiran commented on #4234
It seems like the error still persists with pubsub `0.35.0`. My `pip freeze`
[code]

I am seeing the traceback:
[code]

[2018-05-29 13:05] zyzniewski opened #5399 "Storage: app_identity_service.GetAccessToken NOT_ALLOWED"
- GAE standard env
- google-cloud-storage==1.9.0

steps to reproduce:

- create a long-lived Bucket object
- do some file operations, under the hood it will get an access_token from IdentityService for you
- keep your Bucket instance live for at least 1h (so that access token can expire)
- next time when you'll try to get a fresh token from IdentityService it will raise `NotAllowed` exception

cod

[2018-05-29 13:07] zyzniewski commented on #5399
[code]

[2018-05-29 13:52] tseaver commented on #5003
New flakiness [today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6724):

[code]

Also fails on 3.7.

[2018-05-29 14:10] zyzniewski commented on #5399
@tseaver thanks for a reply

really simple: https://github.com/zyzniewski/app_identity_service_bug/blob/master/main.py#L8-L13

shorthand, basically I've moved them all together so probably you're right: https://github.com/zyzniewski/app_identity_service_bug/commit/dcf59c6cfcf284ac8a332713103aa146adfda258

[2018-05-29 14:10] sjagoe commented on #5306
I also see this issue in v0.35.0. It happens during a period where no message published to the subscribed topic for roughly 3 to 3.5 minutes.

In our use-case, we expect there to be periods of very low activity (particularly overnight), and also one topic usually has messages published at a rate of one message every five minutes. Subscribers to this topic would fail immediately, and subscribers to

[2018-05-29 15:55] tswast commented on #5003
Interesting that it's even trying to run that on Python 2.7. I believe we want to exclude IPython tests from Python 2.7 because they stopped supporting it in recent versions.

@alixhami Is this the issue you were encountering where two `skipif` statements weren't actually ANDing together?

Python 3.7 is likely failing due to Pandas missing. https://github.com/GoogleCloudPlatform/google-cloud-pytho

[2018-05-29 15:58] tswast commented on #5003
Possibly will be fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5387

[2018-05-29 17:32] tseaver commented on #4930
@tswast With #5255 merged, should this issue be closed?

[2018-05-29 17:36] #4660 closed

[2018-05-29 19:03] tswast commented on #5003
BigQuery system tests are now passing again: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6729

[2018-05-29 19:45] jerjou commented on #5308
Have you set the language code to non-english?

[2018-05-29 19:59] tswast commented on #5294
I think we need to keep open to drop removal of Pandas from 3.7 tests once Pandas adds a package for 3.7.

Upstream issues:

- Cython: per https://github.com/cython/cython/issues/1978 it should work with HEAD, but possibly not packaged to support 3.7 on PyPI
- Numpy: https://github.com/numpy/numpy/issues/10500
- Pandas: https://github.com/pandas-dev/pandas/issues/20552

[2018-05-29 21:20] javdrher commented on #5306
Thanks, this should mostly fix the propagation of the exception? when released I'll check the stability as well.

[2018-05-29 21:29] theacodes commented on #5306
Yep

[2018-05-29 22:13] #4264 closed

[2018-05-29 23:50] akmalhakimi1991 commented on #5308
Yes I did

[2018-05-30 06:07] brianbaquiran commented on #4234
Now, testing with `0.35.1`, I am seeing the same error. Cutting-and-pasting from Stackdriver logs:

[code]

My relevant `pip freeze`:

[code]

[2018-05-30 06:17] sjagoe commented on #5306
@theacodes This seems to have introduced an error. I now have this at the tail of the logs. Otherwise, the behaviour is the same; the error does not bubble up to the future and the subscriber hangs.

[code]

[2018-05-30 08:46] bhavincb opened #5407 "Storage: upload policy with 'x-goog-meta' gives 'service unvailable"
providing `x-goog-meta-*` conditions or field gives response `503` `service unavailable` everytime.
without metadata parameters everything works fine.

[code]

[2018-05-30 14:09] tseaver commented on #5407
@frankyn Can you investigate?  This seems to be a back-end issue, as the library doesn't change anything about the conditions passed in:  it only appends a `{'bucket': self.name}` condition to the list (see the `Bucket.generate_upload_policy` [method implementation](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/225a20eef489d97acac06120afb3af23b2dca3cb/storage/google/cloud/storage

[2018-05-30 14:29] bhavincb commented on #5407
it wokrs perfectly fine if i remove `{'x-goog-meta-abc':'abc'}` from policy and form.

[2018-05-30 14:38] bencaine1 opened #5408 "BigQuery: Print offending SQL on error with QueryJob.result()"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.1.0

It would be really helpful if the error message to QueryJob.result() printed out the query, along with line and column numbers. Here's our current workaround, which unfortunately does not allow us to use the built-in Retry due to

[2018-05-30 14:48] iddan opened #5409 "Stackdriver: list descending entries fails after a short moment"
2. OS type and version: macOS 10.13.4
3. Python version and virtual environment information: Python 3.6.5, venv using pipenv
4. google-cloud-python version: 0.33.1
5. Stacktrace if available:
<details>
<summary>Stacktrace</summary>
<pre><code>
Traceback (most recent call last):
  File "/Users/iddan/.local/share/virtualenvs/stackdriver-cli-7guWFJlM/lib/python3.6/site-packages/google/gax/retry.py",

[2018-05-30 15:09] bmenasha opened #5410 "Core: add retry on 503 errors."
The google-api-python-client and gcloud CLI  both retry on 503 SERVICE UNAVAILABLE errors yet the current version of google-cloud-python doesn't.

https://github.com/google/google-api-python-client/blob/master/googleapiclient/http.py#L94

We seem to have coded a retry on 500 and 429 , but not 503.

[code]

Please consider adding 503 as retryable.

I'm running 2.7.11 but I expect same behavior with

[2018-05-30 15:12] theacodes commented on #5389
It would be up to @snehashah16 to update the artman/gapic config next to the protos

[2018-05-30 15:15] theacodes commented on #4234
Thanks, @brianbaquiran, let's track this over at #4234.

[2018-05-30 15:20] theacodes commented on #5306
I'm investigating this now.

[2018-05-30 15:48] iddan commented on #5409
I'm trying to view logs after a very strict filter in my local console. I don't see why when using order_by DESCENDING while using an iterator would hit the quota. Am I doing something wrong?

[2018-05-30 16:23] NeoTokyoNori opened #5411 "Language: 500 InternalServerError: Exception deserializing message!"
2.Win10
3.Python 2.7.13
4.Python 2.7.13
5.n/a
6. I am trying to run a Python script from Google Cloud Natural Language API Python Samples
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/language/cloud-client/v1/snippets.py
https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/language/cloud-client/v1beta2/snippets.py

I have not made any modifications.
Speci

[2018-05-30 16:50] tseaver commented on #5409
@iddan Your example doesn't show any filtering at all.

@liyanhui1228 Does anything about `order_by DESCENDING` trigger extra quota usage?

[2018-05-30 17:05] tseaver commented on #5411
For non-ASCII text, you need to pass through the `encoding_type` argument to `client.analyze_entities`, e.g.:

[code]

[2018-05-30 17:21] jerjou commented on #5308
Can you provide more detail as to what you're doing, what you expect to happen, and what actually happens? Code snippets and copy/pasted example output is always helpful.

[2018-05-30 17:34] NeoTokyoNori commented on #5411
Thank you for your response.
Sorry I didn't mention that is one of the things I have tried.
Also have tried,
    entities = client.analyze_entities(document, encoding_type='UTF32').entities
    entities = client.analyze_entities(document, encoding_type='bytes').entities

Just tried now, but I believe it is the same error.
[code]

[2018-05-30 17:50] #5306 closed

[2018-05-30 17:55] theacodes commented on #5306
Great news everyone - I was able to not only reproduce this issue (finally!) and fix the bubbling of the exception and joining issue, but I *also* discovered the underlying issue and hopefully you won't see as many top-level exceptions.

I need to get one more PR in before we can release. :)

[2018-05-30 18:32] tseaver commented on #5411
@theacodes Who is our PoC for language API back-end issues?

[2018-05-30 18:51] sjagoe commented on #5306
Thanks, @theacodes! Looking forward to trying the next release.

[2018-05-30 21:14] tseaver commented on #5287
@crwilcox The [tag exists](https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/bigquery-1.2.0), but there is no corresponding distribution on [the cheeseshop](https://pypi.org/project/google-cloud-bigquery/#history).  I'm guessing the "deploy" bit failed to to some other flaking test.

Do you want to push it manually?

[2018-05-30 21:19] #4755 closed

[2018-05-30 22:08] liyanhui1228 commented on #5409
Read requests per minute per user is 60 by default. It's possible that it still hit the quota after you apply your filter. The `order_by` field doesn't increase the quota usage.

[2018-05-30 22:17] crwilcox commented on #5287
I can do a manual push of this. that is likely what happened

[2018-05-30 22:27] crwilcox commented on #5287
I have pushed a manual release. Something very odd is going on here though. GitHub knows about this tag, but any attempt to fetch it fails. I was able to release using the SHA though. The new version is available on PyPI.

[2018-05-30 22:27] #5287 closed

[2018-05-30 23:17] #5357 closed

[2018-05-30 23:20] theacodes commented on #5411
@puneith should be able to track that down for us.

[2018-05-30 23:31] theacodes commented on #5341
@Nycroth should we close this? As far as I can tell, this is an issue with ML Engine so whatever bug is tracking this there should be the one to watch.

[2018-05-31 01:49] puneith commented on #5411
Forwarding this to @beccca who can help track this down.

[2018-05-31 02:35] akmalhakimi1991 commented on #5308
So I'm trying to do a language detection/validation by comparing the confidence levels of multiple STT results from different language code based on single audio streaming.

For example, I want to know whether a user is speaking Chinese or English. I will send his speech audio to the API with the first one configured to "cmn-Hans-CN" and the other configured to "en-US". I will then compare the con

[2018-05-31 06:30] sjagoe commented on #5306
I can confirm that this appears fixed in `v0.35.2`.

[2018-05-31 06:33] theacodes commented on #5306
Hooray! Thank you for testing.

[2018-05-31 07:49] javdrher commented on #5306
Locally it runs perfect. On GKE I get:
[code]
but all seems to be managed perfectly.
Thanks!

[2018-05-31 12:42] iddan commented on #5409
What I'm really looking for is tailing logs. I've managed to properly tail logs but I got really surprised I'm allowed to call `list_entries()` once a second. Is there a different method? How does the Logs Viewer stream logs?

[2018-05-31 13:45] tseaver commented on #5410
@bmenasha Thanks for the report!  @theacodes retrying 503 responses seems reasonable to me.

One quick note:  the `google-cloud` umbrella package is deprecated, and will stop including any of the API-specific packages as dependencies in its next release (about three weeks from now).  After that point, you will need to install the API-specific packages directly.

[2018-05-31 14:35] theacodes commented on #5306
Those are all normal! Thank you for testing.

On Thu, May 31, 2018, 12:49 AM Joachim van der Herten <
notifications@github.com> wrote:

[2018-05-31 15:04] jam182 commented on #5306
I am still experiencing some issues. In the logs you guys posted, I cannot see this log entry: `Thread-ConsumeBidirectionalStream exiting`.

I experienced the same behaviour as you are all describing:
[code]
After that messages were still been received, so that is good.

But few minutes later this happened instead:
[code]
After that messages were not received anymore. The `Thread-ConsumeBidirectio

[2018-05-31 15:08] theacodes commented on #5306
It would be really helpful to reduce it to one subscriber and see if this
still shows up, that way we can make some sense of the logs. Otherwise the
noise from the other ones makes it difficult to ascertain what's going on.

On Thu, May 31, 2018, 8:04 AM Daniele Giancola <notifications@github.com>
wrote:

[2018-05-31 15:48] jam182 commented on #5306
good point.

here is the tail of the log with one subscription:
[code]
In fact nothing else is being logged after that, in previous logs I pasted, the other messages must have been coming from the other subscribers as you were suggesting.

But the subscriber is hanging there...

[2018-05-31 16:06] jam182 commented on #5306
this seems to happen every 10 minutes, maybe this is a configuration issue?

[2018-05-31 16:59] theacodes commented on #5306
@jam182 can you give a few more details about your environment? Where are you running? How many messages are you receiving?

[2018-05-31 17:07] tseaver commented on #5362
At least some of the failures are due to the fact that since 86102c959c6852d6b02c2fe3ddeea946a003bee6,  `Client.list_instances` now returns protos, rather than `google.cloud.bigtable.instance.Instance` objects (and failed locations).

[2018-05-31 17:13] ishmeetkaur7 opened #5419 "Refresh error on client.recognize(config, audio)"
I was running google speech recognition api and was trying out the code in the quickstart : https://cloud.google.com/speech-to-text/docs/quickstart-client-libraries#client-libraries-install-python

But I get this error. Any idea what went wrong?

[code]

[2018-05-31 17:16] jam182 commented on #5306
The subscriber app is running on a gcp instance within a docker container. It's python 3.6.3
The authentication is done by pointing the `GOOGLE_APPLICATION_CREDENTIALS` to the json service account. Subscriptions have 10 seconds acknowledge deadline. At the moment I am testing with ~10 messages per second. All the subscriber does with the message, is to log it to file and send a ack.

I am also tes

[2018-05-31 17:19] theacodes commented on #5306
That should be enough to go on. I'm able to reproduce the "Deadline exceeded" but not the behavior of the consumer exiting, here's what my log looks like:

[code]

The key difference here is the "Re-established stream" log.

[2018-05-31 17:28] tseaver commented on #5419
This bit seems to indicate a DNS problem:

[code]

Can you ping `speech.googleapis.com` from the same box?

[2018-05-31 17:29] ishmeetkaur7 commented on #5419
ping is working fine

Pinging googleapis.l.google.com [216.58.220.42] with 32 bytes of data:
Reply from 216.58.220.42: bytes=32 time=16ms TTL=54
Reply from 216.58.220.42: bytes=32 time=17ms TTL=54
Reply from 216.58.220.42: bytes=32 time=18ms TTL=54
Reply from 216.58.220.42: bytes=32 time=17ms TTL=54

Ping statistics for 216.58.220.42:
    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
Approx

[2018-05-31 17:44] ishmeetkaur7 commented on #5419
Well, I figured it out. In the google auth, _default.py, it wasn't able to load my json file so i simply put the file there explicitly and it is working fine now :)

[2018-05-31 17:57] tseaver commented on #5362
xfail'ed system tests:

- [ ] `test_list_instances` (fixed, un-xfail'ed in PR #5420)
- [ ] the rest (fixed by #5398, un-xfail'ed in PR #5421)
- [ ] `test_read_large_cell_limit` blows up due to `(StatusCode.RESOURCE_EXHAUSTED, Received message larger than max (10485818 vs. 4194304)`.  This looks like a real bug (we used to be able to send the large value).

@aneepct, @sduskis Is there a reason why

[2018-05-31 17:59] tseaver commented on #5419
Great!  I'm glad it is working for you.

[2018-05-31 17:59] #5419 closed

[2018-05-31 18:05] ishmeetkaur7 opened #5422 "'module' object has no attribute 'RecognitionMetadata'"
I was trying to include metadata in the speech to text, but i get this error

[code]

Here's my code:

[code]

[2018-05-31 18:12] Nycroth commented on #5341
Probably. Best of luck to you all!

[2018-05-31 18:12] #5341 closed

[2018-05-31 18:20] tseaver commented on #5422
The `RecognitionMetadata` message is only present in the `speech_v1p1beta1` API version, which isn't the default linked in `google.cloud.speech`.  You'll need to import it directly, e.g.:

[code]

[2018-05-31 18:36] ishmeetkaur7 commented on #5422
Great! thanks :)

[2018-05-31 18:36] #5422 closed

[2018-05-31 19:56] tseaver commented on #5041
This pretty much has to be a bug in `gRPC`, likely [this one](https://github.com/grpc/grpc/issues/13873).  That bug was just recently closed, and points to this [fork support status](https://github.com/grpc/grpc/blob/master/doc/fork_support.md) doc.

In the bug I linked, they state that forking only works if the `fork` call (which `subprocess.Popen` makes) occurs before any gRPC connections have b

[2018-05-31 20:08] tseaver commented on #5169
@wsh, @bialoglowy I cannot reproduce the error with the following:

[code]

Please reopen if you can figure out how to reproduce the error you are seeing.

[2018-05-31 20:08] #5169 closed

[2018-05-31 20:09] #5311 closed

[2018-05-31 22:48] randomcanary opened #5425 "Translate: BadRequest: "Too many text segments""
Code example:

[code]

Error obtained: `BadRequest: 400 POST https://translation.googleapis.com/language/translate/v2: Too many text segments`

Input: Python list of strings totaling up 819 characters.

[2018-05-31 23:06] bhavincb commented on #5407
sorry. it was the issue with google it self. i don't get it . but tried today same code and it works perfectly. searching for while and i found that making many invalid requests can ban you for some time.

[2018-05-31 23:06] #5407 closed

[2018-06-01 05:24] sginn opened #5426 "TextToSpeech: google-auth raising spurious SSLError("bad handshake") /o/oauth2/token"
We recently included texttospeech in our application, and are encountering SSL Errors raised prior to calls out to synthesize speech.

If the failure occurs, we retry and things seem to work fine for an hour, and then the first request fails again.

I've been searching for some answers, and while I've seen others with similar issues, no one seems to have gotten to the bottom of it.
I've yet to enc

[2018-06-01 06:09] RohanTalip opened #5427 "NeedIndexError on a single property (Google AppEngine + Firestore)"
I'm cross-posting this from https://stackoverflow.com/questions/50634212/needindexerror-on-a-single-property-google-appengine-firestore

_If you can provide us with as much of the following information as possible it
will help us identify the cause of your issue more quickly._

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allo

[2018-06-01 06:48] akmalhakimi1991 commented on #5041
@tseaver PFA the code that I'm using.
[sample_code_arecord.txt](https://github.com/GoogleCloudPlatform/google-cloud-python/files/2061369/sample_code_arecord.txt)

[2018-06-01 06:48] RohanTalip commented on #5427
Hmm, maybe this issue should be moved to https://github.com/GoogleCloudPlatform/datastore-ndb-python/issues instead ...

[2018-06-01 10:08] NeoTokyoNori commented on #5411
Too add some information.
When I tried the entities_text command below,  which takes text directly from the argument, rather than reading a file, it did return a result without error.  So the issue maybe with reading and encoding the text from the file...

[code]

[2018-06-01 11:11] alexbeloi opened #5428 "ML Engine: `gcloud ml-engine train` finishes training before it is supposed to and reports success"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-06-01 14:38] jam182 commented on #5306
I have been doing more tests. The consumer thread exiting does not always happen, so it is harder to reproduce. But it does happen. I can see that the `Observed recoverable stream error 504 Deadline Exceeded` happens exactly every 10 minutes.

In my current test run for the first time I noticed this has increased to happen exactly every two minutes now and I can see traceback now
[code]

This is t

[2018-06-01 17:30] theacodes commented on #5306
Those logs seem fine. "Re-established stream" means that things are recovering as expected. It's when we see "Thread-ConsumeBidirectionalStream exiting" without an associated error on the `future` that is problematic.

[2018-06-01 17:39] tseaver commented on #5426
@sginn Thanks for the report!

@theacodes should we be looping in a PoC for the texttospeech API, or for accounts.google.com?

[2018-06-01 17:40] tseaver commented on #5427
@RohanTalip yes, indeed, this is an NDB issue.

[2018-06-01 17:40] #5427 closed

[2018-06-01 17:41] tseaver commented on #5411
@NeoTokyoNori Can you show the code you used to upload the text to your GCS bucket?

[2018-06-01 17:44] tseaver commented on #5428
@alexbeloi This repository doesn't cover the `gcloud` command-line tool.  Please check out the [Cloud SDK "getting support"](https://cloud.google.com/sdk/docs/getting-support) page.

[2018-06-01 17:44] #5428 closed

[2018-06-01 17:52] tseaver commented on #5425
@randomcanary Thanks for the report.  As far as I can see, the [translate API quota docs](https://cloud.google.com/translate/quotas) don't show a per-request limit for number of charaters / segments.  As a workaround, you could try breaking the list of segments up into smaller chunks.

@theacodes Who is our PoC for translate API backend issues?

[2018-06-01 18:13] tseaver commented on #5041
The gRPC docs I linked above seem to say that your code will trigger the gRPC issue, as your application forks a new process each time you loop over `stt_client.listenSpeech()`.  I have no idea why the `os.popen` version would work, but not the `subprocess.Popen` one.  I know that `os.popen2` (and `popen3` and `popen4`) are just wrappers around `subprocess.Popen`:  they end up passing `shell=True`

[2018-06-01 18:13] #5041 closed

[2018-06-01 23:13] #5067 closed

[2018-06-01 23:18] alixhami commented on #4728
Added in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5415

[2018-06-01 23:18] #4728 closed

[2018-06-01 23:58] alixhami opened #5430 "BigQuery: Show examples of how to use list_jobs() parameters"
Expand the `bigquery_list_jobs` snippet to include examples of more of the possible arguments (`all_users`, `min_creation_time`, `max_creation_time`).

(Follow up on https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5429)

[2018-06-02 12:53] NeoTokyoNori commented on #5411
There was no need to use code. you can upload via the storage bucket console.
I can read that uploaded text in the browser without problem.

[2018-06-02 15:58] tseaver commented on #5411
In the GCS console, can you see the `charset` in the `Type` field for the file?  If not, can you try using the "Edit metadata" field (in the three-dots menu to the right) and add `; charset=utf-8` to the `Content-Type` field?

I found that when I upload a UTF-8 file through the console, there is no `charset` assigned, and the document when I view it contains mojibake:  my browser guesses that the

[2018-06-02 18:44] NeoTokyoNori commented on #5411
So in the `Content-Type` field I now have  `text/plain; charset=utf-8`, but the error stays the same..

[2018-06-02 23:14] akmalhakimi1991 commented on #5041
If thats the case, do you have any suggestion on what I should from on my side?

[2018-06-04 00:44] shubhamvasaikar commented on #1893
I am trying to use google cloud vision v1p1pbeta1 in the GAE standard environment. This is the error that i get when i try to import `from google.cloud import vision_v1p1beta1 as vision`:

[code]

[2018-06-04 09:48] NeoTokyoNori commented on #5411
I have tried running the other commands that take a cloud storage file as input,
and they all give the same error, except this one, which returns a result without error.

[code]
So I am trying to find how this command is different.
But so far it looks like the only difference is in how, and which results are printed out...

[2018-06-04 11:02] TotangoRam commented on #3836
Hi, I'm running requests 2.18.0 & google-cloud-storage==1.7.0 and get the same error.
what versions do I need now?

[2018-06-04 16:47] tswast opened #5432 "Release bigquery-1.3.0"
It's been a while since the last release, and [support for the numerics data type](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5331) didn't make the [cut for the BigQuery 1.2.0 release](https://github.com/GoogleCloudPlatform/google-cloud-python/compare/bigquery-1.2.0...master).

~~**Note** please wait until https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5431 is

[2018-06-04 17:56] jam182 commented on #5306
yeah, I see. It seems the guys above where having issues initially with the subscriber being idle for the most part and becoming unresponsive because the exception was not being propagated. Maybe they are not seeing it anymore because they probably have very low rate requests per second.

In fact, I can see that at low level of traffic the `Thread-ConsumeBidirectionalStream` does not exit so it is

[2018-06-04 18:00] theacodes commented on #5306
When that happens do you see any exception logged at all?

[2018-06-04 18:07] jam182 commented on #5306
the only stacktraces I got I pasted on this thread (and on this thread: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5392), but they don't say much. We enabled debug level logging also on the root logger. I don't know how to get more logging tbh.

[2018-06-04 18:08] theacodes commented on #5306
Alright. I'll see what I can do to try to reproduce.

[2018-06-04 18:14] mxlei01 opened #5434 "BigQuery DataTransfer: Error in scheduling runs"
I'm trying to use Python's API for BigQuery DataTransfer, but I'm getting RPC errors. I'm not sure if there's a problem with the API or a general configuration problem with the script.

google-cloud-python version:

Example Code:

[code]

Example Error:

[code]

[2018-06-04 18:43] tseaver commented on #5434
@tswast ISTM that error message should at least contain the name (if not the value) of the invalid argument.  I'm not sure who the back-end PoC is for BQDT:  can you loop the right person in?

[2018-06-04 18:47] bencaine1 opened #5435 "Begin a QueryJob without waiting for it to finish"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.1.0

In previous versions of the BQ python client, there was a method in QueryJob (or maybe _AsyncJob) called begin() that began the job without waiting for it to finish. There doesn't appear to be an equivalent of that anymore, despit

[2018-06-04 19:03] tseaver commented on #5435
PR #4242 renamed the `begin` method to `_begin`, making it private:  the expected usage pattern is that the caller use `job.result()` to begin the job, and then use the future it returns.

@tswast I'll defer to your opinion here.

[2018-06-04 19:06] bencaine1 commented on #5435
Update: I noticed that _AsyncJob has a function called _begin() which does what I want. Could this just be a public method?

[2018-06-04 19:11] bencaine1 commented on #5435
I can explain my use case a little more: I'm trying to start a query and print out the query if there's syntax error. The following code does not work:

[code]
Because the Retry object has a try/except block, so having this method in a try/except will bypass the Retry functionality due to nested try/excepts being weird in python.

What I want to do is begin the job, then check the job for errors p

[2018-06-04 19:40] bencaine1 commented on #5435
It actually looks like _begin is called when the query_job is created via Client.query(). So you can actually close this ticket. Thanks!

[2018-06-04 20:05] #5435 closed

[2018-06-04 20:13] tswast commented on #5435
@bencaine1 Is correct. Calling `Client.query()` starts the job. No need to call `result()` if you don't need to wait for it to finish.

[2018-06-04 20:17] tswast commented on #5434
@mtai Can you forward this feedback to the right folks? The error messages for this BQ-DTS error don't contain enough info to debug.

[2018-06-05 09:53] labsnuratech opened #5437 "pubsub: publishing message attributes as dictionary fails"
it shows publish() take 3 args but 4 were given

[2018-06-05 11:09] tseaver commented on #5437
@labsnuratech Thanks for the report. Can you please provide the full traceback, plus a snippet of the code where you are calling `PublisherClient.publish`?

[2018-06-05 11:10] tseaver commented on #5437
Also, what version of `google-cloud-pubsub` are you using?

[2018-06-05 12:04] benbc commented on #5318
Hello @tseaver @liyanhui1228 -- any update on this, please?

[2018-06-05 16:02] tseaver commented on #5437
FWIW, this example from the docs is part of a tested snippet:

[code]

Note that the message payload (the bytes literal) is passed as a positional argument, but the message attribute (`spam`) is passed as a keyword argument.  If you have an existing dictionary of message attributes, you can pass it through via Python's `**` syntax, e.g.

[code]

[2018-06-05 19:16] #5430 closed

[2018-06-05 20:46] theacodes opened #5441 "BigQuery build is failing on Windows (AppVeyor)"
https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.3624.release-pubsub-0.35.3/job/1i4oi71l3pito40y

[2018-06-05 20:48] tswast commented on #5441
Looks like PyArrow doesn't build Wheels for Windows Python 2.7.

https://arrow.apache.org/docs/python/install.html#pip

[2018-06-05 20:59] tswast commented on #5441
Maybe we should exclude pyarrow from all Python 2.7 builds? I don't know how easy it would be to exclude just Windows 2.7.

[2018-06-05 21:16] theacodes commented on #5306
Hey @jam182! I've been running the subscriber for 2 days and haven't been able to see this specific error. However, I have cut a new release, [`0.35.3`](https://pypi.org/project/google-cloud-pubsub/0.35.3/), that adds some more logging. Could you give it a try and let me know the logs if this re-occurs?

[2018-06-05 23:34] #5441 closed

[2018-06-05 23:45] tswast commented on #5441
BigQuery tests are now passing: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/job/3di3ow4b1xo9te19

[2018-06-05 23:48] jmgamboa commented on #5300
Update. I was not able to get the generate_signed_url function to work on bucket. instead i used the create_resumable_upload function available on an existing blob https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L1127

[2018-06-06 09:34] vascoV opened #5443 "No able to deploy to gcloud App Engine with Pyhton and gunicorn"
Hello,

I have been trying last day to deploy my script to Google Cloud console but without success!
Gcloud Version:
[code]

yaml file:
[code]
requirements.txt file:
[code]

I tried deploying with `gcloud beta app deploy` and I am getting the following error:
[code]
I also have all my modules installed into a virtual env...

However, I also tried deploying with `gcloud app deploy` and I am getting

[2018-06-06 11:28] shomratalon opened #5444 "Pubsub 0.35.3 stop consuming messages - ConsumeBidirectionalStream exited RPC"
After an ~hour, the rpc connection is closed:

[code]

I need to cancel and start the subscriber again.

OS type and version - "Debian GNU/Linux 8 (jessie)"
Version - Python 2.7.9
4. pip freeze | grep pubsub
google-cloud-pubsub==0.35.3

Code example:

[code]

All the other info is the same as in https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5325.

[2018-06-06 16:20] theacodes commented on #5444
Thanks, @shomratalon! Can you provide me a bit more information?

1. What does your callback do?
2. How many messages per second are you processing?
3. How are you authenticating?

[2018-06-06 16:29] tseaver commented on #5443
@vascoV I'm sorry you are having this problem.  Unfortunately, this repository is not where the `Cloud SDK` application is maintained:  Please see the [support page for Cloud SDK](https://cloud.google.com/sdk/docs/getting-support).

[2018-06-06 16:29] #5443 closed

[2018-06-06 16:36] jam182 commented on #5306
hey thanks!

here is some new logs, I could reproduce the error three times, it's much harder in DEBUG mode:
1.
[code]
2.
[code]
3.
[code]

[2018-06-06 16:39] theacodes commented on #5306
Thanks, @jam182. let's continue this over at #5444.

[2018-06-06 17:19] theacodes commented on #5444
Okay, I think I may have identified one potential cause of this issue. I've yet to be able to reproduce this so if y'all could try this out and let me know that would be really awesome.

You can install the dev version by either:

[code]

or

[code]

I would **highly** recommend doing this in a *fresh* virtualenv.

[2018-06-06 17:19] theacodes commented on #5444
@jam182 please take a look at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5444#issuecomment-395146942.

[2018-06-06 18:20] jam182 commented on #5444
I reproduced the bug

[code]
and then it was hanging.

I made sure the `@property` you added is being reached... :(

[2018-06-06 18:21] theacodes commented on #5444
Try it once more the the latest copy of that branch/file. I had to switch a `Lock` with an `RLock`.

[2018-06-06 18:41] jam182 commented on #5444
I tried again, I can still reproduce the bug, unfortunately. It looks like with 120 r/s and `info` logging level I am able to reproduce it quite consistently. But I have to wait each time 10 minutes.

[2018-06-06 19:04] theacodes commented on #5444
@jam182 is it hanging or is it the "the bidirectional RPC unexpectedly closed"?

[2018-06-06 19:29] theacodes commented on #5444
Update: I was able to reproduce this myself. Investigating now.

[2018-06-06 20:34] rootVIII commented on #3485
Thanks @lukesneeringer

I can't believe how many google searches it took me to find the answer you posted.

[2018-06-06 21:17] #5444 closed

[2018-06-06 21:21] theacodes commented on #5444
I seem to have fixed this with #5446 as far as I can tell. Stand by for release.

[2018-06-06 22:08] theacodes commented on #5444
[`0.35.4`](https://pypi.org/project/google-cloud-pubsub/0.35.4/) has been released which resolves this as far as I'm able to test. Please let me know if you're able to reproduce this with that version and we'll continue digging.

[2018-06-06 23:04] mxlei01 commented on #5434
@tswast It looks like many people are having the same issue with the APIs.

https://stackoverflow.com/questions/49538321/bigquery-transfer-api-updating-the-adwords-transfer-config-is-not-working-throu
https://stackoverflow.com/questions/45697757/bigquery-data-transfer-service-for-adwords
https://stackoverflow.com/questions/45153370/bigquery-data-transfer-services-php-client-library-and-check-backf

[2018-06-06 23:04] #5434 closed

[2018-06-06 23:16] tswast commented on #5434
Are you able to create a transfer in the UI?

[2018-06-07 01:45] bmenasha opened #5448 "No documentation for many auto generated types."
There is no documentation for the fields of the

google.cloud.monitoring_v3.types.MetricDescriptor
google.cloud.monitoring_v3.types.MessageOptions
(and many others)

in the generated docmentation here:

https://google-cloud-python.readthedocs.io/en/latest/monitoring/gapic/v3/types.html

Or consider

google.cloud.redis_v1beta1.types.Operation

in

https://google-cloud-python.readthedocs.io/en/lates

[2018-06-07 02:58] tseaver commented on #5448
@bmenasha Thanks for the report.  PR #5364 made a change such that shared types (such as `google.longrunning.operation_pb2.Operation` no longer have their modules overwritten.  I argued (in issue #4715) that overwriting them even for "local" types was wrong:  your report that it breaks IDE code completion is a telling point there.

WRT the docstrings:  I can see that, for instance, `google.api.met

[2018-06-07 03:59] bmenasha commented on #5448
Well, I can't get auto completion working with any of pycharm, elpy, or vscode for the auto generated classes in google.api.metric_pb2 either.

While docstring would be nice. I'm primary complaining about the lack of any fields on these types in any python documentation I can find. The only way to determine what fields exists is to read protobuf definitions or examine the type at runtime with help

[2018-06-07 07:41] dapsjj opened #5449 "language: DefaultCredentialsError: Could not automatically determine credentials"
I use Google cloud's Natural Language API from this [link](https://cloud.google.com/natural-language/docs/reference/libraries#client-libraries-usage-python):
And I use this command in powershell :

[code]

Then I use this command in cmd:

[code]

But when I use python code:

[code]

The error message said:

[code]

[2018-06-07 11:10] jam182 commented on #5444
awesome thanks!

I can confirm the issue is fixed. I repeated the same test that I was using the reproduce the bug before, and it did not happen once.

One thing I am a bit concerned of, is that the subscriber seems a bit slower now. It might be related to these fixes because it was not happening with previous versions (namely with v0.35.2).

I am gonna attach a graph from stackdriver to show what

[2018-06-07 14:09] danoscarmike commented on #5164
@yixizhang can you confirm if you are still experiencing this issue? Thanks!

[2018-06-07 15:08] jam182 commented on #5444
nvm, turns out it was just a glitch. we rebuilt the docker image from scratch and tested for few hours now. All seems fine :+1: :1st_place_medal:

[2018-06-07 15:39] tseaver commented on #5449
@dapsjj Thanks for the report.  In order to help us diagnose, can you please provide:

- the full tracebak
- the output of `pip --freeze`

Also, at the top of your script, can you add the following lines, and include the output:

[code]

[2018-06-07 15:42] tseaver commented on #5444
@jam182 Awesome!

[2018-06-07 15:43] yixizhang commented on #5164
I can't reproduce it and I haven't experienced the same error ever since.  But by reading the code the other I think this line could be buggy.

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner_v1/snapshot.py#L39

That the default value should not be a str, but rather `b''`.

Hope that helps.

[2018-06-07 15:57] tseaver commented on #5164
@yixizhang Thanks very much for the follow-up:  I can confirm that the initial `resume_token` should be bytes, rather than text.

[2018-06-07 16:44] tseaver commented on #5448
@bmenasha I can see the "empty" types you reference [here](http://google-cloud-python.readthedocs.io/en/latest/monitoring/gapic/v3/types.html#google.cloud.monitoring_v3.types.MessageOptions).

@theacodes Is this an issue we should be solving in the codegen side?

[2018-06-07 16:49] #5432 closed

[2018-06-07 17:19] sduskis commented on #5179
Is this still a problem?

[2018-06-07 17:20] sduskis commented on #4935
@tseaver: Is this still a problem?

[2018-06-07 17:22] sduskis commented on #5362
The 10MB issue is a grpc setting, IIUC.  It's not about the CBT related code directly.

[2018-06-07 17:34] tseaver commented on #5362
@sduskis FWIW, the [documented limit](https://cloud.google.com/bigtable/docs/schema-design#size-limits) for cell values is `~10 MB per cell`.

[2018-06-07 17:38] tseaver commented on #4935
I don't see any leaked instances on our CI account today.  However, the problem with test failures that we mark `flaky` is that they tend to come and go:  unless we think we've found and fixed the root cause, I'm reluctant to close the issue.

[2018-06-07 17:42] sduskis commented on #5362
@tseaver: The documented limit only affects the CBT service.  I believe that the problem at hand is a client-side grpc setting, and client-side validation.

[2018-06-07 17:46] sduskis commented on #4935
Can we please define the problem?

My understanding: Tests fail half way, and leave instances are not cleaned up.  Multiple tests may run concurrently, so one test can't easily clean up previously other instances.

Is my understanding correct?

[2018-06-07 17:47] tseaver commented on #5179
@sduskis FWIW, both of the failures in [CircleCI 6267](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6267) are 503s during `CreateTable` requests (one is in the setup for a column family test).

#5421 modified the system tests to ensure that they didn't share a common table name, which seems to have made the 503s go away.y working theory is that the same-name table created and de

[2018-06-07 17:51] tseaver commented on #4935
My suspicion is that our system tests run can be terminated "hard" in ways that defeat our normal teardown / cleanup (e.g., CircleCI cancels a job when a new commit is pushed to its branch, via something like `kill -9`).

You are correct that we cannot just remove all instances at the start of a system test run, because of concurrent runs.  If we had a way to filter for "old" instances, e.g. via m

[2018-06-07 19:21] theacodes commented on #5444
@jam182 that's great news! Thank you so much for taking the time to test all of this and thank you so much for your patience and feedback. :)

[2018-06-07 19:26] sduskis opened #5454 "Bigtable: Fully expose Instance / cluster admin features"
[Instance.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigtable/google/cloud/bigtable/instance.py) does not fully support instance and cluster management. [Cloud Bigtable replication allow](https://cloud.google.com/bigtable/docs/replication-overview) introduced the ability to create instances with multiple clusters.  Also, there were minor features that were added tha

[2018-06-07 19:28] sduskis commented on #4935
Instances do have labels, and we can add a timestamp label.  However, I found a problem while looking at the `instance.py` [`create()`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a79d5dfee95a37501e8d9296775ddbb69984c31/bigtable/google/cloud/bigtable/instance.py#L175).  It looks like that code is not up to date.  I opened #5454 which blocks this issue as well as creating a pyt

[2018-06-07 20:27] theacodes opened #5455 "Remove `pip install google-cloud` from docs/index.rst"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs/index.rst

[2018-06-07 21:53] tseaver commented on #5362
@sduskis How would the back-end folks expect users to set cell values larger than an (undocumented) 4 Mb limit, then?  AFAIK, there is no "streaming PUT" notion in the API.

[2018-06-07 21:59] frankyn opened #5456 "Support retainng ACLs upload to existing blogs"
1. OS type and version
Linux

1. Python version and virtual environment information `python --version`
Python 2.7.13

1. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
Library Version: 1.10.0

1. Steps to reproduce

* Upload a new file to gs://bucket-name/test-file.txt
* Give allUsers object reader permission (using ACLs)
* Upload file again to gs:

[2018-06-07 22:04] frankyn opened #5457 "[Storage] make_public() and public_url() don't describe how they work/when they work."
Documentation for `make_public()` and `public_url()` don't describe how they work/when they work.

Specifically `make_public()` uses ACLs to make the object public and `public_url()` only works when the object has necessary permissions granted to all users in the form of `ACL` or a project/bucket has an IAM policy assigning `allUsers` the role `roles/storage.objectViewer`. Users should stay away f

[2018-06-07 23:03] mxlei01 commented on #5434
@tswast I was able to create the transfer in the UI.

But actually I figured out it was not the API's issue, but authentication wise.

Here I'll post my solution if anyone has the same issue with data transfer.

1. I created a service account for all my google APIs.
2. The service account does not have authentication to access adwords, because in order to gain access, the service account needs to

[2018-06-07 23:09] tswast commented on #5434
Thanks for sharing! Sounds like it'll be important to have user-authentication samples for BQ-DTS.

[2018-06-07 23:32] dapsjj commented on #5449
@tseaver  I modify my code as you said.
Now my code:
[code]

The output of the console is like this：

[2018-06-08 00:14] tseaver commented on #5449
This is the clue:

Your script is not running in a context where it has the `GOOGLE_APPLICATION_CREDENTIALS` environment variable set.

[2018-06-08 00:17] tseaver commented on #5456
@frankyn Is there a way to spell this such that the back-end honors it in an upload request?  Or will this feature require that we make a `GET` request first to load the current credentials, and then make another `POST` request after the upload to reset them?

[2018-06-08 05:34] aatreya opened #5458 "[Logging] client.setup_logging() should set log_level on the handler, not the root logger"
setup_logging() currently sets the provided log_level on the root python logger. (https://github.com/GoogleCloudPlatform/google-cloud-python/blob/722430c62e856e6e2a593ea802e55bb5920405c5/logging/google/cloud/logging/handlers/handlers.py#L151)

This results in the root log level being overwritten by this library when setup_logging() is called, and prevents the user from setting the cloud logging ha

[2018-06-08 15:44] vroon5 commented on #5449
@tseaver, on a similar note. I have carried out the same process. My credentials are verified, however, it is not able to locate the service account file

# Imports the Google Cloud client library
from google.cloud import language
from google.cloud.language import enums
from google.cloud.language import types

import os

print('Credendtials from environ: {}'.format(os.environ.get('GOOGLE_APPLICATI

[2018-06-08 15:48] sduskis commented on #5362
@tseaver: All clients need the magical *grpc* setting (MAX_MESSAGE_SIZE) that would allow the *grpc client* to send values larger than 4MB.  This is something that the client needs to do, and not something that end users have to fix.

[2018-06-08 15:49] sduskis commented on #5362
@tseaver I think that we did something about this in the python client in the past, as per [this issue](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2880).  A setting was probably reverted, or something like that, that caused this breakage.

[2018-06-08 15:57] crwilcox commented on #5362
I looked at https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2907/files, the PR that addressed #2880 and it calls out `# NOTE: 'grpc.max_message_length' will no longer be recognized in grpcio 1.1 and later.`. So I think it is possible it wasn't so much reverted as no longer possible with the updated versions of grpcio.

[2018-06-08 16:02] tswast commented on #5455
I've started on this today.

[2018-06-08 16:29] tseaver commented on #5362
@crwilcox I believe `grpc.max_message_length` has been superseded by `grpc.max_send_message_length` and `grpc.max_receive_message_length`.  Those two values are set in the pubsub clients channel setups: [publisher](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/577e9b9a200edb1aeb843102241dad420b0dacd0/pubsub/google/cloud/pubsub_v1/publisher/client.py#L80-L81) and [subscriber](http

[2018-06-08 16:32] tseaver commented on #5449
@vroon5 The exception is being raised because the file does not exist:  can you check for a typo in the path?

[2018-06-08 16:40] vroon5 commented on #5449
Thank you for the quick reply @tseaver, that was the first thing I checked. I don't see any typo.
![capture](https://user-images.githubusercontent.com/40067637/41170118-0b73e910-6b19-11e8-9611-d59519707631.JPG)

[2018-06-08 16:40] tseaver commented on #5458
/cc @waprin

Overwritting the level of the root logger looks heavy-handed to me, but I'm not sure I understand the use of the `setup_logging` helper.

[2018-06-08 16:44] tseaver commented on #5449
@vroon5 Can you try running a Python script which tests each part of the path? There might be escaped characters embedded, somehow.

[2018-06-08 16:55] #5455 closed

[2018-06-08 17:08] #5164 closed

[2018-06-08 18:17] vroon5 commented on #5449
Hi @tseaver, I tried placing the file in every subpath and running the code again. It is still not working.

 However, I am curious about the step we need perform prior to running this code. While setting up the environment variable for google application credentials, the command prompt does not give any feedback after I set the environment variable, it just moves to the next line. Would that be a

[2018-06-08 19:32] tseaver commented on #5362
@theacodes, @crwilcox I can confirm that the following patch gets the last `xfail`ed Bigtable system test to pass:

[code]

[2018-06-08 20:20] vroon5 commented on #5449
![image](https://user-images.githubusercontent.com/40067637/41179179-c924e216-6b37-11e8-9467-fbe77abaacc8.png)
 I cannot completely interpret the output of set, but I assume this is your question. It identifies that google application credentials above path.

[2018-06-08 21:03] vroon5 commented on #5449
I did not run the script from the console, but I ran it in jupyter notebook. The error is same as what I posted first.  I try to run from the console and let you know, Thank you once again for your patience @tseaver

[2018-06-08 21:12] vroon5 commented on #5449
Hi @tseaver here is what I tried from the console. The error stays the same!
![image](https://user-images.githubusercontent.com/40067637/41181230-0ca4359e-6b3f-11e8-951c-61b48ade3722.png)

[2018-06-08 22:06] sduskis commented on #4935
On second thought labels are not the only way of marking an instance.  We can create a table called `create_time` which contains a single row with the key `create_time` with a single family and a single cell containing the creation time.  I don't think that it's as elegant of a solution as labels, but it would be a workable solution to unblock this issue, if we can't fix #5454 quickly.

[2018-06-09 20:19] VamsidharMuggulla opened #5462 "TypeError: query() got an unexpected keyword argument 'location'"
Following this documentation to query from a table
**method 1:**
https://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#querying-data
**method 2:**
https://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#run-a-dry-run-query

either methods throwing the same exception
**TypeError: query() got an unexpected keyword argument 'location'**

without using "location" ar

[2018-06-10 12:49] tseaver commented on #5462
@VamsidharMuggulla What version of `google-cloud-bigquery` are you using?  The `location` parameter was added to `Client.query` in PR #5071, which was part of the `0.32.0` release.

[2018-06-10 13:56] VamsidharMuggulla commented on #5462
google-cloud-bigquery-1.3.0
by the way, I'm unable to use(couldn't event import) this library in my flask application(running on dev_server) it is throwing an exception.
**ImportError: No module named google.cloud.bigquery**

whenever I try to this

`from google.cloud import bigquery`

I tried a lot. The library was there where it is needed everything is fine still I couldn't find any solution for

[2018-06-11 00:05] dapsjj commented on #5449
I know the error reason,I must use cmd mode to run the code,please do not run the code with pycharm or other IDE.And set this [link ](https://cloud.google.com/natural-language/docs/reference/libraries#client-libraries-usage-python)API "enable".

And then the error disappeared.

[2018-06-11 00:06] #5449 closed

[2018-06-11 18:18] vroon5 commented on #5449
The following solution worked.
: explicitly mentioning the location of the private key
https://google-auth.readthedocs.io/en/latest/user-guide.html#service-account-private-key-files
![image](https://user-images.githubusercontent.com/40067637/41249484-480dbc5a-6d82-11e8-8d40-8889be2b8ccd.png)

[2018-06-11 18:27] tseaver opened #5465 "Release spanner 1.4.0"
Now that PR #5463 is merged.

[2018-06-11 18:58] royalpeasantry commented on #5456
@tseaver - It is not possible to tell the backend to save the current credentials on upload.  You will need to copy them before the upload and then re-apply them after the upload.

[2018-06-11 19:12] tseaver commented on #5456
It looks like we *could* pass the ACL through as part of the object metadata to either the multi-part or resumable upload requests.  At the moment, we explicitly exclude it from the "writable" metadata we pass there.

We would likely still need to make the extra API request to load/refresh the ACL if the user requested that we preserve it.

[2018-06-12 15:24] tseaver opened #5473 "vision 0.32.0 again overwrites '__module__' for shared proto message types"
See https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5467#pullrequestreview-127747194

[2018-06-12 15:55] theacodes commented on #5473
I'm going to close this for now, once the generator issue is addressed we'll regenerate everything.

[2018-06-12 15:55] #5473 closed

[2018-06-12 16:10] tseaver commented on #5465
Via #5466.

[PyPI](https://pypi.org/project/google-cloud-spanner/1.4.0/)

[2018-06-12 16:10] #5465 closed

[2018-06-12 16:15] tseaver commented on #5362
#5360 added new (non-flaky) system test failures under Python 3.  I fixed them this morning in #5474.

[2018-06-12 17:58] tseaver commented on #5362
New [system test failure](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6862) in `test_list_instances`:

[code]

This one *is* flaky:  I can't get it to fail on my machine.  It is possible that the extra instances are due to another system test run.

[2018-06-12 21:10] tseaver opened #5479 "pubsub system test: "failed with exit code -11""
Pubsub system tests run successfully, but [die occasionally](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6873) with a segfault(?) on exit:

[code]

[2018-06-12 21:19] tseaver commented on #5479
See also [another CI failures](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6828) with the same symptom.

[2018-06-12 23:26] guanzo opened #5480 "[Firestore] List collection ids of a document"
How do I list subcollection ids of a document? Is it not yet implemented in the python firestore library? It's available for all other google cloud platform languages: [node](https://cloud.google.com/nodejs/docs/reference/firestore/0.14.x/DocumentReference#getCollections), [go](https://godoc.org/cloud.google.com/go/firestore#DocumentRef.Collections), [php](http://googlecloudplatform.github.io/goog

[2018-06-13 00:47] frankyn commented on #5456
After chatting with @royalpeasantry and thinking about the FR more. I'm going to close this issue for the following reasons:
* Operation isn't supported by the API and follow-up operations to reset ACL may fail in between leaving the object in a bad state. No guarantees.
* It's recommended that developers should use bucket-level IAM policies over ACL to prevent inadvertent data exposures.

[2018-06-13 00:47] #5456 closed

[2018-06-13 01:30] tseaver commented on #5362
#5476 should close the new failure I reported earlier today.

[2018-06-13 01:35] tseaver commented on #5480
@guanzo You are correct that the `DocumentReference` class does not expose a method to return subcollections.

[2018-06-13 14:39] tseaver commented on #5480
@jba the [docs for listing subcollections](https://cloud.google.com/firestore/docs/query-data/get-data#list_subcollections_of_a_document) specifically exclude the feature for "mobile/web client" libraries.  I wouldn't think Python was one of them, but we don't support the feature.  Do you know if that was intended?

[2018-06-13 15:38] xcash commented on #1893
To import Google Cloud Storage on App Engine standard I use the following monkey patching:

[code]

But guys, we NEED a proper support for Google App Engine Standard. As with the old libraries it isn't even possible to generate download urls!!

[2018-06-13 17:32] theacodes commented on #5479
hrm, a segfault would point to grpc as the likely culprit. @mehrdada are there any know segfaulting bugs in gRPC on Python 2.7?

[2018-06-13 17:38] tseaver commented on #5479
Given that the tests all pass, my suspicion is a race condition during teardown of socket resources during process exit.

[2018-06-13 18:38] mehrdada commented on #5479
@theacodes Nothing off the top of my head. Does this happen only on `--pre` build? We uploaded a new one just a couple days back.

[2018-06-13 18:48] theacodes commented on #5479
Yeah our system tests use pre, but idk if it doesn't happen otherwise.

On Wed, Jun 13, 2018, 11:38 AM Mehrdad Afshari <notifications@github.com>
wrote:

[2018-06-13 19:00] mehrdada commented on #5479
@theacodes I'd be really interested to know if it is a newly introduced regression in v1.13.0-pre1 before we mark the RC1 as final.

Where can we see a stack trace denoting where the exception occurs? I couldn't find it looking at the linked page.

[2018-06-13 19:08] theacodes commented on #5479
SIGSEGV at process exit doesn't tend to produce a stacktrace iirc.

Since we run our system tests in quiet mode, you'll need to run them yourself and specify verbosity and disable output capture, e.g.:

[code]

[2018-06-13 22:32] jba commented on #5480
@schmidt-sebastian will know.

[2018-06-13 23:20] schmidt-sebastian commented on #5480
This is not intended and should be added to the Python SDK.

[2018-06-14 10:16] harshitHadoop commented on #4039
Hi,
I am not able to import google.cloud.vision package in python. The stack trace is given below:

Traceback (most recent call last):
  File "E:\ANACONDA\lib\site-packages\IPython\core\interactiveshell.py", line 2862, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-417-db2467e60f89>", line 1, in <module>
    import google.cloud.vision
  File "E:\PYCHARM\Py

[2018-06-14 14:20] #5193 closed

[2018-06-14 14:37] tseaver commented on #5303
Saw it [again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6886).

[2018-06-14 14:48] tseaver commented on #5409
@iddan We see this error occasionally in our system tests (#5303).  I've just committed a fix there which adds `ResourceExhausted` to the set of manual retries for tests which call `logger.list_entries` (PR #5486).

Are you using gRPC (it is on by default unless you set the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable)?  If so, we should probably update the gRPC configuration to ensure that `R

[2018-06-14 14:51] iddan commented on #5409
I use gRPC. My problem is I tried to use this API for constant tailing (similar to what the Stackdriver UI does) and I couldn't find a better suiting API to use.

[2018-06-14 15:05] tseaver commented on #5409
If you need to call the API more than once a second, you could wrap it using `google.api_core.retry.Retry`, which adds retry with exponential backoff for transient errors. E.g.:

[code]

Note that this will be *expensive* for any project which accumulates a large number of log entries over time:  a real-world example would likely filter the log entries, and maybe only list the N most recent on eac

[2018-06-14 16:21] tseaver commented on #4039
@harshitHadoop You've tagged onto a closed (and not exactly related) issue here. Please open a new issue, including showing the version of Python, how you've installed `google-cloud-vision`, etc.

[2018-06-14 16:40] jdubinsky opened #5489 "Python 3 Firestore DocumentReference.update fails with integer key in update data"
## OS
OSX 10.13.4

## Python version
Python 3.6.5

## Library version
[code]

## Stack trace
[code]

## Repro steps
- Given a python dictionary with an integer key, call `document.update`
- For example, the update data could be `{'14': 'active'}`
- Call `document.update(collection_path, document_id, {'14': 'active'}`
- Should result in the above stack trace.
(I reported a similar python 2 issue th

[2018-06-14 16:50] tseaver commented on #5303
Via #5486.

[2018-06-14 16:52] tseaver commented on #5083
#5487 *seems* to be the right fix:  the clue was to do the `git merge-base --fork-point` test against `baseline/master` (the local master is in some weird state).

[2018-06-14 16:52] #5083 closed

[2018-06-14 17:19] tseaver commented on #4222
`google.api_core.exceptions._from_http_response` tries hard to preserve any error message or errors from the response's payload.  The issue here is that there *are* no errors:  a [206 response](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.7) isn't an error.

If `google.resumable_media` is raising an `InvalidResponse` exception, ISTM that we should just let it propagate:  there i

[2018-06-14 17:44] eoogbe opened #5490 "Core: rename x-goog-header-params -> x-goog-request-params"
Typo causing problems with Tasks API.

[2018-06-14 18:16] tseaver opened #5493 "Logging: 429 during systest teardown"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6899

[code]

[2018-06-14 18:20] tseaver opened #5494 "Logging: 409 in systest setup (GCS sink)"
See:  https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/6899

[code]

Might be due to failed earlier teardown (#5493)

[2018-06-14 19:01] #4222 closed

[2018-06-14 19:11] tseaver commented on #5362
@theacodes, @crwilcox Should I go ahead and create a PR which manually patches in the `max_{send,receive}_message_length` bits, and removes the `xfail` for the large cell test?  I'm not sure where / how to request that the codegen for Bigtable gets updated to include those overrides.

[2018-06-14 19:11] #5490 closed

[2018-06-14 19:12] theacodes commented on #5362
go for it. We don't have means to override this in the codegen.

On Thu, Jun 14, 2018 at 12:11 PM Tres Seaver <notifications@github.com>
wrote:

[2018-06-14 19:18] #5493 closed

[2018-06-14 19:19] tseaver commented on #5494
Via #5496.

[2018-06-14 19:19] #5494 closed

[2018-06-14 20:56] alixhami opened #5499 "BigQuery: Make External Data Source formats into constants"
As suggested in PR #5491
Make constants for external data source formats to avoid directly using strings like 'CSV' and 'GOOGLE_SHEETS'

[2018-06-15 15:36] mehrdada commented on #5479
https://github.com/grpc/grpc/pull/15781 might fix this

[2018-06-15 16:37] tseaver commented on #5479
@mehrdada That looks like a good candidate.

[2018-06-15 18:03] tseaver commented on #4675
@mcdonc Reference this bug in your PR.

[2018-06-15 18:57] mehrdada commented on #5479
Irrespective of this particular bug, it'd be amazing if your CI tested on gRPC under both `--pre` and latest non-pre to confirm what users actually experience in the wild keeps working.

[2018-06-15 20:48] #4675 closed

[2018-06-15 20:51] #5362 closed

[2018-06-16 01:29] mehrdada commented on #5479
1.13.0rc2 is uploaded. Please test. I hope it fixes the issue.

[2018-06-16 11:31] iddan commented on #5409
How can I do that?

[2018-06-16 16:51] salrashid123 opened #5505 "Allow specifying LogEntry optional parameters in google.cloud.logging.logger"
Currently, [google.cloud.logging.logger.Logger](https://google-cloud-python.readthedocs.io/en/latest/logging/logger.html)  allows you to submit a log entry with predefined parameter sets:

for example, ```logger.log_text()``` allows you to set
[code]
But  [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) allows you to specify additional settings like ```trace```, ```s

[2018-06-18 17:28] theacodes commented on #5479
I'm going to preemptively close this, but if it shows up again please re-open, @tseaver.

[2018-06-18 17:29] mehrdada commented on #5479
Glad we have not been seeing it for the past few days.

[2018-06-18 19:11] tseaver commented on #5409
List the N most recent log entries:

[code]

[2018-06-18 19:41] tseaver commented on #4512
Initial pass done by @jba in #4359 (2017-12-13), updated by me in #5351 (2018-05-21).

[2018-06-18 19:41] #4512 closed

[2018-06-19 02:44] senjed commented on #3461
I had the same problem with language.Client and figured out some methods are deprecated.
look here:
https://cloud.google.com/natural-language/docs/python-client-migration

[2018-06-19 11:29] brcoghe opened #5507 "Google DLP: Redact_image function returns InternalServerError: 500 Internal error encountered."
OS: Windows 10,
python 2.7

When  using the example code in:
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/dlp/redact.py
I get:

[code]

The `inspect_image` function does work as intended..

[2018-06-19 15:48] tseaver commented on #5507
@theacodes Who is our PoC for DLP back-end issues?

[2018-06-19 15:50] theacodes commented on #5507
@ace-n maybe?

[2018-06-19 18:05] tseaver commented on #4513
This is on the internal feature backlog.

[2018-06-19 18:05] #4513 closed

[2018-06-19 18:07] tseaver commented on #4553
@tswast Does this issue need to remain open?

[2018-06-19 18:16] tswast commented on #4553
Yeah, we haven't completed this feature request. It is on @alixhami's list of OKRs to tackle.

[2018-06-19 18:30] tswast commented on #4842
Yes, fixed by #5203.

[2018-06-19 18:30] #4842 closed

[2018-06-19 18:37] tswast commented on #4553
Actually, @alixhami implemented [load_table_from_dataframe()](https://google-cloud-python.readthedocs.io/en/latest/bigquery/generated/google.cloud.bigquery.client.Client.load_table_from_dataframe.html#google.cloud.bigquery.client.Client.load_table_from_dataframe) which covers a similar use case, but uploads a Pandas DataFrame rather than JSON or JSON-like rows.

[2018-06-20 07:52] srkn commented on #1187
@Shoshin23 I solved this problem by editing pyinstaller original hook-google.cloud.py file. I simply added this line, you can change it according your needs
`datas += copy_metadata('google-api-core')`

[2018-06-20 10:21] Arispg opened #5508 "EOFError error starting in dev_appserver.py for Google App Engine in python"
I run this in a clean virtual enviroment with no module installed on lib on my local machine. I have my app ready to run but I cannot start dev_appserver.py, I obtain this error

[code]
These are the versions of google cloud, that is updated to last version.I try to update like is here specified https://cloud.google.com/appengine/docs/standard/python/download but it didn't work

[code]
This is the

[2018-06-20 17:07] tseaver commented on #5508
@Arispg I'm sorry you are having trouble with the Gcloud SDK.  Unfortunately, this repository, which manages Python client libraries for Google Cloud APIs, is not related to that product.  Please report the issue using one of the [SDK Support resources](https://cloud.google.com/sdk/docs/getting-support).

[2018-06-20 17:07] #5508 closed

[2018-06-20 17:59] tseaver commented on #3989
@laldonza `Blob.updated` is fetched from the JSON resource returned by the server.  If the blob has never loaded that resource (newly constructed instance, no `reload` or other API call made), its `updated` property returns `None`, like most of the others based on the JSON resource.

[2018-06-20 18:23] thakursc1 opened #5510 "BigTable: Mac/Windows [Feature Request]"
According to RCP we can do a increment operation if we have  a `rpc ReadModifyWriteRow`
I have a `CheckandMutateRow` in its true state it needs to be incremented rather than set. Is there already a way to do that ? If yes is it an atomic transaction ? Also if not is there a possibility of adding a `increment` functionality to `CheckandMutateRow` in rpc and Python SDK.

[2018-06-20 18:38] tseaver commented on #5024
Via #5504.

[2018-06-20 18:38] #5024 closed

[2018-06-20 19:02] tseaver opened #5511 "Consider making '_BaseEntry' public"
The autodocs don't do the right thing for the inherited constructors, even when I add in `:inherited-members:`.  Given that we also link the class (e.g., as the item type returned from `Client.list_entries` / `logger.list_entries`), we should just make it part of the API.

[2018-06-20 19:33] tseaver commented on #5510
I believe that [`AppendRow.increment_row_value`](http://google-cloud-python.readthedocs.io/en/latest/bigtable/row.html#google.cloud.bigtable.row.AppendRow.increment_cell_value) does the atomic check-and-set that you need:  it treats missing values as 0 before applying the increment.

[2018-06-20 19:33] #5510 closed

[2018-06-20 19:51] tseaver commented on #4490
For uploads, there are three cases:

- Do not pass the `ifGenerationMatch` query string parameter (this would need to be the default for backward-compatibility)
- Pass `&ifGenerationMatch=0` if there is no generation set on the blob resource.
- Pass `&ifGenerationMatch=<current-generation>` if there is a generation set.

After a chat with @frankyn, I'm closing this issue:  he will be working with

[2018-06-20 19:51] #4490 closed

[2018-06-20 20:09] thakursc1 commented on #5510
@tseaver
This is what I am trying to achieve in one atomic operation.
[code]
Is there way to achieve this  ?
The problem I am facing is :
Although AppendRow can increment values it cannot check for negatives using row filters and on the other hand CheckAndMutate can check for negatives but it cannot actually increment the value it can only set it to specific value.

[2018-06-21 01:39] #4118 closed

[2018-06-21 14:45] salrashid123 opened #5514 "google-cloud-logging does not deserialize log messages"
Cloud logging currently does not parse logging proto message payloads.

This forces items like GAE RequestLogs to appear serialized under ```payload_pb``` as shown below

[code]
The ```RequestLog``` should get deserialized and placed into the ```payload``` field so its usable

- type.googleapis.com/google.cloud.audit.AuditLog
-  type.googleapis.com/google.appengine.logging.v1.RequestLog
   -   htt

[2018-06-21 18:28] tseaver commented on #5514
`google-cloud-logging` cannot know the type of the payload message.  If you know the type, you can desrialize using `ProtobufEntry.parse_message`, e.g.:

[code]

[2018-06-21 18:33] tseaver commented on #5313
@yiga2 If you know / expect that the log entry contains an `AuditLog` instance, you can unmarshall it using `ProtobufEntry.parse_message`, e.g.:

[code]

[2018-06-21 18:33] #5313 closed