[2018-09-07 18:37] zunger-humu commented on #5876
I've had this issue show up and stably happen at a single row. I'm guessing that was a tablet boundary, which may give some clues as to the origin. (Unfortunately, that table has changed a lot since then, so I can't recheck and see if this was a time-transient error -- suggesting something retry-associated -- or not)

[2018-09-07 18:46] sduskis commented on #5876
I'm going to remove this check for now.  I wonder if this issue relates to the fact that Cloud Bigtable has binary data, and `<=` checks may not be accurate due to some kind of encoding issue, or difference between Python and Cloud Bigtable's implementation.

[2018-09-07 19:00] tseaver commented on #5489
@jdubinsky Please feel free to reopen if you can suggest a reproduction case different than the new system test added in 9dc2514.

[2018-09-07 19:00] hiranya911 opened #5902 "Firestore/grpcio installation failure on PyPy"
We run some compliance tests on PyPy for the Firebase Admin SDK. Today we detected a failure during the installation of Firestore/GRPC dependencies:

[code]

[2018-09-07 19:11] tseaver commented on #5902
Thanks for the report!  Unfortunately, this repository isn't the right place for it, as the failure is in building / installing `grpcio` under PyPy.  Please report the issue in the [grpcio repository](https://github.com/grpc/grpc/issues/new)

[2018-09-07 19:11] #5902 closed

[2018-09-07 19:20] hiranya911 commented on #5902
I will raise it there, but please note that our dependency is on `google-cloud-firestore` and `google-api-core`, both of which are part of this repo.

[code]

[2018-09-07 19:21] theacodes commented on #5902
That's fair - but we're ultimately unable to fix this directly. Escalating to the grpcio team is the right thing to do here.

[2018-09-07 19:34] jdubinsky commented on #5489
@tseaver Those tests look valid to me. Here's some more info just to clarify (I've also updated the invalid repo step (it was from some custom code written on top of the firestore library):

[code]

[2018-09-07 19:51] sduskis commented on #5876
Ugh.  `'C' <= 'f'`, which is true for non-strings, but not necessarily for the way .  We'll need a Python equivalent of this Java class: [ByteStringComparator](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/edc800c1c7f188f4cc70c5746c80cb67de0d4df3/bigtable-client-core-parent/bigtable-client-core/src/main/java/com/google/cloud/bigtable/util/ByteStringComparator.java).

[2018-09-07 19:54] zunger-humu commented on #5876
Not necessarily for the way?

On Fri, Sep 7, 2018, 12:51 Solomon Duskis <notifications@github.com> wrote:

[2018-09-07 20:33] sduskis commented on #5876
@zunger-humu, I updated the comment...

[2018-09-07 20:42] paulorcf opened #5903 "Pub/Sub MergeFrom error publish message"
🏷 pub/sub
SO: Linux/Ubuntu 16.04
api_core_version = 1.3.0
client_library_version = None
gapic_version = 0.37.2
grpc_version = 1.14.2
python_version = 3.6.4

[code]

Version: google-cloud-pubsub==0.37.2

## Error:
` response = client.publish(topic_path, data)
  File "venvpy/lib/python3.6/site-packages/google/cloud/pubsub_v1/gapic/publisher_client.py", line 393, in publish
    messages=messages,
Typ

[2018-09-07 20:50] sduskis commented on #5876
ok.  'C' is actually less than 'f' in ascii, so '<=' ought to work correctly for ascii.

[2018-09-07 21:41] sduskis commented on #5876
I raised an internal issue to see if there's anything else going on.

[2018-09-08 06:40] frankyn commented on #5879
I did not get additional input in the weekly meeting.

@brianmhunt could you tell me more about your use-case so I can try to reproduce?
Also what is the size of a file you're trying to read?

[2018-09-08 12:52] sengoontoh commented on #3486
Has anyone tried this solution? It worked for me

https://github.com/grpc/grpc/issues/4629

from gevent import monkey
monkey.patch_all()

import grpc.experimental.gevent as grpc_gevent
grpc_gevent.init_gevent()

[2018-09-08 16:00] nodkrot commented on #5731
Firestore is great, I was able to get my blog running in almost no time until I couldn’t get a basic pagination work without total  collection count :(. Solution with google functions to increment/decrement is just making this great experience into very unpleasant one. Please consider this as feature request! +1

[2018-09-08 18:35] Kiranmsai-123 commented on #5134
am facing same issues - reading image from my google cloud storage and response giving Bad image data... please suggest what could be issue? here is my code:

import requests, json, sys
import io

gstorate_url = sys.argv[1]

imageUrl=sys.argv[1]
file=imageUrl.split('/')[-1].split('.')[0]+".txt"

url="https://vision.googleapis.com/v1/images:annotate?key=AIzaSyAh7Ad2prealm9QgP04JJbHOvW_DRmJ3mo"

dat

[2018-09-09 07:47] gr8Adakron opened #5905 "Vision: pass batch of images to get Labels and Web entities"
[code]

This is my class for calling google-vision-api.
Using this method **return_gv_output**, I am able to run google-vision for a single image and get labels + web-entities.
For single Image it works fine, takes around 1sec per image.

But I want to send the bulk of 10 images together so that it will make a single GRPC call to get the output(labels+web-entities) of all images.

**No proper docu

[2018-09-09 07:47] gr8Adakron commented on #5905
@beccca @timburks @jeffk @lukesneeringer any help, please?

[2018-09-09 10:41] markroxor commented on #2990
Neither upgrading `pip` nor upgrading `setuptools` helped :(.

[2018-09-09 16:54] d-m-h opened #5906 "`pip install google-cloud==0.34.0` installs a package called `google-cloud` and nothing else"
As the title states, when I attempt to install the client libraries via PyPi (`pip install --upgrade google-cloud`) as of `0.34.0` this only installs a module called `google-cloud`, yet when I revert to an earlier version (`0.33.1`) all the individual packages come with.

I've tested this on Windows, Mac OS and Debian - I experience the same behaviour for all.

[2018-09-09 18:03] di commented on #5906
From https://pypi.org/project/google-cloud/:

Here's a list of all the specific packages you may want to install instead: https://github.com/GoogleCloudPlatform/google-cloud-python#google-cloud-python-client

[2018-09-09 19:37] nodkrot opened #5907 "Problems with firestore (DX is no good)"
Firestore is great, but I just want to be able to have pagination easily, chat with new messages and infinite scroll easily. But it is not so easy. I cannot find an example and may be I am missing something. End solution ends up looking ugly with many boolean flags. Here are some of the main constrains:

- On the website (in browser), how am I supposed to persist current page (cursor) if user refr

[2018-09-10 07:54] conghungypbn commented on #5813
Same problem happen to me. Trying to use `google.cloud.language`.
Is it possible that because of the runtime. Lambda is on Python 3.6. Which one are you using @galinagpolyakova ?

[2018-09-10 13:19] brianmhunt commented on #5879
@frankyn Of course, thanks for the follow-up.

Our function is given an array of slices of PDFs and converts that to a single PDF.  An oversimplified version is something like this:

[code]

Where the `getPdfFromGS` performs the blob storage read.  If you think it'll help I'm happy to share the code if you email me at `brianmhunt at gmail.com`.

I've only seen the failure occur on the very first f

[2018-09-10 13:47] logmackenzie opened #5909 "Storage: download_to_filename hangs if network disconnects in the middle"
I have an issue where I am downloading large files (a few GB) from Google Cloud Storage using the download_to_filename method. My application needs to be able to transition into and out of offline mode nicely so during testing I was disconnecting from the network and found that if I disconnect in the middle of download_to_filename, the application just hangs and the function never returns.

Exampl

[2018-09-10 15:35] d-m-h commented on #5906
@di alright, thanks for that, though I do think it is then pertinent to update the [Github.io](https://googlecloudplatform.github.io/google-cloud-python/) page, as it still retains the line `pip install --upgrade google-cloud`.

[2018-09-10 15:42] tseaver commented on #5905
The values you pass to [`ImageAnnotatorClient.batch_annotate_images`](https://googlecloudplatform.github.io/google-cloud-python/latest/vision/gapic/v1/api.html#google.cloud.vision_v1.ImageAnnotatorClient.batch_annotate_images) need to be `ImageAnnotationRequests`, or dicts which map to them.  For your case above:

[code]

[2018-09-10 15:42] #5905 closed

[2018-09-10 15:52] tseaver commented on #5909
/cc @frankyn

[2018-09-10 15:54] tseaver commented on #5903
I don't think there can be any connection between the `Client.from_service_account_json` factory and the traceback you are reporting.  What version of `google-cloud-pubsub` do you have installed?  E.g.:

[code]

[2018-09-10 16:41] #5906 closed

[2018-09-10 16:54] tseaver opened #5911 "Docs for autogen libraries are minimal, unsat for GA"
There is nothing like usage docs for any of these libraries.

/cc @theacodes

[2018-09-10 19:26] tseaver opened #5912 "Docs: prepare for repo split"
/cc @theacodes FYR.

Because the "documentation root" changes for inclusions between the monorepo docs build and the per-package docs build, we have to do this in two phases.

Steps before the split:
- For packages whose canonical docs are not symlinks into their own `docs/` tree, move their contents to that directory and set up symlinks.  Test that top-level docs still generate correctly via syml

[2018-09-10 19:27] theacodes commented on #5912
Thanks for doing this, Tres. We can get started on this whenever.

On Mon, Sep 10, 2018 at 12:26 PM Tres Seaver <notifications@github.com>
wrote:

[2018-09-10 20:06] tseaver commented on #5894
@theacodes Should the version trees for `gcloud` stay under `gh-pages`, e,g the [`0.10.0` version](https://google-cloud-python.readthedocs.io/en/0.10.0/).  OTOH, all the `_modules` bits under `gh-pages:0.10.0` are broken.

[2018-09-10 20:07] jordanhurwitz opened #5913 "Pubsub 0.37.2: Observed non-recoverable stream error 400"
Hello! Firstly, thank you for this awesome library!

I am running around 40 pubsub client workers in an EKS cluster. After more than a day of running uninterrupted, one of my pubsub workers observed a non-recoverable error. (The rest are still running fine)

**OS** - ubuntu:16.04
**Python version** - Python 3.5.2
**Pubsub version** - google-cloud-pubsub==0.37.2

**Stack Trace**:
[code]

**Code sni

[2018-09-10 20:13] theacodes commented on #5894
If the docs are broken, we should drop them.

On Mon, Sep 10, 2018 at 1:06 PM Tres Seaver <notifications@github.com>
wrote:

[2018-09-10 20:16] tseaver commented on #5894
I don't even know what the `_modules` bits are for. (/me looks).  Hmm, seems to be pages generated for source code.

[2018-09-10 21:14] galinagpolyakova commented on #5813
@conghungypbn I use 3.6 locally and on AWS. I don't think it's because of Python version, most likely it's smth to do with Virtual Environment Python. Physical PC seems to be different. If you have time try it out on VM and Container and see if that affects imports. Most likely it will.
I gave up and re-implemented lambda on google functions :(

[2018-09-10 22:12] karamach commented on #5325
Just saw this issue with pubsub 0.37 as well. Will followup if it is reproducible.

[2018-09-10 23:49] anguillanneuf opened #5914 "Unsure about`StreamingModifyAckDeadlineRequest`"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/d6fe5e17840c891455e1454bd1b43eef2190118b/pubsub/google/cloud/pubsub_v1/gapic/subscriber_client.py#L269

We need better documentation because right now it's not clear.

1. [Nit] The [Subscriber Client API](https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/subscriber/api/client.html#google.cloud.pubsub_v1.subscribe

[2018-09-10 23:49] frankyn commented on #5879
Thanks, I'd like to keep this discussion as much as possible through Github.  So if someone else hits a similar issue they can find it later.

Is PdfReader wrapping around the google-cloud-storage package? Could you share a portion of that code?

[2018-09-11 01:26] zunger-humu commented on #5876
More data: I just (accidentally) had some code running on 0.30 instead of
0.29, where it was doing a read_rows over about 2700 rows of data. If it
just did the read_rows, everything was fine, but if the read_rows was
intermixed with a mutate operation (batched, but getting several batches
off before things went wrong) the read would stop after 274 rows, with no
error or sign that anything was less

[2018-09-11 04:07] conghungypbn commented on #5813
Hi @galinagpolyakova
I successfully made it work using Python 3.6, just last night. No need for VM or Container, just try Anaconda and/or virtualenv. Make sure that you run all the command using Python 3.6
And yes, the environments are different, but after solving it by yourself, you will find out how they're different.
Google Function has its own problem. You will see eventually :)
I'm new with P

[2018-09-11 04:36] danoscarmike opened #5916 "Please cut a new release of Vision"
@tseaver, we've had a few auto PRs merged to Vision over the past month. Could you please cut a release to unblock a product launch? Thanks!

cc/ @theacodes

[2018-09-11 13:34] brianmhunt commented on #5879
Thanks, here's the salient bit of code that's throwing.

[code]

Where `urlToBucketPath` converts a `gs://` or `https://` Firebase url to the `bucket, path` pair per https://stackoverflow.com/questions/52064868.

It really is as simple as one could possibly imagine;  I was going to put the PDF reader code in but it looks like it never gets called because the slurp (`generateUrlPdfBytesMap`) occurs

[2018-09-11 15:01] bencaine1 opened #5918 "BigQuery: Add BadGateway to DEFAULT_RETRY predicate"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.5.0

I'm getting BadGateway exceptions periodically when running queries with the default retry object. Here's an example (relevant part of the stack trace):

[code]

It would be useful to add this to the DEFAULT_RETRY object in https:

[2018-09-11 17:10] paulorcf commented on #5903
Version: google-cloud-pubsub==0.37.2

[2018-09-11 17:42] tseaver commented on #5894
So, on the `gh-pages` branch, should I:

- `git rm -r stable/ 0.*/`
- Or just leave them as they are.

In addition, should we tweak the RTD config to drop the version-specific and stable builds?  BTW, if you'd like to add me as a maintainer / owner there, I can poke at it.

[2018-09-11 17:44] theacodes commented on #5894
readthedocs is basically dead for us.

On Tue, Sep 11, 2018 at 10:42 AM Tres Seaver <notifications@github.com>
wrote:

[2018-09-11 18:19] tseaver opened #5924 "Release logging 1.7.0"
/cc @liyanhui1228.

Bumping to second-dot because of new Python version support, plus `trace` / `span_id` support.

[2018-09-11 18:44] tseaver commented on #5894
But would it be, post repo-split?  I have a suspicion, for instance, that the ginormous `docs/bigquery/generated` bit (from `autosummary`) may be killing the RTD build.

[2018-09-11 18:57] tseaver opened #5928 "Bigtable: 'test_create_instance_w_two_clusters' flakes with '504 Deadline Exceeded'"
/cc @sduskis, @vikas-jamdar

From:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7977
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7978

[code]

[2018-09-11 19:01] theacodes commented on #5894
Maybe, but it's also possible we might switch hosting altogether.

On Tue, Sep 11, 2018 at 11:45 AM Tres Seaver <notifications@github.com>
wrote:

[2018-09-11 19:09] tseaver commented on #5894
Hmm, too bad we don't know somebody who has a free-to-us place to put static HTML for documentation websites. :)

[2018-09-11 19:10] theacodes commented on #5894
Haha.

On Tue, Sep 11, 2018 at 12:09 PM Tres Seaver <notifications@github.com>
wrote:

[2018-09-11 19:19] theacodes commented on #5849
Thanks, @dmsolow I'm trying to reproduce this now. This one is tough, as it doesn't seem to appear very often for us.

[2018-09-11 19:46] tseaver commented on #5479
[Another failure today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7984)

[2018-09-11 19:47] tseaver commented on #5759
[Another failure today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/7987)

[2018-09-11 19:55] srini100 commented on #5479
This fix https://github.com/grpc/grpc/pull/16296 might help? It will be available in gRPC v1.15.0 coming out shortly. See the related issue https://github.com/grpc/grpc/issues/16290. There are still some race conditions that need to be debugged.

[2018-09-11 20:19] tseaver opened #5931 "Logging: 'test_update_sink' flakes with '503 Service Unavailable'"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8002

[code]

[2018-09-11 20:54] tseaver opened #5934 "BigQuery: 'test_extract_table' flakes with '429 Too Many Request' in bucket creation"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8007

[code]

There is also a subsequent 404 in the tear-down, which I think we can ignore.

[2018-09-11 21:17] tseaver commented on #5924
Via #5926

[2018-09-11 21:17] #5924 closed

[2018-09-11 23:55] danoscarmike opened #5940 "Please cut new release of Cloud Storage"
Please cut a release to include https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5877 (Object Lifecycle Management)

[2018-09-12 00:10] tseaver commented on #5940
See #5942.

[2018-09-12 04:09] hishnash opened #5944 "FireStore: Saving items that have both empty object values and SERVER_TIMESTAMP results in missing attributes."
When saving data to firestore with an attribute that is an empty `{}`:

if the date fields are `firestore.SERVER_TIMESTAMP` then the field with an empty `{}` is not persisted to the db but if the date fields are `Datetime` instances then the empty object fields are persisted.

### OS type and version
1) MacOS 10.13.6 (17G2307)
2) DOCKER container: Linux version 4.9.93-linuxkit-aufs (root@856d34d11

[2018-09-12 04:17] danoscarmike commented on #5940
Thanks Tres and for pointing that out.

[2018-09-12 19:15] #5940 closed

[2018-09-12 19:18] tseaver commented on #5940
Release is at: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/storage-1.12.0

[2018-09-12 22:02] #5849 closed

[2018-09-12 22:32] #5913 closed

[2018-09-13 00:03] Babylon-Jim commented on #2990
Same error whilst trying to pip install Gasp 0.4.5:
Command "python setup.py egg_info" failed with error code 1 in C:\Users\*******\App
Data\Local\Temp\pip-install-q7skuluu\gasp\

Upgraded pip, wheel and setuptools:
Successfully installed pip-18.0 setuptools-40.2.0 wheel-0.31.1

I tried downgrading setuptools to 34.3.0 as mentioned by AlbertWigmore & MarSoft above using:
python -m pip install setu

[2018-09-13 10:34] arvindnrbt opened #5964 "Storage: Uploading with signed url from client side returns 404 or 413 errors"
**Our Usecase**
We have thousands of files that needs to be uploaded to GCS and hence we have planned to generate a pre-signed url for each of the file in batches and attempt to upload them directly from the client side.

**Additional Info**
We are uploading files into a folder in GCS bucket which I know is just a prefix to the name of objects that we are uploading (Including this detail to see if

[2018-09-13 13:19] bencaine1 commented on #5918
I've patched the library at commit f3e00adb4abec400ecc51636cd2c5632b44af5ea, and we're still getting BadGateways.

I think it's because the BadGateway is raised before the job is done, and therefore looking at the job's errors isn't going to show BadGateway. So I believe you'll need to catch BadGateway using something like the if_exception_type method (https://github.com/GoogleCloudPlatform/google

[2018-09-13 13:56] jianatldd commented on #5671
Hi: @zinjiggle
 I have same type of error for any scanned PDF or TIFF file from Xerox Multifunction Printer. I loaded the TIFF file into window Paint program and Save as another TIFF file. it works fine
I attach these files for you to look at
Scanned from a Xerox Multifunction Printer001.tif    (one page ) not working
Scanned from a Xerox Multifunction Printer(6).pdf  (multi pages ) not working
sa

[2018-09-13 16:14] sduskis commented on #5876
@AVaksman reproduced the problem with a request of reading the entire table (i.e. None start/end).  Our retry logic doesn't properly handle that situation.  A PR is coming shortly.

[2018-09-13 18:12] tseaver commented on #5918
@bencaine1 Thanks for the followup.  The issue is that the `BadGateway` you report is being raised from `Client._get_query_results`, which doesn't take a `retry` argument.

[2018-09-13 18:17] tseaver commented on #5918
Oops, `Client._get_query_results` **does** [take a `retry` argument](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/64caa5f0a319313ccc5dbe515ae91c4029548447/bigquery/google/cloud/bigquery/client.py#L538), and `QueryJob.result` [passes it](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/64caa5f0a319313ccc5dbe515ae91c4029548447/bigquery/google/cloud/bigquery/job.py#L

[2018-09-13 18:31] sduskis commented on #5928
We probably need to increase the time out from the 130 seconds it is now, to more like 15 minutes.  Create table can take longer than 2 minutes, depending on conditions.

[2018-09-13 18:35] tseaver commented on #5964
When using `PUT`, you are dealing with the [XML API](https://cloud.google.com/storage/docs/xml-api/put-object), not with the `google-cloud-storage` library.  It looks like you want to use this library just to generate signed URLs, and then upload to those URLs in some other way.

That usage is out-of-scope for `google-cloud-storage`. Please see the [Getting Support page](https://cloud.google.com/s

[2018-09-13 18:35] #5964 closed

[2018-09-13 18:42] tseaver commented on #5928
@sduskis The deadline in [bigtable_table_admin_client_config.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/64caa5f0a319313ccc5dbe515ae91c4029548447/bigtable/google/cloud/bigtable_admin_v2/gapic/bigtable_table_admin_client_config.py#L39) is set via autosynth.  We would need to get the upstream configuration fixed, rather than changing here manually.

[2018-09-13 18:45] sduskis commented on #5928
Understood.  I am in progress in making those upstream changes now.

[2018-09-13 18:45] tseaver commented on #5894
So, should I just remove the stale pages from the `gh-pages` branch?  E.g.:

[code]

[2018-09-13 18:57] tseaver commented on #5479
@srini100 As of today, our test configuration picks up `grpcio-1.15.0`.  Fingers crossed.

[2018-09-13 19:07] theacodes commented on #5894
Sure, but can we make a 404 page that does a JS redirect if some lost soul
finds themselves there?

On Thu, Sep 13, 2018 at 11:45 AM Tres Seaver <notifications@github.com>
wrote:

[2018-09-13 19:11] tseaver opened #5967 "Suppress 'PendingDeprecationWarnings' in GAPIC-based clients"
Clients which pass through `channel` rather than `transport` to their low-level `api` constructors trigger `PendingDeprecationWarnings`:

[code]

Tests for those packages routinely trigger those warnings (repeatedly).

[2018-09-13 19:14] tseaver commented on #5894
For my own memory: https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/

[2018-09-13 19:18] tswast commented on #5918
It could be that `errors` or `reason` isn't getting populated? I think 502 comes from the layer before it actually hit's BigQuery, so maybe the BigQuery team's advice to look at the body rather than error codes shouldn't apply for 502?

[2018-09-13 19:18] tswast commented on #5918
CC @shollyman

[2018-09-13 20:29] shollyman commented on #5918
Yes, this is likely a GFE response, which means we're not going to get a structured error back.

[2018-09-13 21:04] sjungwirth commented on #3736
For anyone else running into this issue with Google Cloud Composer, I ran into it after adding apache-beam[gcp]==2.6.0 to my Composer dependencies.

The issue here was that apache-beam is installing google-cloud-bigquery==0.25.0, which causes a bunch of other packages to be downgraded.

The fix for me was to explicitly state/install google-cloud-core>=0.28.0 google-cloud-bigquery>=1.5.0 AFTER apac

[2018-09-13 21:08] nnegrey opened #5969 "Deprecation Warning for google-cloud-vision 0.34.0"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-09-13 21:14] sduskis commented on #5876
@zunger-humu and @xEcEz, we were able to reproduce the problem relating to full table reads (i.e. not specifying start/end).  Did you set start / end in your applications, or did you read the full table?

[2018-09-13 21:39] zunger-humu commented on #5876
I believe that in all the cases where this bug triggered, it was scanning
all rows.

On Thu, Sep 13, 2018 at 2:15 PM Solomon Duskis <notifications@github.com>
wrote:

[2018-09-13 23:23] doctorpangloss opened #11865 "Skeletons / proper typing missing for this kind of code synthesis"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/c2a7bffb11425d9c5e98425f8282866a7c7fd634/vision/google/cloud/vision_helpers/decorators.py#L18

Do you think you could commit a valid, simple set of methods that will appear in IDE autocompletes like PyCharm?

It would greatly improve usability of your cloud APIs.

The test is pretty simple:

 1. Open a blank project in PyCharm 2018.

[2018-09-14 04:09] #5892 closed

[2018-09-14 07:01] xEcEz commented on #5876
@sduskis It happened during full table reads.

[2018-09-14 07:27] normster commented on #5671
I'm having a similar issue- when I call document text detection on a .pdf file it fails but when I export as .jpg and then call document text detection it succeeds. Files attached below:
![kdl-vol1-033](https://user-images.githubusercontent.com/6687910/45535985-f8be0880-b7b4-11e8-90c5-e8297e968ccd.jpg)
[kdl-vol1-033.pdf](https://github.com/GoogleCloudPlatform/google-cloud-python/files/2382368/kdl-

[2018-09-14 13:58] jocieA commented on #3736
Hi @sjungwirth and @sonlac ,

Thanks for getting back on my post, these have been very useful.
I recently tried running my pipeline on the latest version of cloud composer (1.1.0) and it worked without specifying versions of google cloud core, big query, cloud storage, requests etc. I think some improvements have been made to address this issue. Currently i'm looking forward to upgrade my existing

[2018-09-14 15:09] sduskis commented on #5967
Is it possible to clean up the generator?

[2018-09-14 15:10] sduskis commented on #5969
This looks like a duplicate of #5967

[2018-09-14 15:38] jianatldd commented on #5671
I found out what is the problem for my scanned document, it is because of default scan resolution is only 200dpi, when i change to 300dpi it works.
however, I believe google vision should allow lower dpi to go through OCR, a lot of scanned PDF coming from fax, the standard fax resolution is only 204x98,  fine mode 204x196 dpi, my email to fax service do OCR on all incoming fax automatically, the O

[2018-09-14 16:07] mcandre opened #5984 "Homepage dead links"
The github.com/GoogleCloudPlatform/google-cloud-python homepage links to https://googlecloudplatform.github.io/google-cloud-python/ , which links to deprecated PyPI project https://pypi.org/project/google-cloud/ . Could we please update these pages to point to non-deprecated things?

[2018-09-14 16:27] theacodes commented on #5967
/cc @lukesneeringer

[2018-09-14 17:31] danoscarmike opened #5985 "Please cut a release of Cloud Asset"

[2018-09-14 18:45] #5894 closed

[2018-09-14 18:54] #5969 closed

[2018-09-14 18:58] tseaver commented on #5985
Pending fixed codegen in #5987.

[2018-09-14 19:05] tseaver commented on #5985
@danoscarmike I've got a question about packaging metadata / branding:  at the moment, `setup.py` has the name of the installed package as `google-cloud-cloudasset`, which has two drawbacks:

- It sounds inane when pronounced.
- It doesn't match the package structure (`google.cloud.asset_v1`).

I would prefer just using `google-cloud-asset` as the PyPI name.

[2018-09-14 22:14] telenieko opened #5990 "Cloud Storage: Bucket.list_blobs returns incomplete set of blobs."
Hi there,

Tested on MacOS and Google Cloud Functions Python. Package Versions:
[code]

I have a bucket full, full of files. When I query it from gsutil I get everything, just fine.
But when using list_bucket I only get a subset of the files.

[code]
gsutil always gives all results (11822), but my python function only sees 4848 results, always 4848.

[code]

Sadly I cannot share the bucket as it i

[2018-09-14 22:28] ricoms opened #5991 "`/` is not welcome to `export_output` (gcloud.ml-engine.local.predict) Expected ) in projection expression [table(class_id *HERE* /name_tree1"
Hi,

Is this the correct place for submitting a bug like this?
https://stackoverflow.com/questions/52339759/error-gcloud-ml-engine-local-predict-expected-in-projection-expression-tab

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
    ML Engine
2. OS type and version
    Ubuntu 16.04
3. Python version and virtual environment information `python --version`
    Pytho

[2018-09-15 01:36] tseaver commented on #5990
Passing `prefix=base` limits the results to files whose [names start with `base`](https://cloud.google.com/storage/docs/json_api/v1/objects/list#parameters).  Your `gsutil` command line is not supplying that filter.

Please feel free to reopen if you find an apples-to-apples comparison where `Bucket.list_blobs` is not returning all expected values.

[2018-09-15 01:36] #5990 closed

[2018-09-15 01:39] tseaver commented on #5991
I am sorry you are having troubles with the Cloud SDK.  However, this repository is not the right place to report issues with it (we maintain the `google-cloud-*` API client libraries for Python here).

Please see the [Cloud SDK Getting Support page](https://cloud.google.com/sdk/docs/getting-support).

[2018-09-15 01:39] #5991 closed

[2018-09-15 04:38] stankovicsrdjo opened #5992 "Vision: is global 'text confidence' available?"
Hello,

Is there possibility to implement 'overall' confidence of text extracted scanned using Google Vision Text Detection ?

I know there is confidence for each label, letter and etc. but I can't find confidence for the last 'text' block.

For example adding 'confidence' tag bellow text tag. Currently JSON body looks like this:

` }
}
text: "Lorem Ipsum\n\342\200\242 Lorem ipsum dolor sit amet,

[2018-09-15 10:01] telenieko commented on #5990
Ok, I feel ashamed now. I was checking different places. Thanks for pointing it out @tseaver ! Fixed the typos and now working perfect

Do not take this into account when I run for President of the Known Universe!

[2018-09-15 22:26] ericgj commented on #5903
I just got the same error, `google-cloud-pubsub==0.38.0`.  And the same workaround worked for me too (thanks Paulo).  [Possibly related StackOverflow question](https://stackoverflow.com/questions/31843088/isinstance-doesnt-work-when-use-reflection-of-python-protobuf-v2-6-1) ?

[2018-09-16 16:11] brianmhunt commented on #5879
This continues to occur with google-cloud-storage version 1.11.0.

[2018-09-17 15:57] oittaa opened #5994 "Storage: please add something like createUploadUrl() in PHP"
I tried to search from the documentation and the code something similar to PHP's [createUploadUrl()](https://github.com/GoogleCloudPlatform/appengine-php-sdk/blob/6bdf4bcb638782526a6969aa36528ac583cbc3da/google/appengine/api/cloud_storage/CloudStorageTools.php#L161-L249), but I couldn't find anything. Please consider adding that functionality to the Python library.

[2018-09-17 16:00] tseaver commented on #5903
@paulorcf It looks as though you are bypassing the "main" API for publishing messages ([`pubsub_v1.PublisherClient.publish`](https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/publisher/api/client.html#google.cloud.pubsub_v1.publisher.client.Client.publish)), and instead calling the lower-level, GAPIC-generated helper (`pubsub_v1.gapic.publisher_client.PublisherClient.publish`

[2018-09-17 16:06] tseaver commented on #5994
I think the method you are looking for is [`Blob.generate_signed_url`](https://googlecloudplatform.github.io/google-cloud-python/latest/storage/blobs.html#google.cloud.storage.blob.Blob.generate_signed_url)[https://googlecloudplatform.github.io/google-cloud-python/latest/storage/blobs.html#google.cloud.storage.blob.Blob.generate_signed_url].  To use it for upload:

[code]

[2018-09-17 16:06] #5994 closed

[2018-09-17 16:11] theacodes opened #5995 "Incoming link broken on Spanner docs"
It seems #5938 renamed `usage.html` to `index.html`, but didn't setup any redirects. This is breaking some incoming links, unfortunately.

[2018-09-17 16:35] tseaver commented on #5995
The other migrated docs (datastore, storage, logging, language, translate)  have similar issues.

[2018-09-17 16:56] #5995 closed

[2018-09-17 16:58] #5876 closed

[2018-09-17 17:03] zunger-humu commented on #5876
Awesome -- thank you!

Is this going to be released as a fixed version of 0.30?

On Mon, Sep 17, 2018 at 9:58 AM Tres Seaver <notifications@github.com>
wrote:

[2018-09-17 17:04] sduskis commented on #5876
@zunger-humu, I just submitted #5997 to create a 0.30.2 version.

[2018-09-17 17:05] zunger-humu commented on #5876
You rock. :)

On Mon, Sep 17, 2018 at 10:05 AM Solomon Duskis <notifications@github.com>
wrote:

[2018-09-17 17:26] #5985 closed

[2018-09-17 17:50] tseaver commented on #5928
Another two failures today:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8187
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8188

[2018-09-17 18:02] sduskis commented on #5928
FYI, my internal changes touched more than just `CreateTable`.  I wanted to fix other RPCs as well.  Hopefully, we'll get a fix out this week.

[2018-09-17 19:11] ericgj commented on #5903
I believe they showed their code in the original post, re-pasting it here, it's the same I used.  It's the `from_service_account_json` constructor.

[code]

[2018-09-17 20:10] schmidt-sebastian commented on #5731
For some documentation, please take a look at https://firebase.google.com/docs/firestore/query-data/query-cursors

[2018-09-18 13:03] LorensK commented on #3757
For the information of other people who may happen on the problem (this page is top-ranked on google for "distutils.errors.DistutilsError: Could not find suitable distribution for Requirement.parse": when running pip install, the installation of second-level requirements may be done by an older method with different behavior (easy_install) than the primarily requested packages. Look above your err

[2018-09-18 14:31] AyKarsi commented on #5671
We had a very similar problem using the node library. (Error: Error in extracting images from PDF file gs://..) and spent a good day trying to figure out the reason. We were uploading the files using gzip compression.   after disabling gzip compression, it suddenly works.

[2018-09-18 14:57] joshwolff1 commented on #5813
Same issue here when using virtualenv or not using it.. Here are my import statements:

import google.oauth2
import googleapiclient.discovery
import google.cloud.vision

Here's the trace:
14:53:26
START RequestId: 265c6bd5-749a-4622-b5e9-f504e961068c Version: $LATEST
14:53:26
Unable to import module 'lambda_function': cannot import name 'cygrpc'
14:53:26
END RequestId: 265c6bd5-749a-4622-b5e9-f504

[2018-09-18 15:10] tseaver commented on #5813
I'm not familiar with AWS Lambda.  Can one of you experiencing this issue please show in detail the steps you used to get `google-cloud-speech` and its dependencies installed into the environment?

[2018-09-18 15:15] kerighan opened #6008 "Pubsub: 'thread_name_prefix' error"
Hi !

I have installed and upgraded google cloud (Im' working on Python 2.7), but whenever I try to create a SubscriberClient object, I get the following error : TypeError: __init__() got an unexpected keyword argument 'thread_name_prefix'

This happens on my machine but also on Google Compute engines. This error comes from the fact that the concurrent.futures.ThreadPoolExecutor class does not hav

[2018-09-18 15:21] bencaine1 opened #6009 "Core: Add "deadline per retry" parameter to Retry object"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud: 0.34.0

It would be great if, instead of specifying a deadline and retrying a query until you hit the deadline, you could specify a deadline per retry and a number of retries. For instance, I'd like to retry a query up to 3 times with a deadline

[2018-09-18 15:54] joshwolff1 commented on #5813
Yes, absolutely. Please note that I found this thread with a google search, and that I am trying to import the google-api-python-client and google-cloud-vision with python3.6 runtime.

For AWS Lambda, you have to export a [deployment package](https://docs.aws.amazon.com/lambda/latest/dg/lambda-python-how-to-create-deployment-package.html) if you want to use external modules. There are two ways to

[2018-09-18 15:57] joshwolff1 commented on #5813
I will post more once I have more information. I am in the process of trying to figure this out as well. Odd bug!

[2018-09-18 16:01] joshwolff1 commented on #5813
I can go into more detail if you'd like.

[2018-09-18 16:47] theacodes commented on #6009
You can subclass `Retry` and provide your own strategy, but we won't be changing our overall deadline pattern as part of the core library.

[2018-09-18 16:47] #6009 closed

[2018-09-18 19:30] tseaver commented on #6008
Can you please provide the complete traceback?  Also, the output from `pip freeze`?

[2018-09-18 19:32] tseaver commented on #4928
@theacodes, @crwilcox Who is our back-end PoC for the Speech API?

[2018-09-18 19:33] jerjou commented on #4928
I thought I fixed this. Is this still happening?

[2018-09-18 19:35] jerjou commented on #4928
Assigning to me might not be the best idea... I'm leaving in a week or two..

[2018-09-18 19:37] tseaver commented on #4928
@jerjou Was your fix in the back-end?  I saw your first pass at it in PR #5406, but you closed it without a merge, noting:

[2018-09-18 19:37] jerjou commented on #4928
Oh - yes. It was.

[2018-09-18 19:39] tseaver commented on #4928
@jerjou Can we close this issue because that fix is deployed in production?

[2018-09-18 19:45] sduskis commented on #5928
@tseaver, I got the changes out.  See this [googleapis commit](https://github.com/googleapis/googleapis/commit/59036b030f4a02b1eef2425d76064992b50c4d9e#diff-05c73320211201124119d8c88eb6d5d2) for details.

A synth regen should hopefully fix this flake.

[2018-09-18 19:55] tseaver commented on #5813
@joshwolff1 It sounds like an architecture / system library mismatch between the machine on which you build the deployment package and the system where it runs.  Can you verify the contents of the `/lib/python3.6/site-packages/grpc/_cython/` directory in your zipfile?

[2018-09-18 19:57] jerjou commented on #4928
Yup!

[2018-09-18 19:57] #4928 closed

[2018-09-18 20:02] tseaver commented on #5813
The AWS deployment docs you linked say about the non-virtualenv strategy:

If you are using Linux, the [Lambda Execution Environment and Available Libraries](https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html) document states:

So, it looks like you need to build the deployment package in a VM which uses that image.

[2018-09-18 20:02] tseaver commented on #4928
W00t!  Thanks, @jerjou .

[2018-09-18 20:05] tseaver commented on #5671
I'm going to close the issue here, as it doesn't seem related to the `google-cloud-vision` library.  Please feel free to keep working on the pipeline stuff here, though.

[2018-09-18 20:05] #5671 closed

[2018-09-18 20:07] tseaver commented on #5990
@telenieko No need for shame:  we all overlook stuff like that.  I'm glad the library is working for you!

[2018-09-18 20:16] tseaver commented on #5903
@ericgj we have [passing system test for `PublisherClient.publish`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/db2019aab45775ca8955cbc67b5df1c2be5870b8/pubsub/tests/system.py#L69).

Can you provide the complete traceback, along with the value you are passing to `publish`?

[2018-09-18 20:27] tseaver commented on #5813
I'm going to close this issue, as I don't think there is anything actionable for `google-cloud-speech`.

Please feel free to continue discussing here, and we can re-open if anything develops that we can address here.

[2018-09-18 20:27] #5813 closed

[2018-09-18 20:34] tseaver commented on #5318
@benbc, @jakewins When the 409 response occurs, have you already received / processed any log entries?

[2018-09-18 20:34] tseaver commented on #5507
@ace-n Ping?

[2018-09-18 20:40] tseaver commented on #5710
Once https://github.com/googleapis/gapic-generator/pull/2289 is merged / released, we can re-run synth to pick up the fix.

[2018-09-18 20:43] tseaver commented on #5776
@theacodes I'm closing this issue, because duplicating the `grpc` pins everywhere creates roach motels.  The workaround is to include `grpcio` explicitly in the application's `requirements.txt`

[2018-09-18 20:43] #5776 closed

[2018-09-18 21:16] tseaver commented on #5944
I can verify that the error is present in `google.cloud.firestore_v1._helpers.pbs_for_set` (i.e, we are not copying the empty dict *before* we send it on the wire to the back-end).

[2018-09-18 22:11] tseaver commented on #5944
@lukesneeringer added an explicit skip of empty dicts in `_helpers.process_server_timestamp` in 8d03ef88.

@jba Can you confirm one way or another whether skipping empty dict values is correct?

[2018-09-18 22:20] #5918 closed

[2018-09-19 12:41] tseaver commented on #5523
I don't anything actionable here for `google-cloud-pubsub`.

Please feel free to reopen if you can point to something which we could do to address the issue.

[2018-09-19 16:24] danoscarmike opened #6026 "Please cut a release of Video Intelligence"
Need to unblock tests of samples

[2018-09-19 17:10] rasmi commented on #5834
@frankyn -- any updates?

[2018-09-19 17:30] frankyn commented on #5834
Apologies on the wait.

content-type is optional and defaults to `application/octet-stream` based on [Storage.Objects Ref docs](https://cloud.google.com/storage/docs/json_api/v1/objects#resource). I don't think we should fail the method if it's not set.

Additionally, I'm looking at `upload_*` and these methods provide a parameter for content_type. Including this parameter would follow the pattern

[2018-09-19 17:37] rasmi commented on #5834
Great! content-type as an optional parameter (but falling back to the default through `self._get_content_type`) seems ideal.

Could this lead to unexpected behavior? For example, composing blobs of some non-default type but not specifying that type in compose leads them to be composed as `application/octet-stream`. I suppose the type can also be inferred from the types of the objects being compose

[2018-09-19 17:43] frankyn commented on #5834
@rasmi that sounds like a fair condition.
[code]

I think inferring the content-type might be not be as helpful as simply surfacing a parameter for the content type. I think it would feel magical _which is not a bad thing_, but it may or may not be the desired result for everyone.

[2018-09-19 17:44] #6026 closed

[2018-09-19 17:47] theacodes opened #6028 "Cut a new release of KMS"

[2018-09-19 17:58] wawrencelu opened #6029 "Spanner: database.transaction() does not work anymore"
Hi, the docs state that I can start a transaction like so: https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/transaction-usage.html#use-a-transaction-as-a-context-manager

[code]

However, when I call it I receive an error saying that `transaction` attribute does not exist on the database object. Looking at the source, it looks like that method no longer exists either.

Why

[2018-09-19 17:59] rasmi commented on #5834
Okay, agreed.

I can submit a PR. However, I have an implementation question. Content type is [not explicitly used in `self.compose`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/dc5d144567ffee60a7438d54a4516d3016a5bfa3/storage/google/cloud/storage/blob.py#L1381-L1400), but it does pass `self` when making a request, so presumably the blob object's content type must be set before

[2018-09-19 18:00] tseaver commented on #5834
@frankyn as long as the [`objects.compose` API](https://cloud.google.com/storage/docs/json_api/v1/objects/compose) honors the `destination.content_type` field, it should work just to set `content_type` on the `Blob` instance through which we are invoking it (we already require that, in fact, because we copy the destination blob's properties into the request body).

[code]

I don't really see the v

[2018-09-19 18:11] frankyn commented on #5834
Thanks @tseaver, your comment helps.
I don't think we should infer content types from a list of objects and instead depend on the destination blob content type.

How about, not failing the compose if a content_type is not found?

[2018-09-19 18:13] tseaver commented on #5834
That would be fine.  It has been a while, but I wonder if I added that check because the `objects.compose` API used to fail if it wasn't set.

[2018-09-19 18:17] frankyn commented on #5834
Ah good question. I do recall this came up for [Node.js](https://github.com/googleapis/nodejs-storage/issues/166) and the GCS API has since changed this requirement. The code used to be correct but now the restriction has been removed.

[2018-09-19 18:19] tseaver commented on #6029
@wawrencelu a `Transaction` instance is bound to a `Session`, not to the `Database`.  We should just remove any mention of `Database.transaction()` from the docs, and show it as being used from within a session instead.

Or we could just remove the examples which show manual use of the `Transaction`:  the preferred mode is to use `Database.run_in_transaction()`, because it handles the complicated

[2018-09-19 18:30] snehashah16 commented on #6029
Sure, we can reference all docs (all mentions) to point to `Database.run_in_transaction()`

hopefully there are useful snippets on the manual usage just if a specific usecase exists

[2018-09-19 18:41] tseaver commented on #5834
PR #6031 makes that change, including a system test.  Note that the server does *not* set `application/octet-stream` as the composed object's `contentType`:  it remains unset.

[2018-09-19 19:17] tseaver commented on #6029
@snehashah16 #6032 leaves the manual snippets in place, but sets them off with notes pointing to `run_in_transaction`.

[2018-09-19 19:20] #5834 closed

[2018-09-19 20:26] jlara310 opened #6033 "Cloud Firestore: Can't iterate through all query results"
google-cloud-firestore
Version: 0.29.0
Linux, Python 2.7.13

When you try to iterate over a query result, the generator times out after a while and does not return an error. Query result generator will silently miss results in queries with many documents.

[code]

Issue brought up in this [SO post](https://stackoverflow.com/questions/52360438/why-arent-all-my-documents-updated-in-firestore).

[2018-09-19 21:14] tseaver commented on #6033
Your example mutates the collection while iterating it, which isn't likely to be safe even for an in-process datastructure like `list` or `dict`.  This example fetches the collection snapshots first, converting them to document references, and then iterates them, performing the updates:

[code]

[2018-09-19 21:14] #6033 closed

[2018-09-19 21:36] jlara310 commented on #6033
Thank you for the prompt reply!

[2018-09-20 03:39] houglum opened #6035 "Storage: `download_to_file()` decompresses gzip'd object even when passed "Accept-Encoding: gzip""
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
   - Storage
2. OS type and version
   - Only tested on Linux (Debian), but I assume this happens regardless of OS
3. Python version and virtual environment information `python --version`
   - Python 2.7.13
4. google-cloud-python version `pip show google-cloud`, `pi

[2018-09-20 14:39] scsmla commented on #2990
Still not working for me

[2018-09-20 16:53] #6029 closed

[2018-09-20 18:27] enriquejosepadilla opened #6039 "Resource Manager: 403 from project.create() for non-corp account"
Python: 3.5.3
Operating System: Debian GNU
Pip Freeze:

google-api-core==1.3.0
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
google-cloud-container==0.1.1
google-cloud-core==0.28.1
google-cloud-resource-manager==0.28.1
google-cloud-storage==1.11.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3

Stacktrace:

Traceback (most recent call last):
  File "

[2018-09-20 19:01] tseaver commented on #6039
@theacodes Can you confirm that moving `resourcemanager` from `v1beta1` to `v1` is reasonable?

[2018-09-20 19:43] theacodes commented on #6039
Yeah totally reasonable.

On Thu, Sep 20, 2018 at 12:01 PM Tres Seaver <notifications@github.com>
wrote:

[2018-09-20 19:52] bmanohar16 commented on #5813
I had the same issue " cannot import name 'cygrpc' " while running the lambda.

Solved it with `pip install google-cloud-vision` in the AMI amzn-ami-hvm-2017.03.1.20170812-x86_64-gp2 instance

and exported the `lib/python3.6/site-packages` to aws lambda
Thank you @tseaver

[2018-09-20 20:11] tseaver commented on #6039
@enriquejosepadilla Can you retry with the current trunk?

[2018-09-20 22:12] enriquejosepadilla commented on #6039
Alas, if only the beta version of the API was the same. I got the following stacktrace:

Please wait while project Djangogke Project is being created
Traceback (most recent call last):
  File "/usr/local/google/home/epad/.local/share/virtualenvs/django-gke-0KxaOTFM/bin/django_gke", line 11, in <module>
    load_entry_point('django-gke', 'console_scripts', 'django_gke')()
  File "/usr/local/google/

[2018-09-20 22:12] blainehansen opened #6042 "Bigquery: add ability to restrict Client class to particular dataset"
We have a multi-tenant approach, and want to be able to create multiple "binds" to different "databases", much like you can with traditional databases like postgres.

This started as a discussion in in the bigquery sqlalchemy dialect project:
https://github.com/mxmzdlv/pybigquery/issues/24
https://github.com/mxmzdlv/pybigquery/pull/25

Especially in this comment:
https://github.com/mxmzdlv/pybigqu

[2018-09-20 22:15] crwilcox opened #6043 "Firestore: Improve docs for 'Query.get' / 'Collection.get'"
`Query.get` (which underlies `Collection.get`) could have better documentation strings. Particularly there is no mention that iteration must be completed in the `max_rpc_timeout_millis` as specificed when creating the firestore_client. If iteration is not completed in that time, the iteration will stop at the timeout.

This is in response to a customer question on StackOverflow:

https://stackover

[2018-09-20 22:16] blainehansen commented on #6042
I should mention, that if there's another, similarly ergonomic way to achieve this kind of safe multi-tenancy, we're very open to it. The only other way I could think of was to create many google cloud "projects", but it seems like that would have a substantial maintenance overhead.

[2018-09-20 23:19] jba commented on #5944
@schmidt-sebastian

[2018-09-20 23:33] schmidt-sebastian commented on #5944
You can implement this in a couple different ways, but in order to get the conformance tests to pass, you need to send the absolute minimum requests that produces the desired outcome:

- For set(empty:{}), you need to send an write request that sets 'empty' to an empty map.
- For set(nonEmpty:{time:ServerTimestamp}), you only need to send a server transform, since the backend will implicitly creat

[2018-09-21 10:13] ohld commented on #5798
@AbhishekBabuji
Can you please share your solution to this problem? I have the same exceptions.

[2018-09-21 10:57] zemlanin commented on #5888
I'm (also?) having troubles with logging any `extra` information as it is described in python's standard usage patterns. When logging something via calls like `log.info("message", extra=dict(x=1))`, there is nothing from `extra` in Log Viewer

It seems like `BackgroundThreadTransport` [strips away](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e551423216cb8963262405de5be7d6851643

[2018-09-21 14:50] tseaver commented on #6033
@jlara310 #6043 is a request to document that `Query.get` / `Collection.get` have a time limit on iteration, which explains why making longer calls to `time.sleep` reduced the number of rows in your example.

[2018-09-21 14:53] tseaver commented on #6043
#6033 was the previous report of that same SO issue here.  I wasn't aware of the timeout:  I assumed that it was a problem with non-transactional write-during-read.

[2018-09-21 14:57] tseaver commented on #5944
@schmidt-sebastian The reported case is a combination of the two.  The code in Python which generates the server transform ends up munging the data (to comb out the server timestamp fields) and ends up dropping empty maps.

[2018-09-21 15:00] tseaver commented on #5944
I think the intent of the code in place is to avoid sending an empty map if the original map contained only server transforms:  it overlooks the case that the map was originally empty.

[2018-09-21 15:48] arvindnrbt commented on #5879
This issue occurs to me as well. But in my case, it throws connection error when I'm trying to get a bucket before signing a url.
Code:
[code]
Traceback:
[code]

[2018-09-21 17:03] jba commented on #5944
@jadekler to add this case to the conformance tests.

[2018-09-21 17:19] arvindnrbt commented on #5671
I got this issue back again. @zinjiggle I've sent you one more pdf by mail. Please let us know why the issue occurs.

[2018-09-21 17:41] tseaver commented on #5944
PR #6050 implements a fix based on the understanding I noted above.

[2018-09-21 17:50] tseaver commented on #5944
PR #6050 implements a fix based on the understanding I noted above.

[2018-09-21 17:55] rafaeldelucena opened #6051 "Speech: Link for Client Library Documentation throws error 404"
The [link](https://googlecloudplatform.github.io/google-cloud-python/stable/speech/usage.html) to Client Library Documentation at [Next Steps](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/README.rst#next-steps) throws 404.

[2018-09-21 18:20] enriquejosepadilla commented on #6039
Going to the rest docs [here](https://cloud.google.com/resource-manager/reference/rest/v1/projects/create#response-body) and comparing the v1 vs v1beta theres a clear difference:

v1:

{
  "name": "operations/cp.5198783426586810065"
}

v1beta:

{
  "projectNumber": "567866699074",
  "projectId": "testing23452376",
  "lifecycleState": "ACTIVE",
  "name": "testing",
  "createTime": "2018-09-21T18:14

[2018-09-21 18:24] tswast opened #6053 "Release google-cloud-bigquery 1.5.1"
We've had a recent bug fix PR that needs to get released.

I forget if we've had any feature PRs since the last one.

[2018-09-21 18:32] tseaver commented on #6053
Looks to me like it is all bugfixes, plus docs and testing changes.  So `1.5.1` seems like the right version.

[2018-09-21 19:31] tswast commented on #6042
Since `pybigquery` supports a credentials path (and this library supports arbitrary google-auth credentials to the `Client` constructor), I think that part is covered with some automation on your part for [creating service accounts](https://cloud.google.com/iam/docs/creating-managing-service-accounts#iam-service-accounts-create-python), [downloading keys](https://cloud.google.com/iam/docs/creating

[2018-09-21 19:31] #6042 closed

[2018-09-21 19:33] #6053 closed

[2018-09-21 22:55] max-sixty opened #6055 "BigQuery: Potentially more Pythonic options for the API?"
I _thought_ I'd discussed this with @tswast, and he'd even generously added a PR; but after ten mins of searching GH I've come up empty on both issues and PRs, so posting here.
@tswast lmk if my memory is correct and we have discussed this!

I appreciate API design is difficult and there are tradeoffs between verbosity vs explicitness, and consistency within a product vs language-specific adjustme

[2018-09-21 23:47] blainehansen commented on #5183
I'm trying to put together a pull request for this feature, so help us get to the

[2018-09-22 00:04] blainehansen commented on #5183
I'm trying to put together a pull request for this, to get us to the behavior we're looking for that was mentioned in https://github.com/GoogleCloudPlatform/google-cloud-python/issues/6042 .

However, when trying to run `nox`, I'm getting errors that I wouldn't expect. For example:

[code]

This makes sense, since it seems [nox sessions don't have an `interpreter` attribute](https://nox.readthedoc

[2018-09-22 00:30] tseaver commented on #5183
@blainehansen I was just able to run the tests using the command line you provided.  Note that we would normally run from inside the `bigquery` directory).  Do you have `python3.6` on your `$PATH` when you start?

[2018-09-22 00:40] #5944 closed

[2018-09-22 05:51] gubgbugbugvjgvugv commented on #4345
googlesearch has no support for python 3

[2018-09-22 20:51] d-tw opened #6060 "Logging: 503 Deadline Exceeded exceptions when logging from imported module"
Hi,

I'm encountering `ServiceUnavailable: 503 Deadline Exceeded` exceptions when I call `logger.log_struct` from a method that's called during a module import.

**Versions**
python version: 2.7.14
google-cloud-logging version: 1.7.0

**Stacktrace**
[code]

**Code sample**

File 1: `log_test.py`

[code]

File 2: `direct.py`
[code]

File 3: `indirect.py`
[code]

**Steps**

When I run the following,

[2018-09-22 21:32] tseaver commented on #6060
Interesting:  I was just now able to run each script without errors under Python 3.6, but can reproduce the failure you note under Python 2.7.

[2018-09-23 04:57] vteran93 commented on #5323
Perfect!

[2018-09-23 18:39] dkapitan opened #6062 "google.cloud.storage.blob: useful to add method to load object info ByteIO buffer?"
#### Use-case
We use google cloud storage to store .parquet files as part of our dataprocessing. We often want to load a .parquet file into memory, to be read directly into a pandas Dataframe without downloading it on disk.

The code below does the trick. My question is: would it be useful to include a `download_as_buffer` method in storage.blob?

[code]

#### Feature request ####
Add method or mo

[2018-09-23 19:04] salrashid123 opened #6063 "Logging: payload should be parsed as optional"
google-cloud-python requires a valid value for the `payload` field in a log entry.

However, the proto shows its optional
 - [https://github.com/googleapis/googleapis/blob/master/google/logging/v2/log_entry.proto#L68](https://github.com/googleapis/googleapis/blob/master/google/logging/v2/log_entry.proto#L68)

and i've verified i can emit a log entry w/ `payload=None` and simply the http_request va

[2018-09-24 02:56] salrashid123 opened #6065 "Logging: Create framework logging extensions allowing Log groups/consolidation"
Feature request to extend and adapt google-cloud-python's [CloudLoggingHandler](https://googlecloudplatform.github.io/google-cloud-python/latest/logging/handlers.html) to allow consolidated logging.

Currently, when the handlers are used in any context (eg Flask request), each log line emitted within a request is displayed separately.   If the log lines are emitted with the traceID and and associa

[2018-09-24 14:52] xEcEz commented on #5876
I am still having issues with this.

To give you a bit of context, I am running a data fetching task on the Google Kubernetes Engine where I load a list of ids to handle from BigTable, using the same code snippet I posted previously. Running from my machine, I can scan the entire table without providing a start/end key, but if I don't provide them on the GKE, an error is thrown at some point. Also

[2018-09-24 15:39] bluemonk482 opened #6066 "Speech: Cannot transcribe long audio files: "google.api_core.future.polling._OperationNotComplete""
Hi there, I am using Google Speech-to-Text API for transcribing an audio that is 25 mins long. I have used the `transcribe_async.py` code for such task, as it is meant for long audio files.

I am using Ubuntu 16.04, and Python 3.5.2. The code certainly works on 1 min long audio files.

The error message is shown below. I can't identify the source of the problem.

[code]

[2018-09-24 15:51] tseaver commented on #6039
I just diffed pretty-printed versions of the [`v1beta1`](https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1beta1) and [`v1`](https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1) discovery docs.  There are a lot more changes there than I would expect:

- New resource types:  `folders`, `liens`, `operations`
- `organizations` and `projects` have added a bunch o

[2018-09-24 16:04] tseaver commented on #6060
Hmmm, I was just able to get the `indirect.py` reproduction case to work on Python 2.7 by disabling gRPC, i.e., forcing it to log to the REST API.  E.g.:

[code]

That workaround indicates that the bug lies either in `logging/_gapic.py`, `logging_v2/...`, or in `grpcio` itself.

[2018-09-24 16:57] theacodes commented on #6065
@crwilcox can you take point on working with @salrashid123 to get this rolled in?

[2018-09-24 16:58] tseaver opened #6067 "Container: needs 'synth.py'"

[2018-09-24 16:58] tseaver opened #6068 "Datastore: needs 'synth.py'"

[2018-09-24 17:00] tseaver opened #6069 "Error reporting: needs 'synth.py'"

[2018-09-24 17:00] tseaver opened #6070 "Firestore: needs 'synth.py'"

[2018-09-24 17:01] tseaver opened #6071 "IoT: needs 'synth.py'"

[2018-09-24 17:02] tseaver opened #6072 "Language: needs 'synth.py'"

[2018-09-24 17:03] tseaver opened #6073 "Logging: needs 'synth.py'"

[2018-09-24 17:04] tseaver opened #6074 "Oslogin: needs 'synth.py'"

[2018-09-24 17:05] tseaver opened #6075 "Trace: needs 'synth.py'"

[2018-09-24 17:05] tseaver opened #6076 "Websecurityscanner: needs 'synth.py'"

[2018-09-24 17:10] bluemonk482 commented on #6066
Ok this is caused by the line `response = operation.result(timeout=90)`. By setting `timeout=1000`, it resolved the issue. I will close this issue now.

[2018-09-24 17:10] #6066 closed

[2018-09-24 17:13] enriquejosepadilla commented on #6039
@tseaver Thanks for looking into that. And wow thats a huge diff between a beta and the released version.

And i have no idea why their V2 changed so drastically, can't find any documentation regarding why they dropped almost everything.

[2018-09-24 17:16] todom-tivo opened #6077 "Speech: Memory leak when creating SpeechClient instance for each request"
**OS**: Linux Debian and Mint 19

**Python version**: Python 2.7.15rc1

**Python package versions**:
[code]

**Description**:
gRPC channels are not closed when a `SpeechClient` goes out of scope.  The obvious answer may be that we shouldn't construct a `SpeechClient` for every request, we found that we were running into issues trying to re-use a `SpeechClient` instance across multiple simultaneous

[2018-09-24 17:49] tswast commented on #6055
In our previous conversation, I added a `from_string()` method to the `DatasetReference` and `TableReference` classes. https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5255

You're right that the BigQuery client does still feel overly verbose. I find it a problem that `from_string()` can't account for the default project on the client.

The reason we have the `*Reference` classes is

[2018-09-24 17:50] tswast commented on #6055
cc @shollyman @alixhami

[2018-09-24 17:52] tswast commented on #5183
I think the Nox error may be due to `nox` (new incompatible package) versus `nox-automation` package (what google-cloud-python still uses AFAIK)

[2018-09-24 19:48] blainehansen commented on #5183
:arrow_up: This sounds right. The error I'm getting is a basic python problem (can't assign to a non-existent attribute) so it suggest a misalignment between the code I'm running and the version of nox I have.

I don't know if this is helpful but:

[code]

Also:

[code]

[2018-09-24 19:56] blainehansen commented on #5183
Yep, installing and using `nox-automation` fixed it :) :confetti_ball: :confetti_ball:

[2018-09-24 20:15] tseaver commented on #5120
@pnovotnak We don't have any current plans to support the `v1beta1` version of the API.  The `NoteTaints` message and corresponding `NodeConfig.taints` attribute are missing entirely from the `v1` version of the API.

[2018-09-24 20:15] #5120 closed

[2018-09-24 21:07] tseaver commented on #5780
@lukesneeringer PR #6084 will automate the codegen for `google-cloud-container`, but somebody still needs to make the change to the upstream GAPIC config to get the operations wrapped.

[2018-09-25 11:22] yennanliu opened #6090 "Can't import google.cloud vision library"
hi I've installed the google-cloud from official doc.
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/bc741d0d0132a6705b1750ba65d6ef704929fcc9/vision/README.rst

but when try to import image package got the error as below :
(my env is  macbook pro  | python  Python 3.5.6 :: Anaconda, Inc. )

[code]

here are my installed  packages :
[code]

thanks!

[2018-09-25 11:35] awgymer commented on #2990
For what it's worth I was having this issue with `googleapis-common-protos` on `Ubuntu 16.04` with the latest `setuptools` and `pip` using `python3.6`, but not on my Mac.

I was using a virtualenv and discovered that my Mac had `virtualenv 15.1.0` and the Ubuntu had `virtualenv 15.0.1` and that upgrading the `virtualenv` allowed the install to work.

[2018-09-25 14:29] michaelsmithhx opened #6092 "client.get_bucket() bucket permissions failure"
Our project would like to use bucket level permissions for service account access.

This would typically involve:

(1) Using a service account that has limited project-wide permissions, e.g. only storage.buckets.list
since some tools need this to navigate the root of the namespace.

(2) Granting appropriate (e.g. Storage Admin and Storage Object Admin) permissions at the bucket level for the above

[2018-09-25 17:45] salrashid123 opened #6094 "Logging: '_BaseEntry' missing fields added to 'LogEntry' in API"
[LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry) defines several additional fields which are dropped by  [_BaseEntry](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/entries.py#L51)

- [LogEntry](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry)  shows
[code]
but those are not set on init of [entr

[2018-09-25 17:48] tseaver commented on #6092
The `noACL` projection keeps the API from *returning* the ACL as part of the bucket resource -- it doesn't change how the backend enforces the ACL.  Within `google-cloud-storage`, we expose the bucket / object ACL via an `acl` attribute, which makes separate API calls to read / write the ACL.

Can you please provide the full traceback (mask out the bucket name).  My guess is that the credentials y

[2018-09-25 17:58] tseaver commented on #6090
You likely need to update either pip or setuptools.  E.g., in a fresh virtual environment:

[code]

[2018-09-25 17:58] #6090 closed

[2018-09-25 18:02] #6068 closed

[2018-09-25 18:02] #6072 closed

[2018-09-25 18:02] #6069 closed

[2018-09-25 18:03] #6075 closed

[2018-09-25 18:03] #6071 closed

[2018-09-25 18:03] #6076 closed

[2018-09-25 18:04] #6070 closed

[2018-09-25 18:04] #6067 closed

[2018-09-25 18:30] tseaver commented on #6094
`receiveTimestamp` is output-only:  it likely shouldn't be settable by the normal `LogEntry` constructor, but should be captured in `LogEntry.from_api_repr`.  The other two should be settable.

[2018-09-25 18:39] tseaver commented on #5523
Hmm, we no longer expose `PublisherClient.channel` -- instead, the channel is hidden away inside the stub of the `transport`.  I think we need to provide an explicit mechanism for shutting down the transport / channel.

[2018-09-25 18:43] tseaver commented on #6077
You are correct that we don't provide a `close` method (or similar) on `SpeechClient`.  Creating a new client per request is not part of our expected usage pattern.

It should be safe to share a single `SpeechClient` across threads in a single process.  If you are forking, then best practice is to create a single `SpeechClient` in each forked process.

[2018-09-25 19:03] tseaver opened #6095 "Bigtable: 'test_create_instance_defaults' flakes in w/ 429"
From:  https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8346

[code]

[2018-09-25 19:07] tseaver opened #6096 "BigQuery: 'test_load_table_from_uri_then_dump_table' flakes w/ 429 in bucket teardown"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8387

[code]

[2018-09-25 19:10] tseaver opened #6097 "BigQuery: 'test_load_table_from_uri_autodetect' snippet flakes w/ 409 in dataset creation"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8391

[code]

[2018-09-25 19:12] tseaver commented on #6095
See also the first failure in https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8393.

[2018-09-25 19:33] max-sixty commented on #6055
Hi Tim!

Thanks for your thoughtful reply, as ever! I had the sense there might be some influence from the REST design.

That makes a lot of sense. Particularly if this could be `project[:.]dataset.table` _or_ `dataset.table` and fall back to the default project, then that could surmount the issue you point out with `.from_string`. I think that would accomplish most of the goals - it would be easy

[2018-09-25 19:39] tseaver opened #6098 "BigQuery: leaked datasets from systests / snippets"
Looking at the console for our CI project, I see numerous leaked tables:

[code]

[2018-09-25 20:41] tseaver commented on #6097
Dataset IDs were being shared between various 'test_load' systests.  #6099 should address them.

[2018-09-25 20:42] #6074 closed

[2018-09-25 21:13] tseaver commented on #4935
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8110 shows quota exhaustion for the module teardown in both python2.7 and 3.7.

[2018-09-25 22:13] d-tw commented on #6060
Are there significant downsides to disabling GRPC? How long until the REST API is deprecated?

In the meanwhile, I have found a workaround by initialising the Stackdriver client in a background thread and feeding the log messages through a queue, heavily inspired by the [`BackgroundThreadTransport`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging

[2018-09-25 22:44] #6097 closed

[2018-09-25 22:44] #6098 closed

[2018-09-25 23:01] tseaver commented on #6060
gRPC ought to be more performant.  If you are logging in high volumes, that will matter more.

Never, AFAIK:  I don't see any mention of its deprecation anywhere in the [docs](https://cloud.google.com/logging).

Doing significant work at import time is always going to be problematic.  In addition to weirness like the bit you encounter here, it can mess with code discovery (e.g., in your editor) or

[2018-09-25 23:02] #4935 closed

[2018-09-26 06:35] StefMa opened #6107 "Storage: Make HTTP-Method in signed url in upper case (and validate)"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
✅
2. OS type and version
I use the Storage lib inside a `Cloud Function` (Python Beta runntime)
3. Python version and virtual environment information `python --version`
3.7
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip f

[2018-09-26 11:33] underdogliu opened #6108 "Speech: no 'file' option in FieldDescriptor"
Hi y'all! I'm playing with google-cloud-speech with Python. However, Seems like although last time (which is a while ago) it was going well, for the latest version there's a bug occurred during module importing:
[code]

I tracked the errors and found in line 112 of `speech/google/cloud/speech_v1/proto/cloud_speech_pb2.py`:

[code]
There's a `file` field at the end of calling `FieldDescriptor` but

[2018-09-26 13:36] rasputnik commented on #5879
Same here, my context is I'm in a pubsub worker and am retrieving a URL to download and store into a bucket. I've spent an ungodly amount of time trying to debug the retrieval method I was running only to realise it's actually the cloud stores https machinery that is failing.

[2018-09-26 14:30] pulltab commented on #5909
+1, I am experiencing a similar issue when uploading files as well.

Being able to set a timeout on such operations would help me recover more gracefully.

[2018-09-26 14:36] tseaver commented on #6108
Hmm, I can't reproduce in a fresh virtualenv:

[code]

Can you show the output of `pip freeze` in your environment?

[2018-09-26 14:49] tseaver commented on #6107
I can see making the method uppercase (because the backend requires it), but enforcing a valid verb is not reasonable:  we would have to track the set of verbs allowed over time by the back end.

[2018-09-26 15:12] underdogliu commented on #6108
ok. quite a long one though

[code]

[2018-09-26 16:45] StefMa commented on #6107
What will possibility change on the http method in the backend over time? 🤔
I mean, we have currently a hand full PC http methods. I think it is a big
announcement in the community when a new http method get introduced. And
then we have to track the backend when it will implement it.
But I think this will not change that often that it is not worth to check
in this library.

On Wed, Sep 26, 2018, 4

[2018-09-26 17:15] tseaver commented on #6073
Blocked on availability of a `googleapis-common-protos` non-beta library containing `google.api.MonitoredResorce{,Metadata}` messages.

/cc @lukesneeringer

[2018-09-26 18:05] tseaver opened #6115 "Logging: 'DeadlineExceded' when tearing down logger in systests"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8431 (multiple occurences, only first shown):

[code]

[2018-09-26 18:07] tseaver commented on #5703
Please feel free to reopen with fresh information.

[2018-09-26 18:07] #5703 closed

[2018-09-26 18:12] tseaver commented on #6008
The [release notes for google-cloud-pubsub 0.29.3](https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/pubsub-0.29.3) note (in the "Dependencies" section):

Please try in a fresh virtual environment, or else upgrade the dependencies in your current environment.

[2018-09-26 18:12] #6008 closed

[2018-09-26 18:17] tseaver commented on #6039
@enriquejosepadilla it seems likely that the effort to support the new API version is significant enough to require prioritization in our backlog.

/cc @danoscarmike

[2018-09-26 18:19] tseaver commented on #6060
@d-tw I'm going to close the issue because I can't see anything we can do to fix it in `google-cloud-logging`, and because there is a workaround / best practice which mitigates it.  Please feel free to follow up if you discover more.

[2018-09-26 18:19] #6060 closed

[2018-09-26 20:05] #6107 closed

[2018-09-26 20:12] enriquejosepadilla commented on #6039
Hey @tseaver sounds good. We currently aren't blocked because of this.

[2018-09-26 21:33] zinjiggle commented on #5671
@arvindnrbt, @normster, @jianatldd :
Your problem with the pdf issue should have been fixed. Would you mind try the API again for your pdf doc to see?

@jianatldd:

The problem of handling the tiff you provided is still ongoing. But we know the reason, it is due to your tiff file is using old jpeg compression method
https://forums.wxwidgets.org/viewtopic.php?t=35625

We are still working on it as

[2018-09-26 22:50] yiga2 opened #6117 "BigQuery: populate RowIterator.total_rows after running a query job"
Request to have `total_rows` property public, under `QueryJob()` along with other stats

[2018-09-26 23:29] #5183 closed

[2018-09-27 06:49] oliverchang opened #6119 "Datastore: expose retry parameters"
Would it be possible to expose retry parameters for datastore?

We are seeing frequent "InternalServerError: 500 GOAWAY received" errors during queries, and it looks like the default retry does not handle internal errors: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/datastore/google/cloud/datastore_v1/gapic/datastore_client_config.py#L5

[code]

It's not possible for us t

[2018-09-27 07:29] aggz0 opened #6120 "Discord.py can't install"
-macOS High Sierra
when i try to run the (pip install discord.py) command on my terminal i get this message here.

Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/vn/v0ljrfl92tbf3lh6fh1kq6d40000gn/T/pip-install-WLF4ZL/aiohttp/

any way to fix this?

[2018-09-27 08:04] AbhishekBabuji commented on #5798
It is pretty much what I said above. Instead of running a huge for loop on all the files.. Divide your number of files (I had 600 files, so I decided to run 50 files at a time followed by waiting for 10 minutes before running the code on the next 50 files and then repeat the process)

[2018-09-27 08:54] maxbellec opened #6121 "Datastore: 'ServiceUnavailable: 503 Connect Failed' raised during commit"
During our CI (run by Strider CD in a container), we put some entities on the Datastore. For reasons I don't understand, it often fails (~30% of the time) with a 503 error. Re-testing (relaunching a new container and running the tests) fixes it.
I'm not sure #5410 would fix this issue, since retrying with `try/except` in the code doesn't solve this.

### versions
[code]

### stacktrace
[code]

[2018-09-27 11:44] dkapitan opened #6122 "Question: where s bigquery.client.query.to_dataframe defined?"
We have a data processing pipeline based on:

 * `pandas` (0.23.4)
 * `google.cloud.bigquery` (1.5.0), and
 * `pyarrow` (0.10.0)

To prevent issues with type conversions etc. I am looking into what happens under the hood.

From the source code I can see that loading a dataframe with `bigquery.client.load_table_from_dataframe()` uses parquet as an intermediate format. [`dateframe.to_parquet`](https

[2018-09-27 13:45] michaelsmithhx commented on #6092
Hi, thanks for the quick follow up, I reviewed and identified an incorrect access control list entry, the functionality is now working as expected. Apologies for wasting your time.

[2018-09-27 18:29] shollyman commented on #6117
My initial preference would be against exposing this directly as property of the QueryJob, as its part of the jobs.getQueryResults / tabledata.list response and not a member of the query stats metadata.

Is the interest in fetching the table statistics for the results without the extra fetch of destination table metadata, or are you interested in it related to progress while fetching row data?

[2018-09-27 19:10] yiga2 commented on #6117
The interest is to determine how many rows a query, when completed, has generated.
Fetching the destination table metadata is not valid if records are appended to an existing table - I would get the total number of rows, not the addition.

Note that `totalRows` exists in both `jobs.getQueryResults` and `jobs.query`. There is no need to call the former (except if job is inserted) so request is not

[2018-09-27 19:13] tseaver commented on #6120
I'm sorry, but you've reached the wrong repository:  you might try https://github.com/pypa/pip/

[2018-09-27 19:13] #6120 closed

[2018-09-27 19:35] tseaver commented on #6092
@michaelsmithhx Glad you were able to dig that up!

[2018-09-27 19:35] #6092 closed

[2018-09-27 19:53] bencaine1 commented on #5918
Thanks! We've patched this version and we haven't seen any BadGateways yet. Will keep you posted :)

[2018-09-27 20:38] shollyman commented on #6117
Thanks for clarifying the interest is in the effective delta.

For the case where you run a query with a destination table and a `WRITE_APPEND` disposition, the results (and total_rows) will represent the whole table.  For mutation DML queries (e.g. UPDATE/DELETE), `num_dml_affected_rows` may help, but we should consider exposing something like the `statistics.load.outputRows` equivalent for query

[2018-09-27 20:53] ericgj opened #6127 "PubSub: double base64 encode *sometimes*"
**OS:** Windows 7 client (see below) and GAE 2nd generation standard
**Python:**  3.6.4 (Windows)  and 3.7 (GAE)
**google-cloud-pubsub:** 0.38.0 (both Windows and GAE)

I have a Windows command-line client that publishes data from local files to pubsub. These messages are consumed by a push subscription (handler within a GAE app).  This part works great. The encoding and decoding of messages looks

[2018-09-27 21:06] aarontp opened #6128 "PubSub protobuf dependency requirements incorrect"
I think the minimum version for the `protobuf` package dependency is not correct.  google-cloud-python has the version requirements as protobuf>=3.0.0, but it fails to import when using version up to and including protobuf==3.3.0.  I'm not sure what the exact correct version is, but the last version of google-cloud-pubsub to work with protobuf==3.3.0 is google-cloud-pubsub==0.35.4.  I believe afte

[2018-09-27 21:10] yiga2 commented on #6117
Let's cancel the request as I just suggested making the existing - and perfectly working -  `_query_results.total_rows` a public property of `QueryJob()` or another object. I thought https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.job.QueryJob.result.html#google.cloud.bigquery.job.QueryJob.result would work but it doesn't, `total_rows` is `

[2018-09-27 21:17] sduskis commented on #5876
@xEcEz, can you please create a new issue for the RST_STREAM? That's caused by a different problem.

[2018-09-28 02:36] udim opened #6130 "PubSub: dispatch_callback errors after cancel() of a subscription"
OS: Linux 4.17.0-3rodete2-amd64, Debian 4.17.17-1rodete2
Python 2.7.13
google-cloud-pubsub 0.35.4

## Stacktrace 1
[code]

## Stacktrace 2
[code]

## Steps to reproduce
[code]

This subscription should be canceled approximately after the first message. In my test there are two messages sent to the topic and `event.set()` is called after the second.

I realize that calling cancel() so soon prevents

[2018-09-28 08:39] StefMa opened #6131 "Storage/Firestore: (in Cloud Functions): Dependencies need a specific sequence"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
   ✅
2. OS type and version
   I use both in `Cloud Functions` (Beta Runtime)
3. Python version and virtual environment information `python --version`
  3.7
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
  ❌
5. St

[2018-09-28 09:04] underdogliu commented on #6108
@tseaver Yep updating protobuf solves the problem! Thanks~but does it mean that the current speech API doesn't support newest version of protobuf? Or when installing the api via pip it installs old version of protobuf which is actually not usable?

[2018-09-28 15:38] cmey commented on #5879
I get the same error as OP @brianmhunt and @ arvindnrbt.
`Connection reset by peer`

It happens during:

 - `storage.bucket(bucket).get_blob(path)`
and `bigquery_client.insert_rows(table, rows_to_insert)`.
This is running Google Cloud Functions with Python 3.7 and google-cloud-storage==1.11.0.

Not all the time, about 10% failure rate. Function deployed to `us-east1` (I also tried `us-central1`, a

[2018-09-28 16:30] tseaver commented on #6130
@theacodes I'm not sure how cancellation should work.  Can you clairify?

[2018-09-28 16:37] theacodes commented on #6130
Cancellation tries to be as "fast" as possible, as waiting for all currently held messages to resolve is basically the halting problem. We should probably update the docs there to mention that.

More serious is the fact that there doesn't seem to be a "clean" shutdown here. I'm going to assign over to @crwilcox to handle, but really the fix should be straightforward (be more defensive when trying

[2018-09-28 17:04] tseaver commented on #6128
@aarontp Thanks for the analysis and report.  We should be making a new `google.api_core` release today with an updated pin on `protobuf>=3.4.0`, which I verified is the lowest version needed by `google-cloud-protobuf`.

[2018-09-28 17:44] #6128 closed

[2018-09-28 17:44] tseaver commented on #6131
@StefMa Thanks for the report!  This issue is actually a [bug in pip](https://github.com/pypa/pip/issues/4957), such that it does not enforce "extras" for a package it has already installed.  The workaround you found (installing `google-cloud-firestore`, which depends on the `grpc` extra of `google-api_core`) before `google-cloud-storage`, which does not, is all we can do for now.

[2018-09-28 17:44] #6131 closed

[2018-09-28 18:05] tseaver commented on #6108
@underdogliu If you install in a fresh virtualenv, the latest version of `protobuf` would be installed.  However, when updating an existing environment, the older versions were retained due to out-of-date pins (see #6132).

[2018-09-28 18:05] #6108 closed

[2018-09-28 18:12] tseaver commented on #5928
Hmmm, just saw the same failure yesterday (all for 2.7 and 3.7 systests):

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8459
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8463
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8465
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8461

[2018-09-28 18:27] tseaver opened #6136 "BigQuery: 'test_dbapi_w_standard_sql_types' systest flakes w/ 500"
From: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/8467 (3.6 system tests), started at 2018-09-27T18:16:14Z:

[code]

Similar failures for other 3.6 systests:

- `test_query_iter`
- `test_query_many_columns`
- `test_query_w_query_params`
- `test_query_w_standard_sql_types`

And for 2.7 snippets:

- `test_extract_table_json`
- `test_client_query`
- `test_client_query_destination_

[2018-09-28 18:36] #6063 closed

[2018-09-28 19:44] AlecTroemel commented on #5818
Is there any update on this? I'm always getting true for `zone.exists()`, regardless of what I give for name and dns name

[code]

[2018-09-28 23:14] crwilcox opened #6140 "Trace: docs have bad url for "Library Documentation""
https://googlecloudplatform.github.io/google-cloud-python/latest/trace/starting.html is linked to from the root of the latest trace docs. This page doesn't seem to exist.

[2018-09-28 23:33] tseaver commented on #6140
It looks like the content is now subsumed into `trace/README.rst` / `docs/index.html`.  Needs a static redirect, like `bigquery/docs/usage.html`.

[2018-09-29 02:59] rendybjunior opened #6141 "BigQuery API Doesn't support TIME data type with Subsecond"
OS type:  `macOS High Sierra 10.13.6 (17G65)`
Python version: `Python 2.7.15` (I'm working with apache beam, so inevitable to use 2.7)
Library: `google-cloud-bigquery==1.5.0`

Stacktrace
[code]

Steps to reproduce
1. Create table with TIME data type
2. Insert sample data
[code]
3. Query
[code]

[2018-09-29 02:59] rendybjunior commented on #6141
Seems like it has been solved for datetime and timestamp, but not with time

[2018-09-29 12:03] jianatldd commented on #5671
Thanks. We are using this service to process customer submit forms. So there is no way to control what format is. I just test these forms from my scanner (Xerox copyer) I guess these machines are very commonly used. I think this service should support as much format as you can. Because a lot of usage case is like me. The source of image cannot be controlled. However. In my case. PDF is most import

[2018-10-01 15:58] tseaver commented on #6141
I've got to confess that I am puzzled by the usecase for microsecond-precision, dateless times, but the [`Time` type does support it](https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types#time-type).

[2018-10-01 16:31] tseaver commented on #6141
Fixed in #5753, which was included in the `google-cloud-bigquery 1.5.1` release.  Please try:

[code]

[2018-10-01 16:31] #6141 closed

[2018-10-01 17:39] #6140 closed

[2018-10-01 19:37] qingling128 commented on #5601
Friendly ping. Any update on this one?

[2018-10-01 21:54] tseaver opened #6144 "BigQuery: autosummary considered slow, painful"
In a typical build of `nox -re docs` from the root of the repository, the Bigquery docs account for ~75 - 80% of the almost five minute build time, 14 - 15 % of the generated output (in bytes), and 29% of the output pages.  The culprit is the use of the pages generated by the `sphinx.ext.autosummary` directive, which creates a single HTML page per method / function.

I have a hard-to-substantiate

[2018-10-02 02:54] jdupl123 opened #6145 "Speech: words object does not match transcript"
Api
speech_v1p1beta1

os
macOS 10.13.5

python version
Python 3.6.3 :: Anaconda, Inc.

api version
Name: google-cloud-speech
Version: 0.36.0
Summary: Google Cloud Speech API client library

when running long service the last response.results object contains many more words in the words object than in the transcript object.

    def transcribe_gcs(self, segment, enhanced, language):
        """Asyn

[2018-10-02 03:54] tseaver commented on #6145
At first glance, this looks entirely like a back-end issue to me.  @theacodes, @crwilcox can you please loop in the appropriate PoC for the Speech API?

[2018-10-02 17:11] yiga2 commented on #6055
Why not a step further and introducing `default_dataset` at `Client()`-level. It could propagate to the similar property e.g. in `QueryJobConfig()`, or act as default whereever a dataset is required, including in `.from_string` if only table is passed...

[2018-10-02 20:04] demongolem commented on #2366
I am having same problem with 0.34.0.  The python -m pip install google-cloud says Requirement already satisifed: google-cloud, however when I go to the named directory, all I see is a single folder within google, and that is protobuf.  I do see google_cloud-0.34.0.dist-info in the same directory as google though.  Did protobuf somehow block google-cloud?

[2018-10-02 20:20] mikeymezher opened #6149 "PubSub module object has no attribute 'SubscriberClient'"
Exactly what the title says. Tried downgrading to 0.37.0 didn't work either. Full trace:
Traceback (most recent call last):
  File "t2t_pubsub_server.py", line 27, in <module>
    main()
  File "t2t_pubsub_server.py", line 12, in main
    subscriber = pubsub.SubscriberClient()
AttributeError: 'module' object has no attribute 'SubscriberClient'

Debian

Env:
absl-py==0.5.0
apache-beam==2.6.0
appdir

[2018-10-02 20:28] tseaver commented on #2366
@demongolem The `google-cloud` umbrella package is deprecated -- it can no longer be used to install any of the "real" API libraries.  Instead, just `pip install google-cloud-language`.

[2018-10-02 20:39] tseaver commented on #6149
Trying to reproduce in a fresh virtual environment:

[code]

My guess is that you have one or more old packages installed which are interfering:  in this case, the `gapic-google-cloud-pubsub-v1` is the likely culprit.  It was a dependency of older versions of `google-cloud-pubsub`, but is no longer needed.

[2018-10-02 20:39] #6149 closed

[2018-10-03 03:42] c1dc-candidate-22 commented on #5866
@tseaver CopyJob doesnt seem to have to_api_repr. Can you suggest which Class type does the job you are referring to belongs to ?

[2018-10-03 04:38] tseaver commented on #5866
@c1dc-candidate-22 Hmm, looking at the code, the method I had in mind isn't called `to_api_repr`:  it is [`CopyJob._build_resource`](https://github.com/googleapis/google-cloud-python/blob/05b2e3744bd10d20ab4ca498a7abad0dc1e9ee60/bigquery/google/cloud/bigquery/job.py#L1546-L1570).  ISTM that renaming it `to_api_repr` would be reasonable (of course leaving behind an alias for backward compatibility)

[2018-10-03 06:04] sdsy888 opened #6152 "Translate: 'Client.from_service_account_json' function problem"
# Some specs in advance:
- OS type and version: ubuntu 16.04
- Python version: 3.6 in anaconda
- google-cloud-python version: latest (03/10/2018)
- Steps to reproduce: using the function `explicit()` given in [Passing the path to the service account key in code](https://cloud.google.com/docs/authentication/production#auth-cloud-explicit-python)
- code example: using the given code of [`Using the c

[2018-10-03 06:07] sdsy888 commented on #6152
Or there might be a way of providing credentials that isn't mentioned by the official cloud API webpage: https://google-auth.readthedocs.io/en/latest/user-guide.html#service-account-private-key-files

[2018-10-03 14:52] tseaver commented on #6152
@sdsy888 a couple of questions:

- The "Using the client library" docs you link above are for the Translate API, not Cloud Storage.
- Please provide the complete traceback for your exception (so that we can see the code path.

Note that the following works for me:

[code]

[code]

[2018-10-03 16:18] sdsy888 commented on #6152
@tseaver Thank you for your reply!

Sorry I didn't make myself clear enough. I guess either I  `set the environment variable` in the wrong way, or there is something wrong with the code with the code.

I  try to use `Translate API`. And as  [`Translation API Client Libraries`](https://cloud.google.com/translate/docs/reference/libraries#client-libraries-install-python) says, I need to use the metho

[2018-10-03 16:34] tseaver commented on #6152
Can you try the following to set up the translate client?

[code]

For the storage client:  getting an empty list back from `list(client.list_buckets()` just means that you haven't actually created any buckets for the project bound to your credentials file:  the credentials themselves are valid, or the call to `Client.from_service_account_json` would have raised an exception.

[2018-10-03 16:39] tseaver commented on #6152
Setting the environment variable should be (for bash):

[code]

[2018-10-03 17:32] tseaver opened #6154 "Asset: release asset 0.2.0"
The original release (#5988) used `google-cloud-cloudasset` as the PyPI name.  We need a new release to push our preferred name.

@theacodes RFC:  do we need to make a `google-cloud-cloudasset 0.1.post1` release which emits a deprecation warning and points to `google-cloud-asset`?

[2018-10-03 17:50] stankovicsrdjo commented on #5992
Hello,

Is there possibility for this feature to be implemented ?

[2018-10-03 18:14] tseaver commented on #5992
@stankovicsrdjo There isn't anything we can do in the `google-cloud-vision` library to implement such a feature:  that would need to happen in the Vision API itself..  You need to request it via one of the [Vision API support page](https://cloud.google.com/vision/docs/support) links.

[2018-10-03 18:14] #5992 closed

[2018-10-03 18:37] tseaver opened #6157 "GAPIC-generated system tests broken on Kokoro"
From: https://source.cloud.google.com/results/invocations/3b9800e0-277d-4e82-bf21-bc7b72d2eef3/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ferror_reporting/log

[code]

The following codegen-derived system tests files use `os.environ['PROJECT_ID']`:

- `bigquery_datatransfer/tests/system/gapic/v1/test_system_data_transfer_service_v1.py`
- `container/tests/system/gapi

[2018-10-04 01:03] tseaver commented on #6154
Via #6160 .

[2018-10-04 01:03] #6154 closed

[2018-10-04 02:11] shollyman commented on #5866
This is where I fully admit I have not fully internalized this veneer yet, so I'm happy to defer to others.  `_build_resource` seems to revolve around ensuring a viable resource suitable for calling the backend for insertion (e.g. solely the configuration part of a job representation), whereas the goal here is the ability to serialize the whole representation of job: configuration, jobreference, s

[2018-10-04 04:39] alexcwatt opened #6161 "IAM: Improve Policy docs"
It would help the Policy docs if there were an example of how to set bindings. The dunder methods don't have docstrings and so, without looking at the source, it's not very obvious how to assign roles and members to a policy.

[code]

This will help people reading the docs for methods that take an `iam.Policy` who follow the link to the class definition and then can't figure out how to build the p

[2018-10-04 06:07] jdupl123 opened #6162 "Speech: long_running_recognize on serverless"
I asked this on stackoverflow https://stackoverflow.com/questions/52417481/speech-long-running-recognize-on-serverless but recieved no response.

I would like to use long_running_recognize with on serverless. I have a constraint that I can only run for 5 minutes at a time. In order to gather a transcription which takes longer than 5 minutes, I would like to resume the operation.result call in a ne

[2018-10-04 06:59] tseaver commented on #6161
@alexcwatt A PR adding a docstring with examples to the `Policy` class would do the trick, I think.

Also, in your example you can invoke the various static factories via the instance, e.g.:

[code]

[2018-10-04 07:10] tseaver commented on #6162
@jdupl123 You could dump the state of the `google.longrunning.Operation` out from the `OperationFuture` returned from `SpeechClient.long_running_recognize`, e.g.:

[code]

Then you could reconstitute it later:

[code]

[2018-10-04 07:34] jdupl123 commented on #6162
thanks @tseaver for the tip.

since future.operation is of type google.longrunning.operations_pb2.Operation I can't just JSON dump it, to save it in Redis. would you recommend pickle.dumps() or is there some better way to convert the operation to text and back again. I always have some security concerns around using pickle.

[2018-10-04 07:40] jdupl123 commented on #6162
btw I tried saving the name:"1234324" printed out by ```future.operation``` in a named tuple but then the done attribute was missing. This felt like quite a hacky solution so I didn't pursue it further.

[2018-10-04 09:03] MarkEdmondson1234 opened #6163 "BigQuery: supplying 'mode' to schema raises AttributeError: 'list' object has no attribute 'upper'"
I'm deploying google-cloud-bigquery==1.5.1 to Google cloud functions, Python 3.7

When I supply a `mode` argument to the `SchemaField` it fails with this stacktrace:

[code]

The code to create the schema just resupplies the default of `"NULLABLE"`:

[code]

If I don't supply the mode argument, everything is fine.

[2018-10-04 09:07] MarkEdmondson1234 commented on #6163
Sorry made a mistake

[2018-10-04 09:07] #6163 closed

[2018-10-04 15:45] Sytten opened #6165 "Language: Unknown entity type 11"
Hi!
I faced this bug in production September 27th when using the language api to extract entities from text. Multiple requests got an entity type 11 which triggered an exception when I tried to match it with `Entity.Type`. Not sure what caused this to happen? What is a glitch on your side?

* OS: Linux (Latest Python 3.6 docker image)
* Python version: 3.6.6
* google-cloud-language==1.0.2

I can t

[2018-10-04 16:17] tswast commented on #5866
Job is the one set of resources that we didn't fully refactor during the 1.0 rewrite to follow the `to_api_repr` / `from_api_repr` pattern. I agree that having these methods is desirable.

It'll be a little bit tricky since Job mutates itself with the private `reload()` function. It'd be good to remove some of the fancy logic that Job has for building it's internal state and use the `_properties`

[2018-10-04 16:51] yiga2 commented on #5879
@anyone-watching, is this still occurring ? We were considering migrating from AWS Lambda but this may hold us up.

[2018-10-04 16:59] theacodes commented on #6157
@busunkim96

[2018-10-04 23:36] beccasaurus opened #6169 "Language: add support for accessing ENUM display names"
### **Feature Request:** add support for accessing _display name of enum values_

For example:

[code]

Expected result, based on all of the other languages' GAPIC clients:

[code]

Actual result:

[code]

I get the expected result when using GAPIC client libraries in all of the other languages.

I would characterize the current behavior as: _**surprising**_

----

The current **developer experien

[2018-10-04 23:55] tseaver commented on #6165
The [`Entity.Type` enum](https://github.com/googleapis/googleapis/blob/cd17066d792649f1f089bad6fed4d10eda2be68d/google/cloud/language/v1/language_service.proto#L127-L151) does not have a value for `11`.  Can you please provide the full traceback produced by your code?

[2018-10-04 23:59] #6157 closed

[2018-10-05 00:11] tseaver commented on #6169
@beccasaurus The only issue I can see is backward-compatibility:  `google-cloud-language` is already GA, which means that changing the API surface is problematic.  We are using the Python3 stdlib `enum.IntEnum` for these enumerations, which means that you can achieve the result you want via:

[code]

[2018-10-05 01:04] frankyn commented on #5879
I'm heads down on another issue. @tseaver could you take a look?

[2018-10-05 01:08] Sytten commented on #6165
I know that, the traceback is not very informative. Basically I do:
[code]
And then:
[code]
Which on the 27 September resulted in a number of `KeyError: 11`

[2018-10-05 01:11] Sytten commented on #6165
An example of text that was submitted is:
[code]

[2018-10-05 01:13] Sytten commented on #6165
My current guesses:
1. A glitch on google server side
2. The field `type` gets overridden by another value on some edge case

[2018-10-05 02:08] wilberh commented on #5866
Maybe the reason for the error is the data format used is not Python-specific.

[2018-10-05 14:08] tseaver commented on #6162
@jdupl123 Convert a protobuf messages to JSON:

[code]

Converting it back:

[code]

[2018-10-05 14:10] tseaver commented on #6165
Can you show how you invoked the query?  Can you show the entire `query_result` protobuf message?

[2018-10-05 14:12] tseaver commented on #5866
@tswast If `_build_resource` as it stands today were renamed `to_api_repr`, that would satisfy the OP's usecase.

[2018-10-05 14:18] Sytten commented on #6165
Sadly I didn't log it and I am not sure how to reproduce it. We had some DNS issues around hat time, maybe that could have been the problem?

[2018-10-05 14:42] tseaver commented on #6165
I cannot reproduce now:

[code]

Please reopen if you can provide more information.

[2018-10-05 14:42] #6165 closed

[2018-10-05 14:52] tseaver commented on #5879
@frankyn This is  a request for the same feature as `[Python] Storage: automatic retry behavior for transient server failures (exponential backoff + jitter)` in our feature backlog (we would just need to ensure that `ProtocolError` and `ConnectionError` are tracked as transient errors for that feature).

[2018-10-05 14:56] tseaver commented on #5710
@theacodes Is there a reason to have this bug unassigned?  @crwilcox was the one who reported the GAPIC generator bug.

[2018-10-05 14:57] tseaver commented on #5507
@theacodes Who should be the PoC here for DLP back-end issues?

[2018-10-05 14:58] tseaver commented on #5318
@crwilcox, @theacodes Who needs to be looped in from the back-end logging API team here?

[2018-10-05 15:01] tseaver commented on #6127
@ericgj Can you debug the GAE app and dump the "raw" message before it is passed to `publisher_client.publish`?  I'm wondering if somehow it is being base64-encoded before then.

[2018-10-05 15:29] Sytten commented on #6165
If I see it again, I will try to enable full logs.

[2018-10-05 17:02] theacodes commented on #6169
This is on @lukesneeringer & company. We can make *finding*, *using*, and *passing* enums easier as we control the parameter types but the **return value** of an API call is a `protobuf.Message` and the field types therein are totally determined by protobuf and there's nothing we (client libraries) can do. Luke has proposed a wrapper around `protobuf.Message` that could resolve this.

In the meant

[2018-10-05 17:02] #6169 closed

[2018-10-05 17:55] parthmishra commented on #5879
Would like to add that I'm experiencing same error in GCF environment using google-cloud-storage==1.12.0

I see that 1.13.0 has been released and I may try that to see if problem persists.

[2018-10-05 19:06] beccasaurus commented on #6169
@tseaver The approach you recommended is not working. When I access the enum field of the pb, it gives me an `int`, as I initially described, not `enum.IntEnum`

Running the following code using `google-cloud-language==1.0.2`

[code]

Output:

[code]

[2018-10-05 19:08] beccasaurus commented on #6169
Why is this closed? If I read this correctly, this is on @lukesneeringer & company

@lukesneeringer what is the current plan and timeline?

Is this not a developer experience issue for Python users? If not, why?

[2018-10-05 19:19] beccasaurus commented on #6169
@theacodes Is the approach you mentioned documented for our libraries?

I'm having difficulty finding any other current examples which use the enum interface as you recommended.

iiuc this is part of protoc's generated enum interfaces, so it is not in any way specific to google-cloud client libraries. Considering there seems to be a fair bit of confusion around this feature, would it be worth cons

[2018-10-05 19:39] theacodes commented on #6169
Because as mentioned, the team who maintains this can not directly resolve it. We can file an appropriate bug upstream on googleapis/gapic-generator-python for you, if you want, but I was going to leave that to @lukesneeringer to surface as he sees fit (I *think* this is already captured in his design doc for the proto wrapper, but it might be useful for your purposes to have a bug).

Sure, no one

[2018-10-05 19:56] theacodes opened #6170 "Update Noxfiles to use new Nox"
Nox recently made a [big change](https://github.com/theacodes/nox/blob/master/CHANGELOG.md#2018823) from declarative to imperative and broke the Noxfile API.

We need to update our Noxfiles to work with the new API and update our test scripts to install `nox` (instead of `nox-automation`) and invoke `python3 -m nox {args}`.

Most projects just need to do a few steps:

1. Remove usage of `session_{

[2018-10-05 22:43] jdupl123 commented on #6162
Many thanks @tseaver much appreciated.

[2018-10-05 22:56] beccasaurus commented on #6169
Thank you for the detailed response! 🙏

All makes sense! As I happen to work across GAPIC libraries in multiple languages (& ∴ pb objects)
it's surprising to me because I believe _every other language_ gives the display name rather than the int

I was able to update some of our code samples on the website, so at least we'll have some examples showing how to get enum display values!

https://github

[2018-10-06 15:53] arvindnrbt opened #6172 "Vision: Intermittent failure on OCR, Successful on retrying the same file"
[code]
I have been getting this error randomly for the last two weeks when trying to perform OCR on some pdf files. Strangely, this has no recurrence when I retry the process with the same file. This has been generated in the output file with no error on the api call. This is hard to handle on production because when we try to parse a page from the file in runtime (after downloading the output jso

[2018-10-07 18:49] yaalaa opened #6173 "ENV "YES" gets converted to "true""
Google Cloud SDK 219.0.1
Deploying Yaml with some environment variable set to `"YES"` I get VM with that variable set to `"true"`.

[2018-10-08 13:57] timonbimon commented on #1934
hey do i understand correctly that there is no way currently to access the currently active account (that i could get with 'gcloud auth list' on the command line) programmatically via python?

[2018-10-08 14:56] ericgj commented on #6127
OK. When I get a moment I'll make a minimal example.

[2018-10-08 16:52] yaalaa commented on #6173
Sure, thanks for pointing.

[2018-10-08 18:45] tseaver commented on #1934
@timonbimon Unlike the `gcloud` CLI, the `google-cloud-*` libraries do not keep any persistent store of credentials:  we use the service account credentials file explicitly set in the environment (`GOOGLE_APPLICATION_CREDENTIALS`), or passed explicitly to the client's `from_service_account_json` method.

If you have a client instance, you can query its `project` attribute to get the named project

[2018-10-08 20:50] rapkyt commented on #5703
I'm having the same problem:

Docker image of python:2.7.15
[code]
and in `python setup.py`:
[code]

stacktrace:
[code]

the weird thing is that I can install those dependencies through pip install in my virtualenv.

[2018-10-08 23:17] gylu opened #6177 "to_dataframe changes int in bigquery to float"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-10-09 01:11] #5866 closed

[2018-10-09 12:14] jdupl123 commented on #6162
I've tried the above but I run into the following issue.

code as follows
[code]
[code]
[code]

any ideas of tips for how to debug this further? @tseaver

[2018-10-09 15:48] tseaver commented on #5759
[Another last week](https://source.cloud.google.com/results/invocations/eb6d082b-00ec-4e59-b8e5-2e768a52dd04/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Flogging/log).

[2018-10-09 16:59] rconnaug opened #6178 "Storage: list_blobs does not populate prefixes without iterating results"
When using the `Bucket.list_blobs` method, I noticed that the `prefixes` attribute does not get populated unless you first iterate over the resulting blobs:

I had a bucket whose contents look like:
[code]

Then in python:
[code]

This seems unintuitive and probably unintentional.

Using python 2.7.10, google-cloud-storage version 1.13.0

[2018-10-09 17:35] #5303 closed

[2018-10-09 17:36] #5759 closed

[2018-10-09 18:06] #5931 closed

[2018-10-09 18:17] tseaver commented on #6178
@rconnaug The prefixes can only be discovered via iteration:  the results of the [`objects.list` API call](https://cloud.google.com/storage/docs/json_api/v1/objects/list) are paged, and the prefixes are accumulated from each page of the response.

[2018-10-09 18:17] #6178 closed

[2018-10-09 18:22] tseaver commented on #6172
@beccasaurus can you loop in the correct back-end team member for this issue?

[2018-10-09 19:13] #6115 closed

[2018-10-09 20:53] tseaver commented on #5294
The forthcoming Pyarrow 0.11.0 release is [supposed to have wheels for Python 3.7](https://issues.apache.org/jira/browse/ARROW-3468).

[2018-10-09 21:33] tseaver commented on #5861
I'm not sure what we can do here:  per the [docs for `CommitRequest.single_use_transaction`](https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.v1#google.spanner.v1.CommitRequest.single_use_transaction):

[2018-10-09 23:14] zunger-humu opened #6186 "BigTable: Make read deadlines modifiable"
The 0.31 bigtable client does a good job of retrying read requests, but the retry parameters are fixed (in `google/cloud/bigtable/row_data.py:408`). The defaults are fine for most uses, but not always, e.g. during long-running scans that really Must Work. (e.g., when doing a backup of an entire bigtable, which is where I ran into this)

It would be very helpful to give `table.read_rows` a retry ar

[2018-10-09 23:29] jdupl123 commented on #6162
I solved this issue. the issue was mixing speech_v1 with speech_v1p1beta1

[2018-10-09 23:58] clusterfudge opened #6187 "Cannot instantiate connection with latest version (0.31.0)"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-10-10 12:45] mrmahesh106 opened #6188 "GCP Project Label creation Error : "field [Project.parent] has issue [Project parent cannot be empty.]""
Hi Team ,

 I am trying to create labels for a project with Python but receiving below error. Please help on the same.
Error : - "field [Project.parent] has issue [Project parent cannot be empty.]"

Thanks
Mahesh

code snippet:

[code]

[2018-10-10 15:59] tseaver commented on #6188
@mrmahesh106 It looks as though you are using the `google-api-python-client` library, which isn't supported in this repository.  Please report issues with it in its [own repository](https://github.com/googleapis/google-api-python-client/issues/).

We do maintain the `google-cloud-resource_manager` library here.  Using it to do the task would look like:

[code]

[2018-10-10 15:59] #6188 closed

[2018-10-10 16:07] #5886 closed

[2018-10-10 16:07] #5934 closed

[2018-10-10 17:48] anguillanneuf opened #6189 "Pub/Sub QuickStart Guide is Outdated"
Outdated info on the Pub/Sub Client Library landing page: https://github.com/googleapis/google-cloud-python/tree/master/pubsub:

If folks follow the subscriber guide to this step, they will get this error, which makes no sense.

[code]

Additionally, everywhere else in the API reference, the import statement says `from google.cloud import pubsub_v1`. We need to standardize the import statements.

[2018-10-10 17:56] zinjiggle commented on #5671
@jianatldd:

Glad to mention that the pipeline is upgraded thanks to your information.

It should be able to support your special TIFF file now. Would you like to try?

So far, all issues in this thread above should be already fixed. Feel free to add more issues here if you meet one.

[2018-10-10 19:19] zinjiggle commented on #6172
Captured, will take a look

[2018-10-10 20:01] Rajczyk commented on #5480
When will this be released on pypi?

[2018-10-10 20:43] DowneyTung commented on #6121
I have the same issue with google vision api.

[2018-10-10 20:57] DowneyTung opened #6190 "Google Vision API has random 503 Connect Failed error when multiple instances of google vision api client is running in parallel inside docker containers"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-10-10 22:15] rconnaug commented on #6178
Hi, thanks for the quick response.

That makes sense, but is there a way to iterate through the prefixes page by page?   Seems like I need to iterate through alllll of the blobs first, before the entire list of prefixes are available, rather than page by page.

I'm just comparing the python client to the `objects.list` API.  Using the API on the example bucket up above, if I set `delimiter` to `/`

[2018-10-10 22:36] rconnaug commented on #6178
Ah, perfect, thanks!

[2018-10-11 08:13] codeAshu opened #6192 "Speech: speaker_tag has value 0"
### Api

speech_v1p1beta1
---
### os

macOS 10.13.5

### python version

Python 2.7
---
api version
Name: google-cloud-speech
Version:0.36.0
Summary: Google Cloud Speech API client library
----
If I set the config with diarization enabled, I get speaker_tag as `0` and then result repeat for speaker_tag as` 1` or other value. Sometimes it is only `0` . The [documentation](https://cloud.google.com/s

[2018-10-11 14:42] tseaver commented on #6192
I'm sorry you are having this issue, but I'm afraid there is nothing in the `google-cloud-speech` library itself which could cause it.  The ["speaker diarization" feature](https://cloud.google.com/speech-to-text/docs/multiple-voices#speech-diarization-python) is marked as "beta" in the docs, and is still under development.

I would suggest reporting the issue to the back-end folks using one of the

[2018-10-11 14:42] #6192 closed

[2018-10-11 15:11] tseaver commented on #6170
Reopening:  the [root noxfile](https://github.com/googleapis/google-cloud-python/blob/master/nox.py) needs updating as well.

[2018-10-11 15:13] tseaver commented on #6170
@theacodes it looks like making the new `nox` work on CircleCI (e.g., to build docs) needs a new Docker image, as well.

[2018-10-11 16:03] tseaver commented on #6190
@DowneyTung Can you please show the version of `google-cloud-vision` you are using?  I.e., the output from `pip show google-cloud-vision`.

[2018-10-11 16:38] tseaver commented on #6190
Odd... Unlike #6121, the [Vision GAPIC configuration](https://github.com/googleapis/google-cloud-python/blob/2982dd3d565923509bab210eb45b800ce464fe8a/vision/google/cloud/vision_v1/gapic/image_annotator_client_config.py#L5) shows `UNAVAILABLE` as one of the retryable exception types for `idempotent` methods, and `BatchAnnotateImages` is marked `idempotent`.

I'm guessing that the API call must have

[2018-10-11 16:38] DowneyTung commented on #6121
@tseaver  cool..thanks.. :)

[2018-10-11 16:41] DowneyTung commented on #6190
Hey @tseaver
The version is 0.34.0

[2018-10-11 16:45] tseaver commented on #6170
@busunkim96 #6196 has a patch for the `nox.py` -> `noxfile.py` part, but don't have the keys / know-how to publish a new Docker image to `googleapis/nox`.

[2018-10-11 16:47] theacodes commented on #6170
Should we just switch it over to the same one we use for Kokoro?

On Thu, Oct 11, 2018 at 9:45 AM Tres Seaver <notifications@github.com>
wrote:

[2018-10-11 16:50] tseaver commented on #4553
@tswast Should this item remain open here, or are we tracking it somewhere in a feature backlog?

[2018-10-11 16:52] tseaver commented on #4806
I'm closing preemptively here.  Please feel free to reopen if a partition-specific snippet is needed, versus the general one @tswast linked.

[2018-10-11 16:52] #4806 closed

[2018-10-11 16:54] DowneyTung commented on #6190
I am not sure I am following your comment. Do you need extra info for investigate this issue?
Thanks for your help

[2018-10-11 16:54] tseaver commented on #5110
#5694 added a `labels` property to the job config classes.

[2018-10-11 16:54] #5110 closed

[2018-10-11 17:06] tseaver commented on #5291
Via #5930 and #6011.

[2018-10-11 17:06] #5291 closed

[2018-10-11 17:33] tseaver commented on #5140
Your schemal declares `Id` twice:  once as a record, and once as an integer, which doesn't match your data.  Either the schema should match the data:

[code]

or else your data has to have the nested `Id` field as a record (to match the schema):

[code]

[2018-10-11 17:33] #5140 closed

[2018-10-11 17:38] tseaver opened #6197 "BigQuery: add retry for query results iteration"
See: #6136, and the [TODO left in the code](https://github.com/googleapis/google-cloud-python/blob/4da8bd9371bf9c751a69419fd36c8d56ae42088d/bigquery/google/cloud/bigquery/job.py#L698) by @jba:

[code]

[2018-10-11 17:43] tseaver commented on #6170
AFAICT, the `.kororo` config doesn't specify a Docker image:  instead, it [forcibly updates `nox`](https://github.com/googleapis/google-cloud-python/blob/21d59e345967661496de249592a53f4f7151eb6e/.kokoro/build.sh#L49-L56):

[code]

[2018-10-11 19:44] tswast commented on #4553
@tseaver We can add to a feature request backlog.

[2018-10-11 19:45] #6170 closed

[2018-10-11 22:17] tswast commented on #6055
@yiga2 I like the idea of a default dataset in principle, but there are so many places where a dataset might creep in that I fear it'd be hard to catch all uses, especially as the BigQuery API evolves and there may be new APIs that take datasets in their requests.

Instead, we are starting to off a slightly lower-level API where default resources can be provided. See: https://github.com/googleapis

[2018-10-12 08:15] maxbellec commented on #6121
@tseaver thank you for looking into my issue. I'm still unsure about why that errors happens quite often in the first place. I'm especially surprised that it happens only in the CI tests, do you have any guess on what I could try?

[2018-10-12 16:39] #6055 closed

[2018-10-12 16:43] OrielResearchCure opened #6200 "Using autoML libraries"
Hello,

I am new to autoML and would like to run a simple example on Google datalab notebook.

I started with https://googleapis.github.io/google-cloud-python/latest/automl/index.html which works with google.cloud.automl_v1beta1 import PredictionServiceClient
I tried to install automl_v1beta1 which is not available

-  pip install automl works but I could not find an example for using it.

Could y

[2018-10-12 16:45] tseaver commented on #6121
@pcostell Can you suggets why the 503 is being raised from the Datastore API here?  Should we be retrying the `Commit` call in that case?

[2018-10-12 16:55] tseaver commented on #6200
`pip install google-cloud-automl` installs the latest distribution from [PyPI](https://pypi.org/project/google-cloud-automl/).  Once installed, you can either import `google.cloud.automl_v1beta1` (to use a specific version of the API):

[code]

or import `google.cloud.automl` (to use the latest version of the API):

[code]

[2018-10-12 16:55] #6200 closed

[2018-10-12 19:06] tseaver commented on #4669
ISTM that this is a codegen problem:  someone needs to update the artman config for BQDT to match other APIs which graft on the `operations_client`, and then `synth` will pick it up.

[2018-10-12 19:14] tseaver commented on #4926
@theacodes I don't know about the desirability of converting `google.cloud.runtimeconfig` into a purely generated library.  AFAICT from the [docs](https://cloud.google.com/deployment-manager/runtime-configurator/reference/rest/), it is a REST-only service.  It does expose [discovery docs](https://runtimeconfig.googleapis.com/$discovery/rest?version=v1).

[2018-10-12 19:16] tseaver commented on #4993
@rvandegrift We have not support for the `v1` API at all in `google.cloud.resource_manager`.  Closing in favor of #6039, which has more extensive discussion of the effort required.

[2018-10-12 19:16] #4993 closed

[2018-10-12 19:29] tswast commented on #5027
From https://github.com/sphinx-doc/sphinx/issues/2979 we can use the `:type:` directive on properties for them to render properly with Sphinx.

[2018-10-12 19:30] theacodes commented on #5027
What about for Napoleon style docstrings (which are required by our style
guide)?

On Fri, Oct 12, 2018 at 12:30 PM Tim Swast <notifications@github.com> wrote:

[2018-10-12 19:33] tswast commented on #5027
The issue was close & marked as a napoleon issue, but you're right that it didn't actually solve the issue of having Napoleon actually parse and annotate the Google-style property docs.

[2018-10-12 20:00] tseaver commented on #5093
@tswast while working on this, I am adding unit tests for each of the `LoadJobConfig` properties.  I notice that `skipLeadingRows` is mangled to a string in the resource, while `maxBadRows` is not.  Which is correct?  Given that we are using JSON, and the numbers expected wouldn't be huge, I would think that leaving them both as integers would be correct.  The [docs](https://cloud.google.com/bigqu

[2018-10-12 22:01] anguillanneuf opened #6201 "Pub/Sub: return type`future` is not `concurrent.futures.Future`"
https://github.com/googleapis/google-cloud-python/blob/8f63393a151a22018a3d03c7a35576da25ee17b3/pubsub/google/cloud/pubsub_v1/publisher/client.py#L170

Contrary to what's in the [reference](https://gcloud-python.readthedocs.io/en/latest/pubsub/publisher/api/client.html#google.cloud.pubsub_v1.publisher.client.Client.publish), the correct return type for `publish()` should be `google.cloud.pubsub_v1

[2018-10-12 22:38] tseaver commented on #6201
@theacodes can you comment?

[2018-10-12 22:39] #6189 closed

[2018-10-12 22:53] theacodes commented on #6201
Yeah we should update it. It should additionally say that it conforms to the `concurrent.futures.Future` interface and can be used in similar ways, but it not completely compatible with `concurrent.futures` tools such as `wait()`.

[2018-10-12 23:07] anguillanneuf commented on #6201
Thanks! Listing a couple of places in the doc where we need it changed:

1. https://google-cloud.readthedocs.io/en/latest/pubsub/publisher/api/client.html#google.cloud.pubsub_v1.publisher.client.Client.publish

2. https://google-cloud.readthedocs.io/en/latest/pubsub/publisher/index.html#futures

3. Could we expose this page in the API Reference and link 1&2 to it? https://github.com/googleapis/goo

[2018-10-14 01:04] wsh opened #6203 "Firestore: surprising DocumentReference.get behavior for non-iterable field_path argument"
Hi there! :smile:

I've been trying to get a specific field on a document efficiently by specifying a field path in `get`, but I encountered some surprising behavior. The docs point out that `field_paths` is an optional _iterable_, but if you pass a single field argument like this:

```doc.get('foo')```

no fields are returned (`to_dict` on the resulting snapshot produces `{}`). If, however, you p

[2018-10-14 08:27] shubham0420 opened #6204 "Unable to import Webapp2"
Error in Google Cloud when importing webapp2. Below i have added error. webapp2 version 2.5.2 is used.

[code]

[2018-10-14 14:13] econchick opened #6205 "DNS docs have Datastore instructions"
Hi there -

In looking at the [compiled, hosted docs for the DNS package](https://googleapis.github.io/google-cloud-python/latest/dns/index.html) as well [its README](https://github.com/googleapis/google-cloud-python/blob/79d34abaf391c66c91071edae4b42634d5930a91/dns/README.rst), some of the documentation is actually Datastore, and not DNS (i.e. `pip install google-cloud-datastore` and "Enable Data

[2018-10-14 23:06] frossigneux commented on #5879
[trace.txt](https://github.com/googleapis/google-cloud-python/files/2476954/trace.txt)
I get the same error:
- google-cloud-storage==1.13.0
- runtime: python37
- python_version: 3

[2018-10-15 05:38] danoscarmike commented on #5480
@tseaver I don't think there was a Firestore release cut since #5613 was merged. Could you prepare one please? Thanks!

[2018-10-15 11:53] ZeeD opened #6206 "Logging: set logName with google.cloud.logging.Client().get_default_handler()"
According to https://github.com/googleapis/google-cloud-python/blob/master/logging/google/cloud/logging/client.py#L309 get_default_handler has no parameters.
But if I need to set a custom logName into stackdriver logs, I need to pass name="foo" both to AppEngineHandler and CloudLoggingHandler
(moreover, from what I understand there is no way to setup the ContainerEngineHandler)

[2018-10-15 15:00] Edo-A opened #6207 "[general] Documentation on page_size is very minimal."
The explanation of page_size is extremely limited.
Example from the [logging API:](https://github.com/googleapis/google-cloud-python/blob/master/logging/google/cloud/logging/client.py#L185)
`maximum number of entries to return, If not passed, defaults to a value set by the API.`

If you're familiar with gRPC then this makes sense, but for newcomers this is extremely limited information. Simple wor

[2018-10-15 15:38] tseaver commented on #6206
If you are calling `client.get_default_handler()` in your code, you can assign the `name` attribute (or property, for the GCE case) directly:

[code]

[2018-10-15 15:43] tseaver commented on #6203
The underlying issue here is that Python's `str` type *is* iterable.  In effect, `doc.get(`foo`)` is the same as `doc.get(['f', 'o', 'o'}`, which is why the snapshot is empty (none of the requested field paths are in it).

[2018-10-15 15:55] #6205 closed

[2018-10-15 16:16] ZeeD commented on #6206
Hi.
I tried setting manually the property, but it's not working.
Looking at the sources, if `get_default_handler()` returns a `google.cloud.logging.handlers.handlers.CloudLoggingHandler` instance, you need to set `handler.transport.worker._cloud_logger.name = 'foo'` because the actual message is sent in another thread, but honestly is not something I like to have running in production.
I have not

[2018-10-15 18:32] jgrabenstein opened #6212 "google-cloud-resource-manager Regression: 403 creating new project"
If you can provide us with as much of the following information as possible it
will help us identify the cause of your issue more quickly.

1. API: google-cloud-resource-manager
2. MacOS Mojave
3. Python 3.7.0
4. google-cloud-resource-manager, version: 0.28.1
5. Stacktrace:
`Traceback (most recent call last):
  File "bug.py", line 8, in <module>
    project.create()          # Fails
  File "/Users

[2018-10-15 18:46] tseaver commented on #6212
@jgrabenstein The `projects.create` method in the `v1beta1` version of the API (the one wrapped by `google.cloud.resource_manager`) is actually governed by a whitelist:  it looks as though only Google-corporate accounts have access (see #6039).

[2018-10-15 19:00] AjayZinngg opened #6213 "Storage: Google cloud storage access issue"
2. OS type and version : Linux Ubuntu 16.04
3. Python version and virtual environment information: python 3.5.2

I am a Google cloud project owner but I am not able to access the files in my project buckets. I am getting the error:
`You need the storage.objects.list permission to list objects in this bucket. Ask a project or bucket owner to give you this permission and try again.
`
I am unable to

[2018-10-15 21:02] michael-erasmus commented on #5703
I'm also experiencing this issue, like with @rapkyt this only seems to occur if I include `google-cloud-pubsub` in my `setup.py`, if I run `pip install google-cloud-pubsub` I'm not getting any errors either.

Any chance we can re-open the issue?

[2018-10-15 22:36] tswast commented on #5093
Per the discovery document (https://www.googleapis.com/discovery/v1/apis/bigquery/v2/rest)

`maxBadRows` is an int32 and can safely be represented as an integer in Google's JSON parser.

`skipLeadingRows` is an int64, so needs to be encoded as a string for Google's JSON parser.

I asked the BigQuery team this same question (why the inconsistency in types) and they didn't have a satisfactory answer

[2018-10-16 00:55] hjed commented on #6094
It's also missing `operation`

[2018-10-16 01:30] sduskis commented on #6186
@sumit-ql do you want to take a look at this?

[2018-10-16 04:56] spjatin4 commented on #2791
u'Jacopo' works when we are passing values individually. However, if you want to transfer as an object, you are expected to convert into string and then use put entity.
Here is sample code.

from google.cloud import datastore
first_name = 'Jacopo'
client = datastore.Client()
key = client.key('TestSTG')

entity = datastore.Entity()
entity["firstname"] = str(first_name)
client.put(entity)

This shou

[2018-10-16 10:57] mishedone opened #6217 "StackDriver Logging python exception in protobuf json_format.py"
Scenario: I am trying to setup logging in Python3 AppEngine standard environment. The following code is executing without any problem:

[code]

But... When I try to log a warning StackDriver shows a Failed to submit 1 logs. error:

[code]

Here is the stack trace from StackDriver (actually 3):

[code]
[code]

[code]

Those look extremely weird - I am not passing any labels at all, it is using the

[2018-10-16 12:30] dmsolow opened #6218 "Vision: async_batch_annotate_files never finishes"
Starting today my async_batch_annotate_files requests never finish. `operation.running()` is always `True`, `operation.done()` is always `False.` I was OCRing files like this (2 page TIFF) with no problem earlier in the week.

I'm seeing this problem using this example: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/vision/cloud-client/detect/detect.py

The command `python

[2018-10-16 12:49] dmsolow commented on #6218
NVM it's randomly working now

SO GLAD THIS FEATURE IS NO LONGER BETA THANKS GOOGLE

[2018-10-16 14:05] dmsolow commented on #6218
And now it's broken again, tequests hanging for over an hour.

Did something change with the client or server code?

[2018-10-16 14:41] tseaver commented on #6218
@dmsolow We haven't released a new version of `google-cloud-vision` since 2018-09-11.

[2018-10-16 14:42] tseaver commented on #6218
@beccasaurus, @zinjiggle do you know of any ongoing Vision APIs which might account for this report?

[2018-10-16 14:56] tseaver commented on #6094
`receiveTimestamp` (reported in #5601), added in PR #6143.

[2018-10-16 15:01] samtstern commented on #5967
This applies to Cloud Firestore as well.

[2018-10-16 16:03] zinjiggle commented on #6218
there is a memory issue we are working on right now

should be running soon

On Tue, Oct 16, 2018 at 7:42 AM Tres Seaver <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-10-16 16:04] dmsolow commented on #6218
I feel you, man, I have memory issues all the time.

In all seriousness, thank you for taking the time to respond.

[2018-10-16 16:49] sumit-ql commented on #6186
@sduskis Yes i will work on this.

[2018-10-16 20:15] echan00 opened #6228 "Trouble importing from Google Cloud?"
I have the Google Cloud SDK installed. I also have the translate client library in python installed:
`pip install --upgrade google-cloud-translate`

What else can possibly be wrong to not be able to import translate?
[code]

[2018-10-17 01:48] tseaver commented on #6217
@mishedone Can you please show the full traceback, at least up to the point where your application code triggers a method in `google-cloud-logging`?

[2018-10-17 01:50] tseaver commented on #5601
I'm closing this in favor for #6094, which includes its commits, adds other `LogEntry` fields, and refactors the `google.cloud.logging.entries` module to use named tuples.

[2018-10-17 01:50] #5601 closed

[2018-10-17 02:12] tseaver opened #6231 "Kokoro skipping jobs inappropriately"
E.g., for PR #6202, which scribbles all over `bigquery/`, the [Kokoro - BigQuery job](https://source.cloud.google.com/results/invocations/de8b3c7d-1952-4e13-acf2-d0491c739608/log) logs (line 95)

And returns successfully without running any tests.

[2018-10-17 02:57] tseaver commented on #6228
You likely have one of the following scenarios:

- The Python you are running is not the one where `google-cloud-translate` is installed (e.g., if you left a different virtualenv activated).  In the same command prompt where you launch `python`, try typing `pip freeze` and past the output here.  I recommend *never* activating a virtualenv for just this reason:  instead, I just type-and-tab the pat

[2018-10-17 02:57] #6228 closed

[2018-10-17 03:30] tseaver opened #6234 "Generated noxfiles missing 'cover' session"
They are also missing the `lint` session.

While the argument might be made, "they are autogen-only", the fact is that a) the `gapic-generator`, `synthtool`, etc. are software, and have bugs too; b) the local `synth.py` is perfectly capable of injecting its *own* bugs.

`videointelligence` is notable in this list because it is at "beta" support level, so we should expect higher code quality for it

[2018-10-17 08:06] ZeeD opened #6235 "Logging: set logName with google.cloud.logging.Client().get_default_handler()"
I waited for a response for the ticket #6206  but I had none, so I'm opening a new ticket.

[2018-10-17 09:44] mishedone commented on #6217
Unfortunately the default setup_logging() is using the `google.cloud.logging.handlers.transports.BackgroundThreadTransport` which (at least as I understand it) is triggering an exception in a separate thread (which is good because the main thread is executed successfully - no 500 error). This leaves me with the 3 messages above only taken from StackDriver logs.

On the other hand I've tried someth

[2018-10-17 12:53] tseaver commented on #6235
I will reopen #6206, but you will need to explain your usecase more clearly -- there is nothing magical about how the handler name is set during construction compared to setting it afterward.

[2018-10-17 12:53] #6235 closed

[2018-10-17 12:54] tseaver commented on #6206
Please explain the usecase more clearly.  Setting the `name` of the handler during construction is no different thatn assigning it after construction.

[2018-10-17 14:02] tseaver commented on #6212
I believe the `googleapiclient` can now consume the `v1` endpoint for the resource manager API, which is why you can create projects.

We have the task to migrate to the `v1` endpoint in the backlog, but don't have any ETA.

[2018-10-17 14:02] #6212 closed

[2018-10-17 15:01] ZeeD commented on #6206
I'm not against using the `name` property after the construction.
What I said is that it's not working.
I have looked at the sources and from what I understand `CloudLoggingHandler` doesn't look up at the `name` property.
In fact at the moment, in my code I set the nested (private) property `handler.transport.worker._cloud_logger.name` to set up the name.

[2018-10-17 15:29] tseaver commented on #6206
OK, so the issue is that `CloudLoggingHandler` and `AppEngineHandler` both kick off their transports in their `__init__`, before any user-assigned `name` could influence the transport's name.  `ContainerEngineHandler` doesn't have an `__init__`, and its `name` property derives from the stdlib `logging.StreamHandler`.

[2018-10-17 15:32] tseaver commented on #6206
I think the solution is in two parts:

- Add `ContainerEngineHandler.__init__`, taking an optional `name` (defaulting to `None`.  If passed a name, the constructor should assign it (via the stdlib property).
- Add `**kw` to `Client.get_default_handler`, and pass it through utouched to whichever handler is chosen.

[2018-10-17 16:32] tswast commented on #6144
If we have a way to create a similar top-level TOC table as we do with autosummary, I'd be open to this. It's impossible to find anything if you don't know the exact method name you're looking for otherwise.

The storage docs are split by module, and I find those next to impossible to navigate, and I know those classes somewhat well.

[2018-10-17 17:51] #6231 closed

[2018-10-17 19:15] tseaver commented on #5928
Another failure [today](https://source.cloud.google.com/results/invocations/4bd4d22d-4d25-4ea3-963d-2f97dc170566/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log).

[2018-10-17 19:23] tseaver opened #6241 "Pubsub: broken by #6211"
See https://source.cloud.google.com/results/invocations/99e4cfc1-98bf-4301-9191-27e6cac9412a/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fpubsub/log.

[code]

[2018-10-17 19:56] tseaver commented on #6231
Hmm, looks like kokoro may have gone from skipping everything to running everything: two failures on PR #6202, which is pure BigQuery:

- [api_core](https://source.cloud.google.com/results/invocations/906ca88c-e66d-4fc7-b494-64e9f84d1224)
- [pub_sub](https://source.cloud.google.com/results/invocations/5a71c732-5462-4d80-b13e-d0b706556511)

[2018-10-17 20:02] #6241 closed

[2018-10-17 20:05] theacodes commented on #6231
Maybe rebasing helps? What happens if you manually compare master against
the PR HEAD?

On Wed, Oct 17, 2018 at 12:56 PM Tres Seaver <notifications@github.com>
wrote:

[2018-10-17 20:37] tseaver opened #6244 "Storage: 'TestRetentionPolicy.test_bucket_w_retention_period' flakes with '429 TooManyRequests'"
From [Kokoro today](https://source.cloud.google.com/results/invocations/607bb0e6-82fd-4e28-9227-7be820332473/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):

[code]

[2018-10-17 20:46] tseaver opened #6245 "Bigtable: 'TestTableAdminAPI.test_exists' flakes on ghost table"
From [Kokoro today](https://source.cloud.google.com/results/invocations/97f1ec66-8ebe-4a5f-8427-50eee14dd26c/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log):

[code]

Presumably, this is an eventual consistency thing.

[2018-10-17 21:00] #5093 closed

[2018-10-17 21:18] theacodes commented on #4267
Necroing this bug to bring it to the attention of @crwilcox - this is what's needed to kill google-cloud-core.

[2018-10-17 21:45] dhermes opened #6251 "Complete partial `ndb` implementations"
This is a list of "cleanup" I need to go back and perform for `ndb`. I am doing this for one of a few reasons:

- The feature depended on "legacy" Google App Engine features or modules (e.g. `google.appengine.api.datastore_types`)
- The class hierarchy is so intertwined that `ndb.foo.F` and `ndb.bar.G` must be implemented at the exact same time to actually perform all expected functions

----

- [

[2018-10-17 22:45] dhermes opened #6252 "Add `pypy3` to Kokoro environment"
From latest [`ndb` build][1]:

[code]

The `.kokoro/build-docs.sh` file indicates to me that `pyenv` is present, so `pyenv install pypy3.5-6.0.0` (the latest version) could just be added somewhere

[1]: https://source.cloud.google.com/results/invocations/41168f7e-0811-4d71-8438-747c7f72ed4d/log

[2018-10-17 23:04] dhermes opened #6253 "AppVeyor builds have stopped"
The last build on https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/history was 20 days ago.

I searched through issues to see if there was a discussion but I couldn't find one.

[2018-10-17 23:06] dhermes opened #6254 "Add support for remapping `ndb` module paths when unpickling"
An example pickled output from legacy GAE for testing:

[code]

where

[code]

[2018-10-17 23:07] dhermes opened #6255 "Django Middleware should be in its own package"
I wonder if the Django middleware doesn't belong in its own package. Rather than putting all the different framework integrations in the package with the library, it might make more sense to maintain each framework integration as a standalone package, each with its own stakeholders.

(Originally filed by @chrisrossi)

[2018-10-17 23:07] dhermes commented on #6255
@chrisrossi Jinx. I've discussed this with @crwilcox and @sduskis already and I think that's the way to go. I think this is probably true as well for `ndb.blobstore`, `ndb.metadata` and `ndb.stats`

[2018-10-17 23:10] dhermes opened #6256 "Find a home for all attributes in `ndb` public interface"
This is an uber-issue. It provides a checklist of work to be done and a log of work that is already done.

Note that `ndb` is imported as `google.appengine.ext.ndb`, so when I refer to a package `foo`, the full import path is `google.appengine.ext.ndb.foo`.

## Submodules

- [ ] `__init__`
- [ ] `tasklets` (1st import in `__init__.py`)
- [ ] `model` (2nd import in `__init__.py`)
- [ ] `query` (3rd

[2018-10-17 23:12] dhermes opened #6257 "Address `ndb` constructor "sharp" corners"
E.g.

[code]

and a comment from @andrewsg:

FWIW, the exception is raised when serializing the `ndb.Key()` to a protobuf, i.e. before talking to the network. So in theory this check could be done by the constructor. Maybe we're just better off allowing the constructor to work less hard / putting it on the user to get the correct key parts. This is what `google-cloud-datastore` does:

[code]

[2018-10-18 12:11] thpica opened #6259 "Datastore: No module named 'grpc' when importing datastore if installed after bigquery"
# Summary

When installing `google-cloud-datastore` after `google-cloud-bigquery`, datastore is missing `grpc`.
This is most likely due to the fact that `google-cloud-bigquery` installs `google-cloud-core` without the `grpc` extra.
So when `google-cloud-datastore` (which requires `google-cloud-core[grpc]`) is installed afterwards, the `google-cloud-core` dependency is already satisfied and pip doe

[2018-10-18 14:33] tseaver commented on #6259
Duplicate of #5776.  As noted there:

I closed that issue "wontfix":

[2018-10-18 14:34] #6259 closed

[2018-10-18 14:35] tseaver commented on #5511
PR #6229 will make this issue moot:  it makes public a `LogEntry` class, which is used to support payload-less entries:  the others (`TextEntry`, etc.) derive from it.

[2018-10-18 14:35] #5511 closed

[2018-10-18 14:57] tseaver commented on #4560
@nojvek Your example doesn't show it, but is it possible you are doing the reads in the context of a transaction?   The "one per second" response time sounds like one of the [limits mentioned in the Datastore API docs](https://cloud.google.com/datastore/docs/concepts/limits):

That row links to the [Transactions and Entity Groups concept doc](https://cloud.google.com/datastore/docs/concepts/transa

[2018-10-18 14:59] tseaver commented on #5046
@dazuma Can you help direct this to the right target for updating the API docs?

[2018-10-18 15:03] tseaver commented on #5219
Please feel free to re-open if you can provide more information.

[2018-10-18 15:03] #5219 closed

[2018-10-18 15:04] tseaver commented on #5261
I believe @zinjiggle might have access to the folks who could answer this question.

[2018-10-18 15:07] tseaver commented on #5086
I do not believe that there is anything emitted from the backend which signals "start of processing."  @beccasaurus, can you confirm?

[2018-10-18 15:09] tseaver commented on #5094
/cc @beccasaurus

[2018-10-18 15:09] tseaver commented on #5188
/cc @beccasaurus

[2018-10-18 15:11] tseaver commented on #5308
/cc @beccasaurus

[2018-10-18 15:12] tseaver commented on #5785
/cc @beccasaurus

[2018-10-18 15:13] tseaver commented on #5819
/cc @beccasaurus

[2018-10-18 15:13] tseaver commented on #6145
/cc @beccasaurus

[2018-10-18 15:18] tseaver commented on #6077
Related to #5523 for pubsub, which led me to open https://github.com/googleapis/gapic-generator/issues/2337 to support explicitly closing the client->transport->channel.

[2018-10-18 15:18] #6077 closed

[2018-10-18 15:33] tseaver commented on #5727
I'm going to close, as I don't think there is anything we can do in this repository to address the packaging snarl created by the maintained-elsewhere `google-cloud-dataflow` / `apache-beam` packages.

[2018-10-18 15:33] #5727 closed

[2018-10-18 15:35] tseaver commented on #5884
I've pinged @JustinBeckwith for a PoC for this issue.

[2018-10-18 15:38] tseaver commented on #5389
@snehashah16 can you look at tweaking the `googleapis/google/spanner/` configuration?

[2018-10-18 15:42] tseaver commented on #5411
/cc @beccasaurus

[2018-10-18 15:43] tseaver commented on #5425
/cc @beccasaurus

[2018-10-18 15:46] tseaver commented on #5426
If this issue persists one https://github.com/eventlet/eventlet/issues/476 is closed and a release made, please reopen.

[2018-10-18 15:46] #5426 closed

[2018-10-18 15:50] sginn commented on #5426
Sounds good.

In case others come here -> I ended up wrapping calls to google text to speech in a separate service that doesn't run with eventlet.  it mitigated the issues and we're operational.

[2018-10-18 15:55] dhermes opened #6263 "Should `ndb/src/google` be moved to `ndb/google`?"
I am in general pro on using a `src/` directory so that the local copy doesn't get accidentally imported while testing. Some other references for a discussion:

- https://github.com/pypa/python-packaging-user-guide/issues/320
- https://hynek.me/articles/testing-packaging/
- https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure

[2018-10-18 15:58] tseaver commented on #5448
/cc @lukesneeringer Can you suggest a way we could get docs generating properly for the "common" API proto messages?

[2018-10-18 16:16] tseaver commented on #5560
@miyatin0212 Thanks very much for the report!  The examples you are seeing are outdated.  You should be able to use the `pages` attribute of the response iterator without needing to pass a token, e.g.:

[code]

[2018-10-18 16:17] tseaver commented on #5560
I have opened https://github.com/googleapis/gapic-generator/issues/2388 to track the issue for examples in generated code.

[2018-10-18 16:39] tseaver commented on #5725
@sduskis I believe the work done since `google-cloud-bigtable 0.29.0` has addressed this issued.  Can you please confirm and close?

[2018-10-18 16:43] tseaver commented on #5824
@pcostell Can you suggest an explanation here, or a path to try?

[2018-10-18 16:46] tseaver commented on #5884
/cc @texasmichelle Can you please look into this issue?

[2018-10-18 16:53] tseaver commented on #6263
FWIW, we've moved to using in-place installs for all unit / system tests, exactly so that the local copy *is* used:  it makes debugging breaking tests much smoother / faster.

[2018-10-18 16:59] tseaver commented on #6203
@schmidt-sebastian, @jadekler Should `google-cloud-firestore` be adding special-case handling for the case that the user passes a single field name to `doc.get`?

[2018-10-18 17:03] tseaver commented on #6190
Might be related to the service outage mentioned in #6172.

/cc @beccasaurus, @zinjiggle.

[2018-10-18 17:03] dhermes commented on #6263
The `src/` directory works fine with an editable install, for example, if I modified the `ndb` Noxfile:

[code]

then running `nox -s unit-3.7` (e.g.) will give

[code]

So the source files are still imported, but the imports aren't confused / it's not possible to import by accident from a Python shell.

[2018-10-18 17:04] tseaver commented on #6152
@sdsy888 Please reopen if you can add more information to this report.

[2018-10-18 17:04] #6152 closed

[2018-10-18 17:05] tseaver commented on #6127
@theacodes Can you suggest anything which would explain the double encoding?

[2018-10-18 17:08] tseaver commented on #5818
@crwilcox ping?

[2018-10-18 17:09] tseaver commented on #6130
@theacodes, @crwilcox Should this be categorized as a bug, then?

[2018-10-18 17:09] tseaver commented on #6035
/cc @frankyn

[2018-10-18 17:11] tseaver commented on #5909
We might need to handle this in [`google-resumable-media`](https://github.com/GoogleCloudPlatform/google-resumable-media-python/).  @dhermes WDYT?

[2018-10-18 17:15] dhermes commented on #5909
@tseaver Sounds reasonable. Any good ideas on reproducing this?

[2018-10-18 17:18] dhermes opened #6266 "There are two distinct docs labels"
Currently [`documentation`][1] (798 total issues/PRs) and [`type: docs`][2] (31 total issues/PRs) are active labels

[1]: https://github.com/googleapis/google-cloud-python/issues?utf8=%E2%9C%93&q=label%3Adocumentation+
[2]: https://github.com/googleapis/google-cloud-python/issues?utf8=%E2%9C%93&q=label%3A%22type%3A+docs%22+

[2018-10-18 17:21] schmidt-sebastian commented on #6203
`DocumentSnapshot.get()` should accept a single field path, and not an array of field paths.

https://github.com/googleapis/nodejs-firestore/blob/master/types/firestore.d.ts#L693

[2018-10-18 17:34] tseaver commented on #6203
At least in [Python](https://github.com/googleapis/google-cloud-python/blob/d6bfb08ed3c5332d4bc91139c544c30d86019602/firestore/google/cloud/firestore_v1beta1/document.py#L395), `DocumentReference.get` takes an optional list of `field_paths` (not names, that was my mistake) and returns a snapshot.  If `field_paths` is passed, only the matching fields are included in the snapshot, via the `mask` arg

[2018-10-18 17:39] schmidt-sebastian commented on #6203
We are currently trying to figure out how to expose Field Mask in the Server SDKs in a consistent way for all SDKs. The expected state for these masks is that they are not exposed right now outside of Query API. As such, I cannot provide any guidance on how this API should behave.

[2018-10-18 17:51] JustinBeckwith commented on #6266
Fixed! I went ahead and updated the open issues to use `type: docs`, and removed the previous label.

[2018-10-18 17:51] #6266 closed

[2018-10-18 18:03] dhermes commented on #6266
@JustinBeckwith but now the 798 `documentation` issues have no label fulfilling the previous role?

[2018-10-18 19:31] dhermes commented on #6266
It depends on what you want to do with the labels. One might want to use them to say "what have we been spending on our time on", in which case labels on closed issues / merged PRs are meaningful.

[2018-10-18 20:44] tseaver commented on #6144
In its current form, you have one page generated per function or method:  529 of them.  You'll have a hard time persuading me that having methods for a single class broken up like that is more readable.

[2018-10-18 20:52] tseaver commented on #6266
Removing labels is bad for institutional memory.  I'd have actually preferred to go the other way, and make the issues with `type: docs` have another type, but keep the old `documentation` label.

[2018-10-18 20:54] #6203 closed

[2018-10-18 21:09] tswast commented on #6144
Without autosummary, I don't know how to get this:

![image](https://user-images.githubusercontent.com/247555/47184406-6e9b1f80-d2df-11e8-97c5-2946eb7fabec.png)

[2018-10-18 21:11] tswast commented on #6144
Or this:

![image](https://user-images.githubusercontent.com/247555/47184480-a2764500-d2df-11e8-98b1-6da2a40a070d.png)

The client class alone is too big to find anything in without a nice table like this.

[2018-10-18 22:09] tswast commented on #6144
A potential solution is using autosummary to generate the TOC top, but generate at the class layer, not break out every function separately. I think we can do this with some tweaks to https://github.com/googleapis/google-cloud-python/blob/master/third_party/sphinx/sphinx/ext/autosummary/templates/autosummary/class.rst

I'll look into it.

[2018-10-19 10:53] abdelrahman-t opened #6276 "Speech: inconsistent behaviour (breaking changes)"
Provided is a test file in Turkish that was used as part of our tests. last time we have run the tests was SEPT 4 2018, Speech API was able to transcribe the file **correctly**, this is **suddenly no longer the case however.**

Case 1. (used to work correctly) ([test1.zip](https://github.com/googleapis/google-cloud-python/files/2495509/test1.zip))

Speech API (previous behavior - correct)
Mürat Öz

[2018-10-19 13:06] chrisrossi commented on #6276
It looks like this isn't a problem with the Python client, but with the API it's consuming.  How do we refer to this to the team responsible for the upstream API?

[2018-10-19 14:12] tseaver commented on #6276
/cc @beccasaurus for backend speech questions.

[2018-10-19 14:35] DowneyTung commented on #6190
Here is some more stacktrace for resolving this issue:
[code]

[2018-10-19 14:38] tseaver commented on #6276
@abdelrahman-t Just in case, I looked at the [Best Practices](https://cloud.google.com/speech-to-text/docs/best-practices) for the Speech API.  The doc says about sampling rate:

and then later:

Your file is a WAV encoded at 44.1 KHz.  Is your application passing the `sample_rate_hertz` value in the `config` argument to `client.recognize`?

[2018-10-19 14:40] DowneyTung commented on #6190
I think there is some connection issue, but I am not sure whether this is something related to google. I solved this issue by just retrying to instantiate a new client, usually it works after I instantiate a new client.
Here is my fix, which may help others who face similar issue:
[code]

[2018-10-19 14:50] abdelrahman-t commented on #6276
I have tried explicitly passing the sample rate but it made no difference, I will experiment with different sample rates, but I am worried that these changes in API behaviour is due to changes to the underlying model.

thanks,

[2018-10-19 15:06] DowneyTung commented on #6190
I would think it is not related to `google-cloud-vision`. Should I open a new ticket somewhere else for investigating this issue?

[2018-10-19 15:32] tseaver commented on #6276
@abdelrahman-t Thanks for clarifying.  The only other thing I noticed in your example file was the metallic click / slap sound shortly after the speaker finished:  I wouldn't expect that to have mattered to the API model, but perhaps it had some effect.

[2018-10-19 18:08] tseaver commented on #5725
Please reopen if my assumption was incorrect.

[2018-10-19 18:08] #5725 closed

[2018-10-19 18:16] tseaver opened #6278 "Bigtable: plumb 'transport' through from 'Client' to GAPIC generated clients"
/cc @sduskis

Two issues:

- `bigtable.client.Client.__init__` takes a `channel` argument, but [does nothing with it](https://github.com/googleapis/google-cloud-python/blob/910846426428f24ad49e1a0f716e5bf103b3e3af/bigtable/google/cloud/bigtable/client.py#L102-L114):  the `_channel` attribute is never used.

- The current GAPIC-generated clients still accept a `channel` argument, but are deprecatin

[2018-10-19 18:19] tseaver commented on #6278
"That no work!"  The `transport` argument to a GAPIC generated client is specific to the methods:  we would need to expose `instance_admin_transport`, `table_admin_transport`, and `table_data_transport` arguments.

[2018-10-19 18:31] tseaver commented on #5967
The vast majority of those warnings come from generated tests!  See: https://github.com/googleapis/gapic-generator/issues/2389

[2018-10-19 19:57] tseaver commented on #6278
Fundamentally, we cannot *both* compute credentials eagerly *and* accept a `channel` argument:  they are incompatible.  We would need to figure out how to suppress computing the credentials in the base client class if `channel` were passed.

[2018-10-19 20:50] tseaver commented on #6278
I guess the other choice would be that, if the user passed `channel`, we just discarded the base-class-constructed `credentials`, and pass *only* the `channel` to the GAPIC-client constructors.

[2018-10-20 14:28] stephenk289 commented on #5879
Hi,
I'm also having this issue.  There is a scenario for which this occurs for me every time.

I send a dataset to a non-google ML provider.  We then wait for the prediction to finish.  When the ML prediction does finish, I take the .CSV file and then I wish to deposit it on the Google Storage.  The wait can be up to 10mins (normally 6mins).  I get the ConnectionResetError.  If this is useful I'm

[2018-10-20 14:57] yiga2 commented on #5879
Remember CF times out after 9min so the error could be "normal".
I would check the Stackdriver log to see what exact http code is returned and raise the issue on issuetracker. Not here as it sounds like related to the core API.

[2018-10-20 19:19] ThomasGenin opened #6282 "Module 'google.longrunning.operations_pb2' has no attribute 'OperationsStub'"
Hi,
I already searched for this issue for a long long lonnnng time, and I can't find any solution.

The only topic which seemed to be close from my issue is https://github.com/googleapis/google-cloud-python/issues/5600

It seems I have all the packages up to date but I can't fix this problem.

I'm using the API Google Speech. I am working with :
MacOS X Yosemite
Python 3.6.3 :: Anaconda, Inc.
goog

[2018-10-22 06:07] mishedone commented on #6217
@tseaver can I provide more information here so we can try finding the issue?

[2018-10-22 14:58] mishedone commented on #6217
Oh... there's a new version of google-cloud-logging in pip (v1.8.0 - uploaded 4 days ago) - I've just installed it and all went well!

I will close this one since it's solved by upgrading to the latest library version.

[2018-10-22 14:58] #6217 closed

[2018-10-22 16:02] tseaver commented on #6282
You seem to have a version of `googleapis-common-protos` installed which was built without GRPC support.  Can you show the output of the following?

[code]

[2018-10-22 16:08] tseaver commented on #6217
@mishedone I'm glad upgrading solved the issue you were having.

[2018-10-22 16:18] tseaver commented on #5879
If, as @yiga2 suggests, the CF run is being terminated due to a [time limit](https://cloud.google.com/functions/quotas#time_limits), there is nothing we can do in `google-cloud-storage` to address it:  the Python process itself is being killed in that case.

[2018-10-22 16:29] rasputnik commented on #5879
Not to disregard @stephenk289 s issue, but lots of us are having issues when GCS throws 50x errors that are not related to timeouts.

Some retry semantics built-in would be really useful.

[2018-10-22 16:31] ThomasGenin commented on #6282
Hi,
Here are the responses of your commands :
[code]

[code]
Here is what I get in the google folder :
[code]

[2018-10-22 16:38] stephenk289 commented on #5879
Thanks very much for the answers / feedback @tseaver and @yiga2.

If you'll forgive me a follow-up  -

I tried to respond to the error by recreating my client object [client = storage.Client()] as this was the closest I could find to re-establishing a connection so that I could interact afresh with Google Storage with a decaying re-try logic - it didn't seem to work.  Given the advice that there i

[2018-10-22 17:00] tseaver commented on #6282
Hmm, can you get that downgraded to a non-beta release, e.g. `1.5.3`, and see if the result differs?

Can you find the location of `operations_pb2.py` inside your `site-packages`?

Given that your environment is based on Anaconda packages, I'm not sure how to do any of that.

[2018-10-22 17:41] ThomasGenin commented on #6282
I downgraded to version 1.5.3 :
[code]

Ok I checked for operations_pb2.py and I got it here : ./site-packages/google/cloud/dataproc_v1beta2/proto

Here is the code within the file :
[code]

[2018-10-22 19:11] bencaine1 commented on #5918
@tseaver, PTAL when you get a chance. Thanks!

[2018-10-22 20:35] tseaver commented on #5918
@bencaine1 is your application passing a non-default `retry` argument to `client.query`?

[2018-10-22 20:40] crwilcox opened #6284 "Empty Arrays are not reflected in ds.put"
Related to https://github.com/googleapis/google-cloud-python/pull/3767

Currently, Sending an empty array results in the field not being set.

[code]
Output:
<Entity('Test', 5707090131681280) {'children': []}>
<Entity('Test', 5707090131681280) {}>
<Entity('Test', 5682274280407040) {'children': ['A']}>
<Entity('Test', 5682274280407040) {'children': ['A']}>

[2018-10-22 20:40] #6094 closed

[2018-10-22 20:48] tseaver commented on #6284
@dhermes You added the explicit check to exclude empty lists in 58732669.  Do you recall the rationale?

[2018-10-23 00:19] tseaver commented on #6282
@ThomasGenin The `google/cloud/dataproc_v1beta2/proto/operations_pb2.py` is *not* the one we are looking fore.

There is definitely something wrong with how your `googleapis-common-protos` is being installed.  Can you show the content of the following command?

[code]

[2018-10-23 03:53] nkemnitz opened #6287 "Bigtable / Emulator: Authentication using AnonymousCredentials fails since 0.30.0"
Hi all, today I tried to upgrade to a more recent version of `google-cloud-bigtable` (RowSets, yay!), but I am suddenly running into trouble connecting to the emulator.
I have been using the emulator for our unit tests, and not having to provide real credentials makes everything a lot easier and safer / less expensive.

The last `google-cloud-bigtable` version where the following code works as int

[2018-10-23 07:06] abdelrahman-t commented on #6276
@beccasaurus @tseaver what do you think is the problem?  what can i do if there are some change done to the Speech API?

[2018-10-23 19:18] tseaver opened #6290 "Firestore: conformance tests hiding failures"
Since dd4b6465af550deb642733c3e52b9ed131141bdb (PR #4851), the `test_cross_language` testcase has been swallowing errors.

And therefore we have a bunch of bugs to fix. :(

[2018-10-23 20:17] nkemnitz opened #6292 "Bigtable: ConditionalRow not passing parameters to CheckAndMutateRowRequest"
Since `google-cloud-bigtable>=0.30.0`, the `commit()` function of `ConditionalRow` seems to be completely broken:
- values for `true_mutations`, `false_mutations` and `predicate_filter / self._filter.to_pb()` exist in `ConditionalRow`, but are not passed to `data_client.check_and_mutate_row()`
- the return value `resp` is a single `google.cloud.bigtable_v2.types.CheckAndMutateRowResponse`, which d

[2018-10-23 20:36] tseaver commented on #6290
@schmidt-sebastian:  we *do* have good test coverage, but the failures masked by this bug are cases where our tests are asserting wrong behavior.

[2018-10-23 20:41] ThomasGenin commented on #6282
Hi tseaver,
I restarted my computer with the package googleapis-common-protos 1.5.3 . It works fine now. It seemed the problem came from 1.6.0b6.
Thank you a lot.

[2018-10-23 20:54] yuvipanda commented on #5799
I'm running into this too. Setting `record.name` to `None` did not help either.

[2018-10-23 20:54] tseaver commented on #6282
@ThomasGenin I'm glad you have found a resolution.

[2018-10-23 20:54] #6282 closed

[2018-10-24 13:35] spyzzz commented on #5884
Hello,

Got the same error when i try to create a dataproc cluster on europe-west-1

Caused by: io.grpc.StatusRuntimeException: INVALID_ARGUMENT: Region '' invalid or not supported by this endpoint; permitted regions: '[global]'

I do it in Scala with CreateClusterRequest.newBuilder.setRegion('europe-west1')

Any solution?

[2018-10-24 17:55] mcdonc commented on #6290
At least some subset of the failures are related to the decision to not pass "options" to document.set, instead electing to pass a merge boolean, which was an API change I guess.  This is a problem because some set tests pass options in cases where merge is true and those options get ignored.

This is the commit that introduced the API change:

https://github.com/googleapis/google-cloud-python/pul

[2018-10-24 17:59] mcdonc commented on #6290
Here's sample failure output from the conformance tests demonstrating this (via set-17.testproto).  Note that the expected "update mask" and payload is only "a" but the  actual update mask and payload contain both "a" and "b".  This is because set-17.testproto contains a "fields: a" option that gets ignored.

[code]

[2018-10-24 18:02] tseaver commented on #6290
See some discussion of the `MergeOption` bit in #4111.

[2018-10-24 18:04] mcdonc commented on #6290
Good find.  It looks like the decision to use a merge= boolean instead of a MergeOption was cosmetic.

https://github.com/googleapis/google-cloud-python/issues/4111#issuecomment-363852883

I suspect we should just revert https://github.com/googleapis/google-cloud-python/commit/421efcd35125b9b8664a4f752752026766203147 but I'm not sure how an API change like this should be shepherded.

[2018-10-24 19:44] tseaver commented on #5884
Perhaps @aniket486 is the right PoC for Dataproc API back-end issues?

[2018-10-24 19:50] dhermes commented on #6284
@tseaver That's not where the logic was added, it just moved. ISTM that https://github.com/googleapis/google-cloud-python/commit/de03993053e2528d0c79969cf57c51751ced09cc is the correct place

[code]

As for this issue, does #6285 actually fix it? That is, does the backend distinguish between empty and unset?

[2018-10-24 20:11] mcdonc commented on #6290
It's not quite as simple as reverting the effect of that commit, unfortunately.  I think I understand now why the commit was applied.

Various methods of DocumentReference accept an "option" argument.  An option is a "write option", which is an instance of a class that inherits from a common base class.  These are supplied only on write ops like set and update.  The commit attempted to characteriz

[2018-10-24 20:54] #5560 closed

[2018-10-24 21:14] tseaver commented on #6245
Another [just now](https://source.cloud.google.com/results/invocations/c22b6870-d778-47bf-ab2d-0d7598ff6f8e/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log).

[2018-10-24 21:14] #6292 closed

[2018-10-24 23:13] WillianFuks opened #6300 "BigQuery: TypeError: b'v\xa9\' is not JSON serializable"
Os: Ubuntu 16.04
pipenv python 3.5
google-cloud-bigquery: 1.6.0

I'm basically trying to get a few rows from the public bitcoin dataset and save it in a personal destination table. Here's the code I used:

    from google.cloud import bigquery as bq
    client = bq.Client.from_service_account_json('service_account.json')

    bc_ds_ref = client.dataset('bitcoin_blockchain', 'bigquery-public-data')

[2018-10-24 23:19] crwilcox commented on #6284
The backend very much does. If unset comes on the first one the column isn't even there. We don't send it. (which is the reason for removing the check so it would add the empty instance) It is also graphically different in the portal. not set is '-' where empty array is '[]'

[2018-10-25 00:35] schmidt-sebastian commented on #6290
Please follow the APIs as outlined in the specification and as implemented by the other SDKs.

Set  - the Protobuf contains only `Write.Document`
Set  with merge:true - the Protobuf contains `Write.Document` and `Write.UpdateMask`, where the update mask contains the field paths of a leaf nodes.
Set with mergePaths - the Protobuf contains `Write.Document` and `Write.UpdateMask`, where the update ma

[2018-10-25 02:17] moshevi commented on #5573
@thakursc1 What kind of service arguments did you ad?

[2018-10-25 02:29] moshevi commented on #5573
To the body itself? not the appEngineHttpRequest as header?

[2018-10-25 08:04] spyzzz commented on #5884
@aniket486

Caused by: com.google.api.gax.rpc.InvalidArgumentException: io.grpc.StatusRuntimeException: INVALID_ARGUMENT: Region 'europe-west1' invalid or not supported by this endpoint

Why only "global" region is permitted actually?

[2018-10-25 13:39] bencaine1 opened #6301 "BigQuery: 'QueryJob.result' raises 500, even with 'retry' passed when creating the job"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.5.0

My code:
[code]

I'm getting stack traces like:
[code]

Could it be because PollingFuture doesn't take a Retry object (per [this](https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/job.py#

[2018-10-25 15:15] tseaver commented on #6301
@bencaine1 that comment indicates that the caller cannot pass in a `retry` argument to `QueryJob.result`.  The `_AsyncJob` base class inherits from `google.api_core.future.polling.PollingFuture`, which takes a `retry` constructor argument we aren't passing:  it therefore uses a retry which only handles its private `_OperationNotComplete` exception.

As a workaround, you might be able to just repla

[2018-10-25 16:33] crwilcox opened #6303 "Tasks has Client/Types API links under API Reference double listed"
https://googleapis.github.io/google-cloud-python/latest/tasks/index.html

Displayed at the bottom is the following, but shouldn't be duplicated
[code]

[2018-10-25 17:10] tseaver commented on #6303
The *text* of the links is duplicated, but they links themselves are different (`v2beta2` vs `v2beta3`).

[2018-10-25 17:18] crwilcox commented on #6303
Good point. We do need to differentiate these in the index.

[2018-10-25 19:36] mcdonc commented on #6290
For the record, and in case anyone but me works on this:

I assumed the ``set-XX.textproto`` testcases in tests/unit/testdata had been passing before the #4851 MergeOption PR was merged, but I was wrong, e.g. https://github.com/chemelnucfin/google-cloud-python/commit/6a195488e188b643696a665ee1a63acbadf75d46#diff-36c78016ffe986e8604f62334b7916a1R65

This means means that it wasn't just the MergeOpt

[2018-10-25 20:05] mcdonc opened #6307 "Firestore: implement set such that it passes conformance testing"
No master branch version of firestore has ever passed the class of conformance tests for the "set" command, which means someone (me) needs to deeply understand the Firestore spec and either make changes to the current impl to make those conformance tests pass or reimplement.

https://github.com/googleapis/google-cloud-python/issues/6290#issuecomment-433178371

[2018-10-25 20:51] mcdonc commented on #6307
We'll merge the https://github.com/mcdonc/google-cloud-python/tree/6307-implement-set-conformance branch back into Tres' 6290-firestore-refactor_conformance_tests branch represented by https://github.com/googleapis/google-cloud-python/pull/6291 once it has a positive review.

[2018-10-25 20:58] bencaine1 commented on #6301
Thanks so much for the fix! I'm still confused as to why there are two places where you could specify a retry. What does the retry in client.query() do?

[2018-10-25 22:01] tseaver commented on #6301
`client.query()` *creates* the actual server-side job (i.e., makes the `jobs.insert` API call), and then returns it.  The `retry` parameter passed there is used for that API call.

`query_job.result()` actually polls the job until it is done, and fetches the results.  For the polling, it uses the `_retry` attribute defined in `google.api_core.future.polling.PollingFuture`.  #6305 extends the set o

[2018-10-25 22:10] #6303 closed

[2018-10-26 00:53] nodkrot commented on #5907
Following up on this.

[2018-10-26 14:43] tseaver opened #6314 "Container: fix 'synth.py' to accomodate 'v1alpha1' and 'v1beta1'"
Yesterday, for some reason, the googleapis repository [added support for old versions of the Container API](https://github.com/googleapis/googleapis/commit/58863d90ee13968f4867d026c026feb6e016d08b).  Our `container/synth.py` is not ready for that to happen (see #6311).

[2018-10-26 14:59] tseaver opened #6315 "Packaging: add 'project_urls' to all 'setup.py' files"
See the [`wheel` example](https://github.com/pypa/wheel/blob/3d3708c659f7b9988f958539e7748a1a01ee6e77/setup.py#L37-L43) and the resulting sidebar links on the [`wheel` PyPI project page](https://pypi.org/project/wheel/).

Might be a job for ..... https://github.com/googleapis/github-repo-automation

[2018-10-26 16:11] dhermes opened #6317 "Remove `Property._CREATION_COUNTER` from `ndb`"
Stepping into the [original source][1], it's clear it was not used for anything:

[code]

It seems the stated goal in https://github.com/GoogleCloudPlatform/datastore-ndb-python/issues/175 (when this was introduced) was never implemented.

@tseaver @chrisrossi WDYT?

@theacodes Do we have leeway to get rid of such a feature?

[1]: https://github.com/GoogleCloudPlatform/datastore-ndb-python

[2018-10-26 16:31] chrisrossi commented on #6317
I don't think it was meant to be used in the package. It seems the intent was to provide a means to allow applications using NDB to sort properties using it. While that doesn't seem super useful to me, there's likely somebody somewhere using it who will holler if we don't port it.

[2018-10-26 16:34] dhermes commented on #6317
1. I somewhat agree with the sentiment
1. It'd be nice to find an example of such usage
1. I've already modified the name (`__creation_counter_global` -> `_CREATION_COUNTER`)
1. The names `cls.__creation_counter_global` and `self._creation_counter` are non-public, so it's kind of not "allowed" for users to depend on them

I still don't know what the right move is here, just offering up these remar

[2018-10-26 16:42] chrisrossi commented on #6317
Re: 4. Not true unfortunately.  "All special Property attributes, even those considered 'public', have names starting with an underscore. This is because StructuredProperty uses the non-underscore attribute namespace to refer to nested Property names; this is essential for specifying queries on subproperties."

https://cloud.google.com/appengine/docs/standard/python/ndb/subclassprop

[2018-10-26 16:44] dhermes commented on #6317
Oy! I **think** that is just referring to attributes of the `Property` instances, e.g. `_name`, `_indexed`, etc.

[2018-10-26 17:02] chrisrossi commented on #6317
You're probably right.  I googled for it and don't see any obvious cases of it being used on anything published publicly.  Maybe leave it out and let 'em file an issue if it breaks their stuff.

[2018-10-26 17:03] dhermes commented on #6317
I have a feeling there will be a lot of this.

Do you want to send the PR to fix this issue?

[2018-10-26 19:08] chrisrossi commented on #6317
How do you mean?

[2018-10-26 21:23] dsrivast80 opened #6321 "Quick start steps enable Datastore API instead of Cloud Spanner API"
The "Quick Start" Steps on https://googleapis.github.io/google-cloud-python/latest/spanner/index.html, Step #3, says (and links to) " Enable the Google Cloud Datastore API".

This should clearly be fixed to point to Cloud Spanner API enablement.

[2018-10-26 21:31] crwilcox commented on #6321
It seems a few of our libs have this: https://github.com/googleapis/google-cloud-python/search?q=%22Enable+the+Google+Cloud+Datastore+API.%22&unscoped_q=%22Enable+the+Google+Cloud+Datastore+API.%22

[2018-10-26 21:44] dhermes commented on #6317
@chrisrossi Sorry, I meant the stated goal of this issue, i.e. remove `Property._CREATION_COUNTER` from `ndb`

[2018-10-26 22:11] #6321 closed

[2018-10-26 22:12] #5799 closed

[2018-10-26 23:40] crwilcox commented on #6317
I think removing internal fields is acceptable. Though we should keep note of the ones we don't implement. I can't find an instance of this particular internal field being used outside of the library.

[2018-10-27 19:14] nkemnitz commented on #6287
With `git-bisect` I was able to "narrow it down" to commit https://github.com/googleapis/google-cloud-python/commit/86102c959c, so far.

[2018-10-28 02:57] chemelnucfin commented on #6290
@mcdonc Nice to meet you.

As you mentioned [here](https://github.com/googleapis/google-cloud-python/issues/6290#issuecomment-432767153), I decided to design to pass "merge=True" to try to be similar to the node implementation
[here](https://github.com/firebase/firebase-js-sdk/blob/453677f005d04e47be2324b9c1577051139652c0/packages/firestore/src/api/user_data_converter.ts#L281) and [here](https://g

[2018-10-28 18:00] linhui718611 commented on #1893
We can use Google Big Query on Google Appengine Standard environment?

[2018-10-29 06:08] chemelnucfin commented on #6290
@mcdonc @tseaver To whomever is working on this, I am fairly certain I had squashed the wrong branch because the structure [here](https://github.com/chemelnucfin/google-cloud-python/commit/ae1b3c7bed929c851180c423bac69b4c779765c8) from after passing the conformance tests at the time is different than what I had ended up with in the master branch.

My current [branch](https://github.com/chemelnucfi

[2018-10-29 11:23] andrewmfiorillo opened #6324 "Pubsub: Memory leak in Publisher Client"
# Summary
When publishing many messages, the memory usage continues growing until an OOM error.
This is similar to the reported issue [here](https://stackoverflow.com/questions/44542739/memory-leak-in-google-pubsub-python-client) and [here](https://issuetracker.google.com/u/0/issues/62606697), except the suggested fix of clearing out `batch.message_ids` was tested without solving the issue.

# Env

[2018-10-29 11:51] jgeewax commented on #1893
@linhui718611 : App Engine Standard announced a Python **3.7** runtime in August (see https://cloud.google.com/blog/products/gcp/introducing-app-engine-second-generation-runtimes-and-python-3-7). You should be able to use these libraries to talk to BigQuery from App Engine Standard when running on the Python 3.7 runtime.

If you have more questions on the functionality supported by various runtime

[2018-10-29 17:11] jianatldd commented on #5671
@zinjiggle
I have just tested tiff files from Xerox Printer/Scanner, all works Thank you.

[2018-10-29 17:12] bencaine1 commented on #6301
Thanks for the clarification! And thanks for working on the fix :)

[2018-10-29 17:22] jianatldd commented on #5671
one more issue I don't know if should belong to here. PDF processing does not include PDF field values if filled in.

[2018-10-29 17:53] tseaver commented on #6324
Trying to reproduce locally (not on GAE).  A couple of issues:

- Your `requirements.txt` contains some elements which have conflicts in dependencies.  I trimmed it to just include `Flask==1.0.2` and `google-cloud-pubsub==0.38.0`.
- Your `app.py` needs to use `pubsub.types.BatchSettings`.
- When reproducing, I needed to pre-create the topic in the console.

[code]

When running the client in a sep

[2018-10-29 18:18] tswast opened #6326 "Release 'api_core-1.6.0a2'? or 'api_core-1.5.1'?"
I'd like to use the changes from https://github.com/googleapis/google-cloud-python/pull/6310 in the library I'm working on.

Not sure about the version number for that one, since:

- I don't know what else has been released since 1.6.0a1
- I don't know what is intended by 1.6.0a1 in https://github.com/googleapis/google-cloud-python/pull/6267 (is it a pre-release?)

[2018-10-29 18:34] tseaver commented on #6326
@tswast I believe @lukesneeringer is the one who can answer your question about PR #6267 and the `api_core-1.6.0a1` release.

My take:  given that we follow the "keep `master` releasable at all times" development practice, I believe that we should move the changes from #6267 off onto a branch (or even just revert it and re-merge later) to allow for making an `api_core-1.5.1` release from master, i

[2018-10-29 18:47] tseaver opened #6327 "Group Kokoro CI presubmit jobs"
It would be great if we had only a single "Kokoro" check on each PR.

See @tmatsuo's [writeup for PHP](https://docs.google.com/document/d/1vN5-h06KPem_ppBTnu2eXmXwWqc5V_aOfuoPON_9A6I/edit?ts=5bd74fcf#).  He groups them across PHP versions, but I think we could group them across APIs.

If the repo split is imminent, then this issue becomes moot.

[2018-10-29 20:27] fimafurman opened #6330 "DLP: 'inspect_content' raisies 'urllib3.exceptions.SSLError: [Errno 24] Too many open files'"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

Google DLP

2. OS type and version

CentOS 7

3. Python version and virtual environment information: `python --version`

3.6

4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`

Google DLP 0.9

5. Stacktrace if available

[code]

Could

[2018-10-29 23:03] anguillanneuf opened #6334 "Pub/Sub: mistake in publisher client example"
It should have been `from google.cloud.pubsub_v1 import PublisherClient` in this line: https://github.com/googleapis/google-cloud-python/blob/23a3204770f68a56dba12d1a37058398773f3daf/pubsub/google/cloud/pubsub_v1/publisher/client.py#L156

[2018-10-30 14:29] tseaver commented on #6334
@anguillanneuf Is the example a mistake, or is it just a question of style?  The next line uses the module-qualified name: https://github.com/googleapis/google-cloud-python/blob/23a3204770f68a56dba12d1a37058398773f3daf/pubsub/google/cloud/pubsub_v1/publisher/client.py#L156-L157

Some folks prefer "import only modules" as a practice (I'm not one of them, but the usage doesn't bother me, either).

[2018-10-30 14:31] #6326 closed

[2018-10-30 14:58] tseaver opened #6337 "Bigtable: Instance methods should use 'Client.instance_admin_client' property"
005ddd11770f8953643dac9b64a037524da2f49e added three API-invoking methods to `Instance`:

- `get_iam_policy`
- `set_iam_policy`
- `test_iam_permissions`

The implementations of those methods use the client's `_instance_admin_client` attribute, which may not have been initialized:  instead, they should use the `instance_admin_client` property.

[2018-10-30 16:32] yuvipanda commented on #5799
@joseret I am testing this out with #6293 in production, and even with just the 'message' attribute in jsonPayload I'm not seeing JSON detection on:

[code]

The JSON is still treated as a string. Any ideas on what could be wrong?

[2018-10-30 17:27] chingor13 opened #6340 "Cloud Assets: Autosynth fails to find the generated output"
[code]

Output:
[code]

[2018-10-30 18:07] nikhilk opened #6342 "A library should not mess around with logging configuration of the app"
The line in question is this:
https://github.com/googleapis/google-cloud-python/blob/e0130f52947c6af6576bc187efb58ea890bc80bf/logging/google/cloud/logging/handlers/handlers.py#L153

The code is adding a StreamHandler to the default/root logger.
An application owns the configuration of how logs are formatted, where they are written to etc. A library that got loaded in the transitive closure of depe

[2018-10-30 18:24] cobookman opened #6344 "Firestore: add support for admin interface"
Missing RPC call of projects.databases.exportDocuments in Firestore Client library:
https://cloud.google.com/firestore/docs/reference/rest/v1beta1/projects.databases/exportDocuments

[2018-10-30 18:31] #6186 closed

[2018-10-30 18:36] #6340 closed

[2018-10-30 18:41] anguillanneuf commented on #6334
There is no `publisher_client` in google.cloud.pubsub_v1 in `google-cloud-pubsub==0.38.0`.

[code]

[2018-10-30 18:45] tseaver commented on #6342
The `setup_logging` method is a convenience wrapper for app developers who wish to have all their logging pushed to the Google Cloud Logging API.  The library does not invoke it anywhere:  it will only be run if explicitly called.  See the [Integration with the Python logging module page](https://googleapis.github.io/google-cloud-python/latest/logging/stdlib-usage.html) in the docs for how / why d

[2018-10-30 18:45] #6342 closed

[2018-10-30 18:50] tseaver commented on #6344
Thanks for the report!  As the URL you link shows, the `exportDocuments` API (and the related `importDocuments` API) are exposed through the REST endpoint for the Cloud Firestore service.  In the gRPC endpoint, the equivalent functionality is part of the [Firestore Admin interface](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.admin.v1beta1), for which we do not currently

[2018-10-30 19:05] tseaver commented on #6334
OK, the docstrings in the generated code all use this pattern:

[code]

I will fix in the hand-written docstrings for `pubsub_v1.publisher.client.Client.publish`, as well as in `pubsub_v1.subcriber.client.Client.subscribe`, which has a similar problem.

[2018-10-30 19:53] fimafurman commented on #6330
That did it, thank you! The Google Cloud Python sample code has dlp_client = dlp_v2.DlpServiceClient() within inspect_file() function. It might be useful to move it out or provide comments in that sample to instruct people to re-use the client to prevent these leaks.

https://cloud.google.com/dlp/docs/inspecting-images

[2018-10-30 20:02] tseaver commented on #6330
Thanks for linking that example:  I will try to get your report forwarded to the docs team.

[2018-10-30 20:02] #6330 closed

[2018-10-30 20:03] cobookman commented on #6344
Ah didn't realize the RPC & Rest APIs differed like that && Makes sense.

thnx

[2018-10-30 20:04] #6337 closed

[2018-10-30 20:22] tseaver commented on #5710
https://github.com/googleapis/gapic-generator/pull/2289 looks stalled / dead:  it has conflicts, and nobody is responding to a ping.

[2018-10-30 20:34] nikhilk commented on #6342
I hadn't done an in-depth analysis of everywhere logging might be showing up... but it turns out google cloud libraries do bring in grpc which does have this: https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/framework/foundation/logging_pool.py#L20

(there might be other places, but at least that's where the first handler that gets added from is coming, based on detecting all caller

[2018-10-30 20:48] tseaver commented on #5799
@yuvipanda Can you point me to the Stackdriver docs page for the JSON detection feature?

[2018-10-30 22:13] yuvipanda commented on #5799
I based it off this issue, specifically:

(and that @joseret seems to work for Google)

However, on re-reading it it looks like it is for the fluentd / stackdriver agent rather than sending it directly to StackDriver. Given that, Maybe #6293 isn't required and should be reverted? https://github.com/googleapis/google-cloud-python/blob/master/logging/google/cloud/logging/handlers/container_engine.py

[2018-10-31 13:38] #6317 closed

[2018-10-31 13:59] #6334 closed

[2018-10-31 14:14] #6301 closed

[2018-10-31 16:10] tseaver commented on #5799
@yuvipanda, @joseret Can one of you please clarify what "agent" is doing "JSON detection"?

[2018-10-31 16:17] ryanyard opened #6350 "Cloud Pub/Sub - Undelivered Messages"
An app attempts to run 10,000 x 5 second long jobs every 10 minutes. It uses Pub/Sub as both a "worker" and a "results" queue with the results being written to BigQuery. The app is using the latest Pub/Sub Python package (0.38.0) and is hosted on GKE per the following deployments.

$ kubectl get deployments

NAME      DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
feeder    1         1         1

[2018-10-31 16:45] joseret commented on #5799
I see that they are using include_logger_name=False to avoid adding the
python logger and then it should work, but not sure how the applications
turns that on.  Not clear

On Wed, Oct 31, 2018 at 9:19 AM Tres Seaver <notifications@github.com>
wrote:

--
Jose Retelny
Google Cloud - Web Application Deployment Engineer
mailto:joseret@google.com
phone:650-499-1516

[2018-10-31 18:22] tseaver commented on #5799
@joseret @yuvipanda I'm not sure how the [logging agent](https://cloud.google.com/logging/docs/agent/) is relevant to the `google-cloud-logging` library and its [integration with the standard library's `logging` module](https://googleapis.github.io/google-cloud-python/latest/logging/stdlib-usage.html).  Pretty much by definition, if the app configures a `CloudLoggingHandler` instance and installs

[2018-10-31 18:29] yuvipanda commented on #5799
@tseaver My *original* understanding when I read 'the agent' in the task description was that it referred to Stackdriver itself when it ingests data. This led to me making #6293, under the assumption that removing the logger name would make Stackdriver parse my `jsonPayload.message` into JSON as it gets them.

I now realize I am mistaken, and there isn't really a clear way to send structured JSON

[2018-10-31 18:44] joseret commented on #5799
Yes, but the issue was the the logger would write the python logger name
and that would break the logic to use the json in the message because it
wasn't the only attribute.  My customer was informed and I disconnected
from the case so I never tested the solution

On Wed, Oct 31, 2018 at 11:39 AM Tres Seaver <notifications@github.com>
wrote:

--
Jose Retelny
Google Cloud - Web Application Deploymen

[2018-10-31 18:45] joseret commented on #5799
Excellent, thanks.

On Wed, Oct 31, 2018 at 11:43 AM Yuvi Panda <notifications@github.com>
wrote:

--
Jose Retelny
Google Cloud - Web Application Deployment Engineer
mailto:joseret@google.com
phone:650-499-1516

[2018-10-31 19:38] yuvipanda opened #6354 "Logging: Can't send structured logs to stackdriver with Python Logger Module"
google-cloud-logging version: 1.8.0

I want to send structured logs to stackdriver from Python using the standard logging module. You can integrate structured logging to the Python logging module with either https://github.com/madzak/python-json-logger or http://www.structlog.org/en/stable/. Would be great to preserve those structures as part of `jsonPayload` when sent to stackdriver. Currently, t

[2018-10-31 19:39] yuvipanda commented on #5799
I opened https://github.com/googleapis/google-cloud-python/issues/6354 describing my issue more clearly.

[2018-10-31 20:54] #6073 closed

[2018-10-31 22:09] tseaver commented on #5710
W00t!  the `gapic-generator` PR is merged as of today!

@theacodes I'm assuming we should see a bunch of autosynth PRs showing up from @dpebot as soon as the artman image is updated with the fix.  Should we go ahead and close this issue, or maybe once they start showing up?

[2018-10-31 22:11] theacodes commented on #5710
Whichever you feel is most appropriate.

On Wed, Oct 31, 2018, 3:09 PM Tres Seaver <notifications@github.com> wrote:

[2018-10-31 23:47] joseret commented on #5799
OK, when I tried a couple of months ago, that did not work and you would
not get the json separated in StackDriver by name value pairs due to the
logic that thd python client library would add the python logger name.  It
could be fixed now.  I will check it out and try to repro

On Wed, Oct 31, 2018 at 3:26 PM Tres Seaver <notifications@github.com>
wrote:

--
Jose Retelny
Google Cloud - Web Applic

[2018-11-01 13:29] chrisrossi opened #6360 "NDB: Implement debug logging"
Decide what to do about calls to `ndb.utils.logging_debug`.

In original code, this function requires the user to set a loglevel at least one below `logging.DEBUG` as defined in the standard library.  Is that still what we want?

Alternatively, we could just replace with calls to `logging.getLogger().debug()`.

[2018-11-01 15:05] andrewmfiorillo commented on #6324
Hi @tseaver , I've done a bit more digging and determined the leak is because we're actually creating a new client for each request. My previous sample was

[code]

Running it locally, this is absolutely causing the memory leak.
By instead binding the pubsub client to `current_app`, only a single client is created and the memory stays stable.

Still, creating many `PublisherClient`s is leaking mem

[2018-11-01 15:13] andrewmfiorillo commented on #6324
Interesting to note, the same leak occurs when creating a `google.cloud.bigquery.Client` instance, also binding it to the `g` context for Flask.

[2018-11-01 15:46] tseaver commented on #6324
Leaking RAM by creating a client-per-request is essentially the same issue as https://github.com/googleapis/google-cloud-python/issues/5523 (there the issue shows up as leaked filehandles).  Apps which do this are going to need to clean the clients up manually, which for pubsub and other GAPIC-based API libraries is blocked on https://github.com/googleapis/gapic-generator/issues/2337 (I have a fix

[2018-11-01 15:46] #6324 closed

[2018-11-01 16:05] andrewmfiorillo commented on #6324
Awesome. Thanks!

[2018-11-01 16:42] tseaver commented on #6314
#6311 closed due to fixes in container YAML.

[2018-11-01 16:42] #6314 closed

[2018-11-01 18:32] chrisrossi opened #6363 "NDB: Use gRPC"
We'll have to sort out using new, modern gRPC instead of old RPC from app engine.  Putting a pin in that here for now.

[2018-11-01 18:32] tseaver commented on #6342
@nikhilk Thanks for following up with the grpc issue!

[2018-11-01 20:33] tseaver commented on #6350
@theacodes Any hunch on an explanation for what @ryanyard has observed?

[2018-11-01 20:47] theacodes commented on #6350
Not sure. Maybe @jadekler or @crwilcox can jump in.

[2018-11-01 21:35] tseaver opened #6366 "Bigtable: 'test_bigtable_update_cluster' snippet uses too many 'serve_nodes'"
From: https://source.cloud.google.com/results/invocations/8863d324-c79d-4d07-9964-5889b03fb361/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log

The 'test_bigtable_update_cluster' snippet asks to update the cluster to 8 serve nodes, which is too many for our quota when there might be simultaneous runs occuring.

[2018-11-01 21:45] jadekler commented on #6350
Which queue?

[2018-11-01 22:00] tseaver opened #6368 "Storage: assigning 'Bucket.retention_policy' to None fails in systests"
See the [non-flaky-looking failures today](https://source.cloud.google.com/results/invocations/18371668-bb86-4350-9d2f-56c750351b9d/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):

[code]

@frankyn Has something changed on the back-end about this case?  These tests have been passing.

[2018-11-01 22:06] #6245 closed

[2018-11-01 22:06] #6366 closed

[2018-11-02 12:46] UnsignedLong commented on #5818
Experiencing the same problem as @AlecTroemel . exists() always returns True even on non-existing zones.
An additional remark:
The implementation seems "opinionated" ( https://github.com/googleapis/google-cloud-python/blob/feed53690af6eb03408a1f67107196fc701f8a80/dns/google/cloud/dns/zone.py#L286-L289 )

[2018-11-02 13:45] bencaine1 opened #6375 "BigQuery: Flaky RefreshError: 'invalid_grant: Invalid JWT: No valid verifier found for issuer.'"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.5.0

When trying to do a query, we got the following flaky error (retrying solved the problem):
[code]

Would it be possible to add RefreshError to the list of retryable exceptions?

[2018-11-02 14:01] chrisrossi opened #6376 "NDB: Consider making `ndb.eventloop` private."
As near as I can tell, `ndb.eventloop`, in the current legacy usage, is already a *de facto* private module—I can't find any code outside of the `ndb` package calling it directly, and nothing in [the documentation](https://cloud.google.com/appengine/docs/standard/python/ndb/async) leads me to think it was ever part of the published API for `ndb`.

So, my suggestion is to, effectively, make explici

[2018-11-02 15:03] antoine-castex opened #6377 "Cloud ressource manager folder"
hello

i need to have the name of a google cloud folder with this method

https://cloud.google.com/resource-manager/reference/rest/v2/folders/get

impossible to find them in the python client library :(

[2018-11-02 15:50] wxjeacen commented on #5824
Same Problem

[2018-11-02 16:04] ryanyard commented on #6350
Pub/Sub, do you mean which topic/subscription?

[2018-11-02 16:35] mcdonc commented on #6307
We decided to blacklist the tests that are related to ArrayRemove, ArrayUnion and Delete transforms.  We will reenable once we have a plan for implementing those features.

After the blacklisting, the branch currently has 6 failures.  These fall into three classes:

1) update-st-nested.textproto, update-st-multi.textproto

pbs_for_update doesn't populate update_mask properly when a ServerTimestamp

[2018-11-02 17:17] chrisrossi commented on #6363
If there's some issue housekeeping I need to do for this, let me know.

[2018-11-02 17:39] ryanyard commented on #6350
Here is the setup:

$ python --version
Python 3.6.5
$ pip freeze
cachetools==2.1.0
certifi==2018.10.15
-e git+https://source.developers.google.com/p/cyberfortress-sandbox/r/cf_statusagent@4a05d0abf048e4b1c79c8c767cd5d76382833c6c#egg=cf_statusagent
chardet==3.0.4
cloudpickle==0.6.1
dask==0.19.4
google-api-core==1.5.0
google-auth==1.5.1
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.6.0
google

[2018-11-02 17:42] jadekler commented on #6350
Topic, yep. (I using your verbiage, sorry if there was confusion)

Are you acking your messages? (cc @theacodes) Not sure acks look like in Python, but I don't see any ack being called in that code. Also, undelivered messages are not usually related to duplicates. Usually an increasing undelivered count means that you're either not acking/nacking messages, or that your ingestion is greater than yo

[2018-11-02 19:37] costrouc opened #6380 "google-cloud-firestore tests not included with pypi release"
Most of the releases of `google-cloud-*` include the tests with the `pypi` relases. For some reason they were not included for this package. These tests are needed to verify the installation of python packages in [nixpkgs](https://github.com/nixos/nixpkgs).

[2018-11-02 19:41] tseaver commented on #6377
@antoine-castex You are correct that we do not support the V2 `folders.get` feature:  in fact, we do not support the V2 API at all, nor even V1 (see #6039).

[2018-11-02 19:44] tseaver commented on #6375
@bencaine1 I think retry of a credentials request should be handled by the `google-auth` library.  Please file the issue against [its tracker](https://github.com/googleapis/google-auth-library-python/issues).