[2018-02-09 19:01] VikramTiwari opened #4864 "BigQuery: Error 413 (Request Entity Too Large)!!1"
Python 3
google-cloud-bigquery==0.29.0

To reproduce:
Function:
[code]
Query: 'SELECT * FROM `project.dataset.table_with_lots_of_columns` LIMIT 1000'
Result: Error 413 (Request Entity Too Large)!!1
More data from log: Seems like it queries the table first to get all the possible columns in the table and then makes an API call to the actual table with every column possible in the query's select sta

[2018-02-09 23:34] scottingly commented on #4826
we're using `multiprocessing.pool.ThreadPool`, so these are threads, not separate procs.  we break up a work list via `ThreadPool.map()`, each one makes a pubsub subscription, then forks a subprocess which spawns a GCE node, which does its assigned work and sends back messages via the topic.  after spawning the worker nodes, the pool threads each sit in a loop checking if their worker finished (se

[2018-02-09 23:42] jonparrott commented on #4826
Thanks for the details, @scottingly. It would be super awesome if you're able to give us an example program that can reproduce this, but it's not required.

For transparency, we're working on burning down critical issues before GA. Since this has some workaround or recovery path we're going to prioritize it below others, but we do plan to get to this soon.

[2018-02-10 01:39] kprovance opened #4866 "Python issue"
Good evening,

A few days ago, our VM instance began maxing out at 100%, even though our site has decent speed.  I was able to find this in the serial port console log (just the last bit where the trouble seems to be):

[code]

We are running an Ubuntu 14.04.5 box.  I'm not altogether sure what this means or why it began happening.  Is there a solution, or any suggests one could offer?  We'd like

[2018-02-10 15:19] fgervais opened #4867 "firestore, bigquery, Others? ('_RSAPrivateKey' object has no attribute 'sign')"
It looks like the new version of google-auth released 2 days ago is causing an issue with at least firestore and bigquery which is the ones I've tested.

Here's the stack trace for firestore:

    for index, response_pb in enumerate(response_iterator):
  File "/home/fgervais/tensorflow_21_nov_2017/lib/python3.5/site-packages/grpc/_channel.py", line 347, in __next__
    return self._next()
  File "

[2018-02-10 16:33] jonparrott commented on #4867
It's because the new release of google-auth tries to use the cryptography
library if it's available. I'll investigate this soon. Can you tell me
which version of cryptography you have?

On Sat, Feb 10, 2018, 7:19 AM Francois Gervais <notifications@github.com>
wrote:

[2018-02-10 16:45] fgervais commented on #4867
cryptography==1.2.3

[2018-02-10 16:53] jonparrott commented on #4867
That's pretty old. Can you try a version > 2.0? It seems we need to add an
additional check and not use old versions of cryptography.

On Sat, Feb 10, 2018, 8:45 AM Francois Gervais <notifications@github.com>
wrote:

[2018-02-11 01:55] fgervais commented on #4867
Good call. I did a pip upgrade which installed cryptography version 2.1.4.

With that version google-auth 1.4.0 works fine.

[2018-02-11 22:26] kudhru opened #4868 "Multiple clients receiving all the messages for the same subscription_path"
Hi

I am trying to run GCP PubSub emulator on my local machine. If I want multiple clients to receive all the messages for the same topic_path (subscription_path), is there any way to do so? Currently, if multiple clients subscribe to same topic_path, the messages get delivered only to one of the clients. Sending messsages only to one of the clients seems to be in line with the [documentation](htt

[2018-02-12 01:26] hack-r commented on #3321
@aazimh So what exactly did you did to get it to work? I'm having the same issue

[2018-02-12 06:18] jaitaiwan opened #4869 "[Core] Authentication broken when using GOOGLE_APPLICATION_CREDENTIALS"
When attempting to authenticate using a application credential file from a service account `auth.json` the authentication process will fail to detect the project specified in the credentials file under the key `project_id` when specifying the credentials file location using an environment variable.

**System:** Ubuntu 17.10 Python 3.6 google-cloud-storage==1.7.0

### Example:
[code]
### Working:
[

[2018-02-12 06:55] chemelnucfin commented on #4866
I believe that you might be looking for [cloud-init](https://github.com/cloud-init/cloud-init).

Please do let us know if we can be of more help.

[2018-02-12 06:57] kprovance commented on #4866
Turns out the google computer engine software needed updating, which fixed it.  Thanks for replying.  :)

[2018-02-12 06:57] #4866 closed

[2018-02-12 15:29] Spriithy commented on #4868
Did you create a subscription for each of the clients ?

[2018-02-12 15:38] kudhru commented on #4868
Since all of my clients try to subscribe for the same topic (subscription path ), the subscription gets created only when the first time a client calls the below line of code
`subscriber.create_subscription(subscription_path, topic_path)`

For rest of the clients, the above line fails which I catch in try-except block.

After this, the client calls the below line of code:
`subscription = subscribe

[2018-02-12 16:10] jonparrott commented on #4868
@kudhru that's how it works: if your processes all share the same subscription, then the messages will be distributed among them. If each of your processes has their own subscription, they will receive a copy of each message. See https://cloud.google.com/pubsub/architecture#the_basics_of_a_publishsubscribe_service

(Closing for now)

[2018-02-12 16:10] #4868 closed

[2018-02-12 16:15] tswast commented on #4864
When you fetch the job resource that was created for this query, what is the destination table? Is it `project.dataset.table_with_lots_of_columns`?

Note: you can do the equivalent of

[code]

by using `client.list_rows(max_results=1000)`. Using `list_rows` for this operation will cost you much less money as well, since a `LIMIT` query still has to scan all the rows in the whole table.

[2018-02-12 16:23] kudhru commented on #4868
Oh!
Now, I understand. Basically, Google PubSub has an extra layer of 'subscription' between 'topic' and 'subscribers'. So, multiple subscribers can still get the messages of the same topic but via different subscriptions. Makes sense!

thanks a lot @jonparrott @Spriithy

[2018-02-12 16:26] jonparrott commented on #4868
Happy to help (this was a bit surprising to me at first, too). :)

[2018-02-12 16:33] StevenRemington opened #4871 "Problem Initiating Cellprofiler headless"
I am trying to run cellprofiler 3.0 headless from a java program using the command

“C:/Program Files (x86)/CellProfiler/CellProfiler.exe” -c -r -i C:/Users/Steven/Desktop/Batch/BuyoutTemp/ -o C:/Users/Steven/Desktop/Research/output -p C:/Users/Steven/Desktop/Research/Pipelines/Configuration/Config.cppipe

contained in a batch file on windows 10 Home 64-bit

when ran from standard command line, th

[2018-02-12 16:35] #4871 closed

[2018-02-12 16:36] jonparrott commented on #4869
Hi @jaitaiwan, this is pretty weird. :) Can you tell me the output of this *with* and *without* the environment variable set:

[code]

[2018-02-12 16:42] chemelnucfin commented on #4869
@jonparrott I wasn't able to reproduce it last night, but wasn't sure maybe if I was missing something.

[2018-02-12 18:45] chemelnucfin commented on #4325
@lukesneeringer what's a `p99` value?

[2018-02-12 18:46] chemelnucfin commented on #4325
oh, nvm, I see it.

[2018-02-12 18:51] jonparrott commented on #4867
Closed by https://github.com/GoogleCloudPlatform/google-auth-library-python/pull/243

[2018-02-12 18:51] #4867 closed

[2018-02-12 19:12] #4710 closed

[2018-02-12 19:14] chemelnucfin commented on #4649
Please let us know if there are still problems.  Thanks!

[2018-02-12 19:14] #4649 closed

[2018-02-12 19:24] rahul6612 commented on #3884
ma ka bhosara koi batayega dhang se sab kar liya phir v error aa rha

[2018-02-13 01:14] frankyn commented on #4682
@ep-tpat, could try removing all IAM roles from the  bucket policy again? The should fix should be available now.

[2018-02-13 02:42] srini100 commented on #4736
Folks, [gRPC issue 13327](https://github.com/grpc/grpc/issues/13327) was recently fixed and verified to address some known segfault cases involving multithreading. This fix in gRPC is related to a bug in internal refcount logic and NOT related to fork(). If anyone on on this thread is able to reproduce this issue, it is worth retrying with gRPC release 1.91. I am curious to know if there is a way

[2018-02-13 05:38] chemelnucfin commented on #4608
[x] #4872 Rejects the message.
[ ] #4870 WIP will intend to send the message off immediately.

[2018-02-13 05:39] jaitaiwan commented on #4869
Thanks folks, I can't seem to replicate it locally either, only inside a gitlab runner. So I'll open a ticket there.

[2018-02-13 05:40] jonparrott commented on #4869
Cool, feel free to cc me in over there, I might be able to help debug.

[2018-02-13 05:40] #4869 closed

[2018-02-13 05:49] #4246 closed

[2018-02-13 05:51] jonparrott commented on #4608
Since #4872 is merged, this is no longer release blocking.

[2018-02-13 13:29] ep-tpat commented on #4682
It works perfectly...thanks @frankyn!

[2018-02-13 14:00] Djabx opened #4876 "Datastore: TypeError: request() takes at least 2 arguments (3 given)"
Hi,

I've got an application on GAE (standard) that use a DAO of mine witch purpose is to also work on Kubernetes.

[code]

But when I save something, I've got:
[code]

My `lib` folder is like this:

[code]

What did I do wrong ?

[2018-02-13 15:34] chemelnucfin commented on #4682
Great to know.  Please let us know if there are any more problems.

[2018-02-13 15:34] #4682 closed

[2018-02-13 17:26] tseaver commented on #4876
It looks like the `http` attribute of the client is not the default type:  can you get a breakpoint set at the point of the error and check the following?

[code]

[2018-02-13 18:33] jonparrott commented on #4792
Okay, I've done some digging and have found that with both `max_bytes` and `max_messages` our subscriber can burst significantly over that threshold, with load spiking to over 4x or 5x:

![screen shot 2018-02-13 at 9 55 43 am](https://user-images.githubusercontent.com/250995/36165488-8bc2360a-10a4-11e8-838f-a658f43c7652.png)

(This is an extreme example as I set the max_bytes to 5k)

This is becau

[2018-02-14 01:36] kir-titievsky commented on #4792
@jonparrott Thanks for the analysis. It's clear we can't reproduce this without additional input form @gylu . Maybe logs & perhaps the specific docker image?

Generally, something seems off here, but I have no rational basis for : if you close the stream every time you get to the threshold, for a flow control setting that wants say 10 messages, you will create an discard the connection for every f

[2018-02-14 06:31] srish commented on #3884
@rahul6612 Mind your language, please? Contributors and users of these libraries are not sitting idle and are not here just to support you! Just because people who speak and write different languages are here on this thread does not mean that you can use abusive and foul language and just get away with it? Please don't use such language next time. And, have patience in seeking a response on public

[2018-02-14 07:40] Djabx commented on #4876
Dumb question: how do you debug a gae application ?

[2018-02-14 13:13] Sanjay-B commented on #3884
Keep this on topic. Meant as a solution for others having this problem. Be mindful.

[2018-02-14 16:20] jonparrott commented on #4841
@kir-titievsky are these metrics supposed to match up in the streaming pull case?

@krelst I would imagine your "undelivered" count in stackdriver would be fairly high and you would see a large number of duplicates in your workers.

[2018-02-14 16:26] jonparrott commented on #4792
They sent over some more information via email and I have a reproducible case. I'll forward it over.

The twist is that opening the streaming and getting *one* response from the server could contain many messages. It's entirely possible that with a low threshold that will put the subscriber well over intended load. From my observations, this is *unrelated* to what @gylu is seeing. If anything, per

[2018-02-14 18:13] jonparrott commented on #4876
i there, unfortunately the cloud client libraries are not yet supported on App Engine standard. We're working on it and you can follow progress at GoogleCloudPlatform/google-cloud-python#1893.

For GAE standard and datastore, I recommend you use the built-in `ndb` library.

If you want to continue debugging on this, I'm happy to help.

[2018-02-14 18:13] #4876 closed

[2018-02-14 19:19] tswast commented on #4793
There are three actions left over from #4833:

- [ ] import the classes that hold constants into the [bigquery module](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/__init__.py)
- [ ] use the constant classes (via the `bigquery` module) in the [documentation snippets](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs

[2018-02-14 23:27] kir-titievsky commented on #4792
@jonparrott On the "no control over number of messages you get at a time": make sense. Overall, makes me wonder if we get a much more predictable performance if we switch to pull for cases where streams are not surviving longer than some threshold of say five seconds.  This allows you to control the number of messages you get precisely.

[2018-02-15 04:07] scottingly commented on #4826
ok sure, but are you still "awaiting information?" I may be able to make a test case, but that's a lot of code to strip down, probably be a while.

our "workaround" is to just repeat it again with a different node which completes processing, which isn't really a workaround per se, we just have to start the whole thing over.  you're right that it's not a showstopper for us at this time because we c

[2018-02-15 04:11] jonparrott commented on #4826
If you do have the time, it'll be immensely helpful for us. It might also be useful to try to reproduce this on grpc 1.9.1.

[2018-02-15 04:16] scottingly commented on #4826
one more piece of information to add which may or may not be relevant: we just got the following traceback in exact same location in pubsub library:

this is a different error, but seems like retrying at this point should not be done in the user code but the library should handle it (but, I don't know).  however if it's really us that should be doing all this retry handling on endpoint codes that

[2018-02-15 04:29] sparimi1 commented on #3884
Hello Geeks,

I am also receiving the same error:
C:\Users\Administrator\AppData\Local\Programs\Python\Python36-32\Scripts>pip ins
tall robotframework-sudslibrary
Collecting robotframework-sudslibrary
  Using cached robotframework-sudslibrary-0.8.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>

[2018-02-15 06:06] chemelnucfin commented on #3884
@sparimi1
Hello, you are probably looking for this library [robotframework-sudslibrary](https://github.com/ombre42/robotframework-sudslibrary)

[2018-02-15 11:34] abhibeta opened #4885 "google.gax.errors.GaxError"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-02-15 14:27] chemelnucfin commented on #4885
Hello, you did not mention the version number of speech that you are using.  However, we are trying to get rid of the gax library and you may be able to fix this error using the latest version.

Please try upgrading by using `pip install -- upgrade`.  Please let us know if you encounter any more questions.

[2018-02-15 14:58] TonyRoussel commented on #4841
Similar to @krelst, but the amount of streaming pull operations is 50 times the amount of streaming ack operations.
We're running `google-cloud-pubsub==0.30.1` and `grpcio==1.9.1` with python 3.6.3, `FlowControl.max_messages` at 1
Once the topic start to "grow large" (more than 0.5M undelivered) we're seeing around 25% of duplicates in our workers (using `Message.message_id`), and the "undelivered

[2018-02-15 15:59] kir-titievsky commented on #4841
This may be related to a server-side issue under active investigation. The
reason you might be seeing slower ack rates is that you are spending more
time processing duplicates.  Could you offer any more detail on how
different you ack & pull rates are?

On Thu, Feb 15, 2018 at 6:58 AM TonyRoussel <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://

[2018-02-15 16:51] TonyRoussel commented on #4841
I'm not sure about what you need, so here is a graph similar to the one provided @krelst
![screenshot](https://user-images.githubusercontent.com/6391103/36268861-eef8bcf6-1277-11e8-8ed9-66d83ba82cb4.png)

and from our logs, how many time our callback got trigger, and how many `message.ack()` we called (the time window is restrained to the period where we tried pubsub 0.30.1 (we had to rollback))
[

[2018-02-15 22:11] bugeats opened #4886 "Using a static json file for GOOGLE_APPLICATION_CREDENTIALS is insecure"
Forcing the client to reference a physical, static JSON file for secrets is insecure. It forces those secrets to be included in every bundle and on every app server. It temps developers to keep the secrets in version control. All around bad practice.

Instead, this project should be able to use an individual environment variable for each key found in the JSON file. Those environment variables can

[2018-02-15 22:24] jonparrott commented on #4886
This just isn't correct. Environment variables are less secure than files. See [here](https://diogomonica.com/2017/03/27/why-you-shouldnt-use-env-variables-for-secret-data/).

It does not. It instead allows you to specify secrets using whichever secrets management system you have. Almost all of them support or even prefer exposing secrets in the filesystem, see Kubernetes secrets for example.

[2018-02-15 22:24] #4886 closed

[2018-02-15 22:27] jonparrott commented on #4792
@kir-titievsky that sounds like adding a lot of complexity to an already very complex library.

[2018-02-15 22:33] kir-titievsky commented on #4792
True. Let's not do that.

On Thu, Feb 15, 2018 at 5:27 PM Jon Wayne Parrott <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-02-15 22:38] jonparrott commented on #4792
@gylu do you mind trying out the version of pubsub on the [pubsub-request-load branch](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/pubsub-request-load)? This version adds backpressure when there are too many outstanding requests on the stream, which from my measurements helps with memory issues. I am not yet convinced that it eliminates them, but it's a start.

You can install

[2018-02-15 22:41] jonparrott commented on #4841
I believe the change proposed at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4792#issuecomment-366085662 might completely solve this issue.

Do you mind trying out the version of pubsub on the [pubsub-request-load branch](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/pubsub-request-load)? This version adds backpressure when there are too many outstanding req

[2018-02-16 06:41] jonparrott commented on #4792
Thanks @gylu! I appreciate your patience and your assistance with getting this all figured out.

[2018-02-16 07:25] TonyRoussel commented on #4841
Ok I'll give it a try soon

On Feb 15, 2018 23:41, "Jon Wayne Parrott" <notifications@github.com> wrote:

I believe the change proposed at #4792 (comment)
<https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4792#issuecomment-366085662>
might completely solve this issue.

Do you mind trying out the version of pubsub on the pubsub-request-load
branch
<https://github.com/GoogleCloudPla

[2018-02-16 09:09] Tadly commented on #3583
Parden my intrusion but I'm kind of stuck on this.

As far as I can tell, `streaming_recognize` straight up blocks if the backend can't resolve a anything from the given stream (e.g. mic is muted, no one is speaking etc.).

As I'm trying to get this implemented in an `asyncio` environment this is kind of bad.
Even if I'd add threading (which I'd like to prevent) I'd still have the issue of it bloc

[2018-02-16 15:21] dmasin commented on #3067
Is that correct that the following is not expected to work by design or is it just a bug which will be fixed at some point:

(I understand that I could work around with service accounts if really necessary)

[2018-02-16 15:32] abhibeta commented on #4885
I am using 0.3 version for speech .
I ran upgrade , but still same error

Waiting for operation to complete...Traceback (most recent call last): File
"transcribe_async.py", line 100, in <module> transcribe_gcs(args.path) File
"transcribe_async.py", line 81, in transcribe_gcs response =
operation.result(timeout=90) #90 File
"/usr/local/lib/python2.7/dist-packages/google/gax/__init__.py", line 596,

[2018-02-16 15:57] abhibeta commented on #4885
Even if I use sample file i get same error

python transcribe_async.py resources/audio.rawWaiting for operation to
complete...Traceback (most recent call last): File "transcribe_async.py",
line 102, in <module> transcribe_file(args.path) File
"transcribe_async.py", line 52, in transcribe_file response =
operation.result(timeout=90) File
"/usr/local/lib/python2.7/dist-packages/google/gax/__init__.p

[2018-02-16 16:49] jonparrott commented on #4885
@abhibeta we've completely removed gax from the latest version of the speech client, so it's very unusual that you're still getting that error with an update version. Can you give us the output of `pip freeze`?

[2018-02-16 16:53] abhibeta commented on #4885
apic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3google==2.0.1google-api-core==0.1.4
google-api-python-client==1.6.5google-auth==1.4.1google-cloud==0.32.0
google-cloud-bigquery==0.28.0google-cloud-bigquery-datatransfer==0.1.0
google-cloud-bigtable==0.28.1google-cloud-container==0.1.0
google-cloud-core==0.28.0google-cloud-datastore==1.4.0
google-cloud-dns==0.28

[2018-02-16 16:54] jonparrott commented on #4885
I see. Can you run `pip install --upgrade google-cloud-speech` and try again?

@lukesneeringer more fuel for that "remove the umbrella package" fire.

[2018-02-16 16:56] tswast commented on #3067
@dmasin That's correct.

Using

[code]

is not expected to work, as that is using the credentials from the Cloud SDK. Instead it is recommended that you either use a [service account credentials](https://cloud.google.com/docs/authentication/getting-started) or [user authentication with client secrets](https://cloud.google.com/bigquery/docs/authentication/end-user-installed) from a project you have

[2018-02-16 17:01] TonyRoussel commented on #4841
I could have only 1 hour of load, but it looks better. I got around 7% of duplicates and the largest split between ack operations and pull operations is 14.5x
![screenshot](https://user-images.githubusercontent.com/6391103/36319340-ea60e7a6-1342-11e8-86c1-92132e7b004a.png)

and from our logs, how many time our callback got trigger, and how many `message.ack()` we called
[code]

[2018-02-16 17:01] abhibeta commented on #4885
Got upgraded to 0.32 version from 0.30.

but getting different error from same line

python transcribe_async.py gs://
staging.deeplearning-193422.appspot.com/test1.mp3Waiting for operation to
complete...Traceback (most recent call last): File "transcribe_async.py",
line 100, in <module> transcribe_gcs(args.path) File "transcribe_async.py",
line 81, in transcribe_gcs response = operation.result(tim

[2018-02-16 17:26] abhibeta commented on #4885
Is sample code working for you
running  python transcribe_async.py resources/audio.raw from gcloud.

On Fri, Feb 16, 2018 at 9:01 PM, Abhishek Jain <geek.abhishek@gmail.com>
wrote:

[2018-02-16 17:29] jonparrott commented on #4885
@chemelnucfin can you investigate?

[2018-02-16 17:33] tseaver commented on #3583
@Tadly Can you please open a new issue?  This one is a) long-closed, and b) only tangentially related to the problem you are experiencing.

[2018-02-16 17:50] theacodes opened #4890 "Move iam protos into google-apis-common-protos"
Presently `spanner` and `pubsub` depend on `grpc-google-iam-v1` because they need the messages defined [here](https://github.com/googleapis/googleapis/blob/master/google/iam/admin/v1/iam.proto).

These protos need to be moved into googleapis-common-protos.

After they've in googleapis-common-protos, we should write/generate a gapic client for [iam admin](https://github.com/googleapis/googleapis/bl

[2018-02-16 17:50] Tadly opened #4891 "streaming_recognize result blocking"
As of @tseaver request, here's a new issue.

I've already opened a [issue](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/1364) in the python-docs-samples repository only later realizing this here would be a better place later.

To summarize the other issue:
`grpc._channel._Rendezvous` (the result of `SpeechClient.streaming_recognize`) is blocking if nothing can be transcribed (

[2018-02-16 18:00] jonparrott commented on #4891
The problem with your proposal is that it causes us to unnecessarily eat up CPU time.

At this time, "playing nice with asyncio" isn't an explicit goal of this library- mostly because we have a large number of users to support on Python 2.7. We're happy to revisit that int he future.

[2018-02-16 18:02] jonparrott commented on #4841
Great, that seems much better. I'm going to get this merge ready.

There is another step we can take to improve this, but I think this will largely solve this particular issue.

[2018-02-16 18:06] Tadly commented on #4891
I see.
I also assume there aren't any easy (not supported) ways to work around this for the time being?

[2018-02-16 18:11] TonyRoussel commented on #4841
Unfortunately, right after the topic stop receiving messages (send_message_operation_count), the split return to 100x
![screenshot-2018-2-16 matching-compromise-scoring prod stream stats - dashboard](https://user-images.githubusercontent.com/6391103/36322307-19ca2b24-134d-11e8-8a86-a9ff4ca955f4.png)
Duplication look stable at 7%

[2018-02-16 18:21] jonparrott commented on #4841
@TonyRoussel that seems weird. Your workers are still receiving messsages even though you're not publishing anything?

[2018-02-16 18:25] TonyRoussel commented on #4841
No there's still undelivered messages in the subscription
It's just there is no new messages
Maybe it's just an odd coincidence, but I don't see any other metrics that match the sudden increase in the ack/pull split :/

[2018-02-16 18:26] jonparrott commented on #4841
@kir-titievsky any ideas?

[2018-02-16 19:10] jonparrott commented on #4891
I'm not well-versed enough to really say. I would suspect that using asyncio's functionality to trigger callbacks in other threads and running this in another thread would be the right way to work around.

I'm going to close this for now, but I'm happy to keep discussing.

[2018-02-16 19:10] #4891 closed

[2018-02-16 19:16] chemelnucfin commented on #4885
@abhibeta I am running on python2.7 and I'm able to run on the local file
`python transcribe_async.py resources/audio.raw`

I will try gs in a moment.  However, it seems inconsistent with what you are seeing.  I'm wondering if it's some package collision.

[2018-02-16 19:19] jonparrott opened #4893 "Pub/Sub subscriber should batch requests"
Presently, the pub/sub subscriber only batches modacks, other actions are sent in the stream as single requests. This can lead to the request backlog growing (though this is less concerning with #4892).

Other clients (Go, for instance) actually batch the other actions. We should attempt to do so as well.

We have two options that I can see right now:

1. Make `QueueCallbackThread` use a variant o

[2018-02-16 19:24] Tadly commented on #4891
I have actually already started to put the `streaming_recognize` part into a separate thread while having the async eventloop kind of monitor it.
By that I mean:
 * No `is_final` within _n_ seconds -> cancel
 * No result at all for the first _n_ seconds -> cancel
 * Actually a `is_final` result -> :tada:

However...
Occasionally the second thread segfaults the whole program after I `_Rendezvous.ca

[2018-02-16 19:29] jonparrott commented on #4891
Summoning the grpc folks @nathanielmanistaatgoogle @kpayson64 @mehrdada

[2018-02-16 19:29] #4792 closed

[2018-02-16 19:33] chemelnucfin commented on #4885
@abhibeta I do see the error in gs.  Looking into it.

[2018-02-16 19:51] chemelnucfin commented on #4885
@abhibeta I think it might have to do with the encoding of the file.  Using audio.raw on gs, the encoding was set to enums.RecognitionConfig.AudioEncoding.FLAC, but the local file used LINEAR16.  When I changed the code to the following, it worked on gs.

[code]

[2018-02-16 19:51] abhibeta commented on #4885
Thanks  @chemelnucfin
Seems some where some code got edited , I copied and replaced
transcribe_async.py

I am getting output for both local and gs in python 2.7 and 3.5 for sample
files
I* will try my files now and update you *

python 2.7

python transcribe_async.py gs://cloud-samples-tests/speech/vr.flacWaiting
for operation to complete...Transcript: it's okay so what am I doing here
why am I he

[2018-02-16 20:01] abhibeta commented on #4885
Thanks.

Recommend 2 edits

1. in requirement.txt change google-cloud-speech==0.30.0 to 0.32.0
2. Is there any way to handle encoding error better  , error thrown was
quite generic.

Now I am going go try with my own file

On Fri, Feb 16, 2018 at 11:51 PM, chemelnucfin <notifications@github.com>
wrote:

[2018-02-16 21:13] JonathanSFalk opened #4894 "Problems installing"
Installing SDK I get the following response:
I checked, and C:\Users\jonat\AppData\Local\Google\Cloud SDK\google-cloud-sdk\platform\bundledpython
does indeed lead to a python 2.7 that runs fine.

Output folder: C:\Users\jonat\AppData\Local\Google\Cloud SDK
Downloading Google Cloud SDK core.
Extracting Google Cloud SDK core.
Create Google Cloud SDK bat file: C:\Users\jonat\AppData\Local\Google\Clou

[2018-02-16 22:01] vkoppaka commented on #4812
I upgraded to 0.30.1 and still see this issue. Herei s what I see in our logs, when we try to do a Pull -

"
21:59:53 worker.1 \| TransportError: HTTPSConnectionPool(host='accounts.google.com', port=443): Max retries exceeded with url: /o/oauth2/token (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f5dcf9ecb10>: Failed to establish a new connection: [Errno -

[2018-02-16 22:20] jonparrott commented on #4812
Looks like your machine can't resolve `google.com`/`accounts.google.com`. Can you verify network connectivity?

[2018-02-16 22:30] vkoppaka commented on #4812
This error occurs in a Pod on Kubernetes engine, not on my local machine.

[2018-02-16 22:34] chemelnucfin commented on #4894
Hello, I believe that this is the wrong location to ask about the Google Cloud SDK.
You can try to look for support here in the left menu.
[Google SDK](https://cloud.google.com/sdk/docs/resources).

[2018-02-16 22:34] #4894 closed

[2018-02-17 00:07] jonparrott opened #4896 "Consider a heartbeat/monitor helper for subscriber"
It would extremely useful for users and for maintainers if pubsub had a sort of "heartbeat"/"monitor" helper. For example:

[code]

Every 5 minutes, the monitor would wake up and output the following to stderr:

[code]

[2018-02-17 00:07] jonparrott commented on #4896
/cc @lukesneeringer

[2018-02-17 18:23] dmasin commented on #3067
thanks for the confirmation @tswast.
I've tried the service account route and it work fine.

If we have 100 analysts querying bigquery (and spreadsheets) locally, is my understanding correct that we would need to share every of those spreadsheets with all analysts because you can't create groups of service accounts? This doesn't sound very scalable and is not usable in practice. I'm probably just

[2018-02-17 19:03] tswast commented on #3067
@dmasin I am able to add a service account to a Google Group on https://groups.google.com, but I wasn't able to on my GSuite account due to administrator restrictions.

Options:
- You could create an invite-only group and direct-add the service accounts.
- Use  [user authentication with client secrets](https://cloud.google.com/bigquery/docs/authentication/end-user-installed) from a project you hav

[2018-02-18 00:45] MathBern commented on #2990
I fixed the problem by commenting the line: `orig_path.sort(key=position_in_sys_path)` [I think is line number 2066] both in "/usr/lib/python3/dist-packages/pkg_resources/__init__.py" and "/home/math/.local/lib/python3.5/site-packages/pip/_vendor/__init.py__".

This problem has begun when I updated pip using "sudo pip --upgrade python-pip". I'm on Ubuntu 16.04 LTS.

[2018-02-18 11:33] Tadly commented on #4891
Alright...
2 days later and I kind of found the reason for the segfault.

It's because my microphone stream implementation (using python-sounddevice instead of pyaudio) didn't use an internal buffer.
`streaming_recognize` than manages to fuck up somewhere (which I didn't investigate further).

For now the threaded implementation (ugly as it is) does seem to work.

[2018-02-18 13:29] david-gang opened #4897 "Cloud storage - How to emulate it locally?"
I wanted to know what your recommended way is to emulate google cloud storage locally, if at all.
In stackoverflow there is a question regarding this: https://stackoverflow.com/questions/37542530/is-there-google-cloud-storage-emulator
There are two answers:
* Use the in memory emulator - This is just available with the java library
* Use minio - I am not sure how to specify google cloud to use min

[2018-02-19 01:45] chemelnucfin commented on #4775
@thejens I'm going to go ahead and close this issue.  If you come across any more issues, please let us know.

I believe that the problem will be fixed for newer versions and possibly a `pip install --upgrade` would fix the problem.

@tswast if you think otherwise, please let me know Tuesday.  I wrote a `except RuntimeError` with warning, but I think it just unnecessarily complicates things.

[2018-02-19 01:45] #4775 closed

[2018-02-19 01:49] tswast commented on #4775
My initial response would have been to move the imports into the `to_dataframe()` questions, but after discussing with @alixhami and @jonparrott, I also believe catching these errors is unnecessary.

The solution for this problem is for the user to either fix or remove their Pandas installation.

[2018-02-19 01:59] chemelnucfin commented on #4775
We could have a new file for pandas only functions, but it wouldn't solve this problem.  Just a suggestion if there might be other uses for it.

[2018-02-19 22:24] pumpikano opened #4900 "BigQuery: Table.full_table_id docstring incorrect"
It appears to me that the id string format returned by `Table.full_table_id` is actually of the form `project_id:dataset_id.table_id`, contrary to the purported format in the [docstring](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/bae0f754f65afeff8e25b3e2aac86ef671f8ed18/bigquery/google/cloud/bigquery/table.py#L453).

[2018-02-20 13:24] dojeda commented on #2694
Hello,
I guess that there has been no update on this issue, since it has been closed and I could not find any other reference to this problem in another issue or PR.
I just wanted to leave a code example that I will be using to work around this problem, based on the `backoff` library for the retry logic (`retryable` can be used as well, but it seems easier to use `backoff`):

[code]

I cannot thro

[2018-02-20 15:24] chemelnucfin commented on #2694
Thank you for the work.  We also should have a new retry framework in the api_core module in most (if not all) updated versions.

[2018-02-20 16:49] VikramTiwari commented on #4864
Hey, @tswast Sorry for the delayed response.
Destination table is the `project.dataset.table_with_lots_of_columns` and the queries are mostly aggregation but with most of the columns in the original table. I am also not trying to limit anything.

Also, the issue is happening on the request, not the response. Here are raw logs:

[code]

[2018-02-20 18:57] foresmac commented on #3100
@jonparrott I'm getting the same error today using `google-cloud-pubsub==0.29.4` and after updating to `google-cloud-pubsub==0.30.1`. Tried generating a new private key JSON file for my service account.

[code]

My local system time and my phone time appear to be correct:
<img width="331" alt="screen shot 2018-02-20 at 12 56 16 pm" src="https://user-images.githubusercontent.com/3628189/36443121-80

[2018-02-20 19:15] #4893 closed

[2018-02-20 19:17] foresmac commented on #3100
Ok, I found as issue with Docker for Mac https://github.com/docker/for-mac/issues/2076 (a couple related issues actually, but this one pretty clearly covers the problem). The time of the VM that runs containers drifts from system time, and doesn't appear to reset itself properly. Stopping and restarting Docker for Mac fixed the issue for me.

[2018-02-20 20:02] chemelnucfin commented on #4840
See #4897 also for storage related questions.

[2018-02-20 20:04] chemelnucfin commented on #4897
Hi David, we are going to use #4840 to keep track of emulator issues as it seems like we would need a broader discussion.  Please feel free to follow there.

[2018-02-20 20:04] #4897 closed

[2018-02-20 20:17] tseaver commented on #4648
Given that #4822 is merged, what work remains for this issue?

[2018-02-20 20:36] tseaver commented on #3128
The `google-cloud-datastore 1.5.0` release uses newly-generated GAPIC code, which includes built-in retries for idempoten methods.  @speedplane, can you please try to reproduce with that version?

[2018-02-20 20:46] jonparrott commented on #4648
I think this is fine to close. We can always re-open or file a new issue.

[2018-02-20 20:46] #4648 closed

[2018-02-20 20:52] tseaver commented on #4087
@frankyn I still don't see API documentation for `objects.getIamPermissions` et. al.

[2018-02-20 21:24] jonparrott commented on #4900
@pumpikano is it just a canse of the last `:` being a `.`? If so, you're welcome to send a PR to fix this!

[2018-02-20 22:03] tseaver commented on #4264
@berlincode I just tried to build a system test which reproduces your case (see #4905).  That test, which *does* have multiple pages in the response, passes.

Please reopen if you can provide a complete case which reproduces the issue (i.e., it actually populates entities and then queries them with the duplicate).

[2018-02-20 22:11] pumpikano commented on #4900
Sure thing!

[2018-02-20 22:15] #4593 closed

[2018-02-20 22:18] frankyn commented on #4087
Will update soon. I need to sync with a few stakeholders on the GCS team before continuing there exist additional open questions before introducing the docs back into the world. Setting up meeting for mid-next week given some are OOO. I will have a better update then. Thank you for patience.

[2018-02-20 22:21] tseaver commented on #4342
@anilshanbhag The current release (0.32.0) no longer supports the HTTP endpoint.

Please reopen if you can reproduce against that version.

[2018-02-20 22:21] #4342 closed

[2018-02-20 23:32] chemelnucfin commented on #4900
Closed via #4906

[2018-02-20 23:32] #4900 closed

[2018-02-21 01:28] tswast commented on #4864
I'm guessing that the "request was too large" because we include the full list of columns as the field list when calling `tabledata.list`. We could verify this by creating a table with lots of columns (max=10,000, if I remember correctly) and then trying to list rows from that table with all columns selected.

Potential fixes:
- don't set the column filter when getting the table data after a query

[2018-02-21 01:29] tswast commented on #4842
The jobs and tables APIs are complete. We are still missing getServiceAccount.

[2018-02-21 02:38] chemelnucfin commented on #4861
Closed via #4901

[2018-02-21 02:38] #4861 closed

[2018-02-21 16:51] TonyRoussel commented on #4841
Hello any news about this ?
Do you have any recommendations regarding the new parameters in FlowControl ?

[2018-02-21 16:56] jonparrott commented on #4841
@TonyRoussel I would check out the latest release, `0.31.0`, and see how that works for you.

I'm still awaiting more details from the Pub/Sub team on the server-side issue that @kir-titievsky mentioned.

[2018-02-21 17:03] TonyRoussel commented on #4841
yes I tried it and I see the same split between ack and pull. How should I tweak the FlowControl to lower the pull ? I already set max-messages at 1

[2018-02-21 17:09] jonparrott commented on #4841
That is how you lower the pull. You can also make sure your callbacks *do* something. If all your callback does is `ack` the messages your subscriber will still consume messages very quickly.

[2018-02-21 18:05] tswast commented on #4864
Hmm, I guess my first guess was wrong. I'm not able to reproduce using the following system test:

[code]

It must be something specific about how query data is listed from a table.

[2018-02-21 20:12] tseaver commented on #4152
@tswast Is this really a P1 issue?  If so, we need to get it into SLO, i.e., fix it ASAP.  If not, can you please switch it to P2?

[2018-02-21 20:54] berlincode commented on #4264
Hello. It's sad that the ticket is closed. The problem is still exists and is reproduceable on my datastore (project_id is "robotdetect-com") with the code shown above. Can please someone from google with access to the datastore can confirm that the problem exists?

It took quite some time to track this down.

I can only guess that this problem has somehow to do with the very long keys that are us

[2018-02-21 21:10] tseaver commented on #4736
@srini100 FWIW, our system tests for spanner use multithreading, and don't crash.

I just created a [multiprocessing testcase](https://gist.github.com/tseaver/95c8f54416c4a5093b4ad2d4755ab8190 which runs cleanly:

[code]

So, I'm going to close this issue.  Feel free to reopen if you can provide a reproducer which hangs / breaks when using multiprocessing in this way.

[2018-02-21 21:10] #4736 closed

[2018-02-21 21:11] tseaver commented on #4825
@jonparrott This looks like a feature request to me, rather than a bug (and certainly not a P1, as the user has a clear workaround).

[2018-02-21 21:13] jonparrott commented on #4825
Agreed. Always feel free to modify labels as information and situations change.

[2018-02-21 21:14] jonparrott commented on #4825
@wora @liyanhui1228 can you confirm whether this is a feature we want to add?

[2018-02-21 21:31] #4325 closed

[2018-02-21 21:34] chemelnucfin commented on #4736
@tseaver link is dead.  Also, just curious, do you have a Mac or Linux?

[2018-02-21 21:51] tseaver commented on #4264
@berlincode the example I added in PR #4905 uses UUIDs as keys.  Can you look at how it is put together and see if something in your own code jumps out as different?

[2018-02-21 21:55] tseaver commented on #4736
I've updated the link.  Linux.

[2018-02-21 22:13] liyanhui1228 commented on #4825
@jonparrott Yes adding this feature SGTM.

[2018-02-21 22:32] dojeda commented on #2694
Cool, I am looking forward for the retry framework.

Just an update: As I commented before, I've tried patching the client with relative success: it works for any request that uses the `self._connection` member, but other operations can still fail. Nevertheless, I think I solved 90% of my current problems with this approach.

My next candidate is `Blob.upload_from_file`, which uses a multipart or

[2018-02-22 08:42] berlincode commented on #4264
First I want to thank you that you wrote a test case.

I've invested some more time and maybe the results may get us a bit further:

1) First I had a look at your test code. I've modified it a bit to match my query and to work on ids:

[code]
Then i get following Exception "Exception: found duplicate: 5805078561685504 in page nr 2"

So the problem still exists atl the same entity as shown at top.

[2018-02-22 11:23] surmik commented on #1893
Any new updates on this?

[2018-02-22 13:56] tswast commented on #4152
We can bump it down. I put it at P1 thinking it might be a breaking change for GA, but then forgot about it.

[2018-02-22 16:10] vkoppaka commented on #4812
@jonparrott any suggestions on things I can try to debug why this is happening?

[2018-02-22 16:22] jonparrott commented on #4812
Not off the top of my head - can you otherwise connect to googleapis.com from your Pod?

[2018-02-22 16:37] Etendard7 opened #4912 "FlowControl / max_messages is not working as expected"
Hi,

I am trying to implement a simple task queue using Pub/Sub and I think I am running into a bug with _FlowControl_.

I have a few workers that need to execute a callback one message by one (without concurrency) and I use the _FlowControl_ and `max_messages=1` for that. I am expecting that every worker receive one message, process it, ack it, then pull another one.

[code]
But when I publish a

[2018-02-22 16:44] EliBukchin commented on #4912
I have the same problem on Python 3.5

[2018-02-22 16:53] jonparrott commented on #4912
This is expected behavior. Essentially, The API does not give us one message at a time - it gives us around 50. With the default executor, you will process about 10 at a time. This means that flow control values below a certain threshold have no effect.

This generally isn't a huge issue. You can make processing serial by having each callback acquire a shared lock - your subscriber will just have

[2018-02-22 17:04] jonparrott commented on #4771
I can not reproduce this error and it's been 2 weeks since the last reply. I'm going to close this for now, but happy to re-open if it's still an issue.

[2018-02-22 17:04] #4771 closed

[2018-02-22 17:05] callmehiphop commented on #4912
@jonparrott we had a similar issue reported in Node a while back and we received an OK from the PubSub team to `nack()` any overflow messages. Should we be removing this functionality to align with the Python client?

[2018-02-22 17:06] jonparrott commented on #4912
That is a great question for @kir-titievsky, I'll start an internal thread.

[2018-02-22 17:14] jonparrott commented on #1893
We are making progress but I still can not announce a timeline for when this will be ready. You are welcome to go ahead and try some of the libraries on standard and report any issues you run into here.

[2018-02-22 17:29] Etendard7 commented on #4912
Thanks for your answer but the issue with the shared lock is that it doesn't prevent a worker from receiving several messages and keeping it until the end of the processing of the first one.

Is there any way to distribute 1000 messages to 1000 workers with PubSub so that each worker receive one message ?

My use case is that I have an embarrassingly parallel task, splittable into 1000 sub-tasks a

[2018-02-22 17:58] jonparrott commented on #4912
I see. We're chatting internally on what we want to do here.

[2018-02-22 18:05] gcbirzan opened #4913 "Pubsub API should provide a way to synchronize a set of operations"
The pubsub API provides no easy way to make sure a bunch of publishes finish before continuing. You have to either deal with batches yourself or wait on every Future returned. A context manager would do the job, or even a wait method on the client.

[2018-02-22 18:07] jonparrott commented on #4913
@lukesneeringer what do you think?

[2018-02-22 18:08] gcbirzan opened #4914 "Pubsub API should not swallow exceptions by default"
Current behaviour, albeit documented, is to ignore errors in publishing. They will, eventually, maybe, bubble up in a different thread, but this behavious is surprising and useless. Most other APIs (in this library) are synchronous, to a fault. If nothing else, an option that doesn't say "only useful for debugging" should be provided (talking about autocommit).

[2018-02-22 18:09] vkoppaka commented on #4812
Yes. Like I mentioned, the error is transient. The pod works fine today when I checked, but I see the error every so often.

[2018-02-22 18:13] jonparrott commented on #4812
Sounds like it just might be intermittent network issues. Maybe the Pod's host is overwhelming and dropping packets?

I am not a k8s expert, but I do not think this issue is with the client libraries.

[2018-02-22 18:15] jonparrott commented on #4914
@lukesneeringer would like your opinion on this as well

[2018-02-22 18:25] lukesneeringer commented on #4914
I agree with this, but need to determine what the correct behavior is. One problem is that we may not _get_ errors in all situations.

[2018-02-22 18:27] gcbirzan commented on #4914
If you block until a certain timeout, wouldn't that guarantee to either get a timeout/exception or a success?

[2018-02-22 18:44] Etendard7 commented on #4912
Ok thanks.

[2018-02-22 18:59] lukesneeringer commented on #4913
Seems reasonable to me. asyncio does have a mechanism to wait on multiple futures but that does not help anyone on earlier versions of Python.

[2018-02-22 19:01] lukesneeringer commented on #4914
Sort of. There is a world where you publish N messages and Pub/Sub only publishes N - 1 of them. The only way you know is because the length of the message IDs does not match (and you have no way of knowing _which_ one failed).

[2018-02-22 19:05] gcbirzan commented on #4914
But, if you publish a batch of messages, you know which ones you published, and which ones you got back as being published. If anything, at least return ONE error. However, this is an edge case. In most cases, it's not that "half the messages are published", it's "oops, you screwed up IAM", or "oops pubsub is down".

[2018-02-22 19:06] tswast commented on #4864
Okay, I *am* able to reproduce if I pass the schema in as `selected_fields`, which is what `query()` does behind the scenes.

System test:

[code]

With 10,000 columns, the request to list rows (tabledata) doesn't even finish sending. The connection breaks before it can get sent.

<details>
<summary><code>requests.exceptions.ConnectionError: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe

[2018-02-22 19:10] jonparrott commented on #4914
The other question is *when* do we bubble the exceptions?

If we implement #4913 as a context manager, it becomes obvious:

[code]

With the current "fire and forget" approach, we only bubble errors on the future returned:

[code]

Like luke said, the only real situation where this happens currently is if pubsub publishes < N messages in a batch ([code](https://github.com/GoogleCloudPlatform/googl

[2018-02-22 19:11] jonparrott commented on #4914
Actually we don't, there's no identifying information on the outgoing messages. If all is good, pubsub returns the message IDs in the same order as the message. We zip those together [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/publisher/batch/thread.py#L211).

[2018-02-22 19:13] jonparrott commented on #3920
Closing this for now in favor of #4840.

[2018-02-22 19:13] #3920 closed

[2018-02-22 19:16] jonparrott commented on #3622
This issue has been open for a long time.

@liyanhui1228, @duggelz is there anything still actionable here?

[2018-02-22 19:17] jonparrott commented on #3128
I'm going to go ahead and close this as the latest release include significant retry plumbing. If it's still an issue, feel free to comment and we'll re-open.

[2018-02-22 19:17] #3128 closed

[2018-02-22 19:48] VikramTiwari commented on #4864
Glad that you could reproduce it too. Such queries used to work fine in version 0.27.

[2018-02-22 19:53] tswast commented on #4864
Yeah, 0.27 and before got query results using https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/getQueryResults, which is slower but also easier to get right in the client.

I'll give the backend folks a little time to see if they can increase the request limit size. If not, we do have a workaround, which is to get the destination table object and then list rows (or we can pretend we h

[2018-02-22 19:57] frankyn commented on #4087
Sent a document for GCS team review to determine consensus for what to do here.

[2018-02-22 20:39] erlichmen commented on #1893
In this regards I would like to reiterate that the “thread of shame” (
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893#issuecomment-367651481)
is over a year old and still no end in sight on when we will have a
consistent and working libs on GAE/py standard.

Also as said before I think there should be only one package for gcloud
with a single version single change log, etc.

[2018-02-22 20:44] jonparrott commented on #1893
We have limited resources on both the Client Libraries team and the App Engine team. We are working to make this happen, but there are other things that are often higher in our list of priorities. We understand this is a important case for users, and *lots* of work is happening in the App Engine runtime to support these libraries (notably, we recently added gRPC to App Engine runtime). We've close

[2018-02-22 21:04] liyanhui1228 commented on #3622
Should be fixed, I'll close it.

[2018-02-22 21:04] #3622 closed

[2018-02-22 21:15] #3152 closed

[2018-02-22 22:20] tseaver commented on #3809
@frankyn Some evidence that the back-end actually wants the `/` separator escaped:  the JSON returned from `objects.insert` for an object whose name is `parent/child/filename.txt` looks like so:

[code]

If I *dont* use the escaped form when making API calls against the object (e.g., `GET` or `DELETE`) then it 404s.

The fact that the `/` doesn't seem escaped in the console is not relevant here:

[2018-02-22 22:46] tseaver commented on #3809
So, it looks to me as though the correct resolution is to update `Blob.public_url` (and maybe also `Blob.generate_signed_url`?) to avoid quoting embedded `/` characters, but continue quoting them for all API requests.  I have updated #4716 accordingly.

[2018-02-22 22:49] jonparrott commented on #3809
Thanks Tres.

On Thu, Feb 22, 2018 at 2:47 PM Tres Seaver <notifications@github.com>
wrote:

[2018-02-22 22:51] tseaver commented on #4264
OK, I'll reopen.

Is there any possibility that your entities have a collision on the IDs?

[2018-02-22 23:14] swirlingsand commented on #3736
Hey there, I'm experiencing this issue too.
`google-cloud-storage == 1.6`
`requests == 2.18.4`
Error
[code]

[2018-02-22 23:23] frankyn commented on #3809
Oh gosh, that's confusing. So, it fails when you don't quote the object name during other operations. IIUC, then it would make sense to not quote "/" in the returned public_url and generated_signed_url instead.

Thanks @tseaver! Apologies, that I wasn't much help here.

[2018-02-22 23:37] jonparrott commented on #3736
@swirlingsand are you sure you have requests 2.18.4? Can you verify with `import requests; print(requests.__version__)`?

[2018-02-22 23:37] daylenriggs commented on #1570
I just commented out the print statements in site.py - everything's working fine, and no more annoying errors messages

[2018-02-22 23:54] berlincode commented on #4264
I'm not sure how to test for collisions on IDs.

But I think a collision on IDs is rather unlikely: The problem is only visible (if at all) at the boundary of the paged query. Additionally (as I wrote above) if I added "page_query.keys_only()" the duplicate ID changed to 6610136358453248  (and is again on a page boundary) while the ID 5805078561685504 (which was repeated ID without the keys_only)

[2018-02-23 00:00] jadekler opened #4918 "Pubsub docs should have copy-paste-able code samples"
https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/ has code samples, but when I copy paste them I get gook like the following:

[code]

(note the ellipses all over)

[2018-02-23 00:01] jonparrott commented on #4918
This is intentional, it's to show what to expect when executing that code in a Python shell.

[2018-02-23 00:01] #4918 closed

[2018-02-23 00:02] jonparrott commented on #4264
Are you modifying the entities at all while querying?

On Thu, Feb 22, 2018 at 3:54 PM berlincode <notifications@github.com> wrote:

[2018-02-23 00:14] jadekler commented on #4918
Are people using pubsub and so on in a shell? Shouldn't we optimize for the application developers?

[2018-02-23 00:17] jonparrott commented on #4918
We don't have strict guidelines on that sort of thing (or really any sort of thing for client library docs). Instead of ad-hoc making changes, I'd like to work out our overall documentation strategy before making sweeping changes.

[2018-02-23 00:19] jadekler commented on #4918
👍  sg

[2018-02-23 01:37] swirlingsand commented on #3736
My apologies I think this was something with my conda setup.
`pip show requests`  yielded 2.18,
however running that print statement showed 2.14
Thanks for help @jonparrott

[2018-02-23 01:40] jonparrott commented on #3736
No worries!

On Thu, Feb 22, 2018, 5:37 PM Anthony Sarkis <notifications@github.com>
wrote:

[2018-02-23 07:52] drghifari opened #4920 "BigTable: Cannot get admin access when using from_service_account_json method"
I can't get admin access when i create `bigtable.Client` object using `from_service_account_json`, although the option `admin` already set to `True`. It works well without `from_service_account_json`.

[code]
I use `python 2.7.12` and `google-cloud-bigtable==0.28.1`

[2018-02-23 08:02] berlincode commented on #4264
Just to be sure that this is not the source of the problem I just ran a paged query from the latest entities to older ones. The first duplicate is just ~2h old and for this entity I'm sure that it was only written once and never updated.

In general, yes, if the entity model has change (e.g. new properties) or I modified datastore indexes I sometimes iterate over entities and do an update. Typical

[2018-02-23 16:58] chemelnucfin commented on #4885
@abhibeta Are you able to get the transcription working for your file?

[2018-02-23 17:34] abhibeta commented on #4885
Yes I am , thanks a lot.
Wondering if we have a way out to transcript a 2 channel file like a audio
from call center .
Splitting in 2 channels breaks the conversation .

On Fri, Feb 23, 2018 at 8:58 PM chemelnucfin <notifications@github.com>
wrote:

[2018-02-24 00:34] #4697 closed

[2018-02-24 00:43] chemelnucfin commented on #4920
@drghifari So actually from_service_account_json is a classmethod, which means you should do
`client = bigtable.Client.from_service_account_json(cred_path, admin=True)`

Please let us know if this doesn't solve your problem.

[2018-02-24 00:43] #4920 closed

[2018-02-24 01:29] duggelz opened #4924 "dlp/nox.py is using the old session names"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/dlp/nox.py

Session names are `unit_test`, `system_test` etc, instead of `unit`, `system`.

[2018-02-24 02:34] chemelnucfin commented on #4924
Looks like it's been fixed here though: [nox.py.snip](https://github.com/googleapis/toolkit/blob/master/src/main/resources/com/google/api/codegen/py/nox.py.snip)

[2018-02-24 04:50] natasha-aleksandrova opened #4925 "datastore: very slow queries, single record by key"
Ubuntu 16.04.3 LTS
Python 3.6.3
google-cloud-datastore>=1.5.0

repro code:
[code]

We are just starting out with google cloud platform and chose datastore as the option to store data because it seems the simplest, however we are noticing very slow performance on queries. Most common query is by primary key (above code) or `=` on one of the fields.

We are getting about ~200/300ms on the above quer

[2018-02-24 07:30] frankyn commented on #3809
@tseaver, I was able to find a better answer for this case.

The existing client library uses the XML API endpoints defined by `_API_ACCESS_ENDPOINT` which is used for both public_urls and signed_urls.
For the JSON API, percent-encoding is required and will fail as you observed in your prior comment.
For the XML API, percent-encoding is not required but does require UTF-8 encoding. That's why at f

[2018-02-24 19:21] chemelnucfin commented on #4272
See PR #4817

[2018-02-24 19:24] chemelnucfin commented on #4111
See #4851

[2018-02-24 19:53] chemelnucfin opened #4926 "Runtimeconfig Autogen Configuration Files"
According to discussions in issues #3897 and #3898 and PR #4810, it is probably more desirable to use the autogen to set up the client library and resolve the issue of not being able to connect to the api in #3897 and missing text access in #3898 instead of resolving the issues manually.

The other issues will be closed in favor of this, which should resolve both issues together.

[2018-02-24 19:54] chemelnucfin commented on #3897
See #4926

[2018-02-24 19:54] #3897 closed

[2018-02-24 19:54] chemelnucfin commented on #3898
See #4926

[2018-02-24 19:54] #3898 closed

[2018-02-25 19:41] chemelnucfin opened #4927 "Speech: Way to transcribe 2 channel audio file"
Wondering if we have a way out to transcript a 2 channel file like a audio
from call center .
Splitting in 2 channels breaks the conversation .

#4885 for background information.

[2018-02-25 19:49] chemelnucfin opened #4928 "Speech: Obscure encoding error message"
Using the wrong encoding for the file results in an error that does not easily point to the right cause.

[code]

See
[#4885](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4885#issuecomment-366295199) for background info.

[2018-02-25 19:50] chemelnucfin commented on #4885
@abhibeta I have opened some issues which relates to the problems that you are having now.  I will now close this original issue which is now resolved.  Please do let me know if you have some other concerns.
Thanks.

[2018-02-25 19:50] #4885 closed

[2018-02-25 20:50] inglesp opened #4929 "BigQuery: Unhelpful code samples in "Migrating to Python Client Library v0.28+" doc"
The code samples at https://cloud.google.com/bigquery/docs/python-client-migration show similar code before and after the big API changes in 0.28.  However, the before and after samples are often very different, making a comparison much harder than it needs to be.

[2018-02-25 21:19] inglesp opened #4930 "BigQuery usage docs do not explain references"
The [BigQuery usage docs](http://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html) do not explain what `TableReference`s are, when/why you'd need to use one instead of a `Table`, and how to get a `TableReference` from a `Table` or vice versa.

(And similarly for `DatasetReference`s and `Dataset`s.)

[2018-02-26 07:57] chemelnucfin commented on #4109
I'm going to put this in the back log for now and track it through here:
[Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867156)

[2018-02-26 07:57] #4109 closed

[2018-02-26 08:01] chemelnucfin commented on #4152
I'm actually going to track it through here for the time being.
[Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867153)

[2018-02-26 08:01] #4152 closed

[2018-02-26 08:05] #4111 closed

[2018-02-26 08:05] #4272 closed

[2018-02-26 08:06] chemelnucfin commented on #4260
Tracked in [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867151)

Also see #4931

[2018-02-26 08:06] #4260 closed

[2018-02-26 08:15] taish opened #4932 "Bigtable: TimestampRangeFilter rejects time."
Bigtable supports millisecond granularity but using microsecond granularity in TimestampRange

https://googlecloudplatform.github.io/google-cloud-python/latest/_modules/google/cloud/bigtable/row_filters.html#TimestampRange

Therefore, it was the result in the following error:
[code]

## Code

[code]

## Stacktrace

[code]

[2018-02-26 10:38] laldonza commented on #3989
It happens to me that all the blob properties return `None`, except if I call the method `update()` first, then I've got the whole properties set (`updated` property is set to actual `datetime`), but this properties are accessible only during the execution.

[2018-02-26 15:10] kir-titievsky commented on #4912
@Etendard7 ... in the meantime, if you are able to receive messages using a POST endpoint, Pub/Sub's push subscribers will do exactly what you are asking for. What do you think?

[2018-02-26 15:59] kierkegaard13 opened #4933 "Google Storage: Intermittent New Connection Errors"
OS: Ubuntu 17.10
Python version: 3.6 (Miniconda 4.3.14)
google-storage version: 1.6.0
other info: running inside of a dockerized container on a gcloud instance in GCP
stacktrace:
[code]

Connection code:
[code]

I'm able to use google cloud storage and connect, download, and upload object, but every now and then, I get the above connection errors. The only thing I can think of is that I re-create

[2018-02-26 16:18] kir-titievsky commented on #4841
@TonyRoussel Thanks for your patience. There is a service side improvement that started rolling out a few days back and should be completely out by tomorrow.  I suspect that what was happening here is that Pub/Sub was delivering the same message multiple times, causing more pulls than acknowledgements. If I'm right, what you should see:
1. Today, your backlog size (number of unacked messages) woul

[2018-02-26 16:32] stephenplusplus opened #4934 "Unable to run the code to create a client instance on google cloud speech API"
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2804

<a href="/punvenu"><img src="https://avatars2.githubusercontent.com/u/12475952?s=88&v=4" height=44 width=44 align=left></a>@punvenu<br>February 26, 2018 9:58 AM

I tried running the below code on python spyder.
Its a piece of code that i run to convert speech to text. code was taken from this u

[2018-02-26 18:02] tseaver opened #4935 "Bigtable systests not cleaning up instance"
I had an unrelated storage PR fail today due to quota exhaustion, due to 10 existing Bigtable instances already on the CI account.

[2018-02-26 18:10] tseaver commented on #4935
After clearing out the ten instances, I just ran the system tests locally -- they pass, and do not leave an instance undeleted.

[2018-02-26 18:42] #4567 closed

[2018-02-26 18:42] jonparrott commented on #4567
@lukesneeringer this is closed on our side, but likely needs a generator update to actually make use of it.

[2018-02-26 19:12] jonparrott commented on #4935
I suppose we can just close this then? It may have just been due to some weirdness?

[2018-02-26 19:13] jonparrott commented on #4841
Based on @kir-titievsky's comment, I'm going to go ahead and close this. However, if it's still an issue we can continue discussing.

[2018-02-26 19:15] jonparrott commented on #4929
@alixhami  @tswast can you take a look?

[2018-02-26 19:16] jonparrott commented on #4925
Hi @natasha-aleksandrova. It seems you're creating a new datastore client every time. This has quite a bit of overhead. Can you move the datastore client creation outside of your timing loop and see what you get?

[2018-02-26 19:21] natasha-aleksandrova commented on #4925
there is no loop in the above code.

moving client creation before `start` variable makes virtually no difference.

[2018-02-26 19:24] jonparrott commented on #4933
Unfortunately there isn't a lot we can do for you here. Networking inside Docker has lots of options and lots of ways things can go wrong.

We have helpers in [api_core](https://google-cloud-python.readthedocs.io/en/latest/core/retry.html) for retrying things, but low-level network errors like this are generally a sign of lack of network connectivity (however intermittent) and are generally "fatal

[2018-02-26 19:24] #4933 closed

[2018-02-26 19:30] jonparrott commented on #4925
Hrm, on my end:

[code]

Can you tell me a bit more about your environment?

[2018-02-26 19:35] natasha-aleksandrova commented on #4925
certainly, could you tell what specifically you're looking for?

btw 67ms query time to look up by key doesn't seem like good performance against comparable databases (pgsql, cassandra etc)

[2018-02-26 19:52] kierkegaard13 commented on #4933
Ah, well I guess I'll see if I can play with docker network settings. Thanks for the help.

[2018-02-26 19:55] natasha-aleksandrova commented on #4925
[code]

above is running the script with multiple get queries after creating the client first.

it seems pretty inconsistent, we are using Datastore with REST endpoints which create client then do a single query to return the data. It seems that the first query is always slow.

Like I said earlier, ~50ms still seems a little slow.

[2018-02-26 19:57] jonparrott commented on #4925
@dmcgrath could you let me know if this is within the expected latency for datastore?

[2018-02-26 20:12] david-gang commented on #4925
I am happy to hear that someone is raising this point. We experience the slowness with the Java client. First of all datastore is slower than cloud sql. Secondly there are fluctuations between 50ms and a couple of hundred ms . This forces us to use intermediate caches instead of querying the datastore directly.

[2018-02-26 20:23] tswast commented on #4929
@inglesp Is there a specific sample that you believe does too much?

[2018-02-26 20:33] tswast commented on #4930
Yes, this could use some additional explanation in the docs.

The main purpose of `TableReference` and `DatasetReference` is to indicate that it is only a pointer to a `Table` or `Dataset`. Several properties in the REST API only accept / return a pointer to a table, such as [QueryJob.destination](http://google-cloud-python.readthedocs.io/en/latest/bigquery/reference.html#google.cloud.bigquery.job

[2018-02-26 20:35] tswast commented on #4930
Note: the [usage docs](http://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#tables) do have examples for `create_table()`, `get_table()`, [`create_dataset()`](http://google-cloud-python.readthedocs.io/en/latest/bigquery/usage.html#dataset-operations) and `get_dataset()`.

I agree that examples using the `table.reference` and `dataset.reference` properties would be helpful.

[2018-02-26 20:54] #3809 closed

[2018-02-26 21:05] tseaver commented on #4935
@jonparrott I'd rather leave it open for a bit, for reference if it shows up again -- that is the utility of the "flaky" label.

We've had the suspicion that "abrupt" shutdowns on the CI system could explain this kind of thing (e.g., if they `kill -9` the process when a new commit is pushed to the same branch).

[2018-02-26 21:08] jonparrott commented on #4935
Yeah, maybe we should move to "defensively" cleaning up things - clean up *before* tests run?

[2018-02-26 21:11] tseaver commented on #4935
How can we know that an instance is not being used by another active CI run?  There is no metadata available (via API queries) to let us list "old" ones (I was verifying them by eye in the console today before deleting them).

[2018-02-26 21:25] jonparrott commented on #4935
Hrm. Great question. :/

[2018-02-26 23:02] #4320 closed

[2018-02-27 00:01] chemelnucfin commented on #4825
Closed via #4910

[2018-02-27 00:01] #4825 closed

[2018-02-27 06:43] akmalhakimi1991 opened #4939 "[google-cloud-speech] version 0.32.0 causing memory leak"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
**google-cloud-speech 0.32.0**

2. OS type and version
Ubuntu and CentOS

3. Python version and virtual environment information `python --version`
2.7.3

4. Step to reproduce
I have a chatbot program where it let user speaks to the computer and computer will respons

[2018-02-27 08:43] akmalhakimi1991 opened #4940 "Is it expected for 1 word speech not to be transcribed?"
Is it expected for a speech containing 1 short word not being transcribed? For example, if the user only says "no", the API didn't return anything but it has no problem with "no thanks". Is this expected behaviour?

[2018-02-27 09:46] inglesp commented on #4929
All of them!  (And it's not really that the examples are doing too much, just that the before and after versions are written in totally different ways.)

For instance, in the [Querying data synchronously](https://cloud.google.com/bigquery/docs/python-client-migration#querying_data_synchronously) section, the before version is:

[code]

while the after version is:

[code]

The after version defines

[2018-02-27 09:47] inglesp commented on #4930
Thanks for your comments here.  It'd be really helpful to have this in the documentation!

[2018-02-27 13:38] chaitanyanettem opened #4941 "[google-cloud-storage] SSLError when calling blob.make_public()"
# Thank you for reporting an issue to google-cloud-python!
OS: Ubuntu 16.04
Python: 3.5.2
google-cloud-storage: 1.6.0

I'm calling `blob.make_public()` inside a function which is running in a celery thread and occasionally it fails with a -

[code]

Reading a previous thread about a similar issue (https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3501) makes me believe that the clo

[2018-02-27 15:48] tseaver commented on #4939
@akmalhakimi1991 What version of grpc are you using?

[2018-02-27 16:08] tseaver commented on #4941
`google-cloud-storage` is now using the `requests` library, which means that the clients are shareable between threads.

What version of the `google-auth` library are you using?

@jonparrott Does this ring any bells for you?

[2018-02-27 16:09] akmalhakimi1991 commented on #4939
1.9.1

[2018-02-27 16:30] dmcgrath commented on #4925
PM for Datastore here. Some quick insights.

1) Our system spans many servers across multiple data centers (it's synchronously replicated across regions). To get the best performance, we have a series of caches for things like permission checking that will be your database until you send us non-trivial traffic to hit various servers and warm those caches. When doing benchmarking, longer tests will

[2018-02-27 16:56] tseaver commented on #2222
Since e442cd21, blobs no longer set a non-None default chunk size.

Emulating the "slice-and-reassemble" behavior of `gsutil cp` downloads would be a feature request, rather than a performance bug.

[2018-02-27 16:56] #2222 closed

[2018-02-27 16:59] tseaver commented on #3989
@laldonza the behavior you are seeing is by design:  the blob instance does not make an API request to load the property values implicitly.

[2018-02-27 17:02] kenashcraft opened #4942 "Please release new pip version of google-cloud-monitoring"
Please release a new version of google-cloud-monitoring via pip.  The most recent version is 0.28.0 from Oct 31, 2017.  I'd like to pick up recent bug fixes (e.g. #4910).
https://pypi.org/project/google-cloud-monitoring/#history

[2018-02-27 17:02] natasha-aleksandrova commented on #4925
Thank you for information.

Your results look much better than mine. What could account for such drastic difference?
Avg of ~20ms is much better and something we could work with (although coming from PostgreSQL with 1-2ms queries by the PK, it is still a little high).

Also, a little bit about our use case. We are working on REST endpoints and using Datastore to store our core entities like User,

[2018-02-27 17:15] tseaver commented on #4353
This bug is the same as #4420, which was closed with the resolution that we should *not* try to catch `requests.ConnectionError` / `requests.exceptions.ConnectionError`.

[2018-02-27 17:15] #4353 closed

[2018-02-27 17:22] tswast commented on #4929
Yeah, you're right that they aren't doing 100% exactly the same thing.

Your specific sample to highlight is a good indicator, actually. `query_rows` is no longer a method in 0.29+ since the `query` function can be used in exactly the same way as it is here. I'll leave this open to give that page another run through.

[2018-02-27 17:25] chaitanyanettem commented on #4941
`google-auth` is version 1.2.1.

[2018-02-27 17:29] jonparrott commented on #4941
I'm a bit at a loss - this is highly unusual. Our clients should be threadsafe but if they weren't then this wouldn't be the error they would get. This indicates an issue with the threadsafety of requests/urllib3/openssl.

@chaitanyanettem can you let us know your openssl version?

@Lukasa - I found [this old thing](), is this the same weirdness or something else?

[2018-02-27 17:35] jonparrott commented on #4940
@dizcology could you take a look at this?

[2018-02-27 18:33] tseaver commented on #4814
I just tried to reproduce via [this gist](https://gist.github.com/tseaver/19a643712e3c6a0ecd4b6aeb952adfc6), where I added a setup operation to make it obvious how to create and populate the bucket.

I tried it in a fresh virtual environment.  Whether or not I comment out the `import nltk` lines, the operations are fine.

Please reopen if you can suggest more information to help us reproduce.

[2018-02-27 18:33] #4814 closed

[2018-02-27 18:34] tseaver commented on #4941
@jonparrott The link in your last comment is pointing to this issue.

[2018-02-27 18:39] jonparrott commented on #4941
Should be pointing to https://github.com/requests/requests/issues/1906

[2018-02-27 18:40] tseaver commented on #4658
@tswast can you comment?

I wonder if this might be another case where the back-end has added a feature without bumping the API version.

[2018-02-27 18:43] tswast commented on #4658
@tseaver Yeah, this is a relatively new feature. The API docs were just refreshed last week, so they probably appeared then. We're tracking this feature request internally on bug 72959426. I'll copy the summary here:

This feature adds the ability to partition a table by a timestamp or datetime column. Changes required:

- New class to describe time partitioning definition.
- New property on query

[2018-02-27 18:46] tseaver commented on #4608
@jonparrott  ISTM that merging #4872 should have closed this issue?

[2018-02-27 18:50] jonparrott opened #4943 "API Core v1.0.0 release plan"
- [x] Merge the one breaking change for api_core. https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4734 https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4947
- [x] Update the version ranges on all packages to set the *upper* bound to `<2.0.0dev`. https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4944
- [x] Release api_core v1.0.0. https://github.com/Goog

[2018-02-27 18:51] tseaver commented on #4534
@dhermes feel free to reopen if you still have a notion of what needs to be fixed in `google-cloud-datastore`.

[2018-02-27 18:51] #4534 closed

[2018-02-27 18:52] jonparrott commented on #4608
No, we need to actually match Java and Go's strategy here and submit the oversized message in its own batch.

[2018-02-27 19:03] chemelnucfin commented on #4608
@tseaver was working on this in #4870.  Forgot about it.

[2018-02-27 19:19] #4692 closed

[2018-02-27 21:28] jonparrott commented on #4925
I'm going to go ahead and close this, but by all means please continue discussing. If there's an actionable issue for this library, we can re-open or start a new issue.

Thank you @dmcgrath for giving a thorough answers here. :)

[2018-02-27 21:28] #4925 closed

[2018-02-27 22:38] jonparrott commented on #4943
Release PRs:

* BigQuery: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4948
* BigQuery Datatransfer: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4949
* Bigtable: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4951
* Container: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4952
* Core: https://github.com/GoogleCloudPlatform/g

[2018-02-27 22:46] jonparrott commented on #4943
Note: since there are so many releases do here, the PRs will be merged but I will not tag them until all of the PRs have been merged. I don't want to get into a situation where users can't install all of the latest libraries together.

To that end, I will tag in this order:

First group:
* core

Second group:
* BigQuery datatransfer
* bigtable
* container
* dlp
* dns
* error reporting
* firestore

[2018-02-28 00:23] frankyn commented on #3809
Thanks @tseaver ! I was OOO yesterday. Cheers!

[2018-02-28 03:42] chaitanyanettem commented on #4941
`openssl version` gives me -

OpenSSL 1.0.2g  1 Mar 2016

[2018-02-28 07:37] laldonza commented on #3989
@tseaver Ok, thanks for the explanation. What about the `updated` property? It gets the time when the `update()` method is called, wouldn't be better to be the last_modified time?

[2018-02-28 10:37] hanzal commented on #4813
Having the same issue. any status on this?

[2018-02-28 11:55] ccurvey commented on #4813
I gave up on the Python libraries and just called the REST endpoint directly

    response = requests.post(
        url='https://translation.googleapis.com/language/translate/v2?key={}'.format(
            os.environ['TRANSLATION_API_KEY']),
        json={
            'q': list_of_things_to_translate,
            'target': 'en',
            'format': 'text'
            },
        headers={"Content

[2018-02-28 16:28] Etendard7 commented on #4912
Thanks.
I ended up using one subscription for every worker so that they all receive every message. I made them ignore the messages not addressed to them using a message attribute containing the target worker id.
It's not optimal but it works for me.

[2018-02-28 16:54] jonparrott commented on #4912
@Etendard7 glad you found a workaround.

After discussing internally, the behavior that the Python client does is preferred. If we were to nack overflow messages, we increase the likelihood of duplicate messages.

I'm closing this for now, but feel free to continue discussing.

[2018-02-28 16:54] #4912 closed

[2018-02-28 18:10] jonparrott commented on #4941
That's pretty dated, I'm curious if it's an issue with older openssls. Can you try updating it?

[2018-02-28 19:02] VikramTiwari commented on #4864
Is there any update from the backend team? Should I open an issue on [issuetracker](https://issuetracker.google.com/issues)?

[2018-02-28 19:53] #4813 closed

[2018-02-28 19:58] jonparrott commented on #4943
All release PRs merged.

[2018-02-28 19:58] jonparrott commented on #4943
First group of packages has been tagged, awaiting Circle to publish them before tagging the second group.

[2018-02-28 20:07] tswast commented on #4864
Yeah, it sounds like there is some infrastructure that limits the length which is slightly out of the BigQuery team's control. The client will have to workaround this by asking for all columns (empty selectedFields) when listing query results.

[2018-02-28 20:08] jonparrott commented on #4943
Second group tagged.

[2018-02-28 20:23] jonparrott commented on #4943
Second group published, tagging third group

[2018-02-28 20:24] jonparrott commented on #4943
Third group tagged

[2018-02-28 21:55] #4943 closed

[2018-02-28 21:55] jonparrott commented on #4943
This is all done.

[2018-02-28 22:11] jadekler opened #4978 "pubsub: memory leak"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")

Pubsub

2. OS type and version

alpine 3.6

3. Python version and virtual environment information `python --version`

3.6.1

4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

[code]

5. Stacktrace if available
6. Steps to reproduce

Stick code provided below on a k8s

[2018-02-28 22:52] jonparrott commented on #4978
@jadekler your sample keeps a dictionary of seen messages - it expect this is at least contributing to memory growth. Can you remove it or use a bloom filter instead?

[2018-02-28 22:53] jadekler commented on #4978
I bet you're right! I shall do so, sorry for the dummy mistake :)

[2018-02-28 22:54] jadekler commented on #4978
Ill remove it entirely in fact; it's testing something out of scope for this issue.

[2018-02-28 22:54] jonparrott commented on #4978
It's fine, I don't think it's the sole cause but definitely will contribute to it.

[2018-02-28 23:06] dmcgrath commented on #4925
@natasha-aleksandrova -> I would recommend running the version of the test I posted with my results, then comparing the numbers. I strongly suspect you'll see they then match.

[2018-02-28 23:22] jonparrott commented on #4942
0.28.1 has been released, enjoy!

[2018-02-28 23:22] #4942 closed

[2018-02-28 23:27] natasha-aleksandrova commented on #4925
These are results:

[code]

`print("avg duration (n=100) : ", (end - start)/100)` <----- you are dividing it by a 100 :)

so in reality your results are 200ms which is pretty slow, my avg above 500ms and some as bad as 900ms.

[2018-03-01 00:03] natasha-aleksandrova commented on #4925
just to close on this sounds like:
* because we are running in west and the datastore is in central there is about 50ms extra latency
*  cold cache aspect is most likely affecting our performance

[2018-03-01 04:23] chaitanyanettem commented on #4941
Sure, I'll try that.

[2018-03-01 04:44] chaitanyanettem commented on #4941
So, I'm running all of this on a GCP compute instance with the Ubuntu 16.04 image that Google provides. I tried to upgrade by -

[code]

I just got this message - `openssl is already the newest version (1.0.2g-1ubuntu4.10).`

[2018-03-01 06:37] david-gang commented on #4925
@natasha-aleksandrova What i learned from using datastore, is to use google cloud sql if i don't need to store a huge amount of data and have a psychic amount of queries per second. google cloud sql is just awesome plus the fact that you are not locked in a propietary solution which you cannot change afterwards and can use cool third party libraries like sql alchemy.
If i would have one table whic

[2018-03-01 06:41] natasha-aleksandrova commented on #4925
@david-gang thanks for sharing your insights! it is certainly helpful, and we are looking at trying out the cloud sql.

[2018-03-01 09:09] ekhaydarov commented on #4737
@opyate looks like youre mixing old and new pubsub. according to latest docs you need to actually call `.open()` after instantiating your subscriber
https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/index.html

[2018-03-01 09:19] opyate commented on #4737
@ekhaydarov the API must've changed since my comment. Thanks for flagging up the changes.

[2018-03-01 12:02] Ayushverma8 commented on #3884
Please specify for CentOS as well . :-(

[2018-03-01 15:33] Marvincorp opened #4982 "Language API not returning begin_offset for entities found."
# Begin offset empty
Language API not returning begin_offset for entities found.

**python version**
Python 3.6.2

**google-cloud-language version:**
Name: google-cloud-language
Version: 1.0.1
Summary: Google Cloud Natural Language API client library
Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
Author: Google LLC
Author-email: googleapis-packages@google.com
License: Apache

[2018-03-01 17:31] john1625b commented on #4141
Hi, this thread seems to solve the issue based on message size, however in the documentation, it seems like there is a way to batch it by byte size:

https://cloud.google.com/pubsub/docs/publisher#batching-configuration

what object would I pass in the batch configuration object. thanks

[2018-03-01 17:43] chemelnucfin commented on #4141
Hello, I'm currently working out the problem that you can batch larger sizes than the specified byte parameter.  But this would be the setting you would use.

batch_settings = pubsub_v1.types.BatchSettings(
        max_bytes=1024,  # One kilobyte
    )

[2018-03-02 12:41] ph1l337 opened #4984 "PubSub: Batching / Duplicates issue when consuming messages sequentially."
## Env Info
python 3.5.3
google-cloud-pubsub==0.32.0
macOS 10.13.3

## Problem
I’m currently dealing with a weird issue on PubSub. In the video in the link there are two subscribers that process messages from the same subscription sequentially with thread.Lock and flow_control = 1. The ack deadline of the topic is 10s.

With a publisher I first send 300 messages (just the number i) to the topic in

[2018-03-02 14:36] jadekler commented on #4978
Happy to report that using grpcio (1.10.0rc2), I'm not seeing any memory leaks.

Full list of deps:

google-api-core (0.1.4)
google-auth (1.4.1)
google-cloud-pubsub (0.32.0)
googleapis-common-protos (1.5.3)
grpc-google-iam-v1 (0.11.4)
grpcio (1.10.0rc2)

<img width="691" alt="screen shot 2018-03-02 at 7 34 49 am" src="https://user-images.githubusercontent.com/3584893/36903935-6544c9fc-1dec-11e8-9f

[2018-03-02 14:36] #4978 closed

[2018-03-02 15:08] chemelnucfin commented on #4984
@jonparrott this might be related to part of the code on what I'm working on.  Let's coordinate if you will be working on this also.  But I'll be also taking a look at the issue.

[2018-03-02 21:20] fengli79 opened #4985 "Please do not use private gRPC API."
Here's an example:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/api_core/google/api_core/grpc_helpers.py#L84

_next is not a public API of gRPC python lib, it's subjected to change and there's no guarantee to support it.

[2018-03-02 21:21] jonparrott commented on #4985
This is intentional.

[2018-03-02 21:21] #4985 closed

[2018-03-02 21:25] scottingly commented on #4826
we updated to grpcio 1.9.1 almost 9 days ago and have not seen this happen since.  this is an unusually long period, it normally happens by a week.  not definitive yet, but this may have solved our issue.  will follow up after another week or so, by then I'll be convinced because this occurrence was quite regular.

[2018-03-02 21:42] fengli79 commented on #4985
@jonparrott Again, it's private API and subject to change, you are intentionally ask to be broken when using it.

[2018-03-03 02:04] jonparrott commented on #4826
@scottingly great to hear! Also, upgrading to 1.10.0rc2 should help with any memory issues per https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4978#issuecomment-369937321. I'm closing this for now but feel free to comment if this persists/re-appears in `1.10.0rc2`.

[2018-03-03 02:04] #4826 closed

[2018-03-03 02:06] jonparrott commented on #4737
The research in https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4978 was carried out on k8s. I'm closing this issue for now as not reproducable, but if it still appears when using grpcio 1.10.0rc2, let us know.

[2018-03-03 02:06] #4737 closed

[2018-03-03 02:06] jonparrott commented on #4939
@akmalhakimi1991 can you try using grpcio `1.10.0rc2`?

[2018-03-03 06:21] VikramTiwari commented on #4864
Hey @tswast Is there any way to get around this in the current version? I tried following your advice but getting errors.

Code:
[code]
Error: `'bool' object is not callable`

[2018-03-03 22:43] gcbirzan opened #4986 "Consider supporting alternatives to threads for concurrency"
Please, provide a way to use the pubsub library without having to spawn 5 threads.

[2018-03-05 05:45] jonparrott commented on #4986
@gcbirzan we did not make this decision lightly.

We picked threads because there are exactly two concurrency primitives available in Python  *2 and 3*: threads and processes. Processes are useful for dealing with CPU-bound tasks, whereas threads are useful for dealing with I/O bound tasks. All of our clients are I/O bound. With the additional context the grpcio uses threads by default and that th

[2018-03-05 14:56] PicardParis opened #4989 "Pub/Sub 0.32.0 | Exception "google.api_core.exceptions.Unknown: None Stream removed""
- Context
[code]

- Subscriber console | Fails w/ exception after a random time (from 15 min to 3 h)
[code]

- Publisher console | Completes as expected
[code]

- Initialization
  - GCP project `GOOGLE_CLOUD_PROJECT`
  - Pub/Sub API enabled
  - Existing topic `PUBSUB_TOPIC`
  - Environment variables `GOOGLE_CLOUD_PROJECT` & `PUBSUB_TOPIC`

- Subscriber sample code `<pubsub_subscribe.py>`
[code]

-

[2018-03-05 17:04] jonparrott commented on #4989
@PicardParis is this on Raspberry Pi?

[2018-03-05 18:03] #4793 closed

[2018-03-05 18:07] jonparrott commented on #4941
It seems like you will need to build openssl & python from source to confirm that that is the source of the problem, or try using a newer ubuntu or backports.

[2018-03-05 19:35] chemelnucfin commented on #4560
@dmcgrath Hi Dan, I saw your answer in #4925.  May I ask if you have any insights on this issue?

Thanks.

[2018-03-05 20:28] tswast commented on #4864
`job.destination` is only a `TableReference`, so `list_rows` will still try to use `selected_fields` as the schema.

I believe the following should work:

[code]

[2018-03-05 21:28] chemelnucfin commented on #3465
We have deprecated the gax library and retrying with api_core.  If this is still a problem with the latest versions, could you please open a new issue and reference this?

Thanks.

[2018-03-05 21:28] #3465 closed

[2018-03-06 00:47] chemelnucfin commented on #4982
Hello, could you try adding an encoding type to `analyze_entities`?

Otherwise, If EncodingType is not specified, encoding-dependent information (such as beginOffset) will be set at -1 from
[here](https://cloud.google.com/natural-language/docs/reference/rest/v1/EncodingType)

[2018-03-06 07:40] mdornseif commented on #1893
Might something like this be a stop-gap "solution":

[code]

Seems `pkg_resources.get_distribution()` currently is only used as an convoluted way to get the current version and most libraries should also work without that.

[2018-03-06 16:59] PicardParis commented on #4989
With version 0.32.0, for the time being, I have only produced this exact issue on Win10 but previously had the same issues on both envs. I'm currently updating a Raspberry Pi and will run the same subscriber code...

[2018-03-06 18:30] jadekler commented on #4989
Hi @PicardParis. Could you provide your `pip list`?

[2018-03-06 20:02] sebbov opened #4992 "Logging: deadlock when using the subprocess module after cloud logging init"
Repro instructions:

Within a `docker run -it ubuntu`, run:

[code]

I tried to minimize the repro from a much larger production script.  Removing some of the included steps (e.g. the basic config call) will prevent this from occurring in my experience (though that may just be timing induced).

Once the `python3 /tmp/repro.py` loop runs, it will typically hang at:
[code]
within a few seconds (firs

[2018-03-06 20:15] jonparrott commented on #4992
@nathanielmanistaatgoogle @kpayson64 @mehrdada Can you take a look at this? It seems to be related to grpc and `fork`.

[2018-03-06 20:59] rvandegrift opened #4993 "Resource Manager: please support organizations and folders"
There doesn't seem to be support for organization or folder information in `google-cloud-resource-manager`.

[2018-03-06 21:13] gcbirzan opened #4994 "pubsub API: allow registering a callback for batches of messages"
The old API allowed you to operate on batches of messages. Sometimes, this is advantageous as you can aggregate other calls. With the current API, this is non trivial.

So, I think (if the underlying code supports it), adding, either a parameter to open(), or another function open_many() that'll always return a list (there could be a limit in the flow control), even if it's just with one item woul

[2018-03-06 21:27] jonparrott commented on #4994
/cc @kir-titievsky @lukesneeringer

Curious to your thoughts on this. It would actually be relatively trivial to implement.

[2018-03-06 21:55] srini100 commented on #4992
As such fork is [not supported ](https://github.com/grpc/grpc/issues/13998#issuecomment-358525938)in gRPC. If this is fork/exec scenario then [workaround here](https://github.com/grpc/grpc/issues/14056) might unblock the user until the issue is fixed.

[2018-03-06 22:27] sebbov commented on #4992
As mentioned above, this is using the standard Python (3.5 in this case, so no need for `subprocess32` afaik) `subprocess` , which I assume does a `fork` followed by an `exec` in the child, in my repro case executing `/bin/true`.

That issue is right on that this is very obscure to users.   I am not using grpc directly, I am adding cloud logging to an existing application which uses a standard pyt

[2018-03-06 22:52] lukesneeringer commented on #4994
We could just have a `batch=True` in the `open` method on the subscription that fired the callback once per message or in the chunk.

I would be less enthusiastic about implementing our own batches (e.g. "call the callback once you get 50 messages but not before"), but sending whatever comes through the stream at a time is wholly reasonable.

[2018-03-06 23:09] kir-titievsky commented on #4994
With Luke on the they why do this and how to if we do. The “why not” here
is that we now need to explain to users how batching works (why certain
messages are delivered in batches but not others). And this is not
straightforward. Maybe that’s OK.

More interesting is that we may now need to think of other language APIs.

What about a separate utility batching class (the one Luke does not want to
i

[2018-03-06 23:18] srini100 commented on #4992
Agreed. Users shouldn't have to be aware of this. Some explanation [here](https://github.com/grpc/grpc/issues/14056#issuecomment-370962039).

[2018-03-07 00:24] chemelnucfin commented on #4396
@tswast what do you want to do with the kwargs?

[2018-03-07 00:28] tswast commented on #4396
This request is to make the constructors of objects in the library take in kwargs to set additional properties at initialization time.

Example:

[code]

would be equivalent to

[code]

[2018-03-07 04:01] chemelnucfin commented on #4928
@jonparrott Is there anything we can do on our end or would this a backend issue?  Who would I talk to for that?

[2018-03-07 04:05] chemelnucfin commented on #4001
looks like an old issue since it references gax.  Closing.  Reopen or file a new issue if necessary.

[2018-03-07 04:05] #4001 closed

[2018-03-07 04:20] akmalhakimi1991 commented on #4939
@jonparrott Here's summary of what I had tested:

0.32.1 | 1.10.0rc2 | leak
0.29.0 | 1.10.0rc2 | leak
0.32.1 | 1.9.1 | leak

Here's my pip freeze output:

asn1crypto==0.23.0
aspy.yaml==1.0.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.1
cachetools==2.0.1
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cheroot==6.0.0
CherryPy==11.2.0
click==6.7
cryptography==2.1.4
d

[2018-03-07 06:13] VikramTiwari commented on #4864
@tswast Seems like `result` is an `HTTPIterator`

[2018-03-07 10:30] gcbirzan commented on #4994
While I'm not 100% sure of how batched messages will come from streaming API, vs the old pull (where messages accumulate as you're processing), a best effort batching should at least alleviate _some_ of the issues, for high rate queues, and might even improve performance.

As far as documenting it, since I'm not familiar with the specifics, I cannot explain how it works, but just mentioning it's n

[2018-03-07 12:18] gcbirzan opened #5001 "pubsub subscriber client leaks memory"
On Linux, python 3.6 and 2.7, the subscriber is leaking memory. I've created the simplest publish/subscriber (https://gist.github.com/gcbirzan/b78c1db7a951f76ffe7acb0dfbf1bac7) and after running that for a while, memory grows. It does seem to stop at around 2GiB, but that might've just been me not being persistent enough.

While the leak isn't constant, it seems to have spikes, the memory usage do

[2018-03-07 16:31] tseaver commented on #4001
The (`latest` build](https://readthedocs.org/projects/google-cloud/builds/) is currently passing, but has only been doing so for the past week.

[2018-03-07 16:44] jonparrott commented on #4001
I did some tweaks to it in the last few weeks.

[2018-03-07 16:46] jonparrott commented on #5001
Thanks, @gcbirzan. Can you let us know the `pip freeze` output for both? Can you tell me which specific distribution and version you're on?

These memory leaks are getting more and more difficult to reproduce, which means we're actually making effort but there's still some edge cases to deal with.

[2018-03-07 16:52] jonparrott commented on #4994
To @kir-titievsky's point, we need to consider two separate approaches to this:

1. Simple - just remove the "send messages on at a time to the executor" behavior. We get a list of messages on every response from the server. We can just send those to your callback. Kir makes a great point that this is non-deterministic- we have no control over how many items the server sends. Your callback may get

[2018-03-07 17:01] tswast commented on #4864
In `0.29.0`? It looks like a `RowIterator` to me. https://github.com/GoogleCloudPlatform/google-cloud-python/blob/bigquery-0.29.0/bigquery/google/cloud/bigquery/client.py#L1256-L1264

[2018-03-07 17:24] jonparrott commented on #4928
@jerjou maybe?

[2018-03-07 17:48] gcbirzan commented on #5001
Python 3.6:

[code]

python 2.7:
[code]

I reproduced it on Debian Sid. I used a Stretch with just python 3.6 from Sid, will try later tonight with pyenv on Stretch.

[2018-03-07 18:24] PicardParis commented on #4989
I haven't been getting consistent results between Windows & Raspbian (didn't get the exception so far) and didn't keep the original environments. Here is the log extract I kept on Windows:
[code]

Right now, on the Pi, if I query outdated modules, I get this
[code]
Might it be the issue?

I'm changing the sample code to detect potentially missed msgs and will run new tests.

[2018-03-07 18:27] jadekler commented on #4989
Could you post the version of grpc you're using here?

[2018-03-07 18:28] jadekler commented on #4989
Also just to confirm, you're getting errors on the raspberry pi but not on windows?

[2018-03-07 18:57] gcbirzan commented on #5001
I tried just now on a Stretch (the one in GCP), just apt-get install virtualenvwrapper build-essentials python-dev tmux on it, same problem.

[2018-03-07 21:26] tseaver opened #5003 "Flaky BigQuery system tests"
E.g., see:

https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/5869

[2018-03-07 21:29] tseaver commented on #5003
@tswast Any clue why the back-end is failing this way?

[2018-03-07 21:36] tswast commented on #5003
[code]

Looks like it's having trouble cleaning up some Cloud Storage files it created. @frankyn is it expected that creating a file in GCS and then deleting it shortly after could be flakey?

The `test_load_table_from_uri_w_autodetect_schema_then_get_job` test in question is here:

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/fefac75cf728599b6a8a05812337847ef595b705/bigquery/te

[2018-03-07 21:49] chemelnucfin commented on #4366
Since this is from the gax library, and I do not see any `test_list_traces_no_pages` in the current library, I'm going to close this.  I have also looked at `test_list_traces` and `test_list_traces_exception` and see nothing similar.

Please open a new issue if this comes up again.

[2018-03-07 21:49] #4366 closed

[2018-03-07 22:56] PicardParis commented on #4989
grpc info

[code]

Tests so far

Date | Publisher | Suscriber | Suscriber Power | Suscriber Network | Result | Repro#
-- | -- | -- | -- | -- | -- | --
2018-03-05 | Win10 | =Publisher | AC | Ethernet | google.api_core.exceptions | x2
2018-03-07 | Win10 | Raspbian | AC | Wi-Fi | no exception but doubt on # msgs received | x1
2018-03-07 | Win10 | Raspbian | AC | Ethernet | no exception but doubt on #

[2018-03-07 23:07] jadekler commented on #4989
Thanks. I'll see if I can snag a windows laptop and repro. Let me know if you find out anything else - and again, thanks for helping debug.

[2018-03-07 23:20] PicardParis commented on #4989
Sure. Inconsistent results are pretty annoying.

[2018-03-07 23:51] kparaju commented on #3736
I had to uninstall requests 2.18.4 (pip uninstall requests) and install 2.18.0 (pip install requests==2.18.0) to make it work

[2018-03-08 04:09] tswast commented on #5003
Thanks Frank. Yeah, I think it is doing backoff, but perhaps there was just a random failure for this run.

Still, I think the best action here is to delete this particular test since it is redundant with the code snippet test (which also runs as a system test).

[2018-03-08 07:03] chemelnucfin commented on #5003
Made PR #5004 to remove this test.  Is it likely other tests will act the same way?

[2018-03-08 14:22] sohamsil commented on #3212
Hello Everyone,

I hope someone found a solution for this issue,

I am still getting the error

`google.gax.errors.GaxError: GaxError(RPC failed, caused by <_Rendezvous of RPC that terminated with (StatusCode.PERMISSION_DENIED, Google Cloud Speech API has not been used in project cloud-devshell-dev before or it is disabled. Enable it by
visiting https://console.developers.google.com/apis/api/speec

[2018-03-08 15:53] chemelnucfin commented on #3212
@sohamsil There are a couple of things you can try.  First of all, we deprecated the gax library.  Try upgrading the package by using `pip install -U google-cloud-speech`.

Second, you can go to `console.cloud.google.com` and the `api and services` tab and enable the speech api.

Please let us know if you need more assistance or this has solved your problem.

[2018-03-08 16:26] tswast commented on #5003
Thanks @chemelnucfin. I'm slowly adding more "load from GCS" snippets. As I add them, I'll try to remember to remove the corresponding redundant system tests.

[2018-03-08 17:05] sohamsil commented on #3212
@chemelnucfin Thanks for the prompt reply.

I checked the speech API in `console.cloud.google.com` and it was enabled.
Ran `pip install -U google-cloud-speech` successfully.

But still getting the same error and also it gave me 403 request error.

`google.api_core.exceptions.PermissionDenied: 403 Request had insufficient authentication scopes.`

Kindly look into this.

[2018-03-08 17:09] liam-j-bennett opened #5005 "PubSub: Sub client not retrieving message again if it doesn't ack"
I'm experiencing an issue where messages are not retrieved again when a message is not ack'ed.

In the below code, the self.sub is opened and the main thread sleeps. When the process method fails, the message is not ack'ed and I am expecting it to be resent in the ack deadline of the subscription (10 seconds this case). However, the message is never receieved again in this subclient, unless I comp

[2018-03-08 17:19] chemelnucfin opened #5006 "Speech: 403 Request had insufficient authentication scopes."
See #3212 for more information

Getting the same error and also it gave me 403 request error.
`google.api_core.exceptions.PermissionDenied: 403 Request had insufficient authentication scopes.`

Note: Google SPeech API is enabled and I am using Python 3.6

Here is the code, thank you for your help.
[code]

[2018-03-08 17:38] jonparrott commented on #5006
You can't use the drive scope to access Cloud Speech, you need to use to google-cloud-platform scope, or just leave scope unspecified and the library will handle it.

[2018-03-08 17:38] #5006 closed

[2018-03-08 20:22] srini100 commented on #4992
This [issue](https://github.com/grpc/grpc/issues/14258) is tracking the deadlock bug in gRPC.

[2018-03-08 21:51] jonparrott commented on #5005
@kir-titievsky is this expected behavior?

I have a hunch that because we manage leasing messages, a top-level exception means that the client holds onto the message indefinitely.

[2018-03-08 22:13] kir-titievsky commented on #5005
Right -- since neither the ack nor a nack would ever get called.  If you restart the client, there is no longer anything extending the leases and messages are eventually re-delivered.

So the "solution" is to:
<pre>
        if random.randint(0, 1): # Some unforeseen error
            message.nack()
            raise ValueError
</pre>

Is there a better way to handle errors more generically?  Meani

[2018-03-08 22:29] jonparrott commented on #5005
Yeah we can actually wrap the user callback in something like this:

[code]

If you think that's the right behavior?

[2018-03-08 22:32] kir-titievsky commented on #5005
I do.  Otherwise messages get stuck.  I wonder if we need to do something like this in other client libraries.  @mdietz94, thoughts?

[2018-03-08 22:34] mdietz94 commented on #5005
I believe we already do this, certainly it's how we did things in Java.

[2018-03-08 23:35] jonparrott commented on #4267
Okay, here's my proposal for removing `google.cloud.core.client` and somewhat addressing #4840.

First, we will no longer have base classes for providing the credentials,
project, and _http properties. Each client will have to implement this.
We could do an abstract base class, but I feel it's overkill (I can be
convinced otherwise).

We'll add an api_core helper for getting credentials and a proj

[2018-03-09 02:05] chemelnucfin commented on #4896
@jonparrott so this should be closed also?

[2018-03-09 04:50] jonparrott commented on #4896
Yes

On Thu, Mar 8, 2018, 6:05 PM chemelnucfin <notifications@github.com> wrote:

[2018-03-09 06:33] chemelnucfin commented on #4896
Closed via chat due to being unnecessary.

[2018-03-09 06:33] #4896 closed

[2018-03-09 07:34] scottingly commented on #4826
this has reappeared, this time we can reproduce it more quickly.  while we haven't seen it on the nodes that run for each hour anymore (48 per day, two for each hour, workers use pubsub to communicate status back to a controller), we have just reprocessed a full day, and 5 out of the 48 workers failed with "Stream removed."   I run the same backfill several times with the same input data and 48 wo

[2018-03-09 07:52] chemelnucfin commented on #5006
@sohamsil I'm not sure if you saw this, but this was the answer to your question.  Please feel free to ask if you have any more questions.

[2018-03-09 09:27] sohamsil commented on #5006
@jonparrott @chemelnucfin Thanks a lot for the help. Removing the scope helped and the code executes fine on my machine.

However, when I tried to run the same on Cloudshell it gave an `invalid_scope` error. I believe it requires the google-cloud-platform scope, correct me if I am wrong.
I tried the scope as `https://www.googleapis.com/auth/cloud-platform` but it's showing `invalid_scope`.

Note:

[2018-03-09 10:11] bialoglowy commented on #5001
We appear to have the same issue with growing high memory usage on GCP App Engine, Python 3.6. BTW does your GCP API dashboard also reports large number of 503 errors in google.pubsub.v1.Subscriber.StreamingPull method? I don't know how to resolve it and why it's even requested in first place.

[2018-03-09 10:14] liam-j-bennett commented on #5005
Thanks for the quick responses.

Adding something like:
[code]
Into the subclient by wrapping the callback, fixes the issue of redelivery on exception. However, the redelivery also doesn't occur if `message.ack()` isn't called at all, or isn't called for > messageAckTime.

If the change the processor to:
[code]
The messages are not redelivered in that sleep time, which is something (maybe incorrec

[2018-03-09 10:40] gcbirzan commented on #5001
I just checked now, we don't have any 503s. But, either the dashboard is very slow to pick up new topics, or it just isn't recording my current test: http://i.imgur.com/7mhtRWC.png vs http://i.imgur.com/YdHzDSD.png

[2018-03-09 14:59] mdietz94 commented on #5005
You should not expect that. Potentially we want a max processing time after
which we stop mod asking in case we leak the ack handler, but that should
be several hours. We have users that take an hour to process each message.

On Fri, Mar 9, 2018, 5:15 AM liam-j-bennett <notifications@github.com>
wrote:

[2018-03-09 17:08] jonparrott commented on #5005
Yeah, so `messageAckTime` doesn't necessary mean that it will be redelivered after that. The subscriber "leases" the messages it receives and calls modify ack deadline on them in the background.

So it seems there's two actionable items here:

1. We need to wrap the callback in an error handler to nack them.
2. We need to have some sort of overall deadline where we nack messages instead of leasing

[2018-03-09 17:10] jonparrott commented on #5006
@sohamsil you should use a virtualenv. See https://cloud.google.com/python/setup#installing_and_using_virtualenv

[2018-03-09 17:11] jonparrott commented on #4826
Thanks, @scottingly. Instead of re-opening this, I'm going to track this over at #4989.

/cc @kir-titievsky

[2018-03-09 17:15] mdietz94 commented on #5005
Yes. 2 should definitely be configurable, with a default maybe of 2 hours

On Fri, Mar 9, 2018, 12:08 PM Jon Wayne Parrott <notifications@github.com>
wrote:

[2018-03-09 17:35] chemelnucfin commented on #4927
@abhibeta Currently it seems that the speech api only handles one channel

See [channel](https://cloud.google.com/speech/docs/support)
`The Cloud Speech API service currently supports only one audio channel.`

Also here for some [best practices.](https://cloud.google.com/speech/docs/best-practices)

Just out of curiousity, could you merge the audio channels before processing?  (I'm not sure if thi

[2018-03-09 17:35] #4927 closed

[2018-03-09 17:44] kir-titievsky commented on #5005
amen to all, except that it's not obvious to me how I change the max lease
deadline.

On Fri, Mar 9, 2018 at 12:15 PM Max Dietz <notifications@github.com> wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-03-09 17:52] jonparrott commented on #5005
I'm guessing it makes the most sense to add yet another flow control setting.

[2018-03-09 18:25] andrewsmartin opened #5008 "Container: equivalent for `gcloud container clusters get-credentials`?"
I did a quick search through the container api code and couldn't find anything similar. I'm working on an internal python library and currently have to shell out to `gcloud` in order to create kubeconfig files for cluster authentication, but it would be great to be able to do this from within the python API. Is this possible / on the roadmap?

[2018-03-09 18:29] scottingly commented on #4826
ok, the important thing to note is regression with same version, implying an external factor.  also note, we aren't using windows like in the referenced ticket, just ubuntu 16.

we just did another backfill test with grpcio-1.10.0 and this time 11 out of 48 workers got "stream removed" disconnects.  so it's increasing frequency, last few days when I was testing there were only max of 5/48.

[2018-03-09 18:31] tseaver commented on #4267
I'm fine with the notion overall.

One note:  the "construct an HTTP object" bit needs to account for the possibility that the user passed in `_http`.

[2018-03-09 18:36] jadekler commented on #4989
Hi @PicardParis. Thanks for this repro, much appreciated. I wasn't able to get a windows laptop yesterday, and am out of the office today. However! We have two raspberry pi's rush ordered _and_ should have a windows laptop on monday, so hopefully I can start digging into this soon. Sorry for the delay, hope we can figure out what's going on soon!

[2018-03-09 18:52] jonparrott commented on #4267
Good catch. Anything else I might have missed?

[2018-03-09 18:55] jonparrott commented on #4826
Our current theory is that this is the serving frontend closing the stream on the server side. We're doing some investigation to make sure we can safely retry this before committing and fix.

[2018-03-09 19:06] jadekler commented on #4989
In the meantime @PicardParis , if you could try running your app with `GRPC_VERBOSITY=debug` and `GRPC_TRACE=all`, I'd really love to see a log of what's happening (gist.github.com or whatever works).

[2018-03-09 19:21] abhibeta commented on #4927
I did that I had 2 channel video departed them and got response .
But then relation ship , sequence of conversation is broken.
Anyways I am doing few more excitements will keep u posted.

On Fri, Mar 9, 2018 at 9:35 PM chemelnucfin <notifications@github.com>
wrote:

[2018-03-09 19:26] jonparrott commented on #5008
According to the API if you just `get` the cluster it should return the `master_auth` property. Does that have what you need?

[2018-03-09 20:18] mtabasko opened #5010 "Monitoring TimeSeries.Query docs: broken links"
Today (9 March), I received a notice from a link checker that the file at [http://gcloud-python.readthedocs.io/en/latest/monitoring/query.html](http://gcloud-python.readthedocs.io/en/latest/monitoring/query.html) had two bad links to the Stackdriver Monitoring API reference.

Here are two warnings I found:

W,https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list#Aligner,h

[2018-03-09 20:20] jonparrott commented on #5010
@chemelnucfin can you take care of this?

[2018-03-09 22:18] #5010 closed

[2018-03-09 23:58] #4829 closed

[2018-03-10 03:34] sohamsil commented on #5006
@jonparrott It worked in the cloud shell as well. You're right! I had missed out on creating a 'virtualenv' while following the tutorials before this. Thank you :)

[2018-03-10 11:51] vinitpayal opened #5012 "ImportError: No module named moves in importing google.cloud.datastore"
# Exception getting generated on import google.cloud.datastore

**Versions** :-

- **OS** : mac(10.13.3) & ubuntu(16.04) [tried on both]
- **Python** : 2.7.14
- **six** : 1.9.0 & 1.11.0(tried on both)
- **google-cloud-datastore** : 1.6.0
- **virtualenv** : 15.1.0

**Stacktrace**  :

 File "/opt/tribes-backend/denv/local/lib/python2.7/site-packages/google/cloud/datastore/helpers.py", line 27, in <m

[2018-03-10 23:39] raybotha opened #5013 "PubSub client isn't thread-safe"
Using Python 3.6 and green threads with eventlet, the client for PubSub gives SSL errors like below when called from another thread.
[code]

[2018-03-12 10:24] gcbirzan opened #5014 "pubsub publisher sometimes fails with StatusCode.UNAUTHENTICATED, Deadline Exceeded"
[code]
[code]
and 1.7.0 grpcio.

There was #4676, but that was closed because it's on appengine. We're on GKE, using a service account with a JSON file.

Our API dashboard shows no errors. To give you an idea of the frequency: http://i.imgur.com/IGkOo1o.png (no idea how to count log entries, not gonna do it by hand) this is for an average of 10 messages per minute (almost none outside of US busine

[2018-03-12 16:52] andrewsmartin commented on #5008
@jonparrott it does, and I can use that to generate the kube config entry some other way, but I'm wondering if this API has this functionality built-in somewhere (just like how `gcloud container clusters get-credentials` adds a kube config entry).

[2018-03-12 17:05] PicardParis commented on #4989
The error could be reproduced with traces. See [gist](https://gist.github.com/PicardParis/3112de307cd2c369fdfcaa3155b7c59e).

[2018-03-12 17:28] itafras opened #5015 "AttributeError: 'unicode' object has no attribute 'before_request'"
I am trying to connect to the cloud Natural Language API.

However when  Iuse analyze_sentiment() it returns the following error:
`AttributeError: 'unicode' object has no attribute 'before_request'
`

I am trying to connect by passing the credentials explicitly such as described here:
https://googlecloudplatform.github.io/google-cloud-python/latest/language/usage.html#authentication-and-configurat

[2018-03-12 17:31] tseaver commented on #5012
@jonparrott ISTM that this must be a GAE issue -- if so, please close.

[2018-03-12 17:41] tseaver commented on #5003
@tswast The bigquery system tests are running *very* slowly today (4 - 4.5 minutes each) today, which is causing unrelated PRs to be marked as failing (CI times the jobs out).  Is there a known issue on the back-end we should be concerned about?

[2018-03-12 17:49] tswast commented on #5003
I'm not seeing anything on https://status.cloud.google.com/ or in the internal outage tracker. That extra slowness does sound like something could be going on, though.

[2018-03-12 17:50] jonparrott commented on #5008
Not built-in, but it seems that the cloud SDK just generates the kube config from that same endpoint, so it should be easily possible in your code.

Closing for now.

[2018-03-12 17:50] #5008 closed

[2018-03-12 17:56] tseaver opened #5016 "get_target_packages: master tip baseline for branch builds is broken"
@jonparrott, @lukesneeringer, @chemelnucfin

Changes to non-dependencies on the `master` branch *after* the branch point for a pushed branch should *not* trigger system test builds for those packages:  any failures in those packages are irrelevant to review of a PR:  we are wasting both CI time (a shared resource across all our repos) and the branch owner's time (waiting for irrelevant tests to ru

[2018-03-12 18:03] jonparrott commented on #4989
Okay, after some discussion the proper thing for us to do here is retry on `UNKNOWN` status.

[2018-03-12 18:04] jonparrott commented on #5012
Yep.

@vinitpayal unfortunately these libraries are not yet supported on GAE standard. Please follow this bug for updates: #1893

[2018-03-12 18:04] #5012 closed

[2018-03-12 18:05] jonparrott commented on #5014
Hi @gcbirzan, it seems you're using an older client. Does this appear with the latest client?

[2018-03-12 18:09] jonparrott commented on #5013
I don't *think* this is an issue with this library, but rather that gRPC doesn't support gevent/greenlet and that I'm unsure of requests/urllib3's support.

Closing this in favor of https://github.com/grpc/grpc/issues/4629

[2018-03-12 18:09] #5013 closed

[2018-03-12 18:10] tseaver commented on #5015
@itafras The `credentials` argument you are passing to the `LanguageServiceClient` constructor is meant to be an instance of `google.auth.credentials.Credentials`.  Please see the [`google.auth` docs](https://google-auth.readthedocs.io/en/latest/user-guide.html#obtaining-credentials) for how to create that instance from the values in your mapping.

[2018-03-12 18:10] #5015 closed

[2018-03-12 18:25] chemelnucfin commented on #4982
Please let us know if you encounter any more problems.

[2018-03-12 18:25] #4982 closed

[2018-03-12 18:27] #4809 closed

[2018-03-12 19:00] gcbirzan opened #5017 "Every error that is not catchable by the user should be logged via the logging module"
Currently, at the very least helper threads for pubsub seem to not and they let the exception bubble up and get printed to stderr.

I think this is bad form, there's nothing _I_ can do to catch this error, but it'd be nice if I could get it logged in the format I want.

[2018-03-12 20:34] #5016 closed

[2018-03-12 22:12] jonparrott commented on #4992
Closing this as it's accurately tracked upstream in grpc.

[2018-03-12 22:12] #4992 closed

[2018-03-12 23:52] hiranya911 opened #5023 "Strange Firestore Installation Issue in Compute Engine"
I encountered the following strange behavior on a Google Compute Engine node (in a Python 3 virtualenv sandbox).

I installed the `firebase-admin` module which has a dependency on `google-cloud-firestore`:

[code]

As you can see at the end it has installed `google-cloud-firestore-0.29.0` package. But then I got the following error, trying to use it:

[code]

Installing `google-cloud-firestore` se

[2018-03-12 23:59] chemelnucfin commented on #5023
Hello, firebase_admin is a separate library, please direct the question here:
[firebase_admin](https://github.com/firebase/firebase-admin-python)

Please let us know if you encounter any more problems.

[2018-03-13 01:10] hiranya911 commented on #5023
I am the maintainer of the `firebase_admin` library. I'd like to know why the `google-cloud-firestore` won't install when we have declared the dependency as follows in `setup.py`:

[code]

Please reopen.

[2018-03-13 01:32] jonparrott commented on #5023
This is very likely a bug in `pip`.

I can reproduce this pretty readily. I *believe* it's because you depend on `google-cloud-firestore` and `google-cloud-storage`. It happens because they declare their dependency on `google-api-core` slightly differently.

`google-cloud-firestore` requires `google-api-core[grpc]<2.0.0dev,>=0.1.1`.
`google-cloud-storage` requires `google-api-core<2.0.0dev,>=0.1.1

[2018-03-13 01:37] jonparrott commented on #5023
I think this is the same as https://github.com/pypa/pip/issues/4957

@pradyunsg I'm happy to write a failing test case for pip that demonstrates this.

[2018-03-13 01:42] chemelnucfin commented on #5023
@hiranya911 My apologies.

[2018-03-13 05:18] pradyunsg commented on #5023
Thanks for the mention @jonparrott! Please do so and file an issue over at pradyunsg/zazo. :)

It is basically pypa/pip#4957 which is a specific case of pypa/pip#988.

---

You'll have to work around this by actually pinning your dependencies in the top-level requirements that `pip install` gets or using something like pip-tools (or `pipenv`?) on top that adds proper dependency resolution.

[2018-03-13 06:06] hiranya911 commented on #5023
Thanks @jonparrott and @chemelnucfin for looking into this. Should `firebase-admin` take a direct dependency on `google-api-core[grpc]<2.0.0dev,>=0.1.1` (as a temp workaround at least)?

[2018-03-13 06:14] pradyunsg commented on #5023
Yes -- you'll have to keep this in sync with whatever google-cloud-storage and google-cloud-firestore does though.

[2018-03-13 13:03] DrValani commented on #3602
Is this released in google-cloud-bigquery==0.31.0. If so then, I am still getting this error.

[2018-03-13 16:02] jonparrott commented on #5023
@hiranya911, I agree with @pradyunsg: take a dependency on `google-api-core[grpc]`. Drop your direct dependency on requests and google-auth.

Thanks, @pradyunsg for your insight! I'll try to write a failing test case sometime this week, time permitting. :)

[2018-03-13 16:14] #4989 closed

[2018-03-13 16:31] #5005 closed

[2018-03-13 17:20] tswast commented on #4396
I've done some more thought on this one. I'm closing this as it conflicts with the Python philosophy that there should only be one way to do things.

[2018-03-13 17:20] #4396 closed

[2018-03-13 17:27] tswast commented on #4622
My thought on this: we should change how we convert to/from the [Load/Query/Copy/Extract]JobConfig classes' API representation.

The current way is to return the `job.configuration.[load|query|copy|extract]` dictionary

[code]

Currently the Job class add the [load|query|copy|extract] key (plus moves up shared options such as `dryRun` to the `configuration` dictionary. I propose we return the whol

[2018-03-13 17:29] jonparrott commented on #4622
Can we make that change without breaking the interface? If not, we should do that ASAP

[2018-03-13 17:34] tswast commented on #4622
There's gonna be some slight breakage that I know will bubble up to `pandas-gbq`. That's why it's on my mind today.

Yep, let's do it ASAP. Starting on it now.

[2018-03-13 17:56] tcroiset opened #5024 "logging: RequestMiddleware not compatible with Django 2"
@liyanhui1228 we really appreciated the trace context feature to group logs by request.
Unfortunately, it looks broken with Django 2.

Django 1.10 introduced a new middleware style ( https://docs.djangoproject.com/en/1.10/releases/1.10/#new-style-middleware )

The old style, used by google.cloud.logging.handlers.middleware.request.RequestMiddleware, support was removed with Django 2.

[2018-03-13 18:04] jonparrott commented on #5024
@liyanhui1228 Can you take this on?

[2018-03-13 23:26] tswast commented on #4622
Got the LoadJob done. In the branch at https://github.com/tswast/google-cloud-python/tree/issue-4622-bq-api-repr

I think it'll make sense to get the other job types done before mailing the PR.

[2018-03-14 03:04] tyggna opened #5026 "ValueError thrown in django view"
This happens on 0.29.0, and 0.30.1
Steps to reproduce:  the following code works within the django shell environment, and in a python prompt and from a command-line script, but gives the traceback below when encapsulated in a view and run through the dev server (python manage.py runserver), or through uwsgi
<pre>
image_file = open(tmpfile, 'rb')
img = types.Image(content=bytes(image_file.read()))

[2018-03-14 16:35] tswast opened #5027 "Docs Feature Request: Render types in Google/Napoleon-Style property docstrings as links."
See: https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/reference.html#google.cloud.bigquery.job.CopyJob.destination_encryption_configuration

This renders like:

for the docstring at

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e0f0cd621a713a8351e47e99ef92753e3a1fa020/bigquery/google/cloud/bigquery/job.py#L1113-L1124

This appears to follow the Google-st

[2018-03-14 16:36] jonparrott commented on #5027
We can do this with `sphinx-docstring-typing`, but the last time I tried to turn it on here it exploded. Granted, that's my fault because I wrote `sphinx-docstring-typing`.

[2018-03-14 16:46] tseaver opened #5028 "Release spanner 1.2.0"
Batch query support is merged.

Note that `development_status` is still showing beta.

[2018-03-14 16:49] jonparrott commented on #5028
On it.

[2018-03-14 16:50] jonparrott commented on #5028
Need to release api_core first: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5029

[2018-03-14 16:52] jonparrott commented on #5028
Updated api-core version: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5030

[2018-03-14 16:54] jonparrott commented on #5028
Fixed release status in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5031

[2018-03-14 17:55] #5028 closed

[2018-03-14 18:09] jonparrott commented on #5001
@gcbirzan if you set your flow control to something reasonable, do you still see this leak? Does it slow the leak down?

For example:
[code]

[2018-03-14 19:04] tseaver commented on #5026
Just a stab in the dark:  can you try not constructing a `Feature` message, and instead pass the features as mappings?  E.g.:

[code]

[2018-03-14 19:10] scottingly commented on #4826
so far, can confim that 1367d7b seems to fix our issue.  no longer getting "Stream removed" errors on backfill and have restored our ingest process to normal operation.  thanks, looking forward to release.

[2018-03-14 20:12] tmillecam commented on #5026
I tried it both ways, the same error is thrown.  It seems to be isolated to the image area.  It also doesn't matter if I manually extend out that to {'image' : {'content' : image}}  The same error is thrown

[2018-03-14 22:24] mgoddard-pivotal opened #5038 "Storage: cannot import name AnonymousCredentials"
Deploying an app we've been running for about a year now, and we noticed the API has changed, and we're seeing the error below at startup.  The environment is Cloud Foundry, running on GCP.  Here are the details:

* OS: `Ubuntu 14.04.5 LTS`
* Python 2.7.6
* requirements.txt is as follows:
[code]
Here is the stack trace (this is from an app deployed to Cloud Foundry):
[code]

[2018-03-14 22:35] EmilianoCervantes opened #5039 "'_load_credentials_from_file' not finding file on Windows"
I followed the Sentiment Analysis tutorial: https://cloud.google.com/natural-language/docs/sentiment-tutorial

I set up a Cloud Natural Language API project, the credentials.

Next I run "pip install --upgrade virtualenv" and finally I installed Google Cloud Client Library for Python with "pip install --upgrade google-cloud-language".

I copy-pasted the first code """Demonstrates how to make a sim

[2018-03-14 23:41] EmilianoCervantes commented on #5039
I think is more of a problem with Visual Studio Code. Originally I ran it with the debug function of VSC, now I'm trying with the cmd and it executes the sentiment-analysis.py.
(Although I have now this issue, but I don't know if this is the place to put it jeje)
![image](https://user-images.githubusercontent.com/11279332/37436700-cfa43fdc-27ae-11e8-8bc8-4b4472fac16f.png)

[2018-03-15 00:06] EmilianoCervantes commented on #5039
About that, I discovered it was because I was missing the argument.

[2018-03-15 00:06] EmilianoCervantes commented on #5039
I think is more of a problem with Visual Studio Code. Originally I ran it with the debug function of VSC, now I'm trying with the cmd and it executes the sentiment-analysis.py.

[2018-03-15 00:10] EmilianoCervantes commented on #5039
But now that I run my app.

I opened a terminal, then run "gcloud auth activate-service-account --key-file="C:\...\credentialsFile.json"
Next "set GOOGLE_APPLICATION_CREDENTIALS="C:\...\credentialsFile.json"
And then I ran the app but got this new issue:

File "C:\Users\ovman\anaconda3\lib\site-packages\google\auth\_default.py", line 67, in _load_credentials_from_file
    'File {} was not found.'.

[2018-03-15 00:32] chemelnucfin commented on #5039
Does this help?
[credentials from file](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4787#issuecomment-360347124)

[2018-03-15 01:26] tseaver commented on #5026
At the point where the exception is raised, can you get a `pdb.pm` or `pdb.set_trace` and print out the `requests`?  E.g.:

[code]

[2018-03-15 01:33] tseaver commented on #5038
You are running with a too-old version of `google-auth` for the version you have of `google-cloud-storage`:  it needs at least version `1.2.0` of `google-auth`.

[2018-03-15 01:33] #5038 closed

[2018-03-15 04:19] akmalhakimi1991 opened #5041 "[speech] Random crash with message "assertion failed: pthread_mutex_lock(mu) == 0""
Hi. I have a program that use `arecord `module to stream audio to google-cloud-speech API. The module is called by `os.popen`. Sometime, the program crash with this error:  `assertion failed: pthread_mutex_lock(mu) == 0`. It happened randomly and I didn't notice any pattern. I run a stress test on the program without google-cloud-speech and it didn't happen.

Note that, previously `arecord `module

[2018-03-15 04:28] tmillecam commented on #5026
I'll abbreviate it.  The type(requests[0]['image']) is marked as <class google.cloud.vision_v1.types.Image'>
<pre>
[{u'image' : '\n\xa5\x80\x08\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x00\x00\x01 . . .'\x1c\xe3\x8fuH\xb1\x91\xf9S\xb7\x14\xce;\x04u\x04\xb5\x7f\xff\xd9'
 , 'features' : [type: SAFE_SEARCH_DETECTION
max_results: 8
, type: LABEL_DETECTION
max_results: 8
]}]
</pre>

[2018-03-15 09:11] mgoddard-pivotal commented on #5038
Many thanks, @tseaver

[2018-03-15 10:06] ajscarvalho opened #5042 "Storage: MemoryError When uploading file bigger than available memory"
When uploading a 5GB file, the process dies with MemoryError
It happens on latest up-to-date Windows (Python 3.6) and on a cloud hosted linux VM (Python 3.5.2)

google-cloud v 1.8.0

StackTrace:

[code]

Steps to reproduce:
Upload a big file below the unit's available memory, it takes some time, presumably loading the whole file from disk, and then dies.

Code example

[code]

[2018-03-15 10:43] vinitpayal commented on #5012
@jonparrott If I have understood correct you are saying we can't use datastore in GAE standard because I am not including `six` it's being used by datastore. And that's the origin of exception.

Am I understanding something wrong here  ?

[2018-03-15 12:18] hawksight opened #5043 "container: container_v1 not importable - dependency issue?"
Hello, I've been trying to install and play with `google-cloud-container` library but I am having issues following the quickstart as described [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b11b3a12a22bfe8a7844a56a655e24f450c9012c/container/README.rst).

Every time I try to: `from google.cloud import container_v1`
I get: `DistributionNotFound: The 'google-api-core' distribu

[2018-03-15 15:47] jonparrott commented on #5012
@vinitpayal it's more than just that, there are several things we need to do to make these libraries work on standard. Please keep an eye on #1893 for more updates.

[2018-03-15 15:48] jonparrott commented on #4826
Great news. :)

[2018-03-15 15:58] erlendcognite opened #5044 "Pubsub. Unexpected behaviour. Pubsub client does not pull messages it has previously processed without acking."
macOS High Sierra 10.13.3.
Python 3.6.2.
google-cloud-core 0.28.1.

[code]

When I run this code, my client pulls messages on the queue once. It then does not ack the message, and the message returns to the queue after 10 seconds as expected. After a message returns to the queue, the client does however not pull the message again. If I explicitly nack the message, it does pull the message from the

[2018-03-15 17:04] Cory-Simon commented on #5017
We handle this by explicitly adding a handler to the root logger.

https://googlecloudplatform.github.io/google-cloud-python/latest/logging/usage.html#integration-with-python-logging-module

[2018-03-15 17:30] tseaver commented on #5026
Trying to reproduce.  Here is my script:

[code]

Running it from a virtualenv with `google.cloud.vision` installed, and the appropriate environment variables for credentials, yields:

[code]

Stepping into the call, the difference for me in the request is that the `mapping` key has a `content` subkey, e.g.:

[code]

[2018-03-15 17:35] tseaver commented on #5042
For files to large for your machine's RAM, you need to set `chunk_size` on the blob, which will trigger [resumable upload](https://cloud.google.com/storage/docs/json_api/v1/how-tos/resumable-upload) semantics.

[2018-03-15 17:35] #5042 closed

[2018-03-15 17:47] tseaver commented on #5043
Hmm, trying to reproduce (I don't use `activate` because it can lead to PEBCAK errors):

[code]

Likewise under `ipython`:

[code]

[2018-03-15 18:06] hawksight commented on #5043
I've just tryed again following the above - worked.
Also then went back to my venv -  worked.
Apologies for raising the issue, it must have been a PEBCAK issue.

But thanks for the tip, I'll not be using activate so much.

[2018-03-15 18:13] tseaver commented on #4986
@chemelnucfin This is not a bug report, but a feature request.  I therefore removed it from the "P2 Bugs" project.

[2018-03-15 18:14] tseaver commented on #5043
I'm glad you are able to use the library!

[2018-03-15 18:14] #5043 closed

[2018-03-15 18:17] tseaver commented on #4941
@chemelnucfin I've recategorized this as a question (the problem appears to be in the OP's environment, not our library) and removed it from the "P2 Bugs" project.

[2018-03-15 18:32] tseaver commented on #4935
Seems weird that the back-end doesn't expose a `createdTimestamp` metadata field for instances:  that would help us with cleanup.

We could roll our own using `Instance.labels`, but then we would need to add support for that field.

[2018-03-15 18:47] tseaver commented on #5003
FWIW, I've just cleaned out a bunch of GCS buckets with `bq-` prefixes, presumably orphaned somehow from Bigquery system tests.

[2018-03-15 19:24] tseaver commented on #5001
Even without the `flow_control` setting, I am not able tor reproduce the memory growth using a [modified form of the OP's gist](https://gist.github.com/tseaver/14c35fba15e9b439c8d3ed5613f9acb3) (setting up the topic and subscription within the script), running on the current tip.

[2018-03-15 19:24] jonparrott commented on #5001
Working with the grpc team we've noticed that the leak is not deterministic. We're still investigating on our side.

[2018-03-15 20:06] joshburkart opened #5046 "Allowing filtering/formatting of Stackdriver logs"
Hello,

I'm using the [instructions here](https://googlecloudplatform.github.io/google-cloud-python/latest/logging/usage.html#integration-with-python-logging-module) to send Python `logging` module logs to Stackdriver. Thanks for making this so easy! However, doing this naively seems to make all logs from potentially many jobs/VMs/etc. get merged together in the Stackdriver UI. When I filter to e.

[2018-03-15 21:40] #4932 closed

[2018-03-15 23:00] chemelnucfin commented on #4924
Looks like it's fixed here in the autogen, so I'm going to close this issue.
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5049/files/8fd05cf67ae92412aeba8dcc8129add2eafeb52d#diff-29df13b604302b1bdff4f81b6d6ac496R28

[2018-03-15 23:00] #4924 closed

[2018-03-16 06:33] vinitpayal commented on #1893
@jonparrott Thanks for pointing here but I am still not sure about #5012's relation to this issue as in my case package `six` is being imported successfully but showing exception while importing `http_client` by `from six.moves import http_client`.

[2018-03-16 09:27] chemelnucfin commented on #4939
@akmalhakimi1991 Hello, so it seems like if we fix this issue, #5041 will become a non-issue, is that correct?

Not sure what to make of this yet.
https://gist.github.com/chemelnucfin/f46bf482743452b4723de718519863b5

Let's see if mprof gets me something.

[2018-03-16 11:12] robhaswell commented on #5044
Is the client library extending the deadline on non-acked/nacked messages? If so, this sounds like expected behaviour and should just be documented.

[2018-03-16 14:32] riklaunim opened #5052 "Migrating google-cloud-pubsub based code from 0.25 to 0.32"
I have some code that uses google-cloud-pubsub in version 0.25 and is run on Kubernetes and minikube locally. I'm trying to update the code to be compatible with latest package version  but I have some problems with configuration when running in minikube.

Old version created the pubsub client in development like this:
[code]
But in 0.32 PublisherClient nor SubscriberClient don't have those kwargs

[2018-03-16 15:11] hawksight opened #5053 "container: operation status inconsistent"
When using the API for list operations, the status is returning differently when you full output and when you specifically select the status field.

See examples below bullets.

1. `google-cloud-container`
2. OS type and version - MacOS High Sierra - 10.13.3
3. Python 3.6.4 - venv
4.  `pip3 freeze`
[code]
5. Stacktrace if available - N/A
6. Steps to reproduce - See 7
7. Code example
[code]

### Ex

[2018-03-16 16:15] tseaver commented on #5053
What you are seeing here is "normal" for protobuf messages:  the first example prints the whole `Operation` protobuf, and uses its `__repr__`, which applies the decoding of the integer status using the enum.  The second pulls out the integer value.

[2018-03-16 16:15] #5053 closed

[2018-03-16 16:26] tseaver commented on #5052
Both the [publisher client](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/cd067f6325dc0ef575d12e7003f48a14eb0e4583/pubsub/google/cloud/pubsub_v1/publisher/client.py#L66) and the [subscriber client](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/cd067f6325dc0ef575d12e7003f48a14eb0e4583/pubsub/google/cloud/pubsub_v1/subscriber/client.py#L59) should bypass credentia

[2018-03-16 16:28] tseaver commented on #5046
@liyanhui1228 Can you point @joshburkart in the right direction?

[2018-03-16 16:42] chemelnucfin commented on #5053
As for the enum mapping, that can be found here
[enums](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/speech-0.32.1/container/google/cloud/container_v1/gapic/enums.py#L70)

The link points to an irrelevant tag, but it's an old one that won't get changed.

[2018-03-16 17:14] chemelnucfin commented on #4939
As a possible workaround, would moving `client=speech.SpeechClient()` outside of your `while True` loop work?

[2018-03-16 17:53] schmidt-sebastian commented on #4378
@chemelnucfin Is there any work remaining on this, now that https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4392 is closed?

[2018-03-16 18:03] chemelnucfin commented on #4378
@schmidt-sebastian Could you please review #4466?
This can be closed after that is merged.  Thanks.

[2018-03-16 18:06] tseaver commented on #4864
@tswast Is this issue blocked on anything in the backend?

[2018-03-16 18:08] tswast commented on #4864
Nope, at least not anything that is feasible to get fixed in the backend. This is something we'll have to do ourselves. Basically in the function that gets the query results call `list_rows` in the way I do https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4864#issuecomment-370553770 instead of using the `selected_fields` option. (Potentially only when there are a large number of c

[2018-03-16 18:11] jmwoloso opened #5055 "'Table.create' w/ WRITE_TRUNCATE issue"
1. `BigQuery`
2. `Linux Mint 18.3`
3. `Python 3.6.3`
4. ```
    Name: google-cloud-bigquery
    Version: 0.28.0
    Summary: Python Client for Google BigQuery
    Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
    Author: Google Cloud Platform
    Author-email: googleapis-publisher@google.com
    License: Apache 2.0
    Location: /home/jason/virtualenvs/ds/lib/python3.6/site

[2018-03-16 18:12] hawksight commented on #5053
Thanks for the pointers, that was a learning experience for me.

Just a handy helper for anyone else... if you want to get the status, here's an example that worked for me:
[code]

[2018-03-16 18:20] chemelnucfin commented on #4939
never mind, it still seems to be leaking.

[2018-03-16 18:26] tseaver commented on #4608
@chemelnucfin I'm not sure why this is marked as `status: blocked`.

[2018-03-16 18:35] tseaver commented on #4656
@jonparrott I'm not sure if it is you or @lukesneeringer who needs to do the non-re-generation of the GAPIC source from the protos.

[2018-03-16 18:39] tseaver commented on #4753
FWIW, UTF-8 is actually mandated for *all* JSON in [RFC 8259](https://tools.ietf.org/html/rfc8259#section-8.1).

[2018-03-16 19:45] tswast commented on #4753
With Python 3 one needs to use BytesIO for uploads instead of StringIO and explicitly set the encoding to `utf-8` when you encode your JSON string to get bytes. The `pandas-gbq` library also encountered this issue and resolved it in https://github.com/pydata/pandas-gbq/pull/108

[2018-03-16 19:46] tswast commented on #4753
I think we can close this as "intended behavior", since we expect bytes for file uploads.

[2018-03-16 19:46] #4753 closed

[2018-03-16 19:46] jadekler opened #5058 "pubsub: long-running app falls over after couple minutes"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

pubsub

2. OS type and version

`alpine:3.6` docker image

3. Python version and virtual environment information `python --version`

3.6.1

4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

[code]

5. Stacktrace if

[2018-03-16 19:47] jadekler commented on #5058
ping @jonparrott @lukesneeringer

[2018-03-16 19:49] jadekler commented on #5058
Redeploying (no code/docker changes) to see if I can replicate.

[2018-03-16 19:55] jadekler commented on #5058
I can confirm that this happens within a couple of minutes of starting. It has happened twice in a row now.

[2018-03-16 20:42] jonparrott commented on #5058
@jadekler can you try with #5054?

[2018-03-16 21:00] tmillecam commented on #5026
Yeah, as I mentioned, it works fine as a script, and will even work inside of a python manage.py shell for django, the problem only exists inside of a django view running in a wsgi environment.

[2018-03-16 21:03] jadekler commented on #5058
Hey @jonparrott - I probably won't be able to get to today, but the provided repro code above should be complete if you want to give it a spin. Give a shout if you have troubles, I'll asynchronously check back in on this issue.

[2018-03-16 21:23] tseaver commented on #5055
@jmwoloso Two issues:

- Your code is blowing up in the call to `bq_client.create_table` with a `409 Confict` error, because the table already exists.  Unlike with jobs which implicitly create tables, there is no `WRITE_DISPOSITION` configuration for the call.  Just wrap the call in  a `try: ... except: pass` block, e.g.:

[code]

Further down, you configure the query job with an invalid string co

[2018-03-16 21:23] #5055 closed

[2018-03-16 21:35] tseaver commented on #4807
PR #4979 moved that class into API core, so we should be able to fix this issue using it.

[2018-03-16 23:48] jmwoloso commented on #5055
@tseaver Hello and thank you for the response. I get the following traceback when I use the `WRITE_TRUNCATE` constant.
[code]

[2018-03-16 23:57] chemelnucfin commented on #5055
@jmwoloso Could you try upgrading bigquery to 0.31.0 via some sort of `pip install -U`?

[2018-03-17 00:42] akmalhakimi1991 commented on #4939
@chemelnucfin I'm not really sure if this issue is related to #5041. I can't reproduce it so it's hard to say. All I know is, my google search for that error message brings me to GRPCIO

[2018-03-17 01:25] tseaver commented on #5055
@chemelnucfin Looks like those constants were added to the top-level package after `bigquery-0.31.0` was released (and we have no release which includes them).

@jmwoloso You could import them via the `jobs` module, e.g.:

[code]

[2018-03-17 01:57] jmwoloso commented on #5055
updated to `0.31.0`:

[code]
then:

[code]
results in:

[code]

[2018-03-17 02:01] jmwoloso commented on #5055
@tseaver I figured it out. The import statement should be:

[code]
or it can be accessed with my original import via:

[code]

ditto for `priority`

thanks again for your help. all works now.

[2018-03-17 11:16] ppawiggers commented on #5058
I can confirm this bug, I experience the same issue. First couple of minutes it runs fine, then it crashes.

[2018-03-18 01:56] yiga2 opened #5067 "BigQuery - filter job list by time window"
Please add `minCreationTime` and `maxCreationTime` optional parameters to `list_jobs`, which are supported by the API.

[2018-03-18 20:41] vsoch commented on #3474
Will this ever be extended to include storage of the objects themselves? Or (to Branch out a little more distance) to the deployment of an instance on Google Compute Engine? The use case is a project space that offers a general service that brings up instances that then save results to storage. It would be amazing if a user could simply run the tool and provide their credentials without needing to

[2018-03-18 21:05] drsxr commented on #2990
I ran into this issue today when upgrading pip from 9.0.1 to 9.0.2 .   I don't believe it is a setuptools issue as I upgraded to 39.0.0 .   Eventually nothing would install.  I went into pip and bypassed line 2121? (the keysorter line) and it works, although I have no idea if this will be stable.

Disappointing that this would be an issue 2 years out for a package as important as pip.

[2018-03-19 01:43] bits01 opened #5068 "storage: blob.rewrite() does not work with batches"
google-cloud-storage v1.8.0

Not sure whether rewrites are supposed to work when batched, but it would be nice and useful if they did, otherwise there's no efficient way to copy lots of blobs across buckets in different locations or with different encryption keys.

Example:
[code]
Traceback:
[code]

[2018-03-19 09:30] gcbirzan commented on #5014
Sorry for the delay, the issue seems to come and go randomly. We've updated to `0.32.1` on the 14th and the issue remains: http://i.imgur.com/8AoDhiz.png . While I cannot really confirm it happens less because of the update since after I reported the issue we had a few days with no errors without updating, we do seem to get less of these nowadays.

However, there's nothing I can correlate these er

[2018-03-19 09:46] gcbirzan commented on #5017
I think you misunderstood the problem. Firstly, we do have logging set up. Everything above INFO on the root logger goes through our handler. And, yet, we end up errors in the logs that don't have a jsonPayload and none of our metadata, only a textPayload. The errrors I'm talking about look like this:

[code]
and

[code]

As you see, the last one bubbles up all the way to the thread and gets handl

[2018-03-19 09:53] gcbirzan commented on #5001
I saw no difference using any flow control settings, from all of them (except memory) set to 10k and all set to 1. While it might take a while for the memory usage to start growing, after ~20 minutes they all get to over 1GB. We're, however, on grpcio `1.7.0`, but if this was reproduced with newer versions I guess there's no point in upgrading, since those upgrades are generally very painful.

My

[2018-03-19 10:00] gcbirzan commented on #5052
As a note, everything after `0.28.0` requires GRPC so those arguments don't make any sense. But, the emulator (if recent enough, I guess?) should work with the new version.

[2018-03-19 10:05] gcbirzan commented on #5044
Probably a duplicate of #5005.

[2018-03-19 11:45] riklaunim commented on #5052
I've did some debugging and the PUBSUB_EMULATOR_HOST was set within the with block, but wasn't set when the client was actually used - when I fixed that it works.

Notices I can't do future.result() due to NotImplemented exception.

[2018-03-19 15:28] chemelnucfin commented on #5044
Yes, are you able to try upgrading the pubsub client?

[2018-03-19 16:06] jonparrott commented on #5014
Does it happen in an interval of about an hour?

(I wonder if #5054 fixes this)

[2018-03-19 17:49] tseaver commented on #5044
@chemelnucfin That fix is not yet released.

@jonparrott Is it worth releasing a `pubsub-0.32.2` right now, even though we are chasing other pubsub issues?

@erlendcognite Could you try updating to the head?  E.g., in your virtualenv:

[code]

[2018-03-19 18:00] jonparrott commented on #5044
No, I want to wait for #5054 before I cut a new release. @lukesneeringer is testing it now.

[2018-03-19 18:00] jonparrott commented on #5044
@tseaver that pip command won't work.

[2018-03-19 18:04] tseaver commented on #5068
I'm afraid that the current batch implementation does not deal well with *any* methods whose return values depend on the response payload (as opposed to just being able to update the relevant blobs / buckets from those responses when the batch completes).

Adding support for such methods would be a *large* undertaking.

[2018-03-19 18:07] bits01 commented on #5068
Could the issue be left open and marked as a future enhancement request?

[2018-03-19 18:11] chemelnucfin commented on #5068
@bits01 I have added this issue to our [feature request project](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-8278375)

[2018-03-19 18:14] tseaver commented on #5044
@jonparrott Ugh, sorry about that!

@erlendcognite The corrected command line:

[code]

[2018-03-19 18:16] jonparrott commented on #5044
Does that even work? That'll just install the umbrella package from source, not necessarily the real packages from source, maybe:

[code]

[2018-03-19 18:24] bits01 commented on #5068
Thank you. Should the issue be re-opened then? It's currently marked `closed`.

[2018-03-19 19:31] stianlagstad commented on #5044
@robhaswell: I'm fairly certain the deadline was not exceeded in @erlendcognite's case. (Answering as his colleague.)

[2018-03-19 19:48] lukesneeringer commented on #5058
I am working on reproducing this with a #5054 fork, _hopefully_ to help establish that it works. :-)

[2018-03-19 19:54] ye commented on #4929
Also, the before version query.rows is a simple Python nested tuple, which is easy to compare and to remove duplicates (by calling `set()`) but the new version (after converting the iterator to a list) is returning a tuple of `google.cloud.bigquery._helpers.Row` objects, which isn't hashable and calling them on `set()` will yield a `TypeError: unhashable type: 'Row'"` exception. I understand the r

[2018-03-19 19:56] lukesneeringer commented on #5058
@jadekler Do I need to do anything other than `docker run [image]` and wait?

[2018-03-19 20:16] crwilcox commented on #4940
@akmalhakimi1991, I just tried this with a recording of just 'no' and it seems to output correctly. I ran https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe.py as follows
`
$ python transcribe.py "no.wav"
Transcript: no
`

[2018-03-19 20:17] tswast commented on #4929
@ye Pull requests welcome. :-) There's definitely precedent for adding methods to the Row class. For example, https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4393 makes it so that the Row class acts more like a dictionary. Since I'd expect rows not to be mutable, I think it would make sense for them to be hashable.

[2018-03-19 20:30] bmabey commented on #4864
The code snippet provided by @tswast works with `0.31.0` with the slight modification that the `retry` parameter of `list_rows` should not be a `bool`, but rather a `google.api_core.retry.Retry` object. For example:
[code]

[2018-03-19 20:35] tswast commented on #4864
Thanks @bmabey, I've updated the snippet.

If anyone wants to tackle making the actual fix. All that needs to be done is to take the workaround and apply it in the `result()` function for `QueryJob`. Currently:

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/00b61876e18b155f14a8aa35080b8b02814c04a5/bigquery/google/cloud/bigquery/job.py#L2117-L2120

[2018-03-19 20:44] #4622 closed

[2018-03-19 23:17] jonparrott commented on #5058
you shouldn't need to.

On Mon, Mar 19, 2018 at 12:56 PM Luke Sneeringer <notifications@github.com>
wrote:

[2018-03-20 04:14] VikramTiwari commented on #4864
Haven't tested but let me know if that works. @tswast @bmabey

[2018-03-20 04:32] yiga2 commented on #4658
@adityagupta104 In the meantime, you can use

`job_config._properties['timePartitioning'] = {'type': 'DAY', 'field': 'yourfield'}`

[2018-03-20 05:53] frankyn commented on #3474
Hi @vsoch, thanks for reaching out! Could you provide more context around

I didn't quite understand the use-case. If you provide more information that would be helpful as well.

Thank you!

[2018-03-20 07:08] akmalhakimi1991 commented on #4940
@crwilcox It didn't happen all the time. Maybe it happens in 5 out of 20 times. Maybe you can have 20 different "no" recording and run the test again.

[2018-03-20 10:19] riklaunim commented on #5052
pubsub is working locally after updates aside of subscriptions callbacks. `future = subscription.open(callback)` returns a Future that is `.running()` for a moment. Callback doesn't seems to be called while using `future.result()` throws `google.api_core.exceptions.MethodNotImplemented: 501 Method not found: google.pubsub.v1.Subscriber/StreamingPull` which I found to be described at: https://githu

[2018-03-20 11:28] jadekler commented on #5058
Hi @lukesneeringer - as @jonparrott mentioned, this occurs to me within in the first few minutes. I just double checked, and can confirm.

ps sorry for the very late reply!

[2018-03-20 11:41] vsoch commented on #3474
Hey @frankyn sure thing! Right now with requester pays, let's say that I have a project space bucket called BlueBucket. BlueBucket is tied to a web service where people can browse and download their favorite color files. I put an awesome file there, RedFile, and then [per the documentation](https://cloud.google.com/storage/docs/requester-pays) if I turn on requester pays, some of the requesters pa

[2018-03-20 11:45] gcbirzan commented on #5014
It doesn't. Over the past week we had it happen twice. Once started on the 15th at 18:07 UTC and happened again at 18:41 UTC (so just twice). The second started on the 16th at 14:00 UTC and continued until 17:51 UTC, with about 25 occurrences. During that interval, our single worker pod had it happen three times. 14:39:25, 17:37:59, and 16:09:36.

Between us initiating the publish and the error we

[2018-03-20 14:27] joshburkart commented on #5046
I figured this out (I think) -- I now make calls to the [metadata endpoint](https://cloud.google.com/compute/docs/storing-retrieving-metadata) to determine info about the current VM, then pass these as labels when making logging handlers. Rough code snippet in case it's useful to someone:

[code]

(I think this should be added to the documentation or something, though...)

[2018-03-20 15:56] jonparrott commented on #5014
Ah I see. This is on the publisher side of things. Hrm.

[2018-03-20 15:58] jonparrott commented on #5052
It seems the emulator doesn't support streaming pull.

[2018-03-20 16:34] Lawouach commented on #5058
I am noticing the same issue here as well.

[2018-03-20 16:42] gcbirzan commented on #5014
Yup. Sorry, I thought starting the ticket name with 'pubsub publisher' gave that away. :)

Not sure how to categorize this ticket. The failures are so rare that one could say we should build our system around handling these failures, but give the architecture of the client that's a bit awkward. Also, since getting the control back is hard, I was hoping that at least the client would take care of s

[2018-03-20 16:45] jonparrott commented on #5014
Do *do* retry, this is just one of the errors we don't retry on (`UNAUTHENTICATED` should be a terminal state).

[2018-03-20 17:00] Lawouach commented on #5058
Trying that PR, I don't see the error anymore. At least, in the past, it was fairly quick to be triggered. I don't know if this is the appropriate fix but it seems to help @jonparrott :)

[2018-03-20 17:04] jonparrott commented on #5058
That's great news. @lukesneeringer, what do you think about getting that merged? :)

[2018-03-20 17:12] riklaunim commented on #5052
Yep, emulator was quite old as the docker image wasn't versioned in any way. Bumping to 2018.02 solved that problem. Moving forward :)

[2018-03-20 17:16] Lawouach commented on #5058
Out of curiosity, what's the release process like? Just to know if I will have to depend on a commit from this repo (once it's merged) or hope for a fast release? :)

[2018-03-20 17:17] jonparrott commented on #5058
I want to cut a new release after that PR is merged. Should be relatively short.

[2018-03-20 17:18] Lawouach commented on #5058
Wow! Awesome :) Thank you! :)

[2018-03-20 17:21] lukesneeringer commented on #5058
I also ran it for multiple hours with no issues. Let's get it merged.

[2018-03-20 18:06] jonparrott commented on #4774
closed by #5021

[2018-03-20 18:06] #4774 closed

[2018-03-20 18:09] jonparrott commented on #4984
This is likely due to message hoarding. @ph1l337 can you try doing this with flow_control's max_messages set to 100?

Note that each subscriber will *always* get around 100 messages at a time, regardless of if `max_messages` is less than that due to how the server batches messages. `max_messages` determines how small the local backlog needs to be before getting more messages from the server.

[2018-03-20 18:13] jonparrott commented on #5044
This is related (and somewhat duplicative of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5005).

Basically, not acking a message doesn't automatically nack it. The subscriber will actually keep leasing the message indefinitely (with a caveat, see below). You *must* call ack or nack.

We introduced `flow_control.max_lease_duration` (https://github.com/GoogleCloudPlatform/googl

[2018-03-20 18:13] #5044 closed

[2018-03-20 18:13] jonparrott commented on #5052
Cool, it seems we can close this. Let me know if there's anything else to be done.

[2018-03-20 18:13] #5052 closed

[2018-03-20 18:25] stianlagstad commented on #5044
Thanks @jonparrott! That's the kind of flag we need :)

[2018-03-20 18:25] gcbirzan commented on #5014
Well, yeah. But the fact that the error occurs is a bug, still.

[2018-03-20 19:05] jonparrott commented on #5014
Right yeah, no doubt. :)

[2018-03-20 19:23] chemelnucfin commented on #4378
Closed in #4392 and #4466.

[2018-03-20 19:23] #4378 closed

[2018-03-20 20:16] jonparrott opened #5076 "Storage unit tests are failing"
See https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.3262.release-pubsub-0.33.0/job/tdl50k699sixt1f2

[2018-03-20 20:50] chemelnucfin commented on #5076
on it.

[2018-03-20 20:59] chemelnucfin commented on #5076
how come this never triggered?
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/5953?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-20 21:04] theacodes opened #5083 "Re-do fix to run only affected systests on CircleCI"
It seems #5018 broke our tests, and now circle is skipping stuff.

See https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5079

[2018-03-20 21:42] abuayub commented on #3884
sudo apt-get install libmysqlclient-dev

[2018-03-21 05:17] akmalhakimi1991 opened #5086 "Speech: measure time between end of user speech and final results"
Is there a way to measure the time taken between the end of user speech and the time to get the final results? Right now what I'm doing is, I take the latest interim result timestamp as the "start time" and final result timestamp as the "end time". This works ok-ish if the interim result comes immediately after user speaks. However, the interim result might come a bit later. This made the result i

[2018-03-21 10:11] NuwanSameera opened #5087 "PubSub blocking consumer falls after several minutes"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
               pubsub
2. OS type and version
               launcher.gcr.io/google/python:latest

3. Python version and virtual environment information `python --version`
              Python 3.4.2

4. google-cloud-python version `pip show google-cloud`, `pip show g

[2018-03-21 14:49] ph1l337 commented on #4984
@jonparrott Thanks for commenting on this issue. Unfortunately changing to 100 messages makes it even worse. In that case *all* messages are processed more than once.

[2018-03-21 15:55] tswast commented on #4728
I broke the workaround at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4728#issuecomment-356857745 in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5036.

The way to workaround after that change is released will be
[code]

[2018-03-21 15:57] #4609 closed

[2018-03-21 16:22] family-guy opened #5088 "Storage - High Memory Usage (6-7GB) uploading large file compared to gsutil"
similar to https://github.com/GoogleCloudPlatform/google-cloud-node/issues/397 (the 'Shutting these off' link is unfortunately broken)
1.
Storage

2.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS
Release:	16.04
Codename:	xenial

`Linux guy-xps-13-9360 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

16GB RAM

3.
Python 3.6.4 :: Anaconda, Inc.

[2018-03-21 17:54] snehashirsat opened #5089 "BigQuery - AttributeError: 'module' object has no attribute 'SourceFormat'"
Hi, I am using BigQuery API : bigquery.SourceFormat.PARQUET to load parquet data from GCS to BigQuery table.

At line:
    job_config = bigquery.LoadJobConfig()
    job_config.source_format = bigquery.SourceFormat.PARQUET

it throws an error -
   AttributeError: 'module' object has no attribute 'SourceFormat'

Environment specs are here:
Python 2.7.10
Name: google-cloud
Version: 0.32.0
Summary: AP

[2018-03-21 18:56] chemelnucfin commented on #5089
@jonparrott so release-0.31.0 tag points to 0.28.1, I don't think I'll bother fixing that since when we have newer versions it won't be a big deal..
[rename tag](https://stackoverflow.com/questions/1028649/how-do-you-rename-a-git-tag)
71d4adb... Release 0.28.1 (#4953)

31.0 should be [here](https://github.com/GoogleCloudPlatform/google-cloud-python/commit/cd9b89ead0be95827c9eac5a9a8c5d8fdaee3cae)

[2018-03-21 18:57] #5076 closed

[2018-03-21 19:59] snehashirsat commented on #5089
already have google-cloud-bigquery version
`
Name: google-cloud-bigquery
Version: 0.31.0
Summary: Google BigQuery API client library
Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
Author: Google LLC
Author-email: googleapis-packages@google.com
`
will have to wait for 0.32.0

[2018-03-21 20:11] chemelnucfin commented on #5089
If you are only toying with it, you should be able to replace `bigquery.SourceFormat.PARQUET` with `'PARQUET'`.  See [here](https://github.com/GoogleCloudPlatform/google-cloud-python/commit/6e85c95ab9eb635a2f62f572c8bcbcee972155ba)

It is just a convenient alias, but we do suggest using the constant when it becomes available.

[2018-03-21 20:11] jonparrott commented on #5087
@NuwanSameera I believe this is solved by #5054 and should be in Pubsub `0.33.0`. Closing this for now assuming that this is the same issue. Let me know if you can reproduce on the latest version and we can re-open.

[2018-03-21 20:11] #5087 closed

[2018-03-21 20:12] gastlich commented on #2871
@linar-jether do you know if there is any other way to achieve what you have done in your code snippet? It's not working anymore, because of the changes in `reusable-media`, which expects to invoke `seek` on stream object

[2018-03-21 21:15] chemelnucfin commented on #5083
temporary fix in #5092

[2018-03-21 22:44] yiga2 opened #5093 "BigQuery: add destinationTableProperties to LoadJobConfig"
To catch up with https://issuetracker.google.com/issues/70117381

[2018-03-22 07:13] akmalhakimi1991 opened #5094 "Speech: long transcription times for non-English segments"
## In which file did you encounter the issue?

https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

## pip freeze output
altgraph==0.15
asn1crypto==0.23.0
aspy.yaml==1.0.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.1
cachetools==2.0.1
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
cheroot==6.0.0
C

[2018-03-22 07:55] linar-jether commented on #2871
@gastlich Yes, the snippet seems to be broken with the current version...

@dhermes, looks like a regression on recent versions

Haven't had the chance to use the [google-resumable-media](https://googlecloudplatform.github.io/google-resumable-media-python/latest/) library but it might provide the functionality to do streaming uploads.

Don't know the reason but our use case for streaming uploads s

[2018-03-22 12:07] gastlich commented on #2871
@linar-jether thanks for quick reply

I checked your code and it's working fine with requests `response.raw` object. I think what's happening here is, writing to `response.raw` doesn't move a position of cursor, so that the `upload_from_file` might start from the beginning - otherwise it complains with:

[code]

I still haven't solved my issue, because I'm writing into memory buffer `io.BytesIO`,

[2018-03-22 14:04] ZackKorman commented on #5001
I was having a similar issue with a pubsub subscriber. I updated to version 0.33.0 today and I no longer have the problem. I did not test this under controlled conditions, but I thought that I would mention it.

[2018-03-22 15:34] chemelnucfin opened #5095 "Bigquery: Snippets tests are timing out"
Seems like snippets time out (10 minutes), but they pass locally.

[2018-03-22 15:46] LaVieEnRoux opened #5096 "PubSub - Error message on subscription.close()"
Python version: 2.7.14
API Client version: 0.33.0

While closing a subscription, the following message is printed to stderr but no exception is thrown:

[code]

Recreated by creating a topic+subscription and running the following script:

[code]

[2018-03-22 17:36] jonparrott commented on #5096
Hrm, I haven't been able to reproduce this. Does this happen consistently for you?

[2018-03-22 18:16] jonparrott commented on #5096
Ah okay, I got it reproduced. Will investigate.

[2018-03-22 19:18] jonparrott commented on #5014
For my own reference - internal bug number for the upstream API issue is 76018588.

[2018-03-22 19:42] jonparrott commented on #5001
Thanks, @ZackKorman.

A (small) update here. @lukesneeringer is working with the gRPC team on this. They have identified at least one memory leak that may be the underlying cause here. Will update once that is fixed and published so that we can re-validate this issue.

[2018-03-22 19:44] jonparrott commented on #5023
Closing this for now, as we have no actionable items for this repository.

[2018-03-22 19:44] #5023 closed

[2018-03-22 19:54] #5096 closed

[2018-03-22 20:35] tswast commented on #4864
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5072. Should appear in the next release.

[2018-03-23 15:44] jonparrott commented on #5058
Can you expand thos exceptions so I can see the full traceback?

On Fri, Mar 23, 2018, 8:33 AM Jean de Klerk <notifications@github.com>
wrote:

[2018-03-23 15:48] jadekler commented on #5058
<img width="1570" alt="screen shot 2018-03-23 at 5 47 27 pm" src="https://user-images.githubusercontent.com/3584893/37839115-51c0c048-2ec2-11e8-8298-06598aa89790.png">

<img width="1569" alt="screen shot 2018-03-23 at 5 47 32 pm" src="https://user-images.githubusercontent.com/3584893/37839124-5940dfd8-2ec2-11e8-85c4-6ec07fa5ceda.png">

<img width="1577" alt="screen shot 2018-03-23 at 5 47 46 pm" s

[2018-03-23 16:02] jonparrott commented on #5058
Hrm, `Invalid Argument` is a new one. Does this happen immediately or after some time?

[2018-03-23 18:12] tswast commented on #5095
@chemelnucfin Do you know which test is timing out? Could we switch pytest to verbose mode for a bit to find out?

[2018-03-23 18:21] jonparrott opened #5103 "Subscriber can effectively deadlock itself when there are pending requests."
Due to emergent behavior between three different systems:

1. Re-establishing the stream on error.
2. Pausing the stream when over load.
3. Factoring request queue size in load.

The subscriber can deadlock itself if it tries to re-establish a stream while the stream is paused due to request pressure, for example:

[code]

The load is `1.67` because there are `167` requests which means the stream

[2018-03-23 18:31] chemelnucfin commented on #5095
I think it's the entire test taking too long.  The dots do output, so I don't think verbose mode would help.

The snippets test itself should finish within a reasonable time (comparable to the system tests on my machine)

[2018-03-23 19:43] tswast commented on #5095
I have run a [benchmark on the snippets to see how long each test is taking](https://stackoverflow.com/a/27899853/101923):

[code]

My project and the project used by CI probably has very many jobs, so the list call is taking a long time. I'll send a PR to update the snippet to only show the first N jobs.

[2018-03-23 19:53] tswast commented on #5095
Yeah, adding a `max_results` option to the `list_jobs` call helped a lot. No longer in the top 10 slowest tests.

[code]

PR to come soon.

[2018-03-23 20:45] tseaver opened #5106 "Release spanner-1.3.0"
The only real item is the new `COMMIT_TIMESTAMP` constant (PR #5102).

[2018-03-23 20:50] apekshithr commented on #5001
Is there an SLA or best practices that we can follow that tweaks the settings for best performance without hogging all the memory?

[2018-03-23 20:51] jonparrott commented on #5106
I am going to do this first thing on Monday morning. (No friday releases)

[2018-03-23 20:51] jonparrott commented on #5001
@apekshithr we're working on it. Nothing ready to share yet.

[2018-03-24 05:43] jadekler commented on #5058
~5m

[2018-03-24 21:12] yiga2 opened #5110 "BigQuery: add support for full job-level and config-level properties e.g. labels"
`client.load_table_from_uri` takes some job properties and `job.configuration.load` but none at `job.configuration` level like labels.
Request to either provide additional arguments to set any job or configuration properties.

This is valid for other `load` helper methods and other job type - extraction, copy, query

[2018-03-25 10:36] duyphuong13 opened #5111 "Excluded indexes from nested Array"
Hi team,
Currently I couldn't exclude indexs of properties inside array when using google-cloud-python

My model is quite complex,1 flow contains many flow childs and each child could contains other flow childs as well

Flow model:
[code]

Im trying to follow document to exclude indexs by several way but it didnt work.
[code]

Still get below error
`google.api_core.exceptions.BadRequest: 400 The v

[2018-03-25 16:19] chemelnucfin commented on #5111
Hello, it seems like from this:

[2018-03-25 16:35] chemelnucfin commented on #5111
Hello, it seems like [this](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1206)
is similar to your issue?  Could you reproduce the problem with the code sample there?

[2018-03-26 01:07] duyphuong13 commented on #5111
Thanks for your reply @chemelnucfin

I already read the issue about but it's apply for embedded entity.
My situation is array
I put  my sample code here
[code]

[2018-03-26 01:36] sungmoring commented on #1067
total_key = client.key('__Stat_Total__', 'total_entity_usage')
total_key = client.key('__Stat_Ns_Total__', 'total_entity_usage',
                       namespace='some-namespace')

How to do this in C# ?

[2018-03-26 03:27] chemelnucfin commented on #1067
Does this help?
[dotnet-docs-samples](https://github.com/GoogleCloudPlatform/dotnet-docs-samples/blob/master/datastore/api/TaskListTest/DatastoreTest.cs)

You might have better luck [here](https://github.com/GoogleCloudPlatform/google-cloud-dotnet)?

[2018-03-26 15:36] ph1l337 commented on #4984
I did try it with a new topic / subscription and it showed the same behavior.

[2018-03-26 16:13] #4864 closed

[2018-03-26 16:17] tseaver commented on #5026
@tmillecam One I can think to suggest is that the Django environment has a different version of `google-cloud-speech` installed.  Can you try running the script explicity with that version (skip and virtualenv activation, and use the full path to its python).

The other choice is that the Django environment is somehow wrapping / monkey-patching the speech library (which seems unlikely).

[2018-03-26 16:24] tseaver commented on #5088
For large file uploads, you need to set a chunk size on the blob, e.g.:

[code]

[2018-03-26 16:24] #5088 closed

[2018-03-26 16:26] #5095 closed

[2018-03-26 16:26] chemelnucfin commented on #5111
@tseaver @jonparrott so it seems like exclude_from_indexes does not propagate down to dictionaries inside a list.

Do we want the full path of exclude_from_indexes (as in splitting on dots or something) or does just the name of the index anywhere?
As in my first example, exclude `'long_text'` or `'long.long_text'` or `long[long_text]`, or something else?

[2018-03-26 16:27] tseaver commented on #5083
Tweaked after merge of #5092.

[2018-03-26 16:28] chemelnucfin commented on #5039
Hello, I'm going to close this issue.  If you are still encountering problems, please do let us know.

Thanks.

[2018-03-26 16:28] #5039 closed

[2018-03-26 17:31] tseaver commented on #5046
@liyanhui1228 I'm not sure where such an example should go:  who manages the snippets / examples used in the [cloud.google.com docs][https://cloud.google.com/logging/docs/]?

[2018-03-26 17:33] tseaver commented on #5089
Closing, given that the constant exists / will be available in the next release.

[2018-03-26 17:33] #5089 closed

[2018-03-26 18:23] jonparrott commented on #5058
I've yet to be able to reproduce the invalid argument thing. :/

[2018-03-26 19:46] #5103 closed

[2018-03-26 20:21] tswast opened #5117 "BigQuery: Add creationTime and expirationTime properties to TableListItem"
API reference: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables/list

The properties `creationTime` and `expirationTime` now appear in the API results for `list_tables()`. The `creationTime` properties is exposed as `Table.created`. A similar property needs to appear on `TableListItem`.

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/62740078538ea84167705c15bf109c1a

[2018-03-27 00:43] akmalhakimi1991 commented on #5094
But it didn't happen with iOS SDK

[2018-03-27 16:54] mmas commented on #3736
I downgraded `google-cloud-storage` to `1.6.0` too. So
[code]

[2018-03-27 20:02] pnovotnak opened #5120 "Container: NodeConfig has no "taints" field."
Today I tried to create a cluster with the following config:

[code]

Like so:

[code]

But I got the following error:

[code]

Searching the codebase here, I get no hits for 'taints' anywhere, so I assume the protobuf definitions need to be updated.

I know that this feature is in beta... Does that mean support will come when it's GA?

[2018-03-27 20:09] tseaver commented on #5120
Although the back-end API may have beta support for "taints," adding support for it here likely won't happen until either the back-end team negotiates to make it a priority for this library's team (we have a relatively long feature backlog at this point), or else a contributor pushes a PR adding it.

[2018-03-27 20:12] tseaver commented on #5120
*If* support for the feature depends only on regenerating the code from the updatec protos (which seems likely, given that there is currently no non-generated code in the `google.cloud.container` library), then that could happen without any real priority negotiation.

[2018-03-28 15:39] brunoais commented on #4914
Is this discussion about exceptions that may be thrown by `response = self._client.api.publish(
                self._topic,
                self._messages,
)`[:202](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/publisher/batch/thread.py#L202)?
I'm currently wanting to catch the exception about inexistent topic and I'm being unable to do that

[2018-03-28 19:34] jonparrott commented on #4914
@brunoais #5124 should solve that.

[2018-03-28 20:19] #5017 closed

[2018-03-28 20:27] jonparrott commented on #5001
This has been fixed upstream in https://github.com/grpc/grpc/pull/14747 and will be present in gRPC 1.11 which should (hopefully) release this Friday.

I am keeping this thread open until we have a chance to confirm after the release.

[2018-03-28 21:06] brunoais commented on #4914
@jonparrott  It is much better now. Unfortunately, it still does fill the logs with a quite considerable stack trace which I can't selectively turn off. I can only have it either "on" or "off" for everything, unfortunately.
Additionally, unfortunately because there's data missing in the log, I have a very hard time tying the fault with the large stack trace it is given to me.
Thankfully, though. I

[2018-03-28 21:09] jonparrott commented on #4914
If you're using the callback on the future, feel free to silence logging in that module via `logging.getLogger('google.cloud.pubsub_v1.publisher').setLevel(logging.CRITICAL)`.

[2018-03-29 05:58] brunoais commented on #4914
Won't this silence all publications of PubSub in that program execution?

[2018-03-29 19:51] jonparrott commented on #4914
You could do `logging.getLogger('google.cloud.pubsub_v1.publisher.batch').setLevel(logging.CRITICAL)` which would just silence the logs for the batch, which aren't as useful if you *are* tracking the state of the futures.

[2018-03-29 20:50] brunoais commented on #4914
I'm not tracking all futures, though. I'm just tracking some futures. If I end up doing this, I will have to change the code so it tracks all futures... Not that little code change, tbh. I really rather not having to do it also from a project perspective.

[2018-03-30 15:19] bmabey opened #5132 "bigquery parquet loading code not available on pypi, please push dev release"
I'm evaluating the BigQuery new support for loading from parquet files and following the code samples from:

https://cloud.google.com/bigquery/docs/loading-data-cloud-storage-parquet

The above uses code that is not yet on pypi. I can build it locally but for rolling out our real tests it would be convenient if a release could be made.  It doesn't have to be an offical release, just pushing the de

[2018-03-30 15:37] tseaver commented on #5132
I'm reluctant to push out dev releases to PyPI, but will defer to @jonparrott.

[2018-03-30 15:43] chemelnucfin commented on #4940
@akmalhakimi1991 I'm going to close this issue as we can't do anything in our client.  The transcription takes place on the backend.  Please let us know if there are anything more we can do.

[2018-03-30 15:43] #4940 closed

[2018-03-30 15:47] bmabey commented on #5132
nm, I found the how to install the package via a github url (I didn't realize you could specify a subpackage in the URL): https://github.com/pydata/pandas-gbq/pull/152/files#diff-354f30a63fb0907d4ad57269548329e3R33

[2018-03-30 15:47] #5132 closed

[2018-03-30 19:18] bmabey commented on #5132
@tswast you just saved me hours of python dep yak shaving, thank you! Using the string is working fine with my current version of the client.

[2018-04-02 00:23] grantdelozier opened #5134 "'Client.document_text_detection()' errors "Bad image data." but the file seems fine"
2. OS type and version -- MacOSX Sierra 10.12.6
3. Python version and virtual environment information: `python 3.6`
4. google-cloud-python version:
[code]

6. Steps to reproduce

Download the png file from s3 here: https://s3.amazonaws.com/oseberg-public/nlp-files/57c3bad43cc4b5d1ce9cecf2ff6b2fde55c0e797c366704ee264c4091cc43d4a_copy.png

7. Code example

Download the file and run the following:

[

[2018-04-02 01:55] grantdelozier commented on #5134
Not sure why, but I just discovered that when I re-export the same .png file as another .png using GIMP, the "Bad Image data." error goes away 🤔

[2018-04-02 10:44] akmalhakimi1991 opened #5135 "Speech: exception raised, "Too many audio buffers being processed.""
Code used: https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming_mic.py

Been getting this error message since few hours ago. No changes made to the code. Is this server problem?

[2018-04-02 16:55] jadekler commented on #5058
@jonparrott I'm unable to duplicate the error (just tried now). I'll keep watching the logs. Are the memory problems (inclusive of grpc) resolved, or are we still waiting for releases? Sorry I'm behind the times!

[2018-04-02 16:56] jonparrott commented on #5058
still waiting on releases but you can try with 1.10.1rc1. Also, before you retry wait for https://github.com/GoogleCloudPlatform/google-cloud-python/pull/5136 (unless you're testing with HEAD).

[2018-04-02 17:48] AnsgarSchmidt opened #5137 "google-cloud-texttospeech does not work with docker python:latest on arm"
I try to use Google cloud text2speech within the python docker container on odroid and it fails with "ImportError: cannot import name 'cygrpc'"

System:
======

Container:
----------
Name: python:latest
"Created": "2018-03-22T23:02:28.580724429Z",
"Container": "2ce866c89c6c8b77fa0725eefc3aa86edadd08534dcf8f010a1965f764760113",
"Id": "sha256:3991b335b5563c1445d2fb98c7a4d8a07944c22db4bdefa85e7140d2c

[2018-04-02 18:44] chemelnucfin commented on #5135
@akmalhakimi1991 I think it is a server problem as it suggests to wait.  Perhaps you can adjust the retry settings?  If not, let's keep an eye on it and let us know if it's still a problem.

Thanks.

[2018-04-02 22:49] tswast opened #5138 "BigQuery: Release 0.32.0"
Ready for a release when you are, Jon.

[2018-04-02 23:36] jadekler commented on #5058
@jonparrott Using `1.10.1rc1`, I get very weird results. My logs are showing reception and acking of messages, but my stackdriver graphs are showing 0 acked messages (and Undelivered Messages stays constant).

[2018-04-03 05:34] steven123com commented on #3908
Hi,
Have you had solved this problem now?  I have the same problem now, seems don't know how to fix this problem...below is my error display:
=================================================================
Do you want to help improve the Google Cloud SDK (Y/n)?  n

Traceback (most recent call last):
  File "xx/google-cloud-sdk/bin/bootstrapping/install.py", line 218, in <module>
    main()
  Fil

[2018-04-03 07:28] akmalhakimi1991 commented on #5135
Hi @chemelnucfin . It happened again today. If it matters, I'm using speech version 0.30.0 since my program has issues with 0.31.0 and 0.32.0. BTW, do you mind elaborating on the "retry settings"?

[2018-04-03 14:52] chemelnucfin commented on #5135
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech_v1/gapic/speech_client_config.py

Here. You can adjust the timeout to be larger.  You might still have to
wait for your results, but it might not throw an error.

Seems like the function you are calling does retry on unavailable.

Please let us know if you encounter any more problems.

On Tue, Apr 3,

[2018-04-03 16:11] listentojohan commented on #2464
I am however now experiencing the same with a python:2 docker image using google.cloud storage

[2018-04-03 17:26] jadekler commented on #5058
Current problem, the following error occurs after 5-120s:

![screen shot 2018-04-03 at 10 15 44 am](https://user-images.githubusercontent.com/3584893/38264994-806a1812-3729-11e8-87f7-063cdccb5689.png)

[2018-04-03 17:59] nickymikail opened #5140 "Error with nested repeated rows"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/061de8f421be8b89accdb74ddf006f77cb9f13d9/bigquery/google/cloud/bigquery/client.py#L1124

I keep getting an error with nested repeated rows `'Cannot convert string to a record field:repeated'`

Schame looks like this

[code]

Data looks like this

[code]

[2018-04-03 20:54] frankyn commented on #3474
IIUC, you want to distribute costs of **storing** objects in a bucket instead of the project owning the bucket incurring the **storage** costs.

Real use case, a lab will commonly use their own data and they would also like to share the data with other labs in a "registry" where other labs could use their data.

Follow-up:
There's no way to do this right now only using the GCS API, and I'll forwar

[2018-04-03 21:09] lozuwa opened #5141 "ml-engine prediction using object detection api and tensorflow 1.6"
### System information
- **What is the top-level directory of the model you are using**:
../models/research/
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**:
No.
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:
Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**:
Binary. pip install --upgrade tensorflow-gpu==1.6
-

[2018-04-03 21:51] jonparrott opened #5142 "Pub/sub consumer doesn't shutdown the executor on non-recoverable RPC error."

[2018-04-03 21:57] jonparrott commented on #5058
The root cause of this is that gRPC is rejecting our request because it's larger than the default flow control limits at the _grpc_ level.

The actual error message (from the trailing metadata) is `Message size exceed the limitation of byte based flow control.`.

This is because Jean's example does not have pub/sub-level flow control enabled which leads to message hoarding (a large backlog of loca

[2018-04-04 15:06] jasper-smith opened #5144 "BigQuery: Error in get_table for federated BigTable table when no columns defined"
Call to get_table when referencing a federated BigTable table where no columns were defined upon creation results in error "KeyError: 'columns'" (not unexpected as there aren't any in the api response - see attached file). Since this is a valid federated table definition the call should not error when no columns are present within a columnFamily. Creating the same federated BigTable table and defi

[2018-04-04 15:42] chemelnucfin commented on #5141
That looks like it's a tensorflow error during the model execution.

You will probably have better luck here:
[tensorflow](https://github.com/tensorflow)

Please let us know if we can be of more help.

[2018-04-04 15:42] #5141 closed

[2018-04-04 15:49] lozuwa commented on #5141
Just in case I also tried with tensorflow 1.5 and the same error showed up.

[2018-04-04 15:55] chemelnucfin commented on #5141
It looks like from this that you are using a tensor where you just need a scalar.

The second input must be a scalar, but it has shape [1]
It's been a while, but would using tf.Constant(x) work for whatever that part of the code is?

[2018-04-04 16:41] srcolinas commented on #3884
Please solve this issue, I am using Ubuntu and the command:  `pip install google-cloud-dataflow`
produces the following error:
pip install google-cloud-dataflow==2.2.0
Collecting google-cloud-dataflow==2.2.0
  Using cached google-cloud-dataflow-2.2.0.tar.gz
Collecting apache-beam[gcp]==2.2.0 (from google-cloud-dataflow==2.2.0)
  Using cached apache-beam-2.2.0.zip
    Complete output from command p

[2018-04-04 16:47] chemelnucfin commented on #3884
@srcolinas do you need dataflow 2.2.0?  I just tested and had no problems with installing the newest version, but I did encounter the same error on 2.2.0

[2018-04-04 17:18] tswast opened #5148 "BigQuery: Add default location to Client"
It is potentially quite cumbersome to pass in a `location` parameter to nearly every API request method. It would be nice to set a default `location` when you create a client to be used when creating datasets or jobs.

[2018-04-04 17:24] tswast commented on #5148
I imagine the number of defaults we'd want to set will grow (encryption configuration, maximum bytes billed, etc.) but `location` is basically a peer to `project`, so it makes sense to me to handle it in the same way.

[2018-04-04 17:59] srcolinas commented on #3884
No, the latest version would be great. However, I got the following when I do `pip install google-cloud-dataflow`

Collecting google-cloud-dataflow
  Using cached google-cloud-dataflow-2.4.0.tar.gz
Collecting apache-beam[gcp]==2.4.0 (from google-cloud-dataflow)
  Could not find a version that satisfies the requirement apache-beam[gcp]==2.4.0 (from google-cloud-dataflow) (from versions: 0.6.0, 2.0.

[2018-04-04 20:46] chemelnucfin commented on #5089
BigQuery 0.32.0 is now available.  Please feel free (and suggested) to use the new constant.

[2018-04-04 22:39] chemelnucfin commented on #5138
Closed via #5147

[2018-04-04 22:47] tswast commented on #5138
Actually the publish only succeeded 50%. The wheel published to https://pypi.org/project/google-cloud-bigquery/#files but @crwilcox is still figuring out how to publish the source package.

[2018-04-04 22:54] chemelnucfin commented on #5138
oh, sorry.

[2018-04-04 23:40] #4807 closed

[2018-04-05 09:32] santhoshdc1590 opened #5151 "Exit code 0, but file not found on the bucket"
1. google cloud storage
2. Mac OS Sierra
3. Python 3.6.2
4. google-cloud-python version 0.32.0

[code]

No error after execution code ends with exit code 0

I can't find the file on `documentation-screenshots/operations/Test15.jpg`

I am able to upload image by `gsutil` on to the bucket by not in this way. What is the problem?

[2018-04-05 15:25] dmsolow opened #5152 "pubsub_v1.types segmentation fault (low priority)"
Calling `help` on `pubsub_v1.types` causes a segfault:

[code]
google.cloud version is 0.33.0. OS is ubuntu 16.04

Not a high priority issue, but I thought it was odd.

[2018-04-05 15:26] WillianFuks commented on #4753
@tswast you're right! Just tested using `BytesIO` instead and it worked normally...My bad! I thought the conversion would happen in the http request.

Thanks for the help :)

[2018-04-05 18:26] #5138 closed

[2018-04-05 18:28] tswast opened #5153 "BigQuery: 1.0.0 Release"
The release candidate is out https://github.com/GoogleCloudPlatform/google-cloud-python/issues/5138

Let's plan to go GA a week from that release date, so on Tuesday, April 10, 2018 or Wednesday April 11, 2018.

[2018-04-05 19:24] ryantuck opened #5154 "No module named 'google.protobuf' using --target on amazonlinux container"
## Problem

Installing `google-cloud-bigquery` via `pip` to a specific directory in an `amazonlinux` docker container does not work as expected.

[code]

### Possibly helpful notes

- Doing a 'normal' `pip3.6 install google-cloud-bigquery` on this container works as expected.
- This method does work when running in a `frolvlad/alpine-python3` container.
- I've tried this for `google-cloud-bigquery

[2018-04-05 20:09] candscientecon commented on #3884
Hi guys!
I need  to run "pip install matplotlib" from a Windows command prompt to install matplotlib.
I need that because in python I should run the following:

import matplotlib.pyplot as plt
plt.plot([0, 0.25, 1], [0, 1, 0.5], "r-")
plt.plot([0.25, 0.5, 1.5, 1], [0.5, 1.0, 0.5, 0], "go")
plt.show()

But "pip install matplotlib" i cmd leads to an error code 1, i.e. there is no permission.
![error

[2018-04-06 03:26] danoscarmike commented on #5153
Thanks @tswast!!

[2018-04-06 06:01] santhoshdc1590 commented on #5151
Worked

[code]

[2018-04-06 06:01] #5151 closed

[2018-04-06 06:22] santhoshdc1590 opened #5161 "No Error: File uploaded not found on the google-cloud-storage"
1. Google Cloud Storage
2. MacOS Sierra
3. Python version 3.6
4. google-cloud-python version 0.32.0

Trying to upload a `tempfile` in jpeg format onto `Google-Cloud-Storage`

Here's the code

[code]

No error

Can anyone tell where and what is going wrong?

[2018-04-06 06:30] VikramTiwari opened #5162 "BigQuery: Partitioned tables: type and field"
Doesn't seem like I have a way to set partition field using 0.31 SDK for BigQuery. I am trying to recreate the following scenario.

![screen shot 2018-04-05 at 23 25 43](https://user-images.githubusercontent.com/1330677/38406293-29bd1eb8-3929-11e8-8588-36df4b6f7915.png)

@tswast @jonparrott Could this be part of 1.0.0 release, if not already?

[2018-04-06 06:53] james-woods opened #5163 "Cloud Storage: list_blobs(delimiter='/', prefix="subdir/") includes subdir?"
1. Specify the API at the beginning of the title: Cloud Storage
2. Python3, Container Optimized OS in GCE
3. Python 3.5.3
4. Library version: google-cloud-storage (1.8.0)

Code example (7):
[code]

Maybe I am not getting it, but after looking into the API and the issues I thought that above `should not happen` should not be printed when using delimiter and prefix. Is this the intended behavior, so

[2018-04-06 12:02] yixizhang opened #5164 "Spanner: TypeError: '' has type str, but expected one of: bytes"
OS type and version: ubuntu xenial

Python version and virtual environment information `python --version`: python 3.6

google-cloud-python version: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/spanner-1.3.0

Stacktrace if available:
[code]

[2018-04-06 14:12] gmramaswamy commented on #5135
this is happening again, now. seems like a server issue. but status page says all services are running fine. really concerning.

[2018-04-06 14:44] RitwikGopi commented on #5135
It indeed seems like a server issue. Today before some 30 minutes we were also facing the issue. Even four days before we had faced the same issue. Both the times we checked with 2 different accounts and still, the same error was happening.

[2018-04-06 16:22] #5162 closed, assigned to tswast

[2018-04-06 16:31] tswast commented on #5162
P.S. @alixhami and I recently refactored the Table and JobConfig classes, so it should be relatively easy to contribute a fix if you wanted to contribute a fix before we get to it.

The classes have a private `_properties` dictionary which correspond to the API resource representation. Fields are exposed via properties: each field has a:
- setter that converts the input into API representation and

[2018-04-06 16:43] tswast commented on #4752
Duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4658

[2018-04-06 17:03] chemelnucfin commented on #5164
Are you iterating over your own data?
Could you convert `''` to `b''`?

[2018-04-06 17:14] VikramTiwari commented on #5162
With this job config:
[code]

I get:
[code]

The file is present and is not zero bytes.

[2018-04-06 17:43] tswast commented on #5162
@VikramTiwari Are you able to load this file without using the `'timePartitioning'` property?