[2016-08-18 21:13] jonparrott commented on #1722
Another point of refrence for this:

It's awkward in the bigquery API to have to do this:

[code]

Just to make sure the `table` has `schema` populated so data can be added.

[2016-08-18 21:14] dhermes opened #2134 "Why do we have Angular vendor deps checked in?"

[2016-08-18 21:14] dhermes commented on #2134
e.g. https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/json/src/vendor-7173ada14e.js

[2016-08-18 21:24] daspecster commented on #2134
The gcloud-common doc site runs on angular.
This is the standard way that you deploy the doc site AFAIK.

Alternatives would be to pull the link in from a CDN but then you would have to track which versions are being updated and used by gcloud-common/site each time you deploy.

This file should contain all vendor related JS so that there is less HTTP connection overhead. i.e. one JS file to downlo

[2016-08-18 21:25] dhermes commented on #2134
Why doesn't it get pulled in with `gcloud-common`?

[2016-08-18 21:30] daspecster commented on #2134
Right now the files are getting staged in doc/json. Which makes it easy for testing (`python -m SimpleHTTPServer`).

We could make it more automated and have the deploy script pull in `gcloud-common` and do a `gulp build` then copy the files over. But we would have to setup all the dependencies for that in travis.

These could live in the `gh-pages` branch permanently. That's what the other projec

[2016-08-18 21:30] dhermes opened #2136 "Add OS X to Travis (or other) CI"
/cc @omaray

[2016-08-18 21:33] dhermes commented on #2134
I am out of my element here, do what you think is right, just don't want our hardcoded files to drift from the ones in `gcloud-common`

[2016-08-18 21:37] dhermes opened #2137 "Should we run system tests in more than one CI environment?"
Right now we [only run unit tests](https://github.com/GoogleCloudPlatform/gcloud-python/blob/6896144def9d0c8acd532451766ee293d5fb627a/appveyor.yml#L95) on AppVeyor (our Windows CI) and limit the system tests to Travis (our linux CI).

/cc @omaray

[2016-08-18 21:38] daspecster commented on #2134
These are generated from `gulp build` in gcloud-common so I'm not too worried.
The process to update them is to do the `gulp build` and then copy over the `dist/src` folder that's generated.

The ideal solution IMHO, would be have travis do a new build of gcloud-common/site with each doc deploy and gcloud-common/site had changed since the last deploy of gcloud-python's docs. Not sure how to track

[2016-08-18 21:42] dhermes commented on #2134
You just need to write a script to check out `gcloud-common` on Travis and `gulp build`. You can utilize Travis caching to make this more efficient if you like.

That way you don't have to worry about drift and we don't have files in our repo which aren't part of the build.

Having to update them on a regular basis seems a bad idea.

[2016-08-18 21:44] dhermes commented on #2136
Looks easy to turn on:
https://docs.travis-ci.com/user/multi-os/

Toying around with it now

[2016-08-18 21:58] elibixby commented on #727
Given there are performance implications to this: deleting entire pages as they are yielded to is faster than waiting to get through all the pages, I'm not sure that I agree.

I think it's reasonable to assume that you will never see the same element twice due to pagination (but to be fair I can't find anything guaranteeing this in our API style guidelines)...

Maybe listing elements need to provi

[2016-08-18 22:18] dhermes commented on #2098
@jonparrott Wasn't there a related issue to this?

[2016-08-18 22:37] omaray commented on #1978
So Ruby and Node.js called it google-cloud-language:

Example: https://www.npmjs.com/package/@google-cloud/language

It's shorter indeed.

If it's easy to do, let's hold both! I'll check with the team.

[2016-08-18 22:41] dhermes commented on #1978
It is easy but that would just be namespace squatting on PyPI; seems like it would be frowned upon. Though on the flipside, non-Google entities squatting on a name with `google` in it is also probably frowned upon.

----

I've noticed the Googlers keep calling it Language but that seems to be vague for people not already familiar with the API.

[2016-08-18 22:44] jonparrott commented on #1978
It's fine to have both `google-cloud-language` and `google-cloud-natural-language` as long as you publish a metapackage to one that depends on the other.

(fyi, if we do run into a case where there's someone squatting on our name we can get that resolved).

[2016-08-18 23:14] dhermes commented on #1978
So @jonparrott as packaging wizard your opinion is that I should grab both (a) and we should publish to both (b)?

[2016-08-18 23:14] jonparrott commented on #2098
I filed #2132 which has a bit more information on how to correctly solve this - we should check the response of the initial upload request and raise an exception if needed.

[2016-08-18 23:16] jonparrott commented on #1978
Grab both and publish to one, and publish a metapackage to the other. But only if you feel like it's really necessary. I'd say don't. Just go with `google-cloud-natural-language`. Typically the metapackage magic is only done to deal with legacy stuff (like we'll eventually have to do with `oauth2client` and `google-auth`).

[2016-08-18 23:29] dhermes commented on #1978
Cool. Thanks (I love having a packaging authority person to consult with...as an authority). Grabbed https://pypi.python.org/pypi/google-cloud-language and https://pypi.python.org/pypi/google-cloud-natural-language

[2016-08-18 23:33] dhermes commented on #1978
@tseaver @omaray (and anyone else who likes to weigh in) are we a go to grab

- `google-cloud-dns`
- `google-cloud-error-reporting`
- `google-cloud-monitoring`
- `google-cloud-resource-manager`
- `google-cloud-translate`

i.e. some of these it's unclear if they deserve their own package / are priorities.

@rimey any preference for grabbing `google-cloud-monitoring` or `google-cloud-stackdriver-mon

[2016-08-19 00:42] bjwatson commented on #2117
@tseaver I tried doing that today using an internal build server we setup to introduce more controllability into our release process (previously done on dev workstations with varying environments). Unfortunately, I hit a few issues. I'll try again tomorrow with help from @ethanbao and @geigerj.

[2016-08-19 00:47] bjwatson commented on #2128
@dhermes You sure can. Do you mind if I complete this after https://github.com/GoogleCloudPlatform/gcloud-python/issues/2117#issuecomment-240834648?

BTW, we won't be able to do much more than wrap these calls in our Pythonic surface. My understanding is that we can't do much of our value-add stuff like page streaming with custom methods, and both of these services are full of custom methods (e.g.

[2016-08-19 01:02] tseaver commented on #1978
I think those are fine.  AFAICT, the `-stackdriver` bit should be a replacement for `-cloud` if we are going to use it: (the branding seems confused to me).

[2016-08-19 01:07] tseaver commented on #2128
@bjwatson From our perspective, dropping the generated code is a pure win, even if we don't gain the other benefits.  Even just having the `grpc-google-datastore-v1` and `grpc-google-bigtable-v2` releases available (no GAX wrappers at all) would be great.

[2016-08-19 01:10] tseaver commented on #2093
@dhermes I saw them multiple times the day I was trying to squash all the flaky issues:  if I had to guess, I would say that the issue would be related to load on the back-end.

[2016-08-19 01:17] tseaver commented on #1722
If the back-end already knows the schema (which it must, or else `table.reload()` wouldn't fetch it), then it should be willing to accept the uploaded data without having us resend it.  If the back-end *is* so willing, then we need to change `upload_from_file` to skip populating `configuration['schema']` if it isn't set.  @jonparrott can you confirm that the upload would succeed even without havin

[2016-08-19 01:20] jonparrott commented on #1722
In this case I can't because of another bug.

On Thu, Aug 18, 2016, 6:17 PM Tres Seaver <notifications@github.com> wrote:

[2016-08-19 01:24] dhermes commented on #2128
No rush at all, just wanted to create a formal issue so we don't forget. Good to know `:<custom_something>` means custom!

Of the 28 methods in datastore/bigtable, 14 are custom, but the true number is 12/12 since the other 16 Bigtable admin methods will have many orders of magnitude fewer requests.

----

## BigtableTableAdmin (2/6 custom)

1. `CreateTable` -> `"v2/{parent=projects/*/instances/*}

[2016-08-19 01:44] bjwatson commented on #2128
Good analysis! At least we can provide extra help with methods like `ListTables` and `ListClusters`, even if they are low QPS.

[2016-08-19 04:56] dhermes opened #2140 "GAX iter.next() pattern seems to be breaking down"
[For example][1], sometimes the iterable isn't an iterable

[code]

or

[code]

and sometimes it just gives a `StopIteration` when a new page is expected

[code]

I withhold the `flaky` label because the same 10 test cases fail every time and in both Python 2 and 3:

1. `test_fetch_delete_subscription_w_deleted_topic (pubsub.TestPubsub)`
1. `test_list_subscriptions (pubsub.TestPubsub)`
1. `test_li

[2016-08-19 05:04] dhermes commented on #2140
@tseaver ISTM that lines like

[code]

end up making `page_token=None` override the default value of `page_token=INITIAL_PAGE` in lots of these methods.

[2016-08-19 05:04] dhermes commented on #2140
I'm gonna send a PR

[2016-08-19 05:09] dhermes commented on #2128
Exactly this! That was the point of #1384

[2016-08-19 05:21] dhermes commented on #1863
This is fixed by a series of changes e.g. https://github.com/googleapis/gax-python/pull/120 and https://github.com/grpc/grpc/issues/7528

[2016-08-19 05:21] #1863 closed

[2016-08-19 15:00] dhermes commented on #1978
@rimey and @omaray can you weigh in as well?

[2016-08-19 15:25] bjwatson commented on #1384
What's the delta between what this issue requests and what https://github.com/googleapis/googleapis provides?

[2016-08-19 16:36] dhermes commented on #1384
@bjwatson I updated the title to make it more explicit.

We want `pip`-installable packages for each service.

[2016-08-19 16:38] daspecster commented on #1384
I could have just missed this, but I can't find repos for the generated versions of...
gax-google-cloud-vision
grpc-google-cloud-vision
...etc.

It would be nice to have README's for them but that might be asking a bit much for generated code. It would be nice just for code browsing and such though.

[2016-08-19 16:41] bjwatson commented on #1384
Thanks @dhermes. Makes sense. What else is needed beyond what [googleapis-common-protos](https://pypi.python.org/pypi/googleapis-common-protos) already provides? Could the delta just be added to that package to resolve this issue?

[2016-08-19 16:44] bjwatson commented on #1384
@daspecster Are you asking for:

https://pypi.python.org/pypi/gax-google-cloud-vision-v1
https://pypi.python.org/pypi/grpc-google-cloud-vision-v1

...or did you want something else?

They both have READMEs in them, although I'm open to improvements you think they need.

[2016-08-19 16:52] dhermes commented on #1384
@bjwatson We just want it for everything we depend on, like Bigtable and Datastore. i.e.

[code]

[2016-08-19 16:54] bjwatson commented on #1384
So basically an index of where you can find the packages for all our auto-gen code?

[2016-08-19 16:58] dhermes commented on #1384
That would also be great. But this was originally filed because we don't have all the packages we depend on, so we were going to publish those packages ourselves if it came down to it.

Are you saying Datastore v1 and Bigtable v2 actually exist somewhere? The "expected" links are dead:

https://pypi.python.org/pypi/grpc-google-datastore-v1
https://pypi.python.org/pypi/gax-google-datastore-v1
https

[2016-08-19 17:03] dhermes opened #2142 "Use unittest.mock / mock instead of _Monkey"
This may be a non-trivial project but it makes our unit tests look more familiar to the average Python dev. We can in the short-term just require new mocks to be written with `unittest.mock`

When we started this project in 2014 I had never used `unittest.mock` / [`mock`](https://pypi.python.org/pypi/mock) but have used it extensively in `oauth2client` and find it is really flexible (and involves

[2016-08-19 17:07] bjwatson commented on #1384
No, we have never generated BigTable, and apparently only did a rather old build of gRPC for datastore. An index might help, since it communicates what we have done and what we are maintaining.

[2016-08-19 17:12] dhermes commented on #1384
Sounds good to me. We have [`Makefile.datastore`][1] and [`Makefile.bigtable_v2`][2] and a [bunch][3] of [generated code][4] and [custom][5] scripts [for pulling out gRPC][6]. We also have the pain of [rewriting imports][7].

We'd love to delete 100% of that code and just add `grpc-google-datastore-v1` and `grpc-google-bigtable-v2` to our `setup.py` dependencies.

PS BigQuery uses a capital in the

[2016-08-19 17:18] jonparrott opened #2143 "Bigquery client doesn't implement list_projects"
Seems weird, but the bigquery client should also be able to list projects:

https://cloud.google.com/bigquery/docs/managing_jobs_datasets_projects#projects

[2016-08-19 17:21] daspecster commented on #1384
@bjwatson, yeah I but having the generated code available on github is what I was thinking.

[2016-08-19 17:25] dhermes commented on #1384
@daspecster Not sure why that is necessary. It's not meant to be read by a human so checking it into a repo is somewhat silly. `pip install` and be on your way. The protos themselves should be the source of documentation. We can chat offline for more details?

[2016-08-19 17:45] bjwatson commented on #1384
@dhermes @daspecster LMK if you have reasons for source repo(s) on GH. I've thought about it myself, but I don't have strong enough reasons for why it's worth the maintenance overhead for ourselves.

I'll do the Datastore and Bigtable (thanks for spelling update) packages later today or early next week, depending on how things go with our remote build server.

[2016-08-19 17:52] bjwatson commented on #1384
I've created this index in https://github.com/GoogleCloudPlatform/gcloud-python/pull/2144. PTAL

It includes the APIs we plan to auto-generated in the next few weeks. PLMK if there's anything missing that you expected.

[2016-08-19 17:57] daspecster commented on #1384
At some level they do end up getting used by humans, so that's why I thought it would be good to have a bit more documentation than there currently is.

But I agree it may not be worth the maintenance.

[2016-08-19 18:00] bjwatson commented on #1384
The index I just created includes links to docs on http://pythonhosted.org/. We currently only have Pub/Sub and Logging there, but plan to automate doc generation so we can easily do it for all APIs.

[2016-08-19 18:27] daspecster commented on #1384
The docs on pythonhosed.org look nice! I could use the Vision ones any time 👍.
The docstrings and README for gax-google-cloud-vision could use some deeper examples. Like actually building a request. Although this could probably go in grpc-google-cloud-vision. Either place really I suppose but it would be nice to have it all in one spot.

[2016-08-19 18:46] dhermes opened #2145 "Can we delete the grpc-logging-feature branch?"
@saicheems @bjwatson

[2016-08-19 18:48] dhermes opened #2146 "Can we delete release branches?"
@tseaver We have

https://github.com/GoogleCloudPlatform/gcloud-python/tree/release-0.16.1
https://github.com/GoogleCloudPlatform/gcloud-python/tree/releases-0.18.x

and I think they've already served their purpose? If we want an actually pinned commit we can use tags, not branches?

[2016-08-19 20:30] saicheems commented on #2145
I'm fine with deleting

[2016-08-19 20:35] #2145 closed

[2016-08-19 20:56] bjwatson commented on #1384
Thanks! Sphinx does a lot of the heavy lifting to help the readability. @geigerj can you push docs to pythonhosted for Vision as a one-off?

@daspecster Do you think there's something that could be done in auto-gen to improve the documentation, or is your feedback more for the Vision team to improve the documentation in their [protos](https://github.com/googleapis/googleapis/tree/master/google/clo

[2016-08-19 23:13] geigerj commented on #1384
Vision docs pushed to here: https://pythonhosted.org/gax-google-cloud-vision-v1

Note that right now, the docs require some manual effort per-upload because the code generator does not always format the docstrings in a way that Sphinx understands; we're tracking those issues (at googleapis/toolkit#201, googleapis/toolkit#202) so that we can automate doc generation in the future.

[2016-08-20 22:07] yanikkoval commented on #1436
I have same issue
When using
`import google.protobuf; print(google.protobuf.__version__)` # return following issue:
`ImportError: No module named protobuf`

` import gcloud; print(gcloud.__version__)` # return 0.18.1

[2016-08-21 09:59] naveensinghal opened #2152 "Using Google Cloud Datastore API in Python Code"
Hi @dhermes ,

I am trying to Implement Google Cloud DataStore in my Python Django Project not running on Google App Engine.

Can it be possible to use Google Datastore without having the project run on Google App Engine ?

If yes, Can you please tell how to retrieve the complete entity object or execute the query successfully, if possible ?

The below code snippet prints the query object but thro

[2016-08-22 03:12] omaray commented on #1978
Yeah, so the whole Stackdriver branding can indeed be confusing. I need to get back to you on that one. For the time being, everything will be `google-cloud-{api}`.

[2016-08-22 12:34] jgeewax commented on #1762
@wbolster : Again, apologies for the lag on getting this done, and thank you for the patience. Can you let us know if this fixes things?

Thanks all (@tseaver, @jonparrott , @daspecster , and everyone else) who helped to resolve this. Let's try to speed up next time so it doesn't take so long...

[2016-08-22 14:17] dhermes commented on #2152
Did you follow the recommendation in the error?

[2016-08-22 14:25] naveensinghal commented on #2152
Thanks @dhermes for your reply.
I have a valid Google Project. But No Active App running on Google App Engine. I wish to use Google Datastore API without using the Google App Engine. Is it possible ?

[2016-08-22 14:29] dhermes commented on #2152
I don't think so. You should file an issue on https://github.com/GoogleCloudPlatform/google-cloud-datastore to double check (and also people in the future can find out there).

[2016-08-22 14:29] #2152 closed

[2016-08-22 14:53] dhermes commented on #2093
I don't know why I never tried before, but just running `nosetests system_tests/monitoring.py --pdb -vv` in two separate bash shells at the same time forced a 503 on the first try.

FWIW @tseaver the 503 occurred in a 404-wrapped delete during `tearDown` of `TestMonitoringGroups.test_group_hierarchy`.

From the debugger:

[code]

Also note that

[code]

because the error payload [doesn't have the

[2016-08-22 15:25] dhermes opened #2154 "Make sure all snippets are in snippets files"
Related: #1141 and #1744

[2016-08-22 17:57] jonparrott commented on #1141
It seems that we currently have a lot of usage snippets that are untested included in the docs. This is really unacceptable. I'd vote that until #1744 (testing for snippets) is resolved, that you guys instead link to the docs on cloud.google.com (where applicable) where samples are tested. Some products haven't been updated to use gcloud-python, but that gap should be closing this quarter for Data

[2016-08-22 19:28] #2140 closed

[2016-08-22 19:56] dhermes opened #2156 "Resolve gRPC _Rendezvous and _UnaryUnaryMultiCallable discussions"
From #2149

[2016-08-22 19:57] #2130 closed

[2016-08-22 19:58] dhermes opened #2157 "Drop `gcloud._helpers.exc_to_code` once GAX moves off gRPC beta"
/cc @bjwatson

[2016-08-22 19:58] dhermes commented on #2157
Adding in #2149

[2016-08-22 20:07] dhermes commented on #2156
It is not-user-friendly to require:

[code]

instead of

[code]

[2016-08-22 20:10] #2102 closed

[2016-08-22 20:11] dhermes commented on #2102
@waprin Do I have your go-ahead to delete the branch?

[2016-08-22 20:12] dhermes commented on #2102
https://github.com/GoogleCloudPlatform/gcloud-python/tree/logging-stdlib-handler-feature

[2016-08-22 20:14] waprin commented on #2102
Yes sounds good. Thanks again for all the help here. Let me know if you have ideas on best way to address concerns you raised.

[2016-08-22 20:20] daspecster opened #2158 "Doc site navigation doesn't collapse down"
The side nav is supposed to collapse down on a per service level.

This is possibly caused by the service ID's listed in the TOC, not being found in types.json.

[2016-08-22 20:21] dhermes commented on #2102
Will do

[2016-08-22 20:22] daspecster opened #2159 "Module level doc strings are sparse / all contained in usage docs"
These docstrings end up being the landing page on the JSON Doc site.

What we have now is pretty sparse.

![screen shot 2016-08-22 at 4 21 19 pm](https://cloud.githubusercontent.com/assets/192456/17870226/8819dfd6-6884-11e6-9f77-c9009a76f54e.png)

[2016-08-22 20:25] dhermes opened #2160 "Make the ad-hoc copy of logging `Client` less ad-hoc in background thread impl."
A [client is copied](https://github.com/GoogleCloudPlatform/gcloud-python/blob/0bf3b686764ba7758dc47a7e783d11839e068f3b/gcloud/logging/handlers/transports/background_thread.py#L152-L159) to avoid re-using the same `httplib2.Http` object in different threads. This is crucial because `httplib2` is not threadsafe.

/cc @waprin

[2016-08-22 20:28] dhermes commented on #2156
Also worth noting from the previous review. From @tseaver

[2016-08-22 21:39] znorris commented on #2028
@dheremes That time was for all batch operations to complete (all 1.08 Million entities).

[2016-08-22 21:40] dhermes commented on #2028
Gotcha. Any idea how long each request is taking? Can you share some code?

[2016-08-22 21:41] dhermes opened #2163 "Pub/Sub system tests failing"
`test_list_subscriptions` consistently terminates with `UNAVAILABLE` and `test_fetch_delete_subscription_w_deleted_topic` consistently fails `self.assertTrue(orphaned.topic is None)`

https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154261312
https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154256059
https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/1542515

[2016-08-23 00:29] tseaver commented on #1436
@yanikkoval Some version of some package has stomped on the `google` namespace.  I'm pretty sure that if you had all the packages up-to-date, you'd be fine.  Can you report the output of `pip freeze` here?

[2016-08-23 00:32] dhermes commented on #1436
@tseaver It's App Engine weirdness actually. I try to stay away and let @jonparrott weigh in on such issues

[2016-08-23 01:39] bjwatson commented on #2157
Depends on https://github.com/googleapis/gax-python/issues/126

[2016-08-23 04:23] dhermes commented on #2163
Since, 1 build has succeeded

https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154329853

and 1 has failed the same way

https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154329912

[2016-08-23 04:24] dhermes commented on #2157
Thanks for the pointer.

[2016-08-23 04:25] dhermes commented on #2146
@tseaver Bump

[2016-08-23 04:58] dhermes commented on #2140
@tseaver Update on this. I [modified][1] this to raise during the system tests for explicit `None` and actually update the GAX dependencies in my local install.

Running them

[code]

we [find 13 test cases][2] that end up with an explicit `None`.

---

FWIW I ran with dependencies:

[code]

[1]: https://gist.github.com/dhermes/679650654e2a8c45d958eb97c7514037
[2]: https://gist.github.com/dhermes/

[2016-08-23 05:16] dhermes commented on #2140
@tseaver OK I went through and verified the code paths from the stack traces and [annotated with some diffs][1]. The following methods do pass an explicit `None` (they don't have a choice really)

- `pubsub.Client.list_topics()`
- `pubsub.Client.list_subscriptions()`
- `pubsub.Topic.list_subscriptions()`
- `logging.Client.list_entries()`
- `logging.Client.list_sinks()`
- `logging.Client.list_metri

[2016-08-23 10:33] devashishshankar opened #2166 "Connection reset by peer in logging client libs"
I use gcloud logging and datastore client libs on my GCE VMs. Sometimes (rather sporadically) my jobs fail due to connection reset by peer. The only common pattern is that it happens in long running jobs.

The stacktrace goes something like this:

[code]

I'm not totally sure, but this could be because of the connection pool being maintained by the underlying `httplib2` library. `httplib2` is hold

[2016-08-23 13:30] tseaver commented on #2146
The `release-0.16.1` branch can certainly go:  the chance that we will make a `0.16.2` release is infinitessimal.  Until we've made a `0.19.0` release, I would keep the `release-0.18.x` branch around, on the chance that there is some lingering bug (or another upstream screwup) which might require a `0.18..2` release.

[2016-08-23 13:39] daspecster commented on #2146
@tseaver, couldn't we just branch off the 0.18.1 tag to make a new release
with a bugfix?

On Tue, Aug 23, 2016 at 9:30 AM, Tres Seaver <notifications@github.com>
wrote:

--
Tom Schultz

[2016-08-23 15:32] daspecster opened #2168 "Automate manifest version additions during releases."
It should be possible to automate the addition of a new version to `manifest.json` for site generation during a new release.

[2016-08-23 15:38] tseaver opened #2169 "'test_list_topics: failure during teardown"
From: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154249353#L800-L826

[code]

[2016-08-23 15:40] tseaver opened #2170 "'test_topic_iam_policy': Authentication backend unavailable"
From: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154249353#L828-L840

[code]

[2016-08-23 16:11] dhermes commented on #2170
BLERG!

[2016-08-23 16:14] dhermes commented on #2028
Also reported in #2166 with `logging`. In particular, @devashishshankar says

I am fairly certain this **is** the issue.

[2016-08-23 16:14] dhermes commented on #2166
Closing as duplicate of #2028

[2016-08-23 16:14] #2166 closed

[2016-08-23 17:22] jonparrott commented on #1436
@yanikkoval how are you installing packages? What's in your `appengine_config.py`?

[2016-08-23 17:25] dhermes commented on #2028
The main problem is likely that `httplib2.Http` [keeps a cache][1]

[1]: https://github.com/jcgregorio/httplib2/blob/010b4e399c04a199e7ca25995286f3db0337500d/python2/httplib2/__init__.py#L1466-L1489

[2016-08-23 18:52] devashishshankar commented on #2028
Yes, seems like that is the issue. Until this gets fixed, is there a temporary workaround I could use?   Currently most of my long running jobs fail - and they are also unable to save the state (checkpoint) in datastore  because of the same issue. Putting a try catch around every logging statement also doesn't seem feasible.

One hacky solution I can think of is hitting some dummy api call every m

[2016-08-23 19:21] daspecster commented on #1384
@bjwatson @geigerj I think the pythonhosted.org stuff will work well enough for me if a full example was in them.

Either here http://pythonhosted.org/gax-google-cloud-vision-v1/google.cloud.vision.v1.image_annotator_api.html or here http://pythonhosted.org/gax-google-cloud-vision-v1/starting.html#examples

[2016-08-23 19:42] bjwatson commented on #1384
@daspecster I created an issue to improve our auto-gen sample for that method: https://github.com/googleapis/googleapis/issues/99

For your purpose, however, it would probably be faster if you looked at existing samples like https://github.com/GoogleCloudPlatform/cloud-vision/blob/master/python/face_detection/faces.py, and adapt this to the GAX surface. There's not much we were able to do in the G

[2016-08-23 19:44] daspecster commented on #2158
Attn: @jgeewax

Fixed via https://github.com/GoogleCloudPlatform/gcloud-common/pull/169! Thanks @callmehiphop!

[2016-08-23 19:44] #2158 closed

[2016-08-23 19:49] dhermes commented on #2028
See [`httplib2shim`][1] and the discussion in #1214 to just avoid using `httplib2` all together

[1]: https://pypi.python.org/pypi/httplib2shim

[2016-08-23 19:57] dhermes opened #2173 "Allow an actual storage Blob in the Client.document_from_blob() factory"
This is similar to #2127

Con: additional imports would couple `gcloud.language.client` to `gcloud.storage.blob`

[2016-08-23 21:23] bjwatson commented on #1384
What's left to be done to close this issue? Filling in all the TBDs in https://github.com/googleapis/googleapis/blob/master/PACKAGES.md with package links? Anything else?

[2016-08-23 21:40] dhermes commented on #1384
It's fine to close since there is a dedicated team for this very purpose.

Where do we file issues for new services? (e.g. #2128 is still something we want / need)

[2016-08-23 21:40] #1384 closed

[2016-08-23 21:47] bjwatson commented on #1384
You can file such issues here and assign them to me. This seems more appropriate than any of the `googleapis` repos.

[2016-08-23 21:55] dhermes commented on #1384
Great thanks!

[2016-08-23 22:39] dhermes opened #2176 "test_create_and_delete_metric_descriptor gives 500 failure"
Done while creating a descriptor

POST https://monitoring.googleapis.com/v3/projects/precise-truck-742/metricDescriptors/

- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154552669
- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154561565
- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154598135

/cc @supriyagarg

[2016-08-23 22:47] dhermes commented on #2163
Again https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154552669

[2016-08-23 22:47] dhermes commented on #2163
@tmatsuo Any idea why Travis would consistently get an UNAVAILABLE but locally the tests run just fine?

[2016-08-24 01:24] rimey commented on #2176
Thank you! I believe you spotted a problem in an ongoing rollout. We're taking action to fix it.

You just happened to be hitting our canary server instances.

[2016-08-24 02:45] rimey commented on #2176
This should now be resolved.

Occasional, rare 500s are always possible, but if you see something that appears not to be transient, please let us know.

[2016-08-24 03:55] dhermes commented on #2176
I mostly agree with you but want to discuss a little before hastily closing. Is there an SLA for the service?

The whole point of the `flaky` label is that we don't want to have to have 1/4 of our merges to master fail. Brittle system tests are no fun and the more services we support, the worse it gets.

I somewhat agree (depending on the SLA). However, we got two runs of 500s in a row (4 requests

[2016-08-24 04:48] dhermes opened #2177 "gRPC clean-up fails when there are module-level references to a gRPC channel"
See https://github.com/grpc/grpc/issues/7849

/cc @nathanielmanistaatgoogle

[2016-08-24 09:26] devashishshankar commented on #2028
So, I'm passing the [gcloud_requests](https://github.com/LeadPages/gcloud_requests) client for logging - and it seems to be working fine for now.

[2016-08-24 13:46] rimey commented on #2176
Whether to retry API calls in the system tests on 500s is completely up to you. I don't have further advice for you about that.

[2016-08-24 16:10] #2134 closed

[2016-08-24 18:32] dhermes commented on #2163
Again https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154661458

[2016-08-24 18:33] dhermes opened #2180 "test_list_files (storage.TestStorageListFiles) eventual consistency failure"
https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154661543

Handling now

[2016-08-24 18:58] dhermes opened #2182 "`pkg_resources` fails to find `gcloud` on the first run of an env"
@jonparrott I don't see this as a pressing issue, so if you don't know, just close it out.

Why does `pkg_resources` fail to find `gcloud` on the first run of an env? To complicate things, this doesn't happen when a new env. is created on Travis.

---

Here is an example

[code]

[2016-08-24 19:01] dhermes commented on #2146
Just deleted `release-0.16.1`. @tseaver Bump on the other one

[2016-08-24 19:05] dhermes commented on #2028
Glad that helped. I am close to ripping out `httplib2` and making it easier to swap out transports. We hope to have `requests` as the default transport.

@devashishshankar and @znorris Should we leave this issue open or consider it "fixed" (with a bandaid, but still fixed)

[2016-08-24 19:09] dhermes commented on #2176
@tseaver WDYT about this?

[2016-08-24 19:12] dhermes opened #2183 "Should language document_from_text() etc. be a reference to the Document class"
See https://github.com/GoogleCloudPlatform/gcloud-python/pull/2062/files/d36ad4db94666450786d4f667aea0607ff2113cb#r76032786

The question is whether we should have `Client.document_from_foo` methods or just have `Client.document` be a reference to the class `Document` and then use `Client.document.from_foo`.

This amounts to swapping `_` for `.` (i.e. no less typing) and makes a "proper noun" like

[2016-08-24 19:20] dhermes opened #2184 "Don't reference ISO-639-1 language codes for language API"
https://github.com/GoogleCloudPlatform/gcloud-python/pull/2062/files/d36ad4db94666450786d4f667aea0607ff2113cb#r76032913

@jgeewax Please advise. You've asked to only include BCP-47 but the [official docs](https://cloud.google.com/natural-language/reference/rest/v1beta1/Document) still refer to both.

[2016-08-24 19:29] dhermes opened #2185 "Auto-detect GCS URI that ends in .html or .htm"
See https://github.com/GoogleCloudPlatform/gcloud-python/pull/2062/files/d36ad4db94666450786d4f667aea0607ff2113cb#r76033629

[2016-08-24 19:34] jonparrott commented on #2182
I actually don't know. ¯\\_(ツ)_/¯

My first guess was that gcloud wasn't installed, but it's installed on line 6.

You could try manually stepping into tox's virtualenv for the docs and seeing what's up?

[2016-08-24 20:26] elibixby opened #2186 "Duplicate code between resource classes"
There are numerous reimplemented duplicate pattern in resources.

For example `_require_client` is reimplemented on every resource. It would be nice if these were gathered up into a parent `Resource` class which only provided things guaranteed to be available in all cloud resources... e.g. a resource path.

Implementing iam #2031 all that's required to implement in supporting APIs is a correct `se

[2016-08-24 20:54] tseaver commented on #2176
If it isn't an "expected" error from the point of view of the back-end team, I'd say leave out the retries.

[2016-08-24 21:02] #2180 closed

[2016-08-24 21:19] dhermes commented on #2176
:+1:

[2016-08-24 22:50] znorris commented on #2028
@dhermes I haven't had time to test it myself, but from the conversation it sounds fixed to me. I vote for closing. Thanks for the help everyone.

[2016-08-24 23:10] #2028 closed

[2016-08-24 23:13] dhermes opened #2190 "Add system test that uses an HTML document instead of a plaintext doc"

[2016-08-25 04:50] dhermes commented on #2163
Again https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154875146

[2016-08-25 04:51] dhermes opened #2192 "Pub/Sub test_create_subscription_w_ack_deadline is UNAVAILABLE"
https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154885180

[2016-08-25 04:54] dhermes commented on #2186
I am hesitant to say that's a good idea. The cloud APIs vary widely and so there isn't much they share between them. `_require_client` is just sugar for access. Any other examples?

[2016-08-25 10:10] jgeewax opened #2193 "Example snippet on landing page has incorrect whitespace"
I believe this was an issue with dotnet, which I fixed with this PR: https://github.com/GoogleCloudPlatform/google-cloud-dotnet/pull/279/files

Issue is visible here: https://googlecloudplatform.github.io/gcloud-python/#/

Compare to here: https://googlecloudplatform.github.io/google-cloud-node/#/

[2016-08-25 10:13] jgeewax opened #2194 "Usage docs and other prose in RST files not included in docs"
We spent a bunch of time writing this content (https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/resource-manager-api.rst) and it's not visible at all on https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/resource_manager

Can we bring overviews back?

[2016-08-25 15:16] tseaver commented on #1993
Via #2103.

[2016-08-25 15:16] #1993 closed

[2016-08-25 15:18] tseaver commented on #1873
Via #2085.

[2016-08-25 15:18] #1873 closed

[2016-08-25 15:19] tseaver commented on #1949
Via #2149.

[2016-08-25 15:19] #1949 closed

[2016-08-25 15:20] tseaver commented on #2001
Via #2065, #2085.

[2016-08-25 15:20] #2001 closed

[2016-08-25 15:23] tseaver commented on #2146
I've deleted the branch, after verifying that it had no drift from 0.18.1.

[2016-08-25 15:23] #2146 closed

[2016-08-25 15:30] gergelyke opened #2196 "'google-cloud-sdk' was not found"
Hey,

suddenly all our google-cloud-sdk installations fail - both using the update command and from `apt-get`

* Version '120.0.0' for 'google-cloud-sdk' was not found
* The component listing for Cloud SDK version [119.0.0] could not be found

`gcloud components update --version 120.0.0 kubectl`

[2016-08-25 15:45] tseaver commented on #2142
After some discussion with my similarly-curmudgeonly partner @mcdonc, I'm +0 on the use of [`mock.patch`](https://docs.python.org/3/library/unittest.mock.html#unittest.mock.patch) instead of our [`_Monkey`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/fd0e6bf7aac1f4373c64d8e76552d395a1dbf279/gcloud/_testing.py#L18) class.  Caveats:

- I don't like the decorator style in general, and w

[2016-08-25 15:48] tseaver commented on #2143
@jonparrott I left the API out because I couldn't imagine a use-case for it.  It seems like the purview of [ResourceManager](https://github.com/GoogleCloudPlatform/gcloud-python/blob/fd0e6bf7aac1f4373c64d8e76552d395a1dbf279/gcloud/resource_manager/client.py#L96), not BigQuery.

[2016-08-25 15:52] dhermes commented on #2176
@rimey We saw 3 more 500s:

https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154939849
https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154939849

Is there an ongoing service issue?

[2016-08-25 15:53] tseaver commented on #2176
Worse, they are the only ones blocking us from green.

[2016-08-25 15:53] dhermes commented on #2163
Again: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/154939849

@tmatsuo PTAL

[2016-08-25 15:55] dhermes commented on #2196
@gergelyke the public issue tracker for the `gcloud` CLI is [here][1]. This repo is for the Python Google Cloud client library.

[1]: https://code.google.com/p/googleappengine/issues/list

[2016-08-25 15:55] #2196 closed

[2016-08-25 15:56] tseaver commented on #2163
I'm going to put on my Pollyanna/Candide hat and claim that #2195 has resolved this issue.

[2016-08-25 15:56] #2163 closed

[2016-08-25 15:56] tseaver commented on #2192
I'm going to put on my Pollyanna/Candide hat and claim that #2195 has resolved this issue.

[2016-08-25 15:57] #2192 closed

[2016-08-25 15:58] tseaver commented on #2169
I'm going to put on my Pollyanna/Candide hat and claim that #2195 has resolved this issue.

[2016-08-25 15:58] #2169 closed

[2016-08-25 15:58] tseaver commented on #2111
I'm going to put on my Pollyanna/Candide hat and claim that #2195 has resolved this issue.

[2016-08-25 15:58] tseaver commented on #2170
I'm going to put on my Pollyanna/Candide hat and claim that #2195 has resolved this issue.

[2016-08-25 15:58] #2170 closed

[2016-08-25 16:13] tseaver commented on #2176
@dhermes I'm changing my mind about the retries:  I *really* want green.

[2016-08-25 16:29] tseaver commented on #1857
Duplicate of #1821.

[2016-08-25 16:29] #1857 closed

[2016-08-25 16:30] rimey commented on #2176
There's no ongoing service issue that I know of.

[2016-08-25 16:33] tseaver commented on #1791
And FTR we merged the implementation in #1636.

[2016-08-25 16:34] jonparrott commented on #2143
There are many users of bigquery that don't use any other APIs. I think
this is important, and its needed for our documentation.

On Thu, Aug 25, 2016, 8:48 AM Tres Seaver <notifications@github.com> wrote:

[2016-08-25 16:39] tseaver commented on #1744
#2154 supersedes this for the general case.

[2016-08-25 16:39] #1744 closed

[2016-08-25 16:40] tseaver commented on #1696
All three APIs now use gRPC if available, and fall back to JSON-over-HTTP.

[2016-08-25 16:40] #1696 closed

[2016-08-25 16:41] tseaver commented on #1141
#2154 is really where this should be tracked as an ongoing issue.

[2016-08-25 16:41] #1141 closed

[2016-08-25 16:41] tseaver commented on #851
All three APIs now use gRPC when available.

[2016-08-25 16:41] #851 closed

[2016-08-25 17:01] rimey commented on #2176
In what GCE zone are you running the system tests?

[2016-08-25 18:43] geigerj commented on #2117
gRPC longrunning package available here: https://pypi.python.org/pypi/grpc-google-longrunning-v2/

I think the VKit team is still working out the full story for "meta-APIs" like longrunning, so I'll hold off the GAX package if you guys don't need it now.

[2016-08-25 19:40] elibixby opened #2198 "Contributing guidelines broken"
[code]
Results in `error: Could not find suitable distribution for Requirement.parse('gax-google-logging-v2<0.8dev,>=0.7.12')`

Then `tox -e docs`

Fails with
[code]

[2016-08-25 19:43] dhermes commented on #2198
@elibixby I think we have moved past 0.7 to 0.8 (on phone, forgive me I can't check)

Are you sure you are running that command from `HEAD`?

Your IAM PR is certainly behind and won't build for similar reasons (broken versions of GAX deps).

[2016-08-25 20:15] daspecster commented on #2198
@elibixby I'm able to run `python setup.py develop` locally in my virtualenvs.

Can you run `python setup.py --version` should print your checked out version.

[2016-08-25 20:27] dhermes commented on #2198
I am on a laptop now. [Confirmed][1] you have an old checkout (e.g. `gax-google-pubsub-v1 >= 0.7.12, < 0.8dev` is old).

@elibixby Please re-open if the issue still persists at `HEAD`

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/fd0e6bf7aac1f4373c64d8e76552d395a1dbf279/setup.py#L24-L28

[2016-08-25 20:27] #2198 closed

[2016-08-25 20:29] daspecster commented on #2194
I'll see if I can pull it in.

[2016-08-25 20:40] dhermes commented on #2194
@jgeewax Currently the custom docs build doesn't include any prose in our RST docs. (The Sphinx build still works just fine.)

@daspecster Correct me if I'm wrong.

[2016-08-25 21:08] tseaver commented on #2176
I don't know the answer to that question.  On Travis, the tests run with a system account for project `precise-truck-747`.  On the monitoring console, that appears to be wired up to  GAE module `omega-moonlight-697`.

[2016-08-25 21:09] daspecster commented on #2194
@dhermes you are correct. We will have to find the proper places to put these docs, assuming that I can parse the RST.

[2016-08-25 21:17] #2193 closed

[2016-08-25 21:21] daspecster opened #2200 "Travis-CI nearly unusable due to extremely long queuing."
For gcloud-python and other languages, Travis-CI has been taking many hours to run builds.

We should address this in order to maintain gcloud-python quality and reliability.

[2016-08-25 21:22] tseaver commented on #2117
@geigerj Thanks!  I'll work on folding it in.  One thing I note is that the `0.8.1` release doesn't have the `v2` in the path:  is that intentional?

[2016-08-25 21:23] jonparrott commented on #2200
This is the case across the GoogleCloudPlatform org.

[2016-08-25 21:24] geigerj commented on #2117
@tseaver [The protos are unversioned](https://github.com/googleapis/googleapis/tree/master/google/longrunning), and the lack of version in the path is a direct consequence.

[2016-08-25 21:25] tseaver commented on #2117
@geigerj OK, WFM.

[2016-08-25 21:27] elibixby commented on #2186
They all share a path attribute, and even if `_require_client` is just sugar it seems strange that it's reimplemented...

But I understand that this is a slippery slope towards a complex and messy class hierarchy. Up to you ultimately.

[2016-08-25 21:30] daspecster commented on #2200
@jonparrott, hopefully things can get sorted out in the GoogleCloudPlatform travis account. If not I guess we'll need to get a secondary plan together.

[2016-08-25 21:30] tseaver commented on #2117
Hmm, looks like the new distribution clashes with `googlapis-common-protos-1.2.0`:

[code]
so "last one installed" wins. :(

[2016-08-25 21:33] geigerj commented on #2117
Ah, shoot. Didn't realize `operations` was already included in `googleapis_common_protos`. I will discuss with @bjwatson about how best to proceed.

[2016-08-25 21:41] dhermes commented on #2176
@rimey The Travis CI system might run on GCE but we have no way of knowing. That shouldn't matter though?

[2016-08-25 21:42] dhermes commented on #2194
Le sigh. Sphinx works and there is no figuring out how to parse needed

[2016-08-25 21:47] daspecster commented on #2194
I'm not sure that injecting HTML into the site works very well.
@callmehiphop, do you know where we could put something like this? Can the overview.html be dynamic per module and forced to expand?

[2016-08-25 22:00] callmehiphop commented on #2194
I think there are two keys that would do what you want to accomplish - `description` and `overview`.

`overview` is a complete replacement for the <kbd>overview.html</kbd> file. Where as `description` is just text/html that will be dumped in right after the Getting started section, but before any of the methods.

[2016-08-25 22:07] daspecster commented on #2194
@callmehiphop I thought there was an issue with just dropping html in there?  If there isn't then I guess we could build the HTML for the resource manager docs, but then strip out or try and replace broken/generate links that sphinx makes, which don't match up to the doc site structure and then drop it in the `description` field?

[2016-08-25 22:49] bjwatson commented on #2117
Sorry, I didn't notice that either.

@tseaver Are you okay with the version of LRO in `googleapis-common-protos`, or did you need them packaged separately for some reason?

[2016-08-25 22:50] geigerj commented on #2117
AFAIK `googleapis-common-protos` does not use the grpc plugin, so there will be no grpc stub.

[2016-08-25 23:15] geigerj commented on #2117
@tseaver Sorry for the confusion. If you were already rolling your own solution for the `Operations` service, please continue to use that -- I think we're going to abandon `grpc-google-longrunning-v2` for now. We'll keep thinking about how longrunning integrates with Veneer Toolkit and update when we know more.

[2016-08-25 23:55] waprin commented on #2200
Some options our team is considering:

1) Figure out if Travis can fix it

2) I have an internal Jenkins instance. It's firewall off but it can upload build output and build history to GCS buckets  as comments on the PRs. Take a look at github.com/kubernetes/minikube PRs to see what it could look like. If you're interested happy to set it up but I'm on vacation next 2 weeks though I'm sure Jon cou

[2016-08-26 02:32] #1858 closed

[2016-08-26 08:26] mathiasverhoeven opened #2204 "GRPC Calls to Bigtable & Datastore fail"
Using:

[code]

All the RPC calls we do on Bigtable via the Python client seem to fail, e.g. listing the instances of a project returns:

[code]

We've tried downgrading the gcloud or the grpcio library but without success. Also, the Bigtable Golang client seems to function correctly.

Edit: The issue is also present when querying Datastore over GRPC.

[2016-08-26 08:49] getumen opened #2205 "Datastore.Client.Query.fetch().next_page() always return has_next = False"
Using
[code]
fetch().has_next() doesn't work.
It always returns False.
[code]
The result is following:
[code]
There are next entities. But has_next() returns False.
This issue occurs since about 4 hours ago.

[2016-08-26 14:12] jgeewax opened #2206 "JSON serialization should include key and url_safe_key ?"
Apparently the entity default JSON serialization excludes the key and url_safe key.

According to a customer "Both of those are super useful, and IMO are parts of the datastructure, not internal. "

[2016-08-26 14:13] jgeewax opened #2207 "Write a Datastore Overview doc"
We don't have a summary doc on rtd.org... It'd be really nice ot have an overview for Datastore.

[2016-08-26 14:15] jgeewax opened #2208 "Document how to re-use connections"
From a customer:

Ideally we have some standard pattern where you create a client and perhaps import that client from elsewhere, reusing it for queries?

[2016-08-26 14:24] sduskis commented on #2204
Other folks are seeing this problem as well.  We are actively investigating this issue.

[2016-08-26 15:53] vlandham commented on #2204
Also seeing this. Started yesterday/last night as far as I can tell.

We attempted to move back to

[code]
with no improvement.

Thanks!

[2016-08-26 16:07] sduskis commented on #2204
We think we found the culprit.  We are rolling out a server side fix now.

[2016-08-26 16:08] garrettjonesgoogle commented on #2117
FYI for Java, my plan was to roll this into the Java equivalent of googleapis-common-protos, and I was going to use the grpc plugin on `Operations`. I think it would be best to make a simple rule that protos with no major version go into the common protos package.

[2016-08-26 16:09] tseaver commented on #2204
@sduskis Great, thank you for the quick resolution!

[2016-08-26 16:12] #2064 closed

[2016-08-26 16:15] tseaver commented on #2208
@jgeewax Right now, we don't support sharing a client between threads.  See #926, #1214, #1346.  #2160 talks about making it easier to copy a client for use in a new thread.  Clients are just lightweight wrappers around their connection objects, which means that keeping a separate instance per thread is quite workable.

I don't know that there is anything datastore-specific about the issue.

[2016-08-26 16:16] sduskis commented on #2204
@tseaver: I think that there's follow up work.  gRPC should handle RST_STREAM more gracefully.

[2016-08-26 16:16] geigerj commented on #2117
SGTM. If that's the plan for Java, we can do the same for Python.

[2016-08-26 16:20] tseaver commented on #2206
AFAIK, datastore doesn't use / render / speak JSON:  the API is either protobuf-over-HTTP or protobuf-over-gRPC.

[code]

Even if we *were* speaking JSON, the [`Entity` representation would have the key](https://cloud.google.com/datastore/reference/rest/v1/Entity).

[2016-08-26 16:24] tseaver commented on #2206
I wonder if the user is talking about the fact that `Entity` inherits from `dict`, and accesses the properties via `__getitem__`, but also has its `key` as an attribute.  That is a deliberate design choice (see that JSON representation in the docs, which also separates the key from the properties.

[2016-08-26 16:25] tseaver commented on #2160
#2208 suggests that making a clean copy of a client instance might be a broader requirement.

[2016-08-26 16:27] tseaver commented on #2205
Based on the timing, I wonder if this issue is a symptom of the same problem as #2204.

[2016-08-26 16:33] tseaver commented on #2117
@garrettjonesgoogle I thought about that idea, but worried about adding the extra dependencies to `googlapis-common-protos` (which is currently blissfully unaware of `grpcio` and `oauth2client`:  it only depends on `grpcio`).

[2016-08-26 16:37] sduskis commented on #2205
The underlying issue of #2204 was indeed across a whole bunch of services.

[2016-08-26 16:45] garrettjonesgoogle commented on #2117
@tseaver but are the common protos useful outside of the context of using them in grpc?

[2016-08-26 17:05] tseaver commented on #2117
@garrettjonesgoogle Until recently, `gcloud.datastore` spoke protobufs-over-HTTPS, rather than protobufs-over-gRPC.  We originally picked up the `googleapis-common-protos` dependency in order to use stuff from `google.rpc. status_pb2` and `google.type.latlng_pb2`.

[2016-08-26 17:07] garrettjonesgoogle commented on #2117
This might suggest a packaging scheme where we have the message types from Operations in googleapis-common-protos, but create a new googleapis-common-grpc for the non-versioned grpc-generated `Interface`s in googleapis, which for now would be just Operations.

[2016-08-26 17:16] geigerj commented on #2117
@bjwatson and I discussed that last scheme (separating `Services` from other proto types in the common protos), but that would require modifying the protos (undesirable because we'd need to maintain the restriction that all future common protos have services and types in separate files) or the gRPC codegen (difficult because we do not maintain `protoc`).

[2016-08-26 17:32] garrettjonesgoogle commented on #2117
Oh yeah, I forgot that multiple non-Java languages stick the types & operations in a single file.

So, it sounds like this is the choice to make: do we want to (1) be backwards-incompatible (operation messages get moved out into their own package), or (2) have the grpc dependency foisted on everyone? Or maybe (3), update protoc & gRPC codegen for all languages to put types & operations in distinct

[2016-08-26 20:12] destijl opened #2209 "Bigtable instance undelete doesn't exist"
The documentation and some code comments think there should be an undelete for bigtable instances:

https://github.com/GoogleCloudPlatform/gcloud-python/blob/e63b1d8bd24a826c28865a21766ee7537ce87285/gcloud/bigtable/instance.py#L283

https://googlecloudplatform.github.io/gcloud-python/stable/bigtable-instance.html

but AFAICT looking at code it appears to be unimplemented.

[2016-08-26 21:33] tswast commented on #2118
+1 to this. I filed a similar issue in gcloud-java https://github.com/GoogleCloudPlatform/gcloud-java/issues/1123 which does provide a project as part of the dataset identifier (but it doesn't always use it, yikes!)

[2016-08-26 22:03] tseaver commented on #2209
Thanks for the report!  `UndeleteCluster` endpoint went away in [V2 of the API](https://cloud.google.com/bigtable/docs/reference/admin/rpc/google.bigtable.admin.v2#google.bigtable.admin.v2.BigtableInstanceAdmin).  The `Instance` concept is new in V2, and never had an `UndeleteInstance` endpoint.

The artifacts you are seeing are fossils (in the `Cluster` docstrings) and copy-past of fossils (in th

[2016-08-26 23:02] destijl commented on #2209
OK. I was testing code that stands up a new instance, I ended up just using a random instance id instead of trying to resurrect the same one.

[2016-08-26 23:30] #2209 closed

[2016-08-27 03:28] tseaver commented on #2176
@rimey, @dhermes I realized that one difference between running the system tests on Travis and on our local machines is that `unique_resource_id()` returns a much longer string when `TRAVIS_BUILD_ID` is present in the environment:  in fact, with current build IDs, the type name is a suspicious 41 characters in length.  #2213 shortens the type name prefix, allowing the test which failed on my box w

[2016-08-27 04:25] rimey commented on #2176
This is interesting. I'll look into it.

The maximum length of a metric type is supposed to be 100 bytes.

[2016-08-27 12:33] tseaver commented on #2176
I looked for a limit in the [docs](https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors#MetricDescriptor.FIELDS.type), and didn't find one.

[2016-08-27 17:29] rimey commented on #2176
The limit is mentioned on a [different page](https://cloud.google.com/monitoring/api/v3/metrics#label_names).

[2016-08-27 19:45] tseaver commented on #2176
@rimey thanks for that pointer.  Note that shortening the `MetricDescriptor.type` value did allow the system test, which had previously been failing consistently on Travis, to pass after merging #2213.

- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155569740#L938
- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155569740#L1187

[2016-08-28 16:56] tseaver commented on #2111
[Nope](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155569740#L851-L877).

[2016-08-28 16:58] tseaver commented on #2080
[Ugh](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155569740#L851-L877)

[2016-08-28 17:23] tseaver commented on #2080
@tmatsuo Has there been some recently-deployed change to the Pubsub API which would cause this failure to go from "flaky" to "fails routinely"?  Our current backoff ends up polling for *four minutes*, trying to get the `deleted-topic` response after deleting our "orphan" subscription's topic.

@dhermes, @daspecster If @tmatsuo doesn't know / suspect any back-end change which would explain the fail

[2016-08-29 01:28] daspecster commented on #2194
I talked to @callmehiphop and it turns out my thoughts on adding the HTML were close, we just have to slash escape the double quotes before inserting it into the JSON fields, but they use an AngularJS ext/lib/tool/something to import and parse HTML from the JSON. I'm going to give it a go.

[2016-08-29 02:15] tseaver opened #2216 "'test_list_files': eventual consistency failure"
From https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155830290#L813-L830:

[code]

[2016-08-29 02:16] tseaver opened #2217 "'test_paginate_files': eventual consistency failure"
From https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/155830290#L832-L838:

[code]

[2016-08-29 17:08] dhermes commented on #2080
I'm unclear on how important this test case is, though hope we can sort out the backend's issues without having to ditch the system test (the more the merrier).

[2016-08-29 18:49] daspecster commented on #2200
@waprin, 2 & 4 sound really cool. I think having the badge for a public project is valuable though.
I'm not sure what other people think?

I did notice that sometime this weekend, things with travis have seemed to speed up. If this holds out for a few days(September 1st) then I'll close this.

[2016-08-29 19:45] tseaver commented on #2200
I wonder if the huge backlog was due to [Travis OSX problem](https://www.traviscistatus.com/incidents/4mvp857qx8bw).

[2016-08-29 20:09] daspecster commented on #2200
I really hope they don't have an architecture that is tightly coupled enough to have one platform cause issues with other platforms.
I guess if they had a bunch of backed up OSX builds and needed to swing vm resources over to OSX to catch back up?

[2016-08-29 21:02] dhermes commented on #2027
Closed via #2211

[2016-08-29 21:02] #2027 closed

[2016-08-29 21:02] dhermes opened #2218 "Add system test for annotate_text()"

[2016-08-29 21:18] tswast commented on #2083
job.results() for asynchronous queries sounds good to me.

I don't think we'd need to change how synchronous queries work.

[2016-08-30 17:30] dhermes opened #2220 "Remove all sleep() statements from unit tests"
Without the sleeps, the unit tests are "fast", i.e. they just run without any pauses and take ~1.5 seconds. With the sleeps from the three offending test cases, the unit tests take ~4.5 seconds.

@waprin these are all in `gcloud.logging.handlers.transport.test_background_thread`. Wanted to assign this to you but can't for some reason? (Never sure how org. vs. project permissions matter for issue a

[2016-08-30 17:38] pcostell opened #2221 "Emit header for gRPC messages"
gRPC connections currently don't have enough information in the request for us to do efficient traffic management/routing.

Will you add a header that allows for us to optimize for this on the server? The header format is:

[code]

In general, the prefix would be the same as the JSON-over-http URL up to any custom method. For example, a Cloud Datastore commit message over JSON would hit the url `p

[2016-08-30 17:53] davidn opened #2222 "Low default chunk size slows GCS downloads"
Steps to reproduce:
1. Create multi-gb file gs://your_bucket/obj
2. Test gsutil speed with "gsutil cp gs://your_bucket/obj /local/copy"
3. download via gcloud.storage.Blob.download_to_filename (see sample script below)

Expected result: similar timing

Actual result on my machine: gsutil downloads 4.6GB in 1min14sec, gcloud.storage takes 20min.

If I add `blob.chunk_size=1<<30` prior to download_t

[2016-08-30 23:51] jonparrott opened #2225 "Running and bundling tests with namespace packages"
(Context: PR #2223 towards #1978)

PR #2223's tests can't run because nose will place `cwd` into `sys.path` when running tests. This means `import google.cloud` will import `./google/cloud` instead of `{env}/lib/python{x}.{y}/site-packages/google/cloud`. This will clobber all other `google` namespace packages. There is an long-open issue [here](https://github.com/nose-devs/nose/issues/856), note t

[2016-08-31 12:47] tseaver commented on #2225
In https://github.com/GoogleCloudPlatform/google-cloud-python-happybase, I moved the `google` package into a non-package `src` directory to resolve this issue.  I would prefer that to either of these alternatives.

[2016-08-31 14:42] DannyLee12 opened #2226 "bigquery-usage typos and broken example code."
Page Name: bigquery-usage
Release: 0.17.0

This page hardly works, there are typos at at least three positions:
`Upload table data from a file:` has two typos, CSV and unmatched parenthesis. The code also doesn't work. Please supply a working template that can be copied and adapted to use. That would be lovely.

[2016-08-31 15:19] daspecster commented on #2226
Thanks for reporting! This is actually a duplicate of #2073.
Somehow I forgot about this. I'll get to work on it right now.

[2016-08-31 16:14] dhermes commented on #2225
@tseaver The fact that the `nose` project is dead is a signal we should move to `py.test`. As for moving unit tests, I don't care where they live. I just sent #2227 to move them into a directory called `unit_tests` so in some sense it'll be more obvious where they live than it currently is.

[2016-08-31 17:01] jonparrott commented on #2225
@tseaver I'm not super thrilled about `src/google` and using `package_dir', but I'm willing to be fine with it as a temporary solution to get the namespace change unblocked.

[2016-08-31 17:03] dhermes commented on #2225
@jonparrott I've already got the test move done and after that the `py.test` change should be straightforward

[2016-08-31 17:12] jonparrott commented on #2225
👍 , though I'd love to have @tseaver on board. :)

[2016-08-31 18:56] ojengwa opened #2228 "URL forwarding for root domain."
Recently,  I convinced our team to port our DNS to Google Cloud DNS.
Unfortunately, the cloud DNS service does not support aliasing/CNAME for the root domain.

I understand that this is a DNS specs `standard`.

Please, any work around on redirecting a root domain to a sub/another domain?

[2016-08-31 19:43] daspecster commented on #2228
Thanks for asking @ojengwa!

If I understand correctly, this is actually not supported by the DNS specifications.

Here's some conversation I found on the issue.
http://serverfault.com/questions/613829/why-cant-a-cname-record-be-used-at-the-apex-aka-root-of-a-domain.

@tseaver may have some more insight if this is possible or not.

[2016-08-31 19:52] ojengwa commented on #2228
Yes, it's not :(

Most DNS services provide a workaround (Google domains actually allows you to set up URL forwarding on the root domain for example...).

Currently losing major traffic (new product launch) because the root domain cannot be reached...

[2016-08-31 20:12] tseaver commented on #2225
The `src/` prefix directory is in common use among other namespace-package projects (the `zope.*` packages all use it).

[2016-08-31 20:16] jonparrott commented on #2228
@ojengwa your best bet would be to put a simple webserver at the root domain to handle 301ing to a subdomain. This is pretty easy to do with [nginx](http://stackoverflow.com/questions/6045020/how-to-redirect-to-a-different-domain-using-nginx).

[2016-08-31 20:32] ojengwa commented on #2228
Hi @jonparrott, we are currently deployed on Heroku... :(

[2016-08-31 20:35] daspecster commented on #2228
@ojengwa, you may need to spin up another heroku instance/gear/? to do the redirect.
Also, Heroku has some DNS settings that may [help](https://devcenter.heroku.com/articles/custom-domains#subdomain-examples).

[2016-08-31 20:36] jonparrott commented on #2228
You could still do that with heroku, I believe.

On Wed, Aug 31, 2016, 1:32 PM Bernard Ojengwa <notifications@github.com>
wrote:

[2016-08-31 21:40] jonparrott commented on #2142
If we do switch to pytest as runner, we can take advantage of pytest's `monkeypatch` fixture. This could eliminate the need for `_Monkey`.

Use of `mock.Mock()` and `mock.patch()` is a separate case. I think there should be no reason to discourage people from using them where appropriate. Decorator style reads better with pytest-style test functions, but I agree that context-manager style reads be

[2016-08-31 22:23] KevinTydlacka opened #2229 "New Standard SQL Data Types Not Supported in gcloud._helpers._rows_from_json() / _CELLDATA_FROM_JSON()"
Standard SQL dialect support was added in 0.18.0, but current release does not support queries that return results that include data types that are not supported by Legacy SQL.

E.g. executing the following query using Standard SQL:

[code]

results in

[code]

Not a significant issue since the Legacy SQL Data types will work for my needs, but wanted to report it all the same.

[2016-08-31 23:34] dhermes commented on #2225
@tseaver I'm not sure how `src/` fixes the issue?

[2016-08-31 23:48] dhermes opened #2230 "Add informational headers to gRPC requests sent for datastore"
See https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1542

We need to modify the headers [being sent to](https://github.com/GoogleCloudPlatform/gcloud-python/blob/6ce152cc097a113874a7713cceb99ce2eda13818/gcloud/_helpers.py#L572-L575):

[code]

Though we may want to do this on a per-request basis. Probably not, since `self._user_agent` doesn't change after the `MetadataPlugin` object

[2016-09-01 03:25] jonparrott commented on #2225
@dhermes it side-steps the issue of:

By putting them under `src` doing `import google.cloud` won't look at `src/google/cloud`.

[2016-09-01 04:04] dhermes commented on #2225
I just tried that in #2223 and it made the failures worse (`tox -e py27` still breaks with `google` namesapce and now `.tox/py27/bin/nosetests` also broken)

[2016-09-01 04:19] tseaver commented on #2225
@dhermes Check what I did in [`google-cloud-python-happybase`](https://github.com/GoogleCloudPlatform/google-cloud-python-happybase):  the tests are all happy running from inside `src`, and the namespace package is correct.

[2016-09-01 04:22] tseaver commented on #1735
I don't see a bug here:  the helpers are not intended to be public, which means that renaming them makes them seem as though they might be public (e.g., when found from a module which imports them by name).

[2016-09-01 04:23] dhermes commented on #2225
@tseaver Thanks for the pointer. My ambiguous "I just tried that" above meant that I copied what you had done there. Unclear on where the failure is.

[2016-09-01 04:24] dhermes commented on #1735
I don't care very much, though @jonparrott has said compelling things to me along these lines. As for public names from a private module, aren't imported members not "considered" part of the public API.

[2016-09-01 06:24] omaray commented on #1978
Yes, confirmed. We are sticking with google-cloud-{api}

[2016-09-01 08:24] JuanCarlosM opened #2232 "gcloud crashed (ValueError): No JSON object could be decoded"
When $HOME/.dockercfg exists but is empty, gcloud command could not decode content and crashes

How to reproduce:
$ echo  > $HOME/.dockercfg
$ gcloud docker ps
ERROR: gcloud crashed (ValueError): No JSON object could be decoded

[2016-09-01 13:48] daspecster commented on #2232
@JuanCarlosM for reporting!
This repository is specifically for the python library to interact with Google Cloud Platform services and doesn't have anything to do with the `$ gcloud` command line tool.

I _believe_ that is over at https://code.google.com/p/google-cloud-sdk/issues/list.

[2016-09-01 13:48] #2232 closed

[2016-09-01 13:49] daspecster commented on #2228
I'm going to close this for now. I don't know there's a move we can make here AFAIK. If there is, feel free to reopen.

[2016-09-01 13:49] #2228 closed

[2016-09-01 14:02] JuanCarlosM commented on #2232
opps..., ok forwarded! thanks!

[2016-09-01 14:36] daspecster commented on #2232
Awsome! Thank you!

[2016-09-01 21:47] fdr opened #2238 "Can't install: grpc"
Once again, another packaging problem introduced via dependency.

https://travis-ci.org/wal-e/wal-e/builds/156938683

[code]

Notably, this commit is a readme-only change, following yet another text-only change that succeeded three days ago.

[2016-09-01 22:12] daspecster commented on #2238
Thanks for letting us know @fdr!
There were some changes to `googleapis-common-protos` recently.

@bjwatson, is this a change from a recent update to `googleapis-common-protos`?

[2016-09-01 22:19] bjwatson commented on #2238
@daspecster Yes, I just pushed a 1.3.0 version built with gRPC 1.0.0 GA, and including the LRO service methods. I'll double check the `grpc` dependency, and push `1.3.1` if it's broken.

@fdr Sorry for the trouble. We'll get this fixed soon.

[2016-09-01 22:20] rwillard commented on #2238
Here's the error we're getting when just trying install grpc at all to debug

[code]

[2016-09-01 22:21] sahilkataria commented on #2238
^^ seems like a compatibility issue with python3. "pip install grpc" seems to work fine.

[2016-09-01 22:25] tseaver commented on #2238
@bjwatson the drones you are looking for are `grpcio`, not `grpc`.

[2016-09-01 22:30] varunabhgupta commented on #2238
Ditto on @fdr . Facing this, too, while building a project locally. Same failure with gcloud 0.13, gcloud 0.17, and gcloud 0.18.1.

[2016-09-01 22:40] bjwatson commented on #2238
@tseaver Roger. Just filed https://github.com/googleapis/packman/pull/105 to fix the underlying issue, and am about to build `1.3.1`.

[2016-09-01 22:50] byndcivilization commented on #2238
+1 on this. getting errors in local pip installs and in glcoud builds.

[2016-09-01 22:58] bjwatson commented on #2238
Should now be fixed. I pushed https://pypi.python.org/pypi/googleapis-common-protos `1.3.1` with the correct `grpcio 1.0.0` dependency.

[2016-09-01 23:02] varunabhgupta commented on #2238
Works for me.

[2016-09-01 23:05] daspecster commented on #2238
Works for me as well in a python3.4 virtualenv.

[code]

@fdr?

[2016-09-01 23:06] rwillard commented on #2238
Working for me

[2016-09-01 23:18] bjwatson commented on #2117
So we decided on option (2). The LRO service methods are now in https://pypi.python.org/pypi/googleapis-common-protos.

@tseaver Can I remove the https://pypi.python.org/pypi/grpc-google-longrunning-v2/ project, since we don't need it?

[2016-09-02 00:08] jonparrott commented on #2117
Please don't delete anything from PyPI unless absolutely necessary (e.g., legal issues). Just update the trove classifiers and mark it as deprecated and possibly publish a new version that warns about deprecation.

[2016-09-02 00:10] jonparrott commented on #2117
Forcing grpc on everyone also seems like a bad choice, and would immediately rule out any usage of this library on GAE Standard for the foreseeable future. /cc @omaray

[2016-09-02 00:11] garrettjonesgoogle commented on #2117
But does adding a grpc dependency (without using it) actually break consumers?

[2016-09-02 00:17] jonparrott commented on #2117
It's very possible.  Even if that's not the case today, it could easily
change underneath us. I won't feel comfortable with grpc being a hard
requirement until gae has first class support for it.

On Thu, Sep 1, 2016, 5:11 PM garrettjonesgoogle <notifications@github.com>
wrote:

[2016-09-02 00:20] garrettjonesgoogle commented on #2117
Can it be a soft requirement, with the intent of grpc working on gae as a first class citizen down the road? It becomes a painful package explosion if we have to maintain everything in pairs of packages (message types, grpc service types).

[2016-09-02 00:26] jonparrott commented on #2117
How do you propose it being a "soft" requirement?

On Thu, Sep 1, 2016, 5:20 PM garrettjonesgoogle <notifications@github.com>
wrote:

[2016-09-02 00:28] garrettjonesgoogle commented on #2117
Python team members - @bjwatson @geigerj - any ideas?

[2016-09-02 00:32] jonparrott commented on #2117
So as it stands today grpc is an `extra` on this library. Using this library without grpc means that the hand-written clients will work over HTTP. These versions are compatible with GAE Standard.

I know the grpc revolution is coming and essentially all generated APIs will not work without them, so I understand the desire to move toward having grpc installed by default, however, we will leave GAE

[2016-09-02 09:25] omaray commented on #2117
We need to ensure our Python libraries work on GAE Standard. The current setup was great because it allowed to default back to http in case something was wrong with gRPC. And this applies to other environments too.

So is there another solution?

[2016-09-02 14:03] bjwatson commented on #2117
I've already released 1.3.x of https://pypi.python.org/pypi/googleapis-common-protos with grpcio as a `install_requires`. @jonparrott if I change this to an `extras_require`, does that satisfy the needs of our GAE Standard clients?

The alternative is extra engineering work to separate the `longrunning` messages and services into two separate packages, which is a bit of a fragile post-processing h

[2016-09-02 14:04] bjwatson commented on #2117
FYI @jmuk. I know you've had similar conversations on the Ruby side.

[2016-09-02 14:11] dhermes commented on #2080
@tseaver shouldn't we leave this open?

[2016-09-02 15:44] natb1 commented on #2238
I have been deploying gloud-python to appengine (using google.appengine.ext.vendor) and at some point since yesterday gcloud has stopped importing properly. Here is the stack trace
[code]

Could this be related to the issue above?

[2016-09-02 16:10] daspecster commented on #2238
@natb1, that could be related I suppose but I would think that the issue would be resolved now.
What version of `gcloud-python` are you installing?

[2016-09-02 16:13] natb1 commented on #2238
gcloud==0.18.1

[2016-09-02 16:18] daspecster commented on #2226
I looked [here](http://gcloud-python.readthedocs.io/en/latest/bigquery-usage.html) and also ran `pycodestyle` and `python -m py_compile` on the file those examples are derived from and I couldn't find an issue.

Let me know if I missed the spot you're talking about.

[2016-09-02 16:18] #2226 closed

[2016-09-02 16:24] daspecster commented on #2238
@natb1, does the local dev server seem to work?

I'm wondering if the library is cached on the app engine side somehow.

[2016-09-02 16:49] jonparrott commented on #2117
@bjwatson that *could* work, this library would have to update the grpc extra to require `googleapi-common-protos[grpc]`. I'm not 100% sure this will work, so it probably needs to be tested before we go and publish the packages.

(Note: users are [already](https://github.com/GoogleCloudPlatform/gcloud-python/issues/2238#issuecomment-244411824) having fun with grpc).

[2016-09-02 16:50] jonparrott commented on #2117
btw testpypi exists for the purposes of testing: https://testpypi.python.org/pypi

[2016-09-02 16:57] natb1 commented on #2238
the dev server gives a different error from a different gcloud import. I couldn't tell you if it's a new issue that's related because I don't normally use the dev server.

[code]

[2016-09-02 17:01] jonparrott commented on #2238
we're tracking app engine support (or rather the lack of) over at #1893

[2016-09-02 17:29] natb1 commented on #2238
shucks

[2016-09-02 17:31] daspecster commented on #2238
@fdr and @natb1. I'm going to close this for now since it seems the original issue was resolved.

[2016-09-02 17:31] #2238 closed

[2016-09-02 17:45] bjwatson commented on #2117
thanks @jonparrott. we'll try this out with testpypi

[2016-09-02 17:53] natb1 commented on #1893
Any updated information that could be provided on this would be helpful. Are there any short term workarounds? Or, do I need to migrate off of appengine standard sooner rather than later?

This was actually working for me briefly, but the issue I am running into currently is:
[code]

[2016-09-02 17:53] dhermes commented on #2222
@thobrla Is `2**30` a better chunk size than `2**20`? Should we base it on the file size first?

[2016-09-02 17:57] dhermes commented on #2221
@pcostell Sorry I never saw this. For some reason GitHub stopped subscribing me to notifications.

[2016-09-02 17:57] dhermes commented on #2221
Closing as duplicate of #2230

[2016-09-02 18:04] jonparrott commented on #1893
natb1: supporting standard is a priority.

You might be able to get around this by just deleting grpc from lib/

[2016-09-02 19:23] garye opened #2242 "Add support for BIGTABLE_EMULATOR_HOST environment variable"
The Python client should support the [Bigtable emulator](https://cloud.google.com/bigtable/docs/emulator).

This should work similarly to the python support for `PUBSUB_EMULATOR_HOST` and `DATASTORE_EMULATOR_HOST`.

cc @mbrukman

[2016-09-02 19:35] thobrla commented on #2222
What download resume methods does gcloud-python support - in other words, how do you recover from transient service or network issues?  If support is based on downloading entire chunks successfully, then chunk size is implicitly a tradeoff between performance vs. reliability.

But ideally you wouldn't have a chunk size at all - you would request the entire object in a single request, and in the pr

[2016-09-02 19:39] davidn commented on #2222
I don't think the JSON API has a good resume mechanism. The XML API allows resuming with range headers.  gsutil uses JSON API with chunked downloading like this and 100MB chunks I believe.

[2016-09-02 19:46] dhermes commented on #2242
:+1: I just noticed last week that the Bigtable emulator had been added. I've been meaning to sort out some b0rken-ness with the other clients (never checked if they worked after adding gRPC support to the clients).

[2016-09-02 19:59] thobrla commented on #2222
The JSON API supports range headers as well.

gsutil does not use chunking for single object downloads via the JSON API.  It does slice objects into multiple ranges so that it can download them in parallel, but whether that slicing occurs or not, a single range request for the entire range of each slice is set.

You can verify the simple (non-sliced) case by running:
`gsutil -D -o 'GSUtil:sliced_o

[2016-09-02 22:09] kir-google-cloud-pubsub opened #2243 "pubsub Message class does not set timestamp"
`pubsub.Message` timestamps are not set.  There are two object properties, neither of them is set.  What's even more confusing is that attempting to access an attribute of an instance throws an error.

To reproduce:

[code]

[2016-09-02 22:12] dhermes commented on #2243
Trying to repro right now.

[2016-09-02 22:29] dhermes commented on #2243
@kir-google-cloud-pubsub I can't reproduce. `ack_id, m = s.pull()` is essentially invalid, but maybe you meant to say

[code]

When I run the slightly modified code, I get

[code]

----

Any more details you can provide?

[2016-09-02 23:21] dhermes commented on #2080
@tseaver As of the [latest build][1] the error has stopped occurring, which has led to "unexpected success". To make this more hilarious, in Python 2 vs. 3, that means a different status code with `unittest`.

I've tried to repro the `FAILED (unexpected successes=1)` vs. `OK (unexpected successes=1)` but can't

[code]

[1]: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/157205950

[2016-09-02 23:33] bjwatson commented on #2117
@tseaver @jonparrott The updated package with an optional `[grpc]` dependency is available at https://testpypi.python.org/pypi/googleapis-common-protos (version 1.3.2).

`pip install googleapis-common-protos`
 -or-
`pip install googleapis-common-protos[grpc]`

[2016-09-03 02:53] dhermes commented on #2080
Same fail but not really fail again: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/157238601

[2016-09-03 23:50] didiercabrera commented on #1436
https://github.com/google/protobuf/issues/1153

[2016-09-05 12:48] yanikkoval commented on #1436
@tseaver, @jonparrott installing it with pip put the package in the wrong directory.

[2016-09-05 22:29] mattbnz opened #2246 "Broken links abound in SD docs"
I'm trying to read the docs for the SD monitoring API. Broken links abound.

I'm starting at: https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/monitoring

I click on the link for details about "Monitored Resource Descriptors" which hover says will go to https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/monitoring/index/resourcedescriptor but my browse

[2016-09-06 01:21] rimey commented on #2246
You might have a better time at [Read the Docs](https://gcloud-python.readthedocs.io/en/latest/monitoring-usage.html).

[2016-09-06 01:45] mattbnz commented on #2246
How would I find that link you supplied?

The links I pasted above are what is linked off the front page of https://github.com/GoogleCloudPlatform/gcloud-python for "API documentation" - readthedocs.io is nowhere to be found as a link from here...

The docs on github are also where the big read "Read the Docs" link from https://googlecloudplatform.github.io/gcloud-python/#/ takes you, which is dou

[2016-09-06 14:00] daspecster commented on #2246
Thanks for reporting @mattbnz!

I think we should put the readthedocs link in the README.md.

The googlecloudplatform.github.io/gcloud-python docs are currently a work inprogress. They were just converted to an auto generated platform and there are edge cases that continue to pop up.

I'll see if I can figure this one out and I'll post back if I find the issue.

[2016-09-06 14:29] natb1 commented on #1893
no dice. thanks though
[code]
I also tried removing google from lib/
[code]

[2016-09-06 15:26] natb1 commented on #1893
locking down `googleapis_common_protos` appears to do the trick (I think). I.E. this should work to deploy gcloud-python to appengine standard using vendoring
[code]

[2016-09-06 16:22] jonparrott commented on #1893
Thanks, @natb1. @bjwatson do you anticipate that moving grpc to an 'extra' for googleapis-common-protos will fix this?

[2016-09-06 16:23] jonparrott commented on #1436
@yanikkoval can you give us more details? What exact pip command are you running? What's in your `appengine_config.py`?

[2016-09-06 16:35] tseaver commented on #2080
I'm in favor of just dropping the test altogether (as #2215 did originally).

[2016-09-06 16:44] tseaver commented on #2221
@dhermes This issue seems to ask for these headers for *all* gRPC requests, not just those for the Datastore API.

[2016-09-06 16:45] tseaver commented on #2230
#2221 is broader than this issue would suggest.

[2016-09-06 16:47] dhermes commented on #2221
When @pcostell says "us" he means the datastore API team.

[2016-09-06 16:56] tseaver commented on #2221
But his example points at the Java Bigtable client.

[2016-09-06 16:57] dhermes commented on #2221
@pcostell can you clarify when this should apply?

[2016-09-06 17:18] bjwatson commented on #1893
@jonparrott Yes, I do. The `extra` version is on testpypi, and I will publish to normal PyPI today after I talk with the gcloud-python team.

[2016-09-06 17:27] dhermes commented on #2242
@garye I mostly have this finished but it seems like most of `system_tests/bigtable.py` fails because the backend comes back with `UNAVAILABLE`. Is there a list of methods actually working in the emulator?

[2016-09-06 17:33] garye commented on #2242
Instance-related commands aren't implemented and I suspect that's what you're running into. It's meant for table-level admin/read/write operations, so you can reference any project/instance when you create a table.

[2016-09-06 17:34] dhermes commented on #2242
OK. It seems empirically that deleting a table doesn't work. Also, I'm starting to think some of the `UNAVAILABLE` I'm seeing are masked as other issues, e.g. creating a table that already exists (since a previous delete failed). And possibly my system test has too high a QPS for the server?

[2016-09-06 19:09] garye commented on #2242
- UNAVAILABLE was because the server crashed when asked to do a ReadRows with no Rows specified. This should be supported so we'll fix ASAP, but it will be at least a week until a fix can make it into a gcloud release.
- Deleting a table should work fine, it does locally when I ran a patched emulator that handles the ReadRows request.
- The TableAdmin tests are supported and pass locally if enable

[2016-09-06 19:15] dhermes commented on #2242
Thanks for digging into this! We already skip the IAM tests on the Pub / Sub side when running in the emulator, so not a big deal for labels.

The sugar to allow local connections when the emulator already works before waiting for the `gcloud` CLI fix to be released. Worth adding that support and then adding a working `tox -e bigtable-emulator` in a subsequent PR?

[2016-09-06 19:30] jgeewax commented on #2184
Yep - they will accept both, but we should only talk about BCP-47 which will be the standard.

[2016-09-06 19:31] dhermes commented on #2184
@jgeewax Can you comment on why we should contradict / subset what's in the official docs?

[2016-09-06 19:53] garye commented on #2242
Yeah that works for me, I'd like to see something out sooner rather than later.

[2016-09-06 20:09] #1786 closed

[2016-09-06 20:10] dhermes commented on #2225
@jonparrott This is "resolved"

[2016-09-06 20:10] #2225 closed

[2016-09-06 20:10] jonparrott commented on #2225
👍

[2016-09-06 20:12] tseaver commented on #2098
@cwbeck Let's track this on #2132.

[2016-09-06 20:12] #2098 closed

[2016-09-06 20:21] tseaver commented on #2143
@jonparrott I can add this, but wonder why we don't have it in all the other APIs, too?

[2016-09-06 20:28] tseaver commented on #2229
@ToomToom Thanks for the report!  For future reference, here are the [docs for the column types returned when querying with the standard SQL dialect](https://cloud.google.com/bigquery/sql-reference/data-types).

[2016-09-06 20:36] #2119 closed

[2016-09-06 20:38] jonparrott commented on #2143
@tseaver it's just an artifact of how bigquery is setup. There are multiple "public" projects containing public bigquery datasets. BigQuery kind of exists on its own for historical reasons, so it makes sense for this to be here. (BigQuery was the 3rd cloud platform service - after GAE and GCS).

[2016-09-06 21:32] bjwatson commented on #1893
@jonparrott @natb1 @dhermes The latest release of `googleapis-common-protos` now has gRPC as an `extra` dependency, which should fix the latest issue.

[2016-09-06 21:36] dhermes commented on #1893
Thanks @bjwatson!

[2016-09-06 22:05] dhermes opened #2253 "Should we globally disable ungrouped-imports after google.cloud rename?"
As of right now PyLint gets confused by the namespace package and doesn't have a distinction for `google.*` imports and local `google.*` imports. It's probably worth raising with the PyQA folks (we've had good interactions with the `pylint` people before).

[2016-09-06 22:38] tmatsuo commented on #2080
Sorry for the late reply. What does the test do? Maybe I can ask a core engineer if something has changed.

[2016-09-06 22:40] bjwatson commented on #1893
No problem. Sorry for the drama this caused.

[2016-09-06 22:43] tseaver commented on #2080
@tmatsuo it creates a topic, and a subscription to it, then deletes the topic.  It then tries to verify that the same subscription (when returned from `Client.list_subscriptions`) has `None` as its topic, i.e., that resource as listed contained the special `_deleted-topic_` value for its topic.

What we see is that the orphaned subscription is *not* showing that special value, even after an extrem

[2016-09-06 22:54] tmatsuo commented on #2080
Does it always fail now, or it is still flaky (flakier than before)?

[2016-09-06 22:56] dhermes commented on #2080
It failed for like 10 days straight and now has succeeded for about 5 days straight

[2016-09-06 22:59] tmatsuo commented on #2080
Thanks, asked the engineering team about it

[2016-09-07 12:41] sduskis opened #2255 "Retry temporary failures for Bigtable scans"
Cloud Bigtable can return DEADLINE_EXCEEDED after 5 minutes on a scan request, even if there are more responses to be returned.   In that case, or INTERNAL, UNAVAILABLE or ABORTED, the scan should be retried from the key after the one previously returned in the scan.

[2016-09-07 14:19] dhermes commented on #2255
@sduskis You mean during [`ReadRows`][1], instead of a `ReadRowsResponse` popping off the `stream`, the client encounters one of the errors listed:

1. [`DEADLINE_EXCEEDED`][4]
1. [`ABORTED`][5]
1. [`INTERNAL`][3]
1. [`UNAVAILABLE`][2]

So we could limit the change to the [place we consume the next item from the stream][6]?

[1]: https://github.com/googleapis/googleapis/blob/1053cc26bacd054ac98ab4

[2016-09-07 14:33] wbolster commented on #1762
yeah, as i said numerous times before, just include the license and point out that your package is an emulation of my happybase package. i think both are covered now in the new repo's README.

[2016-09-07 14:44] iAmAnkeeta opened #2256 "GCloud Python Doc Incomplete - Master Branch"
The documentation for gcloud python is incomplete.
https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud
https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/datastore
If you go to source code you get 404.

[2016-09-07 17:09] #1978 closed

[2016-09-07 17:24] dhermes opened #2258 "Remove pubsub and logging as namespace packages"
This should be assigned to @bjwatson but I can't assign to him in this repo.

Blocking on having the GAX generated Pub / Sub and Logging clients no longer use `google.cloud.logging` and `google.cloud.pubsub` as namespace packages.

[2016-09-07 17:52] dhermes opened #2259 "Travis build broken due to GCLOUD --> GOOGLE_CLOUD rename"
I broke it with #2223: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158235243

All of the env. vars. need to be updated:
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/settings

I have to teach from 11am-2pm Pacific but will try to fix it ASAP after that.

We are starting to see the 90% of the iceberg in the water on this rename.

[2016-09-07 17:59] jonparrott commented on #1893
There may be another issue with `google.types.latlng_pb2`... investigating.

[2016-09-07 18:00] bjwatson commented on #2258
If the admin for GoogleCloudPlatform adds me, then you can assign away. :) (FYI, @omaray and @jgeewax)

I'm just resolving the email thread that you're copied on for correct package naming. After that, it's pretty easy to re-generate these surfaces, since they've already been thoroughly tested (a simple diff will tell me they still look good).

[2016-09-07 18:01] jonparrott commented on #1893
[code]

@bjwatson @dhermes any ideas?

[2016-09-07 18:04] jonparrott commented on #2258
I can add you to this repo, @elibixby can add you to the veneer team.

[2016-09-07 18:04] jonparrott commented on #2258
Invitation sent.

[2016-09-07 18:15] sduskis commented on #2255
Taking a step back, these 4 errors can be recovered in most RPC calls.  MutateRow, MutateRows, SampleRowKeys, checkAndMutate all can be retried, but have slightly different nuances.  That said, ReadRows was the first reported issue where retries are most likely to fix the problem.

In terms of ReadRows,I think you are correct in terms of where the code fix out to be.

[2016-09-07 18:30] tseaver commented on #2259
Issues so far:

- Need to get the env vars copied (@daspecster is working on that).
- Namespace packages  (`pubsub` / `logging`) break the client construction in system tests (see #2260)
- `logging`: expanded names for buckets / topics are too long (see #2260).
- `bigtable`: expanded instance ID too long (see #2261).

[2016-09-07 18:31] bjwatson commented on #2258
Thanks @jonparrott

[2016-09-07 19:07] bjwatson commented on #1893
@jonparrott How did you trigger this?

[2016-09-07 19:12] bjwatson commented on #1893
Never mind, I know what the problem is. We need to only use the `--grpc_out` flag when building `operations_pb2.py`, but not for anything else. I'll release version `1.3.3` of [`googleapis-common-protos`](https://pypi.python.org/pypi/googleapis-common-protos) in an hour or two, once I've made this fix.

I'm really sorry for all the trouble with this transition.

[2016-09-07 19:22] jonparrott commented on #1893
No worries. This is why we have a lot of tests for things like
getting-started-python. :)

On Wed, Sep 7, 2016, 12:12 PM Brian J. Watson <notifications@github.com>
wrote:

[2016-09-07 20:12] kir-google-cloud-pubsub commented on #2243
You are right -- about the mistake I meant.  In your code, try m.timestamp -- it should be set, but is not.

[2016-09-07 20:21] bjwatson commented on #1893
Perhaps I should run some of those tests before doing anything crazy like this again. :)

Version `1.3.3` should fix this issue: https://pypi.python.org/pypi/googleapis-common-protos

[2016-09-07 20:22] jonparrott commented on #1893
@bjwatson it can be somewhat difficult to run our system tests, but let me know if you ever want to try. :)

[2016-09-07 20:23] bjwatson commented on #1893
I'll pay you a visit the next time I'm Seattle, and maybe you can show me. :)

[2016-09-07 20:38] geigerj commented on #1893
I'm a little confused about what's going on with https://github.com/googleapis/packman/pull/109, maybe am missing some context.

As I understand, the problem is that we don't want to import `grpc` when it's not necessary to access the LRO service because `grpc` is not available in some environments, like GAE. But if we build common protos with `grpc_out` even just for LRO, you still have the exact

[2016-09-07 20:45] kir-google-cloud-pubsub commented on #2243
also, m.service_timestamp

[2016-09-07 20:45] tseaver commented on #2243
There are two timestamps possible on a message:

- `message.timestamp` is in the `attributes` of the message, and must therefore be set by the topic:  setting those is controlled by the `topic.timestamp_messages` attribute, which defaults to `False`.
- `message.service_timestamp` is set by the back-end, and parsed from the `publishTimestamp` field of the pulled message resource.

To activate the f

[2016-09-07 21:00] tseaver commented on #2243
It appears that the GAX/gRPC adapter for pubsub is not mediating between the `publish_timestamp` [field](https://cloud.google.com/pubsub/reference/rpc/google.pubsub.v1#google.pubsub.v1.PubsubMessage.FIELDS.google.protobuf.Timestamp.google\.pubsub.v1.PubsubMessage.publish_time) in the `PublishedMessage` proto and the expected `publishTimestamp` field (as returned from the JSON-over-HTTP API).

[2016-09-07 21:20] tseaver commented on #2259
The post-merge tests after #2260 and #2261 show only the #2280 "unexpected success" error.

[2016-09-07 21:20] #2259 closed

[2016-09-07 22:31] dhermes commented on #2258
Yup. Just wanted to have this as a placeholder

[2016-09-07 22:47] dhermes opened #2263 "Stop using GOOGLE_CLOUD_TESTS_PROJECT_ID"
Related to #2259.

With the project ID from `GOOGLE_APPLICATION_CREDENTIALS` support added by @daspecster, we don't need to specify the project ID any longer. Though I may be wrong on this, e.g. if some API doesn't use credentials but does use a project ID.

[2016-09-07 22:49] bjwatson commented on #2258
Awesome, thanks Danny.

[2016-09-07 22:57] tseaver commented on #2080
If we merge #2248, we can still have the back-end guys experiment with the test by setting the appropriate environment variable.  E.g.:

[code]

[2016-09-07 23:01] dhermes commented on #2259
@daspecster Thanks for handling. How did the copy work?

[2016-09-07 23:22] #2243 closed

[2016-09-07 23:42] rimey commented on #2263
Can you say a little more about what you have in mind and point to the changes by @daspecster that you mentioned?

For a number of reasons, it's important that the automated system tests continue to associate their RPCs with your own GCP project (rather than using a shared project ID built into the auth library).

- It gives you control over your RPC quota limits.
- It lets you monitor your RPC qu

[2016-09-08 00:11] rimey commented on #2263
I might be worried about nothing. With GOOGLE_APPLICATION_CREDENTIALS pointing at credentials for a service account, the project owning that service account will be the issuing project for the RPCs, and all will be well.

[2016-09-08 01:54] dhermes commented on #2263
@rimey Check out the [implementation][1]. In particular, `_file_project_id()` gets the project ID from the `GOOGLE_APPLICATION_CREDENTIALS` file (which is already the same as the one we set in tests).

----

This doesn't exist (and can't really for most requests).

----

Exactly

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/1f75bde2fe63420d9687610762920f8e5e6bd65c/google/cl

[2016-09-08 03:08] dhermes commented on #1837
@pcostell Can we close this?

[2016-09-08 03:16] rimey commented on #2263
Thanks. This all sounds good.

I should have said built into the Cloud SDK.

[2016-09-08 04:14] tseaver commented on #2063
I think all of us are able to run the `translate` system tests, so we can close for my initial intention.  The docs issue might stlll need to remain for our users, though.

[2016-09-08 04:17] #2143 closed

[2016-09-08 09:25] DannyLee12 commented on #2226
@daspecster This looks good, it seems that either this page has been updated or I was looking an old [page](http://gcloud-python.readthedocs.io/en/0.7.1/bigquery-usage.html). Thanks anyway.

[2016-09-08 14:27] ngelinas opened #2266 "Source Code links return 404 and no documentation provided"
**Source Code** links found on the [`gcloud.datastore.client.Client`](https://googlecloudplatform.github.io/google-cloud-python/#/docs/master/gcloud/datastore/client/client) documentation page are broken returning `404`s.  For instance, the `#put` method contains no documentation, not a huge deal, but the **Source Code** link goes to [https://github.com/GoogleCloudPlatform/gcloud-python/blob/maste

[2016-09-08 14:47] daspecster commented on #2266
Thanks for reporting @ngelinas, this is from the recent repository rename.

@dhermes we should make the switch today if we can.

[2016-09-08 17:13] #2063 closed

[2016-09-08 17:58] tseaver opened #2271 "Revert change to `User-Agent` header"
From #2223.

See https://github.com/GoogleCloudPlatform/gcloud-common/issues/179 for rationale, such as it is and what there is of it.

[2016-09-08 18:04] dhermes commented on #2242
@garye Now that #2249 has been merged, can you give me a heads up when the fixes are in so I can add `tox -e bigtable-emulator`?

[2016-09-08 19:28] tseaver opened #2274 "test_analyze_entities: salience outside expected range"
From: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158529136#L1224-L1232

[code]

[2016-09-08 19:30] tseaver commented on #2274
Similar error in `test_anaylze_entities_from_blob`:

[code]

[2016-09-08 19:33] tseaver opened #2275 "'test_second_level': expected item missing in set"
From: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158529136#L1386-L1393

[code]

[2016-09-08 19:46] dhermes commented on #2275
Indeed. I've been tracking this on the last 5 or so builds. `storage` seems to be under duress (or just has different performance characteristics than before)

[2016-09-08 19:47] dhermes commented on #2274
Indeed. Le sigh.

[code]

[2016-09-08 19:48] dhermes commented on #2274
@jgeewax Can you weigh in here? The actual output of the API seems to be a moving target. Note that the input is a simple sentence that hasn't changed:

[code]

[2016-09-08 20:36] dhermes opened #2277 "Only run tests for modules affected by a PR"
Inspired by https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1579

This may require building a directed graph (based on direct imports) and traversing the graph. We could use `networkx` for this, or maybe `pylint` already has tooling for dependency graphs.

[2016-09-08 20:49] tseaver commented on #2277
Seems like overkill:  all 2160 unit tests run in under 4 seconds on my machine.  Now, if we could prune the *system tests*, that would be a win (but only after merge, of course).

[2016-09-08 20:56] dhermes commented on #2277
Yes "Only run tests" was meant to include all tests (maybe unit tests not relevant as you point out)

[2016-09-08 21:39] jonparrott commented on #2277
@dhermes in python-docs-samples we make nox [gather a list of changed files](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/nox.py#L84) and then [filter the list of samples to test](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/nox.py#L124) based on that. Maybe some of that code could be useful to you?

[2016-09-08 22:11] swegner opened #2278 "[Documentation Issue] Stackdriver Logging Client list_entries() filter_ parameter referred to as filter in apidocs"
Page Name: _modules/gcloud/logging/client
Release: 0.17.0

The API docs for list_entries() refer to the `filter_` parameter as `filter` in multiple places. In python, the correct name seems to be `filter_`.

Correct: https://googlecloudplatform.github.io/google-cloud-python/stable/_modules/gcloud/logging/client.html#Client.list_entries

Incorrect references I've noticed:

* https://googlecloudplat

[2016-09-08 22:38] dhermes commented on #2277
Ha, some bubble gum there for sure. When I tried to use the `TRAVIS_COMMIT` env. var. long ago (like almost 2 whole years) it was not consistently populated.

[2016-09-08 23:03] tseaver commented on #2278
@swegner Thanks for the report!

[2016-09-09 00:29] #2278 closed

[2016-09-09 00:30] jonparrott commented on #2277
Yep, that's why we have a fallback that uses HEAD.

On Thu, Sep 8, 2016, 3:38 PM Danny Hermes <notifications@github.com> wrote:

[2016-09-09 01:40] dhermes commented on #2274
In the meanwhile I'm going to let this set of tests go green, working on a PR now

[2016-09-09 02:17] dhermes commented on #2271
On it.

[2016-09-09 03:48] dhermes commented on #2230
@tseaver Focusing on the datastore case, this is a bit awkward even as-is. The `Connection` doesn't have access to the project, since the `Client` handles that.

But the `Connection` is essentially a dumb wrapper around `_DatastoreAPIOverHttp` / `_DatastoreAPIOverGRPC` combined with some helpers for constructing the protobufs to be sent off.

WDYT about removing the `datastore.connection` module a

[2016-09-09 04:57] dhermes commented on #2274
@jgeewax Can you weigh in here?

[2016-09-09 05:09] tseaver commented on #2230
The `Connection` class is still responsible for managing the low-leve REST bits:  I guess you could gut those parts into the `_DatastoreAPIOverHttp` class, and have the client just hold an instance of it (or the gRPC variant).  They still need somewhere to live, which makes trashing the module problematic.

[2016-09-09 12:56] thejens opened #2285 "Allow dryRun for jobs/queries"
Not sure how to best do this; but would be great with the ability to trigger dryRuns of jobs to get an idea of the amount of data it will consume and validate the query.

https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.dryRun

... essentially it could be just a parameter on the job like for example write_disposition; however it might make more sense to do one of:

a) Add a b

[2016-09-09 14:30] tseaver commented on #2285
We already expose this feature for synchronous queries, which have a [`dry_run` property](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/298b28ab931ead28ed913e19d18fae0b678ff9a2/google/cloud/bigquery/query.py#L224).  The [docs](https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.dryRun) say, "Behavior of non-query jobs is undefined."  So, I'm guessing that this

[2016-09-09 14:39] tseaver commented on #2285
@thejens Looks like this would be very much like the work that @gene-telligent did in #2276:  add the `dry_run` typed property to the `QueryJob` class, and then ensure that it gets copied into the resource.

[2016-09-09 15:20] #2271 closed

[2016-09-09 15:25] dhermes commented on #2230
[Not really][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/891b0603d76082c1b8f7085d00534f021d1b8b3e/google/cloud/datastore/connection.py#L67-L125

[2016-09-09 15:49] tseaver commented on #2230
That example delgates to the connection's `_build_api_url` method, uses its `USER_AGENT`, an calls into its `http` attr to make the actual request.  Those were the bits I was talking about moving into `_DatastoreAPIOverHttp`.

[2016-09-09 15:50] dhermes commented on #2230
Gotcha! That was just "laziness" to get the implementation to fit. I've got a speculative PR in the works, coming soon. We can chat about that?

[2016-09-09 19:14] dhermes commented on #2200
Closing this out because Travis seems to have sped back up. Maybe not though? Feel free to re-open.

[2016-09-09 19:15] dhermes commented on #2111
@tseaver Close out until it shows up again in the wild?

[2016-09-09 19:15] #2111 closed

[2016-09-09 19:16] dhermes commented on #2176
@rimey What is the status here? Can we close this out?

[2016-09-09 19:17] dhermes commented on #2216
Fixed in #2181.

[2016-09-09 19:18] #2200 closed

[2016-09-09 19:18] dhermes commented on #2275
I went at this in #2252, maybe the issue is with how the `Iterator` stores prefixes?

[2016-09-09 19:23] dhermes opened #2289 "copy_blob calls have started to fail in system tests (400 no file found in request)"
@thobrla Any idea why these requests would start to become flaky?

Some recent examples:

- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158783443
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158777834
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/158764459
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/bui

[2016-09-09 19:31] tseaver commented on #2111
SGTM

[2016-09-09 20:36] rimey commented on #2176
The 500s that you were getting when deleting metric descriptors were due to a bug, the fix for which finished rolling out today.

You can now create and delete metric descriptors with a type name of up to exactly 100 characters.

[2016-09-09 20:37] #2263 closed

[2016-09-09 20:39] dhermes commented on #2176
Thanks.

[2016-09-09 20:39] #2176 closed

[2016-09-09 21:38] geigerj opened #2291 "Wrong version of google-gax is being installed"
### Expected behavior
Installing `gcloud` should bring in `google-gax 0.12.x` as a dependency.

### Observed behavior
`google-gax 0.13.0` installed, which later can cause a version conflict with `google-gax-{logging,pubsub...}-*` that still depend on 0.12.x

[code]

I'm not sure why this is happening, since `setup.py` bounds `google-gax` as [google-gax >= 0.12.3, < 0.13dev](https://github.com/Goog

[2016-09-09 21:42] dhermes commented on #2291
`gcloud` is dead, long live `gcloud`.

The [relevant source][1] is tagged at version 0.18.1. In particular:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/f7dede8dc5a078c93a6ad5a16d090e23c76d2bdc/setup.py#L22-L29

[2016-09-09 21:46] geigerj commented on #2291
Would it be difficult to release `0.18.2` with the upper bound reintroduced?

[2016-09-09 21:48] dhermes commented on #2291
Nope. Something like this:

[code]

[2016-09-09 21:50] bjwatson commented on #2291
Ditto for the gax and grpc dependencies. This is what I see for this branch:

[code]

Why were these version bounds removed?

[2016-09-09 21:51] dhermes commented on #2291
Let's check out https://github.com/GoogleCloudPlatform/google-cloud-python/commits/master/setup.py and find out

[2016-09-09 21:52] #2289 closed

[2016-09-09 21:56] dhermes commented on #2291
That wasn't as helpful. Looks like `0.18.1` was creating as a one-off branch:
https://github.com/GoogleCloudPlatform/google-cloud-python/commits/0.18.1/setup.py

Bounds removed in:
https://github.com/GoogleCloudPlatform/google-cloud-python/commit/3c91644be58c58e951e77082265e6873339665e2#diff-2eeaed663bd0d25b7e608891384b7298

[2016-09-09 22:05] bjwatson commented on #2291
I see. So it looks like a bad merge, rather than anything intentional.

[2016-09-09 22:06] dhermes commented on #2291
Indeed.

[2016-09-09 22:32] bjwatson commented on #1893
@jonparrott @geigerj Version `1.3.4` of https://pypi.python.org/pypi/googleapis-common-protos fixes the remaining issue with importing `operations_pb2.py` if gRPC is not installed.

[2016-09-09 22:33] dhermes commented on #1893
@jonparrott Are we good to close this out?

[2016-09-09 22:37] jonparrott commented on #1893
Nope. There remains a few more issues, notably the issue with invalid character name.

[2016-09-09 22:40] dhermes commented on #1893
Which issue would that be?

[2016-09-09 22:47] jonparrott commented on #1893
Currently when you vendor gcloud-python you'll get an error when you try to deploy because setuptools contains a file with `(` in the name. I'm working to get this resolved upstream.

I think if we're going to support app engine, we should probably consider writing a tool that properly vendors in the library, perhaps something that uses the GAE-provided versions of pytz and such.

[2016-09-09 22:50] dhermes commented on #1893
First I've heard about the `setuptools` issue. Is that something we can fix?

FWIW we don't require `pytz` and ship a simplified `UTC` class for those that don't have it.

[2016-09-09 23:00] jonparrott commented on #1893
That's good news. And no, I don't think there's anything we should do to
address the filename problem.

On Fri, Sep 9, 2016, 3:51 PM Danny Hermes <notifications@github.com> wrote:

[2016-09-09 23:13] dhermes commented on #2275
I'm going to close this. I'm fairly certain that it was caused by #2289. We can re-open if we see the issue come back.

[2016-09-09 23:13] #2275 closed

[2016-09-09 23:16] dhermes commented on #2217
@tseaver At the end of the day this is an eventual consistency error (surprising we've never seen it before). The values come from

[code]

where we expect there to be 3 filenames:

[code]

So `iterator.next_page_token is not None` will be true if at the time the backend knew about all 3 files. But if not, then we see this failure.

[2016-09-10 01:18] 1mentat opened #2294 "[Documentation Issue] UDFResource examples missing"
Page Name: bigquery-usage
Release: 0.18.1

An example of how to use UDFResource in both sync and async queries would be much appreciated.

[2016-09-11 16:11] dhermes commented on #2080
I did some sleuthing and found out why the unexpected success causes a failure in [Python 3][1] but not [Python 2][2].

[code]

became

[code]

[1]: https://github.com/python/cpython/blob/3.4/Lib/unittest/result.py#L159-L166
[2]: https://github.com/python/cpython/blob/2.7/Lib/unittest/result.py#L144-L146

[2016-09-11 16:58] dhermes commented on #2080
Potential "fix"

[code]

Though it seems like the test succeeds to frequently now we should just remove `@unittest.expectedFailure`.

[2016-09-11 17:31] lucasduffey opened #2296 "[Documentation Issue]"
Page Name: index
Release: 0.18.1

you write "from gcloud import datastore" at https://googlecloudplatform.github.io/google-cloud-python/stable/

but write "from google.cloud import datastore" at https://googlecloudplatform.github.io/google-cloud-python/

docs need to be consistent

[2016-09-11 21:22] dhermes commented on #2296
https://googlecloudplatform.github.io/google-cloud-python/stable/ is an alias for https://googlecloudplatform.github.io/google-cloud-python/0.18.1/ and will be an alias for the next (stable) release.

If you want the docs for what's been checked into `master` check out:
https://googlecloudplatform.github.io/google-cloud-python/latest/

[2016-09-11 21:22] #2296 closed

[2016-09-11 21:22] dhermes commented on #2296
Thanks for taking the time to file an issue though!

[2016-09-12 03:24] dmho418 opened #2297 "Transaction is left open when error happens in Datastore API"
This one is hard to reproduce, but I noticed that when using a transaction with a **with** statement and an error happens inside the transaction itself (a 500 error for example), it appears that the transaction is left open.

[code]
Exception:
[code]
After the exception, any operations to the Datastore using the same client have no effect, and no error is reported.
So my guess is that for some rea

[2016-09-12 04:50] tseaver commented on #2297
Thanks for the report!

[2016-09-12 15:05] jgeewax opened #2298 "Can't pip install google-cloud ?"
(from a customer)

Hi-

I tried installing the newly renamed google-cloud libraries via pip but it doens't look like the python repo got updated.

What this basically means you'd have to use the older gcloud-python version...which is fine but anyone going through our install instructions is in for a surprise (and a pretty miserable experience)

https://github.com/GoogleCloudPlatform/google-cloud-p

[2016-09-12 15:44] daspecster commented on #2298
I believe once the 0.19.0 release gets cut, that this will be resolved.

See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2270.

@dhermes, maybe until that release get's cut we should revert the README?

[2016-09-12 16:06] dhermes commented on #2298
Indeed. Was planning on getting it in on Thursday but there was some pushback. If we don't have movement on it today we can make those temporary edits.

[2016-09-12 16:22] dhermes commented on #2297
I was able to reproduce this, digging in now.

[2016-09-12 16:30] dhermes commented on #2297
After just faking the 500

[code]

I ran the following:

[code]

The issue is certainly in `Batch.__enter__`, hope to have it sorted out soon.

[2016-09-12 17:28] dhermes opened #2300 "Allow tox -e system-tests to accept arguments to restrict which packages are tested"
It's become a little more difficult for the average user to run `python system_tests/run_system_test.py --package={package}` due to the namespace package imports

[2016-09-12 18:11] kir-titievsky opened #2301 "User indicates very high Pub/Sub publish average latency for gcloud-python"
Hey, Gcloud-python team,

I have a user who was left disappointed. From an extract:
"With Google’s gcloud python library, we are seeing avg latencies around 400ms publishing tiny messages. This is unacceptable so we tried the experimental RPC library in both python and go, and see average latencies around 120ms."  Do we have any idea where the discrepancy might be coming from?  Glad to offer some

[2016-09-12 18:20] dhermes commented on #2301
We have gRPC support as well, depending on what version they are using. The latency would be from the network, not from the library, but the 400ms might not all be latency.

For example, there are blocking calls that may wait longer, though we don't use any explicit sleeps, so that would indicate any blocking is due to network latency (again, not anything to do with the library).

[2016-09-12 18:25] dhermes commented on #2301
@kir-google-cloud-pubsub Just sent an email as well. Cheers.

[2016-09-12 18:58] tseaver commented on #2301
If the reported latency is at the point of `Topic.publish`:  note that our GAX API helper maintains API compatibility with the JSON-over-HTTP version, returning the message ID directly to the caller  It therefore disables the GAX "bundling" feature.  We've discussed adding another method (e.g., `Topic.publish_async`) which would be available only under GAX, and which would not return message IDs,

[2016-09-12 19:04] kir-google-cloud-pubsub commented on #2301
Pardon the level of my ignorance here -- don't know what GAX bundling does.  You mean that this is because the Topic.publish() call is blocking?  That still seems odd because the 130ms the user was able to get with gRPC in python indicates that (1) they used a blocking implementation because an async call would not take that long to return; (2) the baseline for full response is still 270ms longer

[2016-09-12 19:40] dhermes commented on #2297
@dmho418 It occurred to me while making the fix #2303 that this error would really only be perceivable if you were in the interpreter or some other situation where the uncaught exception didn't hose your entire application. Are you catching errors and recovering somehow? You may want to look into how much "recovery" is done.

----

@tseaver I wanted to make sure that a failure in `__enter__` means

[2016-09-12 19:55] dhermes commented on #2080
When running `.tox/system-tests/bin/nosetests system_tests/pubsub.py` I was confused by

[code]

since `unittest.TestResults` [implements `addExpectedFailure`][1]. This was due to https://github.com/nose-devs/nose/issues/33, so I feel somewhat happy with the move to `py.test`, where issues won't live on unfixed for 5 years. (Thanks @jonparrott for pointing out the stagnancy of `nose`.)

[1]: https

[2016-09-12 21:11] dhermes commented on #2221
@pcostell Bump. Can you clarify if you just meant for Datastore or for all APIs that use gRPC?

[2016-09-12 21:38] Ofekmeister commented on #2298
If so, you can re-open/merge this PR @2264 and revert it when the migration is complete.

[2016-09-12 21:41] dhermes commented on #2298
Thanks for being alert on this @Ofekmeister

[2016-09-12 21:47] dhermes opened #2305 "Removing bucket in natural language system test fails at times"
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/159403870

[2016-09-12 22:18] #2300 closed

[2016-09-12 22:18] bjwatson commented on #2298
@dhermes I doubt https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2258 will be done today, so it's your choice what release you would like to cut (`0.18.2` or `0.19.0`) to address this immediate concern, knowing that the namespace breaking change will be available in another couple days.

[2016-09-12 22:21] dhermes commented on #2298
@bjwatson The "immediate concern" can be addressed by just fixing up some docs / README

[2016-09-12 22:23] bjwatson commented on #2117
FYI, the test package has long since been published on regular PyPI. We are currently at `1.3.4`.

[2016-09-12 23:24] #2305 closed

[2016-09-13 00:47] dhermes commented on #2301
I did some [benchmarking][1] and it seems like 200ms is the average, when sending a lot of messages, though the number of messages and the duration is only about 65-70% correlated.

It may be more interesting to run this on 50 different machines instead of re-constructing a connection 50 different times, since the OS may be keeping the socket open and making future calls faster.

[1]: https://gist

[2016-09-13 15:31] bjwatson commented on #2298
Awesome. Thanks @dhermes.

[2016-09-13 16:02] kir-titievsky commented on #2301
Summarizing some off-line discussion with @dhermes:
- The user shared their python implementation: `from events import pubsub_client
    topic_name = ".".join(['metrics', aid, lid, mid, met])
    topic = pubsub_client.topic(topic_name)

    with topic.batch():
        for timestamp, value in data:
            msg = json.dumps({
                'timestamp': timestamp,
                'value': value

[2016-09-13 16:32] dhermes commented on #2301
It doesn't explain latency, but it explains why the block of code might take 400ms. Though if there was a lot of requests (i.e. a lot of entries in the `data` iterator), it'd take a lot more than 400ms.

[2016-09-13 17:27] dhermes commented on #2298
The pressing issue is fixed by #2264 but we still need to cut a final monolithic release and then I'll start work in the release-by-service approach.

[2016-09-13 18:27] dhermes commented on #2277
I wanted to summarize how `TRAVIS_*` env. vars. are used in what @jonparrott [linked to][1]. Essentially, they are only used to detect if on Travis (`${TRAVIS} == true`) and to get a list of changed files in the build:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2277#issuecomment-245750250

[2016-09-13 18:45] daspecster commented on #2277
All system tests should be run before a release is tagged. I think the danger of some change affecting another module in some way would outweigh the speed savings.

[2016-09-13 18:47] dhermes commented on #2277
That's why I suggested building the dependency graph.

[2016-09-13 18:48] daspecster commented on #2277
I'm skeptical that a dependency graph would catch everything all the time. Just seems like adding risk?

[2016-09-13 18:52] dhermes commented on #2277
Yes you are definitely paranoid. If code A doesn't depend on code B (whether directly, or indirectly, as traced along the dependency graph) then code B can be completely changed without ever making an impact on the performance of code A (with lots of caveats, e.g. code B can't delete the OS).

[2016-09-13 19:01] daspecster commented on #2277
Yeah I understand. I withdraw my concerns based on your confidence.

Just make sure whatever makes the graph works with namespaced packages 😉!

[2016-09-13 19:02] tseaver commented on #2277
Relying on a third-party dependency-graph analysis tool does add risks:  if it has bugs, we could end up not testing code which actually *is* affected by a change.

[2016-09-13 19:09] matheuspatury commented on #2133
Any updates on this issue? My project is stuck because of it...

[2016-09-13 19:24] jgeewax commented on #2133
Do we know what the problem is yet ? @tseaver

/cc @omaray

[2016-09-13 19:43] jonparrott commented on #2083
Bump, any update on this?

[2016-09-13 19:43] jonparrott commented on #1960
Bump, any update on this?

[2016-09-13 19:50] daspecster commented on #1960
It looks like it was last updated August 19th,
And now it talks about the headers. I'm not sure if that was there before or if that's what we were looking for?

https://cloud.google.com/storage/docs/encryption#request

[2016-09-13 19:53] tseaver commented on #2133
There is a workaround:  first upload the file to Storage, and then load the table from there.  E.g., see [this system test](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/system_tests/bigquery.py#L291-L360).

I will look into reproducing the issue with a new system test.

[2016-09-13 20:26] dhermes opened #2312 "500 on create_bucket in test_load_table_from_storage_then_dump_table()"
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/159670988

~~PS @tseaver The expected failures was 50-50 in that build.~~

[2016-09-13 21:00] bjwatson commented on #2258
@dhermes I published `0.9.0` to https://testpypi.python.org/pypi/ for Pub/Sub, Logging, Vision, and Language.

I did a little testing with Vision, and ran into the same `AttributeError: 'grpc._cython.cygrpc.Channel' object has no attribute 'unary_unary'` that I did for Speech v1beta1 a couple weeks ago. I keep testing and refining more tomorrow.

BTW, the gRPC path changes for Vision required a sm

[2016-09-13 21:12] dhermes commented on #2258
Thanks for the update.

[2016-09-14 00:36] dhermes commented on #2277
Worth noting that [`TRAVIS_COMMIT_RANGE` is worthless sometimes][1], but AFAICT this only happens when rebases / force-pushes occur. Otherwise, the `TRAVIS_COMMIT_RANGE` looks like `${START}...${END}` where `END` is just the `HEAD` commit in the branch that was pushed and `START` is the last value of `START` in a Travis build for that branch.

[1]: https://github.com/travis-ci/travis-ci/issues/266

[2016-09-14 00:50] tseaver commented on #2133
@jonparrott, @matheuspatury Note that it is an error to call `job.begin()`, because the job returned from `table.upload_from_file` is a) already started, and b) lacks information needed to start (the error it reports).  #2313 shows that the job completes fine without that call.

[2016-09-14 01:35] jonparrott commented on #2133
Strange, why does the API start this job for you but doesn't do so for
other things? We should be consistent.

On Tue, Sep 13, 2016, 5:50 PM Tres Seaver <notifications@github.com> wrote:

[2016-09-14 01:53] tseaver commented on #2133
In this mode, we start by uploading a file:  the back-end spools the uploaded file off somewhere in secret, and has begun to process it before ever returning to the client.  Other jobs are created locally on the client first.  Given how the back-end works, the only way to be "consistent" would be to remove this feature, and require that users upload files to Storage before loading them.

We could

[2016-09-14 02:50] matheuspatury opened #2314 "datastore, client.get_multi error"
I'm using an GCE instance with scope cloud-platform to get multiple entities from datastore, but **sometimes** this error happens:

[code]

ds_client = gcloud.datastore.Client()
gcloud version= 0.18.1

[2016-09-14 13:36] tseaver commented on #2314
What version of `oauth2client`?

[2016-09-14 14:42] matheuspatury commented on #2314
oauth2client version = 3.0.0

[2016-09-14 16:05] jonparrott commented on #2133
Weird.

An informative error from `begin` would be okay with me, as long as there isn't strong feelings that it should no-op.

It would also be nice to update the docstring to indicate that the job is already started.

[2016-09-14 16:57] dhermes commented on #2314
Closing in favor of https://github.com/google/oauth2client/issues/645

@matheuspatury Can you weigh in there?

[2016-09-14 16:57] #2314 closed

[2016-09-14 17:19] dhermes opened #2315 "Neither RetryInstanceState nor RetryResult raise exceptions if they "run off the end.""

[2016-09-14 18:24] waprin opened #2316 "Only installing namespaced packages, can't run system tests"
I am trying to rebase my PR and get it all up to date.

I am having trouble running the system tests. Usually I do:

    pip install -e .

To install the package locally in 'editable' mode. However, that's only installing logging and pubsub (those marked as namespaced_packages in `setup.py) into my virtualenv. So when I run the system tests, it can't import bigquery.

Not sure if the repo needs to

[2016-09-14 18:31] tseaver commented on #2316
@waprin is this in a "fresh" virtualenv?

[2016-09-14 18:32] tseaver commented on #2316
Since #2304 was merged, if you have `tox` installed on your path, you can now run just the BigQuery system tests via:

[code]

[2016-09-14 19:55] daspecster commented on #2316
@tseaver, @dhermes I'm also running into the same issue now.

Earlier this week I had to change a test script I have to `from google.cloud import vision`.
This doesn't seem to work now, and I'm having the same issue as @waprin. I tried several new venvs and I haven't found the cause yet.

[2016-09-14 20:08] daspecster commented on #2316
I think I figured it out.

Reference: http://stackoverflow.com/questions/38918246/why-does-setup-py-sweeps-the-content-of-the-namespace-before-installing/38919020#38919020

I'm making a PR for this now.

[2016-09-14 20:24] daspecster commented on #2316
Actually nevermind, my idea didn't work to solve this.

@waprin I believe the pubsub and logging namespaces appear because of the gax and grpc dependencies get installed for them.

[2016-09-14 21:41] waprin commented on #2316
Ok the system test can be run that way so that works though I'm still a bit confused as to how it all gets installed, will figure it out, thanks!

[2016-09-14 21:41] #2316 closed

[2016-09-15 01:06] bjwatson commented on #2258
@dhermes As it turns out, the `AttributeError: 'grpc._cython.cygrpc.Channel' object has no attribute 'unary_unary'` error is due to https://github.com/googleapis/gax-python/pull/127. When I use `google-gax` `0.12.5` (which does not have this change), the error goes away and Cloud Vision works perfectly.

I discussed with @geigerj, and there's more work we need to do to fully remove `grpc.beta`. Th

[2016-09-15 01:06] dhermes opened #2317 "Can we enable "Require pull request reviews before merging""
GitHub [recently added](https://help.github.com/articles/about-pull-request-reviews/) the ability to "approve" a PR (instead of typing LGTM). From the [branch settings](https://github.com/GoogleCloudPlatform/google-cloud-python/settings/branches/master) UI:

![screen_shot_001](https://cloud.githubusercontent.com/assets/520669/18535040/b184d032-7aa5-11e6-8a1f-bc1f463ea2e1.png)

Can we check the box

[2016-09-15 01:07] dhermes commented on #2258
My preference is that we dump `grpc.beta`, so we can wait for releases that do the same.

[2016-09-15 01:09] bjwatson commented on #2258
Ok, we will start work on that immediately. FYI @geigerj

[2016-09-15 01:10] dhermes commented on #2316
I'd be interested what the [PyPA][1] member has to say.

@jonparrott It seems impossible to install namespace packages in "development" / "editable" mode. Is this not the case?

---

@waprin I don't personally use "editable" mode, but did notice that system tests were becoming more difficult to run, hence #2304. Sorry for the problem and thanks for bringing it up. I **think** it's out of our hands

[2016-09-15 01:22] dhermes commented on #2317
This answers the bullet about emergency merges:

![screen_shot_002](https://cloud.githubusercontent.com/assets/520669/18535324/2d5b69ee-7aa8-11e6-8685-ed86e6e0a1c5.png)

[2016-09-15 01:27] dhermes commented on #2258
Thanks.

[2016-09-15 01:38] dhermes opened #2318 "Dataset exists (409) / dataset still in use (DELETE --> 400)"
`python2`:

- Still in use: `precise-truck-742:system_tests_160041019_1473898532`
- Exists: `precise-truck-742:system_tests_160041019_1473898532`

then `python3`:

- Still in use: `precise-truck-742:system_tests_160041019_1473898730`
- Exists: `precise-truck-742:system_tests_160041019_1473898730`

From https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/160041019

Two proposed fix

[2016-09-15 01:50] jonparrott commented on #2316
Correct - `setuptools` does not handle editable installs for namespace packages correctly. This is tracked [here](https://github.com/pypa/packaging-problems/issues/12) with a legendary issue on pip [here](https://github.com/pypa/pip/issues/3) (not surprised to see @tseaver there).

I've offered to do the work to fix this but I need some guidance from PyPA before I start hacking at it.

[2016-09-15 15:24] ryanmcdowell commented on #2298
The issue of the install command being wrong was fixed but all of the imports in the examples are still wrong which will cause just as much confusion.

[2016-09-15 15:43] garye commented on #2242
@dhermes The latest gcloud/emulator release should have the fix. Can you give it a shot?

[2016-09-15 16:13] #2133 closed

[2016-09-15 16:44] dhermes commented on #2242
@garye Thanks for the heads-up. Check out #2322 and LMK if I've disable too many test cases.

[2016-09-15 18:04] daspecster commented on #2294
@1mentat, sounds like a good idea to me!
I'm not super familiar with BigQuery but I'll give it a go.

I was able to get a UDF working in the console, but I'm struggling to get it working in code.

@tseaver here is my snippet code that I'm experimenting with.
https://gist.github.com/daspecster/e26346af9fea67aa6efc0716c11c5956

[2016-09-15 18:28] tseaver commented on #2318
Big :+1:  for avoiding shared dataset IDs.

[2016-09-15 20:02] #2083 closed

[2016-09-15 20:51] jorvis commented on #2298
This is helpful to see.  Is this why after installing the modules and following the example for Google Storage I get this?
[code]
which returns:
[code]

[2016-09-15 20:59] jorvis commented on #2298
For those of us just finding this, can someone point out the proper place for an example of accessing Google Storage until the fix is done?  I just installed from the GitHub trunk and the problem persists.

[2016-09-15 21:09] dhermes commented on #2298
@jorvis Check out http://google-cloud-python.readthedocs.io/en/stable/ and/or https://googlecloudplatform.github.io/google-cloud-python/stable/

The README on https://pypi.python.org/pypi/gcloud is also correct.

[2016-09-15 21:54] tseaver commented on #2294
@daspecster, the feature was added in #2029 by @dwmclary.  Maybe Daniel could supply an example of a working inline UDF?

[2016-09-16 00:07] bjwatson commented on #2258
Latest versions referenced in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2324

BTW, when will the ML APIs start being used? (Vision, Language)

[2016-09-16 00:23] #2080 closed

[2016-09-16 00:24] tseaver commented on #2080
PR #2248 deleted the flaky test.

[2016-09-16 01:43] dmho418 commented on #2297
@dhermes you got it, I'm catching that exception since I don't want the application to crash. Ideally, the client should remain valid after the exception, right?

[2016-09-16 02:12] Kh40sz3r0 opened #2325 "Google app deploy error to Container Engine"
After executing gcloud app deploy i am getting this:

The push refers to a repository [us.gcr.io/<PROJECT_ID>/appengine/default.20160911t235259] (len: 1)
5a55f6cb1567: Preparing
5a55f6cb1567: Pushing
5a55f6cb1567: Pushed
6b0537befc90: Preparing
6b0537befc90: Pushing
6b0537befc90: Pushed
044c4ed6ae59: Preparing
044c4ed6ae59: Pushing
044c4ed6ae59: Pushed
dacab63e05a6: Preparing
dacab63e05a6: Pushing

[2016-09-16 02:56] daspecster commented on #2325
@Kh40sz3r0, thanks for reporting!

This repository is actually just for the `google-cloud-python` library that interacts with Google Cloud Platform services.

@jonparrott, I'm not sure where the best resources for an issue like this would be?

Perhaps, https://code.google.com/p/googleappengine/issues/list?
or
I saw a couple people pointing to this as well...
https://cloud.google.com/appengine/docs

[2016-09-16 05:53] jonparrott commented on #2325
@Kh40sz3r0 it could also be that billing isn't enabled for your project.

I'm closing this, issues of this type should be posted on https://groups.google.com/forum/#!forum/google-appengine or on Stack Overflow.

[2016-09-16 05:53] #2325 closed

[2016-09-16 06:45] DannyLee12 opened #2326 "WRITE_TRUNCATE appending to table"
Using the templates found [here](http://gcloud-python.readthedocs.io/en/stable/bigquery-table.html)
Running the commands

[code]

This piece of code appends to my table instead of overwriting it like the [docs](https://cloud.google.com/bigquery/docs/reference/v2/jobs) say.

I know this because if I use:

[code]

after the job it has increased by 2 million - the size of the table.

I use a workarou

[2016-09-16 14:34] tseaver commented on #2326
@DannyLee12 in #2327 I tried to reproduce this issue, creating a new system test which loads the same table twice, with `write_disposition = 'WRITE_TRUNCATE'` on the second run.  It works as expected:  the rows fetched from the table after the second run aren't doubled.

Can you figure out what differs between your case and that new test?

[2016-09-16 14:38] daspecster commented on #2246
I'm going to close this for now since we switched back to sphinx documentation.

[2016-09-16 14:38] #2246 closed

[2016-09-16 14:50] daspecster commented on #2294
@dwmclary if you can point me in the right direction that would be much appreciated! I'm not sure if I'm doing it wrong or if this is a bug.

[2016-09-16 15:23] 1mentat commented on #2294
There are some other bugs in the docs. I have working code after reading
the source. Will post when I'm at my desk.

On Fri, Sep 16, 2016, 7:50 AM Thomas Schultz <notifications@github.com>
wrote:

[2016-09-16 16:04] dhermes opened #2328 "Needed: Implement system test for orphaned subscriptions"
See #2080 and #2248

Assigned to Takashi so he can help us get in touch with a service owner that can say "give it up already" or help us keep the test from going flaky.

[2016-09-16 16:22] dhermes commented on #2297
Yeah, #2303 resolves that issue. Thanks for bringing it to our attention.

[2016-09-16 16:23] dhermes commented on #2258
@bjwatson I didn't realize language was generated yet. I can do that ASAP. Pointer to PyPI links?

[2016-09-16 16:24] dhermes commented on #2318
@tseaver It's unclear if #2323 (double Michael Jordan) actually will fix the 400 "still in use". But it's not worth leaving this open forever.

[2016-09-16 16:29] daspecster commented on #2258
@dhermes is this it? https://pypi.python.org/pypi/gapic-google-cloud-language-v1beta1/0.9.1

[2016-09-16 16:31] tseaver commented on #2318
Because testcases no longer share dataset names, there isn't going to be a case where the eventual-consistency window for one testcase deleting its dataset overlaps the creation during setup of another testcase.

[2016-09-16 16:44] dhermes commented on #2318
But the clean-up of each dataset will be a delete and the "still in use" on DELETE is where the issue came from.

[2016-09-16 16:45] dhermes opened #2329 "Add gRPC/GAX support for Natural Language"
https://pypi.python.org/pypi/gapic-google-cloud-language-v1beta1

[2016-09-16 16:53] daspecster opened #2330 "Add gRPC/GAX support for Vision"
Pypi: https://pypi.python.org/pypi/gapic-google-cloud-vision-v1
Docs: http://pythonhosted.org/gax-google-cloud-vision-v1/

[2016-09-16 16:59] jgeewax commented on #2274
I expect that the underlying model used here will evolve and "get better" over time. We should assert that there is a salience that is non-zero -- but how "salient" something is as determined by the algorithm can't be frozen.

If we get back a zero, missing, etc, that means that the API contract is just "broken", but 0.75 today and 0.82 tomorrow doesn't mean our client is busted...

[2016-09-16 17:04] dwmclary commented on #2294
OK James, one you've got the bugs sorted out, post and I'll sort them out.

On Fri, Sep 16, 2016 at 8:23 AM, James Burns <notifications@github.com>
wrote:

[2016-09-16 17:17] daspecster commented on #2073
Also closed by #2267.

[2016-09-16 17:17] #2073 closed

[2016-09-16 17:18] daspecster commented on #2159
closed by #2267.

[2016-09-16 17:18] #2159 closed

[2016-09-16 17:19] daspecster commented on #2194
Also closed by #2267.
But I will add it to a list of requirements for the new docs.

[2016-09-16 17:19] #2194 closed

[2016-09-16 17:20] bjwatson commented on #2258
@daspecster @dhermes That's correct.

[2016-09-16 17:22] dhermes commented on #2258
Still need to remove the namespace package bits. On it now.

[2016-09-16 17:22] bjwatson commented on #2258
@daspecster @dhermes FYI, this has the updated links: https://github.com/googleapis/googleapis/pull/140

[2016-09-16 17:23] daspecster commented on #2256
@iAmAnkeeta thanks for reporting! Sorry about the late response.

The docs are now at https://googlecloudplatform.github.io/gcloud-python.

I'm going to close this for now, but if those link are still up somewhere that we can change, feel free to reopen!

[2016-09-16 17:23] #2256 closed

[2016-09-16 17:36] dhermes opened #2332 "Add note to docs about salience fluctuating"

[2016-09-16 17:37] #2274 closed

[2016-09-16 17:39] dhermes commented on #2318
@tseaver Let's leave it closed until the "still in use" shows up again in the wild?

[2016-09-16 17:40] #2217 closed

[2016-09-16 17:45] tseaver commented on #2318
Hmm, I just kicked in #2333 to address it.

[2016-09-16 17:47] dhermes commented on #2318
Oh gotcha. SGTM.

[2016-09-16 17:57] #2258 closed

[2016-09-16 19:06] georgegiovanni opened #2337 "Incorrect method name in BigQuery async example [Documentation Issue]"
Page Name: bigquery-usage
Release: 0.18.1

In order to execute an async job the [docs](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html#querying-data-asynchronous
) say the following:
[code]
Executing this code results in:
`AttributeError: 'QueryJob' object has no attribute 'submit'`

The correct method name is `begin()` not `submit()`.

[2016-09-16 20:01] tseaver commented on #2337
@georgegiovanni Thanks for the report!

[2016-09-16 20:23] #2337 closed

[2016-09-16 20:27] #2297 closed

[2016-09-16 22:20] tseaver commented on #2316
@jonparrott it is arguable that pip is broken in general about installing distributions with namespace packages (coercing them into a single, shared tree). It has never worked to mix installations between pip and setuptools when packages installed by each share a namespace.

[2016-09-16 22:21] #2318 closed

[2016-09-16 22:22] jonparrott commented on #2316
@tseaver fair. :)

[2016-09-17 02:09] Kh40sz3r0 commented on #2325
Hi @jonparrott, i actually have other app working, so it is not the billing, but thanks!

[2016-09-17 03:55] jonparrott commented on #2325
It's worth double checking, because billing is enabled on a per-project
basis! (This has bit me before)

On Fri, Sep 16, 2016, 7:09 PM Kh40sz3r0 <notifications@github.com> wrote:

[2016-09-17 16:32] georgegiovanni opened #2340 "Incorrect google cloud client pip package name in docs"
Page Name: index
Release: 0.18.1

The google cloud python [documentation](https://googlecloudplatform.github.io/google-cloud-python/) lists a non-existent package name of `google-cloud` for the python client library.

Current install instructions:
`pip install --upgrade google-cloud`

Should be:
`pip install --upgrade gcloud`

[2016-09-17 18:16] dhermes commented on #2340
Thanks for the heads up. We really need to get #2270 merged so that `google-cloud` has a valid package in it.

[2016-09-17 19:03] georgegiovanni opened #2341 "Pub/Sub subscriptions don't bind to the specified topic as stated in documentation"
Page Name: pubsub-topic
Release: 0.18.1

Can a helper `subscription` method be added in the `gcloud.pubsub.client.Client` class to facilitate subscribing to subscriptions similar to how there's a `topic` method to facilitate creating topics. Current [instructions](https://cloud.google.com/pubsub/docs/subscriber#receiving-pull-messages) for receiving pull messages suggest invoking the `gcloud.pubsu

[2016-09-17 19:58] tseaver commented on #2341
@georgegiovanni Thanks for the report!

[2016-09-17 22:46] c0b opened #2342 "bigquery: please support non-legacy-sql nested data type, and preserve order in json"
report in https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1593#issuecomment-247506295 from a nodejs app, but since my app can also be written in Python I have a test of Python BigQuery API as well, it seems have a same problem:

[code]

the problems:

1. nested value types are not interpreted, the value types of a and b can be inferred as Integers (from bigquery api response, there

[2016-09-17 23:53] dhermes commented on #2342
@c0b Could you share a snippet using our library indicating what is broken?

[2016-09-18 01:15] c0b commented on #2342
like in GoogleCloudPlatform/google-cloud-node#1593, this issue is not about what is broken, but how can you do better? if you call python `json.dumps` without `separators`, that ends up wasted line trailing spaces, can hardly say what is broken, but why can't you do better?

[2016-09-18 11:44] eyalev opened #2343 "Mention that projects.create() is in alpha"
It would be beneficial to note in the documentaion that the projects.create() method is in alpha and need special permissions to be used, as in: https://cloud.google.com/resource-manager/docs/creating-project

The relevant docs section:

[code]

Page Name: resource-manager-api
Release: 0.18.1

[2016-09-18 14:34] daspecster commented on #2343
Thanks for reporting @eyalev!

I'll update the docs.

[2016-09-19 00:15] #2343 closed

[2016-09-19 05:50] jpatokal commented on #2340
+1.  I see #2270 is still unmerged, so please fix the docs until it's ready.

[2016-09-19 07:17] DannyLee12 commented on #2326
@tseaver I see you are using `job.write_disposition` while I have been using `job.writeDisposition` This fixed the issue and thanks for the test.

This is a quote from these [documents](https://cloud.google.com/bigquery/docs/reference/v2/jobs):

Emphasis mine. Is it possible to update the docs referenced? Thanks again.

[2016-09-19 07:17] #2326 closed

[2016-09-19 07:23] eyalev commented on #2343
Awesome, thanks!

[2016-09-19 13:01] daspecster commented on #2326
The documentation that you referenced is a more general and somewhat language agnostic documentation to describe the architecture of the service.

I think [this](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html#querying-data-asynchronous) might be more helpful for you.

[2016-09-19 15:28] cesterlizi opened #2346 "raised UnicodeEncodeError when printing GCloudError exception"
When exception  was received from google storage  and UnicodeEncodeError exception was raised

[code]

raised

[code]

This is the unicode string that caused the problem -> `That\u2019s all we know.`

The problem seems to be the `__str__` function in your base exception class.

[code]

HOW TO REPRODUCE

[code]

which gives

[code]

[2016-09-19 15:58] daspecster commented on #2229
@tseaver isn't 'DATE' a valid type?
https://cloud.google.com/bigquery/sql-reference/data-types#date-type

It's listed here https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/google/cloud/bigquery/_helpers.py#L81.

[2016-09-19 16:06] tseaver commented on #2326
@DannyLee12 those docs describe the field names which the back-end requires be set in the JSON payloads:  the property names we expose in the `google-cloud-python` are all PEP8-conformant, so we translate from the `camelCasedNames` the API uses to `names_with_underscores`.  As @daspecster notes, you need to look at the docs for this library to see how things are spelled, and use the back-end docs

[2016-09-19 16:15] dhermes commented on #2346
@daspecster I'm not 100% on that. We probably want to implement `__unicode__` as well. I always consult http://www.rafekettler.com/magicmethods.html in these situations

[2016-09-19 16:29] tseaver commented on #2229
@abovethewater, @ToomToom, @daspecster

- PR #2265 added support for the `DATE` type.
- We should be able to add the `INT64` and `FLOAT64` standard types as trivial aliases for the legacy `INT` and `FLOAT`.
- The standard `BYTES` type should be straightforward, if we can figure out how the back-end is expecting the values to be tunneled via JSON (I expect `base64`, but can't find it in the docs).

[2016-09-19 16:41] 1mentat commented on #2294
Sorry for formatting...

sync w/ inline udf:
from gcloud import bigquery
from gcloud.bigquery.job import UDFResource

q = """SELECT * FROM [<dataset>]"""
udf = """<udf>"""

query = client.run_sync_query(q)
query.udf_resources = [UDFResource("inlineCode", udf)]
query.run() # may be wrong in some places

async w/ inline UDF:
from gcloud import bigquery
from gcloud.bigquery.job import UDFResource

q

[2016-09-19 16:47] dhermes commented on #2340
#2270 will be going in today. Thanks for the concern.

[2016-09-19 16:47] #2340 closed

[2016-09-19 16:52] daspecster commented on #2294
@1mentat I'm not sure if you looked at my [gist](https://gist.github.com/daspecster/e26346af9fea67aa6efc0716c11c5956)  from before but I believe I have nearly the same thing as your "sync w/inline UDF" example.
However that doesn't seem to work for me.

I'm curious if your `<udf>` example uses `bigquery.defineFunction` in it?

FYI the UDF in my gist works in the bigquery console.

[2016-09-19 17:16] 1mentat commented on #2294
Sorry, I must have missed it. Too much practice clicking on archive at work.

Inline UDFs through the API require doc headers for types. It's a known issue and was supposed to get fixed a while ago according to the searches I did. I think you need something like:

/**
 *
 * We define the two parameters, below, and specify the schema of the input row and
 * the output row.
 *
 * @param {{name: stri

[2016-09-19 17:23] daspecster commented on #2294
OK thanks! I'll give that a go and let you know how it turns out.

[2016-09-19 17:53] daspecster commented on #2294
@1mentat hmm that doesn't seem to work for me either.
I also tried copying exactly what I have in the UDF editor on the BigQuery console and passing it to `query.udf_resources = [UDFResource("inlineCode", INLINE_UDF_CODE)]`.

I keep getting
[code]

My UDF string
[code]

My UDF query...
[code]

[2016-09-19 17:56] dhermes opened #2349 "[QUESTION] How does GAX send through a user agent for us?"
I realized this was worth asking since the helpers in #2286 don't get used by the APIs that use GAX.

[2016-09-19 18:33] dhermes opened #2350 "Run Python 3.5 on Travis"
@tseaver Maybe I'm crazy? Maybe we shouldn't do this? [Currently](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/6fb2d73ff6350590aa061bcd902422828340f337/.travis.yml#L9-L10) only 2.7 and 3.4 are tested

[2016-09-19 18:33] dhermes commented on #2350
FWIW we could remove 2.7 since all those are included in `tox -e cover`

[2016-09-19 18:45] tseaver commented on #2350
Maybe in conjunction with #2070?

[2016-09-19 18:48] dhermes commented on #2070
I just confirmed it does.

[2016-09-19 18:49] DannyLee12 commented on #2326
@tseaver @daspecster Thanks guys, as with everything, it's obvious once you know. Thanks again, really appreciate the assistance.
Cheers.

[2016-09-19 19:15] dhermes commented on #2342
Can you point out places we are calling `json.dumps` / `json.loads` that could be better?

[2016-09-19 19:20] jonparrott commented on #2350
We should do this. The Python runtime for GAE flex is about to update to 3.5

I'd recommend just adding this to `travis.yaml`, as it's simpler than trying to coax your current setup into a matrix:

[code]

[2016-09-19 19:23] dhermes commented on #2350
Oh. You're saying Travis doesn't support 3.5 yet?

[2016-09-19 19:29] dhermes commented on #2291
@bjwatson @geigerj Do we still want a 0.18.2 or is 0.19.0 sufficient? (Once [it builds][1].)

[1]: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161121136

[2016-09-19 19:30] dhermes commented on #2298
Pre-emptively closing since once the [tag builds][1] this will be on PyPI. (The build has been waiting to start for 40+ minutes, so hopefully soon.)

[1]: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161121136

[2016-09-19 19:30] #2298 closed

[2016-09-19 19:30] dhermes commented on #2157
Removed in #2336

[2016-09-19 19:30] #2157 closed

[2016-09-19 19:32] geigerj commented on #2291
@dhermes As long as there are no users pinned to `0.18.x` complaining about this, I think `0.19.0` is sufficient.

[2016-09-19 19:36] jonparrott commented on #2350
It does but requires some jiggerpockery. That's the simplest bit of nonsense to get a 3.5 interpreter. We're doing that on python-docs-samples. (oauth2client is going the other route with a build matrix).

[2016-09-19 19:37] dhermes commented on #2350
Does it have to be `sudo` to use those addons?

[2016-09-19 19:38] dhermes commented on #2291
OK thanks. Will re-open if we hear otherwise.

[2016-09-19 19:38] #2291 closed

[2016-09-19 19:41] tseaver commented on #2350
I'd prefer the matrix build setup, myself:  having the individual language version builds parallelize would be a Good Thing(TM).  I think we might even get a karma bump on the Travis side, because the individual builds wouldn't run 10+ minutes.   Here is the Pyramid setup:

- [`.travis.yml`](https://github.com/Pylons/pyramid/blob/master/.travis.yml)
- [Current build](https://travis-ci.org/Pylons/p

[2016-09-19 19:41] dhermes commented on #2350
@tseaver My fear is that doing a matrix build counts each build as 8 (or 9 or 10) builds, which would add even more throttling.

[2016-09-19 19:43] jonparrott commented on #2350
Nope.

This is correct, the bigger the matrix the more you'll get throttled, and the more you'll end up throttled the rest of us.

[2016-09-19 19:58] daspecster opened #2352 "Add JSON Documentation"
This issue is for tracking the requirements, issues and solutions in generating JSON for the [gcloud-common Angular site](https://github.com/GoogleCloudPlatform/gcloud-common/blob/5a0d68a68a51df16e6fac3da2c84b02a3ae299e8/site/README.md).
## Known Requirements
- [ ] Extracting sphinx code examples and place them in `methods[{examples:[]}]`.
- [ ] Generate table of contents from sphinx toc. (index.r

[2016-09-19 19:59] dhermes commented on #2352
@daspecster Did you mean to use `gcloud.datastore._generated.query_pb2.Query` as an example? Those generated files don't have any docs.

[2016-09-19 20:10] daspecster commented on #2352
Actually yes I did.

We would need to do one of two things with a reference to generated code.

1. Strip the directive and just not link it anywhere.
2. Just link it to that file/line in the repo (which is what I did/tried to do before since I generated JSON for everything under `gcloud/`, now `google/cloud`).

The bigger thing is generating `types.json`, I just used that one to illustrate this ca

[2016-09-19 20:12] dhermes commented on #2352
I am :-1: on linking into the source. Those `protoc` generated files are not meant for human eyes and are very nasty to look at.

[2016-09-19 20:17] c0b commented on #2342
I'm not sure, I haven't looked at the code details in this repo where did it call `json.dumps`; but from the symptom of trailing spaces and all keys are sorted alphabetically, I assume that is a problem caused by `json.dumps` with `sorted_keys=True` and without `separators` that is a problem very similar to jkbrzt/httpie#427; if you know more details of this repo, you may correct me

[2016-09-19 20:17] daspecster commented on #2352
Sorry, I wasn't very clear on that.

Not linking to the source in this case(however that is a required feature for documented modules,classes,methods,params,variables.

I was generating a JSON file for the _generated files as well since I was doing all python files under `gcloud` at the time. So the JSON representation was there, but not linked in the TOC. So it just means when there's a reference

[2016-09-19 20:19] dhermes commented on #2342
Can you give an example of output from this repo with the problem? We never use `sorted_keys` and we use `json.dumps` sparingly (though we never use separators)

[2016-09-19 20:25] c0b commented on #2342
above code full path is `/opt/google-cloud-sdk/bin/bootstrapping/bq.py` under same directory a lot of code in python; I assume it's calling this python library but may be not, but it should be somewhere under @GoogleCloudPlatform org

[2016-09-19 20:26] c0b commented on #2342
`/opt/google-cloud-sdk/bin/bq --format=prettyjson query --nouse_legacy_sql 'SELECT ARRAY[STRUCT("zx83" AS id, 1 AS a, 2 AS b), ("f8f7", 4, 7)] d' |& cat -An`

[2016-09-19 20:34] tseaver commented on #2342
@c0b the `gcloud` SDK doesn't use this library at all.

[2016-09-19 20:58] c0b commented on #2342
So would you tell me where is the code repo for gcloud SDK code? should be maintained by Google and this ticket can be re-routed?

have a little test of this library, might be even worse, it raised exception with the new standard SQL with nested fields:

In this case I have correct credentials / project setup in environement vars,  GoogleCloudPlatform/google-cloud-node#1593

[code]

wonder is that

[2016-09-19 20:59] 1mentat commented on #2294
@daspecster Looking back I'm not sure I got sync working. The same UDF works fine in async (in the sense that it runs until it runs out of resources).

[code]

[2016-09-19 21:36] tseaver commented on #2342
I don't know myself.  Perhaps @jgeewax or @jonparrott can chime in?

Support for the "Standard SQL" data types is slowly being added: #2265, #2347.  The `BYTES` type should be easy (if we can figure out how the back-end encodes the bytes -- the docs don't say).  The `STRUCT<t>` and `ARRAY<t>` types are harder, and haven't got any support at all at this point.

[2016-09-19 21:53] jonparrott commented on #2342
The Cloud SDK is not currently open-source.

[2016-09-19 22:07] dhermes opened #2353 "Preserve order in BigQuery JSON"
See #2342. Can be done using `json.loads(..., object_pairs_hook=OrderedDict)` h/t to @c0b
- It's unclear if any methods "need" this behavior.
- It's nice that we don't support Python 2.6 any more because `collections.OrderedDict` was introduced in 2.7
- If this "feature" is actually worth it, we should determine which subset of payloads need this behavior

---

Here are all the call sites where JS

[2016-09-19 22:08] dhermes opened #2354 "Support (non-legacy) SQL nested data types"
`STRUCT<t>` and `ARRAY<t>` seem to be the types.

See #2342. h/t to @c0b for filing.

---

From #2585: [Sample app that reproduces this](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/176f161cae3d4f01b01456a6e403faf6645414a1/bigquery/cloud-client/simple_app.py)

Stacktrace:

[code]

---

Stepping into the debugger:

[code]

(Added by @dhermes)

[2016-09-19 22:15] dhermes commented on #2354
A simple statement works fine

[code]

Sending a query with nested types also works fine

[code]

but the `rows` accessor fails

[code]

[2016-09-19 22:16] dhermes commented on #2342
Filed #2353 and #2354 to make this uber-bug a little more focused. Let's chat in each of those about the specific problems at hands.

[2016-09-19 22:16] #2342 closed

[2016-09-19 22:23] dhermes commented on #2354
Just for fun, here are those last properties as JSON:

[code]

[2016-09-19 23:16] bjwatson commented on #2291
Agreed.

[2016-09-19 23:56] c0b commented on #2342
Then please file your internal ticket on my behalf; I assume most of you guys are Google employees know where to re-route to.

that closed source code doesn't have any transparency I don't know where can I complain to.

[2016-09-19 23:58] c0b commented on #2353
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2342#issuecomment-248163435

please fix your internal bq tool in the google cloud SDK. or I would say anyone here want that prettyjson format would like the keys in preserved order

[2016-09-20 00:12] c0b commented on #2354
and where can I get alias names? in a query like below I am expecting to access results in a dict way like `result.a` `result.b` because in my actual app (in nodejs) I have more complicated query generated schema, there are more fields, to access all those fields in the tuple `(1, 2)` way is not convenient and error prone; please let me know should it be another issue by its own? or can be documen

[2016-09-20 01:41] hohaichi commented on #1960
Re: object resource having encryption key metadata but not key materials:  It is a little bit confusing in the first glance, as object resources can appear in both requests and responses.  But if you look more closely, the table denotes which fields are "writable".  Only those fields can be updated.  Key metadata cannot be updated, they are only helpful in responses.

Re: why the keys are passed i

[2016-09-20 01:50] dhermes commented on #2353
The maintainers of this repo don't have any pull with the maintainers of `gcloud` SDK (I don't even know who they are). So we can't get them fixed there.

Is it OK if we close this out @c0b? You can file an issue with them at https://code.google.com/p/google-cloud-sdk/issues/list

[2016-09-20 04:24] dhermes opened #2356 "[QUESTION] What is the point of `google.cloud.vision._fixtures`"
Sorry for being a little out of the loop on this one.

Running `git grep _fixtures` it looks like `google.cloud.vision._fixtures` meant to be content in `unit_tests.vision._fixtures`

[2016-09-20 08:12] c0b commented on #2353
users of this library would like to see a preserved keys order option; this is still a valid enhancement request

[2016-09-20 08:54] sebbacon opened #2358 "It should be possible to upload files in read+write mode"
`upload_from_file` insists that a file be opened with the binary flag.

However the, [test for this](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/1779/files#diff-c56e349a3e511bfabb4e8dfcfe686bc8R825) does not allow for files opened in mode `r+b`.

[2016-09-20 09:31] sebbacon opened #2359 "Dependency conflict when running `setup.py develop`"
When installing a development checkout per [the documentation](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst#using-a-development-checkout), there is a dependency conflict:

[code]

[2016-09-20 12:27] vrcs opened #2361 "[QUESTION][BigQuery] would it be possible to have extract_table_to_storage support with an optional query"
Hi

Would be great to have a query as an optional field to the extract_table_to_storage method in the google.cloud.bigquery.client.py , so that it will be easy with code to extract the data from the desired table with the custom query and write to GS, or is there any other way to directly write the custom query data after creating the job

from gcloud import bigquery
client = bigquery.Client()
cli

[2016-09-20 13:12] daspecster commented on #2359
Thanks for reporting @sebbacon!

I just tested this and it happened to me as well, except it pulled in `oauth2client 3.0.0`.

[code]

@dhermes @bjwatson, we have `'oauth2client >= 2.0.1'` as a requirement.  Can gapic bump it's `oauth2client` versions?

[2016-09-20 13:37] daspecster commented on #2356
Looks like I missed this when I was rebasing. #2362 should do the trick.

[2016-09-20 13:48] daspecster commented on #2358
Hello @sebbacon thanks for asking and for the PR!

Can I ask what scenario would you need to use read/write mode to read and then upload the file?
I'm probably just lacking in creativity, but it seems like you would only need to read the file to upload it.

Also, the `b` part is mostly for [Windows support](https://docs.python.org/2/tutorial/inputoutput.html#reading-and-writing-files).

[2016-09-20 14:45] tseaver commented on #2361
@vrcs The back-end [`extract` operation](https://cloud.google.com/bigquery/docs/reference/v2/jobs#configuration.extract) doesn't support such an option.  To achieve this goal, you could:

- Run an asynchronous `QueryJob`, passing a temporary table as its `destination`.
- Run an `ExtractJob` on that temporary table.

Untested sketch:

[code]

Please feel free to re-open the issue if that example do

[2016-09-20 14:45] #2361 closed

[2016-09-20 14:49] sebbacon commented on #2358
Hi @daspecster! It's something of a edge case, but I want to write a temporary file and then upload it. It's useful to keep the same file handle open so I can use a context manager with tempfile. Something like this:

[code]

[2016-09-20 14:55] dhermes commented on #2359
1. Definitely need to upgrade @bjwatson, as we're very quickly approaching 4.0 in `oauth2client` (finally getting rid of some really bad old stuff, e.g. `httplib2`). I'm happy to help upgrade.
1. See the discussion in #2316, essentially using development / editable mode won't really work any more with namespace packages. We should just remove that from `CONTRIBUTING`. @tseaver WDYT?

[2016-09-20 14:56] dhermes commented on #2353
Which users?

[2016-09-20 15:04] dhermes commented on #2356
Thanks

[2016-09-20 15:35] bjwatson commented on #2349
This is something that @omaray and I have started discussing. We definitely need to figure out how this works for all combinations of google-cloud and GAPIC.

[2016-09-20 15:44] #2356 closed

[2016-09-20 16:43] jonparrott commented on #2342
@c0b the cloud SDK has a public issue tracker here: https://code.google.com/p/google-cloud-sdk/issues/list

There's also a built-in command `gcloud feedback` that you can use to report issues.

[2016-09-20 17:19] dhermes commented on #2349
For reference [this is our current implementation][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/75835c867b4a9b979d5af421e257ccfa5de8f9c5/google/cloud/_helpers.py#L649-L653

[2016-09-20 18:15] tseaver commented on #2132
Issue is similar to #1712 for Storage:  look at #1717 for the fix there.

[2016-09-20 19:28] tseaver commented on #2350
@jonparrott Our current PR builds on Travis take between 3.5 - 5 minutes to run.  With parallelization, each environment's build would run in ~ 20 seconds (for the stock python environments) to 30 seconds (lint, cover).  Those builds *ought* to be easier to schedule across Travis' infrastructure, and shouldn't be penalized if things are rational.  We could of course get a "touchtone" effect, where

[2016-09-20 19:35] jonparrott commented on #2350
@tseaver I agree in principle but not in practice. Every entry in your build matrix is going to be treated as a separate build to travis.

[2016-09-20 19:36] dhermes commented on #2350
@tseaver Empirically, it seems that the cost of scheduling overwhelms the run time of the scheduled tasks.

[2016-09-20 19:47] tseaver commented on #2350
@jonparrott You are arguing that we get throttled based only on the number of our builds, and not on how long they take to run?  Is there evidence for that?

[2016-09-20 19:49] jonparrott commented on #2350
@tseaver it's both. The problem is that travis only allows n concurrent builds and there is scheduling overhead with each build. With a matrix, this project can consume all of our concurrent builds simultaneously and not necessarily finish any faster than without the matrix.

[2016-09-20 20:02] #2242 closed

[2016-09-20 20:10] hohaichi opened #2366 "Install google-cloud-python not working?"
Does anyone know if how to install `google-cloud` python client library?  I tried the `pip` command below, which succeeded, but it still seems like something is missing.  `from google.cloud import storage` complains that cloud module doesn't exist.  Thanks.

[code]

But on import

[code]

[2016-09-20 20:13] dhermes commented on #2366
Your `sitecustomize` may be to blame there.

First you should do a `pip show google-cloud` to make sure it's there and to check out the `Location:`.

[2016-09-20 20:17] #2132 closed

[2016-09-20 21:13] hohaichi commented on #2366
The output from pip show google-cloud looks good to me:

[code]
And package storage is there:

[code]

Do you know how to fix the issue with sitecustomize?

[2016-09-20 22:37] georgegiovanni opened #2368 "Error fetching results from a BigQuery asynchronous call in 0.19.0"
Referring to the [doc](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html#querying-data-asynchronous), calling `QueryResults.fetch_data` raises an exception since `self.name` is `None`:

[code]

However, if `QueryResults.run` is called, an exception is also raised since `self._job` already exists:

[code]

[2016-09-20 23:14] hohaichi commented on #2366
My problem has been resolved---thanks to our colleague Brian Call at techstop.

The problem is that before using `pip` I tried install `google-cloud` manually by downloading the source and running `setup.py`:
[code]

We removed everything in `/usr/local/lib/python2.7/dist-packages/*` and reinstalled `google-cloud`.  It went like this (notes, we needed to use `sudo`):

[code]

Now `google-cloud` is

[2016-09-20 23:14] #2366 closed

[2016-09-20 23:49] dhermes commented on #2366
Good deal. A few more tips.

1. If you can, you should stop using `sudo pip` and just work in `virtualenv`s
1. If you must, use `-H`, i.e. `sudo -H pip ...`

[2016-09-21 08:38] vrcs commented on #2361
Got it working , need to make use of legacy sql to true to parse to get yesterdays date with
this expression because of quotes in the  exp .DATE_ADD(CURRENT_DATE(), -1, 'DAY')

[2016-09-21 14:09] daspecster opened #2371 "Automate the checking for proper licensing on files"
From #2370.

---

(From @dhermes): Relating to this

I wrote a [script](https://gist.github.com/dhermes/cdae55fa7eed44bd18492d2320afd020) for #2390 to check all the extensions we have (and extension-less files): The output is
- `.cmd`
- `.enc`
- `.gitignore`
- `.html`
- `.ico`
- `.in`
- `.ini`
- `.json`
- `.md`
- `.png`
- `.proto`
- `.ps1`
- `.py`
- `.rst`
- `.sample`
- `.sh`
- `.txt`
- `.yaml`
-

[2016-09-21 14:49] tseaver commented on #2361
@vrcs I'm glad you're up and running.  We are working toward full support for the "Standard SQL" dialect:  #2229, #2354.  Please add another issue if those don't cover your case.

[2016-09-21 14:51] tseaver commented on #1258
@fhoffa Reviewing open BQ issues:  can you add any clarification?  Or loop in a better contact?

[2016-09-21 14:53] tseaver commented on #1784
@fhoffa bump.

[2016-09-21 15:03] tseaver opened #2372 "Add support for "external" tables"
See the [`Table` resource field](https://cloud.google.com/bigquery/docs/reference/v2/tables#externalDataConfiguration) and the [federated data sources narrative docs](https://cloud.google.com/bigquery/federated-data-sources).

External tables can be one of:
- Files in Cloud Storage
- Google Sheets
- Bigtable tables
- Datastore backup sets

@jgeewax I'm pretty sure those fields were not in the reso

[2016-09-21 15:12] tseaver opened #2373 "Add support for "template" tables"
See: https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables

[2016-09-21 15:15] tseaver opened #2374 "Expose "streamingBuffer" for tables"
See:
- https://cloud.google.com/bigquery/streaming-data-into-bigquery#dataavailability
- https://cloud.google.com/bigquery/docs/reference/v2/tables#streamingBuffer

[2016-09-21 15:20] tseaver commented on #2017
@dwmclary added this in #2058.

[2016-09-21 15:20] #2017 closed

[2016-09-21 16:03] daspecster commented on #2350
FWIW

https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix

[2016-09-21 16:32] dhermes commented on #2371
ISTM this issue is about

and the other point is just an also-ran.

[2016-09-21 16:39] tseaver commented on #2018
@dwmclary I'm not sure what a "partitioned version" would look like.  AFAIK, we could create a new table with `partition_type = 'DAY' and the same schema, and then copy the source table into it.  I don't know how that ties in with a specific timestamp key, though.

[2016-09-21 16:50] tseaver commented on #2294
@fhoffa Can you shed some light?

[2016-09-21 16:52] tseaver commented on #2358
Via #2360.  Thanks again to @sebbacon for the patch!

[2016-09-21 16:52] #2358 closed

[2016-09-21 17:49] tseaver opened #2377 "'_AsyncQuery.cancel' fails to update from returned resource"
E.g.:

[code]

The [docs for `job.cancel`](https://cloud.google.com/bigquery/docs/reference/v2/jobs/cancel#response) show that the job resource is in a `job` subkey of the response.

[2016-09-21 17:52] tseaver commented on #2368
@georgegiovanni Thanks for the report!

[2016-09-21 17:53] dhermes commented on #2377
@tseaver Germane to this change, I've run the following before to get a sense of our actual usage of `streaming`:

[code]

Could be worthwhile to do it and see what code paths we aren't testing against the backend?

(**NOTE**: I'm aware this is using the old `gcloud` package and `nosetests`, sorry I am in a hurry and didn't update for the `py.test` equivalent.)

[2016-09-21 17:54] tseaver commented on #2377
@dhermes I don't think that is germane to this PR, which doesn't mess with streaming at all.  Maybe you meant #1431?

[2016-09-21 18:00] dhermes commented on #2377
No I just meant that if you got a sense for lines uncovered during system tests then an error like this would be detectable. The streaming bit was just an example so you could do the same locally.

Essentially this error is due to the fact that our code and unit tests make a bad assumption about the payload.

[2016-09-21 18:03] tseaver commented on #2377
OK.  We don't have any system test which exercises `_AsyncJob.cancel()`:  I found the problem while reproducing #2368.

I'm not convinced that we need to get to 100% coverage for system tests, but we should at least have "garden path" coverage for all the API requests.

[2016-09-21 18:25] dhermes commented on #2377
Ha. Never heard "garden path" before! I agree having full coverage in system tests isn't necessary (or possible, since error cases may never occur), just wanted to share a script I had used before

[2016-09-21 20:38] #2315 closed

[2016-09-21 20:40] #2368 closed

[2016-09-21 20:40] #2285 closed

[2016-09-22 03:42] pcostell commented on #2221
This is/will be important for all APIs.

On Mon, Sep 12, 2016, 11:11 AM Danny Hermes <notifications@github.com>
wrote:

--

Patrick Costello |  Cloud Datastore |  Software Engineer |
pcostello@google.com

[2016-09-22 03:52] #2377 closed

[2016-09-22 07:11] c0b commented on #2353
users of this library

[2016-09-22 07:25] c0b commented on #2354
I just found bq tool has a command switch --apilog can save the detail log, exposed the library used by bq tool's python code is `google-api-python-client`; that one is able to handle nested google-api-python-client; at least not crashing, but the data types handling are still not there google/google-api-python-client#281

INFO:root:user-agent: google-api-python-client/1.3.1 (gzip)

[2016-09-22 07:35] tcroiset opened #2382 "Pub/Sub Topic batch auto commit?"
Hi,
I would appreciate a batch to auto commit when it reaches its max number of messages.
Does that make sense?

bests,

[2016-09-22 11:01] SG5 opened #2383 "Import datastore doesn't work"
I have simple python file
[code]
After i run it with `python database.py` i had exception

[code]

SDK have installed by instruction from https://cloud.google.com/sdk/docs/
`/usr/local/lib/python2.7/site-packages/google` have only `protobuf` folder

[2016-09-22 12:53] SG5 commented on #2383
Fixed with `pip install gcloud==0.18.1 --force-reinstall`

[2016-09-22 12:53] #2383 closed

[2016-09-22 12:55] iAmAnkeeta commented on #2256
@daspecster Thank you! :)

[2016-09-22 13:51] daspecster commented on #2256
No problem! Let us know if you have any other questions!

[2016-09-22 14:05] daspecster commented on #2382
By committing do you mean publishing a message?

[code]

From https://googlecloudplatform.github.io/google-cloud-python/stable/pubsub-usage.html#publish-messages-to-a-topic

@tseaver could you do something like this?
[code]

[2016-09-22 15:09] daspecster opened #2384 "Add async support to Speech API"
Add [async](https://cloud.google.com/speech/reference/rest/v1beta1/speech/asyncrecognize) support to Google Cloud Speech API.

[2016-09-22 15:09] daspecster commented on #2384
@dhermes @tseaver

The [`Operation`](https://cloud.google.com/speech/reference/rest/v1beta1/operations#Operation) response for Speech async requests seems pretty generic and possibly similar to [google.cloud.operation.Operation](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b60d498b8dbf3e548de1a9fd196ac9cd6d077f41/google/cloud/operation.py).

Should I just add a non-protobuf resp

[2016-09-22 15:29] daspecster commented on #2384
The more I look at it, they seem very different. I'm going to just make `speech.operation` unless you think I should put it in `google.cloud.operation`.

[2016-09-22 15:44] dhermes commented on #2353
What I mean to say is that we haven't heard the request from anyone but you and from your previous comments it doesn't seem like you use this library?

[2016-09-22 16:01] dhermes opened #2385 "Push 0.18.2 release with upper bounds on gRPC / GAX deps"
0.18.1 was on off-master release (bumped from 0.18.0), due to packages on PyPI being removed.

A bad merge in the release resulted in the upper bounds on the PyPI being removed.

I created [0.18.2][3] at the urging of @geigerj and @bjwatson with [this commit][2] being the only change, but the [build][1] started breaking / skipping more tests than expected, so I canceled it before it could upload t

[2016-09-22 16:07] dhermes commented on #2384
Check out the [proto][1] for the service. It's the very same [Operation][2] used by Bigtable and others.

[1]: https://github.com/googleapis/googleapis/blob/c41c0d872c48d1c90daefcf96fc25ce7223c14e9/google/cloud/speech/v1beta1/cloud_speech.proto#L39
[2]: https://github.com/googleapis/googleapis/blob/c41c0d872c48d1c90daefcf96fc25ce7223c14e9/google/longrunning/operations.proto

[2016-09-22 16:09] c0b commented on #2353
I am a potential one, if the library is made really good to use; right now #2354 is a blocker to me, because I have been using Standard SQL nested fields a lot; that is a must fix; but this one is a feature nice to have:

can I request API design like this?

[code]

[2016-09-22 16:11] dhermes commented on #2382
@tcroiset It makes sense, though in this case you probably would rather use it outside of a context manager, e.g.

[code]

**NOTE**: There is no `batch.begin()` to call, as can be seen by the [context manager][1] implementation.

**NOTE**: Calling `batch.commit()` at the end is to do any clean-up if necessary, but if there are no unpublished messages `commit()` will [do nothing][2].

[1]: https://

[2016-09-22 16:22] daspecster commented on #2384
Speech sync recognize is implemented via JSON/REST at the moment.

Should I just implement asyncrecognize with gapic? This seems weird to me since, grpc is an optional requirement. (Was my usage of gapic and grpc correct in that wording?)

Also it appears that gapic isn't available for speech yet. [GAX](https://pypi.python.org/pypi/gax-google-cloud-speech-v1/0.8.1) and [GRPC](https://pypi.python.o

[2016-09-22 16:34] #2346 closed

[2016-09-22 17:02] tseaver commented on #2385
I just cloned the repo locally and checked out the 0.18.2 tag.  The errors are due to changes in `google-gax-0.14.1`, specifically in its `exc_to_code()` helper, which now typechecks the exception.  If we pin `google-gax < 0.14dev`, the tests pass.

[2016-09-22 17:04] dhermes commented on #2385
Thanks for the heads up! I'll put that upper bound in as well.

[2016-09-22 17:07] dhermes commented on #2385
Just deleted the tag and pushed it again with the `google-gax` upper bound. Watching https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161970012 closely.

[2016-09-22 17:40] dhermes commented on #2385
@tseaver The second [build][1] also failed because I forgot to put the upper bounds in `tox.ini` (in Python 3, the GAX deps don't come with `setup.py` since at the time 0.18.0 was released the install story in Python 3 was a bit busted)

[1]: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161970012

[2016-09-22 17:46] dhermes commented on #2385
Third time's the charm: https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161980529

[2016-09-22 18:00] dhermes commented on #2385
Travis skipped the PyPI build:

I'm going to do it manually now with `twine`.

[2016-09-22 18:09] dhermes commented on #2385
Done: https://pypi.python.org/pypi/gcloud

[2016-09-22 18:12] dhermes opened #2387 "Make sure our 2 years old license headers are in line with"
Came up because of #2370. Related to #2371.

To paraphrase @rimey: The Apache license header given in our internal instructions differs from the one used in this project.

/cc @rimey @jgeewax

[2016-09-22 18:34] geigerj commented on #2385
Thanks, @dhermes!

[2016-09-22 19:06] jgeewax commented on #2387
The correct one (according to our open-source friends) is:

[code]

[2016-09-22 19:32] tseaver commented on #2385
@dhermes that hid the 0.19.0 release.

[2016-09-22 19:33] #2385 closed

[2016-09-22 19:34] dhermes commented on #2385
Phew. Breathing easier.

[2016-09-22 19:51] pdknsk opened #2389 "storage.bucket.Bucket.copy_blob missing option to preserve ACL"
[Unlike](https://cloud.google.com/storage/docs/gsutil/commands/cp) ```gsutil```.

[2016-09-22 20:08] pdknsk commented on #2389
[code]

[2016-09-22 20:35] bjwatson commented on #2385
Awesome! Thanks, @dhermes and @tseaver!

[2016-09-22 20:45] dhermes opened #2391 "[QUESTION] What values should we use for our user agent?"
This came up in #2367. In [node](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/d24209a660706b70fee7d18ece9ca7a26d2f0403/packages/common/src/util.js#L624-L630), they use `gcloud-node-{SERVICE}/{SERVICE_VERSION}`. So for example, [bigtable](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/d24209a660706b70fee7d18ece9ca7a26d2f0403/packages/bigtable/package.json#L2-L3) woul

[2016-09-22 20:45] #2387 closed

[2016-09-22 21:04] jonparrott commented on #2391
google-api-python client [uses](https://github.com/google/google-api-python-client/blob/c6425a00e3c16268b101703c45f2a3e53154a372/googleapiclient/model.py#L147) `google-api-python-client/{version} (gzip)`, we should use similar:

[code]

``transport`` could, for example, be ``grpc``, ``protobuf-over-http``, ``json``.

[2016-09-22 21:11] dhermes commented on #2391
@jonparrott See https://github.com/GoogleCloudPlatform/gcloud-common/issues/179#issuecomment-244605266 and https://github.com/GoogleCloudPlatform/gcloud-common/issues/179#issuecomment-244967800

[2016-09-22 23:06] dhermes opened #2395 "Figure out a way to share common pieces of `setup.py` across subpackages"
See https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2367#discussion_r80120973

[2016-09-22 23:34] bjwatson commented on #2359
I ran into this also, and removed the upper-bound from our oauth2client dependencies. We'll review later and bound it to `>=3.0.0, <4.0.0dev`.

This issue should be fixed for now.

[2016-09-23 00:52] dhermes commented on #1526
No longer relevant. The referenced pylint disable was `no-name-in-module`, but now it's globally disabled:

[code]

[2016-09-23 00:52] #1526 closed

[2016-09-23 00:56] destijl opened #2397 "Bigtable python raises InvalidChunk: possible loss of microsecond timestamp precision?"
The smallest reproducible test case I could get to is here (small diff off hello world):
https://github.com/destijl/python-docs-samples/commit/cc074c15332fb51b919366f754d14fe4961213a2

I write a new value to the same row with an older timestamp that is 200us after epoch, and now I can't read the row anymore. My current best guess is that we end up storing a 0 timestamp because microseconds are los

[2016-09-23 01:21] dhermes commented on #2397
I tried to make this a little more minimal, but can't get this to break:

[code]

Now will run the entire [script][1] you linked.

[1]: https://github.com/destijl/python-docs-samples/blob/cc074c15332fb51b919366f754d14fe4961213a2/bigtable/hello/main.py

[2016-09-23 01:26] dhermes commented on #2397
OK, I was able to reproduce. Digging in now to see why this occurs.

[2016-09-23 01:46] dhermes commented on #2397
The culprit is a chunk with no timestamp. This is the offending response:

[code]

[2016-09-23 05:13] getumen commented on #2205
Sorry, I misunderstand the datastore specification.

[2016-09-23 05:13] #2205 closed

[2016-09-23 13:17] daspecster commented on #2359
Thanks @bjwatson!
I'm seeing a different but related issue now.

[code]

[2016-09-23 16:12] #1256 closed

[2016-09-23 17:23] thobrla commented on #2289
Do you have a example of the full request / response for this error case?  I'm not aware of anything that would lead to a 400 like this.  Possibly the request had a connection drop and was only partially sent, but I would expect that to be quite rare.

[2016-09-23 17:28] daspecster commented on #2359
@bjwatson, @dhermes just pointed out to me that `pip install -e .` doesn't throw this `google-gax` error. I'm not sure what the difference in handling between `setup.py` and `pip` are though.

[2016-09-23 17:33] dhermes commented on #2359
I was actually trying to point out that using `-e` should no longer be done. But that also seems true.

[2016-09-23 17:37] dhermes commented on #2289
@thobrla The whole response was just `No file found in request.` (not a JSON or HTML response, just text) with a 400 status code (I don't have any of the other headers, sorry).

The request is a POST with no body to

[code]

[2016-09-23 17:41] dhermes commented on #2289
@thobrla It happened consistently for several days (see the Travis failures linked above). I checked some recent test runs and it doesn't seem to be triggering anymore, so that's good.

[2016-09-23 17:46] daspecster commented on #2359
@dhermes sorry yeah I was getting this for `python setup.py install` as well.

[2016-09-23 18:42] tseaver commented on #2382
ISTM that @tcroiset was asking for something like:

[code]

[2016-09-23 18:58] dhermes opened #2402 "monitoring.TestMonitoring.test_write_point is very flaky"
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/162278041#L1009

Even in non-failed builds it still takes a lot of retries:
https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/162244259#L995

/cc @waprin

[2016-09-23 19:05] thobrla commented on #2289
Thanks.  I wonder if there was a bug in the service during this time.  Please let me know if it resurfaces.

[2016-09-23 19:09] dhermes commented on #2289
Will do. We may not detect it, right now we [are retrying][1] on the failure [up to 4 times][2].

CONTEXT: We have been sprinkling lots of retries in our system tests to get them to go green. Talking to 14 Google services at once (in 2 different Python environments) essentially guarantees a failure if no retries are used.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/67578d

[2016-09-23 19:16] thobrla commented on #2289
That's understandable but 400 is not intended to be a retryable error, so you really shouldn't retry a 400 as in theory it will never succeed.

[2016-09-23 19:18] dhermes commented on #2289
@thobrla Indeed. We added a special [error predicate check][1] to make sure it wasn't any old 400, but it was the specific 400 we're discussing here.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/67578df16a9feea3bfb22d02d916639ac5e0cf10/system_tests/storage.py#L34-L38

[2016-09-23 19:22] dhermes opened #2404 "[TRACKING] Move all packages into subpackages"
- [x] Move core (#2367, #2394, #2393, #2392)
- [x] Move `bigtable` (#2410)
- [x] Update `Makefile.bigtable_v2` (or hopefully just depend on an autogenerated package, #2128) (#2452)
- [x] Put `happybase` repo on top of `bigtable` implementation (https://github.com/GoogleCloudPlatform/google-cloud-python-happybase/pull/9, https://github.com/GoogleCloudPlatform/google-cloud-python-happybase/pull/10,

[2016-09-23 19:23] dhermes opened #2405 "ReadTheDocs broken by moving subpackages"
https://readthedocs.org/projects/google-cloud-python/builds/4436621/

[2016-09-23 19:39] dhermes opened #2406 "Docs b0rken by 0.18.* releases"
See discussion in https://github.com/googleapis/artman/issues/102

This is the current docs page:

![screen_shot_003](https://cloud.githubusercontent.com/assets/520669/18799097/c0ab9528-818a-11e6-8839-c9c8154b2ca7.png)

Updating ASAP.

/cc @bjwatson

[2016-09-23 19:43] dhermes commented on #2406
There were 5 buils on those 2 tags:

- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161951663
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161970012
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/161980529
- https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/162246824
- https://travis-ci.org/GoogleCloudPlat

[2016-09-23 19:51] dhermes commented on #2406
OK I went through the last 12 commits, with the last one being the final one from Thursday:

[code]

I only found one bad commit, so hopefully reverting that will be fine:

- ee6df9241065e7dd8a768a7f48d2385ccace1fff --> b60d498 --> #2379
- 7ab9f560b58a88b741e654d6c095e0e6207e3ff3 --> e9660a8 --> #2348
- 78152d9b063ce4dcaaa447bd8887df05cb88e2d3 --> BAD
- 7e903277621819a653e3cdb4e39cf4886eb9bbb4 -->

[2016-09-23 19:55] dhermes commented on #2406
Looking at `index.html` history "confirms" this was the only bad commit:
https://github.com/GoogleCloudPlatform/google-cloud-python/commits/gh-pages/index.html

and also the only modified or deleted file in that commit was `index.html`

[code]

[2016-09-23 20:01] #2406 closed

[2016-09-23 20:30] daspecster commented on #2389
@pdknsk thanks for letting us know!

I have a PR for this at #2409.

[2016-09-23 21:18] destijl opened #2411 "Implement multi-row mutations for python Bigtable"
It would be great if you could add multi-row mutations to the Bigtable python client library. AFAICS it doesn't exist yet.

The RPC API supports it:
https://cloud.google.com/bigtable/docs/reference/data/rpc/google.bigtable.v2#mutaterowsrequest

It just isn't implemented for python. The first use case I ran into is I have a bunch of rows to delete and a want to make a single RPC to do that, but I'm

[2016-09-23 21:41] tseaver commented on #2411
See #1546.

[2016-09-23 22:16] destijl commented on #2411
Thanks, I'm not using happybase but the context manager approach suggested in that bug looks good.

[2016-09-23 22:38] joeholley opened #2413 "Inconsistent subscription behavior with deleted topic"
### What were you trying to do?

Note: Before beginning, the topic 'test_topic' and the subscription 'test_sub' don't exist in the project.

via google.cloud python pubsub module:
1. Create 'test_topic' Cloud PubSub topic if it doesn't exist
2. Create 'test_sub' pull subscription to that topic if it doesn't exist
3. Attempt to pull messages from the 'test_sub' subscription
4. Delete the 'test_topi

[2016-09-23 22:47] dhermes opened #2414 "Make errors more verbose in system test failures"
This way we can capture the entire state of the error to determine.

Also worth doing: Including the entire error response in the returned object. This way, in cases like the 503 error in #2093 where the JSON payload isn't what our code expects. Things still work fine.

In that case, the 503 payload is

[code]

This seems to be a JSON version of the [`google.rpc.status.Status`](https://github.com/

[2016-09-23 23:50] waprin opened #2415 "Make Monitoring System Tests Retries More Granular"
Search for specific errors rather than just retrying on HTTP error codes.

cc @dhermes

[2016-09-24 00:20] tseaver commented on #2413
Right, the subscription (at path `/projects/<your-project-id>/subscriptions/test-sub`) still exists, but is not bound to the topic (at path `/projects/<your-project-id>/topics/test-topic`).

As it should:  your example doesn't delete the orphaned subscription created during the first time through.  Creating it anew from the topic doesn't change its path, which is still `/projects/<your-project-id>

[2016-09-24 00:53] bjwatson commented on #2359
@daspecster @dhermes This is due to inconsistent bounds in https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/setup.py#L58

`gapic-google-* 0.9.x` packages are intended to work with `google-gax 0.13.x`. For example, see `setup.py` in [`gapic-google-pubsub-v1 0.9.3`](https://pypi.python.org/packages/d5/c1/e428db130b5858dfe53c5dcfe5666561b5c1b1a66a28162c322cc39021b1/gapic-google-

[2016-09-24 00:54] bjwatson commented on #2359
FYI, we are finalizing the `0.10.x` packages which will depend on `google-gax 0.14.x`: https://github.com/googleapis/api-client-staging/pull/24.

[2016-09-24 00:57] dhermes commented on #2359
Thanks @bjwatson. It'll be important for us to keep from cutting a release with the breakage. We will probably have 15 releases next week, of which 3 (`google-cloud-pubsub`, `google-cloud-logging` and `google-cloud`) will be impacted by this inconsistency.

[2016-09-24 02:01] #2402 closed

[2016-09-24 18:18] tseaver commented on #2415
See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2412#issuecomment-249327148

[2016-09-25 07:54] pdknsk commented on #2389
I've noticed that ```acl.save``` issues a separate request. Below is a better patch that sets the ACL with the same request.
[code]

[2016-09-25 17:12] #1837 closed

[2016-09-25 23:53] omaray commented on #2349
Yes, Brian and I will come up with a solution for this that works across the board: with only auto-gen, with auto-gen + hanwritten in same package, auto-gen + handwritten in a different package, multiplexing gRPC and REST, etc.

[2016-09-26 06:22] omaray opened #2421 "Update Stack Overflow link on client library ref landing page for Python"
On the [current landing page for google-cloud-python](http://googlecloudplatform.github.io/google-cloud-python) there is a Stack Overflow icon:

![image](https://cloud.githubusercontent.com/assets/6609430/18824123/8f7ada86-8374-11e6-9807-687667b0d488.png)

[Current Result]
That icon currently points to http://stackoverflow.com/questions/tagged/google-cloud-python (which was a good attempt!)

[Expe

[2016-09-26 14:17] tseaver commented on #2389
@pdknsk The new patch saves an API call only if the source blob's `_properties` and its `acl` are already loaded:  if `_properties` aren't loaded, then it would zero them out in the copied blob, while `list(blob.acl)` will actually trigger an API request if the `acl` isn't loaded.

[2016-09-26 16:01] dhermes commented on #2421
@omaray This is great in theory but user behavior in the wild may also be relevant.

1. http://stackoverflow.com/questions/tagged/gcloud-python has 56 questions that need to be retagged
1. Sometimes people say `gcloud` when they mean our library: http://stackoverflow.com/questions/tagged/gcloud+python
1. Alternate tags like http://stackoverflow.com/questions/tagged/python-2.7 have non-triviial tra

[2016-09-26 16:53] Bogdanp opened #2422 "Saving large values to indexed properties raises _Rendezvous exception"
Given this code:

[code]

version 0.19 of this library raises the following exception on `.put`:

[code]

Previously, this used to raise `gcloud.exceptions.BadRequest`. It seems like this exception should be caught by the library and a more appropriate one should be raised in its stead.

*EDIT*: It turns out the following snippet has the same issue so this is not transaction specific:

[code]

*ED

[2016-09-26 16:54] dhermes commented on #2405
1.  Succeeds

[code]

1.  Succeeds

[code]

1.  Fails

[code]

Maybe we can get away specifying dependencies with a [`git+...`][1] or with a relative directory in `requirements.txt`

[1]: https://pip.readthedocs.io/en/stable/reference/pip_install/#git

[2016-09-26 17:00] dhermes commented on #2422
@Bogdanp Thanks for the heads up. We currently just have an [ad-hoc translation][1] for such errors, so it's kind of a "wait and see".

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4258b764f401f8c890aefb5a6316d0d73ced66e7/google/cloud/datastore/connection.py#L315-L317

[2016-09-26 19:54] joeholley commented on #2413
I understand all the of the mechanics of why this back-end causes the python library to return these results, but users of the python library should not have to understand these back-end implementation details IMO.  If the plan is to keep this mapping, perhaps additional effort (i.e. special-case code) should be applied to making the python object behaviors consistent with reasonable user expectat

[2016-09-26 20:27] #2422 closed

[2016-09-26 21:34] tswast opened #2434 "BigQuery should have a module that follows the DB-API to allow for a SQLAlchemy dialect"
There is a module to connect [SQLAlchemy to BigQuery, but it only has partial support](https://github.com/cpdean/sqlalchemy-bigquery/issues/6). I'd love to be able to connect to BigQuery using SQLAlchemy this way and be able to play with [Caravel](https://github.com/airbnb/caravel) as was mentioned in that partial support issue.

To do this properly, we'd need to provide a module with an [implemen

[2016-09-26 21:49] emilyhoughkovacs opened #2437 "No installation links for installing from source"
I followed instructions to download from source [here](https://googlecloudplatform.github.io/google-cloud-python/stable/) and received the error:

`No local packages or working download links found for google-cloud-storage`
`error: Could not find suitable distribution for Requirement.parse('google-cloud-storage')`
which you can verify on
https://pypi.python.org/simple/google-cloud-storage/ which i

[2016-09-26 21:53] dhermes commented on #2437
@emilyhoughkovacs Thanks for filing! We'll definitely need to update that document.

That's some really bad timing. We are in the middle of a crazy rename / re-packaging sprint (#2404) and that won't quite work that way.

The "easiest" way to install from source right now would be to use `tox`:

[code]

and then  `source .tox/py27/bin/activate` to activate the virtual environment where everything

[2016-09-27 02:05] daspecster commented on #2395
I _may_ have figured out a solution to this.

I very well could be wrong on the causation of this solution but it appears that setuptools will only follow symlinks of directories [Commit 1](https://github.com/pypa/setuptools/commit/606b8fb55059ad29d1d31709686f43f17e03642c#diff-6b59155d3acbddf6010c0f20482d4eea), [Commit 2](https://github.com/pypa/setuptools/commit/439f6f846869c8266954adfedad232933c

[2016-09-27 08:03] pdknsk commented on #2389
Ah right, I missed some of those finer details.

I don't understand how ```_properties``` cannot be loaded. I think only when you manually make a ```Blob```, with the same name as the file to be copied, and then use it to copy. In that case, you get what you asked for (even though it may not necessarily be what you wanted.)

I think there is still in advantage in only issuing a single request, for

[2016-09-27 14:54] emilyhoughkovacs opened #2440 "Troubleshooting Installation Via Pip"
[Background: I am a product analyst with experience in python and would like to use the google cloud package for python to query directly from my company's BigQuery instead of using a bash wrapper and the gcloud sdk.]

I was unable to install use pip (I forget the exact error as this was yesterday) but it finally installed when I used the flag `--ignore-installed`

However, when I then ran `from g

[2016-09-27 14:54] emilyhoughkovacs commented on #2440
@dhermes thank you

[2016-09-27 15:08] dhermes commented on #2440
@emilyhoughkovacs Can you provide the full command you used to install? It looks like you have a bad `google.protobuf` install.

You may have b0rken site-packages, which is better to solve by `pip uninstall` (or just finding the content and deleting) than it is by fiddling with permissions.

From #2437 it seems like you installed from source. However, you don't need to / shouldn't do this. Instead

[2016-09-27 15:08] dhermes commented on #2437
@emilyhoughkovacs Is this still relevant after #2440 has been filed?

[2016-09-27 15:26] dhermes opened #2441 "Manually cut releases of each package"
@tseaver Can you sign off on my current plan (mostly run from the command line)

1.  First, upgrade all packages from `0.20dev` to `0.20.0` and solidify bounds for dependencies.
1.  Then get a fresh checkout

[code]
1.  Make sure I have `gcloudpypi` credentials in `${HOME}/.pypirc`
1.  Then go into each package and do a release

[code]

    **NOTE**: `speech` is not in here, it isn't ready to rele

[2016-09-27 16:48] emilyhoughkovacs commented on #2437
Not to me but I filed the ticket just so you would be aware of it for anyone trying to use source

[2016-09-27 16:50] dhermes opened #2446 "[QUESTION] Check validity of `setup.py` in build"
H/T to http://inre.dundeemt.com/2014-05-17/pypi-setup-py-keeping-a-dry-long_description/ (I was Googling around for DRY in `setup.py`)

[code]

---

For example, running it on the post #2442 version gives:

[code]

because we have sections named license and contributing as well as links with those names. This could be fixed via

[code]

[2016-09-27 16:50] dhermes commented on #2437
Ah right. I still need to update that instruction.