[2019-05-07 17:18] #7709 closed

[2019-05-07 17:29] plamut commented on #7709
A fix for this issue has been merged. It makes sure that if a `RetryError` happens in the background, it is properly propagated to the main thread, and a clean streaming pull shutdown is triggered. I don't know about the next release date, though.

Again, I was not able to actually reproduce the error in a production setup, but was able to reproduce similar tracebacks locally by faking it. Should

[2019-05-07 17:29] tseaver commented on #7720
@OlegNovosad Thanks for the prod.  @BenWhitehead updated the import yesterday in https://github.com/GoogleCloudPlatform/python-docs-samples/pull/2137.

[2019-05-07 18:17] jakeczyz commented on #7709
Thanks.  We'll report back if it still seems to break this way after the new code is released and available on pypi.  We see this problem 1-2 times a week; so, it won't be long before we have confirmation.  Thanks again for your work on fixing this!

[2019-05-07 19:25] tseaver commented on #7825
@tswast I think we should leave this feature out of the `firestore_v1beta1` client object:  the Firestore team really doesn't want to encourage new users for that version of the API.

[2019-05-07 19:26] xmedeko commented on #7875
Thanks, then please document, that it's deprecated :-)

[2019-05-08 00:13] tswast commented on #7825
Thanks @tseaver ! The REST clients LGTM. A few questions on the gapic clients.

[2019-05-08 05:42] alex9311 commented on #5323
depending on how your pip is setup, you might need to do
[code]
or
[code]

[2019-05-08 07:38] iamtodor commented on #7866
@tseaver could you please give me a hint of how to reach this? I am using it with Google Cloud Platform and don't know how to do this. Here is the output from my `requirements.txt`:
[code]

[2019-05-08 14:54] davidbernick opened #7896 "Upgrade Requests when fix comes out for URLlib 1.24.1 vulnerable to CVE-2019-11324"
https://github.com/kennethreitz/requests/issues/5065 - Requests needs to make an upgrade for urllib. Once that's done, this code should pull in the new Requests in various setup.py's and not accept older versions.

[2019-05-08 15:31] tseaver commented on #7866
Trying to reproduce in a virtualenv:

[code]

So, I'm pretty sure that something in your cloudbuild environment is installing a broken package in the `google` namespace.  Can you get the output of the following?

[code]

And also (similar to `pip freeze`):

[code]

[2019-05-08 16:01] tseaver commented on #7896
[code]

[2019-05-08 16:06] tseaver commented on #7896
By my reading, the number of potentially-affected users is likely tiny:  they would need to be supplying to `urllib3` (not even `requests`!) a set of custom CA certs, overriding the system-supplied set.  I can't see any way to trigger this in normal use of `google-cloud-*` libs which use `requests`.

[2019-05-08 16:37] frankyn commented on #7875
@xmedeko, fields to the best of my knowledge is not deprecated and just not documented in cloud documentation.

For how to use `fields`. I recommend taking a look at https://cloud.google.com/storage/docs/json_api/v1/how-tos/performance#partial-response. It adds additional context not found in the library documentation.

You need to add nextPageToken to the fields parameter. If not it will not be i

[2019-05-08 16:47] tseaver commented on #7875
@frankyn Whether or not the back-end docs for the `fields` query parameter reappear, we still cannot provide "correct" support for it here:  `Bucket.list_blobs` returns `Blob` instances, not dictionaries, and we cannot construct them correctly from arbitrarily-restricted sets of fields.  That is my rationale for deprecating the argument in #7897.0

To support @xmedeko's usecase, we would need to a

[2019-05-08 17:36] iamtodor commented on #7866
@tseaver could you please tell me how can I connect to the "container" not sure if I called it right to execute `python3.7 -m venv /tmp/gcp/7866`?

[2019-05-08 17:47] frankyn commented on #7875
Apologies, I misunderstood.

I would expect Blob instances to still be listed but when fields are selected then the Blob instance would only have the select field values. If a user sets this it reduces the amount of information returned in a response.

The return value doesn't have to be a dictionary in this case.

[2019-05-08 17:54] tseaver opened #7900 "Bigtable: 'test_create_instance_with_two_clusters' flakes modifying profile."
Similar to #5928, but the failure occurs while re-modifying the instance's app profile.

From [this Kokoro failure](https://source.cloud.google.com/results/invocations/b5f7a8bc-d02c-45f8-b23d-31b94e4d0493/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log):

[code]

[2019-05-08 17:55] davidbernick commented on #7896
That's fine, then -- be aware that anyone using Snyk or Sourceclear on their code (like us) is going to see this as a major vulnerability (true or not) and ask about it. That's all.

[2019-05-08 19:28] frankyn commented on #7875
(update) Response from Technical Writer paraphrased: Given the fields query parameter is part of generic fields they're listed here: https://cloud.google.com/storage/docs/json_api/v1/parameters#fields.

The TW will add a link to available query parameters in API Reference documentation. The fields query parameter isn't deprecated.

[2019-05-08 19:29] kir-titievsky commented on #7108
At the very least, we should ensure that the default settings do not result in requests sizes that are too large.

[2019-05-08 19:32] tseaver commented on #7896
I don't disagree that we should pin `requests` / `urllib3` to fixed versions:  I was just arguing that the urgency of the fix is low *for us*:  it isn't a "house on fire" issue for nearly anybody.

[2019-05-08 19:38] tseaver commented on #7875
@frankyn If the user doesn't at least `items(name)`, we can't make a `Blob` instance from the result at all.  If they *do* suppy `items(name,...)`, then it works (I thought it didn't, but must have typoed something):

[code]

[2019-05-08 19:43] frankyn commented on #7875
Nice, I was trying to figure out why it wasn't working haha you beat me to it. So it's possible to select fields using Python. The limitation is name of the object is required (https://github.com/googleapis/google-cloud-python/blob/75277847ea68d228be4c3e91bb228236489f19f5/storage/google/cloud/storage/bucket.py#L86)

The limitation could be helped by instantiating the Blob instance without a name.

[2019-05-08 19:45] xmedeko commented on #7875
Cool, it works. I need sometimes just to get prefixes only, so `fields = 'prefixes'` seems working well, too.

[2019-05-08 20:14] tseaver commented on #7875
Without a name, the `Blob` is pretty useless (no further API requests can be made, for instance, and there is nothing to relate any of the other fields to.

[2019-05-08 20:38] frankyn commented on #7875
How about documenting that name must be populated in the selected fields and not deprecate the method `list_blobs()`?

[2019-05-08 20:44] #7825 closed

[2019-05-08 20:51] fishLogic25 opened #7905 "Symbol instances of OCR on PDF missing boundingBox attributes."
Hi,

I have been doing some testing of the Google Cloud API OCR service on some PDF files. I have noticed that the proto definition of a symbol here: https://github.com/googleapis/google-cloud-python/blob/master/vision/google/cloud/vision_v1/proto/text_annotation.proto indicates that a Symbol proto may have a bounding_box member. However, none of the symbols in my test output contain bounding boxe

[2019-05-08 20:55] yurijmikhalevich commented on #6165
@tseaver it's an issue happening with the `google-cloud-language` < 1.2.0 because the enum is missing recently added types (https://cloud.google.com/natural-language/docs/reference/rest/v1/Entity#Type — PHONE_NUMBER and following), but the query can return them anyway.

Example:
[code]

[2019-05-08 21:07] tswast commented on #7825
🎉 Thanks! 🎉

Are we following-up with a bunch of releases next (or at least for `api_core`)?

[2019-05-09 00:50] mlucy opened #7906 "PubSub: Bad error message when message attribute is too long"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

PubSub

2. OS type and version

Ubuntu 16.04.6 LTS (Xenial Xerus)

3. Python version and virtual environment information: `python --version`

Python 2.7.12

4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`

g

[2019-05-09 05:51] xmedeko commented on #7875
And please, do not forget my original doc request:

- If I have to specify `nextPageToken` in the fileds param as well or is it obsolete like the page_token param?
- How to specify multiple fields and what's the proper form: `items(name,size)` or `items/name,items/size`?

[2019-05-09 08:21] xmedeko opened #7907 "Storage: retry operation"
From my experience with other libs, storage operations rarely return HTTP 429 or 5xx retryable errors, e.g. see #3072 or [SO question](https://stackoverflow.com/questions/52304636)

 `api_core` has the `Retry` object, but I cannot find if it's used by the `storage.Client` or not? Should the top level functions have `retry` parameter? Furthemore, Google doc recommends to use (unmaintained!) [retryi

[2019-05-09 13:42] daaain opened #7910 "Pubsub: Pull Subscriber unable to re-connect after a while"
#### Environment details

1. API: PubSub (maybe gRPC)
2. OS type and version: Debian GNU/Linux 9 (stretch) container (based on python:2.7.15-slim-stretch) running in 1.12.6-gke.10
3. Python version: 2.7.15
4. google-cloud-pubsub version:  0.40.0

#### Steps to reproduce

  1. Have several PubSub subscribers run for a while (from hours to days) in a Kubernetes container, reconnecting every 10 minut

[2019-05-09 14:47] Cmotions-reader opened #7911 "Speech: attribute error when using 'Client.recognize'"
I am trying to use the Google speech to text API from Python 3.5 on a RPI 3B+ running Raspbian. But when I try to run the speech_client.recognize function I get the following error message:

[code]

I use the following code:

[code]

The (google packages) output of pip3 freeze:

[code]

I have absolutely no clue (anymore) on how to solve this. Could this be a bug in one of the packages and should

[2019-05-09 16:01] tseaver commented on #7905
@beccasaurus Can you help figure this one out?

[2019-05-09 16:03] tseaver commented on #7906
Thanks for the report!  That error message is generated by the back-end API, not by the `google-cloud-pubsub` client library.  @sduskis, can you suggest where this report should be directed?

[2019-05-09 16:16] beccasaurus commented on #7905
@dizcology /cc @googleapis/ml-apis

[2019-05-09 16:42] tseaver commented on #7911
Trying to reproduce in a fresh virtual environment:

[code]

I've modified your script to make it run (adding imports, changing the language code to match my sample):

[code]

Running the script:

[code]

In the traceback you reported above, the error appears to be that the client's `transport` attribute is a string:  is it possible you passed a string value inadvertently when constructing the cli

[2019-05-09 18:48] xmedeko commented on #7875
Update: according to my experiment, the `nextPageToken` **is necessary**. It's unpleasant, the `list_blobs` try to hide the paging, but it leaks into the `fields` parameter. IMO the `list_blobs` should add it automatically. Something like:
[code]

[2019-05-09 19:58] rsalmond opened #7916 "logging usage docs for list_entries method incorrect for both v1 and v2 library"
#### Environment details

1. Logging API
2. OSX Mojave
3. Python version: 3.7.3
4. google-cloud-logging version:
[code]

#### Steps to reproduce

  1. Navigate to the [usage start docs](https://googleapis.github.io/google-cloud-python/latest/logging/usage.html#retrieving-log-entries).
  2. Check out the example code `client.list_entries(project_ids=PROJECT_IDS)`
  3. Confirm that this is the [meth

[2019-05-09 20:37] plamut opened #7917 "PubSub: Subscriber future not raising exception that happen in callbacks"
A user reported the following in an email message (slightly adjusted for readability):

---
To sum up this issue, the [documentation](https://googleapis.github.io/google-cloud-python/latest/pubsub/subscriber/index.html#subscription-callbacks) on subscription callbacks says the following:

[code]

Unfortunately, this is not the case, because there is a try/except that catches every exception and ne

[2019-05-09 22:28] rsalmond opened #7918 "Create a google-cloud-audit virtual package"
**Is your feature request related to a problem? Please describe.**
Yes, users of the logging module are [opening spurious bugs](https://github.com/googleapis/google-cloud-python/issues/5322) and [conflating issues](https://github.com/googleapis/google-cloud-python/issues/3218) due to the lack of a clear path to deserializing AuditLog objects

Without the presence of a python compiled copy of [the

[2019-05-10 05:35] Cmotions-reader commented on #7911
Thank you so much @tseaver, that was exactly what I did! My SpeechClient won't initialize without me giving the location of the credentials file explicitly in the function. Otherwise I get the errormessage that the credentials are unknown. But I forgot to state the parametername when passing it to the function. I changed this now to this:
`speech_client = speech.SpeechClient(credentials="my_creds_

[2019-05-10 06:51] iamtodor commented on #7866
@tseaver We had holiday yersterday. Here is the output from
[code]
`_NamespacePath(['/env/local/lib/python3.7/site-packages/google', '/env/lib/python3.7/site-packages/google'])`. According to this payload it seems google package successfully installed.

[2019-05-10 07:19] Cmotions-reader commented on #7911
Update: there seems to be a problem with the credentials. I try to pass them to the SpeechClient function, and it seems to work fine. Until I try to run the recognize function, then nothing happens. I tried to fill in some random stuff instead of my credentials and the same happens without any error message. Any clue on how to pass the credentials to the SpeechClient initialization?

[2019-05-10 07:36] Cmotions-reader commented on #7911
I found the solution!
Added a line to my code to pass the credentials and changed the way I passed the credentials to SpeechClient:
`creds = service_account.Credentials.from_service_account_file("./path/credentials.json")
speech_client = speech_v1.SpeechClient(credentials=creds)`

[2019-05-10 07:36] #7911 closed

[2019-05-10 07:40] Cmotions-reader commented on #7214
I don't know if this is still relevant for you guys, but mayve it will help somebody in the future. I had the same issue on my RPI 3B+, OS = Raspbian, using Python3.
After trying different things I found out that the recognize function didn't respond because the credentials weren't passed in the right way to the SpeechClient function. I solved this by adding/changing my code in the following way:

[2019-05-10 14:21] #7866 closed

[2019-05-10 15:00] tseaver commented on #7911
@Cmotions-reader I'm glad you worked that out.  An alternate spelling would be:

[code]

[2019-05-10 15:10] tseaver commented on #7866
@iamtodor

I'm glad you resolved the problem.  Could you post a description of the resolution here, for the benefit of those who find this issue via search in the future?  My suspicion from looking at the packages you listed is that the `google-cloud-functions-worker` project (which I can't find on PyPI??) might be the culprit.

[2019-05-10 15:24] tseaver commented on #7916
@rsalmond For clarity, the method name you link to is not "the V1 library":  it is the high-level client object, which supports both GAPIC and HTTP/JSON requests to the V2 back-end API.

You are correct that the parameter name for the high-level client's `list_entries` method should be `projects`, rather than `project_ids`.

[2019-05-10 15:27] tseaver commented on #7916
Here is the offending snippet:.
https://github.com/googleapis/google-cloud-python/blob/8581f6a118f13f1f4ce3131ea96fde7425c7bd4f/logging/docs/snippets.py#L104-L113

I need to figure out why those snippets aren't being tested under CI.

[2019-05-10 15:27] sduskis commented on #7859
@crwilcox, @kolea2, @igorbernstein2: this is a problem in the GAPIC config.  Currently, the default timeout is set to 60 seconds.  Someone may need to increase the timeout for `MutateRows` calls.

[2019-05-10 15:54] sduskis commented on #5507
@JustinBeckwith, what's the good word on this issue?

[2019-05-10 16:27] JustinBeckwith commented on #5507
@sduskis I just +'d you into a thread

[2019-05-10 16:56] cwbeitel commented on #7859
@sduskis Sending data in smaller batches might be a best practice anyway if a part of a large transfer failing could fail the whole transfer (vs. perhaps retries only the failed portion?).

[2019-05-10 17:49] sduskis commented on #7859
@cwbeitel, I agree on best practices.  In theory, you can use a `MutationsBatcher` From `table.mutations_batcher()` which ought to encapsulate the best practices.

I also believe that we ought to review the default timeout value to make sure that it makes sense for this type of RPC.

[2019-05-10 19:06] sangramql commented on #6278
Comment in PR #7948 by @sduskis : The issue should be rephrased to remove channel and add new data_transport, table_admin_transport and instance_admin_transport

[2019-05-10 21:51] iamtodor commented on #7866
Well, the problem was really easy but not obvious at first look. My `.gitignore` contains `.txt` files that mean I don't install any additional package that was provided within requirements.txt

[2019-05-10 22:07] tswast commented on #7907
I think this can be a separate feature request from the client redesign. I agree that the client methods need `retry` arguments. This would align the storage client with our other clients.

[2019-05-12 18:53] xmedeko opened #7951 "Core: Retry.__init__ add on_error"
`Retry.__call__` has `on_error` argument. I would like to have it in the `Retry.__init__`, too. I use it for own logging of retry.

[2019-05-12 20:45] ttfreeman opened #7952 "Does not install on Linux"
I am trying to install Google Cloud SDK on Linux (in a Chrome OS). I have followed all the steps from https://cloud.google.com/sdk/docs/#linux , which means, I have downloaded and unpacked it on my file system and have attempted running the command ./google-cloud-sdk/install.sh or ./google-cloud-sdk/bin/gcloud init (with and without sudo). However, all I get is an error ./google-cloud-sdk/bin/gclo

[2019-05-13 04:36] #7952 closed

[2019-05-13 17:07] andyhky opened #7955 "bigtable: Implement consistent retry mechanisms"
**Is your feature request related to a problem? Please describe.**
It is frustrating to utilize a provided retry mechanism for one API call, and being forced to implement our own retry mechanism for a very similar API call because retries aren't provided.

https://googleapis.github.io/google-cloud-python/latest/bigtable/table.html#google.cloud.bigtable.table.Table.read_row

https://googleapis.gith

[2019-05-13 20:19] daaain commented on #7910
I came across #7709 which might be the root cause. When the new release comes out I'll post an update, but will also try to dig deeper in the meanwhile.

[2019-05-13 20:22] ajwitty opened #7957 "Problem with 'httplib2' when installing gsutil on linux"
I am trying to download some dataset using gsutil, but when trying to install, i get the following  error with regards to the package httplib2:

Collecting gsutil
  Downloading https://files.pythonhosted.org/packages/60/22/c421f4bcf4ebdc4516211e79afac1c0af4df6d8e0f478682a08c02a4dd0b/gsutil-4.34.tar.gz (866kB)
    100% |████████████████████████████████| 870kB 9.7MB/s
Requirement already satisfied:

[2019-05-13 21:13] msfrisbie commented on #7812
For anyone getting stuck on this issue, make sure all your `google-*` packages are up to date, especially `googleapis-common-protos==1.5.10`. Updating this fixed the import issue for me.

[2019-05-14 04:29] speedplane commented on #3272
Has this ever been addressed? Creating a new client for each thread can effectively double the number of threads in the system.

[2019-05-14 04:33] philipperemy commented on #3272
@speedplane if you want something that can run in production, you might want to use something else. Those libs are not very stable unfortunately.

[2019-05-14 04:47] speedplane commented on #3272
@philipperemy what other options are there for accessing the datastore? Isn't this the official library?

[2019-05-14 05:24] speedplane commented on #3272
I'm looking at the code now, and it's much worse than 1 new thread per client. It seems that when using gRPC, there are 4 threads: a consumption thread, a channel spin thread, a delivering thread, and a polling thread. (I'm not sure what these threads do or if they're always used). This seems to be per client, and can get bad, take the following example:

- You have a 4 core server with 4 worker r

[2019-05-14 12:31] yoshi-automation opened #7964 "Synthesis failed for bigquery"
Hello! Autosynth couldn't regenerate bigquery. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fc96560e-93e7-4dae-80e4-87bc924ea879).

[2019-05-14 12:31] yoshi-automation opened #7965 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fc96560e-93e7-4dae-80e4-87bc924ea879).

[2019-05-14 12:31] yoshi-automation opened #7966 "Synthesis failed for talent"
Hello! Autosynth couldn't regenerate talent. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fc96560e-93e7-4dae-80e4-87bc924ea879).

[2019-05-14 12:31] yoshi-automation opened #7967 "Synthesis failed for tasks"
Hello! Autosynth couldn't regenerate tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fc96560e-93e7-4dae-80e4-87bc924ea879).

[2019-05-14 16:13] busunkim96 commented on #7957
Hi @ajwitty! It sounds like you're having an issue with gsutil. That tool is maintained in a separate repository. Please add your issue to the gsutil [issue tracker](https://github.com/GoogleCloudPlatform/gsutil/issues).

[2019-05-14 16:13] #7957 closed

[2019-05-14 16:25] busunkim96 commented on #7967
This synth succeeded and produced PR #7963. Closing this for now but will keep an eye out for similar errors.

[2019-05-14 16:25] #7967 closed

[2019-05-14 16:25] busunkim96 commented on #7966
This synth succeeded and produced PR #7962. Closing this for now but will keep an eye out for similar errors.

[2019-05-14 16:25] #7966 closed

[2019-05-14 16:26] #7965 closed

[2019-05-14 16:46] tseaver commented on #7964
Transient network failure.

[2019-05-14 16:46] #7964 closed

[2019-05-14 18:07] tseaver opened #7968 "Release the world to support 'client_info' for manual clients."
/cc @crwilcox, @busunkim96, @tswast

Follow-on to #7825.  Because we are releasing new features in `google-api-core` and (more importantly) `google-cloud-core`, we need to handle this release phase delicately.  Current clients which depend on `google-cloud-core` use a too-narrow pin:

[code]

Per conversation today, we plan to go ahead and release a `1.0.0` of `google-cloud-core`.  *Before* that,

[2019-05-14 20:53] tseaver commented on #3272
@speedplane We expect that gRPC-based clients to be thread safe:  the issues we know of are to do with multiprocessing (forking *after* creating a client).

[2019-05-15 00:00] busunkim96 opened #7982 "Translation: Fix system test broken by back-end translation change."
[code]

[2019-05-15 06:44] plamut commented on #7910
@daaain Thank you for reporting this and doing the initial research!

The linked issue could indeed be the root cause, and [the fix](https://github.com/googleapis/google-cloud-python/pull/7863) for it merged recently makes sure that a clean shutdown of background threads is triggered if the underlying gRPC channel remains in an error state for too long.

The log records posted here are produced by

[2019-05-15 06:52] #7917 closed

[2019-05-15 09:00] plamut commented on #7910
**Update:**
Whoa, I might have just been (un)lucky enough and actually observed a very similar error locally. While working on another issue and running the subscriber client's streaming pull (`subscriber.subscribe()`), my WiFi connection apparently got unstable, and I saw the following in the log output:

[code]
It appears that the [streaming_pull()](https://github.com/googleapis/google-cloud-pyt

[2019-05-15 19:53] amarjandu commented on #3806
@LeKristapino @theacodes was this ever resolved? Running on python 3.6.5

[2019-05-15 19:53] sduskis commented on #4913
@theacodes, do you think this is still a GA blocking issue?

[2019-05-15 19:56] sduskis commented on #7906
@kamalaboulhosn, do you have any insight into this issue?  Would it make sense to add some additional information about which attribute caused the validation issue?

[2019-05-15 20:03] sduskis commented on #7694
@plamut, is there anything we need to do on our end?

[2019-05-15 20:07] sduskis commented on #6883
@plamut do you have any advice about this question?

[2019-05-15 20:08] tseaver commented on #3806
@amarjandu Seems solved to me:

[code]

[2019-05-15 20:08] sduskis commented on #7128
@anguillanneuf or @plamut, do you have any answers for this?

[2019-05-15 20:23] kamalaboulhosn commented on #7906
Yes, this is an error message generated on the server side. I will make a fix there and will also add the name of the attribute that is incorrect.

[2019-05-15 20:29] amarjandu commented on #3806
@tseaver  i was working with this requirements.txt file https://github.com/HumanCellAtlas/data-store/blob/master/requirements.txt

the command was
`python3 -m pip install -t dependencies/lib/python3.6/site-packages/ -r requirements.txt`
i still see the warning for
`WARNING: Target directory /data-store/dependencies/lib/python3.6/site-packages/google already exists. Specify --upgrade to force repla

[2019-05-15 22:31] tseaver opened #7995 "Storage: 'test_bpo_set_unset_preserves_acls' systest flakes with 503"
From [this Kokoro run](https://source.cloud.google.com/results/invocations/d6b7e316-2d50-43fd-9928-9f5bbdf4c41b/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log)

[code]

[2019-05-16 08:53] plamut commented on #7694
@sduskis No, nothing. Not even bumping the dependency version, because from what I can see, the latter is set to `grpcio >= 1.8.2` in [API core setup.py](https://github.com/googleapis/google-cloud-python/blob/master/api_core/setup.py#L42), which also includes the upcoming v1.21.0 release.

[2019-05-16 10:25] plamut commented on #6883
I'm not 100% sure if I understand the question correctly, but does "caching" refer to the [batch settings](https://google-cloud.readthedocs.io/en/latest/pubsub/types.html#google.cloud.pubsub_v1.types.BatchSettings) used when publishing messages? E.g the `max_latency` setting that sets how long the publisher client should wait before actually publishing a batch of messages to the server (for messag

[2019-05-16 11:00] Gunjitbedi opened #7996 "Auto ML: ServiceUnavailable raised from 'predict'"
#### Environment details
OS: Windows 10
Python 3.6.5 :: Anaconda, Inc.
Name: google-cloud-automl Version: 0.2.0

#### Steps to reproduce
I am working on 'AutoML Natural Language' and using it to prepare a custom text classification model. I have uploaded the data and trained it through the AutoML UI - "https://cloud.google.com/automl". Now, for predicting the results i am using the Python syntax.

[2019-05-16 11:57] plamut commented on #7128
- `google.cloud.pubsub_v1.types.ReceivedMessage`:
This is the [ReceivedMessage](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/proto/pubsub.proto#L685-L691) type that the server actually returns as a [response for the Pull](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/proto/pubsub.proto#L775-L782) method, o

[2019-05-16 16:35] tseaver commented on #7982
Fixed in #7987.

[2019-05-16 16:35] #7982 closed

[2019-05-16 16:43] tseaver commented on #7996
@beccasaurus Are there any known issues with the Auto ML API which would explain this issue?  The GAPIC `Predict` method is marked as `non_idempotent`, which means that we don't automatically retry for 503 responses.

[2019-05-16 17:27] sduskis commented on #7694
Thanks @plamut.  I'm going to close this issue, since we have a solution.

[2019-05-16 19:22] tseaver opened #8003 "Datastore: add 'client_info' argument to client ctor."
Overlooked in #7825.

[2019-05-16 21:12] dantuluri opened #8014 "Storage: ImportError, cannot import name '_helpers'"
#### Steps to reproduce

  1. Run `python`
  2. Enter 'from google.cloud import storage' to shell

#### What happened

Not sure why I'm getting this error. I've tried uninstalling google cloud sdk and reinstalling the pip packages, but it doesn't seem to work out. I've also setup authentication and followed all the steps written here: [https://cloud.google.com/storage/docs/reference/libraries#clie

[2019-05-16 21:21] tseaver commented on #8014
It looks as though you somehow uninstalled `google-cloud-core`.  Can you please show the output of `python -m pip freeze` in your environment?  You might also try `python -m pip install google-cloud-core` to get it reinstalled.

[2019-05-16 21:39] evanj opened #8016 "pubsub: publishing in a loop uses TONS of memory"
Publishing medium-sized (32 kiB) messages in a loop causes the process's memory usage to quickly run out. I set a 2 GiB memory limit, and the process runs out of memory after publishing about 20000 messages. I believe there are two issues:

1. There is no limit to the number of queued bytes in the process. I believe the client should block publishers when it is exceeded, so that back pressure natu

[2019-05-16 22:56] dantuluri commented on #8014
#### Output of pip freeze
[code]

#### What I did
I just reinstalled Cloud SDK to see if I accidentally deleted any important files. Even with the reinstallation and refreshing my terminal (sourcing bashrc), I'm still running into the same issue.

I also ran `python -m pip install google-cloud-core`, same issue.

[2019-05-16 23:18] tswast commented on #5572
They are implementation details, but pandas-gbq uses CSV whereas google-cloud-bigquery uses parquet as the serialization format. The reason for this is to support STRUCT / ARRAY BigQuery columns (though these aren't supported in pandas, anyway).

Implementation-wise, I just noticed pandas provides a way to override the parquet engine's default behavior with an `index` argument. I'm open to adding

[2019-05-17 01:06] GuanacoDevs commented on #7533
Seems like this is addressed with `google-cloud-firestore 1.2.0`

[2019-05-17 06:44] plamut commented on #4994
@psalaberria002 This is an old feature request, but nevertheless - I am working on this right now and will submit a PR shortly. The change will allow users to optionally provide `batch=True` argument to `subscriber.open()`, which will result in callbacks being invoked with batches of received messages, as opposed to a single message per callback invocation.

[2019-05-17 07:09] deanberris commented on #4840
Is there an update on this? I'm in the process of attempting to migrate an AppEngine service running in the python27 environment towards using the google-cloud-* client libraries for use in the python37, and testing locally with emulation is critical for integration testing to ensure we're not breaking anything. Is this a regression, maybe something we can work around?

[2019-05-17 07:26] tswast commented on #7370
Some thoughts on possible implementation.

 When using the pyarrow engine for to parquet, we basically convert to an arrow table first. It's likely at this conversion that the object dtype for all None gets treated as a nullable float column, since there's no other information given to pyarrow about the types besides the dtype and the actual values. Perhaps we should always use pyarrow and explici

[2019-05-17 13:35] sduskis commented on #7906
There was a back-end fix for this, which will be deployed at some point in the near future.  Thanks @kamalaboulhosn!  I'm going to close this issue, since there's nothing more we can do here.

[2019-05-17 13:35] #7906 closed

[2019-05-17 13:43] sduskis commented on #7387
I've seen something like this in Java in my Cloud Bigtable days and in nodejs-pubsub (https://github.com/googleapis/nodejs-pubsub/issues/318).  Here's what I think is happening:

1. The service account credentials or compute credentials can be used to get an oauth2 token. The client caches the token, which includes an expiration timeout.
2. A bunch of requests get the oauth2 token in the header, a

[2019-05-17 13:44] sduskis commented on #7128
@plamut and @anguillanneuf is the documentation technically correct?  If so, is there anything we can do to make the docs better?

[2019-05-17 13:50] sduskis commented on #7107
If there's a super large message, the [Java implementation](https://github.com/googleapis/google-cloud-java/blob/67668c1411169338374b050eae50ed650e318c54/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java#L658) sends any messages that have been batched up, and then sends the large message in its own batch.

IMHO, the Python implementation should do the

[2019-05-17 13:52] sduskis commented on #7043
@plamut, It sounds like your solution would work.  Please do it.

[2019-05-17 13:52] kamalaboulhosn commented on #7107
@sduskis Agreed, the Java implementation should be the model to follow for this.

[2019-05-17 13:54] sduskis commented on #6350
@ryanyard is this still an issue?

[2019-05-17 13:56] sduskis commented on #7387
@plamut the "triaged for GA" work here is to document a way to use client-side JWT.

[2019-05-17 14:07] plamut commented on #7043
@sduskis The `FlowControl` settings class is auto-generated, thus the change needs to be done in the code generator (the ticket that Tres linked above).

If Luke (the current assignee) is too occupied with other work, I can help, although I would first have to familiarize myself with the `gapic-generator` lib.

[2019-05-17 14:34] sungchun12 commented on #5572
@tswast , I would LOVE "index=False" functionality in the google-cloud-bigquery package as it would allow me to remove pandas-gbq imports and have a consistent API to work with bigquery...at least for my use cases in having to not build override schema configurations.

[2019-05-17 14:58] sduskis commented on #7387
@ajaaym has an alternative explanation to the problem.  Pub/Sub subscribers are a long running streaming RPC.  It stays open while the connection is open.  At some point, usually about an hour, the connection closes, and retries kick in to open a new stream and a new connection.

Auth tokens also stay open for about `1 hour - some buffer (5-10 minutes)` on the client side.  There's also a server-s

[2019-05-17 15:00] sduskis commented on #4994
I'm going to remove the "triaged for GA" label. The goal of GA will be parity with other GA implementations.  Other GA implementations don't currently have this feature.

[2019-05-17 15:15] sduskis commented on #7107
@plamut, can you please check what happens in the Python client when a message is too large?  If it acts the same as the Java implementation, we can close this issue.

[2019-05-17 15:27] #8003 closed

[2019-05-17 16:03] tseaver commented on #8014
Trying to reproduce in a fresh virtual environment:

[code]

Thing I note about your set of installed packages:

- The `google-cloud` meta-package is deprecated, not required, and should be removed.  I don't think that it is the cuplrit here:  installing it in my virtual environment didn't reproduce the import error.
- You have `google-cloud-storage==1.15.1`, while I have `google-cloud-storage==1.

[2019-05-17 16:08] tseaver commented on #7533
@GuanacoDevs Yes, the feature was added in #7989.

[2019-05-17 16:08] #7533 closed

[2019-05-17 16:58] relud commented on #7107
this implementation does that

[2019-05-17 16:58] #7107 closed

[2019-05-17 16:59] tseaver commented on #7968
Whew!

[2019-05-17 16:59] #7968 closed

[2019-05-17 18:25] anguillanneuf commented on #7128
The information in the documentation is appropriate and up to date:

- [PubsubMessage](https://google-cloud.readthedocs.io/en/latest/pubsub/types.html#google.cloud.pubsub_v1.types.PubsubMessage)
- [ReceivedMessage](https://google-cloud.readthedocs.io/en/latest/pubsub/types.html#google.cloud.pubsub_v1.types.ReceivedMessage)
- [subscriber.message.Message](https://google-cloud.readthedocs.io/en/lates

[2019-05-17 19:47] plamut commented on #4994
Since I was almost done with the implementation, I still opened a [pull request](https://github.com/googleapis/google-cloud-python/pull/8022) that adds this feature, but put it on hold for now.

[2019-05-17 20:32] vimota opened #8024 "BigQuery: Add Connection object to Magics Context"
**Is your feature request related to a problem? Please describe.**
Our team (Kaggle) supports a Public Datasets BigQuery integration in Kernels (Jupyter Notebooks) using a proxy where we inject our own credentials. We currently expose a PublicBigQueryClient that handles this (https://github.com/Kaggle/docker-python/blob/master/patches/kaggle_gcp.py#L70) but we're unable to support Magics via this

[2019-05-17 20:33] vimota commented on #7122
I filed a related issue but regarding Magics: https://github.com/googleapis/google-cloud-python/issues/7122.

[2019-05-17 20:34] sduskis commented on #8016
@evanj, thanks for raising the issue, and the clear explanation.

@plamut can you please check this out?  The only thing we can likely tackle in the near term is the extra copies.

We'd need to reevaluate the current non-blocking approach, which is the default across all clients.  It would be worthwhile to explore a blocking option in the long term.

@kamalaboulhosn we'll need you to make the call

[2019-05-17 20:38] sduskis commented on #7910
I think that the "definition of done" for this issue will be to definitively prove that this is a grpc level issue.  If so, we can open up a grpc issue and we can work with the pub/sub team to see if this feature is truly GA blocking.

[2019-05-17 20:42] tswast commented on #8024
I'd be open to a PR that adds a `_connection` property to `Context`.

[2019-05-17 20:44] tswast commented on #8024
The reason I don't think `client` would be a good property for `Context` is that there are many default values on `Client` that are also present in `Context`. I gets too confusing to know which to set.

[2019-05-17 22:17] sduskis commented on #7128
That sounds like a good plan, @anguillanneuf.  Thanks!

[2019-05-17 22:19] sduskis commented on #7043
oh.  Thanks for the info @plamut.   That sounds like a time intensive change, so I don't think that the effort is advisable in the near term. @anguillanneuf, I'm ok keeping this open, but this will be a very low priority.

[2019-05-17 22:34] tswast commented on #7370
I've investigated this approach (manually converting to Arrow and specifying needed column types via BigQuery column type). I think it will work. I've come up with the Arrow types we'll need to use for a given column type.

# pandas -> Arrow -> Parquet -> BigQuery

We need to be able to use BQ schema to override behavior of the pandas -> Arrow + Parquet conversion, especially when the pandas type

[2019-05-17 22:45] elwinarens opened #8026 "ImportError: cannot import name 'ciient_info'"
`i != l`:

https://github.com/googleapis/google-cloud-python/blame/a9bcc2755248d41b7610ceff80cd9357ad7fd04a/error_reporting/google/cloud/error_reporting/client.py#L25

Who reports the error reporter?

[2019-05-18 00:01] tseaver commented on #8026
Nice catch!  Thanks for the report.

[2019-05-18 00:04] #7875 closed

[2019-05-18 09:53] Ladinstar commented on #3757
To fix your problem I think that you can tap the command
`pip install pbr`
I had the same problem

[2019-05-18 16:04] blaflamme opened #8034 "Tasks: ImportError: cannot import name 'expr_pb2' from 'google.type'"
Hi,

two days ago my project using google tasks started to give me this error after doing an upgrade of outdated libs using `pipenv lock --pre`. I'm trying to figure out what's going on without any success so far.

#### Environment details

pip freeze output

[code]

#### Steps to reproduce

  1. Create a venv
  2. Install the above libs
  3. Open up a shell and do `from google.cloud import tasks_

[2019-05-18 18:07] cbenhagen opened #8035 "Firestore: links in docs, static code analysis and autocompletion in PyCharm are broken"
Due to docstrings formatted like this, static code analysis and autocomplete in PyCharm and the links in the [online Sphinx docs](https://googleapis.github.io/google-cloud-python/latest/firestore/client.html#google.cloud.firestore_v1beta1.client.Client.document) are broken:
https://github.com/googleapis/google-cloud-python/blob/de0103cedaf9fb9f03ddca9be801ac64635d7b74/firestore/google/cloud/firest

[2019-05-19 22:54] jtressle commented on #7677
FYI,

I'm experiencing the same issue where my subscriber is exceeding 'max_messages'.  I'm on Ubuntu 16.04, and running Python 3.6.8 in a VM.  My task takes about 2-5 minutes, and max_messages is set to 1.

I've tried @anguillanneuf code and the issue persists.

My subscriber pulls the correct # of messages about 90% of the time.

Are there any other potential fixes?

Thanks.

[2019-05-19 23:16] dantuluri commented on #8014
Thanks for the help. Although I should've followed the instructions you have gave me, I decided to reset my machine so that I can fully dockerize all my future projects to prevent silly errors such as this. Once I did so, everything worked flawlessly. I hope to continue using GCP!

[2019-05-19 23:16] #8014 closed

[2019-05-20 05:56] asnr opened #8036 "Pub/Sub: publish message hangs waiting for previous publish to timeout"
#### Environment details

OS type and version: 4.9.125-linuxkit GNU/Linux
Python version and virtual environment information: Python 2.7.16
google-cloud-pubsub package version: 0.41.0

#### Steps to reproduce

1. Publish a (first) message to PubSub that fails
2. Timeout on the future object returned by the call to `publish()`, _before_ the grpc publish call in the batch thread returns
3. Publish a

[2019-05-20 06:05] plamut commented on #7677
Hi @jtressle, there is a PR linked just above your comment that addresses this very issue. :wink: It has not yet been merged, though:

Until the fix is merged and released, there might a workaround, albeit an ugly one. If your message callback blocks the thread before acknowledging the received message, it _might_ work to to set the scheduler's [max_workers](https://github.com/googleapis/google-cl

[2019-05-20 15:42] #8026 closed

[2019-05-20 16:12] tseaver commented on #8034
Thanks for the report.  Trying to reproduce in a fresh virtual environment:

[code]

Looking at the output from `pip freeze`:

[code]

I see you also have `google-cloud-datastore`, `google-cloud-pubsub`, and `google-cloud-storage` installed, so I tried installing them, too:

[code]

I note also that you have a pre-release version of `googleapis-common-protos` installed, and so tried bumping it as

[2019-05-20 16:12] #8034 closed

[2019-05-20 16:24] tseaver commented on #8035
Thanks for the report.  For benefit of future self (or whoever):

[code]

[2019-05-20 17:05] tseaver commented on #8014
@dantuluri I'm glad you got the issue resolved!

[2019-05-20 18:44] sduskis commented on #7108
@kir-titievsky, it looks like the Python client currently behaves like the Java client.  This feature request would constitute a departure in the logic between clients.  It's certainly something to consider, but I'm going to remove the "triaged for GA" label for now.

[2019-05-20 19:01] kir-titievsky commented on #7108
hm... I would venture to say this is a bug in both Java and Python, rather than FR,  in that the client's batching API does not take into consideration a known property of the service.  But I agree that this is not GA blocking.

[2019-05-20 19:25] finoptimal-dev commented on #6190
I see this happening too and believe it's ISP-specific.

[2019-05-20 19:45] sduskis commented on #6883
@plamut: I think the user wants to have a method to ensure that all messages have successfully been sent... i.e. all futures have completed.

[2019-05-20 19:47] tseaver commented on #7108
@kir-titievsky Based on my somewhat rusty memory, we actually *did* raise early on when a single message was larger than `max_bytes` (#4872), and re-worked it (#5343) per request (#4608):  see @theacodes [comment](https://github.com/googleapis/google-cloud-python/issues/4608#issuecomment-368985750) that we needed to match Java / Go.

[2019-05-20 19:52] sduskis commented on #6130
@plamut, can you please take a look at this?

[2019-05-20 20:50] tseaver commented on #7384
[Recurred today](https://source.cloud.google.com/results/invocations/80a7a6cf-472f-405a-b768-7373a21d674f/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log).

[2019-05-20 21:06] dkapitan opened #8044 "BigQuery: use union categorical to concatenate pages in `to_dataframe` when categorical dtype is requested"
I am working on an enhancement for `pandas-gbq`, where we would like to reduce the memory footprint in pandas through downcasting. See https://github.com/pydata/pandas-gbq/issues/275 for the full details.

I have made a first working version and getting erratic behaviour in the conversion of STRING to pandas `category`. It seems like it has to do with the size of the query results.

See attached n

[2019-05-20 21:28] tseaver commented on #8044
@tswast I know you have some stuff in work related to the `dtypes` conversions.

[2019-05-21 05:21] murtuzamdahod commented on #1187
Thanks alot this worked for me :)

[2019-05-21 06:17] murtuzamdahod commented on #1187
I'm getting the same error and cannot find any solution. Please help asap.

[2019-05-21 09:48] melih9779 opened #8046 "Storage: image upload problem"
When upload file, I get sometimes error

### **upload:**

[code]
###
**Error:**
[code]

[2019-05-21 12:35] sduskis commented on #7108
@tseaver, this issue is about how we calculate the size of a `PublishRequest`, and not what we do when the size is too large.

The Java equivalent of `types.PublishRequest(topic=topic, messages=[]).ByteSize()` is 0.  The smallest value of `types.PublishRequest(messages=[message]).ByteSize()` (assuming `message` is empty) is 2, and it goes up by 2 + messageSize for every message.

If that holds up

[2019-05-21 12:47] kir-titievsky commented on #7108
Agreed on not blocking GA on this.

On Tue, May 21, 2019, 8:36 AM Solomon Duskis <notifications@github.com>
wrote:

[2019-05-21 15:10] tseaver commented on #8046
The traceback you post is being raised from the [`cryptography.hazmat` package](https://github.com/pyca/cryptography), which has an [issue with the same traceback](https://github.com/pyca/cryptography/issues/4706).  From the description there, it appears that the service account key in your `keyfile.json` is corrupt.

Please try [generating a new service account key from the Cloud Console](https:/

[2019-05-21 15:30] joncass commented on #7827
I am having this same issue. It looks to me like the fix would be to change line https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/_helpers.py#L590 from `parts = full_id.split(".")` to `parts = full_id.rsplit(".", 2)`. Any objections to that change?

[2019-05-21 15:32] Jofre opened #8080 "Pub/Sub: Outdated subscriber documentation."
https://github.com/googleapis/google-cloud-python/blob/master/pubsub/docs/subscriber/index.rst

This documentation references pubsub_v1.subscriber.policy, which was deprecated on [this commit](https://github.com/googleapis/google-cloud-python/commit/0da12f692070258b652d8a807a5f00c44bdbe618).

This seems confusing when trying to follow the documentation.

[2019-05-21 15:52] tseaver commented on #8080
Thanks for the report!

[2019-05-21 15:54] Dan4London commented on #7910
Hi,

I've been experiencing something similar but with publishing. When the connection to the cloud is disrupted (error 503), the gRPC in the background continues to attempt to re-establish connectivity with "exponentially increasing delays" as described above. Despite using an async request (check code sample below) this essentially hijacks the normal execution course of the program until the con

[2019-05-21 16:32] tswast opened #8082 "BQML `get_model` snippets tests are failing"
https://github.com/googleapis/google-cloud-python/pull/8049#issuecomment-494463181

Appears that there's a new field in the response message. I thought protobuf was supposed to ignore unknown fields, but maybe that's not the default. I'll see if I can get a fix today to the Python client.

[2019-05-21 18:15] #8082 closed

[2019-05-21 19:42] blairg23 opened #8085 "Storage: Update to 1.16.0 can cause google-cloud-core or google-api-core to fail."
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

Google Cloud Storage using the `google-cloud-storage` Python library

2. OS type and version

Ubuntu Linux 18.04.2 LTS

3. Python version and virtual environment information: `python --version`

Python 3.6.7

4. google-cloud-<service> vers

[2019-05-21 19:46] jakebolam opened #8086 "Firestore: _tokenize_field_path crashes when subpath starts with number"
### Research
  - Search the issues already opened: ✅
  - Check for answers on StackOverflow:  ✅

#### Environment details

1. Firestore
2. OS type and version: `Docker(python:3.7.3)`
3. Python version and virtual environment information: `python:3.7.3`
4. google-cloud-<service> version: `google-cloud-firestore==1.2.0`

#### Steps to reproduce

  1. Use `.where(f"something.3blah", "==", True)` on a

[2019-05-21 19:49] #8080 closed

[2019-05-21 19:55] tseaver commented on #8086
Thanks for the report

[2019-05-21 20:05] tseaver commented on #8086
The [rules for field paths](https://googleapis.github.io/google-cloud-python/latest/firestore/field_path.html#module-google.cloud.firestore_v1beta1.field_path) are a little complicated.  You need to escape any path element which is not an "identifier";  e.g., in your case:

[code]

[2019-05-21 20:32] evanj opened #8087 "pubsub: Subscriber.pull timeout race between server and client"
`SubscriberClient.pull` currently uses a default timeout of 12 seconds. If there are no messages, it continuously raises `DeadlineExceeded` exceptions that need to be ignored. This causes a race condition between the server and the client.

1. Client calls `pull` on an empty subscription.
2. A message is published to the corresponding topic.
3. The server decides to hand this message to the client

[2019-05-21 20:42] jakebolam commented on #8086
Thanks for the speedy response @tseaver. That definitely gets things working. Cheers

[2019-05-21 20:42] #8086 closed

[2019-05-21 22:59] busunkim96 opened #8090 "Firestore: Failing system tests."
See [log](https://source.cloud.google.com/results/invocations/d3030c0b-c040-4390-ada9-a33de4c5ac04).

Example PRs: #8076 #8075 #8074

The same test fails for 2.7 and 3.7 system tests, so it seems like a real failure?
[code]

[2019-05-22 10:01] cbenhagen commented on #8035
@tseaver please reopen this issue. It still does not work as you can see here: https://googleapis.github.io/google-cloud-python/latest/firestore/query.html#google.cloud.firestore_v1beta1.query.Query.stream

if you do need to prepend the tilde you have to write it this way:
[code]

[2019-05-22 10:26] jonescameron commented on #5884
Hello, is there an update on this at all? I'm currently encountering the same issue, using the list_clusters() method.

[2019-05-22 12:52] timocb opened #8093 "BigQuery: Field <field> has changed mode from REQUIRED to NULLABLE"
I am encountering the following problem, when uploading a Pandas DataFrame to a partitioned table:

#### Environment details
API: BigQuery
OS: macOS High Sierra 10.13.6
Python: 3.5.7
Packages:
[code]

#### Steps to reproduce
Create a table on BigQuery with the following fields:
- float_value, FLOAT, required
- int_value, INTEGER, required

#### Reproducible code example (includes creating table)
[

[2019-05-22 14:23] jonescameron opened #8094 "DataProc: Cluster config doesn't show lifecycle config for clusters created outside 'global' region"
Trying to write a function in Python that parses cluster config files, I've noticed that when I import dataproc_v1beta2, I can see lifecycle info in the cluster config with the format:
[code]

which is perfect, however when getting config from clusters created in any region other than 'global', this information is not present.

Code to reproduce:

[code]

When running `print()` on these 4 ClusterC

[2019-05-22 15:51] JohnRobinv commented on #5884
I encountered same issue in region "asia-southeast1".

[2019-05-22 16:18] max-sixty opened #8096 "BigQuery: Allow using TableListItem to create a Table"
**Is your feature request related to a problem? Please describe.**

Currently a `TableListItem` can't be supplied to the `Table` constructor

[code]

 **Describe the solution you'd like**

`Table` can take a reference, a string, a `TableListItem`, anything that could be a Table - overall either unify the types or make conversions between them implicit

The python BigQuery API has got waaay better,

[2019-05-22 16:21] tseaver commented on #8093
@tswast ISTM that `Client.load_table_from_dataframe` is generating a schema with `NULLABLE` mode, which isn't compatible with the original table's schema, presumably in the process of calling `Client.load_table_from_file` with the generated parquet file.

[2019-05-22 16:36] tseaver commented on #5884
It looks like using non-global regions requires tweaking the transport used by the client, e.g.:

[code]

If using that workaround clears up the issue for y'all, then we should add an additional constructor / factory which makes it easy.

[2019-05-22 16:36] tseaver commented on #8094
Thanks for the report!

[2019-05-22 16:53] tseaver commented on #8096
@tswast Would this be as straightforward as adding `TableListItem.to_api_repr` (and likely the complementary `from_api_repr`)?

[2019-05-22 16:59] tseaver opened #8097 "api_core: fix / disable the broken 'pytype' session in 'nox'."
CI is broken for unrelated PRs due to this failure, e.g. see [this Kokoro run](https://source.cloud.google.com/results/invocations/72b52360-5a1b-4f30-9cc3-89847b38e165/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fapi_core/log) for PR #7628.

[2019-05-22 17:05] tseaver commented on #8097
@rchen152 Is this new failure in our 'pytype' session due to a recent release of pytype, e.g. perhaps containing https://github.com/google/pytype/pull/314?

[2019-05-22 17:09] tseaver opened #8098 "Phishing protection: unit tests fail"
See [this Kokoro failure](https://source.cloud.google.com/results/invocations/a255dd66-093d-44b1-8173-cbe398ef3220/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fphishingprotection/log), which I can reproduce locally:

[code]

[2019-05-22 17:12] tseaver opened #8099 "Redis: 'docs' session breaks CI."
See [this Kokoro failure](https://source.cloud.google.com/results/invocations/5fd6c04a-0be0-41be-8c84-330157b125eb/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fredis/log):

[code]

[2019-05-22 20:04] #8099 closed

[2019-05-22 20:05] #8098 closed

[2019-05-22 20:07] tseaver commented on #8035
@cbenhagen Can you please try out the branch from #8102?

[2019-05-22 20:09] tseaver commented on #8090
This could be racy (more than one CI run hitting the collection).  The fix should be use use a collection which embeds the unique ID for the test run in its name.

[2019-05-22 20:10] tseaver commented on #8093
Hmm, looks like this one is related to #7370.

[2019-05-22 20:27] plamut commented on #7910
Thanks to reporting this, @Dan4London. Could it be that this issue is the same as #8036 reporting a similar problem with publisher blocking?

[2019-05-22 21:23] rchen152 commented on #8097
This looks like more fallout from https://github.com/python/typeshed/commit/e45f443d8530f0dd9f9022720a994f222da6f0fd. Typeshed is representing the return value of functools.partial() as a function rather than a class in order to get better type-checking when the returned partial is used. I'll send a PR to silence the failure (should be as simple as adding `# pytype: disable=wrong-arg-types` at the

[2019-05-22 21:27] tswast commented on #8093
I think BigQuery is probably auto-detecting the column as nullable since it's a parquet file. I don't think parquet has the option of required types.

@timocb Does this error still occur when you supply a schema manually to the load job? e.g.

[code]

[2019-05-22 21:30] tseaver commented on #8097
@rchen152 That is an odd choice for Typeshed to make:  `functools.partial` is most definitely a `type` in both Python 2.7 and 3.7:

[code]

[2019-05-22 21:34] rchen152 commented on #8097
I didn't author or review that change, but from what I understand, the reasoning was that it caused only a small number of false positives and made type-checking more precise in the vast majority of cases.

[2019-05-22 21:49] #8097 closed

[2019-05-22 21:49] plamut commented on #7910
I investigated the issue with the subscriber reconnect attempts skyrocketing. It seems that it has to do with the [api_core.bidi.ResumalbeBidiRpc](https://github.com/googleapis/google-cloud-python/blob/master/api_core/google/api_core/bidi.py#L282) helper.

If there are network problems, the following can happen:

- The code initiates asynchronous message pulling by calling `subscriber.subscribe()`

[2019-05-22 22:15] sduskis commented on #7910
It sounds like there needs to be a backoff of some sort.  This looks very much like [this nodejs-pubsub issue](https://github.com/googleapis/nodejs-pubsub/issues/574).

@busunkim96, this sounds like something we should discuss with you.

[2019-05-22 22:21] sduskis commented on #8087
@evanj, thanks for bringing this to our attention.  The Pub/Sub team (@dpcollins-google) is changing the default timeouts.

[2019-05-22 22:21] plamut commented on #7910
Meh, I was just trying to post an explanation why the backoff does not kick in, but GitHub was not nice to me. I will re-edit the post shortly.

[2019-05-22 22:30] sduskis commented on #7910
@plamut that makes sense.  @busunkim96` should be involved, or at least aware, with any api_core related changes.  @crwilcox mentioned offline that `ResumableBidiRpc` is used by Firestore as well, so I'm hereby pinging @BenWhitehead, since this will also likely affect Firestore.

[2019-05-22 22:45] tswast commented on #8096
@max-sixty  I'm a little wary of this request, since TableListItem has some but not all properties of Table. Would it be expected that the new Table instance has copied all those values or it's treated purely as a reference?

I think not quite. If it's just to treat it like we do a reference, I think we'd want to check if we got a TableListItem (or Table?) and set
[code]
if it is one of those type

[2019-05-23 00:25] tswast opened #8107 "BigQuery: Decrease peak memory usage of `to_dataframe`"
From: https://github.com/pydata/pandas-gbq/issues/275#issuecomment-494724625

__via `read_gbq(use_bqstorage_api=False)`__
![mem_test_baseball games_post_wide](https://user-images.githubusercontent.com/4090894/58162833-2e3fbd80-7c83-11e9-9d1b-c7b4ad593152.png)

__via `read_gbq(use_bqstorage_api=True)`__
![mem_test_gbq_storage_api](https://user-images.githubusercontent.com/4090894/58163635-9cd14b00-

[2019-05-23 00:26] tswast commented on #8044
If the size of the query results is large, then there are multiple pages to parse. Since we construct a dataframe for each page and then concatenate them, the results may not be as expected. Per: http://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html#concatenation

When two categorical series are concatenated with different types, they get converted to the "object" `dtype`. It see

[2019-05-23 02:44] max-sixty commented on #8096
👍

[2019-05-23 03:22] vimota opened #8108 "Core: GOOGLE_CLOUD_PROJECT env var is not supported unless credentials are also provided in the environment"
#### Environment details
- Python 3.6.6, Anaconda
- Name: google-cloud-bigquery, Version: 1.11.3
#### Steps to reproduce

  1. Set GOOGLE_CLOUD_PROJECT env var to the desired project.
  2. run `bigquery.client(credentials=FooCredentials())`

#### Code example

[code]

#### Stack trace
[code]

I looked into it for a while, the issue here is that the way the core library tries to determine the defau

[2019-05-23 07:37] timocb commented on #8093
@tswast Using your suggestion of passing the schema using the job_config, I get the following error:
[code]
It seems like what @tseaver is saying is correct. Parquet specifies the fields as `NULLABLE`, but the schema we provide to the job specifies them as `REQUIRED`.

[2019-05-23 10:14] plamut commented on #6130
I was able to reproduce this issue with the latest PubSub version (`0.41.0` at the time of writing), some exceptions occur in the background threads upon shutdown, particularly the callback dispatcher thread.

It appears that some extra checks need to be added when interacting with the streaming pull manager, because the latter could be in the process of shutting down (as @theacodes already mentio

[2019-05-23 10:29] dhruvluthra1996 commented on #3673
I have specified a column with the type string and mode repeated  but when I am pushing an array data through python it creates multiple rows of different elements of array

[2019-05-23 12:10] Dan4London commented on #7910
Thanks for your feedback Plamut. #8036 describes precisely the problem I am experiencing. You can replicate the behaviour by re-executing the for loop before the previous gprc publish() request has timed out.

Do you have any suggestions when a fix for this would be available?

Thanks!

[2019-05-23 13:30] sajal88241 opened #8110 "Communicating ADH(Ads data hub) and BigQuery"
Hi,

I have a table 'A' in BigQuery with schema {'UID': 'String'} I want to join this table on UID with a target table 'B' in ADH(Ads data hub) having schema
{'UID': 'String',
'DC_ID': 'INT'}
and write the joined output to a new table in BigQuery. Can someone from the team guide me to implement the same in Python.

Thanks!

[2019-05-23 14:59] plamut commented on #7910
@Dan4London Unfortunately not (yet...), because it seems that the bug will have to be fixed in one of the PubSub client dependencies, but that will have to be coordinated with other teams that could be affected by the chance. The bug is high on the priority list, though.

[2019-05-23 15:32] tswast commented on #8093
@timocb Thanks for reporting. As far as I can tell, there's no way to mark a column as REQUIRED in a parquet file, so I've raised this as a backend feature request at https://issuetracker.google.com/133415569 feel free to "star" it to watch for updates.

[2019-05-23 17:48] tseaver commented on #8110
@sajal88241 For ADH-related support, please see the ADS developers' site, e.g. [this page](https://developers.google.com/ads-data-hub/guides/join-your-data).

[2019-05-23 17:48] #8110 closed

[2019-05-23 17:52] tswast commented on #8093
Turns out Parquet does have the ability to mark columns as required, but there's an open issue in Arrow to support it. https://issues.apache.org/jira/browse/ARROW-5169

[2019-05-23 17:59] tseaver commented on #8108
Thanks for the report.

ISTM that the right API surface is for `google.auth.default` to take a flag (e.g. `project_only`?), and return `None, explicit_project_id` if no credentials are found and that flag is passed.

@theacodes Does that seem right to you?

[2019-05-23 18:00] theacodes commented on #8108
This is by design. Credentials and project information must come from the
same place (principle of least surprise).

On Thu, May 23, 2019 at 10:59 AM Tres Seaver <notifications@github.com>
wrote:

[2019-05-23 18:06] jtressle commented on #7677
@plamut this appears to have worked!  Thanks for the tip.

[2019-05-23 18:09] plamut commented on #7677
@jtressle Excellent, great to hear that!

[2019-05-23 18:17] vimota commented on #8108
This is super surprising - there's no such documentation (https://github.com/googleapis/google-auth-library-python/blob/master/google/auth/environment_vars.py#L19), and plenty of use cases where you would want to set a default project but not be able to set a default credential in the environment.

[2019-05-23 18:28] theacodes commented on #8108
Explicitly setting the project in the constructor is the best way to
express that.

On Thu, May 23, 2019 at 11:17 AM Victor Mota <notifications@github.com>
wrote:

[2019-05-23 18:48] tseaver commented on #8034
@blaflamme:  @lukesneeringer has just released `googleapis-common-protos 1.6.0`, which should fix this issue for you.

[2019-05-23 18:59] vimota commented on #8108
Thanks for getting back :)
If credentials and project information must come from the
same place, wouldn't you also expect an error thrown if the project id isn't specified in the environment but the credentials is?
Or rather how come you're expected to set credentials at the environment level and allowed to only set the project in the constructor but not the other way around? That doesn't seem con

[2019-05-23 19:10] tseaver commented on #3673
@dhruvluthra1996 `mode='REPEATED'` implies that you pass a list/sequence of strings for the value.  The behavior you are seeing is because Python strings are themselves sequences (whose elements are one-character strings).

[2019-05-23 19:19] theacodes commented on #8108
You can set the credentials in the environment using the
GOOGLE_APPLICATION_CREDENTIALS env var.

On Thu, May 23, 2019, 12:00 PM Victor Mota <notifications@github.com> wrote:

[2019-05-23 19:20] tseaver commented on #7855
I cannot reproduce this in a clean virtual environment:

[code]

Output from `pip freeze` in that environment:

[code]

[2019-05-23 19:20] #7855 closed

[2019-05-23 19:21] tseaver commented on #7855
I'm presuming that the release of `requests 2.22.0` fixed this issue.

[2019-05-23 19:28] tseaver commented on #8085
I cannot reproduce this in a fresh environment with a stripped-down set of requirements:

[code]

Output from `pip freeze` in that environment:

[code]

Please reopen if you can provide more information about reproducing the issue.

[2019-05-23 19:30] tseaver commented on #7555
Unrelated to the `google-cloud-python` repo, AFAICT.

[2019-05-23 19:30] #7555 closed

[2019-05-23 19:32] tseaver commented on #7197
`googleapis-common-protos 1.6.0` was released today:  upgrading from `1.6.0b#` should resolve this issue.

[2019-05-23 19:32] #7197 closed

[2019-05-23 19:40] vimota commented on #8108
Right, I got that :) I mean, why do you have to set GOOGLE_APPLICATION_CREDENTIALS to be able to set GOOGLE_CLOUD_PROJECT, but you don't have to set GOOGLE_CLOUD_PROJECT to set GOOGLE_APPLICATION_CREDENTIALS? The library only throws an error in one direction, which leads to confusion.

[2019-05-23 19:40] tseaver commented on #7040
Trying to reproduce in a fresh Python 2.7 virtual environment:

[code]
$ /tmp/gcp/7040/bin/python -c "from google.cloud import kms_v1; print(kms_v1.__file__)"
/tmp/gcp/7040/lib/python2.7/site-packages/google/cloud/kms_v1/__init__.pyc
[code]

[2019-05-23 19:40] #7040 closed

[2019-05-23 19:44] tseaver commented on #7896
@theacodes Do you have an opinion on whether it is our responsibility to pin `requests` and/or `urllib3` >= `$CVE_FIXED_VERSIONS`?

[2019-05-23 19:49] tseaver commented on #7384
Note that the new occurence this week was in the `tearDown` for the `test_notification_minimal` systest (deleting the bucket, rather than creating it).

[2019-05-23 20:16] blaflamme commented on #8034
@tseaver @lukesneeringer thanks for the release!

Just tried to upgrade to 1.6.0 and I now get this error:

[code]

[2019-05-23 20:48] tseaver commented on #7995
Closing on the theory that this failure was due to non-normal back-end outage issues.

[2019-05-23 20:48] #7995 closed

[2019-05-23 20:49] #7384 closed

[2019-05-23 20:49] redfalcon6 commented on #1216
My God yes.  @debugger and @alexcwatt I thought I was going insane. My partner and I were running same code over different bucket instances, and getting totally different results.  This is it.

[2019-05-23 20:54] theacodes commented on #8108
The short answer is "historical reasons". The long answer is complicated.
This is why we really encourage people to explicitly pass credentials and
project to the client constructor and not depend on the often surprising
behavior of application default credentials.

It was a good idea at the time but wow did it have some unexpected
consequences.

On Thu, May 23, 2019, 12:40 PM Victor Mota <notific

[2019-05-23 20:55] theacodes commented on #7896
Nope. 👍

On Thu, May 23, 2019, 12:45 PM Tres Seaver <notifications@github.com> wrote:

[2019-05-23 21:45] EpicWink commented on #7855
You're right, `requests` v2.22.0 did fix the issue, however the issue will arise again when `urllib3` v1.26 is released. My request for comment is on the existence of the runtime version check on `requests`

[2019-05-23 23:50] therefromhere commented on #7500
@mnoseworthy I think this works: https://gist.github.com/therefromhere/5acc827ec7a27db9edcb24fe2ece7d37

[2019-05-24 02:46] jtressle commented on #7677
@plamut when will the merge happen, you think?

Unfortunately, the fix you recommended is locking up some of my resources.  I’ll continue to troubleshoot.

Thanks.

[2019-05-24 03:10] #7896 closed

[2019-05-24 09:18] cbenhagen commented on #8035
lgtm

[2019-05-24 10:19] plamut commented on #7677
@jtressle All review comments on the PR have been addressed (nothing major), currently awaiting another review. I would say it will most likely be merged some time next week.

[2019-05-24 12:53] xrmx opened #8137 "Pubsub: add 'PublisherClient.from_service_account_dict'"
**Is your feature request related to a problem? Please describe.**
I'd like to use the pubsub client on a webapp where i have the secrets in environment variables and not on disk.
 **Describe the solution you'd like**
I would like to have a classmethod added to Publisher to instantiate a client with the credentials passed from a dict instead of a json file path.

[2019-05-24 14:49] tseaver commented on #8137
@xrmx You should be able to create credentials via the `from_service_account_info` method, and pass them to the client constructor, e.g.:

[code]

[2019-05-24 14:51] xrmx commented on #8137
@tseaver sure I am currently doing this, but it would be nice to have already a wrapper to avoid digging into source code to find out where all this come from :)

[2019-05-24 14:52] #8035 closed

[2019-05-24 14:55] #7505 closed

[2019-05-24 16:35] tseaver opened #8139 "Spanner: 'test_reload_instance' systest flakes."
From [this Kokoto run](https://source.cloud.google.com/results/invocations/9c28a3d8-da69-4bca-9b82-db7166c03522/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fspanner/log)

[code]

Maybe somebody tweaked the title in the console while the test was running?  Because it is "Foo Bar Baz" now.

[2019-05-24 17:01] #7677 closed

[2019-05-24 17:04] plamut commented on #7677
@jtressle I am happy to inform you that the PR has just been approved and merged.

[2019-05-24 17:58] tswast opened #8140 "BigQuery: Allow partial schema in `load_table_from_dataframe`"
As discussed in https://github.com/googleapis/google-cloud-python/pull/8105#discussion_r286997609 and implemented in pandas-gbq at https://github.com/pydata/pandas-gbq/issues/218, often times the default schema detection works well enough for pandas -> BQ, and only one or two of many columns need to be overridden.

Example:

[code]

[2019-05-24 18:01] tseaver commented on #7626
@frankyn, @jkwlui I'm don't know the status of the back-end bug which blocks this issue.

[2019-05-24 18:36] sduskis commented on #7001
@plamut, this may be a duplicate, but it's worth looking at this.

[2019-05-24 18:39] sduskis commented on #6883
We may need documentation (or a new method) for how to wait for shut down until all futures are complete.

[2019-05-24 18:42] sduskis commented on #6350
@kamalabouhosn, FYI

[2019-05-24 19:29] tswast opened #8142 "BigQuery: get table schema if not supplied (and have pyarrow) in `load_table_from_dataframe`"
Follow-up to https://github.com/googleapis/google-cloud-python/pull/8105#discussion_r286998303

When a table schema isn't supplied in `load_table_from_dataframe`, try to get the existing table schema. This will prevent errors due to ambiguous pandas types (#7370) without having to explicitly provide a schema.

Note: this behavior is similar to that of pandas-gbq, which always fetches the table sch

[2019-05-24 19:58] tseaver commented on #7627
`google-auth 1.5.0 added support for creating IAM-based signing credentials on a GCE instance.  I think this works to pass to the `generate_signed_url` methods:

[code]

@frankyn Is that support sufficient for this issue?

[2019-05-24 22:19] sduskis commented on #8087
This was fixed via #8128.  I think we should probably do a release next week, since we have number of critical changes that got merged recently.

[2019-05-24 22:19] #8087 closed

[2019-05-25 00:15] jpallas opened #8143 "BigQuery: Add dryrun option to magic."
The BQ API supports the dry_run option, but the ipython magic does not.  It would be great if there were a parameter which, when set, would return the (sometimes vital) information about bytes to be read instead of running the query.  This would help put the Jupyter environment on a par with the BQ console.

[2019-05-25 13:09] binojohnthomas commented on #7533
@tseaver - Could you explain how you use this?

    u'test_col': firestore.FieldValue.increment(1)
AttributeError: module 'google.cloud.firestore' has no attribute 'FieldValue'

[2019-05-25 16:50] tseaver opened #8173 "Firestore: sync shim module with 'firestore_v1' package."
See https://github.com/googleapis/google-cloud-python/issues/7533#issuecomment-495917295 &ff.

[2019-05-25 16:51] tseaver commented on #7533
@binojohnthomas It looks like the `google.cloud.firestore` shim module needs updating (I would recommend not using it myself).  Instead, use the `firestore_v1` package:

[code]

I have opened #8173 to track updating the shim module.

[2019-05-25 17:26] tseaver opened #8174 "Autogen: fix coverage landmines."
The `unit_cov_level` numbers in the various `noxfile.py` files are landmines (e.g., PR #8147 adds a `# pragma: NO COVER` and actually trips the check, because the total number of lines checked in BQDT drops!)  The numbers don't represent any **real** goals (why 79% in one library or 95% in another?), but are merely "high water marks."  The real goal is 100% coverage across all unit test runs, whic

[2019-05-25 18:16] tseaver opened #8175 "BigQuery: 'test_to_dataframe_w_bqstorage_nonempty' unit test flakes"
From this [failed Kokoro job](https://source.cloud.google.com/results/invocations/7094b690-9af4-4159-922f-94d4b2c20da8/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigquery/log):

[code]

[2019-05-25 18:17] tseaver commented on #8175
@tswast Very odd to see a flaky failure in a unit test.

[2019-05-25 18:31] A-Iskakov commented on #7533
@binojohnthomas as a temp solution you can use this way:
`from google.cloud.firestore_v1 import Increment`
`db = firestore.Client()`
`doc_ref = db.collection(u'collection_name').document(u'document_name')`
`doc_ref.set({u'test_col': Increment(1)}, merge=True)`

[2019-05-26 02:09] binojohnthomas commented on #7533
@A-Iskakov Thanks - It worked!

[2019-05-26 17:48] jtressle commented on #7677
@plamut what's the best way of getting this fix quickly?  I'm using PIP to install pubsub, but it's not updated yet.

Thanks!

[2019-05-26 19:50] plamut commented on #7677
@jtressle I don't know the next release date, but until then, would installing a development version of the `pubsub` package work for you?

[code]

[2019-05-26 21:10] jtressle commented on #7677
@plamut perfect!  It's installed and I'm testing now.  I'll let you know if I see any issues with the max_messages.

Thanks again.

[2019-05-27 01:55] sduskis commented on #8137
I think that this is a general auth problem.  There should be a simple way to configure auth.  IMHO, if there's a nee for a different auth configuration, there should be a clear and documented way to do more complex configuration.  The changes should probably adding more docs for auth, and then getting references to those docs from all of the clients.

[2019-05-27 04:39] jtressle commented on #7677
@plamut I wanted to give you an update.  I've been running the development pubsub version for about 8 hours.  So far, it looks like the 'max_messages' issue is fixed.

However, I have experienced ~4 lost messages.  I'm not sure if this can be attributed to the patch, but I'll keep on monitoring.  I'll wait for version 0.42 before submitting an issue.

Thanks again!

[2019-05-27 06:27] xmedeko commented on #5410
A storage copy operation fenced by Retry just failed by 503, too. Please, fix this simple issue, just add `ServiceUnavailable` to `if_transient_error`.

[2019-05-27 08:32] plamut commented on #7677
@jtressle Thanks for the feedback, appreciated!

What do you mean by "lost" messages? Not being delivered at all or maybe just not being delivered in expected order, seemingly appearing to have been lost? The server is designed for availability and throughput, thus the message delivery order is not guaranteed ([longer explanation](https://cloud.google.com/pubsub/docs/ordering)).

However, the serv

[2019-05-28 09:55] ddribes opened #8181 "AutoML: PredictionServiceClient returns no predictions."
Hi,

I am trying to use the model I've created using AutoML (BTW, thanks, great tool).
I've first tested the Android version, as proposed in the cloud.google.com/automl web interface through TF LITE (https://cloud.google.com/vision/automl/docs/tflite-android-tutorial).
The classification results are bad compared to the one given by the web interface.

To better understand where the problem could s

[2019-05-28 16:25] tseaver commented on #8137
The [`PublisherClient` API docs](https://googleapis.github.io/google-cloud-python/latest/pubsub/publisher/api/client.html) should definitely document the args to `PublisherClient.__init__` more clearly, including passing a pre-created `credentials`.  Ditto for the [`SubscriberClient` API docs](https://googleapis.github.io/google-cloud-python/latest/pubsub/subscriber/api/client.html).

Given that w

[2019-05-28 16:56] tseaver commented on #8181
The location should match the one you used when creating the model.

@beccasaurus Can you suggest anything for the OP to try further.

[2019-05-28 17:32] tseaver commented on #8174
@lukesneeringer asserts that the new `gapic-generator-python` will produce fully-tested code, including the shim modules.

[2019-05-28 17:55] jtressle commented on #7677
@plamut Thanks for the info.

I continued to run pubsub over the weekend and didn't experience any lost messages.  The earlier lost messages could have been caused by an issue on my side.  Also, still no issue with max_messages so your fix definitely works.

Thanks again for your help!

[2019-05-28 17:58] #6130 closed

[2019-05-28 18:01] plamut commented on #7677
@jtressle It was my pleasure. And thank you for confirming that the fix indeed works. :+1:

[2019-05-28 18:12] #5410 closed

[2019-05-28 18:48] xmedeko commented on #5410
@tseaver Thanks for the fix. What about `BadGateway` HTTP 502 exception? It's contained in the `polling.RETRY_PREDICATE` too.

[2019-05-28 20:08] sudhanshu88241 opened #8185 "BigQuery: can I authenticate via access token?"
Hi,

I have `client_id` and `client_secret` I am having trouble in generating `access token` and authenticating my requests. Each time I make a request it redirect to the `browser` where it generates an `authorization_code` which further used to get `access_token`, but my code will be running as a service in background. So, is there a way to generate `access_token` without launching browser.

[2019-05-28 22:29] frankyn commented on #7875
Thanks for resolving this @tseaver.

[2019-05-29 00:22] evanj opened #8187 "Bigtable: read_rows: 1 hour deadline causing stuck clients; no way to change it"
`Table.read_rows` does not set any deadline, so it can hang forever if the Bigtable server connection hangs. We see this happening once every week or two when running inside GCP, which causes our server to get stuck indefinitely. There appears to be no way in the API to set a deadline, even though [the documentation](https://googleapis.github.io/google-cloud-python/latest/bigtable/table.html#googl

[2019-05-29 00:46] evanj commented on #7955
Even better: I'm not sure the `retry` parameter on `read_rows` works. At the very least, the `deadline` parameter does not work. I'm not sure exactly how gRPC Python streaming requests are supposed to be retried, but I'm pretty sure what `read_rows` does, doesn't really work. See #8187 for details.

[2019-05-29 15:26] vvinogra opened #8190 "Speech: Not possible to set a timeout + long time loop if internet connection disappears(waiting until grpc connection is closed)"
#### Environment details

OS: Ubuntu 18.04.2 LTS Linux 4.15.0-50-generic
Python 3.7.2
google-cloud-speech Version: 1.0.0

#### Steps to reproduce

  1. Start streaming recognize request with different connection in different thread
  2. Turn off internet connection
  3. Join thread with streaming recognize

#### Code example

[code]

[2019-05-29 15:56] tseaver commented on #8185
@tswast I think you have some work underway to add support for using access tokens, but I'm not sure of the status.

[2019-05-29 17:55] tswast commented on #8185
@sudhanshu88241 I'm indeed working on making the Google-maintained way easier (the official way is a bit complicated: https://cloud.google.com/bigquery/docs/authentication/end-user-installed)

In the meantime, I suggest you try out [pydata-google-auth](https://pydata-google-auth.readthedocs.io/en/latest/). There's an example of using it with BigQuery on the main readme: https://github.com/pydata/p

[2019-05-29 17:57] tswast commented on #8185
pydata-google-auth caches credentials to disk, so you only have to do the auth flow once (until you revoke the key or need expanded scopes).

[2019-05-29 17:57] #8185 closed

[2019-05-29 18:00] tswast commented on #8108
As a workaround, the BigQuery library does accept a default project in the Client constructor:

[code]

[2019-05-29 18:12] tswast commented on #8175
Oof.

This is testing some multi-threaded code, so there is a race condition happening in this test. I'm surprised at this specific test failure, though, since we should have put results from each page to the progress queue.

[2019-05-29 18:24] vimota commented on #8108
Yep, that's what we ended up doing (https://github.com/Kaggle/docker-python/blob/master/patches/sitecustomize.py#L27) - thanks :)

[2019-05-29 20:49] tseaver commented on #8190
I believe you might work around the "network gone" issue (or at least fail sooner) by configuring the `grpc.time_ms` option on the channel.  Something like (untested):

[code]

[2019-05-29 23:29] Tredence-GitHub commented on #8085
pip3 install google-cloud-storage

This is the error I'm getting:
Traceback (most recent call last):
  File "json_bucket.py", line 3, in <module>
    from google.cloud import storage
  File "/usr/local/lib/python3.7/site-packages/google/cloud/storage/__init__.py", line 38, in <module>
    from google.cloud.storage.batch import Batch
  File "/usr/local/lib/python3.7/site-packages/google/cloud/stora

[2019-05-29 23:43] tseaver commented on #8085
@Tredence-GitHub Can you please show the output of `pip3 --freeze`?

Also, I suspect that you may need to run `pip3 install --upgrade google-cloud-storage` to get up-to-date.

[2019-05-30 00:37] tswast opened #8191 "BigQuery: Upload STRUCT / RECORD fields from load_table_from_dataframe"
**Is your feature request related to a problem? Please describe.**

If you have a pandas Series containing dictionaries, ideally this could be uploaded to BigQuery as a STRUCT / RECORD column. Currently this fails with a "file does not exist error" because the arrow write_table fails with ""ArrowInvalid: Nested column branch had multiple children".

**Describe the solution you'd like**

Upload of

[2019-05-30 01:24] frankyn commented on #7627
Thanks @tseaver, I think allowing a user to provide credentials is reasonable.

I want to have the method to use the type of ADC the client is using to perform signing.

[2019-05-30 05:57] blairg23 commented on #8085
When I proc'd it, it was my `pip3 install -r requirements.txt --upgrade` command that caused it initially.

One thing I realized that might help us figure it out: I didn't have a `virtualenv` set up on that box when this error occurred. It was going off the Ubuntu 18.04 LTS Python 3 environment as well. It's possible some `distutils` were conflicting. Unfortunately, I don't have a `pip freeze` fro

[2019-05-30 16:10] max-sixty opened #8196 "BigQuery: [Primitive-ize API] SchemaField"
Consistent with the recent work to allow the API to accept some primitives as well as specific objects, the schema argument to `LoadJobConfig`* could accept a list of dicts. Currently it requires constructing a bunch of `SchemaField` objects:

[code]

We're trying to move to using the BQ Python API rather than subprocessing out to a shell with `bq`; it's got much better but it's still a bit Java-e

[2019-05-30 17:25] Tredence-GitHub commented on #8085
pip3 freeze

cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
google-api-core==1.10.0
google-auth==1.6.3
google-auth-oauthlib==0.3.0
google-cloud==0.34.0
google-cloud-bigquery==1.11.2
google-cloud-core==0.28.1
google-cloud-pubsub==0.41.0
google-cloud-storage==1.10.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
grpc-google-iam-v1==0.11.4
grpcio==1.20.1
idna==2.8
mysql-connector-

[2019-05-30 18:13] tseaver commented on #8085
Installing the three API libraries (`google-cloud-storage`, `google-cloud-pubsub`, and `google-cloud-bigquery`) into a fresh virtual environment:

[code]

[2019-05-30 20:11] max-sixty commented on #8196
A good example of an API I think is nice and pythonic is the Kubernetes python API - for each object you can either supply:
- An object (of which there are literally hundreds...)
- A primitive, such as a dict / string
...and the library will do the appropriate coercions

[2019-05-30 22:00] tswast commented on #7291
+1 to https://github.com/googleapis/google-cloud-python/issues/7291#issuecomment-471982254

I never really liked those factory functions. It's better to explicitly create a credentials object with the google-auth library.

[2019-05-31 00:23] #7370 closed

[2019-05-31 08:12] ddribes commented on #8181
Thanks for the answer.

Sorry but I don't find where is this information...
Thanks again!

[2019-05-31 09:27] sebgoa commented on #7812
I was having the same issue with the pubsub module and this fixed it indeed:

[code]

[2019-05-31 09:49] ddribes commented on #8181
Hi all,

I've run the test today... changed nothing (see code above with us-central1)  and it is working!

Magic of Beta version!

Thanks a lot!

[2019-05-31 09:49] #8181 closed

[2019-05-31 13:58] jkgenser commented on #7805
It seems that this thread is largely around the io of getting BQ storage API results from the their binary format sent over the wire into Python memory in an efficient way. First of all, I've already started using the enhancement to the bigquery client package that @tswast committed a few weeks ago and there's already a marked speedup in reading in Avro vs. JSON. So hat tip for that.

However, jus

[2019-05-31 15:01] max-sixty commented on #7805
Multiprocessing is an option. It's a fairly heavy duty one for the size of the problem, so I think it would be preferable to speed up the single-process version...

[2019-05-31 16:02] tswast commented on #7805
I actually had some thoughts about how to make a parallel Avro parser. We'd have to do it in two passes, since there are a lot of integers that need to be parsed to identify where the record boundaries are.

I have tested with processing blocks/pages in parallel within a stream, too, and got a 5-15% speedup. I haven't contributed that change yet, though because I do want to retain the block/page o

[2019-05-31 16:04] tswast commented on #7805
Also, while not trivial 5-15% speedup is nothing compared to the experiments with avoiding creating Python objects and going straight to dataframe from Avro (maybe with Arrow as intermediary?), which can double the speed, so my efforts have been focussed there first.

[2019-05-31 16:29] jkgenser commented on #7805
I know the arrow project is working on compatibility with Avro for 2019, not sure how far along they've gotten. I've achieved very large order of magnitude speedsup in reading data over ODBC into python using turbodbc's fetchallarrow() method.

[2019-05-31 16:48] tswast commented on #8024
Fixed by #8192.

[2019-05-31 16:48] #8024 closed

[2019-05-31 17:32] dkapitan commented on #7805
@jkgenser
I have had similar experience whilst testing different file-formats from cloud storage, part of our internal workflow. Arrow/parquet is the fastest in reading into pandas, at the cost of longer write times (in our case export from SQL server).

[2019-05-31 18:15] tswast commented on #8196
We did recently add a slightly higher-level method for converting from JSON schema to list of SchemaField. I think it's reasonable to automatically convert in some of the classes/methods that currently accept a list of SchemaField.

Might be a little bit tricky, though, since we can't do type inference since they'd both be lists.

[2019-05-31 18:35] max-sixty commented on #8196
Nice, thanks. What's the method?

Yes, good point. I think the K8s API rebuilds the whole graph of objects, serializing / de-serializing where needed. That's not realistic to start, though. A hand-written imperative check doesn't seem satisfying either...

[2019-05-31 19:37] tswast commented on #8196
https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client.schema_from_json

Not quite what you're asking for though, since it's for files.

[2019-05-31 20:11] max-sixty commented on #8196
Perfect, thanks!

[2019-05-31 21:27] tswast commented on #8196
There's even precedent for accepting a JSON input in even the gRPC-based google-cloud-python libraries, so I'm hopeful there's a way we can do this in general. Maybe wherever we use to-api-repr in the client, try to do that and catch attribute error. If attribute error, treat it as the resource itself. Could make a good function in _helpers.py.

[2019-06-03 01:09] cavindsouza commented on #5572
@tswast Has the `index=False` functionality been added to google-cloud-bigquery?? Thanks.

[2019-06-03 09:33] vvinogra commented on #8190
Thank you for your reply, @tseaver .
I have an import error with this line `from google.cloud.speech_v1.gapic.transport import  speech_grpc_transport`. Here is my `__init__.py` for speech_v1:
[code]

[2019-06-03 15:04] vvinogra commented on #8190
@tseaver Still no luck for me. Execution stucks while waiting for this generator `self._client.streaming_recognize(self._streaming_config, audio_requests)`

[2019-06-03 17:13] tswast commented on #5572
@cavindsouza not yet. Right now you can avoid writing indexes by passing in a `job_config` argument with the desired `job_config.schema`. I agree this would still be a useful feature.

[2019-06-03 17:43] tswast commented on #8143
FYI: there's an open PR at https://github.com/googleapis/google-cloud-python/pull/8179 which will add `context.default_query_job_config`, so that this will be possible to set globally.

I agree that a parameter would make sense for this option. See #8179 for implementation and testing patterns.

[2019-06-03 19:34] #7678 closed

[2019-06-03 21:01] crwilcox commented on #6557
@tseaver, if you can prioritize looking into this? Other clients have `get` and `getAll`

https://github.com/googleapis/nodejs-firestore/blob/d307e465aaf8a2709ae0822075488ecb481babf7/dev/src/transaction.ts#L184

So, we would like to add a `transaction.getAll(documentReferences)` call. Also probably a `transaction.get(documentReference)` call.

node also supports queryReferences to get. It may be g

[2019-06-03 22:44] evankanderson opened #8208 "Container: Add v1beta1 support."
Thanks for stopping by to let us know something could be better!

 **Is your feature request related to a problem? Please describe.**

I'd like to be able to provision GKE clusters with beta features like Cloud Run and Istio.

 **Describe the solution you'd like**

Include definitions for the `container/v1beta1` API alongside the `container/v1` API; the v1beta1 API surface includes additional fiel

[2019-06-03 23:30] bmoscon opened #8209 "google cloud storage - Traceback while calling list_blobs on bucket"
OS: MacOS Mojave
Python: 3.7.3

google versions:
google-api-core==1.11.1
google-auth==1.6.3
google-cloud-core==1.0.1
google-cloud-storage==1.16.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0

code:

[code]

traceback:

~/example.py
     15     files = client.get_bucket(BUCKET).list_blobs(key)
---> 16     for f in files:
     17             print(f.name)
     18

~/python3.7/site-p

[2019-06-03 23:37] bmoscon commented on #8209
the issue was on my end, while `list_blobs` doesn't complain about taking an arg, I should have used the `prefix` kwarg. oops!

[2019-06-03 23:37] #8209 closed

[2019-06-04 03:30] mlarrousse commented on #8208
Hey thanks for logging this! We're trying to adopt Cloud Run but it's a bit clunky right now given that we already have a deployment pipeline for clusters set up that uses this client. The proposed solution sounds good as we're interested in other beta addons now and in the future.

[2019-06-04 07:50] himanshu219 opened #8211 "Add support for creating a database with option for choosing modes in datastore APIs"
Currently there is no way to create a database in datastore via APIs and customers find it frustrating to go to the console create a database choose the mode in their project.

It would be good if we can automate this and provide APIs so that one can achieve this via gcloud sdk, python sdk etc.

[2019-06-04 13:15] gdubicki commented on #8085
I am having the same issue in a virtualenv with these packages:

[code]

[2019-06-04 16:09] sduskis commented on #7001
@arvindnrbt  There were a number of fixes that may have corrected this issue.  Can you please upgrade the client and see if this issue is reproducible?

I'm going to close this issue, since we can't do much at this point.  If this issue is indeed reproducible, please open a new issue.

[2019-06-04 16:09] #7001 closed

[2019-06-04 16:45] tseaver opened #8212 "BigQuery: coverage failures on master branch."
From [this Kokoro job](https://source.cloud.google.com/results/invocations/c4beb8ef-40e8-4596-bc3b-09252b5ce04a/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigquery/log):

[code]

@tswast I can't run the python2.7 unit tests at the moment locally, because `numba` (and maybe other deps) don't support the default UCS2 build (see https://github.com/numba/numba/issues/4

[2019-06-04 16:47] #7111 closed

[2019-06-04 16:54] tseaver commented on #8211
@himanshu219 I'm afraid I don't understand this request:  there is no "create a database" operation in the [Datastore API](https://cloud.google.com/datastore/docs/apis).  All entities for a given project are stored together, segregated only by `namespace` and their keys.  The Datastore panels in the Cloud Console do not expose such an operation, either.

Can you please point to docs for the featur

[2019-06-04 16:57] tseaver commented on #8085
@gdubicki You have an out-of-date version of `google-api-core` (1.9.0, vs. 1.11.0 which added the needed non-gRPC `ClientInfo` support).  Looks like `google-cloud-storage` is not pinning that version.

[2019-06-04 16:59] tseaver commented on #8085
Oddly, you have `google-cloud-core 1.0.1` installed, which *does* pin that version:  I'm not sure how you managed to get to that state.

[2019-06-04 17:15] himanshu219 commented on #8211
yes here are the docs https://cloud.google.com/datastore/docs/quickstart please refer to "Create a Database" section. Currently one has to go to the console and would like this step to be automated via APIs

[2019-06-04 17:30] tseaver commented on #8208
@JustinBeckwith Can you figure out why the bot thinks this issue needs triage?

[2019-06-04 17:33] tseaver commented on #8211
@himanshu219 OK, thanks.  I'm pretty sure that we *cannot* do this from the API:  the "create a database" option described there is how one enables using the Datastore API project:  like all other Google Cloud APIs, client libraries cannot do this step directly.

[2019-06-04 17:56] tseaver commented on #7826
@crwilcox ISTM that this should be fixed in `google.api_core.bidi`:  the `CANCELLED` error should just cause the BIDI stream to shut down gracefully.

[2019-06-04 18:07] #8085 closed

[2019-06-04 18:07] JustinBeckwith commented on #8208
The robots are rebelling, we are trying to fix it 🤖 🔥

[2019-06-04 18:22] tseaver commented on #8208
![skynet](https://user-images.githubusercontent.com/242750/58903741-2137bb00-86d4-11e9-8e49-57662794b3f2.jpeg)

[2019-06-04 20:30] tswast commented on #8143
Likely for `--dryrun` queries we'll want to print out something other than an empty DataFrame the estimated bytes processed and maybe additional stats if relevant.

Maybe return a `QueryJob` instead of a `DataFrame` for inspection.

[2019-06-04 21:25] jpallas commented on #8143
Yes, my thinking was to provide (at least) the same cost feedback that the BQ console interface does.

[2019-06-04 21:35] tswast commented on #8212
I'm not able to reproduce locally. I think I may have fixed this in https://github.com/googleapis/google-cloud-python/pull/8179 with commit https://github.com/googleapis/google-cloud-python/pull/8179/commits/7ebfcc581b419857178502c231363ec420cafc7b that used a for loop instead of `all`.

[2019-06-04 21:38] tswast commented on #8212
`cover` passes in latest commit on master: https://source.cloud.google.com/results/invocations/b57bdacb-177c-4699-8d58-60d6de917f1a/targets

[2019-06-04 21:38] #8212 closed

[2019-06-05 05:00] himanshu219 commented on #8211
so does that mean in future also there are no plans to automate this? Also any particular reason why in general all other google cloud APIs also behave similarly? Thanks

[2019-06-05 07:10] crazystick opened #8222 "Logging: issues with out-of-sync clocks"
I have a couple of related issues with timestamps for Stackdriver logging. I want to log data from devices that might have unreliable clocks but the `receiveTimestamp` and `timestamp` fields are always identical to the nanosecond and if the clock is behind then logging seems to fail with errors
[code]

#### Environment details

Linux 5.1.5 + libfaketime
python 3.7.3
google-cloud-logging 1.11.0

##

[2019-06-05 07:39] #7816 closed

[2019-06-05 08:57] timocb commented on #8093
Hi @tswast, does #8105 fix this issue?

[2019-06-05 13:41] itsPav commented on #4477
Is using env variables safer/more secure than using the json file?
What difference does it really make?

[2019-06-05 15:16] plamut commented on #8036
@asnr Thank you for the effort and the detailed steps to reproduce the issue.

I can confirm that the issue is reproducible, either by using the linked Docker application, or by simply disabling the internet connection and running the test publisher script (without creating the topic and subscription, that is).

The cause of the long delay is that the lock in the underlying batch (an object that b

[2019-06-05 15:44] dkajtoch opened #8224 "client.create_bucket with Bucket object does not work"
I wanted to create bucket with the Bucket object and it does not work. Basically, I wanted to reproduce this piece of code:

    bucket = storage.Bucket("my-bucket-name")
    bucket.location = "europe-west6"
    bucket.storage_class = "COLDLINE"

    client.create_bucket(bucket)

I get the following error:

bucket = client.create_bucket(bucket)  # API request.
  File "/home/darekwhites/.local/lib/

[2019-06-05 17:00] tseaver commented on #8211
The client libraries are designed to wrap the methods exposed by the various APIs, but a prerequisite for using those methods is to enable the API, which is normally done through the console.  There may be a *different* API for managing the set of enabled APIs, but I'm not aware of it:  neither the [Billing Service API](https://cloud.google.com/billing/) nor the [Resource Manager API](https://clou

[2019-06-05 17:54] tseaver commented on #8224
@dkajtoch Thanks for the report.  Support for passing a `Bucket` instance to `Client.create_bucket` was added in [`google-cloud-storage 1.16.0`](https://github.com/googleapis/google-cloud-python/releases/tag/storage-1.16.0).  Please update to that release or later (current is 1.16.1).

[2019-06-05 17:54] #8224 closed

[2019-06-05 18:03] tseaver commented on #8222
@crazystick Thanks for the report.  Can you please show the full traceback for the error?  Also, how are you getting to the `LogEntry` you show?  The `receiveTimestamp` field is normally populated only by the server, so it seems as though the logging call is getting through.

FWIW,  `timestamp` will be identical to it unless you've arranged to set it client side (which your example doesn't do).  I

[2019-06-05 18:13] crazystick commented on #8222
Hi @tseaver as you say, the log entry did make it to Stackdriver Logging - the first issue was really that the timestamp is not set by the default handler - which my PR #8772 addresses. I will try to investigate the 504 error which happens when the clock is lagging behind real time and maybe open a separate issue to keep things simple.

[2019-06-05 18:39] tseaver commented on #8222
@crazystick Great, thanks.  Please do post the traceback for the 504 error in the new issue.

[2019-06-05 19:47] sduskis commented on #5086
This seems like a question better answered by the speech team.  You can reach them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:47] #5086 closed

[2019-06-05 19:48] sduskis commented on #5094
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:48] #5094 closed

[2019-06-05 19:49] sduskis commented on #5135
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:49] #5135 closed

[2019-06-05 19:49] sduskis commented on #5188
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:49] #5188 closed

[2019-06-05 19:49] sduskis commented on #5308
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:49] #5308 closed

[2019-06-05 19:49] tswast commented on #8093
@timocb #8105 gets us a step closer, but I need to follow-up and populate the requiredness bit in the parquet file based on the BQ schema.

[2019-06-05 19:50] sduskis commented on #5785
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:50] #5785 closed

[2019-06-05 19:50] sduskis commented on #5819
@tseaver, is this a grpc issue (message max size) that we could potentially fix via `synth.py`?

[2019-06-05 19:51] sduskis commented on #6145
This seems like a question for the speech team.  You can reach out to them here: https://cloud.google.com/speech-to-text/docs/support

[2019-06-05 19:51] #6145 closed

[2019-06-05 20:56] tseaver commented on #5819
@sduskis I don't think so:  I believe those limits are enforced client side, whereas this report shows a 429 response from the server.

[2019-06-05 23:51] sangramql commented on #4216
It exposes paging semantics, rather than a "normal" iterator.

@tseaver, does this mean that we need to use iterator other than page iterator?
or
use page iterator with limited parameters, like not providing 'page token' ?

[2019-06-06 16:16] #6641 closed

[2019-06-06 16:27] plamut commented on #8036
@Dan4London Just FYI, the [pull request](https://github.com/googleapis/google-cloud-python/pull/8234) for this issue that you [reported](https://github.com/googleapis/google-cloud-python/issues/7910#issuecomment-494450846) in the other thread has been created.

[2019-06-06 18:30] tseaver commented on #4216
@sangramql I'm talking about exposing the `page_token` argument:  see the [signature](https://github.com/googleapis/google-cloud-python/blob/0b232313a1f8f49213855e787e577b6d8d459227/storage/google/cloud/storage/bucket.py#L711-L772).

Our `list_foo` methods in other APIs *hide* that argument.  The iterator they return is actually the same [kind](https://github.com/googleapis/google-cloud-python/blo

[2019-06-06 18:42] #8222 closed

[2019-06-06 23:47] sangramql commented on #4216
@tseaver Thank you for the explanation, it helped in understanding the issue.
Actually I was implementing in same way when I saw that page_token is been deprecated.
But got confused with word 'normal' iterator, thinking there could be other iterator which can be used instead of page iterator. So just wanted to confirm.

[2019-06-07 14:31] evanj commented on #7108
The calculations can be off by more than `len(messages)*2` since protobuf length encoding is variable sized. E.g. I have a test program that adds messages of length 999996. The total length of the request goes up by `message.ByteSize() + 4` for each message, since it takes 3 bytes to encode the length of the embedded message in the protobuf representation of a repeated field.

[2019-06-07 15:47] evanj commented on #7108
FWIW: It appears to me that Java uses an extremely low default batch size threshold of 1000 bytes, if I'm understanding the code correctly: https://github.com/googleapis/google-cloud-java/blob/67668c1411169338374b050eae50ed650e318c54/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java#L451

This would definitely help avoid the problem, since it will cal

[2019-06-07 19:08] #8093 closed

[2019-06-08 00:23] tswast commented on #7805
It will take some refactoring (just-in-time codegen!) and testing before it's production-ready, but I want to give an update. I've built an implementation at https://github.com/tswast/google-cloud-python/blob/issue7805-block_reader/bigquery_storage/google/cloud/bigquery_storage_v1beta1/_avro_to_arrow.py which can parse a _specific_ 10,000,000 rows & 162.12 MB table containing INT64, FLOAT64, and B

[2019-06-08 08:44] dkapitan commented on #7805
@tswast that's a significant performance improvement, nice work. Will have a look myself to learn more about arrow.

[2019-06-08 20:06] sangramql commented on #4216
@tseaver , can we do this?

def list_blob_objects(
        self,
        max_results=None,
        prefix=None,
        delimiter=None,
        projection="noAcl",
        client=None,
    ):
        iterator = self.list_blobs(
            max_results=max_results,
            page_token=None,
            prefix=prefix,
            delimiter=delimiter,
            versions=None,
            project

[2019-06-08 20:14] sangramql commented on #4216
@tseaver , can we do this?
[code]

[2019-06-08 20:22] sangramql commented on #4216
@tseaver , can we do this?
[code]

[2019-06-08 21:12] parthmishra commented on #6354
What is the status of this request? I know the root issue is that the formatter must know the attributes of the extra arguments passed into the stdlib logger, but is it too much of hassle to the point of being won't fix? My hesitation with the `log_struct()` method is the synchronous nature of it, perhaps an asynchronous transport mechanism for it could be a useful workaround?

[2019-06-09 09:32] ashuvashu opened #8268 "BigQuery: Client initiation fails in Google Cloud Functions"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-06-10 11:36] j-flat opened #8270 "Error Reporting: documentation for reporting non-exceptions is incorrect"
There is mistake in documentation for Error Reporting python library, in code examples for section [Reporting an error without an exception](https://googleapis.github.io/google-cloud-python/latest/error-reporting/usage.html#reporting-an-error-without-an-exception), where code-examples are:
[code]

and

[code]

`error_reporting` module however doesn't have method `report()`, it should be called fro

[2019-06-10 12:07] j-flat commented on #8270
Created a pull request: https://github.com/googleapis/google-cloud-python/pull/8271

[2019-06-10 14:39] andyhky commented on #8187
Any update on this?

[2019-06-10 17:35] didil opened #8272 "Text-to-Speech API Client: Thread safety ?"
Is the Text-to-Speech API Client thread safe ? I couldn't find any mention in the docs
Thanks !

[2019-06-11 04:16] hitesh1907nayyar opened #8274 "Information on Dataproc Job Logs"
Hi,

I am new to dataproc. I will require an information as how can i see the logs of dataproc job that is submitted. I created a python script job that is executed on dataproc. I need to debug the script and for that i require logs. How can i see that ?

[2019-06-11 06:23] barisuke opened #8275 "timeouterror"

[2019-06-11 06:54] pluvias commented on #7218
@dmsolow,

Honestly, I am not sure, but I think it is possible and should be quite easy to use Apache Spark (or smth like this) here.

[2019-06-11 10:49] thnee commented on #7218
I was really surprised to see that not only is this feature not available, but it also has been brought up and closed in the past. It seems like an obvious and important feature to have.

Fortunately, `gcsfs` works really well as a substitute, but it's a little bit awkward to have to have a second library for such a core functionality.

But `gcsfs` does not support setting `Content-Type`, so I end

[2019-06-11 11:43] yiga2 commented on #7218
@thnee you should check back, ‘gcsfs’ has the ’setxattrs()‘ method to set metadata, including content-type.

[2019-06-11 12:40] istemihan90 commented on #2990
its been almost 2 years and still nobody could find a solution for this. I tried everything that are mentioned here but no luck. I will give up on python adventually.

[2019-06-11 13:12] sduskis commented on #7419
This is a duplicate of #7199

[2019-06-11 13:12] #7419 closed

[2019-06-11 13:12] sduskis commented on #7587
This is a duplicate of #7199

[2019-06-11 13:12] #7587 closed

[2019-06-11 13:22] sduskis commented on #8275
There isn't enough information in this issue to help.  @barisuke, can you please create a new issue with more details about which product is the problem?  Stacktraces or other information would help.

[2019-06-11 13:22] #8275 closed

[2019-06-11 14:52] tseaver commented on #4216
@sangramql For a new method, we don't need to pass through a `page_token` at all.  Also, the `fields` argument is *not* deprecated, although it can be tricky to use (see #7875).

[2019-06-11 15:08] tseaver commented on #6354
@parthmishra The request as it stands (extract the "extra" fields from stdlib's `LogRecord` and convert them to `log_struct`) is unlikely to be implemented in this library.  [This comment on issue #6488](https://github.com/googleapis/google-cloud-python/issues/6488#issuecomment-449653617) suggests one possibility for working around it.

To deal just with the synchronous bit, you could interact dir

[2019-06-11 15:12] tseaver commented on #8268
@ashuvashu You have an out-of-date version of `google-cloud-core` installed in your environment.  `google-cloud-bigquery 1.12.0` and later require `google-cloud-core >= 1.0.0`.

[2019-06-11 15:12] #8268 closed

[2019-06-11 15:19] tseaver commented on #8274
Please see the API docs for [using Stackdriver Logging](https://cloud.google.com/dataproc/docs/guides/stackdriver-logging) and [accessing job driver output](https://cloud.google.com/dataproc/docs/guides/driver-output).

[2019-06-11 15:19] #8274 closed

[2019-06-11 16:14] ollyjshaw commented on #5322
I'm having the same issue. Is there a recommended way to import AuditLog so we can unpack?
thanks

[2019-06-11 16:25] sangramql commented on #4216
ok. @tseaver page_token is set to None in internal call, and is not available in list_blob_objects parameter list. Hope I'm not missing your point.

[2019-06-11 16:52] j-flat commented on #8270
Fixed!

[2019-06-11 16:52] #8270 closed

[2019-06-11 16:57] tseaver commented on #4216
My point is that there is no reason to pass `page_token=None` when calling `list_blobs` from a new wrapper function.  OTOH, the new wrapper *does* need to expose `fields`.

[2019-06-11 23:45] anguillanneuf opened #8290 "Pub/Sub: the emulator is broken"
The emulator used to work, but it seems broken now.

#### Environment details

2. MacOS
3. `Python 3.7.3`
4. `google-cloud-pubsub==0.41.0`

#### Steps to reproduce

  1. `git clone https://github.com/GoogleCloudPlatform/python-docs-samples.git`, then create a virtualenv and install the necessary packages from `pip install -r pubsub/cloud-client/requirements.txt`.
  2. Start a Pub/Sub emulator in o

[2019-06-11 23:51] anguillanneuf commented on #8290
I must have missed something. Closed a bunch of terminals, and it's working now!

[2019-06-11 23:51] #8290 closed

[2019-06-12 02:17] sangramql commented on #4216
ok, got it. Thanks @tseaver

[2019-06-12 03:09] grant commented on #5869
(Bug bashing/fixit)
I don't think an integration with Algolia can be supported at this time, at least with our team.
What do you think @JustinBeckwith?

[2019-06-12 03:11] JustinBeckwith commented on #5869
This is googleapis.dev territory, which means it's all @theacodes :)

[2019-06-12 05:41] s-pace commented on #5869
Why do you think we can't help you with the search on the documentation? @grant

[2019-06-12 08:30] tamaroth opened #15452 "Passing `code_verifier` argument from `Flow.from_client_config()` to class constructor is missing."
With the introduction of `code_verifier` it should be possible to pass our own `code_verifier` to `Flow.from_client_config()` classmethod.

Currently, if you pass it as `kwargs`, the `requests_oauth` session creation will fail because `code_verifier` is not supposed to be in kwargs for that class and if it didn't, the value itself would not be passed to the constructor.

I think it would be a good

[2019-06-12 10:21] sangramql commented on #6278
**Summary for future reference:**

Transport parameter needs to be added and Channel needs to be deprecated.

Transport is suppose to be wrapper to channel.
Transport will be optional parameter, if not passed default Transport will be created internally.

_Below are 2 approaches and their significance:_
1. Channel can be passed by user inside a transport, if not passed default channel will be used

[2019-06-12 11:39] sangramql commented on #6278
@sduskis , @tseaver Please review.
I have used approach 1 for implementation in PR #8180.

[2019-06-12 12:14] tseaver commented on #8272
The client is threadsafe, but not fork-safe:  if you use multiprocessing, please defer creating the client until after the fork.

[2019-06-12 12:14] #8272 closed

[2019-06-12 12:22] didil commented on #8272
awesome thanks a lot !

[2019-06-12 12:26] HemangChothani commented on #7523
@A-Iskakov  hello
I have checked issue it works corrrect, you just have to use ArrayUnion([u'spruce'].values, else it throws a `TypeError`.

**Code Example**
[code]
**Output:**
[code]

[2019-06-12 15:06] grant commented on #5869
Up to Thea, but I think there are other priorities that must be resolved first.

[2019-06-12 16:25] theacodes commented on #5869
Universal search and navigation are on our roadmap but lower down the list than other things. I'll keep this solution in mind when we get there.

Closing this for now.

[2019-06-12 16:25] #5869 closed

[2019-06-12 17:25] anguillanneuf opened #8294 "Pub/Sub: emulator push to local endpoint failing"
Using the Pub/Sub emulator to push to a local endpoint used to work. But it seems to have stopped working now. Here are the steps to reproduce.

#### Environment details

2. MacOS
3. `Python 3.7.3`
4. `google-cloud-pubsub==0.41.0`

#### Steps to reproduce

  1. `git clone https://github.com/GoogleCloudPlatform/python-docs-samples.git`, then create a virtualenv and install the necessary packages fr

[2019-06-12 18:15] grant commented on #8046
@melih9779 Have you tried  using the sample with a new key?
Is this still an issue?

[2019-06-12 19:21] anguillanneuf opened #8296 "Pub/Sub: double definitions for lots of class properties"
The [documentation](https://googleapis.github.io/google-cloud-python/latest/pubsub/types.html#google.cloud.pubsub_v1.types.AcknowledgeRequest) for `pubsub_v1.types` shows lots of double definitions: a true definition, plus one that just says `field ....`.

[2019-06-13 07:12] #8036 closed

[2019-06-13 11:30] plamut commented on #7833
A thorough [system test](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/tests/system.py#L213-L265) for `max_messages` now exists, was added in the [PR](https://github.com/googleapis/google-cloud-python/pull/7948) that fixed that bug. Among other things it verifies that the big-picture logic for pausing / resuming the consumer based on the current leaser load is sound.

One bi

[2019-06-13 11:30] #7833 closed

[2019-06-13 11:46] plamut commented on #7104
Python 2 support is deprecated, but it still needs to be preserved until the end of the year. Any support for asyncio will thus have to wait for at least another 6 months or so.

[2019-06-13 12:15] mf2199 commented on #4772
If this particular request is not applicable to Spanner, which seems to be the case, should we not re-label it to include relevant products instead?

[2019-06-13 12:49] plamut commented on #4994
Just for the reference, this has been put on hold for the time being, because a consistency across PubSub clients for other languages is desired. Once this feature is officially accepted, the now-closed PR can be re-opened.

[2019-06-13 15:01] sduskis commented on #8294
This seems like an emulator problem, not a client issue.  Let's discuss this internally.

[2019-06-13 15:01] #8294 closed

[2019-06-13 15:02] sduskis commented on #8208
@tseaver, what's the next steps on this issue?

[2019-06-13 15:03] sduskis commented on #5261
This seems like something that ought to be asked of the Vision support team should handle, not something that the clients can fix.  You can find various support avenues here: https://cloud.google.com/vision/docs/support and here: https://cloud.google.com/support/docs/issue-trackers

[2019-06-13 15:03] #5261 closed

[2019-06-13 15:04] sduskis commented on #6172
This seems like something that ought to be asked of the Vision support team should handle, not something that the clients can fix. You can find various support avenues here: https://cloud.google.com/vision/docs/support and here: https://cloud.google.com/support/docs/issue-trackers

[2019-06-13 15:04] #6172 closed

[2019-06-13 15:04] sduskis commented on #7905
This seems like something that ought to be asked of the Vision support team should handle, not something that the clients can fix. You can find various support avenues here: https://cloud.google.com/vision/docs/support and here: https://cloud.google.com/support/docs/issue-trackers

[2019-06-13 15:04] #7905 closed

[2019-06-13 15:05] sduskis commented on #6218
It seems like this issue is closed.  For reference, this type of thing seems like something that ought to be asked of the Vision support team should handle, not something that the clients can fix. You can find various support avenues here: https://cloud.google.com/vision/docs/support and here: https://cloud.google.com/support/docs/issue-trackers

[2019-06-13 15:05] #6218 closed

[2019-06-13 15:09] sduskis commented on #7214
It seems like there were a number of issues here that all caused the same behavior:

1. using bad credentials can cause hanging behavior.  We know that this is a problem for all clients, but don't have a clean fix as of yet.
2. "Name resolution failure" is a networking issue.  The service URL could not be reached.
3. Possibly some other root cause.

At this point, there doesn't seem to be anything

[2019-06-13 15:09] #7214 closed

[2019-06-13 15:13] sduskis commented on #5819
`Received message larger than max (x vs 4194304)` shows up a lot in Google searches, and the general solution is`grpc.WithDefaultCallOptions(grpc.MaxCallRecvMsgSize(maxMsgSize))` with something larger than 4MB.

@plamut, can you please configure `synth.py` with `256MB` for Speech?  After that, we can close this issue.

[2019-06-13 15:14] sduskis commented on #7530
This is a service issue.  I don't think we should keep this issue open.

[2019-06-13 15:16] nnegrey commented on #7905
@fishLogic25, if you want to pipe this over to the https://github.com/GoogleCloudPlatform/python-docs-samples repo. I'd be happy to try to take a look and figure out which Feature you are using with the Vision API. In the end it may still be that you'll have to file an issue on https://cloud.google.com/support/docs/issue-trackers for product feedback, but maybe we can find the answer. :)

[2019-06-13 17:10] shotarohorai opened #8301 "Storage: Client.download_blob_to_file fails."
`Client.download_blob_to_file()` does not work properly when passing a URI because the parsed path which is passed as a blob name has the initial `/` .

https://github.com/googleapis/google-cloud-python/blob/master/storage/google/cloud/storage/client.py#L389-L395

It should be removed from the path before passing into a Blob constructor.
[code]

BTW: I tried to create a pull request to fix it but

[2019-06-13 18:19] tswast commented on #8175
Now that I'm looking at this code again, I think I can make this a lot more deterministic by refactoring some of the progress bar logic out of the BQ Storage API stream processing logic.

[2019-06-13 22:51] tswast commented on #8301
@shotarohorai Thank you for the report. Can you provide an example of a URI which does not work?

Our contributing guidelines are at https://github.com/googleapis/google-cloud-python/blob/master/CONTRIBUTING.rst. It's not expected that you would have write access to this repository, but you should be able to send a pull request from a fork.

[2019-06-14 06:30] xmedeko commented on #7907
Note, even `client.get_bucket('bucket-id')` has just returned 503 on the production. So, even this function should be retryable.

[2019-06-14 11:30] crazystick commented on #6354
I wanted to do something similar in order to have errors show up in Stackdriver Error Reporting, which is possible according to [this issue I opened](https://issuetracker.google.com/issues/135001772). I ended up doing it like this, but I think it would be neater if you could subclass `_Worker` and inject it into `CloudLoggingHandler` alongside the transport. Anyway, this works:

[code]

[2019-06-14 11:50] cormac-long opened #8305 "BigQuery: Cannot push pandas dataframe to bigquery table using load_table_from_dataframe()"
# Environment details:

Platform: Ubuntu 18.04 (4.15.0-50-generic)
Python: 3.6.8
BigQuery version: 1.14.0
pandas version: 0.24.2
pyarrow version: 0.13.0

# Steps to reproduce

1. Create python virtual environment as documented at

..* https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/

2. Using pip (`pip install <PKG>`) install the following packages

..* pandas (ht

[2019-06-14 12:25] cormac-long commented on #8305
I also tried SourceFormat.AVRO and SourceFormat.CSV for job_config.source_format. None of these helped :(

[2019-06-14 14:20] plamut commented on #5819
@sduskis I presume 256 MiB was meant?

I opened a PR, the same setting is called `grpc.max_receive_message_length` I believe.

[2019-06-14 14:59] bbookman commented on #7629
This is still open, yet was taken care of and did not close as mentioned on April 2

[2019-06-14 17:07] tswast commented on #8305
Duplicate of https://github.com/googleapis/google-cloud-python/issues/8093. This is fixed in the `master` branch, but we need to release it.

[2019-06-14 17:07] #8305 closed

[2019-06-14 17:13] tswast commented on #8305
Release pending: https://github.com/googleapis/google-cloud-python/pull/8339

[2019-06-14 19:13] tswast opened #8342 "BigQuery: Rich editor features for Jupyter magic"
- [ ] syntax highlighting
- [ ] automatic query validation
- [ ] automatic dryrun with price estimates
- [ ] auto-complete

[2019-06-14 21:29] cormac-long commented on #8305
Ach! Thanks Tim - I clearly didn't search carefully enough. Looking forward to release 1.15!

[2019-06-15 18:59] ajr80231 commented on #1185
Hey was reading up on this. I was able to set the metadata using patch and dic. But now when I want to pull the metadata it always returns None. Any Reasons why?

[2019-06-17 15:14] bencaine1 opened #8376 "Storage: Flaky 503 on list_blobs"
#### Environment details

OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-storage: 1.13.1

#### Code example

[code]

#### Stack trace
[code]

This is a flaky error. It would be great if the library could retry when this happens!

[2019-06-17 17:57] busunkim96 opened #8378 "Bigtable: system tests failing with 'quota_exceeded'"
[code]

Full log: https://source.cloud.google.com/results/invocations/1f3c9ea1-0ce2-4d95-b86f-844afeb7c7e5/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log

[2019-06-17 19:23] #5819 closed

[2019-06-17 20:47] ElliotSilver commented on #7218
The lack of a simple streaming interface is a challenge to implementing a cloud function that reads/writes large files. I need the ability to read an object in from cloud storage, manipulate it, and write it out to another object. Since the only filestore available to GCF is /tmp which lives in the function memory space, you are limited to files less than 2 GB.

[2019-06-17 23:26] #7043 closed

[2019-06-18 07:39] foxmadr commented on #2990
I found a workaround:
`$ pip uninstall setuptools`
`$ pip install setuptools==39.1.0`

[2019-06-18 15:11] agraubert commented on #8376
👍 Also experiencing intermittent 503's

[2019-06-18 16:52] tseaver commented on #8378
I suspect that #6579 introduced instance leaks in the system tests.

[2019-06-18 18:25] #7910 closed

[2019-06-18 21:29] tseaver commented on #8376
Duplicates #7907.

[2019-06-18 21:29] #8376 closed

[2019-06-18 21:33] frankyn commented on #7626
@tseaver the fix is being rolled out to production right now.

[2019-06-18 22:25] anguillanneuf commented on #8294
@sduskis I just check the `gcloud` [release notes](https://cloud.google.com/sdk/docs/release-notes), but didn't see anything for `gcloud beta emulators pubsub` specifically.

[2019-06-18 23:17] #8175 closed

[2019-06-19 09:04] allardhoeve commented on #3099
To make it even stranger, I get this intermittently on Python 3.7.1 and latest google-cloud-python.

![image](https://user-images.githubusercontent.com/1262726/59752115-09d70100-9282-11e9-960b-e6ddfd64fe57.png)

[2019-06-19 17:27] tseaver commented on #5928
@sduskis I just saw the `temp_table.create()` [fail again with a 504](https://source.cloud.google.com/results/invocations/683d6ae1-e434-4634-9952-a79cafbfd947/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log).  It looks to me like the `googleapis` commit you linked did *not* up the [timeout for `CreateInstance`](https://github.com/googleapis/googleapis/commi

[2019-06-19 17:28] #7900 closed

[2019-06-19 17:52] tseaver commented on #7564
Per the [API reference](google.firestore.v1.BatchGetDocumentsResponse.FIELDS.string.google.firestore.v1.BatchGetDocumentsResponse), we need to update the `_parse_batch_get` method to pick out the values needed to create a reference from the `missing` value.

[2019-06-19 18:18] tseaver commented on #6859
@IlyaFaer The "flaky" label indicates that the test failure is intermittent.  We would normally close such reports when we have made some change which we expect to address the failure (e.g., in this case, increasing the timeout in the gRPC configuration).  Unfortunately, we often have to reopen them. :(

[2019-06-19 19:34] #7789 closed

[2019-06-19 20:24] szeitlin commented on #7534
How's it going with this effort? I'm also finding errors in the docs.

[2019-06-19 20:34] szeitlin opened #8433 "Firestore: docs mentioning 'firestore.collection_group' are incorrect."
#### Environment details

# OS type and version
Mac OSX 10.14.5

# Python version and virtual environment information:
python 3.7.3

#google-cloud-<service> version:

google-api-core           1.12.0                   pypi_0    pypi
google-auth               1.6.3                    pypi_0    pypi
google-cloud-core         1.0.2                    pypi_0    pypi
google-cloud-firestore    1.2.0

[2019-06-19 21:34] tseaver commented on #8208
@sduskis See #8436

[2019-06-19 21:37] tseaver commented on #4772
None of those modules are using mocks relevant to the `ChannelStub` helper.

[2019-06-19 21:37] #4772 closed

[2019-06-19 21:39] tseaver commented on #8046
Please feel free to reopen / follow up if you can provide more information related to `google-cloud-storage`.

[2019-06-19 21:39] #8046 closed

[2019-06-19 21:45] puf opened #8437 "Firestore: Add equivalent of node's 'FieldPath.documentId()'."
In JavaScript you can run a query for the document by its ID with `db.collection('books').where(firebase.firestore.FieldPath.documentId(), '==', 'fK3ddutEpD2qQqRMXNW5')`. Some other client libraries also seem to have this option. But it's missing from the Python library.

On Python you can accomplish the equivalent by querying on `__name__`, which happens to be the document ID's field name in the

[2019-06-19 21:57] #7629 closed

[2019-06-19 22:01] tseaver commented on #8433
@szeitlin Thanks for the report!

[2019-06-19 22:05] tseaver commented on #7534
@szeitlin Splitting the repository is prioritized for Q3, which should allow us to build versioned docs for each API.

[2019-06-19 22:06] #8208 closed

[2019-06-19 23:34] #8433 closed

[2019-06-20 06:42] oldmonkABA commented on #2990
For me setuptools-41.0.1 was giving the error. Downgrading it to 39.1.0 as mentioned solved the issue for python 3.6.7

[2019-06-20 07:37] IlyaFaer commented on #6859
@tseaver thanks for the explanation, I'll think about it

[2019-06-20 09:28] sangramql commented on #4542
@tseaver please suggest the expected implementation and approach.

[2019-06-20 15:22] tseaver commented on #6859
There is something odd about that error response:  "Deadline Exceeded" should normally be a client-side exception (no HTTP response status code), while '503' should be "Service Unavailable" (returned from the Google front-end gateway during an outage).

We do have some history of having the backend APIs returning "odd" response codes.  @andrewsg Do you know if this is one such case for the Datasto

[2019-06-20 15:36] tseaver commented on #4542
@sangramql There isn't an "obvious" design for this one.

@ravindranathakila I'm not clear on what you are thinking here.  The `_connection` here doesn't hold any configuration which would affect how blob instances are uploaded / downloaded:  it wraps an instance of an object supporting the `requests.Session` interface (normally a `google.auth.transport.requests.AuthorizedSession` instance).

The

[2019-06-20 16:19] dillonjohnson opened #8449 "BigQuery: Setting Connection Pool Size"
We are trying to figure out how to up the possible connection pool size for the BigQuery Client. I'm not sure if this is a bug, but doing the below for https and http had no effect.

Thanks in advance!

BigQuery
Running on a Docker Python:3.6-slim image
Version: google-cloud-bigquery==1.12.1

#### Steps to Reproduce

1. Open a Client Connection

2. Start multiple load jobs in parallel threads

3.

[2019-06-20 16:33] #7003 closed

[2019-06-20 16:33] #8378 closed

[2019-06-20 16:40] crwilcox opened #8451 "Bigtable: Separate row types to remove confusion around return types of row.commit"
While @billyjacobson was working on https://github.com/GoogleCloudPlatform/python-docs-samples/pull/2201 he noticed that the version of `commit` for `row.commit` only returned `None`. This got me digging into how this is authored. and if a change would be warranted.

### TL;DR
We have 3 different row types that are returned from `table.row` and they all have disparate returns types for commit. Thi

[2019-06-20 17:09] kosniaz opened #8452 "Speech: is the library still beta or not?"
Hello everyone,

In March, setup.py [was changed](https://github.com/googleapis/google-cloud-python/pull/7525), and it now specifies the speech service as GA. However, in the README's it is listed as beta. Is it really still beta?

[2019-06-20 17:15] tswast commented on #8451
DirectRow: I'd expect the row content to be returned on success, as seems to be the case for the other row types.

[2019-06-20 17:17] tseaver commented on #8449
The [`requests.adapters.HTTPAdapter` class](https://2.python-requests.org/en/master/api/#requests.adapters.HTTPAdapter) takes three pool-related parameters:

- `pool_connections`:  number of `urllib3` connection pools
- `pool_maxsize`: maximum number of connections in a given pool
- `pool_block`: whether to block when requesting another connection after reaching `pool_maxsize`.

In your case, the

[2019-06-20 17:17] #8449 closed

[2019-06-20 17:23] tseaver commented on #8452
@kosniaz Thanks for the report.  `setup.py` is correct:  the package is GA.

[2019-06-20 17:27] #5928 closed

[2019-06-20 17:54] tseaver opened #8454 "Bigtable: Snippet setup fails due to rate-based quota."
From [this failiure today](https://source.cloud.google.com/results/invocations/7fea056f-3154-427a-8a7c-efbea5d0dece/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log):

[code]

Including many more failures.  @sduskis, could we get this particular quota / rate limit eased for our CI project?

[2019-06-20 17:56] #8452 closed

[2019-06-20 18:04] tseaver opened #8455 "Storage: multiple 429 flakes in systests."
From [this failure today](https://source.cloud.google.com/results/invocations/0b178774-dfe6-4323-876e-81807ae08bd7/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log).

[2019-06-20 18:05] #7760 closed

[2019-06-20 21:43] plamut commented on #8137
FWIW, there is an [open PR](https://github.com/googleapis/google-cloud-python/pull/8429/files) that adds a quick example on how to use an other-than-default Credentials object. If that is deemed sufficient, we could close this issue.

Or, if "almost sufficient", the PR can be updated to cover this issue, too.

[2019-06-21 07:34] xrmx commented on #8137
@plamut commented on the PR, thanks!

[2019-06-21 08:31] #4031 closed

[2019-06-21 11:47] dillonjohnson commented on #8449
Okay. Thanks.

Now I understand the difference, however I've tried all of these with no change in behavior.

[code]

For example if I use 16 threads, I encounter the same warnings. Is there a different syntax I should be using here other than directly modifying these?

[2019-06-21 12:45] bachirelkhoury commented on #1830
Has there been any development on this, or perhaps you can offer an alternative?
we have a very large upload (Gb) and would need to monitor and track the progress of the upload.
Is there anyway to do that?

[2019-06-21 13:43] sduskis commented on #8451
See the proto: https://github.com/googleapis/googleapis/blob/master/google/bigtable/v2/bigtable.proto

- `DirectRow` used for `MutateRow` operations.  The operation effectively returns `Empty`
- `ConditionalRow` used for `CheckAndMutateRow`.  The operation returns a boolean `predicate_matched`
- `AppendRow` used for `ReadModifyWriteRow` with an `Append` type (instead of an `Increment` type).   The

[2019-06-21 14:58] IlyaFaer commented on #7303
I've been working on that issue, and got a question. Several times I saw lines like [that](https://github.com/googleapis/nodejs-spanner/blob/79f7855b3f6df59afe322dd578ed65f408a2fc2b/src/transaction.ts#L847), and I can't imagine, what is second addend for? First one (with `pow`) is ok, increments delay time, but the second one (with `random`) doesn't grow. So after 2 tries it become disproportionat

[2019-06-21 15:33] tchiotludo commented on #6344
Any update on support for admin interface ?

When doing integration test, [create index api](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.admin.v1#google.firestore.admin.v1.CreateIndexRequest) is mandatory in order to create index use by integration test.

[2019-06-21 20:37] PetrochukM commented on #1077
Please reopen this. This has not been tackled many years later. What is the mechanism for exposing upload progress?

[2019-06-21 20:38] PetrochukM commented on #1830
Same!

[2019-06-21 22:20] crwilcox commented on #7303
@IlyaFaer the random portion is to cause jitter in when we make requests and it shouldn't grow.

[2019-06-21 22:51] crwilcox opened #8463 "Spanner: Adjust timeouts for CreateDatabase and retries for other methods"
As part of a recent change to GAPIC Configuration, timeouts and retries need to be updated.

Ensure that the timeouts and retires specified in https://github.com/googleapis/googleapis/commit/cc233544aa39b8947c9b929819aeb08e2cb71feb#diff-4501db3e3507bcce8496c9aea2017d96 are reflected in this client library.

[2019-06-22 13:44] meisam91 opened #8466 "BigQuery Data Transfer: 'list_transfer_configs' returns empty object."
It looks like there's an issue with the bigquery_datatransfer API not returning the list of transfers:

`print list(client.list_transfer_configs(parent="projects/{project_id}", data_source_ids="scheduled_query"))`

output is:
`[]`

[2019-06-22 17:40] VJalili commented on #7627
@tseaver @frankyn any suggestions on the easiest approach for signing blob using `oauth2client.client.AccessTokenCredentials` or access token?

[2019-06-23 01:45] VJalili opened #15231 "signer method for google.oauth2.credentials.Credentials"
I am using the `google.oauth2.credentials.Credentials` type as the following:

[code]
For signing blobs, I need to have a signer from the `credentials` object, similar to what is implemented for `google.oauth2.service_account.Credentials`:

https://github.com/googleapis/google-auth-library-python/blob/49a18c43a5b39615bad90d23ab33a105fb656a6a/google/oauth2/service_account.py#L330-L333

However, it

[2019-06-23 01:59] bachirelkhoury opened #8467 "Upload progress for google storage API"
This is related to #1830 reopening here as this seems to have been closed many years ago.

We are please looking for this feature as we need to monitor large files being uploaded to Google Storage buckets. I am surprised not many people are after this essential feature, which makes me feel we haven't done our research properly or that the solution is very obvious or trivial.

Can someone please sh

[2019-06-23 01:59] bachirelkhoury opened #15992 "Allow tracking upload progress."
This is related to googleapis/google-cloud-python#1830 reopening here as this seems to have been closed many years ago.

We are please looking for this feature as we need to monitor large files being uploaded to Google Storage buckets. I am surprised not many people are after this essential feature, which makes me feel we haven't done our research properly or that the solution is very obvious or t

[2019-06-24 14:46] sduskis commented on #8451
@crwilcox, @tswast: I suggest closing this issue.  Things are the way they are for a reason.  I don't believe that convergence in the Python API is desirable, since the Python API ought to match the service API.

[2019-06-24 14:52] HemangChothani commented on #8437
@tseaver , firebase.firestore.FieldPath.documentId() has to return '__name__' and it sent to the api as a field_path = "__name__", The same thing works with the order_by  but not with WHERE clause, I think it need a support from back-end also.

[2019-06-24 15:44] tseaver commented on #1830
Please open a new issue linking this one, and describing the change you'd like against the *current* software.  Following up on an issue closed for almost two years is not going to get appropriate attention.

[2019-06-24 15:49] tseaver commented on #8463
Closed in #8445.

[2019-06-24 15:49] #8463 closed

[2019-06-24 15:51] tseaver commented on #8467
@frankyn Please help prioritize this feature.  See the discussion in #1830 / #1077 for the tradeoffs involved.

[2019-06-24 15:56] tseaver commented on #6344
@BenWhitehead AFAIK this feature is not prioritized for Firestore.

[2019-06-24 16:05] tseaver commented on #8466
[`DataTransferServiceClient.list_transfer_configs`](https://github.com/googleapis/google-cloud-python/blob/f278f3fbacbb9b9c6593a5d12a56b0579c5b78f6/bigquery_datatransfer/google/cloud/bigquery_datatransfer_v1/gapic/data_transfer_service_client.py#L744-L848) is a generated wrapper around the gRPC [`projects.locations.transferConfigs.list` API call](https://cloud.google.com/bigquery/docs/reference/da

[2019-06-24 16:07] #7050 closed

[2019-06-24 16:08] tseaver commented on #7630
Please feel free to reopen if you can provide more information.

[2019-06-24 16:08] #7630 closed

[2019-06-24 16:24] meisam91 commented on #8466
I’ve actually done that today and found out that parent is actually in the format of “projects/example-project-is/locations/europe”

Although this did produce the expected results in the api explorer, in the python library it still is outputting an empty object

[2019-06-24 16:29] tseaver commented on #8466
@tswast Can you point us in the right direction here?

[2019-06-24 16:45] #7128 closed

[2019-06-24 16:46] #8137 closed

[2019-06-24 16:58] kofalt commented on #1830
I no longer use this tool in this way, but my colleagues would still benefit from this feature. If someone wants to do as @tseaver suggests I would appreciate it :)

[2019-06-24 17:33] plamut commented on #7387
A workaround documented in #8429 (using JWT-based authentication), removing the `triaged for GA` label

[2019-06-24 17:41] jadekler commented on #7387
Are we sure about that? What is the manner of failure? Who initiates the failure (the GFE...?)?

My naive understanding is that auth is only checked at RPC-init time, not periodically throughout the life of an RPC. But, I don't really understand this space super well.

[2019-06-24 21:13] rsimac commented on #7815
While not completely sure if it belongs here, but rather than opening new and potentially dupe issue, here goes...

It may be beneficial to update readme.rst and reword the reasoning behind the inability to create projects using service accounts for it may mislead developers on underlying (rest) api limitations.

It appears the service accounts are very much capable of listing, updating, deleting

[2019-06-25 08:59] meisam91 commented on #8466
Just to add further, for continuity purposes, in my code, I've gone ahead and directly accessed the API - this works as expected:

`from google.auth.transport.requests import AuthorizedSession
import google.auth

credentials, project = google.auth.default()
authed_session = AuthorizedSession(credentials)

response = authed_session.request('GET','https://bigquerydatatransfer.googleapis.com/v1/proje

[2019-06-25 13:36] IlyaFaer commented on #7218
Well, if this new method is so much wanted, I'd propose solution: class, that inherits `FileIO`. It inits `ChunkedDownload` in self property and then on every `read()` call it consumes next chunk and returns it. New blob-method will be initializing this object and returning it to user (may write it to file or not)

Looks like it'll work, 'cause (as I know) most file methods works through `read()`,

[2019-06-25 13:59] jakebiesinger-onduo commented on #8301
@tswast no urls work. Using `client.download_blob_to_file('gs://mybucket/myobject')` will result in a `404` with a malformed url:

[code]
Note the leading `/` on the object name, which is becomes `%2F`.

It appears this method has never worked. It was introduced by https://github.com/googleapis/google-cloud-python/commit/e7a7bd4a2415a7a81ebaadcf7750a4c4b646ee2c and the testing there consists only

[2019-06-25 17:51] anguillanneuf opened #8473 "Pub/Sub: fresh install succeeds but imports fail due to dependencies"
After a fresh install of `google-cloud-pubsub`..

[code]

..importing the Pub/Sub library threw the following error:

[code]

Here is the system information (Google Colab Notebook):

[code]

[code]

[2019-06-25 18:12] tseaver opened #8474 "Spanner: 'test_transaction_batch_update_w_syntax_error' systest flakes with 409."
From [this Kokoro run](https://source.cloud.google.com/results/invocations/eda991f6-e060-4049-a04b-39f3cc8888d4/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fspanner/log):

[code]

[2019-06-25 18:23] tseaver commented on #8473
Trying to reproduce in a fresh virtual environment:

[code]

It almost seems as if you have two different virtual environments in play.  Can you show the full output of `pip freeze`?

[2019-06-25 18:32] anguillanneuf commented on #8473
I have a Colab notebook [here](https://colab.research.google.com/drive/11Tqi_3V-gxzKFLS9VnXrEFEcGN0p6JN5) that you can run to reproduce the error.

Results of `pip freeze`:

[code]

[2019-06-25 18:47] sduskis commented on #8454
`InstancesWriteGroup` relates to the quota for admin writes.  The service can't do more than some number of updates per time period.  `InstancesWriteGroup`/`CLIENT_PROJECT-1d` is 500 per day.  Basically, the tests run too often, and Cloud Bigtable isn't happy about it.

[2019-06-25 19:54] tseaver commented on #8473
The out-of-date `google-api-core 1.11.1` is installed in `/usr/local/lib/python3.6/dist-packages`:  is that where you expect to be installing things?   Can you show the output of `pip show google-api-core`?  Here is mine:

[code]

[2019-06-25 20:46] anguillanneuf commented on #8473
Here is mine:

[code]

[2019-06-25 21:06] busunkim96 opened #8475 "Add `client_options` to constructors for manual clients."
*List of clients is copied from the issue for client_info. See #7825.*

The client_options constructor argument provides a consistent way for options to be set on clients. Currently only API Endpoint can be set with client_options.

GAPIC clients will gets this change via the generator, but the clients below need to be updated manually.

Clients that need client_options:

- [x] BigQuery #8999
- [x

[2019-06-25 21:12] sduskis commented on #8475
Cloud Bigtable (and maybe others) will need two different `client_options`, since it has a data and admin endpoint.

[2019-06-25 21:24] crwilcox commented on #7907
This is best done by starting from a design and then implementing.

[2019-06-25 21:42] tseaver commented on #8475
Spanner has three, accessed via:  `Client.instance_admin_api`, `Client.database_admin_api`, `Database.spanner_api`.

[2019-06-25 21:44] tseaver commented on #8473
The `google-api-core 1.12.0` version is new enough to have the feature pubsub needs.

[2019-06-25 21:44] #8473 closed

[2019-06-26 18:46] tseaver opened #8479 "Bigtable: 'test_bigtable_list_tables' snippet flakes with '504 Deadline Exceeded'."
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/2322354e-a3c8-4e30-8cac-2dbf3a814cad/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log):

[code]

[2019-06-26 18:48] tseaver opened #8480 "Bigtable: 'test_bigtable_create_table' snippet flakes with '504 Deadline Exceeded'."
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/2322354e-a3c8-4e30-8cac-2dbf3a814cad/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fbigtable/log):

[code]

[2019-06-26 18:51] tseaver commented on #8090
Duplicate of #7829.

[2019-06-26 18:51] #8090 closed

[2019-06-26 18:54] #8301 closed

[2019-06-26 19:42] asnr opened #8482 "Pub/Sub: configure GRPC timeout when publishing a message"
I'd like to control the timeout of the underlying GRPC API calls when publishing a pubsub message. Currently, even if my application times out on the future returned when publishing a message,

[code]

the underlying GRPC API call will continue retrying in its batch thread for 10 minutes (this time period is hard-coded [here](https://github.com/googleapis/google-cloud-python/blob/021e3fbef2fec6af3

[2019-06-26 20:12] #7564 closed

[2019-06-27 09:31] linhnvhicts commented on #6541
I'm also encounter the same problem when following the API example here the full traceback:

[code]

it lead to the speech.py file in the package which is this

[code]

[2019-06-27 11:36] meisam91 commented on #8466
Any updates on this issue?

[2019-06-27 12:42] yoshi-automation opened #8489 "Synthesis failed for kms"
Hello! Autosynth couldn't regenerate kms. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/28a69e96-4424-4a0e-a909-742d1502d11e).

[2019-06-27 22:35] tswast opened #8494 "BigQuery: `SchemaField.to_standard_sql` and `SchemaField.from_standard_sql` methods"
Some BigQuery APIs (Models, Routines) use a new standard SQL format `bigquery_v2.types.StandardSqlDataType` for schemas, while Tables still use the legacy SQL format. It would be desirable to be able to convert easily between these formats.

[2019-06-27 22:39] tswast opened #8495 "BigQuery: Constants for all scalar standard SQL data types"
Related to https://github.com/googleapis/google-cloud-python/issues/7632 (legacy SQL), it would be useful to have constants for all scalar data types for the new `bigquery_v2.types.StandardSqlDataType` format. Currently, one has to construct an object like

[code]

It would be convenient if instead one could just say `bigquery.StandardSqlDataTypes.INT64` and similar for all scalar data types.

[2019-06-28 12:46] yoshi-automation opened #8532 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a0f45fe9-789a-48ac-a9e2-b6d0338a6994).

[2019-06-28 12:46] yoshi-automation commented on #8489
Autosynth passed, closing! :green_heart:

[2019-06-28 12:46] #8489 closed

[2019-06-28 15:10] tseaver commented on #8532
Github is treating the bot hammering it as a DOS.  This is a bug in the bot configuration / automl:  it needs to retry such cases with backoff.

[2019-06-28 15:10] #8532 closed

[2019-06-28 20:03] andrewsg commented on #6859
I haven't heard of this one from Datastore before, sorry.

[2019-06-28 21:52] tswast commented on #6434
FYI: internal issue 119203044 was closed as wontfix, as this would be a breaking change. The client-side workaround would be to look for "Exceeded rate limits" and retry in that case. (Also, it might actually make sense to always retry on 403 to give the auth library a chance to refresh credentials.)

[2019-06-30 09:22] mxlei01 opened #8540 "Spanner: no metadata or fields?"
#### Environment details

1. Spanner
2. Ubuntu 18
3. Python 3.6.7
4. google-cloud-spanner==1.9.0

#### Steps to reproduce

  1. In a transaction, execute_sql
  2. Metadata is None, and calling the fields attributes raises an exception.

#### Code example

[code]

#### Stack trace
[code]

I'm trying to get column names from the result, however the metadata attribute is None and the fields attribute

[2019-06-30 10:16] gronnbeck commented on #8294
I have the same problem when running tests against Pubsub Push Subscriptions. I get a Java stacktrace from the emulator. It seems like something is missing on its classpath. Hope the stacktrace helps:

[code]

[2019-06-30 19:15] ParkerShamblin opened #8541 "Language: Ability to detect language code (BCP-47 identifier)"
Hello, I'm trying to detect different dialects of spanish right now, however, I noticed whenever I use the google cloud language detect script located [here](https://cloud.google.com/translate/docs/detecting-language#translate_detect_language-python) that it always just comes back as spanish (es).

I was curious if it would be possible for it to return the different dialects of Spanish like the on

[2019-07-01 12:15] AETDDraper opened #8544 "Arrays not supported in Bigquery Python API"
The support for python Bigquery API indicates that arrays are possible, however, when passing from a pandas dataframe to bigquery there is a pyarrow struct issue.

The only way round it seems its to drop columns then use JSON Normalise for a separate table.

'''from google.cloud import bigquery
 project = 'lake'
 client = bigquery.Client(credentials=credentials, project=project)
 dataset_ref = cli

[2019-07-01 15:26] rsimac commented on #7824
I have exact same issue where freshly created service account key is failing to get loaded into credentials with `ValueError: Service account info was not in the expected format, missing fields token_uri, client_email.` failure. All code and APIs python, latest.

@adamdavis40208 kindly pls if you submitted this issue 'elsewhere' do post a reference here or PM me. Thanks!

Evidence:
[code]

[2019-07-01 15:41] crwilcox opened #8545 "Typing kwargs as dict can cause issues with type hinting systems"
Thanks to @retnikt for opening #7422. This issue is tracking that and will have an accompanying PR that more broadly fixes the issue.

When typing Python code, the special *args and **kwargs params are typed based on their contents, not what they actually are (a tuple, and a dict) e.g.

def foo(thing: int, *args: str):
    ...
def bar(thing: int, *args: str, **kwargs: Union[int, float]):
    ...

[2019-07-01 17:03] SyCode7 commented on #4682
Was this fixed? I am having a similar issue with the Google Java API. I have already opened an issue for it [here](https://github.com/googleapis/google-cloud-java/issues/5581).

[2019-07-01 18:07] tswast commented on #8544
Thanks for the report. Struct support is covered by https://github.com/googleapis/google-cloud-python/issues/8191, but I'll keep this issue open as a feature request for arrays of scalar types.

[2019-07-01 18:14] tswast opened #8549 "BigQuery: numpy release breaks Python 2.7 unit tests"
[code]

As discovered in https://github.com/googleapis/google-cloud-python/pull/8548

[2019-07-01 18:19] tswast commented on #8549
Why are we getting a pre-release version? `numpy-1.17.0rc1` was released, but not stable.

[2019-07-01 18:32] tswast commented on #8549
I'm not able to reproduce locally. Maybe the bad package was deleted already?

[2019-07-01 18:45] tswast opened #8550 "BigQuery: `test_create_routine` test fails on VPC-SC tests"
The `test_create_routine` test in `system.py` uses the `cloud-samples-data` GCS bucket, but this crosses a VPC boundary. The VPC team maintains a mirror of this sample data and would prefer we provide a way to override the bucket via an environment variable.

The Ruby samples take an environment variable `GCLOUD_TEST_SAMPLES_BUCKET` for the same purpose.

[2019-07-01 19:48] tseaver opened #8552 "Storage: 'test_bpo_set_unset_preserves_acls' no longer sees expected 'BadRequest'."
From [this Kokoro job](https://source.cloud.google.com/results/invocations/2691ce70-20dd-4f90-ad95-d483b80b4ec2/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):

[code]

[2019-07-01 20:07] #8545 closed

[2019-07-01 20:09] tseaver commented on #8540
@mxlei01 Can you provide a clue as to how you are constructing the `client` object?  The one we would expect you to use (`google.cloud.spanner_v1.client.Client`) doesn't have an `execute_sql` method.  Instead, we would normally expect you to be using an instance of `google.cloud.spanner_v1.database.Database`, obtained from an instance. E.g.:

[code]

The `google.cloud.spanner_v1.streamed.StreamedR

[2019-07-01 20:16] tswast commented on #8549
I can reproduce on Linux with a fresh Python 2 virtualenv.

[2019-07-01 20:18] tseaver commented on #8541
@ParkerShamblin The [list of language codes used by the Cloud Natural Language API](https://cloud.google.com/natural-language/docs/languages) does not include any of those variants.

@beccasaurus AFAIK, the detected language (in an [`AnnotateTextResponse`](https://cloud.google.com/natural-language/docs/reference/rpc/google.cloud.language.v1#google.cloud.language.v1.AnnotateTextResponse.language))

[2019-07-01 20:18] #8541 closed

[2019-07-01 20:21] tswast commented on #8549
It's fastparquet's fault. `pip install fastparquet` fails on Linux Python 2.7.

[2019-07-01 20:23] tseaver commented on #8549
@tswast on my Linux box (Ubuntu 16.04), I see failures on 3.5+ too:

[code]

[2019-07-01 20:24] tswast commented on #8549
I'm guessing that this is also related to the prerelease version of numpy.

[2019-07-01 20:26] tseaver commented on #8549
I see a bunch of noise about old versions of `pip` in the Kokoro prologue:

[code]

I don't think upgrading `pip` would help (it is up to date on my box).

[2019-07-01 21:42] ostrokach opened #8554 "Implement PubSub SubscriberClient.get_snapshot method"
**Is your feature request related to a problem? Please describe.**

I need to make sure that a specific topic, subscription, and snapshot have already been created. In the case of topic and subscription, I can do something like:

[code]

However, in the case of snapshot, I have to do something like:

[code]
which is both inelegant and inefficient.

 **Describe the solution you'd like**

I would li

[2019-07-01 23:37] #8549 closed

[2019-07-02 00:06] ostrokach opened #8555 "PubSub: Add documentation for correct usage of SubscriberClient.streaming_pull"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")

PubSub

2. OS type and version

[code]

3. Python version and virtual environment information: `python --version`

[code]

4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`

[code]

#### Steps to reproduce

#### Code example

***See the following colab notebook**

[2019-07-02 06:58] YukSeungChan opened #8556 "BigQuery: OSError when importing bigquery on AWS lambda."
#### Environment details

1. Specify the API: BigQuery
2. OS type and version: AWS Lambda - python3.6
3. Python version and virtual environment information: 3.6
4. google-cloud-<service> version:  google-cloud-bigquery==1.15.0

#### Steps to reproduce
OSError occurred when importing bigquery on AWS lambda.

#### Code example

[code]

#### Stack trace
[code]

[2019-07-02 14:37] rsimac commented on #7824
Answering my own issue and probably helping others...

The 'key' we get from python APIs is NOT the 'json key' as obtained from `gcloud`. The dict we get from `iam.projects().serviceAccounts().keys().create()` contains the field `privateKeyData` which itself contains ENTIRE 'json key' one needs to authenticate to google cloud.

The data in this field is base64 encoded and needs decoding, and subse

[2019-07-02 16:09] omeryounus commented on #8549
I am also start getting this error as of now. It was working okay few days ago. Any clue whats going on?

[2019-07-02 16:47] tseaver commented on #8556
This is really an issue with `tqdm` on AWS.  This [report](https://github.com/tqdm/tqdm/issues/466) was just closed today as fixed by pinning `tqdm>=4.32.2`.  What version of `tqdm` do yo have installed in your AWS environment? Can you try to update to that version and retest?

[2019-07-02 16:59] tseaver commented on #8554
The `GetSnapshot` method was added to the `pubsub_v1.Subscriber` service [almost a year ago](https://github.com/googleapis/googleapis/commit/943102cfb5fa8811a15a4c21bd12421aadb423b5#diff-c3dc4a5370f32674bc94d37fef390057R227).  I'm quite puzzled why our codegen is excluding it.

@lukesneeringer , do you have any idea why that would happen?

[2019-07-02 17:10] adamdavis40208 commented on #7824
I went with a gcloud subprocess. I'm not sure about the status of the request, I'll reach out to my gcp TAM

[2019-07-02 17:24] tseaver commented on #8555
The docs for the `requests` argument say:

Dictionaries must match the attributes of that [protobuf message](https://googleapis.github.io/google-cloud-python/latest/pubsub/types.html#google.cloud.pubsub_v1.types.StreamingPullRequest).  However, the issue you are reporting here is that passing a `list` instance is raising the exception, before any of the dictionaries is used to construct a message.

[2019-07-02 17:25] tseaver commented on #8555
The `StreamingPull` stub is defined as `stream_stream`, which is why the requests must be an iterator.  I don't really see the usecase for that, myself.  @lukesneeringer, @theacodes do either of you recall a rationale?

[2019-07-02 17:31] tseaver commented on #8554
One clue is in the GAPIC configuration.  Compare the [configuration for `GetSubscription`](https://github.com/googleapis/googleapis/blob/5322233f8cbec4d3f8c17feca2507ef27d4a07c9/google/pubsub/v1/pubsub_gapic.yaml#L120-L132) with the [configuration for `GetSnapshost`](https://github.com/googleapis/googleapis/blob/5322233f8cbec4d3f8c17feca2507ef27d4a07c9/google/pubsub/v1/pubsub_gapic.yaml#L176-L186)

[2019-07-02 17:36] ostrokach commented on #8555
I tried doing `iter(requests)` as well and would get a different error:

[code]

[2019-07-02 17:43] theacodes commented on #8555
`streaming_pull` is a low-level method and you're really not intended to use it directly. The pubsub streaming pull protocol is pretty complicated and `subscribe` does [a *lot* of machinery](https://github.com/googleapis/google-cloud-python/tree/master/pubsub/google/cloud/pubsub_v1/subscriber/_protocol) to properly open and maintain the stream.

This is as intended. Instead, use `subscribe` [as do

[2019-07-02 17:43] #8555 closed

[2019-07-02 18:18] grantatspothero opened #8569 "BigQuery: Support modifying the number of requested streams in `_to_dataframe_iterable`"
**Is your feature request related to a problem? Please describe.**
I'm trying to pull a moderate amount of data (~500MB, 2M rows) from bigquery into pandas. I initially tried using the default configuration of this library (which uses tabledata/list to pull data) and found it was extremely slow (>30 minutes).

The library documentation suggests using the bqstorage API to get faster read performanc

[2019-07-02 18:48] tseaver commented on #7918
@rsalmond Thanks for the suggestion!

@crwilcox. @lukesneeringer ISTM that generating the package could be done using [the `google/cloud/audit` directory of googleapis](https://github.com/googleapis/googleapis/tree/master/google/cloud/audit).  There is no "service", though, so I'm not sure what the synth would look like.

[2019-07-02 19:01] ostrokach commented on #8555
In any case, I think the documentation for `SubscriberClient.streaming_pull` should still be updated, either including a code snippet that actually works, or removing the code snippet or the method altogether from the documentation.

Otherwise, other people may end up wasting their time trying to figure out why the provided code does not work, trying different Python versions, etc.

[2019-07-02 19:06] #8173 closed

[2019-07-02 20:18] sduskis commented on #8554
@kamalaboulhosn, is the `visibility: DISABLED` setting intentional?

[2019-07-02 20:27] tseaver commented on #8552
I'm not sure this is actually "flaky":  the back-end appears to no longer return a `BadRequest` for `bucketAccessControls.list` when the bucket-policy-only flag is set.

@frankyn Can you confirm that the back-end behavior is changed?

[2019-07-02 20:55] crwilcox opened #8571 "Storage: Add sensible connect (and maybe read) timeouts to avoid hanging"
After some spelunking, started from reports like https://github.com/googleapis/google-cloud-python/issues/5909 where users have reported hanging on requests, I have uncovered that we don't have read or connect timeouts for our default requests session on storage.

I think adding a connect timeout is warranted for sure, and possible having a read timeout, makes sense? `urllib3` via `request.session

[2019-07-02 20:59] tseaver commented on #8571
Upload / download retries should tie into the [`RetryStrategy` from `google-resumable-media`](https://github.com/googleapis/google-resumable-media-python/blob/34a36be0c53b7517bd3ddc2c281bdaaa5b9c4ef7/google/resumable_media/common.py#L94-L147).

[2019-07-02 23:58] tswast commented on #8549
@omeryounus Numpy made a broken pre-release, and fastparquet (unnecessarily?) depends on a pre-release version of numpy when installed from the source distribution.

[2019-07-03 13:55] tseaver commented on #6605
[Recurrence today](https://source.cloud.google.com/results/invocations/20c8590f-b2ed-460b-9401-880f6b53504d/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log).

[2019-07-03 14:35] dangermike commented on #8016
@sduskis you have unassigned @plamut. @kamalaboulhosn: What was the determination about creating a back-pressure mechanism?

[2019-07-03 17:10] tswast commented on #8571
Retry support tracked in https://github.com/googleapis/google-cloud-python/issues/7907

There's an open PR at https://github.com/googleapis/google-cloud-python/pull/8177, but not complete.

[2019-07-03 17:12] tswast commented on #8571
Per Tres's comment, BigQuery uses RetryStrategy here:

https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L1603-L1606

[2019-07-03 18:13] sangramql commented on #7851
looks like CRUD tests already added by @tseaver .

<img width="1440" alt="Screen Shot 2019-07-02 at 9 43 56 PM" src="https://user-images.githubusercontent.com/39852271/60615203-38112080-9dec-11e9-895e-7b8161805fc6.png">

[2019-07-03 21:16] crwilcox opened #8608 "ReadTheDocs /latest not redirecting to current documentation"
Following various links when looking up the documentation for the Python Client for Stackdriver Monitoring API (for example), which points to https://google-cloud-python.readthedocs.io/en/latest/monitoring/

Renders an odd unstyled 404 page as does
https://google-cloud-python.readthedocs.io/en/latest/

Clicking through to the last "stable" link does work. As part of the redirector it seems some of

[2019-07-04 11:56] mxlei01 commented on #8540
Figured it out, the problem is that the query is executed but it needs to extract the data first by using the iterator first.

[2019-07-04 11:56] #8540 closed

[2019-07-04 15:15] mf2199 commented on #8187
We have tried to reproduce that issue, starting the emulator on localhost:8086 and following the steps listed in the description. The statement os.kill(emulator_pid, signal.SIGSTOP) in the script tries to stop the emulator to check for the deadline error. Instead, the script hangs with no error messages or statements, right after executing that line. However, when we open another terminal and run

[2019-07-04 21:50] MarcelBeining commented on #7804
If you found the solution, please provide it to me, too as my issue anthony-tuininga/cx_Freeze#448 was never answered but simply closed...

[2019-07-05 06:55] Maxime-Champain commented on #7804
[code]

This is the cx_freeze script that work for me. @MarcelBeining

[2019-07-05 07:43] pilis opened #8611 "Cloud IOT Core create device to registry throws: "protocol message DeviceCredential has no "publicKey" field.""
When I try to create a device to the registry it throws an error with the schema of the device template. I've tried to add it by calling REST API directly and it works.

I'm using the latest version of Python client

Code example:
[code]

Stack trace:
[code]

[2019-07-05 12:20] GuanacoDevs opened #8612 "How to install google.cloud.functions_v1?"
In order to use autocompletion for python in vscode I name my functions parameters like below:

    def list_collections(new_document_ref: firestore.DocumentReference, old_document_ref: firestore.DocumentReference):

A `google-cloud-function` when triggered comes with a `event: dict` and a `context: google.cloud.functions_v1.context.Context`
Is it possible to install the `google.cloud.functions_v1

[2019-07-06 10:15] arinto opened #8614 "Google Cloud Storage: File not found when downloading blob using GCS URI"
#### Environment details

1. OS type and version: MacOS 10.14.5
1. Python version and virtual environment information:` Python 3.6.8 :: Anaconda, Inc`.
1. google-cloud-storage version:
[code]

#### Steps to reproduce

  1. Run the code example

#### Code example

[code]

#### Stack trace
[code]

Making sure to follow these steps will guarantee the quickest resolution possible.

Thanks!

[2019-07-06 10:16] arinto commented on #8614
Apparently it has been fixed in a9d9cca1738115c85406da047add13d820eb1a65 but not yet released. Will close this issue.

[2019-07-06 10:16] #8614 closed

[2019-07-07 15:09] akkhil7 commented on #2366
`--user` flag helped in my case. Thank you @tseaver

[2019-07-08 08:25] davwan opened #8615 "BigQuery: how are field names derived when uploading from GCS using autodetect?"
[code]
I use autodetect to load data to BigQuery, but I find a question.
If all the columns in my file are the STRING type, the field name of the table is the default naming convention.
Smaple data:

f2b83c24|a8|1b2d524a4d|36fb93c9|FRA|a197312|aF|aN|aY|aY

As follows.
![1](https://user-images.githubusercontent.com/49048546/60794213-d958f780-a19b-11e9-9531-8531a24727d7.PNG)
 But if I change one col

[2019-07-08 11:15] arthurdarcet opened #8616 "PubSub: deadlock when cancelling a subscribe call"
#### Environment details
2. OSX
3. Python 3.7.3 in a venv
4. google-cloud-pubsub 0.42.1

#### Steps to reproduce

Running cancel very soon after the `subscriber.subscribe` call leads to a deadlock. See example code below, that stops after between 0 and 4 loops on my computer.

#### Code example

[code]

#### Stack trace
[code]

[2019-07-08 16:03] tseaver commented on #7851
@sangramql All the work for this issue is on the `storage-add-hmac-key-support-feature` (PR #8430), whose merge is pending approval from @jkwlui that the feature is reading for non-whitelisted use on the production backend.

[2019-07-08 16:26] tseaver commented on #8611
The `google-cloud-iot` library uses the RPC API, rather than the REST one:  in that API, the [`RegistryCredendials` message](https://github.com/googleapis/googleapis/blob/b4c73face84fefb967ef6c72f0eae64faf67895f/google/cloud/iot/v1/resources.proto#L239-L245) has the following form:

[code]

Note that the [`PublicKeyCertificate` message](https://github.com/googleapis/googleapis/blob/b4c73face84fefb

[2019-07-08 16:26] #8611 closed

[2019-07-08 16:42] tseaver commented on #8612
This repository does not have support for the Cloud Functions API:  AFAIK, there is no released Python distribution which exports an importable `google.cloud.functions' package / module.  The fields of the context are [enumerated in the Cloud Functions docs](https://cloud.google.com/functions/docs/writing/background#function_parameters).

[2019-07-08 16:45] tseaver commented on #8616
@plamut Can you take a look?

[2019-07-08 17:04] tseaver commented on #8552
[Very strange](https://source.cloud.google.com/results/invocations/422ad5ef-3bec-4018-bfc2-246ad2b9f334/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):  the call to `Bucket.acl.reload` *does* raise the expected `BadRequest` when running under Python 2.7, but does *not* raise as expected under Python 3.6.

[2019-07-08 17:22] plamut commented on #8616
I can check, but only in a few days at earliest.

[2019-07-08 17:37] #8437 closed

[2019-07-08 17:54] tseaver commented on #8616
@plamut No worries, seems like an odd edge case.

[2019-07-08 20:31] tseaver commented on #8552
Running the system test with Python 3.6, here is what I see from a breakpoint inside [`BucketACL.reload`]():

[code]

Note that the resource's `iamConfiguration` contains `bucketPolicyOnly': {'enabled': False}` (?!)

[2019-07-08 20:33] tseaver commented on #8552
Under Python 2.7:

[code]

Here, the resource's `iamConfiguration` contains `'bucketPolicyOnly': {'enabled': True}`, as expected.

[2019-07-08 20:45] tseaver commented on #8552
Stepping into the calls to `bucket.patch` under Python 3.6:

[code]

and under Python 2.7:

[code]

Clearly, the `PATCH` for setting BPO is not working under Python 3.6, but *is* somehow working under Python 2.7.

[2019-07-08 21:06] tseaver commented on #8552
@frankyn reports that a fix for the back-end change which causes this weird failure is due by 2019-07-12.  In the meanwhile, PR #8617 will allow us to get CI back to green.

I'm leaving this issue open to track that rollout.

[2019-07-08 22:11] tswast commented on #8466
@meisam91 Are you using a service account or user-based credentials? With service account credentials, there's a known issue on the backend where no transfer configs are listed.

[2019-07-08 23:25] meisam91 commented on #8466
@tswast I was using the default service account assigned to cloud functions / cloud shell.

Do we have any idea on when this backend issue would be fixed? Could you point me to the ticket created around the backend issue so I can keep tabs on it?

Thanks a lot!

[2019-07-09 02:50] #8612 closed

[2019-07-09 07:54] sangramql commented on #7851
Got it. Thank you @tseaver

[2019-07-09 09:23] mf2199 commented on #7500
With live Firestore, all the system tests pass. With the emulator, out of the 24 tests in total, 17 pass and 7 fail. The reasons are yet to be determined, for the following error messages:

4 tests showing error "Few assertion failed with emulator, but works with real one."
	test_update_document(client, cleanup),
	test_query_stream(client, cleanup),
	test_get_all(client, cleanup),
	test_batch(clie

[2019-07-09 12:03] arthurdarcet commented on #8616
As far as I can see:
- this blocks here: https://github.com/googleapis/google-cloud-python/blob/afc4d94c35883318348457f252f9dde4cd78a223/api_core/google/api_core/bidi.py#L633
- this `recv` call never returns because it keeps throwing an `Unknown` error - which the StreamingPullManager considers "retryable"
- the underlying error is
[code]
- the emulator I'm using is not showing anything in its log

[2019-07-09 17:28] #8455 closed

[2019-07-09 18:12] crwilcox commented on #8571
@tswast to some extent this isn't about exposing retries. Currently, there are no timeouts for connecting. This is problematic and can cause clients to hang. Is this handled special in retry strategy? The way the storage client is configured, we are using the defaults from `urllib3` which has infinite timeout for both connect and read.

[2019-07-09 19:51] busunkim96 commented on #8612
@GuanacoDevs It looks like that package is maintained by the Cloud Functions team. Please file a feature request on their [public issue tracker](https://b.corp.google.com/issues?q=status:open%20componentid:187195) asking for them to make this package  publicly available.

You can also try the [Slack or Stack Overflow](https://cloud.google.com/functions/docs/getting-support). If you have a support

[2019-07-09 21:15] tswast commented on #8571
At least in GAPIC, the retry config sets a timeout as part of the request, though I'm not seeing it in the linked RetryStrategy class.

In BigQuery, we do have a separate timeout parameter for some operations. We should probably be more consistent about these.

https://github.com/googleapis/google-cloud-python/blob/d72161de6da2f9e545e7aac16e084ab2365ecf25/bigquery/google/cloud/bigquery/client.py#L

[2019-07-10 00:20] kamalaboulhosn commented on #8016
I think it's something we'll still need to discuss. We had considered it at some point. We also considered exposing the stats for the outstanding requests so that the user could make the decision about what they wanted to do when there were a lot of outstanding sends.

[2019-07-10 01:47] ctivanovich commented on #8268
I'm getting this error as well, and I have updated all google cloud python libraries.

[2019-07-10 13:06] deeppotato opened #8633 "Firestore: collection_group query with start_after passing a snapshot"
Problem: start_after() does not work for collection group queries when passing a document snapshot.

#### Environment details

python 3.7
google-cloud-firestore version 1.2

#### Steps to reproduce

  1. Setup a Google Cloud project with Firestore in Native Mode.

#### Code example

[code]

#### Stack trace
[code]

[2019-07-10 16:49] Kami opened #8634 "Datastore: Datastore Client library should expose an API for working directly with Entity Protobuf objects"
Right now the Datastore Python client library provides a high-level convenience API for working with native Python types by utilizing a special Entity class which behaves like a dictionary.

Underneath, the client library converts this Entity and native Python types to Entity Protobuf object which is what Google Datastore API expects and works with.

This works great when only working with Python

[2019-07-10 17:11] tseaver commented on #8571
Notes to future self:  [docs for `requests` timeout handling](https://3.python-requests.org/user/advanced/#timeouts).

[2019-07-10 18:05] plowman opened #8635 "Tasks: Dependency 'grpc-google-iam-v1==0.12.0' has syntax error"
TL;DR: google-cloud-tasks has a dependency on grpc-google-iam-v1. The latest version of grpc-google-iam-v1 (0.12.0) has a syntax error which prevents other packages from importing it.

#### Environment details
1. OS type and version
    * Ubuntu 18.04
2. Python version and virtual environment information: `python --version`
    * Python 3.7.3
3. google-cloud-<service> version:  `pip show google-<s

[2019-07-10 18:15] crwilcox commented on #8451
Reopening this for a bit more disucssion. I understand that the API is that way. That doesn't make it easy for our customers to use. If we wanted to mirror the API exactly, we could generate this client :)

Today, calls to `table.row(..).commit()` can return None, a dict, a row. This makes using this surface a bit odd. The args to row do determine the return type, but this is very hard for languag

[2019-07-10 18:24] tseaver commented on #8635
I can reproduce in a clean virtual environment:

[code]

[2019-07-10 18:35] tseaver commented on #8268
@ctivanovich Can you please show the `requirements.txt` for your Cloud Functions environment?

[2019-07-10 18:36] crwilcox commented on #8635
There is a bug in the latest `grpc-google-iam-v1 0.12.x` versions. We are releasing a patch to fix the doc string.

This said, the pinned version of this dependency in `google-cloud-tasks` is `<0.12.0dev`.

Is there a reason you are specifying the dependencies of `google-cloud-tasks`? It is likely safer for you to trust the pinning of the package for both `grpc-google-iam-v1` and `google-api-core`

[2019-07-10 19:25] crwilcox commented on #8635
v0.12.3 no longer has the syntax error. That said, v0.12.3 is not compatible in every way with v0.11.x versions. Please respect the versions in the setup.py to avoid having similar failures.

[2019-07-10 19:25] #8635 closed

[2019-07-10 19:40] plowman commented on #8635
@crwilcox yeah, it's a fair question. We have CI which auto-updates all of our packages to the latest version and then runs test/lint, which is how this issue was surfaced to us. This is a pretty good way to make sure everything is up to date while also finding breaking changes as they are published rather than waiting until you are forced to upgrade a package.

Obviously, `google-cloud-tasks` is

[2019-07-10 20:13] evanj commented on #8187
@mf2199 That is exactly the bug: The Python script hangs forever, despite attempting to set a deadline of 0.5 seconds, as specified by the documentation. The following alternative version "monkey patches" the library to set the deadline on the gRPC call. You will notice this one eventually fails with DeadlineExceeded:

[code]

[2019-07-10 20:19] evanj commented on #8187
Actually, when I read your comment again, I see that it sounds like you are getting some other result. The result I get when executing the above test, with the `patching ...` lines 53 and 54 commented, on a Linux machine is the following:

[code]

[2019-07-10 20:24] #7829 closed

[2019-07-10 21:47] shollyman commented on #7246
I believe this should work now.  Creating a view will yield the derived schema, and a table update call can amend the schema field descriptions.

[2019-07-10 21:47] #7246 closed

[2019-07-10 22:02] #6605 closed

[2019-07-11 00:13] KoolKidz112 commented on #2990
got the same problem, no solutions worked
`Collecting scikits.samplerate
  Using cached https://files.pythonhosted.org/packages/8f/42/532aa18dc4771190c5b
7825e99c13b63ff1021e25421075756f61696e74a/scikits.samplerate-0.3.3.tar.gz
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: SamplerateInfo:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying

[2019-07-11 06:43] heisen273 commented on #5539
`insert_row` does not work. . .

[2019-07-11 08:41] gtseres opened #8642 "Stackdriver Monitoring: Provide ability to filter by user labels"
**Is your feature request related to a problem? Please describe.**
It would be very useful to have the ability to filter based on user labels, e.g. a label that we have added to a GKE container that ends up in the user_labels section in Stackdriver. This kind of filtering is possible via the UI/API AFAIK, using the `metadata.user_labels` field.

 **Describe the solution you'd like**
Exposing this

[2019-07-11 13:00] evanj commented on #8016
FWIW, I believe the official Go client will return an error when the number of buffered bytes exceeds a threshold, by default: 10 * maxMessageLength: https://github.com/googleapis/google-cloud-go/blob/master/pubsub/topic.go#L103

[2019-07-11 17:01] crwilcox commented on #8635
@plowman thanks for escalating this. It helped us fix this early before we took a dependency on it.

[2019-07-11 17:20] ryanreno opened #8646 "BigQuery: Add support to Dataset for project_ids with org prefix."
Similar to #7827. Can not create a Dataset using a project ID with org prefix.

#### Environment details

1. Python version: `Python 3.6.5`
2. google-cloud-<service> version:
  Name: google-cloud-bigquery
  Version: 1.16.0

#### Steps to reproduce

  1. Follow the [Creating a Dataset guide](https://googleapis.github.io/google-cloud-python/latest/bigquery/usage/datasets.html#creating-a-dataset)

##

[2019-07-11 17:31] ryanreno commented on #8646
A workaround I found that works:

[code]

[2019-07-11 17:38] nojvek opened #8648 "(gsutil) 'Timing-Allow-Origin' header is not supported for setmeta."
#### Steps to reproduce

  1. `gsutil setmeta -h "Timing-Allow-Origin: *" gs://bucket/somepath/somefile`

#### Expected

The header is set on object and gcs serves that header out.

### Actual
[code]

I can set the header manually in console.cloud.google.com but GCS still doesn't serve the header.

The chromium folks recommend that header is needed for native browser performance api to work proper

[2019-07-11 18:38] tseaver commented on #8648
@nojvek I'm afraid this repository is not the right location for reporting issues with `gsutil`.  Please use one of the [Storage support resources](https://cloud.google.com/storage/docs/getting-support), or perhaps the "Send Feedback" link at the top right of the [`gsutil sendmeta` reference docs page](https://cloud.google.com/storage/docs/gsutil/commands/setmeta).

[2019-07-11 18:38] #8648 closed

[2019-07-11 18:46] tseaver commented on #7826
Because the `google.api_core.bidi' module remains carefully agnostic of specific gRPC status codes (it doesn't even import anything from 'grpc'), I believe the best approach here is to add another argument, `should_terminate`, to the `ResumableBidiRpc` class,. Like `should_resume`. it would take a future / error and return a boolean (true if the stream should terminate).  By default, no errors wou

[2019-07-11 19:54] crwilcox commented on #8451
A possible option to address this is also to remove the 'row' abstraction. This is the reason for the divergence in return types based on params. These different methods also have different performance characteristics.

A possible option forward is to deprecate the existing rows method, and surface the 3 methods it is masking.

[2019-07-11 20:25] sduskis commented on #8451
+1 on 3 methods.

[2019-07-11 21:41] Magic-Legs opened #8651 "Python passing over/ignoring `create_bucket` and `upload_blob` functions in Google Cloud Storage with 404 Error when running code"
I am running into problems when running my code. It is passing over/ignoring the create_bucket() and upload_blob() functions and returning a NotFound: 404 No such object: gcspeechstorage/output.wav error. I have isolated the working parts of the code, and I am left with those two problematic functions. I should also note, that in previous tests, I was was able to run transcribe_gcs and it did inde

[2019-07-12 15:47] BenWhitehead opened #8664 "Firestore: Generate Admin V1 Client."
Adding the Firestore Admin API Client will allow programmatic management of indexes, and export/import operations.

* Artman config: [artman_firestore_v1.yaml](https://github.com/googleapis/googleapis/blob/master/google/firestore/admin/artman_firestore_v1.yaml)

Feel free to ping me if any updates are needed for the artman file.

b/129353554

[2019-07-12 15:51] tswast commented on #5204
Fixed in #8609

To be released in `google-cloud-bigquery` 1.17.0 (https://github.com/googleapis/google-cloud-python/pull/8663).

[2019-07-12 15:53] tswast commented on #5204
FYI: `results.to_arrow(bqstorage_client=bqstorage_client).to_pandas()` is currently the fastest way to get a pandas DataFrame from your query results. About 4 seconds from results to DataFrame for a 125 MB table.

[2019-07-12 16:44] tseaver commented on #8651
@Magic-Legs Your script *declares* `create_bucket` and `upload_blob` functions, but never *calls* them, which means the blob you are trying to transcribe indeed doesn't exist.

[2019-07-12 16:44] #8651 closed

[2019-07-12 17:30] tseaver commented on #8664
Supersedes #6334.

[2019-07-12 17:31] tseaver commented on #6344
Superseded by #8664.

[2019-07-12 17:32] tseaver commented on #8664
@BenWhitehead One question:  is there any requirement to tweak the admin client surface, or is this a pure autogen client?

[2019-07-12 18:15] tseaver commented on #8664
@BenWhitehead I do need a change in `googleapis`:  please see https://github.com/googleapis/googleapis/pull/566.

Rationale: the gapic-genrator is dumping the protoc-generated Python files in `~/.cache/synthtool/googleapis/artman-genfiles/python/firestore-admin-v1/google/cloud/firestore_v1`, rather than the expected `.cache/synthtool/googleapis/artman-genfiles/python/firestore-admin-v1/google/clou

[2019-07-12 18:54] #6344 closed

[2019-07-12 20:04] tseaver opened #8668 "Testing: 'get_target_packages_kokoro.py' script recieving bogus output."
From [this Kokoro job today](https://source.cloud.google.com/results/invocations/ef22b02c-8631-4f6d-bd99-33de0d84984c/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fwebsecurityscanner/log):

[code]

[2019-07-12 20:09] tseaver commented on #8668
Another job 404s out from the `get_target_packages_kokoro.py` script:

[code]

[2019-07-12 20:12] tswast commented on #5204
Looks like I added the `bqstorage_client` arg to `RowIterator`, but I missed adding it to `QueryResults`. It can still be used by calling `QueryResults.results().to_arrow(bqstorage_client=bqstorage_client)`, but we should add it to `QueryJob` for consistency.

[2019-07-12 20:12] tseaver commented on #5204
@tswast Did you mean to reopen here?

[2019-07-12 20:13] tswast commented on #5204
@tseaver Yep. I missed one parameter update in the PR that added this feature.

[2019-07-12 20:58] busunkim96 commented on #8668
Looks like we need a token in the Kokoro environment. I'll take this.

[2019-07-12 22:44] frankyn commented on #8552
Issue is not yet fixed in production. Rollout was paused and will have an update next week.

[2019-07-14 18:02] mf2199 commented on #7807
The above mentioned directory and the associated files can be found in the [Happybase](https://github.com/googleapis/google-cloud-python-happybase) repository. It is true that the `CONTRIBUTING.rst` file can be updated, to clarify these refrences as being particular examples, or rephrased, to provide a more accurate, generalized system testing guidance.

[2019-07-15 15:25] shiroyuki opened #8674 "BigQuery: ImportError due to missing client_pb2"
#### Environment details

| OS | Affected Python Versions | Virtual Environment Used? |
| --- | --- | --- |
| MacOS 10.14.5 | Python 3.7.0 and 3.7.4 | No |

[code]

#### Steps to reproduce

  1. Just try to import `bigquery`. *`ImportError` is raised at this step.*

(Updated: at July 15 11:34 AM EDT)
Please note that:
* Without using a virtual environment, importing the module is perfectly fine on

[2019-07-15 16:45] bbookman opened #8675 "Section on model has broken HTML and is not readable"
The following is displayed on https://googleapis.github.io/google-cloud-python/latest/speech/gapic/v1/types.html#google.cloud.speech_v1.types.RecognitionConfig

model
Optional Which model to select for the given request. Select the model best suited to your domain to get best results. If a model is not explicitly specified, then we auto-select a model based on the parameters in the RecognitionConf

[2019-07-15 17:02] tseaver commented on #8674
I cannot reproduce this in a fresh virtual environment:

[code]

It looks like you need to upgrade `googleapis-common-protos` in your virtual environment.

[2019-07-15 17:03] #8674 closed

[2019-07-15 17:10] tseaver commented on #8675
Thanks for the report.  The issue here is that the [`cloud_speech.proto` file](https://github.com/googleapis/googleapis/blob/47bd0c2ba33c28dd624a65dad382e02bb61d1618/google/cloud/speech/v1/cloud_speech.proto#L282-L314) embeds HTML in its comments, which cannot be rendered correctly into a Python docstring by the GAPIC generator (see [this issue](https://github.com/googleapis/gapic-generator/issues

[2019-07-15 17:24] shiroyuki commented on #8674
@tseaver It seems to be working after upgrading `googleapis-common-protos`. Thank you very much for your help. 😄

By the way, should the required version of `googleapis-common-protos` be at least `1.6.0` to force `pip` to use the compatible version of the package?

[2019-07-15 17:57] tseaver opened #8676 "Logging: systest teardown flakes with 404."
From: https://source.cloud.google.com/results/invocations/91034a85-0df7-4b53-bba7-258e166bb3fe/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Flogging/log

[code]

Superficially similar to #5632, but in this case, the log being deleted has a unique name.

[2019-07-15 18:54] #6557 closed

[2019-07-16 12:35] Mayson12381 opened #8681 "Vision - Using Batch Offline Annotation asynchronously"
I am currently implementing a GCloud function applying the vision API to given images. Currently, the function is running for about 30 seconds (5 images) using the _async_batch_annotate_images_. My goal was to call the async method to leave the function early to save computing time.

This is the last part of my code,  everything works so far:

[code]

How is it possible to call the async method an

[2019-07-16 13:32] Mayson12381 commented on #8681
Actually, I just realized that most of my computing time comes from downloading the image that triggered the function, preprocessing it and uploading it do google storage again. How can I speed up that process?

[2019-07-16 16:21] parthmishra commented on #8681
What aspect of the preprocessing is actually taking up time? If the image is small enough to be load in memory, I believe you can use it as a local input source to the `async_batch_annotate` call and then upload the preprocessed version to GCS. This way you kick off the Vision API request without waiting for it to upload to GCS first.

[2019-07-16 16:29] plamut commented on #8616
I can confirm this issue is reproducible.

Digging through the code, it appears that it sometimes gets stuck while trying to get the next response from the `StreamingResponseIterator` - [line 79](https://github.com/googleapis/google-cloud-python/blob/master/api_core/google/api_core/grpc_helpers.py#L79):
[code]

When this occurs, I see several calls to `oauth2.googleapis.com` from multiple anonymou

[2019-07-16 16:49] tseaver commented on #8616
I wonder if this issue is related to #7826.  In that issue, the `CANCELLED` response triggers an unwanted traceback in the log.  My PR #8650 handles `CANCELLED` (for Firestore) by shutting the BiDi stream down cleanly without raising an exception.  It would be pretty trivial to extend the same semantics for Pub/Sub (in fact, I already have it done in a local git stash).

[2019-07-16 17:14] tswast commented on #5204
@plamut Remaining task to close out this FR is to add the `bqstorage_client` argument to `QueryJob.to_arrow()`

https://github.com/googleapis/google-cloud-python/blob/e4cf3f4458d13ce5b0203060dc4249d3e34e80a7/bigquery/google/cloud/bigquery/job.py#L2899

See `RowIterator.to_arrow()`:

https://github.com/googleapis/google-cloud-python/blob/e4cf3f4458d13ce5b0203060dc4249d3e34e80a7/bigquery/google/clou

[2019-07-16 17:24] shollyman opened #8685 "BigQuery: Verify/implement list options for dataset and job collections"
- Verify that "minCreationTime" and "maxCreationTime" filters are available for users of [jobs.list](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/list).

- Verify that label filtering (the "filter" param) is available for users of [datasets.list](https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets/list)

- If there are any tests or samples that blindly iterate across

[2019-07-16 17:47] tseaver opened #8686 "Update pin for 'googleapis-common-protos'."
From #8674.

Recent autogen changes have begun using features present only in `googleapis-common-protos 1.6.0+`, specifially the `google.api.client` package.  E.g.:

[code]

This "leakage" can break clients who are upgrading an existing virtualenv, because ce currently pin `googleapis-common-protos >= 1.5.3, != 1.5.4, < 2.0dev` in `api_core/setup.py`, and `googleapis-common-protos >= 1.5.9, < 2.0.

[2019-07-16 21:16] tseaver commented on #5514
@crwilcox Do you have a sense about how we could move forward on #7918 as a way to address this issue?  https://github.com/googleapis/googleapis/blob/master/google/cloud/audit/audit_log.proto exists, but that isn't enough machinery to do one of our "normal" synth jobs.

[2019-07-16 21:32] nojvek commented on #8648
No worries: I filed  a bug in Cloud Storage's issue tracker: https://issuetracker.google.com/issues/137673895

[2019-07-16 23:38] busunkim96 commented on #5507
Marking this is as `external`. Please close if this has been resolved.

[2019-07-16 23:41] busunkim96 commented on #5318
@crwilcox I know it's been a long time since this was filed, but is there a bug open internally against the StackDriver team for this issue?

[2019-07-16 23:45] busunkim96 commented on #5879
@crwilcox @frankyn @jkwlui @tseaver (Is there a storage team alias?)

Would you mind looking into the internal issue? It's been closed as 'Won't fix - not reproducible', but folks have commented here and over on the issue since then.

[2019-07-17 08:28] Mayson12381 commented on #8681
Yes, the image is small enough. I wanna do sth like this https://github.com/googleapis/google-cloud-python/issues/5661#issue-343072360

This is my code so far:
[code]

The error is: _Note that At this time, only plain GCS uris are supported and a gcs image uri has to be put in image.source.image_uri of each request_

The method actually stores something in my gs: but its a plain text file of the f

[2019-07-17 09:12] plamut commented on #8616
Maybe, I can try that when #8650 is merged.

[2019-07-17 12:08] mholleville opened #8692 "Cannot connect to regional cluster"
Hi ! I can't connect to regional cluster. Can you explain me why ?

Trying this

`.list_node_pools(project_id=self.projectId, zone='europe-west1-d', cluster_id=self.clusterName)`

When I look documentation

"zone (str): Deprecated. The name of the Google Compute Engine`zone <https://cloud.google.com/compute/docs/zones#available>`__ in which the cluster resides, or "-" for all zones. This field has

[2019-07-17 16:15] crwilcox opened #8695 "Spanner: Error message for non-existent spanner instance is hard to debug."
When an invalid (non-existent) instance id is specified the error you receive isn't intuitive.

[code]

### Expected
An error indicating my instance doesn't exist.

### Actual
google.api_core.exceptions.InvalidArgument: 400 Invalid CreateSession request.

[code]

[2019-07-17 17:01] #5204 closed

[2019-07-17 17:03] #7826 closed

[2019-07-17 17:28] tseaver commented on #8692
@mholleville Thanks for the report.  This is due to a strangeness in the [proto file for the Cluster service](), which deprecates the three original atttributes of the `ListNodePoolsRequest` message (`project_id`, `zone`, `cluster_id`) and makes the fourth one (`parent`) required.

As a workaround, you can pass `None` for the three deprecated arguments, e.g.:

[code]

@lukesneeringer I don't under

[2019-07-17 17:32] tseaver commented on #8695
@crwilcox I'm not sure how we can fix that:  is there a more useful message in the details of the exception we can surface?  We don't want to implicitly generated an 'instance.get' call early to enforce instance existence.

[2019-07-17 17:35] tseaver commented on #8616
@plamut I merge it today.

[2019-07-17 17:42] tswast opened #8696 "BigQuery: Add user-agent info to Jupyter magics Client constructor(s)."
In order to better prioritize jupyter features such as #8342 and #8143, it is important for Google to know how much these features are used to query BigQuery. This is done by populating the user-agent string with the corresponding "application name" and version information.

I propose we use the IPython version information in this string, as these magics are being used from an IPython kernel. Gett