[2017-12-18 16:57] dhermes commented on #4607
@FcrbPeter Calling `PublisherClient.publish` adds to a batch, but doesn't necessarily commit that batch. The batch will be committed in the background after the default [`max_latency==0.05s`][1] has elapsed. If you'd like to commit the batch immediately you could do something like:

[code]

Does this answer your question? Do you think there is a particular place in the documentation where we could

[2017-12-18 16:59] dhermes commented on #4608
Thanks for filing. I'm currently fixing #4575, which seems related.

[2017-12-18 17:15] #4488 closed

[2017-12-18 17:43] Pistolera opened #4609 "BigQuery _TABLE_SUFFIX for ga_sessions"
This query works fine...

[code]

but when i need use `_table_suffix`

[code]

Dont works any more...
This happened in thats date because hits.page is record repeteabled... in month 08 or 09 works fine because is record NULL
ANY IDEA???

REGARDS

[2017-12-18 18:21] vkedia commented on #3269
@lukesneeringer @chemelnucfin Can you give me some examples of how I would override the timeout for things like read/query/batch?

[2017-12-18 18:48] chemelnucfin opened #4611 "Remove the `stable/` docset from gh-pages docs"
The `stable/` label hasn't made sense since we switched to **distinct** versions per package but a single docset. Right now the `stable` docs get updated on [**any** tag][1], but this is somewhat silly.

----

Previous notes:

I noticed that from #3740 [gh-pages stable](https://googlecloudplatform.github.io/google-cloud-python/stable/spanner/transaction-usage.html) which wasn't updated

but this w

[2017-12-18 19:09] ryan-lane commented on #3023
Has there been any work on this? It's a major blocker for using spanner in python.

[2017-12-18 21:22] rwillard opened #4615 "PubSub Error Handling/Health check"
We're experiencing issues where our subscription client stops pulling messages from topics that have messages. No error messages are coming through explaining what is happening. We're running the subscription client as a docker container in a kubernetes cluster. Since the subscriber runs background threads, the main process of time.sleep(30) never fails so kubernetes doesn't know to kill the pod a

[2017-12-18 21:29] dhermes commented on #4615
@rwillard I'd like to help more, can you help me with some more details:

- Output of `pip show google-cloud-pubsub`
- Could you provide a code snippet showing what you're doing, what you expect to happen and what actually happens?

[2017-12-18 23:31] dhermes commented on #4580
Digging into this right now

[2017-12-19 00:02] #4580 closed

[2017-12-19 00:45] tswast commented on #4609
This doesn't seem like a client library issue. You may have better results asking on Stack Overflow.

[2017-12-19 01:00] smemsh opened #4621 "Pub/Sub: subscriber waiting on future.result() blocks forever"
when pubsub endpoints changed recently, it broke our code (after working fine for about a year).  we have ported our code to the new async API in 0.29.2 to get it working again.

following the documentation, we're calling `.open()` to register a callback; when run, it stores the message locally, then calls `message.ack()`.  in the main loop, we're waiting on the Future's `.result()` to be returned

[2017-12-19 01:40] tswast opened #4622 "extract_table does not check that the job config is an ExtractJobConfig"
See: https://github.com/GoogleCloudPlatform/python-docs-samples/issues/1281

    bigquery_client = bigquery.Client()
    dataset_ref = bigquery_client.dataset(dataset_id)
    table_ref = dataset_ref.table(table_id)

    job_config = bigquery.LoadJobConfig()
    job_config.source_format = 'NEWLINE_DELIMITED_JSON'

    job = bigquery_client.extract_table(table_ref, destination, job_config=job_config

[2017-12-19 01:42] tswast commented on #4622
Note, this issue likely applies to the other methods on `Client` that have a `job_config` argument.

/cc @alixhami

[2017-12-19 03:33] dhermes commented on #4621
@smemsh Thanks for taking the time to file such a detailed report!

Yes, but I think this issue illustrates the need for better docstrings and probably a narrative use case.

The call

[code]

has just opened a worker (actually a few workers) that will listen for messages on the `subscription` (which is a [`Policy`][3] instance). Once `open()`-ed, the `Policy` can stay open indefinitely. The **onl

[2017-12-19 07:01] sawgataroy commented on #4581
facing above same issue after upgraded to 1.8.1 yesterday
ev_epollex_linux.cc:1482]   Skipping epollex becuase GRPC_LINUX_EPOLL is not defined

[2017-12-19 07:10] smemsh commented on #4621
thanks for the info.  having to do all work in the callback will require restructuring our program somewhat, but should be ok, there's a particular kind of message that signals completion for the overall process, and then we want to do things which the callback receiving messages doesn't know how to do; we will adapt our usage.

may I ask why the publisher returns the result when it sends a messag

[2017-12-19 10:08] ppawiggers commented on #4062
@dhermes can this issue be re-opened?

[2017-12-19 11:01] Rafff commented on #4586
Hi, does anyone have an idea of how to solve this ?
@chemelnucfin this is much more of a bug than a question.

[2017-12-19 12:47] Pistolera commented on #4609
But if i see a difference between one and another day hits.page (RECORD,REPETEABLE) in 20170703 and (RECORD,NULLEABLE) in 20170705....and the same query dont works, and i cant see any select....
I thinks exists some error...
Sorry for my english..

regards

[2017-12-19 16:08] dhermes commented on #4586
@Rafff Could you give an idea of how much data is in the table?

[2017-12-19 16:16] #4575 closed

[2017-12-19 16:17] dhermes commented on #4581
@sawgataroy That's just a stray logging message from `grpcio`. Do you have any actual crash / stacktrace?

[2017-12-19 16:22] kir-titievsky commented on #4575
danny, any idea when this will land on pypi?

On Tue, Dec 19, 2017 at 11:16 AM Danny Hermes <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-12-19 16:25] dhermes commented on #4575
Soon: see #4619

[2017-12-19 16:40] dhermes commented on #4621
If you want your callback to know about the policy it is "working for", I'd suggest something like:

[code]

----

I assume you mean the following:

[code]

The "best" answer might be that those futures (i.e. the ones from `PublisherClient.publish()`) actually have something to return (we [do a "sanity check"][1] that each message in the publish corresponds to a future on the batch).

By default,

[2017-12-19 16:53] dhermes commented on #4575
@kir-titievsky TADA :tada: https://pypi.org/project/google-cloud-pubsub/0.30.0/

[2017-12-19 17:05] kir-titievsky commented on #4575
This is still not working for me, but with a new error:
<pre>
import time
from google.cloud import pubsub_v1

publisher = pubsub_v1.PublisherClient(batch_settings)
topic_path = publisher.topic_path('XXXX', 'XXX')

for n in range(1000):
    data = u'Message number {}'.format(n)
    def dt(n, t):
        def g(message_id):
            print "%g\t%g\t%g"%(n, time.clock() - t , t)
        return g

[2017-12-19 18:00] dhermes commented on #4575
Discussed with @kir-titievsky on Hangouts. Seems to be an intermittent HTTP issue (the error indicates that `https://accounts.google.com` was unreachable).

[2017-12-19 18:02] chemelnucfin commented on #4409
Duplicates #3740.  Also, conversation with @dhermes says that the stable branch is not easily found.  Can be followed in #4611.

[2017-12-19 18:02] #4409 closed

[2017-12-19 18:02] rwillard commented on #4615
`google-cloud-pubsub==0.29.0`

[code]

The problem was the subscriber was no longer pulling messages. Previously with blocking calls, if something went wrong with a pull command or anything else, if the exception wasn't handled the application would error out. Now that we're using this library, background threads erroring doesn't cause the main process to stop. How can I programmatically verify th

[2017-12-19 18:02] chemelnucfin commented on #4409
Thank you for reporting.

[2017-12-19 18:12] dhermes commented on #4615
@rwillard First, let me recommend `google-cloud-pubsub==0.30.0` to you. There have been 5 releases since then, each of which has important bugfixes:

- [`0.29.1`][1]
- [`0.29.2`][2]
- [`0.29.3`][3]
- [`0.29.4`][4]
- [`0.30.0`][5]
- [all releases][6]

As for

Instead of calling

[code]

you could call

[code]

and then you can check if the subscriber is still working by checking `future.done()`. If

[2017-12-19 18:13] dhermes commented on #4615
This is likely because flow control was essentially totally broken before `0.29.4`.

I am going to pre-emptively close this issue, since it seems like flow control was the problem.

If you re-run your code on the latest version (`0.30.0`) and the problem still persists, let's re-open this issue and continue the discussion.

Cheers and thanks for taking the time to share details!

[2017-12-19 18:13] #4615 closed

[2017-12-19 18:14] FcrbPeter commented on #4607
@dhermes, thanks for the reply.

After reading the code about the batch, I found that the batch need to use threading.
The project is using uWSGI to run the python code and talk to Nginx. However, by default, uWSGI will not run any threads.
So, it solved by enabling the `enable-threads` option.

I think it is good to mention the usage of the threading in the documentation.

[2017-12-19 18:20] rwillard commented on #4615
@dhermes I appreciate your speedy, helpful and thorough responses. Thank you!

[2017-12-19 18:35] dhermes commented on #4608
@kir-titievsky The issue is that `max_bytes=0` makes it impossible to ever add a message to a batch. You wanted `max_messages=1`.

----

The **very first** iteration runs until it has created every thread and then fails:

[code]

If you use a custom `Batch` class you can see the number
of (totally unused) batches grow:

[code]

The code is [stuck][1] in an infinite loop.

It seems we could add som

[2017-12-19 18:38] dhermes commented on #4607
@FcrbPeter Definitely a good idea! I am hoping to see how easy it is to make it do-able to have **alternate** implementations, i.e. ones that don't use threads.

[2017-12-19 19:12] kir-titievsky commented on #4608
I agree -- this should be an explicit error, since we know what the rules
are. My expectation here, as a naive user, that 0 means 'no batching'
rather than 'impossible batching.'

On Tue, Dec 19, 2017 at 1:35 PM Danny Hermes <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-12-19 20:20] dhermes commented on #3890
So I can't reproduce the pickling error with `google-cloud-pubsub==0.30.0`, but it still fails (eventually) with a

[code]

[2017-12-19 20:31] sduskis commented on #4586
FYI, we're working on a yield_row implementation (https://github.com/zakons/google-cloud-python/tree/feature/row_iterator) that gets rid of the use of a map to track returned rows.  In other languages, we use iterators that return rows rather than using an intermediary map.  That type of iterator seems more like how a user thinks about interacting with a stream of results from Cloud Bigtable.

[2017-12-19 22:27] kir-titievsky commented on #4338
Late to the party here. Thanks for the input!
@chlela  Thank you for the detailed writeup.  I'll work through the recommendations you've made.
@ekampf I'd love to hear from you at cloud-pubsub@google.com about what you are doing with with Pub/Sub. Perhaps we could coordinate a conversation to see if we can make things easier for your with the current client API or help me make a case for extending

[2017-12-19 23:29] ekampf commented on #4338
@dhermes I don't understand your answer. the "pull" method is there and exposed by the API team and the python library explicitly hides it. Why?

@kir-titievsky it's not that we're doing anything special that requires `pull` and cant be done any other way.  The problem is that we already code that depends on `pull` and the different Google python are one big mess of dependency hell.
All the differ

[2017-12-19 23:42] dhermes commented on #4338
@ekampf The `pull` method is explicitly [hidden][1] at the request of the backend team, i.e. we do it because they asked us to. See @lukesneeringer [answer][3] above:

You're free to use `subscriber.api.streaming_pull` or `subscriber.api.pull` as [is done][2] by the internal callers.

----

This is somewhat true, but somewhat unfair. Feel free to file a specific issue that you're having and we're

[2017-12-19 23:57] ekampf commented on #4338
@dhermes I didnt mean to be unfair. Its totally understandable that some libraries depend on some common code `google-cloud-core` and that development on both the core and the different apis continues. Thats not my complaint. APIs change, code evolves...

The problem is that all the 0.27 libraries use one core, and all the 0.28 use a different core.
So once `pull` was removed in 0.28 it means we g

[2017-12-20 00:17] dhermes commented on #4338
Totally agree with you. ISTM you can mitigate by doing the following:

-   Stop depending directly on the `google-cloud` package
-   Install each package individually. If you try all at once, `pip` might angry. Though I just tried
[code]
   where the [first][1] requires `google-cloud-core==0.28.x` and the [second][2] `google-cloud-core==0.24.x`
-   After all packages are installed, run `python -m

[2017-12-20 00:44] dhermes commented on #3890
I think I need to use OS X to see what @jonparrott was seeing. Or just an older version of `google-cloud-pubsub`.

[2017-12-20 00:47] ekampf commented on #4338
We never use `google-cloud`. We only use independent libraries.
The problem is these libraries usually collide on `google-cloud-core` or some other shared common libraries.
The problem isnt with `pip install` pairing but with `google-cloud-core` itself not always being backward compatible.
Specifically, pubsub 0.27 crashes on import if run with some newer `google-cloud-core`) - I dont have the exa

[2017-12-20 00:50] dhermes commented on #4338
Good deal. We (hope) to be in a state of stability in `google-cloud-core` and `google-api-core`.

[2017-12-20 01:40] smemsh commented on #4621
I have moved our work into the callback, and upgraded to 0.30.0, and it seems to work.  however, at the end of processing, subscriber `.close()` still does not unblock `future.result()`, as I think it's supposed to based on your earlier comment:

I'm calling `.close()` in the subscriber callback when we see a completion message from our publisher, which should cause the main thread (blocked on `.r

[2017-12-20 03:33] dhermes commented on #4621
Yes I can confirm. See the [source][1]. A few questions

1. Are you saying that `.close()` actually exits?
1. Where are you calling `.close()`? You may have a thread chasing it's own tail. (There is a reason I recommended setting a `close_event` in your callback, since the policy can't be closed from within it's own worker threads.
1. (It seems like this is answered, but I'll ask anyway.) Are you

[2017-12-20 16:25] jackiosport commented on #4581
Hey, I also have this issue for data store when I deploy my project to Google App Engine (even after changing to 1.8.1). However when I run locally, there seems to be no problems. Was a long term solution reached for this problem? Many thanks.

[2017-12-20 16:42] dhermes commented on #4581
@jackiosport Are you talking about the issue reported in this bug or the issue in @sawgataroy's comment about a stray logging statement?

[2017-12-20 16:53] jackiosport commented on #4581
@dhermes I don't believe it is just a stray logging statement. I cannot re-create the error locally, but when I deploy my project to Google App Engine. I get this in the logs:
`
2017-12-20 16:26:27.000 GMT
E1220 16:26:27.496184865 9 ev_epollex_linux.cc:1482] Skipping epollex becuase GRPC_LINUX_EPOLL is not defined.`

Which seems to correspond to a HTTP 502 error. Perhaps the google docker is using

[2017-12-20 16:56] dhermes commented on #4581
No, it doesn't correspond to an error, it's just what `grpcio` logs when a channel is defined. I don't think it **should** be logging this without a user turning on logging, but it's not a sign of any breakage.

This issue refers to a different breakage regarding user metadata.

[2017-12-20 17:06] foresmac commented on #4581
@dhermes FWIW, I'm getting the same stuff dumped to stdout when I create a client locally or within a delian-based container.

[code]

As noted, it doesn't appear to be an actual error, but it was frustrating trying to figure out if it actually _was_ a problem or not. Should I (or someone) make a report on the `grpcio` repo?

[2017-12-20 17:09] jackiosport commented on #4581
@dhermes thanks for your reply. I must have associated this message with another unrelated error which occurred at the same time. A case of correlation does not imply causation!  This helps me rule out where the bug is. Thanks, Jack.

[2017-12-20 17:23] Rafff commented on #4586
@dhermes the table is huge, it contains almost 90M rows where each row contains 1 cell of 4000Bytes.

@sduskis this is awesome ! That's exactly what I was trying to achieve, I was using the read_rows to yield row by row to my application. When do you think this could be released ?

Thanks for your time !

[2017-12-20 17:24] dhermes commented on #4581
Sure thing, here is a [link][1]

[1]: https://github.com/grpc/grpc/issues/new

[2017-12-20 17:32] #4071 closed

[2017-12-20 17:59] #4611 closed

[2017-12-20 18:38] dhermes commented on #4578
Closed by #4595.

[2017-12-20 18:38] #4578 closed

[2017-12-20 19:27] chemelnucfin commented on #3740
Closed via #4610, #4611, #4409, #4630

[2017-12-20 19:33] chemelnucfin commented on #4364
Closed via PRs from above

[2017-12-20 19:33] #4364 closed

[2017-12-20 21:57] tswast commented on #4609
It sounds like what you're saying is that the schema changed as some point (probably on 2017-07-04) so that the `hits.page` column is now nullable instead of a repeated field. Am I understanding you correctly?

Since the table names are `ga_sessions_*`, does that mean these tables are coming from Google Analytics 360? You probably want to reach out to your sales person / support contact for Google

[2017-12-20 22:20] schmidt-sebastian commented on #4378
@chemelnucfin Can you provide an estimate for this issue?

[2017-12-20 22:20] schmidt-sebastian commented on #4111
@chemelnucfin Can you provide an estimate for this issue?

[2017-12-20 22:28] chemelnucfin commented on #4378
@schmidt-sebastian #4392 has been approved by jba, but dhermes would like to review it first before I merge it.

[2017-12-20 22:31] chemelnucfin commented on #4111
@schmidt-sebastian Sorry I didn't realize I should be looking at this.  I'll take a look right away.

[2017-12-20 22:33] chemelnucfin commented on #4378
@schmidt-sebastian Danny has been helping me quite a bit on spanner reviews and getting pull requests in for pubsub and a lot of others.  I can understand that he's quite busy with other tasks.

[2017-12-20 23:19] schmidt-sebastian commented on #4378
That's fine, just wanted to make sure that this doesn't get dropped.

[2017-12-20 23:36] dhermes commented on #4600
Fixed by #4642.

[2017-12-20 23:47] duggelz opened #4645 "Inconsistent nox session names"
These three nox.py files have not been updated to use the new session names like `unit(py='2.7')`, and still use the old names like `unit_tests(py='2.7')`

- bigquery_datatransfer/nox.py
- container/nox.py
- dataproc/nox.py

[2017-12-20 23:53] dhermes commented on #4645
@lukesneeringer This is also a de-facto bug report for the generator.

[2017-12-21 01:52] zero-master opened #4647 "BigQuery: How to write Query Results to a table?"
See for more info: https://cloud.google.com/bigquery/docs/writing-results

[2017-12-21 04:28] sachin-shetty opened #4648 "pubsub - modify_ack_deadline does not work, message gets redelivered after 10 minutes always"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
google-cloud-pubsub - 0.29.2
2. OS type and version
Linux 4.4.0-104-generic #127-Ubuntu SMP Mon Dec 11 12:16:42 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
3. Python version and virtual environment information `python --version`
Python 2.7.12
4. google-cloud-python vers

[2017-12-21 05:16] dhermes commented on #4648
@sachin-shetty Could you try with `google-cloud-python==0.30.0`. There were a few bugs in flow control fixed between `0.29.2` and `0.29.4` (though it doesn't seem like that would be causing the issue you describe.

[2017-12-21 05:20] dhermes commented on #4648
Also, I'm not 100% sure how the line

[code]

will interact with the lease management thread (i.e. the one that is logging "Renewing lease for ...") but that seems to be the problem.

The "expected" usage pattern would be that you assume your callback only need the state of the `Message` it gets:

[code]

[2017-12-21 06:40] sachin-shetty commented on #4648
Hi @dhermes

Tried new version as well as pubsub_message.modify_ack_deadline. Same result. Message gets re-delivered in exactly 10 minutes even after calling pubsub_message.modify_ack_deadline(120) every minute.

and even though pubsub_message.modify_ack_deadline(120) is called, debug logs still show 10s
[code]

[2017-12-21 07:01] BardiaAfshin opened #4649 "attempting to run Quickstart.py"
Downloaded the latest google-cloud-python and followed the instructions to run Quickstart.py.

[code]

I get error
[code]

help?

[2017-12-21 08:08] sachin-shetty commented on #4648
I tried commenting _start_lease_worker() in subscriber/policy/thread.py, that stopped the lease worker from forcing a 10s ack deadline.

but the message sent to server by the subscriber.modify_ack_deadline(sname, [pubsub_message._ack_id], 120) still shows as 10s in the debug logs. I see that 10s is hardcoded in base.py

Is there a version I can downgrade to to get this to work, I need longer messa

[2017-12-21 12:28] smemsh commented on #4621
indeed, was running `.close()` from callback, which would have been run by the subscriber policy thread.  I determined that `.close()` was in fact not returning as you mentioned it might not

following your earlier suggestion I implemented the thread.Event(), using an `is_set()` in main loop to check if we should run the `.close()` method.  otherwise I loop on `future.result(timeout=1)` checking f

[2017-12-21 13:19] arindamchoudhury opened #4650 "GRPC_LINUX_EPOLL is not defined"
Hi,
I am using
google-cloud-pubsub==0.30.0
grpcio==1.8.2

Whenever I instanciate a PublisherClient, I am getting these messages:
E1221 13:17:26.610316777       9 ev_epollex_linux.cc:1482]   Skipping epollex becuase GRPC_LINUX_EPOLL is not defined.
E1221 13:17:26.610714403       9 ev_epoll1_linux.cc:1261]    Skipping epoll1 becuase GRPC_LINUX_EPOLL is not defined.
E1221 13:17:26.610820117       9 e

[2017-12-21 16:38] dhermes commented on #4649
@BardiaAfshin Could you point out where you've gotten `quickstart.py`?

[2017-12-21 16:59] dhermes commented on #4650
@arindamchoudhury Thanks for reporting. These are not a sign of any error, just stray logging statements that "escape" from the `grpcio` package (which is how our clients "speak gRPC").

I am going to close this issue, since there isn't anything we can do in `google-cloud-python`. I have filed https://github.com/grpc/grpc/issues/13855 to notify the `grpcio` team. Feel free to follow that issue and

[2017-12-21 16:59] #4650 closed

[2017-12-21 17:02] dhermes commented on #4581
Note that the newly discussed issue (brought up by @sawgataroy and reiterated by @jackiosport) about the logging about `GRPC_LINUX_EPOLL` was raised as a separate issue in #4650.

To address it, I have filed: https://github.com/grpc/grpc/issues/13855

[2017-12-21 17:03] dhermes commented on #4621
Great news and thanks for the followup @smemsh!

[2017-12-21 17:03] #4621 closed

[2017-12-21 18:18] dhermes commented on #3890
Some work towards making it feasible for an "alternate" implementation:

- #4628 (Making publisher `Batch` define a `make_lock()` rather than using a `threading.Lock` in a `PublisherClient`)
- #4634 (Use a UUID rather than a sentinel object on Pub / Sub `Future`)
- #4643 (allow `Future`-s to have a custom `Event` rather than using `threading.Event`)

[2017-12-21 18:24] #4533 closed

[2017-12-21 18:29] tseaver commented on #4587
3.3 was EOLed in September.  FWIW, 3.4 is still the default Python 3 on LTS Linux versions.

[2017-12-21 18:31] tswast commented on #4587
Sounds like they dropped it because Conda doesn't support it. https://github.com/pandas-dev/pandas/issues/15251 That doesn't really apply to us here.

[2017-12-21 18:33] eddavisson commented on #2230
@lukesneeringer, could we re-open this?

We are still interested in having this header added to gRPC requests:

`google-cloud-resource-prefix: projects/my-project-id`

(This functionality is already in place for Spanner and Firestore.)

This is may not be relevant for _all_ APIs, so I think this is the right issue to re-open as opposed to https://github.com/GoogleCloudPlatform/google-cloud-python/

[2017-12-21 19:02] tseaver commented on #4647
Pass an instance of `TableRef` to the `destination` of the `QueryJobConfig`.  E.g.:

[code]

[2017-12-21 19:58] foresmac commented on #4581
Thanks for opening the issue @dhermes.

[2017-12-21 23:30] dhermes commented on #4648
I'm fairly certain this is a bug. The lease maintenance thread is trying to make sure a deadline gets **extended** for any messages that the subscriber is still responsible for, but in doing this **extension** it actually **reduces** the lease time for your message (this is a mistake in your and my opinion).

There is no equivalent high-throughput / highly concurrent implementation you can downgra

[2017-12-22 00:25] zero-master commented on #4647
Thank you! I'll close this issue now.

I've used this my project:

[code]

[2017-12-22 00:25] #4647 closed

[2017-12-22 08:56] sachin-shetty commented on #4648
Thankyou @dhermes. Do you think a potential fix would be available anytime soon? I am trying to figure out if I should build application level logic to handle this or wait for a fix.

[2017-12-22 13:09] zakons opened #4656 "BigTable: row.commit throwing _Rendezvous exception instead of ServiceUnavailable"
We are using retry.py and creating a retry exception predicate as follows:

predicate=retry.if_exception_type(exceptions.ServiceUnavailable)

However, since we are only getting _Rendezvous exceptions with StatusCode.UNAVAILABLE (see below stack trace), we had to change this to:

predicate=retry.if_exception_type(exceptions.GrpcRendezvous)

I see a different issue in cloud datastore for mapping gRP

[2017-12-24 08:10] adityagupta104 opened #4658 "BigQuery: time partitioning of tables and load / query job destination tables"
Load jobs have attributes to specify partitioning of the table as mentioned in the below link -
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs

It doesnt look like the current bigquery python client supports the "configuration.load.timePartitioning.field" attributes of neigther load job nor a table. These are important attributes to configure a load job. Let me know if these are alr

[2017-12-24 16:30] zero-master opened #4659 "BigQuery: How to write results to a partitioned table?"
BigQuery APIs enables writing to a partitioned table, see: https://cloud.google.com/bigquery/docs/creating-partitioned-tables

[code]

How can specify a partitioning scheme as above:

[code]

[2017-12-24 21:52] zakons opened #4660 "Bigtable: how to simplify the retry pattern"
For PR #4662, we want to find a concise way of retrying any gRPC request, based on the receipt of a previous exception.  This was done for row.commit() by creating a RetryCommit class to 1) retain state information for retrying the request and 2) provide a `__call__()` method which will actually retry the request:
[code]
In DirectRow.commit(), 1) create the request, 2) create the retry, identifyin

[2017-12-25 05:56] davidbernat commented on #3892
What was the solution to this? I am having the same issue with _psutil_osx.

[2017-12-26 19:18] explicitcall commented on #4648
actually 0.27.0 docs are still available at http://temp.theadora.io/google-cloud-python-pubsub-0-27/pubsub/usage.html

[2017-12-27 16:37] sduskis commented on #4660
@lukesneeringer, how is the retry framework supposed to be used?  We're trying to get basic retries working for mutate_row, and the approach in this issue is the result.  I think that we're missing something about how the retry framework is supposed to be used.

Since we need retries, does it make sense to bite the bullet and use GAPIC under the covers?

[2017-12-27 16:44] coryan opened #4666 "Bigtable: valid range for RowSampleFilter is incorrect."
This is a documentation bug, here:

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigtable/google/cloud/bigtable/row_filters.py#L171

the documentation asserts that the valid range for a RowSampleFilter is `[0.0, 1.0]`.  In fact, it is the open interval `(0.0, 1.0)`.  The server rejects both `0.0` and `1.0`.

[2017-12-27 18:16] #4666 closed

[2017-12-27 18:38] tswast opened #4668 "BigQuery Data Transfer docs link 404s in README and docs"
The [README](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/bigquery_datatransfer) and [docs](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery_datatransfer/index.html) both link to https://cloud.google.com/bigquerydatatransfer, but that link 404s.

Probably the desired link is https://cloud.google.com/bigquery/docs/transfer-service-overview

[2017-12-27 19:04] tswast commented on #4668
Or the desired link could possibly be https://cloud.google.com/bigquery/transfer/ but that is more a product landing page than it is product documentation.

[2017-12-27 20:33] tswast opened #4669 "BigQuery Data Transfer: list_locations missing"
I would expect to see a `list_locations` method that takes a project ID in the [DataTransferServiceClient class](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery_datatransfer/gapic/v1/api.html#google.cloud.bigquery_datatransfer_v1.DataTransferServiceClient).

Docs for this API method:

https://cloud.google.com/bigquery/docs/reference/datatransfer/rest/v1/projects.locations

[2017-12-27 20:51] tswast opened #4671 "BigQuery Data Transfer: Default gRPC logging is a bit noisy on Mac"
I get the following warning messages when I create a DataTransferServiceClient on my Mac:

[code]

It seems as though these messages are not relevant to me and should be omitted, at least by default.

[2017-12-27 22:44] chemelnucfin commented on #4111
@samtstern Hi, I'm relatively new here so I'm not too familiar with protobuf, but it doesn't seem like there is a good option within protobuf in python to do what you want.  MergeFrom creates 2 duplicate keys for the example you gave.  I can try to fix it locally, but would it be better to work on the problem on the protobuf side?

[2017-12-27 22:46] chemelnucfin commented on #4671
Duplicatr of #4650

[2017-12-27 22:46] #4671 closed

[2017-12-27 22:49] chemelnucfin commented on #4111
This is basically what it looks like:
https://gist.github.com/chemelnucfin/71649e34f6b731c7a866124b3cde37d7

[2017-12-27 23:29] chemelnucfin commented on #4669
Hi @tswast I have been trying to chase the locations, but I wasn't able to find this file
`# source: google/cloud/bigquery/datatransfer_v1/proto/datatransfer.proto`
from the top of the `datatransfer_pb2.py` located in `bigquery_datatransfer_v1/proto`

or from here:
`https://github.com/googleapis/googleapis/tree/master/google`

Could you suggest on where to look for next?  Thanks.

[2017-12-27 23:45] chemelnucfin commented on #4645
The manual change is done, the autogenerator change is here
https://github.com/googleapis/toolkit/issues/1768

[2017-12-27 23:45] tswast commented on #4669
Looking into this a little more, I think the locations API is shared across Google APIs, in much the same way that long running operations are.

Internally, I see a `google/cloud/location/locations.proto` file, but I don't see it in https://github.com/googleapis/googleapis/tree/master/google either. Probably needs to be open-sourced?

[2017-12-28 00:02] tswast commented on #4669
Oh, I found them. https://github.com/googleapis/googleapis/tree/master/google/cloud/location

[2017-12-28 01:35] chemelnucfin commented on #4669
so do I just copy the proto definitions from locations.proto to inside datatransfer.proto?

[2017-12-28 03:25] zakons commented on #4660
As an improvement over using a class to store state and to provide a callable interface, a Python function is also callable and can be used for the Retry:

[code]

Using this in a Retry looks like the following:

[code]

[2017-12-28 05:12] tswast commented on #4669
I'm not sure how the code generator works. It seems bigquerydatatransfer.googleapis.com implements both the datatransfer.proto service and the locations.proto service, so combining them doesn't seem to be the right thing. For one, it would probably break the namespaces for the location-related types.

[2017-12-28 10:07] tcroiset opened #4673 "PubSub: pull doesn't return messages on non-empty subscription"
pubsub: 0.27.0

Our pubsub puller process encounters erratic behavior since beginning of December.

It runs a loop which looks like:
[code]

It used to work perfectly, but for a few weeks pull() sometimes returns, after ~600s, an empty list while there are still tens of messages on the subscription (as stated by stackdriver monitoring).
At some points, it can take hours, the messages end up proces

[2017-12-28 11:59] Cadmus opened #4674 "Bucket is requester pays bucket but no user project provided."
While Try to upload CSV file to the google storage using google.cloud python packages, it's throwing *google.api_core.exceptions.BadRequest: 400 GET https://www.googleapis.com/storage/v1/b/<<bucket_name>>t?projection=noAcl: Bucket is requester pays bucket but no user project provided.
Process finished with exit code 1
*
from google.cloud import storage

client = storage.Client("project_name")
buck

[2017-12-28 14:41] ibrahim-abuelalaa opened #4675 "Datastore query offsets are not working as it supposed to"
This is a weird behaviour when setting the offset parameter so I have 9825 entities and
[code]
Will yield 9825, but
[code]
will yield 9808

[2017-12-28 15:00] #4668 closed

[2017-12-28 16:24] arindamchoudhury commented on #4600
Hi @dhermes ,

I am still having problem with high CPU usage. After around one hour CPU usage is 100%.

google-api-core (0.1.3)
google-auth (1.2.1)
google-cloud-pubsub (0.30.1)
googleapis-common-protos (1.5.3)
grpc-google-iam-v1 (0.11.4)
grpcio (1.8.2)

[2017-12-28 17:33] erincat commented on #4274
would you be able to share a sample code that would use `Consumer.pause()` and `Consumer.resume()`?

[2017-12-28 17:44] chemelnucfin commented on #4674
Hello, I wasn't able to reproduce the issue.  Could you tell me more about the python version and the google storage version?

[2017-12-28 18:51] chemelnucfin commented on #4675
Hello, I wasn't able to reproduce the behavior, but I only tested it with a smaller test case.

Do you have more information you can give me?  Does it happen with other queries?

[2017-12-28 18:57] sx5640 opened #4676 "PubSub: StatusCode.UNAUTHENTICATED, Deadline Exceeded while on App Engine"
Traceback (most recent call last):
      File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
        self.run()
      File "/usr/lib/python2.7/threading.py", line 763, in run
        self.__target(*self.__args, **self.__kwargs)
      File "/env/local/lib/python2.7/site-packages/google/cloud/pubsub_v1/publisher/batch/thread.py", line 212, in monitor
        return self._commit()

[2017-12-28 19:04] chemelnucfin commented on #4673
Hello,
  I'm relatively new here and not too familiar with the pubsub library.  However, I know that there have been lots of development in pubsub lately.  Could you try using the latest version 0.30.2.dev1 and see if
your issue improves?

Otherwise @dhermes may be able to give you a better answer.  Thank you for your patience.

[2017-12-28 19:55] chemelnucfin commented on #4673
It also seems like pull is not being recommended for use any more.

For more information, please see this thread #4338

[2017-12-28 19:57] chemelnucfin commented on #4673
I will close this issue now, since the API used is outdated.  Please feel free to open another case should you run into problems.  Thank you.

[2017-12-28 19:57] #4673 closed

[2017-12-28 22:40] VikramTiwari opened #4677 "BigQuery: to_dataframe function not working"
python: 3.6.3
google-cloud: 0.32.0

when I am trying to run a code based on this test (https://github.com/GoogleCloudPlatform/google-cloud-python/blob/017714cf91a310caafc60181c044d7812c7226b7/bigquery/tests/system.py#L1259) on my side, I am getting the error:
[code]

function call that I am using
[code]

[2017-12-28 23:13] chemelnucfin commented on #4677
Hello,
  I tried running that code and I get these objects.  It seems to me google cloud gives the latest google-cloud-bigquery, but what is your version of google-cloud-bigquery?

[code]

[2017-12-28 23:32] chemelnucfin commented on #4677
From looking through the code, it does seem like that each of those return those objects and it should return a RowIterator.  I believe that you might be running an older version of BigQuery.

[2017-12-29 02:24] VikramTiwari commented on #4677
My sample code:
[code]

Run log:
[code]

Package info:
[code]

OS: OSX 10.13.1

[2017-12-29 02:50] Cadmus commented on #4674
python 3 version.

[2017-12-29 10:52] ibrahim-abuelalaa commented on #4675
hello, thanks for your response. Yes it is like that with others queries the only thing that I could add is that the number of returned entities increase when I use
[code]
so it is 9815 instead of 9808

[2017-12-29 18:24] ravi45722 commented on #2926
I am using streaming insertion. Is there any way to use this auto detect schemas in streaming??

[2017-12-30 09:11] ApsRajput commented on #3884
hello dawong8,
its permission problem, try 'sudo pip install --upgrade setuptools'

[2017-12-31 16:06] Cadmus commented on #4674
Hi Please close this issue, I have figure out why this issue happening, for my bucket "request pays" status is on.  but I try to access the bucket with member email id which does not have the association with the billing. The conclusion is if we access the bucket with member email the request pays should be in off status.

[2017-12-31 18:22] chemelnucfin commented on #4674
Glad to know!  Thank you for stopping by.

[2017-12-31 18:22] #4674 closed

[2018-01-02 08:11] adamcjohnson opened #4680 "Firestore: INVALID_ARGUMENT error when updating with field name starting with number."
2. Mac OS Sierra: 10.12.6
3. Python 3.6.3
5.
[code]

6. Attempt to perform an update to a document, using a field name that starts with a number.
7. `db.collection("Collection").document("document").update({"24_hours": "test"})`

[2018-01-02 16:31] dhermes commented on #4680
The error message explains the issue:

I'm fairly certain [this][1] describes the rules for property names:

@samtstern Can you confirm / point to actual docs rather than a protobuf?

[1]: https://github.com/googleapis/googleapis/blob/79f9041f4ad4984bf57d9ac5f9cec2ac506c3b48/google/firestore/v1beta1/document.proto#L45-L47

[2018-01-02 16:31] #4680 closed

[2018-01-02 16:37] alixhami commented on #4677
Hi @VikramTiwari sorry for the confusion, but the `to_dataframe` function has not been released yet in the current latest version.

[2018-01-02 16:41] ibrahim-abuelalaa commented on #4675
it works for small test case. But not for large one

[2018-01-02 17:07] dhermes commented on #4673
@tcroiset I can echo a bit about what @chemelnucfin said about us not supporting outdated versions.

However, the backend behavior changing out from under you seems to be a bug. It might be worth [filing an issue][3] with the backend team (from the issue trackers [page][1], also see the [list][2] of existing issues).

/cc @kir-titievsky

[1]: https://cloud.google.com/support/docs/issue-trackers
[2

[2018-01-02 17:13] #4587 closed

[2018-01-02 17:18] tswast commented on #2926
Sorry, @ravi45722 the BigQuery API does not have an auto-detect feature for the streaming API. I recommend filing an issue requesting this feature at https://issuetracker.google.com/issues/new?component=187149&template=0

[2018-01-02 17:21] VikramTiwari commented on #4677
Thanks @alixhami ! Will wait for the new release 👍

[2018-01-02 18:05] ep-tpat opened #4682 "Issue Removing Last IAM Member from Bucket"
**Please reference Issue [#1210](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/1210), as I was asked to open a new ticket here**

**In which file did you encounter the issue?**
_python-docs-samples/storage/cloud-client/iam.py_

**Did you change the file? If so, how?**
_No_

**Describe the issue**
_I'm trying to create a script that will remove all permissions on a bucket. The i

[2018-01-02 18:16] dhermes commented on #4676
@sx5640 I've seen `UNAUTHENTICATED: Deadline Exceeded` as well, but it occurred as a result of bad auth due to a programming error on my part.

On GAE, you could end up in a "bad auth" state if the `app_identity` library fails to get a valid access token (which is possible).

I don't think there's much we can do to address this other than suggest a retry.

I am going to pre-emptively close this si

[2018-01-02 18:16] #4676 closed

[2018-01-02 18:19] dhermes commented on #4600
@arindamchoudhury Can you confirm that your Python shell is in the same environment where those packages are installed? Also, could you share some code so I might reproduce the CPU spike?

[2018-01-02 18:26] dhermes commented on #4669
@jonparrott Should we just dump something in `api_core` as was done for LRO?

[2018-01-02 18:27] dhermes commented on #4660
@jonparrott Care to weigh in? (Jon is the author of the retry stuff.)

[2018-01-02 18:33] dhermes commented on #4648
@explicitcall Thanks for the link, but be aware that the `temp` is not a typo in that domain (it is a staging domain used by @jonparrott).

[2018-01-02 18:34] explicitcall commented on #4648
@dhermes are there any plans to host documentation for multiple versions on the official docs site? That would be greatly appreciated.

[2018-01-02 18:35] jonparrott commented on #4660
@zakons you have the right idea. See the similar usage in [BigQuery](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L268-L290).

[2018-01-02 18:36] jonparrott commented on #4669
I think in this case since we're not *wrapping*, it should just be up to the generator to additionally add these methods. @lukesneeringer WDYT?

[2018-01-02 18:41] tseaver commented on #4682
The GCS back-end is returning an error because it does not allow an empty IAM policy.  ISTM that what you really want is to remove the policy altogether, but the GCS [API docs](https://cloud.google.com/storage/docs/json_api/v1/buckets/) don't show any support for that.

[2018-01-02 18:45] dhermes commented on #4669
@jonparrott Doesn't the generator **rely** on `api_core` when it adds LRO methods? (As @tswast mentioned, it's an entirely separate RPC service, hence also a different gRPC stub.)

[2018-01-02 18:46] dhermes commented on #4648
@explicitcall No concrete plans, but I have ideas in my head once we can split `google-cloud-python` into N repositories (one for each subpackage). It's a difficult task right now that would require a HUGE investment of time making modifications to the RTD Sphinx theme.

[2018-01-02 18:46] jonparrott commented on #4669
It just uses an `client.operations_client` that comes from `api_core`. It might make sense to either have `client.locations_client` or even to graft the locations methods onto the `client`.

[2018-01-02 18:47] tswast commented on #4669
It's not entirely a separate service, since it still hits the `bigquerydatatransfer.googleapis.com` endpoint, but yeah it is a separate namespace for the types.

[2018-01-02 18:53] dhermes commented on #4669
@tswast It's a separate RPC service, and the way gRPC / `grpcio` works, they are entirely separate stub objects even if the domain is the same. (Though the C core may do some connection sharing under the covers.)

[2018-01-02 19:07] tswast commented on #4669
Good to know. Thanks for the explanation @dhermes.

[2018-01-02 19:09] tswast commented on #4659
To write to a specific query partition, use the full partition name as the table name. In your example,

    dest_dataset = 'YOUR_DATASET'
    dest_table_name = 'YOUR_TABLE$20180103'
    destination_dataset = client.dataset(dest_dataset)
    destination_table = destination_dataset.table(dest_table_name)

FYI: this kind of question could be better suited for [StackOverflow using the google-cloud-bi

[2018-01-02 19:09] #4659 closed

[2018-01-02 19:17] dhermes commented on #4656
@zakons In order for the "new" exceptions to be in place, the Bigtable gRPC / GAPIC surface will need to be regenerated.

@lukesneeringer Can we make this happen?

[2018-01-02 19:40] schmidt-sebastian commented on #4111
The Protobuf representation of set() and the update() example that Sam provided is the same (and the one you provided in the update.pb example). The main difference is that set() takes a literal object value and that we extract the field paths from it, whereas update takes a list of field path/value pairs.

When a user calls `set(..., merge)`, we only transmit the data that is being merged and per

[2018-01-02 19:50] dhermes commented on #4600
I **just now** have run this with `google-cloud-pubsub==0.30.1` and `grpcio==1.8.2` and [see][1] CPU spikes at 100%. Will investigate soon.

[1]: https://github.com/dhermes/google-cloud-pubsub-performance/blob/master/no-messages-too/0.30.1.txt

[2018-01-02 19:58] ep-tpat commented on #4682
Hi @tseaver,
I'm able to remove/set the permissions in the console with no issue.  With a brand new bucket, I retrieve the permissions:

**$ gsutil iam get gs://test-bucket-ep
{
  "bindings": [
    {
      "members": [
        "projectEditor:allofus-buckets",
        "projectOwner:allofus-buckets"
      ],
      "role": "roles/storage.legacyBucketOwner"
    },
    {
      "members": [
        "pro

[2018-01-02 19:59] arindamchoudhury commented on #4600
Hi @dhermes ,

If I install grcip using:
`pip install grpcio --ignore-installed --no-binary grpcio`
it works fine.

The publish also creates high cpu uses.

[2018-01-02 20:42] sduskis commented on #4656
@dhermes: IIUC, the Bigtable client doesn't actually use GAPIC.

FWIW, I'm all for regenerating the protobuf and gRPC artifacts.  I'd also be happy if we can migrate to GAPIC.

[2018-01-02 21:58] tseaver commented on #4682
Summoning @frankyn:  can you tell us how the web console permits deleting the last binding in a bucket's IAM policy?

[2018-01-02 22:43] dhermes commented on #4600
The `--no-binary` remark is very good to know! Thanks.

[2018-01-02 22:47] dhermes commented on #4656
That's correct. Bigtable was the **very first** package to use `protoc` with the `grpc` extension and we still have a `Makefile` to build the `google.cloud.bigtable._generated` package.

This **very much** should be retired in favor of the "modern" autogen infrastructure.

[2018-01-03 05:53] zakons commented on #4656
Thanks.  Just to clarify, after the regeneration we would get a mapping of the Rendezvous exception to a ServiceUnavailable exception?  Curious to know how this code generation works so that the code in api_core/google/api_core/exceptions.py for ServiceUnavailable is used.

[2018-01-03 12:44] zinyosrim opened #4683 "storage access not working from within docker - from google.cloud import storage - ImportError: No module named 'google'"
I'm trying to access to access a bucket from within a docker image. I already searched the issues and stackoverflow and could not find any solution.

My dockerfile contains the line `RUN pip install --upgrade google-cloud-storage`
I'm executing following script within docker
[code]
The gcpupload does a file upload to the bucket:
[code]
Everything works ok so far in my local environment without doc

[2018-01-03 16:10] bencaine1 opened #4684 "Storage: Parallel operations for copying objects"
It would be great if there were a way to do the equivalent of the following command from the python API:

`gsutil -m cp -r myfolder gs://mybucket/`

You can currently upload each file individually, but this is slow for folders with many files.

I've also submitted a bug to gsutil: https://github.com/GoogleCloudPlatform/gsutil/issues/492

[2018-01-03 17:13] jonparrott commented on #4683
@zinyosrim can you share the complete contents of the dockerfile with us?

[2018-01-03 17:15] zinyosrim commented on #4683
@jonparrott here you go:

[code]

[2018-01-03 17:27] jonparrott commented on #4683
If you use a virtualenv (see below) does this error still occur?

Add this before your `python libs` section

[code]

(change python3 to python2 if necessary)

[2018-01-03 17:47] dhermes commented on #4683
The issue is likely that `python3-pip` is not the "right" `pip` for the `python3.6` that comes with `ppa:jonathonf/python-3.6`.

I **strongly** recommend **always** using `${PYTHON} -m pip` rather than `pip`. (Here your `${PYTHON}` is likely `python3.6` but a bare `python` may be fine as well.)

[2018-01-03 17:56] jonparrott commented on #4656
Yes

The generator generates wrappers for the underlying grpc client (*stub* in grpc terminology). One of the wrappers applied to all RPC methods is [`google.api_core.grpc_helpers.wrap_errors`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e58fecd99f2f19ed5fb1026cdfd178ae3f6d8da2/api_core/google/api_core/grpc_helpers.py#L90) which handles re-mapping `grpc.RpcErrors` to appropriat

[2018-01-03 18:17] dhermes commented on #3892
@davidbernat I would recommend putting a custom `psutil` in your `lib/` that just returns a mocked result.

[2018-01-03 18:22] dhermes commented on #4684
@bencaine1 You can do this as follows:

[code]

I am going to close this since the feature is "supported" in this way. I'm happy to continue discussing / reconsider if you'd like.

[2018-01-03 18:22] zinyosrim commented on #4683
@jonparrott @dhermes  I added:
[code]
and got the error message `/usr/bin/python: No module named virtualenv` during `docker-compose build --no-cache`

I changed the dockerfile to:
[code]
I created a fresh GCE VM, tried again - the problem remains.

[2018-01-03 18:28] dhermes commented on #4683
After you've created `/env`, it won't be activated unless you `source /env/bin/activate`. Rather than doing that I would recommend just using `/env/bin/python3.6` rather than `python3.6`.

As for `/artcollect/run_phillips.sh`, you can / should modify it to use the correct Python binary (i.e. `/env/bin/python3.6`).

I am going to close this issue since there is no problem with our packaging (at lea

[2018-01-03 18:28] #4683 closed

[2018-01-03 18:53] dhermes commented on #4600
I filed https://github.com/grpc/grpc/issues/13906 to note the difference in behavior between the source dist and the binary wheels. (Thanks @arindamchoudhury!)

Also note that this issue must remain open since the spinlock fix has [been reverted][1].

[1]: https://github.com/grpc/grpc/pull/13898

[2018-01-03 19:21] mehrdada commented on #4600
I posted this comment https://github.com/grpc/grpc/issues/13906#issuecomment-355096277, but it might be worth posting here directly as well:

Our Linux binary wheels are built for `manylinux` platform, which is what PyPI expects. `manylinux`, for compatibility reasons, defines a very old kernel interface that does not support things like `epoll` system calls. Therefore, when we build the binary wh

[2018-01-03 19:54] tseaver commented on #4184
@vkedia Can you add (or even sketch here) a JSON acceptance test fragment which would exercise your hypothesis?

[2018-01-03 19:58] chemelnucfin commented on #4184
I tried merging an empty string to the begin, middle, and end of the chunk, and they all worked.  It might be something else.

[2018-01-03 20:12] vkedia commented on #4184
@tseaver I think this #4685 would demonstrate the bug.

[2018-01-03 20:43] zinyosrim commented on #4683
Finally got it working - Thank you very much for your help and instructions @dhermes @jonparrott

[2018-01-03 20:59] dhermes commented on #4600
@mehrdada Thanks for stopping by, I really appreciate it! The real issue this is tracking is what https://github.com/grpc/grpc/pull/13665 tried to fix, but it's all valuable information.

[2018-01-03 21:05] tseaver commented on #4184
@vkedia The [CI failure](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/5032) there is not related, I think:  It shows that we are marshalling the timestamp string to an actual timestamp instance, and therefore don't correspond to the "expected" string.

[2018-01-03 22:01] ph1l337 opened #4687 "Executing only one pubsub callback concurrently"
I have a problem, where I depend on stateful externals resources, that require me to only process one message at a time.

I was trying to accomplish that by setting the max_messages in the FlowControl to 1. However, the callbacks were still executed concurrently.

So I dug a bit deeper and found [this commit](https://github.com/GoogleCloudPlatform/google-cloud-python/commit/76a0f5a3aab1723d35a2d31

[2018-01-03 22:16] danoscarmike commented on #4608
@dhermes please update when you get a chance.  Thanks!

[2018-01-03 22:25] danoscarmike commented on #4031
@tseaver could you please update the status of this?  Have new tests been added?  What is current coverage of the tests you enumerated here?

[2018-01-03 22:28] jonparrott commented on #4031
The [samples](https://github.com/GoogleCloudPlatform/python-docs-samples/tree/master/pubsub/cloud-client) are likely a good starting place for system tests.

I mean, if anyone wants to take on moving the samples wholesale here I'd be cool with that.

[2018-01-03 22:29] dhermes commented on #4031
@danoscarmike No new tests have been added or are planned to be added.

As I identified bugs I made reproducible cases at https://github.com/dhermes/google-cloud-pubsub-performance and some of them may be worth turning into tests, but they run for too long to make that feasible.

Can you be more specific? Do you mean line coverage?

[2018-01-03 22:31] danoscarmike commented on #3890
@dhermes reassigning this one to you.  Please update when you have something.  Thanks.

[2018-01-03 22:32] dhermes commented on #4687
@ph1l337 I recommend just using a lock in your callback:

[code]

[2018-01-03 22:33] dhermes commented on #4687
I am going to pre-emptively close this since I think my recommendation works. Even if it needs tweaking, it sounds like your use case can be supported without any change to the actual `google-cloud-pubsub` package.

[2018-01-03 22:34] #4687 closed

[2018-01-03 22:38] vkedia commented on #4184
@tseaver yeah it is unrelated. It infact demonstrates that the code was able to parse the timestamps correctly. So I am not sure what could have caused this.
@yixizhang have you seen this again?

[2018-01-03 22:43] houglum commented on #4684
Thanks, @dhermes.

Extra note, for context.  The `-m` flag in gsutil will spawn multiple processes, and multiple threads per process to perform the individual copies in parallel.  The solution @dhermes mentioned above is roughly equivalent, assuming that either each `blob`'s upload uses a separate HTTP transport object, or that if they share one, it's thread-safe.  (Gsutil uses httplib2 for its tr

[2018-01-03 22:44] jonparrott commented on #4684
We use requests so it shares a thread-safe connection pool. :)

[2018-01-03 22:51] yixizhang commented on #4184
i don't see it any more in prod.

[2018-01-03 23:43] danoscarmike commented on #4031
I meant which of the following points (per original issue post) have tests?

If we are satisfied that behavior and performance are tested (one way or another) can we close this issue?

[2018-01-04 05:49] tseaver commented on #4031
I would say we should *not* close the issue until we have added those system tests:  we can mark it as non-release-blocking, but the fact that we are missing tests which exercise what should be important use cases against the back-end should not be swept under the carpet.

[2018-01-04 10:25] nickatnight commented on #4650
@dhermes I think the grpc team fixed that bug. Are you able to update this package with a fix?

[2018-01-04 10:36] ph1l337 commented on #4687
Thanks. @dhermes. Actually thought about that, but had some other error in my implementation. Do you think this could be useful to add to the documentation or is it to specific? If you point me to the place, where this would go I could write it and make PR.

[2018-01-04 12:01] frbattid opened #4689 "Datastore: fetching by incremental offset and constant limit fails"
Hi all,

This is my setup:

[code]

I'm running the following code:

[code]

It produces the following output:

[code]

As you can see, the total amount of entities is 281600, thus I expect to "iterate" on them by using an incremental offset and a constant limit. It works fine for the first 3000 entities, then it returns no more entities. It always fails in the same offset.

Of course, we have the

[2018-01-04 15:53] ilsePit commented on #2769
Is this also possible in the new version (v0.25.1 and up)? I cannot find this functionality in the documentation.

[2018-01-04 16:34] tseaver commented on #4687
@ph1l337 Thanks for offering to improve our docs!  I think the relevant file is the [subscriber index](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs/pubsub/subscriber/index.rst), which has a [section on "Subscription Callbacks"](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs/pubsub/subscriber/index.rst#subscription-callbacks).

[2018-01-04 16:38] tseaver commented on #4650
@nickatnight Could you submit a PR which bumps the dependency to `grpcio >= 1.8.3` in `api_core/setup.py` and `core/setup.py`?

[2018-01-04 16:38] dhermes commented on #4650
@nickatnight If you want a fix, simply `pip install --upgrade 'grpcio >= 1.8.3'`.

This is only a stray logging message, not a sign of any bug, so there is no need to release a fix that requires `>= 1.8.3` (we currently [require][1] `>= 1.8.2`)

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/155343ada7db9f5585bf0932f7fa4e7b128d6871/api_core/setup.py#L66

[2018-01-04 16:42] dhermes commented on #4689
The `GRPC_LINUX_EPOLL` logging messages are not a sign of failures, just stray logging (see #4650).

As for the actual issue, it seems identical to #4675.

[2018-01-04 17:37] nickatnight commented on #4650
@dhermes @tseaver That's good enough for me 👍  Thanks

[2018-01-04 18:04] #4224 closed

[2018-01-04 18:04] jonparrott commented on #4224
This is fixed in the latest release of psq.

[2018-01-04 18:22] mike-seekwell commented on #3834
Any timeline on this? I just spent several hours researching and implementing this only to find you can't use it with Python3.

[2018-01-04 18:25] jonparrott opened #4692 "Drop usage of gax in favor of api_core"
We are trying to deprecate gax in favor of api_core, and to do so, we must remove all usage of gax here.

The following libraries still have references/use gax:

- [x] bigtable: only uses gax.metrics, should be trivial to fix. https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4873
- [x] datastore: has generated code that uses gax, and hand-written adapter over gapic client. Needs to

[2018-01-04 18:34] tseaver opened #4694 "KeyRange arguments change is backward-incompatible"
FYC, @dhermes / @chemelnucfin / @lukesneeringer .

PR #4618 introduced a backward-incompatible change to the way arguments to the `KeyRange` constructor are validated:

- Prior to the PR, the constructor required that the caller pass at least one of `start_open`, `start_closed`, `end_open`, or `end_closed`.  It verified that the caller passed at most one of `start_open` / `start_closed`, and at mo

[2018-01-04 18:36] tseaver commented on #4087
@frankyn ping?

[2018-01-04 20:03] jceresini opened #4696 "Logging: sink reload throws exception if the sink has no filter"
A KeyError exception for 'filter' is thrown when calling [sink].reload() if there is no filter. The API doesn't return a 'filter' key when retrieving the sink if its null.

[code]

## Simplified code example
[code]

## Raw API response for sink request (via gcloud)
[code]
## Problematic code
/google/cloud/logging/sink.py Line 157
`self.filter_ = data['filter']`

## Traceback
[code]

[2018-01-04 20:11] jonparrott opened #4697 "Nox isn't linting tests"
Our nox configuration is skipping flake8 linting of tests, we should fix that. :)

[2018-01-04 20:29] tseaver commented on #4696
@jceresini Thanks for the report!  I think maybe the `filter` argument used to be required on the back-end, and so we never saw this case.

[2018-01-04 23:38] danoscarmike commented on #4031
Fair.  Thanks Tres.

[2018-01-05 07:13] frbattid commented on #4689
Thanks @dhermes for a so quick response.

As for the `GRPC_LINUX_EPOLL` logging messages, understood.

Regarding the offset issue, any hint? Could you, the team, reproduce it? Is there any workaround, maybe downgrading any package?

Thanks again.

[2018-01-05 09:51] ilrico commented on #4346
same problem here, same setup (Debian Stretch), python 3.5.3. any fix arose ?

[2018-01-05 16:13] dhermes commented on #4689
@frbattid It's almost certainly a backend issue/feature, but I haven't yet been able to reproduce it.

Would you be OK if I closed this issue as a duplicate / collapsed it into #4675?

[2018-01-05 17:03] tseaver commented on #4346
@waprin, do you have any insight here?

[2018-01-05 17:05] #4696 closed

[2018-01-05 17:18] jceresini opened #4703 "Logging: Can't retrieve the writerIdentity for a logging sink"
In #4578 , support was added for creating a sink with a unique writerIdentity. It would appear that only the uniqueWriterIdentity boolean for logging.sinks.create was implemented; but retrieving the writerIdentity for an existing sink is not possible.

## API response (via gcloud)
[code]

## Simplified example code
[code]

## Resulting object
[code]

[2018-01-05 18:02] tseaver commented on #4703
FWIW, this is another case where the back-end has smuggled in new features without changing the API version.

Also, #4595 made the `unique_writer_id` a constructor parameter, passing the captured attribute to `Sink.create`, but as a query parameter for both `Sink.create` and `Sink.update`, ISTM that it would be better passed directly to our `create` and `update` wrapper methods (we currently don't

[2018-01-05 18:04] dhermes commented on #4703
SGTM

[2018-01-05 18:08] #4703 closed

[2018-01-05 18:17] anorth2 commented on #4508
We had this show up again, so I opened the issue with the backend team. Thanks for your help.

[2018-01-05 18:51] chemelnucfin commented on #4513
@dhermes
So it looks like a basic producer consumer model, unless I'm missing something. I start a queue when I start a watch and block until I get an item in the queue then return it.

But the question I have is how do I tell grpc to send the ListenResponse to the queue that I have?  Also, would it be better to have one queue per Watch instance or one queue per system?

Also seems to me that thre

[2018-01-05 19:04] dhermes commented on #4513
@chemelnucfin I'm not very familiar with the feature. To start, [which RPC][1] does watch correspond to? (The only BIDI RPCs are `Listen` and `Write` and it seems `Listen` is a closer synonym to `Watch`)

A basic implementation would like like this:

[code]

[1]: https://github.com/googleapis/googleapis/blob/6977456861ab0234a776bb40cfbde2b45896d154/google/firestore/v1beta1/firestore.proto#L56-L124

[2018-01-05 19:12] chemelnucfin commented on #4513
Yes, it corresponds to listen.

So basically if I do the listen(request_gen), then grpc will send results into the queue whenever a change happens.  ok, that's what I needed to know.

thanks.

[2018-01-05 19:14] dhermes commented on #4513
No. The `queue` is owned by the caller to send requests. The **only** place `ListenResponse`-s get sent is into the `response_gen` iterator (it is an instance of the `_Rendezvous` god-class).

If you'd like to put them in a queue, that's where `do_something` comes in.

[2018-01-05 19:35] frankyn commented on #4087
I'm out of office until Monday! I'll pick back up then. Apologies for the
delay.

On Jan 4, 2018 11:37 AM, "Tres Seaver" <notifications@github.com> wrote:

[2018-01-05 19:44] waprin commented on #4346
Historically, the most common reason bugs occur here is either:

1) There is some sort of recursive loop where a logging call gets made on the logging code path.

This is what the `setup_logging` helper helps avoid, if you don't want to use it, check out what it does and maybe do something similar.

2) The background thread handler is the most vulnerable to bugs just because there's concurrency, s

[2018-01-05 19:55] s5 commented on #3023
This is a significant blocker for me as well.

[2018-01-05 19:57] jonparrott commented on #3023
@cookie223, @ryan-lane, @s5 we can't provide a full dialect until the backend service provides DML support. How useful would a read-only dialect be for your use cases?

[2018-01-05 21:43] tseaver commented on #4703
For the record, PRs #4706, #4707, and #4708 finish fleshing out support for the `uniqueWriterIdentity` query parameter and the server-set `writerIdentity` property.

[2018-01-05 22:10] DazWilkin opened #4709 "BigQuery: Challenged inserting data into BQ tables"
I'm writing a script with the Python Library and need to programmatically populate tables with data. I'm reviewing the documentation but unable to get these to work:

https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html#tables

[code]

`requirements.txt`:
[code]
I'm running in virtualenv.

I'm able to connect a client to a project, enumerate datasets, set dataset ex

[2018-01-05 22:37] jonparrott opened #4710 "Spanner v1.0.0 release"
This bug tracks the criteria for releasing v1.0.0 of Spanner.

The following items need to be completed:

- [x] Update gapic code. #4695
- [x] Remove dependency on deprecated gax library. #4695
- [x] Release new `api_core`, since it contains changes that Spanner needs. #4730
- [x] Release a release candidate. #4732
- [x] Have a Storage DPE review the API surface & documentation. (@jsimonweb)
- [x]

[2018-01-05 23:37] mayurjain0312 opened #4711 "BigTable: PatialRowsData must have a "length" attribute"
2. Ubuntu 16.04
3. Python version and virtual environment information `python --version` - python 2.7.12

[code]

No way to get the number of items inside partial_rows.

[2018-01-05 23:47] DazWilkin opened #4712 "BigQuery: Challenged enumerating tables"
I'm writing a script with the Python Library and would like to programmatically enumerate tables in a dataset. I'm reviewing the documentation but unable to get these to work:

https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html#tables

[code]

`requirements.txt`:
[code]
I'm running in virtualenv.

I'm able to connect a client to a project, enumerate datasets, set

[2018-01-05 23:51] dhermes commented on #4709
The

[code]

comes from [`google-resumable-media`][1] and may be caused by

[code]

@tswast Can you confirm?

As for `insert_rows`, that is in the not-yet-released `0.29.0` (we pushed a [tag][2] but for some reason it never triggered a build and no one followed up).

[1]: https://github.com/GoogleCloudPlatform/google-resumable-media-python
[2]: https://github.com/GoogleCloudPlatform/google-cloud-p

[2018-01-05 23:55] dhermes commented on #4711
@mayurjain0312 I'm having a hard time understanding what issue you're having. Can you give an example of something you'd like to do with `partial_rows` and how it fails?

[2018-01-06 00:02] tswast commented on #4709
`job_config.skip_leading_rows = 1` is a server-side configuration. It shouldn't affect `google-resumable-media`. More likely is that the file object is being reused or something and the file hasn't been seeked back to the beginning.

Note: You don't actually have to create a physical file to use a load job. You can just as easily use StringIO. See: https://github.com/GoogleCloudPlatform/google-clo

[2018-01-06 00:25] mayurjain0312 commented on #4711
It's not failing. But, I was expecting to get the total number of result rows by calling partial_rows.length().

[2018-01-06 00:27] mayurjain0312 commented on #4711
I want to cache some query results, in order to do that if I knew beforehand the size of results I got from table.read_rows(start_key=start_key, end_key=end_key), it would help in determing if it is super large to hold in memory or now.

Something similar to what mongodb provides. https://docs.mongodb.com/manual/reference/method/cursor.count/

[2018-01-06 00:32] mayurjain0312 opened #4713 "BigTable: mutate_rows is slow."
Ubuntu 16.04
Python version and virtual environment information python --version - python 2.7.12

with a batch size of 300, total 3 nodes in an instance, the write throughput is not good for bigTable by using mutate_rows api call.

        BULK_WRITE_BATCH_SIZE = 300
        with open(file_path) as sensor_data_input_file:
            list_direct_row_obj = []
            for line in sensor_data_inp

[2018-01-06 02:10] DazWilkin commented on #4709
Thank you!

I'll try with StringIO.

[2018-01-06 10:59] frbattid commented on #4689
I'm OK :)

[2018-01-06 15:07] ilrico commented on #4346
I would go for 2. because:
- worked previously for last 2 days (since I installed this feature)
- it's only on high throwing logs that I started to get this exception
hope it helps

[2018-01-06 18:01] dhermes commented on #4689
Closing as duplicate of #4675

[2018-01-06 18:01] #4689 closed

[2018-01-07 20:46] zakons commented on #4711
In Python you may get the length of a dictionary as follows:

```rows_read = len(partial_rows.rows)```

See also: [dictionary len method](https://www.tutorialspoint.com/python3/dictionary_len.htm)

[2018-01-07 21:19] zakons opened #4714 "BigTable: Cell.from_pb() performance improvement"
Looking at the performance graph for reading a large number (1000) of rows, each row having 10 cells in one column family, the following class method on Cell takes more time percentage-wise (~10%) than expected:

[code]
It turns out that **_datetime_from_microseconds** is relatively expensive:

[code]
If you trace down to look at the code for **_EPOCH** and **datetime.timedelta** you will see the

[2018-01-08 14:59] explicitcall commented on #4600
I'm seeing constant 100% usage with `grpcio==1.8.3` and `google-cloud-pubsub==0.30.1`

[2018-01-08 16:48] jonparrott commented on #4346
Deadline exceeded likely means that the request for some reason or another failed to complete in the allotted time. This doesn't necessarily indicate an issue with the library, rather, it can indicate that either the network was congested and unable to send the requests within the deadline or that the logging service failed to respond within the deadline. Switching transports is unlikely to solve

[2018-01-08 17:03] tseaver commented on #4712
@DazWilkin Thanks for pointing out this error in the docs!  `google.cloud.bigquery 0.28.0` moved the `dataset.list_tables()` method to `client.list_dataset_tables(dataset)`, but the usage docs show it as `client.list_tables(dataset)`.

[2018-01-08 17:12] tseaver commented on #4712
@DazWilkin But in `0.29.0` (released last week), `Client.list_dataset_tables(dataset)` has been deprecated in favor of `Client.list_tables(dataset)`.

[2018-01-08 17:12] #4712 closed

[2018-01-08 17:18] dhermes commented on #4714
Great detective work @zakons!

[2018-01-08 17:20] dhermes commented on #4600
@explicitcall Is that when installing `grpcio` from a wheel or from source (see [why][1] you really want to install from source)?

[1]: https://github.com/grpc/grpc/issues/13906#issuecomment-355096277

[2018-01-08 17:24] dhermes commented on #4711
Using this value may be somewhat problematic because `len(partial_rows.rows)` will change as `PartialRowsData.consume_next()` / `.consume_all()` is called. Since these methods consume chunks from a stream of unknown length, the length also can't be determined beforehand. I would just say "beware" when using the length of the dictionary.

I am going to close this since `len(PartialRowsData.rows)` w

[2018-01-08 17:24] #4711 closed

[2018-01-08 17:26] tseaver opened #4715 "Mutating '__module__' of proto-generated messages considered harmful"
From https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4695#discussion_r159756524:

I wrote:

[code]

@dhermes responded:

@lukesneeringer responded:

I replied:

[2018-01-08 17:52] tseaver commented on #4709
I just retriggered the (post-tag build](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/5103), which failed due to `error_reporting` (??)

[2018-01-08 18:05] anorth2 commented on #4426
@dhermes If this is indeed the issue, then this needs to be updated:  https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/pubsub/cloud-client/subscriber.py#L30

The docs state that my method was the way to retrieve by topic.
https://cloud.google.com/pubsub/docs/admin#pubsub-list-subscriptions-python

[2018-01-08 18:09] dhermes commented on #4709
@tseaver The push to PyPI will only happen on a tag build, the build you linked to is a regular `master` (i.e. "push") build.

[2018-01-08 18:10] dhermes commented on #4426
Thanks for finding that @anorth2 (I'm only loosely aware of what's in `python-docs-samples`). I filed https://github.com/GoogleCloudPlatform/python-docs-samples/issues/1305 against that repo.

[2018-01-08 18:12] tseaver commented on #4709
@dhermes Hmmm. I don't see a tag build at all.

[2018-01-08 18:14] dhermes commented on #4709
That's correct

[2018-01-08 18:18] tseaver commented on #4709
I've got no clue how to force CircleCI to run the build -- delete and re-push the tag?

[2018-01-08 18:18] tseaver commented on #4709
Or I can just push the release to PyPI manually.

[2018-01-08 18:18] dhermes commented on #4709
I think a manual push to PyPI is fine.

[2018-01-08 18:29] tseaver commented on #4709
OK, [0.29.0 release pushed manually](https://pypi.python.org/pypi/google-cloud-bigquery/0.29.0).

[2018-01-08 18:47] tseaver commented on #2927
Duplicate:  #2222.

[2018-01-08 18:47] #2927 closed

[2018-01-08 18:50] tseaver commented on #4125
@frankyn Can you please update?

[2018-01-08 19:02] tseaver commented on #4499
@BrandonY The `Bucket.get_blob` convenience wrapper is intended to fetch the metadata (which also ensures that the blob exists).  To avoid that extra API call for a blob you know exists already, just construct the blob via `Bucket.blob`, e.g.:

[code]

Because the metadata is not loaded, this version also avoids tacking it onto the download URL, which means that the 404 will not occur either.

[2018-01-08 19:30] sduskis commented on #4713
Can you please describe some of the symptoms you're experiencing?  `table.mutate_rows` is a synchronous operation, so you're limited to one call at a time.  How many rows per second are you seeing on the cloud console?

[2018-01-08 19:33] mayurjain0312 commented on #4713
Is this the only "bulk write" option that BigTable offers?
From the console, I can see around 800 rows written per second.
(Production instance with 3 nodes)

[2018-01-08 19:37] mayurjain0312 commented on #4713
We are currently using mongodb as our no-sql database and we would prefer moving to BigTable. As far as the speed of writing data to database is concerned, I see that mongodb is far exceeding BigTable(unless I am not using BigTable in the right manner)

[2018-01-08 20:02] frankyn commented on #4125
This should have been resolved. Are you still seeing this error @tseaver?

[2018-01-08 20:17] tseaver commented on #3809
Investigating:  when I remove the `safe=''` from the quoting, I have failing system tests:  the back-end does *not* allow fetching the file with the unquoted `/` embedded.

@frankyn Can you please clarify whether the client libraries should be quoting the `/` when it is part of an object name?

[2018-01-08 20:27] tseaver commented on #4125
@frankyn We haven't enabled the tests which exercise the `requester_pays` / `user_project` features (#4126).  I tried just now and *none* of those tests are working when using my "personal" project as the "user project".

[2018-01-08 20:42] tseaver commented on #4125
I of course had lost the thread on how to enable RP/UP permissions.  Once I set up the permissions, they run locally without errors, including the two rewrite-based tests.

[2018-01-08 20:42] #4125 closed

[2018-01-08 20:43] tseaver commented on #4126
#4125 is now closed:  the tests run cleanly for me locally, when I set `GOOGLE_CLOUD_TESTS_USER_PROJECT` to point at my "private" project (running with the "normal" CI account as the main one).

[2018-01-08 20:52] tseaver commented on #4126
@lukesneeringer I think we're ready to configure the "user project" to be used as the `user_project` for those tests under CI.  I can't recall which one we agreed to use, though:  if you'll follow up here to let me know, I will create a PR updating the CircleCI config to set it.

Note that the service account as which we normally run will need to be configured with the 'project.editor' role on the

[2018-01-08 20:57] tseaver commented on #4692
I'm pulling "priority: p2+" of issues labeled "type: cleanup" , because that label is supposed to be used for non-SLO-impacting stuff (normally things we open ourselves to handle at will later).

For this one, I don't know whether we should remove "type: cleanup" or "priority: p1", but one of them should go. :)

[2018-01-08 20:59] jonparrott commented on #4692
How about we swap process for cleanup? :)

[2018-01-08 21:06] tseaver commented on #4692
Sure. :)

[2018-01-08 21:07] frankyn commented on #4125
Great! Thanks for picking it up so quickly!

[2018-01-08 21:17] tseaver commented on #3809
[Failing system tests when embedded `/` is not quoted](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/5106).

[2018-01-08 21:25] tseaver commented on #3987
@NathanWailes You can pass either the audio content or the URI when constructing the `RecognitionAudio` instance passed to `Client.long_running_recognize`.

[2018-01-08 21:25] #3987 closed

[2018-01-08 21:26] tseaver commented on #4499
I'm going to close this pre-emptively, as I think I've answered the question.  Please feel free to reopen if I am mistaken.

[2018-01-08 21:26] #4499 closed

[2018-01-08 21:31] tseaver commented on #4541
@rvandegrift If you want to explicitly call `Transaction.rollback` (and likely also `Transaction.commit`), then don't use the context manager.  E.g.:

[code]

[2018-01-08 21:31] #4541 closed

[2018-01-08 21:36] tseaver commented on #4697
@jonparrott Is this really either "P1" or a bug?

[2018-01-08 21:54] chemelnucfin opened #4717 "Datastore documentation to rollback transactions confusing"
From #4541:
it'd be sufficient to document that if you use the context manager, you shouldn't mess with the transaction object.

There's also a minor confusion caused by the Google Cloud Datastore docs. They imply that all consumers should explicitly rollback their own transactions in case of failure. From https://cloud.google.com/datastore/docs/concepts/transactions:

This might not be our issue

[2018-01-08 21:58] jonparrott commented on #4697
I'm gonna drop it to a p2 but this is definitely a bug.

[2018-01-08 23:12] BrandonY commented on #4499
@tseaver: Thanks for the workaround. That's good to know.

That said, I think the get_blob() behavior is wrong. Using it can result in a NOT_FOUND error in cases where a resource of the input name is always available.

Retrying 2-3 times automatically to achieve consistency, or else failing completely with a CONFLICT or a custom error, would be significantly better behavior than failing with a NOT

[2018-01-09 00:08] dhermes commented on #4499
@BrandonY That's the nature of an eventually consistent system.

[2018-01-09 00:14] pstemari commented on #4499
GCS is a strongly consistent system, not just eventually consistent.

Paul J. Ste. Marie | Bug Collector | pstemari@google.com | (206) 876-1968

On Mon, Jan 8, 2018 at 4:08 PM, Danny Hermes <notifications@github.com>
wrote:

[2018-01-09 00:16] dhermes commented on #4499
@pstemari IIUC that's only true of certain methods, e.g. `objects.delete`, but not true of others, e.g. `objects.list`

[2018-01-09 00:21] BrandonY commented on #4499
You are mistaken. GCS listing is strongly consistent. It was eventually consistent a while back, but we fixed that.

In addition, even if listing were eventually consistent, using generation numbers as a precondition allows you to detect that a conflict has occurred (and, in fact, get_blob does seem to take advantage of this fact. It just reports the failure as a 404 instead of recognizing that a

[2018-01-09 00:26] dhermes commented on #4499
That's great to hear, I'll stop spreading bad information immediately :grinning:

[2018-01-09 00:26] BrandonY commented on #4499
We should probably put it in a press release at some point; it's pretty great!

[2018-01-09 05:49] mayurjain0312 commented on #4713
@sduskis: any updates?

[2018-01-09 11:35] explicitcall commented on #4600
@dhermes just a plain `pipenv install`, from a wheel I assume

[2018-01-09 11:36] explicitcall commented on #4600
I'm also confused if I should still install from source when this issue is closed already https://github.com/grpc/grpc/issues/13906

[2018-01-09 13:29] sduskis commented on #4711
@mayurjain0312, if you want just a count of rows that are returned, you need to do the same query with a `RowFilterChain()` containing a `CellsRowLimitFilter(1)` and a `StripValueTransformerFilter()`.  That combination will return rows that have 1 cell with an empty value.  You'll be able to do `PartialRowsData.consume_all()` and then `rows_read = len(partial_rows.rows)` to get a row count.

Cloud

[2018-01-09 14:06] sduskis commented on #4713
A 3 node Cloud Bigtable cluster can handle writing at least 30K rows per second, and each additional node adds 10K rows per second. [ We tested up to 3,500 nodes with Cloud Bigtable](https://cloudplatform.googleblog.com/2016/03/financial-services-firm-processes-25-billion-stock-market-events-per-hour-with-Google-Cloud-Bigtable.html) with a linear increase in performance.

The 800 rows per second i

[2018-01-09 16:34] dhermes commented on #4600
Yes you should install from source. I'm not a `pipenv` user, so I'm not sure how to pass `--ignore-installed` and `--no-binary=grpcio` to `pipenv install`. You may also be happier just building a wheel once for your machine / image and then installing from that local wheel.

[2018-01-09 16:36] explicitcall commented on #4600
Thanks for the clarification. Is there an issue to track or a certain grpc release to wait for until this wheel/source issue is resolved after grpc/grpc#13906 is closed?

[2018-01-09 17:14] ep-tpat commented on #4682
Hi @tseaver, @frankyn, just checking to see the status on this potential bug?  Thanks for your help.

[2018-01-09 17:44] chemelnucfin commented on #4184
@yixizhang I'm going to make an assumption that this was somehow fixed in the code so that you don't see it any more.  Please feel free to reopen if this is wrong.

[2018-01-09 17:44] #4184 closed

[2018-01-09 18:15] chemelnucfin commented on #3905
@jonparrott May I ask if this is fixed now?  I'm only asking because I think it might have been fixed...

[2018-01-09 18:22] chemelnucfin commented on #3778
@lukesneeringer @jonparrott May I asked if this has been fixed?

[2018-01-09 18:24] chemelnucfin commented on #3391
@lukesneeringer @dhermes Is the retry working now for this?

[2018-01-09 18:25] dhermes commented on #3391
There is support for retries on iterators in `api_core`, but I'm not sure if the logging client has used the new code generator.

[2018-01-09 18:29] #3905 closed

[2018-01-09 18:29] jonparrott commented on #3905
Yes gax is dead for pubsub

[2018-01-09 18:31] jonparrott commented on #3778
should be, video intel uses api_core now instead of gax.

[2018-01-09 18:31] #3778 closed

[2018-01-09 18:32] jonparrott commented on #4715
We can likely resolve this using a spinx plugin. :)

[2018-01-09 20:39] Alan502 opened #4720 "Spanner: How to run the Google Cloud Python Unit tests?"
How can I run the unit tests for the Cloud Spanner python client libraries?

[2018-01-09 20:42] jonparrott commented on #4720
@Alan502 you can do so using `nox` as described [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst#using-nox).

I'm closing this, but feel free to comment if you have any issues getting that to work.

[2018-01-09 20:42] #4720 closed

[2018-01-09 20:45] tswast opened #4721 "BigQuery: add argument to delete_dataset for deleteContents parameter"
The [delete verb for datasets](https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets/delete) has a `deleteContents` parameter.

We do not currently expose this parameter in [delete_dataset()](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/reference.html#google.cloud.bigquery.client.Client.delete_dataset).

I could see this parameter being very handy in integr

[2018-01-09 21:35] frankyn commented on #4682
@ep-tpat and @tseaver I forwarded the question to the GCS team as I'm not sure it's possible in the UI but not using the API. Thank you for your patience!

[2018-01-09 22:08] frankyn commented on #4682
@ep-tpat and @tseaver, it's a service side bug with the JSON API. The team is now aware of it and an internal bug was filed. As for an ETA that's TBD at this time.

Out of curiosity what is the end goal of this script?

[2018-01-09 22:35] mayurjain0312 commented on #4713
@sduskis : Thanks for responding.
Do you know when can this async functionality for Python be ready?

[2018-01-10 01:37] chemelnucfin commented on #2131
@dhermes @lukesneeringer @tseaver
So the issues mentioned and also another one linked inside one of the above issues has been closed, can this also be closed?

[2018-01-10 04:24] chemelnucfin commented on #3847
Hello,
  I believe this may be the API you are looking for.
https://cloud.google.com/billing/reference/rest/

I will also close this issue.  Please feel free to reopen if this is still a concern.

[2018-01-10 04:24] #3847 closed

[2018-01-10 12:22] sduskis commented on #4713
We don't have an ETA for this functionality in Python.

[2018-01-10 12:59] treetoc commented on #2038
Did anyone solve that issue?

[2018-01-10 13:36] yiga2 opened #4725 "BigQuery: client documentation, incorrect create"
Documentation issue on https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/usage.html (and https://github.com/GoogleCloudPlatform/google-cloud-python/blob/63b7245699510259f584bc3ca328a72af8c2120f/docs/bigquery/snippets.py)

should be **CREATE_NEVER**. Could not determine that NEVER was an alias. If it is, should be documented

[2018-01-10 13:38] ep-tpat commented on #4682
Hi @frankyn, I'm trying to create a script that automates the removal of all these permissions since we're not using them and they're applied automatically on bucket creation.  Just trying to use least privilege.

[2018-01-10 14:09] yiga2 commented on #2926
@tswast side-question, `LoadJobConfig` has no `schemaUpdateOptions` property in 0.29. The Java client has. Should I create a new issue for it ?
Also, would  `job_config.__setattr__('schemaUpdateOptions', ['ALLOW_FIELD_ADDITION'])` be an alternative ?

[2018-01-10 14:35] yiga2 commented on #3419
Similar use case. I have the JSON schema files in GCS already for all tables. `bq load` CLI supports JSON schema but Python Client lib not (0.29).
Next to a getter method,  `LoadJobConfig.schema.save`, there should be a `LoadJobConfig.schema.load` method too that takes a URL has parameter (gs:// or local).
That would be consistent with CLI and other languages - Java lib has a `setSchema`

[2018-01-10 16:20] yiga2 opened #4726 "BigQuery: LoadJobConfig.from_api_repr does not return config"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/63b7245699510259f584bc3ca328a72af8c2120f/bigquery/google/cloud/bigquery/job.py#L677
misses `return config`. Hence cannot build based on a JSON schema file.

[2018-01-10 17:27] jonparrott commented on #4345
The maintainer of `google` has updated it to 2.0.0 and the import package is now `googlesearch`. Closing this issue.

[2018-01-10 17:27] #4345 closed

[2018-01-10 17:28] dhermes commented on #4345
Awesome news @jonparrott thanks for persisting on that!

[2018-01-10 17:32] jonparrott commented on #4345
Thank @MarioVilas, who was more than amenable to the change. :)

[2018-01-10 18:55] frankyn commented on #3809
Apologies for the delay @tseaver. Clarifying question, does quoting in Python represent an HTML encoder?

[2018-01-10 18:57] frankyn commented on #4087
@tseaver docs were blocked by an internal bug and I will check-in again this week. Apologies for the delay.

[2018-01-10 20:14] frankyn commented on #4682
Thanks for clarifying @ep-tpat.

In the mean time you could assign an unused service account with only the Storage.ObjectViewer IAM role until the bug is fixed. This is not a workaround given that you're left with a single assignment, but it does remove Owner roles from the policy.

I'll update this bug with an update when it's fixed.

[2018-01-10 20:36] tseaver commented on #2131
I'd say that the question can remain open, but without the P2 label: we use the issue tracker for institutional memory, not just for managing support requests,  and closing issues like this without actually coming to consensus on the answer to the question damages that memory.

[2018-01-10 20:55] #4721 closed

[2018-01-10 21:00] #4726 closed

[2018-01-10 21:03] tseaver commented on #4725
@yiga2 Thanks for the report!  In fact, we have class constants for that string (and the others) -- I would argue that we should expose those classes at the top-level, and use them in all our docs, rather than string literals:

- `google.cloud.bigquery.job.Compression`
- `google.cloud.bigquery.job.CreateDisposition`
- `google.cloud.bigquery.job.DestinationFormat`
- `google.cloud.bigquery.job.Encod

[2018-01-10 21:05] tseaver commented on #2038
@treetoc the original poster [reported](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2038#issuecomment-236478301) that installing in a fresh virtual environment fixed the problem.

[2018-01-10 21:07] yiga2 commented on #4725
Agreed. Encouraging the use of constants would reduce risk of typos

[2018-01-10 21:13] tseaver commented on #3809
@frankyn The quoting we are using is "URL" quoting ([python2](https://docs.python.org/2/library/urllib.html#urllib.quote), [python3](https://docs.python.org/3/library/urllib.parse.html#url-quoting)):  the `/` character gets converted to a `%2F`.

[2018-01-10 21:17] yiga2 opened #4728 "BigQuery: add schemaUpdateOptions to LoadJobConfig"
Python 2.7 - Client lib 0.29

`Java` [has it ](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1647) and `Go` has [open request](https://github.com/GoogleCloudPlatform/google-cloud-go/issues/823).

As a workaround, one can do as following as the http request is constructed off `_properties`:
`LoadJobConfig()._properties.__setitem__('schemaUpdateOptions', [...])`

Consider adding to `

[2018-01-10 21:44] tseaver commented on #2926
@yiga2 FWIW, that feature is [marked "experimental" in the docs](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.load.schemaUpdateOptions).

The workaround you propose won't work:  instead, I would use:

[code]

[2018-01-10 22:16] frankyn commented on #3809
Thanks for clarifying, I generated a public URL using the Cloud Console Storage browser and quoting doesn't occur there. I'll forward the question to GCS team just to make sure, but given the behavior mentioned in [comment#3](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3809#issuecomment-327467952) it sounds reasonable that `quote` shouldn't be quoting `/` in the resource path

[2018-01-11 05:33] chemelnucfin commented on #4560
@nojvek Hello, may I ask if @dhermes answered your question?

[2018-01-11 06:24] chemelnucfin commented on #4694
#4735 fixes this issue

I still think that if you default either start or end, you should be able to default them both...  But I guess that's not important.

[2018-01-11 06:24] #4694 closed

[2018-01-11 07:39] chemelnucfin commented on #4110
I'm just going to say we should just leave it using direction since it's what is used here in the documentation
https://cloud.google.com/firestore/docs/query-data/order-limit-data

Please feel free to reopen if anyone else thinks otherwise.

[2018-01-11 07:39] #4110 closed

[2018-01-11 07:54] chemelnucfin commented on #4246
@alixhami Since this is labeled P1, may I ask the status on this and if I can help in any way?

@tswast I briefly looked at the issue but I'm not sure how to connect the `JobReference` class to everything else.

[2018-01-11 08:00] snthibaud opened #4736 "Cloud Spanner with Python multiprocessing hangs"
Inserting rows turned out to be very slow (80 KB/s), so I am trying multiprocessing to parallelize the process.
I am currently using only one node in Cloud Spanner, the rows are sorted by primary key and there are ~30 batches that have a few hundred rows each.
For this I am using the following code:
[code]
The code hangs when it tries to enter the batch scope (it seems to never succeed in creating

[2018-01-11 08:09] chemelnucfin commented on #2926
@tseaver did you mean to reply to #4728?

[2018-01-11 08:10] chemelnucfin commented on #4728
@tseaver wrote this answer

@yiga2 FWIW, that feature is marked "experimental" in the docs.

The workaround you propose won't work: instead, I would use:

    job_config._properties['schemaUpdateOptions'] = ['ALLOW_FIELD_ADDITION']

[2018-01-11 08:16] chemelnucfin commented on #3602
Would this be fixed by now?

[2018-01-11 16:17] bmclean commented on #4675
https://github.com/GoogleCloudPlatform/google-cloud-ruby/issues/1922

[2018-01-11 17:20] jonparrott commented on #2683
I think with all the work that @dhermes did on pubsub this should be resolved. I'm going to go ahead and close this, but if it's still reproducible with the latest version we can re-open.

[2018-01-11 17:20] #2683 closed

[2018-01-11 18:27] chemelnucfin commented on #3897
@DazWilkin Hello, I apologize for the late response.

I looked over the issue, and the create functions are intended not to be there.
You can use
`config = client.config('config_name')`  to create a configuration
https://googlecloudplatform.github.io/google-cloud-python/latest/runtimeconfig/client.html
and `variable = config.variable('variable_name')` to create a variable
https://googlecloudplatfo

[2018-01-11 18:33] anorth2 opened #4737 "Google PubSub: PubSub subscriber not consuming when in K8S (works locally)"
Possibly related to this:  https://github.com/googleapis/nodejs-pubsub/issues/11
Note that this issue occurs *most* of the time but not always. Sometimes it works with no rhyme or reason as to why.

2. OS type and version
Alpine Linux Docker image deployed in K8S
Docker image works when deployed locally on Mac (High Sierra)

3. Python version and virtual environment information `python --version`

[2018-01-11 18:40] nojvek commented on #4560
The total number of items in the list is less than 5. So I'm amazed that
its slow.

On Wed, Jan 10, 2018 at 9:33 PM, chemelnucfin <notifications@github.com>
wrote:

[2018-01-11 18:54] jonparrott commented on #4710
@jsimonweb @vkedia can you please review v0.30.0 of the client library and it's [documentation](https://google-cloud-python.readthedocs.io/en/latest/spanner/usage.html)?

[2018-01-11 19:07] chemelnucfin commented on #3898
I made a pull request that should address the state returning `None`.  However, I believe value returning None is the correct behavior until you set the variable to something.  Please let me know if you have any more questions.

[2018-01-11 19:35] lukesneeringer commented on #4710
@jonparrott We are requiring `api_core` to go to 1.0 in order for Spanner to do so, yes? (I assume it is in a similar "wait a week" state at the moment.)

[2018-01-11 19:40] vkedia commented on #4710
Some corrections need to be done on the documentation:

Code snippet on [this](https://google-cloud-python.readthedocs.io/en/latest/spanner/batch-usage.html) page talks about `session.batch()` instead of `client.batch()`.

On [snapshots](https://google-cloud-python.readthedocs.io/en/latest/spanner/snapshot-usage.html) page we talk about user having to resume the stream but now we do it automatical

[2018-01-11 19:47] vkedia commented on #4710
Why are the `to_pb` methods part of public api in [KeySet](https://google-cloud-python.readthedocs.io/en/latest/spanner/keyset-api.html#google.cloud.spanner_v1.keyset.KeyRange.to_pb) ?

[2018-01-11 19:50] vkedia commented on #4736
cc @jonparrott

[2018-01-11 20:04] jonparrott commented on #4736
@snthibaud can you let us know what versions you're using? `pip freeze` is helpful.

[2018-01-11 20:07] jonparrott commented on #4710
@tseaver @dhermes do either of you know? I'm happy to make them private.

[2018-01-11 20:08] chemelnucfin commented on #4710
@vkedia we use context managers for managing transactions, and allow users to manually managing transaction if they wish.  Should we take out the run_in_transaction method?

[2018-01-11 21:13] jonparrott commented on #4710
@lukesneeringer

No. I'm waiting to v1.0.0 api_core once #4692 is closed so we can v1.0.0 api_core and kill gax at the same time.

[2018-01-11 21:22] chemelnucfin commented on #4692
@lukesneeringer @jonparrott if one of you can kinda walk me through a bit of the process I can try to take some of these out.

I don't understand the autogenerator in tookit enough I think to do this, but I would be interested in understanding it.

[2018-01-11 21:23] jonparrott commented on #4692
I just send an email, but I'm going to handle the first couple myself. I'm working on error_reporting now.

[2018-01-11 21:45] vkedia commented on #4710
@chemelnucfin `run_in_transaction` is the primary method which we expect people to use. Most users should not need to manage transactions manually. I want to make sure that this comes through in the docs clearly.

[2018-01-12 02:02] snthibaud commented on #4736
These are the version in my virtual environment:
[code]

[2018-01-12 05:31] prabeesh opened #4746 "How to check the particular partition is existing or nor"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-01-12 07:43] chemelnucfin commented on #4746
Hello, you can use the `list_partitions` function in the client.
https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/reference.html#google.cloud.bigquery.client.Client.list_partitions

Please feel free to ask if you have any more questions.

[2018-01-12 10:12] prabeesh commented on #4746
@chemelnucfin thank you for your prompt reply.

[2018-01-12 11:53] LMeinhardt opened #4747 "SPANNER Python API Client - Using database.update_ddl to create/update/drop TABLES"
I tried to execute a simple DDL script in python (3.6) to create a table. But I don't know if the update_ddl is used only to manipulate the database schema, or it will also allow me to manipulate the database objects: like TABLES, INDEXES, ... Running regular SQL (inserting, updating, deleting, querying) it all worked like a charm.

Here is a simple example of DDL to create TABLES:
//
def create_t

[2018-01-12 16:23] chemelnucfin commented on #4747
Hello, Could you try putting the ddl statements in a list?  I'm afk right
now so I can't test it.  But it might be worth a try.

On Fri, Jan 12, 2018, 3:53 AM LMeinhardt <notifications@github.com> wrote:

[2018-01-12 17:19] LMeinhardt commented on #4747
Fixed the problem, thanks...
//
def create_database(instance_id, database_id):
    """Creates a database and tables for sample data."""
    spanner_client = spanner.Client()
    instance = spanner_client.instance(instance_id)
    database = instance.database(database_id)

    operation = database.update_ddl([
        """CREATE TABLE junk (
            junk_id INT64 NOT NULL,
            name STRIN

[2018-01-12 17:37] vkedia commented on #4747
Do we need to better document the parameter types here:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner_v1/database.py#L240

On Fri, Jan 12, 2018 at 9:33 AM, LMeinhardt <notifications@github.com>
wrote:

[2018-01-12 18:53] LMeinhardt commented on #4747
Let me know if you need any assistance with more testing on Python 3 - I can also try it on node.js...
I am currently with a lot of time in my daily calendar... 👍

[2018-01-12 19:46] alixhami commented on #4246
@chemelnucfin I'm out of office right now, but I'm planning on fixing this by the end of next week.

[2018-01-12 19:59] chemelnucfin commented on #3391
I believe #4692 also has something to do with this.

[2018-01-12 20:40] chemelnucfin commented on #4246
@alixhami Sorry to bother you!  Have a good vacation.

[2018-01-12 21:07] jonparrott commented on #4736
/cc @nathanielmanistaatgoogle

Are you doing any grpc things before starting the pool? Forking after gRPC has been used apparently causes issues.

FYI: If you're using using multiprocessing to increase write throughput (and not actually doing anything CPU intensive), i'd recommend using threading (as RPC calls are I/O bound and not CPU bound).

[2018-01-12 21:09] jonparrott commented on #4736
@chemelnucfin Since you've been doing a lot of work on spanner lately, can I task you with trying to put together a simple reproducible case for this?

[2018-01-12 21:12] dhermes commented on #4736
@jonparrott It'd certainly be possible to allow swapping out all `threading.Thread` and `TheadPoolExectutor` constructor invocations for something more generic (though there is at least one place in a Cython file where a `threading.Thread` is created). However, the C core will still use the native OS threads (which is `pthread` on Linux).

[2018-01-12 21:15] jonparrott commented on #4736
@dhermes not sure what you mean?

[2018-01-12 21:17] dhermes commented on #4736
@jonparrott I was trying to describe how one might implement support in gRPC for users to set the type of concurrency in a transparent way.

[2018-01-12 21:23] jonparrott commented on #4736
Oh - I don't think it's anything in userland. From what I understand this is just a case of trying to use any gRPC-based client after forking - not an issue with any concurrency that our client libraries use.

[2018-01-12 21:29] chemelnucfin commented on #4736
@jonparrott I'll take a look.

[2018-01-12 22:06] chemelnucfin commented on #4736
currently getting this:

__________________________ TestSessionAPI.test_multi_processing_transaction ___________________________
Traceback (most recent call last):
  File "~/projects/google-cloud-python/spanner/tests/system/test_system.py", line 626, in test_multi_processing_transaction
    with self._db.batch() as batch:
  File "/usr/lib64/python3.6/multiprocessing/pool.py", line 274, in starmap

[2018-01-12 22:11] jonparrott commented on #4736
@chemelnucfin try creating a new client in each process, as in the OP.

[2018-01-13 04:36] chemelnucfin commented on #4736
@jonparrott So I have chased the multiprocessing to this after an unrelated interesting bug (I think):

[code]

The culprit is the `request_serializer` which is here in `spanner_v1/proto/spanner_pb2.py`:
[code]

which I have chased to more or less here:
[https://github.com/google/protobuf/blob/master/python/google/protobuf/message.py]()

Any pointers from here will be appreciated.

[2018-01-13 11:54] prabeesh commented on #4746
@chemelnucfin how to we can create a partition table using API?

[2018-01-13 19:19] chemelnucfin commented on #4746
It doesn't seem like there is a way to create a partitioned table using the python client at this time.  I will create a new issue for it.  Perhaps I just missed it or we can implement it as a feature request.

[2018-01-13 19:22] chemelnucfin opened #4752 "BigQuery: Allow creation of a table with partition"
From #4746. I didn't see a clear way to do it, but maybe I just missed it.

[2018-01-14 10:23] WillFuks opened #4753 "BigQuery: Failed to Parse JSON: Closing quote expected in string (non-ASCII characters)"
Hello,

I'd like to ask for some help on an issue I'm having.

Here's a sample code I created just to illustrate the problem:

[code]

If I run this code it works normally. But when a non-ASCII character is present in the string, such as:

    data = "{'field1': '3 mêses'}\n"

Then I get the error:

[code]

I confirmed that `bq load` command works normally, it's just the Google Cloud API that I go

[2018-01-15 01:57] chemelnucfin commented on #4753
@tseaver @tswast
  I was not able to reproduce the behavior.  Any insights on if it's a docker related issue?
[code]

[2018-01-15 07:15] snthibaud commented on #4736
@jonparrott In answer to your question. I am using a different instance of the spanner client before starting the multiprocessing pool. This should be ok, right?
@chemelnucfin I am not completely sure if the service account had the right permissions, so maybe it did hang because of a missing permission although I did try again after changing the permissions and it was still hanging.

[2018-01-15 08:51] chemelnucfin commented on #4736
I am afk now, but i also believe i had a separate client before using
multiprocessing and it did not hang getting a snapshot.  Could you try
that?  Mp did not work with insert though, but it did not hang.

On Sun, Jan 14, 2018, 11:15 PM Stéphane Thibaud <notifications@github.com>
wrote:

[2018-01-15 13:21] davidbernat commented on #3892
@dhermes Thank you for your suggestion. Can you point me to a reference which will walk me through which methods to mock in psutil? Being unfamiliar with the library I do not know to what extent is safe to mock without eliminating other useful or essential features of the library.  Thank you again.

[2018-01-15 13:24] WillFuks commented on #4753
Hmm interesting. I also tried not using `conf.autodetect = True` and instead defining the schema but got the same error.

For now my workaround has been to first load the data to Storage and then upload it to BigQuery.

If it's working for you then it should be something in my environment...just wondering, did you test with Python3? Maybe the difference between strings being unicodes or bytes coul

[2018-01-15 16:44] chemelnucfin commented on #4753
Yes it was python 3.6.

On Mon, Jan 15, 2018, 5:24 AM WillFuks <notifications@github.com> wrote:

[2018-01-15 17:28] dhermes commented on #3892
I would just `grep` for usage of `psutil` in your application. It's a third-party app (i.e. from PyPI) so you only need to check your application code.

[2018-01-15 20:48] chemelnucfin commented on #4697
also refer to #3418 which I will close

[2018-01-15 20:48] #3418 closed

[2018-01-15 22:13] dhermes commented on #4697
@chemelnucfin Note that #3418 also says `pylint` should be turned back on (it is on, but doesn't cause test failures).

[2018-01-16 02:09] zakons opened #4755 "BigTable: row_data _validateChunk performance"
Looking at the performance graph for reading a large number (1000) of rows, each row having 10 cells in one column family, the validation of chunks takes a large percentage of time (>25%), as measured by cProfile.  Areas for tuning are identified below.

**Validation of timestamp_micros ordering**
While a row is being read, a validation is made to make sure that cells for one qualifier are in time

[2018-01-16 02:20] chemelnucfin commented on #1660
Hello, may I ask if you can make a pull request with this patch?

Or may I submit a PR on your behalf using the code above?

[2018-01-16 02:30] chemelnucfin commented on #2463
Related to #4533 and #4490

[2018-01-16 04:48] snthibaud commented on #4736
@chemelnucfin What exactly should I try? I am not sure if it was related to the retrieval of a snapshot. For me, it was hanging when entering the scope of a batch. Does it retrieve a snapshot at that point?

[2018-01-16 13:59] pdknsk commented on #1660
Sure, though I think you should perhaps add ```XML``` names to ```JSON``` names [translation](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b035bf78d726ddccc821e8884e6a4eda48e93e56/storage/google/cloud/storage/acl.py#L179).

[2018-01-16 14:05] ep-tpat commented on #4682
Thanks @frankyn, appreciate your efforts.

[2018-01-16 16:14] blowmage commented on #4675
I have a fix for the Ruby library here: GoogleCloudPlatform/google-cloud-ruby#1930

[2018-01-16 16:43] jonparrott commented on #4736
If I remember correctly, that is the core of the issue. grpc's c core can not function after a `fork`, so any work with grpc must be done *after* you fork. Correct me if I'm wrong @kpayson64 @nathanielmanistaatgoogle

[2018-01-16 17:18] chemelnucfin commented on #4736
@jonparrott I have to go back and check, but I believe that that is what I did and multiprocessing worked.  I just couldn't use batch.insert function.  I'll report back later.

[2018-01-16 18:10] tswast commented on #4605
I believe this was answered in the [StackOverflow question](https://stackoverflow.com/a/47842039/101923).

Summarizing here:

The `destination` property refers to where the query results *go*. All queries write to a table: if a destination is not specified at query time, a temporary table is created.

To create a TableReference to your view, create one the same way you do any other TableReference.

[2018-01-16 18:10] #4605 closed

[2018-01-16 18:15] kpayson64 commented on #4736
On Tue, Jan 16, 2018 at 8:43 AM, Jon Wayne Parrott <notifications@github.com

Correct.  You should delay client creation until after the fork() call in
the process pool.

[2018-01-16 20:23] #4747 closed

[2018-01-16 21:35] #4709 closed

[2018-01-16 21:38] tswast commented on #4753
What is the encoding of the JSON file you are uploading? BigQuery expects UTF-8. There is a known issue that BigQuery doesn't support the other unicode encodings such as UTF-16.

[2018-01-16 21:39] tswast commented on #4753
Perhaps we need to make sure the client library indicates that it is using UTF-8 in the resumable media upload?

[2018-01-16 23:10] WillFuks commented on #4753
Hi Tim,

For what I understood the API only accepts unicode strings that are not yet encoded. The encoding seems to happen in the http request (I'm guessing).

I also tested with `conf.encoding = 'UTF-8'` and 'ISO-8859-1' but it didn't work.

I didn't test on other docker images but for what @chemelnucfin commented it seems this issue is only happening in the `python:latest` image, don't know if s

[2018-01-16 23:32] melissachang commented on #2951
I also see this problem. I'm confused about the status of this bug. This is a dupe of 3695; and 3695 is a dupe of this. Should one of these bugs be open?

[2018-01-17 00:01] chemelnucfin commented on #2951
@melissachang It seems like the other one was closed because it was a duplicate.  This one seemed to have been fixed with PR #3171.  Could you try following the example given in that PR and see if you still see the problem?

[2018-01-17 00:10] melissachang commented on #2951
That PR only adds tests, so it couldn't have fixed the problem.

[2018-01-17 00:30] chemelnucfin commented on #2951
Sorry, I meant that the PR shows an example which solved the OP's problem which may also fix yours.  Please do keep us posted.  Thanks.

[2018-01-17 00:58] chemelnucfin commented on #4736
@snthibaud Could you try to `pass` instead of doing the `batch.insert` or try to get a snapshot and see where it's hanging?

From what I understand it's once you step into the context manager it's hanging, so the code runs ok without the entire `with` block?

Could you also try some other operations as I did in #4756 and see if they work?

[2018-01-17 04:36] chemelnucfin commented on #3602
@lukesneeringer Would you be able to hand me that snippet so I can take a look?

[2018-01-17 06:56] snthibaud commented on #4736
@chemelnucfin When putting a pass statement there, it still hangs. I traced the hanging back to line 103 of `session.py` of the cloud spanner library. It tries to create a session in this line: `session_pb = api.create_session(self._database.name, options=options)`.

[2018-01-17 07:01] snthibaud commented on #4736
@kpayson64 @jonparrott I understand that in general the client cannot be passed to a new process, but in this case, the main process and all forked processes each have their own client (for the forked processes: see code above). These processes should be completely separated from each other, right? Is the grpc core still somehow shared between the main process and child processes?

[2018-01-17 07:03] snthibaud commented on #4736
@chemelnucfin This traceback when stopping the process might also help:
[code]

[2018-01-17 07:15] snthibaud commented on #4736
@kpayson64 @jonparrott @chemelnucfin I have tried creating all clients only after forking and that did work. Perhaps the gprc core is shared between the processes after all. I still feel that it's not completely right that subprocesses are hanging in this case.

[2018-01-17 07:24] chemelnucfin commented on #4736
Glad to know.

@jonparrott Now I'm confused why my code did work.

[2018-01-17 08:33] snthibaud commented on #4736
@jonparrott @chemelnucfin I am trying to use threads instead of processes (as you suggested) to increase write throughput as follows:
[code]
But then I get `Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)` after a few threads have finished. I am using the same client in all threads. Is that wrong?

[2018-01-17 11:19] zburgermeiszter commented on #4600
Is there a known old version that is not affected by this bug or alternatively a Dockerfile with a workaround?

[2018-01-17 16:36] mehrdada commented on #4600
@explicitcall @dhermes Please note that this is a limitation enforced by PyPI: we simply have no way to use `epoll_create1` because `manylinux1` glibc does not support it. This is not easily fixable by a gRPC release. I am trying to use `epoll_create` followed by `fcntl` to enable some level of epoll support (PR #14041)--we will have to wait and see if it works well because there are other limitat

[2018-01-17 17:17] dhermes commented on #4600
@mehrdada The old `glibc` **should** be unrelated to the spinlock bug. If it's not, then that means some code paths still have a bug.

As for the fix that works with `epoll`, it was rolled back in https://github.com/grpc/grpc/pull/13898 but then was rolled forward in https://github.com/grpc/grpc/pull/13933. I'm not sure if that has been released for `1.8.4`.

@jonparrott Is it worth discussing alt

[2018-01-17 17:21] jonparrott commented on #4600
That experience is *really* bad, but it's worth us discussing some alternatives here, as the sentence `so to get the "best" Python gRPC it's ideal to build from source.` is horrifying.

[2018-01-17 17:24] mehrdada commented on #4600
@dhermes Agreed. To be clear, I was addressing the source/binary distinction. My understanding is that a bug fix was attempted in 1.8.4 (including poll code path). Are you still encountering the same bug on 1.8.4?  If yes, please ping the relevant issue on the gRPC tracker again.

[2018-01-17 17:25] mehrdada commented on #4600
@jonparrott We are actively trying to improve the situation on the binary side, but as far as PyPI packages are concerned, those limitations are imposed by PyPI. Perhaps the Python community should work on a `manylinux2` specification?

[2018-01-17 17:29] jonparrott commented on #4600
Moving this to an internal thread for now. :) Please check email?

[2018-01-17 17:34] jonparrott commented on #4736
@snthibaud

That is my understanding, so using any gRPC client before forking will cause issues in the forked processes.

Our client should be thread-safe, and in any case, should not cause a segfault. This seems to point to some native code causing issues. @kpayson64 can you help out here?

[2018-01-17 19:14] kpayson64 commented on #4736
Yes, that looks like a core segfault, but without any additional information its hard to diagnose.

Its possible that you are running into #13327, which as I understand occurs when there are a bunch of active threads.

[2018-01-17 19:38] vkedia commented on #4736
I believe @haih-g also ran into this issue while using spanner client across multiple threads.

[2018-01-17 23:37] frankyn commented on #3809
Response from GCS team is the URL shouldn't be "quoted" unless there's a specific reason. I don't have enough context to understand why a test breaks when quoting is removed.

Taking a look at the Ruby storage client library. When I generate a public_url, the result isn't quoted.

[code]

[2018-01-18 00:02] snthibaud commented on #4736
@kpayson64 Yes, that's almost certainly it. I am also using Python 3.6 like most users in the issue you mention.

[2018-01-18 00:10] #4456 closed

[2018-01-18 12:22] gylu commented on #4737
I might be experiencing the same thing. If I wait long enough on my OSX, it also happens, but on both K8s and OSX it can takes several hours until it occurs, depending on what I set for flow_control. The system is that after several hours of running, and even though Stackdriver says there are still millions of messages in the PubSub subscription, my code doesn't consume anymore, and _load is at 0.

[2018-01-18 18:55] tseaver commented on #4600
Shared binaries are like the waltzing bear:  it's not how well he waltzes, but that he waltzes at all.  We shouldn't be surprised that the `manylinux` strategy isn't perfect, as that was a known problem with it at itsadoption.

[2018-01-18 18:58] tseaver commented on #3809
Hmm, I guess we need to figure out where the test failures in #4716 are coming from, then.

[2018-01-18 20:46] TheJKFever commented on #1402
@haberman we're using protobuf to transition from some legacy code where an enum of values is mapped to integers including a valid enum with value of 0. In my protobuf the default value is 0 even if the field is "unset". Is there a way that I can check if this field is unset without using `_fields`? A related issue is the value 0 isn't even encoded to the wire even if I change the default. Any sug

[2018-01-19 17:37] jdubinsky commented on #4320
@dhermes this still seems to be an issue and I don't see any followup here. can I direct this issue somewhere else instead?

[2018-01-19 17:57] chemelnucfin commented on #4736
@snthibaud Since I believe it is a different issue now and also reported in a different repository, I will close this issue.  Please feel free to reopen or open another issue if desired.

Thanks.

[2018-01-19 18:18] vkedia commented on #4736
Actually I would like to reopen it. The underlying issue might be in gRPC but this will definitely impact Spanner customers. At the least we should have some documentation and recommendations around how customers can use spanner client safely across processes and across threads.

[2018-01-19 18:27] jonparrott commented on #4736
Agreed, we should have some documentation that mentions explicitly that you can not use this client in a multiprocessing environment unless you defer all calls until *after* forking.

[2018-01-19 18:36] chemelnucfin commented on #4736
@jonparrott @vkedia I was going to follow up in the PR regarding the multiprocessing issues.  Sorry!

[2018-01-19 18:49] danoscarmike commented on #4648
Blocked by #4325?

[2018-01-19 18:54] vkedia commented on #4736
Thanks. What about multi threading? Does the client not work at all with multi threading or it works under certain conditions?

[2018-01-19 19:01] kir-titievsky commented on #4648
@sachin-shetty This is a known server-side bug. There are two that have rolled out server side this week.   You should see a lot less of this issue, but it might recur to an extent.  There is a relatively straightforward workaround -- let me know if things are not any better for you (literally) starting today.  Thanks for your patience!

[2018-01-19 19:02] samtstern commented on #4320
@dhermes are we sure this is a backend issue and not an issue with how the Python library is preparing the request?  @jdubinsky has shown that it works in the JS client library which means that it's may not truly be an "invalid argument"

[2018-01-19 19:03] kir-titievsky commented on #4648
@dhermes Let's keep this one open since if we don't solve this completely server-side, we'll need to address the use case some other way -- e.g. through documentation on explicit limits and alternatives.

Also: the receipt acks bug/FR will make this worse.  So we may need to fix that to call this fixed.

[2018-01-19 19:04] danoscarmike commented on #3890
Ping.  Next steps here?

[2018-01-19 19:08] danoscarmike commented on #3861
@dhermes @lukesneeringer can you please re-evaluate this one?

[2018-01-19 19:17] jonparrott commented on #3861
@samx816 that definitely seems like an older version, with the newer version you can just specify `timeout=2` when invoking any RPC method.

I'm closing this for now, but if there's something else that needs to be done here we can re-open.

[2018-01-19 19:17] #3861 closed

[2018-01-19 19:20] jonparrott commented on #3890
I'm going to close this.

Multiprocessing in general is a dead-end with grpc clients because grpc does not work at all in multiprocessing environments. Even if we made the pubsub subscriber be able to execute callbacks in using multiprocessing, they wouldn't be able to do any useful work that involves any other client libraries calls.

@dhermes's work has made it feasible for us to support it in t

[2018-01-19 19:20] #3890 closed

[2018-01-19 19:23] jonparrott commented on #4736
The client should be thread-safe, if there's any issues with that we should solve them.

[2018-01-19 21:07] Khotso-t commented on #3884
sudo apt-get install python3.6-dev libmysqlclient-dev

[2018-01-19 21:32] vkedia commented on #4736
But there seems to be some issue with gRPC which is causing segmentation fault in spanner client when used across multiple threads. How do we plan to tackle that?

[2018-01-19 21:34] jonparrott commented on #4736
@vkedia that may already be resolved (see https://github.com/grpc/grpc/issues/13327#issuecomment-358415223), but we need someone to test. So far it seems it's been difficult to find a reproducible case.

[2018-01-19 21:50] jonparrott commented on #3237
This is now outright failures. We should get this fixed.

[2018-01-19 21:51] jonparrott commented on #3237
Whoever takes this on should wait until after #4759 is merged.

[2018-01-19 21:56] jonparrott commented on #3237
@chemelnucfin can I task you with taking care of the low-hanging fruit here? (there's some tests that refer to old bigquery names, so should be trivial to fix).

In terms of hanging, see if you can still make it happen after #4759 & I'll see what I can do to get it fixed.

[2018-01-19 23:03] dhermes commented on #4325
ISTM the right place to put this is

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5c0b432499d03291c5781fc626ce8fc3aaaae262/pubsub/google/cloud/pubsub_v1/subscriber/message.py#L97

or

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5c0b432499d03291c5781fc626ce8fc3aaaae262/pubsub/google/cloud/pubsub_v1/subscriber/policy/thread.py#L337

It's unclear to me what the

[2018-01-19 23:43] chemelnucfin commented on #3237
I saw the merge, working on the bigquery ones.

[2018-01-20 08:49] fishruti commented on #3884
Hello guys,

The problem is ONLY with Python 3.7 . When I moved back to Python 3.6 I was able to install !! :D :D

[2018-01-20 09:03] pyk opened #4766 "BigTable: Table.read_row: StatusCode.INTERNAL, GOAWAY received"
Hey, I have application running on Google App Engine. When executing [read_row](http://google-cloud-python.readthedocs.io/en/latest/bigtable/table.html#google.cloud.bigtable.table.Table.read_row)
It raises `grpc._channel._Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.INTERNAL, GOAWAY received)`.

Full stack trace:

[code]

Any idea why this is happen? I can't reproduce the excep

[2018-01-20 20:00] tuneum commented on #3884
(I'm using/have only eve4r used 3.6, but am still unable to install)

[2018-01-20 20:32] opyate commented on #4737
@anorth2 please also show your subscriber setup. Mine is pretty much like the examples:

[code]

Deployed to K8S, and not receiving/processing anything.

Then I also have nights like these where I just can't troubleshoot anything. So frustrating:

<img width="840" alt="screen shot 2018-01-20 at 20 30 28" src="https://user-images.githubusercontent.com/96808/35187761-e05148dc-fe20-11e7-98e1-1a6f9b98

[2018-01-20 22:36] opyate commented on #4737
Digging through code; trying to see if there's debug mode to tell me if messages are being dropped, or if the consumer is stuck in `pause`.

[2018-01-20 22:58] opyate commented on #4737
Possibly related to grpc/grpc/issues/13746  ?

[2018-01-21 13:45] SeanMaday commented on #4648
I am still not able to the extend an acknowledgement using the google-cloud-pubsub==0.30.1 library. Can you please recommend a workaround?

[2018-01-21 18:32] sachin-shetty commented on #4648
@kir-titievsky . I tried with 0.30.1, still cannot get the message to be renewed after 10 minutes, irrespective of any number of callbacks to modify_ack_deadline.

My test script:
`import google.cloud.pubsub_v1 as pubsub
import google.cloud.pubsub_v1.subscriber.policy.thread as pubsub_thread
from google.cloud import exceptions
from google.oauth2 import service_account
import time
import json
impor

[2018-01-21 20:56] kevmo314 opened #4769 "Firebase Firestore: RPC Deadline Exceeded"
Running on Windows 10, python 3.5.2

I also posted to [StackOverflow](https://stackoverflow.com/questions/48241016/firestore-get-resulting-in-deadline-exceeded) but got no response...

Running the following code from the documentation:

[code]

Results in the following unhelpful error 100% of the time:

[code]

To reproduce, create a new firestore database and just run that code.

[2018-01-21 21:18] kevmo314 commented on #4769
Also, writes seem to be working correctly, but all reads end up with that error message.

[2018-01-21 21:30] kevmo314 commented on #4769
Turns out this code works correctly on Linux. Was this even tested on Windows? It would at least have been worth a mention on the documentation that it doesn't work as it would've saved me a few hours of debugging...

[2018-01-21 21:46] kevmo314 commented on #4769
Seems like this issue is related: https://github.com/Microsoft/WSL/issues/2657

I managed to successfully run the code on a real linux machine and in the native windows shell, but in WSL it fails miserably.

[2018-01-22 00:20] pongad commented on #4325
I believe the ack deadline is "whatever a modack would do if it runs". If a modack is scheduled to run 1 minute from now, maybe the recept-modack should be something like 70 seconds. Does this help you in any way?

[2018-01-22 04:28] jonparrott commented on #4769
Yeah, I would guess that it's an issue with WSL. I'm going to go ahead and close this since it works on Linux and Windows, but feel free to comment or let us know if there's anything else we can do.

[2018-01-22 04:28] #4769 closed

[2018-01-22 05:21] zakons commented on #1812
BigTable: Adding a row generator on a table. #4679 is in final stages of test / review.

[2018-01-22 07:51] chemelnucfin opened #4770 "Logging: Clean up to_delete in system tests"
Note to self

[2018-01-22 12:08] sachin-shetty opened #4771 "Pubsub consumers regularly fill with InvalidArgument"
Google Pubsub Python Client

Linux: 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Python 2.7.5

[code]

5. Stacktrace if available

[code]

[code]

After a while consumer stops receiving messages, and then I see the above error in the log.

[code]

Sometimes the error goes away on closing and re-opening the subscription, sometimes it comes back soone

[2018-01-22 16:10] sachin-shetty commented on #4771
Got a different error now

Code:
[code]

Stack trace
[code]

[2018-01-22 16:28] tseaver opened #4772 "Update unit tests to use 'api_core.grpc_helpers.ChannelStub' vs. custom mocks"
See GoogleCloudPlatform/google-cloud-python#4705

Likely other APIs as well.

/cc @jonparrott

[2018-01-22 18:13] chemelnucfin commented on #547
I'm going to go ahead and close this and put this into our feature backlog.  Please feel free to reopen if there are any concerns.

[2018-01-22 18:33] chemelnucfin commented on #2255
@jonparrott @zakons Do you know if retry and the recent work in bigtable would have fixed this?  If not, that's ok, I'll follow up with this later.
Thanks.

[2018-01-22 18:42] sachin-shetty commented on #4771
Some more info, I am now getting Unknown: None Stream removed from future.result() in about 15 minutes regularly.
[code]

The subsequent error on subscriber.stop could be due to a custom thread handler I have, I guess the consumer still looks for the built in one.
[code]

[2018-01-22 19:30] chemelnucfin commented on #3237
Possibly fixed by #4768.  Will reopen if that's not the case.

[2018-01-22 19:30] #3237 closed

[2018-01-22 20:04] chemelnucfin opened #4773 "Ignore: Test"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-01-22 20:05] #4773 closed

[2018-01-22 20:59] chemelnucfin commented on #4007
Hello, feature requests will now be tracked in the projects linked in the above.  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 20:59] #4007 closed

[2018-01-22 21:01] chemelnucfin commented on #4002
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160) linked.  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:01] #4002 closed

[2018-01-22 21:02] chemelnucfin commented on #3903
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:02] #3903 closed

[2018-01-22 21:06] chemelnucfin commented on #3824
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:06] #3824 closed

[2018-01-22 21:06] chemelnucfin commented on #3817
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:06] #3817 closed

[2018-01-22 21:07] chemelnucfin commented on #3523
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:07] #3523 closed

[2018-01-22 21:11] chemelnucfin commented on #3524
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:11] #3524 closed

[2018-01-22 21:12] chemelnucfin commented on #3419
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:12] chemelnucfin commented on #3345
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:12] #3345 closed

[2018-01-22 21:13] chemelnucfin commented on #3329
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:13] #3329 closed

[2018-01-22 21:14] chemelnucfin commented on #3269
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:14] #3269 closed

[2018-01-22 21:14] chemelnucfin commented on #3023
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:14] #3023 closed

[2018-01-22 21:15] chemelnucfin commented on #2463
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:15] #2463 closed

[2018-01-22 21:15] chemelnucfin commented on #2255
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:15] #2255 closed

[2018-01-22 21:15] chemelnucfin commented on #1812
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:15] #1812 closed

[2018-01-22 21:16] markdroth commented on #4002
Sorry, I didn't notice this earlier.

FYI, the client-side LB policy is settable via a channel arg, not just via the service config.

[2018-01-22 21:18] chemelnucfin commented on #1660
Hello, feature requests will now be tracked in the project [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867160).  I will close this issue now, please feel free to continue to address any issues/concerns here.

[2018-01-22 21:18] #1660 closed

[2018-01-22 21:21] chemelnucfin commented on #4773
test

[2018-01-22 22:40] TheJKFever commented on #1402
Thanks @haberman. We were using proto3, but decided to switch to proto2 for this reason. It seems like if you wanted to use proto3 and have the ability to see if someone explicitly set an int enum, you would need to make sure that your enum did not start at 0 or be okay with an implicit default of 0.

[2018-01-23 06:10] pongad opened #4774 "pubsub: retry on more status codes"
See Java implementation [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784a3524f7830f34148abfd3e39677d4/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StatusUtil.java#L28)

[2018-01-23 08:59] thejens opened #4775 "BigQuery: Pandas import errors"
Hi, I am getting import errors for pandas which I am not even trying to use. Would probably make sense to throw a warning in these cases instead of crashing.

1. Specify the API at the beginning of the title: Bigquery

2. OS type and version:
OSX 10.13.2

3. Python version and virtual environment information:
2.7.12

4. google-cloud-python versions:

Name: google-cloud
Version: 0.22.0

Name: googl

[2018-01-23 10:30] sachin-shetty commented on #4648
Hi - @kir-titievsky - can you please let me know the workaround?

[2018-01-23 15:59] kir-titievsky commented on #4648
Sachin, The code below worked for me with no duplicates.  I have a vague subscription that your error handling at the very bottom might be to blame for your results: the underlying code occasionally surfaces exceptions that come from closed connections. The code will rebuild the connection automatically.  You, however, close the client and rebuild it -- which stops all renewals.  Try catching only

[2018-01-23 17:20] chemelnucfin commented on #3247
Cleanups will now be tracked in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9)

[2018-01-23 17:20] #3247 closed

[2018-01-23 17:21] chemelnucfin commented on #3306
Cleanups will now be tracked in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9)

[2018-01-23 17:21] #3306 closed

[2018-01-23 17:22] chemelnucfin commented on #3781
Cleanups will now be tracked in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9)

[2018-01-23 17:22] #3781 closed

[2018-01-23 23:29] thefirstofthe300 commented on #34
Is this still on the roadmap for implementation? The google-api-python-client library is in maintenance mode with no new features being added.

[2018-01-24 01:59] chemelnucfin commented on #4775
Hello, do you mind doing a pip freeze and tell us your pandas version also?  Thanks.

[2018-01-24 10:26] B-ot opened #4780 "PyInstaller: The 'gcloud' distribution was not found and is required by the application"
I am trying to use pyinstaller to compile a python file. I have come across this error after the file has been compiled successfully and I have opened it. line 1 of keygen.py is: Import pyrebase which is what is causing this problem.

`Traceback (most recent call last):
  File "Keygen.py", line 1, in <module>
  File "<frozen importlib._bootstrap>", line 971, in _find_and_load
  File "<frozen impor

[2018-01-24 11:32] sachin-shetty commented on #4648
@kir-titievsky - Sorry no luck, with your script, I get duplicates at 10 minutes

WARNING:root:PUB : 27133513131810 at 2018-01-24 11:06:50
WARNING:root:PULL: 27133513131810 Published at: 2018-01-24 11:06:50  at 2018-01-24 11:06:51
WARNING:root:PULL: 27133513131810 Published at: 2018-01-24 11:06:50  at 2018-01-24 11:16:49
WARNING:root:ACK : 27133513131810 Published at: 2018-01-24 11:06:50  at 2018-

[2018-01-24 11:41] kir-titievsky commented on #4648
This could be a fluke, so worth trying with a few messages.  If that does
not work, you can try doing this with an older version of the client
library [0] which uses a polling pull method.  You would do something like:

Let me know if and how this works out for you. And thanks for your patience.

--------
import multiprocessing
from google.cloud import pubsub

def run(topic_name='parser-jobs'):

[2018-01-24 14:57] sduskis commented on #4766
The server-side disconnects every so often and sends a GOAWAY.  I'm quite surprised that it results in a `StatusCode.INTERNAL`.  I'll have to ask about that.

The solution here is automatic retries by the client, which is a long standing Feature Request: #2255.  We are actively working on this issue.

[2018-01-24 15:44] pascaldelange opened #4781 "Spanner: database.ddl_statements is not working as expected"
Hello,
I am using the python API for google spanner.
In a project I'm working on, I need to obtain the DDL statements of a database.

However, "database.ddl_statements" returns only the DDL statements of the database object, and not of the actual online database.

I was wondering if it would be possible to have a database.ddl_statements() method, that would return a list of DDL statements. I suppo

[2018-01-24 17:09] chemelnucfin commented on #4781
Hello, I believe you need to use the DatabaseAdminClient from here:
[DatabaseAdminClient](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner_admin_database_v1/gapic/database_admin_client.py) and then use the function get_database_ddl.

Please let me know if this doesn't solve your problem.
Thanks.

[2018-01-24 17:40] chemelnucfin commented on #4780
Hello, is your case similar to the case here?
[pyinstaller executable can't find package info #1187](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1187)

[2018-01-24 18:23] chemelnucfin commented on #4586
@Rafff Please follow along in #4679.  I will now close this issue.  If you have any problems or concerns feel free to address them here or in #4679 or open a new issue.  Thank you for your patience.

[2018-01-24 18:28] chemelnucfin commented on #4645
Since this is now tracked in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9#card-6868229) and also is reported in the toolkit repository, I will close this issue.

[2018-01-24 18:28] #4645 closed

[2018-01-24 18:47] tseaver commented on #4781
The `Database` instance has a local copy of the DDL, but that copy may need to be loaded / refreshed from the server.  Call `db.reload()` to refresh it via an API call.

[2018-01-24 18:47] #4781 closed

[2018-01-24 18:50] tseaver commented on #4586
@chemelnucfin Let's leave this issue open until the fix (#4679) is merged.

[2018-01-24 18:56] tseaver commented on #4780
I'm afraid that we cannot help with this issue:  `gcloud` is the now-deprecated former name of this software, and is still [available on PyPI](https://pypi.python.org/pypi/gcloud/).  PyInstaller seems to destroy information about the installed package which other packaging tools (setuptools, pip, etc.) create / use.

[2018-01-24 18:56] #4780 closed

[2018-01-24 21:59] mas-dse-greina opened #4783 "TypeError: setproxy() takes at most 7 arguments (8 given)"
I'm trying to install Google Cloud Platform on a Mac. I am getting this error during the install:

ganthony-mac01:~ ganthony$ google-cloud-sdk/install.sh
Welcome to the Google Cloud SDK!

To help improve the quality of this product, we collect anonymized usage data
and anonymized stacktraces when crashes are encountered; additional information
is available at <https://cloud.google.com/sdk/usage-st

[2018-01-24 22:01] mas-dse-greina commented on #4783
I just noticed that my MacOS python is 3.6.3. Maybe it is that?

[2018-01-24 22:15] tseaver commented on #4783
@mas-dse-greina I'm sorry to say you've reached the wrong site for Google Cloud SDK support:  this repository is where we manage Python wrapper libraries for Google Cloud APIs, which is a (subtly) different thing.

Please see the resources on its [support page](https://cloud.google.com/sdk/docs/community-support).

[2018-01-24 22:15] #4783 closed

[2018-01-25 00:17] alixhami commented on #4677
Hi @VikramTiwari - google.cloud.bigquery version 0.29.0 includes the `to_dataframe` function. Let me know if need any more help with your code after upgrading!

[2018-01-25 01:00] #3928 closed

[2018-01-25 01:38] g0josh opened #4787 "Passing json_credentials_path to SpeechClient"
Hi,
I could not find how to pass on the json_credentials_path to create a SpeechClient in the documentation. I am aware that env variable GOOGLE_APPLICATION_CREDENTIALS can be set. But is there a way to set in code to do streaming_recognise.
This is what I have been trying to do:
[code]
[code]
The docs mention to use
[code]
But does this 'SpeechClient' does not take credentials.

[2018-01-25 01:50] chemelnucfin commented on #4787
At first glance, the problem is with `streaming_config` and not with the credentials that you set.  I will have to look at the code further to see why you are getting the error you are getting.

[2018-01-25 01:57] g0josh commented on #4787
That's right, i am not sure of which  ```SpeechClient``` to use

[2018-01-25 03:03] chemelnucfin commented on #4787
From a quick glance at the code, it doesn't seem like the feature has been
implemented.  I could be wrong though.  Are you able to use another
recognition function?

On Wed, Jan 24, 2018, 5:57 PM job <notifications@github.com> wrote:

[2018-01-25 03:06] jonparrott commented on #4787
This is duplicate of https://github.com/googleapis/toolkit/issues/1718

@lukesneeringer ping on this, it's relatively important.

@g0josh in the meantime you can do:

[code]

[2018-01-25 03:21] jonparrott commented on #4787
My apologies, I misunderstood this.

@g0josh you should be able to construct the higher-level client `google.cloud.speech_v1.SpeechClient` with the credentials object instead of using the lower-level client. Is there anything preventing you from doing that? Do you get an error?

[2018-01-25 03:39] g0josh commented on #4787
Thank you @jonparrott, figured that out from your previous comment. Now my code is
[code]
The credentials issue seems sorted out. But...

[code]

[2018-01-25 03:43] jonparrott commented on #4787
This indicates there's a problem in the thing that generates your requests. I would recommend checking out https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/speech/cloud-client/transcribe_streaming.py for more details on how to construct the streaming requests.

(I'm going to go ahead and close this as the original issue is resolved, but feel free to comment if you're still ha

[2018-01-25 03:43] #4787 closed

[2018-01-25 03:51] jonparrott commented on #3928
@dhermes it's here: http://google-cloud-python.readthedocs.io/en/latest/core/page_iterator.html

[2018-01-25 04:29] g0josh commented on #4787
Hi @jonparrott
Fixed that by
[code]
Now code looks like
[code]
[code]

[2018-01-25 05:17] VikramTiwari commented on #4677
Hey, @alixhami This is working great in 0.29.0 Thanks for all the work! 👍

PS: Didn't wanna open a new issue. Is there an example somewhere about how to create a date-partitioned table?

[2018-01-25 05:25] VikramTiwari commented on #4677
Never mind. Got it working. Closing the issue. 🥇

[2018-01-25 05:25] #4677 closed

[2018-01-25 05:46] jonparrott commented on #4787
Passing in `scopes` and `credentials` has no effect (we should probably warn/ValueError), you'll need to do:

[code]

or

[code]

[2018-01-25 09:09] pascaldelange commented on #4781
Thanks a lot !

[2018-01-25 18:38] jonparrott commented on #4600
According to @mehrdada and team, this appears to be resolved by grpcio 1.8.4. Closing, but if it reappears we can ofc re-open.

[2018-01-25 18:38] #4600 closed

[2018-01-25 18:53] mehrdada commented on #4600
Yes, please file an issue on gRPC issue tracker (or reopen the one) with new repro if you encountered this again. FYI, since it is relevant to the previous discussions on this thread, we modified the epoll1 IO manager code path in core to rely on epoll_create followed by fcntl when compiled on manylinux1 (instead of epoll_create1), so by default our binary packages should have epoll support enable

[2018-01-25 19:06] alixhami commented on #4677
Awesome, I'm glad it works!

[2018-01-26 09:25] Pro100Bac9I opened #4791 "ar"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-01-26 13:07] #4791 closed

[2018-01-26 13:11] #4586 closed

[2018-01-26 14:45] reco commented on #1295
@savraj can you do resizing on the fly by adding `=s200` to your serving url?

[2018-01-26 16:56] gylu opened #4792 "PubSub: Subscriber OOM on Kubernetes, possibly due to flowcontrol max_bytes being incorrectly set"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
PubSub
2. OS type and version
Ubuntu 17.10
3. Python version and virtual environment information `python --version`
Python 3.6.3
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
[code]
5. Stacktrace if available

So

[2018-01-26 17:03] chemelnucfin commented on #4736
@snthibaud Is the multithreading still segfaulting and multiprocessing still hanging and causing you problems after the fix @jonparrott mentioned?

@kpayson64 I wrote a test in #4756 which creates the pool after client creation, and it does not hang.  However, @snthibaud and you mention that it should hang.  Did I write something wrong?  Thank you.

[2018-01-26 17:17] pyk commented on #4766
@sduskis thanks for the explanation, i hope the feature is implemented soon :+1:

[2018-01-26 17:17] #4766 closed

[2018-01-26 17:38] tswast opened #4793 "BigQuery: Document constants for things like NEWLINE_DELIMITED_JSON and move to bigquery module"
See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4790#discussion_r164172094

I think we used to have constants / enum-like classes for some of these things, but maybe they got lost in the rewrite. I can't find NEWLINE_DELIMITED_JSON in the [reference docs for the BigQuery client](https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/reference.html
).

**Feat

[2018-01-26 17:52] savraj commented on #1295
yes I believe so, though I haven't thought about this in years :)

[2018-01-26 20:22] jonparrott commented on #4346
logging's underlying code has been regenerated and I suspect this issue may disappear. I'm going to close this issue for now, but please comment if it reappears with the latest version.

[2018-01-26 20:22] #4346 closed

[2018-01-26 20:23] jonparrott commented on #4420
I am going to close this issue based on my last comment, but feel free to comment if this is still an issue.

[2018-01-26 20:23] #4420 closed

[2018-01-26 21:21] chemelnucfin commented on #4736
@snthibaud From this comment here, https://github.com/grpc/grpc/issues/12455#issuecomment-348578950 it seems the problem only occurs on mac and not linux.  May I ask if you are using a mac?
Thanks.

[2018-01-27 05:28] sachin-shetty commented on #4648
Thankyou  @kir-titievsky. I tested 0.27 and it looks better, I am able to hold on to a message longer as long as I keep renewing it.

BTW, even nack does not work in 0.31, I fetched a messages, nacked it at 8th minute, the message got immediately redelivered - which is good, but it again got redelivered at 10th minute - so something is really funky about 10 minutes in 0.31.

[2018-01-28 00:47] jeffkpayne opened #4798 "PubSub: Allow user specified timeout for this executor.submit() (nice to have)"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b2c7c11e4e24cf571cd5601803a883542136552c/pubsub/google/cloud/pubsub_v1/subscriber/policy/thread.py#L338

Since the `future` will block indefinitely, it would be nice to be able to specify a timeout.  The current work-around we use is to ensure that the `callback` function doesn't block forever, but that requires introducing yet anothe

[2018-01-28 15:27] gennopp commented on #124
In virtual environment it will not work, unfortunately it is working outside of it. Try installing through
pip install --upgrade oauth2client.

[2018-01-29 03:48] chemelnucfin commented on #4649
Hello, is this issue still a problem for you?

[2018-01-29 17:52] kir-titievsky commented on #4648
@sachin-shetty Sachin, 10 minutes is a magical number in that it's the maximum duration for which you can modifyAckDeadline.  To keep the messages longer, you have to repeatedly call modifyAckDeadline. Were you doing that?

@dhermes Is there something that the client library does at 10 min intervals?

[2018-01-29 19:47] chemelnucfin commented on #4770
Tracking this in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9#card-6868217)

[2018-01-29 19:47] #4770 closed

[2018-01-29 19:47] chemelnucfin commented on #4752
Tracking this in [Feature Requests](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/5#card-6867100)

[2018-01-29 19:47] #4752 closed

[2018-01-29 21:05] chemelnucfin commented on #4717
Tracking this in [Cleanup](https://github.com/GoogleCloudPlatform/google-cloud-python/projects/9#card-6868221)

[2018-01-29 21:05] #4717 closed

[2018-01-29 21:31] Sumaiter opened #4804 "Command ""e:\bilder usw\python 3.5 64 bit\python.exe" -u -c "import setuptools, tokenize;__file__='C:\\Users\\Sumaiter\\AppData\\Local\\Temp\\pip-build-hj52szyc\\scikit-image\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\Sumaiter\AppData\Local\Temp\pip-oaxbo6qc-record\install-record.txt --single-version-externally-managed --compile" failed with error code 1 in C:\Users\Sumaiter\AppData\Local\Temp\pip-build-hj52szyc\scikit-image\"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-01-29 21:36] Sumaiter opened #4805 "Command ""e:\bilder usw\python 3.5 64 bit\python.exe" -u -c "import setuptools, tokenize;__file__='C:\\Users\\Sumaiter\\AppData\\Local\\Temp\\pip-build-hj52szyc\\scikit-image\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\Sumaiter\AppData\Local\Temp\pip-oaxbo6qc-record\install-record.txt --single-version-externally-managed --compile" failed with error code 1 in C:\Users\Sumaiter\AppData\Local\Temp\pip-build-hj52szyc\scikit-image\"
Hey guys i tryed to install a txt but at the end comes a error massage i hope you can help me.
What caught my eye was the sentence "failed with error code 1"at the end.

PS E:\Bilder usw\Python 3.5 64 bit\Scripts> pip install -r requirements.txt
Requirement already satisfied: pathlib==1.0.1 in e:\bilder usw\python 3.5 64 bit\lib\site-packages (from -r requirements.txt (line 1))
Requirement already

[2018-01-29 21:36] #4804 closed

[2018-01-29 22:02] chemelnucfin commented on #3391
@tartavull Hello, is this issue still a problem for you?

[2018-01-29 22:20] chemelnucfin commented on #4725
I believe this issue has been fixed and is now superseded by #4793.
Please reopen if I'm wrong @tswast.

[2018-01-29 22:20] #4725 closed

[2018-01-29 22:34] chemelnucfin commented on #4805
Hello, while I'm not sure if you are at the right place, may I ask what you are trying to do?  Where did you get the requirements.txt?

It seems like you are unable to build scikit image, and you may have better luck here:
[Scikit-Image](https://github.com/scikit-image/scikit-image)

I'm going to close this issue, but feel free to comment here and I'll see if I can help.

[2018-01-29 22:34] #4805 closed

[2018-01-29 22:53] kw commented on #3897
Those will create the local object, not the config/variable in the cloud. The exists() methods of the created objects will return False if they haven't been created using `gcloud` or direct HTTP calls. Likewise, Variable doesn't expose any way to set the variable's value in the cloud.

To put it another way, there's no way to achieve `gcloud beta runtime-config configs variables set <NAME> <VALUE>

[2018-01-29 23:01] kw commented on #3898
While your patch probably covers the state, the value is still an issue.

In this case, the missing bit of information is how the variable was set in the first place. If the gcloud ... set command is run using the `--is-text` flag, the resource returned will have a `text` field instead of a `value` field. The current implementation ignores the possibility of the `text` field. The `value` getter sh

[2018-01-29 23:14] VikramTiwari opened #4806 "BigQuery: sample(s) for replacing data in a partition with WRITE_TRUNCATE"
Feature request

Ability to use `replace` flag for a date partitioned table in order to effectively delete that date partition and add new data. Simply a feature which replicates functionality provided by `bq` CLI tool shown here: https://cloud.google.com/bigquery/docs/creating-partitioned-tables#restating_data_in_a_partition

[2018-01-29 23:38] chemelnucfin commented on #3897
@kw Thanks, I misunderstood.  So it seems like these are just not implemented features in the client and not that it shouldn't be there.  I will reopen this.

[2018-01-29 23:41] kw opened #4807 "Runtimeconfig: Update time fails to parse"
OS: Linux (Debian 4.9.65)
Python: 3.5.3 / 2.7.13
Version: google-cloud-runtimeconfig==0.28.0, google-cloud==0.32.0

Steps to reproduce:
1. Using gcloud, set a runtimeconfig variable.
2. In Python, load that variable
3. Try to access its update_time property.

[code]

Observation: The `%f` format accepts microseconds, not fractions of arbitrary precision. That means six digits at most, but I see ni

[2018-01-29 23:49] tswast commented on #4725
Well, not fixed. But #4793 is indeed a duplicate.

[2018-01-29 23:54] schmidt-sebastian opened #4808 "Firestore: DocumentSnapshot copies data twice"
The constructor for DocumentSnapshot makes a defensive copy of its data before we do this again in https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/firestore/google/cloud/firestore_v1beta1/document.py#L588

We should remove the latter copy.

[2018-01-29 23:55] chemelnucfin commented on #3898
@kw Thanks, so to make it consistent with the others, it seems like it would be better to have these two fields as oneof's (and therefore separate) instead of just using `Variable.value` for both.  Am I correct?

[2018-01-29 23:55] schmidt-sebastian opened #4809 "Firestore: Non-existing Documents"
Calls to `DocumentSnapshot.to_dict()` for non-existing documents should return `None` and not an empty dictionary.

[2018-01-29 23:57] schmidt-sebastian commented on #4109
Firestore should also accept DocumentSnapshot cursors similar to https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2768

[2018-01-30 00:17] kw commented on #3898
That seems internally consistent with the resource, yet also inconvenient and confusing for an end user. For comparison, using the gcloud `get-value` command on this resource will return either `value` or `text`, whichever is present.

A nice middle ground might be to add an extra property or method that returns whichever type of value is present. But the important thing is making them accessible

[2018-01-30 00:19] chemelnucfin commented on #4808
@schmidt-sebastian But don't we want the snapshot to have immutable data as well?  Otherwise the data in the snapshot can be changed.

[2018-01-30 00:21] schmidt-sebastian commented on #4808
Yes, we do. Does the backing data for a DocumentSnapshot change over the lifetime of a client?

[2018-01-30 00:37] chemelnucfin commented on #4808
The backup data inside the `DocumentSnapshot` should not change because it is copied when created.  Once it's created, it also shouldn't be changed.  The original data could be changed, but it wouldn't affect the snapshot.

I think that's what you are trying to ask?

[2018-01-30 00:44] chemelnucfin commented on #4808
I guess what I mean is that if you remove the latter copy from your original post, then you can change the data in the snapshot through that method.  (Though it might be user error to do so)

[2018-01-30 07:41] sachin-shetty commented on #4648
Yes, I tried modifyAckDeadline on both message and subscription

I have switched to 0.27 which is working well for me.

[2018-01-30 08:45] chemelnucfin commented on #3898
@kw As I mentioned in the PR, I have assumed that `value` always holds `base64 decodable bytes` and also that either `value` or `text` is set at any time.  If my assumptions are wrong, python2 and python3 may need to be treated differently.

[2018-01-30 17:03] vkoppaka opened #4812 "google.gax.errors.RetryError: RetryError with pubsub"
I am running into the following error when using Google PubSub in a Kubernetes Container recently (it was working fine until a week back).
Exception occurred in retry method that was not classified as transient, caused by <_Rendezvous of RPC that terminated with (StatusCode.UNAUTHENTICATED, Deadline Exceeded)

What could I do to debug what is causing this behavior?

1. Specify the API at the begin

[2018-01-30 17:47] chemelnucfin commented on #3899
@lukesneeringer Is this also another autogen issue?

[2018-01-30 17:48] schmidt-sebastian commented on #4808
If that's the case, then we should keep both defensive copies. Thanks for pointing out all the edge cases here.

[2018-01-30 17:48] #4808 closed

[2018-01-30 18:15] chemelnucfin commented on #3128
@speedplane @vsoch Is this still a problem?  I noticed there has been a change in the datastore client and that retry is in the autogen client.

[2018-01-30 19:09] ccurvey opened #4813 "Translate: fails with large text (errors 411 and 413)"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

Translate

2. OS type and version

Linux (Ubuntu 17.10)

3. Python version and virtual environment information `python --version`

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=276655

4. google-cloud-python version `pip show google-cloud`, `pip show google-<se

[2018-01-30 19:15] vsoch commented on #3128
Ah, I can't give additional feedback on this - we wound up switching to a different database.

[2018-01-30 19:17] ccurvey commented on #4813
I **think** the problem might be at cloud/translate_v2/client.py, line 223-234, as annotated

[code]
When

[2018-01-30 21:33] yipjustin opened #4814 "google.cloud.storage: weird crash with nltk under ProcessPool"
API: google.cloud.storage
osx 10.11.6
python 3.5

Hello,

I experienced some weird error when using `nltk` and `google.cloud.storage` under `ProcessPool`.

After `import nltk`, I tried to extract data from google storage from the main process, it works fine. See `first_main_then_pool()` below.

However, when I extract data from a process pool executor directly after `import nltk`, See `only_pool()

[2018-01-30 22:04] speedplane commented on #3128
I still see datstore errors all the time, most recently 503 GOAWAY
messages. It occurs only about 0.01% of the time, but still far too much.

On Tue, Jan 30, 2018 at 2:15 PM Vanessa Sochat <notifications@github.com>
wrote:

--
Best, -Michael

[2018-01-30 22:57] anorth2 commented on #4737
So...any updates on this?

[2018-01-30 23:26] chemelnucfin commented on #3128
@vsoch Thank you for taking the time to respond.  Perhaps in the future you can give our product a try again.  I apologize for any inconvenience this may have caused.

@speedplane From [4766](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4766) it seems like getting a 503 GOAWAY message from server side is a normal part of the process.  I believe that we are having retries built

[2018-01-31 15:02] lukesneeringer commented on #3899
This should be fixed by newer versions (95% confidence), as `api_core` completely rewrote LRO and video intelligence uses it.

Closing this issue; re-open if I am wrong.

[2018-01-31 15:02] #3899 closed

[2018-01-31 19:51] chemelnucfin commented on #2951
@melissachang Hello, were you able to resolve your issue following the example?

[2018-01-31 21:14] tartavull commented on #3391
I left the project which was using the library 5 months ago. I'm sorry I
can't answer.

On Mon, Jan 29, 2018, 5:02 PM chemelnucfin <notifications@github.com> wrote:

[2018-01-31 21:34] chemelnucfin commented on #3391
@tartavull Thank you for your response.  Hopefully with all the code changes that has happened this problem has been resolved for that project.

Please consider trying our library again if it suits your needs.
Thanks.

[2018-01-31 21:34] #3391 closed

[2018-01-31 21:39] chemelnucfin commented on #3391
If it is still a problem for anyone else, please feel free to reopen this ticket or to create a new issue.

[2018-01-31 22:29] tswast commented on #4806
I believe the `replace` flag in the CLI uses the "write disposition" parameter. An example of replacing a table with a load job is available at:

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/8498a677e20da7d43db1d1011662ebdc78bd0184/docs/bigquery/snippets.py#L611-L630

To replace a partition use the partition in the table ID. e.g.

[code]

The action item I see here: Show writing

[2018-01-31 22:48] melissachang commented on #2951
Hi, I don't remember where I saw this problem and how I worked around it, sorry.

[2018-01-31 22:57] tswast commented on #4807
Interesting. RuntimeConfig must have started recording nanoseconds somewhat recently.

@jonparrott It seems [Python only supports microsecond precision, not nanoseconds](https://stackoverflow.com/a/10612166/101923).

I'm guessing we should modify the parsing to discard nanoseconds when present.

[2018-01-31 23:25] aatreya commented on #3359
For flask (at least), this doesn't appear to be working as intended for us.

Specifically, the get_gae_labels() -> get_trace_id() -> get_trace_id_from_flask() code path is only called when the AppEngineHandler class is instantiated, which happens when get_default_handler() or setup_logging() is called when the app is initialized, **not** on every request. As a result, the trace_id is never populat

[2018-02-01 01:17] liyanhui1228 commented on #3359
@aatreya Thanks for the feedback! This log correlation feature was intended for AppEngine Flex specifically to match the behavior of AppEngine Standard. You can call `handler.get_gae_labels()` to get the `trace_id` in each request to update the `labels` field in the log payload. And then the logs will show up as correlated in the console.

[2018-02-01 02:11] chemelnucfin commented on #2951
No problem, glad it worked out.

[2018-02-01 02:54] chemelnucfin commented on #3899
@lukesneeringer What does LRO stand for in this case?

[2018-02-01 04:35] VikramTiwari commented on #4806
Ah! That makes sense 👍  Thanks for providing the example.

[2018-02-01 05:07] aatreya commented on #3359
@liyanhui1228 My understanding is that the setup_logging() function is designed to automate all the environment-specific handler configuration, and that users of the library should never need to call handler.get_gae_labels() directly. Is this incorrect? If so, do you have any best practices on how this should be called from within a Flask request when the handler is automatically configured via se

[2018-02-01 06:50] akmalhakimi1991 opened #4820 "[Speech] TypeError: __call__() got multiple values for keyword argument 'timeout'"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
`google-cloud-speech`
2. OS type and version
`0.31.0`
3. Python version and virtual environment information `python --version`
`2.7.3`
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

5. Stacktrace if available

6.

[2018-02-01 07:05] liyanhui1228 commented on #3359
@aatreya Yeah correct the `setup_logging()` configures the handler automatically. But unfortunately in GAE Flex the `trace_id` is neither stored in the environment variables nor in the log record as in the python compat runtime. So we have to extract it from the request headers. You can get the handler configured by `setup_logging()` via `handler = client.get_default_handler()` and then update the

[2018-02-01 18:01] aatreya commented on #3359
@liyanhui1228 It looks like client.get_default_handler() creates a new handler object on each call, rather than returning the handler that was already configured. This means that even if I were to manually call get_default_handler() on each request, the logging handler that is actually linked to the root logger wouldn't actually be affected. Am I mistaken?
Would it be possible to move get_gae_labe

[2018-02-01 18:14] opyate commented on #4648
@kir-titievsky the [pydoc](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/8616c45291e999ad83b8b45fe16d990f73cbed0f/pubsub/google/cloud/pubsub_v1/subscriber/message.py#L233-L236) says "This is not an extension", which is quite deceiving if this function can be called to indeed "extend" the deadline.

[2018-02-01 18:27] chemelnucfin commented on #3602
@lukesneeringer I believe that this has been fixed and confirmed via #4821.  Please feel free to reopen if it's not.  You may also be able to close the internal ticket also.  Thanks.

[2018-02-01 18:27] #3602 closed

[2018-02-01 18:43] tseaver commented on #4807
@tswast FWIW, spanner has a non-public [`TimestampWithNanoseconds`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4867ac328269c969d520bea64d0d9893bb5257cb/spanner/google/cloud/spanner_v1/_helpers.py#L33) (derived from `datetime.datetime`).  We could promote it if that would be useful.

[2018-02-01 18:43] chemelnucfin commented on #4814
Hello, I was unable to reproduce your problem, however I'm not on a Mac and here is another known issue that seem to only affect Macs and not Linux [grpc](https://github.com/grpc/grpc/issues/12455#issuecomment-348578950).  But I'm not sure it's relevant to your case.

Also, approximately how big are your a.txt and b.txt files and are there special characters in them?
Thanks.

[2018-02-01 18:45] jonparrott commented on #4807
promote it into api_core? It might be useful because many APIs do expose nanosecond precision.

[2018-02-01 18:45] tseaver commented on #3899
@chemelnucfin "long-running operation"

[2018-02-01 18:45] tswast commented on #4807
The from_rfc3339 function there looks very useful. I would bet that more GCP products will be doing nanoseconds.

[2018-02-01 18:50] chemelnucfin commented on #3899
@tseaver thanks.

[2018-02-01 18:57] yipjustin commented on #4814
Both files have only few bytes:

https://storage.googleapis.com/yipjustin-a/a.txt
https://storage.googleapis.com/yipjustin-a/b.txt

[2018-02-01 22:46] kir-titievsky commented on #4648
Juan, fair point.  Any interest in submitting a small PR to correct this?

On Thu, Feb 1, 2018 at 1:14 PM Juan M Uys <notifications@github.com> wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-02-01 23:25] chemelnucfin commented on #4820
This is only a python2 issue.

python3 shows a different issue.
ALSA lib pcm_dsnoop.c:606:(snd_pcm_dsnoop_open) unable to open slave
ALSA lib pcm_dmix.c:1029:(snd_pcm_dmix_open) unable to open slave
ALSA lib pcm.c:2266:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.rear
ALSA lib pcm.c:2266:(snd_pcm_open_noupdate) Unknown PCM cards.pcm.center_lfe
ALSA lib pcm.c:2266:(snd_pcm_open_noupdate) Unknown P

[2018-02-01 23:33] liyanhui1228 commented on #3359
@aatreya Instead of using `client.setup_logging()`, you can also add handler to a logger like below as described in the [document](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs/logging/stdlib-usage.rst):
[code]
Moving the `get_gae_labels` to `emit()` function can simplify the code, I have prepared a PR for changing that code path. But you can use the above code as the

[2018-02-01 23:39] liyanhui1228 opened #4823 "[Logging] Move the code path of calling get_gae_labels() to emit()"
Related with #3359. To make it easier to set the labels in each request without explicitly calling `handler.get_gae_labels()` or calling `client.setup_logging()` inside the request which causes a lot overhead, it's better to move the code path of getting the gae labels to the `emit()` function in the logging handler. And change the `AppEngineHandler` to extend the `logging.StreamHandler` directly

[2018-02-02 00:19] kenashcraft opened #4825 "Monitoring: label of type INT64 rejected"
I'm trying to write a simple HTTP prober and write the resulting status code to StackDriver.  It doesn't seem to like labels of type INT64

[code]
It would be helpful if the error message said which label had an invalid value.  After some process of elimination, I confirmed that it is the 'response_code' label.

Here is my code:
[code]

It seems to work if I change the type of the `response_code`

[2018-02-02 03:44] chemelnucfin commented on #4820
Hello, I have fixed the code for python3 and you can follow it here: [python-docs-samples/1340](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/1340).

Given our limited resources, I will now close this issue and would like to suggest that you use python3 since the bug fix for python2 was not obvious.  I will track this in our projects, however.

If you must use python2, please do

[2018-02-02 03:44] #4820 closed

[2018-02-02 03:50] akmalhakimi1991 commented on #4820
Yes, unfortunately, the device that I'm running the script on can't run Python 3. Would be cool if you can look into the Python 2 issue as well. Thanks

[2018-02-02 05:58] #4295 closed

[2018-02-02 05:59] jonparrott commented on #4295
`setup.py`, like `nox.py`, is a configuration file for a specific tool. We should not treat it as a Python module.

[2018-02-02 06:08] jonparrott commented on #4825
@liyanhui1228 can you help here?

[2018-02-02 06:17] scottingly opened #4826 "pubsub: subscriber: keep getting "Stream removed" errors"
every few days, sometimes a week, one of our subscribers in a `while True` loop waiting on `future.result(timeout=1)` is getting excepted, exception string is `None Stream removed`.  this might happen maybe every thousand received messages (I can count better if it's needed).

originally we were on `grpcio-1.8.1`, and after searching, we seemed to find [some indication](https://github.com/grpc/grp

[2018-02-02 06:35] chemelnucfin opened #4827 "Trace: Release"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2018-02-02 06:35] #4827 closed

[2018-02-02 11:56] tseaver opened #4829 "Promote 'TimestampWithNanos' from 'spanner' to 'api_core'"
It would be useful for other services as they begin to render nanosecond-resolution timestamps.

See: #4807

[2018-02-02 11:56] tseaver commented on #4807
@jonparrott see #4829.

[2018-02-02 19:00] tseaver commented on #4829
Nothing but the `spanner` version preserves nanoseconds in the derived datetime instance.

[2018-02-02 19:03] liyanhui1228 commented on #4825
@jonparrott OK, taking a look at it.

[2018-02-02 20:00] chemelnucfin commented on #4814
@yipjustin
  Would this work to solve your case?  Using a `if __name__=='__main__':` https://stackoverflow.com/questions/15900366/all-example-concurrent-futures-code-is-failing-with-brokenprocesspool

Thanks.

[2018-02-02 20:49] yipjustin commented on #4814
Tried. Saw that thread too. That's an unrelated bug.

On Fri, Feb 2, 2018 at 12:00 PM, chemelnucfin <notifications@github.com>
wrote:

[2018-02-02 22:48] chemelnucfin commented on #4809
Hi Sebastian,
  The DocumentSnapshot should have already raised an exception on creation if the document is not found.  So I believe that returning None would be extraneous.  Please let me know if you don't think that's the case.

[2018-02-03 00:29] schmidt-sebastian commented on #4809
We should no longer raise exceptions for missing documents, but instead return None/Null for any getData() call.

[2018-02-03 00:57] gylu commented on #4792
Trying to hardcode flow_control.max_bytes also doesn't seem to work.

For example I tried setting the pod to have a limit of 1000Mi of memory. I then hardcode max_bytes to be roughly 20% of that, at 200,000,000 bytes of memory (200MB)
[code]

Modified my print outs and saw this printed out as an example:

[code]

At roughly the point of the above print out, "kubectl top pods" on the pod was showin

[2018-02-03 01:09] jeffkpayne commented on #4798
@chemelnucfin One thing I noticed was that doesn't seem to be an easy way to pass in any parameters to the `thread.Policy` used by `subscriber.client.Client()`.  Any customization currently requires the caller to subclass the `Policy` class.  What are your thoughts on how to pass in parameters that then get forwarded to the `thread.Policy` object instantiated in `_get_executor()`?

[2018-02-03 11:22] bigunyak opened #4832 "Can not reopen Pub/Sub subscription with a different callback"
I'm trying to do a simple thing: open Pub/Sub subscription with one callback just to drain out all messages that are currently stored in the subscription. Then reopen the same subscription with a different callback to do a proper processing. Unfortunately that doesn't seem to work.

The first time I open subscription like this:
[code]

After that I try to reopen subscription with a different callb

[2018-02-03 17:58] mike-seekwell commented on #4122
I'm stilling getting this error on GAE, here's my requirement file:

psq==0.6.0

google_auth_oauthlib==0.2.0
oauth2client==4.1.2
google==1.9.3
google-api-python-client==1.6.4
google-auth==1.1.1
google-cloud==0.27.0
google-cloud-core==0.27.1
google-cloud-pubsub==0.28.3
google-cloud-storage==1.4.0
google-gax==0.15.15
grpc-google-iam-v1==0.11.4
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-clo

[2018-02-03 20:45] chemelnucfin commented on #4122
Hello, I'm not sure if this is the best answer or if it would solve your problem, but some of the requirements are fairly old.
Will you be able to try the versions here?
https://pypi.python.org/pypi?%3Aaction=search&term=google-cloud&submit=search

[2018-02-03 20:56] chemelnucfin commented on #4798
Hello, sorry for haven't been responding.  I believe that my coworker is in the midst of overhauling the pubsub internals, which is why I have not tried to dig deep into pubsub problems.  I will keep this in mind and try to find out what is going on with the library.  Thanks.

[2018-02-03 23:22] chemelnucfin commented on #4820
@akmalhakimi1991 @jonparrott has fixed the helpers problem.  Sorry about that!

[2018-02-04 09:18] akmalhakimi1991 commented on #4820
Is that supposed to fix this issue? I tried just now and I still see the issue. I already uninstall and reinstall the package (including upgrading `grpcio` to 1.9.0)

[2018-02-05 18:41] liyanhui1228 commented on #4825
@kenashcraft Thanks for reporting! This is actually an intended behavior according to [metric.proto](https://github.com/googleapis/googleapis/blob/70402cea3d4f76878ebe83907c4ccc1c604b39b7/google/api/metric.proto#L195). The `labels` field of `Metric` instance only accepts string type values. While the value type of the `LabelDescriptor` is for the backend processing of the label values, like sum, a

[2018-02-05 18:44] jonparrott commented on #4710
I've reviewed the api surface and found no inconsistencies with our overall python libraries nor anything that causes concern for version thrashing post-GA. This can launch.

[2018-02-05 18:46] jonparrott commented on #4710
@tseaver do you mind cutting the release PR?

[2018-02-05 19:06] chemelnucfin commented on #4710
@jonparrott what about making the to_pb methods private?

[2018-02-05 19:14] jonparrott commented on #4710
Should we?

[2018-02-05 19:20] #4823 closed

[2018-02-05 20:00] aatreya commented on #3359
Your PR fixed the issue for us. Thanks!

[2018-02-05 20:00] chemelnucfin commented on #4710
My thoughts on that are that it breaks current compatibility, but it is overall a better decision.

Obviously it's all usable anyway, so I guess the risk here is how big is the risk to break current compatibility.  But it's probably better done now than later.

[2018-02-05 20:03] jonparrott commented on #4710
cool, let's do it then. Do you mind sending the PR to do that?

[2018-02-05 20:10] chemelnucfin commented on #4710
See #4740

[2018-02-05 23:38] chemelnucfin commented on #4710
@jonparrott Since we are breaking changes, should session also be changed to non-public then?
[Session](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3740#issuecomment-345112082)
I was hesitant to do it because it was a breaking change and that didn't go well before.

[2018-02-05 23:43] jonparrott commented on #4710
I don't think we should make the session class private.

[2018-02-05 23:43] jonparrott commented on #4710
@tseaver wdyt?

[2018-02-05 23:47] jonparrott opened #4840 "Determine how to support emulators consistently across all clients."
There are emulators available for several APIs (such as Datastore and Pub/Sub). We need to figure out the right client patterns to support these across the board. This issue is to discuss our options.

[2018-02-05 23:47] theacodes opened #10300 "Determine how to support emulators consistently across all clients."
There are emulators available for several APIs (such as Datastore and Pub/Sub). We need to figure out the right client patterns to support these across the board. This issue is to discuss our options.

Also relates to googleapis/google-cloud-python#3920

[2018-02-05 23:53] chemelnucfin commented on #4710
@jonparrott [Session](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3740#issuecomment-348564023).
Sorry, wrong comment.

[2018-02-05 23:54] danoscarmike commented on #4320
@lukesneeringer @jonparrott can one of you have a poke into this please?  Thanks!

[2018-02-06 00:29] chemelnucfin commented on #4320
@danoscarmike This problem might be changed with #4111.  The problem with #4111 was that I was stuck not being able to merge two protobufs and it didn't seem like it should be done with a fix in our client.  I could try to make workarounds, but it wouldn't be the right place to put it.

[2018-02-06 00:31] chemelnucfin commented on #4320
Let me take a look again.

[2018-02-06 02:07] chemelnucfin commented on #4111
@schmidt-sebastian @samtstern
I think I miscommunicated my thoughts.  In my [example,](https://gist.github.com/chemelnucfin/71649e34f6b731c7a866124b3cde37d7) `original.pb` is the 1st block in [here](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4111#issuecomment-337331831).
The `update.pb` is the protobuf that should be in the 2nd block, and which should be the same as the `get

[2018-02-06 02:18] ThatsAMorais opened #15233 "Allow signing of URLs from default credentials"
When an application is run on Google Cloud Platform there are usually a set of default credentials populated in `GOOGLE_APPLICATION_CREDENTIALS`. However, this is only a token and does not contain a key used for signing uploads; this requires mounting a service account key into the pod and overriding the environment. There may be other ways to achieve this, as well.

For example, if one uses the S

[2018-02-06 05:35] chemelnucfin commented on #4820
@akmalhakimi1991 Hello, I believe we need to put out a new release to get the release out to you.  I'm not completely sure how often we put out new releases.  @jonparrott Could you let me know that?

[2018-02-06 05:37] jonparrott commented on #4820
We release as often as we need. Feel free to draft a release PR for speech.

On Mon, Feb 5, 2018, 9:35 PM chemelnucfin <notifications@github.com> wrote:

[2018-02-06 08:51] chemelnucfin commented on #4320
@danoscarmike So I have found the issue that causes the problem, but I have no idea how to fix this yet and I will probably need someone who is more familiar with protobuf.

[update](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/firestore/google/cloud/firestore_v1beta1/_helpers.py#L865-L868)
returns
[code]
{u'14': map_value {
  fields {
    key: "city"
    value {
      by

[2018-02-06 10:29] krelst opened #4841 "Pub/sub: amount of streaming pull operations way higher than streaming ack operations"
We are using `python 2.7.12` with `google-cloud-pubsub==0.30.1` and `grpcio==1.9.1` and have a very basic subscriber script:

    import random
    import time

    from google.cloud import pubsub

    GCLOUD_PROJECT_ID = <our_project_id>
    SUBSCRIPTION_NAME = <subscription_name>

    def pubsub_message_callback(message):
        time.sleep(random.random())
        message.ack()

    def main():

[2018-02-06 15:12] lukesneeringer commented on #4320
The protobuf `Map` is a `<string, Value>`, so I am reasonably certain a stealth integer encoding is not the actual problem.

[2018-02-06 16:36] choenden opened #4842 "BigQuery: Add support for BigQuery customer-managed encryption keys"
BigQuery customer-managed encryption keys allow users to specify a Cloud KMS key to protect their BigQuery table.

API:
Jobs: https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs
In a job, there is a destinationEncryptionConfiguration field, which indicates which Cloud KMS key should be used for the destination.

Tables: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables
In a

[2018-02-06 16:39] chemelnucfin commented on #4320
The field names cannot start with numbers unless it is in utf8.  So if it worked in node, it might be an encoding issue?

// A simple field name contains only characters `a` to `z`, `A` to `Z`,
  // `0` to `9`, or `_`, and must not start with `0` to `9` or `_`. For example,
  // `foo_bar_17`.

 The map
  // keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be
  // empty.

[2018-02-06 16:40] jonparrott commented on #4842
/cc @tswast @alixhami

[2018-02-06 16:51] lukesneeringer commented on #4320
_Ohhhhhhh._ Okay, I see. And the OP is on Python 2.7.

[2018-02-06 16:58] choenden commented on #4842
FYI that BQ team is trying to get a pull request ready

[2018-02-06 17:16] schmidt-sebastian commented on #4111
In the create_and_update example you linked, you are updating the field `address` and replacing its entire contents with `{city: LA}`. If you only want to change the city itself and keep the state, you need to use the dotted field path notation: `address.city`:`LA`.

For `set(..., merge)` you would automatically infer the field mask `address.city` and do a deep merge.

[2018-02-06 17:34] tswast commented on #4842
I see there is only one property, `"kmsKeyName": string`, in the encryption configuration type. We could make a new class for the encryption configuration, but do we need too?

Regarding `destinationEncryptionConfiguration` in the Jobs, it appears that these properties are in the job-type specific configurations, such as `configuration.copy` and `configuration.query`. That fits well with the curre

[2018-02-06 17:36] tswast commented on #4842
@choenden are you a Googler? If so, you should register at go/github and familiarize yourself with go/github-docs

[2018-02-06 20:15] tseaver commented on #4710
Totally don't wanna make the session class private:  more advanced users may definitely need to use it.

[2018-02-06 20:20] jonparrott commented on #4710
Cool, let's get a release PR drafted. @chemelnucfin do you want to take that on? (if not, I'll do it tomorrow morning).

[2018-02-06 20:22] jonparrott commented on #4829
Who wants to take this on? I'm happy to do it but if someone else is eager...

[2018-02-06 20:23] jonparrott commented on #4841
@lukesneeringer or @dhermes can you take a look?

[2018-02-06 20:25] jonparrott commented on #4798
Pub/Sub internals should be pretty solidified.

@jeffkpayne I'm not sure why this is needed. The future never gets awaited by our code (nor is it exposed to the user in a way that they could await it). We use `add_done_callback` just to log that the task was completed. Can you tell me more about your use case here?

[2018-02-06 20:26] jonparrott commented on #4832
I would say no. I would just recommend creating a new subscriber object (that references the same subscription) in the case.

Closing for now, but happy to continue discussing.

[2018-02-06 20:26] #4832 closed

[2018-02-06 20:28] jonparrott commented on #4826
@lukesneeringer @dhermes can one of you take a look?

@scottingly can you possibly give us a full stack trace?

[2018-02-06 20:36] jonparrott opened #4844 "Add webhook"

[2018-02-06 20:38] #4844 closed

[2018-02-07 07:36] jeffkpayne commented on #4798
Sorry, I worded the issue poorly.  Regardless of whether or not `future.result()` is called, the `_callback` function that processes the message could block a long time and eat up the threads in the `ThreadPoolExecutor`.  Again, this is a nice-to-have.  If this seems unnecessary to you, then please close it.

[2018-02-07 08:36] chemelnucfin commented on #4111
Thanks, that made it a lot clearer.

[2018-02-07 09:11] GaheeK commented on #4820
Hi, I am having same problem with the first question and i am using python3 (using pyenv virtualenv)
OS type : mac OS  ver. 10.12.6
Python : Python 3.6.2  ( using pyenv vertualenv )
pip freeze
[code]

Using the code sample,
https://github.com/chemelnucfin/python-docs-samples/blob/59e5d1715598c73e6b9f4bb307bcb7970fad9e86/speech/cloud-client/transcribe_streaming_mic.py
I got an error message

[code]

[2018-02-07 09:25] GaheeK commented on #4820
It worked as I downgrade google-cloud-speech from 0.31.0 to 0.27.0
[code]

[2018-02-07 10:20] bigunyak commented on #4832
Just want to confirm that creating a new subscription (`pubsub.SubscriberClient()`) and opening it with a different callback works fine, thanks!

[2018-02-07 11:08] listentojohan commented on #2464
I just encountered the same problem, but have had it working before.
[code]

[2018-02-07 11:18] listentojohan commented on #2464
Uninstalling and doing a clean install did solve it.

[2018-02-07 15:08] jonparrott commented on #4832
Good deal. :)

On Wed, Feb 7, 2018, 2:20 AM Dmitry Bigunyak <notifications@github.com>
wrote:

[2018-02-07 17:51] chemelnucfin commented on #4111
@schmidt-sebastian After working on the PR for this, I realized there is a design question needed to be discussed.  Are there likely going to be more write options in the future?

Currently, the way it is implemented is using a kwargs:
[write option](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/firestore/google/cloud/firestore_v1beta1/client.py#L248)

However, `MergeOptio

[2018-02-07 18:05] schmidt-sebastian commented on #4111
We do something similar with the Mobile SDKs. Take a look here: https://github.com/firebase/firebase-js-sdk/blob/453677f005d04e47be2324b9c1577051139652c0/packages/firestore/src/api/user_data_converter.ts#L115

We have four different 'parse modes': Set, Update, MergeSet, and QueryValue. Looks like you could do something similar and do Set, Update, MergeSet and Delete.

For now, we don't have any pl

[2018-02-07 18:13] jonparrott commented on #4820
Our apologies, we fixed the issue but failed to cut a release. Version 0.31.1 will fix this, the release PR is here: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4848

[2018-02-07 20:14] chemelnucfin commented on #4820
Sorry, I was taking care of other issues and was going to do it today.  Apologize for the delay and thanks @jonparrott.

[2018-02-07 21:53] jonparrott commented on #4812
Unfortunately we aren't supporting the previous versions of this library (we are pushing towards v1.0.0 and having consistent support). If you can reproduce this with the latest version (0.30.1) then I'll be glad to re-open.

[2018-02-07 21:53] #4812 closed

[2018-02-07 22:38] jonparrott commented on #4798
Hrm, I may be misunderstanding but it seems undesirable for our executor to kill callbacks. If you're worried your callbacks will hang forever, I feel like that's the responsibility of the author of the callback.

I'm happy to be talked into something different, though.

[2018-02-07 22:41] jeffkpayne commented on #4798
OMG, I'm losing my mind. There's no timeout parameter in submit... Closing. Sorry for wasting your time! I need a vacation.

[2018-02-07 22:41] #4798 closed

[2018-02-07 22:47] jonparrott commented on #4798
Hahaha that's quite alright. :)

Hopefully you get to take a vacation soon.

[2018-02-07 23:38] kenashcraft commented on #4825
@liyanhui1228 Hmm... that doesn't seem right to me.  Why have `LabelDescriptor` support multiple types if only string is allowed?  Why have `LabelDescriptor` at all in that case.

The line you're referring to is
[code]
I wonder if the `string` value was simply a matter of convenience because you can't put a union ("int or string or bool") in the value for a map in protocol buffers.  Perhaps the in

[2018-02-08 00:32] wora commented on #4825
LabelDescriptor defines the semantic type of the value. The reason to always use string as wire format is to simplify user experience and make the code much more efficient.

For example, you can try to copy a union to another union, you will see how many lines of code you have to write. Another example, if two labels have different value types (by mistake or other reason), copying value would be a

[2018-02-08 00:45] kenashcraft commented on #4825
@wora Right, string is used as the wire format, but the semantics are important.  So the client should use the LabelDescriptor to say that the field is, say, an INT64.  It seems like the google-cloud-python library should automatically convert all label values to string before sending them to the server.  The ideal code looks like this:
[code]

[2018-02-08 01:24] scottingly commented on #4826
these are in a multiprocessing pool, and we're on python2, so we aren't getting the indirect traces, just the summary.  It just hit again today right on cue, after about 5-6 days, seems to be the usual interval.  I will try to rework the code to get a full trace next time and update the ticket.

[2018-02-08 02:09] chemelnucfin commented on #4320
@lukesneeringer Did you fix this somehow?  I don't seem to be reproducing it any more.

[2018-02-08 02:10] chemelnucfin commented on #4320
never mind, I still see it.

[2018-02-08 02:14] chemelnucfin commented on #4320
by the way, it also has problems in python 3

[2018-02-08 06:32] chemelnucfin commented on #4320
found the fix, wrote the solution, tested system, just need to write the unit test for it.

[2018-02-08 12:54] emetselaar commented on #3067
I had some issues with this as well. Solved it like this:

[code]

Perhaps usable for someone.

[2018-02-08 16:41] BanzaiMan opened #4855 "Version 188 installation succeeds on EC2, but fails on GCE"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

N/A

2. OS type and version

  Ubuntu 14.04

3. Python version and virtual environment information `python --version`

2.7.6

4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

188

5. Stacktrace if available

[code

[2018-02-08 16:50] jonparrott commented on #4855
HI @BanzaiMan, unfortunately this issue tracker is for the Python client libraries, not for the Google Cloud SDK. You'll need to file this bug over at https://issuetracker.google.com/savedsearches/559662.

[2018-02-08 16:50] #4855 closed

[2018-02-08 16:51] BanzaiMan commented on #4855
My apologies.

[2018-02-08 17:08] lukesneeringer commented on #4031
Reverting this to P2 (in a triage meeting) on the basis that:

  * These are auto-generated methods.
  * We have sample tests (unfortunately in a different repo).

[2018-02-08 17:09] lukesneeringer commented on #4325
10 seconds.

[2018-02-08 17:10] jonparrott commented on #4441
I'm going to close this, these resource paths aren't useful without a client, and at any rate, we'd need to update the generator to do this.

[2018-02-08 17:10] #4441 closed

[2018-02-08 17:19] lukesneeringer commented on #4648
@opyate How would you prefer that to be written? (Disclaimer: I wrote the original statement, and am happy to modify to make it clearer, but I could not think of a clearer-cut way to write it.)

[2018-02-08 17:29] jonparrott commented on #4771
@sachin-shetty Can you give us a bit more details? What did you change between these comments to get these different errors?

[2018-02-08 17:36] lukesneeringer commented on #4841
To be honest, I am not really sure what constitutes a "streaming pull message operation" or an "ack operation". I agree it looks odd -- are you having a discernible issue, or is this just that your metrics look strange?

[2018-02-08 17:42] danoscarmike commented on #4325
@chemelnucfin can you please take a look at his implementation?  Please reach out to @pongad for questions about the Java reference implementation.  @jonparrott on point for Python specific.

[2018-02-08 17:57] danoscarmike commented on #4608
@chemelnucfin please add this one to the priority list.

Any single message where message byte size `>max_bytes`: raise error.

[2018-02-08 19:12] #4607 closed

[2018-02-08 22:11] chemelnucfin commented on #4608
on it.

[2018-02-09 00:36] chemelnucfin commented on #4608
@danoscarmike Is there a reason you want to raise a ValueError?  As the code stands currently it ignores the message already.  Should we use warnings instead?

[2018-02-09 00:49] jonparrott commented on #4608
It ignores but causes an infinite loop, so we should raise.

On Thu, Feb 8, 2018, 4:36 PM chemelnucfin <notifications@github.com> wrote:

[2018-02-09 06:42] snehashankarnarayan opened #4861 "Logging: Release new version of google-cloud-logging"
Hello,

The latest version of Google cloud logging is https://pypi.org/project/google-cloud-logging/#history, in October 2017. We wanted a PyPi release with the latest changes with respect to creating sinks with `unique_writer_identity` set.

We really would prefer not using the latest google-cloud module as we want to use different versions of various google cloud services.

Thanks,
Sneha

[2018-02-09 18:25] chemelnucfin commented on #4608
@jonparrott But is that the desired behavior or should we just fix the infinite loop situation by ignoring the message?

[2018-02-09 18:38] jonparrott commented on #4608
We should never just drop messages on the floor. Based on the behavior of the client in other languages, we should treat it as an error.