[2018-11-02 19:44] #6375 closed

[2018-11-02 19:49] tseaver commented on #5818
@UnsignedLong `ManagedZone.exists()` returns False if the [`GET` request](https://cloud.google.com/dns/docs/reference/v1/managedZones/get) raises a 404 NOT_FOUND error.  The issue here seems to be that the back end is *not* returning a 404 when it should be.

@UnsignedLong I'm not sure what you mean by "the implementation seems opinionated."

[2018-11-02 19:53] wilhuff commented on #5907
I'm not sure what you're expecting here. This is a forum for solving issues specific to cloud python SDKs. This isn't a great forum for discussing general Firestore product features or misfeatures--it's not regularly reviewed from that point of view and indeed I only just stumbled onto this while looking for something else.

I'd suggest the best venue for this kind of discussion would be on the [m

[2018-11-02 19:55] #5907 closed

[2018-11-02 21:01] frankyn commented on #6368
This is strange, I'm researching, from a brief inspection it is as if it no longer accepts the `None` value in Python.

[2018-11-02 21:06] tseaver commented on #6380
@costrouc Thanks for the report!

[2018-11-02 21:12] frankyn commented on #6368
I think it changed based on it no longer accepts `None` when a Retention policy is defined. It used to accept it. I will follow-up on such subtle changes in the backend.

As for the fix, I missed this during the review, because I have learned more!
From https://github.com/googleapis/google-cloud-python/blob/master/storage/google/cloud/storage/bucket.py#L1348-L1352
[code]

[2018-11-02 21:14] frankyn commented on #6368
Internal tracking bug: 115765214

[2018-11-02 21:16] #6380 closed

[2018-11-03 19:06] mcdonc commented on #6307
This clowny diff fixes set-st-merge-nonleaf-alone.textproto but it's clearly just working around the problem and there is some more fundamental way to fix it.
[code]

[2018-11-04 05:17] chemelnucfin commented on #6307
@schmidt-sebastian, @jba, @mcdonc  I have converted the `merge` from an Option class to the `merge` and `exists` parameters passing all the tests that were there before.  In effect [this](https://github.com/chemelnucfin/google-cloud-python/tree/firestore_fix_before_rebase) is about the place I should have at least left the code at (before cleanup).

After rebasing to [master](https://github.com/ch

[2018-11-04 15:09] mcdonc commented on #6307
@chemelnucfin the recent comments above refer to https://github.com/mcdonc/google-cloud-python/tree/6307-implement-set-conformance which evolved to not have a MergeOption class, instead using the master pattern of merge= to set. Its unclear where you branched from but you may want to base your work on that branch as it has all but 4 tests passing. I received some of your code for apirepr parsing i

[2018-11-04 21:52] bgbraga opened #6383 "[BigQuery] table schema update is misordening the fields"
python 3.7.1
google-cloud-bigquery 1.6.0
tested os: mac and windows

Steps to reproduce:
1) insert or load data1.json and data1_schema.json
2) it will create a table like data1_schema.jpg
3) insert or load data2.json with schema update data2_schema.json
4) it will update the table like data2_schema.jpg
5) compare data2_schema.json and data2_schema.jpg. They should be equal but are different. Table

[2018-11-05 10:18] usamec opened #6386 "Making parametrized queries in BigQuery should be easy"
If you want developers to not make SQL injection vulnerabilities, you should make their job easier.

Look at sqlite3 API design:
`c.execute('SELECT * FROM stocks WHERE symbol=?', t)`.

Compare this to BigQuery:
[code]

Why I need to put query params into job config?
Why I need to mutate the job config?

Query params should be a query function parameter. Or at least part of QueryJobConfig construct

[2018-11-05 12:59] goolila opened #6387 "Vision - Cannot pass ImageContext parameter to document_text_detection"
I want to pass `languageHints` parameter to document_text_detection or (client.annotate_image) as described [here](https://cloud.google.com/vision/docs/reference/rest/v1/ImageContext) but I get error with following Traceback:
[code]
To reproduce I tried :

[code]

[code]
or
[code]
Python Version: 3.6.4
google-cloud-vision Version: 0.34.0
OS: MacOS 10.14

Is there anyway to pass imageContext option

[2018-11-05 16:52] tseaver commented on #6386
@tswast, @alixhami RFC

[2018-11-05 16:54] tseaver commented on #6383
@bgbraga Can you please show how you are doing the "insert or load" steps you describe above in Python?

[2018-11-05 17:05] tseaver commented on #6387
@goolila The link you reference above is for the [REST version of the Vision API](https://cloud.google.com/vision/docs/reference/rest/), but `google-cloud-vision` wraps only the [RPC version](https://cloud.google.com/vision/docs/reference/rpc/), which uses `names_with_underscores` rather than `namesWithCamelCase`.  Your examples should therefore read::

[code]

or:

[code]

[2018-11-05 17:05] #6387 closed

[2018-11-05 17:38] tswast commented on #6386
@usamec You can do exactly the same code as in SQLite with the google-cloud-bigquery API. See the DB-API module reference: https://googleapis.github.io/google-cloud-python/latest/bigquery/dbapi.html

That said, I agree that we could make it less verbose to create the query parameter configuration by using the same helper code we do in the DB-API module.

I chose to have very few parameters to the

[2018-11-05 17:45] dhermes commented on #6376
I am big :+1: on this

[2018-11-05 18:16] #6368 closed

[2018-11-05 19:29] aarontp opened #6390 "Datastore: protobuf dependency requirements incorrect"
I believe that the indirect dependency requirements for the `protobuf` package  is not correct.  This is similar to https://github.com/googleapis/google-cloud-python/issues/6128 .  Maybe the minimum version of `google-api-core` needs to be updated?  This seems to work with google-cloud-datastore==1.7.0, but then breaks with version 1.7.1.

The breaking changes appear to be in this commit:
https://

[2018-11-05 20:36] alixhami commented on #6386
I like the idea of adding the properties to the constructor as optional arguments. I'll look into this now and see if I can find a way to do that without creating a big maintenance burden.

[2018-11-05 20:38] ryanyard commented on #6350
Yes, the messages are being acked

[2018-11-05 21:20] tseaver commented on #6390
Thanks for the follow-up.  #6391 fixes that first for datastore, and then adds normalization for dependencies in all our `setup.py` files to prevent similar issues.  I also added an [issue](https://github.com/googleapis/gapic-generator/issues/2404) and a [pull request](https://github.com/googleapis/gapic-generator/pull/2405) for the `gapic-generator` to ensure that it emits correct minimum depende

[2018-11-05 21:43] aarontp commented on #6390
Thanks much for the fast fix.  The longer term fixes are appreciated as well, thanks!

[2018-11-05 22:29] #6376 closed

[2018-11-05 23:10] frankyn commented on #6244
Looks like this project needs to be whitelisted as well.

@tseaver could you directly ping me the project id if this is still occurring?

[2018-11-05 23:11] frankyn commented on #6368
Short update: turns out it was a bug in the feature that has since been fixed. The client shouldn't have depended on this route in the first place. I missed this during the review.

Thanks @tseaver for the fast fix!

[2018-11-06 01:43] tseaver commented on #6244
@frankyn this looks like actual flakiness in the system test:  the call to `Config.CLIENT.create_bucket` needs to be wrapped in a `retry_429`.

[2018-11-06 01:49] frankyn commented on #6244
Agreed that it's a flaky failure based on create/delete frequency. Systems tests can have bucket create/delete quota lifted.

[2018-11-06 02:07] bgbraga commented on #6383
@tseaver

**Table creation to use with insertAll:**
        table = bigquery.Table(table_ref, schema=schema)
        table = bigquery_client.create_table(table)

**Table update to use with insertAll:**
        table.schema = schema
        bigquery_client.update_table(table, ['schema'])

**Table create and update using Load:**
        job_config = bigquery.job.LoadJobConfig()
        job_config.so

[2018-11-06 15:51] tseaver commented on #5710
Autosynth PRs with this fix have landed this morning.

[2018-11-06 15:51] #5710 closed

[2018-11-06 17:07] #6386 closed

[2018-11-06 18:46] ryanyard commented on #6350
Any ideas on what can be done, here, I can send over sample code of the worker/feeder

[2018-11-06 20:54] dhermes opened #6428 "Ditch sphinx-docstring-typing / use type annotations for `ndb`"
See #6393. The `ndb` docs **were** using [`sphinx-docstring-typing`][1] to document things like `Optional[bool]` and `Union[int, bool]`. However the extension has a "bug" in that it just blindly replaces members of `typing`, so that `TextProperty` gets replaced by something along the lines of `"~typing.Text"Property`.

The nice [`typing`][2] style support can be regained if type annotations are us

[2018-11-06 22:07] rgant opened #6430 "Firestore overrides logging level"
1. Firestore
2. MacOS 10.14.1 Mojave
3. Python 3.7.1 & Python 2.7.15
4. google-cloud-firestore==0.30.0

When I include firestore in my application it resets/undoes/breaks my logging. I
expect that importing firestore will not affect the root logger's level.

I've tried this in several different versions of python 2 & 3, pip and pipenv all
with the same results.

*Steps to Reproduce*

Create virtua

[2018-11-06 22:11] rgant commented on #6430
I've never really grokked python logging, so perhaps I'm doing something strange with my setup, but this is the way I've configured python scripts for years.

[2018-11-07 12:41] jgeewax commented on #1893
@linhui718611 : It'd probably be best to head over to www.stackoverflow.com and ask this same question there. This GitHub issue tracker isn't really the right spot to help you!

[2018-11-07 13:19] spil-josko opened #6433 "PyPI package does not have version 0.2.0 available"
Version 0.2.0, tagged as a release on GitHub, is not accessible in PyPI

https://pypi.org/project/google-cloud-bigquery-datatransfer/

[2018-11-07 14:18] tseaver commented on #6197
Progress to date:
- #6301 is a user-reported bug for this same issue.
- #6305 broadened the set of exceptions retried by the underlying future.
- #6302 actually adds a `retry` argument to `_AsyncJob.result()`, but can only pass it through to the `_begin` call unless we decide to extend the future's interface.

[2018-11-07 14:39] tseaver commented on #6430
@rgant Thanks for the report.  `google-cloud-firestore` itself does not touch logging:

[code]

Based on a similar discussion in #6342, I believe that `grpcio` is the culprit:  see https://github.com/grpc/grpc/issues/16572, for instance, where one user reported:

I agree completely that `logging.basicConfig()` should never be done in library code.  It looks like the `grpcio' developers have fixed

[2018-11-07 14:39] #6430 closed

[2018-11-07 14:42] tseaver commented on #5318
@dazuma Can you please help us figure out how to investigate this issue with the back-end team?

[2018-11-07 15:38] bencaine1 opened #6434 "BigQuery: Add "Forbidden: 403 Exceeded rate limits" to list of retryable exceptions"
OS: Linux dc32b7e8763a 4.9.0-6-amd64 #1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 x86_64 x86_64 GNU/Linux
Python version: Python 2.7.6
google-cloud-bigquery: 1.6.0

We're getting the following error:
[code]

In [_should_retry](https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/retry.py#L34), it should retry if `isinstance(exc, Forbidden) and 'Exceeded

[2018-11-07 15:56] tseaver commented on #6434
@bencaine1 Thanks for the report!

@tswast Can you please figure out with the back-end team why they would return a 403 here, rather than the expected 429?  [RFC 2616](https://tools.ietf.org/html/rfc2616#section-10.4.4) specifically states about a 403:

Versus what it [RFC 6585 for 429](https://tools.ietf.org/html/rfc6585#section-4):

[2018-11-07 18:44] tseaver opened #6443 "Storage: 'TestStorageListFiles' systest teardown flakes w/ 503"
From: https://source.cloud.google.com/results/invocations/8522729a-9bdc-480f-8dd5-4f24a1a2071f/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log

[code]

[2018-11-07 19:03] #6390 closed

[2018-11-07 20:13] yiga2 commented on #2222
@tseaver Are you aware of that feature being planned for or requested ?

I like to use slice-and-compose in GCF and since `gsutil` cannot be used there, it must be through the client libs (Python or Node).

Btw, wondering instead of composing, can a resumable upload work in multi-threading ? I.e. each thread uploads a slice in chunks of 8MB or so.  Not sure if GCS expects slices to be loaded seque

[2018-11-07 20:30] shollyman commented on #6434
The short answer for why ratelimit pushback is communicated back using 403 vs 429 is that the behavior
 in BigQuery predates the updated RFC6585.  I've filed an internal issue (119203044) with the team to consider modifications to this behavior.

[2018-11-07 20:40] dhermes commented on #6256
@chrisrossi FYI I've been gardening this as I add features

[2018-11-07 20:53] #6443 closed

[2018-11-07 23:13] yiga2 commented on #2222
Thank you - feature requested (issuetracker) !

On Wed, Nov 7, 2018 at 3:22 PM thobrla <notifications@github.com> wrote:

[2018-11-07 23:14] dhermes opened #6446 "Figure out discrepancy between Google Cloud SDK and `datastore-ndb-python`"
For example the code [in the SDK][1] does not contain the [`autobatcher`][2] module which (according to the LICENSE) was introduced in 2017.

[1]: https://github.com/dhermes/app-engine-standard/tree/master/google/appengine/ext/ndb
[2]: https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/cf4cab3f1f69cd04e1a9229871be466b53729f3f/ndb/autobatcher.py

[2018-11-08 06:11] paxsonsa commented on #5903
Working:
[code]

Not Working:
[code]

TRACEBACK:
[code]

[2018-11-08 11:40] spil-josko commented on #6433
@tseaver That's really quick. Thanks!

[2018-11-08 14:31] rgant commented on #6430
Thanks, tracing through the dependencies trying to find the issue wasn't fun. Guess I stopped too soon. Thanks again!

[2018-11-08 14:46] spil-josko opened #6449 "Listing scheduled queries in bigquery_datatransfer 0.2.0"
With bigquery_datatransfer 0.1.1, the previous version, my script was successfully accessing our google bigquery project and downloading the scheduled query from it. (I scheduled `SELECT 'test'` for this test).

The only problem was that I could not use other service accounts for our other projects. With 0.2.0 I can use the from_service_account_json factory method to use the other service accounts

[2018-11-08 16:32] User3759685 opened #6450 "General: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working"
I'm getting this deprecation warning when running pytests on my app that uses Google Storage.

#### Environment details

Arch Linux
Python 3.7.1
google-api-core==1.5.1
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-storage==1.13.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.5
pytest==3.9.1

#### Steps to reproduce

  1. Create file `test.py`.
  2. Add line `from google.p

[2018-11-08 16:35] tseaver commented on #6449
@spil-josko Thanks for the report!  It looks to me as though the BigQuery Transfer API can store transfer configurations either [by project](https://cloud.google.com/bigquery/docs/reference/datatransfer/rest/v1/projects.transferConfigs) or [by project and location](https://cloud.google.com/bigquery/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs).

`google-cloud-bigquery-dat

[2018-11-08 16:38] tseaver commented on #4669
@tswast I'm not sure how it ties in, but my research into #6449 seems to indicate that the location-specific methods are only present in the REST version of the BQDT API, while the library wraps only the RPC variant.  As of `0.2.0`, that means we are no longer supporting location stuff at all.

[2018-11-08 17:16] tseaver commented on #5967
I have a PR to fix the generator issue: https://github.com/googleapis/gapic-generator/pull/2407

It should merge today, which means that this issue should be resolved in the next autosynth round.

[2018-11-08 17:16] #5967 closed

[2018-11-08 17:39] tseaver commented on #6450
Please report the issue for the Python protobuf library in [its repository](https://github.com/protocolbuffers/protobuf/issues).

We *do* have places here where we use those ABCs, which need to be fixed:

[code]

Note that `collections.abc` is not present in Python 2.7, which means we will need to do some kind of conditional import, e.g.:

[code]

[2018-11-08 17:39] tseaver commented on #6450
@User3759685 I forgot to say thanks for reporting the issue!

[2018-11-08 18:34] tseaver commented on #5903
OK, I can reproduce here.  The issue is that `pubsub_v1.PublisherClient.from_service_account` is returning an instance of the low-level `pubsub_v1.gapic.publisher_client.PublisherClient`:  that class has a different signature for `publish`.

[2018-11-08 18:37] tseaver commented on #5903
@theacodes I believe this is the issue you tried to fix in #5826.  Can you shed any light here?

[2018-11-08 18:48] tseaver commented on #5903
Looks like #5826 returns a `staticmethod`, rather than a `classmethod`, for things that started life as `classmethod`s.  That would explain seeing the wrong `cls`.

[2018-11-08 19:34] chrisrossi commented on #6446
Now I'm confused. There are *two* legacy implementations of NDB?

[2018-11-08 19:39] dhermes commented on #6446
Ha, just one, but the question is why isn't all of the code in `datastore-ndb-python` in the SDK.

[2018-11-08 20:09] #5903 closed

[2018-11-08 20:10] chrisrossi commented on #6446
Ah ok. Obviously, I have no idea.

[2018-11-08 20:21] dhermes opened #6454 "Add `tzinfo` to `DatetimeProperty`"
See https://github.com/googleapis/google-cloud-python/pull/6448#discussion_r232043991 for context

[2018-11-08 20:56] tseaver commented on #6450
@User3759685 There was an [issue opened for protobuf](https://github.com/protocolbuffers/protobuf/issues/5135).  Unfortunately, the [PR which closed it](https://github.com/protocolbuffers/protobuf/pull/5195) did not completely address the issue.

[2018-11-08 21:15] tswast commented on #4669
@shollyman was doing some work with the BQ-DTS API very recently. Maybe he can comment on any differences between the gRPC and REST endpoints?

[2018-11-08 23:00] shollyman commented on #4669
I've not started looking at the differences between the two callstyles yet, but I'll keep it in mind as I progress.

[2018-11-08 23:48] paxsonsa commented on #5903
Thanks for looking into that and getting that fixed

[2018-11-09 04:31] pyk commented on #6292
@nkemnitz @tseaver is the fix released to the pypi?

I use `google-cloud-bigtable==0.31.0` and the mutations is not recognized.

[code]

There is one mutations:

[code]

but calling `row_cond.commit()` returns an exception:

[code]

[2018-11-09 04:55] nkemnitz commented on #6292
@pyk Not yet, but it will be part of 0.31.1, which is already being prepared here: https://github.com/googleapis/google-cloud-python/pull/6378

[2018-11-09 05:02] pyk commented on #6292
@nkemnitz ok, thanks!

[2018-11-09 17:15] shychan commented on #5134
TIFF and PDFs have to be [handled asynchronously:](https://cloud.google.com/vision/docs/pdf)

Wrote an email to GCP support asking them to update their documentation as well as the error code.

[2018-11-09 19:51] #6287 closed

[2018-11-10 20:01] tseaver commented on #6450
I submitted https://github.com/protocolbuffers/protobuf/issues/5335 for the remaining deprecated usage under protobuf.

[2018-11-12 07:41] ilons commented on #5879
I'm also hitting this error from Cloud Function trying to read from Cloud Storage.
The majority of invocations works, but I get this every so often, and it makes a lot of noise even if I retry.

My CF are finishing in under 2 seconds in most cases, and I've followed the recommendations on https://cloud.google.com/functions/docs/bestpractices/networking to avoid re-establishing connections, which I

[2018-11-12 09:57] hnykda opened #6477 "Importing google.cloud.logging.Client adds StreamHandler to root"
Importing a google cloud logging Client adds a handler to the root logger. That's IMO unexpected and may break users code. Imports *must not* have any side-effects.

A real-life example when it broke our code: our library has something like:
[code]
but because we imported the Client somewhere on the beginning of the module, this didn't get executed.

#### Environment details
`Python 3.7.0`, docker

[2018-11-12 13:43] d2sys commented on #5548
I had the same problem, the reason was the old version of protobuf lib. I uninstalled (via pip) and installed again to the latest version and it worked. Hope it will help.

[2018-11-12 15:22] yiga2 commented on #5879
After a lot of research and interactions with G support, it turns out that indeed, connection may either timeout (our case, resumable upload) or just disconnect sporadically - happens at other cloud storage providers.
No big deal as ConnectionResetError (104) is a retriable error but this must be handled on the client side.

Unfortunately `google-client-python` - and may others - is delegating exp

[2018-11-12 17:03] tseaver commented on #6477
@hnykda The `google-cloud-logging` library does not itself add any handlers unless you call its `setup_logging` utility function.  I believe that the issue is actually with the `grpcio` package, which has merged PRs to fix the issue:

- `master` branch: https://github.com/grpc/grpc/pull/17064
- `1.16` branch: https://github.com/grpc/grpc/pull/17091

I don't believe either of those fixes is availab

[2018-11-12 17:03] #6477 closed

[2018-11-12 17:05] tseaver commented on #6477
Looks like https://pypi.org/project/grpcio/1.16.1rc1/ contains the fix.  You can upgrade to it via:

[code]

[2018-11-12 17:07] hnykda commented on #6477
Thanks for a quick resolution :+1:

[2018-11-12 17:49] wuttem opened #6478 "bigtable 0.31.1 release on pypi"
Hi,
Could you please release the 0.31.1 version of the bigtable client to pypi ? This would make it much easier for us to upgrade.

[2018-11-12 18:30] tseaver commented on #6478
Release tagged on github:  https://github.com/googleapis/google-cloud-python/releases/tag/bigtable-0.31.1

[2018-11-12 18:31] tseaver commented on #6478
And available on PyPI: https://pypi.org/project/google-cloud-bigtable/0.31.1/

[2018-11-12 18:31] #6478 closed

[2018-11-12 18:53] ryanyard commented on #6350
Update: using gevent's monkey_patch and gevent for grpcio in an attempt to better each worker's performance; removed Pub/Sub's flow control features. Still building-up undelivered messages though :-(

Do you have access to any guidelines/best practices from the engineering team on how many shared subscribers I should be targeting for streaming pull subscriptions?Given I want to process 10K message

[2018-11-12 18:59] kir-titievsky commented on #6350
@ryanyard This may be silly, but it appears you are trying to do (10,000 jobs x 5 s/job = 13 hours of work in a single python process). Could it be you are simply way under-provisioned?   Things to confirm:
- You are not CPU or network bound.
- You are using multi-processing or multiple parallel instances of your python app to process this.  I would expect multiple instances of the container, each

[2018-11-12 19:06] #6450 closed

[2018-11-12 21:44] ryanyard commented on #6350
Thank @kir-titievsky I will take another look at the resources.

[2018-11-12 21:57] RohanTalip opened #6479 "Please support array_contains in queries"
`array_contains` is supported in most other languages (Python and Ruby are holdouts) :
https://firebase.google.com/docs/firestore/query-data/queries#array_membership

Is there a timeframe for when this might become available for Python?

[2018-11-13 19:48] #6479 closed

[2018-11-13 20:22] RohanTalip commented on #6479
@tseaver, thanks!  I'm assuming that you or someone else will create an internal bug or ticket to update https://firebase.google.com/docs/firestore/query-data/queries once this change is released?

[2018-11-13 20:33] tseaver commented on #6479
@RohanTalip I don't have access to the internal ticket system.

@crwilcox Can you bridge to the team that manages those snippets?

[2018-11-14 12:55] iho opened #6488 "Logging: how to propagate 'extra' passed to stdlib's log methods?"
[code]

I expect it to send structured log, but your client strips all passed additional data.

https://github.com/googleapis/google-cloud-python/issues/5888#issuecomment-423494417

[2018-11-14 18:01] tseaver commented on #6488
The Python standard library `logging` module is responsible for how `extra` is handled:  its [docs](https://docs.python.org/3/library/logging.html#logging.Logger.debug) state:

The last bit is handled by the "formatter" using a format string (configured by you) which knows the attribute names.  Becuase we *don't* know the attribute names, there is no safe / clean way to pick them out of the `LogRe

[2018-11-14 18:45] iho commented on #6488
It is nice, but I want to configure/hack your logger to have behavior similar to Sentry which collect all extra parameters and show them in user interface.

[2018-11-14 19:31] voyc-jean commented on #6145
I have run into the same issue.

The final response.result object contains word objects from the start of the transcript:

First object:
[code]

Last object:
[code]

This only seems to happen when 'enable_speaker_diarization' is set to 'True'.

[2018-11-14 21:23] erikwebb opened #6524 "Storage: blob.update_storage_class() does not work for large files"
[`Blob.update_storage_class()`](https://googleapis.github.io/google-cloud-python/latest/_modules/google/cloud/storage/blob.html#Blob.update_storage_class) does not work the same as [`Blob.rewrite()`](https://googleapis.github.io/google-cloud-python/latest/_modules/google/cloud/storage/blob.html#Blob.rewrite) despite sharing a common underlying API. When multiple API calls are required to complete

[2018-11-14 23:44] crwilcox opened #6526 "[Spanner] ExecuteSql times out at 60s, error message not helpful to realize why it timed out."
Today we have a default time out on query operations (ExecuteSql, ExecuteStreamingSql, Read, StreamingRead) of 60 seconds. We have instances of users authoring queries that take longer than this and being surprised by a `504 DEADLINE EXCEEDED`. I propose:

1) improving the error we throw when the deadline is caused client, not server side, to point the user to look into timeout and retry configura

[2018-11-15 01:47] schunlee commented on #4154
fnmatch lib works, but the filter process so slow. Don't know how gsutil handle the problem, very effectively.

[2018-11-15 03:00] tseaver commented on #6145
@voyc-jean The [docs for the `enable_speaker_diarization` configuration option](https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1p1beta1#google.cloud.speech.v1p1beta1.RecognitionConfig.FIELDS.bool.google.cloud.speech.v1p1beta1.RecognitionConfig.enable_speaker_diarization) state:

[2018-11-15 07:54] TrinhDinhPhuc commented on #5171
@Jordan-Gillard  Thank you very much for your information. I thought that my code has errors. But actually,  data has imported already. Something's wrong with Bigquery UI.

[2018-11-15 13:05] goern opened #6531 "PubSub: 0.38.0 produces import error fo 'IAMPolicyStub'"
Please run down the following list and make sure you've tried the usual "quick fixes":

 #### Environment details

1. Cloud PubSub, Hangouts Chat
2. OS
[code]
3. Python version and virtual environment information: Python 3.6.6
4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`
[code]

#### Steps to reproduce

  1. `git clone github.com:goern/sesheta-google-chatbot.git

[2018-11-15 17:49] #6290 closed

[2018-11-15 18:43] tseaver commented on #6531
Trying to reproduce by installing `google-cloud-pubsub==0.38.0` in a fresh virtual environment:

[code]

[code]

Can you check the actually-installed version of `grpc-google-iam-v1`, and that the imported file is the one you expect?  E.g. via:

[code]

[2018-11-15 18:46] tseaver opened #6533 "Firestore: support features blacklisted in conformance tests"
PR #6290 blacklisted a number of conformance tests because we do not currently support the usecases they support:

- `get-*` tests (because we use `BatchGetDocuments` API rather than the `GetDocument` API.
- `listen-*` tests exercise the "watch" features (since landed in PR #6191).
- `update_paths-*` tests (they've been excluded forever, with a note that Python lacked the support).
- Tests involvi

[2018-11-15 20:16] dhermes commented on #6254
I did some detective work on how to do this: https://github.com/dhermes/pickle-rename

As long as we are in control of calls to `pickle.load()` and `pickle.loads()`, we can intercept the process and remap the module names. If not, then there is nothing that can be done.

[2018-11-15 20:52] crwilcox commented on #6526
The exception is `google.api_core.exceptions.DeadlineExceeded: 504 Deadline Exceeded` and is used fairly broadly. I am going to start by handling increasing the timeout for the methods this is currently affecting most.

[2018-11-15 21:08] micheas opened #6535 "Support Cloudbuilder"
I'm trying to get the status of builds on cloudbuilder. for a django app that is using python 3. as far as I can tell google-api-python is deprecated hence I'm more or less going to have to figure something out.

Ideally, cloudbuilder would be a module like bigtable, iot, or logging.

I'm thinking of scrapping python altogether for interacting with the google api, or possibly using the raw urls an

[2018-11-16 00:01] dhermes opened #6538 "Clean up usage of object.__new__ and mocks for `Model` in `ndb` unit tests"
See #6487 for *some* (but not all) context.

[2018-11-16 00:04] dhermes opened #6539 "Use `type(o)` instead of `o.__class__` in `ndb`"
See https://github.com/googleapis/google-cloud-python/pull/6487#discussion_r233600589

[2018-11-16 00:38] dhermes commented on #6254
Moar updates. `Model` is particularly no fun because it returns the raw bytes in the serailized protobuf from [`__getstate__()`][1]. In Python 3, `state` is required to be a dictionary:

[code]

So, when trying to unpickle the example snippet, I get similar results:

[code]

[1]: https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/cf4cab3f1f69cd04e1a9229871be466b53729f3f/ndb/model.py#

[2018-11-16 00:58] dhermes commented on #6254
Relevant places where the `pickle` protocol "matters" in `datastore-ndb-python`

[code]

In addition, all `__new__` call sites matter because `pickle.load()` (and `loads()`) use `__new__` and bypass `__init__`.

[code]

[2018-11-16 16:32] ryanyard commented on #6350
Update: Attempting to turn off batching on the feeder's publisher by explicitly setting max_messages = 1 seems to be working ;-)

[2018-11-16 17:06] RawStewage opened #6541 "ImportError: cannot import name 'SpeechClient'"
Hi so I've been trying to follow along with the speech API example

[code]

But when running the script with appropriate values the following error ensues.
[code]
This is on a clean python 3.6 virtual env

pip freeze output:
[code]

[2018-11-16 18:18] tseaver commented on #6541
That `ImportError` can't be raised by the example as posted.  Can you post the full traceback, and double check that the script you are running matches?

[2018-11-16 19:29] #6539 closed

[2018-11-16 20:13] tatome opened #6542 "Schema conflict when storing dataframes with datetime objects using load_table_from_dataframe()"
The output

    Traceback (most recent call last):
      File "/tmp/mwe.py", line 14, in <module>
        print(job.result())
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/google/cloud/bigquery/job.py", line 688, in result
        return super(_AsyncJob, self).result(timeout=timeout)
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/g

[2018-11-16 20:13] tatome opened #15282 "Schema conflict when storing dataframes with datetime objects using load_table_from_dataframe()"
The output

    Traceback (most recent call last):
      File "/tmp/mwe.py", line 14, in <module>
        print(job.result())
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/google/cloud/bigquery/job.py", line 688, in result
        return super(_AsyncJob, self).result(timeout=timeout)
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/g

[2018-11-16 20:13] tatome opened #15743 "Schema conflict when storing dataframes with datetime objects using load_table_from_dataframe()"
The output

    Traceback (most recent call last):
      File "/tmp/mwe.py", line 14, in <module>
        print(job.result())
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/google/cloud/bigquery/job.py", line 688, in result
        return super(_AsyncJob, self).result(timeout=timeout)
      File "/home/tatome/anaconda3/envs/default_env/lib/python3.6/site-packages/g

[2018-11-16 21:10] crwilcox opened #6544 "[Firestore] Add mergeFields option to set"
This may be related to https://github.com/googleapis/google-cloud-python/issues/6307

set(..., merge:true) exists, but set(..., mergeFields:[..]) does not.
We originally only added mergeFields in clients that supported POJO mapping, but have since added this option to all SDKs.

[2018-11-16 21:12] crwilcox opened #6545 "[Firestore] Add list documents method to CollectionReference"
CollectionReference.listDocuments() is missing.
This is new feature request and only available in Node, Java and Go so far.

[2018-11-16 21:19] tseaver commented on #6544
At this point, `merge` can be [one of `True`, `False`, or a list of field paths](https://github.com/googleapis/google-cloud-python/blob/50080450b6ff397fe7663bebad86de045601d639/firestore/google/cloud/firestore_v1beta1/batch.py#L77).  If they insist on having 'mergePaths' as a separate argument, we can accomodate it.

[2018-11-16 21:20] tseaver commented on #6545
How is this different than `CollectionReference.get`, which returns an iterable of `DocumentSnapshots` in the collection?

[2018-11-16 21:29] crwilcox commented on #6544
Closing as by design.

[2018-11-16 21:29] #6544 closed

[2018-11-16 21:32] crwilcox opened #6546 "[Firestore] Add ARRAY_UNION, ARRAY_REMOVE ARRAY_CONTAINS FieldValues"
There is no support for FieldValue.arrayUnion()/FieldValue.arrayRemove() and no support for array-contains Queries.

[2018-11-16 21:33] crwilcox opened #6547 "[Firestore] higher precision timestamps"
The Python SDK timestamps are lossy. The SDK doesn’t expose a way to retrieve timestamps with higher precision.

[2018-11-16 21:35] crwilcox opened #6548 "[Firestore] WriteBatch doesn't return instance so you cannot chain."
The WriteBatch methods don’t return the WriteBatch instances for chaining.

[2018-11-16 21:36] crwilcox opened #6549 "[Firestore] Field Path escaping in python doesn't match other languages"
There are no FieldPath overloads in the SDK. Instead, there is a field_path() method that returns an encoded string. While the Python SDK expects fully escaped field paths,
other SDKS escape user-provided field paths by default and split on dots for this escaping.

[2018-11-16 21:37] crwilcox opened #6550 "[Firestore] Expose read, create, update time fields on snapshots"
DocumentSnapshots do not expose readTime, createTime or updateTime, which make it impossible to specify an update for a specific document version.

[2018-11-16 21:38] crwilcox opened #6551 "[Firestore] un-constant server timestamp and delete values to support ARRAY_UNION, etc"
FieldValue.serverTimestamp() and FieldValue.delete() are exposed as constants, which will become problematic as we add arrayUnion()/arrayRemove()/numericAdd().

[2018-11-16 21:40] crwilcox opened #6552 "[Firestore] implement `__eq__` for public api types."
None of the public API types implement isEquals (__eq__)

[2018-11-16 21:41] crwilcox opened #6553 "[Firestore] FirestoreClient.list_collections() is missing, but is in DocumentReference."
FirestoreClient.list_collections() is missing, but it does exist as part of DocumentReference.

[2018-11-16 21:41] crwilcox opened #6554 "[Firestore] DocumentReference.path is missing."
DocumentReference.path is missing.

[2018-11-16 21:42] crwilcox opened #6555 "[Firestore] Query start/end at/after accepts snapshots, doesn't properly apply implicit ordering."
Query.start_at()/start_after()/end_at()/end_after() accepts DocumentSnapshots, but doesn’t properly apply the implicit ordering.

[2018-11-16 21:43] crwilcox opened #6556 "[Firestore] SDK doesn’t add the google-cloud-resource header."
The Python SDK doesn’t add the google-cloud-resource header.

[2018-11-16 21:44] crwilcox opened #6557 "[Firestore] Refactor Python Transaction layer to better match other SDKs."
The Transaction API is vastly different: Instead of offering a Transaction type and a run_transaction() function, a transaction object has to be passed as an optional argument to all WriteBatch methods.

b/76423649

[2018-11-16 21:45] crwilcox opened #6558 "[Firestore] Query.get returns incorrect type"
Query.get returns an Array of DocumentSnapshots, not a QuerySnapshot. QuerySnapshot are a requirement for Watch.

[2018-11-16 21:45] schmidt-sebastian commented on #6552
Note that instead of `isEqual`, Python's own equal semantics should we used. I believe that some types (such as DocumentReferences) already implement custom `__eq__` functions. It is however missing from other prominent types such as DocumentSnapshots.

Ideally, a custom equals function would exist at least on CollectionReference, Query, DocumentReference, DocumentSnapshot and QuerySnapshot.

[2018-11-16 22:35] tseaver commented on #6547
I'm not sure what this item addresses.  We [expose the `timestamp_pb2.Timestamp` fields](https://github.com/googleapis/google-cloud-python/blob/9033bb72ab4b76f7bf629d25da2fd91d3d486305/firestore/google/cloud/firestore_v1beta1/document.py#L500-L521), which are full nanosecond precision.

For user-set values (versus the `DocumentSnapshot` attributes I linked), we have the `google.api_core.datetime_h

[2018-11-16 22:36] tseaver commented on #6548
We pretty much *never* do chaining in Python libs.

[2018-11-16 22:38] tseaver commented on #6549
There is a bunch of work landed around field paths in #6291.  This issue need more clarity on the delta between that work and the desired outcome.

[2018-11-16 22:38] tseaver commented on #6550
https://github.com/googleapis/google-cloud-python/blob/9033bb72ab4b76f7bf629d25da2fd91d3d486305/firestore/google/cloud/firestore_v1beta1/document.py#L500-L521

[2018-11-16 22:43] tseaver commented on #6551
There is no `FieldValue` in Python.  I am working now to refactor how the various transforms are handled, and do not expect to need a non-constant value for deleted fields or server timestamp-valued fields.

`ArrayUnion` and `ArrayRemove` will not be constants, but rather helper classes (see my comment in #6546).

We have no conformance tests for any `numeric_add` transform, and I do not see any c

[2018-11-16 22:47] tseaver commented on #6553
The [`ListCollectionIds` API reference](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.v1beta1#google.firestore.v1beta1.Firestore.ListCollectionIds) describes the method:

I can see no reason to add such a method to the client:  it is pointless without first having a `DocuementReference`, at which point you just use its method.

[2018-11-16 22:50] tseaver commented on #6554
Which variant should this property expose?  The one relative to the database root, or the full `/projects/<project_id>/databases/<client-database-name>/documents/<document-id>/....` one?

[2018-11-16 22:51] tseaver commented on #6555
We have conformance tests for this one, but as I noted in #6533, we don't actually run them (and never have).

[2018-11-16 22:53] tseaver commented on #6556
AFAIK, this header has been set since 06e9cb2c (2018-02-27).

[2018-11-16 22:56] tseaver commented on #6557
`run_in_transaction` is a Spanner-only construct.  `datastore` offers `Transaction` as a subclass of `Batch`, and handles the get-a-transaction-id dance in its `__enter__`.  See: https://googleapis.github.io/google-cloud-python/latest/datastore/transactions.html

[2018-11-16 22:58] tseaver commented on #6546
#6481 added support for the `array_contains` query operator.

We don't really have a `FieldValue` concept in Python:  rather, we will have wrappers (like `constants.DELETE_FIELD` or `constants.SERVER_TIMESTAMP`) which will be used to signal those transforms by embedding the in the native Python dict.  E.g.:

[code]

[2018-11-18 06:05] inferno-chromium opened #6572 "storage: 416 exception with chunked size for 0 byte files"
#### Environment details

1. Specify the API at the beginning of the title : Storage
2. OS type and version: Linux, Ubuntu 16
3. Python version and virtual environment information: 2.7.15
4. google-cloud-storage-<service> version:  `pip show google-<service>` or `pip freeze`

#### Steps to reproduce

  bucket = client.bucket('clusterfuzz-data')
  blob = bucket.blob('/zero.file', chunk_size=1024*10

[2018-11-18 06:20] inferno-chromium commented on #6572
@javisantana who seems to have implemented range downloads in https://github.com/googleapis/google-cloud-python/commit/44cebf8db63068b3dbc21f24cbb0440c75aba1c7#diff-0e25e032e1cb97e8a46cc72571c09e2f

[2018-11-18 19:14] pierre-b commented on #5731
A workaround is to:

1. write a counter in a firebase doc, which you increment **within a transaction** everytime you create a new entry

2. You store the count in a field of your new entry (i.e: position: 4).

3. Then you create an index on that field (position DESC).

You can do a skip+limit with a query.Where("position", "<" x).OrderBy("position", DESC)

Hope this helps!

[2018-11-18 21:38] #6276 closed

[2018-11-19 01:19] bgbraga commented on #6383
@tseaver these info are ok?
Please, could you remove tag "awaiting information" ?

[2018-11-19 02:09] bgbraga opened #6573 "[BigQuery] provide a way to get all error messages from client libraries"
Python Client Library: 1.7.0

**Limitation**
At code below, the error / exception from load job is a String with a high level overview of error.
It is not give a clear message of what kind of error is happening.
[code]
Example - Real error message:

**Issue**
It is not easy to fix the load error only reading that message.
If I didn't missed anything there is no way to get "bigquery error stream" u

[2018-11-19 02:18] bgbraga opened #6574 "[BigQuery] insertAll from client libraries"
Python Client Library: 1.7.0

**Limitation**
Apparently there is not method insertAll at client library.
I'm using load for some cases:

`bigquery_client.load_table_from_uri(uri, table_ref, job_config=job_config)`

But for other cases I need to use streaming as a workaround to limit of 1000 load jobs by day to a table.

**Workaround**
I'm using api-client-library as workaround:

[code]

The proble

[2018-11-19 15:08] tseaver commented on #6573
The [`LoadJob.errors`](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.job.LoadJob.html#google.cloud.bigquery.job.LoadJob) attribute exposes that same list of error mappings.

[2018-11-19 15:08] #6573 closed

[2018-11-19 15:12] tseaver commented on #6574
[`Client.insert_rows`](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client.insert_rows) and [`Client.insert_rows_json`](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client.insert_rows_json) provide ac

[2018-11-19 15:12] #6574 closed

[2018-11-19 15:50] tseaver commented on #6572
I can reproduce this exception.  The issue is in `google.resumable_media`, where the `ChunkedResponse` is sending the following header:  `Range: bytes=0-104857599`.  The server is interpreting that as an "absolute" demand, rather than an "at-most this many bytes" constraint.

The [API docs for the `Range` header](https://cloud.google.com/storage/docs/json_api/v1/parameters#range) point to [RFC 723

[2018-11-19 17:07] tseaver commented on #6383
@tswast Can you please review?

[2018-11-19 17:42] tswast commented on #6383
`data1_schema.json.txt` doesn't contain a `phone` column. `data2_schema.json.txt` does.

I believe when you [add a column to a BigQuery table](https://cloud.google.com/bigquery/docs/managing-table-schemas), it is always appended to the end of the list of columns, and columns cannot be reordered. I'm not seeing this explicitly documented anywhere, though. I'll double check with the product team abo

[2018-11-19 20:38] tswast commented on #6383
Got confirmation from the BigQuery team that adding a column always adds it to the end of the schema. I have CL 222091725 pending internally to document this.

[2018-11-19 20:38] #6383 closed

[2018-11-20 16:14] tseaver opened #6605 "Firestore: 'test_watch_document' systest flakes"
[code]

[2018-11-20 19:18] dhermes commented on #6256
The `tasklets`, `context`, and `eventloop` modules are most problematic for a move off of GAE standard. I searched through [GAE docs][1] on `ndb` and found many public members are never mentioned:

- `tasklets`
  - `get_return_value()`
  - `make_context()`
  - `make_default_context()`
  - `set_context()`
  - `sleep()`
- `context`
  - `AutoBatcher`
- `eventloop` (the entire surface is not mentioned

[2018-11-20 20:34] inferno-chromium commented on #6119
This is not a feature, but a bug that is triggering quite often on our fuzzing infrastructure. @tseaver can you prioritize this. Or just add InternalServerError to the retry_codes before next release please ?

[2018-11-20 20:49] crwilcox commented on #6550
@takariendire @mikelehen does this satisfy this shortcoming? Was the issue that these are exposed as the `pb2.Timestamp` type or is this resolved?

[2018-11-20 20:49] crwilcox commented on #6551
Closing as #6546 is the work item. This will be fixed if necessary via that issue.

[2018-11-20 20:49] #6551 closed

[2018-11-20 20:50] crwilcox commented on #6557
Assigning myself. I need to figure out what this exactly means.

[2018-11-20 20:55] mikelehen commented on #6550
@crwilcox Sorry, I'm probably lacking context here. Where did this "shortcoming" come from (I'm guessing not you, since you are asking me whether it's resolved)?  Based on @tseaver's pasted code, it looks like read_time, etc. are indeed exposed.

If you can write code that reads a document, and then attempts to overwrite it with a precondition of update_time=[your read_time from reading it], then

[2018-11-20 21:37] RohanTalip commented on #6479
@tseaver and @crwilcox, roughly when do you think this change will be released?

I see that [firestore-0.30.0](https://github.com/googleapis/google-cloud-python/releases/tag/firestore-0.30.0) was released on 2018-10-15.

Are there other changes that need to be rolled up into firestore-0.31.0 ?

[2018-11-20 21:49] tseaver commented on #6479
@RohanTalip There are a bunch of things pending.  Maybe by the beginning of December we will be in a place to make a release.

[2018-11-20 23:40] RohanTalip commented on #6479
@tseaver, OK, I'll monkey-patch this change until then.

[2018-11-21 00:41] tswast commented on #6449
When I first wrote the samples for the data transfer API both with location and without location were supported. I believe with location should be prefered (0.1.1 behavior).

[2018-11-21 13:25] yoshi-automation opened #6617 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6618 "Synthesis failed for error_reporting"
Hello! Autosynth couldn't regenerate error_reporting. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6619 "Synthesis failed for kms"
Hello! Autosynth couldn't regenerate kms. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6620 "Synthesis failed for language"
Hello! Autosynth couldn't regenerate language. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6621 "Synthesis failed for oslogin"
Hello! Autosynth couldn't regenerate oslogin. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6622 "Synthesis failed for pubsub"
Hello! Autosynth couldn't regenerate pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6623 "Synthesis failed for redis"
Hello! Autosynth couldn't regenerate redis. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6624 "Synthesis failed for scheduler"
Hello! Autosynth couldn't regenerate scheduler. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6625 "Synthesis failed for securitycenter"
Hello! Autosynth couldn't regenerate securitycenter. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6626 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6627 "Synthesis failed for texttospeech"
Hello! Autosynth couldn't regenerate texttospeech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6628 "Synthesis failed for trace"
Hello! Autosynth couldn't regenerate trace. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 13:25] yoshi-automation opened #6629 "Synthesis failed for videointelligence"
Hello! Autosynth couldn't regenerate videointelligence. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/949dc3d3-b648-485e-932a-3c08bbc9f4f9).

[2018-11-21 16:47] dhermes commented on #6446
In addition to the local SDK, the GAE 2.7 standard environment has the same set of files. Running:

[code]

in a live app yields

[code]

[2018-11-21 18:06] #6629 closed

[2018-11-21 18:06] #6627 closed

[2018-11-21 18:06] #6628 closed

[2018-11-21 18:06] #6624 closed

[2018-11-21 18:06] #6625 closed

[2018-11-21 18:06] #6626 closed

[2018-11-21 18:06] #6623 closed

[2018-11-21 18:06] #6621 closed

[2018-11-21 18:06] #6622 closed

[2018-11-21 18:06] #6617 closed

[2018-11-21 18:06] #6619 closed

[2018-11-21 18:06] #6620 closed

[2018-11-21 18:06] #6618 closed

[2018-11-21 22:44] anguillanneuf opened #6641 "Pub/Sub: publisher client's publish method does not expose retry settings"
https://github.com/googleapis/google-cloud-python/blob/a5af6acb85d8e1ed97e56ad7fc1cb0aefc524e61/pubsub/google/cloud/pubsub_v1/publisher/client.py#L166

Publish retry is supported in [Node.js](https://cloud.google.com/nodejs/docs/reference/pubsub/0.20.x/v1.PublisherClient#publish) and [Java](https://github.com/googleapis/google-cloud-java/blob/eb9fae59a236773a38c87dbce82206d4a267bf76/google-cloud-e

[2018-11-22 00:41] tseaver commented on #6533
Note:  by my read of the spec document, we do not need to support the `update-paths-*` cases:  they are for an alternative spelling of `Document.update` in languages which cannot use objects (such as `FieldPath` instances) as map keys.

[2018-11-22 10:48] zaccharieramzi opened #6643 "BigTable Row Data cells property not copy"
**Is your feature request related to a problem? Please describe.**
I was profiling the code I wrote that makes use of the BigTable client python API. I realised that it made a lot of calls to `deepcopy` and that these calls were very costly. It's actually because the `cells` property of a [row data](https://googleapis.github.io/google-cloud-python/latest/bigtable/row-data.html#cells) is actually r

[2018-11-22 15:06] sduskis commented on #6643
@zaccharieramzi: You can use the `find_cells` and `cell_value` methods to reduce the deepcopy.

@tseaver: the `deepcopy` issue continues to be a source of consternation.  We've been through this before (#4468).  This will continue to be a source of performance issues for users.  Can we remove the `deepcopy`?

[2018-11-22 16:03] zaccharieramzi commented on #6643
Thanks for the tip, it will indeed fix some of my use cases.

However when I want to access all columns (whose names I don't necessarily know in advance) it won't work.

I think the `deepcopy` was introduced because of the [`clear`](https://github.com/googleapis/google-cloud-python/commit/163e98b52cc45ad3b819169b57c7072a3bc53089), but I don't think it's here anymore.

[2018-11-23 11:33] brunoais opened #6645 "Logging: Cannot handle failed logging attempts"
Possibly related: https://github.com/googleapis/google-cloud-python/issues/5410
I'm getting intermittent status code 503 responses from the service, when the logging client tries to log logs. When that happens, the problem is logged into the logger (of same name as the module) and I can't do anything about it not even, programmatically, resend it to stackdriver.

Additionally, I have no intentions

[2018-11-24 13:21] yoshi-automation opened #6646 "Synthesis failed for oslogin"
Hello! Autosynth couldn't regenerate oslogin. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/daf524f5-dbb5-44ad-9852-13bc675148e1).

[2018-11-24 15:50] cappittall opened #6647 "Installation problem :Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory:"
I tried and search many issues but no way.  I got this error.

C:\Users\Hakan\PycharmProjects>pip install --upgrade google-cloud-translate
Collecting google-cloud-translate
  Using cached https://files.pythonhosted.org/packages/40/32/e17ba4b6586c31afe08a82fd0e3437906757a5fedb29e44d695721ffdbb8/google_cloud_translate-1.3.1-py2.py3-none-any.whl
Collecting google-cloud-core<0.29dev,>=0.28.0 (from goo

[2018-11-25 09:00] cappittall commented on #6647
I find found that at above directory, there is a file called `METADATA.json` and I made a copy of it `METADATA` only (without extension) Its funny but worked.

[2018-11-25 09:00] #6647 closed

[2018-11-25 13:23] #6646 closed, assigned to yoshi-automation

[2018-11-26 00:51] bgbraga commented on #6383
Hi guys,

I opened that as a 'Feature Request', not a bug.
So I know that is not supported today. But it is nice if the new field are created in right order.
It is just a nice to have, not critical. So feel free to decide if that enhancement could be considered in the future of if it is not important.

[2018-11-26 01:02] bgbraga commented on #6573
Ok. Sorry. I just looking at exception object.
LoadJob have other attributes that are set even if the Job is surprised with an Exception.
Nice. Thanks.

[2018-11-26 17:12] tseaver commented on #6643
@sduskis I thought y'all had already removed the `deepcopy` bits.

[2018-11-26 17:14] tswast commented on #6383
@bgbraga Since this is an issue with the service, not the Python client, please file your feature request at https://issuetracker.google.com/issues/new?component=187149&template=1162659

[2018-11-26 19:04] tseaver commented on #6307
Via #6291.

[2018-11-26 19:04] #6307 closed

[2018-11-26 19:06] #6556 closed

[2018-11-26 19:16] tseaver commented on #6548
I would suggest that the "Pythonic" way to provide multiple operations would be to make `WriteBatch` a context manager, invoking `commit` from within its `__exit__`.  E.g.:

[code]

I'm surprised that it doesn't already operate this way.

[2018-11-26 19:23] retnikt opened #6649 "Datastore: Can't use next() on Datastore query"
You can use it in a for loop (it provides `__iter__`), but not with `next()` (it does not provide `__next__`, which makes it *not an iterator*). This should be fixed, or at very least renamed to something other than `Iterator`.
#### Environment details

1. Datastore
2. Windows 10, KDE Neon
3. Python 3.7.0 64-Bit
4. Google Cloud Datastore 1.7.1

#### Steps to reproduce

  1. Create a query and fetc

[2018-11-26 19:37] tseaver commented on #6553
By hacking around, Firestore apparently accepts the database path as `parent` passed to the `ListCollectionIds` API:

[code]

So, we could reasonable expose `Client.collections()` returning that iterator.

[2018-11-26 19:59] #6643 closed

[2018-11-26 20:35] joseret commented on #5799
I just tried this and it did not work.
Name: google-cloud-logging
Version: 1.6.0
Summary: Stackdriver Logging API client library
Here is code snippet.

_LOG = logging.getLogger('')

  text1 = '"message": ' + json.dumps({
    'a': 'a2',
    'b': 'b2',
  })

  text2 = json.dumps({
    'a': 'a2',
    'b': 'b2',
  })

  print('text1', text1)
  print('text2', text2)
  _LOG.debug(text1)
  _LOG.debug(tex

[2018-11-26 21:56] tseaver commented on #6649
The [language spec](https://docs.python.org/3/library/stdtypes.html#iterator.__next__) distinguishes between iterable containers and iterators.

Frankly, I don't see the need for it:  if you really want something you can call `next()` on, then use `iter()`, e.g.:

[code]

[2018-11-27 01:03] crwilcox opened #6652 "[Firestore] cannot order by document id and use start_after/start_at/etc."
Likely will be related #6555.

`documents = collection.order_by('__name__').get()` works fine.

However, if you try `documents = collection.order_by('__name__').start_after(last_read_row).get()` this will error with

[code]

[2018-11-27 07:43] retnikt commented on #6649
Well then it shouldn't be called 'Iterator' because that's very confusing

On Mon, Nov 26, 2018 at 9:57 PM Tres Seaver <notifications@github.com>
wrote:

[2018-11-27 11:48] tarasBilobran opened #6654 "[App Engine] Can't find library for app engine"
Hi i can't find source code for App Engine.
Is it really the only way to install App Engine library is by using 'gcloud'?

[2018-11-27 16:40] #6654 closed

[2018-11-27 17:41] tseaver commented on #6649
@retnikt Maybe so, but it is a public API, and we cannot change it.

[2018-11-27 17:41] #6649 closed

[2018-11-27 17:56] tseaver commented on #6654
@tarasBilobran This repository is not where AppEngine stuff is maintained.  See https://cloud.google.com/appengine/docs/standard/python/download and related pages.

[2018-11-27 22:13] #6546 closed

[2018-11-27 23:36] joseret opened #6657 "Logging: support sending 'jsonPayload' via the python logger"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
Clear and consistent mechanism to populate stackdriver l

[2018-11-28 03:53] jdupl123 commented on #6162
@tseaver this method works for me most of the time but occasionally I get
[code]
this happens when there is a noise of silence at the end of the file to be transcribed.

Any ideas what may be causing this?

[2018-11-28 18:19] tseaver commented on #6657
Related to #6488.  The essential problem is that the Python stdlib logging mechansim doesn't contemplate this idea, which means a lot of ugliness to try to work around that.

[2018-11-28 18:20] tseaver commented on #6657
Duplicate of #6354.

[2018-11-28 18:20] #6657 closed

[2018-11-28 20:34] tseaver opened #6664 "Firestore: 'Query.start_at' etc. should accept a list of values for 'document_fields'."
Currently, the "cursor-related" methods ([`Query.start_at`](https://github.com/googleapis/google-cloud-python/blob/4c8184a1023b3c68633c50fdd53fe5136883dd2a/firestore/google/cloud/firestore_v1beta1/query.py#L407-L411), [`Query.start_after`](https://github.com/googleapis/google-cloud-python/blob/4c8184a1023b3c68633c50fdd53fe5136883dd2a/firestore/google/cloud/firestore_v1beta1/query.py#L436-L440), [`

[2018-11-28 21:13] tseaver opened #6665 "Firestore: semantics using 'DocumentSnapshot' as cursor"
The "cursor-related" methods ([`Query.start_at`](https://github.com/googleapis/google-cloud-python/blob/4c8184a1023b3c68633c50fdd53fe5136883dd2a/firestore/google/cloud/firestore_v1beta1/query.py#L407-L411), [`Query.start_after`](https://github.com/googleapis/google-cloud-python/blob/4c8184a1023b3c68633c50fdd53fe5136883dd2a/firestore/google/cloud/firestore_v1beta1/query.py#L436-L440), [`Query.end_b

[2018-11-29 01:49] adrienemery commented on #5261
Checking if there is any update here. I have also experienced similar results to @jpchen

[2018-11-29 10:40] kvdb opened #6669 "Speed regression in gcloud datastore API on py37 v.s. GAE NDB on py27"
We've recently finished porting our py27 GAE project to py37 GAE and replaced the many built-in services to their gcloud library counterparts.

Everything works, although finding an ndb replacement (anom-py) was painful.
Eventually we benchmarked the project deployed on GAE and found out that even our simplest handlers where we just get a datastore entity by key and return it went from 160ms avg r

[2018-11-29 17:09] #6553 closed

[2018-11-29 21:02] tseaver opened #6699 "Firestore: 'Query.where' needs to raise for sentinels / transforms"
The following conformance tests assert that attempting to use `DELETE_FIELD`, `SERVER_TIMESTAMP`, `ArrayRemove`, or `ArrayUnion` as the value of a `Query.where` must raise an exception, which the current implementation does not do:

- `query-arrayremove-where.textproto`
- `query-arrayunion-where.textproto`
- `query-del-where.textproto`
- `query-st-where.textproto`

[2018-11-29 21:19] JustusWest opened #6702 "AutoML: Can payload image be stored in Cloud Storage?"
I have a trained model with AutoML. I plan to use this model on a set of images that are stored in Google Cloud Storage. I was looking through the documentation for prediction [here](https://cloud.google.com/vision/automl/docs/reference/rest/v1beta1/projects.locations.models/predict#image).
It's not entirely clear to me. Under Image the documentation says:

inputConfig(a gcs location if I understa

[2018-11-29 21:42] tseaver opened #6704 "Firestore: Query's cursor-related methods must not allow transforms"
Similar to #6699.

The following conformance tests assert that `start_at`/`start_after`/`end_before`/`end_at` should raise an exception when passed one of  `DELETE_FIELD`, `SERVER_TIMESTAMP`, `ArrayRemove`, or `ArrayUnion`:

- `query-arrayremove-cursor.textproto`
- `query-arrayunion-cursor.textproto`
- `query-del-cursor.textproto`
- `query-st-cursor.textproto`

[2018-11-29 21:45] tseaver commented on #6704
We can check this and raise inside `_normalize_cursor` (added in #6697).

[2018-11-29 23:01] #6664 closed

[2018-11-29 23:13] #6704 closed

[2018-11-29 23:25] yoshi-automation opened #6709 "Synthesis failed for asset"
Hello! Autosynth couldn't regenerate asset. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6710 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6711 "Synthesis failed for bigquery_datatransfer"
Hello! Autosynth couldn't regenerate bigquery_datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6712 "Synthesis failed for container"
Hello! Autosynth couldn't regenerate container. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6713 "Synthesis failed for dataproc"
Hello! Autosynth couldn't regenerate dataproc. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6714 "Synthesis failed for datastore"
Hello! Autosynth couldn't regenerate datastore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6715 "Synthesis failed for dlp"
Hello! Autosynth couldn't regenerate dlp. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6716 "Synthesis failed for error_reporting"
Hello! Autosynth couldn't regenerate error_reporting. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:25] yoshi-automation opened #6717 "Synthesis failed for firestore"
Hello! Autosynth couldn't regenerate firestore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6718 "Synthesis failed for iot"
Hello! Autosynth couldn't regenerate iot. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6719 "Synthesis failed for kms"
Hello! Autosynth couldn't regenerate kms. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6720 "Synthesis failed for language"
Hello! Autosynth couldn't regenerate language. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6721 "Synthesis failed for monitoring"
Hello! Autosynth couldn't regenerate monitoring. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6722 "Synthesis failed for oslogin"
Hello! Autosynth couldn't regenerate oslogin. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6723 "Synthesis failed for pubsub"
Hello! Autosynth couldn't regenerate pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6724 "Synthesis failed for redis"
Hello! Autosynth couldn't regenerate redis. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6725 "Synthesis failed for scheduler"
Hello! Autosynth couldn't regenerate scheduler. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6726 "Synthesis failed for securitycenter"
Hello! Autosynth couldn't regenerate securitycenter. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6727 "Synthesis failed for spanner"
Hello! Autosynth couldn't regenerate spanner. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6728 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6729 "Synthesis failed for tasks"
Hello! Autosynth couldn't regenerate tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6730 "Synthesis failed for texttospeech"
Hello! Autosynth couldn't regenerate texttospeech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6731 "Synthesis failed for trace"
Hello! Autosynth couldn't regenerate trace. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-29 23:26] yoshi-automation opened #6732 "Synthesis failed for videointelligence"
Hello! Autosynth couldn't regenerate videointelligence. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3abb58ef-0652-4854-846e-e1d9be78e73e).

[2018-11-30 04:39] yoshi-automation commented on #6709
Autosynth is still having trouble generating asset. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6710
Autosynth is still having trouble generating automl. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6711
Autosynth is still having trouble generating bigquery_datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6712
Autosynth is still having trouble generating container. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6713
Autosynth is still having trouble generating dataproc. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6714
Autosynth is still having trouble generating datastore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6715
Autosynth is still having trouble generating dlp. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6716
Autosynth is still having trouble generating error_reporting. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6717
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6718
Autosynth is still having trouble generating iot. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6719
Autosynth is still having trouble generating kms. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6720
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6721
Autosynth is still having trouble generating monitoring. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6722
Autosynth is still having trouble generating oslogin. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6724
Autosynth is still having trouble generating redis. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6725
Autosynth is still having trouble generating scheduler. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6726
Autosynth is still having trouble generating securitycenter. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6727
Autosynth is still having trouble generating spanner. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6728
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6729
Autosynth is still having trouble generating tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 04:39] yoshi-automation commented on #6732
Autosynth is still having trouble generating videointelligence. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/21b4382d-5bd3-42be-aa5c-10d72fa191d9).

[2018-11-30 16:17] tseaver commented on #6702
@beccasaurus Can you address the question?

[2018-11-30 17:00] tseaver opened #6734 "Firestore: passing empty list to 'Query.select' implies '__name__'"
The `query-select-empty.textproto` conformance test mandates this behavior.

[2018-11-30 17:17] tseaver commented on #6734
We can apply this constraint during `_to_protobuf`.

[2018-11-30 17:38] tseaver opened #6736 "Firestore: validate field paths passed to 'Query.{select,where,order_by}`"
The following conformance tests assert that passing field paths with invalid path elements to `Query.select` / `Query.where` / `Query.order_by` should raise an exception:

- `query-invalid-path-select.textproto`
- `query-invalid-path-where.textproto`
- `query-invalid-path-order.textproto`

[2018-11-30 17:41] potiuk opened #6737 "Spanner: Operation_id missing in Spanner's Database.update_ddl method"
Library: google_cloud_spanner v. 1.6.1

We seem to miss operation_id in spanner_v1 of database.update_ddl().

It looks like the Spanner HTTP API supports operation_id: https://cloud.google.com/spanner/docs/reference/rest/v1/projects.instances.databases/updateDdl
GoogleAPI docs mention that Spanner's database.update_ddl() supports operation_id:
https://googleapis.github.io/google-cloud-python/lates

[2018-11-30 18:17] yoshi-automation commented on #6709
Autosynth is still having trouble generating asset. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6710
Autosynth is still having trouble generating automl. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6711
Autosynth is still having trouble generating bigquery_datatransfer. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation opened #6739 "Synthesis failed for bigquery_storage"
Hello! Autosynth couldn't regenerate bigquery_storage. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6712
Autosynth is still having trouble generating container. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6713
Autosynth is still having trouble generating dataproc. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6714
Autosynth is still having trouble generating datastore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6715
Autosynth is still having trouble generating dlp. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6716
Autosynth is still having trouble generating error_reporting. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6717
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6718
Autosynth is still having trouble generating iot. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6719
Autosynth is still having trouble generating kms. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6720
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6721
Autosynth is still having trouble generating monitoring. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6722
Autosynth is still having trouble generating oslogin. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6723
Autosynth is still having trouble generating pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6724
Autosynth is still having trouble generating redis. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6725
Autosynth is still having trouble generating scheduler. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6726
Autosynth is still having trouble generating securitycenter. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6727
Autosynth is still having trouble generating spanner. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6728
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6729
Autosynth is still having trouble generating tasks. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6730
Autosynth is still having trouble generating texttospeech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6731
Autosynth is still having trouble generating trace. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:17] yoshi-automation commented on #6732
Autosynth is still having trouble generating videointelligence. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ddc9c8b2-bbdf-4769-96a0-37f479ba5213).

[2018-11-30 18:52] Hexcles opened #6742 "Logging: google.cloud libraries shouldn't create handlers on root logger by default"
#### Environment details

1. This applies to the general logging mechanism of various `google.cloud.*` libraries (using `datastore` as an example in this issue).
2. OS type and version: gLinux
3. Python version and virtual environment information: `python --version`: Python 3.5.3
4. google-cloud-datastore version: 1.7.1

#### Steps to reproduce

Simply importing a `google.cloud` library would add

[2018-11-30 19:35] yoshi-automation commented on #6709
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] #6709 closed

[2018-11-30 19:35] yoshi-automation commented on #6710
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] #6710 closed

[2018-11-30 19:35] yoshi-automation commented on #6711
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] #6711 closed

[2018-11-30 19:35] yoshi-automation commented on #6739
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] yoshi-automation commented on #6712
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] #6739 closed

[2018-11-30 19:35] #6712 closed

[2018-11-30 19:35] yoshi-automation commented on #6713
Autosynth passed, closing! :green_heart:

[2018-11-30 19:35] #6713 closed

[2018-11-30 19:36] yoshi-automation commented on #6714
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6714 closed

[2018-11-30 19:36] yoshi-automation commented on #6715
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6715 closed

[2018-11-30 19:36] yoshi-automation commented on #6716
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6716 closed

[2018-11-30 19:36] yoshi-automation commented on #6717
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6717 closed

[2018-11-30 19:36] yoshi-automation commented on #6718
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6718 closed

[2018-11-30 19:36] yoshi-automation commented on #6719
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6719 closed

[2018-11-30 19:36] yoshi-automation commented on #6720
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6720 closed

[2018-11-30 19:36] yoshi-automation commented on #6721
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6721 closed

[2018-11-30 19:36] yoshi-automation commented on #6722
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6722 closed

[2018-11-30 19:36] yoshi-automation commented on #6723
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6723 closed

[2018-11-30 19:36] yoshi-automation commented on #6724
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6724 closed

[2018-11-30 19:36] yoshi-automation commented on #6725
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6725 closed

[2018-11-30 19:36] yoshi-automation commented on #6726
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6726 closed

[2018-11-30 19:36] yoshi-automation commented on #6727
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6727 closed

[2018-11-30 19:36] yoshi-automation commented on #6728
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6728 closed

[2018-11-30 19:36] yoshi-automation commented on #6729
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6729 closed

[2018-11-30 19:36] yoshi-automation commented on #6730
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6730 closed

[2018-11-30 19:36] yoshi-automation commented on #6731
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6731 closed

[2018-11-30 19:36] yoshi-automation commented on #6732
Autosynth passed, closing! :green_heart:

[2018-11-30 19:36] #6732 closed

[2018-11-30 22:03] tseaver commented on #6737
Having that parameter missing from `Database.update_ddl()` looks like an oversight to me.

[2018-11-30 22:06] tseaver commented on #6742
This is not an issue with `google.cloud-*`, but with `grpc`:  /grpc/grpc/issues/17017.  The fix for that bug was released in [`grpcio 1.16.1`](https://pypi.org/project/grpcio/1.16.1/).

[2018-11-30 22:06] #6742 closed

[2018-11-30 22:15] tseaver commented on #6555
Actual semantics are documented in #6665, including links to the conformance tests.  Closing this one in its favor.

[2018-11-30 22:15] #6555 closed

[2018-11-30 22:15] tseaver commented on #6652
Actual semantics are documented in #6665, including links to the conformance tests.  Closing this one in its favor.

[2018-11-30 22:15] #6652 closed

[2018-11-30 22:29] #6699 closed

[2018-11-30 22:40] tseaver opened #6793 "Firestore: 'Query.order_by("__name__")' implies converting field values to extended paths."
Per the `query-cursor-vals-docid` conformance test.

[code]

The  `'a'` should be converted to `/projects/<project-id>/databases/<database>/<collection_path>/a`;  likewise the `z`.

[2018-11-30 23:43] Wade-McDaniel opened #6801 "Firestore: add a batch read method for a firestore collection"
Greetings,

I'm trying to read all of a firestore collection out into a file on my local machine using python, and I always get "google.api_core.exceptions.DeadlineExceeded: 504 Deadline Exceeded". I've even tried the code below to try to get around this by reading 500-item chunks from the collection, but it does the same thing.

[code]

Maybe you could add a batch get method to solve this? This i

[2018-12-03 01:35] Emsu opened #6826 "Firestore SERVER_TIMESTAMP only works with "set" and not "add""
Mac OSX Mojave 10.14
Python 3.7.0
google-cloud-firestore==0.30.0
#### Steps to reproduce

  1. Run the two code example below. `set` works but `add` doesn't. The expected behavior is that they both parse the firestore.SERVER_TIMESTAMP constant the same way.

#### Code example

this fails
[code]

this works
[code]

Seems like it was forgotten to add SERVER_TIMESTAMP parsing to the `add` method and

[2018-12-03 03:17] ekor15 commented on #6065
Hi, is there any update on this?

[2018-12-03 16:41] tseaver commented on #6826
The bug in `CollectionReference.add` is in the branch where no document ID is passed: it doesn't separate out the transforms from the "real" document data.  Fixing it will involve using `_helpers.DocumentExtractor` (to do the separation) and making a separate `set()` call, passing the transformed values after the initial document creation.

[2018-12-03 17:06] tseaver commented on #6531
@goern Please feel free to reopen the issue if you can provide the information needed.

[2018-12-03 17:06] #6531 closed

[2018-12-03 19:01] tseaver opened #6830 "Firestore: snapshots from another collection not allowed as query cursors."
The `query-wrong-collection.textproto` requires that we detect this condition and raise an error.

[2018-12-03 19:08] tseaver commented on #6830
Because the fix needs work already in progress for #6665, I've moved this requirement there.

[2018-12-03 19:08] #6830 closed

[2018-12-03 19:57] tseaver commented on #6605
There are also other failures in this test [due to quota exhaustion](https://source.cloud.google.com/results/invocations/ae2cba35-acb0-4e43-96d7-6f2f683c39d8/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log).

[2018-12-03 20:20] crwilcox opened #6833 "API Core PyType fails intermittently/changing errors"
https://github.com/googleapis/google-cloud-python/pull/6769

Copying from #6769 and @rchen152

[2018-12-03 20:20] crwilcox commented on #6833
One possible issue is not cleaning up the pytype output folder between runs.

[2018-12-04 03:38] nkemnitz opened #6836 "Bigtable: 512KiB ReadRowsRequest length limitation"
#### Description

When trying to read a larger amount of non-contiguous rows using `RowSets`, I am either running into a bug or maybe just an undocumented limitation: the read fails immediately with an `invalid argument` status.

I am pretty sure it is related to https://github.com/GoogleCloudPlatform/google-cloud-go/issues/732. However, my reads are already failing when the length of the serializ

[2018-12-04 15:05] #6793 closed

[2018-12-04 15:32] dbkegley opened #6838 "Container: Regional Cluster support for GKE clusters"
I'm unable to get or create regional clusters using the container_v1 client APIs. The [documentation](https://googleapis.github.io/google-cloud-python/latest/container/gapic/v1/api.html#google.cloud.container_v1.ClusterManagerClient.create_cluster) suggests that this is possible by using the `parent` parameter to describe the project/region to launch the cluster but I get the following errors:

[c

[2018-12-04 15:52] sduskis commented on #6836
This is a server-side constraint.  Would you mind starting a thread on [google-cloud-bigtable-discuss](https://groups.google.com/forum/#!forum/google-cloud-bigtable-discuss) about this?  You'll get access to server-side developers that way.  You can write a short message referencing this issue.

[2018-12-04 17:39] tseaver commented on #6127
@ericgj Please feel free to reopen with the additional information.

[2018-12-04 17:39] #6127 closed

[2018-12-04 17:39] tseaver commented on #6541
@RawStewage Please feel free to reopen with the additional information.

[2018-12-04 17:39] #6541 closed

[2018-12-04 17:52] #5912 closed

[2018-12-04 18:09] dazuma commented on #6838
The source protos were [updated](https://github.com/googleapis/googleapis/commit/27aa9a664e8d94560c18dfae1e12f277036d9e33#diff-c8b4ce812f4fcba12ec4d26438c2b919) around Nov 6, and it looks like the documentation reflects that, and it looks like the [code](https://github.com/googleapis/google-cloud-python/tree/master/container/google/cloud/container_v1/gapic) has been generated in the repo itself as

[2018-12-04 18:30] dhermes commented on #6446
@andrewsg Could you look into this?

[2018-12-04 18:30] tseaver commented on #6838
@dazuma I can make a release, if we're satisfied that the library is in good shape (given the weird codegen issues from earlier).

[2018-12-04 18:35] dazuma commented on #6838
@tseaver Yes we were able to update the gapic configs conservatively to avoid breaking changes in the library.

[2018-12-04 21:33] #6737 closed

[2018-12-05 01:50] rchen152 commented on #6833
I tried running the pytype test again, with and without removing `pytype_output` between runs, and I still can't reproduce the intermittent/changing errors. (There is a consistent pytype error in `iam.py`.)
The steps I'm taking are:
[code]
Does this match how you're running pytype?

[2018-12-05 03:03] bogdandrutu opened #6845 "Trace: lease do a new release"
This package seems to be forgotten and the last release is from ~1y ago.

[2018-12-05 18:13] liyanhui1228 commented on #6845
@theacodes Hi Thea, could you do a new release for the trace library? Thanks!

[2018-12-05 19:43] brianquinlan opened #6848 "BigQuery: magic cell in IPython/Jupyter should hide bad query tracebacks"
Incorrect user queries using IPython/Jupyter magic cells generate a large traceback. For example:

[code]

Since the above code is executed implicitly, it should be hidden from the user and, instead, only the user-relevant part of the error should be shown. Like:
[code]

[2018-12-05 20:47] #6838 closed

[2018-12-05 21:19] crwilcox commented on #6845
#6850

[2018-12-05 21:41] tseaver commented on #5777
- The [page from which that image was made](https://googleapis.github.io/google-cloud-python/latest/container/gapic/v1/api.html) looks a bunch better to me today:

![screenshot from 2018-12-05 16-36-15](https://user-images.githubusercontent.com/242750/49545526-ed5a1500-f8ab-11e8-8c73-865665e98e83.png)

- The [main page](https://googleapis.github.io/google-cloud-python/latest/container/index.html)

[2018-12-05 21:43] #6845 closed

[2018-12-05 22:05] tseaver commented on #6449
@tswast I had tagged this as a "fixit" docs issue, but don't believe it should be so:  I don't know what  intended usage we should be documenting.

[2018-12-05 22:07] tseaver commented on #6121
Needs help from @pcostell or another resource from the back-end Datastore team.

[2018-12-05 22:08] tseaver commented on #5869
@JustinBeckwith, @theacodes I'll leave it to you guys to think about this integration with our docs.

[2018-12-05 22:10] tseaver commented on #5046
@JustinBeckwith, @theacodes can either of you point me to the person / team responsible for managing the `cloud.google.com/logging` docs samples?

[2018-12-05 23:00] corradio commented on #6121
@maxbellec I think you can close this issue.
I'm working on the same team as @maxbellec and it turns out the error we got was because we were running against an emulator that wasn't fully started.
@tseaver you can also close the issue if needed.

[2018-12-05 23:12] tseaver commented on #6121
@corradio Thanks very much for the follow up.

[2018-12-05 23:12] #6121 closed

[2018-12-06 00:46] nkemnitz commented on #6836
Thank you for the link - didn't know about that group yet. I am still a bit confused as to [why the Go version would support a higher limit](https://github.com/googleapis/google-cloud-go/blob/f6cfc02a21fc175fcfe1f3279eb90c8fe0f4cefa/bigtable/bigtable.go#L219), but if you say 512 KiB is expected behavior, we can mark this issue here as resolved.

[2018-12-06 01:12] tdszyman commented on #6645
I'm also getting this with google-cloud-logging==1.8.0 and it's intermittently killing my GKE workloads

[2018-12-06 19:53] tseaver commented on #5914
@anguillanneuf taking your points in order:

The first link you posted is into the GAPIC-generated client.  The docstrings there are generated from the comments in the relevant service protobuf files.

We normalize the Java-esque camel-cased names in the surface we expose, in conformance with  Python's PEP  8 standard.  We do *not* update docstrings in the generated GAPIC code to match.

We don't

[2018-12-06 20:00] tseaver commented on #5389
f7c008af73349fe74f5ddd7110255282fd0f7c2c picked up changes to the GAPIC configuration:  `ExecuteStreamingSql` and `StreamingRead` now have extended timeouts (1200 seconds).

[2018-12-06 20:00] #5389 closed

[2018-12-06 20:22] tseaver opened #6859 "Datastore: 'test_empty_array_put' systest flakes with 503 Deadline Exceeded"
See: https://source.cloud.google.com/results/invocations/d630b05c-174f-49aa-97be-630fa44bd814/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fdatastore/log

[code]

[2018-12-06 21:36] JustusWest commented on #6702
It seems as though input_config is not supported. In my attempts to use it there was no way to make the request without setting image_bytes. I did find a work around if anyone else is trying to use cloud storage objects. Cloud Storage blobs have a method [download_as_string()](https://googleapis.github.io/google-cloud-python/latest/_modules/google/cloud/storage/blob.html#Blob.download_as_string).

[2018-12-06 21:36] #6702 closed

[2018-12-06 22:16] sduskis commented on #4560
I'm going to take the initiative and close this.  This thread is old, and generally latency issues benefit from working with Google Cloud support engineers who have more access to information than the client team would.  Please reopen if there's no smoking gun from the service side.

[2018-12-06 22:16] #4560 closed

[2018-12-07 05:57] ashutoshkumars commented on #4152
IMHO, total_rows should be accessible irrsepective of whether we start iterating the page or not.

[2018-12-07 15:05] tseaver commented on #6833
@rchen You shouldn't need to create a separate virtualenv:  `nox` does that for you when you run `nox -s pytype`.  I get errors (but not all for the same module) whether or not I remove the `pytype_output` directory before running it.  They all look like:

[code]

but the module / file varies from run to run.

[2018-12-07 15:10] tseaver commented on #6833
I believe the error responsible for the "multiple rules generate" warning is in [`setup.cfg`](https://github.com/googleapis/google-cloud-python/blob/7a15ffc1834c4136305256f25e71975fcf18aa4a/api_core/setup.cfg#L4-L9).  We should be limiting inputs to the `google/` directory.

[2018-12-07 15:19] tseaver commented on #6833
When I edit `setup.cfg` to include only `google/`, then I see the following error:

[code]

I don't understand the error: `collections.abc.MutableMapping` clearly has a `register` method:  it [calls it on the `dict` type in its own source code](https://github.com/python/cpython/blob/1133a8c0efabf6b33a169039cf6e2e03bfe6cfe3/Lib/_collections_abc.py#L859).

[2018-12-07 15:22] tseaver commented on #6833
OTOH, I think the call to `register` is spurious:  the `Policy` class already derives from `MutableMapping`.

[2018-12-07 16:12] #6833 closed

[2018-12-07 18:58] tseaver commented on #6702
@JustusWest From the [protobuf description of `ExamplePayload`](https://github.com/googleapis/googleapis/blob/6f6505a69b2b0a1260c93e890d636eefb859e76e/google/cloud/automl/v1beta1/data_items.proto#L64-L72), it appears that you can pass *either* `image_bytes` (bytes) *or* an `input_config` mesage (of type [`InputConfig`](https://github.com/googleapis/googleapis/blob/6f6505a69b2b0a1260c93e890d636eefb

[2018-12-07 19:01] tseaver commented on #1893
@Thalius with the Python 2 EOL just a little over a year out, there is pretty much zero chance that we will be backporting support to GAE Standard 2.7 at this date.

[2018-12-07 19:31] tseaver commented on #6162
@jdupl123 In #6305, I added support for retrying transient errors to `Future.result`.  That fix is available in released versions since `google-api_core 1.5.2`.

[2018-12-07 19:31] #6162 closed

[2018-12-07 20:14] tszumowski commented on #3486
This worked perfectly for me to get gevent and either datastore OR spanner working. Thanks!

[2018-12-07 21:03] tseaver commented on #6300
The code in `Client.insert_rows` which converts the rows into JSON-compatible format does *not* expect to deal with nested records, which means that the `bytes`-type columns in the nested record field aren't going through the JSON-compat conversion.

@tswast Do you have a sense how this is supposed to go?

[2018-12-07 21:05] tseaver commented on #6488
This is the same issue then as #6354.

[2018-12-07 21:05] #6488 closed

[2018-12-07 21:18] tseaver commented on #6542
@tatome I'm not reproducing this one:

[code]

Can you suggest something I missed?

[2018-12-07 21:49] frankyn commented on #6572
Hi @coryan, can you help with this?

[2018-12-07 23:39] Thalius commented on #1893
@tseaver It makes sense, 2.7 is on it's way out. Luckily it won't be a problem for my current applications. I just hope we can get something like NDB and Taskqueue for the 3.7 standard environment.

[2018-12-08 00:46] srini100 commented on #5479
@tseaver, does it look like this issue is resolved? It's been a while since you reported a failure.

[2018-12-09 00:33] EngineerCoding commented on #4424
More specifically:
https://issuetracker.google.com/u/1/issues/73857736

One can star the issue to show that people want/need this, even though Google makes clear that one can use an external Redis server.[1]

[1]: https://cloud.google.com/appengine/docs/standard/python3/python-differences

[2018-12-09 11:40] cucer commented on #5171
Hi @Jordan-Gillard
I had same issue, just check your date and reformat it by "datetime" module and it will work.

[2018-12-10 05:12] mckingho opened #6883 "Pubsub: How to flush unsent messages on program exit?"
I have set caching configuration which may cache some messages and messages are not sent to pubsub yet. Is there a `flush` method when I want to exit the program.

[2018-12-10 18:33] liyanhui1228 opened #6885 "New releases to pick up latest version of google-cloud-core"
Can we release new versions for all the libraries that depending on `google-cloud-core`? #6835 and #6858 are checked in for updating the dependency version, we just need to release the changes. Depending on an old version would potentially causing version conflicts for users.

e.g trace and bigquery are not compatible with each other: google-cloud-trace 0.20.1 has requirement google-cloud-core<0.3

[2018-12-10 19:05] tseaver commented on #6885
[code]

[2018-12-10 19:11] tseaver commented on #6885
Looks like `google-cloud-trace` is the only one which has had a release since the update to the `google-cloud-core` dependency in 9908ed55bd9940852ca410a24a568c2c5c2d4f71.

[2018-12-10 19:23] JoshuaFox opened #6887 "Pubsub: clients emit pending deprecation warnings"
(See [Google Group](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cloud-pubsub-discuss/A53nuoc3Eb4/LH6gwaXfDgAJ) )

With the Python pubsub package v 0.39.0,  a simple call to pubsub_v1.SubscriberClient() gives  warnings from deep in Google code
[code]
This apparently incorrect channel is created inside Google code, e.g.  `google.cloud.pubsub_v1.subscriber.client.Client#_

[2018-12-10 20:32] crwilcox commented on #6885
Trace needed a release last week for a bug. That does indeed mean we need to release new versions of the libs. I will start in on that.

[2018-12-10 20:32] crwilcox commented on #6885
[ ] bigquery
[ ] bigtable
[ ] core
[ ] datastore
[ ] dns
[ ] firestore
[ ] logging
[ ] resource_manager
[ ] runtimeconfig
[ ] spanner
[ ] storage
[ ] trace
[ ] translate

[2018-12-10 20:37] #6161 closed

[2018-12-10 22:09] #5479 closed

[2018-12-10 22:09] tseaver commented on #5479
@srini100 Thanks very much for the fix, and the follow-up.

[2018-12-10 22:38] tseaver commented on #6885
@zunger-humu See #6897, which should lead to a release today.

[2018-12-11 14:49] tseaver commented on #6885
@zunger-humu https://pypi.org/project/google-cloud-storage/1.13.1/

[2018-12-11 14:50] tseaver commented on #6885
Firestore has a couple of outstanding issues blocking a release;  we expect to resolve those and make a release this week.

[2018-12-11 15:03] tseaver commented on #5523
For `pubsub`, 70b78aecdd41eb2451ed355f6ad077396c386d3c exposed a `_channel` attribute of the transports.  Callers who are creating many instances of the clients can now close the gRPC channel via:

[code]

Similar changes have been rolled out to the other GAPIC-based clients.

[2018-12-11 15:03] #5523 closed

[2018-12-11 15:13] tseaver commented on #6887
@theacodes Both the [publisher client](https://github.com/googleapis/google-cloud-python/blob/33eb5b5894427c839bd091d1af39a54186acc410/pubsub/google/cloud/pubsub_v1/publisher/client.py#L73-L85) and the [subscriber client](https://github.com/googleapis/google-cloud-python/blob/33eb5b5894427c839bd091d1af39a54186acc410/pubsub/google/cloud/pubsub_v1/subscriber/client.py#L66-L79) have comments which sp

[2018-12-11 15:43] NickScottKortical opened #6900 "google-cloud-runtimeconfig release 0.28.2 Breaks google-cloud 0.32.0"
#### Steps to reproduce

  1. Install version 0.32.0 of google-cloud
  2. import it

#### Code example

from google import cloud

#### Stack trace
[code]

Understand if this is expected and won't be fixed as the google-cloud package is deprecated, but the new update to google-cloud-runtimeconfig breaks the google-cloud package as it has inconsistent dependency requirements.

google-cloud 0.32.0 ha

[2018-12-11 15:44] dhendry commented on #6885
This firestore dependency conflict has broken our pipenv configuration and there does not seem to be a good fix which is incredibly disruptive to our development process. As a suggestion, would you consider adopting some kind of standard like restricting the upper bound on the dependent versions to something like next + 1? Using the current firestore [setup.py](https://github.com/googleapis/google

[2018-12-11 16:02] tseaver commented on #6549
#6770 landed a new [`split_field_path` helper](https://github.com/googleapis/google-cloud-python/blob/33eb5b5894427c839bd091d1af39a54186acc410/firestore/google/cloud/firestore_v1beta1/_helpers.py#L502-L534), which tokenizes / splits a string path "correctly" (as far as the conformance tests go, anyway).

I plan to split the `FieldPath` class and related helpers out into their own module, and try t

[2018-12-11 17:03] tseaver commented on #6900
We deprecated the "umbrella" `google-cloud` package six months ago:  it no longer provides any value.  Please uninstall it, and in new deployments / virtual environments install the API libraries you need directly, rather than via the umbrella.

[2018-12-11 17:03] #6900 closed

[2018-12-11 19:07] crwilcox commented on #6885
All libraries have had new releases that will resolve the conflicts. This was unfortunately necessary to make way for a new client. Sorry for the disruption.

[2018-12-11 19:07] #6885 closed

[2018-12-11 19:16] liyanhui1228 commented on #6885
Thanks for releasing the new versions! To avoid future version conflicts it would be helpful if we could release all the libraries whenever we update the version of `google-cloud-core`.

Do we have a plan to migrate all the dependencies of `google-cloud-core` to `google-api-core`? The latter one is GA and enforced semantic versioning, which can ensure we won't hit the dependency hell again theoret

[2018-12-11 20:36] crwilcox commented on #6885
@liyanhui1228 correct. The plan is to deprecate `google-cloud-core`. This was the last (planned) update to this package to resolve a name collision between google.cloud.iam (core) and google.cloud.iam (new client library)

[2018-12-12 10:55] KrzysztofZalasa opened #6906 "Async speech to text - cannot get result based on Job Id"
Google Cloud Speech to text API in beta version supports long_running_recognize method which returns FutureOperation. Then you may use result method on it in order to wait for finishing or there is an option to pass callback. Both approaches works fine in case, when processing and analysis is part of same file.

My customer is working on solution, when one microservice is responsible for sending a

[2018-12-12 15:07] brianquinlan opened #6907 "BigQuery: Magic cell should not displace DataFrame output when assigning a variable"
For example:

[code]

Since the output of the query is being assigned to 'myvar', it should not be output in the notebook. This would be consistent with how other cells work i.e.

[code]

[code]

If backwards compatibility is an issue - and I don't think that it would be - you could make this a flag.

[2018-12-12 17:46] tseaver commented on #6907
@tswast, @alixhami Can you please comment?

[2018-12-12 17:53] brianquinlan opened #6909 "BigQuery: magic cell `params` flag not documented"
The other params are documented at https://google-cloud.readthedocs.io/en/latest/bigquery/generated/google.cloud.bigquery.magics.html but not `params`.

[2018-12-12 18:01] alixhami commented on #6907
Are there other magics that assign variables and show no output? Magics tend to be inconsistent with code anyway, so I'd want to follow the example of other magics rather than how python cells behave.

I recognize that the user might want a way to suppress displaying all the results, though. Maybe a flag to suppress output or a flag to specify that you only want to display the head of the datafram

[2018-12-12 18:21] #6549 closed

[2018-12-12 20:34] #6665 closed

[2018-12-12 20:51] #6524 closed

[2018-12-12 22:55] bmenasha commented on #5448
Even for those types which aren't "common" our documentation is  poor.

Consider the new cloud asset API.     We expose:   export_assets() which accepts a output_config. We document this here https://googleapis.github.io/google-cloud-python/latest/asset/gapic/v1beta1/types.html#google.cloud.asset_v1beta1.types.OutputConfig  with:

class google.cloud.asset_v1beta1.types.OutputConfig
    Output conf

[2018-12-12 23:49] bmenasha opened #6914 "documentation incorrectly claiming that the default is not to retry requests"
This effects nearly every  APIs  but am looking at google-cloud-asset in particular.
Name: google-cloud-asset
Version: 0.1.1

We document in nearly every client  that when retry is not  supplied then no retries are peformed:

retry (Optional[google.api_core.retry.Retry]):  A retry object used
                to retry requests. If ``None`` is specified, requests will not
                be retried.

[2018-12-13 14:10] spil-josko opened #6915 "How to run a query that partitions its destination?"
I'm trying to run a query that will put its output in `destination` and `time_partition` it.

It's not working and the documentation is vague.

[code]

[2018-12-13 14:18] spil-josko commented on #6915
Ultimately, I want it to function similarly to a scheduled query:
destination table: `some_destination_table${run_time-24h|"%Y%m%d"}`
write preference: `WRITE_TRUNCATE`

[2018-12-13 14:52] spil-josko commented on #6915
We got it working.

[code]

[2018-12-13 14:52] #6915 closed

[2018-12-13 15:11] julian-r commented on #6531
I have the issue with the python37 environment in google cloud app. The installed version is the correct one according to pkg_resources, but `google.iam.v1.iam_policy_pb2.IAMPolicyStub` is not there.

[2018-12-13 15:35] julian-r commented on #6531
[code]
produces:
[code]

[2018-12-13 15:44] tseaver commented on #6531
@julian-r How are you installing the packages?  I just tried installing only `grcp-google-iam-v1==0.11.4`:

[code]

[2018-12-13 15:47] julian-r commented on #6531
Fun fact: it works on my desktop environment, but in app engine it can't find the class. Locally  I am using pipenv. I generate a `requirements.txt` with `pipenv freeze --requirements` and app engine installs them.

Now I also tried to check if the imports of `iam_policy_pb2.py:300` imports are working

[code]

which seems to be fine.

[2018-12-13 16:01] tseaver commented on #6914
FWIW, the docstrings are generated from the corresponding comments in the `.proto` files (e.g., see the [`ExportAssets` RPC comment](https://github.com/googleapis/googleapis/blob/a207551d5190d2dc915ea261f19ce83eeee000d3/google/cloud/asset/v1beta1/asset_service.proto#L35-L39), with additional examples and additional parameter documentation added via the GAPIC generator: [parameter declaration](http

[2018-12-13 16:02] julian-r commented on #6531
My versions in the `requirements.txt`:

[code]

do exactly match yours.

[2018-12-13 16:15] tseaver commented on #6552
Candidate list from the types exported from `google.cloud.firestore`:

- [ ] `CollectionReference`
- [ ] `DocumentReference`
- [ ] `DocumentSnapshot`
- [ ] `ExistsOption`
- [ ] `GeoPoint`
- [ ] `LastUpdateOption`
- [ ] `Query`

The types in `enums` and `types` already have equality semantics.

I believe the following do *not* need equality semantics:

- `Transaction` (? -- transient)
- `Watch` (?

[2018-12-13 18:00] gturetsky opened #6918 "IAM Gone?"
`from google.cloud import iam`

^^^ No longer works after updating **google-cloud-api-core** and **google-cloud-python**.

This link is also a 404 now: https://github.com/googleapis/google-cloud-python/blob/master/core/google/cloud/iam.py

Thanks!

[2018-12-13 18:14] gturetsky commented on #6918
**Update:** Looks like this was moved to:

`from google.api_core import iam`

[2018-12-13 18:51] tseaver opened #6921 "Firestore: 'test_watch_query' systest flakes"
Similar to #6605.  See: https://source.cloud.google.com/results/invocations/57661644-6fd2-4203-a515-4c3bf9edfcd5/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log

[code]

[2018-12-13 21:37] KiwiPolarBear opened #6924 "Firestore: Using offset greater than 1000 on a query doesn't work"
#### Environment details

macOS Mojave 10.14.1
Python 3.6
google-cloud-firestore==0.30.0

#### Steps to reproduce

  1. Create a query to get a large collection (over 1000 documents)
  2. Add an offset greater than 1000 to the query
  3. Get the query and iterate over the documents
  4. You should get an exception about having no documents

#### Code example

[code]

#### Stack trace
[code]

[2018-12-13 22:53] tseaver commented on #6924
Can you please show the whole traceback?  Also, are you sure there are at least 1000 documents in the collection?

[2018-12-13 23:00] #6043 closed

[2018-12-13 23:01] #5984 closed

[2018-12-13 23:01] KiwiPolarBear commented on #6924
Sure.

[code]

I am certain there are more than 1000 documents as making the same query with an offset of 1000, returns more documents.

[2018-12-13 23:01] #5777 closed

[2018-12-13 23:02] #6201 closed

[2018-12-13 23:02] #6207 closed

[2018-12-13 23:11] tseaver commented on #6924
There is no indication in the [`StructuredQuery` API docs](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.v1beta1#google.firestore.v1beta1.StructuredQuery) of any upper bound on `limit`, and the `google-cloud-firestore` code doesn't do anything particular with the value beyond copying it into that message.

@shollyman Can you shed light on why the server would be returning

[2018-12-13 23:40] #6918 closed

[2018-12-13 23:40] tseaver commented on #6918
@gturetsky You are correct.  We had to move the module to avoid expected conflicts with the new `google-cloud-iam` library.

[2018-12-14 02:22] chrischan9008 opened #6926 "BigQuery: 'Client.list_rows' returns more than 'max_results'"
Python 2.7
bigquery.__version__ , '1.8.0'
Issue: bigquery client list_rows returns results more than the max_results

**Codes**
from google.cloud import bigquery
import re
bq_client = bigquery.Client()
table_name = "bigquery-public-data.austin_crime.crime"
max_results=109999
start_index=0
chunk_size=109999
table = bq_client.get_table(table_name)
iterrows = bq_client.list_rows("bigquery-public-data

[2018-12-14 13:08] LSantos06 commented on #5411
I'm having the same error when I open a file as a string and pass as an argument to this function:
[code]

[2018-12-14 16:54] tseaver commented on #6926
@chrischan9008 The `max_results` value is used only to determine whether to fetch another page.  You have set the `page_size` really large, which causes extra values to be fetched  Try not passing it at all, e.g.:

[code]

Which yields `10999`.

[2018-12-14 16:54] #6926 closed

[2018-12-14 17:10] #6206 closed

[2018-12-14 17:11] #5818 closed

[2018-12-14 20:39] shollyman commented on #6915
Another possibility is to use a DDL query.  CREATE OR REPLACE TABLE ... AS SELECT...

As part of the CREATE TABLE options you can set things like partitioning configuration.

[2018-12-14 23:05] crwilcox opened #6927 "Spanner: with database.snapshot() fails under 1.7.0"
[code]

[code]

[2018-12-14 23:21] crwilcox commented on #6927
Fixed by #6928

[2018-12-14 23:21] #6927 closed

[2018-12-15 02:16] liyanhui1228 commented on #6885
Is that possible to allow the previous `google-cloud-core` version in the `google-cloud-bigquery` library? This is causing `apache-beam[gcp]` (previous named `google-cloud-dataflow`) to have conflicts with all the cloud client libraries because it is using an old version of bigquery client library. We will talk to them to update the bigquery dependency but their next scheduled release will happen

[2018-12-15 03:59] ekeleshian opened #6930 "Storage: 'Blob.download_as_string' fails with strange error message"
#### Environment details
Using Ubuntu 18.04, python 3.6.5, google-cloud-storage 1.13.1

#### Steps to reproduce
I created a bucket to store a file that I will access later with google cloud functions.  I authenticated to a Cloud API just as explained in Google's [Getting Started](https://cloud.google.com/docs/authentication/getting-started) documentation. I made sure the bucket creation actually h

[2018-12-16 17:18] FightWithCode commented on #5218
gcloud config set app/use_deprecated_preparation True
This is not helping me
Gives this error
ERROR: (gcloud.config.set) Section [app] has no property [use_deprecated_preparation].

[2018-12-17 15:06] titocosta commented on #4025
Having the same issue on MacOs. Google Cloud Datastore client hangs on queries and gets.
Setting `os.environ["GOOGLE_CLOUD_DISABLE_GRPC"] = "True"` did not fix it for me.

I have `grpcio` 1.17.1 installed.

[2018-12-17 15:18] fredrikaverpil opened #6933 "args.func(client, args)"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2018-12-17 15:18] #6933 closed

[2018-12-17 15:19] fredrikaverpil commented on #6933
Created prematurely.

[2018-12-17 15:22] titocosta commented on #4025
I fixed it as follows:
1. Used `export GOOGLE_CLOUD_DISABLE_GRPC=True` on bash before invoking python
2. I solved the authentication problem with `$ gcloud auth application-default login` [as described here](https://googleapis.github.io/google-cloud-python/latest/core/auth.html#overview)

[2018-12-17 17:00] #6930 closed

[2018-12-17 17:03] tseaver commented on #5507
@afitz0 A little bird suggests that DLP back-end issues are your wheelhouse.

[2018-12-17 21:48] #6548 closed

[2018-12-17 21:56] #6547 closed

[2018-12-17 23:01] bspeice opened #6938 "BigQuery: error when using created table ref as query destination"
#### Environment details
BigQuery API, Linux, Python 2.7

#### Steps to reproduce

I'm getting a 400 error when using a newly-created table ref as a destination:

#### Code example

[code]

#### Stack trace
[code]

What appears to be happening when I enable httplib logging is that the table ref internal representation includes a bunch of extra fields. However, the error message is incredibly confu

[2018-12-18 01:03] shollyman commented on #6938
create_table() returns the Table, not a TableReference.  To confirm, does it work when you change the setting of the destination to export_ref.reference?

Perhaps we should extract the TableReference when the destination is passed a Table.

[2018-12-18 14:47] tseaver commented on #6938
@shollyman That seems sensible, given that `Client.create_table` itself is willing to take any of a `Table`, a `TableReference`, or a string for its `table` argument.  We've explicitly avoided doing client-side validation for the various job configuration fields, but that conversion would be a different thing.

Likely we'd want to do the same for any job  / job configuration arguments currently ex

[2018-12-18 14:49] tseaver commented on #5507
@JustinBeckwith can you please figure out who on the backend team can help address this issue?

[2018-12-18 15:24] tseaver opened #6987 "Error_reporting: 'test_report_exception' systest flakes w/ backoff error"
See [failed system test runs](https://source.cloud.google.com/results/invocations/b4cf10d9-0eee-474d-8120-ef168ccf0efb/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ferror_reporting/log).

[code]

[2018-12-18 16:15] #6533 closed

[2018-12-18 16:30] #6552 closed

[2018-12-18 17:55] tswast commented on #4152
@ashutoshkumars I agree, which is why I opened this feature request.

I have changed my mind on the implementation details. I don't think we should prefetch the first page, because that could be an unnecessary API request.

Instead, `total_rows` is available both in the query results API response and the get table API response. It could be copied to the object in most cases. The only problem with

[2018-12-18 18:05] tswast commented on #6300
@tseaver is correct. Currently `insert_rows` does not convert record types to the correct JSON. It really should, though.

https://github.com/googleapis/google-cloud-python/blob/169bc22abacf853287866f88b27760a2dd0435ce/bigquery/google/cloud/bigquery/client.py#L1506

Looking at that line I also see a bug when `mode='REPEATED'` for the column. If a value is repeated, it is expected to be a list of v

[2018-12-18 18:14] tswast commented on #6907
IMO, assigning it to a variable could actually be a good way to indicate this desire. If someone is assigning it explicitly to `myvariable`, then they clearly know that the next cell could be just `myvariable` (or `myvariable.head()`) to display it.

[2018-12-18 20:14] brianquinlan commented on #6907
@tswast Exactly! It would be my preference to not have any output if there is a successful variable assignment.

[2018-12-19 02:30] alexpirine commented on #3103
Please drop support for 2.7 now and add asyncio support :)
Blocking networking calls is such a slow, has-been thing…

[2018-12-19 06:47] arvindnrbt opened #7001 "Pub/Sub: receiver won't pull messages until client restart"
#### Environment details

1. (Dockerized) Alpine 3.7
2. python 3.5
3. google-cloud-pubsub - v.0.37.2

#### Steps to reproduce
This occurs frequently but the time it takes to stop listening is random, sometimes it has taken 3 hours and sometimes it takes about a week. The actual problem is the long running listener seems to quit after sometime and we need to manually restart the process.

  1. Star

[2018-12-19 17:07] tseaver opened #7003 "Bigtable: systests leaking instances"
Similar to #4935.  We have a bunch of leaked instances, and are now seeing systest failures due to quota exhaustion.  With the labels, it is possible to see that several different "kinds" of instances are leaked from systests:

- `dif-####` (leaked from `test_create_instance_w_two_clusters`).
- `g-c-p-###` w/ display name "Foo Bar Baz" (the default instance in `tests/system.py`, mutated by `test_u

[2018-12-19 17:12] tseaver commented on #7003
@sduskis Can you have the team which has been working on snippets, etc. investigate those leaks?

[2018-12-19 17:50] tseaver commented on #7003
#7004 has fixes in for all my hypotheses for instance leaks in `tests/system.py`.  I have deleted the corresponding instances, so the only "old" ones remaining were leaked from `docs/snippets.py`.

[2018-12-19 18:04] tseaver opened #7005 "BigQuery: system tests fail w/ 429 errors from GCS"
BigQuery system tests which to create buckets / blobs need to be hardened against 429 responses from GCS.

[2018-12-19 19:19] rtoma opened #7009 "Complete Cloud Security Command Center / CSCC integration"
Ignore this issue. I should have created it in the Forseti project.

[2018-12-19 19:21] alixhami commented on #6907
I wanted to make sure this was a consistent behavior of magics, not just a preference. I looked through the Jupyter magics to see if I could find a precedent for this and found the following:

![image](https://user-images.githubusercontent.com/19769177/50242453-41bac580-037f-11e9-8bdc-323ce81d4b17.png)

Sending a PR to Tim now for the update.

[2018-12-19 19:31] #7009 closed

[2018-12-19 21:45] #6907 closed

[2018-12-20 15:45] dkapitan opened #7011 "result %%bigquery magic still shown when specifying destination_var"
The documentation says:

I have tried this with the example from the documentation, and the resulting dataframe is still shown

Environment:
  * OSX 10.14.2 (Mojave)
  * Python 3.6.5
  * IPython 6.5.0
  * Notebook server 5.6.0
  * pandas 0.23.4

[2018-12-20 17:21] IrribarraC opened #7012 "Cloud billing: Manage budgets, BigQuery export via python"
One feature I consider important is being able to monitorize my projects billing. As for now, it is possible to do that by accessing the Cloud console first and set up budgets and their corresponding notifications following [this tutorial](https://cloud.google.com/billing/docs/how-to/notify). But when working on a corporation level, where hopefully projects will be generated in big numbers, it is

[2018-12-20 18:51] alixhami commented on #7011
The library has not been released since this change was made. Please try again after the next release.

[2018-12-20 19:01] alixhami commented on #6909
The documentation has been moved from readthedocs.io to github.io. Here is the current [Magics documentation](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.magics.html#module-google.cloud.bigquery.magics).

@crwilcox It looks like the google-cloud.readthedocs.io page is stuck at v 1.5.0 for BigQuery. This is misleading to have an old snapshot of d

[2018-12-20 23:33] Emsu commented on #6479
@tseaver I know you mentioned maybe at the beginning of December this would be released. Any updates?

[2018-12-22 02:14] RohanTalip commented on #6479
@Emsu, it looks like it was released 3 days ago: https://github.com/googleapis/google-cloud-python/releases/tag/firestore-0.31.0

[2018-12-22 02:18] RohanTalip commented on #6479
FYI, I just sent some feedback on https://firebase.google.com/docs/firestore/query-data/queries#array_membership via the "SEND FEEDBACK" button, that this is now supported in Python.  I linked to this issue in the feedback.

[2018-12-23 17:58] ewhauser commented on #6488
One option is to replace the current Stackdriver formatter with monkeypatching or your own configuration methods. Here's what I'm using:

[code]

[2018-12-24 17:51] kapilt opened #7021 "google.cloud.logging - don't import grpc if grpc disabled"
I noticed the Stackdriver module supports usage with grpc installed, which is great. However it currently still tries to import _gapic even if grpc usage is explicitly disabled via env var. This causes some additional latency for cli & serverless usage.

[code]

so this tries two tests, one with the default google.cloud.logging.client imports, and one where the try/except around the _gapic imports

[2018-12-24 18:00] adamf commented on #6300
I have a pull request (https://github.com/googleapis/google-cloud-python/pull/7022) out for this, but would love a maintainer to give guidance on change location and other details. Thanks!

[2018-12-26 08:53] ipuris opened #7024 "Speech: long audio files produce error"
I got an error message `None Unexpected state: Long-running operation had neither response nor error set.` when I tried using `long_running_recognize()` function for long audio files (> 1h). Some files worked correctly, but most of the long files gave me the error message. I tried a 1m 30s long audio file using the same function, then it works. But when I tried more than 1 hour files, it mostly fa

[2018-12-26 21:57] crwilcox commented on #7021
@kapilt this could be done. Today this is mostly done to guard against cases where gRPC isn't available.  Would you be interested in submitting a PR for this change?

[2018-12-27 18:43] dustinfarris commented on #5879
@yiga2 Can you elaborate on how "ConnectionResetError" is retriable in gcsfs?  Is there an argument I need to pass to the constructor to enable this?  My Cloud Function is crashing right after the error is thrown.

[2018-12-27 19:21] jbugbee126 commented on #5879
I had found that that exception is simply a generic unhandled exception. Be sure to wrap all of your connections . I.e Api calls,  GCS file transfers etc..  with try except error handling. You will see that one of your connections maybe failing. But it could be for any number of reasons.

-------- Original message --------
From: Dustin Farris <notifications@github.com>
Date: 12/27/18 1:43 PM (GMT-

[2018-12-28 18:51] RohanTalip opened #7026 "Firestore: Client Library Documentation page shows 404"
See the "Client Library Documentation" links on https://github.com/googleapis/google-cloud-python/tree/master/firestore .

https://googlecloudplatform.github.io/google-cloud-python/latest/firestore/index.html shows a 404 page.

[2018-12-29 12:46] girishghoda opened #7029 "Pyhton external_dependencies: 'google-cloud-pubsub' not working"
#### Environment details

1. Google cloud pubsub
2. window 10
3. Python version: 3.6.3
4. google-cloud-pubsub version: 0.39.1

#### Steps to reproduce
I used google-cloud-pubsub in Odoo module. I tried to explain issue in step by step.
  1. Added 'google-cloud-pubsub' in external_dependencies in python manifest file:
     `"external_dependencies": {
        'python': ['google-cloud-pubsub']
    },

[2018-12-29 15:53] asmhack commented on #5727
Seems like this issue is raising when you may try to run dataflow job with "Direct" runner on google vm instance.

[2018-12-30 12:52] arycloud opened #7034 "Language: 502 Bad Gateway after processing few files"
I'm trying to implement Natural Language API using Python(3.6) where I need to process thousands of files from a directory, at the moment I'm reading the files one by one from the files directory then perform sentiment-analysis using NLP-API and then upload the results to the Cloud Storage Bucket.

Here's my code for performing sentiment-analysis:
[code]

But after processing ~200-300  files it re

[2018-12-31 00:30] conlan commented on #6259
praise the sun! was debugging this issue for over a day (using datastore + bigquery too) and

solved it for me.

[2018-12-31 14:20] sam-at-work commented on #6906
For now, if you have the operation name:
[code]
you can do:

[code]

[2018-12-31 19:19] fish-bytes opened #7037 "Datastore: Entity KeyProperty losing id, returns ''"
After migrating NDB Python27 to python37 google-cloud-datastore Entities that store a Key value of a different entity (KeyProperty from NDB) and no long working.

Python returns that the object is a Key, it has a kind value, however name is returned as '' and the numeric id value comes back as None.

entity.path is returning "path[{'kind': 'UserAccount', 'name': ''}]" - all values are stored with

[2019-01-02 05:37] ronlee123 commented on #5218
Would you mind further describing on how you solved that error? what was the wrong parameter in app.yaml that you passed? Really appreciate your help.

[2019-01-02 15:04] #6300 closed

[2019-01-02 22:41] kinwa91 opened #7039 "Security Center: "Client Library Documentation" link raises 404"
https://googleapis.github.io/google-cloud-python/latest/securitycenter/index.html

Clicking on `Client Library Documentation` in Security Command Center API docs page redirects to 404.

[2019-01-03 01:15] wyardley opened #7040 "KMS: import error when protobuf is < 3.6.x"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. Debian buster/sid (Docker)
3. Python version and virtual environment information: `Python 2.7.15`
4. google-cloud-<service> version:  `google-cloud-kms==0.2.1`

#### Steps to reproduce

  1. with protobuf < 3.6.0, import the module

####

[2019-01-03 14:06] g3rd commented on #6531
@julian-r have you fixed the issue? I am having the same problem.

My versions are slightly newer than yours and @tseaver.
(I've also tried downgrading to match)

Pipfile: [Pipfile.txt](https://github.com/googleapis/google-cloud-python/files/2723933/Pipfile.txt)

[code]

And my code (followed from https://github.com/googleapis/google-cloud-python/tree/master/pubsub#subscribing)

[code]

Stacktrace

[2019-01-03 15:58] g3rd commented on #6531
I got it to work. What I had to do.

Removed black (so I could remove `allow_prereleases = true`) Then I destroyed the venv and recreated. (Doining an uninstall of black and `pipenv clean`, didn't work)

Thoughts on why:
Allowing prereleases installed `googleapis-common-protos==1.6.0b6`.

[2019-01-03 19:57] tseaver commented on #7012
This repository is for the Python libraries which wrap the various Google Cloud APIs.  To request a feature like this, which would essentially be a new feature for the [Cloud Billing API](https://cloud.google.com/billing/) (not yet wrapped here), please use one of the [support resources](https://cloud.google.com/support-hub/).

[2019-01-03 19:57] #7012 closed

[2019-01-03 20:02] tseaver commented on #7024
@ipuris Have you looked at the [limits page for the Speech API](https://cloud.google.com/speech-to-text/quotas#content)?

[2019-01-03 20:07] #7026 closed

[2019-01-03 20:12] tseaver commented on #7029
@girishghoda I'm afraid I don't have any experience with Odoo.  Installing `google-cloud-python` into a fresh virtual environment using `pip` works fine:

[code]

Please feel free to reopen if you can identify a specific issue with how we are packaging `google-cloud-pubsub`.

[2019-01-03 20:12] #7029 closed

[2019-01-03 20:19] tseaver commented on #7034
I suspect one of two things:  either the back-end API is / was experiencing transient issues, or else the 502 is being returned (wrongly, I think) due to quota or rate limiting issues.

Looking at the [Google Cloud Status page](https://status.cloud.google.com/), where Natural Language would be covered by the "Cloud Machine Learning" entry (I think), there don't seem to have been any recent service

[2019-01-03 20:22] tseaver commented on #7037
@fish-bytes Can you show a minimal example which actually creates the two entities and saves them, etc., before fetching them?

[2019-01-03 20:35] tseaver commented on #7037
The following example works as expected for me:

[code]

Please feel free to reopen if you can provide more information.

[2019-01-03 20:35] #7037 closed

[2019-01-03 20:45] tseaver commented on #7039
@kinwa91 Thank you for the report!

[2019-01-03 20:58] tseaver commented on #7040
Working to reproduce in a clean 2.7 virtual environment:

[code]

[2019-01-03 20:59] tseaver commented on #7040
Looking into it, I believe that `googleapis_common_protos-1.5.5` is the culprit:  it is the package providing the `google/api/http_pb2.py` file, but declares only a minimal `protobuf >= 3.0.0` dependency.

[2019-01-03 21:00] #7039 closed

[2019-01-03 21:41] anguillanneuf opened #7042 "Pub/Sub doc: missing/broken link for FlowControl type definition"
The parameter `FlowControl` in the `subscribe()` method in the ref [doc](https://googleapis.github.io/google-cloud-python/latest/pubsub/subscriber/api/client.html) doesn't have a link to its definition. We should add a link to make the doc easy to use.

[2019-01-03 22:38] #7005 closed

[2019-01-03 23:25] anguillanneuf opened #7043 "Pub/Sub doc: missing definition for `max_lease_duration` in FlowControl"
The ref doc for [`max_lease_duration`](https://googleapis.github.io/google-cloud-python/latest/pubsub/types.html#google.cloud.pubsub_v1.types.FlowControl.max_lease_duration) does not describe what it is or how it is used, especially about how it interacts with ack deadlines.

Given that this is an important config setting for long-running tasks, we may want to provide more documentation here by sh

[2019-01-04 00:20] FloraSaysGoodmorning commented on #6645
Having the same issue with `google-cloud-logging==1.6.0`, was trying to submit json logs to stackdrvier via the client.
[code]
which led to :
[code]

[2019-01-04 04:54] RohanTalip commented on #7026
Hmm, I got the 404 when I didn't have JavaScript enabled on https://googlecloudplatform.github.io .

After enabling JavaScript I get redirected to https://googleapis.github.io/google-cloud-python/latest/firestore/index.html

When I run `curl -v https://googlecloudplatform.github.io/google-cloud-python/latest/firestore/index.html`, I see there is JavaScript to redirect to googleapis.github.io .

Th

[2019-01-04 04:55] toddpi314 commented on #6645
Seeing loads of this one in the last 48 hours on 1.8.0 of `google-cloud-logging`

[2019-01-04 09:01] IdAmi opened #7044 "Storage: Issue upgrading package via 'pip'."
Hello,
Environnement :
- Cloud Dataproc image version: 1.3 (Debian 9, Hadoop 2.9, Spark 2.3)
- initialization script : gs://dataproc-initialization-actions/datalab/datalab.sh
- kernel Python2

We have a problem upgrading the google-cloud-storage package.
When we open the datalab notebook, we use the command: "! pip install --upgrade google-cloud-storage" and we have the following error:

Collectin

[2019-01-04 10:31] gururajasekhar commented on #5879
CHEERS!
Lots of stuff to learn from the comments itself.
So, I was trying to do a similar thing, like accessing a file from GCS and then updating it. Same error still exists, so other than adding a 'try except' statement and trying to retrieve the file again, is there any other solution? Because this also might be unreliable.

[2019-01-04 10:41] avivco94 opened #7045 "Vision: cannot import name 'types' from 'google.cloud.vision'."
The env is macOS 10.14.2 with python 3.7.
The google-cloud-vision is already installed:

[code]

[code]

The same problem when I'm running it from virtualenv.

[2019-01-04 15:22] colincadams commented on #6645
Also seeing this with `google-cloud-logging=1.9.1`

[2019-01-04 19:12] crwilcox commented on #7045
@avivco94 I just tried in a clean venv without any issue. Is it possible your venv was contaminated by a previous install?

[code]

[2019-01-04 20:07] tseaver commented on #7044
Upgrading only one of the `google-cloud-*` packages is likely to create this kind of conflict, because of the shared dependencies.  You need to upgrade `google-cloud-monitoring` and `google-cloud-bigquery` at the same time.

[2019-01-04 20:07] #7044 closed

[2019-01-04 20:54] #6887 closed

[2019-01-04 20:58] tswast opened #7049 "BigQuery: Support user-overridable dtypes in `to_dataframe` method."
With pandas 0.24.0 (unreleased), a new dtype is available to support nullable integer columns. http://pandas-docs.github.io/pandas-docs-travis/integer_na.html#integer-na The default behavior is to convert to float, but this can result in data loss (#6177). This new dtype extension avoids that.

I propose we allow the user to provide a map from column names to dtypes for any columns for which they'

[2019-01-04 21:43] brunoais commented on #6645
@tseaver Any way of changing that, at our own responsibility so, for example, 1 retry is done for such errors?

[2019-01-05 01:57] rvandegrift opened #7050 "IoT: segfault in list_devices"
The `list_devices` method segfaults when the `metadata` parameter is supplied.

#### Environment details
google-cloud-iot version: 0.2.0
OS: Debian buster
Python version: 3.7.2rc1

#### Code example
[code]

[2019-01-05 05:48] arycloud commented on #7034
Hi @tseaver,The status for Machine Learning api at [Google Cloud Status page](https://status.cloud.google.com/) is available.

[2019-01-05 16:58] avivco94 commented on #7045
It's not working... (the same issue)

[2019-01-05 17:02] tseaver commented on #7050
Trying to reproduce:

[code]
That raises an error (not a segfault):

[code]

Note that the [docs for `DeviceManagerClient.list_devices`](https://googleapis.github.io/google-cloud-python/latest/iot/gapic/v1/api.html#google.cloud.iot_v1.DeviceManagerClient.list_devices) show that `metadata` is a sequence of tuples of the form, `(HEADER_NAME, HEADER_VALUE)`, not a dict.

Can you check the installed p

[2019-01-05 17:19] tseaver commented on #6645
@brunoais You'd need to poke at some internals.  Something like (untested):

[code]

Note that the retry mechanism isn't really built around a maximum number of tries, but rather a maximum time (along with initial delay and multiplier).  See its [docs](https://googleapis.github.io/google-cloud-python/latest/core/retry.html).

[2019-01-05 17:21] tseaver commented on #7034
@arycloud I was looking at that page, and don't see any disruptions / outages for the ML APIs.

[2019-01-05 17:31] tseaver commented on #6645
The `_inner_api_stubs` mapping is lazily initialized on first use:  the example I posted is taken from [there](https://github.com/googleapis/google-cloud-python/blob/3fc8616b98b855fcf86ca4cafe8c23ba6aa3dfad/logging/google/cloud/logging_v2/gapic/logging_service_v2_client.py#L380-L387).

As long as the GAPIC code generation strategy doesn't change, that example should still work.

[2019-01-05 17:33] brunoais commented on #6645
Thank you. I'll try that when I can.

[2019-01-07 03:55] zsliu commented on #3947
I have exactly the same problem with latest dialogflow Java library. Please advise ...

<dependency>
			<groupId>com.google.cloud</groupId>
			<artifactId>google-cloud-dialogflow</artifactId>

			<version>0.75.0-alpha</version>
		</dependency>

2019-01-07 03:35:14 [Gax-2] DEBUG c._.t.g.c.s.DialogflowIntentStream - AudioStream: Got error throwable:{}
com.google.api.gax.rpc.OutOfRangeException: io.g

[2019-01-07 17:17] tseaver commented on #7045
Trying to reproduce:

[code]

Looking at the packages installed in my virtualenv:

[code]

I can't see anything different, except the trivial `pytz` update.

[2019-01-07 17:24] tseaver commented on #3947
@zsliu This repository is for the Python client libraries for the Google Cloud APIs.  Please use the [Java repository](https://github.com/googleapis/google-cloud-java/issues) to report issues with the Java client libraries.

[2019-01-07 17:51] rvandegrift commented on #7050
I discovered the segfault is inconsistent - try running it a few times in a row.  Both errors go away if I change the `dict` to a `tuple`.

My pip freeze is:
[code]

Perhaps related: the IoT API docs do not mention a `metadata` parameter - https://cloud.google.com/iot/docs/reference/cloudiot/rest/v1/projects.locations.registries.devices/list

What should `metadata` do?  I was hoping it'd provide a

[2019-01-07 19:53] avivco94 commented on #7045
It works now, thanks.

[2019-01-07 20:12] fish-bytes commented on #7037
This is still an issue, my guess is that it is in the python client (I'm using 1.7.3) - if the id is a number rather than a string, the query returns incomplete key values

Modified Code:
user_key = client.key('UserAccount', 'phred')
        user_account = datastore.Entity(key=user_key)
        user_account.update({'foo': 'bar'})
        client.put(user_account)

        #existing user
        num

[2019-01-07 21:42] tseaver commented on #7045
Glad it is resolved.

[2019-01-07 21:42] #7045 closed

[2019-01-07 21:43] fish-bytes commented on #7037
I don't think I can re-open, but I added more example in a later post to hopefully give you a reproduceable.

[2019-01-07 21:59] tseaver commented on #7037
I just checked:  the example I posted above works whether I use a string name or and integer ID for `user_key`.  Can you check your example to verify that you don't have a stray `Notebook` entity coming back in your `client.query()` results, with different values than you expect?

[2019-01-07 23:37] tseaver commented on #7050
The `metadata` argument is used to pass metadata headers along with the gRPC request (e.g., user agent / library version info for analysis):  it isn't really intended for use at the application level.

[2019-01-08 07:59] IdAmi commented on #7044
Hello tseaver,

thank you for helping. we will follow your recommandation.

Have a nice day

Alexandre

[2019-01-08 21:16] tseaver commented on #6605
New Firestore project now being used for Kokoro CI *seems* to have fixed this.  Reopen if it reappears.

[2019-01-08 21:17] tseaver commented on #6921
Haven't seen this failure since the New Year.  Reopen if it reappears.

[2019-01-08 21:17] #6921 closed

[2019-01-09 06:15] ipuris commented on #7024
Sorry for late response. I didn't carefully had checked the limits page, so I tested the limits using multiple files during couple of days.
In short, I think limits may not the reason of the problem.

Among sound files I tested, a sound file (I set this file `gs://deeply-test/SUB1_11_12_1h_FAILED.wav` publicly available in `https://storage.googleapis.com/deeply-test/SUB1_11_12_1h_FAILED.wav`) whic

[2019-01-09 13:36] yoshi-automation opened #7102 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a5a6ffb3-c5f8-4b01-b61e-b9a0df3a1eca).

[2019-01-09 17:56] relud opened #7103 "PubSub: RetryError in batch publish causes futures to never complete"
#### Environment details

macOS Mojave 10.14.2 and Docker Desktop Community Version 2.0.0.0-mac81 (29211)
Python 3.7.0 from docker image `python:3.7.0` digest: `sha256:10608fb357a18383f792efbf7472ec6d2e166dad62efc0d7c409ef2777aaafd0`
google-cloud-pubsub version 0.39.1 hash `sha256:32dbaf9b8c16d4a14b7e1eca2805689f82f69f542a68bf1516b9c77a3ef54b73`

#### Steps to reproduce

  1. Set the environment v

[2019-01-09 19:23] relud opened #7104 "PubSub: support batching publish requests with asyncio"
**Is your feature request related to a problem? Please describe.**

I have an `asyncio` application that needs to publish messages to PubSub, but I'm having issues because `google.cloud.pubsub.PublisherClient.publish`:

1. returns futures that aren't compatible with `await` or `asyncio.wrap_future`
1. returns futures that never complete if `Batch._commit` throws an uncaught exception (like in #710

[2019-01-09 19:23] relud opened #15654 "PubSub: support batching publish requests with asyncio"
**Is your feature request related to a problem? Please describe.**

I have an `asyncio` application that needs to publish messages to PubSub, but I'm having issues because `google.cloud.pubsub.PublisherClient.publish`:

1. returns futures that aren't compatible with `await` or `asyncio.wrap_future`
1. returns futures that never complete if `Batch._commit` throws an uncaught exception (like in goog

[2019-01-09 19:32] tseaver commented on #6987
Another occurence today:

https://source.cloud.google.com/results/invocations/e619936a-e4df-4294-a72d-6d426fe47a2b/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ferror_reporting/log

[2019-01-09 19:41] tseaver opened #7105 "Firestore: 'test_query_watch_order' failure on CI account"
[This one](https://source.cloud.google.com/results/invocations/08af2361-4153-46ea-a8d9-1c93035fb8f0/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log) appears *not* to be flaky, but rather is failing because of the move to a new CI account for Firestore.

[code]

[2019-01-09 20:34] tseaver commented on #7102
There is no useful error output from the failing docker process here.  I cannot reproduce on my own machine.

[2019-01-09 20:40] relud opened #7107 "PubSub: optionally raise error if batch overflows on first message"
**Is your feature request related to a problem? Please describe.**

Calling `google.cloud.pubsub.PublisherClient.publish` with very large data causes exceptions in the PubSub emulator if `PublishRequest.ByteSize` exceeds  the emulator's `grpc.max_receive_message_length` or the client's `grpc.max_send_message_length`.

**Describe the solution you'd like**

I want to optionally configure the client

[2019-01-09 20:45] relud opened #7108 "PubSub: check batch max bytes against request byte size"
**Is your feature request related to a problem? Please describe.**

`google.cloud.pubsub_v1.publisher._batch.thread.Batch` enforces max bytes on the sum of [`PubsubMessage.ByteSize`](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/publisher/_batch/thread.py#L284) for each message in the batch, but the `PublishRequest` created by `Batch.client.publish` is

[2019-01-09 21:01] #7102 closed

[2019-01-09 21:19] tseaver commented on #7024
@beccasaurus Can you please comment?

[2019-01-10 00:17] beccasaurus commented on #7024
@tseaver Reaching out to the Speech team...

[2019-01-10 00:54] mcdonc commented on #7024
Note that I've seen the "Long-running operation had neither response nor error set." symptom when:

- The file  was uploaded via e.g.`blob=bucket.blob(blobname); blob.upload_from_file(..)`
- The blob *already existed* within the bucket, and `upload_from_file` was replacing what existed
  rather than creating a new.. thing.
- The bucket has an expiration policy set up.

I haven't seen this particul

[2019-01-10 06:16] Kcrong opened #7110 "Firestore: `document.set` always fails when running in python-rq"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-01-10 15:25] Kazade opened #7111 "Datastore: expose 'reserveIds' at top level."
#### Environment details

1. Datastore
2. Fedora 28
3. Python 3.6
4. google-cloud-datastore 1.7.3

#### Steps to reproduce

 The `Client` object doesn't expose the `reserve_ids` function (for preventing keys being accidentally reused by the auto-allocator), it does however expose the related `allocate_ids` (https://github.com/googleapis/google-cloud-python/blob/master/datastore/google/cloud/datast

[2019-01-10 18:37] beccasaurus commented on #7024
Team may/may not know about scenarios when Operation has neither it's .response or .error set when it's .done. Hoping they find this report useful. Will update if I hear anything back

AFAIK when a long-running operation is .done, one of those fields should be set

[2019-01-10 18:37] beccasaurus commented on #7034
Reached out to the team for more info incase they have more information about why the API might be 502'ing

[2019-01-10 18:50] mcdonc commented on #7110
Thanks for the report.

The waitpid status returned is 11 which means a segfault.  Note that the thing you called a stack trace isn't exactly a stacktrace, it's just output from rq.  It's unclear whether the code you enqueued actually ran or not, or whether the error has anything to do with firestore.  Do you see a document named 1 in the collection collection with the data you passed from the fir

[2019-01-10 18:53] yoshi-automation opened #7113 "Synthesis failed for firestore"
Hello! Autosynth couldn't regenerate firestore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/890556c2-3116-4925-893f-d1a00ca8df47).

[2019-01-10 20:04] jacobg commented on #5399
I'm also running into this issue with the Firebase Admin SDK on GAE Python 2.7. I call `firebase_admin.initialize_app()` when the app starts up. I thought maybe that happens under `/_ah/warmup` request. And it works fine, but then after an hour, when it needs to renew during another request, it fails. But how is that out of "request context"? Or do you mean that a request can't renew a token that

[2019-01-10 23:59] agraubert opened #7117 "Logging: module 'google.api.monitored_resource_pb2' has no attribute '_MONITOREDRESOURCEMETADATA'"
Operating System: Mac OS 10.12.6
Python: 3.6.5
Google Cloud Python Libraries:
[code]
---

I am unable to import the `google.cloud.logging` module:
[code]

[2019-01-11 02:52] Kcrong commented on #7110
I wanted to write a real "stack trace" logs, but it didn't print any stack trace logs at all.
I think it just killed by segfault issue.

Also, I checked several stuff and figured out:
1. It works with a single process.
2. When it execute `commit` function inside gRPC module, it just be killed.
3. No changes at the firestore.

Ps.
A. I made the document named '1'. (You may know at 1 above)
B. The q

[2019-01-11 04:03] acro5piano commented on #2990
I had the same problem using poetry.

Running

[code]

instead of

[code]

fixed the issue.

[2019-01-11 08:16] dfossa opened #7118 "ImportError : module 'main' has no attribute app"
Traceback (most recent call last):
  File "/base/alloc/tmpfs/dynamic_runtimes/python27g/350d926c06a7e859/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 240, in Handle
    handler = _config_handle.add_wsgi_middleware(self._LoadHandler())
  File "/base/alloc/tmpfs/dynamic_runtimes/python27g/350d926c06a7e859/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py",

[2019-01-11 08:17] dfossa commented on #7118
Traceback (most recent call last):
  File "/base/alloc/tmpfs/dynamic_runtimes/python27g/350d926c06a7e859/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 240, in Handle
    handler = _config_handle.add_wsgi_middleware(self._LoadHandler())
  File "/base/alloc/tmpfs/dynamic_runtimes/python27g/350d926c06a7e859/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py",

[2019-01-11 11:40] mcdonc commented on #7110
Thanks for the info!  I'll see if I can reproduce it.

[2019-01-11 13:28] Zhdanovich opened #7120 "Speech: 'long_running_recognize' fails for files shorter than 1 second"
1. Speech to text
2. MacOS
3. Python 3.6
4. google-cloud-speech 0.36.0

#### Steps to reproduce

  1. Send an audio file that is shorter than 1 second
     I can observe similar behavior here: https://cloud.google.com/speech-to-text/ When I upload a short file, it doesn't give me any results
     The same code works well with files longer than 1s

#### Code example

[code]

#### Stack trace
[code]

[2019-01-11 13:35] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a907da9c-b00b-4bfe-8d50-4b50ff454840).

[2019-01-11 13:38] Zhdanovich commented on #7120
I guess it probably an issue with the backend, then with API library itself.

[2019-01-11 18:37] jorgecedi commented on #5774
I'm not sure if this is the best solution for this problem but I just copied the roots.pem file located in site-packages/grpc/_cython/_credentials/

[code]

This will pack the pem file with the app, and it will find it right away.

[2019-01-11 19:42] tseaver commented on #7117
That symbol was added in `googleapis-common-protos-1.5.4`.  You need to update, e.g.:

[code]

[2019-01-11 19:42] #7117 closed

[2019-01-11 19:44] tseaver commented on #7118
This repository is about the Python client libraries for the Google Cloud APIs, not Google AppEngine.  Please use one of the [GAE support resources](https://cloud.google.com/appengine/community) to resolve your issue.

[2019-01-11 19:44] #7118 closed

[2019-01-11 19:46] tseaver commented on #7120
@beccasaurus Can you please confirm that this is a back-end issue?

[2019-01-11 19:48] tseaver commented on #7113
'synthtool' does not fail for me locally.  @crwilcox can you please look at the full log to see if there is more information there?

[2019-01-11 20:07] beccasaurus commented on #7120
Huh, we just had another _"Unexpected state: Long-running operation had neither response nor error set."_ the other day (where the Operation had neither an error nor a response when marked as done)

https://github.com/googleapis/google-cloud-python/issues/7024

In that case, it was reproducible via `gcloud ml speech recognize-long-running`

@Zhdanovich can you reproduce this 1s audio files using t

[2019-01-11 20:07] beccasaurus commented on #7024
Created an external tracking ticket, because this isn't related to the Python client library (this repository and its issues)

https://issuetracker.google.com/issues/122732566

[2019-01-11 20:50] relud commented on #7103
fixed by #7071

[2019-01-11 20:50] #7103 closed

[2019-01-11 20:53] crwilcox commented on #7113
I just ran this locally with an identical failure.
There is no v1beta1 output:
[code]

[2019-01-11 20:57] #7120 closed, assigned to tseaver

[2019-01-11 20:58] #7024 closed

[2019-01-11 20:58] crwilcox commented on #7113
So the issue is that `config_path="/google/firestore/artman_firestore.yaml" ` changed from v1beta1 to v1. I will make the necessary edits to synth.py

[2019-01-11 21:04] #6826 closed

[2019-01-11 21:35] crwilcox commented on #7040
@lukesneeringer released a new `googleapis_common_protos==1.5.6` that restricts the versions allowed.

[2019-01-11 21:36] lukesneeringer commented on #7040
Just released a googleapis-common-protos 1.5.6 that updates the protobuf dependency to `>= 3.6.0`.

[2019-01-11 21:40] crwilcox commented on #7040
I checked and api_core will pick this up. So this is likely resolved. @wyardley can you confirm?

[2019-01-11 21:43] lukesneeringer commented on #7040
It will not retroactively resolve for people who already have 1.5.5 installed (since api-core probably requires >= 1.5.0, and changing _that_ would require a new version of api-core) but it should prevent new folks from getting caught.

[2019-01-11 22:09] wyardley commented on #7040
Haven’t confirmed but sounds like this should fix it!

[2019-01-11 22:35] relud commented on #7104
For the record, this is my current implementation of an asyncio batch: https://github.com/mozilla/gcp-ingestion/blob/24c1cea/ingestion-edge/ingestion_edge/util.py#L7-L95

[2019-01-12 01:02] tswast commented on #7049
I experimented with this in https://github.com/googleapis/google-cloud-python/compare/master...tswast:b122674716-bqstorage-types for the BigQuery Storage API. Similar work is needed for the BigQuery API.

I think the dictionary of column names to dtypes works well. I don't see any problems with using pandas `Series` constructor for type casting.

Should it be an error if a dtype was supplied by th

[2019-01-12 02:47] vimota opened #7122 "BigQuery Client should allow a Connection object to be passed in"
We (at Kaggle) support a BigQuery Proxy which allows users of our managed Notebooks (Kernels) to query BigQuery without any setup and for free. We do this by allowing them to query public datasets using our own credentials, injected in by a proxy we run that receives requests from the client and forwards it to BigQuery. To support this in the BigQuery client the users use, we have to monkeypatch t

[2019-01-12 13:35] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a7c3dd83-c156-4780-bfe4-2b05679c132d).

[2019-01-12 19:31] randolfo75 commented on #5774
Thanks, this helped me a lot.

[2019-01-13 13:33] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ed47a098-c444-4ca1-8947-b868a511e42f).

[2019-01-14 13:34] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/f3849c71-f0de-4b68-841f-447b84a5d060).

[2019-01-14 18:02] tseaver commented on #7122
@tswast Can you comment?

[2019-01-14 18:31] tswast commented on #7122
@vimota Is the main purpose of the connection object to pass in extra HTTP headers for your proxy? Is this the sort of thing necessary for other kinds of proxies?

CC @alixhami

[2019-01-14 20:41] hishnash commented on #6924
To verify I am also getting this bug with `.offset` in 0.31.0.

[2019-01-14 20:56] vimota commented on #7122
@tswast that, and also overriding the URL of the Connection: https://github.com/Kaggle/docker-python/blob/2653b37c15556996c964fc6cd33197030c4a4228/patches/kaggle_gcp.py#L25. Thanks!

[2019-01-15 09:51] YesOhh commented on #2990
I have the same problem when i use python3.7.
I want to install pybloom use the following command:
    pip install pybloom

error:
Command "python setup.py egg_info" failed with error code 1 in C:\Users\yangxu\AppData\Local\Temp\pip-install-652wx0k_\pybloom\

I have upgraded the pip and setuptools.

[2019-01-15 13:34] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8f1de880-d4a6-4c7d-848d-1725ab7e82d9).

[2019-01-15 14:20] agraubert commented on #7117
That worked. Thanks!

[2019-01-15 17:57] tseaver commented on #7105
I've seen successful Firestore system tests, e.g.: [this one for PR #7072](https://source.cloud.google.com/results/invocations/eef184a2-7be3-42a3-9126-4df3d6968554/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log).

[2019-01-15 17:57] #7105 closed

[2019-01-15 20:17] avivco94 commented on #7045
Found what was the problem, I've created a file named google.py from where I was execute the code and the Google API used it.

[2019-01-16 00:01] tswast commented on #7122
In general we suggest customers set the `HTTPS_PROXY` environment variable per http://docs.python-requests.org/en/master/user/advanced/#proxies , but I see that may not be sufficient in your case due to the extra header and the fact this isn't a traditional HTTP proxy.

I'd like for there to be some way to reconcile this with how the gRPC-based clients work rather than make `_connection` a paramet

[2019-01-16 05:28] enugentdt opened #7128 "PubSub: Inconsistent documentation on received message types"
#### Issue Description

At various points in receiving messages through PubSub, they will come in as different types, which has no documentation on what types occur when. The majority of messages are:

[code]

However, I see some:

[code]

Those aren't much of a problem, I just have to do message = message.message. Not great, because I have to detect for those types, but nothing bad really.

Lastl

[2019-01-16 13:30] yoshi-automation commented on #7113
Autosynth is still having trouble generating firestore. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/633acb42-c9a4-49b8-b146-6414c9ed7f86).

[2019-01-16 13:46] tseaver commented on #7113
Firestore autogen fixed via [googleapis commit](https://github.com/googleapis/googleapis/commit/1579fcf41ef739c0dd02a3dcd4d14965fd7909b4).

[2019-01-16 13:46] #7113 closed

[2019-01-16 13:50] tseaver opened #7130 "Firestore: 'test_watch_collection' systest flakes"
Similar to #6605, #6921.

From this [Kokoro Firestore run](https://source.cloud.google.com/results/invocations/6579f747-286a-4545-b959-00d5fd1e530c/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Ffirestore/log):

[code]

[2019-01-16 14:57] naveenwashere opened #7131 "Bigtable: Unable to use UTF8 encoding while setting a cell value using set_cell()"
The BigTable SDK does not seem to provide an option to explicitly specify an encoding type while writing to Big Table, using the [set_cell()](https://github.com/googleapis/google-cloud-python/blob/master/bigtable/google/cloud/bigtable/row.py#L292) method of the bigtable/row.py module (in-turn forcing ASCII encoding). This causes issues when the string that I'm trying to store in bigtable has speci

[2019-01-16 18:09] tseaver commented on #7131
Bigtable's columns are designed explicitly to hold bytes, not text.  Your application needs to be aware of this fact, and manage converting any textual data to / from bytes (note that your suggested implementation still doesn't handle getting textual data *back* from the cell).

For instance, rather than:

[code]

prefer:

[code]

which is equally as clear, and even shorter!  On retrieving the cel

[2019-01-16 18:09] #7131 closed

[2019-01-16 21:39] crwilcox opened #7133 "Add support for a default insert_id for LogEntry objects"
Today, insert_id on a LogEntry will default to an empty string. If we could add support for it to default to unique identifier it would enable the backend to better deduplicate logs in the case it writes a log twice.

[2019-01-16 22:31] tseaver commented on #7133
Seems like this might need some design, at least to consider tradeoffs (i.e., maybe we *kill* deduping entries which the back-end would otherwise consolidate).

[2019-01-16 22:33] crwilcox commented on #7133
The design on the backend is complete in that they have the ability to dedupe. The existing calls to WriteLogEntries were not retried because we consider it to be a non-idempotent operation. If they have the ability to detect dupes it allows the client to be more aggressive RE: retries.

[2019-01-16 22:42] tseaver commented on #7133
OK, maybe the case I'm thinking of can't happen:  i.e., that two processes / threads somehow log the "same" event, neither with an `insert_id`, and the back-end somehow detects that they are the same and coalesces them.

[2019-01-17 00:17] #7049 closed

[2019-01-17 00:21] tswast opened #7134 "Release google-cloud-bigquery-storage 0.2.0"
We'll need to release google-cloud-bigquery-storage 0.2.0 before the next google-cloud-bigquery release. Once we do so, we can remove the TODO at https://github.com/googleapis/google-cloud-python/blob/master/bigquery/noxfile.py#L25-L27

[2019-01-17 08:57] naveenwashere commented on #7131
Thanks for the quick response 🙏

Yes, I'm aware of this.

The above solution works perfectly, when I'm only dealing with strings. In order to use the above solution, I would have to first add an `if` conditional, in my code to check for `unicode` type, and then explicitly apply UTF8 encoding.

Somehow, it does not look like an elegant solution. The [to_bytes()](https://github.com/googleapis/google

[2019-01-17 13:34] yoshi-automation opened #7165 "Synthesis failed for asset"
Hello! Autosynth couldn't regenerate asset. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7166 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7167 "Synthesis failed for bigquery_datatransfer"
Hello! Autosynth couldn't regenerate bigquery_datatransfer. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7168 "Synthesis failed for bigquery_storage"
Hello! Autosynth couldn't regenerate bigquery_storage. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7169 "Synthesis failed for bigtable"
Hello! Autosynth couldn't regenerate bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7170 "Synthesis failed for container"
Hello! Autosynth couldn't regenerate container. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7171 "Synthesis failed for dataproc"
Hello! Autosynth couldn't regenerate dataproc. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7172 "Synthesis failed for datastore"
Hello! Autosynth couldn't regenerate datastore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7173 "Synthesis failed for dlp"
Hello! Autosynth couldn't regenerate dlp. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7174 "Synthesis failed for error_reporting"
Hello! Autosynth couldn't regenerate error_reporting. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7175 "Synthesis failed for firestore"
Hello! Autosynth couldn't regenerate firestore. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7176 "Synthesis failed for iam"
Hello! Autosynth couldn't regenerate iam. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7177 "Synthesis failed for iot"
Hello! Autosynth couldn't regenerate iot. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7178 "Synthesis failed for kms"
Hello! Autosynth couldn't regenerate kms. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7179 "Synthesis failed for language"
Hello! Autosynth couldn't regenerate language. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7180 "Synthesis failed for logging"
Hello! Autosynth couldn't regenerate logging. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7181 "Synthesis failed for monitoring"
Hello! Autosynth couldn't regenerate monitoring. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7182 "Synthesis failed for oslogin"
Hello! Autosynth couldn't regenerate oslogin. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7183 "Synthesis failed for pubsub"
Hello! Autosynth couldn't regenerate pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7184 "Synthesis failed for redis"
Hello! Autosynth couldn't regenerate redis. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7185 "Synthesis failed for scheduler"
Hello! Autosynth couldn't regenerate scheduler. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7186 "Synthesis failed for securitycenter"
Hello! Autosynth couldn't regenerate securitycenter. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7187 "Synthesis failed for spanner"
Hello! Autosynth couldn't regenerate spanner. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7188 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7189 "Synthesis failed for tasks"
Hello! Autosynth couldn't regenerate tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7190 "Synthesis failed for texttospeech"
Hello! Autosynth couldn't regenerate texttospeech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7191 "Synthesis failed for trace"
Hello! Autosynth couldn't regenerate trace. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7192 "Synthesis failed for videointelligence"
Hello! Autosynth couldn't regenerate videointelligence. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7193 "Synthesis failed for vision"
Hello! Autosynth couldn't regenerate vision. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 13:34] yoshi-automation opened #7194 "Synthesis failed for websecurityscanner"
Hello! Autosynth couldn't regenerate websecurityscanner. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b3b430dc-58ac-439e-b4ab-8b713f48880b).

[2019-01-17 16:35] #7170 closed

[2019-01-17 16:35] #7171 closed

[2019-01-17 16:35] #7172 closed

[2019-01-17 16:35] #7173 closed

[2019-01-17 16:35] #7174 closed

[2019-01-17 16:35] #7175 closed

[2019-01-17 16:35] #7176 closed

[2019-01-17 16:35] #7177 closed

[2019-01-17 16:35] #7178 closed

[2019-01-17 16:35] #7179 closed

[2019-01-17 16:35] #7180 closed

[2019-01-17 16:35] #7181 closed

[2019-01-17 16:35] #7182 closed

[2019-01-17 16:35] #7183 closed

[2019-01-17 16:35] #7184 closed

[2019-01-17 16:35] #7185 closed

[2019-01-17 16:35] #7186 closed

[2019-01-17 16:35] #7187 closed

[2019-01-17 16:35] #7188 closed

[2019-01-17 16:35] #7189 closed

[2019-01-17 16:35] #7190 closed

[2019-01-17 16:35] #7191 closed

[2019-01-17 16:35] #7192 closed

[2019-01-17 16:35] #7193 closed

[2019-01-17 16:35] #7194 closed

[2019-01-17 16:35] #7165 closed

[2019-01-17 16:35] #7166 closed

[2019-01-17 16:35] #7167 closed

[2019-01-17 16:35] #7168 closed

[2019-01-17 16:35] #7169 closed

[2019-01-17 17:22] #7042 closed

[2019-01-18 00:38] TrangPham opened #7197 "Pubsub: AttributeError: 'module' object has no attribute 'IAMPolicyStub'"
I am filing this bug report with my solution which worked.

Issue seems to stem from this line: https://github.com/googleapis/google-cloud-python/blob/ca33b0d015ab7956b881b6964647f28f9f999f0f/pubsub/google/cloud/pubsub_v1/gapic/transports/publisher_grpc_transport.py#L71

#### Environment details

google-cloud-pubsub          0.39.1
OS: debian
Python 2.7
[code]

#### Steps to reproduce

#### Code e

[2019-01-18 18:56] tswast commented on #7134
Might want to wait until CL 228800681 goes in and `google-cloud-bigquery-storage` is regenerated based on that proto change, since it adds a feature that I'll want to depend on in `google-cloud-bigquery` too.

[2019-01-18 22:57] kir-titievsky opened #7199 "Pub/Sub publisher hangs forever if invoked with non-existed service account"
2. OS type and version: Mac OS 10.13.6
3. Python version and virtual environment information: `python --version`
4. google-cloud-<service> version:  Python 2.7.15 in virtualenv

#### Steps to reproduce

1. Create a service account with pubsub publisher permissions (easiest in Cloud Console).
2. Create and download a key for for the account: gcloud auth activate-service-account service-account@...g

[2019-01-19 12:07] Saurav-Jain16 commented on #3175
Error is coming in below code when starting the server "(node:6924) UnhandledPromiseRejectionWarning: Error: 6 ALREADY_EXISTS: Resource already exists in the project (resource=serverone)."

'use strict';

const http = require('http');

// Imports the Google Cloud client library
const PubSub = require('@google-cloud/pubsub');

// Your Google Cloud Platform project ID
const projectId = 'projectId';

[2019-01-21 17:16] relbekri commented on #7128
I didn't check the types. But I think its somehow related to already acknowledged messages in batch with the SubscriberClient.acknowledge function. Even though I'm acknowledging received messages I still receive the messages with already received IDS. So I went in and added a call to the message function : ack() so I got the same error ! And now I'm here ^^

[2019-01-21 19:44] VelizarVESSELINOV commented on #5038
@tseaver curious why `google-cloud-storage` don't define min version of `google-auth` but you let the users install `google-cloud-storage` with a wrong version of `google-auth`. I understand that it is easier for you to don't follow dependency between packages version, and let the users discover with exceptions dependency for you.

You have a partial dependency version explicitly defined but `goog

[2019-01-21 21:39] chrisrossi opened #7204 "NDB: Caching"
**Thinking out loud/brain dump for caching in NDB**

Legacy NDB has two levels of cache.

**In Context Cache**

This caches objects in memory in a single context. (Think, single HTTP request.) It's fairly straightforward. You have a dictionary in the current run state context that maps entity key to entity. In reading the code, it looks like the cache is only written to when reading an entity out

[2019-01-21 21:39] chrisrossi commented on #7204
Here, we have code substituting an entity from the cache for an entity from a query. Why on earth would it do that?
https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/master/ndb/context.py#L778

[2019-01-22 09:06] maltem-za commented on #1893
@theacodes First off, thank you to both the Client Libraries and App Engine teams for their respective hard work.

Reviving something quite old here that I just read further up:

I don't know if this is what @erlichmen meant, but fom my perspective, a lot of frustration stems from the fact that https://cloud.google.com/apis/docs/client-libraries-explained even needs to exist. Add to that "special

[2019-01-22 17:13] theacodes commented on #1893
@maltem-za thank you for your respectful, thoughtful feedback. We do really appreciate it.

I definitely agree things are more confusing today that before, and it really has a lot to do with the scale. When Google Cloud started (before it was Google Cloud, even), we had one real product (App Engine) that supported three languages. Within that product, we had a handful of services. This is a much e

[2019-01-23 18:46] tseaver commented on #6924
Hmm, looking at the [API docs for `RunQueryResponse`](https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.v1beta1#runqueryresponse), I note that the `document` field description says:

Response fields:

- The `transaction` field can only be set on the first response in the stream.
- `read_time` doesn't seem sensible if there is no document.
- `skipped_results`: I *guess* the bac

[2019-01-23 19:00] tseaver commented on #6924
Looking at `Query.get`, which [loops over the stream of `RunQueryResponse` messages](https://github.com/googleapis/google-cloud-python/blob/4ccf5682e5674a09a52e5fbe1e4035b005d4b92c/firestore/google/cloud/firestore_v1beta1/query.py#L744-L761), ISTM that we could just *not* raise the error for the empty document.  In fact, the whole thing could be simplified to the following, given that we don't ret

[2019-01-23 19:18] tseaver commented on #6924
@KiwiPolarBear I'm sorry this issue has been frustrating.  Could you try the patch in PR #7206 and see if it resolves your issue?

[2019-01-23 21:46] hishnash commented on #6924
@tseaver I have been able to test that branch I can confirm the bug seems fixed

for at least offset sizes of 8500 (with limit = 100) (that is the largest single collection I have in my current data set)

it also appears to return the same set of items as using the `start_after` with a `DocumentSnapshot`

[code]

[2019-01-24 09:49] mxlei01 opened #7207 "Bigtable: memory leak somewhere?"
I have a python function that basically that appends a dictionary into BigTable.

[code]

I placed this function in Google Cloud Functions, and whenever I start writing, my memory consumption goes sky high until it reaches the maximum allowable memory.

![image](https://user-images.githubusercontent.com/7399324/51669849-8dfeb400-1f82-11e9-8538-fb9b63120a82.png)

Once I removed the BigTable writes,

[2019-01-24 10:18] ramonmedeiros opened #7208 "Bigtable: app is not closing SSL Sockets"
#### Environment details

2. OS type and version
Linux hu3br 4.18.16-300.fc29.x86_64 #1 SMP Sat Oct 20 23:24:08 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
3. Python version and virtual environment information: `python --version`
Python 3.6.7
4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`
Name: google-cloud-bigtable
Version: 0.32.1
Summary: Google Cloud Bigtable API cl

[2019-01-24 21:50] tseaver commented on #7208
@ramonmedeiros You don't show any example code, which makes it hard to see how to reproduce the issue.

My suspicion is that you are creating many instances of `bigtable.Client`, which is generally not the recommended pattern:  you should be able to re-use the client instance across threads / requests, etc.

[2019-01-25 13:28] odscjames opened #7209 "Can't use with Storage"
#### Environment details

  - OS: ubuntu-bionic
  - Python version: 3.6.7
  - pip version: 19.0.1

* google-api-core==1.7.0
* google-api-python-client==1.7.7
* google-auth==1.6.2
* google-auth-httplib2==0.0.3
* google-cloud-core==0.29.1
* google-cloud-storage==1.13.2
* google-resumable-media==0.3.2
* googleapis-common-protos==1.5.6

#### Steps to reproduce

[code]

[2019-01-25 18:11] mxlei01 commented on #7207
@sduskis @tseaver

I've added a minimum code to test:

`cbt createtable test
cbt createfamily test data`

`os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "google_auth.json"`

`import datetime
import random
import sys
import os
import string

from google.cloud import bigtable
from google.api_core.retry import Retry

from mem_top import mem_top

def insert_row(project_id, instance, table, row_key, c

[2019-01-25 20:18] crwilcox commented on #6558
@mcdonc what is the status of this?

[2019-01-25 21:22] sduskis commented on #7208
It looks like this issue is similar to a stack overflow question: https://stackoverflow.com/questions/54371554/bigtable-grpc-memory-leak-how-to-resolve

@tseaver, is there a way to close the client?

@googleapis/yoshi-python do we have any examples of using a `google-cloud-python` library in Cloud Functions as per the Stack Overflow question?  Specifically, how would one create a client that's reu

[2019-01-25 23:11] tswast commented on #7134
Released https://github.com/googleapis/google-cloud-python/pull/7210

Now we can update the noxfile for google-cloud-bigquery

[2019-01-28 10:13] josteinl opened #7213 "Logging: Crash if using non default log level names with CloudLoggingHandler"
#### Environment details

1. OS: Ubuntu 18.04.1 LTS (ubuntu-bionic)
2. Python version: 3.6.7
3. google-cloud-logging version: 1.10.0

#### Steps to reproduce

Use GCP logging with non default log level name. Crashes every time. See code below using the non default log level name 'ERR'.

#### Code example

[code]

#### Output
[code]

[2019-01-28 13:20] PietroPasotti opened #7214 "Speech: 'SpeechClient.recognise' hangs"
Problem is: google.cloud speech services hangs whenever I make a recognition/synthesis request. Here I open the issue for recognition, but the exact same happens for texttospeech.TextToSpeechClient.

#### Environment details
On Windows 10 x64
Python 3.7.2
Pip freeze:

[code]

#### Steps to reproduce

 Create a service client instance, and invoke recognize.

#### Code example

[code]

#### Stack tr

[2019-01-28 18:03] #6924 closed

[2019-01-28 18:13] tseaver commented on #7209
`google.cloud.client.ClientProject` is passing along the `project` to `google.cloud.client._ClientProjectMixin` without  using / checking the project from the explicitly-passed credentials.

@odscjames As a workaround, you can set the environment variable, `GOOGLE_CLOUD_PROJECT`, to the project ID in your credentials.  Or you can pass the project from the credentials, e.g.:

[code]

[2019-01-29 09:12] patelnav commented on #7204
Interesting! That change was put in by [Guido here](https://github.com/GoogleCloudPlatform/datastore-ndb-python/commit/5a2a731f3f275ad9eca4475e2f4f4421f265d12e).

My guess as to why this is happening is the GAE context cache is the source of most-recent-truth as apposed to a query result that could have come back after a long delay (and old entities).

**RE:** it's tempting to say that memcache/re

[2019-01-29 11:00] fishballLin opened #7215 "Firestore: Out of expect when document update SERVER_TIMESTAMP and an arbitrary value by field path"
#### Environment details

1. OS type and version:
Both happened on Windows 7 and Ubuntu 18.04
2. Python version:
python 3.6
3. google-cloud-<service> version:
firebase-admin                     2.14.0
google-api-core                    1.7.0
google-auth                        1.6.2
google-cloud-core                  0.29.1
google-cloud-firestore             0.31.0
google-cloud-storage

[2019-01-29 17:21] tseaver commented on #7215
Working to reproduce with [this gist](https://gist.github.com/tseaver/41144415460ad26c012359d657a32680):

[code]

[2019-01-29 17:22] tseaver commented on #7215
@fishballLin Thanks for the detailed report!

[2019-01-29 19:26] crwilcox commented on #6558
https://github.com/googleapis/google-cloud-python/blob/master/firestore/google/cloud/firestore_v1beta1/query.py#L698

This is currently returning an iterable of DocumentSnapshot. The request from the firestore team is that, to match node, this would return a QuerySnapshot. QuerySnapshots contain a list of 'docs', list of 'changes', and a 'readTime'.

Here is the corresponding class in node. https:

[2019-01-29 19:46] dmsolow opened #7218 "Storage: add an API method to give us a streaming file object"
It doesn't look like there's a way to get a streaming download from google storage in the Python API. We have `download_to_file` , `download_to_string`, and `download_to_filename`, but I don't see anything that returns a file-like object that can be streamed. This is a disadvantage for many file types which can usefully be processed as they download.

Can a method like this be added?

[2019-01-29 21:55] tswast opened #7220 "BigQuery Storage: "400 Request is missing 'x-goog-request-params' header" when using dictionary as table reference"
I'm unable to create a BigQuery Storage API read session when I use a dictionary instead of a TableReference class as the first argument.

#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version.

macOS 10.14.3

3. Python version and virtual environment information: `pytho

[2019-01-29 21:56] tswast commented on #7220
Added the `triage me` tag because I'm sure this bug probably belongs somewhere else since it's in the generated code.

[2019-01-29 22:54] tseaver commented on #7218
@dmsolow Hmm, `Blob.download_to_file` *takes* a file object -- does that not suit your usecase?

[2019-01-30 03:21] dmsolow commented on #7218
I don't think so. The situation is that it's often useful to start processing a file as it downloads instead of waiting until it's finished. For example if there's 1GB CSV file in google storage, it should be possible to parse it line by line as it's downloaded.

It's fairly common for network libraries to offer this kind of functionality. For example in the standard `urllib.request` HTTP library:

[2019-01-30 05:49] fishballLin commented on #7215
@tseaver If you need any help or further information, please contact with me any time.
Thank you.

[2019-01-30 16:00] ramonmedeiros commented on #7208
I'm closing this issue since it happens when i call googleapiclient.discovery.build:

[code]

[2019-01-30 16:00] #7208 closed

[2019-01-30 17:59] tseaver commented on #7218
Hmm, you'll need to have the "stream consumer" running in a separate thread / process to do much good.  You *can* make this work using Python's `os.pipe`:  see [this gist](https://gist.github.com/tseaver/eebb9f8605f6e606b4a985e7b8ea8f85), which produces the following output:

[code]

[2019-01-30 18:00] tseaver commented on #7220
@tswast Should we close this issue, now that you've opened the one against `gapic-generator`?

[2019-01-30 18:01] #7134 closed

[2019-01-30 18:55] dmsolow commented on #7218
Using a separate thread kind of feels like a hack to me, but it is surely one way to do it. I think the ability to do this without using extra threads would be widely useful, but idk how hard it would be to implement.

[2019-01-30 20:33] yiga2 commented on #6117
Thanks Tim ! To add some additional context, I have also reported an unexpected behavior of the underlying `totalRecords` API property [here](https://issuetracker.google.com/issues/123614639)

[2019-01-31 16:41] tseaver commented on #7218
OK, looking at the [underlying implementation in `google-resumable-media`](https://github.com/googleapis/google-resumable-media-python/blob/34a36be0c53b7517bd3ddc2c281bdaaa5b9c4ef7/google/resumable_media/requests/download.py#L117-L125), all that we actually expect of the `file` object is that it has a `write` method, which is then passed each chunk as it is downloaded.

You could therefore pass in

[2019-01-31 16:43] tseaver commented on #7220
@yoshi-automation will helpfully do that the next morning after the gapic-generator fix lands.

[2019-01-31 16:43] #7220 closed

[2019-01-31 19:20] joelostlund opened #7246 "BigQuery: Cannot update schema for a view"
BigQuery api doesn't support creating a schema with a view. Eventhough the schema for a view is a relatively new function, I can only set it through the interface. When running:
              `self.bigquery_client.update_table(table, ["description", "schema", "labels", "view_query", "view_use_legacy_sql"])` or `self.bigquery_client.create_table(table)`

I get

This function should be available now

[2019-02-01 00:18] averikitsch commented on #6251
query.Query (added in #7239 missing `datastore_query.Order` type for orders and `QueryOptions` for default_options, as well as ancestor tests)

[2019-02-01 20:00] rvandegrift commented on #4840
Shouldn't the libraries just use the env vars that trigger the SDK to connect to the emulators?

For instance, to use the Datastore emulator, you set `DATASTORE_EMULATOR_HOST=<host>:port`.  That's enough indication that `google.cloud.datastore.Client` should skip credentials and connect directly to the emulator.

What is the reason for thinking that some other interface is required?  IMO, if I hav

[2019-02-01 20:02] theacodes commented on #4840
That's one option. The description of the bug is the figure out the right client patterns, and that includes considering implicitly using emulators when env vars are set.

[2019-02-01 21:08] #6554 closed

[2019-02-01 21:10] #6545 closed

[2019-02-01 21:21] tseaver commented on #7246
@joelostlund I'm afraid there isn't anything in this the Python `google-cloud-bigquery` library which is generating that error:  it is coming from the back-end API.

@tswast Can you please comment?

[2019-02-01 21:22] shollyman commented on #7246
The error is originating from the BigQuery API backend, but I'd like to confirm the flow of events.  You're creating a logical view via the library, or updating an existing view?  The goal is to set the description on the projected fields in the schema, or are you trying to amend the projected field list in some other fashion?

[2019-02-01 21:30] tseaver commented on #6801
@Wade-McDaniel The call to `users_ref.get()` actually already returns the data you need:  it is an iterator of the snapshots of all the documents in the collection.  Can you try the following?

[code]

Please re-open / follow up if this method does not work for your usecase.

[2019-02-01 21:30] #6801 closed

[2019-02-01 21:39] shollyman commented on #7246
Note: created internal issue 123767878 to track this with the BQ backend.

[2019-02-01 23:20] rvandegrift commented on #4840
Would an implementation of this approach be merged?  Seems like there hasn't been another idea in the past year

[2019-02-04 07:20] shivafractal commented on #4864
@tswast
Is there any work around for `requests.exceptions.ConnectionError: ('Connection aborted.', BrokenPipeError(32, 'Broken pipe'))` when the request or query is large?

In our queries, the one of the condition in `where` clause checks a list of values. This list is huge, like 0.8 million elements.
I serialized the QueryJobConfig object and it came around 18MB. For this size, the `BrokenPipeErr

[2019-02-04 17:43] tseaver commented on #6558
In Python, `Query.get` is a parallel for Node's `Query.stream`.  Should we rename it to match (breaking existing users?)  Nobody needs the equivalent of Node's `Query.get`, AFAICT, exept the listen / watch implementation, which already works around its absence.