[2019-07-17 17:45] tseaver commented on #8681
@Mayson12381 That error message says that the images need to be uploaded to GCS first, rather than passing them along inline with the request.  E.g.:

[code]

[2019-07-17 18:16] matt-whitehead-sagence opened #8697 "AutoML: Passing a string to input_uris results in a DeadlineExceeded exception (504)"
I recognize that passing a string to input_uris may not be its desired usage, but it isn't really clear in the documentation that this needs to be a list of a single string if one isn't referencing multiple files. Raising the DeadlineExceeded exception led me to fiddling with the "timeout" argument in import_data, which resulted in an Unknown exception. This made it difficult to debug.

Seems like

[2019-07-17 18:57] frankyn commented on #5879
@busunkim96 what's the internal tracking issue?

[2019-07-17 21:00] busunkim96 commented on #7918
Did you hear from Luke? I'm wondering if this is an issue for the other languages. @tseaver

[2019-07-17 21:21] tswast opened #8702 "Data Catalog: Enable samplegen in synth.py."
We just merged a YAML for generated code samples for Data Catalog (internal change 258638993, originally https://github.com/ricardosm-cit/googleapis/pull/1). To generate Python samples, we'll need to add `generator_args=["--dev_samples"],` to `synth.py`. See: https://github.com/ricardosm-cit/google-cloud-python/pull/1/files#diff-f0f28abdbe15bf803a73d25699042c14

@ricardosm-cit Is this something yo

[2019-07-17 21:39] ricardosm-cit commented on #8702
Sure, @tswast. Count on me!

[2019-07-17 22:21] happyhuman opened #8703 "BigQuery: The sample to create a BigQuery table is not working"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
This sample to be exact: https://github.com/googleapis/google-cloud-python/blob/7ba0220ff9d0d68241baa863b3152c34dc9f7a1a/bigquery/samples/create_table.py

2. OS type and version
MacOS Mojave

3. Python version and virtual environment information: `python --version`

[2019-07-17 22:42] busunkim96 opened #8704 "Docs: Migrate to googleapis.dev"
- [x] All APIs have published documentation at googleapis.dev
- [x] READMEs reference googleapis.dev documentation (not googleapis.github.io) #8705
- [x] docs/conf.py files use googleapis.dev `objects.inv` #9085
- [x] Activate redirects to googleapis.dev #9080

[2019-07-18 00:25] eneumann commented on #5169
@tseaver

I am running into this error after upgrading to py3. I've tried the current stable versions of datastore, cloud-storage, and bigquery. After reading this, I've gone back to older version and still have the same error.

Last attempt reqs:
google-api-core==1.1.0
google-api-python-client==1.5.3
google-apitools==0.5.4
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-bigquery==0.30.0
goog

[2019-07-18 01:11] ryanyuan commented on #8703
I believe this has been fixed since 1.10.0 by having a string check in Table.__init__().

[2019-07-18 01:22] tseaver commented on #8703
@ryanyuan is correct:  the `Table` constructor has accepted strings formatted in that form since PR #7483 was merged, included in the [`google-cloud-bigquery 1.10.0` release](https://github.com/googleapis/google-cloud-python/releases/tag/bigquery-1.10.0)

[2019-07-18 01:22] #8703 closed

[2019-07-18 01:34] tseaver commented on #5169
@eneumann You need to upgrade at least `googe-api-core`.  I would actually suggest creating a fresh virtualenv, and installing exactly what you need there *without* version pins, e.g., via `pip install google-cloud-datastore google-cloud-storage google-cloud-bigquery`.

[2019-07-18 04:26] eneumann commented on #5169
Thanks @tseaver, I installed to a clean virtualenv without pins which resulted in the following versions:
google-api-core==1.13.0
google-api-python-client==1.7.9
google-apitools==0.5.30
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-bigquery==1.17.0
google-cloud-core==1.0.2
google-cloud-datastore==1.8.0
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
go

[2019-07-18 07:08] Mayson12381 commented on #8681
This is exactly what I was doing so far but was hoping to circumvent... Rather than saving the image locally and uploading it to gcloud, i'd prefer passing the byte array straight to the method.

[2019-07-18 07:46] mholleville commented on #8692
Trying but `google.api_core.exceptions.InvalidArgument: 400 Location "locations" does not exist.` :(

[2019-07-18 12:03] plamut commented on #8616
I tried leveraging the new `should_terminate` parameter of `ResumableBidiRpc`, but no luck. The code gets stuck (for 10 minutes) when requesting the next item from a `_Rendezvous` instance.

I also noticed that this does _not_ happen if a tiny delay is inserted between the `subscribe()` and `cancel()` calls:
[code]
With that, I had the test script successfully running for more than 7800 iterations

[2019-07-18 19:36] tseaver commented on #8681
@beccasaurus Can you confirm whether batch annotations must use GCS URIs, ratther than sending the content inline?

[2019-07-18 19:46] tseaver commented on #5169
@eneumann I cannot reproduce.  First, setting up the virtual environment

[code]

Now, creating and iterating over a Datastore query:

[code]

Is it possible you left the "old" virtual environment activated?

[2019-07-18 19:55] tseaver commented on #8702
Via #8708.

[2019-07-18 19:55] #8702 closed

[2019-07-18 20:07] eneumann commented on #5169
Thanks @tseaver, I'm installing to a vagrant vm after doing a vagrant destroy. Perhaps destroy isn't blowing away all the files that I'd assume it would?

[2019-07-18 20:31] swghosh commented on #4117
Thanks @panuta, actually stumbled upon making the exact same mistake!

[2019-07-18 22:17] thezoug commented on #5443
This is really not a helpful response.

[2019-07-18 22:31] mf2199 commented on #8695
A simple check whether the instance exists results in another error:
`InvalidArgument: 400 Invalid GetInstance request.`

This shouldn't happen, as 'Instance.exists()' method is supposed to simply return False if the instance does not exists. Instead, it throws an exception. Could be a matter of another issue?

[2019-07-18 23:13] eneumann commented on #5169
@tseaver we had monkey patched datastore.query.Iterator to an extended iterator of our own which was failing on the inner api-core init super. I was able to fix it by copying the datastore.query Iterator class to our repo and then extending it. Not sure why it couldn't handle from an import? Anyway it's working now and I appreciate your time and sanity checks. Thanks.

[2019-07-19 17:01] ralbertazzi opened #8714 "BigQuery: DEFAULT_RETRY doesn't catch rate 'rateLimitExceeded'."
OS: MacOS 10.14.3
Python: 3.7.3
google-cloud-bigquery: 1.15.0

I'm trying to reproduce the condition where BigQuery is executing 100 concurrent queries and refuses to execute other jobs by raising `Forbidden: 403 Exceeded rate limits: too many concurrent queries for this project_and_region`.

Let's say that my BigQuery instance is already executing 100 queries and I request a new job execution usi

[2019-07-19 17:25] tseaver opened #8715 "Asset: 'test_batch_get_assets_history' systest flakes."
/cc @gaogaogiraffe (test added in PR #8613, configuration updated in #8627)

From [this failed Kokoro job](https://source.cloud.google.com/results/invocations/f5e4d76f-67c2-4631-9bd9-9a165fa598b5/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fasset/log):

[code]

[2019-07-19 17:30] tseaver opened #8716 "Pub/Sub: 'test_managing_subscription_iam_policy' flakes."
From [this failing Kokoro job](https://source.cloud.google.com/results/invocations/a5806937-6aac-4f1a-a4c0-056400ac466f/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fpubsub/log):

Both an error in teardown and a deadline exceeded error in the test itself:

[code]

[2019-07-19 17:32] tseaver commented on #8686
@busunkim96 Should we do a "release the world" dance, or is it sufficient that new releases will have the pin?

[2019-07-19 17:42] tseaver commented on #8695
@mf2199 I can't reproduce that with a "legal" instance ID:

[code]

Hyphens are allowed in instance names, but underscores are not, per the [`Instance` message API docs](https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.admin.instance.v1#google.spanner.admin.instance.v1.Instance).

[2019-07-19 17:49] busunkim96 commented on #8686
@tseaver I'll have to do a "release the world" soonish to get client_options into the wild for the generated clients. Any things to watch out for when I make the release PRs?

[2019-07-19 17:50] tseaver commented on #8714
@ralbertazzi BigQuery's retry mechanism *does* check for `rateLimitExceeded` as a retryable reason:

https://github.com/googleapis/google-cloud-python/blob/56accfae54b2accdc5ccbe1d8ac0242210b3e811/bigquery/google/cloud/bigquery/retry.py#L19-L21

The retry is not infinite:  it has a default deadline of 120 seconds.  Maybe your code is hitting that limit?

Can you please provide a reproducible code

[2019-07-19 18:05] #7215 closed

[2019-07-19 18:20] crwilcox opened #8717 "Firestore: client.collections() raising exception on list expansion"
[code]
[code]

[2019-07-19 18:57] tseaver commented on #7523
I can confirm that the issue remains even after the merge of #8701

[code]

@jadekler, @schmidt-sebastian ISTM that the behavior here (set-with-merge of data with nested transforms wipes out other nested keys) is mandated by https://github.com/googleapis/conformance-tests/blob/master/firestore/v1/set-st-merge-nonleaf-alone.json.  Can you confirm?

[2019-07-19 19:22] jadekler commented on #7523
cc @BenWhitehead who has taken over those tests / firestore.

[2019-07-19 19:39] tseaver commented on #8717
Interesting.  When `Client.collections` was added in #6553, we were on the `v1beta1` API only:  the method actually works for the `firestore_v1beta1.Client` class!

[code]

While investigating, I tried poking at the V1 client code to add a trailing `/` to the parent string passed to `ListCollectionIds`, which provoked a *different* exception:

[code]

I then recalled some *more* of the undocumente

[2019-07-19 19:50] tseaver commented on #7523
@jadekler Thanks, sorry for the noise.

This is my reproducer system test for this issue:

[code]

[2019-07-19 20:04] tseaver opened #8719 "BigQuery: 'test_bigquery_magic_w_maximum_bytes_billed_invalid' test uses real client."
The *unit* test fails if there are no valid credentials in the environment:

[code]

We want unit tests to run in complete isolation from any possibility of triggering real API requests.  This test actually expects to run a real query, which means it is a system test.

[2019-07-19 20:15] tseaver commented on #8686
@busunkim96 Maybe make them minor releases (rather than patch) due to the dependency bump? For the generated clients, you would be doing that anyway for a new feature.

[2019-07-19 20:36] #8717 closed

[2019-07-19 21:49] crwilcox opened #8722 "Run system test suite on emulator as well as live service"
Some of our libraries have emulator support and it would be a nice to have if the emulator was used to run our system test suites.

I think starting with bigtable or firestore would make sense, then we could move to others if desired.

[2019-07-19 23:27] tseaver commented on #8722
Datastore is the "oldest" one in the repository:

https://github.com/googleapis/google-cloud-python/blob/951b9c68d2390eedd271b7eb1ca363cb48d82d8d/datastore/google/cloud/datastore/client.py#L245-L249

[2019-07-20 06:51] ralbertazzi commented on #8714
The code is reproducible only if it points at a GCP project where BigQuery is already executing 100 concurrent queries.

[code]

Traceback is the same for both cases:
[code]

[2019-07-21 20:01] dkapitan opened #8726 "BigQuery: make jobs awaitable"
I know the BigQuery jobs are asynchronous by default. However, I am struggling to make my datapipeline async end-to-end.

Looking at [this JS example](https://medium.com/skyshidigital/what-bigquery-is-and-isnt-d092fa173d53), I thought it would be the most Pythonic to make a BigQuery job awaitable. However, I can't get that to work in Python i.e. errors when `await client.query(query)`. Looking at

[2019-07-21 20:01] dkapitan opened #15742 "BigQuery: make jobs awaitable"
I know BigQuery jobs are asynchronous by default. However, I am struggling to make my datapipeline async end-to-end.

Looking at [this JS example](https://medium.com/skyshidigital/what-bigquery-is-and-isnt-d092fa173d53), I thought it would be the most Pythonic to make a BigQuery job awaitable. However, I can't get that to work in Python i.e. errors when `await client.query(query)`. Looking at the

[2019-07-22 00:42] clemens-smartparking commented on #8294
Have the same issue with the emulator client using nodejs. @sduskis any update on this issue?

[2019-07-22 15:40] plamut commented on #8685
Confirmed, they are available - [source](https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L1204-L1205).

Confirmed, the `filter` param is available - [source](https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L247).

There seems to be no such problematic snippets or system tests.

The [snippe

[2019-07-22 17:21] tseaver commented on #8726
@dkapitan Re:  the `async await` / `async def` keywords: our codebase straddles both Python2 and Python3 until at least the end of this year, and thus cannot adopt the syntax directly in the codebase until we drop Python2 support.

We *might* be able to tweak the `google.api_core.operation.Operation` class to support that usage at a low level.  Can you please post the traceback for the `AttributeE

[2019-07-22 17:32] tseaver commented on #8714
There is a retry-with-backoff occurring in your first case:  it just isn't retried long enough.  Can you try your example with a bigger

[code]

[2019-07-22 17:40] tswast commented on #8696
Re-opening. I forgot to mention we create another client that'll need similar treatment. We can construct a BigQuery Storage API client, which is a gapic client, so needs the other ClientInfo class.

https://github.com/plamut/google-cloud-python/blob/7b6aecc10ed355b7b81ceb7bbe56000ebc0dd778/bigquery/google/cloud/bigquery/magics.py#L442

[2019-07-22 17:41] tswast commented on #8696
Since the grpc stuff is an optional dependency, let's import it in the `_make_bqstorage_client` function.

[2019-07-22 17:52] plamut commented on #8696
Thanks for the update, I will look at that as well.

[2019-07-22 18:29] #8719 closed

[2019-07-22 19:42] dkapitan commented on #8726
@tseaver thanks for clarifying. I have read up more on `concurrent.futures` and `asyncio`. I understand the latter is indeed quite new and Python 3 only. Will investigate the sample code a bit more, and get to you with the results and/or the traceback.

[2019-07-22 19:56] BenWhitehead commented on #7523
After chatting with @schmidt-sebastian this issues does appear to be a bug, and the merge with transform should work with nested fields.

We identified this conformance test [`set: ServerTimestamp alone with MergeAll`](https://github.com/googleapis/conformance-tests/blob/master/firestore/v1/set-st-alone-mergeall.json#L4) as similar to this issue, however this issue is updating in a nested map wher

[2019-07-22 20:02] jadekler opened #8728 "Storage: Add support for emulators."
Add a way to connect to an emulator on host:port without TLS.

[2019-07-22 20:02] jadekler opened #8729 "spanner: add support for emulators"
Add a way to connect to an emulator on host:port without TLS.

[2019-07-22 20:09] tseaver commented on #8728
See also #4840.

[2019-07-22 20:09] tseaver commented on #8729
See also #4840.

[2019-07-22 20:13] tseaver commented on #7523
@BenWhitehead OK, cool.  Please do also consider the `set-st-merge-nonleaf-alone` test (whose description reads "set-merge: non-leaf merge field with ServerTimestamp alone").

[2019-07-23 06:10] ralbertazzi commented on #8714
Just to be sure I tried with 1 hour deadline:

[code]

As I already said in the previous post, the `client.query()` call returns in 1-2 seconds (__it doesn't wait for 1 hour__) and the returned job contains the error. Calling `job.result()` finally raises the Forbidden error.

I tried also putting a breakpoint in the `_should_retry` func defined [here](https://github.com/googleapis/google-cloud-py

[2019-07-23 06:16] kamilglod opened #8733 "Core: PollingFuture.exception does not respect passed timeout"
#### Environment details

2. OS type and version: Docker, ubuntu 18.04
3. Python version and virtual environment information: Python 3.7.1
4. google-cloud-bigquery version:  google-cloud-bigquery==1.9.0

#### Steps to reproduce

  1. When you e.g. run `QueryJob.exception(timeout=1)` it will run until job is done not respecting passed `timeout`, in the code https://github.com/googleapis/google-clou

[2019-07-23 06:25] ralbertazzi commented on #8714
Just for help debugging, the `api_response` returned [here](https://github.com/googleapis/google-cloud-python/blob/5bc8505f1e885971933cb6093eeff7af0b8be0bd/bigquery/google/cloud/bigquery/job.py#L582) is a dict with a `status` field that I copied here.

[code]

[2019-07-23 06:37] ralbertazzi commented on #8714
I see the problem now: the `retry` logic gets triggered only if an exception gets raised; this exception might get raised in the `api_request` method defined in the core library ([here](https://github.com/googleapis/google-cloud-python/blob/5bc8505f1e885971933cb6093eeff7af0b8be0bd/core/google/cloud/_http.py#L396)).

Unfortunately, even when the rate limit is exceeded, the api response returns `sta

[2019-07-23 16:12] tseaver commented on #8714
Nope, but we can bug the people who do.  Summoning @tswast to do the bugging.

[2019-07-23 16:12] tseaver commented on #8714
@ralbertazzi And thanks for your persistence in chasing that down!

[2019-07-23 16:14] tseaver commented on #8733
@kamilglod Thanks for the report!

[2019-07-23 17:26] #8664 closed

[2019-07-23 18:17] tseaver commented on #7817
@plamut I'm in agreement with your analysis here:  the stdlib's docs hightlght the problem clearly.

[2019-07-23 18:32] tseaver commented on #7817
The "obvious" fix:

[code]

passes all unit tests in `api_core`, but causes system tests to hang for firestore:

[code]

and `pubsub`:

[code]

[2019-07-23 18:34] tseaver commented on #7303
Via #8461.

[2019-07-23 18:34] #7303 closed

[2019-07-23 18:59] lukesneeringer commented on #8692
The location should probably be either `global` or a specific location (e.g. `us-central-1`).

[2019-07-23 19:05] tseaver commented on #8692
@noahdietz, can you recommend a way forward?  It looks like the [GAPIC YAML file](https://github.com/googleapis/googleapis/blob/master/google/container/v1/container_gapic.yaml#L108) is b0rked.

[2019-07-23 19:57] tseaver commented on #8692
A little bird says maybe I should ask @dazuma instead for help here.

[2019-07-23 20:20] GratefulDave opened #8736 "BigQuery: RefreshError: ('invalid_grant: Invalid JWT Signature.', '{\n "error": "invalid_grant",\n "error_description": "Invalid JWT Signature."\n}')"
#### 1. OS Type & Version
MacOS Mojave 10.14.5

#### 2. Python version & env info:
Python 3.7.3
Python 3.7 venv

#### 3. Google Cloud Service Versions.
google-api-core==1.14.0
google-auth==1.6.3
google-cloud-bigquery==1.17.0
google-cloud-core==1.0.2
google-cloud-storage==1.16.1
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0

#### 4. Steps to reproduce:
Trying to query anything in Bi

[2019-07-23 22:40] plamut commented on #7817
Did a quick check (for pubsub at `least`), and the async callbacks test hangs when [cancelling](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/tests/system.py#L184) the future. Might be related to #8616.

[2019-07-23 22:49] yselivonchyk commented on #2990
Faced same issue while building Tensorflow=1.14.1 under virtualenv. @oldmonkABA solution worked for me. Changed setuptools verion from 41 to 39.1

[2019-07-24 01:39] #8733 closed

[2019-07-24 08:13] ralbertazzi commented on #8714
No problem, I hope this gets fixed since I wouldn't like to write some custom retry logic on top of the library :(

Also, please check if the other errors (`"backendError", "internalError", "badGateway"`) are actually captured or not.

[2019-07-24 16:50] tseaver opened #8743 "Asset: 'test_export_assets' flakes"
/cc @gaogaogiraffe (test added in PR #8613, configuration updated in #8627)

From [this Kokoro failure today](https://source.cloud.google.com/results/invocations/0ddf2264-a3dd-4e44-956b-594c87bb1add/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fasset/log):

[code]

[2019-07-24 18:18] frankyn opened #8745 "Cut a new release of the Storage Library"
Hi @tseaver,

Bucket.list_blobs() is marked as deprecated and the alternative client.list_blobs() method hasn't been released yet.

Checked with @JesseLovelace about LocationType and it's okay to release as well.

[2019-07-24 19:55] dkapitan commented on #8726
@tseaver here's traceback from the AttributeError
[code]

[2019-07-24 20:08] dkapitan commented on #8726
@tseaver
For now, I have decided to do the following:
[code]
Rather than using `as_completed` I prefer to use the built-in async functionality from the bigquery jobs themselves. This also makes it possible for me to decompose the datapipeline into separate Cloud Functions, without having to keep the main `ThreadPoolExecutor` live for the duration of the whole pipeline. Incidentally, this was the r

[2019-07-24 20:56] tseaver commented on #8745
Via #8746.

[2019-07-24 20:56] #8745 closed

[2019-07-24 21:04] tswast commented on #5408
Import information for query errors includes the job ID, any error messages, and as suggested: the SQL text.

[2019-07-24 21:08] tseaver commented on #8726
@dkapitan Thanks for the follow-up.  I agree that it would be ideal if jobs could be `awaited`.

You could simplify your example code using a set, e.g.:

[code]

[2019-07-24 21:17] dkapitan commented on #8726
@tseaver
Nice, thanks. Never thought of using a set to do a kind of countdown ... :smile:

[2019-07-24 21:54] plamut commented on #5408
Makes sense, will add job ID as well.

[2019-07-25 06:37] limbuu commented on #3139
any update on this? @tseaver

[2019-07-25 08:00] Emar-Kar commented on #7951
@xmedeko Could you explain some details, please. As I understand you would like to add `on_error` argument into the `Retry.__init__` method, but I really can not get how are you going to use it? Do you want it to be the class attribute, or you want it to be called in `__init__`?

[2019-07-25 09:46] manmat opened #8778 "Vision: import fails because of missing requirements."
#### Environment details

I am experimenting in a Jupyter notebook with vision API.

#### Steps to reproduce

I just tried to import the vision api lib.

#### Code example

[code]

#### Stack trace
[code]

I installed the vision api lib then manually installed api core but it doesn't help:

[code]

I tried restarting the kernel too.
There might be some dependency issues?

Thanks!

[2019-07-25 14:21] umer7 opened #8781 "No module named 'google.api_core.client_options' while importing firestore"
I am trying to use Firestore with Python. I have successfully installed the google-cloud-firestore. But when I am trying to import the library using `from google.cloud import firestore `. It is throwing me the error

Note: I am not using the virtualenv Is there any way i can resolve this

I am stuck at this for weeks, Thanks in advance.

[2019-07-25 17:22] shollyman commented on #8685
Thanks for confirming.  I max_results appears to do the right thing, in that it bounds the result size rather than informing the max results per page.  Closing.

[2019-07-25 17:22] #8685 closed

[2019-07-25 17:58] tseaver commented on #8778
Please *upgrade* `google-api-core` in your environment, e.g.,

[code]

[2019-07-25 17:58] #8778 closed

[2019-07-25 17:59] tseaver commented on #8781
Please upgrade `google-api-core` in your environment, e.g.:

[code]

[2019-07-25 17:59] #8781 closed

[2019-07-25 18:16] tseaver commented on #7951
@Emar-Kar I read the request that the `on_error` passed to the constructor would be saved as an attribute on the `Retry` instance, and used in every invocation as a fall-back if no `on_error` is passed.  E.g.:

[code]

[2019-07-25 18:43] mf2199 commented on #8695
@tseaver Got it, thanks! The issue can be circumvented by adding some [checkpoints](https://github.com/q-logic/google-cloud-python/pull/9) inside the Database class' `bactch()` and `snapshot()` methods. However, as was noted in [#220](https://github.com/googleapis/nodejs-storage/issues/220), this can also be readdressed as a feature request and solved at the server side. What do you think?

[2019-07-25 19:07] tseaver commented on #3139
@limbuu I'm not sure what you're asking:  the [Storage API supports batch requests only for object metadata, not for uploads / downloads](https://cloud.google.com/storage/docs/json_api/v1/how-tos/batch#overview):

which means we can't support it in the `google-cloud-storage` client library, either.

The other solutions I outlined above aren't suitable for the library:  they are application-depende

[2019-07-25 21:30] tswast commented on #8736
Most likely error is the expiration time is too far out of sync with Google's servers. Check the system time on your computer.

https://stackoverflow.com/a/44135256/101923

[2019-07-25 21:30] #8736 closed

[2019-07-25 21:33] tswast commented on #8736
Thank you for the report. I closed this issue as it does not appear to be a bug in the client libraries. I recommend getting help via Stack Overflow or a cloud support plan. https://cloud.google.com/bigquery/support

[2019-07-25 21:37] #5294 closed

[2019-07-25 21:40] tswast commented on #5294
Fixed by https://github.com/googleapis/google-cloud-python/pull/7610.

Removing outdated comment in https://github.com/googleapis/google-cloud-python/pull/8785.

[2019-07-25 22:50] tswast opened #8788 "BigQuery: Use `google.cloud.bigquery_storage` not `google.cloud.bigquery_storage_v1beta1` in `to_dataframe` / `to_arrow`"
At some point, the BigQuery Storage API is going to go GA. At that point people will want to use the GA endpoint from the BigQuery helpers that use it.

Currently `google.cloud.bigquery_storage` is more-or-less an alias for `google.cloud.bigquery_storage_v1beta1`. We should probably use `google.cloud.bigquery_storage` so that we're on the latest version in as many releases of `google-cloud-bigquer

[2019-07-26 12:12] punit-anvaya opened #8792 "Firestore: Unable to import 'FieldValue.arrayUnion'."
I want to append data in array in Firebase Cloud Firestore. for that i am using `FieldValue.arrayUnion`.

I tired these imports but none of them worked

[code]
[code]
[code]

Wants to know from where I have to import FieldValue

[2019-07-26 12:42] tseaver commented on #4926
FWIW, there are protos in https://github.com/googleapis/googleapis/tree/master/google/cloud/runtimeconfig, but no artman config, which means we cannot run the gapic generator.

[2019-07-26 14:57] bagpoint-dev commented on #6654
@tseaver That page only includes instructions to install a local SDK allowing to interact with Google App Engine via the command line - and only includes instructions for usages with Python 2.7. I'm looking for a Python 3.5+ library which would allow to programmatically fetch and update metadata of Google App Engine instances. Much like https://googleapis.github.io/google-cloud-python/latest/resou

[2019-07-26 15:47] tseaver commented on #7291
Rather than adding a `from_service_account_json` classmethod factory to each of the 95 or so clients which currently have `from_service_account_file` factories, let's instead just document how to construct credentials from JSON.

[2019-07-26 15:52] tseaver commented on #8792
[code]

[2019-07-26 15:52] #8792 closed

[2019-07-26 16:03] tseaver commented on #8695
Making an unasked-for API call to validate existence of the instance / database before returning a session has undesirable performance / billing consequences.

Trying to reproduce with a valid (hyphens, not underscores) but non-existent instance id:

[code]

Which seems like a pretty helpful messsage.  I think making the message for and invalid instance ID more useful is an issue for the back-end

[2019-07-26 16:24] punit-anvaya commented on #8792
This i know, but am using that to store array of maps.

[2019-07-26 17:13] tseaver commented on #8792
@punit-anvaya I'm not sure what your last comment means:  you reported above that you couldn't figure out how to import `ArrayUnion`, and my example shows that.

[2019-07-26 17:18] forking-renovate[bot] opened #8799 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error near ",
  ],
  `

[2019-07-26 17:19] tseaver commented on #6654
@bagpoint-dev This repository is where we maintain / relase Python client libraries for various Google Cloud APIs, and has little or nothing to do with GAE (except that the libraries can be used on the "Flexible" version of GAE).  Please use one of the "Support" resources on the [GAE docs page](https://cloud.google.com/appengine/docs/) to ask about such a feature.

[2019-07-26 17:29] xassbit commented on #6654
@tseaver It's confusing since in places such as the Google Cloud Console services like BigQuery and IoT (for which there are libraries available from this project) are display the same level of App Engine, making it look as if Google App Engine would be one of the multiple services under the Google Cloud umbrella.

[2019-07-26 18:04] #8799 closed

[2019-07-26 18:07] tseaver commented on #6914
https://github.com/googleapis/gapic-generator/pull/2890 updates the generator to state that a default retry config will be used.  That change will roll out in an autogen bot scream one of these days.

[2019-07-26 18:07] #6914 closed

[2019-07-26 19:01] mf2199 commented on #8695
@tseaver, I suspected so, thanks for the informative response. I'd suggest this issue be redirected to the back-end team(s), given all the above argumentation.

[2019-07-26 20:19] jlara310 commented on #8792
I'm also seeing similar behavior in that I can't use `ArrayUnion` or `ArrayRemove` unless I explicitly import them from `google.cloud.firestore_v1`.

Example 1:

`from google.cloud import firestore

# Use the application default credentials
db = firestore.Client('projectid')

city_ref = db.collection(u'cities').document(u'DC')

# Atomically add a new region to the 'regions' array field.
city_ref.s

[2019-07-26 20:48] tseaver commented on #8792
@jlara310 I cannot reproduce your report in a fresh virtual enviornment:

[code]

[2019-07-26 21:09] jlara310 commented on #8792
Thanks for looking into this. I still think there's something funky going on. Your example worked in my environment, too, but the following did not:

[code]

Is it expected behavior that I need to import ArrayUnion on top of importing firestore?

[code]

[2019-07-26 22:45] tswast commented on #8788
On second thought, I just read a doc that there might be some field and method renames. Let's hold off on this one until GA is closer.

[2019-07-26 22:56] #5408 closed

[2019-07-26 23:06] #8096 closed

[2019-07-26 23:44] tswast commented on #8714
This is a tough one. There are actually several API calls that happen when a call to `query()` is made. First is to insert the job, second is to get query results, then to get the job resource. If the job has failed, it's actually the call to get query results that fails.

I'm guessing that's what's going on here. The job insert succeeds, but then the job status fails due to rate limiting.

@sholl

[2019-07-27 04:55] #7500 closed

[2019-07-27 13:10] gsusI commented on #5449
Just sharing it in plain text so it can be easily copied 😄

`    from google.cloud import language
    from google.cloud.language import enums
    from google.cloud.language import types
    from google.oauth2 import service_account
    import os

    # In this case I'm using a relative path from the the same path where this script is located.
    credentials_path = os.path.dirname(os.path.realpat

[2019-07-27 23:47] ostrokach opened #8803 "Pub/Sub: logs littered with "The bidirectional RPC exited"."
I am creating subscriptions to PubSub topics and reading messages from those subscriptions into queues. This is done interactively in a Jupyter notebook, so subscriptions can be created and destroyed repeatedly. In about ~20% of cases, I end up getting an error message logged to the console saying `ERROR:google.api_core.bidi:The bidirectional RPC exited.` However, I do not see that I am doing anyt

[2019-07-28 08:10] ralbertazzi commented on #8714
@tswast actually when you call `query()` there is only one API call, which is performed in the `_begin` method. And that single API is the one the returns the error (as a string).

Here I dump all the parameters that are used in order to make the request:
[code]

[2019-07-29 10:14] IlyaFaer commented on #5068
I think, it can be done in fashion of: https://github.com/googleapis/google-cloud-python/pull/8618. But first it's better to deal with 8616

[2019-07-29 16:36] #8550 closed

[2019-07-29 18:40] jrmlhermitte commented on #3890
I think this feature would be useful. Does this still work? Or is it unsupported?

Is this feature in particular still supported?
[code]

seems to not exist in the latest version of pubsub.
thanks!

[2019-07-29 19:24] tseaver commented on #8695
@crwilcox Can you raise the issue of the error messages for invalid (not missing) instance IDs to the Spanner team?

[2019-07-29 19:26] tseaver commented on #8803
@ostrokach Thanks for the report.  It seems clear to me that the "error" here is *not* an error, but a result of a clean shutdown of the BiDi channel.

[2019-07-29 19:42] tseaver commented on #8714
@ralbertazzi If the call to the `jobs.insert` API (inside `_AsyncJob.begin`) returns a 200 response, then the payload will be used to set the properties of the job.  Can you verify that `job._properties` actually contains an error response after the `_begin` call, rather than a `jobs` resource?

[2019-07-29 19:44] tseaver commented on #5068
@IlyaFaer, what is the issue that needs to be dealt with first?  #8616 doesn't seem related.

[2019-07-29 19:58] tseaver commented on #8792
@jlara310

No, but if you don't import it explicitly, you need to access it as an attribute of `firestore` (Python imports are explicit, not implicit).  E.g.:

[code]

[2019-07-29 20:06] jlara310 commented on #8792
Thanks for clarifying. Opened a bug to clarify this in the docs, too.

https://cloud.google.com/firestore/docs/manage-data/add-data#update_elements_in_an_array

[2019-07-29 20:56] zunger-humu opened #8807 "Bigtable, Container: current releases pin incompatible 'grpc-google-iam-v1' with current releases."
Today's google-cloud-pubsub 0.44 release is broken, as it appears to depend on an as-yet-unreleased version of google.iam.v1. If you attempt to use it with the current release version of that library, the diagnostic failure is:

[code]

Version 0.44 should probably be unpublished until a compatible IAM library is released.

[2019-07-29 20:58] tseaver commented on #3890
A more complete / up-to-date example, which still fails with the pickling error:

[code]

[2019-07-29 21:16] tseaver commented on #8807
@zunger-humu the dependencies for `google-cloud-pubsub 0.44 look correct to me: https://github.com/googleapis/google-cloud-python/blob/be9e45797039fa4e9b1249e48199f8909150f945/pubsub/setup.py#L31-L35

and I cannot reproduce in a fresh virtual environment:

[code]

Can you provide the output of `pip list` in your environment?

[2019-07-29 22:11] #8803 closed

[2019-07-30 05:15] ralbertazzi commented on #8714
@tseaver Yes, I can confirm that. The `query_job._properties.status` is the dict that I reported [here](https://github.com/googleapis/google-cloud-python/issues/8714#issuecomment-514071688)

[2019-07-30 05:18] ralbertazzi commented on #8714
Btw, if you need to clog your BQ instance and do that for free, you can spawn 100 jobs that ask for this query :)
[code]

[2019-07-30 06:13] #8495 closed

[2019-07-30 08:52] YukSeungChan commented on #8556
It works well. Thanks

[2019-07-30 08:52] #8556 closed

[2019-07-30 09:07] sheldongill opened #8811 "BigQuery DataTransfer: Config doesn't support notifications."
When creating a transfer through the UI, it's possible to set a pubsub topic to receive notifications and also e-mail.

Listing those doesn't return any corresponding fields.

#### Environment details

1.  Using create_transfer_config() list_transfer_configs() and refering to API documentation: https://cloud.google.com/bigquery/docs/reference/datatransfer/rest/v1/projects.locations.transferConfigs

[2019-07-30 09:08] sheldongill commented on #8811
This means we can't programmatically create transfers with notifications enabled :(

[2019-07-30 12:48] yoshi-automation opened #8825 "Synthesis failed for videointelligence"
Hello! Autosynth couldn't regenerate videointelligence. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/176c03a2-cc54-43e2-8a4f-d7ab06a38862).

[2019-07-30 13:01] barendlinders commented on #8807
We are running into the same issue when installing the following (on Dataproc):

[code]

This results in the following `pip list`, where `grpc-google-iam-v1` is off with the version posted above by @tseaver. We have version `0.11.4` installed, while @tseaver has `0.12.3` installed. Will try to force it to `0.12.3` to see if this solves our problems.

Full `pip list`:

[code]

[2019-07-30 13:42] barendlinders commented on #8807
After manually installing `pipdeptree` I get the following output:

[code]
[pipdeptree.txt](https://github.com/googleapis/google-cloud-python/files/3447036/pipdeptree.txt)

Full pipdeptree attached as pipdeptree.txt

[2019-07-30 14:52] IlyaFaer commented on #5068
@tseaver, sorry, mistake, 8618. I'm waiting for review in it, and if changes will be accepted, we could use something alike in this issue

[2019-07-30 15:53] mholiv commented on #4713
Hello! Are there any updates on plans to implement this feature?

Async is quickly becoming the norm in terms of modern python development. :)

BigTable IO is consistently the only blocking IO I encounter on a regular basis.

DynamoDB as a async wrapper in the form of aioboto3

[2019-07-30 16:00] thrykol commented on #8807
I believe it's a requirement conflict between `google-cloud-spanner` and `google-cloud-pubsub`.  In my environment `pipdeptree` reports
[code]
for the two libraries respectively if I don't specify a version in my `requirements.txt`.

[2019-07-30 16:55] zunger-humu commented on #8807
Aha! That would explain the issue. So, hmm -- any thoughts as to the best
way to fix it?

On Tue, Jul 30, 2019 at 9:00 AM thrykol <notifications@github.com> wrote:

[2019-07-30 16:58] tseaver commented on #8714
@ralbertazzi Thanks for clarifying:  I had missed that the response was actually a `jobs` resource.

@tswast Can you confirm whether it is expected behaviour that `jobs.insert` would return a 200 response containing resource with that status, rather than returning the 403 response?

[2019-07-30 17:05] tswast opened #8826 "BigQuery: Add debug logs in to_dataframe / to_arrow"
When debugging performance issues with `to_dataframe` and `to_arrow`, it would be really helpful to know:

* If `tabledata.list` or the BQ Storage API is being used and why.
* If the BQ Storage API is used, the full session ID would be really useful, as it would help the backend team investigate problems from their end.

Since these are debugging lines, they should be written at the debug logging

[2019-07-30 17:14] thrykol commented on #8807
@zunger-humu My short term solution was to explicitly set the version of `google-cloud-pubsub` in my `requirements.txt`.

`google-cloud-pubsub==0.42.1`

[2019-07-30 17:15] tseaver commented on #8807
@thrykol `google-cloud-spanner 1.10.0` has the "correct" dependencies for `grpc-google-iam-v1':

[code]

However, in @barendlinders' example, `google-cloud-bigtable-0.33.0` is too old for that pin.  It still has:

[code]

I have just made PR #8827 to push out a new release of `google-cloud-bigtable` with updated pins.

[2019-07-30 17:18] zunger-humu commented on #8807
Thank you!

On Tue, Jul 30, 2019 at 10:15 AM Tres Seaver <notifications@github.com>
wrote:

[2019-07-30 17:34] thrykol commented on #8807
@tseaver Interesting.  Was that version just released?  I was having issues this morning with deploying some functions in GCP due to this issue.  But now I'm seeing the update there (from `1.9.0`) as well as the correct iam version.

[2019-07-30 17:46] tseaver commented on #8807
Both `bigtable` and `container` have older releases which pin incompatible `grpc-google-iam-v1`.

[code]

PR #8830 fixes this issue.

[2019-07-30 17:52] tseaver commented on #8807
Closed via #8827, #8830.

[2019-07-30 17:52] #8807 closed

[2019-07-30 17:53] tseaver commented on #8807
@thrykol `google-cloud-spanner 1.10.0` was released last Thursday (2019-07-25).

[2019-07-30 18:05] tseaver commented on #8811
@sheldongill The API docs you linked are for the REST endpoint, while the `google-cloud-bigquery-datatransfer` library uses the [gRPC endpoint](https://cloud.google.com/bigquery/docs/reference/datatransfer/rpc/google.cloud.bigquery.datatransfer.v1#google.cloud.bigquery.datatransfer.v1.TransferConfig).

Neither of them, however, surface an attribute for a pubsub topic to be notified.  Without that

[2019-07-30 18:06] #8811 closed

[2019-07-30 18:38] tseaver commented on #8633
@BenWhitehead Should `start_after` work in this case?

[2019-07-30 19:04] #8696 closed

[2019-07-30 19:23] tswast commented on #8494
As discussed in chat, this task it to make a function that takes a SchemaField and outputs a [StandardSqlField](https://googleapis.github.io/google-cloud-python/latest/bigquery/gapic/v2/types.html#google.cloud.bigquery_v2.types.StandardSqlField).

[2019-07-30 20:26] tswast commented on #8714
@ralbertazzi Thank you for the code to reproduce.

Unfortunately, this is expected behavior. The `rateLimitExceeded` error you are encountering is due to a limit on the number of concurrent `INTERACTIVE` priority queries. In the backend, the job is successfully created, but then fails. This means we can't retry the job in the same way we retry HTTP error codes.

To work around this restriction, it

[2019-07-30 20:26] #8714 closed

[2019-07-30 21:33] BenWhitehead commented on #8633
After a bit of testing, in the java client both `start_after` and `end_before` appear to be handled by the backend just fine with a port of this particular example. I'll check with someone from firestore to ensure that it is supposed to work.

[2019-07-30 22:30] tseaver commented on #7213
@josteinl Thanks for the report:  I was able to reproduce the failure using your script.  With the patch in #8837, the script succeeds, and both log entries are sent.

[2019-07-30 22:44] tseaver commented on #8633
@BenWhitehead Maybe we need to add a conformance test that asserts it is OK.

[2019-07-31 12:47] yoshi-automation commented on #8825
Autosynth passed, closing! :green_heart:

[2019-07-31 12:47] #8825 closed

[2019-07-31 17:05] tswast opened #8855 "BigQuery: Remove references to `avro_schema` from `tests/unit/test_table.py`."
I noticed lines like the following in the unit tests for the table module:

[code]

Now that we're creating Arrow sessions, we should update these unit tests to populate the Arrow schema, instead. There are examples of doing this in the tests for google-cloud-bigquery-storage.

https://github.com/googleapis/google-cloud-python/blob/7e16c08581a059a6c8e40b0403f4af1ebfe0fea6/bigquery_storage/tests/un

[2019-07-31 20:46] isaacnoble opened #8856 "Vision: Error deserializing response JSON, MessageToJson encoding error?"
Code:
[code]

Expected:
`<class 'dict'>`
Actual:
`<class 'str'>`

[2019-07-31 21:02] tseaver commented on #8856
@isaacnoble Can you set a breakpoint in your code and look at the response returned from the server?  Also, it would be good to ensure that your file is flushed / closed after writing to it, e.g.:

[code]

[2019-07-31 21:04] #7213 closed

[2019-07-31 21:06] tseaver commented on #8676
PR #8837 should resolve this (better to leak log entries than fail CI).

[2019-07-31 21:06] #8676 closed

[2019-07-31 21:08] isaacnoble commented on #8856
Found the problem, this is the correct usage:
[code]
As MessageToJson returns the serialized JSON already.

[2019-07-31 21:08] #8856 closed

[2019-07-31 21:20] JoshSullivan11 opened #8857 "AttributeError: 'Namespace' object has no attribute 'sort'"
Hi, I am running a script that uses google-cloud protobuf and I am receiving the following error. I have seen similar issues that relate to bad pip installs, but that does not seem to be the case here. I am coming here as a last resort before reimaging my computer, so any help is appreciated.

#### Environment details

1.Ubuntu 16.04.1 LTS
2.Python 3.5.2
3. google-cloud-cloud version:  0.34.0

###

[2019-07-31 21:28] tseaver commented on #5318
@benbc, @jakewins Please feel free to follow up (or better, open a new issue) if the issue recurs.

[2019-07-31 21:28] #5318 closed

[2019-07-31 21:45] tseaver commented on #8857
@JoshSullivan11 What Google Cloud API(s) are you trying to use?  The old `google-cloud` umbrella package is deprecated, and no longer brings in any of the libraries.  For instance, to use [Cloud Storage](https://cloud.google.com/storage/):

[code]

Note that this example creates a separate virtual environment into which to install `google-cloud-storage`, which helps insulate your application from

[2019-07-31 21:46] #7916 closed

[2019-07-31 22:02] JoshSullivan11 commented on #8857
I don't believe I am trying to use any APIs at all with this script. This is simply just a quick test script we are supposed to run to ensure our environment is setup correctly and its failing. I've tried running this is a different environment which does not have any knowledge of the google-cloud and it runs just fine, but I am not able to do that in the long run due to procedures i must follow.

[2019-07-31 22:13] tseaver commented on #8857
Indeed, the traceback doesn't show any signs that any of the `google-cloud` libraries are in play.  Is there a way you can list the packages installed in the failing environment, e.g. via:

[code]

One of them installs something into the top-level `google` package without making it a namespace package, or else the installer is broken (really old `pip` / `setuptools`).

Given that this is not reall

[2019-07-31 22:13] #8857 closed

[2019-07-31 22:18] JoshSullivan11 commented on #8857
[piplist.txt](https://github.com/googleapis/google-cloud-python/files/3454103/piplist.txt)
This is the pip list, which hasn't changed since before this started failing.  So i have no idea which ones could possibly be doing that.

[2019-08-01 07:33] #6848 closed

[2019-08-01 14:01] briancurtin opened #8878 "PubSub: timeout argument not honored in at least get_subscription"
I recently had a situation where we had an invalid service account file pointed to by our `GOOGLE_APPLICATION_CREDENTIALS` environment variable, which caused PubSub to not be able to work properly (as expected). What's not expected was that it took 10 minutes to fail.

#### Environment details

PubSub
Both OSX and Ubuntu
Python 3.7.3+
google-cloud-pubsub==0.42.1

#### Steps to reproduce

  1. Usin

[2019-08-01 16:07] tseaver commented on #8878
@briancurtin Thanks for the report.  The gRPC method is actually wrapped in two decorators:
- the inner one applies a timeout to each individual gRPC call;
- the outer one retries the inner one for a specfied set of errors, with exponential backoff and a final deadline.

In your case, because you specified `timeout=10`, the inner decorator is a [`ConstantTimeout` instance](https://github.com/googl

[2019-08-01 16:15] zdenulo commented on #8615
It looks like that is the default behavior of BigQuery Autodetect import. more about this here https://stackoverflow.com/questions/48590983/how-to-have-google-bigquery-properly-detect-header-names and here https://issuetracker.google.com/issues/112210765

I'm dealing with the same issue as well :)

[2019-08-01 16:25] BenWhitehead commented on #8633
I got confirmation that the python client should not be erroring in this scenario. Collection group queries are designed to span collections and thus shouldn't restrict the DocumentSnapshot based on what collection it comes from.

I've added an internal bug to create a new conformance-test for this scenario [b/138785241](http://b/138785241)

@tseaver Can you relax the client validation so that thi

[2019-08-01 16:25] BenWhitehead commented on #8633
/cc @crwilcox

[2019-08-01 16:25] briancurtin commented on #8878
@tseaver Ah, fancy seeing you here! Thanks for the explanation, makes sense.

[2019-08-01 16:37] #8878 closed

[2019-08-01 16:38] tseaver commented on #8878
@briancurtin Heh, the `google-cloud-*` libraries have been my main paying gig for some while now.

[2019-08-01 17:31] tseaver commented on #5879
@brianmhunt `ConnectionResetError` seems like the kind of error one might see when the VM is being torn down.  Can you tell whether your function is failing due to a [time limit](https://cloud.google.com/functions/quotas#time_limits)?  If so, there isn't really much we can do in `google-cloud-storage` to mitigate the issue.

[2019-08-01 17:38] brianmhunt commented on #5879
@tseaver Thanks. The problem was not the time limit.  i.e. it can fail in the first ~5 seconds.

[2019-08-01 17:51] tseaver commented on #5879
@brianmhunt OK, good to know.  Here is a workaround:

[code]

[2019-08-01 17:59] #8826 closed

[2019-08-01 18:01] rasputnik commented on #5879
@tseaver awesome, have passed this on to our devs. Some GCP client libraries seem to expose a retry option, some don't. This will be very handy, thanks!

[2019-08-01 18:21] busunkim96 opened #8885 "Add more messaging about 2.7 deprecation"
Currently we mention 2.7 deprecation in the body of the README.rst files for APIs. There may be more actions we can take to signal to users that we will not be supporting Python 2 post Jan 1, 2020.

- [x] Make deprecation warning more prominent in README and library reference documentation. #9036
- [ ] Add deprecation warning to top-level repo README.
- [ ] Raise warnings when Python < 3.5 is dete

[2019-08-01 19:05] #8633 closed

[2019-08-01 20:58] tseaver commented on #7756
The issue in the repro script is here:

[code]

The dict used as a "cursor" (passed to `start_after`) is supposed to match the document structure:  the "field path" notation is not being expanded.

[This gist](https://gist.github.com/tseaver/f23119dd18f88fe5c06937c687a51282) reproduces the issue using only `google-cloud-firestore` (no `firebase`).

@BenWhitehead Can you please point to the place i

[2019-08-01 21:07] tseaver commented on #7817
@plamut believes that #8883 did not completely resolve the race, so I updated it to avoid closing this issue.

[2019-08-01 21:42] mf2199 commented on #8451
@crwilcox The #8662 implementing the 3 methods has been merged. Would it make sense to revise the issue, possibly closing it now?

[2019-08-01 21:43] tseaver commented on #8451
Via #8662.

[2019-08-01 21:43] #8451 closed

[2019-08-02 12:51] yoshi-automation opened #8931 "Synthesis failed for logging"
Hello! Autosynth couldn't regenerate logging. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/38334508-4b16-4eff-951d-9a2edc2c06fb).

[2019-08-02 13:35] mf2199 commented on #8454
@tseaver @igorbernstein2 Any prospects of where do we intend to go with this? If the limits stay, maybe this can be reflected in Best Practices or something. Any thoughts?

[2019-08-02 16:05] lucidsushi commented on #8473
`/usr/local/lib/python3.6/dist-packages/google/cloud/pubsub_v1/__init__.py in <module>()
     16
     17 from google.cloud.pubsub_v1 import types
---> 18 from google.cloud.pubsub_v1 import publisher
     19 from google.cloud.pubsub_v1 import subscriber
     20

/usr/local/lib/python3.6/dist-packages/google/cloud/pubsub_v1/publisher/__init__.py in <module>()
     15 from __future__ import absolute_

[2019-08-02 17:12] immohsin commented on #7457
Hi @tseaver,
I'm new to the stackdriver. Sending a nested dict in `log_struct` method throws `Unexpected type for Value message.` exception.

Is there a way to send a nested dictionary in log_struct method?

[2019-08-02 18:35] tseaver commented on #7457
@immohsin Trying to reproduce:

[code]

Can you provide sample code and the full traceback?

[2019-08-02 18:54] tseaver commented on #8454
@mf2199 Running the actual system tests less often seems to be the only cure.  #8476 seems to have helped with this in the mono-repo:  we see far fewer Bigtable runs which don't involve actual changes to Bigtable source in the PR.  Splitting the repository should be the final remdeiation.

I'm going to close this for now, given that #8476 seems to have helped (I don't think we've seen this failure

[2019-08-02 18:54] #8454 closed

[2019-08-02 18:57] immohsin commented on #7457
[code]

This is code i'm using and trying to json_payload as nested dict.

[2019-08-02 19:03] mf2199 commented on #8454
@tseaver :+1: Thanks!

[2019-08-02 19:05] tseaver commented on #8931
The failiure is due to a clash between `logging/synth.py`, which adds the `options` argument correctly, and https://github.com/googleapis/gapic-generator/pull/2900, which adds it but in a b0rked way.  Once fixed version of that PR is merged / released for `gapic-generator`, the fix here will be to remove the `s.replace()` lines in `logging/synth.py`.

[2019-08-03 03:16] amritsub opened #8933 "Firestore: 504 Deadline Exceeded making single write on Firestore"
resurfaced from https://github.com/firebase/firebase-admin-python/issues/308

#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version: macOs Mojave 10.14.5
3. Python version and virtual environment information: **Python 3.7.4**
4. google-cloud-<service> version:  `pip show

[2019-08-03 12:13] yoshi-automation commented on #8931
Autosynth is still having trouble generating logging. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/37c7f4d4-d025-4fd0-bb6d-9194e256883a).

[2019-08-04 12:12] yoshi-automation commented on #8931
Autosynth is still having trouble generating logging. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/95216bc0-d826-4c9c-988e-ee009b99ccae).

[2019-08-05 08:38] #8494 closed

[2019-08-05 11:21] ZeeD opened #8937 "CloudLoggingHandler should allow the set of custom labels"
[code]

`get_default_handler` returns different implementations of the handler if you are on a local machine, or a GKE cluster.
The latter doesn't support the set of the labels.
Nor it warn about it.

[2019-08-05 12:12] yoshi-automation commented on #8931
Autosynth is still having trouble generating logging. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/66904627-fd46-4983-973f-0242a63db842).

[2019-08-05 15:12] tom-dd commented on #8301
I don't think this one is fixed, when I use the code from the documentation I get the following error (google-cloud-storage 1.17.0):
[code]
[code]

[2019-08-05 18:56] tseaver commented on #8933
The traceback you report is due to the back-end not replying to the `Batch.commit` request within 60 seconds (configured [here](https://github.com/googleapis/google-cloud-python/blob/0ce1ca52fe6fb49a40d65049ada5e000049b681d/firestore/google/cloud/firestore_v1/gapic/firestore_client_config.py#L64-L68)).

Although implicit retries are disabled by default for non-idempotent operations, you can add ex

[2019-08-05 19:01] tseaver commented on #8931
This failure is due to a clash between the new artman genration (suppressing gRPC max payload everywhere) and custom handling in `synth.py`.

[2019-08-05 19:28] zhudaxi commented on #5539
Have got same issue here with insert_rows api.
Tried with simple cases to insert two rows, most of time it won't work.
I saw this issue is closed now but no solution was actually provided.
Can someone help take a look?

[2019-08-05 19:35] tseaver commented on #5539
@zhudaxi, @heisen273 Please check the response returned from `Client.insert_rows`:  it contains information about any failed inserts (see [my gist](https://gist.github.com/tseaver/6c40a6a0f2bf9e71f0431cd37c9ca9fa) for an example).

[2019-08-05 19:35] #8931 closed

[2019-08-05 19:54] zhudaxi commented on #5539
Hi @tseaver , the errors in my scripts is empty.

[2019-08-05 20:04] zhudaxi commented on #5539
Here is my very simple code to insert two rows. FYI.
[code]
Here is the output of my script:
[code]

[2019-08-05 20:32] zhudaxi commented on #5539
In my script, the google-cloud-bigquery is in version 1.17.0.

[2019-08-05 21:06] shollyman commented on #5539
@zhudaxi You appear to be printing stale table stats.  Try invoking client.get_table after performing some streaming inserts.

[2019-08-05 21:43] zhudaxi commented on #5539
@shollyman Thanks!
So you mean I need to get a new table object from client.get_table after streaming inserts for printing table.modified/table.streaming_buffer? I tried but still got same result.
And in my scripts, the inserts sometimes can work 100% (insert two rows), sometimes it will only insert 1 row. And most of the time nothing inserted.

[2019-08-05 21:51] shollyman commented on #5539
Yes, if you want to consult the current metadata of the table you'll need to invoke get_table to fetch the most recent representation from the BigQuery backend service.  As an aside, the streaming buffer statistics are computed lazily (as it's an estimation), so comparing it to verify row count is not an appropriate verification method.  It may be the case that the buffer doesn't immediately refre

[2019-08-05 22:07] zhudaxi commented on #5539
Thanks~
I do use a select query (in script and from Google Big Query Web) to check the table, as I mentioned, most of the time the table is empty.

[2019-08-05 22:15] shollyman commented on #5539
Any chance you're destroying and recreating a table with the same id?https://cloud.google.com/bigquery/troubleshooting-errors#metadata-errors-for-streaming-inserts

[2019-08-05 22:55] hlpostman opened #8940 "Tasks: markdown issue"
The [Types for Cloud Tasks API](https://googleapis.github.io/google-cloud-python/latest/tasks/gapic/v2/types.html) documentation seems to have a markdown formatting issue.  There are a number of places where a property is specified in square brackets immediately followed by the same property fully specified with the library in square brackets, e.g. `[AppEngineHttpRequest][google.cloud.tasks.v2.App

[2019-08-05 23:42] zhudaxi commented on #5539
@shollyman Thanks.
Yes, in my script I delete and create table, then insert data into the table.
And, I just tried to use a new table id and insert 100 rows, right after the insert finishes and use SELECT to query, only 1 row appears.
After a while I did the query again, the 100 rows are returned.
So it is expected that the new insert will Unavailable for some time? How long will that time be?

[2019-08-05 23:45] tswast commented on #8569
Currently the BigQuery Storage API creates a number of streams based on some internals about how the file is stored. Asking for more won't usually get you any more streams.

You may want to try the latest versions of `google-cloud-bigquery` and `google-cloud-bigquery-storage`. We recently changed the wire format to default to Arrow, which is much faster to parse than Avro. https://friendliness.dev

[2019-08-06 06:28] motifiy commented on #2990
don't try to giving up

[2019-08-06 17:57] #7701 closed

[2019-08-06 18:58] tseaver commented on #8940
@hlpostman Thanks for the report.  This is actually an upstream problem for us:  the broken link formatting is in the [`target.proto` file](https://github.com/googleapis/googleapis/blob/53e641721f965a485af64331cfea9e5522294d78/google/cloud/tasks/v2/target.proto#L52).

@lukesneeringer, can you please raise the issue with the back-end team to fix the comments in the `.proto` files?

[2019-08-06 19:30] tswast opened #8983 "BigQuery Storage: Add more in-depth system tests covering all data formats and field data types"
**Simple functional tests**

- [ ] Simple correctness: create a table with some initial data, create a read session over the table, and verify that the expected number of rows is returned.
- [ ] Filtering: create a table with some initial data, create a read session over the table with a push-down filter which excludes some data, and verify that the expected number of rows is returned. (Avro-only)

[2019-08-06 19:32] tswast commented on #8983
For reference, the Java PRs that add similar tests:

- https://github.com/googleapis/google-cloud-java/pull/5216
- https://github.com/googleapis/google-cloud-java/pull/5242
- https://github.com/googleapis/google-cloud-java/pull/5439
- https://github.com/googleapis/google-cloud-java/pull/5476
- https://github.com/googleapis/google-cloud-java/pull/5538

[2019-08-06 19:48] srinidhi-shankar commented on #5539
I had the same problem. I got around it by using jobs instead of `client.insert_rows`

Like this:
[code]
Reference: https://cloud.google.com/bigquery/docs/loading-data-local

[2019-08-07 07:10] rubik commented on #3103
What is the status of this issue? Will it be fixed in the near future?

[2019-08-07 07:29] #7851 closed

[2019-08-07 07:41] tseaver commented on #3103
@rubik Dropping 2.7 support is scheduled for Q1 2020.  Adding `asyncio` support will be a major effort, but the relative priority for it isn't set, AFAIK.

[2019-08-07 13:43] timocb commented on #8142
Hi @tswast ! I was looking into how to solve this issue, because #8105 has closed my issue #8093. It would be great if we can do this in the background.

Would this be as simple as adding the following code in the `try` part of https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L1543?

This code would get the schema of the destination table and a

[2019-08-07 16:37] #7756 closed

[2019-08-07 16:39] #8480 closed

[2019-08-07 16:45] #7696 closed

[2019-08-07 17:12] tswast commented on #8142
A client object is already available as `self`.

This is necessary, but not sufficient. There are several cases to handle.

* [x] A: DataFrame has same set of columns as existing table. This is the easy case, as it's what `google.cloud.bigquery._pandas_helpers.dataframe_to_parquet` already expects.
* [ ] B: DataFrame has new columns that aren't present in the existing table.
* [ ] C: DataFrame is

[2019-08-07 23:07] amritsub commented on #8933
okay, setting the predicate worked, although I'm not sure why I would need to do that. Using Cloud Datastore, I never ran into this issue and would expect the same performance with Firestore.

also I tried measuring the time in which the 504 gets thrown, which seems to be around 20 seconds rather than 60 seconds. here is how I attempted to time it:
[code]

output

[code]

[2019-08-07 23:12] shollyman commented on #5539
The issue is eventual consistency with the backend.  Replacing the table, while it has the same table_id, represents a new table in terms of it's internal UUID and thus backends may deliver to the "old" table for a short period (typically a few minutes).

[2019-08-07 23:38] tswast opened #8989 "BigQuery: deprecate `client.dataset()`"
See: https://github.com/googleapis/google-cloud-python/pull/7753

We should recommend the simpler "use a string instead of a reference object" in most cases.

We still call `.dataset()` 96 times in our samples at `docs/snippets.py`. I would feel better about adding the deprecation notice after we update the rest of our samples.

[2019-08-07 23:40] tswast commented on #8989
As part of these sample updates, I'd also like to move the snippets to their own sample files in the `samples/` directory. See: https://github.com/googleapis/google-cloud-python/pull/7683 for examples.

[2019-08-07 23:41] tswast commented on #8989
/CC @Emar-Kar @IlyaFaer

[2019-08-08 05:11] richie312 commented on #6647
Dont do Conda uninstallation. It actually removes the packages and then you would start wondering.

[2019-08-08 09:36] timocb commented on #8142
Oh, of course :P

How are these cases (B and C) expected to be handled?

I am not sure if I understand how you would force users to use pyarrow. Can you elaborate?

[2019-08-08 11:48] IlyaFaer commented on #8989
@tswast, taken to work

[2019-08-08 13:53] plamut opened #8990 "PubSub: Release the first GA version"
If no major issues are discovered during the ongoing bake-in period, the PubSub client should be released as GA.

Releasing a new version is done with the help of [releasetool](https://github.com/googleapis/releasetool). Prior to the GA release, the following must be done:

- Go through the checklist from the internal GA release doc, make sure everything is in order.
- Changes in the client lib fi

[2019-08-08 13:55] InbarRose commented on #8449
I would also like to know if there is a more convenient/canonical way to adjust these parameters

[2019-08-08 13:55] plamut commented on #8990
@busunkim96 Is the list of all required file changes complete an accurate?

Please proof-read it, thanks!

[2019-08-08 15:03] di opened #8993 "KMS: Documentation link on `googleapis.dev` is missing."
In #8705 the "Client Library Documentation" link in the `google-cloud-kms` README was changed from https://googleapis.github.io/google-cloud-python/latest/kms/index.html to https://googleapis.dev/python/kms/latest, but the latter does not exist.

Ref: https://issuetracker.google.com/issues/139095461

[2019-08-08 16:51] busunkim96 commented on #8990
@plamut Looks good to me!

[2019-08-08 16:57] tseaver commented on #8993
The following are invalid "client library documentation" URLs linked into READMES:

- asset: https://googleapis.dev/python/asset/latest
- kms: https://googleapis.dev/python/kms/latest
- monitoring: https://google-cloud-python.readthedocs.io/en/latest/monitoring/
- scheduler: https://googleapis.dev/python/scheduler/latest
- tasks: https://googleapis.dev/python/tasks/latest
- trace: https://googleap

[2019-08-08 17:00] tseaver commented on #8933
@amritsub Thanks for the follow up.  The timeout for the initial RPC is configured [here](https://github.com/googleapis/google-cloud-python/blob/0ce1ca52fe6fb49a40d65049ada5e000049b681d/firestore/google/cloud/firestore_v1/gapic/firestore_client_config.py#L13) as 20000 ms, which likely explains the timing you are seeing.

[2019-08-08 17:01] tseaver commented on #8933
@shollyman Any suggestions as to why that initial RPC request would be taking longer?

[2019-08-08 19:44] tseaver opened #8996 "Storage: 'test_access_to_public_bucket' systest flakes with 503"
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/868a7fcd-9d61-4890-8720-87cefea05270/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):

[code]

[2019-08-08 19:57] #8479 closed

[2019-08-08 20:27] #8996 closed

[2019-08-08 23:16] shollyman commented on #8933
I'm not familiar with firestore backend.  Tagging @BenWhitehead instead.

[2019-08-09 15:00] skamansam opened #9002 "Storage: failure to create new client in pypy"
(Maybe I don't know enough about python to successfully diagnose this issue, but it really looks like there is a legitimately incorrect signature in `_http.py`.)

#### Environment details

1. *API*: Google Cloud Storage
2. *OS*: docker image `pypy:3.6-slim-jessie` (also tested in local pyenv of pypy3.6.1-7.1.1)
3. *Python Version*: Python 3.6.1 (de061d87e39c, Mar 24 2019, 22:18:07)
[PyPy 7.1.0-bet

[2019-08-09 17:40] skamansam commented on #9002
This is also happening with python 3.7.4, using the `python:3.7-slim` image.

[2019-08-09 17:44] sumit-ql commented on #5738
@rylz Are you still facing the issue with latest release.

I tried to connect to datastore emulator using AnonymousCredentials and its working for me.

Here is the steps and sample code:
1. Start datastore emulator using gcloud sdk.
2. Set the env variable : DATASTORE_EMULATOR_HOST
3. create datastore client with AnonymousCredentials
After that i am able to put one Entity into datastore.

OS : Win

[2019-08-09 17:51] skamansam commented on #9002
This is also happening locally with python 3.7.4, but NOT 3.7.0

[2019-08-09 17:53] tseaver commented on #9002
@skamansam It looks like the version you have installed of `google-cloud-core` is too old:  version 1.0.0 added the `client_info` argument go `google.cloud._http.Connection`.  Can you try `pip install --upgrade google-cloud-core` and see if that fixes the issue?

If not, can you please post the output of `pip --list` in the three environments you are testing?

[2019-08-09 17:57] skamansam commented on #9002
[code]

[code]

[2019-08-09 17:59] skamansam commented on #9002
That appears to be the issue. I will look through all the other requirements and see if another is pulling in a different version.

[2019-08-09 18:03] skamansam commented on #9002
`google-cloud-logging` seems to be the culprit. Thank you for your help and i apologize for not checking this first.

[2019-08-09 18:09] tseaver commented on #9002
@skamansam No apologies needed:  conflicting dependencies are hard, particularly when upgrading an enviornment, rather than creating one from scratch:  depending on how the upgrade happens, you can end up with different results.

[2019-08-09 18:09] #9002 closed

[2019-08-09 19:04] zmcddn commented on #5738
@sumit-ql I figured it out pretty much the same time as you did. I think in addition to your sample code, there are two required arguments in the `Client()` function, which is `project and `credentials`. So I was able to get it working by `client = datastore.Client(project="emulated-project", credentials=AnonymousCredentials(),)`

[2019-08-09 21:41] marcopashkov opened #9003 "Storage: Cannot download brotli compressed/encoded files from cloud storage"
#### Environment details

Issue caused when deployed as cloud function (with `google-cloud-storage==1.15.0`):
[code]

#### Steps to reproduce

  1. generate string content
  2. compress content with brotli
  3. create new blob
  4. set blob encoding to `br` [for brotli](https://www.chromestatus.com/feature/5420797577396224)
  5. upload blob via `upload_from_string`
  6. download blob via `download

[2019-08-09 21:55] marcopashkov commented on #9003
Notes:
* Using `gzip` instead of `brotli` works just fine.
* I also tried to calculated the md5 hash and set it manually for the blob before uploading (see below) - to no avail
* **the exact same code runs flawlessly on my local machine** ([my full pip freeze output](https://gist.github.com/marcopashkov/6d64b5283bd12b865b348fe3a9c9e903)), but as soon as I deploy it to cloud storage it breaks

[cod

[2019-08-09 22:44] marcopashkov commented on #9003
I found a **temporary workaround**: After [binary] searching my local pip packages I found that using `urllib3==1.23` will fix the issue. It appears by default `urllib3=1.25.3` is currently installed, potentially breaking the MD5 calculation.

[2019-08-09 23:15] #8993 closed

[2019-08-11 22:55] MayuraVerma opened #9005 "Translate: ASCII output of results under 'v3beta1'."
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

I am using translate_v3beta1 in python3.

I am running example problem in https://cloud.google.com/translate/docs/quickstart-client-libraries-v3

text = u'Book'

response = client.translate_

[2019-08-12 06:37] mnguyen25 commented on #7719
Hi @Lance0404, is there any update on this?

[2019-08-12 08:01] Lance0404 commented on #7719
Hi @mnguyen25 , sorry that I don't have breakthrough for this, cause I changed to using AWS from this May due to my job changed. Thanks for asking. Would also be glad to know if someone figure it out.

[2019-08-12 12:47] mahdiarsadeghi opened #9006 "module 'pandas' has no attribute 'core'"
`from google.cloud import bigquery
`

Any idea  how I can fix this error? I am using pandas-gbq.

[code]

[2019-08-12 13:44] milonimrod opened #9007 "BigQuery: load_table_from_dataframe Not working with string columns"
#### Environment details
Running on Ubuntu 16.04 with Python 2.7.14 (google-cloud-bigquery==1.17.0)

#### Code example
I'm running the code example showed [here](https://googleapis.github.io/google-cloud-python/latest/bigquery/usage/pandas.html#load-a-pandas-dataframe-to-a-bigquery-table)

Created the following table:
![image](https://user-images.githubusercontent.com/9162254/62869419-7faa9680-bd2

[2019-08-12 14:35] mahdiarsadeghi commented on #9006
The problem is solved with downgrading pandas version:

`!pip3 install --upgrade pandas==0.24.2 pandas-gbq`

[2019-08-12 14:35] #9006 closed

[2019-08-12 15:07] Kharms opened #9008 "Firestore: watch.unsubscribe() causes Google Cloud Function to timeout."
#### Environment details

Environment: GCF python37 runtime
Version: google-cloud-firestore==1.4.0

#### Steps to reproduce

1. Initialize a fs document:
2. Deploy a HTTP triggered GCF that creates a listener, then unsubscribes.
3. View logs.

#### Code example

[code]
GCF Logs attached.

<img width="1353" alt="Screen Shot 2019-08-12 at 11 06 14 AM" src="https://user-images.githubusercontent.com/7

[2019-08-12 15:07] Kharms commented on #9008
Might be related to the fix for https://github.com/googleapis/google-cloud-python/issues/7826

[2019-08-12 15:09] Kharms commented on #9008
Might be caused by this: https://github.com/googleapis/google-cloud-python/issues/9008

[2019-08-12 15:19] mnguyen25 commented on #7719
@Lance0404, lately today, I figured it out still don't know how to distinguish between cloud evn and local evn however

from google.cloud.logging.resource import Resource
import requests

res = Resource(
	type="gce_instance",
	labels={
		"instance_id": requests.get("http://metadata/computeMetadata/v1/instance/id", headers={"Metadata-Flavor": "Google"}).text
    },
)

client = google.cloud.logging.

[2019-08-12 16:05] peku33 commented on #7309
@tseaver This is still an issue on 1.18.0 if bound parameter is `None`.

[2019-08-12 16:06] tseaver commented on #9005
@MayuraVerma Thanks for the report.  The `v3beta1` clients `translate_text` method returns a protobuf message of type [`TranslationTextResponse`](https://cloud.google.com/translate/docs/reference/rpc/google.cloud.translation.v3beta1#google.cloud.translation.v3beta1.Translation).  Rather than formatting it directly, use its `translation_text` field, e.g.:

[code]

[2019-08-12 16:06] #9005 closed

[2019-08-12 16:11] tseaver commented on #9008
@Kharms Thanks for the report, and for investigating rolling back.  As a workaround, I would recommend just avoiding the `unsubscribe` call

[2019-08-12 16:32] tseaver commented on #7309
@peku33

Can you supply an example showing how to trigger that case?

[2019-08-12 16:34] tseaver commented on #9006
@mahdiarsadeghi Can you report this issue to the [pandas tracker](https://github.com/pandas-dev/pandas/issues/new)?

[2019-08-12 16:50] mahdiarsadeghi commented on #9006
@tseaver It's been reported to pandas: [#27532](https://github.com/pandas-dev/pandas/issues/27532).

[2019-08-12 17:00] peku33 commented on #7309
[code]

raises:

[code]

[2019-08-12 17:55] josephluvanda commented on #5681
Error still persist with `google-cloud-firestore.1.4.0`

[2019-08-12 18:19] frankyn commented on #8552
@tseaver the fix for this might take a few more weeks at the best case.

The mitigation is to supply the same value set by BPO to UBLA in the client on a PATCH request.

PATCH uri
Body:
[code]

[2019-08-12 20:19] MayuraVerma opened #9009 "Translation: how to get the source text in the V3 API?"
How to get text in the source text with auto-detected language in python v3 as shown in the web.

I know the translated text and source text is same in this case. But not always. I want to capture the text in the source suggestion.

![image](https://user-images.githubusercontent.com/14062593/62895282-2a688800-bd14-11e9-92bd-2c23d51e89d2.png)

[2019-08-12 21:12] MayuraVerma opened #9019 "Translate from same language"
It is possible to translate the text from same language, target and destination = same language in the web.

But in Python, it throws an error.

If I download the code, will I be able to turn off the restriction.

Please assist.

[2019-08-12 22:53] frankyn commented on #4684
Hi folks,

PR #8483 attempted to resolve this feature request. This is a feature request and it's not within scope of what should be worked on at this time. We have a priority on fixing reliability bugs in our clients before feature requests.

Additionally, this feature in particular requires a design review that has not yet been prioritized.
Thank you for your patience. We will revisit this featu

[2019-08-13 00:38] tseaver commented on #9019
Can you show a sample of the Python code, and the full traceback?

[2019-08-13 00:47] tseaver commented on #9009
The [Translation](https://cloud.google.com/translate/docs/reference/rpc/google.cloud.translation.v3beta1#google.cloud.translation.v3beta1.Translation) message does not contain that field.  You should be able to map it from the request, e.g. using your example from earlier today:

[code]

[2019-08-13 00:47] #9009 closed

[2019-08-13 01:43] MayuraVerma commented on #9019
1. Python Code: with source language =  (blank) 'auto detect'
project_id = <removed>
text = 'Maduve Maadikondu'
location = 'global'

#v3
parent = client.location_path(project_id, location)

response = client.translate_text(
    parent=parent,
    contents=[text],
    mime_type='text/html',  # mime types: text/plain, text/html
#    source_language_code='en',
    target_language_code='kn')
for trans

[2019-08-13 04:50] mauliksoneji commented on #2028
@dhermes @znorris can you please mention from which version onwards this issue has been fixed?

[2019-08-13 06:20] adityasood11 commented on #3757
@ladinstar i am having the same issue while installing rpy2 library.

I installed pbr but still no luck.

[2019-08-13 07:58] peku33 commented on #7309
@tseaver Is it enough to report the issue or should I open new request?

[2019-08-13 09:24] plamut commented on #9007
I can confirm that the issue is reproducible.

[2019-08-13 12:24] plamut commented on #9007
@milonimrod The reason for this behavior is that under Python 2.7, the string literals in data that is passed to the dataframe are actually `bytes`, not text (i.e. `unicode`), but the table column type is set to `STRING`.

This can be fixed by using Unicode string literals for all string columns (including the `index`):
[code]
With this adjustment, the posted example works just fine under Python 2

[2019-08-13 14:58] tsteinruecken opened #9023 "Firestore:"

[2019-08-13 14:58] #9023 closed

[2019-08-13 14:59] dabasmoti opened #9024 "BigQuery: 'load_table_from_dataframe' raises OSError with STRUCT / RECORD columns."
pyarrow-0.14.0
pandas '0.24.2'
windows 10
Hi,
I am tring to load dataframe to big query that looks like that

[code]
the agg_col is list of dicts
I also tried dict

Schema config:
[code]
load command
[code]
The error message

[code]

[2019-08-13 15:14] tsteinruecken opened #9025 "Firestore: Invalid handling of timezones"
I believe to have found a bug in the python firestore client library that causes datetime objects to be corrupted when first written to firestore.

In Python, dates returned from datetime.now() are in the local timezone (=wallclock time). However i suspect the firestore to expect dates stored as UTC. But the Client-Library does not seem to convert that local datetime to utc before writing it to th

[2019-08-13 15:24] daaain commented on #6859
I got this same error persistently when trying to use Datastore outside Flask context. I'm not really sure what does it have to do with Flask (could be a race condition fixed by waiting for Flask to boot up?), but thought I should share as it took a few hours to find the workaround...

[2019-08-13 18:12] tseaver commented on #2028
@mauliksoneji `httplib2` was removed in PR #3674, more than two years ago.  `google-cloud-datastore 1.3.0` and later use `requests` instead.

[2019-08-13 18:15] tseaver commented on #9019
@beccasaurus Can you help diagnose why the `translate` API returns a 400 for source language == target language, whereas the Web UI allows it?

[2019-08-13 18:19] tseaver commented on #7309
@peku33 The exceptoin you report is really a slightly different issue:  please open it, and reference this one in the description.

[2019-08-13 18:35] tseaver commented on #9024
@dabasmoti Is there another exception being raised when that `os.remove()` statement (which occurs in a `finally:` clause) raises this exception?

[2019-08-13 18:40] dabasmoti commented on #9024
@tseaver - No,
There command, client.load_table_from_dataframe(),  comes before it

[2019-08-13 19:12] #9007 closed

[2019-08-14 06:47] milonimrod commented on #9007
In order to solve this on a pre-existing dataframe the solution I've used:
[code]

[2019-08-14 09:51] peku33 opened #9027 "BigQuery: query_parameters fails if None is bound as parameter"
OS Type & Version: Ubuntu 19.04 x64
Python version: Python 3.7.3
Packges: latest up to this date:
[code]

**Steps to reproduce**
1. Create a query, bind `None` (`NULL`) as parameter
2. Execute it
3. Call query_parameters

**Code example**
[code]

**Stack trace**
[code]

This is related to https://github.com/googleapis/google-cloud-python/issues/7309

[2019-08-14 11:55] plamut commented on #9027
I can confirm this, reproduced the issue with bigquery version `1.18.0`.

[2019-08-14 13:35] ViRaL95 commented on #4154
At any point will this feature request be re-opened to allow wildcards within the list_blobs method?

For example:

`bucket.list_blobs(prefix='2019*.csv')`

[2019-08-14 15:29] #9027 closed

[2019-08-14 16:20] tseaver commented on #4154
@ViRaL95

Because the back-end doesn't provide support for that kind of matching, we decided that it was not worth the effort, given how simple it is do do the matching in the application (as my example above illustrates).

[2019-08-14 19:17] peter765 commented on #9024
I'm getting the same issue on mac.

`Traceback (most recent call last):
  File "loadjob.py", line 19, in <module>
    job = client.load_table_from_dataframe(dataframe, table_ref, location="US")
  File "/usr/local/lib/python3.7/site-packages/google/cloud/bigquery/client.py", line 1567, in load_table_from_dataframe
    os.remove(tmppath)
FileNotFoundError: [Errno 2] No such file or directory: '/var/

[2019-08-14 20:09] tseaver commented on #9025
In your example, the time you construct using `datetime.datetime.now()` is indeed in the local time for the machine, but it does *not* include any timezone:  it is what the [Python docs](https://docs.python.org/2/library/datetime.html) call a "naive" datetime object.

Firestore documents require timestamp fields to be passed as seconds since the UTC epoch, which means we *must* convert any datetim

[2019-08-14 20:09] #9025 closed

[2019-08-14 20:25] tswast commented on #9024
Do you have write permissions to those temp directories?

We originally started using tempfiles because fastparquet does not support in-memory file objects, but I wonder if there are systems in which tempfiles cannot be created?

[2019-08-14 20:26] tswast commented on #9024
Note: `pyarrow-0.14.0` had some bad pip wheels, so this may be related to that.

[2019-08-14 20:28] tswast commented on #7805
Closing as obsolete now that we are using Arrow as the default wire format in `google-cloud-bigquery`'s `to_dataframe` methods.

[2019-08-14 20:28] #7805 closed

[2019-08-14 20:30] tswast commented on #7632
We might already have such a list of (legacy) data types somewhere? It'd be nice to have an enum for these, similar to how we have one for standard SQL now.

[2019-08-14 20:31] tswast commented on #7632
Standard SQL version: [google.cloud.bigquery.enums.StandardSqlDataTypes](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.enums.StandardSqlDataTypes.html)

[2019-08-14 20:31] dabasmoti commented on #9024
@tswast - what version should i use?

[2019-08-14 20:33] dabasmoti commented on #9024
I have to mention that the error occur only when use type dict in the dataframe column

[2019-08-14 20:35] dabasmoti commented on #9024
I am running as admin

[2019-08-14 20:39] tswast commented on #9024
0.14.1 and 0.13.0 are good releases of pyarrow.

Ah, thanks you for mentioning this. STRUCT / RECORD columns are not yet supported by the pandas connector. https://github.com/googleapis/google-cloud-python/issues/8191 Neither are ARRAY / REPEATED columns, unfortunately. https://github.com/googleapis/google-cloud-python/issues/8544 Those issues are currently blocked on improvements to the Parquet f

[2019-08-15 09:24] plamut commented on #4553
Posting for better visibility - when this is implemented, use it instead of a similar helper method in system tests - https://github.com/googleapis/google-cloud-python/pull/8992#discussion_r314076857

[2019-08-15 12:45] yoshi-automation opened #9030 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/4146e26a-3d79-4607-a984-8ed2febda0ce).

[2019-08-15 14:52] ijharulislam opened #9031 "Storage: How to get all versions of an object?"
I have to get all versions of a single object with a single request. Is there any way to do it? Similar old issue found here.
https://stackoverflow.com/questions/18734487/how-to-get-all-versions-of-an-object-in-google-cloud-storage-bucket

[2019-08-15 16:59] plamut commented on #9024
I was able to reproduce the reported behavior. Using the posted code and the following dataframe:
[code]
I got the following traceback in Python 3.6:
[code]

Trying the same with Python 2.7, I only got the second part of the traceback, i.e. the `OSError` about a missing file - seems like @dabasmoti is using Python 2.7.

That was with `pandas==0.24.2` and `pyarrow=0.14.1`., and the root cause in bo

[2019-08-15 17:11] dabasmoti commented on #9024
@plamut - I am using python 3.7

[2019-08-15 17:14] plamut commented on #9024
@dabasmoti I see, let me try with Python 3.7, too, just in case ... although the outcome should probably be the same.

[2019-08-15 18:39] tseaver commented on #9031
You can call `Client.list_objects` (or the older `Bucket.list_objects`) passing `versions=True` and the full name of the object as `prefix`, e.g.:

[code]

[2019-08-15 18:39] #9031 closed

[2019-08-16 10:22] vefae opened #9038 "Datastore: google.api_core.exceptions.InvalidArgument: 400 list_value cannot contain a Value containing another list_value."
Hi guys, I am trying to run a Python function in Google Cloud functions to extract Tweets using searchtweets package. And I am experiencing a weird problem. I want to make this function to be triggered everyday, so I use datetime to detect date, then convert this date to a string and input it to the rule of searchtweet package.

If I use the manul dates strings like below, there is no problem, eve

[2019-08-16 11:59] ijharulislam commented on #9031
@tseaver
Thanks. Needed small change. `client.list_blobs()`.

[2019-08-16 12:46] yoshi-automation commented on #9030
Autosynth passed, closing! :green_heart:

[2019-08-16 12:46] #9030 closed

[2019-08-16 14:34] vefae commented on #9038
Hi guys, I am closing the issue, because it started working randomly. I did not change anything. Same code above works now.

[2019-08-16 14:34] #9038 closed

[2019-08-16 17:50] tswast opened #9042 "BigQuery: Deprecate automatic schema conversion in `load_table_from_dataframe`"
After discussion around https://github.com/googleapis/google-cloud-python/issues/9024, I'm coming to realize that there are a lot of inconsistencies with the pandas DataFrame serialization when we have to autodetect the schema. I propose that we warn when we are given a DataFrame but can't determine the correct schema.

I realize this will be a step backwards in terms of usability. I think the fol

[2019-08-16 17:55] tswast opened #9044 "BigQuery: `load_table_from_dataframe` automatically generate schema for known dtypes"
**Is your feature request related to a problem? Please describe.**

I want to upload a DataFrame without specifying a schema. My DataFrame has well defined dtypes for all columns, so it should be safe to serialize the DataFrame without worrying about cases such as ARRAY / STRUCT columns.

With https://github.com/googleapis/google-cloud-python/issues/9042, I may get a warning in this case, though.

[2019-08-16 17:57] tswast commented on #8140
Now that I think about this, #9044 may be considered a sub-issue of this. Partial schemas make the most sense if we can determine the rest of the schema automatically.

[2019-08-16 19:59] busunkim96 commented on #9019
@MayuraVerma translate.google.com has some more features that aren't available via the API. If this is of interest, you can file an issue on the Translation team's public [tracker](https://b.corp.google.com/savedsearches/559749)

[2019-08-16 19:59] #9019 closed

[2019-08-16 23:18] tswast commented on #9042
#9049 is pending (needs unit test updates), which will make me slightly more comfortable with this deprecation. My current thought for the "load dataframe" algorithm is:

* (always? maybe only if schema is not specified) Get table schema #8142
* (maybe only if schema from get_table?) Filter out any columns that aren't in the dataframe, by name.
* Does the number of columns match? If so, great. Con

[2019-08-17 17:48] amritsub commented on #8933
any ideas?

[2019-08-19 21:13] crwilcox commented on #8933
Hi @amritsub . We are going to modify the timeout to default to 60 seconds. We believe that may resolve your issue.

[2019-08-20 00:27] ahonnecke opened #9061 "BigQuery: Won't build in AWS lamba No module named 'google.protobuf'"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-08-20 05:53] #7632 closed

[2019-08-20 05:53] #8855 closed

[2019-08-20 17:46] ahonnecke commented on #9061
This issue does not seem to be present in 3.7.

[2019-08-20 20:44] busunkim96 commented on #9061
@ahonnecke Which version of the BigQuery library are you using?

[2019-08-20 21:31] souschefistry commented on #2990
```easy_install pip``` followed by
```pip install --upgrade pip && pip install --upgrade setuptools ``` worked for me

[2019-08-20 22:51] sbienkow opened #9065 "Cannot get bucket despite being object admin"
When trying to get bucket (to be able to manipulate blobs), I get 403 error:
[code]
This service account has `Storage Object Admin` role, assigned on bucket-level. According to https://cloud.google.com/storage/docs/access-control/iam-roles it doesn't contain the `storage.buckets.get`, so is it not necessary to list the blobs in a bucket?

Was following https://github.com/googleapis/google-cloud-py

[2019-08-21 00:04] tswast opened #9066 "BigQuery Storage: Convert DATETIME columns to datetime.datetime objects when using Avro wire format"
Limitation currently documented here:

https://github.com/googleapis/google-cloud-python/blob/6a06a5f3b99ccd2f7f5f003d2da08b501bdf55d2/bigquery_storage/google/cloud/bigquery_storage_v1beta1/reader.py#L152-L154

We can check for DATETIME columns based on the Avro schema. There's a logical type annotation for the field.

I had hoped that perhaps this logical type could be part of the Avro spec, but

[2019-08-21 04:03] taohea commented on #2032
Excuse me, I made a mistake when I visited HDDS with kerberos. I said that I didn't have a PWD module, and I saw many solutions for you, but they were unsuccessful. I have wasted two days, no progress, please see the help! Thank you!
 **
Traceback (most recent call last):
  File "E:/PycharmProjects/TensorFlow/TestEnd/ImpalaTest.py", line 6, in <module>
    from krbcontext import krbcontext
  File

[2019-08-21 06:13] plamut commented on #9066
Also, when done, a system test needs to be updated - https://github.com/googleapis/google-cloud-python/pull/8992/files#diff-4af9660141e2ded70b95a2dfb41eebbeR386

[2019-08-21 06:34] #8983 closed

[2019-08-21 16:03] olejorgenb commented on #7218
Tensorflow have an implementation that gives a file like object for gc blobs: https://www.tensorflow.org/api_docs/python/tf/io/gfile/GFile

Not sure if it actually streams or not though.

[2019-08-21 16:15] car12o commented on #8294
@sduskis I agree with you seems like an emulator problem, is the emulator code open source? If so could you please provide me the repo?

I have exatly the same stacktrace as @gronnbeck
[code]

[2019-08-21 16:24] #9024 closed

[2019-08-21 17:16] rvandegrift opened #9071 "Asset: Code examples are incomplete"
The code examples for cloud asset inventory are currently just marked TODO, without any examples of the expected payloads.  See the "Example" section at [1].

This looks different from #5448 since it's an example, but feel free to close if I'm wrong.

Ross

[1] - https://googleapis.dev/python/cloudasset/latest/gapic/v1/api.html#google.cloud.asset_v1.AssetServiceClient.export_assets

[2019-08-21 17:18] shahanaz873 commented on #7804
@Maxime-Champain I am trying to download some from google cloud, so I used same code which you used in setup.py for google-cloud-storage.

[setup.py.txt](https://github.com/googleapis/google-cloud-python/files/3526472/setup.py.txt)

I am getting below error while building exe, can you please help me

cx_Freeze.freezer.ConfigError: path spec must be a list or tuple of length two

[2019-08-21 18:27] #9044 closed

[2019-08-21 19:55] tswast commented on #8142
https://github.com/googleapis/google-cloud-python/pull/9064 actually handles both these cases, as it filters the schema by column name and re-orders the schema to match the DataFrame column order.

[2019-08-21 23:59] tswast opened #9074 "BigQuery: LoadJobConfig.schema setter should accept None"
**Is your feature request related to a problem? Please describe.**

There is no (public) way to unset a schema after you've set one. Even though the client doesn't distinguish between unset schema and an empty schema, the backend API does.

 **Describe the solution you'd like**

When the set schema is `None`, remove the whole schema property from the underlying `_properties`.

 **Describe alternat

[2019-08-22 00:05] tswast commented on #9074
@plamut Should be a pretty small change to `LoadJobConfig`'s `@schema.setter` in `job.py`. Let me know if you can't get to this, and I'll try to tackle it tomorrow.

[2019-08-22 05:01] northtree commented on #8726
@tseaver Thanks for the simplify example. Please fix two typos.

[2019-08-22 06:39] yifeil opened #9075 "Firestore: LICENSE file is missing"
There's no LICENSE file under firestore/
(There's one for every other library)

[2019-08-22 11:05] plamut commented on #9074
@tswast On it, prioritizing to unblock the PR #9064.

[2019-08-22 14:41] #8646 closed

[2019-08-22 15:01] #9074 closed

[2019-08-22 16:34] alexf-a opened #9079 "Python API list_blobs returning empty iterator."
If I run the following Python code:
[code]
I end up with an empty iterator for blobs. I was running the same code two weeks ago, with the same values for gcs_project, bucket_name and gcs_path and was getting results. I have been double-checking this for days, and am really hoping it's some silly mistake I'm overlooking.

Currently running Python 3.6.5, google-cloud-storage 1.18.0.

Thanks,

Alex

[2019-08-22 17:00] tswast commented on #9074
Just so we don't lose the additional context from https://github.com/googleapis/google-cloud-python/pull/9064#discussion_r316722575, I'm copying my comment here as well.

Since there is already a partial schema set, we have to unset it somehow. Otherwise, the number of columns in the load job does not match the number of columns in the file.

It turns out, setting an empty schema has a different b

[2019-08-22 17:43] tswast commented on #9079
Can you double-check that the user / service account you are using to authenticate with has the right IAM permissions to list objects on that bucket?

[2019-08-22 17:58] tswast commented on #5572
FYI: https://github.com/googleapis/google-cloud-python/pull/9064 and https://github.com/googleapis/google-cloud-python/pull/9049 are changing the index behavior, as a schema will be automatically populated in more cases now.

We might actually have a need to explicitly *add* indexes to the table. Currently, it's inconsistent when an index will be added and when not. It depends on if the schema is

[2019-08-22 18:01] tswast commented on #9042
Added https://github.com/googleapis/google-cloud-python/issues/5572#issuecomment-524012299 as another blocker. If we don't provide a way to explicitly serializing index(es), we actually lose some functionality.

[2019-08-22 18:05] tswast commented on #5572
Follow-up from https://github.com/googleapis/google-cloud-python/pull/9064

When this feature is added,

- [ ] Update `test_load_table_from_dataframe` snippets to show overriding schema for columns whose types can't be autodetected. Explicitly add indexes to the partial schema as well.

[2019-08-22 18:14] #7951 closed

[2019-08-22 19:35] #8140 closed

[2019-08-22 19:45] alexf-a commented on #9079
It's a service account with Storage Admin role...I'm assuming that includes listing objects? It was also working before, and I never changed any of the permissions.

[2019-08-22 20:01] #4553 closed

[2019-08-22 21:13] tswast opened #9081 "BigQuery: Run lint and black on samples/ directory"
We should make sure our code samples are linted, too.

I think we'll get a few flake8 errors for unused imports. Since we always want to show `from google.cloud import bigquery`, we can make those lines into comments when they are otherwise unnecessary.

Also, I forget if we use the templated files for `noxfile.py`. This update may need to be made at the synthtool templates repo if so.

[2019-08-22 21:17] tswast opened #9082 "BigQuery: Add support for sheets ranges"
GoogleSheetsOptions now has a (beta) property called `range`. This allows you to query a sheet other than the first sheet or query a specific subset of a sheet.

https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#GoogleSheetsOptions

This option applies to

- [ ] external table definitions in query jobs
- [ ] creating a table with an external table definition

[2019-08-22 21:19] tswast commented on #9082
cc @shollyman @d-torres Just learned about this BQ -> Sheets range feature from Jeff. Probably need to add it to our backlog for the other langs, too.

[2019-08-23 00:18] tswast commented on #9079
Storage Admin should be sufficient. Maybe @frankyn knows of other things to check?

[2019-08-23 03:51] tswast commented on #9042
Thought: Do we want to 100% deprecate the `to_parquet` code path? What if someone explicitly chooses to use an autodetected schema? Maybe if autodetect is set, we don't warn if we weren't able to determine a full schema? That'd certainly be more explicit that "hey we're gonna try to detect some data types based on the actual values, but we might not get it exactly how you want" if we warned unless

[2019-08-23 08:37] plamut commented on #9042
Hmm ... I would still find it useful to be warned about any potential problems with schema detection, even I explicitly instruct the method to detect it for me. Suppressing the warning might make me think that everything went well behind the scenes.

How about having an `ignore_schema_warnings` option to explicitly ignore any warnings? With an explanation that if an explicit schema is provided (an

[2019-08-23 08:52] frankyn commented on #9079
Hi @alexf-a,
The flow is a bit confusing. If there are no objects in the bucket without the delimiter, e.g. "/", then the iterator will return an empty list. In `blobs.prefixes`, you'll find a simulated subdirectories one level down from simulated root "/".

I added an example below and a companion example which recursively walks through using the simulated file system.

### Example
For example, I

[2019-08-23 09:10] frankyn commented on #9065
Hi @sbienkow,

I believe you're encountering common issue[1].

You're correct in saying "so is it not necessary to list the blobs in a bucket?". The code method `Client.get_bucket()`, makes a GET request for bucket metadata which the service account you're using doesn't have permission to access.

The replacement for not performing a GET request is to use `Client.bucket()`. The complete example is

[2019-08-23 14:48] alexf-a commented on #9079
Hey @frankyn, I actually tried the above and it still came up empty. Was double-checking the prefixes before I posted the issue too...wanted to make sure it wasn't a silly error like that first.

Thanks for responding, let me know if there's anything else I can try.

[2019-08-23 16:26] tswast commented on #9079
`list_blobs` doesn't actually make any API calls until you start iterating over it, so `num_results` won't be populated until you fetch at least the first page.

[2019-08-23 16:31] tswast commented on #9042
In a lot of cases, `to_parquet` works fine. It's just that we've been hit with a bunch of issues recently around missing struct support. I do wish we had a way to determine when that case might be hit without inspecting the actual values (slow!).

My thought with https://github.com/googleapis/google-cloud-python/issues/9042#issuecomment-524162283 is that there are still going to be times when you

[2019-08-23 16:41] tswast opened #9091 "BigQuery: [magics] if `destination_var` is set and an error occurs, save the QueryJob for further inspection"
**Is your feature request related to a problem? Please describe.**

When an error occurs, it's useful to have a QueryJob object to inspect the errors properties, as well as check for other details about the job that may have caused the failure. At the very least, a job ID is needed if one wants to file a support ticket about the failure.

 **Describe the solution you'd like**

As identified in htt

[2019-08-23 16:55] plamut commented on #9042
I am not that familiar what a "typical" use case is, but the scenario described above sounds plausible. And we can still mention the potential misdetection of schema in the "opt-in"' parameter's docstring.

[2019-08-23 17:10] plamut opened #9092 "BigQuery: Convert Sphinx-style docstrings to Google style"
Following the [comment thread](https://github.com/googleapis/google-cloud-python/pull/9067#discussion_r317214709) on another PR, it turned out that `job.py`, and possibly other modules as well, still use the Sphinx-style docstrings.

These docstrings should be converted to Google-style docstrings as the Python [coding style guideline](http://google.github.io/styleguide/pyguide.html#383-functions-a

[2019-08-23 17:15] tswast commented on #7530
There is discussion on internal bug 115694647 as well as public issue https://issuetracker.google.com/137168102 This issue affects all services.

There are cases where one of the API calls for a resumable upload get stuck and the upload cannot be continued. The client would need to start the upload from the beginning when such a failure happens, but currently does not due to retries being handled

[2019-08-23 17:57] tswast commented on #8342
Met with @shubha-rajan about this. Shubha is interested in this issue as a potential intern project.

(For some reason, I can't set the assignee)

[2019-08-23 22:10] tswast commented on #8143
Closed by #9067.

[2019-08-23 22:10] #8143 closed

[2019-08-24 00:19] tswast commented on #8142
FYI: https://github.com/googleapis/google-cloud-python/pull/9096 will affect this implementation. After getting the table schema, you'll have to filter out any columns not present in the dataframe.

If there are any columns in the dataframe that aren't present in the table, we have 2 options:

1. Fail. There's a schema mismatch.
2. Attempt to update the table schema to add the new columns before u

[2019-08-24 08:16] ramuta opened #9097 "Datastore: Cannot connect the local datastore emulator with a Python 3 GAE app"
Hi,

I'm trying to connect a **localhost** GAE Python 3 web app with a **localhost** Datastore Emulator, but I'm receiving the credentials error:

[code]

The Datastore Emulator is successfully running which I can confirm by going to the emulator localhost port (8081) via a browser and receiving the "Ok" response.

The env vars are set up via the env.yaml file, although there should be an alternat

[2019-08-24 16:48] diiiego83 opened #9099 "WRITER is not a valid ACL permission for a blob"
#### Environment details

Name: Python
Version: 3.7.4

Name: google-cloud-storage
Version: 1.18.0
Summary: Google Cloud Storage API client library
Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
Author: Google LLC
Author-email: googleapis-packages@google.com
License: Apache 2.0
Location: c:\users\..........\python\python37-32\lib\site-packages
Requires: google-auth, google-re

[2019-08-26 05:05] AReshma opened #9100 "A proper documentation is missing"
I could not find a proper documentation of google resources. For example, how to get the details of each resource types, how to tag resources etc. It would be good, if we have one

[2019-08-26 12:23] IlyaFaer commented on #9099
@diiiego83, you're trying to set WRITER permission to a blob, right? Take a look at [docs](https://cloud.google.com/storage/docs/access-control/lists#permissions), please. I think, it's your case: `WRITER ... You cannot apply this permission to objects.`

[2019-08-26 13:12] helloworldkr opened #9101 "How to get cloud speech api response in python if I only have the operation name?"
**scenario**:
I am sending a long speech recognition file for speech recognition.
operation = client.long_running_recognize(config, audio)
operation_name = operation._operation.name

**Issue**
There is another file where I have to use operation_name (returned by google speech API) to get back the response again.

I tried get_operation method of the "Long-Running Operations Client":

from google.ap

[2019-08-26 19:19] Emar-Kar commented on #7827
@tswast yeah, sure. I’ll take a look tomorrow.

[2019-08-26 19:36] woodpav opened #9102 "PubSub: ImportError after deploying Cloud Function with python3.7"
#### Environment details

I am deploying a pubsub function to python3.7 with the serverless framework using `"serverless-google-cloudfunctions": "^2.3.2"` and `"serverless-python-requirements": "^4.3.0"`.

I am using `google-cloud-pubsub==0.45.0` in `requirements.txt`

#### Steps to reproduce

  1. Run `serverless deploy` and I get the error.

#### My Code

I am deploying a Google Cloud function t

[2019-08-26 19:45] mwytock opened #9103 "Pub/Sub: Send modify_ack_deadline requests in chunks"
Currently leaser is limited in total number of messages (<2000?) which is a problem for use cases with many small messages.

Same issue was solved in nodejs library here: https://github.com/googleapis/nodejs-pubsub/pull/65

[2019-08-26 20:35] diiiego83 commented on #9099
yep i know i cannot do it but the library gave me the option to set it from
the acl of a blob object. In theory the ACL object of a blob object should
not have the property for set a write permission.

On Mon, Aug 26, 2019 at 1:23 PM Gurov Ilya <notifications@github.com> wrote:

[2019-08-26 21:31] anguillanneuf opened #9104 "Videointelligence: No output is written to GCS"
The video intelligence API supposedly lets us write video classification results to GCS, but after trying it out with the [appropriate permissions](https://github.com/googleapis/google-cloud-python/blob/master/videointelligence/google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto#L753-L768), I see no objects written to GCS.

### Environment details

1. Video Intelligence API
2.

[2019-08-26 23:06] tswast opened #9105 "BigQuery: preview / list_rows command for %%bigquery Jupyter magic"
**Is your feature request related to a problem? Please describe.**

When you want to get all rows in a table (or just a preview), it's more expensive to run a `SELECT *` query than the alternatives.

 **Describe the solution you'd like**

* [x] If there is no whitespace in the query text, assume it's a table ID. Call `list_rows` (possibly with the BigQuery Storage API option, if that's set).
* [x]

[2019-08-27 00:03] tswast opened #9107 "Storage: Document public bucket property"
**Is your feature request related to a problem? Please describe.**

I have a Blob object and I want to know what Bucket it belongs to.

 **Describe the solution you'd like**

Convert `Blob.bucket` into a real `@property` so that it can be documented. It should be a read-only property, as the bucket it part of the identifier for the blob, so seems best if it's immutable.

 **Describe alternatives y

[2019-08-27 02:01] helloworldkr commented on #9101
Got the answer to it on GoogleCloudPlatform/python-docs-samples GitHub repo:

`from google.cloud import speech
client = speech.SpeechClient()

from google.api_core import operations_v1
api = operations_v1.OperationsClient(client.transport.channel)
name = ...
response = api.get_operation(name)`

Thanks to @nnegrey

[Link](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/2361) to th

[2019-08-27 02:01] #9101 closed

[2019-08-27 13:39] plamut commented on #9103
@mwytock Thanks for the report!

By default the streaming pull is configured to lease a maximum of 100 messages, or 100 MiB of messages, whichever limit is hit first.
https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/types.py#L71-L73

Any messages received on top of that are put in a waiting buffer, and the message stream gets paused. Sending 100 or less A

[2019-08-27 14:27] mwytock commented on #9103
Hi Peter,

Yes you are right - 100 ack IDs is no problem, this only happens when you
modify flow control to allow more simultaneous messages in flight, 2000+.

Perhaps this isn't the intended use for the async pull code path; we
actually worked around the issue by switching to sync pull and managing the
the modify ack request messages ourselves which seems to work a lot better.
If that's the case

[2019-08-27 14:45] plamut commented on #9103
@mwytock Thanks for the quick response.

It seems that the defaults are fine then, but I agree that if a user can customize this to a high number, the resulting error message should be more descriptive, or the error should not occur at all.

Since the max request size limit is imposed by the backend, a quick way around it would indeed be raising an error if the `FlowControl.max_messages` is set to

[2019-08-27 15:45] mwytock commented on #9103
Sounds right to me!

On a more subjective note, I would add that throwing an error if
max_messages is too high is probably the right thing to do. We later
discovered other info in the docs
(https://cloud.google.com/pubsub/docs/pull "StreamingPull:
Dealing with large backlogs of small messages") which convinced us that we
should switch away from StreamingPull and to use Pull for our use case.

On T

[2019-08-27 15:59] plamut commented on #9103
I will definitely put this up for consideration to the product team. There is a threshold beyond which the `max_messages` setting is not really sensible anymore for practical purposes, although on the other hand, consistency in client implementations across different languages is also high on the list.

It's good we now have this issue documented, thus thanks again for reporting it!

[2019-08-27 17:41] plamut commented on #8142
@tswast Sounds like something to update in the PR?

[2019-08-27 19:03] tritone opened #9114 "Storage: field missing from HMAC key API"
The field "id" is not exposed in the HMACKeyMetadata object, but it's required to implement the sample code as it's been written in other languages. I confirmed with @frankyn that this was an oversight and have a change that fixes the issue.

[2019-08-27 20:04] tritone opened #9118 "Storage: test_blob has many failures"
I made a minor change to hmac_key.py and am seeing many seemingly unrelated test failures in tests/unit/test_blob.py . Example failure:

[code]

Full failures are here: https://source.cloud.google.com/results/invocations/96b74148-63f7-4f77-8475-a539bbad1285/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log

After conferring with @frankyn I think this is caused

[2019-08-27 22:13] #9118 closed, assigned to crwilcox

[2019-08-27 22:32] #9107 closed, assigned to tseaver

[2019-08-28 14:53] #9114 closed, assigned to tritone

[2019-08-28 15:02] PoradaKev opened #9135 "Bigquery Storage DeadlineExceeded Error when reading to_dataframe"
Trying to run the following code, I get an error:
[code]
[code]

I use conda, windows 10

Here is the list of packages installed:
[code]

Didn't manage to find a solution, any help would be appreciated

[2019-08-28 21:44] sbienkow commented on #9065
Hey,

Sorry wasn't checking my mail. This solved my issue - it works perfectly. I wish I've found it somewhere in the docs / snippets.

Thank you.

[2019-08-29 03:47] adelespinasse commented on #7554
The documentation is very confusing. If it's not possible to pass the option to `DocumentReference.update`, the documentation should say so. (It's also hard to find how to create the option argument; the documentation says it's a `WriteOption` but doesn't link to anything about that type.)

I wanted to use `update` with `write_option(exists=False)` so that I could use the path notation for merging

[2019-08-29 05:46] Medical-Tribune-DevOpsTeam opened #9142 "Storage: TypeError in `storage.Client()`"
Hello.
I have been confronted with `TypeError' in trying 'storage.Client()' on Google App Engine (Python3.7 standard environment).

The cord was like this:
[code]
I pushed this app with `gcloud app deploy` command, and send post request to the proper URL.
Then, I faced the following error:
[code]

Though I tried to downgrade to `google-cloud-storage==1.18.0`, it didn't work either.

I would apprec

[2019-08-29 05:53] Medical-Tribune-DevOpsTeam commented on #9142
My `requirements.txt` is like this:
[code]

[2019-08-29 09:20] PoradaKev commented on #9135
[code]

Reinstalled all the necessary packages through conda-forge. But I still get the same error
[code]

Btw, now I cannot update google-cloud-bigquery-storage to 0.7.0 through conda as inconsistencies are found

[2019-08-29 10:04] PoradaKev commented on #9135
[code]

here is what I get trying to install 0.7.0 version of cloud-bigquery-storage. May be it matters

[2019-08-29 15:20] plamut commented on #9102
@woodpav I was able to successfully deploy a function with the following `requirements.txt`:
[code]
And with the following import at the top of the `main.py` file:
[code]

Since `grpcio` is not a pure Python package (it's partially written in Cython), did you try to use the settings described under the "Cross compiling" section in the docs, if using a non-Linux system?  https://serverless.com/plug

[2019-08-29 16:14] tseaver commented on #9142
You have an out-of-date version of `google-cloud-core` installed somehow. `google-cloud-storage 1.19.0` requires `google-cloud-core >= 1.0.3`, while `google-cloud-storage 1.18.0` requires `google-cloud-core >= 1.0.0`.

The [Python3 AppEngine docs](https://cloud.google.com/appengine/docs/standard/python3/specifying-dependencies) recommend using `pip freeze` in your local virtual environment to gene

[2019-08-29 16:14] #9142 closed

[2019-08-29 16:18] tseaver commented on #9102
I just answered a similar question in #9142 about AppEngine, where the `requirements.txt` file on AppEngine is not processed for dependencies during deployment: maybe deployment to Cloud Functions uses a similar approach?

The [AppEngine docs](https://cloud.google.com/appengine/docs/standard/python3/specifying-dependencies) suggest using `pip freeze` in the local virtual environment to specify a c

[2019-08-29 17:38] PoradaKev commented on #9135
Just tried to execute the same piece of code from another PC (windows laptop). all the packages are installed from conda-forge. I get the same error
[code]

[2019-08-29 17:43] #8990 closed

[2019-08-29 18:31] hemantpandey17 opened #9146 "Datastore: unable to add enteries to from GCP compute instance."
Getting the following error:

ERROR: { Error: Request had insufficient authentication scopes.
   at Http2CallStream.call.on (/home/node_modules/@grpc/grpc-js/build/src/client.js:96:45)
   at Http2CallStream.emit (events.js:187:15)
   at process.nextTick (/home/node_modules/@grpc/grpc-js/build/src/call-stream.js:71:22)
   at process._tickCallback (internal/process/next_tick.js:61:11)
 code: 7,
 det

[2019-08-29 19:54] tswast commented on #9135
I'm not able to reproduce locally (on a Mac).

[code]

Output:

[code]

Note: This was a known issue with packages before 0.5.0, where the deadline was set to a default of 20 seconds. As of https://github.com/googleapis/google-cloud-python/pull/8030 the default deadline is 1 day.

About how long does the download last before you get the DeadlineExceeded error?

[2019-08-29 20:22] woodpav commented on #9102
This is a problem with `python-serverless-requirements` and I should call out https://github.com/UnitedIncome/serverless-python-requirements/issues/272.

[Here is a link to my solution](https://stackoverflow.com/a/57717271/6946673).

[2019-08-29 20:22] #9102 closed

[2019-08-29 23:02] busunkim96 commented on #9146
It looks like you don't have sufficient permissions. How are you doing authentication?

Did you mean to file this against the [NodeJS client](https://github.com/googleapis/nodejs-datastore)?

[2019-08-30 07:42] PoradaKev commented on #9135
The execution of all code before this line takes about 1 second
bq_storage = reader.to_dataframe(session)

The downloading fails immediately after I run the abovementioned line

[2019-08-30 09:05] Patil2099 commented on #9092
@plamut @IlyaFaer  Can I work on this?

[2019-08-30 09:17] IlyaFaer commented on #9092
@Patil2099, I've already wrote raw script for massive docs updating. [Pushed](https://github.com/q-logic/google-cloud-python/pull/49) internally just a few minutes ago - was gonna show to @tswast and ask about how we should deal with this changes, and maybe there is something to do "by the way"

[2019-08-30 09:18] IlyaFaer commented on #9092
@Patil2099, I've already wrote raw script for massive docs updating. Pushed internally just a few minutes ago - was gonna show to @tswast and ask about how we should deal with this changes, and maybe there is something to do "by the way"

[2019-08-30 09:28] Patil2099 commented on #9092
@iilyafaer Maybe I can help in that .

[2019-08-30 10:37] plamut commented on #9092
@IlyaFaer I've already done quite some work on this in BigQuery, but if we are going to use a mass update script, I'll put that aside. Thanks for mentioning the script here!

@Patil2099 I am fine with you working on this, just please coordinate with @IlyaFaer to not unnecessarily repeat any work.

[2019-08-30 12:27] PoradaKev commented on #9135
Managed to make it work.
I tried to run the same code today on another linux machine (JupyterHub on VM) and everything worked. So I tried to deleted all the package on my windows PC which were not installed on linux one, I also updated all the google libs. And now it works on both machines.

Still cannot understand what caused the problem, so below is the list of packages I have now, may be it wil

[2019-08-30 16:40] plamut commented on #8788
@tswast Any updates on this, or are we still awaiting information?

[2019-08-30 16:57] plamut commented on #7827
@Emar-Kar Are you currently working on this? Asking to not unnecessarily duplicate the effort.

[2019-08-30 17:02] Emar-Kar commented on #7827
@plamut Yeah, thank you for asking. I’m working on it.

[2019-08-30 17:04] plamut commented on #7827
@Emar-Kar Great, thanks. I updated the assignee for better visibility.

[2019-08-30 17:28] #7693 closed

[2019-08-30 18:09] bansalrajat commented on #7433
Are there any updates on this issue ?

[2019-08-30 20:31] dizcology opened #9150 "Vision: Operation returned from 'purge_product: raises TypeError in 'done'."
#### Environment details

1. Vision API, Product Search, Purge Product
2. OSX
3. 2.7.14
4. google-cloud-vision 0.39.0

#### Steps to reproduce

  1. Run tests or either of the purge product samples from this PR: https://github.com/GoogleCloudPlatform/python-docs-samples/pull/2349
  1. The LRO fails at `operation.done()`

#### Code example

see PR linked above.

#### Stack trace
[code]

[2019-08-30 21:14] tseaver commented on #9150
@dizcology At the point that the exception is raised, can you print out the repr of `self.operation.response`?

[2019-08-30 21:27] tswast commented on #9135
There's definitely a 0.7.0 Windows package for google-cloud-bigquery-storage https://anaconda.org/conda-forge/google-cloud-bigquery-storage-core

My guess is that perhaps there is a version conflict which is preventing 0.7.0 from being installed.

[2019-08-30 21:28] tswast commented on #9135
You might try explicitly installing this version by specifying it in the installation command:

[code]

[2019-08-30 21:33] PoradaKev commented on #9135
I have 0.7.0 version installed on Windows and it's not working. The last screenshot is from Linux pc, where everything works with v 0.6.0

On Windows I tried both 0.6.0 and 0.7.0, neither works.

Sorry for the misunderstanding

[2019-08-31 17:38] dizcology commented on #9150
Thanks @tseaver

When the exception is raised I got this:

[code]

it might be that the library was trying to convert the response to type Empty?

[2019-08-31 23:24] lgomez opened #9155 "BigQuery, FIrestore: Script aborts when importing anything from 'google.cloud'."
Hi, I'm posting here because I cannot get more information about the error and have given up looking online. Hoping someone has seen something similar. This does not happen with other packages. The example below is all that I need to do to replicate but, in addition to these steps, I can confirm that I have a few scripts the do work but stop working as soon as I attempt to inport from `google.clou

[2019-09-01 18:38] benbro commented on #4684
Related:
https://issuetracker.google.com/issues/111828021

[2019-09-02 14:42] yiga2 commented on #8714
`BATCH` would be good if the guaranteed execution window was way less than 24hr - as it is unfortunately now. Not an option if you have a stricter SLA with your own customers e.g. pipeline in 1hr.

@ralbertazzi if job execution - not insertion - fails, implement your own backoff retries by submitting a new job - see https://github.com/googleapis/google-cloud-python/issues/5555

[2019-09-02 15:12] yiga2 commented on #5555
No much traction but I wonder if an optional arg `resubmit_on_quota_hit` in the `result()` function would not be ideal altogether.
Downside (is it ?) is that it would change the underlying job properties like `jobId`

[2019-09-03 00:09] bradleyhurley opened #9157 "Storage: Bad URL in Error Message from 'ensure_signed_credentials"."
https://github.com/googleapis/google-cloud-python/blob/5a81ea3b1a2de36e8f2cc33d8cca6cc82ff4f994/storage/google/cloud/storage/_signing.py#L34

The URL shown in the AttributionError that is thrown from `ensure_signed_credentials` when the credentials are unsigned is invalid and takes you to a "Sorry this page does not exist yet." page.

Here is the URL from the attribution error for easy reference:

[2019-09-03 03:27] tswast commented on #9135
Bummer. Thanks for trying both versions on Windows. I'll try to reproduce on my Windows machine when I get the chance.

[2019-09-03 05:44] shahanaz873 opened #9158 "Storage: 403 Forbidden when downloading blob."
I am trying to download a file from cloud bucket storage, I have both read and write access to the bucket but I am not able to download any files, below is my code and error

    os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = 'client_secret.json'
    storage_client = storage.Client()
    bucket = storage_client.get_bucket(bucket_name)
    blob = bucket.blob(source_blob_name)
    blob.download_to_f

[2019-09-03 14:08] ekor15 opened #9163 "Storage: Blob.generate_signed_url with response_disposition and version v4 fails"
Hi,

I use Blob.generated_signed_url for download links to files.
It works fine but if I use the response_disposition param it fails to download the file with error code `SignatureDoesNotMatch`

Simple code sample

[code]

Looking at the docs, I saw that v4 is in beta. I then used v2 and it works.

Env:
* mac 10.14.6 (18G87)
* google-cloud-storage==1.16.1
* python 3.7.1

If you need more informati

[2019-09-03 19:22] tseaver commented on #9150
@dizcology Looks to me like the [`.proto` for the `PurgeProducts` RPC](https://github.com/googleapis/googleapis/blob/abea8146b9561efd7c408b4d2095f87509fb5e78/google/cloud/vision/v1/product_search_service.proto#L336-L346) is missing the comment markup to indicate the type of the response.  E.g., see the [`.proto` for the `ImportProductSets` RPC](https://github.com/googleapis/googleapis/blob/abea814

[2019-09-03 19:30] tseaver commented on #9155
@lgomez I can't reproduce this in a fresh virtual environment with `google-cloud-bigquery` and `google-cloud-firestore` installed.

[code]

Can you show the output of `pip list` in your virtual environment?

[2019-09-03 19:33] tseaver commented on #9158
@shahanaz873 The 403 Forbidden response means that the service account you are using does not have permission to download the blob.  Can you check the roles assigned to that account in the Google Cloud console, and paste them here?

[2019-09-03 19:53] dizcology commented on #9150
Thanks @tseaver - does this mean that the comment markup is used in GAPIC library generation for specifying the message types?

[2019-09-03 20:02] tseaver commented on #9163
I can reproduce in a fresh virtual environment using the code from [this gist](https://gist.github.com/tseaver/890382530e1114d71780eea67cf9a7e4) for `repro_gcp_9163.py`.

[code]

[2019-09-03 20:07] tseaver commented on #9157
The [correct URL](https://googleapis.dev/python/google-api-core/latest/auth.html#setting-up-a-service-account).

[2019-09-03 20:11] tseaver commented on #9157
@bradleyhurley Thanks for the report!

[2019-09-03 20:24] tseaver commented on #9150
@dizcology I'm not sure:  the code which actually parses all that out (in repo https://github.com/googleapis/gapic-generator/) is too arcane for me to read.

[2019-09-03 20:28] tseaver commented on #9158
In your particular case, you are trying to use the bucket named `test`.  In Cloud Storage, [all buckets live in a single namespace](https://cloud.google.com/storage/docs/naming#requirements), which likely means that the `test` bucket exists and belongs to another project / user.

Please feel free to follow up if this answer isn't sufficient.

[2019-09-03 20:28] #9158 closed

[2019-09-03 20:56] #9157 closed

[2019-09-04 01:52] jhallard commented on #9146
Hi OP, I think you need to add permissions to access datastore while creating the Virtual Machine. When you are on the "Create Instance" page, try selecting this option

![image](https://user-images.githubusercontent.com/7551586/64219819-ed5b6580-ce7b-11e9-8fa8-a9473ececf9e.png)

"Enable" the Cloud Datastore permission.

[2019-09-04 04:52] shahanaz873 commented on #9158
Hi @tseaver, As i see the object access is mentioned as "Not Public" is this the reason I am not able to download anything from the bucket?
These are the roles assigned to my account
Storage Admin
Storage Legacy Bucket Reader

[2019-09-04 05:07] shahanaz873 opened #9171 "Refresh Token is null after authenticating user account"
Hi, I am trying to restrict the download and upload of files in google storage by using user authentication. I am using below code to authenticate the user account and getting the account details to connect with the cloud. But while getting the details from the account , refresh token is coming null. Do I need to configure anything to get refresh token.

    appflow = flow.InstalledAppFlow.from_cl

[2019-09-04 09:01] shahanaz873 commented on #9158
I have changed the json file with other service account where I have full access and I am able to download the files.
 Thank you @tseaver

[2019-09-04 14:04] tseaver commented on #9146
@hemantpandey17 Please follow-up / reopen if @jhallard's suggestion doesn't resolve your issue.

[2019-09-04 14:04] #9146 closed

[2019-09-04 14:06] tseaver commented on #9150
@lukesneeringer, @busunkim96 Can one of you confirm that the comment in the `.proto` file is used to generate the response type for LRO-returning RPCs?

[2019-09-04 14:12] tseaver commented on #9171
@shahanaz873 I'm afraid this report is out of scope for the `google-cloud-*` Python libraries.  Can you please [open the issue against the `google-auth-library-python-oauthlib` repo](https://github.com/googleapis/google-auth-library-python-oauthlib/issues/new) instead?

[2019-09-04 14:12] #9171 closed

[2019-09-04 16:24] tseaver commented on #9163
@jkwlui, @frankyn Can one of you see how our handling of the `response_disposition` argument is incorrect for V4 signing?

[2019-09-04 18:15] #5909 closed

[2019-09-04 18:22] lgomez commented on #9155
@tseaver Hi. Thank you for looking into this. I ended up firing up a docker container locally and mapping the necessary volumes from my local to work around this issue. That worked since I have more control over the environment.

I suspect my issue has to do with the fact that Homebrew is not yet up to par with the latest OSX Beta (it warns us when trying to install certain packages - like Python)

[2019-09-04 18:22] #9155 closed

[2019-09-04 19:19] anguillanneuf commented on #9104
Fixed and verified! It works now.

[2019-09-04 19:19] #9104 closed

[2019-09-04 20:12] #8142 closed

[2019-09-04 20:35] Blodhgard commented on #9097
I had the same problem.
I solved it setting the
`client.base_url = "http://localhost:8081"`

The url is the DATASTORE_HOST variable returned in the emulator initialization

[2019-09-04 21:04] tswast opened #9174 "BigQuery: `max_results` is ignored if `bqstorage_client` is used in `to_dataframe` or `to_arrow`"
#### Steps to reproduce

1. Call `list_rows` with `max_results` set.
2. Call `to_dataframe` or `to_arrow`.
3. Observe that more rows were returned than were requested.

#### Code example

[code]

#### Output

[code]

#### Possible fixes

1. (Harder) Keep track of how many rows you've downloaded in a BQ Storage session so far. Once you've downloaded enough rows, close all streams (is this even poss

[2019-09-04 21:09] plamut commented on #9174
@tswast After implementing the second option, would it make sense to spend some time on researching the option 1? It might turn out that streams _can_ be closed at the right time reliably.

[2019-09-04 21:11] tswast commented on #9174
I worry that the additional logic of closing streams may be more complicated than it's worth, but it's worth investigating to see if it's possible.

[2019-09-04 22:54] alexcwatt opened #9175 "Tasks: Update queue, "x-goog-request-params" header"
#### Environment details

Running google-cloud-tasks==1.2.1.

#### Steps to reproduce

  1. Create a Cloud Tasks queue.
  2. Attempt to update the queue using the update_queue method with a dictionary to specify the queue name.
  3. Observe exception: google.api_core.exceptions.InvalidArgument: 400 "x-goog-request-params" header is either missing or misformatted. "x-goog-request-params" must conta

[2019-09-05 00:23] tseaver commented on #9175
@alexcwatt I'm not sure of the semantics of calling the [`UpdateQueue` API](https://cloud.google.com/tasks/docs/reference/rpc/google.cloud.tasks.v2beta3#google.cloud.tasks.v2beta3.UpdateQueueRequest) passing a `Queue` instance without any attributes set other than `name`.  Normally, the point of calling the API would be to actually update one or more of the other writable attributes (`rate_limits`

[2019-09-05 02:13] alexcwatt commented on #9175
@tseaver Yeah, this evening I was just trying to update the retry policy for a queue I had created earlier. For the sake of pinpointing the precise issue and noting that the exception isn't a function of any of the other arguments, and only has to do with the dictionary, I created the example that I did, but in my usage of the API earlier I used `update_queue` to modify the retry policy.

Prior to

[2019-09-05 05:00] HemangChothani commented on #9097
@ramuta  I have tested it , The  problem is variables which you have defined in env.yaml file that you need  set as a environment environment variables for that you need to parse your file and use `os.environ[DATASTORE_HOST]=localhost:8081`  or you need to use `export  DATASTORE_HOST=localhost:8081` or set define in` /etc/environment.`
 file .

[2019-09-05 09:40] haibin opened #9177 "BigQuery: Support WHERE IN or WHERE ANY clause in DB-API"
BigQuery DB-API throws the following error when I pass parameters to the Cursor.execute() for WHERE IN or WHERE ANY clause. Any idea if it will be supported?

[code]

[2019-09-05 10:40] plamut commented on #9177
@haibin Thanks for the report!

Would you mind providing more details, such as the BigQuery client version, and a reproducible code sample, if possible? That and any other info would be really helpful with investigating the cause, thanks!

[2019-09-05 12:43] yoshi-automation opened #9181 "Synthesis failed for language"
Hello! Autosynth couldn't regenerate language. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/4461c6e1-1327-4f04-a8be-cce729c1a0c3).

[2019-09-05 12:43] yoshi-automation opened #9182 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/4461c6e1-1327-4f04-a8be-cce729c1a0c3).

[2019-09-05 14:26] haibin commented on #9177
google-cloud-bigquery version: 1.19.0

[code]

Output

[code]

[2019-09-05 15:43] ramuta commented on #9097
Great, thanks guys! 🙂

I added this chunk of code just above the `app = Flask(__name__)` line:

[code]

[2019-09-05 15:43] #9097 closed

[2019-09-05 19:04] tseaver commented on #9003
@marcopashkov I believe this issue will be fixed in the upcoming 0.4.0 release of `google-resumable-media-python`:  could you check against the current `master` of that [repository](https://github.com/googleapis/google-resumable-media-python).

[2019-09-05 19:21] tseaver commented on #9182
@beccasaurus Can you point to the source of the missing `gen-manifest`?  ISTM that it should be added to the artman image if we are going to rely on it.

[2019-09-05 19:22] tseaver commented on #9181
@beccasaurus Like #9182, this one fails due to a missing `gen-manifest` in the artman image.

[2019-09-06 05:44] fhoffa commented on #9177
Alternative approach in the meantime:

[code]
- https://stackoverflow.com/a/57816326/132438

[2019-09-06 05:46] HemangChothani commented on #9003
@marcopashkov  The bug is related to `google-resumable-media` library.
While not working with the versions that you have mentioned, the issue has been resolved in the updated version of `google-resumable-media` which is going to be released soon.
When tested with `google-cloud-storage` >1.17.0 and the new version of `google-resumable-media` library, the function works fine with both, `brotli` comp

[2019-09-06 05:57] beccasaurus commented on #9181
Ah, we added `sample-tester` to the noxfile for running the sample test suite, but it's not installed by the time synth is run :'(

The [`gen-manifest`](https://sample-tester.readthedocs.io/en/latest/defining-tests/manifest-reference.html) command comes with `sample-tester`.

Can we add it to the Kokoro image?

----

... that said, I thought missing `gen-manifest` would print a warning but continu

[2019-09-06 06:02] beccasaurus commented on #9181
[code]

Some recent changes made to the GAPIC config yesterday (as part of the migration to annotations):
https://github.com/googleapis/googleapis/commit/541c015395812b3d4de53cc2141eecefd08ebed2

This seems related. This breaks on regular artman generation.

[2019-09-06 06:08] beccasaurus commented on #9182
[code]
**synthtool/gcp/gapic_generator.py** :
[code]

Locally, when I tried running without `gen-manifest` _(which is shipped with `sample-tester`)_ it raised a `subprocess.CalledProcessError`. Looks like an uncaught `FileNotFoundError` instead.

I should try to reproduce and then update that `except`

See this comment on Language PR _(also failed, different reason afaict)_ for a little extra cont

[2019-09-06 06:17] HemangChothani commented on #9163
@tseaver I think this issue is  related to nodejs issue [682](https://github.com/googleapis/nodejs-storage/issues/682) and they said that feature is not currently supported by back-end.

[2019-09-06 08:30] #9174 closed

[2019-09-06 08:30] #9042 closed

[2019-09-06 09:09] haibin opened #9185 "BigQuery: DB-API is very slow"
DB-API is very slow.

google-cloud-bigquery version: 1.19.0

[code]
Output
[code]

[2019-09-06 12:37] yoshi-automation commented on #9181
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d9f7b3e4-0380-4b7f-ae58-dc06066daabf).

[2019-09-06 12:37] yoshi-automation opened #9186 "Synthesis failed for phishingprotection"
Hello! Autosynth couldn't regenerate phishingprotection. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d9f7b3e4-0380-4b7f-ae58-dc06066daabf).

[2019-09-06 12:38] yoshi-automation commented on #9182
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d9f7b3e4-0380-4b7f-ae58-dc06066daabf).

[2019-09-06 18:50] #7827 closed

[2019-09-06 21:37] j3pic commented on #4395
Adding the following line to my project's requirements.txt allowed google-cloud-bigquery to load:

    google-api-core==1.14.2

If a PyPI package depends on another one, that dependency should be listed in the first package's requirements.txt so that the dependency gets installed. It should not be the responsibility of downstream apps to figure out what *your* library's dependencies are.

[2019-09-06 23:02] william-silversmith opened #9188 "Storage: google-resumable-media==0.4.0 Breaks Gzipped Downloads"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types

Google Storage blob.py

2. OS type and version

Ubuntu 14.04

3. Python version and virtual environment information: `python --version`

Python 3.6.8

4. google-cloud-<service> version:  `pip show google-<service>` or `pip freeze`

google-

[2019-09-06 23:06] sambcom commented on #8726
How do you get the rows from your different queries? Won't this block on job.result() What am I missing?

[2019-09-06 23:26] j3pic commented on #8268
I have found that this requirements.txt works on a fresh Ubuntu 18.04 install:

    google-cloud-bigquery==1.19.0
    google-cloud-core==1.0.3

By "works" I mean you can create a BigQuery Client object and obtain a Table object from it.

[2019-09-07 00:05] j3pic commented on #4395
Actually, all the above does is allow the pip3 install command to succeed. The resulting installation suffers from https://github.com/googleapis/google-cloud-python/issues/8268. I posted the solution in the comments of that bug (google-cloud-core==1.0.3, not google-api-core).

The documentation at https://googleapis.dev/python/bigquery/latest/index.html claims that all you have to do to get this l

[2019-09-07 12:42] yoshi-automation commented on #9181
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8fc3c172-e71b-4887-a48a-c66f0ada2a8b).

[2019-09-07 12:42] yoshi-automation commented on #9186
Autosynth is still having trouble generating phishingprotection. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8fc3c172-e71b-4887-a48a-c66f0ada2a8b).

[2019-09-07 12:42] yoshi-automation commented on #9182
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8fc3c172-e71b-4887-a48a-c66f0ada2a8b).

[2019-09-08 00:09] hacker-h opened #15451 "make redirect host configurable"
I am using docker for windows which runs the docker daemon inside a Hyper-V VM.
This library is used inside a docker container and for authentication purposes the corresponding port is exposed to my machine. This way I can access the launched WSGI server on localhost on my machine, however the server inside the docker container does only listen on the ip behind localhost resolved within the contai

[2019-09-08 12:40] yoshi-automation commented on #9181
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c84b4c83-2410-482d-a327-7140f4d7a512).

[2019-09-08 12:40] yoshi-automation commented on #9182
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c84b4c83-2410-482d-a327-7140f4d7a512).

[2019-09-08 12:40] yoshi-automation commented on #9186
Autosynth is still having trouble generating phishingprotection. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c84b4c83-2410-482d-a327-7140f4d7a512).

[2019-09-08 14:56] plamut commented on #9174
There exists the [FinalizeStream](https://cloud.google.com/bigquery/docs/reference/storage/rpc/google.cloud.bigquery.storage.v1beta1#google.cloud.bigquery.storage.v1beta1.BigQueryStorage.FinalizeStream) method, but it not a silver bullet:
- Cancelling a stream does not delete it, but just causes that no additional data is assigned to the stream. As per docs, the client must still continue reading

[2019-09-08 16:21] plamut commented on #9177
I can confirm that the issue is reproducible.

[2019-09-09 07:46] Maxime-Champain commented on #7804
@shahanaz873 This cx_freeze config is made for python 3.7 i don't know which version you use. Also, there are lot of code that you may don't need like
[code]

[2019-09-09 10:23] brunoais commented on #5111
@tseaver If I do as you mention, I get:

What I'm doing is translatable to this code:

[code]

How do I solve this, then?

[2019-09-09 12:41] yoshi-automation commented on #9181
Autosynth is still having trouble generating language. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ab7b5a1b-88ed-47b1-8a52-063380a9f251).

[2019-09-09 12:41] yoshi-automation commented on #9186
Autosynth is still having trouble generating phishingprotection. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ab7b5a1b-88ed-47b1-8a52-063380a9f251).

[2019-09-09 12:41] yoshi-automation commented on #9182
Autosynth is still having trouble generating speech. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ab7b5a1b-88ed-47b1-8a52-063380a9f251).

[2019-09-09 13:31] yiga2 commented on #6434
@twast any traction on this ? We have implemented our own resubmit logic for loads but we are now hitting a lot of quota limits on queries too.
Looks like `job.result()` could be the place to resubmit (and change the jobId).

[2019-09-09 15:33] dizcology commented on #9150
Some more information:

Comparing with the import product set call (which also returns an LRO), I am seeing different `_result_type` on the LRO.

For import product set:
[code]

Whereas for purge product:
[code]

What I am having a hard time tracking down is how and where this `_result_type` is set.

[2019-09-09 16:30] tseaver commented on #9188
@william-silversmith Can you achieve what you need to reloading the blob's metadata?  E.g.:

[code]

At that point, the `content_encoding` property will be populated from the server.

[2019-09-09 16:52] william-silversmith commented on #9188
Unfortunately, this strategy would significantly reduce IO performance.
Google support worked with us a few months ago to figure out how to reduce
the number of requests (hundreds of millions of files). Originally we were
using get_blob which generated an additional request.

We're handling a petabyte of 3D image data with a random access
requirement. We do this by chunking the image into a regula

[2019-09-09 16:55] busunkim96 commented on #9150
@dizcology Would you expect the response to be `Empty` here, or should it be one of the Responses?

[2019-09-09 17:17] tswast opened #9190 "BigQuery: add `parent_job` parameter to `list_jobs`"
**Is your feature request related to a problem? Please describe.**

With the scripting feature (alpha), a single query job can initiate several sub-jobs. These job resources are not embedded in the initial job. Instead, you must populate the `parentJobId` query parameter to the [BigQuery jobs list API](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/list).

 **Describe the solution y

[2019-09-09 17:29] tswast commented on #9185
Peter, can you look into this? 1 minute versus 1 second is quite the difference!

I don't know why this would be the case, as the DB-API should be creating a QueryJob behind the scenes, but maybe there's something we're doing wrong to wait for results (such as sleeping between requests or something)?

[2019-09-09 17:35] busunkim96 commented on #9150
It looks like the return types are set in the GAPIC config:

https://github.com/googleapis/googleapis/blob/abea8146b9561efd7c408b4d2095f87509fb5e78/google/cloud/vision/v1/vision_gapic.yaml#L547-L566

There is also a way to specify return type via proto annotations using `operation_info`, but it doesn't look like the Vision protos do this.

I see other APIs with [similar configurations for LROs](ht

[2019-09-09 20:42] tseaver commented on #9188
@william-silversmith Thanks for clarifying.  One issue here is that we would want to have the header-driven `content_encoding` value also available for chunked downloads, so we would need to rework your patch a bit.

@crwilcox, @frankyn Please chime in.

[2019-09-09 20:44] JesseLovelace opened #9191 "Update MultiRegional and Regional to Standard"
Previously, we implemented the concept of "Location Type" to move the concept of bucket location away from storage class. It is no longer considered correct to use "MultiRegional" or "Regional" as a storage class, instead those should be location types.

As such, we need to update every instance of the "MultiRegional" and "Regional" storage in samples, library documentation, and tests to use "Stan

[2019-09-09 23:22] busunkim96 commented on #9181
Definitely. See [Gerrit PR](https://devrel-review.git.corp.google.com/c/cloud/libraries/tools/autosynth/+/131210).

When I run synth locally without sample-tester installed and I get the same error: `FileNotFoundError: [Errno 2] No such file or directory: 'gen-manifest': 'gen-manifest'`.   I opened https://github.com/googleapis/synthtool/pull/286.

[2019-09-09 23:39] tswast commented on #6434
Since this requires retrying multiple API requests (not just the "get query results" request that is actually raising the error), this feature request will require careful design work before we can proceed with implementation.

CC @crwilcox

[2019-09-10 00:16] nonamestreet opened #9192 "Error Reporting: 503 DeadlineExceeded errors with gevent's patching."
The following code gives 503 deadline exceed error. It works if "monkey.patch_all()" is removed. I was testing locally.

Enviroment:
error_reporting.__version__=='0.32.1'
gevent.__version__=='1.4.0'
Python 3.7.3

[code]

[code]

[2019-09-10 08:44] TrainTravel opened #9194 "BigQuery: BadRequest exception (Invalid project ID)"
I'm sure the destination table of this select query exists.
And I've seen same issue which has already been closed in corresponding nodejs client library. https://github.com/googleapis/nodejs-bigquery/issues/348

#### Environment details

- OS type and version: Google Cloud Function

- Python version and virtual environment information: Cloud Function python37 runtime

- google-cloud-<service>:

1

[2019-09-10 09:35] plamut commented on #9185
This is indeed quite a difference, will check.

[2019-09-10 11:35] plamut commented on #9185
If using a cursor directly, one should set the `arraysize` attribute on it:
[code]
The [default value](https://www.python.org/dev/peps/pep-0249/#arraysize) is 1 as specified in PEP 249, meaning that if the attribute is not explicitly set, only one row at a time will be fetched by default. There is also a [note on this](https://www.python.org/dev/peps/pep-0249/#fetchall) in `fetchall()` description

[2019-09-10 12:42] yoshi-automation commented on #9181
Autosynth passed, closing! :green_heart:

[2019-09-10 12:42] #9181 closed

[2019-09-10 12:42] yoshi-automation commented on #9186
Autosynth passed, closing! :green_heart:

[2019-09-10 12:42] #9186 closed

[2019-09-10 12:42] yoshi-automation commented on #9182
Autosynth passed, closing! :green_heart:

[2019-09-10 12:42] #9182 closed

[2019-09-10 13:07] plamut commented on #9194
@TrainTravel The provided project ID `train_chen` contains an underscore. Could you please try with the dash, i.e. `train-chen` to see if the error still persists?

[2019-09-10 16:59] tswast commented on #9185
I don't recall the reason. Possibly, I just didn't see the size parameter?

[2019-09-10 17:02] tswast commented on #9185
Oh, now I think I remember. I think it's because we call `list_rows` before anyone even gets to make a call to `fetchmany()`. We'd have to implement our own pagination (multiple calls to `list_rows`, manually populating the pagination token each time) to support the size parameter (which is possible, but was more than I was willing to do at the time).

[2019-09-10 17:17] tswast commented on #9190
There are also some new scripting-related stats (https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#jobstatistics). For example, `numChildJobs` and `parentJobId`.

[2019-09-10 17:19] tseaver commented on #9192
I believe that compatibility between `gevent` and `grpc` requires some extra setup.  From the [PR which landed that compatibility in grpc](https://github.com/grpc/grpc/pull/14561):

[code]

[2019-09-10 18:57] jacques- opened #9203 "BigQuery: "Failed to parse JSON: No active field found" when using load_table_from_json()"
On Mac (Python 3.7.4 & google-cloud-bigquery==1.19.0) I'm using the following code:

[code]
I get:

When I do exactly the same thing using the bq command it works as expected:
[code]

[2019-09-10 19:09] #9177 closed

[2019-09-11 03:48] TrainTravel commented on #9194
Actually, that's my dataset id "train-chen'
The fully qualified identifier is `gen-dw-dev.train-chen.<my table name>`
And the logging showed that select query was sent like this, but somehow google's code just cannot catch the correct project_id from the identifier.

[2019-09-11 07:27] simonvanderveldt opened #9206 "BigQuery: load_table_from_dataframe fails on datetime64 column used for partitioning, saying it's an INTEGER"
Versions:
[code]
We were initially using 1.18.0 but I noticed #9044 was included in 1.19.0 so we tried that as well, but it made no difference.

We're using a pandas dataframe read from parquet, example data would be
[code]

`df.dtypes` shows:
[code]

When trying to load this into BigQuery using `load_table_from_dataframe()` and setting the             job config's `time_partitioning` to `bigquery

[2019-09-11 08:51] timocb opened #9207 "BigQuery: Field 'bar' is specified as REPEATED in provided schema which does not match REQUIRED as specified in the file."
I have an issue where it is not possible to upload a Pandas DataFrame with a repeated field to BigQuery. It is very much related to an issue I've had earlier: https://github.com/googleapis/google-cloud-python/issues/8093

Since that has been resolved (by being able to specify the schema), I've created a separate issue. I also couldn't find issues related to REPEATED fields.

#### Environment detai

[2019-09-11 10:35] plamut commented on #9194
Hmm, now that's interesting. I can't see the reason why `train-chen` would be translated to `train_chen` that triggers the error.

Can you 100% confirm that `self.project_id`, `self.dataset_id`, and `self.temp_table_id` all have expected values when the query is built and sent to the backend?

It would also be great to have a self-contained runnable example, as there might be a glitch in the surro

[2019-09-11 13:46] QuantumInformation commented on #5801
What was the solution here, would it help my issue?

https://github.com/GoogleCloudPlatform/functions-framework-nodejs/issues/87

[2019-09-11 18:24] frankyn commented on #5879
Thanks @tseaver, IIUC, updating retry strategy for download and upload blob can help with GCF time limits when the VM is unscheduled.

How are retry defaults defined in the GCS Python library? Do they mainly come from api_core and do you have examples of best practices with modifying retry strategy in other Python manual libraries?

@tritone is a new GCS DPE who will be taking a look at fixing it.

[2019-09-11 18:25] plamut commented on #9185
As discussed on the PR, setting the default page size to `None` (to let the backend choose it) is preferred to merely documenting the `arraysize` attribute, thus this is not a docs type issue anymore.

[2019-09-11 19:03] tseaver commented on #9192
@nonamestreet Please follow up / reopen if my example doesn't solve the issue for you.

[2019-09-11 19:03] #9192 closed

[2019-09-11 19:06] plamut commented on #9207
I can confirm, managed to reproduce the issue as described (thanks for the good self-contained example!).

[2019-09-11 19:23] plamut commented on #9203
Confirmed, I was able to reproduce the issue with the posted code (thanks @jacques- ).

[2019-09-11 20:08] plamut commented on #9203
Actually, the type of `test_ndjson` is incorrect. It should be an iterable of dictionaries ([docs](https://googleapis.github.io/google-cloud-python/latest/bigquery/generated/google.cloud.bigquery.client.Client.html#google.cloud.bigquery.client.Client.load_table_from_json)). Changing `test_ndjson` to the following will work:
[code]

@tswast I suppose it is reasonable to expect that passing in a JSO

[2019-09-11 21:04] jacobg opened #15868 "Document cache implementation so it can be implemented in other languages"
Is it feasible to document a specification on the cache implementation so that it can implemented in other languages,  which would enable projects that have services in multiple languages, e.g., Node.js, Java, etc.?

For example, the popular `gstore-node` is trying to achieve some of the same goals as `pthon-ndb`, but in Javascript. It supports defining schema model, and currently has its own uniq

[2019-09-12 07:37] michael-wilg-8 opened #9215 "PubSub: [Documentation] Publisher Futures result TimeOutError documentation is not matched with the code"
PubSub: Publisher Futures Result TimeOutError
Environment: Python 3.6.9

* [Documentation](https://googleapis.dev/python/pubsub/latest/publisher/api/futures.html): `TimeoutError – If the request times out.` The link is point to `https://python.readthedocs.io/en/latest/library/exceptions.html#TimeoutError`
* [Code](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pu

[2019-09-12 07:56] plamut commented on #9215
@michael-wilg-8 Thanks for that!

[2019-09-13 07:06] markvincze commented on #5539
@heisen273 thanks for the reply!

I was trying with a proper query, and not the Preview tab. (I also tried to query with the SDK from Python.)

Just to show more concretely what I'm doing. I have this table in BQ:

![image](https://user-images.githubusercontent.com/1122274/64843391-473ef680-d605-11e9-9eb5-ebe09ef7fdbc.png)

Then this is the actual code I'm running:

[code]

Which prints success at

[2019-09-13 07:21] markvincze commented on #5539
Update: I tried some of the queries that weren't working yesterday, and now they are returning the results properly.

So it seems that it takes even more time than half an hour for the results be available. [This answer](https://stackoverflow.com/a/50006560/974733) suggests that this is related to partitioning, and that it can take several hours for the result to be partitioned.

[2019-09-13 07:30] markvincze commented on #5539
Okay, I think I might have found a solution.

In the "Streaming into ingestion-time partitioned tables" section on [this page](https://cloud.google.com/bigquery/streaming-data-into-bigquery) there is the suggestion that the partition can be explicitly specified with the syntax `mydataset.table$20170301`.
If I do this (so replace `table_ref = dataset_ref.table('payload_logs')` with `dataset_ref.tab

[2019-09-13 19:35] tseaver commented on #8554
Tagging @lukesneeringer in case he can resolve the question.

[2019-09-13 19:45] lopezvit opened #9228 "BigQuery: load_table_from_dataframe function fails with Unable to determine type of column"
#### Environment details

1. Debian GNU/Linux 9 (stretch)
2. Python 3.5.3
3. google-cloud-bigquery version:  1.19.0

#### Steps to reproduce

  1. Create a pandas dataframe from csv with text columns
  2. Execute the function `load_table_from_dataframe`

#### Code example

[code]

#### Stack trace
[code]

I think that the column type extractor should use the function `is_string_dtype` from `pandas

[2019-09-13 21:47] anguillanneuf commented on #7199
@kir-titievsky The publisher hangs for at most 600s/10mins [by default](https://github.com/googleapis/google-cloud-python/blob/7572488283cb3c54374101de251571e86fa51a5d/pubsub/google/cloud/pubsub_v1/gapic/publisher_client_config.py#L35), then it exits with the following Deadline Exceeded exception:
[code]
Service Account Unavailable could warrant a retry. One such case is when we enable a service a

[2019-09-14 11:51] plamut commented on #9228
@lopezvit Thanks for the report!

A column whose type cannot be automatically determined issues a warning (the first few lines of the output), but that should not result in a 404 error. It appears that the target dataset does not exist, or there might be a typo in its name.

Can you please check that the dataset exists and its name is indeed correct?

#### Column type warning
It is generally recom

[2019-09-14 14:55] plamut commented on #9206
Thanks for the report @simonvanderveldt , I was able to reproduce the issue.

It can be fixed by providing an explicit schema:

[code]

---

FWIW, autodetecting schema for new tables has recently been scheduled for deprecation, since it turned out that autodetection is unreliable in too many cases. One can see the pending deprecation warning by switching on these warnings at the top of the script

[2019-09-14 20:36] arlobryer commented on #8294
Hi @tseaver, @tobioboye, @anguillanneuf - just wondering if there's any update on this issue? I've just encountered the same problem and stumbled across this thread trying to figure out what's going on.
Also saw this which seems like the same issue - https://groups.google.com/forum/#!msg/cloud-pubsub-discuss/6SHdoTn16Po/8a09QaGvDwAJ (I see @anguillanneuf is the last person to comment there).

[2019-09-16 10:37] swcoding opened #9232 "Automl: InvalidArgument: 400 when passing ml_use_column_spec_id"
#### Environment details
python version: 3.6

#### What I want to do
I was trying to use python API to set the __data_split__ column. I found __ml_use_column_spec_id__ in the Automl documents but I don't know how to pass the argument correctly.

#### Here's my code

[code]
#### Error
[code]

There was nothing wrong when I only passed target_column_spec_id in tables_dataset_metadata. However, it th

[2019-09-16 12:57] kamalaboulhosn commented on #8554
I talked to the implementor of this feature and it appears there shouldn't be a reason that the method has its visibility disabled.

[2019-09-16 13:31] plamut commented on #9207
I suspect this is a backend issue.

The following archive contains a temp parquet file that is uploaded to the backend (GitHub does not allow attaching `.parquet` files directly): [iss_9207_upload.parquet.zip](https://github.com/googleapis/google-cloud-python/files/3616423/iss_9207_upload.parquet.zip)

Inspecting the file reveals the following:
[code]
The schema in the file is correct, but I suspe

[2019-09-16 15:04] tseaver commented on #8554
@kamalaboulhosn Can you ask the implementor create a CL to update the GAPIC configuration accordingly?

[2019-09-16 16:16] #9191 closed

[2019-09-16 16:27] tseaver commented on #9232
@beccasaurus Can you provide some guidance here?

[2019-09-16 16:48] beccasaurus commented on #9232
/cc @sirtorry @lwander

[2019-09-16 17:08] tseaver commented on #7530
@tswast I'm not sure how we are supposed to deal with the `410 Gone` response from within a client library:  that is the exact *opposite* of a transient error code:  it is supposed to mean that the resource is utterly destroyed / never existed.

The ["gsutil Retry  Handling Strategy" doc](https://cloud.google.com/storage/docs/gsutil/addlhelp/RetryHandlingStrategy) does not include 410 as one of th

[2019-09-16 17:27] lwander commented on #9232
@swcoding, are you providing the name `'data_split'` as the value for `ml_use_column_spec_id`? You need to provide the column's ID, not literal name for this to work.

An easier solution might be to use the new client wrapper, which accepts a column name (e.g. "data_split") as an argument for the test/train column (ml_use). See the docs here: https://googleapis.github.io/google-cloud-python/latest

[2019-09-16 17:29] tseaver commented on #9232
@swcoding Please follow-up / reopen if @lwander's response doesn't answer your question completely.

[2019-09-16 17:29] #9232 closed

[2019-09-16 17:51] busunkim96 commented on #9150
This has been resolved with a change in the Backend.

[2019-09-16 17:51] #9150 closed

[2019-09-16 21:02] anguillanneuf commented on #7199
@plamut @pradn Can we update the client lib so it fails fast with bad credentials?

For instance, when using bad credentials with the Go client library, it exits almost immediately with an error message like this:

[code]

[2019-09-16 21:25] plamut commented on #7199
There was a [pull request](7687) that addressed that (my very first one :upside_down_face: ), but it was closed, because the fix relied on the error message (not robust in long term).

A proper fix would be to change the backend to return a different error code with non-existing credentials (e.g. 403). Some emails have been exchanged, it was briefly discussed on the PR itself, but in the end the i

[2019-09-16 21:30] kir-titievsky commented on #7199
Is there an internal feature request bug to support this?

[2019-09-16 21:42] max-sixty commented on #7534
FYI [here](https://github.com/googleapis/google-cloud-python/tree/master/firestore#example-usage) the docs are behind rather than ahead—first run I have on firestore using the example from the Readme:  `DeprecationWarning: 'Collection.get' is deprecated:  please use 'Collection.stream' instead.`

[2019-09-16 21:47] tseaver commented on #7534
@max-sixty Thanks for the report: that sample needs updating.

[2019-09-16 22:14] jkwlui opened #9236 "Storage: hmac operations should support userProject"
Even though as it stands currently, the field is ignored by the GCS backend, as noted in the JSON API documentation. However, there is expectation that the field will start to be respected in later roll-outs.

[2019-09-17 05:34] HemangChothani commented on #9003
`google-resumable-media 0.4.0` released, feel free to reopen if new release of `google-resumable-media`  doesn't solve your issue completely.

[2019-09-17 05:34] #9003 closed

[2019-09-17 06:06] jagthebeetle commented on #9135
I'm able to reproduce this on Windows 10 as well.

From scratch, I did:
conda create --name test python=3.6
conda activate test
pip install google-cloud-bigquery google-cloud-bigquery-storage pandas fastavro
python test.py

I tried inspecting session.expire_time (since I see a ReadSession is supposed to have one). Both its fields are set to 0, but this seems to be the case on my mac as well (which

[2019-09-17 08:08] lopezvit commented on #9228
Thank you, it does solve my problem. I wasn't aware of the auto-detecting being deprecated.
It causes me a mixed feelings, because it just means that in the future, developers have to make extra effort defining the schema, but of course, it will mean a safer implementation.
**Could it be possible to create a small tool that could infer the schema and print it in the console output?** That way it c

[2019-09-17 08:19] plamut commented on #9081
It appears that snippets are already linted. Black already runs on them, while the flake8 check needs to be extended to the `docs/samples` directory:

[code]

Noxfiles are auto-generated AFAIK, yes, thus the change needs to be made in the synthool repo.

[2019-09-17 09:22] plamut commented on #9228
It causes me a mixed feelings, because it just means that in the future, developers have to make extra effort defining the schema, but of course, it will mean a safer implementation.

No worries, it is a fairly recent change. It would indeed be convenient if the schema could always be reliably autodetected, but it turned out that in practice, this is not always the case, unfortunately.

For existi

[2019-09-17 09:26] plamut commented on #7199
@kir-titievsky I don't have insight into that, unfortunately. It might have been created back then, but I don't know its tracker ID, if any,

[2019-09-17 09:45] timocb commented on #9207
@plamut Is this also the case when using `pyarrow`?

From [this comment](https://github.com/googleapis/google-cloud-python/issues/8142#issuecomment-519188354) I got the idea that `fastparquet` and `pyarrow` provide similar functionality and can be used interchangeably.

[2019-09-17 10:01] plamut commented on #9207
@timocb Yes, I reproduced the issue with `pyarrow` installed (the BigQuery client used `pyarrow` to create a parquet file).

It seems that the generated parquet file that gets uploaded to the backend is correct, but the backend incorrectly determines that the schema provided does not match the schema in the uploaded file.

[2019-09-17 13:37] timocb commented on #9207
@plamut Thanks for confirming. That workaround was indeed what I used!

[2019-09-17 14:20] frankyn commented on #9188
@crwilcox reverted changes and releasing a new version to unblock this issue: https://github.com/googleapis/google-resumable-media-python/pulls

Reassigning to him.

[2019-09-17 15:18] itroulli commented on #9135
I am also receiving the same error when trying to run this [documentation Python sample](https://cloud.google.com/bigquery/docs/reference/storage/samples#bigquerystorage_quickstart-python) on a Windows machine while it runs without issues on Linux.

The exact traceback:
[code]

[2019-09-17 16:49] crwilcox commented on #9188
Hi @william-silversmith I have released v0.4.1 that backs out this change.

Due to the way we have pinned this package within google-cloud-storage, we are rethinking the way we make this change to avoid disrupting folks using existing libraries.

[2019-09-17 16:51] #9188 closed

[2019-09-17 17:11] william-silversmith commented on #9188
Thank you very much!

[2019-09-17 18:14] cwbeitel commented on #4713
@sduskis I can help implement this if you can provide me a little guidance. Can provide a rough sketch?

[2019-09-17 21:57] crwilcox opened #9241 "BigQuery, Storage: Release patch versions of older releases to restrict range of 'google-resumable-media'."
Existing versions of `google-cloud-storage` and `google-cloud-bigquery` use an unrestricted version of `google-resumable-media`. In order to allow making incompatible changes we should create a version range, not just a minimum version. Do this back 1 year.
Specifier should be `< 0.5.0dev`

# google-cloud-storage
- [x] 1.19.0 -> 1.19.1
- [x] 1.18.0 -> 1.18.1
- [x] 1.17.0 -> 1.17.1
- [x] 1.16.1 ->

[2019-09-17 22:16] crwilcox commented on #9241
Plan of Record

1)
[code]

2) update string in setup.py
[code]

3) update changelog
[code]

4) tag
[code]

5) push tag
[code]

[2019-09-17 23:09] crwilcox commented on #9241
Update, patched all GCS versions less than 1 year old.
BigQuery TODO

[2019-09-17 23:47] crwilcox commented on #9241
BigQuery (excepting current) complete.

[2019-09-18 14:16] sduskis commented on #4713
@cwbeitel  There's a lot that goes into this.  There's a Java implementation that would be similar, but I'm not sure how much it would help ([here](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/BulkMutationBatcher.java)).

Here are some constraints that I think are important:

1. Allow u

[2019-09-18 16:50] cwbeitel commented on #4713
@sduskis Yeah that's cool I hear those thoughts. Thanks for sharing the Java implementation, that's helpful. Looks like the PubSub python client [code](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1), e.g. the [published message batcher](https://github.com/googleapis/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/publisher/_batch/base.py)

[2019-09-18 17:24] tseaver opened #9247 "Storage: 'test_bucket_w_retention_period' systest flakes with 503."
From [this Kokoro failure](https://source.cloud.google.com/results/invocations/8547d348-ddb7-4c12-833b-fb1d29cfd929/targets/cloud-devrel%2Fclient-libraries%2Fgoogle-cloud-python%2Fpresubmit%2Fstorage/log):

[code]

[2019-09-18 17:27] tseaver commented on #9247
Similar to #6244, but with a new response code.

[2019-09-18 17:48] tvalentyn commented on #7907
+1, we should strengthen storage client to retry on retriable errors with a back-off, here is an example where `get_bucket()` call fails with exception upon receiving HTTP 500:
[code]
It would be a much nicer user experience if the client itself attempted a retry, instead of making it a responsibility of the caller. To work around current behavior, callers may implement indiscriminate retries with

[2019-09-18 18:59] #9247 closed

[2019-09-18 22:59] billyrrr opened #9250 "Firestore: Clarify documentation for '{Document,Collection}.on_snapshot'."
```on_snapshot``` defined in ```DocumentReference``` documentation is inconsistent with those of ```Watch``` and Product Documentation.

In ```DocumentReference``` documentation, we have

https://github.com/googleapis/google-cloud-python/blob/f890d2916e67e40dfbdfeb814d6b92fce9103f5b/firestore/google/cloud/firestore_v1/document.py#L503-L504

and

https://github.com/googleapis/google-cloud-python/bl

[2019-09-19 03:31] shollyman opened #9251 "BigQuery: expose CMEK functionality for ML models"
This request is to expose customer managed encryption key (CMEK) for BigQuery ML models.

It uses the same message (encryptionConfig) as is present on the rest interface
for managed tables, e.g. the expression of a related KMSKeyName.

ML models aren't instantiated via the API directly, but via CREATE MODEL sql query.
The CMEK functionality should be present in the API for other relevant mechanism

[2019-09-19 03:41] tommyyama2020 commented on #5411
@NeoTokyoNori  you might have json file in this? I have same issue here.

[2019-09-19 06:39] AivanF commented on #8933
Hi everyone!
I'm facing quite the same issue:

[code]

I have:
Anaconda Python 3.6
google-cloud-firestore==1.4.0
running on macOS Mojave 10.14.6

Some notable details:
1) Yesterday everything worked just fine.
2) When I connect through VPN (which is located in the same city) everything works fine.

But that doesn't reassure me because I need to run my code on a server, and I have certainty that su

[2019-09-19 07:45] enlelin commented on #9135
I could also reproduce the issue and it might be nice to have a fix as soon as possible. May I ask for an estimation time about the fix or some workaround that we can have by the moment?

[2019-09-19 08:58] johnbalvin commented on #3100
I had the same problem in another programming language(golang) but think this can work on this language too.

I had that error because I was using a credential file that was deleted on my project, so I just create another credential file, that that solved it

[2019-09-19 09:45] ashb commented on #8704
Is a single objects.inv not published anywhere anymore? We used this a lot in the Airflow docs from the various GCP hooks and operators.

[2019-09-19 11:46] qvik-olli opened #9252 "Pub/Sub: buffered messages delivered multiple times ignoring acknowledgment deadline"
I noticed a problem where buffered messages in pubsub library are delivered multiple times ignoring acknowledgment deadline. I have a subscription with acknowledgment deadline set to 5 minutes but messages are delivered multiple times to the same subscriber after about 30 seconds.

My code example starts a subscriber client with `max_messages` set to 1. When two messages are sent to the subscripti

[2019-09-19 15:55] plamut commented on #9194
@TrainTravel Did you manage to resolve the issue in the meantime, or is there anything that we could help?

If the issue still persists, a runnable example that reproduces the error would be a great help.

[2019-09-19 16:52] busunkim96 commented on #8704
@ashb, unfortunately there won't be a single objects.inv. Since the documentation is being published separately, each package has their own objects.inv.

`https://googleapis.dev/python/google-api-core/latest/objects.inv` will have all the objects for the package `google-api-core`. That will cover anything under `google.api_core`

Each of the package READMEs has links to the documentation. If you c

[2019-09-19 16:55] crwilcox commented on #9241
It looks like we need to ship a `1.20.1` as well with a restricted range. @tseaver can we plan to do this with your test changes?

[2019-09-19 21:58] TobKed commented on #8704
Hi @busunkim96. Thank you for information!
Recently was published updated documentation about GCP integration in Airflow:
https://airflow.readthedocs.io/en/latest/integration.html#gcp-google-cloud-platform
If it is be possible to generate list for these libraries and also for those which are not integrated yet it would be very, very helpful.

[2019-09-19 22:36] busunkim96 commented on #8704
@TobKed This is the full list:

[code]

[2019-09-19 22:36] #8704 closed

[2019-09-19 22:53] plamut commented on #9252
@qvik-olli Thanks for the detailed report!

This sounds as if the request(s) to modify the message acknowledge deadline do not arrive in time, and the backend re-sends the message. Can you check if the subscription's max ACK deadline is indeed set to 300 seconds (5 minutes), and not just to e.g. the reported 30 seconds because of a typo or something?

**Technical details:**
Received messages that

[2019-09-20 05:58] TobKed commented on #8704
Thank you very much @busunkim96. Great job!

[2019-09-20 06:54] qvik-olli commented on #9252
Thank you @plamut for your quick response. I'm sure about the ack deadline and I double-checked that it is 300 seconds (5 minutes).

You can forget what I said about 30 seconds. I did some further testing and it seems that there is some dynamic timeout that seems to be changing depending on how long does it take to process a batch of messages. This timeout seems to ignore ack deadline.

I did some

[2019-09-20 07:03] plamut commented on #9252
Interesting, I will try to run it today myself and see if I can reproduce it. I do not see anything apparent in the client itself, but I have not looked too deeply yet.

[2019-09-20 09:13] AETDDraper opened #9255 "Bigquery API UK dates"
So I am running a load job and the date format from the pythons DataFrame is turning into an integer. The date format is in UK Time. 01/01/1970 00:00:00

I have tried to transform it using pd.to_datetime(appended_data['DateOfBirth'],dayfirst=True,format='%d/%m/%Y %H:%M:%S', errors='coerce') which format it comes to: 1938-09-01 However bigquery will then put it in this integer 1012262400000

Any id

[2019-09-20 12:19] plamut commented on #9252
After experimenting with various things, I was not able to pinpoint the exact source of the issue (in the client at least).

It appears that if the [delay](https://gist.github.com/qvik-olli/0bfd4ace2d06def1675a76fbc20493e5#file-subscriber-py-L40) in the message handler is considerably shorter than 10 seconds, the issue is not reproducible. The probability of a duplicate message increases when the

[2019-09-20 15:02] plamut commented on #9255
@AETDDraper Thanks for the question.

This sounds like an issue with automatic types conversion when loading data from a dataframe to a new table. When loading the data, does your app provide an explicit schema for the "problematic" columns?

Something along the following lines:
[code]

FWIW, the provided schema does not need to list all columns, just those for which the type cannot be automatical

[2019-09-20 15:12] AETDDraper commented on #9255
This is the error I am now getting.

Traceback (most recent call last):
  File "/var/cache/tomcat/temp/interpreter-302728601229892001.tmp", line 89, in <module>
    client.load_table_from_dataframe(learners_append, table_ref,job_config=job_config).result()
  File "/usr/local/lib/python3.6/site-packages/google/cloud/bigquery/client.py", line 1519, in load_table_from_dataframe
    dataframe, job_con

[2019-09-20 15:21] plamut commented on #9255
Which BigQuery client version is this? It might be that your version does not support partial schemas, as support for this was only added recently. Specifying a full schema could help in this case.

BTW, would it be possible to provide a self-contained reproducible example of the code? That would be super useful, as right now I can only make educated guesses about the most probable cause.

Thanks

[2019-09-20 15:29] AETDDraper commented on #9255
Peter are you a Google Employee then yes because my work has a DSA with you.

my version is 1.17.0

[2019-09-20 15:50] plamut commented on #9255
Not an employee, I'm a contractor currently working on the Python client libraries.

[2019-09-20 16:47] kamalaboulhosn commented on #9252
I don't think this is a backend issue. Looking at some logs, it appears that the server is delivering the message based on its understanding of the ack deadline with no unexpected duplicates. I think there are two things at play here:

1. The client library sets the [ack deadline on the stream based on the 99th percentile ack latency](https://github.com/googleapis/google-cloud-python/blob/bd1cf0ee

[2019-09-20 17:25] plamut commented on #9252
Indeed, although the issue was reproducible even with these calls disabled. However, it appears that the topic ACK deadline is overridden even before pulling the messages start, i.e. when the stream is established.

Thanks for checking the backend logs, @kamalaboulhosn !

[2019-09-20 20:50] AETDDraper commented on #9255
Upgraded the pip install to 1.2 version. Still not working I have tried formatting with pd.to_datetime not working still going to integer and tried it without aswell with a TIMESTAMP.

Could I share a CSV example with you with the dates?

[2019-09-20 21:14] evanj opened #9259 "BigQuery: RowIterator is not an iterator, it is an Iterable"
RowIterator is not actually an Iterator, it is an Iterable. Either it should be an Iterator, or it should be renamed? At this point, but maybe `api_core.Iterator` could implement both Iterable and Iterator? Or maybe the documentation could specify this? This is very very minor, since most use will be in a `for` loop, so maybe this should be closed as "won't fix", but it did confuse me when trying

[2019-09-21 12:42] yoshi-automation opened #9263 "Synthesis failed for redis"
Hello! Autosynth couldn't regenerate redis. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d0e78ad2-2399-48d9-83ad-61dc6354ac1f).

[2019-09-22 12:40] yoshi-automation commented on #9263
Autosynth passed, closing! :green_heart:

[2019-09-22 12:40] #9263 closed

[2019-09-23 06:45] HemangChothani commented on #9259
@evanj  Utilize iterator properties returned with row data:
[code]
hope this information is helpful for you to get next_page_token.

[2019-09-23 07:49] PoradaKev commented on #9135
Hey! I have a simple temporary solution for this.

Specifying a 'timeout' parameter for .read_rows method resolves this issue.
So the following line needs to be changed from
reader = bqstorageclient.read_rows(position)
to
reader = bqstorageclient.read_rows(position, timeout = 1000)

[2019-09-23 09:01] olsgaard opened #9266 "Docs: Top-level redirects from RTD broken."
Where is the documentation for the Python Client library supposed to live?

# Latest missing from readthedocs
Given that documentation for "latest" versions of the python library no longer exist on readthedocs, are we to understand that read the docs is depricated as a home for documentation? [1] but you can still access "stable" [2], but now this does not give the reader confidence about if stabl

[2019-09-23 10:16] plamut commented on #9255
@AETDDraper A reproducible code example would be even better, but if not possible, a sample data would also be useful. Thanks!

[2019-09-23 10:24] plamut commented on #9206
@simonvanderveldt Just checking, did an explicit schema solve the issue for you? Or is it necessary to investigate this further? Thanks.

[2019-09-23 10:24] AETDDraper commented on #9255
Can I send via personal email?

Then I can share both?

Thanks

David

On Mon, 23 Sep 2019 at 11:16, Peter Lamut <notifications@github.com> wrote:

--
*David Draper*
Data and Technology Development Officer
E: ddraper@academiesenterprisetrust.org
M: 07551 671649
*“Things get done only if the data we gather can inform and inspire those
in a position to make a difference.”*

--

*Company and disclaim

[2019-09-23 12:42] evanj commented on #9259
Thanks I had figured that out. The problem is that in Python, the term "iterator" has a precise meaning: it is an object that you can use with the `next` function. See:

[2019-09-23 12:48] evanj commented on #9259
Yes thanks. That is basically equivalent to what I had done: `next(iter(iterator))`. The confusing part here is that Python has a precise definition of an "iterator": It is an object that supports `next`. RowIterator does not support that, hence Python produces the confusing error message: `RowIterator object is not an iterator`. I think this could be fixed, since `RowIterator` only supports itera

[2019-09-23 13:32] sumit-ql commented on #8544
I am not able to repro this issue with dataframe containing arrays only. Its not giving any exception.

i can see an exception when we use dict(STRUCT/RECORD) in dataframe.

@AETDDraper  Could you please provide a sample dataframe containing arrays which causes the error.

google-cloud-bigquery 1.20.0
pyarrow 0.14.0
pandas 0.25.1

[2019-09-23 13:34] HemangChothani commented on #9259
@evanj  Yes thanks for quick response, know about  an "iterator", The code sample is  to get the next_page_token as early as possible, class name `RowIterator` is a bit confusing, not sure about  change  or rename  the class name.

[2019-09-23 14:21] plamut commented on #9255
@AETDDraper Is the data sensitive in nature and should not be attached to this GitHub issue? Or by creating a GitHub gist? Only a handful of rows should probably suffice, since it's the columns and their types that matter.

If email is preferred, my address is "inbox AT MynameMysurname dotcom".

[2019-09-23 14:23] AETDDraper commented on #9255
It's personal information so would conflict. I have actually got round it
by converting to milli timestamp then converting back in BQ but surprised
it's doing this.

On Mon, 23 Sep 2019 at 15:21, Peter Lamut <notifications@github.com> wrote:

--
*David Draper*
Data and Technology Development Officer
E: ddraper@academiesenterprisetrust.org
M: 07551 671649
*“Things get done only if the data we gathe

[2019-09-23 14:42] dpinol opened #9267 "Translate: Provide alternative translations."
Hi,
I suggest the translation API to provide more than 1 translation, ideally with a confidence score.
Otherwise, when translating a single word the engine may to always guess the right meaning for polysemic words

thankds

[2019-09-23 15:51] simonvanderveldt commented on #9206
@plamut sorry, super busy with other stuff that's why I didn't get to this yet.

Using an explicit schema won't solve the issue for us since that will create an unmaintainable component for us (the code is used in a generic component used by users, which define the schema for the input data themselves).

So we don't want to/can't provide a schema in the code. We're using parquet files as input whi

[2019-09-23 16:54] oduvan commented on #5384
when I GOOGLE issue with GOOGLE package one of the first result is a GOOGLE Api repo issue, where the answer is "the question is submitted in a wrong place :)

[2019-09-23 17:14] W3Meyrick commented on #6039
+1 to this issue

[2019-09-23 17:37] tswast commented on #9206
@simonvanderveldt Are there any `object` dtype columns (e.g. for strings or NULL values) in the DataFrame you're providing? If so, the mapping you linked to (https://github.com/googleapis/google-cloud-python/blob/dce13268e9bdf2df6a3c7a2df6db3b8a1bb51f75/bigquery/google/cloud/bigquery/_pandas_helpers.py#L55) does not get used. Instead, the pandas `to_parquet` method is used, which we have less cont

[2019-09-23 20:32] tseaver commented on #9266
@olsgaard Thanks for the report.  A couple of things:

- There *is* not top-level client library any longer, only the libraries for the various APIs and a couple of libraries they use (`google-api-core` and `google-cloud-core`).  I agree that the top-level RTD pages should redirect to *somewhere* useful.
- The invalid signing error URL was fixed in PR #9164 (not yet released). (BTW, there is no `g

[2019-09-23 20:40] tseaver commented on #9267
@dpinol This repository manages the Python client library for the translate API, but isn't the correct place to make feature requests for that API (the back-end engineers don't see these issues).  Please file your request as specified on the [Translate API support page](https://cloud.google.com/translate/docs/getting-support#file_bugs_or_feature_requests).

[2019-09-23 20:40] #9267 closed

[2019-09-23 20:45] asokratis opened #9271 "BigQuery, Storage: Question on when to upgrade."
This is a general question related to Bigquery and Google Cloud Storage API I am currently using from this repository.

I am currently using the following versions in my requirements.txt
[code]

And I am currently using the above libraries in Python 2.

I am planning to upgrade my code to Python 3 as Python 2 is going to not be supported by the end of this year.

**However, at the same time, do I

[2019-09-23 20:55] tseaver commented on #9250
@billyrrr Thanks for the report.  The example for `Query.on_snapshot` is correct: https://github.com/googleapis/google-cloud-python/blob/e99396119bfa0bcddf8fc475a8e43ea70a36ad97/firestore/google/cloud/firestore_v1/query.py#L804-L806

while `Document.on_snapshot` and `Collection.on_snapshot` show invalid uses.  All three need to update the `callback` argument specification to show the three argumen

[2019-09-23 20:59] #9100 closed

[2019-09-23 21:43] anguillanneuf commented on #8294
@arlobryer @tobioboye @gronnbeck @clemens-smartparking @car12o Things are moving finally! Please expect an updated emulator in the `265.0.0` release of `gcloud sdk` on October 1.

Thanks for all your patience!

[2019-09-23 22:09] tswast commented on #9081
FYI: the `noxfile.py` template lives here: https://github.com/googleapis/synthtool/blob/master/synthtool/gcp/templates/python_library/noxfile.py.j2

[2019-09-24 06:56] tarrade opened #9276 "DLP: client does not work with TLS proxy."
#### Issue
I am using BigQuery and Storage Client ly for python behind a TLS proxy and everything is working fine. I tried the DLP Client lib for python in the same way and it is not working.

- question 1: is DLP Client lib for python working behind a proxy ? Nothing is mention in the documentation.

- question 2: is DLP Client lib for python working with TSL proxy (handsake with CA certificates)

[2019-09-24 10:59] simonvanderveldt commented on #9206
@tswast Yeah, we have two columns that are of dtype `object` (a list of all columns and their `dtype`s is in the description at the top), seems like you're right and that might be happening.

[2019-09-24 12:41] yoshi-automation opened #9281 "Synthesis failed for automl"
Hello! Autosynth couldn't regenerate automl. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/12d5e260-45bc-4522-9600-7fba078155c8).

[2019-09-24 12:41] yoshi-automation opened #9282 "Synthesis failed for translate"
Hello! Autosynth couldn't regenerate translate. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/12d5e260-45bc-4522-9600-7fba078155c8).

[2019-09-24 15:22] wojdziw opened #9283 "Passing in schema as JSON in the Python interface"
For example:
https://github.com/googleapis/google-cloud-python/blob/7ba0220ff9d0d68241baa863b3152c34dc9f7a1a/bigquery/docs/snippets.py#L289

It's frustrating that the schema is supposed to be constructed manually instead of passing it in straight from JSON.

[2019-09-24 15:25] #9283 closed

[2019-09-24 16:44] busunkim96 commented on #9281
This looks like a flake, will watch to see if it happens again tomorrow

[2019-09-24 16:56] busunkim96 commented on #9266
@olsgaard Thank you for the feedback. I agree that RTD should redirect to the current documentation. I am actively working on that redirect .The documentation for these clients originally lived on RTD, were redirected to point to GitHub pages, and now lives in googleapis.dev. The gh-pages -> googleapis.dev redirects are active, but the RTD -> googleapis.dev redirects are not.

The best place to ge

[2019-09-24 17:51] nuclearpinguin commented on #5884
Once can also follow hint from documentation and use `client_options`:
[code]
https://googleapis.dev/python/dataproc/latest/gapic/v1/api.html#google.cloud.dataproc_v1.ClusterControllerClient

[2019-09-24 22:59] HarvsG opened #9286 "Vision: leaking files when creating many instances of 'ImageAnnoatorClient'."
#### Environment details

1. Specify the API at the beginning of the title: Cloud-vision API
2. OS type and version. Ubuntu 18.04
3. Python version and virtual environment information: Python 3.6.4 :: Anaconda custom (64-bit)
4. google-cloud-<service> version: Name: google-cloud-vision Version: 0.39.0

#### Steps to reproduce

  1.  Iterate any function that calls vision.ImageAnnotatorClient.from_

[2019-09-25 02:33] ib2loud commented on #5349
@tseaver  This was the perfect fix for my similar situation. I didn't even realize I was calling the Client instance repeatedly. Thank you for the help.

[2019-09-25 03:07] busunkim96 opened #9288 "Requests documentation 404s"
The docs builds all currently fail as the Requests documentation is not available at https://2.python-requests.org/en/v2.7.0/. It appears the new home is https://requests.kennethreitz.org/en/master/

[2019-09-25 10:31] plamut commented on #9105
With #9170 merged, this issue can now be closed.

[2019-09-25 10:31] #9105 closed

[2019-09-25 10:32] olivier-heurtier-idemia commented on #3806
I still have this issue with Python 3.5 and pip 19.2.3. I'm installing sphinxcontrib packages and not Google modules.
Example:
[code]
The directory `test/sphinxcontrib` is cleared by the second installation.
(This is not specific to the sphinxcontrib-plantuml module, I tested also with others)

@theacodes, is it possible to reopen this issue?

[2019-09-25 11:02] plamut commented on #9255
Good to hear that a workaround exists!

It would still be beneficial to other user, if this could be addressed in the library itself, so when the sample data is available, I'll happily take a look at it.

[2019-09-25 11:23] olsgaard opened #9290 "Storage: download_as_string documentation says that it downloads a string, instead of bytes"
For google-cloud-storage, in the documentation for [`download_as_string()`](https://github.com/googleapis/google-cloud-python/blob/53d692517345979b2b4621872d76c1184c987b92/storage/google/cloud/storage/blob.py#L714) method on blobs, it says [on line 715](https://github.com/googleapis/google-cloud-python/blob/53d692517345979b2b4621872d76c1184c987b92/storage/google/cloud/storage/blob.py#L715):

[2019-09-25 12:47] yoshi-automation commented on #9281
Autosynth passed, closing! :green_heart:

[2019-09-25 12:47] #9281 closed

[2019-09-25 12:47] yoshi-automation commented on #9282
Autosynth passed, closing! :green_heart:

[2019-09-25 12:47] #9282 closed

[2019-09-25 13:56] HemangChothani commented on #9290
@tseaver is it ok to change method's name ,Please suggest.

[2019-09-25 14:25] plamut commented on #9206
@tswast I am experimenting with that, but there are quite a few moving parts.

I did notice that `pyarrow.Table` types are correct (in a limited test case), and it might work to use _that_ to fill in the missing types (if we send null values, the backend complains).

[2019-09-25 15:26] whydna commented on #4078
@theholy7 the first example you have there should work.

I agree with the other comments here that it would be nice to be able to make a blob public before the file is actually uploaded.

Otherwise, when using `create_resumable_upload_session()` to generate a signed URL that the client subsequently uploads to, the system needs double back after the client has completed the upload to make it public

[2019-09-25 15:48] theholy7 commented on #4078
@whydna I sorted it. Turns out I had a permissions problem... classic.

[2019-09-25 16:11] thoutenbos opened #9295 "Storage: pass predefinedDefaultObjectAcl on bucket creation"
**Is your feature request related to a problem? Please describe.**
In the Bucket creation API it's allowed to pass a query parameter "predefinedDefaultObjectAcl" to set the default object ACL in the creation call of the bucket. In the current implementation of this library it's not possible to set this query parameter as it is hardcoded to only the (required) project.

https://github.com/googleapi

[2019-09-25 16:17] tswast opened #9296 "BigQuery: Use multi-regional key path for BigQuery CMEK / encryption key system tests and samples"
BigQuery recommends using a multi-regional key for multi-regional data.

**Currently:**

[code]

**Desired:**

[code]

Note: Cloud KMS no longer allows making a encryption key public to `allAuthenticatedUsers` (probably for the best), so we'll need to get collect a list of project numbers offline so that we can add Encrypter/Decrypter permissions for `bq-{project_number}@bigquery-encryption.iam.gs

[2019-09-25 16:35] #9288 closed

[2019-09-25 16:54] tswast commented on #9207
I filed https://issuetracker.google.com/133415569 a while ago but closed it because I wasn't able to reproduce. Thanks for investigating further.

Seems that problem is when a parquet file specifies required and repeated at the same time?

[2019-09-25 17:14] plamut commented on #9207
It appears so, yes, as the things in the client look fine at the point when the parquet file is sent in an API request.

[2019-09-25 17:41] frankyn opened #9298 "Correct Retry Strategy in Python libraries"
Feature request to track work done to fix retry strategy issues in Python libraries.

Issues that have a workaround will be deduped against this bug as @crwilcox, @tritone and I organize the effort.

[2019-09-25 17:49] frankyn commented on #5879
We are working to correct the issues with Python libraries retry strategy and will continue to update on-going work in https://github.com/googleapis/google-cloud-python/issues/9298.

As stated by @tseaver, the workaround is the following:
[code]

Thank you for your patience.

[2019-09-25 17:49] #5879 closed

[2019-09-25 18:00] tseaver commented on #9295
@thoutenbos

Can you please clarify?  I'm unaware of any case where creating a bucket would leave the creating owner without the `storage.buckets.update` permission required to update the default object ACL.

[2019-09-25 18:02] tseaver commented on #9290
@HemangChothani We *cannot* change the method's name:  that would be a breaking change.  Note that we chose that method name explicitly for compatibility with the API of the AWS / S3 `boto` library.

We *can* update its docstring to indicate its actual semantics.

[2019-09-25 18:21] tseaver commented on #9286
@HarvsG Looking at `ImageAnnotatorClient.from_service_account_file`: https://github.com/googleapis/google-cloud-python/blob/bfb957cfe869e96a89934cd560193225b825e1bd/vision/google/cloud/vision_v1/gapic/image_annotator_client.py#L58-L74

The `google-cloud-vision` library does not explicitly open any file there: it instead relies on [`google.oauth2.service_account.Credentials.from_service_account_fil

[2019-09-25 18:27] tseaver commented on #9295
FWIW, if we do support passing the `predeinfedDefaultObjectAcl` query parameter, we should also support passing `predefinedAcl`.

[2019-09-25 18:43] tseaver commented on #9276
@tarrade Thanks for the report.  This might be similar to #5591.

Neither `google-cloud-bigquery` nor `google-cloud-storage` use gRPC:  instead, they rely on the `requests` library for JSON-over-HTTPS.

Looking at the [environment variables doc for gRPC](https://github.com/grpc/grpc/blob/master/doc/environment_variables.md#grpc-environment-variables), it appears to want the proxy host environment