[2016-09-27 16:53] emilyhoughkovacs commented on #2440
@dhermes `[sudo] pip install --upgrade google-cloud --ignore_installed`

[2016-09-27 17:40] dhermes commented on #2440
Interesting that it failed. Do a `pip show google-cloud protobuf` and paste the output? (Feel free to redact anything you like from the pasted output)

[2016-09-27 17:43] dhermes commented on #2405
Mostly fixed by #2444 and #2445. The remaining issue is that we depend on `google-gax 0.14.1` in `logging` and `pubsub` but `google-gax<0.14.0,>=0.13.0` is required by `gapic-google-logging-v2` and `gapic-google-pubsub-v1` (both 0.9.x).

@bjwatson hopes to have 0.10.0 of each released soon.

If the release doesn't happen by this afternoon, I'll just revert #2388 for the purposes of this release.

[2016-09-27 17:43] liujiongxin opened #2448 "Can not install google-cloud-monitoring via pip"
_sudo pip install --upgrade google-cloud-monitoring_ returns error:
Could not find a version that satisfies the requirement google-cloud-monitoring (from versions: )
No matching distribution found for google-cloud-monitoring

I noticed that there was file moving yesterday, not sure if it's related to this issue.

[2016-09-27 18:06] emilyhoughkovacs commented on #2440
[code]

[2016-09-27 18:12] dhermes commented on #2448
We have yet to make a release to `google-cloud-monitoring`, sorry you got caught in the weird transitional state this library is in. I plan on cutting a release some time today.

Follow along in #2441.

Closing this since it is equivalent to #2441 (and the known issue, that release is needed ASAP)

[2016-09-27 18:12] #2448 closed

[2016-09-27 18:18] dhermes commented on #2440
The `0.20.0.dev0` shows you've installed from source, since [0.19.0][1] is the latest version on PyPI.

I recommend the following:

1. Uninstall these problematic packages:

[code]

1. Install `google-cloud` from PyPI rather than from source:

[code]

----

Also, Mac OS X is essentially impossible to get a valid Python install because they have packages that you can't edit or delete (like `six`) t

[2016-09-27 18:19] #2437 closed

[2016-09-27 18:50] tseaver commented on #2441
Confirming discussion offline:  this plan looks good to me.

[2016-09-27 18:52] daspecster commented on #2441
@dhermes @tseaver did you want streaming in Speech before releasing it?

[2016-09-27 18:53] dhermes commented on #2441
@daspecster See above:

[2016-09-27 18:55] dhermes commented on #2441
Thanks @tseaver. Just waiting to hear from @bjwatson about 0.10.x versions of the gapic pieces.

https://pypi.python.org/pypi/gapic-google-pubsub-v1
https://pypi.python.org/pypi/gapic-google-logging-v2

[2016-09-27 18:55] daspecster commented on #2441
@dhermes that's what I was responding too. Just curious what the checkboxes for speech were on this.

[2016-09-27 20:13] emilyhoughkovacs commented on #2440
Thank you! Yes, I was running into issues with `six` before so I definitely have been through the runaround. I will take your advice and first try conda and then a virtualenv.

[2016-09-27 22:37] jerjou opened #2454 "pip install google-cloud-storage doesn't work"
[storage#quick-start](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/storage#quick-start) says you install the client lib by doing `pip install --upgrade google-cloud-storage`, which doesn't work:

[code]

[2016-09-27 22:47] dhermes commented on #2454
We have yet to make a release to `google-cloud-storage`, sorry you got caught in the weird transitional state this library is in. I plan on cutting a release some time today.

Follow along in #2441.

Closing this since it is equivalent to #2441 (and the known issue, that release is needed ASAP)

Similar to #2448.

[2016-09-27 22:47] #2454 closed

[2016-09-27 22:51] jerjou commented on #2454
Ah - thanks!

[2016-09-27 22:53] dhermes commented on #2454
Sure thing. Thanks for filing / caring.

[2016-09-27 22:59] dhermes commented on #2440
Shall we close this out then?

[2016-09-28 00:22] dhermes commented on #2405
Blerg! https://readthedocs.org/projects/google-cloud-python/builds/4449511/ b0rken because

[code]

[2016-09-28 00:52] dhermes commented on #2405
Starting to see some really strange RTD failures that seem to be different than the referenced HEAD commit (94a596e643572aa3875082baf921f866d52cc0c3):

- https://readthedocs.org/projects/google-cloud-python/builds/4449568/ (grpc-google-iam-v1 missing, never heard of it)
- https://readthedocs.org/projects/google-cloud-python/builds/4449565/ (google-gax<0.14.0,>=0.13.0 is required, though not true f

[2016-09-28 01:06] theoschao opened #2456 "Datastore API key.Key.id() throws TypeError: 'long' object is not callable"
As part of a datastore query, I get back entities that have a KeyProperty.  When trying to call a .id() on the KeyProperty, I get the following TypeError thrown:

TypeError: 'long' object is not callable

Upon examining the particular key, I see this (obfuscated):

<Key[{'kind': u'xxxx', 'id': 1234567890L}], project=xxxx>

Not sure exactly where the TypeError is being thrown, but it looks like the

[2016-09-28 01:09] dhermes commented on #2456
@theoschao Can you give a snippet of the code you're using to invoke the error? A Key Property may come from the low-level protobuf interface, but it's unclear if you've used that or the more user-friendly high-level interface.

[2016-09-28 01:10] emilyhoughkovacs commented on #2440
👍

[2016-09-28 01:14] #2440 closed

[2016-09-28 01:17] dhermes commented on #2405
[This][1] at least shows that `grpc-google-iam-v1` comes from `gapic-google-pubsub-v1`, so that is comforting. But then the [`oauth2client`][2] upper bound on that package contradicts the one from `gapic-google-pubsub-v1`.

[1]: https://github.com/googleapis/api-client-staging/blob/82ffe47ae78e6a23ab02ee9e3de097cec37a5639/generated/python/gapic-google-pubsub-v1/setup.py#L15
[2]: https://github.com

[2016-09-28 01:41] dhermes commented on #2405
Pushed a fake branch with a fake fix to see if this will work: https://github.com/GoogleCloudPlatform/google-cloud-python/tree/fake-out-rtd

It did: https://readthedocs.org/projects/google-cloud-python/builds/4449660/

[2016-09-28 09:23] #2389 closed

[2016-09-28 17:07] theoschao commented on #2456
sure, I've stripped the code down to what's relevant to understand:

`
from google.cloud import datastore
from oauth2client.service_account import ServiceAccountCredentials

svc_account_credentials = ServiceAccountCredentials._from_p12_keyfile_contents(
  service_account_email=self.client_email,
  private_key_pkcs12=self.private_key_string,
  scopes=datastore.SCOPE
)

client = datastore.Client(cre

[2016-09-28 17:13] dhermes commented on #2456
What is `KEYPROPERTY`? ISTM that it is just a [`Key`][1]. If that's the case, [`id` is a `@property`][2] which means you need to call `field.id` not `field.id()`. Since a `@property`, `field.id` will return an integer, which can't be called. For example:

[code]

Please re-open if I'm mistaken.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a0e492b4098fe3c2df4d1821a432cbaee

[2016-09-28 17:13] #2456 closed

[2016-09-28 17:38] theoschao commented on #2456
@dhermes  bingo! you're right. I was in the process of upgrading our gcloud library from a super old version (0.3.0) to something more recent and it looks like that @property decorator was added and I hadn't noticed.  Thanks!

[2016-09-28 17:55] bjwatson commented on #2405
@landrito Can you push an updated version of Python `grpc-google-iam-v1` with the bounds currently in `packman`? (e.g. `oauth2client >=3.0.0, <4.0.0`)

[2016-09-28 18:01] bjwatson commented on #2441
@daspecster Speech should be today. We're actually going to cut 0.11.0 releases of everything, but it shouldn't affect you apart from bumping the version bounds. This is due to refining our model for how to represent enums, which is a new feature in Python GAPIC, so I'm guessing you're not using our enums yet anyway.

[2016-09-28 18:05] Landrito commented on #2405
Will do!

[2016-09-28 18:55] Landrito commented on #2405
[Pushed](https://pypi.python.org/pypi/grpc-google-iam-v1)

[2016-09-28 19:37] tseaver opened #2458 "Split up 'system_tests/' by package?"
As already done with `unit_tests/`.

This would require moving the "importable" code into a shared location (maybe a new `core/google/cloud/_testing` package?), and refactoring the current driver (maybe into a `console_script` in `core`?).

[2016-09-28 19:40] waprin opened #2459 "TimeSeries Query for last 5 Minutes not Last 5 Minutes"
The [usage docs](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a0e492b4098fe3c2df4d1821a432cbaee15edd6/docs/monitoring-usage.rst) say

    query = client.query(METRIC, minutes=5)

will give you stats for the last five minutes. But since [the code](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a0e492b4098fe3c2df4d1821a432cbaee15edd6/monitoring/google/cloud/moni

[2016-09-28 19:42] Landrito commented on #2405
[Pushed](https://pypi.python.org/pypi/grpc-google-iam-v1/0.10.1)

[2016-09-28 20:06] supriyagarg commented on #2459
@waprin: To get the data for a time period ending exactly now, it is recommended to use select_interval. Given that you can write up to one point per minute, this could miss the latest data point.

The end time of the query determines the exact timestamps when using alignment, so zeroing out seconds and microseconds makes the results look nicer, and easier to understand.

[2016-09-28 20:12] waprin commented on #2459
Ok, that's what I did in #2460 so we could leave it at that. However I still think the behavior is a bit surprising so I'm curious if you

- Can explain the motivation for replacing the seconds
- Agree we should at least call this out more explicitly in the docs, rather than just say "the last 5 minutes"

[2016-09-28 20:25] supriyagarg commented on #2459
The motivation is as I mentioned in the previous comment:

Agreed that the top level docs should be updated. Something like the following would work:

`Display CPU utilization across your GCE instances over a five minute duration ending at the start of  the current minute.`

[2016-09-28 21:12] rimey commented on #2459
It's good to know that this pitfall exists, but we have to focus on normal end-user use-cases. Using a round minute as the default end time makes aligned data much prettier. I found the library annoying to use with the exact current time as the default.

[2016-09-28 21:15] waprin commented on #2459
Yeah it makes sense to me, writing a time series and immediately reading it back is probably only something we'll do in the system test, and I'm sure on charts and graphs having round minutes is cleaner. I think the doc change is still a good idea just in case, so after that gets merged I think we can close the issue.

[2016-09-28 22:47] bjwatson commented on #2359
@dhermes What can we do to help with this? `google-gax` and `gapic-google-*` are tightly coupled, so the version bounds make sense (to avoid surprises like we have had before with things spontaneously breaking), but I understand that you need to know what the pairing is. Is looking at the `setup.py` in any `gapic-google-*` of a particular 0.x version good enough to see what its matching version of

[2016-09-29 00:02] dhermes commented on #2405
Thanks!

[2016-09-29 00:02] #2405 closed

[2016-09-29 00:05] dhermes commented on #2456
Sure thing!

[2016-09-29 00:09] dhermes commented on #2441
Just pushed the [`umbrella-0.20.0`][1] tag at 5a0e492b4098fe3c2df4d1821a432cbaee15edd6. Working on release notes now, but will do the upload first.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/umbrella-0.20.0

[2016-09-29 00:12] dhermes commented on #2359
@bjwatson It's been resolved as of the `iam` push to PyPI this morning.

[2016-09-29 00:12] #2359 closed

[2016-09-29 00:19] dhermes commented on #2454
Hooray!

https://pypi.python.org/pypi/google-cloud-storage/0.20.0

[2016-09-29 00:21] dhermes commented on #2448
Hooray!

https://pypi.python.org/pypi/google-cloud-monitoring

[2016-09-29 00:31] dhermes commented on #2458
I have this in #2404 but no associated issue. I think it'd be best just to have a local package (`setup.py` and all) for system test helpers

[2016-09-29 00:33] dhermes commented on #2441
@tseaver @jonparrott Everything went really well, **except** the umbrella package:

[code]

Any idea why it generated `cp27-none-linux_x86_64.whl` instead of `py2.py3-none-any.whl`?

[2016-09-29 00:33] #2441 closed

[2016-09-29 00:34] dhermes commented on #2441
Here are all the releases just pushed at 5a0e492b4098fe3c2df4d1821a432cbaee15edd6

https://pypi.python.org/pypi/google-cloud-core/0.20.0
https://pypi.python.org/pypi/google-cloud-bigquery/0.20.0
https://pypi.python.org/pypi/google-cloud-bigtable/0.20.0
https://pypi.python.org/pypi/google-cloud-pubsub/0.20.0
https://pypi.python.org/pypi/google-cloud-storage/0.20.0
https://pypi.python.org/pypi/googl

[2016-09-29 00:41] dhermes commented on #2441
I just used https://gist.github.com/dhermes/a4e097f2f80fd490b256fc3aa2b4a46b to generate https://pypi.python.org/pypi/google-cloud-natural-language/0.20.0

This had the same problem of `cp27-none-linux_x86_64.whl`

[2016-09-29 00:46] dhermes commented on #2404
@omaray Via #2441 I just made releases of "all" of our packages:

https://pypi.python.org/pypi/google-cloud-core/0.20.0
https://pypi.python.org/pypi/google-cloud-bigquery/0.20.0
https://pypi.python.org/pypi/google-cloud-bigtable/0.20.0
https://pypi.python.org/pypi/google-cloud-pubsub/0.20.0
https://pypi.python.org/pypi/google-cloud-storage/0.20.0
https://pypi.python.org/pypi/google-cloud-datastore

[2016-09-29 02:16] bjwatson commented on #2359
Ok, great!

[2016-09-29 02:44] dhermes commented on #2441
It's worth noting that the following PRs were left out of the release notes:

#2455, #2453, #2452, #2499, #2445, #2444, #2351, #2362, #2355, #2363, #2364, #2369, #2380, #2381, #2370, #2388, #2386, #2387, #2424, #2392, #2393, #2396, #2394, #2399, #2407, #2403, #2408, #2412, #1702, #2449

In addition, the few Speech related PRs were also left out, since `speech` is half-baked and was not included in

[2016-09-29 02:48] dhermes opened #2462 "Reconsider tag name scheme for RTD"
Using `umbrella-0.20.0` did not kick off a `stable` docs build on RTD. From their [documentation](http://docs.readthedocs.io/en/latest/versions.html), a `stable` build is only done when a semver-valid tag is pushed:

I tried to force it [to rebuild](https://readthedocs.org/projects/google-cloud-python/builds/4453937/) but it stuck with the last valid tag at 4d66524a57d73742b5fe1f4ca571b305031ea5d2

[2016-09-29 03:13] #2459 closed

[2016-09-29 07:25] omaray commented on #2421
Hey - yes, here are some answers.

1. I'm not too concerned with previous questions and tags - 56 is not a horrible number. But also, more importantly, anyone going to stay Pub/Sub and having a question about say "Python library" will be directed to the [python]+[google-cloud-pubsub] multi-tag search! And many of the results you point me too already have that in place (meaning there are multiple t

[2016-09-29 08:02] omaray commented on #2404
Sweet!

[2016-09-29 13:39] pdknsk opened #2463 "storage: cannot access / delete versioned objects"
Currently, `blob.delete` and `bucket.delete_blob` always delete the live version on buckets with versioning enabled. Other than being a missing feature, this can also cause some very unwanted behaviour, if a new version of the object is uploaded during the process of getting and deleting an object.

[code]

[2016-09-29 14:18] tseaver commented on #2463
@pdknsk Thanks for the report!  You are correct that we currently have no support for addressing a specific generation of a blob.

ISTM that the `generation` flag should probably be passed to `Blob.__init__` (and through `Bucket.blob()`, because it should affect other operations as well.

API endpoints taking the `generation` query string parameter, which should be mapped from the blob's `generati

[2016-09-29 14:33] pdknsk commented on #2463
The `(?!)` is for *metadata* I think, which can be updated on archived objects.

https://cloud.google.com/storage/docs/object-versioning#_UpdatingMetadata

https://cloud.google.com/storage/docs/generations-preconditions#examples_of_race_conditions

[2016-09-29 14:44] tcroiset commented on #2382
Indeed.

If i'm not mistaken, there's a limit (1000?) on the api side for the number of messages published in a single call.
I have implemented a class like MaxMessagesBatch but I was thinking it could be directly implemented in gcloud.

[2016-09-29 17:57] VelizarVESSELINOV opened #2464 "google-cloud 0.20.0 'from google.cloud import storage' not working"
After upgrade:
[code]

[code]

[2016-09-29 18:01] dhermes commented on #2464
Yay packaging! Try `pip show google-cloud-storage`.

1. What command did you use to install?
1. What other `google` packages have you installed that may be hopping in front of your import?

[2016-09-29 18:42] VelizarVESSELINOV commented on #2464
I moved today from 0.19.0 to 0.20.0 using pip install -r requirements.txt

after removing the virtual env and recreating again without update, it is working.

[2016-09-29 18:42] #2464 closed

[2016-09-29 18:50] dhermes commented on #2464
Great news! Thanks

[2016-09-29 20:43] vikkyrk opened #2465 "Datastore Query should work when no Client is passed"
We are trying to use gcloud-python Datastore in Apache Beam python SDK to provide a Datastore connector. For our use case, the user will just provide a 'com.google.datastore.query.Query' and the connector will take care of reading data from Datastore. We do not want the user to deal with 'datastore.Client' directly. The way we plan to implement is something like this,

User Pseudo Code

[code]

SD

[2016-09-29 20:52] dhermes commented on #2465
@vikkyrk It's something we had never considered. I suppose it would be just fine. Rather than using the `if` statement it'd be easier to just use

[code]

in place of `client.namespace`.

Would you like to send a patch? (It'll need one or two new unit tests but not much else.)

[2016-09-29 21:43] tseaver opened #2466 "pylint: query PyCQA about 'ungrouped-imports' in the face of shared namespace packages"
See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2425#issuecomment-250557429

[2016-09-29 21:57] dhermes commented on #2441
Figured out the wheel issue. On my machine I had `wheel==0.24.0`, but the latest is `0.29.0`. Tada!

[2016-09-29 22:13] vikkyrk commented on #2465
@dhermes PTAL, https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2467

[2016-09-29 23:55] dhermes commented on #2421
@omaray I'm going through and retagging right now.

http://stackoverflow.com/questions/tagged/gcloud-python has a logo and some info because it's a sponsored tag

http://stackoverflow.com/questions/tagged/google-cloud-python has nothing right now

[2016-09-30 00:57] omaray commented on #2421
Hey Danny - just to clarify:

(1) what do you mean by retagging exactly? So you remove the old one?

(2) just to clarify, for now let's go with  http://stackoverflow.com/questions/tagged/google-cloud-platform+python as the solution; and I'm waiting on some internal answers (which might take a bit of time). So let's stay consistent across all languages and use this new approach - and worst case we'

[2016-09-30 01:02] omaray opened #2470 "Change title of tab from google-cloud to google-cloud-python"
When opening the [Client Library Reference page for Python](https://googlecloudplatform.github.io/google-cloud-python/) we can notice that the tab title says `google-cloud`:

![image](https://cloud.githubusercontent.com/assets/6609430/18977400/ce1f8b36-866e-11e6-9267-c79b7d495e84.png)

Even though that's not wrong at all - we are however seeing a mix where some languages use `google-cloud` and oth

[2016-09-30 01:14] dhermes commented on #2470
On it

[2016-09-30 01:21] dhermes commented on #2421
In most cases I just added the new one, so there are lots of questions with both `google-cloud-python` and `gcloud-python`. StackOverflow has a max of 5 though so in that case I deleted `gcloud-python` if it made sense (more often in the 5 tag case, the question was about the `gcloud` CLI, not our library, so it was not really relevant).

----

As for going with `google-cloud-platform` as the tag,

[2016-09-30 01:22] dhermes commented on #2470
FWIW the "title of the tab" isn't a thing, in HTML it's the `<title>` tag which goes in the `<head>` section of the page.

[2016-09-30 12:24] pdknsk commented on #2463
Implementing _preconditions_ is probably not necessary when `generation` is always set, as that takes care of every scenario in which _preconditions_ apply, I think.

[2016-09-30 19:04] rishsriv opened #2472 "'Table.insert_data()' fails when schema is not loaded"
I tried to insert data using the google cloud python client but seem to get rows where every field has a null value. I used the [code in the latest documentation](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html).

Using Debian 7.11 with Python 2.7.3 and google-cloud-python 0.20.

[2016-09-30 19:10] rishsriv commented on #2472
For clarity: [this stackoverflow question](http://stackoverflow.com/questions/39678654/uploading-empty-data-to-bigquery-using-gcloud-python) refers to the same problem.

If I insert rows using the following code:

[code]

and then query the latest upload, I get

[code]

[2016-09-30 19:14] dhermes commented on #2472
@rishsriv Thanks for filing!

[2016-09-30 19:31] tseaver commented on #2472
@rishsriv We have a working [system test which exercises `Table.insert_data`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/938ac216646c62acab8e5aef7dab33c911dbef1b/system_tests/bigquery.py#L263).  Does that example help?

Do the dataset and table already exist before your start?  If so, does the table's schema match the data you are inserting?

[2016-09-30 19:52] rishsriv commented on #2472
@tseaver Yes they do. And yes, the table's schema matches the data exactly.

[2016-09-30 20:07] #2470 closed

[2016-09-30 20:12] tseaver commented on #2472
[code]
So, the rows weren't present at all for me when querying immediately after the call to `insert_data`, but they became available shortly thereafter.  The [BigQuery docs](https://cloud.google.com/bigquery/streaming-data-into-bigquery#dataavailability) say:

[2016-09-30 20:20] rishsriv commented on #2472
@tseaver Thank you for the super quick response. The problem for me was that the response (`fetched`) was not an empty list, but rather a list like this
[code]

Will try again to make sure I did not do something wrong.

[2016-09-30 20:44] rishsriv commented on #2472
@tseaver: Resolved! I had created the table using the webview, and simply used `table = dataset.table("test_table")` when declaring the table.

Explicitly declaring the schema (i.e., using the following lines)
[code]

helped fix the problem.

Thank you very much for your time.

[2016-10-01 00:21] tswast opened #2476 "Add support for RuntimeConfig API"
There is a RuntimeConfig API, which is useful for storing configuration values.

See:
https://cloud.google.com/deployment-manager/runtime-configurator/reference/rest/

I started adding support in https://github.com/tswast/google-cloud-python when I have it ready, I'll send a pull request.

The most important methods for my use cases are listing variables and getting variable values, so that's what

[2016-10-01 03:46] travisoneill opened #2477 "Environment Variable `GAE_APPENGINE_HOSTNAME` not working"
Points to an empty string not `your-app-id.appspot.com` as stated in the docs: https://cloud.google.com/appengine/docs/flexible/python/runtime#environment_variables

[2016-10-01 21:09] tseaver commented on #2477
@travisoneill Thanks for the report.  Where do you see the docs for `google-cloud-python` referring to that environment variable?

[code]

Is this from the docs for the `gcloud` command-line tool?  If so, this library is not that thing.

[2016-10-02 12:25] tseaver commented on #2472
@rishsriv In your case, calling `table.reload()` (to fetch the schema) before `table.insert_data(rows)` would have worked as well. I have reopened the issue because `Table.insert_rows` should detect that `self._schema` is not populated, and raise an exception.

[2016-10-02 20:12] travisoneill commented on #2477
@tseaver It's from the App Engine docs linked above my previous comment for the Python flexible environment runtime:

[code]

 When I print `os.environ` the key is there `'GAE_APPENGINE_HOSTNAME': ''` but just an empty string value.  If this is, in fact, intended behavior, I think the docs should be clarified on that point, as they seem to suggest it is available by default.

[2016-10-03 01:47] #2472 closed

[2016-10-03 04:53] omaray commented on #2137
Sorry for the delay on this. Ideally yes, that would be great. Running all tests in all OS environments. Any reasons to not do so?

[2016-10-03 04:55] omaray commented on #2136
I think this was done, right? Anything else we should do here?

To my knowledge, we should now be able to have support for Unit and System tests on all 3 OS environments. Is that correct?

[2016-10-03 04:59] omaray commented on #2421
Yes, I'm aware of these limitations. And other limitations too. For now let's stick with that (cause in theory it does't hurt per se). And I'll keep following up with the Cloud Support team to ensure this is the right strategy. And I am waiting on some answers back for how SO might or might not support anonymous searches through tags.

[2016-10-03 15:44] tseaver commented on #2136
@omaray We closed #2138 without merging it because of the problems we were seeing with Travis' flaky Mac support at the time:  it was backlogged for *days* at one point.  Even before then, the Mac builds are super slow, compared to the Linux VM builds.

[2016-10-03 15:45] dhermes commented on #2136
Speed wasn't the main issue, the main issue was that they don't have a system Python installed on their Mac VMs.

[2016-10-03 16:29] dhermes commented on #2477
@travisoneill This project is not App Engine related (though most / all of our code can be used in an App Engine project). This is a library for interacting with Google Cloud APIs in Python.

The App Engine issue tracker is here: https://code.google.com/p/googleappengine/issues/list

Sorry we couldn't be more help.

[2016-10-03 16:29] #2477 closed

[2016-10-03 16:30] jonparrott commented on #2477
To be slightly more helpful, we are changing some of the environment variables in GAE flexible, so we'll update the documentation shortly. :)

[2016-10-03 16:41] dhermes opened #2480 "Speed up "push" builds."
Travis has two build types that we use: "push" and "pull request". On a "pull request" commit the `TRAVIS_BRANCH` env. var. tells us what we are diff-ing against and makes it easy to limit the build jobs based on the changed files.

In "push" builds, the best we have is `TRAVIS_COMMIT_RANGE` but this is not a very dependable value. I propose we rely instead on the GitHub API to determine the chang

[2016-10-03 16:58] dhermes commented on #2480
Also worth noting that even if the files endpoint didn't exist, the PR endpoint has a `base` key which tells what state the main branch was in before the PR was merged. For example,  https://api.github.com/repos/GoogleCloudPlatform/google-cloud-python/pulls/2450 has

[code]

[2016-10-03 18:35] thefunkjunky opened #2482 "google.cloud.storage.bucket.Bucket list_bucket list_blob max_results does not work as described"
from a customer:

"list_bucket returns more values than max_results argument. Here is the python code...

bucket = Bucket(client, 'my-bucket-name')
blobs = bucket.list_blob(max_results=10, pageToken=None, fields="items/name,nextPageToken)

for b in blobs:
   printb.name

etc.... it returns all the blob names from the bucket, far more than max_results=10"

[2016-10-03 18:36] dhermes commented on #2482
Indeed. This needs to be fixed ASAP.

Duplicate of #1467

[2016-10-03 18:36] #2482 closed

[2016-10-03 18:37] dhermes commented on #1467
#1787 should be a reference point for a fix here

[2016-10-03 18:38] dhermes commented on #1467
Another example of unexpected failure:

[code]

This prints many more than 10 blobs when the iterator is exhausted.

[2016-10-03 19:22] jonparrott commented on #895
I agree that we should have a simple iterate that iterates over everything, however, I want to make sure we don't remove the ability to manually page. This use case is extremely important for datastore where the pagination can happen across multiple user requests.

[2016-10-03 19:44] tseaver commented on #895
My $0.02 on the strategy:

- Rename the current paging methods, from `list_foo` -> `list_foo_paged`.
- Add sibling `list_foo` methods which just return an iterator already wrapped around `list_foo_paged`.  These methods do *not* carry params for all the possible iterator properties to `list_foo`:  instead, users who care can configure them before beginning to iterate.

[2016-10-03 21:20] tseaver commented on #1982
@Capstan can you verify whether the `compose` operation always creates a new object, or might be used to append to an existing one?

[2016-10-03 22:25] Capstan commented on #1982
It logically always creates a new object. That said, creating a new object on top of an old object overwrites the old object, so you can do an extremely limited mimic of append by writing a separate object and composing the original and the separate object with a destination of the original object. This matters more if you have versioning turned on, as the old version will stick around.

[2016-10-03 23:11] dhermes commented on #2462
To add more context, the link I gave above actual says they expect the tag to be PEP 440 compliant. We can check for said compliance via the [`packaging`][1] package.

Essentially the only extra pieces outside of `x.y.z` allowed are: dev version (integer), epoch value (should not use), local / build metadata (anything we want), post and pre release (must be integer).

So the only real place to sne

[2016-10-03 23:17] daspecster commented on #2462
What about `0.20.1+1234`, where `1234` is essentially a build number?

[2016-10-03 23:23] dhermes commented on #2462
Yeah that's also valid. But the reason for tags is to do releases of each subpackage with a tag. Check out https://github.com/GoogleCloudPlatform/google-cloud-node/releases to see what I'm talking about.

Hence we want a PEP 440 valid tag (so RTD is happy) but we also want to put info in the tag that tells us which version to release.

[2016-10-04 13:01] rishsriv opened #2491 "'table.insert_data()' frequently fails in the Python BiqQuery client with error: [Errno 32] Broken pipe"
Streaming inserts to a BigQuery table frequently fail with `error: [Errno 32] Broken pipe` on Debian 7.11 with Python 2.7.3 and google-cloud-python 0.20. The error occurs around 30% of the time.

This happens with a small number of rows (<2000), where each row is less than 2kb. Hence, it is unlikely to be a quota problem.

The code is executed on a Google Cloud Compute VM every 30 minutes. It has

[2016-10-04 13:04] rishsriv commented on #2491
More details, if required:

The code is executed on a Google Cloud Compute VM and every 30 minutes. It has failed in 6 out of the last 14 runs.

[2016-10-04 13:49] daspecster commented on #2491
Thanks for reporting!

Do you happen to know roughly how long it takes this operation takes on average?

[2016-10-04 13:51] rishsriv commented on #2491
Happy to report! It takes less than a one or two seconds.

[2016-10-04 14:52] daspecster commented on #2491
I'm not entirely sure of the scenario but if you're [streaming the data across locations](https://cloud.google.com/bigquery/streaming-data-into-bigquery#streaming_data_across_data_locations) then you might see this more often.

I don't see that there has been any recent issues on https://status.cloud.google.com.

I would suggest writing logic to retry on a failure like this, if I understand correc

[2016-10-04 15:18] rishsriv commented on #2491
Thanks for the update. I am indeed streaming the data across locations (Asia to North America).

I am currently using the following logic, which ensures that the rows are virtually all of the time, but would be nice to have ways to make this more robust :)

[code]

[2016-10-04 16:36] tseaver opened #2492 "'Table.insert_data()' usage docs to not show 'row_ids'"

[2016-10-04 16:39] jlowin commented on #2464
I also just upgraded from 0.19 to 0.20 with `pip install --upgrade google-cloud` and now can't import anything:

[code]

Uninstall/reinstall had no effect.

[2016-10-04 16:42] tseaver commented on #2491
@rishsriv It might be "safer" to [pass `row_ids` with your rows](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-table.html#google.cloud.bigquery.table.Table.insert_data), allowing the back-end to de-duplicate any which happen to be inserted twice.  I have logged #2492 to make that more obvious.

[2016-10-04 16:43] tseaver commented on #2492
[API docs](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-table.html#google.cloud.bigquery.table.Table.insert_data) explain it, but not [usage docs](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html#tables).

[2016-10-04 16:43] jlowin opened #2493 "Broken upgrade to 0.20"
(Continuing from https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2464#issuecomment-251442590)

I also just upgraded from 0.19 to 0.20 with `pip install --upgrade google-cloud` and now can't import anything:

[code]

I went in to `site-packages` and deleted every google package, then reinstalled google-cloud. Now I get this error:

[code]

[2016-10-04 16:44] daspecster commented on #2464
@jlowin, since switching to namespace packages, you'll note in out [`CONTRIBUTING.rst`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/83c197c279a3d216e074298960760ed203812ec3/CONTRIBUTING.rst) that importing may not work as expected.

@dhermes, is there any workarounds so our examples work in the CLI REPL?

[2016-10-04 16:44] tseaver commented on #2491
We should probably also look at promoting our "retry handlers" from being "private" to our `system_tests/` into actual public APIs of the library.

[2016-10-04 16:45] jlowin commented on #2464
@daspecster I used the same import statement in 0.19 without issue (`from google.cloud import datastore`)

[2016-10-04 16:47] daspecster commented on #2491
@tseaver, could the GAPIC LRO's help here if it was implemented with GAPIC?

[2016-10-04 16:50] daspecster commented on #2464
@jlowin, if you put `from google.cloud import datastore` in a `test_datastore.py` file and run it with `python test_datastore.py`, does that also fail?

[2016-10-04 16:56] jlowin commented on #2464
Yes, that also failed -- but I think I've got it -- I had to uninstall both google-cloud and also protobuf, then let google-cloud reinstall protobuf.

[2016-10-04 16:56] tseaver commented on #2493
As a baseline, installing into a fresh virtualenv works:

[code]

but an upgrade fails:

[code]

The culprit seems to be tied into upgrades to the `gapic-*` packages:

[code]

Which appear to have clobbered the `google.cloud` namespace package.

[2016-10-04 16:57] dhermes commented on #2464
@jlowin Can you do `pip show google-cloud google-cloud-datastore`?

[2016-10-04 16:57] tseaver commented on #2493
@bjwatson Any thoughts?

[2016-10-04 16:57] jonparrott opened #2494 "Datastore fetch needs to encapsulate all gRPC errors"
This code:

[code]

Raises a `grpc._channel._Rendezvous` exception instead of an expected subclass of `google.cloud.exceptions.BadRequest` (I'd also accept `google.cloud.exceptions.GoogleCloudError`):

[code]

[2016-10-04 16:57] jlowin commented on #2493
Indeed, installing a fresh conda environment solved this. And I was able to solve it in the old environment by uninstalling all google packages and reinstalling -- protobuf was the holdout that I didn't think of at first.

[2016-10-04 16:58] dhermes commented on #2494
@jonparrott The title of this issue is misleading. We wrap in some places, but have just done it on an ad hoc basis.

[2016-10-04 16:59] jlowin commented on #2464
Sure, though after my last comment I think it won't be interesting :)

[code]

[2016-10-04 16:59] tseaver commented on #2491
@daspecster nope, for two reasons:

- Bigquery is a JSON-only service.
- `Table.insert_data` does not return an LRO.

[2016-10-04 16:59] jonparrott commented on #2494
@dhermes feel free to rename it as needed.

[2016-10-04 17:00] jlowin commented on #2464
Ok, I can create this error deterministically (on my machine at least):

[code]
result:
[code]

[2016-10-04 17:01] dhermes commented on #2491
@tseaver We get retries for free with `urrlib3 / requests`. I prefer to just finish ditching `httplib2` to fix these broken socket errors

[2016-10-04 17:06] dhermes commented on #2464
Indeed.

[code]

whereas installed just fresh

[code]

[2016-10-04 17:11] dhermes commented on #2464
What's very strange is that `pip freeze` is identical.

Not sure what we can do though. It's likely a bug with `pip` or `setuptools`. All we can do is recommend a clean `uninstall` / fresh environment.

[2016-10-04 17:27] dhermes commented on #2493
@tseaver See https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2464#issuecomment-251449721 and https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2464#issuecomment-251451165

AFAICT it's out of our hands. The packages installed are identical after the upgrade but the directory structure is b0rked somehow by `pip` / `setuptools`.

[2016-10-04 17:58] tseaver commented on #2493
@dhermes I'm suspicious that one or more of our dependencies (`protobuf`, `gapic-*`, `grpc-*`) as installed via `google-cloud==0.19.0` b0rk the namespace-package bookkeeping, confusing `pip` on the upgrade

[2016-10-04 18:44] jlowin commented on #2493
For what it's worth, after upgrading to 0.20, I run the following commands to get it working (doubtless some of these are false positives but I haven't gone one by one to figure it out):

[code]

[2016-10-04 18:45] jlowin commented on #2464
bizarre and you're right, maybe nothing you can do! I'd at least recommend adding that note about the 0.19 -> 0.20 upgrade path to README though, I bet a lot of people will get bitten just through normal requirements.txt dependency installation! For what it's worth I continued the conversation at https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2493#issuecomment-251476765 with the

[2016-10-04 19:39] bjwatson commented on #2493
@tseaver I followed @jlowin steps above, and don't see any issues with the GAPIC or gRPC packages after running `pip install google-cloud --upgrade`.

I tried these alternate instructions and had no problems:

[code]

There appears to be an issue with the `google-cloud` upgrade itself, likely due to the modularization. For some reason, packages like `google-cloud-datastore 0.20.0` are not properly

[2016-10-04 20:34] dhermes opened #2497 "Use catch-all gRPC StatusCode remapping to our native errors in datastore"
It may be worth putting a try/except around every method and using the mapping provided in [`code.proto`][1]

See #2496.

[1]: https://github.com/googleapis/googleapis/blob/034b4cdaacf13764f70ba55205ea6f9734652cc0/google/rpc/code.proto

[2016-10-04 20:52] tseaver commented on #1982
@Capstan thanks for the clarification.

[2016-10-04 20:53] #2494 closed

[2016-10-04 21:42] tseaver commented on #1467
FTR, #2490 is the first pass at fixing this issue:  the solution there may eventually be obsoleted by the general approach sketched recently in #895.

[2016-10-04 21:55] #1467 closed

[2016-10-05 22:19] tseaver opened #2502 "Current `tox` configuration ends up testing old code"
For example:

[code]

Somehow, the tarball / wheel is being cached.

[2016-10-06 03:25] dhermes commented on #2502
If you check out

[code]

it just says

[code]

I'm trying to figure out what cache is being used.

[2016-10-06 03:29] dhermes commented on #2502
I checked my global cache and found a few different wheels for each subpackage, e.g.

[code]

[2016-10-06 03:39] dhermes commented on #2502
`.tox/cover/log/cover-1.log` has

[code]

while `.tox/system-tests/log/system-tests-1.log` has

[code]

Seems strange

[2016-10-06 03:43] dhermes commented on #2502
OK it isn't strange. Fix coming.

[2016-10-06 15:55] #2502 closed

[2016-10-06 16:02] BleMot opened #2505 "Projects.create() Error "The caller does not have permission""
Hi, i'm developing an application where I need to create projects programmatically.

I'm using the api cloud resource manager but when I use the method to create a project tells me "The caller does not have permission".

I read that invitation is needed because it is in alpha phase.

how can I do it?

Thanks.

[2016-10-06 16:31] dhermes commented on #2505
There is a request form on https://cloud.google.com/resource-manager/docs/

Sorry we can't be more helpful.

[2016-10-06 16:31] #2505 closed

[2016-10-06 16:41] BleMot commented on #2505
Ok, thanks!

[2016-10-06 18:02] omaray commented on #2136
Oh right, Travis has little love for Python and OS X.

[2016-10-06 18:14] #1982 closed

[2016-10-06 18:22] tseaver commented on #2216
Just saw this failure again:

https://travis-ci.org/GoogleCloudPlatform/google-cloud-python/builds/165570717#L4150

[2016-10-06 18:31] dhermes commented on #2216
@tseaver Looks like it needs more retries?

[2016-10-06 21:23] aaronkavlie-wf opened #2511 "Expose SQL query in QueryJob API"
I had a need to reference the original SQL query from a job. After running `job.reload()` it's available on a `QueryJob` instance, but only by reaching into `_properties` directly:

[code]

it should be exposed under a more direct public property.

[2016-10-07 03:16] dhermes commented on #2013
@fdr Please LMK if this is still an issue.

[2016-10-07 03:16] #2013 closed

[2016-10-07 03:50] tseaver commented on #2511
The job actually has a `query` attribute, holding the query text:  we need to surface it to the documentation side, however.

[2016-10-07 03:50] dhermes commented on #2511
@tseaver Similar to https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1835#issuecomment-224346445

[2016-10-07 03:52] tseaver commented on #2511
@dhermes I knew there was another issue about those kind of public-but-undocumented attrs.

[2016-10-07 03:57] dhermes commented on #2511
There's also https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2034

[2016-10-07 07:28] Teddy-Schmitz opened #2513 "Incorrect padding error"
Hi,
This is in regards to the pubsub module.  When I send a test message with data "testing 1 2 3" from the web console to a simple python application it fails to decode the message and throws a
[code]
Error from
[code]
I get the same error if I send the same message using the Go libraries.
I do not get the error if I send the message using python however.
All I'm doing is receiving and printing o

[2016-10-07 15:24] aaronkavlie-wf commented on #2511
@tseaver

Yes, that's the first thing I tried. It's `None` for me. I'm initializing the `QueryJob` from a job ID:

[code]

It doesn't seem like that class is intended for API users to call directly (especially since it takes the query string as an *input*), so if there's a better way to do this let me know.

[2016-10-07 15:28] tseaver commented on #2511
Thanks for the followup:  `job.query` should definitely be populated after `job.reload()`.

[2016-10-07 17:11] dhermes commented on #2513
Can you give some code snippets indicating how you do this? Thanks.

[2016-10-07 17:57] puneith opened #2515 "google-cloud-speech pip install not working"
pip is unable to find google-cloud-speech

$ pip install --upgrade google-cloud-speech
Collecting google-cloud-speech
  Could not find a version that satisfies the requirement google-cloud-speech (from versions: )
No matching distribution found for google-cloud-speech

Same is true when I try to install google-cloud

$ python -c "from google.cloud import speech"
Traceback (most recent call last):

[2016-10-07 18:13] dhermes commented on #2515
@puneith We have not yet released a version of `speech` yet nor is it yet included in the umbrella `google-cloud` package (notice it is not listed on https://pypi.python.org/pypi/google-cloud/0.20.0). @daspecster may have more to say there?

[2016-10-07 18:13] #2515 closed

[2016-10-07 18:59] daspecster commented on #2515
@puneith I've been working on adding the `stream_recognize()` method and implementing GRPC support for `sync_recognize()` and `async_recognize()` before it's fully released.

You could play with speech by installing the library from source. If you have any questions just let me know!

Thanks @dhermes!

[2016-10-07 20:54] daspecster opened #2516 "Move speech methods to `Sample`."
Speech API calls should be from the `Sample` object instead of directly from the client.

[code]

See: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2483#discussion_r82463142

[2016-10-07 23:28] speedplane commented on #1214
I just re-deployed my app and I went from never seeing this issue, to getting thousands of them. Did anything recently change? They come in a number of flavors:

- `[SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:1750)`
- `[SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:1750)`
- `Content purported to be compressed with gzip but failed to decompress.`

[2016-10-08 00:12] speedplane commented on #1214
Making my use of httplib thread-safe fixed the issue. Not sure what I did to cause this error to pop up, but I was tinkering with some related code, so I may have caused it.

If it helps anyone else, below is the code that I use to get the authentication token. It relies on a dictionary `PRIVATE_KEY` to lookup the service account email and the PEM file (which should probably just be inputs into th

[2016-10-08 03:11] Teddy-Schmitz commented on #2513
I was using the Google Cloud console to do so by clicking on the publish button.  I also did it using the Go library I'll get you the code for that later today.

[2016-10-08 06:03] Teddy-Schmitz commented on #2513
[code]

Here is what the go code looks like, we sent the data "testing 1 2 3" .

I would also add that "testing 1 2 3 4" works fine so I'm guessing its something to do with how other languages pad the base64 encoded bytestring.  Maybe you can do something like this,

http://stackoverflow.com/questions/2941995/python-ignore-incorrect-padding-error-when-base64-decoding

To check for incorrect paddin

[2016-10-08 06:15] dmitry-saritasa opened #2517 "bigtable set_cell?"
I'm little confused with the purpose of `set_cell` method. Here is what I see in official doc:
https://cloud.google.com/bigtable/docs/samples-python-hello

[code]

My question is if I have multiple columns to write (under column family **stat**), like:
**user, game, spot, asset** then I need to perform multiple set_cell calls before making row.commit()?

Something like this

[code]

am I correct?

[2016-10-08 07:06] geekoala opened #2518 "Issues about Google Cloud Speech API (Service)"
Hi, I'm using Google Cloud Speech API. I found an issue and it easy to reproducing. Here is one of my test case, and my test audio file is [abc_rural_2.wav](https://storage.googleapis.com/first-vision-api-example.appspot.com/abc_rural_2.wav).

I tried to recognise using whole .wav file, and it will only translate the first segment (the following segment is speak by another guy in different environ

[2016-10-08 16:13] daspecster commented on #2518
Hello @geekoala!

Which speech method are you using? `sync_recognize` or `async_recognize`?
Also, are you passing in a language code?

[2016-10-08 16:24] daspecster commented on #2513
@Teddy-Schmitz, this is actually the github repository for the Google Cloud Python library.

In your Go example(which I'm not super familiar with Go just FYI), it appears that you may need to cast `data` to bytes.

See: https://godoc.org/cloud.google.com/go/pubsub#hdr-Publishing and https://github.com/GoogleCloudPlatform/google-cloud-go/blob/5af4269f950e91e917bab77f1138139023c868c2/pubsub/message.

[2016-10-08 16:46] dhermes commented on #2513
@daspecster I'd guess this is our problem too. It seems like we **ASSUME** that base64 values are properly padded but other libraries may strip padding to reduce payload size?

[2016-10-08 16:54] daspecster commented on #2517
Hello @dmitry-saritasa! Thanks for the question!

1. At first glance it appears you are correct.
2. After looking through the documentation, it appears that there is no batching for adding rows at this time. Which kind of surprises me. WDYT @dhermes?

[2016-10-08 21:09] daspecster commented on #2513
@dhermes, oh I see. For some reason I dove head first into the Go code. (Go is intriguing).

@Teddy-Schmitz sorry about that, I think I understand the problem better now.

It appears that the console is sending message data that is not base64 encoded at all.

[code]

The docs for GRPC and REST say that...

See: https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage

So I

[2016-10-09 00:23] INRIX-Avilay-Parekh opened #2519 "speech api with sample content bytes is not encoded to ASCII string before being sent over the wire"
When using the package as under with python3.5 -

    with open('linear.wav', 'rb') as f:
        data = f.read()

    s = client.sample(data, None, encoding=Encoding.LINEAR16, sample_rate=16000)
    texts = client.sync_recognize(s)

Throws an error that it is not possible to convert the byte stream to JSON.

In `speech/google/cloud/speech/client.py#240` the following line encodes the bytes in bas

[2016-10-09 01:00] Teddy-Schmitz commented on #2513
@daspecster sorry for the confusion, I don't think I explained the problem properly.

 I have done some further testing, if I send the same message using the Google Console the Go Library will correctly return me the message.  So I'm guessing it is being base64 encoded at the server receiving the POST request.  As for the Go library I took a quick peek at their source code and it is base64 encodin

[2016-10-09 11:34] geekoala commented on #2518
Hi @daspecster, I use async_recognize method and the language code is en-AU.

[2016-10-09 16:19] daspecster commented on #2519
Thanks for reporting @INRIX-Avilay-Parekh!
I was able to reproduce this, thanks to your examples.

I'm working on a fix right now.

[2016-10-10 04:22] Teddy-Schmitz opened #2521 "Stackdriver ErrorReporter Unexpected Type"
Hello,

The stack driver error_reporting client throws a ValueError Unexpected type.  Here is the code

[code]
And the error
[code]
It looks like a dict of `{'service': 'python'}` is getting passed to `_SetStructValue` and there is no check for a dict so it is raising a `ValueError`.

[2016-10-10 04:25] dhermes commented on #2521
@waprin Can you weigh in here?

[2016-10-10 15:15] daspecster commented on #2518
@geekoala, my guess is that it is due to the change in the audio recording since the trimming worked.

I'm working on the streaming api for Speech right now and I'll use your audio clip to test it.
Streaming has a [`single_utterance`](https://cloud.google.com/speech/reference/rpc/google.cloud.speech.v1beta1#google.cloud.speech.v1beta1.StreamingRecognitionConfig) parameter that might be able to hel

[2016-10-10 17:57] tseaver commented on #2517
See #1546 / #2411 for multi-row discussion.

[2016-10-10 19:30] dhermes commented on #2462
Per @tseaver, we'd **like** the tags to start with `datastore-*` etc., but that may be a non-starter for making RTD happy.

[2016-10-10 19:31] daspecster opened #2522 "Tracking Speech API development."
These are the items required to reach feature completion.
- [x] Use Transcript object for sync and async requests. (#2613)
- [x] GAPIC Sync Recognize (#2615)
- [x] GAPIC Async Recognize(#2638, #2663)
- [x] Streaming recognize (#2523, #2640,#2644, #2680)
- [x] Add stability information to streaming interim_results (https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2702)
- [x] Add `s

[2016-10-10 19:33] daspecster commented on #2462
So this might be the wrong question but what if the subpackages had their own docs and the umbrella package just linked to the other subpackages docs?

Then versions/tags can be treated normally for each subpackage right?

[2016-10-10 19:39] dhermes commented on #2462
That would mean entirely different source trees / GitHub projects, which has been disallowed?

[2016-10-10 19:39] tseaver commented on #2462
@daspecster That would be ideal in a sense, but it would almost require separate repositories for each API.

[2016-10-10 19:41] daspecster commented on #2462
Looks like it might be possible? https://github.com/rtfd/readthedocs.org/issues/1554

[2016-10-10 19:48] dhermes commented on #2462
I'm somewhat :-1: on this as well. Essentially, the same reason we want a single place for filing issues, we want a single place for documentation (I realize the inherent contradiction since we have `gh-pages` and RTD docs).

[2016-10-10 19:54] waprin commented on #2521
Slightly tied up at the moment but will try to take a look at this asap.

[2016-10-11 00:56] geekoala commented on #2518
@daspecster thank you. But single_utterance seems to be only available for streaming recognition. I'm working on automatically trimming the audio when speakers or environment changed, but I think that would be not a good solution (audio will be split into small chunks). If this API could process a whole audio file, it would be great. Thanks again.

[2016-10-11 03:57] naveensinghal opened #2524 "gcloud.exceptions.Forbidden: 403 Missing or insufficient permissions."
Hi @dhermes

I am a new user to Google Cloud Platform. I have setup a Google VM Instance. I am facing an authentication issue on Local Machine while running the command.

`python manage.py makemigrations`

Can you please suggest steps to resolve the same ?

Error Trace:
[code]

[code]

Also,
**Input:**
[code]

**Output:**
[code]

Thanks,

[2016-10-11 10:02] jgeewax commented on #2524
Hi @naveensinghal -- did you take a look at the scopes you created the VM with? It needs to have Cloud Datastore enabled (and User info as well I think).

If you go to the "view instance" page in cloud.google.com/console, you should see it towards the bottom of the page. Here's what I see for one of my instances:

![image](https://cloud.githubusercontent.com/assets/112928/19266591/3a5f581e-8f78-11

[2016-10-11 11:20] naveensinghal commented on #2524
Hi @jgeewax

I can't see all these things. But I can see following:

[code]

[2016-10-11 13:22] #2519 closed

[2016-10-11 13:23] daspecster commented on #2519
@INRIX-Avilay-Parekh, just merged a fix. Let me know if you have any issues. Thanks again!

[2016-10-11 13:26] daspecster commented on #2518
@geekoala, I agree.

@omaray and @bjwatson, do you know anyone involved on the backend that could chime in here?

I have a feeling that the backend algorithm sets a baseline from the first few seconds of the audio and may not handle multiple speakers/environments well? i.e. A conversation that moves from a quiet environment to an environment with a lot of background noise.

[2016-10-11 13:32] daspecster commented on #2524
@naveensinghal, can you confirm that the service account that you're using has the datastore API enabled?

https://console.cloud.google.com/apis/dashboard?project=user_project <- note you should select your actual project ID.

[2016-10-11 14:22] naveensinghal commented on #2524
@daspecster

Yes, Google Cloud Datastore API	& Google Cloud Datastore API (v1beta2) Both are present in the list of APIs in the given link.

[2016-10-11 14:32] daspecster commented on #2524
Hmmm,

What version of the google-cloud-python are you using? `pip freeze` output?
I'm wondering if possibly the datastore grpc/gax library could be out of date?

Also in your second example with printing out the credentials, are you able to access datastore from the REPL or other APIs possibly?

[2016-10-11 14:35] naveensinghal commented on #2524
**Command:** pip freeze
**Output:**
[code]

Not understood "are you able to access datastore from the REPL or other APIs possibly?" exactly. Can you please elaborate ?

[2016-10-11 14:45] daspecster commented on #2524
@naveensinghal, at version [0.19.0](https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/0.19.0) google-cloud-python's packaging changed. So with versions >= 0.19.0, you would import datastore like this `from google.cloud import datastore`.

The latest release of the old packaging (`from gcloud import datastore`) is actually [0.18.3](https://github.com/GoogleCloudPlatform/google

[2016-10-11 14:52] daspecster commented on #2524
Sorry, if I wasn't clear, I should have given you an example.

Something like this...

[code]

It looks like you're using a virtualenv so you may have to run something like `$ /venv/bin/python` to use the same interpreter as you application(Django project it looks like?).

[2016-10-11 15:00] naveensinghal commented on #2524
Installed Fresh Copy of Virtual Environment and used 'from google.cloud import datastore'
**Command:**
`python manage.py makemigrations`

**Error Trace**:
[code]

Input:
[code]

Output:
[code]

[2016-10-11 15:38] daspecster commented on #2524
@naveensinghal, ok cool. Definitely a permissions issue.

Maybe this can help?
https://cloud.google.com/datastore/docs/activate

[2016-10-11 15:53] naveensinghal commented on #2524
Is there any signifcance of this warning here while running 'gcloud auth login' ?
[code]

[2016-10-11 15:58] daspecster commented on #2524
Do you have a JSON credentials file?

Set the environment variable GOOGLE_APPLICATION_CREDENTIALS to the path of your downloaded credentials JSON file.

See: https://cloud.google.com/docs/authentication#getting_credentials_for_server-centric_flow

[2016-10-11 15:59] naveensinghal commented on #2524
Yes. I have.
I have client_secrets.json & client_secrets.p12 files. The Code uses Service Account & the key file path to these two files.

[2016-10-11 16:04] daspecster commented on #2524
How about if you go to....
https://console.cloud.google.com/iam-admin/iam/project?project=user_project

Your service account should be listed there and there's a dropdown where you can select specific permissions for each API service.

<img width="373" alt="screen shot 2016-10-11 at 12 03 53 pm" src="https://cloud.githubusercontent.com/assets/192456/19278330/d33ce6d2-8faa-11e6-9f9f-de1cba4cff6d.pn

[2016-10-11 16:07] naveensinghal commented on #2524
Just ran
`export GOOGLE_APPLICATION_CREDENTIALS='/<path_to_json>/client_secrets.json'`

from local machine and it started working.

Thanks @daspecster for your valuable time. Really appreciate it. :)

[2016-10-11 16:10] daspecster commented on #2524
Glad to hear!
Looking back, since your `access_token` wasn't set that makes sense.
Let us know if you run into any other issues.

[2016-10-11 16:10] #2524 closed

[2016-10-11 16:20] naveensinghal commented on #2524
@daspecster

access_token is still not set.
I can now run `python manage.py makemigrations` correctly. but not the
Input Code:
[code]

For this code the Output still remains the same.
[code]

Any suggestion for resolving this ?

[2016-10-11 17:23] INRIX-Avilay-Parekh commented on #2519
Great! Thanks for the quick turn-around :-)

[2016-10-11 18:59] bjwatson commented on #2518
@daspecster I'm checking internally.

[2016-10-11 20:05] #1960 closed

[2016-10-11 21:05] jonparrott opened #2525 "Vision raises TypeError: b'...' is not JSON serializable on Python 3"
Simple reproducible case:

[code]

works fine on Python 2, fails on Python 3.

[2016-10-11 21:05] jonparrott commented on #2525
Stack trace:

[code]

[2016-10-11 21:15] dhermes commented on #2525
Same issue fixed by #2520?

[2016-10-11 21:19] jonparrott commented on #2525
Seems like it, vision probably just needs a similar patch.

[2016-10-11 21:21] dhermes commented on #2525
Oh my blindness!

@daspecster Do the system tests for vision not cover this?

[2016-10-11 21:59] naveensinghal commented on #2524
@daspecster

I am using json file Credentials for my Google Project. By any chance can this be avoided ?
(Maybe by storing this file/credentials in the Metadata or somewhere else such that these values can be fetched in settings.py)

PS: Copying this file on every local Dev machine seems like a highly inefficient and error-prone task

[2016-10-11 22:04] dhermes commented on #2524
@naveensinghal GCE credentials are supported out of the box provided you have the correct scopes set. You can see which scopes are set just by using `curl` to talk to the GCE metadata server.

[code]

[2016-10-11 22:06] daspecster commented on #2525
Zoinks! That bytes. I will get on this right now.

[2016-10-11 22:08] jonparrott commented on #2525
heheh.

[2016-10-11 22:09] naveensinghal commented on #2524
@dhermes

**Input:**
`curl --header "Metadata-Flavor: Google" http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/?recursive=true`

**Output:**
`curl: (6) Could not resolve host: metadata.google.internal`

Any Suggestions for this ?

[2016-10-11 22:09] daspecster opened #2526 "Add Vision system tests"
Sadly, Vision has no system tests. They must be added.

[2016-10-11 22:10] daspecster commented on #2525
@dhermes Also, sadly there are no system tests for this.
I made an issue to add system tests though.

https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2526

[2016-10-11 22:15] dhermes commented on #2525
Ah. That is no good. We should not have pushed to PyPI without system tests. Live and learn.

[2016-10-11 22:15] dhermes commented on #2524
Did you run this from your GCE VM?

[2016-10-11 22:18] naveensinghal commented on #2524
Updated the output.

[2016-10-11 22:18] daspecster commented on #2525
Agreed. I don't think we even brought it up anywhere.

@dhermes I don't think I have access to the system test project(`precise-truck`?) to add things like images and audio  to run the tests on.

[2016-10-11 22:20] dhermes commented on #2525
@daspecster Get them working locally first and then we can cross that bridge?

[2016-10-11 22:21] daspecster commented on #2525
Ok, will do.

[2016-10-11 22:25] sturench commented on #2513
👍 this seems to be an issue related to the Cloud Console - but the Python Library should handle this more gracefully.  Looks like the proposed fix by @daspecster would handle it.

[2016-10-11 22:27] daspecster commented on #2513
OK great, I'll get that rolling then!

[2016-10-11 23:20] dhermes commented on #2524
You have the `"https://www.googleapis.com/auth/cloud-platform"` scope, which should be totally sufficient to use `v1` of the datastore API. You should be able to just use the API without needing a JSON credentials file or doing any other configuration. Our client objects will just pick the config up directly from GCE:

[code]

[2016-10-11 23:22] dhermes commented on #2524
Have you enabled the Datastore API service in the cloud console?

[2016-10-11 23:30] bjwatson commented on #2518
@pbogle is in charge of the back-end. A member of his team will respond here.

[2016-10-11 23:58] geekoala commented on #2518
Great, thanks @daspecster @bjwatson and @pbogle

[2016-10-12 00:03] pbogle commented on #2518
Thanks, daharon@ will reply to the thread.  (He's currently on a plane so
response may be slightly delayed.)

To be precise, the Cloud Speech team is really the frontend;  the true
backend is greco <https://sites.google.com/a/google.com/mighty-mouse/> and
that's what controls accuracy.  However, the Cloud Speech team
is responsible for collecting test data for Cloud Speech use cases (like
multi-sp

[2016-10-12 02:00] sturench opened #2529 "Pubsub message getting wrong attribute for publishTime"
According the [REST docs](https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage), a `PubsubMessage` has the field `publishTime`

In [message.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub/message.py), `from_api_repr` is getting the field `publishTimestamp` below:
[code]

The current tests are self-confirming of this issue as the

[2016-10-12 02:41] hu7241 commented on #1187
@dhermes Did you run the packaged executable? pyinstaller bogus.py went without problem. But at run time it spits error:

File "/tmp/pip-build-JhwLSY/pyinstaller/PyInstaller/loader/pyimod03_importers.py", line 389, in load_module
  File "gcloud/__init__.py", line 19, in <module>
  File "pkg_resources/__init__.py", line 559, in get_distribution
  File "pkg_resources/__init__.py", line 433, in get_p

[2016-10-12 02:57] dhermes commented on #1187
@hu7241

1. Can you give me explicit instructions on what to run so I can reproduce?
1. We no longer distribute the `gcloud` package, it is no `google.cloud`. Please update

[2016-10-12 03:33] hu7241 commented on #1187
In the root folder of bogus.py two directories (build, dist) are created after executing
[code]
execute the binary by
[code]
and the said error should pop up.

I updated to google-cloud as instructed, the problem persists:

[code]

As @mtwu-aviatrix commented on Oct 29, 2015, the native interpreter has no problem with this import. The problem arises when it has been bundled by Pyinstaller (ver. 3.

[2016-10-12 05:12] naveensinghal commented on #2524
Hi @dhermes

Yes, I have enabled Datastore API and can execute `datastore.Client()`.

The thing I was trying to ask was if I could enter some information/secret keys(such as that in JSON File) in VM's metadata(or somewhere else on Google Cloud) and fetch those keys/values directly in settings.py.

For Example: Let's say my settings.py file is:
secret_key = "XXXXXXXX"
client_key_path = "../client_k

[2016-10-12 05:23] dhermes commented on #2524
Not really. The idea is that you don't need a JSON keyfile on GCE.

[2016-10-12 05:52] naveensinghal commented on #2524
The Original Problem of this thread got solved basically by running the command:
`export GOOGLE_APPLICATION_CREDENTIALS='/<path_to_json>/client_secrets.json'`

So, how can we get rid of JSON keyfile ?

[2016-10-12 06:41] dhermes commented on #2524
You don't need the JSON keyfile on GCE. As I mentioned [above][1], on GCE it is sufficient to just create a client.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2524#issuecomment-253075579

[2016-10-12 10:05] hir3npatel commented on #1995
pip uses easy_install, I think?

I get this trace when doing pip install -r requirements.txt

    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-ETtN9l/grpcio/setup.py", line 267, in <module>
        cmdclass=COMMAND_CLASS,
      File "/usr/lib/python2.7/distutils/core.py", line 111, in setup
        _setup_distribution = dist = klass(attrs

[2016-10-12 12:05] tseaver commented on #2513
FWIW, stripping off the padding to "save bandwidth" is utterly bogus for a JSON-based protocol.

[2016-10-12 12:22] tseaver commented on #2529
See #1623 and #2243 for previous iterations on the server-side timestamp feature.

[2016-10-12 13:06] tseaver commented on #1995
Nope -- it uses `setuptools`, but not the `easy_install` script.

With the current `0.20` release of `google-cloud`:

[code]

In a separate environment, using `easy_install`:

[code]

But I *do* see Sphinx being downloaded and installed into a tempdir during the first command:  `grpcio` has a [`setup_requires` which includes `Sphinx`](https://github.com/grpc/grpc/blob/master/setup.py#L209).  `pip`

[2016-10-12 13:06] #1995 closed

[2016-10-12 13:46] #2529 closed

[2016-10-12 14:09] tseaver commented on #2301
@kir-titievsky Your update, correcting the batch usage, seems fine to me.  If hand-marshalling the data using `json.dumps` is not a hard requirement, you might consider sending `timestamp` as an [attribute](https://cloud.google.com/pubsub/docs/reference/rest/v1/PubsubMessage#FIELDS.attributes), e.g.:

[code]

which ought to shave off more cycles.

[2016-10-12 14:22] tseaver commented on #2382
@tcroiset FWIW the API docs ([JSON](https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics/publish) | [gRPC](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#google.pubsub.v1.PublishRequest)) don't mention any limit.

[2016-10-12 14:39] #2513 closed

[2016-10-12 14:40] #2525 closed

[2016-10-12 14:40] daspecster commented on #2525
@jonparrott just merged the fix for this. Let me know if you run into any more issues! Thanks!

[2016-10-12 14:42] daspecster commented on #2513
@Teddy-Schmitz I just merged a partial fix to this issue.

It's important to note that you'll need to base64 encode the message before pasting it into console.cloud.google.com as it just sends the raw data instead of following the API spec.

Thanks for reporting!

[2016-10-12 15:28] jonparrott commented on #2525
Thanks, will await the next release before I can test it.

On Wed, Oct 12, 2016, 7:45 AM Thomas Schultz <notifications@github.com>
wrote:

[2016-10-12 17:14] #2511 closed

[2016-10-12 17:21] daspecster opened #2535 "Test all the doc snippets"
Per @dhermes and @tseaver's [conversation](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/212#issuecomment-240464686).
### Services with tested snippets
- [ ] Add validation script to check for untested snippets.
- [ ] Start running snippets during system tests.
- [ ] Bigquery ([docs/bigquery_snippets.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/a55974bebe

[2016-10-12 17:27] dhermes commented on #2535
We may want a script which explicitly checks and (complains about / errors in the presence of) snippets in RST files or docstrings?

[2016-10-12 17:33] daspecster commented on #2535
@dhermes you mean check for unmarked snippets/code blocks? Can you clarify that?

Use system test environment?
------------------------------
I think @tseaver mentioned something about not wanting to write a lot of mocks for snippets?
With that in mind, couldn't we just test the snippets through the system tests? That seems like the most direct testing strategy.

[2016-10-12 17:42] dhermes commented on #2535
@daspecster Not sure what you mean by unmarked. I simply mean a script which makes sure all of our snippets must be valid and test-able. So if there is just some code-block somewhere without doctest, then we flag it as untested.

[2016-10-12 17:47] daspecster commented on #2535
@dhermes gotcha.

Snippets are referenced via...
[code]

So you could just check for `.. code-block::`'s or `::`'s.
However I don't know if we would want to test things like...
[code]

Could just look for `.. code-block:: python` I suppose.

[2016-10-12 17:53] dhermes commented on #2535
@daspecster Yeah I wasn't trying to spec out how the script would work, just trying to say we should have a check. Otherwise snippets may leak in. There might be a Sphinx extension to check for it already?

[2016-10-12 17:55] daspecster commented on #2535
Yeah sorry, probably the wrong place to spec it out. I added a checkbox for a validation script.

[2016-10-12 19:17] csaintc opened #2536 "`from_service_account_json` throws error"
Currently, I'm getting the following error while using gcloud in a python 3.4.3 virtualenv:

[code]

[2016-10-12 19:19] csaintc commented on #2536
The .json file DOES exist, and the user does have access to it.

[2016-10-12 19:24] daspecster commented on #2536
Thanks for reporting!

@csaintc, it looks like the key file is missing the project ID somehow?
If you look at the file, can you confirm that the project ID is in your .json file?
The actual key is `project_id`.

[2016-10-12 19:25] csaintc commented on #2536
yeah, I have the `project_id` in my keyfile. It's fresh from gcloud

[2016-10-12 19:25] jonparrott commented on #2536
@daspecster @csaintc older key files may be missing the project id, so it's possible. If it is, you can just generate a new key file for the same service account from the API / Cloud Console.

[2016-10-12 19:27] csaintc commented on #2536
I'll go a head and re-generate my keyfile for a sanity check

[2016-10-12 19:29] csaintc commented on #2536
Went ahead and did so, same error.

[2016-10-12 19:34] daspecster commented on #2536
@csaintc, is this on google app engine?

[2016-10-12 19:35] csaintc commented on #2536
@daspecster No, it's on a Google Compute Engine instance running Jenkins. This is a service account keyfile.json that I upload to the box in order to authenticate with gcloud, so i can upload my compiled front-end code to a CDN.

[2016-10-12 19:43] daspecster commented on #2536
@csaintc, have you exported the `GOOGLE_APPLICATION_CREDENTIALS` environment variable?

`$ export GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json`

[2016-10-12 19:59] csaintc commented on #2536
@daspecster Setting the environment variable worked!

I was under the impression that `from_service_account_json` would use the path I provided. (or maybe that's the bug )

[2016-10-12 20:05] daspecster commented on #2536
Great!

Yeah it should, I believe, get the project with `from_service_account_json`.
I'll see if I can reproduce that.

[2016-10-12 20:09] jonparrott commented on #2536
@daspecster don't sink too much time into it, google-auth will handle project ID detection when it's ready.

[2016-10-12 20:12] daspecster commented on #2536
@jonparrott, ah good call.

Incase this is needed in the future, I think the issue is around [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/a55974bebe0477a715f4eed826f9f2ee229a4a0c/core/google/cloud/client.py#L141) somewhere.

@csaintc, I'm going to close this for now. I'm glad you're up and running!

[2016-10-12 20:12] #2536 closed

[2016-10-12 20:44] jcjones1515 opened #2538 "support versioning options when fetching cloud storage buckets and objects"
The [bucket](https://cloud.google.com/storage/docs/json_api/v1/buckets/get) and [object](https://cloud.google.com/storage/docs/json_api/v1/objects/get) REST APIs allow for fetching or at least checking for specific generations/metagenerations of buckets and objects, but these are not supported by the python client.

[2016-10-13 03:47] dhermes opened #15234 "Make sure snippets are doctest-tested"

[2016-10-13 07:07] dhermes commented on #2535
Proof of concept: https://github.com/dhermes/ci-diff-helper/commit/bfbff87d623f2ea6a400b39b9b05ecd4cccf2808

I did something similar in `google-cloud-python` to get an idea of the code-block's we have:
https://github.com/dhermes/google-cloud-python/commit/f51329074e0c3bc9b457070204b7d93c038dfb17

(Worth noting that a `literalinclude` becomes a code block.)

[2016-10-13 10:28] naveensinghal opened #2539 "Python Code to Create New Google Project"
Hi @daspecster

I am trying to create a new Project using the below Code.
Can you please suggest the correction required for making this code work ?

[code]

Getting this as Error:

[code]

Is there any work around for this ?

Thanks,

[2016-10-13 15:03] daspecster commented on #2539
Hello @naveensinghal!

I think that you might be running into the issue outlined [here](https://googlecloudplatform.github.io/google-cloud-python/stable/resource-manager-api.html#authentication).

Let me know if running `$ gcloud auth login` before creating the project changes anything?

[2016-10-13 15:20] naveensinghal commented on #2539
Yes, I think that this might be the issue. But How can I create a project using python code then ?

I am currently trying to run this python code from my local system(Credentials: User Account). And its not working. And I am quite sure, this code won't work from GCE VM(Credentials: Service Account) too. But I need this code to work from both Local & GCE VM.

Any work-around ?
(`gcloud auth login`

[2016-10-13 15:47] daspecster commented on #2539
@naveensinghal, you might be able to setup application default credentials for this.

https://googlecloudplatform.github.io/google-cloud-python/stable/google-cloud-auth.html#overview
https://googlecloudplatform.github.io/google-cloud-python/stable/google-cloud-auth.html
https://developers.google.com/identity/protocols/application-default-credentials

@dhermes do you know the proper way to go about

[2016-10-13 15:56] naveensinghal commented on #2539
@daspecster

If I try to use this code:
[code]

Then how to proceed from here to create a new Project ? (from Local Machine with User Account Credentials Active)

[2016-10-13 15:57] dhermes commented on #2539
@naveensinghal You won't be able to use the API until you are whitelisted. As far as I know, they aren't currently taking more people on the whitelist.

[2016-10-13 15:59] naveensinghal commented on #2539
@dhermes I am able to use list_projects() from the API.
I am facing Issue while creating a new Project.

How can I check if My account whitelisted or not ?

[2016-10-13 16:16] daspecster commented on #2539
@dhermes Looks like they removed the whitelisting and took it out of beta?

Then...
https://webcache.googleusercontent.com/search?q=cache:58iAe2jqxxQJ:https://cloud.google.com/resource-manager/docs/+&cd=2&hl=en&ct=clnk&gl=us

Now...
https://cloud.google.com/resource-manager/docs/

[2016-10-13 17:09] tcroiset opened #2540 "cloud storage: download_to_filename slower than gsutil cp"
Hi,
I need to regularly download a "heavy" (~600MB) file from storage, from a compute engine instance.

Using the command line tool gsutil it takes ~20s
Using a python script with my_blob.download_to_filename() it takes ~120s

Is it expected?

[2016-10-13 17:30] tseaver commented on #2540
@tcroiset The default chunk size is 1 Mb:  does your download go faster if you bump it up?  E.g.:

[code]

[2016-10-13 18:31] daspecster commented on #2540
Sounds related to #2222 as well.

[2016-10-13 19:37] tseaver commented on #2540
I would say it is identical.  @tcroiset, the chunk size suggested in that issue is `1 << 30` (a gigabyte).

[2016-10-13 22:06] bjwatson opened #2541 "Broken link in PyPI README"
Go to https://pypi.python.org/pypi/google-cloud-pubsub and click on the "Pub/Sub API docs" links. It points at https://cloud.google.com/pubsub/reference/rest/, which returns a 404.

A similar issue might exist for other APIs.

[2016-10-14 02:47] dhermes commented on #2541
Gotcha: moved to https://cloud.google.com/pubsub/docs/reference/rest/ (wonder why they didn't do redirects)

[2016-10-14 08:05] tcroiset commented on #2540
Thanks, it works great!

[2016-10-14 08:05] #2540 closed

[2016-10-14 13:56] tseaver commented on #2535
@dhermes Our goals for testing snippets inline:

- Snippets have no syntax errors.  We could mock *everything* to satisfy this case.
- Snippets calls to each API match their signatures.  Here, we would have to mock things at the connection / stub / helper level.  We would still not catch stuff where the values passed in matched the names of expected arguments, but failed to marshal properly, or ma

[2016-10-14 14:09] tseaver commented on #2462
ISTM that having separate RTD projects for each API might be the Right Thing(TM):  each PyPI page would point there, for instance.  The "master" docs would then include only the overview stuff, with intersphinx links to the separate projects.

[2016-10-14 14:32] #2541 closed

[2016-10-14 15:32] layoaster commented on #1893
Hi, I'm having issues when vendoring google-cloud on the GAE dev server.

I'm using virtualenv so install google-cloud with `pip install google-cloud -t lib/`. Have no issues importing `bigquery` but I get the `ImportError: No module named pwd` when calling to `bigquery.Client()`

Pinning down to the version 2.2.0 of the `oauth2client` doesn't fix it. I'm using latest version of the GAE SDK

[2016-10-14 16:20] tseaver commented on #1893
@layoaster Our only use of `pwd` is in `core/google/cloud/_helpers.py`, which has a [conditional import](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/484d4695f5f124f7d33fc5c1bc06dea968635403/core/google/cloud/_helpers.py#L57-L62):

[code]

The `oauth2client` issue is here: https://github.com/google/oauth2client/issues/578

[2016-10-14 16:36] naveensinghal commented on #2539
@dhermes , @daspecster Any Suggestions please ?

[2016-10-14 16:42] daspecster commented on #2539
@naveensinghal, you can pass the credentials from your previous comment via...
[code]

[2016-10-14 16:50] naveensinghal commented on #2539
Tried this Code(from Local Machine with User Account):
[code]

Still got the same Error:
[code]

[2016-10-14 16:52] daspecster commented on #2539
@naveensinghal, it must still be restricted access.

Maybe @omaray can confirm?

[2016-10-14 17:05] dhermes commented on #1893
@layoaster Can you provide a stacktrace?

[2016-10-14 17:08] jonparrott commented on #1893
If @layoaster is using dev_appserver, this is unsurprising. They fixed `os.expanduser` on production GAE, but haven't yet updated the GAE SDK to support it.

[2016-10-14 17:11] dhermes commented on #1893
@jonparrott Without a stacktrace, I'm still surprised. If you notice the code @tseaver posted above, the only `ImportError` that would happen is avoided by our code.

[2016-10-14 17:13] jonparrott commented on #1893
Yeah but oauth2client also makes a call.

[2016-10-14 17:14] dhermes commented on #2535
@tseaver That's fine with me. (The thing I spec-ed out was really just to show how we could make sure the literal blocks adhere to whatever standards we desire. So if we wanted them all to be `literalinclude` we could check for that.)

[2016-10-14 17:15] dhermes commented on #1893
I would believe that. Would be very easy to believe with a stacktrace :grinning:

[2016-10-14 17:16] dhermes commented on #2462
I think I'd be OK with that. I don't think that gets us around the `stable` / PEP 420 issue.

[2016-10-14 19:04] layoaster commented on #1893
Sorry for not providing it before @dhermes @jonparrott

[code]

[2016-10-14 21:06] wakahiu opened #2544 "google.cloud.logging 'module' object has no attribute 'Client'"
I'm trying to run a simple python example from the[ tutorial page ](https://googlecloudplatform.github.io/google-cloud-python/stable/logging-usage.html)

[code]
And getting the error

[code]

I've created and exported the credentials using

[code]

Running python in a virtual env having installed the SDK using

[code]

[2016-10-14 21:11] daspecster commented on #2544
Hello @wakahiu!

Did you have google-cloud or gcloud-python installed before?

In version 0.19.0 the library switched to namespace packages and it seems that pip doesn't handle this quite right when upgrading.

I would recommend starting with a fresh virtualenv and installing google-cloud from there.

I was able to get a logging client just now without errors.

[2016-10-14 21:15] dhermes commented on #2544
@daspecster It might be a clean install, since he has a valid `google.cloud.logging` module object.

I'm not 100% on this but I'm pretty sure it was because of a namespace collision in 0.19.0 made `google.cloud.logging` a namespace package (which could have no members). In 0.20.0 it should work just fine.

@wakahiu Can you give the output of `pip show google-cloud` and `pip show google-cloud-loggi

[2016-10-14 21:22] wakahiu commented on #2544
@daspecster and @dhermes

The outputs of `pip show google-cloud` is
[code]

and  `pip show google-cloud-logging`

[code]

[2016-10-14 21:28] dhermes commented on #2544
@wakahiu Your error is unrelated to credentials, but thanks for the info.

It doesn't seem possible that the attribute would be missing (see [source][1]) **unless** you have another library around that is making `google.cloud.logging` a namespace package. Can you try installing in a fresh virtualenv and see if you get the same error?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python

[2016-10-14 21:31] daspecster commented on #2544
@wakahiu @dhermes, `pip freeze` output might be useful?

[2016-10-14 21:38] dhermes commented on #2544
Sure it would, though it may be too much noise if it lists the global install :wink:

[2016-10-14 21:49] wakahiu commented on #2544
@daspecster and @dhermes  the output to `pip freeze` is

[code]

Note all the ``google-cloud*`` are at least 0.20. Could it be the ``googleapis``?

Doing `pip freeze` outside the virtual env shows
[code]

[2016-10-14 21:50] daspecster commented on #2544
@wakahiu my guess is that `gcloud==0.18.3` is the culprit.

[2016-10-14 21:54] dhermes commented on #2544
Rather than stipulating about your current install (via `pip freeze`) can you install in a fresh virtualenv and see if the issue persists?

[2016-10-14 23:45] waprin commented on #2521
@Teddy-Schmitz working on getting this fixed, but in the meantime if you switch to HTTP instead of gRPC by setting `GOOGLE_CLOUD_DISABLE_GRPC` to 1, it will workaround this issue.

[2016-10-15 01:19] wakahiu commented on #2544
A couple of things.

First off I am running a nvidia-docker container + venv if it helps.

I've nuked my virtual env and deleted the system pip packages using `pip freeze | xargs pip uninstall -y`. I've tried installing from source as shown [here](http://google-cloud-python.readthedocs.io/en/stable/) and realized the following.

1. I'm able to run the following code successfully in interactive mod

[2016-10-15 15:25] wakahiu commented on #2544
I figured out what was the problem, I was running ``python logging.py`` in a directory that had another logging module and it picked up that instead. I can now run in both interactive mode and thanks.

[2016-10-15 15:28] #2544 closed

[2016-10-15 21:17] jonparrott opened #2548 "Figure out the right level of abstraction for iterators."
(From #2545)

We need to determine how users will interact with our iterators and what level of abstraction is expected.

Right now @dhermes has implemented an iterator that iterates through items but exposes page information by setting state on the iterator itself.

[code]

I'm not the biggest fan of this for two reasons: it combines the `iterable` and the `iterator` interfaces, it merges the ite

[2016-10-16 02:52] patrick-ogrady opened #2549 "When Passing in HTTP Object To Datastore Client Get Error"
Exception AttributeError: AttributeError("'NoneType' object has no attribute 'get_access_token'",) in 'grpc._cython.cygrpc.plugin_get_metadata' ignored

[2016-10-16 02:52] patrick-ogrady commented on #2549
This is on a GCE machine

[2016-10-16 05:04] patrick-ogrady opened #2550 "Sporadic Missing Credentials on GCE"
stat("/root/.config/gcloud/application_default_credentials.json", 0x7fffca9515f0) = -1 ENOENT (No such file or directory)

[2016-10-16 16:20] jlowin opened #2551 "BigQuery: Add support for query parameters"
The CLI command `bq query` now supports query parameters for Standard SQL queries and the API does as well (https://cloud.google.com/bigquery/docs/reference/v2/jobs/query#request-body). It would be great to be able to provide these via google.cloud.

[2016-10-16 16:25] tseaver commented on #2549
@patrick-ogrady Thanks for the report! Can you paste in the full traceback, and show the code which is setting up the datastore client?

[2016-10-16 16:32] tseaver commented on #2550
@patrick-ogrady Thanks for the report!  I'm not sure it is germane to `google-cloud-python`:  nothing in our code attempts to open such a file.  We *do* look for `~/.config/gcloud/configurations/config_default`, but wouldn't fail due to its absence.  Are you running into this issue when using the `gcloud` CLI?  That tool isn't developed here.

[2016-10-16 16:38] dhermes commented on #2549
@patrick-ogrady Sorry you had to come across this weird corner case. We are working hard to get a better credentials / transport story (see dev at https://github.com/GoogleCloudPlatform/google-auth-library-python/)

A custom HTTP object will only be used the the HTTP implementation of datastore. When using the gRPC implementation (which is the default) the credentials object must be present to hel

[2016-10-16 16:47] tseaver commented on #2551
@jlowin Thanks for the report!  Except for the API reference page you linked, I can't find any other docs (especially narrative ones with samples) which explain how query parameters should be used.  Do you know of any?

[2016-10-16 16:50] jlowin commented on #2551
I wish there were but so far I've just been figuring it out via trial and error. For example:

[code]

[2016-10-16 17:53] patrick-ogrady commented on #2550
This is the error I get when I strace a few processes that get stuck when using google.cloud.datastore to upload some entities...any idea what the issue could be?

[2016-10-16 18:03] dhermes commented on #2550
I'd guess it's showing internals of how the GCE metadata server works, but have no way of knowing. @jonparrott

[2016-10-17 15:47] patrick-ogrady commented on #2550
Wondering how to proceed?

[2016-10-17 15:56] daspecster commented on #2550
@patrick-ogrady, can you tell us a little more about the environment that you're having this issue on?

Are you making many requests? Is this a threaded application?

[2016-10-17 16:15] patrick-ogrady commented on #2550
This is single threaded on an ubuntu GCE image. I created the image and use
it for all of my instances and haven't run into any problems until 2 weeks
ago (I didn't update or anything). Can images/credentials stored in them
get stale?

On Mon, Oct 17, 2016 at 8:56 AM Thomas Schultz <notifications@github.com>
wrote:

[2016-10-17 16:18] daspecster commented on #2550
I don't think the credentials can go stale unless the token is revoked.

You're running a python application correct?

[2016-10-17 16:20] patrick-ogrady commented on #2550
Yep! I'm thinking I should just create a fresh image and give that a try?

On Mon, Oct 17, 2016 at 9:18 AM Thomas Schultz <notifications@github.com>
wrote:

[2016-10-17 16:25] tswast commented on #2551
@tseaver It's on my TODO list to document this feature better.

[2016-10-17 16:28] daspecster commented on #2550
Could, there are a lot of implementation details here that may be the cause which we wouldn't know.

If you think you can write a python example that reproduces the issue then I can give that try and maybe gain more insight.

[2016-10-17 16:31] jonparrott commented on #2550
Is the `stat` a red herring? oauth2client checks for gcloud's credentials before attempting to use the GCE metadata server's credentials.

At any rate, a Python script that can reproduce this would be really helpful, especially if there is an issue with the metadata server - it'll help me find the bug and report it properly internally.

[2016-10-17 16:36] daspecster commented on #2550
@jonparrott, I think that's plausible. The script may not exit cleanly for some reason and hang, and the memory location pointing to the file could have changed.

[2016-10-17 16:37] jonparrott commented on #2550
If it does actually reach gce credentials then there should be a `connect` call in strace.

[2016-10-17 16:42] patrick-ogrady commented on #2550
The weird thing is it will usually work for any query calls on Datastore
but then fail when trying to write? Is there any limit on the number of
clients you can invoke in a given program? datastore.client()

On Mon, Oct 17, 2016 at 9:37 AM Jon Wayne Parrott <notifications@github.com>
wrote:

[2016-10-17 16:43] patrick-ogrady commented on #2550
I create a client for each write instead of just using the same client I
used to query with.

On Mon, Oct 17, 2016 at 9:42 AM Patrick O'Grady <prohb125@gmail.com> wrote:

[2016-10-17 16:50] jonparrott commented on #2548
@dhermes updated, PTAL when you get a chance.

[2016-10-17 16:52] jonparrott commented on #2550
clients you can invoke in a given program? datastore.client()

There shouldn't be, but in general you should create one client per thread in your application.

[2016-10-17 16:54] patrick-ogrady commented on #2550
But just to confirm it is not thread-safe correct? Also, one client per
service (storage, datastore, pubsub) or one client for all (don't know if
that is possible)?

On Mon, Oct 17, 2016 at 9:53 AM Jon Wayne Parrott <notifications@github.com>
wrote:

[2016-10-17 16:58] daspecster commented on #2550
Each service has it's own client.
So you can not use a datastore client for bigquery for example.

This library is not thread safe, mostly due to httplib2.

[2016-10-17 16:59] jonparrott commented on #2550
Our clients are not currently threadsafe. And yes, one client per service per thread.

[2016-10-17 17:15] patrick-ogrady commented on #2550
I'll give it a try and respond with an update...thank you!

On Mon, Oct 17, 2016 at 9:59 AM Jon Wayne Parrott <notifications@github.com>
wrote:

[2016-10-17 17:21] dhermes commented on #2548
The `Iterator` is already the response, so people want to be able to say:

[code]

where `client.list_projects()` is an instance of an `Iterator` subclass.

Also, by using indirection via punting to `iterator.pages()` and `iterator.items()`, does the `Iterator` instance hold any state? Does it know where it is in the iteration process? What happens if someone does this:

[code]

Rather than get in

[2016-10-17 17:34] jonparrott commented on #2548
You can still do that with the proposal I have, just map the iterable to return the item iterator by default.

The `Iterator` class we have now is actually the `Iterable` in my proposal, so no, it has no state.

[code]

Indeed it doesn't, but I think in the case where there are multiple ways of iterating over an iterable it makes sense to return a separate iterator (dict does this).

[2016-10-17 20:01] waprin opened #2552 "GAX can't log nested structs"
This is the root issue in #2521 , if we feel it's the same issue can just rename that one. But when using gax,

[code]

produces:

[code]

[2016-10-17 21:04] tinyhydra opened #2555 "datastore: unclear exception when query fails due to no index"
When applying a specific combination of filters to a query, if an index is not set an unusual exception occurs. Example:

firstname = "foo"
last_checked = datetime.datetime.now(datetime.timezone.utc) - datetime.timedelta(hours=1)
query = client.query(kind='people')
query.add_filter('first_name', '=', firstname)
query.add_filter('created_date', '>', last_checked)
results = list(query.fetch())

exce

[2016-10-17 21:29] tseaver commented on #2555
@tinyhydra Thanks for the report.  I'm not sure how to address it in `google-cloud-python`:  ITSM that the back-end is not providing any information that would let us produce a better error message.

/cc @jonparrott Do you know who we should talk to on the back-end team?

[2016-10-17 21:31] tseaver commented on #2552
@dhermes I don't think this is actually a GAX/gRPC issue:  our own `_log_entry_mapping_to_pb` function is likely at fault.

[2016-10-17 21:54] jonparrott commented on #2555
@pcostell maybe?

[2016-10-17 22:27] daspecster commented on #2552
It looks like [this](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0aca3f6ed05f3340333f231445a3d8b17d8d8e6c/logging/google/cloud/logging/logger.py#L136) causes `jsonPayload` to be set for when `_log_entry_mapping_to_pb()` is called later.

[This](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0aca3f6ed05f3340333f231445a3d8b17d8d8e6c/logging/google/cloud/logging/_

[2016-10-17 22:44] tehranian opened #2557 "Please update examples BigQuery API docs to use this library"
Thanks for writing this library. Looks like it'll be very useful, once I switch to it from `google-api-python-client`...

Question: Why do all of the Python examples in the BigQuery API docs (ex: https://cloud.google.com/bigquery/docs/reference/v2/jobs/get) use the low-level client library https://github.com/google/google-api-python-client ?

As far as I can tell, there's no mention in any of the

[2016-10-17 22:48] jonparrott commented on #2557
/cc @omaray

Hi @tehranian, we're in the process of updating documentation for several products to point to this library over `google-api-python-client`. Keep in mind that this library is currently in beta and hasn't yet reached 1.0 so we want to make sure that this library is mature enough and the proper support is in place before making this the recommended way to access our services.

[2016-10-17 22:48] #2557 closed

[2016-10-17 22:57] tehranian commented on #2557
Hi @jonparrott,

Thanks for the quick reply. I was not aware that this library was still in beta. Any ETA on when it might go for a 1.0 release? Calendar month or quarter would be good to know.

I'll hold off on migrating our apps until then. Thanks, Dan.

[2016-10-17 23:48] waprin commented on #2552
SGTM. Bit surprising that that recursively setting a struct needs to be done manually, still trying to understand it.

[2016-10-18 02:40] dhermes commented on #2555
`INTERNAL` maps to a 500 error. @jonparrott and I had discussed having a generic catch-all to remap gRPC exceptions to our `google.cloud.exceptions` classes.

I'm not sure if a typical 500 error has more useful info?

[2016-10-18 02:42] dhermes commented on #2555
See the [mapping][1] and [previous discussion][2].

I got a little chuckle out of the description for `INTERNAL`:

[1]: https://github.com/googleapis/googleapis/blob/034b4cdaacf13764f70ba55205ea6f9734652cc0/google/rpc/code.proto
[2]: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2496#issuecomment-251503719

[2016-10-18 03:11] pcostell commented on #2555
Hey all --

This is likely due to gRPC issues that cannot translate newlines in exceptions (which were included in index precondition failures since we give you the actual error message).

These used to throw the correct status (PRECONDITION), but have since changed to be 500s.

We've fixed this to not use newlines for gRPC messages, @eddavisson can comment on the status of that change.

[2016-10-18 03:12] pcostell commented on #2555
This issue can likely be closed as a dupe of https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/132

[2016-10-18 04:52] jonparrott commented on #2557
@tehranian typically we don't speak toward timelines, but perhaps @omaray can fill in any gaps.

[2016-10-18 06:12] patrick-ogrady commented on #2550
Now I am getting this issue:

select(0, NULL, NULL, NULL, {9, 556264}) = 0 (Timeout)
select(0, NULL, NULL, NULL, {10, 0})    = 0 (Timeout)
select(0, NULL, NULL, NULL, {10, 0})    = 0 (Timeout)
select(0, NULL, NULL, NULL, {10, 0})    = 0 (Timeout)
select(0, NULL, NULL, NULL, {10, 0})    = 0 (Timeout)

Where the upload is just hanging?

[2016-10-18 07:16] patrick-ogrady commented on #2550
I also see a bunch of jfscommits spawn in ps if that helps?:

root     19094  0.0  0.0      0     0 ?        S<   06:55   0:00 [xfs_mru_cache]
root     19100  0.0  0.0      0     0 ?        S    06:55   0:00 [jfsIO]
root     19101  0.0  0.0      0     0 ?        S    06:55   0:00 [jfsCommit]
root     19102  0.0  0.0      0     0 ?        S    06:55   0:00 [jfsCommit]
root     19103  0.0  0.0

[2016-10-18 07:55] patrick-ogrady commented on #2550
I am also using anaconda2-4.2 if you think that would have any affect?

[2016-10-18 12:27] daspecster commented on #2552
@waprin, it looks like the [generated code side](https://github.com/google/protobuf/blob/008b5a228b37c054f46ba478ccafa5e855cb16db/python/google/protobuf/internal/well_known_types.py#L690-L702) only accepts bool, text, and number types.

However the docs make it sound like `jsonPayload` should just accept the object.
https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/LogEntry

Maybe

[2016-10-18 13:46] wakahiu opened #2559 "Network Status Tracker Error"
I've added google cloud (StackDriver) as one of my [logging handlers](https://docs.python.org/3.4/library/logging.html#module-logging). Logging happens fine, however my python scripts always end with the following message.

[code]

Here's a snipet of code for how I'm logging.
[code]

Any idea why the google cloud SDK is not shutting down the network endpoints?

[2016-10-18 14:06] daspecster commented on #2559
@wakahiu Thanks for reporting!

I think this is actually some debug logging that should be removed from one of the c plugins.

@jonparrott or @bjwatson, do you know who would be good to mention this too?

[2016-10-18 14:28] wakahiu commented on #2559
This debug message originates from gRPC based on [this issue](https://github.com/grpc/grpc/issues/7849).

[2016-10-18 14:40] daspecster commented on #2559
@wakahiu thanks for finding it! I'll close this issue and we can track it there.

[2016-10-18 14:40] #2559 closed

[2016-10-18 16:23] jonparrott commented on #2550
@patrick-ogrady that's somewhat helpful, but it would be great to have the code you're using to reproduce this.

[2016-10-18 16:31] dhermes commented on #2559
@nathanielmanistaatgoogle Note this is a user confounded by the memory leak

[2016-10-18 16:32] jonparrott commented on #2559
I've also started seeing this in the tests for python-docs-samples.

[2016-10-18 16:40] patrick-ogrady commented on #2550
This is the section where it gets stuck:
`while i < len(this_result["prediction"]):

                today_target_value = raw_finance_data[key][str(all_trading_days[i])][target_term]
                to_upload.append(add_today_prediction_to_datastore(datastore_client, this_result["prediction"][i], str(all_trading_days[i]), res, sr, sp, PCA_VALUE, prediction_type,
                        target_term

[2016-10-18 16:41] patrick-ogrady commented on #2550
where add_today_prediction_to_datastore is
`def add_today_prediction_to_datastore(datastore_client, prediction, today_date, reservoir, spectral_radius, spacity, principal_components, prediction_type,
                        target_term, ticker, noise, input_scale, multiplication_factor, today_vol):

    while True:
        try:

            key = datastore_client.key(ticker + '_BACKTEST_DAILY_' +

[2016-10-18 16:42] patrick-ogrady commented on #2550
where timeout is
`import signal

class TimeoutError(Exception):
    pass

class timeout:
    def __init__(self, seconds=1, error_message='Timeout'):
        self.seconds = seconds
        self.error_message = error_message
    def handle_timeout(self, signum, frame):
        raise TimeoutError(self.error_message)
    def __enter__(self):
        signal.signal(signal.SIGALRM, self.handle_timeout)

[2016-10-18 16:42] patrick-ogrady commented on #2550
where timeout is:
`import signal

class TimeoutError(Exception):
    pass

class timeout:
    def __init__(self, seconds=1, error_message='Timeout'):
        self.seconds = seconds
        self.error_message = error_message
    def handle_timeout(self, signum, frame):
        raise TimeoutError(self.error_message)
    def __enter__(self):
        signal.signal(signal.SIGALRM, self.handle_timeout)

[2016-10-18 16:44] patrick-ogrady commented on #2550
where clients are initialized:
`#Initialize Clients
from google.cloud import pubsub
from google.cloud import datastore
from google.cloud import storage
pubsub_client = pubsub.Client()
datastore_client = datastore.Client()
storage_client = storage.Client()`

[2016-10-18 16:50] patrick-ogrady commented on #2550
I added timeouts to try and kick it out of a hang where the process went into that loop noted earlier but didn't help

[2016-10-18 16:57] daspecster commented on #2550
At first glance, I see that you're redeclaring `datastore_client` several times.  You shouldn't need to do that. You can just use the clients that you defined in your `#Initialize Clients` example.

[2016-10-18 16:58] patrick-ogrady commented on #2550
I only do that if the upload fails

[2016-10-18 16:58] patrick-ogrady commented on #2550
should I just retry the upload without reinitialization?

[2016-10-18 17:00] daspecster commented on #2550
What exception does it throw when the client(s) fail?

[2016-10-18 17:02] patrick-ogrady commented on #2550
So far, it either gets stuck and does: `stat("/root/.config/gcloud/application_default_credentials.json", 0x7fffca9515f0) = -1 ENOENT (No such file or directory)`

or it gets stuck and does:
`select(0, NULL, NULL, NULL, {10, 0}) = 0 (Timeout)`

[2016-10-18 17:02] patrick-ogrady commented on #2550
i'm on the newest version right now

[2016-10-18 17:02] patrick-ogrady commented on #2550
I just built a fresh image and am testing now

[2016-10-18 17:02] tcroiset commented on #2382
@tseaver It is mentioned here: https://cloud.google.com/pubsub/quotas

[2016-10-18 17:33] patrick-ogrady commented on #2550
Alright got a new error: @jonparrott
`UPLOAD ERROR(<class 'grpc._channel._Rendezvous'>, <_Rendezvous of RPC that terminated with (StatusCode.UNAVAILABLE,
 {"created":"@1476811838.872765094","description":"Secure read failed","file":"src/core/lib/security/transport/secu
re_endpoint.c","file_line":157,"grpc_status":14,"referenced_errors":[{"created":"@1476811838.872723741","descriptio
n":"EOF","file

[2016-10-18 17:37] dhermes commented on #2550
@patrick-ogrady That's just the gRPC equivalent of a 404.

[2016-10-18 17:37] patrick-ogrady commented on #2550
This happens each time I try to upload

[2016-10-18 17:40] patrick-ogrady commented on #2550
currently trying the HTTP version using 'GOOGLE_CLOUD_DISABLE_GRPC=true' to see if this alleviates any errors

[2016-10-18 18:07] patrick-ogrady commented on #2549
Is there any way to check this variable has been set correctly?

[2016-10-18 18:10] dhermes commented on #2549
Run

``
echo ${GOOGLE_CLOUD_DISABLE_GRPC}
[code]

[2016-10-18 18:32] patrick-ogrady commented on #2550
now get : `UPLOAD ERROR(<class 'socket.error'>, error(32, 'Broken pipe'), <traceback object at 0x7f30108c1098>)`

[2016-10-18 18:33] patrick-ogrady commented on #2550
Should I just disregard these errors eventhough they happen on the first call of every time?

[2016-10-18 19:11] patrick-ogrady commented on #2550
@jonparrott I decreased the size from 400 to 100 and the error went away

[2016-10-18 20:11] eddavisson commented on #2555
The fix is expected to be available in production this week. I'll update GoogleCloudPlatform/google-cloud-datastore#132 once it's out.

[2016-10-18 20:16] patrick-ogrady commented on #2550
Alright in summary:

- Get Errors on Both gRPC and HTTP if size of upload is 400
- Only Get Error on gRPC if size of upload is 70

Thoughts:

Because there is a long time between subsequent calls, anaconda may be doing something to end the gRPC connection?

[2016-10-18 21:03] bjwatson commented on #2552
@daspecster I think this is because `json_payload` is not defined in the [proto](https://github.com/googleapis/googleapis/blob/master/google/logging/v2/log_entry.proto#L67) as `map<string, string>` like `labels` is. Instead it is defined as [`google.protobuf.Struct`](https://github.com/google/protobuf/blob/master/src/google/protobuf/struct.proto#L52), which adds one more level to the object hierar

[2016-10-18 21:10] bjwatson commented on #2552
I flagged this as an opportunity to improve the `LoggingServiceV2Api.write_log_entries()` method sample in the GAPIC code: https://github.com/googleapis/toolkit/issues/636

[2016-10-18 22:11] jessesuen commented on #1187
You will need to create a pyinstaller hook for packages that depend on setuptools' get_distribution() to obtain metadata information about the package.

Create a hook file in some hooks directory. The file name should be ``hook-<modulename>.py`` for pyinstaller to find it properly (i.e. ``hook-gcloud.py``).

The content will be:
[code]

The hooks directory should be set in the Analysis phase of yo

[2016-10-18 22:15] patrick-ogrady commented on #2550
Scratch that...after running for 15 minutes, I get the hanging loop error again:

`select(0,NULL, NULL, NULL, {0, 932688}) = 0 (Timeout)
select(0, NULL, NULL, NULL, {10, 0}`

[2016-10-18 23:14] dhermes commented on #1187
Thanks @jessesuen!

[2016-10-19 00:35] wakahiu opened #2563 "Is google-cloud-python compatible with google protobuf?"
This question if cross-referenced from [here](https://github.com/tensorflow/tensorflow/issues/5056) since it spans both repos/accounts.

--------------------------------------------------------------------------------------------
### What related GitHub issues or StackOverflow threads have you found by searching the web for your problem?
- [Tensoflow Installation from source README](https://github

[2016-10-19 00:42] wakahiu commented on #2563
Essentially, my question is. It seams that by installing `protobuf` immediately lose the google.cloud modules. Is there a namespace collision such that google can't import two google modules as indicated here?
https://code.google.com/p/google-cloud-sdk/issues/detail?id=24

[2016-10-19 00:42] dhermes commented on #2563
Short answer: Yes https://pypi.python.org/pypi/google-cloud is compatible with https://pypi.python.org/pypi/protobuf

----

We've seen a decent number of issues like this. It's unfortunate, but there isn't much we can do. It's either due to

- `pip` / `setuptools` mishandling an upgrade of a namespace package
- an older version of https://pypi.python.org/pypi/protobuf installed (older versions don

[2016-10-19 00:42] #2563 closed

[2016-10-19 01:29] wakahiu commented on #2563
Thanks a lot @dhermes

[2016-10-19 09:31] Fkawala opened #2566 "Documentation URLs"
Hello,

I noticed that [1] references [2] as documentation. This documentation describes the `google-cloud` package. I guess that [1] should reference [3] as documentation. I am right ?

[1] https://googlecloudplatform.github.io/google-cloud-python/
[2] https://googlecloudplatform.github.io/google-cloud-python/stable/
[3] https://googlecloudplatform.github.io/google-cloud-python/0.18.1/index.html

[2016-10-19 09:45] naveensinghal opened #2567 "Serve Static files from Google Cloud Storage Bucket (for Django App hosted on GCE)"
Hi @dhermes

I am trying to serve the static Files for my django App from Cloud Storage Bucket but don't know the exact process. Can you please suggest a proper way to do so ?

Steps done:

1. Uploaded all the static files on Google Cloud Storage Bucket(www.example.com) using gsutil command.
2. Edited /etc/apache2/sites-available/default-ssl.conf File.

File Content:
[code]

Settings.py File:
[cod

[2016-10-19 11:31] daspecster commented on #2566
@Fkawala, thanks for the question!

The way it is now, is actually correct.
The current stable version of `google-cloud-python` is 0.20.0 and that is why [1] references [2].

I'm guessing that you're wondering this because the styling is different? We have a framework that keeps the styling consistent between the different languages but that ended up breaking when we switched to namespace packages

[2016-10-19 11:31] #2566 closed

[2016-10-19 12:59] daspecster commented on #2567
@naveensinghal, do you have the files in the bucket set to public visibility?

Also, I _don't_ think apache's `alias` directive is what you want here.
https://httpd.apache.org/docs/current/mod/mod_alias.html#alias is used to reference local filesystem resources.

You probably want to read up on https://httpd.apache.org/docs/current/mod/mod_proxy.html.

[2016-10-19 13:05] naveensinghal commented on #2567
Yes, I have the bucket files set to public visibility. The issue should be with the settings only.

[2016-10-19 13:12] daspecster commented on #2552
Thanks @bjwatson!

[2016-10-19 13:41] destijl commented on #2397
There's definitely a loss of precision problem here. The timestamp I set is not the timestamp I get back on read.

[code]

[code]

[2016-10-19 13:56] destijl commented on #2397
I wondered if this was just a problem around epoch, but it's not. 1 Dec is the same as 1 Jan.

[code]

Bigtable does support microsecond precision, right?

[2016-10-19 15:04] dhermes commented on #2567
@naveensinghal Check out the storage docs: https://cloud.google.com/storage/docs/collaboration

Once you have made a file public, you can serve it at the static URL:

[code]

Questions like this that are about the service itself, rather than our library, are better suited for StackOverflow. (We aren't necessarily experts on the Storage API and even if we were, that is not really the goal of the Py

[2016-10-19 15:04] #2567 closed

[2016-10-19 15:14] dhermes commented on #2552
@bjwatson What's the type of `mapping['jsonPayload']`? Seems like

[code]

is a really long way of saying:

[code]

[2016-10-19 15:14] destijl opened #2569 "Can't set table timestamp precision with python API"
I didn't realise per-table timestamp precision was a thing because it is missing from the python API, but is present in the RPC API:
https://cloud.google.com/bigtable/docs/reference/admin/rpc/google.bigtable.admin.v2#google.bigtable.admin.v2.Table.TimestampGranularity

It's REALLY not obvious that the table is in ms precision by default, and is silently dropping usec (granularity isn't mentioned a

[2016-10-19 15:20] dhermes commented on #2569
@destijl It's absent from the API because milliseconds is the [only allowed value][1]. This is also in the [docs][2] for table.

AFAICT this is unrelated to #2397.

----

Closing this out. LMK if there are issues remaining.

[1]: https://github.com/googleapis/googleapis/blob/37cc0e5acae50ee91f00827a7010c3b07dfa5311/google/bigtable/admin/v2/table.proto#L32-L39
[2]: https://github.com/GoogleCloudPla

[2016-10-19 15:20] #2569 closed

[2016-10-19 15:55] destijl commented on #2569
Ah. I'd suggest putting it at least here:
https://googlecloudplatform.github.io/google-cloud-python/stable/bigtable-row-filters.html#google.cloud.bigtable.row_filters.TimestampRange

so users don't need to find out via an exception. ms precision is actually a fairly big problem for us, I'm going to send you an email separately.

[2016-10-19 16:02] dhermes commented on #2569
Indeed, we should probably do something like [this][1] in `TimestampRange.to_pb()`.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/392f0f8b2ffaee98766f2851df72221051124100/system_tests/bigtable.py#L330-L338

[2016-10-19 16:37] Fkawala opened #2572 "Missing protobuf descriptor: google.appengine.logging.v1.RequestLog"
Hello,

To send a protobuf RequestLog entry through the stackdriver logging facility fails with the error stack below.

[code]

The protobuf is created / sent as follows:

[code]

This [gist](https://gist.github.com/Fkawala/654093301c47241386b5cd4e02791e56) provides a docker test environment.

Is this a bug or am I missing something ?
François.

[2016-10-19 17:08] dhermes commented on #2572
@bjwatson Is there some kind of automated conversion for `Any` messages (i.e. with a type url)?

[2016-10-19 20:13] bjwatson commented on #2552
@dhermes I'm guessing it's a dictionary. It's defined in the gcloud code: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0aca3f6ed05f3340333f231445a3d8b17d8d8e6c/logging/google/cloud/logging/logger.py#L223

Thanks for the tip on the `.copy()` function. Seems like a good simplification if it works.

[2016-10-19 22:31] bjwatson commented on #2572
@dhermes Looks like there is, but it doesn't recognize `type.googleapis.com/google.appengine.logging.v1.RequestLog`. The relevant code seems to be [here](https://github.com/google/protobuf/blob/master/python/google/protobuf/json_format.py#L338) and [here](https://github.com/google/protobuf/blob/fd046f6263fb17383cafdbb25c361e3451c31105/python/google/protobuf/descriptor_pool.py#L251).

[2016-10-19 22:46] tinyhydra opened #2573 "using datastore (+pubsub?) emulator requires credentials"
There may be a way to do this that I'm not aware of, but from hunting around for documentation, consulting slack, and stepping through the code, it appears that this library requires live gcp credentials to use the emulator. This wouldn't be a problem, except that I can't think of a reason it would require the credentials, and if there's a problem using the emulator no notice is given, it simply f

[2016-10-20 03:06] dhermes commented on #2573
Thanks for filing. The connection [can tell][3] if it is in an emulator, but just uses the default credential checking behavior. In our system test, we manually [pass in][4] some [do-nothing credentials][5].

Have you seen the `tox -e pubsub-emulator` [environment][1] or [`run_emulator.py`][2]?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/85a0c1a74af0fa9af9b33b3e57b0e562c4

[2016-10-20 03:13] dhermes commented on #2572
@bjwatson Do you know how types get registered with `symbol_database.Default()`? Do any of the GAPIC / gRPC generated libraries register types?

/cc @waprin @jonparrott

[2016-10-20 04:51] dominiek commented on #1570
Unfortunately, this is still happening. Tried various versions of protobuf and re-installing google cloud.

My environment:

- Ubuntu 14.04
- Not using virtual env, since it runs in a Docker container
- Python version 2.7.6
- Protobuf versions tried: 3.1.0, 3.1.0.post1, 3.0.0.b2.post1, 3.0.0.b2.post2

When using python or pip anywhere, this happens:

[code]

[2016-10-20 04:56] dhermes commented on #1570
@dominiek When other users have reported similar, they had an "incorrect" install of some packages that live in the `google` namespace. The fix was to uninstall those conflicting packages and then re-install fresh.

It seems `setuptools` / `pip` couldn't handle the change we made from 0.19.0 to 0.20.0.

Before uninstalling lots of things from your default environment, spin up a virtual environment

[2016-10-20 05:48] jonparrott commented on #1570
Also, note that using docker doesn't obviate the need for virtualenv. You
probably still want your application's packages isolated from Ubuntu's.

On Wed, Oct 19, 2016, 9:56 PM Danny Hermes <notifications@github.com> wrote:

[2016-10-20 14:26] mwytock opened #2574 "subscription pull deadline exceeded"
Calling `sub.pull()` sometimes results in deadline exceeded exceptions from lower layer, I believe when the topic is empty.

[code]

[code]

[2016-10-20 14:32] daspecster commented on #2574
Thanks for reporting @mwytock!

Unless I'm missing some context, this seems like it could be the correct reaction in certain scenarios?

See: https://cloud.google.com/pubsub/docs/error-codes

There is talk of adding retry logic to the client but that hasn't been done yet.

There are some pretty good libraries out there for retrying.
- https://pypi.python.org/pypi/retrying
- https://pypi.python.org

[2016-10-20 14:43] daspecster commented on #2574
When you say "before", do you remember what version of the library you were using for that behavior? I don't think much has changed with pubsub in a while so that would a place I could start looking.

Usually we catch and rethrow exceptions when the gRPC ones don't say much about what happened. In this case it actually seems like a decent message.

@dhermes @tseaver WDYT?

[2016-10-20 14:46] mwytock commented on #2574
in my case "before" was using a version that did not default to the grpc implementation 0.18.X

in my opinion its weird to have to deal with this exception in a fairly standard use case (subscription empty), but if this is the intended behavior so be it

[2016-10-20 15:07] dhermes commented on #2574
@mwytock This isn't the intended behavior. So far we've tried to catch gRPC errors and re-wrap them as standard ones from our `google.cloud.exceptions`. Thanks for bringing it to our attention.

FWIW, this would still have thrown an exception, since it's really just a timeout on the backend (though we don't yet have a `GatewayTimeout` / 504 exception).

Is this exception happening on a regular bas

[2016-10-20 15:13] daspecster commented on #2574
My bad, I thought there were only special cases that we wanted to catch and reraise from gRPC.

[2016-10-20 15:14] mwytock commented on #2574
great, that makes sense

it seems to happen just about every time I call sub.pull() and there are no messages available in this subscription. im guessing whats happening behind the scenes is the rpc is sitting and waiting and hits the deadline before any messages arrive. this seemed to work more cleanly in the previous non-grpc world

for now, i just used the simple workaround

[code]

this subscr

[2016-10-20 15:21] daspecster commented on #2518
@pbogle did you have a chance to take a look at this?

[2016-10-20 15:55] pbogle commented on #2518
The model is currently intentionally optimized for single-speaker scenarios and will tend treat secondary/background speakers as background noise, especially if they are lower in volume than the initial speaker.  Improved support for multiple speakers is something we will consider in future versions of the product.

[2016-10-20 15:58] daspecster commented on #2518
Thanks @pbogle!

@geekoala I think that is the answer to your question. If not feel free to reopen!

[2016-10-20 15:58] #2518 closed

[2016-10-20 17:41] ericbuehl opened #2577 "pubsub messages are twice base64 encoded when using GAX"
I am using a recent master (85a0c1a)
[code]
---
To demonstrate this issue, I set up a simple pubsub push endpoint that prints the posted data.

[code]

Data received at push endpoint:
[code]
---
[code]

Data received at push endpoint:
[code]

As you can see, the data in the first version is a twice-encoded version of the message "blah" while GAX is in use.  I would expect to see the latter regardl

[2016-10-20 17:49] daspecster commented on #2577
@ericbuehl thanks for the report!

I'm checking on this right now.

[2016-10-20 18:05] daspecster commented on #2577
@dhermes & @tseaver, I'm not seeing how this is happening in our lib. I also don't see it happening in the GAPIC code either.

[This](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/881a95330dfb0dbab71e9c405acd2a8423ff1fee/pubsub/google/cloud/pubsub/topic.py#L255) seems to be the only place we encode the message.

[code]

[2016-10-20 18:07] ericbuehl commented on #2577
If I had to guess, I would say that protobuf is responsible for the second encoding

[2016-10-20 18:07] daspecster commented on #2577
@ericbuehl I was thinking the same thing.

@bjwatson do you happen to know if that changed recently?

[2016-10-20 18:21] bjwatson commented on #2572
Hi @pherl. I was referred to you by @giegerj. Do you have any thoughts on this issue involving `protobuf/json_format.py`?

[2016-10-20 18:23] bjwatson commented on #2577
@daspecster We haven't changed our version of gRPC or protobuf in more than a month (probably not for two months). I'm not aware of any changes in GAPIC or GAX that would explain this. Do you have any thoughts @geigerj?

[2016-10-20 18:26] dhermes commented on #2572
@Fkawala Sorry I missed this and focused on the wrong thing. Why are you manually specifying the contents of the protobuf? The implementation expects usage of "registered" types, and the failure is due to the fact that the type URL you used is not in the registry in `google.protobuf`.

[2016-10-20 18:29] geigerj commented on #2577
I am not aware of any base64 encoding happening at the GAPIC layer.

[2016-10-20 18:31] dhermes commented on #2577
@bjwatson It may not be a change, it could just be something we've never noticed. From `google.protobuf.json_format`

[code]

[2016-10-20 19:27] Fkawala commented on #2572
@dhermes I got the idea here. How could I list the URL in the registry? This PB type is rendered in a particularly convenient way in the Google cloud log browser. F.

[2016-10-20 20:08] dhermes commented on #2572
@Fkawala It's probably not something you want to do. Seems [`AddDescriptor`][1] is what you want, but that requires an actual protobuf type, and those are not usually written by hand ([e.g.][2]).

Why do you want to add logs that you copy-pasted from a browser?

[1]: https://github.com/google/protobuf/blob/9c6940f3bb4d7893b4d453870acd374c1ae43a58/python/google/protobuf/descriptor_pool.py#L142
[2]:

[2016-10-20 20:10] dhermes commented on #2572
@bjwatson What do you think is the right answer here? The message is essentially an `Any` type if it doesn't have a registered type URL but `parser.ConvertMessage(js_dict, message)` doesn't really have a way to convert to a native `Any`.

[2016-10-21 07:14] dhermes opened #2582 "RTD uses a cached virtualenv, which makes subpackage content stale"
(I [recently noticed](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2571#issuecomment-255297482) this, though it's been happening since we switched to subpackages.) For example, in a [recent build](https://readthedocs.org/projects/google-cloud-python/builds/4542871/):

[code]

If we were building these on a machine we owned, it would be no big deal, we'd force the packages to rei

[2016-10-21 12:06] Bogdanp opened #2583 "Datastore: _Rendezvous of RPC that terminated with StatusCode.UNAVAILABLE"
We see this fairly often on `commit` with google-cloud-datastore version `0.20`. I believe these should either be retried with exponential backoff automatically by the library (according to [this](https://cloud.google.com/datastore/docs/concepts/errors)) or a more specific error should be raised so user code can deal w/ it (preferably one exception for every one of the cases listed on that doc).

[2016-10-21 14:19] Fkawala commented on #2577
As a side note the double base64 did not occurs with version 0.18.3.

[2016-10-21 15:32] dhermes commented on #2583
@Bogdanp Sorry this has been happening. gRPC support for datastore [was added in 0.19.0][1], so the 0.20.0 upgrade wouldn't have changed anything. `UNAVAILABLE` is essentially the [same as a 503][2] (but we expect [a retry is just fine][3]). Why is that relevant? Because a 503 is a sign that something bad happened in the server, not that something was wrong with the request.

So your issue is esse

[2016-10-21 15:42] dhermes commented on #2577
@Fkawala It most likely was, did you try running with gRPC installed / enabled. gRPC for Pub/Sub [was supported in 0.18.3][1] and the double encoding happened because `google.protobuf` was automatically converting bytes to base64. `google.protobuf` has been doing that longer than this project has existed.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0.18.3/gcloud/pubsub/cl

[2016-10-21 16:09] Fkawala commented on #2577
@dhermes I made a MWE with gcloud 0.18.3, the subscription has a push endpoint, but I don't think its changes anything.

producer code:

[code]

Consumer code:
[code]

Result
[code]

[2016-10-21 19:32] jonparrott opened #2585 "BigQuery: KeyError when getting query results"
[Sample app that reproduces this](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/176f161cae3d4f01b01456a6e403faf6645414a1/bigquery/cloud-client/simple_app.py)

Stacktrace:

[code]

----

Stepping into the debugger:

[code]

(Added by @dhermes)

[2016-10-21 19:43] jonparrott commented on #2585
Possibly a dupe of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2354, in either case this provides a simple reproducable sample.

[2016-10-21 20:58] dhermes commented on #2585
Definite dupe. @jonparrott You can decide which one to close.

[2016-10-21 20:59] dhermes commented on #2582
@tseaver AFAIK `pip -e` **calls** `setup.py develop`. Either way, using an isolated `setup.py develop` the "last one wins" / "first egg link found wins" and the namespace packages are not actually namespace packages.

[code]

[2016-10-21 21:00] jonparrott commented on #2585
Ah man, I don't want power. I just want the illusion of power. I say whoever decides to fix it should decide.

[2016-10-21 21:04] #2585 closed

[2016-10-21 21:18] tseaver commented on #2582
*Mixing* pip and direct `setup.py <anything>` has never worked properly for namespace packages.  If you install via `setup.py develop` alone, with no pip in sight, then namespace packages work.  E.g.:

[code]

[2016-10-21 21:42] #2521 closed

[2016-10-21 21:56] dhermes commented on #2582
@tseaver We got down the rabbit hole here. We're not going to change the fact that RTD uses `pip`.

[2016-10-21 23:02] waprin commented on #2552
@bjwatson @dhermes still having a bit of trouble getting this right. If I try the suggested solution I get:

     entry_pb.json_payload = Struct(fields)
    TypeError: init() takes exactly 1 argument (2 given)

Doesn't seem like I can just construct Struct with a dict. So then I tried:

  entry_pb.json_payload = Struct()
  for key, value in mapping['jsonValue']:
     entry_pb.json_payload[key] = v

[2016-10-21 23:54] tswast opened #2588 "Core: `google.cloud._helpers._default_service_project_id()` does not use project ID from active configuration"
# Problem (steps to reproduce)

Run `gcloud init`. Instead of updating the default configuration, make a new configuration (in my case, I called it "kittenbot"). Use a different project than you have for the default configuration. Note, you can switch between configurations using a command like: `gcloud config configurations activate kittenbot`.

Now, try to run any google-cloud-python library, no

[2016-10-21 23:57] dhermes commented on #2552
w00t:

[code]

[2016-10-22 01:18] dhermes commented on #2588
Ick! I think @jonparrott is putting this all in https://github.com/GoogleCloudPlatform/google-auth-library-python/

[2016-10-23 22:02] VikramTiwari opened #2591 "Issue while uploading data to an existing bigquery table"
1. OS type and version : macOS, v10.12
2. Python version and virtual environment information `python --version` : Python 2.7.12
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

[code]
1. Stacktrace if available

[code]
1. Steps to reproduce
2. Tried pushing data into an existing table on BQ using `table.upload_from_file` on a csv file with proper

[2016-10-24 05:06] dhermes commented on #2591
@VikramTiwari This seems to be the same as #2098. Is there something stopping you from upgrading to version 0.20.0?

[2016-10-24 05:10] VikramTiwari commented on #2591
Well, could be. I just did upgrade, yet I am stuck on `0.18.3`. Here's logs.

[code]

[2016-10-24 05:11] dhermes commented on #2591
See the README, after 0.18.3 we renamed `gcloud` to `google-cloud`.

[2016-10-24 05:14] VikramTiwari commented on #2591
Ah! My bad. I was aware of the changes on Node.js side. Upgraded to latest one.
[code]

Will test it tomorrow morning and update the issue if it resolves or otherwise. Thanks @dhermes 👍

[2016-10-24 05:17] dhermes commented on #2591
Thanks

[2016-10-24 06:14] Temikus opened #2593 "Emulator Docs/Functionality are not discoverable."
One needs to simply:

[code]

to use the lib with the emulator. However, it is not mentioned anywhere in Docs and confuses some users. I had to go digging into the issues to figure out it's an env variable personally.

Is it possible to add the emulator setup to the docs?

[2016-10-24 07:11] Fkawala commented on #2577
@dhermes Sorry I would have add a "how to run" file if it wasn't for DYN DDOS. Anyway, thanks to you and @tseaver for this useful explantation. Is there a schedule for the next release ?

[2016-10-24 12:15] geekoala opened #2595 "Is it possible to provide a list of logos for detection using LOGO_DETECTION (vision)"
Hi,

When I did a test on LOGO_DETECTION, I used an [image full of logos](https://storage.googleapis.com/first-vision-api-example.appspot.com/logo_collection_0.png), and even I set maxResult to 10, it will return only 5 results. When I trim out several logos from the image, and generated [a new image](https://storage.googleapis.com/first-vision-api-example.appspot.com/logo_collection_1.png) and ru

[2016-10-24 12:50] daspecster commented on #2595
@geekoala, this is a good question. Maybe @omaray can direct us to someone that works on Vision  upstream?

Also, based on the recommended image size for LOGO_DETECTION it appears that one logo is detected at a time.
See: https://cloud.google.com/vision/docs/best-practices#image_sizing

[2016-10-24 12:54] daspecster commented on #2577
@Fkawala I'm working on #2578 today actually. I was going to try and have it done yesterday but some family stuff came up.

[2016-10-24 16:09] dhermes commented on #2595
@geekoala Thanks for the question. We're happy to help but this question is more appropriate for StackOverflow or for the [vision forum][1]. Check out https://cloud.google.com/vision/support for how the backend folks recommend you ask questions.

We're here to implement an interface for that API and are happy to help with bugs, explain usage or add features to our implementation.

[1]: https://gro

[2016-10-24 16:09] #2595 closed

[2016-10-24 16:14] #2577 closed

[2016-10-24 16:16] dhermes commented on #2577
@Fkawala we don't have any plans on a release but can cut a release just for the Pub/Sub package. I'm not sure if `0.20.1` would be appropriate or if `0.21.0` would be necessary.

[2016-10-24 16:28] Fkawala commented on #2577
@daspecster Thanks for this blazing fast fix !
@dhermes Either way, a release would be greatly appreciated over here.

[2016-10-24 16:54] #2497 closed

[2016-10-24 16:55] dhermes commented on #2583
@Bogdanp now that #2497 has been fixed, the retry question is the only thing that remains.

We have "avoided" added automatic retries because we don't want to surprise users with under-the-covers magic. How / where would you see retries being used (explicitly or implicitly) in our interfaces that you're familiar with?

[2016-10-24 17:22] Fkawala opened #2596 "Sink creation fails with error StatusCode.PERMISSION_DENIED"
Hello,

I try to create a bigquery logging sink with the code below:

[code]

It fails with the error:

[code]

I verified that:
- the big-query dataset exists
- cloud-logs@google.com as sufficient rights for big-query https://cloud.google.com/logging/docs/export/configure_export#manual-access-bq
- the scopes seems ok with `print(vars(client.connection.credentials))` :

[code]

Have you any ideas

[2016-10-24 17:24] dhermes commented on #2596
It seems like it's an access issue, not a scopes issue. You're seeing the gRPC equivalent of a 403. Can you confirm that the BigQuery dataset exists and `cloud-logs@google.com` has "sufficient rights" programmatically?

[2016-10-24 18:19] #2552 closed

[2016-10-24 19:19] vrcs opened #2598 "Authentication auto Refresh with bigquery access"
Hi
recently i am having issues with the google cloud python with Authentication refresh Error each time its doing any access operation.

It has been working fine previously , but now it get
[code]

and any subsequent action to access with the gcloud object fails, did any one face the same issue or any know fix for this.

Thanks

1. OS type and version
OS - 4.4.19-29.55.amzn1.x86_64
2. Python versi

[2016-10-24 19:28] tseaver commented on #2596
@Fkawala see the [docs for configuring permissions on BigQuery sinks].

[2016-10-24 19:28] dhermes commented on #2598
@vrcs Any reason you haven't upgraded from `gcloud` --> `google-cloud` (renamed after version 0.18.3)

[2016-10-24 19:36] tseaver commented on #2596
@Fkawala can you verify the grants in Python?  E.g.:

[code]

It should include:

[code]

[2016-10-24 19:43] vrcs commented on #2598
i am using this in python
from gcloud import bigquery

[2016-10-24 19:44] vrcs commented on #2598
gcloud components list

Your current Cloud SDK version is: 131.0.0
The latest available version is: 131.0.0

┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│                                                  Components                                                 │
├───────────────┬──────────────────────────────────────────────────

[2016-10-24 19:48] vrcs commented on #2598
i have this in different version as well on other server
gcloud components list
Your current Cloud SDK version is: 127.0.0
The latest available version is: 131.0.0

Still it fails after the first iteration to access any objects, the initial access works fine and does the job but when it tries to check again in the loop for other object it treats it as fresh access, and it fails to get the credenti

[2016-10-24 19:52] dhermes commented on #2598
@vrcs To get the latest version you want to do this:

[code]

but you want to import like this

[code]

[2016-10-24 20:03] vrcs commented on #2598
installed the google-cloud
and gave a try , it still fails to get the authentication after the first iteration as before

pip freeze
gapic-google-logging-v2==0.10.1
gapic-google-pubsub-v1==0.10.1
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
google-api-python-client==1.5.3
google-cloud==0.20.0
google-cloud-bigquery==0.20.0
google-cloud-bigtable==0.20.0
google-cloud-core==

[2016-10-24 20:14] Fkawala commented on #2596
@tseaver thanks for the tips, cloud-logs@google.com does appear in the grants:
[code]

[2016-10-24 20:56] daspecster commented on #2598
@vrcs, can you give us some simple example code that creates this error for you?

Also, these docs have the latest way to use bigquery with `google-cloud`.
https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html

[2016-10-24 23:37] geekoala commented on #2595
Thanks, @dhermes @daspecster

[2016-10-25 01:22] waprin opened #2599 "Adding fluentd hander"
This is pretty overdue but one of the transports for the logging handler should be to write to a file that the google-fluentd agent knows how to pickup. This is how we recommend using logging on GAE Flex/GKE. [This handler](https://github.com/GoogleCloudPlatform/python-compat-runtime/blob/master/appengine-vmruntime/vmruntime/cloud_logging.py) is from the compat runtime and is roughly what we want

[2016-10-25 02:11] dhermes commented on #2599
Instead of `get_logging_handler(client)` you could have `client.get_default_handler()` or similar name. We already have precedent for this with ADC.

[2016-10-25 03:42] vrcs commented on #2598
I have followed the  document and then
exporting the data to GC storage for the list of tables  in a loop
https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html?highlight=extract_table_to_storage#exporting-data-async

the logic that i have is a list of tables, loop though them and before extracting , check for the existence  in bigquery and export and store in GC Stor

[2016-10-25 04:17] jonparrott commented on #2599
I think it's a good idea to keep the existing ability to use a particular handler type and then have a helper function to return a 'default' one for the current environment. This matches the ADC approach.

[2016-10-25 07:24] Fkawala commented on #2596
I can create the sink using my own account and this [test form](https://cloud.google.com/logging/docs/api/reference/rest/v2/projects.sinks/create). In the python script the service account is a project EDITOR, while I'm a project OWNER, could that explain the different results ?

The error log (from google cloud console) does not provides much information.

[code]

[2016-10-25 10:45] mghamsar opened #2603 "Error importing data from Google Cloud Storage in batch"
Hi all,
We are importing json-formatted data from Google Cloud Storage into Bigquery and get the following error with one of the imports:

[code]

The problem is that the mentioned file is only 237973 lines long so the position 11535600 does not actually exist in the file. That makes it really hard to trace down the error source.

This file is part of a batch import from google cloud storage using

[2016-10-25 10:55] daspecster commented on #2603
Hello @mghamsar!

I think that's actually referring to characters and not lines.

I noticed that the JSON file appears to be gzipped. I'm not sure that bigquery supports loading gzipped data directly?

You might try unzipping that file and then altering this line to search for `*.json` files only?
[code]

[2016-10-25 11:06] mghamsar commented on #2603
Ahh thank you, it is indeed the position.

Regarding gzip files, we have never had issues with them before so they can be loaded directly.

Thank you

[2016-10-25 12:55] Bogdanp commented on #2583
@dhermes here's what that snippet I posted in my first comment evolved into over the past week:

[code]

We have been running this in our staging environment for about a week now and this seems to have cut the error rate down to nearly zero (we see a `_Rendezvous` with code `UNAUTHENTICATED` get raised every couple of days -- not sure what to make of that yet). In production, we've been running gc

[2016-10-25 13:23] daspecster commented on #2603
@mghamsar, are you able to download the file from google storage and parse the JSON manually?
My guess is that the error is correct and the JSON file is potentially corrupt.

Stackoverflow or the [Google Cloud Platform support](https://cloud.google.com/support) might be a better place to ask, this library is an interface to the google cloud platform services and this appears to be more of an issue

[2016-10-25 13:37] mghamsar commented on #2603
There was a corrupt in the file but I was more concerned with the position which you explained well. Thank you.

[2016-10-25 13:37] #2603 closed

[2016-10-25 13:38] daspecster commented on #2603
Glad you're up and running again!

[2016-10-25 15:15] gw00207 commented on #2515
@dhermes In the [docs](https://googlecloudplatform.github.io/google-cloud-python/stable/speech-usage.html) there is a Speech API section which does say you can use:

[code]

However I get the same error as puneith.  @daspecster do you know how soon Speech will be implemented in google-cloud-python? Thanks :-)

[2016-10-25 16:03] dhermes commented on #2515
@gw00207 It's alread (partially) "implemented in google-cloud-python". You can install from source and play with the current implementation:

[code]

[2016-10-25 16:08] Fkawala commented on #2572
@dhermes A side note, the code I provided works with gcloud-python 0.18.3. I wonder I could find the actual descriptor for this PB type, any hints ?

[2016-10-25 16:10] dhermes commented on #2572
Whoa, that's surprising. Let me check it out!

[2016-10-25 16:35] dhermes commented on #2572
I [confirmed][1] this. Differences in deps are:

[code]

Both use: `protobuf==3.1.0.post1`, `googleapis-common-protos==1.3.5`,

[1]: https://gist.github.com/dhermes/3338cec56ebb6f6cd574de6fbfe8bdaf

[2016-10-25 16:37] dhermes commented on #2572
@bjwatson This is really crazy, do you think somehow the `gapic` / `gax` deps are registering extra types?

[2016-10-25 16:42] dhermes commented on #2583
Sounds good!

We definitely can pack more info into the base `GoogleCloudError` class.

[2016-10-25 16:45] #2548 closed

[2016-10-25 16:56] dhermes opened #2605 "Circle CI discussion"
Should we use Circle CI? It seems pretty great (e.g. they allow SSH access to VMs after jobs complete)

I can disable the webhook in https://github.com/GoogleCloudPlatform/google-cloud-python/settings/hooks. The Payload URL is https://circleci.com/hooks/github, content-type is `application/x-www-form-urlencoded`, the Secret is a secret and the events used are

![screen_shot_001](https://cloud.gith

[2016-10-25 17:00] dhermes opened #2606 "Drop Connection classes (or at least make them non-public)"
The Logging / Pub/Sub / Datastore packages all have custom `API` objects that do that actual communication with the server. Now `Connection` is just a container for some members that those API objects require. Should we remove these base classes and make any shared behavior from the core `Connection` into helper **functions** instead of a shared base?

[2016-10-25 17:03] daspecster commented on #2515
@gw00207, we have a list of things to do for speech before we release. You can follow along on #2522.

[2016-10-25 17:29] dhermes commented on #212
For [posterity][1]

Here is a proof of concept for running readable interpreter snippets without worrying about calling `eval` / `exec` etc.

First, create a fake module (or any object really) with our content in the `__doc__`

[code]

then hand that object off to `doctest.run_docstring_examples`

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2556#issuecomment-256102

[2016-10-25 17:30] daspecster commented on #212
@dhermes how would that work with the services? Mocks? How do you hide the setup code?
I'm running into these questions with the storage snippets btw.

[2016-10-25 17:34] dhermes commented on #212
Please file an issue saying "I'm working on storage snippets".

----

In `storage_snippets.py` you would do the following:

[code]

[2016-10-25 17:39] destijl opened #2608 "TimestampRange should allow customization of inclusive/exclusive"
Currently TimestampRange supports only inclusive lower, exclusive upper:
https://googlecloudplatform.github.io/google-cloud-python/stable/bigtable-row-filters.html#google.cloud.bigtable.row_filters.TimestampRange

My application expects inclusive upper timestamp bounds. The super hacky workaround I currently have to make it work with bigtable is adding 1ms (minimum timestamp resolution) onto all e

[2016-10-25 17:43] daspecster opened #2609 "Working on storage snippets"
Reference: https://github.com/daspecster/google-cloud-python/blob/add-storage-snippets/docs/storage_snippets.py

A few questions I have...
1. Should I make a PR to merge in at this point since we're not currently running snippets AFAICT?
2. If we're running these as system tests(which makes sense to me), I'm not sure how to handle things like email addresses for users and other account information

[2016-10-25 17:47] dhermes commented on #212
@daspecster We may be happier with

[code]

since it actually errors out. We could make `get_blob_snippet()` return the test suite object and then collect tests from all the suites in `main` and run them with a single test runner.

[2016-10-25 17:59] dhermes commented on #2609
1. Yes
1. "If we're running these as system tests" --> then run them like the storage system tests. Does adding a "fake address" like `'me@example.org'` work? If not, create a variable `user_address` outside the snippet and then just put `acl.user(user_address).grant_read()` inside the snippet.
1. @tseaver Has more opinions on this than I do.

[2016-10-25 18:02] dhermes commented on #2608
We are at the mercy of [the spec][1]

[code]

For now, your workaround is what I would recommend, but we can certainly consider adding this feature.

[1]: https://github.com/googleapis/googleapis/blob/6c1d6d4067364a21f8ffefa3401b213d652bf121/google/bigtable/v2/data.proto#L146-L153

[2016-10-25 18:06] daspecster commented on #2609
I looked at the storage system tests and those didn't seem to test the ACL settings.  The fake address didn't work as it's not a valid user when testing against live data.

Wouldn't making the `user_address` variable make the snippet less readable?

[2016-10-25 18:12] mlissner opened #2610 "Setting lifecycle rules totally undocumented"
It took me quite a while to figure out how to set lifecycle rules. If you look at the code, it's undocumented:

[code]

I found [some tests for this](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/090c5d583da82daabf05c52e8f72b858a0bb09c2/storage/unit_tests/test_bucket.py#L588-L596), but even those don't seem to use the `lifecycle_rules` method. Not having a documented method for d

[2016-10-25 18:18] dhermes commented on #2609
I don't think so, but maybe. If you think it does, you could

- modify the grant that was added **after the snippet** to make sure you use a valid email address
- find a valid email address that is "public domain", e.g. `cloud-logs@google.com`

[2016-10-25 18:19] daspecster commented on #2610
@mlissner, thanks for pointing this out.

This library is still under heavy development and hasn't reached 1.0 yet, which is why some areas are missing or light on documentation. There are also a number of features that aren't yet supported by this library.

[2016-10-25 18:21] dhermes commented on #2610
@mlissner That was the setter, you want the [getter][1]. Is your concern that the [documentation][2] for the property is insufficient / doesn't indicate that there **is** a setter?

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b6fe01ec4934d7744b5df8a7e64531f4c1386a9e/storage/google/cloud/storage/bucket.py#L563-L571
[2]: https://googlecloudplatform.github.io/google-cloud-pyt

[2016-10-25 18:22] tseaver commented on #2610
In fact, the `@property` descriptor explicitly takes the `__doc__` from the getter:  any docstring on from the setter or deleter are not discoverable at runtime.

[2016-10-25 18:23] daspecster commented on #212
Do you think there's a performance gain in that? Or just cleaner code?

[2016-10-25 18:25] jonparrott commented on #2588
Move this over to google-auth, it's getting closer and closer to ready.

On Fri, Oct 21, 2016, 4:54 PM Tim Swast <notifications@github.com> wrote:

[2016-10-25 18:27] dhermes commented on #212
@daspecster As seen [above][1] (I edited after original posting), `doctest.run_docstring_examples` doesn't actually fail in the case of an error, so using the unit test runner allows us to see failures as exceptions / nonzero exit codes.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/212#issuecomment-256103458

[2016-10-25 18:27] dhermes commented on #2588
w00t!

[2016-10-25 18:41] mlissner commented on #2610
Yes, exactly. I want to set the lifecycle rules for a bucket, but there's no documentation of how to do so.

[2016-10-25 18:50] #2598 closed

[2016-10-25 19:25] jonparrott commented on #2588
Filed over at https://github.com/GoogleCloudPlatform/google-auth-library-python/issues/53

[2016-10-25 19:27] dhermes commented on #895
FYI I am really close to done

[2016-10-25 19:38] bjwatson commented on #2128
@dhermes I'm now in a position in which I can deliver GAPIC for these APIs, but I want to make sure that you can use them in the near future.

I can now deliver Datastore without much effort, but Bigtable is prone to change in the coming weeks since we're still nailing down our LRO and streaming designs. Nevertheless, I can deliver both if you're planning to layer your code on ours soon after I de

[2016-10-25 19:58] dhermes commented on #2128
How do you mean "can use them"? Like we block you somehow from generating them?

[2016-10-25 19:59] tseaver commented on #2596
@Fkawala Your hunch sounds plausible, even though the docs refer only to scopes, rather than roles.  One thing to check:  Is the logging client configured using the same project as the Bigquery table?

[2016-10-25 21:59] mlissner commented on #2610
OK, I don't know where else to put this, so I'm putting it here. I've struggled mightily to figure out this API and I hope this feedback will be helpful. Two things:

1. To set the `lifecycle_rules`, you need to set them before you create the bucket:

        b = client.bucket('my-bucket-name')
        b.exists()  # False
        b.lifecycle_rules = [{
            'action': {'type': 'Delete'},

[2016-10-25 22:48] dmitry-saritasa opened #2614 "Bigtable and float values"
tried to store 0.73 as numeric value in bigtable cell and got this error:

[code]

**Trace**

[code]

Checked the source code and see that only int or bytes are allowed to be stored. Therefore I have to convert float value into INT *i.e. 0.63 *100 = 63 and store that as a value

Am I correct and why only ints/bytes are allowed?

thanks,
Dmitry

[2016-10-25 22:55] dhermes commented on #2614
@dmitry-saritasa Thanks for filing.

1. Can you provide the code you used to trigger this error?
1. The backend allows **only** `bytes` but has special methods for counters, which are [stored][3] as `>q` (i.e. a [`long long` / 64-bit signed integer][1] in [big-endian][2] byte order).
1. If you'd like to store a Python `float` (`double`), you'd need to convert to `bytes` e.g. `struct.pack('>d', 0.7

[2016-10-25 22:59] dmitry-saritasa commented on #2614
clear - thanks @dhermes

[2016-10-25 23:10] bjwatson commented on #2128
I mean will you use them sometime in the next week if I spend time on generating them now?

I'm trying not to spend more time on generating APIs than necessary right now, and instead focus on doing things to finalize our surfaces and improve our efficiency at generating APIs. I will do this if you have the bandwidth to consume it.

[2016-10-26 00:11] BrandonY opened #2616 "pubsub throws when listing topics when there are no topics"
Steps to reproduce:

1. Create a project and enable it for Cloud Pub/Sub
2. Set up your application default credentials to grant access.
3. Call gcloud.pubsub.Client(project='your-project').list_topics()

What should happen:

Function returns []

What happens:

Traceback (most recent call last):
  File "example.py", line 61, in Main
    topics, token = client.list_topics()
  File "gcloud/pubsub/cl

[2016-10-26 00:23] dhermes commented on #2616
@BrandonY This has most likely been fixed for a while, can you upgrade from `gcloud` to `google-cloud` and then check if it fails:

[code]

You'll need your imports like `gcloud.pubsub` to change to `google.cloud.pubsub`

[2016-10-26 00:36] mlissner commented on #2515
Can we please remove this from the docs until #2522 is done or put a loud note to this effect? I just spent time:
 - trying to figure out why the import in the docs was failing
 - realizing that I needed to install a special package
 - learning that that package was failing to install
 - finding my way here after googling.

A simple notice would have prevented all this.

[2016-10-26 00:44] dhermes commented on #2616
Discussed off-thread. Closing.

[2016-10-26 00:44] #2616 closed

[2016-10-26 06:21] jonparrott commented on #2614
@dhermes I think it affords discussion - Python's representation of other types may not work if the data is read in another language.

[2016-10-26 06:58] pdknsk commented on #2610
This is basically a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1838.

It's named `patch`.

[2016-10-26 07:00] pdknsk commented on #2538
This is basically a more generic duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2463.

[2016-10-26 11:41] enzogro commented on #1893
Hi,I am having a problem using the library. I need to log on to the development server (dev_appserver) on my local machine, but I have not founda how to import google-cloud and always get the same error: ImportError: No module named google.cloud.datastore
I've set it in the "lib" folder like all other third party libraries. Is there any way to use it for development? thanks
This is the stacktrace:

[2016-10-26 13:52] gw00207 commented on #2515
@dhermes I'm trying to run the speech API inside a GCE VM, can I run those commands from the Cloud Shell? Thanks.

[2016-10-26 14:56] jgeewax opened #2619 "Should we consider using mypy for type checking?"
http://blog.zulip.org/2016/10/13/static-types-in-python-oh-mypy/

[2016-10-26 14:59] daspecster commented on #2619
This looks really interesting!

[2016-10-26 15:53] tseaver commented on #2610
@mlissner Thanks for digging deeper!  Addressing a couple of your points:

- Changes made to the client-side `Bucket` object do not implicitly trigger API calls to propagate those changes to the back-end.  This is a typical "distributed system" tradeoff.  Accumulated changes can be pushed to the back-end via `bucket.patch()`.

- As you noted, `Bucket.reload` does not appear in the `Bucket` API doc

[2016-10-26 16:16] mlissner commented on #1838
I filed #2610 where the same issue applies to the setter for `lifecycle_rules`. Seems like a very simple solution here is what @daspecster proposed. It's not perfect, but if it had been done back in June when it was proposed, I would have been a happier customer.

[2016-10-26 16:16] mlissner commented on #2610
Thanks @tseaver and @pdknsk. So I'm seeing three separate issues:

1. Setters undocumented (to be addressed in #1838)
2. Inherited members like `reload` and `patch` are not documented (addressed in #2621, yay!).
3. No narrative usage docs for Storage. This is still not addressed, and I agree this would make a huge difference. Should we close this and create a new issue for that?

[2016-10-26 16:54] mghamsar opened #2622 "max_bad_records not being set"
I'm importing an entire folder from Google Cloud Storage into BigQuery. I set the max_bad_records = 10000 but I still get an error even though I had 3 lines in my entire folder that didn't match the BigQuery Schema
1. OS type and version

Ubuntu 16 running from a docker image
1. Python version and virtual environment information `python --version`

Python 2.7.12
1. google-cloud-python version `pip

[2016-10-26 17:07] daspecster commented on #1838
@mlissner, sorry you lost cycles on this.

I made https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2623 to hopefully resolve this for future users.

Thanks for reporting as well.

[2016-10-26 17:49] dhermes commented on #1893
The `google` namespace is the issue, have you done this using the GAE vendor tool, or manually?

[2016-10-26 17:54] enzogro commented on #1893
i used vendor tool.
This is my `appengine_config.py`

mport vendor
[code]

[2016-10-26 18:18] sduskis commented on #2397
The cloud bigtable API doesn't support microseconds at this point.

[2016-10-26 18:28] bjwatson commented on #2572
@dhermes Like you said earlier, it looks like only the gRPC-generated code (`grpc-google-*` packages and `googleapis-common-protos`) register any extra types. I don't see the GAPIC or GAX code doing this.

@Fkawala Looks like we need to add [`google.appengine.logging.v1.RequestLog`](https://cloud.google.com/logging/docs/api/reference/rest/Shared.Types/RequestLog) (and [`google.appengine.logging.v1

[2016-10-26 19:42] destijl commented on #2397
Yep, I eventually realized, see https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2569 There's still a problem with timestamps here that's independent.

[2016-10-26 19:47] destijl opened #2626 "Bigtable support for microsecond timestamp precision"
Currently Bigtable only supports millisecond timestamp precision:
https://cloud.google.com/bigtable/docs/reference/admin/rpc/google.bigtable.admin.v2#google.bigtable.admin.v2.Table.TimestampGranularity

My application expects microseconds, and I've had to make some clunky bug-prone adjustments to shoehorn it into working with milliseconds. It would be great to have microsecond precision.

[2016-10-26 19:53] destijl commented on #2397
Also filed feature request for microsecond granularity here:
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2626

[2016-10-26 19:56] jgeewax commented on #2626
I think this is a request for the Bigtable team-- not the Python client library, right?

We can support it once the Bigtable service supports it -- so we'll make sure to pass this feedback along to the core team, but nothing more that we can do for the Python client until then.

[2016-10-26 20:02] destijl commented on #2626
Is there a different github project I should file it in? I really just want an open bug reference to put in my code so the next maintainer has somewhere to look to see if they can undo the millisecond hacks. Now this is closed it will probably never get updated even if the feature is added.

[2016-10-26 21:41] jeffk opened #2627 "Add AVRO as a valid BigQuery Source Format"
The [BigQuery Documentation](https://cloud.google.com/bigquery/loading-data#loading_avro_files) lists AVRO as a valid source format, but the [SourceFormat function](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/09061d1a1a97190bc3c4c4087bbdcd92c99e0e2e/bigquery/google/cloud/bigquery/job.py#L68-L73) in the client doesn't include it. Fixing this should be as easy as adding:

[code]

[2016-10-26 23:15] #2627 closed

[2016-10-27 02:22] daspecster opened #2629 "Using google.cloud.operation for GAPIC Speech async?"
I've been struggling today with the right way to implement this.
I can't seem to `make_secure_stub` for speech.

This is the error I get...
[code]

Example code:
[code]

Looking at the [sample example](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/2da1c09b056798dd54be7106010f9d5610952bef/speech/grpc/transcribe_async.py#L32-L51) it seems like the channel creation is different than

[2016-10-27 02:56] daspecster commented on #2629
This seems to work though.
[code]

@bjwatson could something be messing up the namespace in
[code]

Also, @bjwatson, is `gapic-google-longrunning` ok to use or is it not really production ready yet?

[2016-10-27 03:27] dhermes commented on #2629
@daspecster It seems like there is an old version of `grpc`? Also, you don't need `make_secure_stub` for Speech (not used in Pub/Sub or Logging).

There is a "bug" in that we should pass credentials through, but you shouldn't worry about handling it to get Speech in.

[2016-10-27 03:38] dhermes commented on #2626
@jgeewax We **can** support it in our code, and we already [have precedent][1] for switching between inclusive or exclusive. (That's not to say the backend couldn't make this a feature).

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b2662c1ac0e91b4c2193f4ac0b929aa957b8cfc4/bigtable/google/cloud/bigtable/row_filters.py#L331-L341

[2016-10-27 03:39] dhermes commented on #2626
DERP misread the issue. NVM

[2016-10-27 03:39] #2626 closed

[2016-10-27 03:58] dhermes commented on #1893
@jonparrott Does `vendor` also patch namespaces?

[2016-10-27 03:59] jonparrott commented on #1893
@dhermes vendor uses `addsitedir` which processes `.pth` files.

[2016-10-27 14:28] daspecster commented on #2629
@dhermes, Pub/Sub and Logging, don't use `Operations` AFAICT.
A channel has to be made in order to make the `OperationStub`.
https://github.com/GoogleCloudPlatform/python-docs-samples/blob/2da1c09b056798dd54be7106010f9d5610952bef/speech/grpc/transcribe_async.py#L32-L51

I could just do that but that's not very DRY since we have it in `core._helpers` right?

[2016-10-27 16:03] #1838 closed

[2016-10-27 16:06] dhermes commented on #1893
I don't see any usage of `addsitedir` in the `appengine_config.py` [above][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1893#issuecomment-256427126

[2016-10-27 16:26] mlissner commented on #2610
Following up: setters are now documented for CORS, per #1838, but we still need another PR to fix `lifecycle_rules`, and we still need narrative docs for Storage.

[2016-10-27 16:30] jonparrott commented on #1893
@dhermes [source for vendor](https://gist.github.com/jonparrott/ea472a572b7824e79b81fba39790dc67)

[2016-10-27 16:31] ernestoalejo opened #2631 "Gax pubsub ignores custom service account credentials and fetchs ADC instead"
Pubsub with GRPC ignores custom service account credentials passed to the client and fetchs Application Default Credentials instead, raising an exception because it can't found them (obviously).
1. OS type and version: `google/debian:jessie` (container)
2. Python version and virtual environment information `python --version`: `Python 2.7.9`
3. google-cloud-python version `pip show google-cloud`, `

[2016-10-27 16:32] dhermes commented on #2631
@ernestoalejo Thanks for filing! @daspecster and I just noticed this earlier this week and a fix is needed ASAP.

[2016-10-27 16:42] ernestoalejo commented on #2631
In GCE/GKE the error message sounded like an IAM problem with the service account. (`StatusCode.PERMISSION_DENIED, Request had insufficient authentication scopes.`)

If someone here needs a quick workaround this will probably be enough until a new version gets released with the fix:
[code]

[2016-10-27 16:44] dhermes commented on #2631
@ernestoalejo That won't help, since `os.environ['GOOGLE_CLOUD_DISABLE_GRPC']` is checked at import time.

[2016-10-27 16:46] ernestoalejo commented on #2631
Oh, sorry I forgot to mention that; I changed the env var before importing any other library. Good point. Will probably be better to define it directly in the container.

[2016-10-27 19:07] daspecster commented on #2629
Fixed with #2632.

[2016-10-27 19:07] #2629 closed

[2016-10-27 22:09] mbrukman commented on #2626
@destijl, thank you for your feedback!

You can submit feature requests for Google Cloud Bigtable via [UserVoice](https://googlecloudplatform.uservoice.com/forums/302607-cloud-bigtable), along with any other Google Cloud Platform products. You can also discuss the product via [`google-cloud-bigtable-discuss@`](https://groups.google.com/group/google-cloud-bigtable-discuss). This GitHub repo is for

[2016-10-27 22:38] destijl commented on #2626
@mbrukman thanks, done!
https://googlecloudplatform.uservoice.com/forums/302607-cloud-bigtable/suggestions/16844260-support-microsecond-timestamp-precision

[2016-10-28 00:27] vinayakagrawal88 opened #2635 "'ImportError: No module named gcloud' error with Dataproc Service and pip: command not found"
I am trying the example for Google dataproc Spark/Bigquery listed [here](https://cloud.google.com/dataproc/docs/tutorials/bigquery-sparkml).

When I run the first python script I get the error:

[code]

Based on google results, I thought of installing `gcloud` with `pip` but my master server doesnt have pip installed either.

[code]

Environment :

[code]

Running

[code]

I found that there is no

[2016-10-28 01:26] vinayakagrawal88 commented on #2635
[UPDATE]:
Solved the pip issue using
`wget get-pip.py`
as documented [https://packaging.python.org/installing/](here).
Ran
`sudo pip install gcloud`

This resolved the above issue. However now when I run the python script from the example, I get this error
`vinayak.cmu@cluster-1-m:~/google-cloud-spark-bigquery$ ./gen_regression_input.py`
`Traceback (most recent call last):`
  `File "./gen_regressi

[2016-10-28 02:32] daspecster commented on #2522
@dhermes I commented on your gist from today but I'll copy it here as well...
Ref: https://gist.github.com/dhermes/09c964d6d27003ae817b650424fda7c3

--------

Thank you for this!

I have another question.
As you saw in your output here, the final result has a `response` attribute.

In the [sample](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/d7dc5780cd975ed5927e68bd5dd5a4a69ce5e

[2016-10-28 02:35] daspecster commented on #2522
Scratch that...we could just parse it in `Operation.poll()` right? I think I would have to either override `google.cloud.core.operation.Operation.poll` or I could add some kind of polling proxy method.

[2016-10-28 03:41] dhermes commented on #2522
@daspecster It's not up to use to get the data, just give the user the `Operation` and let them decide how to poll.

[2016-10-28 05:08] dhermes commented on #2635
@jonparrott Do you know who owns that sample? It recommends installing `google-cloud` but then imports from `gcloud`

[2016-10-28 05:51] jonparrott commented on #2635
Maybe @elibixby knows? (I'm not very involved in bigtable/machine learning stuff)

[2016-10-28 07:53] elibixby commented on #2635
Yeah the dataproc team owns it but it needs to be updated badly. That connector doesn't even work well (better to just use google-cloud-python to query bigquery directly).

[2016-10-28 15:34] bjwatson commented on #2629
@daspecster Yes, `gapic-google-longrunning` is okay to use, although I plan to merge it into the next release of `google-gax` (with the same path and module name).

We are also designing a more convenient layer for you to use in the future that will sit on top of the `gapic-google-longrunning` code. I'll take a look at what you did for Speech, and want to discuss with you what pain points you had.

[2016-10-28 15:35] daspecster commented on #2629
Ok sure! Thanks @bjwatson!

[2016-10-28 16:53] jonparrott commented on #2354
Bump - this is blocking a critical sample.

[2016-10-28 17:04] jonparrott commented on #1960
@tseaver @dhermes can I get a release of the storage client so I can update the sample?

[2016-10-28 17:31] tseaver commented on #1960
@dhermes I'm not quite sure how you've made sub-project releases after the `umbrella-0.20.0` tag.  I just ran `$ git log umbrella-0.20.0..HEAD -- storage/` and got the following:

- Making max_results part of the base Iterator class. (Fixing #1467)
- Add 'Blob.compose' API wrapper method. (Closing #1982)
- Add 'Blob.rewrite' API wrapper method. (Closing #1960)
- Add new storage classes. (PR #2571)

[2016-10-28 18:36] dhermes commented on #1960
@tseaver I think it's more robust just to use the GitHub UI (since people can merge PRs however they like now, and we haven't disabled the other two options, though we can):

https://github.com/GoogleCloudPlatform/google-cloud-python/commits/master/storage?since=2016-09-27

[2016-10-28 20:19] tseaver commented on #1960
@dhermes FWIW, I wasn't grepping for "Merged" commits:  I looked at the whole history for `/storage` since that tag.

[2016-10-28 20:34] dhermes commented on #1960
Haha DERP. I should've read closely.

[2016-10-28 21:00] jonparrott opened #2639 "Drop oauth2client in favor of google-auth"
[`google-auth`](https://github.com/GoogleCloudPlatform/google-auth-library-python) is ready for usage. This bug tracks swapping `oauth2client` out with `google-auth`.

[2016-10-29 02:36] daspecster opened #2643 "Add system test for pubsub client.list_subscriptions()"
Reference: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2633#issue-185749686

[2016-10-31 16:16] bjwatson commented on #2572
@Fkawala This is almost fixed. Once https://github.com/googleapis/api-client-staging/pull/89 is approved by @geigerj, I will publish a new version of https://pypi.python.org/pypi/googleapis-common-protos containing the RequestLog class definition.

[2016-10-31 16:29] dhermes opened #2650 "AppVeyor build currently failed due to timestamp format zero padding"
See: https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.850.master/job/v28e8ykrv4102h6f

I'm currently working on a fix.

[2016-10-31 16:40] dhermes commented on #2650
It's not just a Windows problem, so that's interesting.

[code]

[2016-10-31 16:42] dhermes commented on #2650
It turns out this issue ["fixes itself"][1] in #2636 by actually comparing native types instead of strings

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2636/files#diff-41b5ab9e98931dbeb0d6ea726a819a1eR298

[2016-10-31 16:59] jonparrott commented on #1960
Bump - I can has release?

[2016-10-31 17:04] dhermes commented on #1960
@jonparrott It's not as easy as it seems. It requires a core release as well, which has implications on all packages.

[2016-10-31 17:05] jonparrott commented on #1960
The core change being the iterator work? If so, I can wait.

[2016-10-31 17:07] dhermes commented on #1960
Yes

[2016-10-31 17:14] dhermes commented on #2354
@tseaver You still planning to handle?

[2016-10-31 18:17] #2650 closed

[2016-10-31 21:04] jonparrott commented on #2631
@bjwatson I'm going to fix this in google-auth.

[2016-10-31 22:29] dmitry-saritasa opened #2654 "Deadline Exceeded & Multithreading"
I'm trying to parallelize writes into BigTable with Python Threads and getting 2 errors (see below). I'm not making any reads, updates or deletes, just pure new inserts.

# System Info
[code]

# Error 1

[code]

If I run fewer threads like 100 I never get such exception

# Error 2

At the end of code execution I see the following console output after exception.

[code]

**Do I need to call explici

[2016-10-31 23:22] dmitry-saritasa commented on #2654
also if I'm trying to persist 1000 records, (I think due to exceptions) I only get 30% persisted

[code]

as you can see
8466−8132+486−461 = 359 records only got persisted. However, I sent 1,000 row.commit() ops against SDK.

thanks,
Dmitry

[2016-10-31 23:28] dhermes commented on #2654
@dmitry-saritasa Wow that's a lot to say.

- The `[INFO]Refreshing access_token` in your logs is because `oauth2client` is getting a new token in each thread, so they are racing
- The `Memory leaked as all network endpoints` message is being tracked: https://github.com/grpc/grpc/issues/7849. Though it seems scary, it isn't the problem for your application failing

[2016-10-31 23:37] dmitry-saritasa commented on #2654
even if I remove threading to
[code]

I get no exceptions, but I don't persist nearly 1000 records

**before I run python create.py**
[code]

I have 504 records in engagement table and 8942 in viewability table

**after I run python create.py that issue 1000 writes into those tables combined on a random basis**
[code]

531-504 + 8942-8773 = 196 rows persisted only so far.

Thanks,
Dmitry

[2016-10-31 23:42] dhermes commented on #2654
@dmitry-saritasa Unfortunately I can't debug your entire app. Any way you could slim down the code into a [Gist][1] that uses mostly / only code elements from this library? This way we can zoom in on the problem and try to help.

[1]: https://gist.github.com/

[2016-10-31 23:45] dmitry-saritasa commented on #2654
okay will try to do that. Is there a way through SDK to see status of row.commit() operation? I.e. failed because of...

[2016-10-31 23:47] dhermes commented on #2654
`row.commit()` will raise an exception if it fails

[2016-11-01 00:26] bjwatson commented on #2572
@Fkawala This should now be fixed by the `1.4.0` release of https://pypi.python.org/pypi/googleapis-common-protos. Please re-open this issue if the problem still exists for you.

[2016-11-01 00:48] dmitry-saritasa commented on #2654
[code]

then in hbase shell

[code]

**logconfig.ini**
https://gist.github.com/dmitry-saritasa/9811e1afec650b54b04dcc96e0074a6f

**demo.py**
https://gist.github.com/dmitry-saritasa/51090453d1c3803e46e3f8543b1a64e7

run it with

[code]

and you will get plenty of DEADLINE_EXCEEDED exceptions

[2016-11-01 02:32] daspecster commented on #2654
@dmitry-saritasa, I noticed that you're first stacktrace is using some older version of `gcloud` although you `pip freeze` looks like it's using the newer `google-cloud`.  So something might be amiss there.

[code]
It appears that the timeout logic has [changed](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/94aa18c6a6d16ae29183df70ee9422e2b4b1fd1c/bigtable/google/cloud/bigtable/r

[2016-11-01 15:27] daspecster opened #2658 "Discussing adding separate system tests for REST and gRPC."
Per what we talked about a little bit today.

It would probably be a good idea to run both the REST and gRPC code in the system tests.
I think most services that could have both REST and gRCP tests could use `skipTest` to manage when it is appropriate to run them.(https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2648#discussion_r85767970)

### When to run them?
I think @dhermes brou

[2016-11-01 15:36] tseaver commented on #2658
The [Travis cron jobs docs](https://docs.travis-ci.com/user/cron-jobs/) say:

They also say:

Detecting a cron-triggered build:

[2016-11-01 15:44] daspecster commented on #2658
@tseaver I *think* we could make 4 cron jobs to get it to run more than once a day. Just change the time span of when each one can run in.

[2016-11-01 15:51] tseaver commented on #2658
@daspecster Looking at the [dialog for adding a cron job](https://docs.travis-ci.com/user/cron-jobs/#Adding-Cron-Jobs).  I don't see any knob for tweaking time-of-day.

[2016-11-01 15:56] dhermes commented on #2658
Why would we need to run more than once a day?

[2016-11-01 16:02] daspecster commented on #2658
@tseaver maybe not, I'm not sure what's in the options drop down there. The way it's worded makes it sound like you may be able to select some portion of the day.

@dhermes not sure that we do, but it would be nice to have it run at night or early in the morning.

[2016-11-01 18:25] bjwatson commented on #2572
@dhermes Please see the discussion in https://github.com/googleapis/packman/pull/147. I am wondering why [`Logger.log_proto(...)`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a0e492b4098fe3c2df4d1821a432cbaee15edd6/logging/google/cloud/logging/logger.py#L228) is [converting the message to JSON](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/5a0e492b4098fe3c2df

[2016-11-01 18:31] dhermes commented on #2572
@bjwatson The two lines you linked don't **always** follow one another. The [conversion to JSON][1] is nominally for sending an HTTP request, but may be repurposed in the gRPC code as well. It may end up [parsed back to protobuf][2] in the gRPC case because @tseaver was trying to minimize the parsing code, so at times was converting PBs as JSON resources to avoid repeating code.

Also

I and @jonp

[2016-11-01 18:55] bjwatson commented on #2572
@dhermes Thanks. I better understand the design of `log_proto` now.

I'm surprised by your objection to putting `RequestLog` in `googleapis-common-protos`. I posted my plan to do that [six days ago](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2572#issuecomment-256436316), and I never saw an objection from you or @jonparrott. I just double-checked my email to make sure I'm not

[2016-11-01 19:05] dhermes commented on #2572
@bjwatson It's not a problem that it's in there, it just isn't a "common" proto, that's all.

[2016-11-01 20:05] bjwatson commented on #2572
@dhermes and I discussed offline. I see his point that these messages could be in their own separate package, like `grpc-google-appengine-logging-v1`. We're currently committed to them being in `googleapis-common-protos`, but can fix this later with a 2.0 release. (see https://github.com/googleapis/api-client-staging/issues/90)

[2016-11-01 20:16] dmitry-saritasa commented on #2654
Indeed once moved to google.cloud instead of gcloud the problem is gone, It seems I referenced older documentation/example (can't find where) which was using gcloud instead.

Thank you Guys!

[2016-11-01 20:16] #2654 closed

[2016-11-02 00:56] bjwatson commented on #2631
Ok, thanks @jonparrott.

[2016-11-02 02:25] jonparrott commented on #2631
This is partially addressed by https://github.com/googleapis/gax-python/pull/135 which allows credentials to be passed in.

[2016-11-02 02:59] micolous opened #2662 "Allow logging metrics to be created with LogEntry V1 syntax"
At present, it is [only possible to create a new Log metric with V2 syntax](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/metric.py#L41).

The [default behaviour of the API is to use version="V2" when version is not specified](https://cloud.google.com/logging/docs/api/reference/rest/Shared.Types/LogMetric).

As a result, a user who tries to cre

[2016-11-02 03:21] dhermes commented on #2662
@waprin Can you weigh in here? This is beyond my expertise

[2016-11-02 09:06] Fkawala commented on #2572
@bjwatson thanks !

[2016-11-02 17:12] waprin commented on #2662
Logging is moving to v2, v1 is deprecated, so just use the v2 syntax. The console is really overdue to migrate but it should be coming soon. No reason to add a bunch of code to support a deprecated version. Apologies for any pain the migration has caused.

[2016-11-02 17:58] #2662 closed

[2016-11-02 17:59] tswast commented on #2125
+1 We got feedback about this issue on the https://cloud.google.com/bigquery/batch page. Since we are using this library for all samples now, there are no code samples on that page.

[2016-11-02 18:20] jonparrott commented on #2572
@bjwatson @dhermes this is just caused all sorts of problems. oauth2client now thinks that all environments are app engine because now `google.appengine` exists. Also, it seems `google.appengine` isn't a proper namespace package.

[2016-11-02 18:27] jonparrott commented on #2572
https://github.com/googleapis/packman/pull/147#issuecomment-257956109

[2016-11-02 18:58] bjwatson commented on #2572
Per the issue flagged by @jonparrott, I have removed GAE Logging from `googleapis-common-protos`. I will publish it in its own package soon.

[2016-11-02 20:01] kir-titievsky commented on #1679
A gentle ping on this, given that IAM is now GA: is there an AIM API coming?  Any chance the Pub/Sub AIM API might be brought up to date.

[2016-11-02 23:54] salrashid123 opened #2667 "Please update README with Alpha->Beta->GA timelines for each library"
gcloud-java lists alpha/beta status for each library but not timelines to GA:
  https://github.com/GoogleCloudPlatform/google-cloud-java
also see
 https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1369

[2016-11-03 00:56] duggelz opened #2669 "Easier system test setup/teardown"
Feature request: A single command I (as an authenticated user, or CI system) run that:

1) Creates an ephemeral google cloud project based on the billing, permissions and name of an existing project
2) Enables all the necessary APIs
3) Creates and pulls down credentials and secrets
4) Runs the system tests
[Optional] 5) Tear down and delete everything

For example `system_test/setup cloud-python-r

[2016-11-03 01:00] dhermes commented on #2667
@omaray Assigned to you so you can weigh in here.

[2016-11-03 01:40] daspecster commented on #2669
I don't think that 2 and 3 are really possible now. I don't know that it would be good practice to pull down overall credentials. There is kind of a public/private key model right now that is secure.

I'm not really sure what the overall goal that you're trying to achieve is. Maybe you can clarify that a little bit?

[2016-11-03 02:47] duggelz opened #2670 "Add Python 3.5 system-test target in tox.ini"
Currently it has 'system-test' -> python 2.7 and 'system-test3' -> python 3.4

See also #2350

[2016-11-03 03:10] duggelz commented on #2669
I want to qualify new Python runtime images, by running all the google-cloud-python system tests inside the new image, before it's been released.  I have set up a project to run these tests in, with the populated sample data.  But a few problems crop up:

1) Concurrency: Ideally, this qualification test would be run by both CI and developers, often concurrently.  So if they all use the same projec

[2016-11-03 03:15] micolous commented on #2662
All the existing log entries are V1 -- so right now it's impossible to copy metrics from one project to another using the `google-cloud-python` library.

There's also no way to explicitly detect that an existing metric is using V1, short of trying to look for the old syntax, as that field is also dropped by the library.

As a result, you have a bunch of metrics that get silently broken, that you c

[2016-11-03 04:33] dhermes commented on #2670
@duggelz Thanks for taking an interest in our test setup. Any particular reason this matters to you? Keep in mind you can already run the system tests in Python 3.5 if you please via:

[code]

[2016-11-03 04:46] dhermes commented on #2669
Thanks for the pointer to https://github.com/GoogleCloudPlatform/python-runtime/pull/39/, it gives a bit (a lotta bit?) more context than your GitHub profile page.

1. Our `CONTRIBUTING` doc should explain how to set up the system tests, if it doesn't let's try to fix that.
1. The actual tests should fail with a helpful error explaining the missing config values (again, if this isn't the case, let

[2016-11-03 10:46] Fematich opened #2672 "CloudML Integration"
I am working on a `google-cloud-ml` integration at this moment. Since I don't know when I will be able to finish this, I wanted to share this already before doing a PR, so that my efforts are not in vain.

Latest version is availabe [here](https://github.com/Fematich/google-cloud-python/tree/cloudml).

[2016-11-03 15:46] HiroLord opened #2673 "Python Logging API always defaults to Custom logs"
When using the **Python Stackdriver Logging API**, there is not a well-defined way to specify where you want your logs to land. All of them will go into Custom Logs. The way around this is to use a Logging Handler, but this is not well written anywhere except for this one particular blog post:

https://medium.com/google-cloud/cloud-logging-though-a-python-log-handler-a3fbeaf14704#.39a97qpib

The r

[2016-11-03 17:16] daspecster commented on #2672
Thanks @Fematich!

This might be some some interest to you https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2660.

[2016-11-03 17:38] tseaver opened #2674 "New 'MessageToDict' implementation breaks with unknown entry types"
[code]

[2016-11-03 17:43] dhermes commented on #2674
@tseaver Yup, @bjwatson had reported this earlier and I confirmed with @waprin yesterday. Sorry for not filing. I'd been meaning to resolve this.

[2016-11-03 17:50] bjwatson commented on #2674
@tseaver @dhermes We're tracking this in https://github.com/googleapis/googleapis/issues/187.

What's the relative priority? We're focused on landing our beta surfaces this month, and the related issue https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2572 took me down a long tangential path for the past week.

[2016-11-03 19:10] dhermes commented on #2674
@bjwatson This is something that's my fault, not your fault. There isn't anything you need to fix, we'll always encounter types we don't know about. The proper behavior is just to leave them as `Any` instances, and I'll make that fix in `google-cloud-python`

[2016-11-03 19:14] tseaver commented on #2674
@bjwatson I can exercise the new logging snippets with GRPC disabled for now.

[2016-11-03 19:26] bjwatson commented on #2674
Ok, thanks @dhermes and @tseaver.

[2016-11-03 19:46] tseaver commented on #2673
We would need to add a `MonitoredResource` type (including mapping the [`list` API method](https://cloud.google.com/logging/docs/api/reference/rest/v2/monitoredResourceDescriptors/list) for them), and then allow passing an instance of it through to the logger, either as an optional constructor paramater or as a keyword parameter for `log_text` and `log_struct`.

@waprin Any thoughts?

[2016-11-03 19:53] waprin commented on #2673
yes @HiroLord, you are definitely right, you should be able to specify a monitored resource.

As a stopgap to at least get the resources types right on GAE/GKE I have #2668 which uses the fluentd handlers. However you are right that in general the client library should allow you to specify a monitored resource of your choice.

I played around with it a bit and found that besides the resource type,

[2016-11-03 19:58] waprin commented on #2673
Also @HiroLord just a small correction - the logging handler is totally orthogonal to this issue. Handlers are just a way of mapping Python `logging` calls to API calls, but we have logging handlers in this repo as well, though at the moment they only write to custom logs.

The real reason you can accomplish what you want with that blog post is it's using https://github.com/google/google-api-pytho

[2016-11-03 20:00] HiroLord commented on #2673
We are trying to write logs from our compute engine instances using this API. Our end goal is to pipe std_out from different programs into this Python logger to get all of our logs in the same location on stack driver for each instance.

[2016-11-03 20:10] HiroLord commented on #2673
@waprin Ahh, that makes sense. I was curious how we were able to work around it with handlers, but the lower level API makes sense. Thanks!

[2016-11-03 20:23] waprin commented on #2673
@HiroLord you might want to consider installing the fluentd agent and just writing your logs to a file it can pickup from...admittedly the documentation on doing that could also use some work:

https://cloud.google.com/logging/docs/agent/installation

@tseaver the short version of what I'm saying is I agree with you suggested as a way to enable people to accomplish this, though I'm not totally sur

[2016-11-03 21:10] duggelz commented on #2669
I added a company name and snazzy picture to my GitHub profile :)  If the tests are already setup to play nicely within a single project, that is excellent, and removes the need for 1, 3 and 5.  I just assumed it was a problem without actually checking.

That leaves the list of APIs that need to be enabled, and a nicer way to setup data and indexes that doesn't require installing the cloud SDK.

A

[2016-11-03 22:46] dhermes commented on #2669
- We'd be happy to have the datastore setup happen in Python code instead of through the SDK, but AFAIK there isn't a public API for updating indexes (also, it's a lot of churn to create and throw away a project every time you run the tests. If you have a long-lived project, the index creation is a one-shot cost.)
- The logging error you see is because some bucket or other object needs to add `clo

[2016-11-03 23:08] tswast commented on #2551
@tseaver I found the docs on this:

https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query

Search for `queryParameters`.

Depending on what `parameterMode` is set to, the parameter can be positional `?` or names `@somename`

[2016-11-03 23:48] dhermes commented on #2672
Thanks for the heads up. Regarding

The best way to do this is to start with a planned usage RST doc, so we can discuss the interface before you write too much code.

A PR with a finished product dumped on the reviewers is a very bad idea. Once the interface is agreed upon, you can send piece-by-piece PRs to get the implementation checked in (the smaller the PRs, the faster the review and the less

[2016-11-04 00:27] dmitry-saritasa opened #2677 "[BigTable] Insert new record with the existing row_key multiple times?"
Is it possible to append additional rows with the existing 'rowkey' in Bigtable?

it seems when I call

[code]

so if I run code against the same record 3 times (which will produce the same rowkey for the row) I only get a single row. It seems 1st row is inserted, and then 2nd and 3rd mutate the same row. How to make it append? (OR row_key HAS TO BE UNIQUE?)

thanks,
Dmitry

[2016-11-04 01:55] dmitry-saritasa opened #2678 "[BigTable] Convert byte to int after table.read_row() call issue"

[2016-11-04 01:59] dmitry-saritasa commented on #2678
[code]

first integer in row_key is value for field 'stat:asset', when I'm trying to obtain the value:

[code]

[2016-11-04 02:10] dmitry-saritasa commented on #2678
I see, the answer is this
https://docs.python.org/3/library/struct.html
[code]

however is it possible to conver the int/long values automatically to python type once read_row is called?
set_cell doesn't require mandatory conversion to bytes so you simply submit int, char values and they're converted automatically.

I think it's great for end developer to get actual 'python' value instead of bytes

[2016-11-04 02:31] dhermes opened #2679 "Should we raise if an Operation contains on error while polling"
When we call `Operation.poll()`, we [check the payload returned][1] and if the operation is both done and has an error set, we could easily raise an exception. We could raise a `GaxError`? The underyling protobuf type is [`google.rpc.Status`][2]. (ref: [operation proto][3])

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/3de5bc0b98235400e05fff440195f25b344b6edf/core/google/cl

[2016-11-04 02:45] dhermes commented on #2677
@dmitry-saritasa Doing this will give you 3 cells in the same row/family/column with different timestamps.

[code]

[2016-11-04 02:45] #2677 closed

[2016-11-04 02:45] dhermes commented on #2677
I'm happy to re-open if I've misunderstood the question.

[2016-11-04 02:55] dhermes commented on #2678
@dmitry-saritasa Bigtable stores no metadata about the types being stored, so storing typed data and converting back to types isn't something we could infer without using a different backend. So unfortunately, this is an impossible feature for us to add.

If you'd like a way to specify a type and have it converted, we could look into serialization / deserialization helpers, but you can also roll y

[2016-11-04 02:55] #2678 closed

[2016-11-04 04:43] daspecster commented on #2679
@dhermes maybe you know the answer to this, but I think it's relevant here.
Is it possible for an error to be returned as well as a result/payload?

[2016-11-04 04:47] dhermes commented on #2679
@daspecster I updated the original comment with a reference to the actual proto. As can be seen in the part of our codebase I linked, the `error` is part of a oneof field that `response` is also in, so there is a clear demarcation.

[2016-11-04 11:32] forsberg opened #2683 "Frequent gRPC StatusCode.UNAVAILABLE errors"
Using the current codebase from master branch (e1fbb6b), with GRPC, we sometimes (0.5% of requests, approximately) see the following exception:

[code]

Retrying this seem to always succeed.

Should application code have to care about this kind of error and retry? Or is this a bug in google-cloud-pubsub code?

Package versions installed:
[code]

Note: Everything google-cloud* comes from git master

[2016-11-04 11:36] forsberg opened #2684 "AbortionError(code=StatusCode.UNAUTHENTICATED, details="Request had invalid authentication credentials.")"
Very seldom, like 9 out of 450k publish requests, we get the following error:

[code]

Retrying 2 times doesn't help, and we loose the message.

What's the recommended way of dealing with this problem? Retry until it works? Should application code have to deal with it, or is it something that should be handled automatically by SDK?

Versions, traceback etc is the same as in #2683.

[2016-11-04 15:21] daspecster commented on #2679
Ah yeah https://github.com/googleapis/googleapis/blob/1e724373436dc016f1708dd18c906524532716ea/google/longrunning/operations.proto#L97.  Where are things like the protobuf `oneof` and other types defined?

I see it's imported as `import "google/protobuf/any.proto";`(iiccckk) but I can't find that in https://github.com/googleapis/googleapis/tree/1e724373436dc016f1708dd18c906524532716ea/google.

[2016-11-04 17:53] waprin opened #2687 "Add Error Reporting gRPC"
This is a tracking work item to get the Error Reporting GAPIC into this library:

https://pypi.python.org/pypi/gapic-google-cloud-error-reporting-v1beta1

@steren and I agree that the existing (small) `report` and `report_exception` is what we want to keep, along with possible more framework integrations in the future. So I think what we primarily want is the same thing as with done with Logging w

[2016-11-04 18:07] dhermes commented on #2684
@forsberg `AbortionError` indicates you are using an old version of this library. That was a beta feature of `grpc` and we have been using the stable version for some time.

Can you explain how you are installing?

[2016-11-04 18:09] dhermes commented on #2684
@forsberg FWIW we've seen something similar in #1917. The issue is essentially one of timing: your token may not be expired when we check the expiry before making a request, but by the time it reaches the server, it is expired. Do you know what kind of credentials you are using? (e.g. service account or a user credentials)

[2016-11-04 18:11] dhermes commented on #2683
@forsberg As you can see from the stack trace, this comes from `grpc.beta` (the beta interface). We haven't used the beta interface for some time. How are you installing the library?

[2016-11-04 18:15] jacobgmathew opened #2688 "AttributeError: 'module' object has no attribute 'LoggingServiceV2Stub'"
I'm running into an error with google.cloud.logging.

`pip show google-cloud-python` says I am on version: 0.20.0

When I run:
[code]
I get the following error:

[code]

[2016-11-04 18:55] dhermes commented on #2683
@nathanielmanistaatgoogle I can [consistently][1] reproduce an Unavailable error when a connection goes stale. Is there any way to avoid this, short of retrying on failures?

[1]: https://gist.github.com/dhermes/6823a973e57107178ee4946853f12874

[2016-11-04 19:07] forsberg commented on #2683
That library installation seems to have gone horribly wrong. We had an earlier version using the grpc.beta interface, and I guess installing this into the same virtualenv, something went wrong. Will investigate that on Monday.

[2016-11-04 19:08] dhermes commented on #2683
@forsberg `grpc` 1.0 still **supports** the beta interface, but none of `google-cloud-python` (or its dependencies) use that interface any longer. So it'd be your `google-cloud-python` install that's b0rked rather than your `grpc` install.

[2016-11-04 19:10] forsberg commented on #2684
We have a very simple retry logic here - it will simply try 3 times in a row. For the problem in #2683, this seems to have done the trick. For this, it doesn't. I guess it's matter of timing.

I'll make sure we do a fresh install from master without old crap lying around on Monday to see if problem still appears.

Agree that having built-in retry functionality would be very convenient. Or at least

[2016-11-04 20:12] #2631 closed

[2016-11-04 20:16] daspecster commented on #2688
Hello @jacobgmathew!

You may need to update `pip install --upgrade gapic-google-logging-v2`.

[2016-11-04 20:20] dhermes commented on #2606
Just chatted with @tseaver about this and we both seem to agree, the answer is "yes" to "Should we...".

Sending a PR for BigQuery, Datastore, Logging, Pub/Sub and Storage ASAP.

[2016-11-04 21:17] jacobgmathew commented on #2688
That worked. Thanks!

[2016-11-04 21:17] #2688 closed

[2016-11-04 22:45] Fematich commented on #2672
Thank you both, really useful!
I will start with the usage RST, and come back once I finished a piece.

[2016-11-05 00:15] rishsriv opened #2693 "Frequent gRPC StatusCode.UNAVAILABLE errors"
Of late, a small but significant (5-10%) of fetch operations to the Cloud Datastore seem to fail. They always succeed upon retry (which seems to be the [prescribed way](https://cloud.google.com/datastore/docs/concepts/errors) to solve the problem). However, the library should handle the retries IMO.

Here is the error traceback:

[code]
I'm using Ubuntu 16.04 on Google Compute Engine, with python

[2016-11-05 00:34] daspecster opened #2694 "Adding retry logic to services in google-cloud-python"
I will see if I can find it, but I think there was a thread somewhere that @tseaver and @dhermes were talking about having retry be an option that you passed into the call to the service.

I think some of the other libraries just retry by default but I'll try and dig a little bit.

Issues involving retry:
- #3133 Core
- https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2684 [pubsub

[2016-11-05 00:36] daspecster commented on #2693
@rishsriv thanks for reporting!

There has been talk of adding retry with exponential backoff to the library.
Most recently, https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2684#issuecomment-258458249.

I would suggest using exponential backoff using your favorite Python retry library for now.

There are a couple that seem to be alright.
- https://pypi.python.org/pypi/retrying
-

[2016-11-05 00:44] rishsriv commented on #2693
@daspecter, thanks for the update!

[2016-11-05 17:48] hir3npatel commented on #1783
I still get this error when running a script from gke, trying to fetch logs. According to pip I have these installed:

[2016-11-05 20:53] dhermes commented on #1783
@hir3npatel Can you provide more of a stacktrace?

[2016-11-06 06:38] hir3npatel commented on #1783
@dhermes thanks for being all over these bugs, you are very quick and responsive ;)

Sorry I should have provided more details, what I reported was a bit useless, apologies.

I have seen pull 1785, which was done in May. I think I'm using a logging lib that should have included that pull, I'm not sure though.

[2016-11-06 06:51] hir3npatel commented on #1783
Looking at the latest release and the tags here, it is a bit confusing. the 0.20.0 umbrella tag is perhaps not what the pip package is using. If I run a pip install --upgrade google.cloud on the host, to make sure I have the latest versions, and rerun that logging script, I get the same error.

For a full list of packages after the --upgrade google.cloud, this is what I have.

gapic-google-logging

[2016-11-06 17:44] dhermes commented on #1783
@tseaver it seems that `(?P<nanos>\d{1,9})` is insufficient to cover the `nanos = 0` case. This change is needed:

[code]

Seem right?