[2016-06-20 19:14] tseaver opened #1873 "Re-enable GAX-based API default"
After 0.16.0 release.

[2016-06-20 19:15] daspecster commented on #1872
It could go in there.
I was just thinking it made sense in the .travis.yml as part of the build process.

I'm good either way though.

[2016-06-20 19:41] tseaver commented on #1869
@bjwatson To reproduce (updated):

[code]

[2016-06-20 20:04] dhermes commented on #1872
The point is that every PR already has a coverage check

[2016-06-20 20:05] dhermes commented on #1863
@daspecster It's still failing: https://ci.appveyor.com/project/dhermes/gcloud-python/build/1.0.428.master

[2016-06-20 20:06] daspecster commented on #1872
I think the issue is coveralls.io says that there's 100% coverage but `tox -e cover` says there's 99% coverage due to https://github.com/GoogleCloudPlatform/gcloud-python/pull/1870#issuecomment-227229477

[2016-06-20 20:07] dhermes commented on #1872
WAT! That sucks. Let's figure out what's wrong with coveralls.io instead of doing double duty. Do you need to be added as an admin?

[2016-06-20 20:08] daspecster commented on #1863
Is there a way to get around the `grpcio` issue that you know of?

[2016-06-20 20:09] daspecster commented on #1872
The sad truth appears to be here my friend https://github.com/lemurheavy/coveralls-public/issues/31

[2016-06-20 20:10] tseaver commented on #1863
@daspecster If Appveyor sets a known environment variable, we could use it to avoid adding the `GRPC_EXTRAS` requirements to `install_requires`.

[2016-06-20 20:12] daspecster commented on #1863
I think it sets an `APPVEYOR` envar to true (https://www.appveyor.com/docs/environment-variables).

[2016-06-20 20:17] dhermes commented on #1863
So `grpcio` doesn't work on Windows? Isn't that a huge problem @jgeewax?

[2016-06-20 20:18] dhermes commented on #1872
Ouch. Based on that, let's switch to codecov.io?

[2016-06-20 20:24] daspecster commented on #1872
Looks promising!
#1876

[2016-06-20 21:30] tseaver commented on #1863
@dhermes it appears to be an oddity with [installation through a dependency](https://github.com/grpc/grpc/issues/6939).  Maybe we could work around it by pre-installing `grpcio` under Appveyor?

[2016-06-20 21:58] tseaver commented on #1869
cc @tbetbetbe

[2016-06-20 22:11] bjwatson commented on #1869
Hi @tseaver. Sorry for the delay; I was looking into a few other things. I'll try what you suggested and let you know what I find.

[2016-06-20 23:24] bjwatson commented on #1869
I have successfully reproduced this issue on my workstation and am looking into it.

[2016-06-20 23:34] Taywee opened #1879 "version 0.16.0 made grpcio a hard requirement even without the grpc extra, breaking Python3 use"
You can see this in the [Requires Distributions on Pypi](https://pypi.python.org/pypi/gcloud)

![2016-06-20-173101_525x429_scrot](https://cloud.githubusercontent.com/assets/1069915/16213468/d8cb4446-370c-11e6-9285-ba8e73d6e287.png)

grpcio still does not work in python3, making python3 projects unable to use the latest gcloud-python module.

You can see this is caused by https://github.com/GoogleC

[2016-06-20 23:41] daspecster commented on #1879
/cc @tseaver

[2016-06-20 23:49] tseaver commented on #1879
@Taywee Thanks for the report! Per `setup.py`, `grpcio` is only a hard requirement for Python 2.7.  However, we have not updated `setup.cfg` to turn off `universal = 1` for wheel building.

Our first response should be to delete the broken `none-any` wheel distribution for 0.16.0.  After that, we can look at building the wheel file both for Python 2.7 and for Python 3.4+.  @dhermes do you have the

[2016-06-20 23:56] daspecster commented on #1879
This may also be affecting 0.15.0 as well.

![screen shot 2016-06-20 at 7 45 20 pm](https://cloud.githubusercontent.com/assets/192456/16213906/0b624f6c-3721-11e6-9288-4e0b434d4324.png)

[2016-06-21 00:09] tseaver commented on #1879
@daspecster Note that in 0.15.0 those were "extra" dependencies:  in 0.16.0 they show up as unconditonal.

[2016-06-21 00:13] daspecster commented on #1879
I'm probably missing something very obvious here, but it looks the same to me except for the version number?

0.16.0
![screen shot 2016-06-20 at 8 12 25 pm](https://cloud.githubusercontent.com/assets/192456/16214154/709b947c-3723-11e6-8528-e97130638e85.png)

[2016-06-21 00:15] tseaver commented on #1879
@daspecster See the `; extra == 'grpc'` at the end?

AFAICT, the current `grpcio` release is actually OK for Python 3.4+, as long as [one installs it first](https://github.com/grpc/grpc/issues/6939).  There are a [couple of issues in the GAX pubsub layer and our tests](https://github.com/grpc/grpc/issues/282#issuecomment-226291058), though.

[2016-06-21 00:21] daspecster commented on #1879
@tseaver, yeah, isn't that in both 0.15.0 and 0.16.0?

## 0.16.0
![screen shot 2016-06-20 at 8 19 58 pm](https://cloud.githubusercontent.com/assets/192456/16214249/662e9830-3724-11e6-913d-59a8cfefcb4a.png)

## 0.15.0
![screen shot 2016-06-20 at 8 20 29 pm](https://cloud.githubusercontent.com/assets/192456/16214258/7666df14-3724-11e6-8f83-1918b448b062.png)

[2016-06-21 00:22] dhermes commented on #1879
@tseaver RE:

Sent you an email with the necessary PyPI info.

[2016-06-21 00:33] Taywee commented on #1879
@daspecster  You've missed that in 0.16.0 grpcio shows up in the list twice.

[2016-06-21 00:34] daspecster commented on #1879
@Taywee Ah yes! That's it. Sorry for the noise!

[2016-06-21 00:57] bjwatson commented on #1869
So what I've discovered so far is that `event.result` is assigned to `AttributeError: Assignment not allowed to repeated field "message_ids" in protocol message object.`

Based on code analysis, I believe this is being thrown by https://github.com/googleapis/gax-python/blob/master/google/gax/bundling.py#L193. I'm not sure why we haven't discovered this before. Is this the first time the `bundle_de

[2016-06-21 10:00] jgrahn commented on #632
Hi. Is there any progress on the part that says `blob.upload_from_file(filename)  # Sends metadata from properties` in this issue (or is there a separate issue for it I haven't found)?

Having to use `patch()` after `upload_...()` unfortunately has several more or less serious drawbacks:
1. It requires the client to have credentials allowing PATCH requests, preventing immutable append-only semanti

[2016-06-21 10:36] pdknsk commented on #632
https://github.com/GoogleCloudPlatform/gcloud-python/issues/1185
https://github.com/GoogleCloudPlatform/gcloud-python/issues/754

[2016-06-21 18:46] bjwatson commented on #1869
@tseaver This is a bug in gax-python. I created issue https://github.com/googleapis/gax-python/issues/110 to track it, and plan to fix it today.

[2016-06-21 19:35] tseaver commented on #1869
@bjwatson Thanks very much!

[2016-06-21 20:55] kelvinabrokwa opened #1883 "set correct project when using from_service_account_json"
When instantiating with `bigquery.Client.from_service_account_json('...')` the `project` field in the client should be set to the `project_id` defined in the service account JSON.

Right now it is still the one from env.

[2016-06-21 21:09] daspecster commented on #1883
Thanks for reporting @kelvinabrokwa!

I was able to reproduce the issue with
[code]
[code]

I'll try and figure out what's up.

[2016-06-21 21:42] kelvinabrokwa commented on #1883
@daspecster thanks for the quick response!

[2016-06-21 22:29] garye commented on #1850
Some additional information:

- Every API is in v2, not just data. See https://github.com/GoogleCloudPlatform/cloud-bigtable-client/tree/master/bigtable-protos/src/main/proto/google/bigtable/admin/v2.
- `ReadRowsResponse` has changed quite a bit. Let's talk offline about the implementation and testing.
- You now connect with project/instance rather than project/zone/cluster. This change is pervasi

[2016-06-21 22:32] sduskis commented on #1850
I'd guess that MutateRows, bulk delete, and "bulk read" (a set of random row keys) are not in the current python implementation, since they were not there from day one and we added them along the way.  They are useful, but not required functionality.

[2016-06-21 22:36] sduskis commented on #1850
We have a [java implementation](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/master/bigtable-client-core/src/main/java/com/google/cloud/bigtable/grpc/scanner/v2/RowMerger.java) and a [go implementation](https://team.git.corp.google.com/go-cloud/gocloud-exp/+/refs/changes/30/40630/8/bigtable/reader.go#) which process v2 ReadRowsResponse objects.  Hopefully, they can help give s

[2016-06-21 22:39] garye commented on #1850
If we implement happybase's `Table.batch` then `MutateRows` would be helpful to leverage, but I agree with Solomon that it's not required.

[2016-06-21 22:44] sduskis commented on #1850
Yeah, the new MutateRows is pretty awesome.  It has a significant performance improvement over MutateRow.

Anything related to v2 comes first due to time sensitivity.  We have a few performance improvement (MutateRows, multiple grpc channels) and reliability (retries) improvements that aren't as time sensitive.

[2016-06-21 22:51] garye commented on #1850
Here's a link to the go read rows implementation.
https://gist.github.com/garye/4b2ce32f8b6245e1024c7ce0a37b681d

[2016-06-21 22:52] dhermes commented on #1883
The credentials check and project check are completely decoupled. The `from_service_account_*` helpers pass an explicit credentials instance, hence they bypass the check. We may want to also pass an explicit project.

[2016-06-22 00:39] daspecster commented on #1883
@dhermes, what do you think about just adding/calling a helper function to extract the project id from the file at this point?

https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/client.py#L60

[2016-06-22 01:59] bjwatson commented on #1869
@tseaver No problem. I have a fix in code review now: https://github.com/googleapis/gax-python/pull/111

Once this is merged, I will publish new versions of gax-python, pubsub, and logging. And then I will verify that this issue is closed. This should be finished tomorrow.

[2016-06-22 17:30] pdknsk opened #1885 "storage: add upload_from_bytes"
Basically like ```upload_from_string```, but without text detection. And without ```content_type``` set to ```text/plain``` as default. Instead, ```content_type``` should be guessed from the name of the blob.

It's currently not possible to send pre-compressed content without either explicitly setting a ```content_type``` or making an unnecessary temporary file.

And ```download_as_string``` shoul

[2016-06-22 17:50] pdknsk commented on #1885
[code]

[2016-06-22 18:24] jgeewax commented on #1883
This is actually tricky because a service account can have access to multiple different projects (ie, you can go into another project and add that service account to the project so it has access over there).

If we were to automagically pick up the project ID from the key file (JSON), how would people specify "I'm using a service account from project A to talk to resources in project B" ?

[2016-06-22 18:27] daspecster commented on #1883
True @jgeewax, similar issue in #1827 right?

[2016-06-22 18:30] jgeewax commented on #1883
Yea I'd say these are related.

[2016-06-22 19:26] dupuy opened #1886 "[Documentation Issue] errors in DNS API example usage"
Page Name: dns-usage
Release: 0.16.0

As noted at https://groups.google.com/d/msg/cloud-dns-discuss/m5CHw1ncS14/lTKvD7O_BgAJ

this example of the DNS API doesn't actually work:

[code]

Needs to be in this form:

CNAME:

[code]

Or for A records:

[code]

Resource records need to be in a List form, DNS records seem to need the trailing dot.

[2016-06-22 19:56] tseaver commented on #1886
@dupuy Thank you for the report!

[2016-06-22 21:08] tseaver opened #1889 "Mismatch between WriteLogEntriesRequest'"

[2016-06-22 21:12] tseaver commented on #1889
@bjwatson, @tbetbetbe PTAL.  This is with `gax-google-login-v2` 0.7.9.

[code]

[2016-06-22 21:44] kelvinabrokwa commented on #1883
@jgeewax good point. I actually just ran into that today.

The way I'm looking at it now, the `project_id` in the JSON key file is only an indicator of where the service account lives, not necessarily which project it can talk to.

With that in mind, I can definitely imagine a scenario in which someone sets their env var purposefully to the project they want and then run into a bug where the libra

[2016-06-22 21:49] bjwatson commented on #1889
@tseaver Do you have a recipe for reproducing this? Can I assume it's something like the recipe in https://github.com/GoogleCloudPlatform/gcloud-python/issues/1869?

[2016-06-22 21:59] bjwatson commented on #1863
Is this issue fixed, or is it still outstanding? I saw that https://github.com/grpc/grpc/issues/6939 was closed and will be fixed in 0.15.0.

[2016-06-22 22:05] daspecster commented on #1863
@bjwatson, I don't think 0.15.0 has been released yet to try it. Do you know when it might get released?

[2016-06-22 22:23] bjwatson commented on #1863
@daspecster I asked on the grpc ticket.

Does the force install patches that @tseaver merged provide a decent work-around for now?

[2016-06-22 22:35] tseaver commented on #1889
@bjwatson I think this would do it.

[code]

and then:

[code]

[2016-06-22 22:40] daspecster commented on #1863
@bjwatson, I _think_ it just pulls from pypi.
https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/appveyor.yml#L77

[2016-06-22 22:41] daspecster commented on #1863
Retrying build
https://ci.appveyor.com/project/daspecster/gcloud-python-pjqjn

[2016-06-22 22:41] tseaver opened #1890 "Mismatch between 'CreateSinkRequest' and 'ConfigServiceV2Api.create_sink'"
@bjwatson, @tbetbetbe PTAL.  Reproduce via:

[code]

and then:

[code]

[2016-06-22 22:41] tseaver commented on #1890
Seems quite similar to #1889.

[2016-06-22 22:54] tseaver commented on #1889
Maybe one file is generated from an older version of its `.proto`?

[2016-06-22 23:05] tseaver opened #1891 "Mismatch between 'CreateMetricRequest' and 'MetricsServiceV2Api.create_metric'"
@bjwatson, @tbetbetbe PTAL.  Needs to have #1888 merged here;  after that, reproduce via:

[code]

and then:

[code]

Clearly similar to #1890.

[2016-06-23 00:47] bjwatson commented on #1869
@tseaver I have fixed this issue with https://pypi.python.org/pypi/google-gax/0.12.1.

Now the behavior I'm seeing is that the `test_message_pull_mode_e2e` test hangs indefinitely on the [*second* call to `publish(...)`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/system_tests/pubsub.py#L158). I'm not sure where in the stack the problem is occurring.

I'm about to wrap up for

[2016-06-23 01:01] bjwatson commented on #1869
I also updated logging, although I have not yet looked into https://github.com/GoogleCloudPlatform/gcloud-python/issues/1889

[2016-06-23 02:13] bjwatson commented on #1889
Where is `.tox/system-tests/lib/python2.7/site-packages/google/logging/v2/logging_pb2.py` coming from? It does not match `google/logging/v2/logging_pb2.py` in [`grpc-google-logging-v2-0.7.8`](https://pypi.python.org/pypi/grpc-google-logging-v2/0.7.8) or [`grpc-google-logging-v2-0.7.10`](https://pypi.python.org/pypi/grpc-google-logging-v2/0.7.10).

[2016-06-23 02:50] tseaver commented on #1889
@bjwatson From `grpc-google-logging-v2-1.0.19`::

[code]

[2016-06-23 02:53] tseaver commented on #1890
Similar to #1889, `logging_config_pb2.py` is coming from `grpc-google-logging-v2` 1.0.19:

[code]

[2016-06-23 13:03] gpopovic opened #1893 "Support Cloud Client Libraries on Google App Engine standard"
I'm able to deploy it but I keep getting this error:
"DistributionNotFound: The 'gcloud' distribution was not found and is required by the application"

[2016-06-23 13:06] jgeewax commented on #1883
I could be wrong, but this might be one of those special situations where we should try to separate a client from credentials, as well as loading a client from a service account from loading credentials from a service account.

For example, when I load a *Client* from a service account, I'm expecting that all data in the service account is used to create a client. I think you're right in saying th

[2016-06-23 13:09] daspecster commented on #1893
Hello @gpopovic!

@dhermes has a good skeleton project that might help you.
https://github.com/dhermes/test-gcloud-on-gae

It looks like there is some extra work in supporting gcloud-python as a dependency.
https://github.com/dhermes/test-gcloud-on-gae/blob/master/install_gcloud.sh

[2016-06-23 13:10] gpopovic commented on #1893
Isn't this too much hack for something that should be simple?
gcloud-golang works like as charm on both appengine standard and compute engine instances.

[2016-06-23 13:16] daspecster commented on #1883
That makes sense to me at first glance.

In the last example, that would override envar `GCLOUD_PROJECT`, correct?

For #2,
[code]
If the project ID isn't in the key.json then it would run through the default search order?
There's a chance that a user might expect the project ID to be in key.json but it's not and then we would want to be pretty clear on what's happening.

In an application where m

[2016-06-23 13:24] daspecster commented on #1893
@dhermes or @tseaver could probably shed more light on this.

Here is @dhermes post on stackoverflow talking about some of the issues.
http://stackoverflow.com/a/28095663/89702

Do you have a stacktrace from "DistributionNotFound"?

[2016-06-23 13:30] gpopovic commented on #1893
@daspecster

`
Traceback (most recent call last):
  File "/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 240, in Handle
    handler = _config_handle.add_wsgi_middleware(self._LoadHandler())
  File "/base/data/home/runtimes/python27/python27_lib/versions/1/google/appengine/runtime/wsgi.py", line 299, in _LoadHandler
    handler, path, err = LoadObj

[2016-06-23 13:52] jgeewax commented on #1883
If the project ID isn't in the JSON file, then they manually deleted it... I don't think that's a common thing...

[2016-06-23 13:55] jgeewax commented on #1893
Can someone explain the rationale behind the error here? The darth vendor path does work, but it's way more code that I'd expect just to get a hello world with gcloud-python....

[2016-06-23 15:47] simple-design commented on #1829
i could not get anything from GCP support team. They have the internal issue.

[2016-06-23 16:39] jonparrott commented on #1893
Because App Engine standard doesn't truly support third-party packages. We work around this with vendoring. It's semi-officially supported by darth being included as `google.appengine.ext.vendor`.

See [here](https://cloud.google.com/appengine/docs/python/tools/using-libraries-python-27#installing_a_library).

The rest of the hacks just get this package and its dependencies to play nicely with GAE

[2016-06-23 17:29] bjwatson commented on #1889
I see. We have a stale logging 1.x release somewhere in the search path. I'll hunt it down and destroy it. :)

[2016-06-23 17:35] bjwatson commented on #1889
@tseaver There were stale versions of `grpc-google-logging-v2` on PyPi. I had looked for previous releases of `gax-google-logging-v2` and didn't find any, but I should have checked for the `grpc` version, too.

Looks like we're on to the next bug, and this issue can be closed:

[code]

[2016-06-23 18:06] tseaver commented on #1889
I have just pushed a fix for that error on #1892.

[2016-06-23 18:06] #1889 closed

[2016-06-23 18:17] tseaver commented on #1890
Once I recreate the tox enviroment with the correct `grpc-google-logging-v2` version (0.7.10), `Sink.create()` over GAX (which calls `ConfigServiceV2Api.create_sink`) fails with an apparent conflict, even though `Sink.get()` over GAX (which calls `ConfigServiceV2Api.get_sink`) converts the `NOT_FOUND` exception to False:

[code]

Use [this gist](https://gist.github.com/tseaver/a28141aa9b1077fde80e

[2016-06-23 18:18] tseaver commented on #1889
After setting up with [this gist](https://gist.github.com/tseaver/a28141aa9b1077fde80ed535744edc3c), `Logger.log_text()` works when the client is configured with a GAX adapter.

[2016-06-23 18:43] tseaver commented on #1850
I've set up a [feature branch](https://github.com/GoogleCloudPlatform/gcloud-python/tree/bigtable-v2) for this project:  I intend to merge PRs to that branch, and then merge that branch to `master`.

[2016-06-23 19:09] tseaver commented on #1850
Reviewing open `gcloud-python` issues related to Bigtable:

- `Table.rename` returns a "not implemented" error (#1289).  Is that method actually implemented in V2?
- Generating code from the new `.proto` files is a pain (#1482).  Will there be a project published to PyPI containing that code (#1384).  E.g., see  [`grpc-google-logging-v2`](https://pypi.python.org/pypi/grpc-google-logging-v2`).

[2016-06-23 19:14] sduskis commented on #1289
RenameTable was removed in v2.  While it existed in v1, it was never actually implemented.  Good catch.

[2016-06-23 19:14] sduskis commented on #1850
RenameTable was removed in v2. While it existed in v1, it was never actually implemented. Good catch.

[2016-06-23 20:18] bjwatson commented on #1889
Awesome!

[2016-06-23 20:53] bjwatson commented on #1869
@tseaver I got caught up in some other things today. Can you or @daspecster look into the indefinite hang on the *second* call to `publish(...)`, and let me know whether you think it's at the gcloud, gapic, or service layer?

[2016-06-23 21:29] lesv commented on #1850
The protos should be at https://github.com/GoogleCloudPlatform/gcloud-python/pull/1895

[2016-06-23 21:33] garye commented on #1850
#1895  is bogus because it's targeted at master and breaks everything anyways, but at least look at the Makefile change. I fixed the makefile to find grpc_python_plugin wherever it is in your path but there's also a python script that runs and assumes a location, so I ended up copying grpc_python_plugin to the gcloud-python dir before running `make generate`.

[2016-06-23 21:38] tseaver commented on #1850
Tasks:

- [ ] Package proto-generated Python code for releaes to PyPI (see #1384).  If not feasible, regenerate using the `Makefile` and check in (see @garye's work on PR #1895).
- [ ] Update imports to reflect new generated module names.
- [ ] Update API endpoint configuration.
- [ ] Drop never-actually-impemented `Table.rename` (see #1289).
- [ ] Adjust `ColumnFamily` operations, collapsing thre

[2016-06-23 21:45] designium opened #1896 "Clarification in how to connect the credentials"
Hi,

I've just tried the gcloud-ruby and I'm trying to replicate what I learned there to python.

In the ruby example:

    require "gcloud"

    gcloud = Gcloud.new "PROJECT_ID",
                    "JSON_KEY_WITH_THE_CREDENTIALS"

    vision = gcloud.vision

I'm having big trouble in create the Gcloud object in gcloud-python. Where do I insert the credentials I have?

Based on the current docume

[2016-06-23 22:04] lesv commented on #1850
@tswast FYI

[2016-06-23 23:31] tswast commented on #1850
Question for the eng team CCed on this thread. I see there are some more streaming APIs. Would it be possible to implement these APIs in the client as iterators (and stream the underlying results)?

https://github.com/GoogleCloudPlatform/gcloud-python/issues/1812

Right now for PartialRowsData, the client accumulates the results in a semi-hidden list.

[2016-06-23 23:59] tswast commented on #1812
I've thought about this some more (and read the source code). I'm starting to think the current implementation is the only way it can work, at least if we want to provide full rows in the client.

Maybe we could return a partial row and then later another partial row with the same key? I'm wondering if that behavior would be more intuitive than filling the client's memory. Probably not, actually.

[2016-06-24 01:11] daspecster commented on #1896
Hey @designium!
For vision specifically, we haven't implemented that yet.

If you're asking about other services you can simply do something like...
[code]

Your project ID should be picked up from the JSON file, or you could set the `GCLOUD_PROJECT` environment variable which will override the id that is in `creds.json`.

[code]

Let me know if that helps or if you have more questions!

[2016-06-24 02:30] designium commented on #1896
Thanks for the reply! It wasn't clear if the Gcloud Vision was available for python.

[2016-06-24 02:30] #1896 closed

[2016-06-24 17:12] bjwatson commented on #1863
@daspecster 0.15.0 will be probably be published sometime next week

[2016-06-24 17:19] bjwatson commented on #1863
That said, it looks like we will soon need to move away from egg-info dependencies, unless we have a really good reason for needing them: https://github.com/grpc/grpc/issues/6989

[2016-06-24 18:11] tswast opened #1897 "[Documentation Issue] Anchor links have the text hidden underneath the top banner."
Page Name: all of them
Release: 0.16.0

Clicking an anchor link makes the text jump to the top (good), but then it's hidden by the top banner (bad).

This is especially a problem for small methods like [ColumnFamily.create()](https://googlecloudplatform.github.io/gcloud-python/stable/bigtable-column-family.html#gcloud.bigtable.column_family.ColumnFamily.create).

This is in the Chrome web browser,

[2016-06-24 18:22] rok987 opened #1898 "Logging is missing from the ReadMe"
It seems like we have a wrapper for the Logging API in Python. Therefore we should add the following to the ReadMe (just like for the other APIs):

- a link at the top of the ReadMe to the Logging API section
- a Logging API section with descriptions and links to the documentation
- an example of how to use the Logging API

[2016-06-24 18:27] rok987 opened #1899 "BigQuery doesn't have an example in the ReadMe"
All APIs in the ReadMe if an example that shows usage. Having the same for BigQuery would be great - and a criteria to go Beta for the API too.

Thanks!

[2016-06-24 18:48] daspecster commented on #1897
Thanks @tswast!
This is actually due to the fixed header. I'll see if I can do a quick fix.

[2016-06-24 19:06] daspecster commented on #1898
Thanks @rok987! I'll see if I can get that added.

[2016-06-24 19:10] daspecster commented on #1899
I'll get this one going as well. Thanks again!

[2016-06-24 22:14] tseaver commented on #1850
@sduskis

I'm trying to parse the `chunks` entries in that file via `ReadRowsResponse.CellChunk.FromString`, but that raises an exception:  am I holding it wrong?

[2016-06-24 22:16] garye commented on #1850
Sounds like it should work - what was the exception?

On Fri, Jun 24, 2016, 6:14 PM Tres Seaver <notifications@github.com> wrote:

[2016-06-24 22:21] tseaver commented on #1850
This session is based on the new generation-from-protos stuff in PR #1903.

[code]

[2016-06-24 22:47] tseaver commented on #1850
FWIW `chunk_pb` looks like a normal protobuf to me:

[code]

[2016-06-24 23:16] garye commented on #1850
I don't know the python protobuf APIs, but it looks like there are other
things like MergeFromString and
https://developers.google.com/protocol-buffers/docs/reference/python/google.protobuf.text_format-module
that
might be an alternative?

On Fri, Jun 24, 2016 at 6:47 PM Tres Seaver <notifications@github.com>
wrote:

[2016-06-24 23:40] dguaraglia commented on #1436
For what it's worth, if anyone else is still having this issue after reading the thread: I solved it in my case by making sure the system-wide Python path was clean of any `google.*` and `gcloud.*` related modules, and then re-installing on my virtualenv.

To clarify, my doing `python -c "import sys; print sys.path"` looked like this (formatted):

[code]

After I manually removed the `gax_google_p

[2016-06-24 23:42] tseaver commented on #1850
I missed that those chunks are rendered using `text_format`.  The following works to parse one:

[code]

[2016-06-24 23:54] bjwatson commented on #1890
@tseaver I believe I have fixed this with https://github.com/GoogleCloudPlatform/gcloud-python/pull/1904

BTW, it's not obvious that `cloud-logs@google.com` needs to be an owner for the project. It took me a couple hours to figure out how to get past the "Cloud Logging needs owner permissions on the bucket" error, including reading through:

* https://github.com/GoogleCloudPlatform/gcloud-python/i

[2016-06-25 00:09] garye commented on #1850
Ah, sorry we should have mentioned. Glad it's working.

On Fri, Jun 24, 2016, 7:42 PM Tres Seaver <notifications@github.com> wrote:

[2016-06-25 00:16] bjwatson commented on #1891
Seems to also be fixed by https://github.com/GoogleCloudPlatform/gcloud-python/pull/1904

[2016-06-25 00:38] daspecster opened #1906 "Storage ACL invalid argument"
Let me know if I'm doing this wrong but for the docs PR #1905 I'm trying to grant `cloud-logs@google.com` owner permissions on a bucket but it throws an `InvalidArgument` HTTP 400 error when I try to save it.

[code]

Traceback:
[code]

Did I do it wrong somehow?

_I'm looking into the API call deeper to find out, but I wanted to make sure I didn't miss a step._

[2016-06-25 01:33] bjwatson commented on #1869
This seems to be a gax-python issue. The hang is happening at https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/pubsub/_gax.py#L170, but only happens for the second call.

I'll look at it some more on Monday, unless @tbetbetbe or @geigerj get to it first.

[2016-06-25 02:14] geigerj commented on #1869
- This is indeed a gax-python issue. The problem is that the delay threshold for bundling is handled using a timer object, but we forget to reset the timer object after it fires the first time... Therefore, [this condition](https://github.com/googleapis/gax-python/blob/master/google/gax/bundling.py#L335) will only ever succeed once. I've filed googleapis/gax-python#113 for this.
- https://github.c

[2016-06-25 15:01] #1890 closed

[2016-06-25 15:02] tseaver commented on #1891
Via #1904.

[2016-06-25 15:02] #1891 closed

[2016-06-26 14:58] linar-jether opened #1909 "Support streaming uploads of file-like objects"
How can we upload a file-like object (such as an http response, with an unknown content-length) without writing the file to disk or storing the entire file in-memory?

Seems like the `upload_from_file` option accepts a file-like object but enforces the `size` parameter (which isn't available in case of streaming uploads).

[2016-06-26 19:31] daspecster commented on #1909
@linar-jether, quickly searching around it appears to be a question with some tough answers.

One possible solution could be to chunk the stream that you're collecting into StringIO objects(which can be used like files and you could set the length to your own specs) and then pass those to `upload_from_file`. That will use a limited amount of member as long as you can upload as fast as the data is

[2016-06-26 19:48] tseaver commented on #1906
@daspecster Have a look at the `system_tests/logging_.py` example:

[code]

Maybe you need to fetch the ACL (via `acl.reload()`) before updating and saving it?

[2016-06-26 20:37] tseaver commented on #1869
@geigerj Thanks for the pointer!  #1910 disables bundling as you suggest.  We can think about re-enabling it after a fix for https://github.com/googleapis/gax-python/issues/113 is released.

[2016-06-26 20:38] tseaver opened #1911 "Consider re-enabling GAX bundling for 'Topic.publish'"
... once a fix is relased for https://github.com/googleapis/gax-python/issues/113

/cc @bjwatson, @geigerj.

[2016-06-27 05:56] linar-jether commented on #1909
Did you mean composite objects? is there support for this in the library?

[2016-06-27 06:36] linar-jether commented on #1909
Tried to fix the upload_from_file method to support streaming for file-like objects without a defined size

[2016-06-27 14:46] #1869 closed

[2016-06-27 15:06] #1897 closed

[2016-06-27 15:38] daspecster commented on #1906
Thanks @tseaver! This works...

[code]

[2016-06-27 15:38] #1906 closed

[2016-06-27 16:18] #1898 closed

[2016-06-27 16:26] daspecster commented on #1909
@linar-jether, not composite objects, just trying to find a workaround.

[2016-06-27 16:35] jgeewax commented on #1295
So... I'm just gonna leave this here.... https://gist.github.com/carlo/5379498

[2016-06-27 16:40] tseaver opened #1917 "Client's auth token times out (StackOverflow)"
@dhermes Seems like you have the best grasp on our `oauthclient` story.

http://stackoverflow.com/questions/37982336/unauthenticated-error-using-gcloud-python-to-connect-to-google-bigtable

/cc @sduskis

[2016-06-27 16:40] daspecster commented on #1879
@tseaver, did you have any luck with pypi?

[2016-06-27 16:42] r-tock commented on #1295
Thats a great tip @jgeewax  However we don't want this to be taken down from under us, we are looking for a serious SLA on this one. We have had issues with various beta apis breaking and causing production issues. I am a Xoogler and remembers how bad Google used to be at keeping API. So forgive my caution.

I would really like Google to provide a public API for this and hope this comes with stand

[2016-06-27 16:43] tseaver opened #1918 "Regenerate Bigtable V2 protos"
(after the version landed in #1903).

@sduskis reports:

google api repository at https://github.com/googleapis/googleapis/tree/master/google/bigtable.

[2016-06-27 16:46] jonparrott commented on #1295
@r-tock if you need something production-ready, I would highly recommend that you generate all of the sizes you need ahead-of-time.

You can even write a small App Engine application that [listens for object uploads](https://cloud.google.com/storage/docs/object-change-notification) and then generates the resized versions using PIL and uploads them.

[2016-06-27 16:46] jgeewax commented on #1295
Yea, that's completely unofficial.

AFAIK, we don't have an API for dealing with images that way. The best route to go is probably a mini GAE app as @jonparrott said.

[2016-06-27 16:49] tseaver commented on #1879
@dhermes sent me the credentials, but I've dropped the ball so far.

[2016-06-27 16:54] daspecster commented on #1879
I'm not sure how quick of a fix this is. If there's anything I can do to help, LMK.

[2016-06-27 16:55] r-tock commented on #1295
@jonparrott @jgeewax I am doing exactly that, I have a mini App engine app which return the serving url from any of our internal buckets.

Given that this Api does not work on the new Managed container runtime, I am worried about the future of that API as well. That is why I would like it to be ported to either the new Managed container runtime or directly in the Google storage api.

[2016-06-27 17:12] jonparrott commented on #1295
@r-tock I do not know any details on the future of the Images API but in the event of any deprecation we have a [1-year deprecation policy](https://cloud.google.com/terms/#google-cloud-platform-license-agreement) as stated in our terms of service.

In terms of APIs available in the Flexible runtime - please keep in mind that Flexible is in beta and features may be added or removed. In general we'r

[2016-06-27 17:19] r-tock commented on #1295
/ack about pre-resizing.

Would still like if Gcloud team can reconsider providing an on-the fly resizing service. We would love to do dynamic resizing based on the client device info and having an on-the-fly service make the implementation easier.

[2016-06-27 17:22] jonparrott commented on #1295
@jgeewax and I can give that feedback internally, but it's not up to this client library to provide that service - they just provide this client library, not the services themselves.

Thanks for the feedback, and let us know if there's anything else we can do.

[2016-06-27 17:24] r-tock commented on #1295
Adding to that.
This is something our designers would like and they always keep pointing to services like
https://www.imgix.com/ which does this and question why we are using Google cloud when other services provide simpler interface.

Google should make its infrastructure simpler for common product use cases given we are already paying for Google infra, and it would be faster to load from Google

[2016-06-27 18:27] #1899 closed

[2016-06-27 19:09] dhermes commented on #1863
Still getting b0rken emails:

https://ci.appveyor.com/project/dhermes/gcloud-python/build/1.0.443.bigtable-v2
https://ci.appveyor.com/project/dhermes/gcloud-python/build/1.0.447.logging-stdlib-handler-feature
https://ci.appveyor.com/project/dhermes/gcloud-python/build/1.0.451.bigtable-v2
https://ci.appveyor.com/project/dhermes/gcloud-python/build/1.0.453.master

[2016-06-27 20:05] waprin opened #1921 "Add Error Reporting Library"
This issue is to separately track some of the scope creep from #1881.

We need:
- A client to talk to the Error Reporting API. Currently this API does not seem public yet, so until then, we can create Error Reports by talking to the Logging API in a [specific structured format.](https://cloud.google.com/error-reporting/docs/formatting-error-messages) Once Error Reporting API exists we migrate the

[2016-06-27 20:06] waprin commented on #1921
For the first bullet point, you want something like:

gcloud.error_handler.error('message'), and then it uses the traceback module to actually include file/line number/stack trace in the message

[2016-06-27 20:50] tseaver commented on #1850
@garye Am I meant to neglect the `google.bigtable.v2.instance.Instance.cluster` and related messages?

[2016-06-27 20:55] garye commented on #1850
@tseaver You mean for cluster administration?

[2016-06-27 20:56] tseaver commented on #1850
Yes -- am I supposed to be exposing the methods to manipulate clusters within an instance?

[2016-06-27 20:58] sduskis commented on #1850
We don't do that in go or Java.  I would think Happybase doesn't have a way to manage clusters in v1 or instances in v2, since HBase doesn't have any similar concepts.  If there isn't currently a way to do cluster management, we should not add new functionality.

[2016-06-27 21:00] tseaver commented on #1850
@sduskis I was just asking because `gcloud.python` exposed cluster managment APIs for V1:  if they aren't relevant for V2, cool (they are defined right next to the V2 instance management APIs, which is which is what made me ask).

[2016-06-27 21:08] sduskis commented on #1850
Thanks for clarifying.  I'd guess we need to expose operations that are similar to the way the GCP console operates.  There is a ClusterService for some operations like resizing a cluster or changing the display name.  I don't know enough about that.  I'll ping the group to find out more about this.

The bottom line is that we need parity with the existing functionality in gcloud.python through th

[2016-06-27 22:25] jonparrott commented on #1879
To throw a significant amount of gasoline to the flames here:

GoogleCloudPlatform/python-docs-samples and GoogleCloudPlatform/getting-started-python are currently being forced to pin an older version of the library for 3 support.

Keep in mind *all* of our samples for App Engine Flexible are Python 3 first.

Let me and @waprin know if there's anything we can do to help.

[2016-06-27 22:49] ndenny opened #1922 "Storage on Standard App Engine causing import error"
I just upgraded to gcloud 0.16.0 from 0.13.0
Now, when using the storage API, I'm seeing:

[code]

Has the "out-of-the-box" handling for GAE changed?

[2016-06-28 00:05] daspecster commented on #1922
@ndenny, thanks for reporting! The `pwd` module is actually [disabled in GAE](https://cloud.google.com/appengine/kb/?csw=1#libraries).

I added a helper method to try and determine the project ID from default locations if you're using it locally.
I apologize for the oversight!

You should be ok to update to version 0.15.0 and I'll try and find a solution for this ASAP.

[2016-06-28 01:54] tseaver commented on #1918
My setup for `protoc` v3 and the `grpc_python_plugin` is broken:  the gRPC portion fails to generate with a "Missing input file" error.

I scraped the needed gRCP stub code from #1895, but we really need to get #1384 or #1482 nailed down.

[2016-06-28 03:05] tseaver commented on #1918
Looks like `grpcio-tools` >= 0.14.0 can carry our water:

[code]

[2016-06-28 06:09] tseaver commented on #1289
V1 never actually provided a working implementation;  V2 removes the API altogether.  #1908 removes `Table.rename` on the `bigtable-v2` branch.

[2016-06-28 06:09] #1289 closed

[2016-06-28 16:39] tseaver commented on #1918
Via #1925.

[2016-06-28 17:08] tseaver commented on #1918
gRPC generation for `$(GOOGLEAPIS)/google/longrunning/operations.proto` is brokey:

[code]

Adding the imports by hand to push forward on system tests:

[code]

[2016-06-28 17:33] kelvinabrokwa opened #1927 "[BigQuery] Option to set `useLegacySql` to false on queries"
My use case here is that there is a certain query that errors on legacy SQL (internal bug) and disabling it will allow the use of [standard SQL](https://cloud.google.com/bigquery/sql-reference/) which fixes it.

see https://cloud.google.com/bigquery/docs/reference/v2/jobs#resource-representations (find `configuration.query.useLegacySql`)

I'm happy to submit a PR is this option makes sense.

[2016-06-28 18:00] csaintc opened #1928 "pip install gcloud fails"
on a box in google compute engine:

[code]

[2016-06-28 18:01] tseaver opened #1929 "V2 instance creation requires explicit cluster information"
@garye The protos seem to indicate that an instance will get a default cluster created if nothing is specified, but:

[code]

[2016-06-28 18:02] jonparrott commented on #1928
Can you tell us which OS you're using?

pip is refusing to install a newer version of six because the OS has installed a particular version in `dist-packages`.

[2016-06-28 18:11] csaintc commented on #1928
ubuntu 14.04

[2016-06-28 18:13] jonparrott commented on #1928
Summoning @nathanielmanistaatgoogle: grpc fails on ubuntu 14.04 D:

[2016-06-28 18:13] jonparrott commented on #1928
@csaintc a workaround for now is to use a virtualenv.

[2016-06-28 18:33] garye commented on #1929
Where were you looking in the protos? It mentions having to create one cluster here:
https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/master/bigtable-client-core-parent/bigtable-protos/src/main/proto/google/bigtable/admin/v2/bigtable_instance_admin.proto#L104

[2016-06-28 18:48] bjwatson commented on #1863
Looks like the errors have changed since the gRPC 0.15.0 release last night.

[2016-06-28 20:10] tseaver commented on #1929
My mistake:  I somehow imagined that cluster `location` and `serve_nodes` had server-side defaults.

[2016-06-28 20:10] #1929 closed

[2016-06-28 20:19] #1922 closed

[2016-06-28 20:28] tseaver commented on #1927
@kelvinabrokwa Thanks for the report!  We'd be glad to review / merge a PR for that feature.

[2016-06-28 20:49] nathanielmanistaatgoogle commented on #1928
I suspect @soltanmm and @kpayson64 will want to see this.

What's the root cause? Is it a problem that `grpcio` requires `six>=1.10`? If so, why?

[2016-06-28 21:05] jonparrott commented on #1928
pip won't install anything in `site-packages` if it conflicts with a package in `dist-packages`. `dist-packages` is for the OS package manager (apt/yum, etc.) and `site-packages` is for pip. Since grpcio requires a newer version of six, pip won't install it and "break" the system.

[2016-06-28 21:09] kpayson64 commented on #1928
It seems like six>=1.10 was the version we required since we started requiring six:
https://github.com/grpc/grpc/commit/154b0eeaa909143f9c227c76b2afe5fe6b285c02

We might try six>=1.5.2 for the 0.15.1 release.

Are we only seeing this because now because gcloud just added a hard dependency to grpcio?
https://github.com/GoogleCloudPlatform/gcloud-python/issues/1879

[2016-06-28 21:10] jonparrott commented on #1928
Yeah, probably.

[2016-06-28 21:13] jonparrott commented on #1928
Actually, @csaintc I just noticed you ran this as non-root. Can you try re-running as root? It's expected that installing system-wide Python packages as non-root will fail, although pip's error isn't very helpful.

[2016-06-28 21:14] jonparrott commented on #1928
Nevermind, I can confirm this fails as root as well.

[2016-06-28 21:18] jonparrott commented on #1928
FWIW:

[code]

Note `Not uninstalling six at /usr/lib/python2.7/dist-packages, owned by OS`. Debian has a weird patch to pip that causes fun stuff to happen.

You can get gcloud to work by doing this (as root):

[code]

[2016-06-28 21:53] soltanmm commented on #1928
@kpayson64 re `six>=1.5.2`: https://github.com/grpc/grpc/pull/5284#issuecomment-185423477

[2016-06-29 00:37] geigerj commented on #1911
I've closed that issue; you should now be able to re-enable bundling.

[2016-06-29 05:54] jihobak opened #1933 "pip install error on mac"
I would like to check if this Is from my fault.
Thanks :)

[code]

[2016-06-29 09:54] nikhilk opened #1934 "Provide a way to retrieve gcloud config programmatically"
especially things like default project id.

[2016-06-29 12:33] daspecster commented on #1933
Hello @jihobak, this appears to be an issue directly with `grpcio` and somewhat related to #1928, #1858.
https://github.com/grpc/grpc/issues/7134 may also be related.

[2016-06-29 14:53] daspecster commented on #1934
@nikhilk, You can get the current client project ID via `client.project`

Was there something else you're trying to access?

[2016-06-29 15:21] nikhilk commented on #1934
I must be missing something obvious. I tried the following two:

pip install gcloud

import gcloud
gcloud.client.project

-- as well as --

import gcloud.client
gcloud.client.project

-- then tried to instantiate Client --
c = gcloud.client.Client()
but get an error about no app default credentials being available.

Can you help with the exact code I need to use?

[2016-06-29 15:45] TrevorSamson opened #1935 "Unable to import gcloud"
After pip-installing gcloud in a new virtual environment, trying to import gcloud gives `DistributionNotFound: gcloud`.

Steps to reproduce:

[code]

[2016-06-29 16:19] daspecster commented on #1935
@TrevorSamson thanks for reporting!

@tseaver does this have something to do with #1879?

[2016-06-29 16:47] jonparrott commented on #1879
Bump?

![bump](https://cloud.githubusercontent.com/assets/250995/16460879/7df31ed0-3dde-11e6-8d96-d4e34220ed28.gif)

[2016-06-29 17:38] TrevorSamson opened #1936 "Datetime row_data from gcloud.bigquery.query.QueryResults.fetch_data contain invalid syntax"
`datetime` `row_data` of the following form are given by `gcloud.bigquery.query.QueryResults.fetch_data`:

`datetime.datetime(2016, 3, 30, 23, 28, 18, 64, tzinfo=<UTC>)`

This is invalid syntax. It looks like the problem is that `tzinfo` is being set using `pytz`, but that somehow `tzinfo` is passed the `pytz.UTC` object representation, `pytz.UTC.__repr__() = '<UTC>'`, instead of `pytz.UTC`, the o

[2016-06-29 17:44] #1936 closed

[2016-06-29 18:16] jgeewax commented on #1879
@tseaver : anything to update ? I think the world is mad :(

[2016-06-29 18:24] tseaver commented on #1879
@jgeewax I just removed the broken `gcloud-0.16.0-py2.py3-none-any.whl` distribution from PyPI.  We should probably make a `0.16.1` release, branched off the `0.16.0` tag, and disabling the universal wheel setting:

[code]

Maybe we should be disabling wheel releases altogether until we figure out how the `grpcio`-related packaging issues intersect with us.  @dhermes, @daspecster WDYT?

[2016-06-29 18:26] daspecster commented on #1879
I think that could solve most of the issues people are seeing so I'm for it.

[2016-06-29 18:47] dhermes commented on #1917
Ouch. Seems we need to turn it into a 401 so `oauth2client` can natively handle the `NetworkError`. I'll try to replicate.

[2016-06-29 18:52] tseaver commented on #1879
@Taywee please give https://pypi.python.org/pypi/gcloud/0.16.1 a spin, and let us know if it resolves the issue for you.

[2016-06-29 18:54] tseaver commented on #1935
@TrevorSamson please give https://pypi.python.org/pypi/gcloud/0.16.1 a spin, and let us know if it resolves the issue for you.

[2016-06-29 18:54] tseaver commented on #1933
@jihobak please give https://pypi.python.org/pypi/gcloud/0.16.1 a spin, and let us know if it resolves the issue for you.

[2016-06-29 19:03] daspecster commented on #1893
Just a thought, what if we put these kind of issues in an FAQ or something? I guess we could just leave here but I think it might be useful to have these issues summarized in one spot.

[2016-06-29 19:05] daspecster commented on #1933
@jihobak, also this might be good to know/follow. https://github.com/grpc/grpc/issues/7135#issuecomment-229453868

[2016-06-29 19:11] Taywee commented on #1879
That looks to have fixed it so far.  I can install the package in the first place, which wasn't working before.  Thanks much!

[2016-06-29 19:11] #1879 closed

[2016-06-29 19:30] dhermes commented on #1893
@jonparrott is the authority on installing packages for GAE

[2016-06-29 19:31] dhermes commented on #1934
This project is distinct from the `gcloud` SDK. You'd want to ask that team for such an API. @jgeewax @jonparrott who would be the person to reach out to for that?

[2016-06-29 19:46] tseaver opened #1939 "Restore building wheels on Travis"
Revert #1938, once we have a clean story w.r.t `grpcio`.

[2016-06-29 19:47] jonparrott commented on #1893
Assign this to me, I'll add GAE Standard installation instructions to the documentation.

@dhermes how can I help you remove the two hacks (metadata server check, pkg_resources)?

[2016-06-29 19:49] tseaver commented on #1879
@Taywee great, glad to hear it!

[2016-06-29 19:52] dhermes commented on #1893
Which hacks are you referring to (link?)?

[2016-06-29 19:54] jonparrott commented on #1893
metadata: https://github.com/dhermes/test-gcloud-on-gae/commit/365d51240452259d97ed583c8f07746b9ca6eae5

pkg_resources: https://github.com/dhermes/test-gcloud-on-gae/commit/4457b2f846ac8f65f38e5c38fbf2258a60a67ebe

[2016-06-29 19:56] dhermes commented on #1893
@jonparrott The metadata hack was just to avoid the HTTP hit (slowdown). The `pkg_resources` hack should be resolved in our library. You know packaging better than I, is there a way for `pkg_resources.get_distribution` to work correctly on GAE?

[2016-06-29 19:56] dhermes commented on #1927
@tseaver I can tackle this, sound good?

[2016-06-29 19:58] jonparrott commented on #1893
I feel like `pkg_resources` should just work, I'll investigate a bit and report back.

Sometimes I wonder if my pursuit of packaging sanity in App Engine will make me lose my own sanity.

[2016-06-29 19:59] dhermes commented on #1893
I hope not, I wish robots would fix packaging instead of beating humans in Go.

[2016-06-29 20:06] dhermes commented on #1812
Thanks for giving it some thought!

[2016-06-29 20:19] tseaver commented on #1927
@dhermes Sure, if @kelvinabrokwa doesn't already have it in progress.

[2016-06-29 21:11] TrevorSamson commented on #1935
@tseaver I get the same error following the same steps listed above, though now `pip freeze` after `pip install --upgrade gcloud` results in
[code]

[2016-06-29 21:16] daspecster commented on #1935
Is IPython picking up your `test` virtualenv?

[code]

[2016-06-29 21:28] TrevorSamson commented on #1935
I think so, because I'm able to `import gcloud` and use it without issue in another virtual environment that has
[code]

[2016-06-29 21:31] TrevorSamson commented on #1935
Doing `pip install gcloud` in the `test` virtual environment fixed the issue

[2016-06-29 21:32] daspecster commented on #1935
Great news!

[2016-06-29 21:32] #1935 closed

[2016-06-29 22:25] #1918 closed

[2016-06-29 22:25] #1928 closed

[2016-06-29 22:51] tseaver opened #1944 "GAX support: Python3 JSON load errors"
/cc @bjwatson, @tbetbetbe

Recent `grcpcio` releases actually install and work on Python 3.4+, so I'm trying to get our system tests running with GAX enabled.  Both pubsub and logging show errors like:

[code]

To reproduce:

[code]

[2016-06-29 22:56] bjwatson commented on #1944
@geigerj Can you take a look?

[2016-06-29 23:01] geigerj commented on #1944
We currently develop/test GAX and GAPIC only on Python 2.7. @bjwatson @tbetbetbe -- we should discuss support for Python 3. I'll update this afterward.

[2016-06-29 23:09] bjwatson commented on #1944
Thanks @geigerj. I just noticed that, too.

@tseaver Do you need to support python3 now? Do you have an alternative to using the GAPIC surface for now?

[2016-06-29 23:31] tseaver commented on #1944
@bjwatson We have JSON-over-HTTP support as the default for both pubsub and logging (including Python2).  We require that the user explicitly enable gax/grpc with an environment variable (which I forgot to show in the "to reproduce" example until just now).  The packages all install cleanly on Python3, which is nice;  getting them to work cleanly there would be nicer. :)  But it isn't an emergency

[2016-06-30 00:07] bjwatson commented on #1944
@tseaver Cool, thanks for the context.

[2016-06-30 02:00] jihobak commented on #1933
@daspecster @tseaver
Thanks for you guys help 👍
It's simple, The problem is six,
[code]
After upgrading six, I install gcloud successfully

[2016-06-30 02:21] tseaver commented on #1933
@jihobak Glad you found a fix!

[2016-06-30 02:21] #1933 closed

[2016-06-30 03:32] nikhilk commented on #1934
The desire was to use a programmatic API rather than calling gcloud as a subprocess (which is what we do right now). Yes, ideally this would be functionality gcloud would expose as a library, but gcloud-python seemed like the next logical thing.

So from the example above, it seems if you create a client for a particular service, you can get the project off of it. I guess I would be expected there

[2016-06-30 07:53] gs2io opened #1947 "Pub/Sub publish error (Invalid value at 'messages[0].data' (TYPE_BYTES))"
Hi,

I use "google_api_python_client-1.5.1" from pip.
I try Pub/Sub message publish to topic.

[code]

error occurred, and return this message.

[code]

I look like this issue.
https://github.com/GoogleCloudPlatform/gcloud-ruby/issues/713

[2016-06-30 14:12] tseaver commented on #1934
`gcloud._helpers._determine_default_project` is the function the various `Client` classes use to sniff a project (the `datastore` client tweaks it a bit to deal with the emulator).  It isn't public, but we could look at making it so.  Note that the logic there is not related (directly) to the `gcloud` CLI's notion of determining the project.

[2016-06-30 14:18] tseaver commented on #1947
This project does not release the `google_api_python_client` library.  Please consider reporting this issue to the tracker for that project:

  https://github.com/google/google-api-python-client/

Our library is `gcloud`:

  https://pypi.python.org/pypi/gcloud

Pubsub usage docs for `gcloud`:

  http://gcloud.readthedocs.io/en/stable/pubsub-usage.html

[2016-06-30 14:18] #1947 closed

[2016-06-30 14:31] tseaver commented on #1863
Looks as though `protobuf` is not getting installed.  Since `gcloud` explicitly depends on it, I don't know how that can happen.

[2016-06-30 18:57] bjwatson commented on #1863
I don't know if this helps in this case, but last week I set up the [gax-python repo](https://github.com/googleapis/gax-python) to install (and cache) a protobuf installation for testing with proto messages (fix for https://github.com/GoogleCloudPlatform/gcloud-python/issues/1869):

https://github.com/googleapis/gax-python/pull/111/files

[2016-06-30 19:18] bjwatson commented on #1863
Also, I'm going to build some new versions of `google-gax`, `grpc-google-(pubsub|logging)`, and `gax-google-(pubsub|logging)` with `grpc 0.15.0` and `protobuf v3.0.0-beta-3.1` to see if that helps.

[2016-06-30 20:47] rimey commented on #1867
This convenience interface will be the most usual way of writing custom metrics. Defining it first is definitely the way to go. I think we'll also want to make some breaking changes to `TimeSeries` and related classes, but those can follow later.

The setup portion of the example above looks okay:

[code]

I don't think the second line of the first comment makes sense.

The `metric` and `resource`

[2016-07-01 00:23] gs2io commented on #1947
oh, sorry...

[2016-07-01 00:53] bjwatson commented on #1863
I have built and published `google-gax 0.12.2` and version `0.7.11` of the Pub/Sub and Logging packages

[2016-07-01 01:10] bjwatson commented on #1911
@tseaver You should be able to do this now that I published `0.7.11` of https://pypi.python.org/pypi/gax-google-pubsub-v1

[2016-07-01 01:42] hohaichi commented on #1436
Thanks dguaraglia.  I got over the issue by renaming all *gax* files in sys.path, after making sure that timestamp_pb2.py exists in one of the paths in sys.path:

/usr/local/lib/python2.7/dist-packages/google_gax-0.12.1-py2.7.egg
/usr/local/lib/python2.7/dist-packages/gax_google_pubsub_v1-0.7.10-py2.7.egg
/usr/local/lib/python2.7/dist-packages/gax_google_logging_v2-0.7.10-py2.7.egg

[2016-07-01 17:10] tswast opened #1949 "Migrate to gRPC GA APIs"
The exception types thrown are changing in the gRPC GA APIs compared to the beta APIs currently used.
https://github.com/grpc/grpc/issues/7002#issuecomment-228103984

To minimize the amount of code users of the Cloud Bigtable APIs will need to rewrite, we should migrate to the GA APIs ASAP.

[2016-07-01 17:47] daspecster opened #1951 "Add ability to pull snippets when generating JSON documentation"
We have a lot of great snippet code that we should be able to include when we generate docs.

See: [pubsub_snippets.py](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/pubsub_snippets.py)

[2016-07-01 18:08] tseaver commented on #1829
@simple-design if you'd like to submit a PR which adds support for that field, we'd be glad to review it.

[2016-07-01 18:16] #1850 closed

[2016-07-01 18:19] tseaver commented on #1949
@tswast I'm fine with using the GA version of the API.  It would be good the the gRPC team [updated their examples](https://github.com/grpc/grpc/issues/4977) to show us how.

[2016-07-01 20:14] tseaver commented on #1873
Needs a released fix for https://github.com/grpc/grpc/issues/7121

[2016-07-01 20:42] #1911 closed

[2016-07-01 22:05] tswast opened #1953 "Support bulk operations in bigtable"
I would like to be able to write many rows at once in a sample. I searched for `MutateRowsRequest` from the proto, but don't see any references to it in the code.

[2016-07-01 22:19] tseaver commented on #1953
Thanks for the report!  Duplicate of #1546.

[2016-07-01 22:19] #1953 closed

[2016-07-01 22:25] tseaver commented on #1524
Hmm, looks like Bigtable V2 may have removed the restriction.  The V1 proto for `CreateTableRequest` has:

[code]

but in V2:

[code]

@garye do I jump to conclusions, or can we populate column families into the `table` entry in V2?

[2016-07-01 22:37] tseaver commented on #1549
@dhermes Could we map `happybase.table.Table.counter_set` onto a `CheckAndMutateRow` request, where the predicate checked that there was no value alraeady set?  We would leave `false_mutations` empty in that case.

[2016-07-01 22:56] tseaver commented on #1546
Suppose we add a method to `Table` which returns a context-manager for accumulating the various row mutations.  Noodling:

[code]

The `Batch` object would keep track of the rows it returned from its underlying table.  In its `__exit__()`, assuming no exception was raised, it would emulate committing all the rows, gathering their mutations into a single `MutateRowsRequest` and submitting it.

[2016-07-02 00:40] dhermes commented on #1546
There is already batch support in happybase so it could be easier to just have the `Table` method take a primitive list and do the "building up" in the happybase classes.

[2016-07-02 00:41] dhermes commented on #1549
We should verify that that would actually be atomic though. I'd guess the "check" and "mutate" don't actually happen atomically (would be a high cost to pay for every `CheckAndMutateRow` made).

[2016-07-02 00:42] dhermes commented on #1524
We could always check by making live requests against the API

[2016-07-02 01:44] garye commented on #1524
I haven't tested this but I'm reason sure that you can add column families
at creation time.

On Fri, Jul 1, 2016, 8:42 PM Danny Hermes <notifications@github.com> wrote:

[2016-07-03 18:16] posita commented on #557
Just to be clear, there's currently no Python 3-compatible way to access `ndb`, correct? [`python-compat`](https://cloud.google.com/appengine/docs/flexible/python/migrating-an-existing-app) appears to support Python 2.7 only.

@pcostell wrote:

Since this issue has been closed, are there any other issues tracking the implementation(s) of these preferences? Are they on a roadmap anywhere?

[2016-07-04 06:26] VelizarVESSELINOV commented on #920
Very basic operation in other cloud providers ``folders = bucket.list("","/")``, using Google Cloud it is too complex to need to have function with several lines of code:

[code]

We understand that you don't want to upset the old users that are use to this, but for new users this looks bad quality API.

[2016-07-04 07:21] VelizarVESSELINOV commented on #920
Other Google APIs outside the gcloud-python are managing better delimiter='/', an example: https://cloud.google.com/storage/docs/json_api/v1/objects/list#try-it

[2016-07-04 13:52] tcroiset opened #1955 "Pub/Sub empty topic batch fails"
[code]
fails if rows is empty:

Traceback (most recent call last):
…
File "/usr/local/lib/python2.7/dist-packages/gcloud/pubsub/topic.py", line 420, in __exit__
self.commit()
File "/usr/local/lib/python2.7/dist-packages/gcloud/pubsub/topic.py", line 449, in commit
message_ids = api.topic_publish(self.topic.full_name, self.messages[:])
File "/usr/local/lib/python2.7/dist-packages/gcloud/pubsub/conn

[2016-07-04 15:06] tseaver commented on #1955
Thanks for the report!  `gcloud.pubsub.topic.Batch.commit` should indeed be a no-op if there are no messages accumulated.

[2016-07-04 17:48] #1955 closed

[2016-07-05 14:08] bhzunami opened #1957 "[Documentation Issue] Missing ' in new_project example"
Page Name: resource-manager-api
Release: 0.17.0
There is a tiny little error in 'client.new_project' line. The ' is missing at the end.
[code]
should be
[code]

[2016-07-05 17:06] #1957 closed

[2016-07-06 05:53] VelizarVESSELINOV commented on #1885
I really appreciate a good quality API and `download_as_string` it is definitely not a good example.

Not sure if it will be better to open a new issue for API cleaning, especially for people that are using the basic Google services (like storage), but from different Python perspective Datalab or AppEngine the differences are big.

[2016-07-06 14:21] daspecster commented on #1885
Thanks for pointing this out!

So really the main issue here(surface naming aside), is when we UTF-8 encode the data if it's a [`text_type`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/storage/blob.py#L621)?
Then also it would be nice to try and autodetect the `Content-Type`?

[2016-07-06 14:58] hohaichi opened #1959 "Cloud storage API?"
Hi,

Google Cloud Storage accepts a customer-supplied encryption key as a base64-encoded string in JSON and XML APIs (https://cloud.google.com/storage/docs/encryption#customer-supplied).  Why does GCloud work differently, taking either raw bytes or raw strings?  I found it confusing.  Also, the error messages do not match the error in this case.

Thanks for taking a look.

[2016-07-06 14:58] daspecster commented on #1934
@nikhilk do you think that @tseaver's answer will work for you?

[2016-07-06 15:00] hohaichi opened #1960 "Cloud storage rewrite with GCloud?"
Does GCloud support Google Cloud Storage rewrite?

[2016-07-06 15:06] daspecster commented on #1959
Hello @hohaichi!
`gcloud-python` handles the base64 encoding before the request as a convenience.

Which errors are you referring too? It would be good to make those as clear as possible.

@tseaver & @dhermes do you guys have anything to add?

[2016-07-06 15:12] daspecster commented on #1960
I don't believe we do at this time.

[2016-07-06 15:53] hohaichi commented on #1959
Hi @daspecster,

This is the error:

...
Traceback (most recent call last):
  File "<stdin>", line 2, in <module>
  File "/usr/local/lib/python2.7/dist-packages/gcloud/storage/blob.py", line 539, in upload_from_file
    self._check_response_error(request, http_response)
  File "/usr/local/lib/python2.7/dist-packages/gcloud/storage/blob.py", line 401, in _check_response_error
    error_info=request

[2016-07-06 15:54] hohaichi commented on #1960
Do you have any plan to add rewrite?  It is hard for the user to rotate their encryption key without rewrite.

[2016-07-06 15:56] daspecster commented on #1959
Per the link you mentioned before, that is the expected error.

- You upload an object using a customer-supplied encryption key, and you attempt to perform another operation on the object with an incorrect key.
- You upload an object without providing a customer-supplied encryption key, and you attempt to perform another operation on the object with a customer-supplied encryption key.
- You specif

[2016-07-06 16:02] daspecster commented on #1960
That's a great use case!

@tseaver & @dhermes WDYT? I can start this today or tomorrow if there are not blockers.

[2016-07-06 16:05] hohaichi commented on #1959
As you pointed out by the link, the error comes directly from the underneath API, which expects a base64 string encoding 32 bytes.  It is confusing when gcloud doesn't expect a base64 string but complains that the input is not base64.

That said, IMO consistency between gcloud and API would make it easier to use and move between different libraries.  It is not confusing that GCloud accepts raw byt

[2016-07-06 16:13] daspecster commented on #1959
Ok, I think I see now.
So this error is actually a bug as well.

Two things actually.
1. Even though you pass a base64 encoded key...it should still accept that and then base64 encode it again and upload.
2. If it the key is base64 encoded, and we encode it again, then you would see issues with other libraries like you mention. So we'll have to figure out a plan for this I think.

[2016-07-06 16:28] fyellin opened #1961 "[Documentation Issue]"
Page Name: bigtable-instance-api
Release: 0.17.0

list_intances() should be list_instances()

[2016-07-06 16:31] daspecster commented on #1961
Thanks @fyellin!
This is actually fixed on `master` and will get resolved in the next release.

[2016-07-06 16:40] hohaichi commented on #1959
Yes, but for (1), I guess it still accepted the base64 string, encoded it again and uploaded.  The problem in this case is the length.  GCloud expects a string of 32 characters.

In general, strings would go with encodings.  When reading GCloud doc (http://googlecloudplatform.github.io/gcloud-python/stable/storage-blobs.html), I was wondering if the encryption_key string should be ASCII, hex, or u

[2016-07-06 16:50] daspecster commented on #1959
In this example, it shows using just a string of 32 characters as the encryption key and not a `hex()` value.
https://googlecloudplatform.github.io/gcloud-python/stable/storage-blobs.html#gcloud.storage.blob.Blob.upload_from_file

We could change it somewhat to make it more clear.

[code]

[2016-07-06 17:08] hohaichi commented on #1959
Sorry, I meant 'aa426195405adee2c8081bb9e7e74b19' in the examples look like a hex number. :)

[2016-07-06 18:55] eric-optimizely commented on #1214
Is there any progress to report on this issue? I use this library in my flexible environment instances (which are required to be configured as threadsafe) and see a lot of possibly related errors in the logs.  I've tried some of the workarounds listed here, but none of them resolved the issues.

[2016-07-06 19:18] jonparrott commented on #1214
@eric-optimizely I would suggest you use the library in a thread-safe manner, e.g, construct a new client instance per-request.

[2016-07-06 19:23] tseaver commented on #1214
@eric-optimizely, @jonparrott holding a client instance per thread, assuming your application can be set up like that, would work as well.

[2016-07-06 19:44] waprin opened #1963 "Monitoring gRPC Support"
I'm trying to better understand the roadmap of gRPC clients.

Monitoring team really wants gRPC support for their API. However rather than compiling protos and distributing separate Python packages ([like Pub/Sub did](https://cloud.google.com/pubsub/grpc-python)) I am recommending we hold off until we get gRPC support in here.

However I'm unclear
- What works needs to be done to get the existing

[2016-07-06 19:58] sharbison3 commented on #1963
I have not yet heard that the monitoring team "really wants gRPC support." Did I miss a memo?

[2016-07-06 20:19] tseaver commented on #1963
@waprin we'd really prefer not to be wedging any more generated code into the project:  the process of generating / maintaining it is a serious burden.  Getting the *existing* proto-generated stuff distributed as separate libraries is already a goal (see #1384).

The https://github.com/googleapis/ team has been working on automating builds of such libraries:  maybe they could help?

[2016-07-06 20:21] sduskis commented on #1917
ping.  What's that status?

[2016-07-06 20:30] waprin commented on #1963
@tseaver ok I have misunderstood the goals of what's going on. My understanding was that the Google APIs team was generating libraries for the express purpose of being included in this library.

[2016-07-06 22:27] VelizarVESSELINOV commented on #1885
Datalab read examples:
String type of file format
[code]
Binary type of file format
[code]

Equivalent AppEngine working code it is:
[code]
Which it is confusing, String passed to BytesIO instead of StringIO
The binary version it is even more complex to setup.

Suggestion to have similar to Datalab API: http://googlecloudplatform.github.io/datalab/gcp.storage.html

[2016-07-07 19:10] eric-optimizely commented on #1214
@jonparrott @tseaver Using the `client` parameter for each method call definitely helps to clear up some issues, but I still see the following on occasion. Is it related to this issue?

[code]

[2016-07-08 00:38] dguaraglia opened #1964 "Version 0.17 breaks GCS blob signing"
When trying to update our project to use gcloud 0.17, we found one of our tests which uses the `generate_signed_url` for GCS blobs started failing with the following error:

[code]

[2016-07-08 01:37] daspecster commented on #1964
Are you on GCE(Compute Engine)?

If so then it seems this would apply...
https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/storage/blob.py#L166

[2016-07-08 01:51] dguaraglia commented on #1964
@daspecster we are actually using a JSON credentials file for a service account. I wonder if there's anything in particular about these credentials that might cause the issue.

[2016-07-08 02:11] daspecster commented on #1964
I was just able to reproduce the issue locally.

[code]

It looks like it's not detecting that it's a service account and then using `ServiceAccountCredentials`, which it needs to do, in order to have access to `sign_blob()`.

https://github.com/google/oauth2client/blob/a4e34317d5b2565cd9194471cbc9d806ce9aceae/oauth2client/client.py#L1253

@dhermes @tseaver, any ideas what changed?

[2016-07-08 02:17] dhermes commented on #1964
@daspecster your local environment likely has `gcloud` CLI in it, hence those user credentials are getting picked up.

[2016-07-08 02:20] dhermes commented on #1964
http://gcloud-python.readthedocs.io/en/latest/gcloud-auth.html#credential-discovery-precedence

In theory the env. var. takes precedence over the CLI settings, but maybe something in `oauth2client` has changed.

[2016-07-08 02:21] daspecster commented on #1964
@dhermes, that makes sense. It is picking up my JSON credentials, but shouldn't that end up still being an instance of `ServiceAccountCredentials`?  [`sign_blob()` is only available with GCE, AppEngine and service accounts AFAICT](https://github.com/google/oauth2client/search?utf8=%E2%9C%93&q=sign_blob).

[2016-07-08 10:05] jgeewax commented on #1964
This seems like a pretty bad error though... If it's picking up credentials that aren't capable of signing (ie, it just has a token and not a private key) we should say that... not an AttributeError....

Can we update this to check and then spit out "you need a private key to sign credentials. the credentials you're currently using (insert pointer to those here) just include a token. see (insert l

[2016-07-08 10:19] jgeewax commented on #1959
Do we have precedent here for whether we should do the base64 encoding or not ? I can see the argument that we *shouldn't* if it means that people might upload using the CLI or the API directly and then want to access via gcloud-python only to find out that the key doesn't seem to be valid...

Is there a way that we can make it explicit that when you're passing in base64 vs non-base64?

ie:

[code

[2016-07-08 15:43] tseaver commented on #1959
ISTM that library users should not base64-encoding the encryption key:  that is a requirement of the *transport* (raw-bytes-over-JSON), not the API surface.  We should just expect users to give us exactly 32 bytes of whatever, and we handle passing it to the server correctly.  E.g., if in the future we had a gRPC variant for CloudStorage, we would *not* be base64-encoding the key before assigning

[2016-07-08 15:49] hohaichi commented on #1959
I don't know if "password" keys or opaque keys will be more popular.  And honestly, I did find that the gcloud-python library is very easy to use as it is.  My concerns are on consistency though:
- Consistency across different surfaces:  JSON API, XML API, and gsutil are all using base64 encoded string.  Taking a base64 string in gcloud will make all surfaces consistent.  The cost is a little inco

[2016-07-08 18:25] tseaver commented on #1951
FTR, those snippets are embedded into Sphinx narrative docs and into docstrings via the `.. literalinclude:` directives.

[2016-07-08 18:28] tseaver commented on #1961
[Stable](http://googlecloudplatform.github.io/gcloud-python/stable/bigtable-instance-api.html) only gets updated when a release is made.  [Latest](http://googlecloudplatform.github.io/gcloud-python/latest/bigtable-instance-api.html) is correct.

[2016-07-08 18:28] #1961 closed

[2016-07-08 18:30] tseaver commented on #1911
FTR, I think we don't want bundling, as we need to stay semantically-compatible with the JSON-over-HTTP version of the API helper.

[2016-07-08 18:40] daspecster commented on #1951
Yeah, I will need to recreate the `literalinclude` directive functionality and add the ability to parse the files and `START` and `END` [sections](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/pubsub_snippets.py#L48).

[2016-07-08 19:55] daspecster opened #1968 "Update our docstrings for PEP 257"
PyLint has added checks to more closely follow [PEP 257](https://www.python.org/dev/peps/pep-0257/) which caused linting to fail. We should update our docstrings so we can revert  #1967.

[2016-07-08 21:05] daspecster commented on #1964
I'm not sure about the changes in oauth2client but there's an updated error message now per #1966.

Let me know if we should close this now.

[2016-07-08 21:26] schmichael opened #1969 "--proxybastion=... option for compute config-ssh"
`config-ssh` is extremely useful for easily accessing hosts with public IPs.

If a project has an SSH bastion host, adding a `ProxyCommand` directive to hosts with only private IPs would allow automatically connecting to them through a user specified bastion host.

So a command like:

[code]

Would create a `~/.ssh/config` file like:

[code]

[2016-07-08 21:28] dhermes commented on #1969
Thanks for reporting but this project is not for the `gcloud` CLI, rather it is a Python client for various Google cloud APIs

Maybe @jgeewax could redirect to someone on the CLI team?

[2016-07-08 21:28] #1969 closed

[2016-07-08 21:32] schmichael commented on #1969
Well this is embarrassing. Sorry for the noise. Is the `gcloud` CLI not open source? I can't seem to find it.

[2016-07-09 21:08] mchirico opened #1970 "[Documentation Issue]"
Page Name: bigquery-usage
Release: 6d3592f

Currently the documentation states:

    with open('person_ages.csv', 'rb') as csv_file:
    ...     table.upload_from_file(csv_file, CSV,
    ...                            create_disposition='CREATE_IF_NEEDED')

Note that's incorrect.  Above CSV should be within quotes: 'CSV'.  There are a few similar issues on the page as well.

Link to documentation:

[2016-07-10 13:49] jgeewax commented on #1959
1. I agree the docs shouldn't hint that the key is hex digits if it's not actually limited to hex digits.

2. With an opaque key of bytes (rather than, say, Datastore's keys or GCE object names) I suspect we might want to tie the format more closely to how people traditionally represent bytes as text (in this case, either hex or base64).

3. I worry that if someone uses the gsutil / gcloud CLI and

[2016-07-11 18:51] daspecster commented on #1970
Thanks for pointing that out!

Glancing through this I didn't see other instances of this kind of issue.

@mchirico, were there others that you noticed?

[2016-07-11 19:25] tseaver commented on #1944
@rok987 this issue.

[2016-07-11 19:30] tseaver opened #1972 "'gax-google-pubsub-v1' and 'gax-google-logging-v2' wreck the 'google.protobuf' namespace"
/cc @bjwatson, @tbetbetbe, @rok987

The failure only shows up when things are installed via `easy_install` (vs. `pip`).  The two packages each include and empty `google/protobuf/__init__.py`, without any namespace package declaration for it (or any purpose).  When installed in a particular order via `easy_install` / `setup.py develop`, the bogus `google.protobuf` package ends up higher on `sys.pat

[2016-07-11 21:19] tseaver commented on #1968
Note that pylint 1.6 actually barfs on two of our source files:

- gcloud/bigtable/happybase/connection.py
- gcloud/streaming/http_wrapper.py

[2016-07-11 21:30] tseaver commented on #1968
See: https://github.com/PyCQA/pylint/issues/998

[2016-07-11 22:08] daspecster opened #1975 "_get_default_service_project_id() fails in appveyor"
[code]

See also #1973

[2016-07-12 00:49] daspecster commented on #1951
Currently the generator isn't pulling in any RST files. Grabs the doc strings from the modules/classes/methods/functions.

What I'm thinking of doing just for right now is just grabbing the snippets and populating the `examples = []` with the snippets.

@tseaver, do you think it would be possible to move the snippets to the module/class/etc doc strings later on or would that make things too messy?

[2016-07-12 17:18] #1975 closed

[2016-07-12 19:48] daspecster opened #1978 "Tracking namespace change"
Here's a place we can track updates to the future changing of the `gcloud-python` namespace.

This change could break things in the future.

----

Sub-projects already partially created:

- [`google-cloud`](https://pypi.python.org/pypi/google-cloud)
- [`google-cloud-core`](https://pypi/.python.org/pypi/google-cloud-core)
- [`google-cloud-datastore`](https://pypi.python.org/pypi/google-cloud-datast

[2016-07-12 19:50] jonparrott commented on #1978
Is this in reference to changing to `google.cloud`?

[2016-07-12 19:57] daspecster commented on #1978
@jonparrott yup! I wasn't sure if that was finalized or not.

[2016-07-12 20:02] #1886 closed

[2016-07-12 20:03] #1970 closed

[2016-07-12 20:32] jonparrott commented on #1978
@jgeewax can confirm, but from what I understand that is the way we want to go.

[2016-07-13 00:28] fdr opened #1979 "new gax breaks pip installed console scripts"
I was doing some work on https://github.com/wal-e/wal-e and it was going smoothly until I decided to delete my tox test environment.  Now `pip install` of this program crashes from the `load_entry_point` import with:

[code]

Rather suspiciously, `google-gax` 0.12.3 was released today.

[2016-07-13 00:47] daspecster commented on #1979
`gcloud-python` looks for [`google-gax >= 0.12.1`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/setup.py#L24) so you should be able to install `0.12.2` first to avoid the issue.

A fresh install for me works just fine. `pip install gcloud`.
Is it possible that something else you're using is causing the conflict, pulling in other versions of `google-gax`?

@tseaver WDYT?

[2016-07-13 00:55] fdr commented on #1979
It may be more a problem in google-gax, or other related dependencies:

[code]

Perhaps they pushed an incomplete release for a series of related packages?

[2016-07-13 11:52] mchirico opened #1980 "[Documentation Issue] table.fetch_data(max_results=100)"
Page Name: bigquery-usage
Release: a1b8066

Please note, the following documentation appears to be incorrect.
https://googlecloudplatform.github.io/gcloud-python/latest/bigquery-usage.html

*Get rows from a table’s data:*

    from gcloud import bigquery

    ...     for field, value in zip(table.schema, row):
    ...         do_something(field, value)

Specifically the following line of code retu

[2016-07-13 17:20] daspecster commented on #1951
Added to #1775.

[2016-07-13 17:20] #1951 closed

[2016-07-13 17:56] jonparrott opened #1982 "Cloud storage is missing 'compose' functionality"

[2016-07-13 20:00] daspecster commented on #1982
https://cloud.google.com/storage/docs/composite-objects

[2016-07-13 20:03] kwoodson opened #1983 "iam service-accounts create does not return keys"
I would like to automate the creation of service-accounts which would return us a json or p12 file so that I can use the credentials in scripts.

https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts.keys

If I am doing this incorrectly or this is already available through gcloud iam please let me know.

[2016-07-13 20:04] jonparrott commented on #1982
Thanks, @daspecster. This is important so we can write usage samples for gcloud-python that have feature parity with the google-api-python-client samples.

[2016-07-13 20:36] kwoodson commented on #1983
Sorry for the bother, found it.

https://cloud.google.com/iam/docs/managing-service-account-keys

gcloud iam service-accounts keys create \
    ~/key.json \
    --iam-account my-sa-123@my-project-123.iam.gserviceaccount.com

[2016-07-13 20:36] #1983 closed

[2016-07-13 20:38] daspecster commented on #1980
Thanks for reporting! Let me know if I missed anything in #1981.

[2016-07-13 23:24] tseaver commented on #1980
Closed via #1833.

[2016-07-13 23:24] #1980 closed

[2016-07-14 15:36] tseaver commented on #1982
@jonparrott Can you clarify whether the `compose` request is intended only to create a new object, or whether it might replace the content of an existing one?  For instance, the [doc](https://cloud.google.com/storage/docs/json_api/v1/objects/compose) show two optional query parameters, `ifGenerationMatch` and `ifMetagenerationMatch`, which don't make sense for new objects, but the description of t

[2016-07-14 15:45] daspecster opened #1984 "Find a better caption for snippet in JSON docs generator."
Right now the tag label is being used for the example caption. So you get example captions that look like "get_object" and "save_row_to_table".

It would be nice to have more human readable captions.

See: https://github.com/GoogleCloudPlatform/gcloud-python/pull/1775#issuecomment-232704123

[2016-07-14 15:59] #798 closed

[2016-07-14 16:36] jonparrott commented on #1982
@tseaver our [current sample](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/api/compose_objects.py) creates a new object from two existing objects.

[2016-07-14 17:42] tseaver commented on #1909
Via #1914

[2016-07-14 17:42] #1909 closed

[2016-07-14 17:57] tseaver commented on #1982
@jonparrott Thanks for the example.  I imagine it would look something like [this gist](https://gist.github.com/tseaver/8850731269e7c7d5e7d53a09bca580e0), which assumes that `compose` is an operation on our `Bucket` class, taking the destination name, a list of our `Blob` objects as the sources, and a content-type.

  is there somebody we should loop in to answer my questions about the API docs?

[2016-07-14 18:06] jonparrott commented on #1982
@jgeewax do we have a particular eng contact for GCS?

That could work, it could also be an operation on a blob, which would make it on parity with the API (it's an operation on the object resource):

[code]

It's up to you, I think either way is fine.

[2016-07-14 18:23] tseaver commented on #1982
@jonparrott I considered that option:  if the API is actually supposed to allow replacing the contents of an existing `Object` with the composed media, that would definitely be a better spelling.  If it can only be used to create a new `Object`, then making it an operation on the `Bucket` seems cleaner (I just updated my gist to show `bucket.compose()` returning the new instance).

[2016-07-14 18:24] jgeewax commented on #1982
@capstan is our GCS go-to person :)

On Thu, Jul 14, 2016 at 2:23 PM, Tres Seaver <notifications@github.com>
wrote:

[2016-07-14 18:31] kelvinabrokwa commented on #1927
@dhermes any progress?

[2016-07-14 18:31] jonparrott commented on #1982
@tseaver makes sense. I think you can append to an existing blob, but @Capstan will have to verify.

[2016-07-14 19:38] #1872 closed

[2016-07-14 20:40] jonparrott commented on #1960
@tseaver @dhermes @jjg this is also a blocking issue for us to be able to re-write storage usage samples using this library.

[2016-07-14 21:17] tseaver commented on #1960
Based on the [`rewrite` API docs](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite), it seems like this should be a method on `Bucket`, parallel to `Bucket.copy_blob`.  Something like:

[code]

[2016-07-14 21:22] jonparrott commented on #1960
That would be fine, alternatively `blob.rewrite_to(destination_name, source_encryption_key=..., encryption_key=...)` would be acceptable as well.

*N.B.* this method *must* take two encryption key parameters, one for the source and one for the destination. This is the primary use case of the rewrite method.

[2016-07-15 00:50] tseaver commented on #1960
@jonparrott Where in the [`rewrite` request](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite#request) are the keys passed?  I see fields in the `Object` resource which are *metadata* about the encryption, but not the key itself.

[2016-07-15 13:52] daspecster commented on #1979
@fdr did you have any luck resolving this? Installing `gcloud` locally works for me.

[2016-07-15 14:13] tseaver commented on #1984
Rather than snarfing the `docs/foo_snippets.py` file, could this be done by pulling in the `docs/foo_usage.rst` file, or maybe the HTML rendered from it by Sphinx?  The usage docs already have the "human-oriented" descriptions of the snippets, and presents them in a logical order, grouped into sections.

[2016-07-15 14:26] daspecster commented on #1984
For the site framework, there are only two fields for examples.
`example = {
    'caption': '',
    'code': ''
}`

I could parse the RST in this case I think. Docutils doesn't know what the `literalinclude` directive is though. So I would probably just manually parse it. I'll give it a go.

[2016-07-15 17:31] dakoner opened #1986 "Datastore put operations: what happens on error?"
The gcloud-python datastore documentation (https://googlecloudplatform.github.io/gcloud-python/stable/datastore-client.html) does not define what happens if an error occurs during a put() entity operation. We would like to get an exception, or an error.

[2016-07-15 18:10] jonparrott commented on #1960
In the headers, hilariously enough.

See the currently sample [here](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/storage/api/customer_supplied_keys.py#L105).

[2016-07-15 18:16] jonparrott opened #1987 "Version conflict with google-gax"
With the latest 0.17.0, I get this error when import pubsub:

[code]

Forcing `google-gax` to `0.12.2` resolves this.

[2016-07-15 18:43] daspecster commented on #1987
@jonparrott is this the same as https://github.com/GoogleCloudPlatform/gcloud-python/issues/1979?

[2016-07-15 18:52] daspecster commented on #1984
http://daspecster.github.io/gcloud-python/#/docs/master/gcloud/pubsub

Update pushed to #1775.

[2016-07-15 18:59] fdr commented on #1979
It's enough enough to install it, for me, that works fine. The tests run fine as well. What breaks is creating after creating a "console script" in setup.py, it'll crash with the stack trace I reported.

[2016-07-15 19:10] tseaver commented on #1986
Thanks for the report!  Errors from the back-end get mapped onto one of the exceptions defined in `gcloud.exceptions`, based on the HTTP status code.  The back-end doesn't document what status codes `put` might return for errors, which means that, unfortunately, we cannot document them either.

[2016-07-15 19:10] #1986 closed

[2016-07-15 19:14] fdr commented on #1979
The problem is definitely some of these packages requiring older gax, such as. https://pypi.python.org/pypi/gax-google-logging-v2 and https://pypi.python.org/pypi/gax-google-pubsub-v1.  I don't know how this dependency is getting pulled in, but anything that does recursively pull these in along with the newer google-gax package cannot create a setuptools console program that works.

[2016-07-15 19:16] tseaver commented on #1979
We are pinning `google-gax >= 0.12.1`, but `google-gax-pubsub-v1` and `google-gax-logging-v2` pin `google-gax == 0.12.1`.  Those pins need to be relaxed.

/cc @bjwatson, @tbetbetbe

[2016-07-15 19:17] jonparrott commented on #1987
Ja, closing.

[2016-07-15 19:17] #1987 closed

[2016-07-15 19:17] tseaver commented on #1960
@jonparrott Why are those values not part of the payload? Worse, why is that not documented?

[2016-07-15 19:18] jonparrott commented on #1979
[GoogleCloudPlatform/psq](https://github.com/GoogleCloudPlatform/psq) is affected by this as well.

[2016-07-15 19:21] jonparrott commented on #1960
@tseaver I have no idea - this API predates me joining and I'm not part of the API review team. My hunch is that it was a way to get around releasing a new API version. Maybe @Capstan can provide some background.

[2016-07-15 19:22] jonparrott commented on #1893
Update: pytz will be available in 1.9.40. The pwd module is also going to be enabled in an upcoming release, possibly 1.9.41.

[2016-07-15 19:23] tseaver commented on #1960
/me grumbles This is exactly the kind of thing that is *supposed* to make you release a new API version.

[2016-07-15 19:24] jonparrott commented on #1960
@tseaver don't shoot the messenger. I thought it was whack when I had to write the samples for it using google-api-python-client, because it's awkward to add headers using that library.

[2016-07-15 19:43] tseaver commented on #1960
@jonparrott I'm grumbling about that (hypothetical) motive, which predates you. New API release or not, the API docs should still be updated to define the (added?) behaviors:  how did you learn about those headers in the first place?

[2016-07-15 19:46] jonparrott commented on #1960
https://cloud.google.com/storage/docs/encryption

[2016-07-15 20:32] bjwatson commented on #1979
@tseaver This was done deliberately, since we are still pre-beta and changes to `google-gax` could still be breaking for the generated surfaces. I believe the `google-gax 0.12.3` changes might be mildly breaking, since @geigerj changed how timeouts work a bit. I suggest that `gcloud-python` also do hard pins for now, at least until we declare beta.

@geigerj When you get a chance, can you push new

[2016-07-15 20:36] bjwatson commented on #1972
@geigerj What do you think? This seems easy to do as part of rolling new releases of these libraries for https://github.com/GoogleCloudPlatform/gcloud-python/issues/1979.

[2016-07-15 21:19] geigerj commented on #1972
Yes, I will do this when I release the new libraries. I will also fix https://github.com/googleapis/toolkit/issues/239 next, which will stop us from generating these bogus packages.

[2016-07-16 16:23] tseaver commented on #1979
@bjwatson ISTM that semver would imply that `0.12.3` should not break anything that worked on `0.12.2`:  a breaking change should bump to `0.13.0`.  If that pattern were in place, we could be pinning something like `google-gax >= 0.12.1, < 0.13.dev`.

[2016-07-16 16:24] tseaver commented on #1972
@geigerj that would be great, thanks!

[2016-07-16 16:44] tseaver commented on #1984
I would say that the implementation in #1775 is adequate for now.  We can look at a better rst -> markdown story for the usage / narrative docs later.

[2016-07-16 16:44] #1984 closed

[2016-07-16 16:47] tseaver commented on #1959
I suppose we could sniff at the supplied key: if it is of type `bytes` and its length is exactly 32, then we base64-encode it before jamming it into the headers (ught!);  otherwise, we expect that it is already base64-encoded and just jam it in directly.

[2016-07-16 23:35] bjwatson commented on #1979
@tseaver Semver actually says nothing about 0.x version ("Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable."). However, we discussed this and decided to do exactly as you're proposing while we remain in 0.x. We were going to propose that you use exactly that compound version dependency, and we will use the same.

[2016-07-17 01:12] daspecster commented on #1959
Detecting if it is, in fact base64 could be tricky and not super consistent and I think it would be frustrating to have false positives, especially when it comes to security.

What if we had a flag to denote if the key is already base64 encoded?
Downside is that having a flag might force users to understand more layers in the system potentially.

`blob = Blob(... encryption_key='non-base64 encoded

[2016-07-17 02:30] tseaver commented on #1959
I don't think we have to detect that the user has passed us base64-encoded bytes.  If the passed value is 32 bytes exactly, it *can't* be a valid base64-encoded key:  those have to be 42-44 bytes long.  So in that case, we can just base64-encode it and go on.  For any other case, we just assume the user did it already, and pass it through untouched:  if it happens that they somehow passed a 33-byt

[2016-07-18 15:45] tswast opened #1989 "Bigtable HappyBase enable/disable table should be a no-op"
Currently methods which aren't available in Bigtable for HappyBase throw an NotImplementedError. https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/bigtable/happybase/connection.py#L392

This will make it more difficult to port applications to and from HBase. These operations should be no-ops (possibly logging a warning when run).

[2016-07-18 16:14] tseaver commented on #1989
@dhermes I'll defer to your judgement here:  I'm not sure what would be worse for the developer porting an application:  having unexpected `NotImplementedError` exceptions raised, or quasi-silent failures.  Maybe we need to have an environment variable which toggles the exceptions on (or off)?

[2016-07-18 16:26] dhermes commented on #1989
@tswast I feel like not raising the exception would be misleading for the majority of people. Can you elaborate why you'd prefer the silent failure?

[2016-07-18 17:55] jonparrott commented on #1893
Closing this issue as I can confirm that gcloud-python works via vendoring on GAE standard.

pytz, pwd, etc. should make things "better", but are not strictly needed.

[2016-07-18 17:57] jonparrott commented on #1893
I take that back, there's a deployment issue. Ugh.

[2016-07-18 18:09] dhermes commented on #1927
Doing it now. Sorry for the delay.

[2016-07-18 18:39] kelvinabrokwa commented on #1927
@dhermes no worries! Thank you! 😄

[2016-07-18 19:22] dhermes commented on #1983
@kwoodson Thanks for teaching me about `gcloud iam service-accounts keys create`. Pretty awesome that it exists!

[2016-07-18 19:28] dhermes commented on #1968
I'm digging in to this (hopefully the global disables in #1974 can be addressed easily)

[2016-07-18 19:31] dhermes commented on #1911
@tseaver Is it worth adding a sibling method that allows bundling to take advantage of the nice HTTP/2 / gRPC features?

[2016-07-18 19:32] dhermes commented on #1214
@eric-optimizely That error occurs when multiple threads read bytes from a payload at once, which gives invalid crypto bits. This likely means multiple threads have access to the same `httplib2.Http` object.

[2016-07-18 19:35] tseaver commented on #1911
@dhermes I thought about that notion:  also as a way to deal with the oft-desired (foot-gun?) of majyk-iterator-returning `list_foo` methods.

[2016-07-18 19:42] dhermes commented on #1917
Sorry for delay (had a baby). The entire behavior of `oauth2client` is based on catching a 401 [status][1], but gRPC doesn't do HTTP status codes. But we're [using `get_access_token()`][2] which [does a refresh][3] if the token is expired.

I'm not sure how to replicate. It seems that a gRPC unauthenticated error could only occur if [`now >= self.token_expiry`][4] is false (when checking if the to

[2016-07-18 19:47] daspecster opened #1993 "Code branch test coverage"
So since merging #1876, the hooks don't seem to be working. I'm not sure if it's us or codecov.io at this point.

Also since we ran into this being an issue [again](https://github.com/GoogleCloudPlatform/gcloud-python/pull/1992#issuecomment-233423389)...

I'm proposing that we just have travis-ci fail on `tox -e cover`.

[2016-07-18 20:08] tseaver commented on #1982
@jonparrott speaking of samples, WDYT of keeping them in this repository, so that we can use them within the Sphinx docs / docstrings, like the ones we have for [pubsub](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/pubsub_snippets.py) and [bigquery](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/docs/bigquery_snippets.py).  Then we can arrange to test / f

[2016-07-18 20:21] dhermes commented on #1993
Seems wasteful, since we'll want the fancy badge to show we are cool and responsible.

[2016-07-18 20:23] jonparrott commented on #1982
@tseaver it's be exhaustively discussed. The samples in python-docs-samples are samples included from documentation on cloud.google.com. This sometimes overlaps with samples here, especially for the really basic use cases, but often is more illustrative on how to accomplish a task with the service rather than just use the API.

[2016-07-18 20:31] daspecster commented on #1993
Could have travis-fail + coveralls. Then we would be cool and truly responsible ;)

[2016-07-18 20:38] dhermes commented on #1993
Yeah I know, I'm just being grumble grumble

[2016-07-18 20:42] dhermes commented on #1969
I'm not sure. @jgeewax?

[2016-07-18 20:46] jonparrott commented on #1969
There's a public issue tracker [here](https://code.google.com/p/google-cloud-sdk/issues/list).

[2016-07-18 20:47] daspecster commented on #1993
I feel ya, I wish codecov just worked.

[2016-07-18 20:52] dhermes commented on #1917
OK I made a few tiny tweaks

[code]

and effectively [verified][1] there is no caching.

[1]: https://gist.github.com/dhermes/7f52a996e57234a616ced5a1b74d8d97

[2016-07-18 20:56] dhermes commented on #1917
@sduskis I don't think there is enough in the SO question to replicate, I asked the author to weigh in here. @jonparrott Can you confirm that Python Flexible on GAE will use GCE tokens when doing auth?

[2016-07-18 20:57] geigerj commented on #1972
I've put up new versions of those packages without the `google.protobuf` package.

[2016-07-18 21:00] geigerj commented on #1979
I've uploaded new versions of `gax-google-{pubsub-v1,logging-v2}` that are pegged to `google-gax 0.12.3` -- that at least should let the `tox` environment create correctly (for now). I'm still finishing up some work on our packaging tool that will include relaxing the version requirement to `>= 0.{x}.{y}, < 0.{x+1}.0`, so that should be coming soon.

[2016-07-18 21:21] tseaver commented on #1982
@jonparrott OK.  How do you deal with drift?

[2016-07-18 21:22] jonparrott commented on #1982
Tests, tests, and more tests. We also optimistically update dependencies and fix as needed.

[2016-07-18 21:23] tseaver commented on #1982
@jonparrott Do you have a webhook we should be poking from this repo to trigger those tests for the Python examples?

[2016-07-18 21:25] tseaver opened #1995 "'gcloud-python' install pulls in Sphinx and its many dependencies"
Which is Just Wrong(TM).

[2016-07-18 21:26] jonparrott commented on #1982
We have nightly tests and an automated dependency checker (which right now we're behind on for reasons).

[2016-07-18 21:28] dhermes commented on #1995
Ew. How?

[2016-07-18 21:30] tseaver commented on #1995
Just saw it while installing into a fresh virtualenv, using `easy_install` to test #1972.  It looks like it *downloads* Sphinx et aliae, but doesn't actually install them.

[2016-07-18 21:32] daspecster commented on #1995
I get this on a fresh venv after `pip install gcloud`
[code]

[2016-07-18 21:34] tseaver commented on #1972
@geigerj Thank you!  I just verified that `bin/easy_install gcloud-python` in a fresh virtualenv pulls in `gax-google-pubsub-v1` 0.17.12 and `gax-google-logging-v2` 0.17.12, and that they do not break imports from `google.protobuf.*`.

[2016-07-18 21:34] #1972 closed

[2016-07-18 21:38] tseaver commented on #1995
[code]

[2016-07-18 21:40] daspecster commented on #1995
So this must be something with `east_install` then?

[code]

[2016-07-18 21:41] tseaver commented on #1979
@fdr can you check that @geigerj has fixed your issue with the new releases?

[2016-07-18 21:43] tseaver commented on #1607
Oops, that should've been #1927.

[2016-07-18 21:43] tseaver commented on #1927
Via #1992.

[2016-07-18 21:43] #1927 closed

[2016-07-18 21:43] dhermes commented on #1607
D'oh!

[2016-07-18 22:00] bjwatson commented on #1963
@omaray What do you think?

[2016-07-18 22:07] waprin commented on #1963
@bjwatson I think there was a small miscommunication here, because I wasn't asking to merge in generated code but how we can rebase the handwritten to duplex between HTTP or VTK once it is generated like is currently done for Logging/Pubsub. Omar is out this week and wasn't sure if/when it would get on official roadmap, he wanted to hear from @jgeewax.

[2016-07-18 22:21] bjwatson commented on #1963
@waprin Sorry, I was chiming in on an issue I only partially understood. :/

I'm happy to hear that Omar is already in the loop, and it sounds like this is definitely a question of the roadmap for gcloud.

[2016-07-18 22:23] herbertrlee commented on #1917
@dhermes, I am using the gae flexible environment.  If there are any steps you'd like me to take to collect more information, let me know.

[2016-07-18 22:25] jonparrott commented on #1917
The Python compat runtime can end up using App Engine identity credentials,
iirc. The non-compat runtime uses GCE every time.

On Mon, Jul 18, 2016, 3:23 PM herbertrlee <notifications@github.com> wrote:

[2016-07-18 22:27] tswast commented on #1989
No-op is what the Java client does.

This is especially important for third-party tools that build on top of HBase to work on Cloud Bigtable with minimal modification.

I'm not sure if there are any similar tools that build on HappyBase that would have similar concerns, but ideally it should be as easy as possible to port an application to and from Cloud Bigtable and HappyBase.

@mbrukman Do you h

[2016-07-18 22:38] bjwatson commented on #1911
@dhermes @tseaver +1

[2016-07-18 22:40] tseaver commented on #1911
Maybe `publish_async`,returning the `Event` instance?  It would have to raise `NotImplementedError` or some such if GAX is not enabled.

[2016-07-18 23:04] dhermes commented on #1989
I'm not sure where a missing feature of the backend API falls into "easy as possible". As for minimal modification, they could simply remove calls to disable and enable table

[2016-07-18 23:05] dhermes commented on #1917
@herbertrlee Can you consistently reproduce this? Can I send you some modifications so you can log the same bits I did above so we can tell where the bad token issue is occurring?

[2016-07-18 23:19] dhermes commented on #1968
I commented on https://github.com/PyCQA/pylint/issues/125, which flags our use of `grpc.framework.interfaces.face.face.NetworkError` with

[code]

[2016-07-18 23:24] eric-optimizely commented on #1214
@dhermes Ok, thanks for confirming. I've used the `client` attribute wherever possible and am still seeing this error occasionally. I've seen at least one case where a [gcloud function is reusing the provided client](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/storage/client.py#L166-L168), so I suspect there could be others.

[2016-07-18 23:25] dhermes commented on #1214
Yeah, your current best bet is to create a thread-local `Client`.

[2016-07-19 02:14] mbrukman commented on #1989
Let's first agree in principle on the purpose of having a compatibility library such as the HBase client for Java and the HappyBase client for Python:

* our goal is to be compatible with code that uses HBase — this gets us instant integrations that work with HBase and user code that works with HBase becomes trivially portable
* as such, we should aim to have Bigtable become a drop-in replacement

[2016-07-19 02:51] rstuart85 commented on #1214
@eric-optimizely Just in case it's usefule: I fixed this for my stuff a while ago by making the connection object threadsafe. You can see the changes [here](https://github.com/Kapiche/gcloud-datastore-oem/pull/11/commits/3e24e6d8d4b457fc285059ec99c02cb548e79397). Hope it's useful.

[2016-07-19 18:25] dhermes commented on #1989
Seems reasonable enough. I'll send out a PR.

[2016-07-19 18:28] dhermes commented on #1989
@mbrukman What about `Connection.compact_table(...)`, `Table.regions()` and `Table.counter_set(...)`?

[2016-07-19 18:51] mbrukman commented on #1989
@dhermes:

* `Connection.compact_table()` is a performance optimization (compacted tables have lower depth, hence reads are faster). Bigtable does compactions on its own schedule, so we can safely ignore this as a noop. In essence, we're saying "sure, consider it done, we've taken care of all compactions for you". No semantics difference here.

* `Table.regions()`: doesn't look like we can return

[2016-07-19 18:54] dhermes commented on #1989
Want me to fold the `Connection.compact_table()` no-op into #1997? I am the original author of the `gcloud-python` port of HappyBase, did you mean https://github.com/wbolster/happybase/? As for `counter_set` in `gcloud-python`, I avoided it because I couldn't see a way to make it atomic. If there is a way, then I'm happy to implement it.

[2016-07-19 19:01] dhermes commented on #1789
@jgeewax The docs page for this has a whitelist request that just links out to the [contact page][1]. Any idea who could add our CI projects?

[1]: https://cloud.google.com/contact/

[2016-07-19 19:04] dhermes opened #1998 "Tear httplib2 out of google-cloud"
I plan to tackle this soon-ish.

This is so we can move to a better-maintained (or allow BYO) transport layer.

[2016-07-19 19:06] tseaver commented on #1549
The [docs for the `Bigtable` data interface](https://cloud.google.com/bigtable/docs/reference/data/rpc/google.bigtable.v2#google.bigtable.v2.Bigtable) say:

[code]

[2016-07-19 19:08] dhermes commented on #1549
@tseaver It could mean that the set of mutations are either all applied or none, not implying anything about the atomicity of the "check and mutate" as a single operation.

@mbrukman @tswast can you weigh in?

[2016-07-19 19:09] tseaver commented on #1989
For `Table.counter_set()`, see #1549.  @mbrukman would `CheckAndMutateRow` (with an appropriate "row-is-empty" predicate) be atomic across both the check and the mutation?

[2016-07-19 19:10] eric-optimizely commented on #1214
@rstuart85 Cool, thanks! This looks like it's based on #1274 which should probably just be merged by @dhermes and @jonparrott , unless it's still incomplete or there's some other blocker.  I'm not particularly interested in maintaining a fork of this library -- I just want it to work correctly on Google's own cloud platform.

[2016-07-19 19:15] mbrukman commented on #1989
@dhermes: yes, please fold the compact_table() noop into your existing change. I was referring to the original author of the code in `gcloud-python`, not the upstream HappyBase code.

@tseaver: I have a guess, but will defer to @sduskis and @garye to get a definitive answer on this.

[2016-07-19 19:20] mbrukman commented on #1549
It's unclear to me how `Table.counter_set()` would map to a `CheckAndMutate`—it only accepts a row, column, and value, but not the previous value, so there's nothing to check against, unless I'm missing something. What would we check against as the previous value?

The use case that it presumably addresses is to enable a user to reset a counter to 0, or initialize the state from some non-zero valu

[2016-07-19 19:42] tseaver commented on #1524
@dhermes would you like me to tackle that?

[2016-07-19 19:43] garye commented on #1989
@mbrukman @tseaver It seems like a CheckAndMutateRow with a pass_all filter (more explicit than leaving it unset) and a single mutation setting the value would do the trick. The check and mutate steps happen in a transaction so the semantics of counter_set should hold.

[2016-07-19 19:43] dhermes commented on #1524
I'll handle it.

[2016-07-19 19:46] tseaver commented on #1549
From #1989 just now:  @garye wrote:

[2016-07-19 19:49] dhermes commented on #1789
Here is a comprehensive list of the [methods][1] in the resource manager API, note that "organizations" are not in the `v1` API but **are** in the `v1beta` API. Check-boxes next to the methods we support:

- [ ] `v1beta1.organizations.get`
- [ ] `v1beta1.organizations.getIamPolicy`
- [ ] `v1beta1.organizations.list`
- [ ] `v1beta1.organizations.setIamPolicy`
- [ ] `v1beta1.organizations.testIamPer

[2016-07-19 19:52] dhermes commented on #1789
@jgeewax Can you weigh in on prioritization here? Should we upgrade to `v1`, and if yes, doesn't that mean we shouldn't support organizations?

[2016-07-19 19:55] garye commented on #1989
Nevermind! I guess I was confused by the naming because counter_set seems like it's simply a put. No locking or check-and-mutating necessary. I guess it's just an alias that makes code that reads, writes and resets counters more consistent.

[2016-07-19 19:55] garye commented on #1549
I took it back over on #1989, see if you think that makes sense.

[2016-07-19 20:07] #1989 closed

[2016-07-19 20:19] dhermes commented on #1989
@garye I'm not sure what the implication is. You're saying the `counter_set` method should just set the value via `MutateRow`? The [HappyBase on HBase impl.][1] just uses `put`.

[1]: https://github.com/wbolster/happybase/blob/5a7a29bd83e72cad0d3492e71e108d881ba66276/happybase/table.py#L541

[2016-07-19 20:24] garye commented on #1989
@dhermes Yeah exactly, my reading of this is that we should just set the value via `MutateRow`. Which we'd get if we just delegated to `put` like HappyBase on HBase, right?

[2016-07-19 20:28] dhermes commented on #1989
Right.

[2016-07-19 20:40] tseaver commented on #1989
Doesn't making `counter_set` a blind push, rather than a "set only if does not already have a value" make it racy?

[2016-07-19 20:46] dhermes commented on #1989
Since this issue is closed maybe we should move the discussion to the actual #1549.

I originally "disabled" `counter_set` because it can't actually behave like its siblings `counter_inc/dec`, but I am happy to re-enable and do the "bad thing" that HappyBase already does.

[2016-07-19 20:49] mbrukman commented on #1989
We should emulate `counter_set` in HappyBase as it does, via `put`, so that we're semantically compatible. We may debate whether that's a good model, but we should be compatible nonetheless.

In this case, it's simply an alias for `put` and it has comments that say you shouldn't use it for inc/dec operations. This tells me its use cases are intended to be:

* reset to zero
* start from some known

[2016-07-19 20:52] dhermes commented on #1989
Yup. Code written, running tests locally and about to send PR.

[2016-07-19 21:48] #1549 closed

[2016-07-19 22:13] dhermes commented on #1524
@garye I confirmed this works and also confirmed that it results in an `INVALID_ARGUMENT` with

if the `CreateTableRequest.Table.name` is set, the backend probably does this to avoid having to check a conflict with `CreateTableRequest.table_id`.

----

Implementing it now, here is the snippet I used to confirm it works:

[code]

[2016-07-19 22:30] garye commented on #1524
Awesome! Good to hear.

On Tue, Jul 19, 2016, 6:13 PM Danny Hermes <notifications@github.com> wrote:

[2016-07-19 22:42] dhermes opened #2001 "python3 system tests fail to use gRPC"
@tseaver Can you confirm? I'm seeing basic imports failing.

For [example][1]:

[code]

[1]: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/145947754

[2016-07-20 01:52] rstuart85 commented on #1214
@eric-optimizely I think the outcome of the discussion here was that it should be fixed upstream. Maybe @dhermes can confirm or deny that.

[2016-07-20 17:28] dhermes commented on #1214
Yes I am taking this on right now, the goal is to get a divorce from `httplib2` and allow BYO transport with some nice defaults / examples.

[2016-07-20 18:17] tseaver commented on #2001
@dhermes Looks like they need to dump the PYTHONPATH=_testing bit.

[2016-07-20 18:48] dhermes commented on #2001
But `grpcio` successfully installs in the Python 3 environment otherwise?

[2016-07-20 18:49] #1524 closed

[2016-07-20 19:15] tseaver commented on #2001
I've run the Py3k system tests with `grpcio` installed (and the `gax-*` libraries), but suppressing having `_testing` on the PYTHONPATH.

[2016-07-20 19:25] dhermes commented on #2001
On my machine `pip3 install grpcio` fails with

I could put `grpc_python_plugin` on my path but that won't help Travis.

[2016-07-20 19:26] tseaver commented on #2001
I'm beginning to think we should back out all the "just pretend grpc works" stuff we've done (make it a pure extra), disabled by default.  I also want to shoot the `_testing` directory in the head.

[2016-07-20 19:28] dhermes commented on #2001
The `_testing` directory was just there for unit tests, never intended to be used in system tests. The real culprit is `grpcio`.

[2016-07-20 20:29] tseaver commented on #2001
I think unit tests don't really need it, either:  the bigtable tests could just use `unittest2.skipUnless' like the GAX-related tests in logging and pubsub.

[2016-07-20 20:34] dhermes commented on #2001
At the time it was added, there was no Travis environment where `grpcio` installed, so that was the only way. I'm fine with your suggestion given the current state of things.

[2016-07-21 17:24] tseaver commented on #2001
W00t!  https://pypi.python.org/pypi/grpcio/1.0.0rc1/#downloads has wheels for Python 3.4 on Linux/Mac/Windows!

[2016-07-21 18:30] dhermes commented on #2001
I'm surprised they're at / near a 1.0

[2016-07-21 18:34] dhermes opened #2010 "Remove pylint disable for too-many-lines in gcloud.streaming.transfer"
See #2004

[2016-07-21 18:41] dhermes opened #2011 "pep8 is dead"
As of version 1.7.0, [`pep8`][1] is no longer getting releases, the tool is now called [`pycodestyle`][2]. Visit https://github.com/PyCQA/pep8 to see the redirect.

This means we haven't had any updates since January 12, 2016. Oops.

[1]: https://pypi.python.org/pypi/pep8
[2]: https://pypi.python.org/pypi/pycodestyle/

[2016-07-21 19:08] tseaver commented on #2001
I wonder if pinning the RC would unbreak Travis `system-tests3` and Appveyor.

[2016-07-21 19:12] tseaver commented on #2011
LGTM

[2016-07-21 19:13] #2011 closed

[2016-07-21 21:02] fdr opened #2013 "Can't `pip install gcloud` with Python 3.4 and pip 6.x"
I was porting WAL-E to Python 3.4 and things were working well (perhaps because of newer versions of pip on my Fedora Linux installation), however, an older version of pip seen in the wild on servers (the 6.x series) doesn't seem to work. Is there an adjustment that would allow even 6.x era pip to function?

A transcript follows:

[code]

[2016-07-21 21:03] fdr commented on #1979
Can confirm that a fresh installation works.

[2016-07-21 21:03] #1979 closed

[2016-07-22 10:10] liumingming opened #2014 "ImportError: No module named http_client"
When I type `from gcloud import datastore`

them

[code]

[2016-07-22 13:15] daspecster commented on #2014
How did you install `gcloud-python`?

You could try `pip install --upgrade six` since it looks like you may be using an older version of `six.

Let me know if that changes anything!

[2016-07-22 15:26] daspecster commented on #1978
We will want to update the User-Agent string as well for this right? Are there any other implications to that? i.e. people have that user-agent allowed in their apps/firewall.

[2016-07-22 17:57] nathanielmanistaatgoogle commented on #2001
Apologies for [the gap in 3.4-on-Windows](https://github.com/grpc/grpc/issues/7485).

[2016-07-22 18:00] daspecster commented on #2001
@tseaver https://ci.appveyor.com/project/daspecster/gcloud-python-utjkc/build/job/ibd6g2k1a4gkumjo

[code]

[2016-07-22 18:48] dwmclary opened #2017 "Add ShowPartitions to BigQuery Client"
With time-partitioned tables, it would be useful for tables objects to have a show_partitions method, which returned partition keys.

[2016-07-22 18:55] dwmclary commented on #125
Because pandas does not keep feature sync with BigQuery, I think what we'd like to see here is at the ability to receive row-results as a pandas DataFrame.

[2016-07-22 18:56] dwmclary opened #2018 "Helper Functions Partitioning"
It would be useful to have a function which, given a timestamp key, creates a partitioned version of a table.  A number of users struggle to do with with minimum cost, so having the client handle it, even though it would be a series of async jobs, would be useful.

[2016-07-22 19:19] dhermes commented on #2014
If you are on Mac OS X you may not be able to upgrade `six`

[2016-07-22 19:19] #2014 closed

[2016-07-22 19:45] soltanmm commented on #2001
@daspecster Looks like Appveyor is trying to build from source on Windows for Python 2.7.

It *should* be downloading the wheels...

[2016-07-22 20:03] dhermes commented on #2001
I think the issue is that `pip install grpcio` won't grab he RC version so it's trying a pre-1.0 release. Either that or your wheel doesn't support Windows?

[2016-07-22 20:06] soltanmm commented on #2001
Note that [here](https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/appveyor.yml#L87) you'll need to use the `--pre` flag to get `1.0.0rc1` unless you want to be grabbing it during `nosetests` as part of the command's potentially problematic gathering of (constrained to egg or `.tar.gz`?) dependencies (AFAICT).

[2016-07-22 20:23] daspecster commented on #2001
Thanks @soltanmm, I actually just  forced the version with `pip install grpcio==1.0.0rc1` for now to try it in my branch.

https://ci.appveyor.com/project/daspecster/gcloud-python-pjqjn

[2016-07-22 21:00] daspecster commented on #2001
Some success and some more failures :(
https://ci.appveyor.com/project/daspecster/gcloud-python-pjqjn/build/job/1gpl7vqkrafyvjcu

![screen shot 2016-07-22 at 5 00 16 pm](https://cloud.githubusercontent.com/assets/192456/17071153/cc86be24-502d-11e6-80fe-f5b872211e8c.png)

[2016-07-25 23:04] dhermes commented on #2001
64-bit 3.4 fails with

[code]

while both versions of 3.5 fail with an OpenSSL issue

[2016-07-25 23:24] awblocker opened #2022 "Documentation links in README.md do not work"
All links to https://googlecloudplatform.github.io/gcloud-python/ lead to 404 errors.

[2016-07-25 23:29] daspecster commented on #2022
Seems all the others are broken as well `gcloud-node`, `gcloud-php`, etc...

Did something with the DNS change?

[2016-07-25 23:31] dhermes commented on #2022
Thanks for the report @awblocker!

[2016-07-26 04:06] salrashid123 opened #2023 "Update datastore example for put then key-get operation"
the [gcloud datastore sample](https://github.com/GoogleCloudPlatform/gcloud-python#google-cloud-datastore) does not persist/put() the entity.   It also describes a put  followed by query (better to put followed by consistent key-get operation)

suggest updating

[code]

perhaps  something like

[code]

[2016-07-26 07:55] soltanmm commented on #2001
IIRC `grpcio` can be built within a MinGW 64-bit Windows environment with vanilla Python 3.4 (NOT e.g. MSYS2's) if configured to use the GCC toolchain via e.g. `-c mingw32`. `grpcio-tools` will fail with linker errors that *might* be alleviated by compiling with TDM-GCC (haven't tried that yet) or finishing up C++98-ifying the plug-in code enough for MSVC 2010 to handle it.

It looks like y'all ju

[2016-07-26 09:08] xamoom-raphael opened #2024 "Docu broken"
If i try to click on "Source Code" link @ https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/datastore/client/client?method=gcloud.datastore.client.Client.put_multi
i get a 404.

404: Link: https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/.tox/json-docs/lib/python2.7/site-packages/gcloud/datastore/client.py#L331

[2016-07-26 10:22] daspecster commented on #2024
Thanks for the report @xamoom-raphael!

This seems to be related to #2022 and https://github.com/GoogleCloudPlatform/gcloud-common/issues/154.

However that last one looks like the link didn't generate correctly.

[2016-07-26 12:53] daspecster commented on #2022
They're back!

[2016-07-26 12:53] #2022 closed

[2016-07-26 14:47] tseaver commented on #2001
@soltanmm Correct:  users of `gcloud-python` only need `grpcio`:  developers may need `grpcio-tools` for regenerating proto-based files, but we don't have any Windows-based developers, and we don't do that task via Windows CI.

[2016-07-26 14:52] tseaver commented on #2023
@salrashid123 Thanks for the report!  It certainly is a bug that the entity does not get persisted.  Maybe the example should show both the `ds.get()` mechanism and the query.

[2016-07-26 15:27] salrashid123 commented on #2023
Its bit of a minor nit though...if you insert then immediately query, its eventually consistent (i.e you may not get the entity back that you just inserted)....but a [key-get is consistent](https://cloud.google.com/datastore/docs/articles/balancing-strong-and-eventual-consistency-with-google-cloud-datastore/#h.tf76fya5nqk8)

[2016-07-26 16:55] dhermes opened #2027 "Implement natural language API"
- https://cloud.google.com/natural-language/docs/
- https://developers.google.com/apis-explorer/#p/language/v1beta1/
- `/v1beta1/documents:analyzeEntities`
- `/v1beta1/documents:analyzeSentiment`
- `/v1beta1/documents:annotateText`
- Protobufs not released as of https://github.com/googleapis/googleapis/tree/6d6a1529e2c76db85b80c73760ed1791908f3cf2

[2016-07-26 17:57] dhermes commented on #2027
When constructing a [`Document`][1] for analysis, the content can either be raw bytes from the request or a reference to an object in a Cloud Storage bucket (`gcsContentUri`).

@tseaver What approach have we taken in similar situations where one service "reaches into" another? I could construct a method which accepts a reference to a `gcloud.storage.blob.Blob` or just accept bucket and object name

[2016-07-26 18:40] tseaver commented on #2027
The [BigQuery `LoadTableFromStorageJob`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/565c992958a6d498385c16f34b37feda8af83bad/gcloud/bigquery/job.py#L387) is probably the closest equivalent.  The other one which is somewhat reltated is the [Logging sink to Storage bucket](https://github.com/GoogleCloudPlatform/gcloud-python/blob/565c992958a6d498385c16f34b37feda8af83bad/gcloud/logging

[2016-07-26 20:38] jgeewax commented on #1978
Let's leave the useragent string alone -- we would have a whole heap of stuff to fix if we change that....

Otherwise -- yes, we're definitely going forward with google.cloud as the import path

[2016-07-26 21:47] znorris opened #2028 "Connection reset by peer (httplib2 issue)"
I've been attempting to batch upload just over a million entities (split into groups of 100-500 at a time) into datastore but I keep running into a `socket.error: [Errno 104] Connection reset by peer` error. I've also been experiencing this when attempting to query and pull down all entities of a single kind.

Is there some throttling that should be happening that's not? Any suggestions on how to

[2016-07-26 22:01] daspecster commented on #2028
Hello @znorris!
Is the datastore client being run multi-threaded?

[2016-07-26 22:01] znorris commented on #2028
@daspecster No it's not.

[2016-07-26 22:12] daspecster commented on #2028
In that case I'm not exactly sure what is causing this. @dhermes or @tseaver might have some ideas.

If you retry after the socket error does it work? Could it possibly be a connectivity issue?

[2016-07-26 23:36] dhermes commented on #2028
Is there a long timeout before the socket error? `Connection reset by peer` usually means the handshake has broken down (often due to a long delay between requests). If the backend were unhappy with your requests, you'd likely get a status code with a rate-limit error.

[2016-07-27 02:26] liumingming commented on #2014
Yes, i am on Mac os X,but i have already upgrade six package，it still not working,it is great on linux

[2016-07-27 04:32] herbertrlee commented on #1917
@dhermes Sorry, I have been traveling the last week or so.  Certainly, send them to me and I'll attempt to collect some logs.

[2016-07-27 16:37] MrSnark commented on #1826
@sudeepag did you manage to figure out what was wrong?
I'm experiencing a similar issue. I have an init script for my dataproc cluster that does a `pip install gcloud` but it seems to be ignoring it.

I have to manually ssh into the master and the slaves and run `pip install gcloud `to get it working

[2016-07-27 16:49] znorris commented on #2028
@dhermes that's what I would have thought, some kind of msg telling me I'd hit a limit.

There are no long pauses between batch uploads so I assume it would not timeout there. Perhaps I'm hitting a limit on connection duration?

**Export to Datastore stats:**
Aprox. entities: 1.08 Million
Properties per entity: 2 (1 string, 1 boolean)
Aprox. size: 100 MB
Entities per `put_multi()`: 400
Upload dura

[2016-07-27 17:38] sudeepag commented on #1826
@MrSnark this turned out to be a config issue rather than a gcloud issue. I don't remember exactly how I managed to fix it, but I would check that python is configured properly. One good sanity check would be to run python in the master and workers and ensure that you can do an `import gcloud`.

[2016-07-27 17:38] #1826 closed

[2016-07-27 17:58] dhermes commented on #2014
Apple both locks down the system installed `six` package and puts that same package on your import path in front of where you've installed it. Run

[code]

to see where it is actually getting imported from and you'll see the problem

[2016-07-27 18:12] dhermes commented on #1917
First, start with a fresh `virtualenv` so we can edit the files without feeling bad about it

[code]

then edit `repro-1917/lib/python2.7/site-packages/gcloud/bigtable/client.py` with my diff [above][1].

You'll also want to wrap your code that fails with a trace so you can step in and find out the state of things

[code]

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/issues/1917#issue

[2016-07-27 19:50] elibixby opened #2030 "Plan To Implement: IAM Mixin for resources to provide idempotent policy updates"
Before I go ahead and do a bunch of work I wanted feedback on a proposed implementation

Since IAM is a meta-api, we can be sure that all One Platform resource types will implement a common interface for IAM, there is smoothing that can be done client side for this common interface. Namely, properly executing the flow of `getIAMPolicy` -> edit policy -> `setIAMPolicy` with etag is non-trivial, and

[2016-07-27 19:53] dhermes commented on #2030
We create a usage doc before writing any good. You could start by just providing some usage snippets / examples here. (TDD --> example driven dev)

[2016-07-27 20:08] elibixby commented on #2030
Sure. I'm using something like this for an app I have which manages 3rd party projects

The distilled usage is something like.
[code]

Obviously the same use case applies to pretty much any resource, for users that are wrapping our services on behalf of customers, or want to use our built in ACLs for any reason.

This represents more or less what I've already built. Obviously the method signatures

[2016-07-27 20:16] elibixby commented on #2030
So, the other way that this works, which I think is less elegant. Is to flip it on it's head like this:

[code]

Then `iam.User.add_roll` checks for the existence of a `_set_iam_policy` and `_get_iam_policy` in `project` resource, and the heavy lifting of idempotent updates is done in something like `iam._BaseIAMMember`.

[2016-07-27 20:23] jonparrott commented on #2030
Why not `add_barrel_roll`?

![barrelroll](https://cloud.githubusercontent.com/assets/250995/17191100/533740ce-53fd-11e6-919a-a544dfa4f050.gif)

[2016-07-27 20:25] elibixby commented on #2030
Also, worth discussing: The ability to fetch ACL information.

[code]
Or with wrapping:
[code]

Similarly
[code]
etc.

[2016-07-27 20:29] elibixby commented on #2030
Thanks to Jon's snarky gif I just realized I should have been typing role instead of roll... so: s/roll/role everywhere I was discussing interface...

[2016-07-27 20:58] elibixby commented on #2030
One thing that is slightly weird, is where the line between `oauth2client` and `gcloud-python` is. Since e.g. wrapping `service_account:appengine-default@<myprojectid>.iam.google.com` with a new object seems strange when a `GoogleCredentials` object exists.

This would be an argument against wrapping the `{member_type}:{member email}` strings

Maybe we could construct them by providing an enum fro

[2016-07-27 21:10] elibixby commented on #2030
woops

[2016-07-27 21:31] elibixby commented on #2030
Also, something that I ended up wanting in my use case, was the ability to specify a regex for `remove_role`, so I could remove all members of a certain type (`remove_role(resource.OWNER, iam.USER, '*')`), remove all the members of a certain domain (`remove_role(resource.OWNER, iam.USER, '*@google.com')`) etc..

and also, the ability to remove multiple roles from a single user e.g. `remove_roles([

[2016-07-27 21:46] daspecster commented on #2030
@elibixby, this looks like great work! We usually create a new RST file in the [docs](https://github.com/GoogleCloudPlatform/gcloud-python/tree/master/docs) or extend one as might be applicable in your case, to outline the implementation.  Then we can comment on the lines in the rst file to talk about specific topics.

[2016-07-27 21:56] elibixby commented on #2030
@daspecster Thanks! I'll do that

So, possible solution to the "Lots of ways to slice it" problem, might look something like this

[code]
Is this crazy?
Maybe?

[2016-07-27 22:03] jonparrott commented on #2030
Not crazy, but could perhaps be a bit more pythonic.

Maybe take the simplest case first:

[code]

Then support multiple targets

[code]

Then multiple operations

[code]

The support the most advanced case of multiple mutations on different roles:

[code]

[2016-07-27 22:03] elibixby commented on #2030
Actually I like this. Even better would be

[code]

and then in e.g. `resource_manager` we have:

[code]

[2016-07-27 22:06] elibixby commented on #2030
Awww damn. Jon and I double commented and I like his interface better.

However, I think 'owner' needs to be part of a resource specific method or enum, since roles aren't consistent across resources.

[2016-07-27 22:06] jonparrott commented on #2030
That's fine, food for thought.

[2016-07-27 22:23] elibixby commented on #2030
Alright, I have an idea of what I want things to look like now. Gonna write up an RST.

[2016-07-28 00:00] elibixby commented on #2030
described in #2031

[2016-07-28 00:00] #2030 closed

[2016-07-29 13:37] #2024 closed

[2016-07-29 15:23] zenlambda opened #2032 "'ImportError: No module named pwd' while trying to instantiate a pubsub client"
We're getting this error when we try to instantiate a PubSub client in our staging environment. This is strange because this code has worked fine for months until today.

Our staging application id is roobeta001.appspot.com.

[code]

[2016-07-29 15:31] zenlambda commented on #2032
We also have other application ids but this issue only occurs on roobeta001. Is there a change to the runtime being rolled out?

[2016-07-29 15:48] daspecster commented on #2032
Thanks for reporting @zenlambda!

The issue is due to Appengine not supporting python system modules.
This should be fixed soon though, but make sure you have gcloud-python 0.17.0 or higher installed.

See: https://github.com/GoogleCloudPlatform/gcloud-python/issues/1893#issuecomment-233047621

[2016-07-29 15:48] #2032 closed

[2016-07-29 16:24] jonparrott commented on #2032
The fix for `expanduser` should be out in the next release of GAE. In the meantime, you can try to monkeypatch `os.path.expanduser` in `appengine_config.py`:

[code]

[2016-07-29 17:07] zenlambda commented on #2032
@daspecster Thanks for the quick response and explanation.

@jonparrott Thanks for the workaround. I've tested it in our environment and it seems to work.

[2016-07-29 18:37] VelizarVESSELINOV opened #2034 "Storage API too complex to extract file path"
Datalab API examples: https://github.com/googledatalab/datalab/blob/f52335fe7bc596aa63f61230717c473caf6047de/dev/notebooks/Cloud%20Storage%20-%20Reading%20and%20Writing%20Files.ipynb

[code]

What it is the equivalent in gcloud-python?

[code]

[2016-07-29 19:39] jonparrott commented on #1240
Bump, we want to show this in the new Cloud Storage documentation. I've added a label to that end.

[2016-07-30 14:50] danielecook opened #2037 "Python documentation missing examples, etc"
It seems to have disappeared:

https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/datastore/client/client

[2016-07-30 16:08] dhermes commented on #2037
@danielecook How do you mean disappeared? They are different from the previous Sphinx docs, but the Sphinx docs are still up at http://gcloud-python.readthedocs.io/en/latest/

Maybe @daspecster can comment about the differences?

[2016-07-30 17:01] danielecook commented on #2037
Look at the content on that link I provided. There are no examples. There are no descriptions. This was not the case previously. Compare with the ruby language page. When I google 'gcloud-python' the first result is the link above - not the sphinx docs you provided. Why does documentation exist in multiple places? Thanks!

[2016-07-30 21:19] jgeewax commented on #2037
@daspecster : I thought that we fixed this so the examples were still there... If not, can we... fix it?

[2016-07-30 21:27] daspecster commented on #2037
Hey! So we're not pulling in the RST files and we have some examples in those.

I will have to check it out, but either we need to parse those usage RST files and find a place to put them in the doc site or we should move those over into the appropriate module doc strings. I think the latter would be the quickest.

The tricky part is going to be deciding where to put things in the new doc site.

[2016-07-30 21:39] daspecster commented on #2037
Actually I take that back,
The corresponding example mentioned above would be here http://gcloud-python.readthedocs.io/en/latest/datastore-client.html which has some example code in it.  So this could really be a bug, I'll check it out. If the examples are literalincludes then yeah I don't have that built into the generator.

[2016-07-31 18:02] danielecook opened #2038 "Weird errors with pyenv; File <string> key error"
Every time I invoke python I see a long list of google python modules reporting errors.

Error processing line 2 of /usr/local/var/pyenv/versions/2.7.11/lib/python2.7/site-packages/gax_google_logging_v2-0.7.12-py2.7-nspkg.pth:

  Traceback (most recent call last):
    File "/usr/local/var/pyenv/versions/2.7.11/lib/python2.7/site.py", line 152, in addpackage
      exec line
    File "<string>", lin

[2016-07-31 19:23] daspecster commented on #2038
Hello @danielecook!

There is a similar issue for another package on [stackoverflow](http://stackoverflow.com/questions/36757122/windows-7-pip-error-after-kivy-installation) and they suggest uninstalling and reinstalling.

Is this a fresh virtual environment that you've installed gcloud-python in?

[2016-08-01 02:50] danielecook commented on #2037
Thanks!

[2016-08-01 02:51] danielecook commented on #2038
That fixed it. Thanks!

[2016-08-01 02:51] #2038 closed

[2016-08-01 03:18] daspecster commented on #2038
Great to hear. Thanks for letting us know!

[2016-08-01 11:38] jgeewax commented on #2037
OK -- so long as we get snippets back. That is an absolute requirement here....

[2016-08-01 23:27] dhermes opened #2042 "Consolidate backoff code in system tests"
Came up in https://github.com/GoogleCloudPlatform/gcloud-python/pull/2035/files/f1a533fc41877fce9b7289be83a46a5d6a234769#r73066115

Currently in use in [`logging`][1] and [`bigtable`][2] system tests and likely to be related to #2040

@daspecster Care to tackle?

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/5a6ba14fda655761d7104f3c8ef14d88d881de24/system_tests/logging_.py#L39
[2]

[2016-08-01 23:54] daspecster commented on #2042
I'll give it a go!

On Monday, August 1, 2016, Danny Hermes <notifications@github.com> wrote:

--
Tom Schultz

[2016-08-01 23:56] dhermes commented on #995
@tseaver Can you help cut the final 2.6 release and update the docs / README / etc?

Today is DERP-recation day!

[2016-08-01 23:57] dhermes commented on #1607
Oops @tseaver meant to comment here

Can you help cut the final 2.6 release and update the docs / README / etc?

Today is DERP-recation day!

[2016-08-02 01:21] bgenchel commented on #1570
neither of the above solutions did anything for me. I installed every distribution of protobuf mentioned and couldn't get rid of the problem. Additionally, I uninstalled gcloud, which was what originally caused the problem to surface, and the problem still didn't go away. The pull request this issue links is of no help. No idea what those people are talking about.

[2016-08-02 01:26] dhermes commented on #1570
Can you provide a stacktrace indicating what has failed?

[2016-08-02 01:49] bgenchel commented on #1570
https://www.dropbox.com/s/oxo2vo6hrq2a8ai/Screenshot%202016-08-01%2018.47.40.png?dl=0

I got rid of the error messages by literally going into site packages and moving every problem file and directory into a temp directory elsewhere, but I'm not sure that's proper and if something will go wrong as a result.

[2016-08-02 01:49] bgenchel commented on #1570
apologies for the picture link; using tmux and having trouble copying and pasting text from the terminal

[2016-08-02 01:51] dhermes commented on #1570
This looks very familiar to #2038. Rather than removing every problem file, you should be able to `pip uninstall` or `conda uninstall`.

[2016-08-02 20:20] tseaver commented on #995
Sorry -- I got stuck with contractors today.  I'll tackle a release this evening.

[2016-08-02 20:21] tseaver commented on #1607
Sorry -- I got stuck with contractors today. I'll tackle a release this evening.

[2016-08-02 20:21] tseaver commented on #995
In favor or #1607.

[2016-08-02 20:21] #995 closed

[2016-08-02 22:05] daspecster opened #2043 "Documentation site generation strategy"
@dhermes brought up some questions about this in #2039.

Potentially using `sphinx-apidoc` to create an index that is the source of truth to build the site JSON from. Probably a lot more things as well.

[2016-08-02 22:07] dhermes commented on #2043
To clarify, I was not suggesting that we use `sphinx-apidoc` to create the index, but rather we move [our Sphinx docs][1] to using `sphinx-apidoc` so that the only documentation lives in modules. This way the two doc strategies will be closer to the same. (This doesn't cover our usage docs, especially those that live in multiple files.)

[1]: http://gcloud-python.readthedocs.io/en/latest/

[2016-08-03 01:08] daspecster commented on #1619
So now, in the systems-tests path we have `retry.py`.

[code]

[2016-08-03 02:27] daspecster commented on #1085
@dhermes, for point 4, I tried playing with `@Retry` in those methods and retrying didn't seem to work.

[code]

[2016-08-03 15:54] sharbison3 opened #2046 "Source code links from doc pages are broken."
Starting in, for example:
https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/logging/metric/metric
or
https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/client/client

All the links labeled "Source code"  seem to be broken. ("Not the page you're looking for")

Here's one of the bad links:
https://github.com/GoogleCloudPlatform/gcloud-python/blob/master//

[2016-08-03 16:31] dhermes commented on #1085
@daspecster When you say you tried, did you decorate the entire test case or just the sensitive part?

[2016-08-03 16:54] tseaver opened #2047 "'Client.list_sinks' returns a sink which can't be deleted"
The sink's name is `projects/citric-celerity-697/sinks/titanic`.  When I copy and paste that name from the [`project.sinks/list` API Try It page](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/projects.sinks/list) to the [`project.sinks/delete` API Try It page](https://cloud.google.com/logging/docs/api/ref_v2beta1/rest/v2beta1/projects.sinks/delete), it returns a 404.

Also, it

[2016-08-03 16:55] dhermes commented on #2046
Thanks for reporting @sharbison3

@daspecster Can you point us in the right direction?

[2016-08-03 17:22] arouzrokh opened #2049 "The landing page has rendering issues."
![image](https://cloud.githubusercontent.com/assets/11892468/17375017/41a43152-597d-11e6-9716-eefe4d1133f8.png)

[2016-08-03 17:22] tseaver commented on #2047
The `project.sinks/list` API is returning *non* qualified names when called via `gcloud.logging.client.Client.list_sinks`.  I have no idea why the "Try It!" page does not agree.

[2016-08-03 17:25] tseaver commented on #2047
Maybe the sink itself has the fully-qualified name as its short name?

[code]

[2016-08-03 17:32] tseaver commented on #2047
OK, that hypothesis was correct:

[code]

[2016-08-03 17:32] #2047 closed

[2016-08-03 17:35] tseaver commented on #1607
0.18.0 release PR is #2048.

[2016-08-03 17:51] dhermes commented on #2049
Thanks for filing @arouzrokh!

@daspecster @jgeewax Who is the CSS guru for `gcloud-common`?

[2016-08-03 18:04] dhermes commented on #1607
@tseaver OK to close this out it remains to remove 2.6 [from `setup.py`][1]?

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/891e4a8a2baf5604cbf0a767d0842e3d2130b960/setup.py#L56

[2016-08-03 18:05] dhermes commented on #1607
Or do we also remove the `datetime.total_seconds()` hack for 2.6?

[2016-08-03 18:05] dhermes commented on #1607
And do we also need a warning in `gcloud.__init__`?

[2016-08-03 20:03] daspecster commented on #2046
Yeah, I think I know what's wrong. I have to strip out everything except the lib path and I try splitting it on `gcloud`  but that's been flakey between environments(local vs travis).

[2016-08-03 20:25] daspecster commented on #2049
I'll make an issue on `gcloud-common` for this.  I tried it locally and dropping the `hero` font-size from 5.6em to 4.6em works for us but other languages might want it bigger.

[2016-08-03 20:26] tseaver commented on #1619
I added classes to handle two other cases in #2050:

- Retry until method result passes a predicate.
- Retry until method's `__self__` passes a predicate.

[2016-08-03 20:27] tseaver commented on #1085
#2050 fixes the "#4. Eventual consistency errors" case for me.

[2016-08-03 20:29] tseaver commented on #1104
#2050 tidies up the ad-hockery added earlier for these cases.

[2016-08-03 20:29] tseaver commented on #1829
Via #2007.

[2016-08-03 20:29] #1829 closed

[2016-08-03 21:04] daspecster commented on #1085
@dhermes just the asserts actually.

@tseaver fantastic! I'm excited for master to turn green again.

[2016-08-03 22:09] Linicks commented on #2049
I was just getting ready to create this issue :)

[2016-08-03 23:26] tswast opened #2053 "BigQuery: How do I specify to use Standard SQL instead of Legacy SQL"
https://googlecloudplatform.github.io/gcloud-python/stable/bigquery-client.html#gcloud.bigquery.client.Client.run_sync_query

I want to be able to set `useLegacySql` to false here: https://cloud.google.com/bigquery/docs/reference/v2/jobs/query#request-body

[2016-08-04 00:13] dhermes commented on #2053
@tswast I assume #1992 covers you? Release `0.18.0` just cut today.

[2016-08-04 00:14] #2053 closed

[2016-08-04 01:17] tswast commented on #2053
Nice. Thanks!

[2016-08-04 17:52] waleedka commented on #2013
I got this issue as well, yesterday, on Python 3.5, but today it's working. Looks like there is a new version on pip. Thank you.

I wanted to point out, though, that the gcloud home page still states the Py2.7 is required, and specifically asks the user to verify that they have 2.7 before continuing.
https://cloud.google.com/sdk/docs/quickstart-mac-os-x

[2016-08-04 17:54] dhermes commented on #2013
@waleedka RE: "the gcloud home page", `gcloud-python` != `gcloud`, but thanks for the heads up

[2016-08-04 18:15] #1607 closed

[2016-08-04 18:22] tseaver opened #2055 "Should we warn when installing / importing under an unsupported version of Python?"
See https://github.com/GoogleCloudPlatform/gcloud-python/pull/2051#issuecomment-237617068 and ff.

[2016-08-04 20:27] waleedka commented on #2013
Thanks for the clarification. I realized that as well when I tried to install the gcloud sdk on py3 and it didn't work :(

[2016-08-05 23:08] waprin opened #2059 "Asynchronous code in this library"
In #1942 I added an asynchronous logger to a feature branch using a background thread.

The background thread wants to do writes using the client, but it can't use the same client since it's not thread safe.

Since I couldn't copy the client object, I instead [awkwardly copy the http object](https://github.com/GoogleCloudPlatform/gcloud-python/pull/1942/files#diff-19967e3e515c6f2b117717b8bcb665f8R

[2016-08-05 23:18] waprin commented on #2059
cc @jgeewax if he has time to weigh in

[2016-08-05 23:26] waprin commented on #2059
Just had someone point out, if someone's trying to write more than 1/s and wants a buffer to protect them, then that buffer will grow indefinitely, unless they sometimes stop writing for the buffer to catchup. Which sounds like an unusual use case so maybe it's not a concern.

[2016-08-08 03:41] rimey commented on #2059
For monitoring, you'd want the writes to the service to be performed serially, typically at most about once a minute. How an application developer would want to accomplish that might depend on how they have chosen to handle concurrency in their application.

I think it will be important first of all to offer simple, synchronous client libraries that avoid addressing concurrency. Then we can consid

[2016-08-08 15:27] waprin commented on #2059
SGTM for monitoring first pass, still think it's something worth thinking about, esp given feedback we heard from people familiar with the other client libs.

[2016-08-08 16:33] tswast opened #2061 "Source code links are broken in the documentation"
I noticed this issue on this page.
https://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/bigquery/client/client

For example, the source code link for the `__init__` method links to https://github.com/GoogleCloudPlatform/gcloud-python/blob/master//home/travis/build/GoogleCloudPlatform/gcloud-python/.tox/json-docs/lib/python2.7/site-packages/gcloud/client.py/gcloud/client.py#L184

[2016-08-08 16:34] waprin commented on #2059
I am wondering if the simplest approach is:

1) Just merge the synchronous logging handler into this library
2) Just do the simplest Monitoring code in this library

Any other work can be done on separate repos that pull this repo in, that are more experimental and less official.

[2016-08-08 16:54] daspecster commented on #2061
There is a PR to fix this that hasn't been merged yet. I'm out of the country at the moment with spotty wifi. I can look at it tonight possibly though.

[2016-08-08 17:33] tseaver opened #2063 "What setup is required to get Translate system tests running?"
I have the Translate API enabled, but see the following when running `tox -e system-tests`:

[code]

[2016-08-08 17:39] tseaver opened #2064 "What setup is required to get Monitoring system tests running?"
The usage docs should document the setup process more clearly:  it is not as simple as enabling the API at https://console.developers.google.com/apis/api/cloudmonitoring/overview.

/cc @waprin

[2016-08-08 17:46] dhermes commented on #2063
`key=None` is the issue, there is a `GCLOUD_TESTS_API_KEY` env. var. set on Travis

[2016-08-08 17:55] tseaver commented on #2063
The usage docs should probably point to the API docs for setting up the key (why doesn't the API support service accounts again?)

[2016-08-08 17:57] waprin commented on #2064
Will review/fix this.

[2016-08-08 18:04] tseaver commented on #1100
7.  Conflict deleting bucket in module teardown:

[code]

Found during a local run of `tox -e system-tests`.

[2016-08-08 18:30] rimey commented on #2064
That's the wrong API. You want the Google Monitoring API.

Ken

On Mon, Aug 8, 2016 at 1:57 PM, Bill Prin <notifications@github.com> wrote:

[2016-08-08 18:30] tseaver commented on #2064
Are there words for the kind of failure that is?

[2016-08-08 19:13] herbertrlee commented on #1917
@dhermes - Using gcloud 0.18.0 (previously 0.17.0), oauthclient 3.0.0 (previously 2.2.0), and grpcio 1.0.0rc1 (previously 0.15.0), I no longer seem to be able to reproduce this issue.  I do still occasionally get auth errors, but I recover from them on subsequent attempts without needing to redeploy my app, which I can handle on my side.  Thanks for your help and patience!

[2016-08-08 19:22] dhermes commented on #1917
w00t! Thanks for the reply. Feel free to ping this issue if the problem comes back.

[2016-08-08 19:22] #1917 closed

[2016-08-08 20:33] kelvinabrokwa commented on #1927
@dhermes @tseaver thank you!

[2016-08-08 21:31] dhermes commented on #1100
That's from the eventual consistency of listing objects. Using `force=True`

- gets a list of all objects / blobs
- deletes each object / blob
- deletes the bucket

but if the list isn't truly comprehensive, the bucket deletion will fail with the 409 conflict you showed. Luckily just trying `bucket.delete(force=True)` again will **eventually** succeed.

[2016-08-08 21:36] dhermes commented on #2027
See #2062

[2016-08-09 01:03] patrick-ogrady opened #2066 "Pip Install Error"
Collecting gcloud
  Downloading gcloud-0.18.0.tar.gz (435kB)
Collecting httplib2>=0.9.1 (from gcloud)
  Downloading httplib2-0.9.2.zip (210kB)
Collecting googleapis-common-protos (from gcloud)
  Downloading googleapis-common-protos-1.2.0.tar.gz
Collecting oauth2client>=2.0.1 (from gcloud)
  Downloading oauth2client-3.0.0.tar.gz (77kB)
Collecting protobuf!=3.0.0.b2.post1,>=3.0.0b2 (from gcloud)
  D

[2016-08-09 01:26] tseaver commented on #2066
/cc @bjwatson, @geigerj are you guys removing historical releases?  That is a really poor practice:  it breaks your users.  Please don't remove them unless there is a *really* good reason, i.e. *force majeur* such as a DMCA takedown, or something similar.  PyPI won't let you re-upload them, which means that nobody can use gcloud 0.18.0 (just released last week) ever again.

#2065 should fix the is

[2016-08-09 01:43] tseaver commented on #2066
Note that our pin `< 0.8dev`, was actually *correct*:  the 0.8.0 `gax-google-<foo>` releases are *not* backward-compatible:  they move the generated API wrappers from `google.<foo>` to `google.cloud.<foo>`.

[2016-08-09 04:09] geigerj commented on #2066
Really sorry for the breakage. I'm pretty sure I accidentally took down logging `0.7.12` earlier today. We certainly don't intend to remove historical releases.

[2016-08-09 16:58] tseaver commented on #2066
@patrick-ogrady Can you please try again with the 0.18.1 release I just made?

- https://github.com/GoogleCloudPlatform/gcloud-python/releases/tag/0.18.1
- https://pypi.python.org/pypi/gcloud/0.18.1

[2016-08-09 17:14] dhermes commented on #2063
@jgeewax

----

From [usage doc][1]

![screen shot 2016-08-09 at 10 10 19 am](https://cloud.githubusercontent.com/assets/520669/17525863/85d8f2fe-5e19-11e6-86f1-73a79ff9b2ed.png)

which links out to https://cloud.google.com/translate/v2/translating-text-with-rest#auth which doesn't seem to exist anymore. Maybe we could use https://support.google.com/cloud/answer/6158862

[1]: http://gcloud-python.

[2016-08-09 17:55] dhermes opened #2070 "Consider using tox-travis"
https://pypi.python.org/pypi/tox-travis

[2016-08-09 18:15] dhermes commented on #2042
@tseaver Is this done?

[2016-08-09 18:43] tseaver commented on #2070
:+1: It parallelizes the test environments, which is a good thing.

[2016-08-09 18:44] tseaver commented on #2042
I believe so:  #2050 landed what seems to be needed.

[2016-08-09 18:44] #2042 closed

[2016-08-09 19:35] dhermes commented on #2070
If it uses the Travis build matrix it's both good and bad. The Travis build matrix counts each env. as a separate build so we might get throttled.

[2016-08-09 20:07] tswast opened #2072 "Docs are missing information."
Compare http://googlecloudplatform.github.io/gcloud-python/0.17.0/bigquery-client.html and http://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/bigquery/client/client

There is a ton of information missing now. For example, I don't see any information about what parameters the constructor takes.

Also, the links to the "Using the API" pages have completely disappeared.

[2016-08-09 20:08] tswast commented on #2061
Closing this as a duplicate of https://github.com/GoogleCloudPlatform/gcloud-python/issues/2046.

[2016-08-09 20:08] #2061 closed

[2016-08-09 20:08] tswast commented on #2072
Closing this as a duplicate of https://github.com/GoogleCloudPlatform/gcloud-python/issues/2037.

[2016-08-09 20:08] #2072 closed

[2016-08-09 20:10] tswast commented on #2037
From the bug #2072 I closed as a duplicate of this one:

Compare http://googlecloudplatform.github.io/gcloud-python/0.17.0/bigquery-client.html and http://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/bigquery/client/client

There is a ton of information missing now. For example, I don't see any information about what parameters the constructor takes.

Also, the links to the "Us

[2016-08-09 20:13] tswast opened #2073 "[Documentation Issue] Links to previous versions are missing."
I mentioned this in https://github.com/GoogleCloudPlatform/gcloud-python/pull/2069.

The links to previous versions of the documentation are now missing. http://googlecloudplatform.github.io/gcloud-python/0.17.0/ versus http://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud

[2016-08-09 20:19] Kenobinai opened #2074 "[Documentation Issue] load_table_from_storage creates error"
Page Name: bigquery-usage
Release: 0.17.0

Following the documentation, after job.begin the following error happens:

[code]

[2016-08-09 20:27] dhermes commented on #2074
@Kenobinai how did you create the `job`, the `destination` is supposed to be an object from the library but it is just a unicode string

[2016-08-09 20:28] dhermes commented on #2073
Thanks for the report!

[2016-08-09 20:30] dhermes commented on #1619
@tseaver What about this issue? And the novel failures?

[2016-08-09 20:30] Kenobinai commented on #2074
@dhermes, I followed the documentation:

client = bigquery.Client()
job = client.load_table_from_storage('bq_load', _BQtableName, 'gs://sky/uk/exits/test_upload.csv')
job.skip_leading_rows = 0
job.source_format = 'CSV'
job.write_disposition = 'WRITE_APPEND'
job.begin()

[2016-08-09 20:34] dhermes commented on #2074
Thanks. Your issue is your use of a unicode string as `_BQtableName`, the `destination`. See the docstring:

[code]

[2016-08-09 20:34] #2074 closed

[2016-08-09 20:57] tseaver commented on #1619
I think we should create separate issues for the failures we still see, and resolve them one by one as we add backoff/retry  for them.  E.g., today's [BQ failure](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151011041#L609) should be its own issue, rather than reopening #1104.  Likewise todays [happybase failure](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/1510

[2016-08-09 20:59] dhermes commented on #1619
@tseaver 500, 502 and 503 are just unavoidable for a general service. `gcloud-node` just retries them [by default][1]

[1]: https://github.com/GoogleCloudPlatform/gcloud-node/blob/2613bccdc1d211f07b85fe72fdb2464ecc00ad0b/packages/common/src/util.js#L280

[2016-08-09 20:59] tseaver opened #2075 "BQ system tests: test_create_dataset failed, needs retry"
From https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151011041#L609:

[code]

[2016-08-09 21:03] tseaver opened #2076 "Happybase system test: setupModule failure"
From: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151011041#L710

[code]

[2016-08-09 21:03] tseaver commented on #1619
@dhermes #2075 tracks the BQ failure.  #2076 tracks the Happybase one.  I assigned the first to me, and the second to you, somewhat arbitrarily.

[2016-08-09 21:04] #1619 closed

[2016-08-09 21:29] tseaver opened #2077 "Pubsub sytem test: test_message_pull_mode_e2e only fetches one message"
From: https://github.com/GoogleCloudPlatform/gcloud-python/issues/1085, point 3)

[code]

@tmatsuo suggested that we retry the pull until we get the expected two messages.

[2016-08-09 21:32] tseaver commented on #1085
Point 3) now tracked in #2077.  Point 1) is really the same issue, with the failure in parsing the empty response already fixed in #899.  Point 2) is also a symptom of #2077.

[2016-08-09 21:32] #1085 closed

[2016-08-09 21:34] bjwatson commented on #1944
@tseaver Can you see if this is still an issue? Thanks!

[2016-08-09 21:35] tseaver commented on #1100
4) and 7) addressed via 00d42d895aba892b96ea9f4d393742aaa8cd174a.

[2016-08-09 21:38] tseaver commented on #1796
@daspecster Those BigQuery rate limiting issues are fixed via the backoff/retry stuff added in #2050.

[2016-08-09 21:38] #1796 closed

[2016-08-09 21:45] dhermes commented on #1100
@tseaver Since these reports are stale, let's just close out and then address as new failures occur

[2016-08-09 21:50] dhermes commented on #2076
That's a new one. Will look into it.

[2016-08-09 21:56] #1100 closed

[2016-08-09 21:59] tseaver opened #2079 "Pubsub system test: test_fetch_delete_subscription_w_deleted_topic fails to find all subscriptions"
From https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151011241#L623:

[code]

[2016-08-09 22:03] tseaver opened #2080 "Pubsub system test: test_fetch_delete_subscription_w_deleted_topic does not see orphan w/o topic"
From:  https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151011241#L822

[code]

[2016-08-09 22:15] tseaver commented on #1944
The 0.8.0 wrappers for pubsub/logging still don't work on Py3k.  See this [gist](https://gist.github.com/tseaver/128f8c95b31d5aa32fb7c8930370f5bb) for details.

[2016-08-10 00:03] tswast opened #2083 "[BigQuery] Feature Request - An easy way to get a QueryResults from a QueryJob"
Problem:

There isn't an easy way to fetch the row results of a `client.run_async_query(job_id, query)` call.

I have to do some yucky stuff to get it to work in a sample I'm working on.

[code]

Possible Solutions:

- Modify constructor for QueryResults or add a class function to take an optional job object.
- Add a method to QueryJob `get_query_results()` that does this same yuckiness (modifying

[2016-08-10 00:04] tswast commented on #2083
Note: my current "solution" of modifying the internal `_properties` works, but it's not something I'd want to include in our docs.

[2016-08-10 00:05] dhermes commented on #2083
Also seems a `wait_for_job` might be something for us to provide?

[2016-08-10 02:34] dt4k commented on #1935
The same issue happened to me but fixed by installing ipython into virtualenv.
I noticed I was launching ipython not of the virtualenv and try importing.

[2016-08-10 04:52] pdknsk commented on #2034
```item.name```

[2016-08-10 15:42] tswast commented on #2083
Nah, not necessarily. `wait_for_job` is more for the sample. It makes an asynchronous call into a synchronous one. ;-)

[code]

This probably isn't the best way to do it, and if someone was using a real asynchronous framework like gevent, twisted, or tornado, they'd probably want to do something slightly different.

[2016-08-10 16:41] VelizarVESSELINOV commented on #2034
Is it documented somewhere? https://googlecloudplatform.github.io/gcloud-python/stable/storage-blobs.html

[2016-08-10 17:07] dhermes commented on #2034
@VelizarVESSELINOV it sounds like a request for classes to document their defined attributes?

[2016-08-10 19:21] geigerj commented on #1944
I've uploaded 0.8.1 wrappers for logging and pubsub (with other APIs to follow) that should fix the JSON load error. Please try again and update.

(I wasn't able to repro; on the last step, I'm getting a `Missing variables: GOOGLE_APPLICATION_CREDENTIALS` even after following the instructions at https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/CONTRIBUTING.rst#running-system-tests

[2016-08-10 19:28] tseaver commented on #1944
@geigerj did you set the `GCLOUD_TESTS_PROJECT_ID` variable?

[2016-08-10 19:30] geigerj commented on #1944
Yup, both `GCLOUD_TESTS_PROJECT_ID` and `GOOGLE_APPLICATION_CREDENTIALS ` are set.

[2016-08-10 19:31] tseaver commented on #1944
With the `0.8.1` wrappers, both `pubsub` and `logging` system tests pass for me on Python 3.4 with `GCLOUD_ENABLE_GAX` set:

[code]

[2016-08-10 19:32] tseaver commented on #1944
@geigerj Can you show the failing output?  And the result of `$ env | grep GCLOUD`?

[2016-08-10 19:36] geigerj commented on #1944
Excellent, I'm glad the tests are passing now.

I've figured my problem out. It was my fault: the path that I stored in `GOOGLE_APPLICATION_CREDENTIALS` was wrong. (Although, the error message `Missing variables: GOOGLE_APPLICATION_CREDENTIALS` doesn't distinguish between the variable being unset and the credentials file not being found.)

[2016-08-10 19:40] tseaver opened #2084 "system_test_utils: Distinguish between missing and invalid GOOGLE_APPLICATION_CREDENTIALS"
See: https://github.com/GoogleCloudPlatform/gcloud-python/issues/1944#issuecomment-238979486

/cc @geigerj

[2016-08-10 19:40] tseaver commented on #1944
Testing envvar issue tracked at #2084.

[2016-08-10 19:40] #1944 closed

[2016-08-10 19:42] dhermes commented on #2084
Is this our "error message" problem or one in `oauth2client`?

[2016-08-10 20:23] tseaver commented on #2083
@tswast Thanks for the report!  As it sits today, `QueryResults` is intended to model a synchronous query:  it surfaces the `job` property only once that has been populated from the server during its `run()` or `fetch_data()` methods.

It looks as thought we need to split out the part which initiates the synchronous query and the bits which allow fetching the results, to make it clearer how the tw

[2016-08-10 21:22] Capstan commented on #1960
tseaver@ I've filed an internal bug about Rewrite docs not saying enough about how to use it with customer-supplied encryption keys. I'm not entirely sure why it couldn't have been added to the post body, but I do know that ensuring that no key is ever persisted anywhere is of paramount importance and may have guided that decision.

[2016-08-11 13:05] tseaver commented on #2084
It is [our error handling](https://github.com/GoogleCloudPlatform/gcloud-python/blob/27f0af52c371373440ae35f983b9e2a7e6db8e8f/system_tests/system_test_utils.py#L54).

[2016-08-11 13:06] tseaver commented on #2080
Again [yesterday](https://travis-ci.org/GoogleCloudPlatform/gcloud-python#L635).

[2016-08-11 15:25] dhermes commented on #1391
@tseaver Closing this since our `retry` stuff has picked up steam

[2016-08-11 15:25] #1391 closed

[2016-08-11 15:25] dhermes commented on #2084
@tseaver I can handle this, on it now

[2016-08-11 17:36] dhermes commented on #1181
@jgeewax we can close this out right? API removed in #1750

[2016-08-11 17:36] #1181 closed

[2016-08-11 17:36] dhermes commented on #1789
@jgeewax Bump

[2016-08-11 17:36] dhermes commented on #1591
@tseaver This has gone stale. Worth keeping open?

[2016-08-11 17:46] tseaver opened #2091 "Logging system tests: gRPC/GaxError for 'NotFound' in tearDown / logger.delete"
From: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151551907#L647-L675

[code]

[2016-08-11 17:50] tseaver opened #2092 "Monitoring system tests: Collision on teardown / group.delete"
From: https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151551907#L1069-L1079

[code]

[2016-08-11 17:51] tseaver opened #2093 "Monitoring system tests: Collision on group.create"
From:  https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/151551907#L1081-L1091

[code]

[2016-08-11 17:54] dhermes commented on #2093
@rimey Can you weigh in here?

[2016-08-11 17:57] dhermes commented on #2091
@tseaver Looks like `StatusCode.NOT_FOUND` is an eventual consistency error?

[2016-08-11 18:30] tseaver commented on #2093
Smells like we just need to add a `RetryErrors(ServiceUnavailable)` here.

[2016-08-11 18:33] tseaver commented on #2091
We are already retrying for `gcloud.exceptions.NotFound`:  we just need to update our GAX helper to map the gRPC `NotFound` onto that type.

[2016-08-11 18:52] tseaver commented on #2076
I think we have fixes in play for all the other flaky errors:  it would be good to have a fix for this one, too.

[2016-08-11 19:03] dhermes commented on #2091
OK SGTM

[2016-08-11 19:09] dhermes commented on #2076
Sorry haven't had a chance yet. Will try to tackle this afternoon.

[2016-08-11 19:09] dhermes commented on #1089
@tseaver Closing this until we see more in the wild

[2016-08-11 19:09] #1089 closed

[2016-08-11 19:12] tseaver commented on #2093
I think #2095 addresses this error.

[2016-08-11 19:34] #2084 closed

[2016-08-11 21:08] #2091 closed

[2016-08-11 21:09] #2075 closed

[2016-08-11 23:33] rimey commented on #2093
@dhermes I'm having trouble assigning this issue to @supriyagarg. Does she need to be a member of GoogleCloudPlatform?

[2016-08-11 23:44] rimey commented on #2093
I think she needs to be a member of the GoogleCloudPlatform "Contributors" team.

[2016-08-12 00:22] rimey commented on #2092
"503 Write collision, please retry" is slightly surprising here. We'll look into it, but it would be good to reproduce this in isolation, and also determine if it is deterministic. Tomorrow.

[2016-08-12 00:23] rimey commented on #2093
See my comment on #2092. This error is slightly surprising. Let's find out more about in exactly what circumstances it occurs, and whether it is deterministic.

[2016-08-12 00:32] dhermes commented on #2092
Thanks. We were surprised too; at the least we'd expect a well-formed error "collision" to come with a "409 Conflict" status code. It is not deterministic; at least the determining factors aren't ones we know of, since it doesn't fail on every test run.

[2016-08-12 00:44] rimey commented on #2092
By my reading, a 409 would not be appropriate for an error that says "please retry."

[2016-08-12 14:54] cwbeck opened #2098 "Issue uploading from file"
There seems to be a fairly major issue with the `upload_from_file` method.

[code]

We get the following output.

[code]

[2016-08-12 16:34] dhermes commented on #2098
Whoa! Is that consistent? The response not containing `configuration` seems like a deal-breaker.

Could you run

[code]

and actually inspect the contents of `resource` on a failure?

[2016-08-12 16:58] dhermes commented on #2092
Well a 503 Service Unavailable isn't either. I'm not sure why the suggestion of retry overrides the rough equivalence "collision" == "conflict". What 4xx code would you find more appropriate?

[2016-08-12 17:41] rimey commented on #2092
503 Service Unavailable really is the code we are supposed to return for a failed request that can be retried as-is. Give us time to investigate. Then we can consider whether the error code and message text are optimal.

[2016-08-12 17:46] dhermes commented on #2092
SGTM

[2016-08-12 21:56] wbolster commented on #1762
`<sarcasm>`

i am very happy to see that google is taken appropriate steps to resolve this issue in such a timely manner. that "fix asap" label really helped.

`</sarcasm>`

to be clear: google is violating my software's license, and it can be fixed by JUST COPY AND PASTING SOME STUFF INTO YOUR DOCS as i mentioned before in https://github.com/GoogleCloudPlatform/gcloud-python/issues/1762#issuecomm

[2016-08-12 21:58] wbolster commented on #1762
ping @jgeewax @dhermes @jonparrott

[2016-08-12 22:03] jonparrott commented on #1762
@wbolster after some conversations with our lawyers, we need to actually split this into a completely separate package.

@jgeewax any reservations?

@dhermes @tseaver which of you wants to own doing this? Let me know if there's anything you need from our end to make this happen.

This is *highest priority*.

[2016-08-12 22:22] wbolster commented on #1762
splitting code into separate packages is a purely technical choice. there is no need for it from a legal perspective as happybase's license allows you to simply copy/paste whatever parts you like... as long as you adhere to its license terms. :)

... and adhering to happybase's very permissive license really only requires mentioning its license information (see my earlier comment above) in the app

[2016-08-12 22:26] jonparrott commented on #1762
@wbolster that may be the case, but our lawyers are the type to exercise and abundance of caution. So that there is no question, they would prefer we distribute the happybase portion of this separate and under the same license as the upstream happybase project. This is to protect both this project and your project.

We're trying to do the right thing here and it's sometimes difficult to make sure

[2016-08-13 02:51] #2076 closed

[2016-08-13 16:39] jgeewax commented on #1181
Yep. This is fine.

[2016-08-13 16:41] jgeewax commented on #1762
I'm 100% fine with this. I thought we updated the license immediately...
Can we do that like.. now? And then worry about splitting out packages?

[2016-08-13 16:42] jgeewax commented on #1762
Just to be abundantly clear: this has a ticking clock starting now. If it's not resolved by Fri Aug 19th I'm going to fix it the shitty way by deleting a bunch of code. :(

[2016-08-15 04:45] aatreya commented on #557
@pcostell wrote:

Is anyone actually working on this? Do you expect it'll be available in the next couple months?

(We'd like to use Python 3 in the flexible environment but want to be able to take advantage of caching, transactions, and other features of NDB.)

[2016-08-15 08:27] cwbeck commented on #2098
@dhermes the reason seems to be due to lack of schema. I made the assumption schema would be fetched automatically into the model, but it appears not to be the case.

[code]

Passing in schema of the table fixes the issue. Example given in https://googlecloudplatform.github.io/gcloud-python/stable/bigquery-usage.html shows the schema being added, but I assumed here this was only needed for ```crea

[2016-08-15 14:47] daspecster commented on #2037
Sorry, I just got back in the US where the internet works most of the time haha.
@tswast thanks for the link, I'll see about the params as well.

[2016-08-15 14:49] daspecster commented on #2073
I think this is an error in logic in my generate shell script. I'll check this out tonight.

[2016-08-15 15:17] daspecster commented on #1762
@jgeewax @wbolster @jonparrott can we add this to the end of https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/LICENSE?

[2016-08-15 15:28] daspecster commented on #1762
@wbolster, @jonparrott @dhermes see https://github.com/GoogleCloudPlatform/gcloud-python/pull/2101

[2016-08-15 15:30] jonparrott commented on #1762
@daspecster that's insufficient according to our lawyers.

[2016-08-15 15:36] daspecster commented on #1762
Ok, what's required to split it out?

On Monday, August 15, 2016, Jon Wayne Parrott <notifications@github.com>
wrote:

--
Tom Schultz

[2016-08-15 15:56] jonparrott commented on #1762
Separate repository. We can publish it as its own pypi package.

[2016-08-15 16:14] daspecster commented on #1762
@jonparrott could we update the license for now and then work on splitting it out? Seems like that might make everyone happy. Unless the lawyers think that would create new problems?

[2016-08-15 16:55] jonparrott commented on #1762
@daspecster our lawyers told us we had two options: (1) relicense this entire project under HappyBase's license, or (2) split out the happybase portion into its own repository and library.

[2016-08-15 16:56] daspecster commented on #1762
Ah ok, interesting. Thanks for the clarification!

On Mon, Aug 15, 2016 at 12:55 PM, Jon Wayne Parrott <
notifications@github.com> wrote:

--
Tom Schultz

[2016-08-15 17:01] dhermes commented on #2066
@patrick-ogrady I'm closing out as fixed. If the issue still persists, please let us know.

[2016-08-15 17:01] #2066 closed

[2016-08-15 17:02] dhermes commented on #2055
@jgeewax Can you weigh in here?

[2016-08-15 17:03] wbolster commented on #1762
are you sure your lawyers understand that happybase is NOT under a viral license and hence never infects surrounding code?

i mean, it's all up to you, but to me it sounds like severe overkill and a huge effort, which is not required at all to address the issue at hand.

really, copy, paste, commit, and everybody will be happy.

[2016-08-15 17:03] dhermes commented on #2028
@znorris Are you still having this issue? When you say "Upload duration: 3 hours 10 minutes", does that mean for a single request or for a batch of them?

[2016-08-15 17:07] jonparrott commented on #1762
Within a reasonable margin of error, yes.

Engineers, sure, but not the lawyers, who happen to be the deciders here.

I appreciate your patience and willingness to work with us. I don't anticipate the idea of having separate libraries that are built on top of gcloud-python to be unique to this happybase part. I'd anticipate us having several libraries like this before it's all said and done. So, w

[2016-08-15 17:43] daspecster commented on #1762
So we need a new repo under GoogleCloudPlatform that is named something like `google-cloud-python-bigtable-happybase`? Which isn't a great name.

Not sure this would jive with https://github.com/GoogleCloudPlatform/gcloud-common/issues/159.
Since it assumes that the packages are still in the same language based repo.

i.e. https://github.com/GoogleCloudPlatform/gcloud-ruby

Should we just drop it

[2016-08-15 17:46] jonparrott commented on #1762
Name is up to you guys.

Not sure how it would mesh with that. You could make the a namespace package `google.cloud.happybase` and actually install it in this package's documentation dependencies. That's a little weird, but might be a decent short term solution.

[2016-08-15 17:54] daspecster commented on #1762
@dhermes do you have permissions to create new repositories or maybe @omaray?

[2016-08-15 18:46] corydolphin commented on #557
@aatreya did you make any progress or exploration here? I hit the same roadblock and challenge.

[2016-08-15 19:35] waprin opened #2102 "Merging logging-stdlib-handling-feature into master"
@tseaver @dhermes @jgeewax tell me what needs to be done.

The feature branch approach is not really working either.

[2016-08-15 20:02] dhermes commented on #1978
Using the [form][1] I created

- https://pypi.python.org/pypi/google-cloud
- https://pypi.python.org/pypi/google-cloud-datastore
- https://pypi.python.org/pypi/google-cloud-storage
- https://pypi.python.org/pypi/google-cloud-pubsub
- https://pypi.python.org/pypi/google-cloud-bigquery
- https://pypi.python.org/pypi/google-cloud-bigtable
- https://pypi.python.org/pypi/google-cloud-logging

with the

[2016-08-15 20:04] dhermes commented on #1978
@omaray I held off on grabbing the equivalents for `dns`, `error_reporting`, `monitoring`, `resource_manager` and `translate`, but I can do that as well if you like. I'm not sure if underscores are allowed in PyPI package names?

[2016-08-15 20:10] jonparrott commented on #1978
@dhermes you can use underscores but it's preferable to use `-` for consistency.

`google-cloud-error-reporting` reads better than `google-cloud-error_reporting`, even if the import path is `google.cloud.error_reporting`.

[2016-08-15 21:02] waprin commented on #2102
@dhermes  said he can set up time on GVC with me to sort some of this stuff out on Wednesday so we'll hold off for that convo.

[2016-08-16 08:52] sdcooke commented on #2066
Just to confirm - I was having the same issue and 0.18.1 fixed it. Thanks!

[2016-08-16 16:02] jgeewax commented on #1762
I don't have permission. @omaray can you go figure out who can create a new repo called google-cloud-python-bigtable-happybase ? (Yes, it's long, but most people will get it for free via pip install google-cloud or google-cloud-bigtable)

[2016-08-16 17:51] edgartanaka opened #2104 "There are broken links for source code"
Broken links here http://googlecloudplatform.github.io/gcloud-python/#/docs/master/gcloud/storage/client/client
when clicking to see source code

[2016-08-16 18:01] daspecster commented on #2104
Thanks for reporting!
This is a duplicate of #2046, and will be fixed by #2052.

[2016-08-16 18:06] daspecster commented on #2104
Actually I'll leave this open and have the PR close it when it's merged. My bad!

[2016-08-16 18:30] eddavisson opened #2105 "Update gcloud-python/datastore to use the v1 API"
The v1 API is now available.

The protos are identical (just a different package name). The only behavioral change is captured in the release notes:
https://cloud.google.com/datastore/release-notes

[2016-08-16 20:08] tseaver commented on #2080
Still [failing](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152767748#L822-L828) on one of two runs after the merge of #2086.

[2016-08-16 20:10] tseaver commented on #2079
Passed on [both](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152767748#L614) [runs](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152767748#L818) on Travis after merging #2086.

[2016-08-16 20:10] #2079 closed

[2016-08-16 20:10] tseaver commented on #2077
Passed on [both](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152767748#L614) [runs](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152767748#L818) on Travis after merging #2086.

[2016-08-16 20:10] #2077 closed

[2016-08-16 21:48] dhermes commented on #1978
Thanks @jonparrott.

@tseaver @jgeewax @omaray, shall we use `google-cloud-core` for the code shared by all modules?

[2016-08-16 21:49] dhermes commented on #2105
On it

[2016-08-16 21:54] tseaver commented on #1978
`google-cloud-core` SGTM.

[2016-08-16 22:03] dhermes commented on #1978
:+1: Just created https://pypi.python.org/pypi/google-cloud-core

[2016-08-16 22:07] dhermes commented on #1762
Is `google-cloud-python-happybase` not clear? Ditto on the PyPI package name?

[2016-08-16 22:11] jonparrott commented on #1762
I'm good with `google-cloud-python-happybase`.

[2016-08-17 12:46] jgeewax commented on #1762
The clock is almost out on this... Who is getting that new repo created ?
@omaray ?

[2016-08-17 15:45] dhermes commented on #2102
@daspecster I don't think this is what you meant to close with #2052.

[2016-08-17 15:55] daspecster commented on #2104
Should be fixed with the next docs generation per #2052.

[2016-08-17 15:55] #2104 closed

[2016-08-17 15:55] daspecster commented on #2102
No, it is not. It was #2104.

[2016-08-17 16:00] tseaver commented on #1762
I can work on setting up the new repository locally.  I believe the repo name should be `google-cloud-python-happybase`, but the PyPI name should be `google-cloud-happybase`.

[2016-08-17 16:07] daspecster commented on #1762
@tseaver, @dhermes sounded like him and @jonparrott had already started on this. Is there a confirmation?

[2016-08-17 16:13] dhermes commented on #1762
I haven't started. Waiting for @omaray, @jonparrott or someone else with Google permission to create the new repo. (I used to be able to but no longer do.)

[2016-08-17 16:16] dhermes commented on #1978
Just created https://pypi.python.org/pypi/google-cloud-happybase for #1762

[2016-08-17 16:16] dhermes commented on #1762
Just created https://pypi.python.org/pypi/google-cloud-happybase

[2016-08-17 16:16] #633 closed

[2016-08-17 16:17] dhermes commented on #212
@tseaver Do we have an "ALL THE DOCS SNIPPETS" issue that supersedes this one

[2016-08-17 16:21] daspecster commented on #2046
Should be fixed from #2052. Thanks for reporting @sharbison3!

[2016-08-17 16:21] #2046 closed

[2016-08-17 16:30] jonparrott commented on #1762
I'm gonna reach out to our devrel github admin @elibixby to get it created.

[2016-08-17 17:21] tseaver commented on #1762
@dhermes, @daspecster, @jgeewax I have a version [pushed under my account](https://github.com/tseaver/google-cloud-python-happybase), with the license text from the Happybase project.  `tox` passes everything:  I'm still waiting to see Travis green.

[2016-08-17 17:23] omaray commented on #1978
Thanks @dhermes. All sgtm. Not sure if we added speech, vision, and language - but I guess might as well.

[2016-08-17 17:24] jonparrott commented on #1762
Thanks, @tseaver. Can you go ahead and add me and @elibixby as admins on that repo? We'll transfer it to GoogleCloudPlatform.

[2016-08-17 17:26] omaray commented on #1762
Thanks @jonparrott.

[2016-08-17 17:27] omaray commented on #1762
... for future reference I don't have permissions on the org to create repos... but we know who does.

[2016-08-17 17:31] tseaver commented on #1762
@jonparrott I've sent invites to the two of you, and will make you admins as soon as they are completed.

[2016-08-17 17:38] tseaver commented on #1762
@jonparrott I see you have accepted the invite, but I don't seem to have the ability to give you anything other than "Collaborator" access (no "Teams" on personal repos).

[2016-08-17 17:38] jonparrott commented on #1762
@tseaver yeah hang tight.

[2016-08-17 17:39] tseaver commented on #1762
If I have push access to the new "canonical" repo, I can just push there and delete my repo.

[2016-08-17 17:42] jonparrott commented on #1762
Canonical repo is setup at https://github.com/GoogleCloudPlatform/google-cloud-python-happybase

All admins here should have admin there.

I synced the canonical one with yours, so feel free to go ahead and delete yours.

Thanks everyone!

[2016-08-17 18:44] tseaver commented on #1968
Via #1996.

[2016-08-17 18:44] #1968 closed

[2016-08-17 18:48] tseaver commented on #1762
PR #2109 removes the Happybase-related code from this repository.

I also created an [issue in the new repo](https://github.com/GoogleCloudPlatform/google-cloud-python-happybase/issues/4) for the one open Happybase-releated issue here (#1546).

[2016-08-17 19:00] tseaver commented on #2080
W00t!  We have two passing post-merge builds after the merge of #2106:

- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/153004550
- https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/153028304

[2016-08-17 19:06] tseaver opened #2111 "'test_list_subscriptions' barfs sporadically due to gRPC 'UNAVAILABLE' error"
`topic.exist()` raises a new [flaky error](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/152815281#L627-L653), likely due to the cutover to use gRPC by default.

[code]

[2016-08-17 19:07] #1762 closed

[2016-08-17 19:18] jonparrott commented on #1762
@wbolster thank you for your patience. Is everything acceptable to you? Please let us know if there's anything else you feel we should do.

[2016-08-17 19:51] tseaver opened #2112 "Expose V1 entity versions / conflict detection"
From:
- https://github.com/GoogleCloudPlatform/gcloud-python/pull/2107/files#r75191382
- https://github.com/GoogleCloudPlatform/gcloud-python/pull/2107/files#r75192591
- https://github.com/GoogleCloudPlatform/gcloud-python/pull/2107/files#r75191517

See the docs for the new (seemingly related) features:
- [`EntityResult.version`](https://cloud.google.com/datastore/reference/rest/v1/EntityResult#FI

[2016-08-17 19:56] #2105 closed

[2016-08-17 19:57] #2049 closed

[2016-08-17 19:58] dhermes commented on #2111
Aw man :(

[2016-08-17 19:58] dhermes commented on #2080
w00t!

[2016-08-17 20:24] tseaver opened #2113 "'datastore.connection.Connection' API wrapper methods are covered only indirectly"
See:  https://github.com/GoogleCloudPlatform/gcloud-python/pull/2097#issuecomment-240533602

[2016-08-17 20:30] #2037 closed

[2016-08-17 20:38] daspecster opened #2114 "Invalid JSON formatting for docsite toc"
I think this might be from removing happybase but I'm looking into it.

[2016-08-17 20:44] #2114 closed

[2016-08-17 21:23] tseaver commented on #212
@dhermes Not that I know of.  I got sidetracked about halfway through Bigquery.

[2016-08-17 21:53] waprin opened #2116 "Address DISTRIBUTION metric value type when creating time series"
This is being punted since we don't want to document something we haven't tested, but I need to test it and add it.

[2016-08-17 21:54] waprin commented on #2116
Can assign to me, cc @rimey

[2016-08-17 23:38] elibixby opened #2117 "Basic polling helper function for long running operations/jobs"
Several libraries with long running operation are lacking basic helper functions for polling

Considering that implementing exponential backoff properly is a 15 line affair which clutters up code it might be good to have a util function that properly implements exponential backoff and then allow things to call it, like in `bigquery.job.Jobs`

[code]

[2016-08-18 03:21] elibixby opened #2118 "bigquery dataset should not always take project argument from client"
The project in which a dataset resides is not necessarily the project in which jobs involving the dataset will be executed. For example, if querying the bigquery public data hacker news dataset the following will error

[code]

Because the user can't create a job in the project 'bigquery-public-data'. Instead the fairly convoluted:

[code]

Despite the fact that the client involved will never be u

[2016-08-18 03:25] elibixby opened #2119 "[Docs] Example of polling a bigquery job is wrong."
`job.state == 'running'` does not exhaustively describe the non-complete states (and in fact is not a valid state at all as running jobs have state `RUNNING`

But since jobs can also have state `PENDING` it should be `not job.state == 'DONE'`

[2016-08-18 04:55] tseaver commented on #2118
@elibixby Thanks for the report!

[2016-08-18 04:55] tseaver commented on #2119
@elibixby Thanks for the report!

[2016-08-18 10:08] Paradoxis opened #2120 "SDK unable to resolve DNS address www.facebook.com"
I'm currently using the ~~cgloud~~ cloud python SDK, when trying to resolve certain hostnames the following error is thrown:

    RuntimeError: error('illegal IP address string passed to inet_pton',)

Examples:

    # Fetching `www.google.com`
    socket.gethostbyname_ex("www.google.com")

    # Returns:
    [
        "www.google.com",
        [],
        [
            "173.194.65.106",

[2016-08-18 12:23] tseaver commented on #2120
Thanks for the report.  It doesn't appear that your issue has anything to to with the `gcloud-python` library (which is what is produced from this repository).  The `socket.gethostbyname_ex` function is part of the Python standard library.  Its [docs](https://docs.python.org/2/library/socket.html#socket.gethostbyname_ex) say:

Maybe the failing hostnames are both IPv6/IPv4?

[2016-08-18 12:41] Paradoxis commented on #2120
@tseaver Hi, thanks for the help, but after digging deep into the SDK code it seems the dev appserver uses a wrapper around the real socket object, which fails to execute the lookup somewhere.

[2016-08-18 13:51] dhermes opened #2121 "tox -e docs should still be run on Travis"
This is important since these are the docs used on readthedocs.org

See #2071 for a thing causing recent failures

[2016-08-18 13:52] dhermes commented on #2120
@Paradoxis The SDK is not part of this project. Maybe @jonparrott can point you to the right issue tracker?

[2016-08-18 13:52] #2120 closed

[2016-08-18 14:02] dhermes commented on #2117
I've also suggested this for things like long-running operations

[2016-08-18 16:32] tseaver opened #2123 "Support reading API key from an environment variable"
To make using the Translate client more like the other clients, let it sniff for the key.  Per discussion in https://github.com/GoogleCloudPlatform/gcloud-common/issues/164:

[code]

[code]

System tests would then do a similar environment variable name swap for translate as for the other APIs.

[2016-08-18 16:42] tseaver commented on #2117
@elibixby We have a [utility like that](https://github.com/GoogleCloudPlatform/gcloud-python/blob/a9891abdd9a8fb83194d67c01ae0980ae395fbe9/system_tests/retry.py#L142) now for system testing.  We could move it (and maybe the error-based and result-based ones) into the library itself, which might look like:

[code]

@dhermes We need to factor out the `google.longrunning.operations` bit, including ma

[2016-08-18 17:14] jonparrott commented on #2120
@Paradoxis the public issue tracker is [here](https://code.google.com/p/googleappengine/issues/list).
The socket module is heavily modified in GAE, so I'm not totally surprised by this.

[2016-08-18 17:38] elibixby opened #2125 "Support generic Batch HTTP requests"
All OnePlatform APIs support bundled http requests, apiary client libraries implement this, described here: https://developers.google.com/api-client-library/python/guide/batch

It would be nice if client came with a batch implementation. I'm not sure how this would interact with API specific batching protocols, but it would be nice if the surface could be unified across APIs.

[2016-08-18 18:08] elibixby commented on #727
Should this have label: bug?

The following code:

[code]

raises error `KeyError: "Cannot get('nextPageToken', default=None) on a future"` because the iterator returned by list_blobs is making calls to get the next page in the context of a batch.

Maybe this is a seperate errors? Seems like the above code should work without encasing `blobs` in `list(blobs)`

[2016-08-18 18:11] tseaver opened #2126 "LoadTableFromStorageJob: allow adding sources from blobs, bucket + glob"
Default the initial `source_uris` to an empty list, then add methods to add extra sources.  E.g.:

[code]

[2016-08-18 18:16] tseaver opened #2127 "Sink: allow setting destination URI via Bucket, Topic, or Dataset instances"
Make `Sink.destination` a property, and have its setter sniff at the type of the value, computing the correct URI if not already a string.

Con:  additional imports  would couple `gcloud.logging.sink` to `gcloud.storage.bucket`, `gcloud.pubsub.topic`, and `gcloud.bigquery.dataset`.

[2016-08-18 18:17] tseaver commented on #1384
Logging and Pubsub already have releases of GAX and grpc wrappers.

[2016-08-18 18:18] dhermes commented on #727
It's certainly separate from this issue, but good to know. I recommend against passing an iterator like that to `delete_blobs()` but it is a bug we can try to take a stab at.

[2016-08-18 18:18] tseaver commented on #1591
Superseded by #2127.

[2016-08-18 18:18] #1591 closed

[2016-08-18 18:19] dhermes commented on #1384
Are these different than GAX? Do similar ones exist for Datastore and Bigtable?

[2016-08-18 18:20] dhermes opened #2128 "Use GAX generated libraries for Datastore and Bigtable"
@bjwatson WDYT of this? We are currently generating via `protoc` with our own `Makefile`s ([datastore](https://github.com/GoogleCloudPlatform/gcloud-python/blob/a9891abdd9a8fb83194d67c01ae0980ae395fbe9/Makefile.datastore) and [bigtable](https://github.com/GoogleCloudPlatform/gcloud-python/blob/a9891abdd9a8fb83194d67c01ae0980ae395fbe9/Makefile.bigtable_v2)).

[2016-08-18 18:21] dhermes commented on #2125
That's really good to know! Thanks for the heads up.

[2016-08-18 18:22] elibixby commented on #727
Slightly connected to this bug, since that pattern would be unnecessary if `delete_blobs` used a batch. But I agree it is seperate.

[2016-08-18 18:24] dhermes commented on #2092
Closed by #2095

[2016-08-18 18:24] #2092 closed

[2016-08-18 18:24] dhermes commented on #2093
Closed by #2095

[2016-08-18 18:24] #2093 closed

[2016-08-18 18:39] dhermes commented on #2111
@tseaver This is the only open `flaky` issue left, so that's comforting

[2016-08-18 18:54] tseaver commented on #1384
The [`grpc-google-pubsub-v1`](https://pypi.python.org/pypi/grpc-google-pubsub-v1) and [`grpc-google-logging-v2`](https://pypi.python.org/pypi/grpc-google-logging-v2) wrappers are generated straight from the `.proto` files with the `grpc` plugin enabled.  The GAX wrappers ([`gax-google-pubsub-v1`](https://pypi.python.org/pypi/gax-google-pubsub-v1) and [`gax-google-logging-v2`](https://pypi.python.o

[2016-08-18 18:58] tseaver commented on #727
Iterating over a collection while mutating it is always problematic, even without adding RPC calls to the mix:  see [PEP 3106](https://www.python.org/dev/peps/pep-3106/).

I would say the `list(blobs)` fix is the Right Thing(TM).

[2016-08-18 19:00] dhermes commented on #1978
@omaray Just created https://pypi.python.org/pypi/google-cloud-vision and https://pypi.python.org/pypi/google-cloud-speech

Should it be called `google-cloud-language` or `google-cloud-natural-language`?

[2016-08-18 19:01] elibixby commented on #727
In my mind `delete_blobs` should take an iterator. A `Blob` object's state is not intrinsically tied to the state of a blob in the cloud, therefor deleting a blob isn't (or shouldn't be) a mutation of the state of the blob itself. The blob is just a wrapper for information about how to make the RPC call.

[2016-08-18 19:09] dhermes commented on #2117
@tseaver Good point. We could even return an `Operation` instance from async uploads for BigQuery and have the concept map across packages.

[2016-08-18 19:19] tseaver commented on #1978
+1 for `google-cloudnatural-language`.

[2016-08-18 19:35] dhermes opened #2130 "Drop `beta` from all usage of gRPC"
/cc @nathanielmanistaatgoogle

[2016-08-18 19:44] tseaver commented on #2117
@bjwatson Another grpc / GAX request:  can you release wrappers for `google.longrunning`?  We have a [hacky self-generated version](https://github.com/GoogleCloudPlatform/gcloud-python/blob/9a7da8fc007f96c5daddd26746cf86fd7dff2638/gcloud/bigtable/_generated/operations_grpc_pb2.py), but would be much better off using one "from the horse's mouth."

[2016-08-18 19:46] tseaver commented on #2117
Note that this is just the gRPC bits:  we are already using the "bare" proto-generated stuff from `googleapis_common_protos`.

[2016-08-18 19:53] bjwatson commented on #2117
@tseaver That's currently a WIP for us at the GAX level. @garrettjonesgoogle is leading this effort.

If you just need the GRPC generated code, then I think we can do that for you quickly.

[2016-08-18 20:00] dhermes commented on #2093
@tseaver How hard is it to reproduce these errors? I tried on my local machine and trying on Compute Engine right now and haven't been able to repro. I am doing this because I want to see if there is an equivalent to `error['reason'] == 'rateLimitExceeded'` in the caught error

[2016-08-18 20:17] tseaver commented on #2117
@bjwatson We can use the stub-based approach without GAX for now:  basically, all we need is a way to call [`GetOperation`](https://github.com/googleapis/googleapis/blob/e82b5e05fe631911acb2c987f32b64710f47d36f/google/longrunning/operations.proto#L43) for polling purposes.  Later on, it would be good if `DeleteOperation` and `CancelOperation` were possible (I don't think we have a usecase for `Lis

[2016-08-18 20:18] elibixby commented on #727
Again, how is this a mutation? `delete_blob` does do any modification of the `Blob` object. You can't infer "No mutation of any state at all" from that PEP, it's mutation of state associated with objects in the iterator?

[2016-08-18 20:20] dhermes commented on #727
The state of the iterator depends on the return of API calls to LIST. If you delete things in that putative list of things, then it will have an effect on the overall state of that LIST call.

[2016-08-18 20:25] elibixby commented on #727
Oooh, is pagination not fixed regardless of the status of the items on the previous page? I would assume it is? Otherwise I think that's an API bug.

[2016-08-18 20:29] tseaver opened #2131 "Should we broaden the 'admin' flag pattern?"
The Bigtable client takes an `admin` flag, defaulting to `False`:  if it isn't set to `True`, the client avoids adding scopes for the instance / cluster admin APIs, and blocks creation of the corresponding stubs.  It has the effect of a "safety" knob, preventing a user (likely at the REPL prompt?) from accidentally creating / deleting "expensive" resources.  The client also takes a `readonly` flag

[2016-08-18 20:35] dhermes commented on #727
Unclear whether the answer is yes or no, hence the recommendation that you avoid mixing the two.

[2016-08-18 20:35] #2121 closed

[2016-08-18 20:55] jonparrott opened #2132 "bigquery.table.Table.upload_from_file() doesn't check the initial request response status"
If you try to add data to a table from a file without a schema:

[code]

This will fail with an opaque error:

[code]

Inspection of the response from the initial upload request reveals the problem:

[code]

It seems we should check the response before constructing the job.

[2016-08-18 20:56] jonparrott commented on #2132
Weirdly enough you can upload data to a table from GCS without needing a schema.

[2016-08-18 20:59] tseaver commented on #2131
### Datastore scopes

*All* operations require one of:

- https://www.googleapis.com/auth/datastore
- https://www.googleapis.com/auth/cloud-platform

There is no meaningful "read-only" or "admin" distinction to make (but maybe there should be).

### Storage scopes

See the [scopes docs](https://cloud.google.com/storage/docs/authentication#oauth-scopes) and the [authorization doc](https://cloud.goo

[2016-08-18 21:00] jonparrott opened #2133 "Calling 'job.begin' on job returned from 'Table.upload_from_file' raises a 400"
Trying to load data into bigquery with `upload_from_file` returns a 400.

Sample code:

[code]

Error:

[code]

[2016-08-18 21:07] dhermes commented on #2131
@tseaver The discovery docs may also help, e.g. for Datastore [rest][1] or [rpc][2] and also the REST discovery docs for [Pub / Sub][3], [BigQuery][4] and [Cloud Storage][5].

[1]: https://www.googleapis.com/discovery/v1/apis/datastore/v1/rest
[2]: https://www.googleapis.com/discovery/v1/apis/datastore/v1/rpc
[3]: https://www.googleapis.com/discovery/v1/apis/pubsub/v1/rest
[4]: https://www.googlea