[2017-08-31 23:39] pc2001 commented on #3908
Thanks for taking the time to help!

Here is what I get when I run it with the '-x' option:

`google-cloud-sdk$ bash -x /Volumes/Users/pc/programs/google-cloud-sdk/install.sh
+ echo Welcome to the Google Cloud 'SDK!'
Welcome to the Google Cloud SDK!
++ _cloudsdk_root_dir /Volumes/Users/pc/programs/google-cloud-sdk/install.sh
++ case $1 in
++ _cloudsdk_path=/Volumes/Users/pc/programs/google-cloud-s

[2017-09-01 00:13] duggelz commented on #3908
It looks like the variable is not "exported" to the installer process.  Can you run the following at the command line?

- Run `echo $SHELL` and make sure it prints `/bin/bash` and not some other shell like csh or zsh
- Run `declare -p CLOUDSDK_PYTHON` and make sure the variable is exported.  A '-x' will show up if it is exported, otherwise run `export CLOUDSDK_PYTHON`.

[2017-09-01 00:16] duggelz commented on #3908
Also, since you're on RedHat, have you tried the prepackaged 'yum' package described here: https://cloud.google.com/sdk/downloads#yum ?

[2017-09-01 08:00] BHushanRathod opened #3909 "File Upload With Share Public Permisssion"
I'm uploading a file to my bucket in django rest app, and want to give permission to the file as "share public", how can set permission?
Thanks in advance...

[2017-09-01 09:15] tcroiset commented on #3906
It looks like it was related with something in my .cache
sorry for the noise

[2017-09-01 10:39] tcroiset commented on #3906
Hi @dhermes I reopen this issue with an example you should reproduce:
https://github.com/tcroiset/python-docs-samples/tree/dep_issue/appengine/flexible/hello_world_django
[code]
works then
[code]
outputs
[code]

[2017-09-01 20:05] lukesneeringer commented on #3909
Hi @BHushanRathod,
Thanks for asking. You can use the [make_public](http://google-cloud-python.readthedocs.io/en/latest/storage/buckets.html#google.cloud.storage.bucket.Bucket.make_public) method.

[2017-09-01 20:05] #3909 closed

[2017-09-01 20:09] lukesneeringer commented on #3905
@jonparrott Dropping your name on this since your fixes to `google.api.core` will fix it.

[2017-09-01 20:10] lukesneeringer commented on #3903
@dhermes Any thoughts on how long it would take to implement a file-like interface on `Blob`?

[2017-09-01 20:14] lukesneeringer commented on #3900
Hi @mr-ubik,
I am going to close this in favor of #3905 (they are essentially the same issue, and I happened to see that one first).

Thank you for reporting.

[2017-09-01 20:14] #3900 closed

[2017-09-01 20:22] #3894 closed

[2017-09-01 20:22] #3895 closed

[2017-09-01 20:23] lukesneeringer commented on #3896
This builds properly on my machine. Any troubleshooting advice?

[2017-09-01 21:08] BHushanRathod commented on #3909
Thanks a lot bro, its working... is it possible to give permission on existing bucket which contains files?
When I tried, it gave following error:
`google.api.core.exceptions.Conflict: 409 POST https://www.googleapis.com/storage/v1/b?[project-name]: You already own this bucket. Please select another name.`

[2017-09-03 17:27] pc2001 commented on #3908
I tried installing from yum, but it said that I don't have root permissions. Here are my other attempts from installing from a tarball, and trying to install using curl:

####
#### trying to install from downloaded .tar.gz file
####

google-cloud-sdk$ ./install.sh

Welcome to the Google Cloud SDK!
Traceback (most recent call last):
  File "/Volumes/Users/pc/programs/google-cloud-sdk/bin/bootstrapp

[2017-09-04 08:02] leengine90 opened #3911 "VersionConflict in fresh install gcloud"
Hello, I live in Datalab, google cloud

I just fresh installed gcloud `!pip install gcloud`

and I faced an error

[code]

help!!

[2017-09-04 08:13] #3911 closed

[2017-09-04 11:46] wscheep commented on #3886
Same problem here, hoping for a quick fix as we're using the emulator to test most of our services..

[2017-09-04 12:38] aliannejadi commented on #3100
I am getting the same error. I am running the following code on jupyter notebook with the version:
Python 3.6.1 :: Anaconda 4.4.0 (x86_64)

I checked my system time is synced with Apple server. Here is the code:

[code]

And here is the stack trace:

[code]

[2017-09-04 17:59] tseaver commented on #3908
This repository is not about the "Google Cloud SDK":  please report issues for that package in its [issue tracker](https://code.google.com/p/google-cloud-sdk/issues/list).

[2017-09-04 17:59] #3908 closed

[2017-09-04 22:00] skoegl commented on #1893
I don't know if this is still needed. I've just translated the curl example to plain python and be able to use the vision api on google app engine standard environment. Here is my gist.

https://gist.github.com/skoegl/a322a3b66f997ef0591c5a48f5da872c

Have fun!
Stefan

[2017-09-05 09:03] dimaqq opened #3912 "Spelling: s/obselete/obsolete"
`core/google/cloud/obselete.py`

[2017-09-05 15:43] dhermes commented on #3896
Run the same commands from a RTD build. You can see the exact commands in every build: https://readthedocs.org/projects/google-cloud-python/builds/ (e.g. our `nox -s docs` session uses Python 3.6 but RTD uses 3.5)

I also just realized the RTD build has been failing for 10+ days and for some reason I stopped getting email notifications about this.

[2017-09-05 15:53] dhermes commented on #3906
@tcroiset Thanks for finding a way to reproduce it!

Our resident packaging expert @jonparrott is also in charge of `python-docs-samples`, so it may just be easier to file this issue there?

[2017-09-05 16:09] dhermes commented on #3903
We already have `Blob.download_to_file` that takes a write-able stream. `google-resumable-media` allows **manual** chunking during downloads:

[code]

It might be easiest to support this if `ChunkedDownload.consume_next_chunk` just took an optional `chunk_size` argument that over-rides the instance's chunk size. Then `fake_file.read(chunk_size)` could be implemented in some wrapper.

I **don't** t

[2017-09-05 16:35] e4p commented on #3903
@dhermes
would the implementation you described be able to provide a seek operation? The most commonly used methods in Python file objects are `read`, `seek`, `tell`, `readlines`, and `readline`. The first three alone are incredibly important for most programs that read indexed files.

Supporting file objects would also unblock appengine standard environment to appengine flexible environment migra

[2017-09-05 16:35] #3912 closed

[2017-09-05 16:45] dhermes commented on #3896
I just wiped the cache and started a fresh [build][1] and am seeing the fame failure:

[code]

[1]: https://readthedocs.org/projects/google-cloud-python/builds/5933040/

[2017-09-05 21:03] patrick91 opened #3920 "Unable to connect to datastore emulator"
Hi, I've been trying to use the datastore emulator without success, here are the steps I've used:

1. Start the datastore

[code]
2. setting the environment variables

[code]
3. Run a simple query:

[code]
4. Error:

[code]

Not sure if I'm doing something wrong or not. I've tried to update all the google cloud sdk components.
below are my system information.

**os:** macOS Sierra
**python:** pyth

[2017-09-05 21:05] dhermes commented on #3920
@patrick91 You'll want to use a custom `credentials` object in the constructor. I'm short on time right now, but have a look at https://github.com/GoogleCloudPlatform/google-cloud-python/blob/3caed41b88eb58673ee5c3396afa3f8fff97d4d4/datastore/tests/system/test_system.py#L53-L64 for an idea of how to do this.

The reason: by default your credentials will try to get a new token, but you don't need t

[2017-09-05 21:27] lukesneeringer commented on #3906
Hi @tcroiset,
I think we got to the bottom of this one. We were not properly declaring `google.cloud.gapic` and `google.cloud.proto` as namespace packages in `setup.py`. See #3921. The end result would be exactly what you described.

We are publishing an updated package now. I am going to close this as I am 95% sure it will address your issue, but feel free to re-open if I am wrong.

[2017-09-05 21:27] #3906 closed

[2017-09-05 21:37] lukesneeringer commented on #3896
Fixed.

[2017-09-05 21:37] #3896 closed

[2017-09-05 21:56] patrick91 commented on #3920
@dhermes thanks for the quick reply, unfortunately (unless I made a mistake) I'm getting the same error, this is the code I'm running now:

[code]

PS. here's a screen to double check the env configuration: http://s.patrick.wtf/tDbkbPgJxC

[2017-09-05 22:02] dhermes commented on #3920
Thanks for the update. It's possible that our emulator support has stopped working, we don't verify it on CI and I personally haven't tested it in some time.

@lukesneeringer How difficult would it be to get the `gcloud` SDK added to our Docker images so that we can start testing emulator support on CircleCI?

[2017-09-06 07:07] mikelambert commented on #3259
My issue appears to have been resolved when I upgraded to the latest version. Thanks!

[2017-09-06 12:20] remcohaszing opened #3923 "Automagically convert dicts to datastore entities."
I just ran into the following error for the X'th time:

[code]

The cause is pretty obvious, the following code snippet triggers this error:

[code]

The code crashes, because `dict` type properties are not supported. Instead they should be converted to an `Entity`.

I think it's cumbersome having to convert `dict` types to `Entity` types every time. I've written a function that does the conversio

[2017-09-06 12:29] yusefnapora commented on #3809
Just to add, this also breaks `generate_signed_url` for objects with `/` characters.  The signed string contains `%2F` instead of `/`, so the signature doesn't match the one generated by the server.

The problem seems to be this line: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L1579

The `safe=''` overrides the default behavior of `u

[2017-09-06 15:43] dhermes commented on #3923
@remcohaszing It's definitely worth considering! Thanks for filing.

@lukesneeringer @jonparrott WDYT?

[2017-09-06 18:08] lukesneeringer commented on #3923
I am supportive.

[2017-09-06 18:08] lukesneeringer commented on #3920
It is probably a day or two of work; I am supportive in principle. :-)

[2017-09-06 18:11] Naveg opened #3925 "PubSub publish hangs in completion_queue.poll() when used inside ProcessPoolExecutor"
Linux, various flavours (problem observed on Arch with 4.12.8 and Ubuntu with 4.4.0)

3.5.2

[code]

`completion_queue.poll()` hangs on [this line](https://github.com/grpc/grpc/blob/9c519434be0ee80fcf66b433fc8c053ce9ac383b/src/python/grpcio/grpc/_channel.py#L485)

Run code sample - hangs in `topic.publish(...)`

[code]

[2017-09-06 18:14] Naveg commented on #3925
Note that the code sample works when a `ThreadPoolExecutor` is used instead of a `ProcessPoolExecutor`. Our use case is CPU heavy, and we need to use a `ProcessPoolExecutor`.

This broke in production recently, with no change to the environment that we are aware of (python or dependency versions, etc).

[2017-09-06 18:37] tseaver commented on #3925
@Naveg thanks for the report!  I seem to recall that @lukesneeringer ran into some issues with multiprocessing in earlier versions of his rewrite.

[2017-09-06 18:55] Naveg commented on #3925
I tried with pubsub 0.28.3 - same thing. Hangs on `client.publish(...).result()` (`result() is added so that we wait for the publsh to finish, since it is asynchronous in the new version)

[code]

[2017-09-06 20:20] #3870 closed

[2017-09-06 20:53] dhermes commented on #3923
Working on it now. Hopefully it'll be quick.

[2017-09-06 22:41] mackenzieATA opened #3928 "page_token parameter documentation is misleading"
The `page_token` parameter to several api functions such as `list_projects` and `list_jobs` is documented as follows:

This is very misleading, as these functions return an `HTTPIterator` which if iterated on will seamlessly return multiple pages of results.
Only though experimentation did I determine that multiple pages of results are returned and that if I did want to make use of `page_token` I'

[2017-09-06 22:46] dhermes commented on #3928
@mackenzieATA Can I safely assume you're referring to BigQuery?

Regarding documentation, @jonparrott I can't seem to find where the iterators doc is. IIRC when it moved to `google.api.core`, it became undocumented, to be re-documented at a later date?

[2017-09-06 23:03] mackenzieATA commented on #3928
Sorry, yes, BigQuery. In particular I'm reading the parameter documentation in google/cloud/bigquery/client.py

[2017-09-07 00:30] jlewi commented on #3905
I hit the same problem with the Cloud Spanner API.

Specifically I was getting an INVALID_ARGUMENT trying to create an instance but no useful information about what was invalid. I ran the same command using gcloud and got a very helpful error message.
[code]
I'm guessing the problem is in the gRPC layer and so all APIs will be affected. Would it make sense to change the title of the issue?

[2017-09-07 08:48] bwcho75 opened #3929 "Cannot set billingTier in synchronous query"
This is not bug reporting, but enhancement request.

When user tries to change billing tier, it can be done when they call query with async:

[code]

but in case of `client.run_sync_query`. it returns query instead of job. It cannot change biling tier.
Can we add biling tier parameter in Query class?

[2017-09-07 18:53] tcroiset opened #3931 "Issue with logging and google-auth"
The following code:
[code]

works fine with google-cloud-logging==1.1.0 but fails with newer versions (1.2.0 or 1.3.0) :
[code]

[2017-09-07 19:53] dhermes commented on #3931
Trying to repro right now.

[2017-09-07 19:57] dhermes commented on #3931
@tcroiset I can't reproduce. Can you step into a debugger and inspect `self` / `pp self.__dict__` at the moment of failure? I usually just run code in IPython and then hop into the stacktrace with the `%debug` magic.

[2017-09-07 20:58] danoscarmike opened #3932 "Spanner Documentation not current: read and executeSql"
Submitting for @mkmg

The documentation for the [Database module](https://googlecloudplatform.github.io/google-cloud-python/latest/spanner/database-api.html) still lists the methods read and executeSql, but these were [recently removed](https://github.com/GoogleCloudPlatform/google-cloud-python/commit/ebecc7d0da7a6f9e02ea1c81cd85e80276b58e3b#diff-085044bc09561ccdd560aaca37a07f02).

cc/ @lukesneeri

[2017-09-07 22:03] dhermes commented on #3932
To clarify, the build is broken, the docs session works just fine, but it never runs because the Spanner system tests have been broken for weeks.

[2017-09-07 22:28] tseaver commented on #3932
Hmm, I'm not sure what the breakage is.  Emulating CircleCI locally:

[code]

[2017-09-07 22:40] dhermes commented on #3932
@tseaver Run it with the same account and project?

[2017-09-08 02:50] mkmg opened #3933 "Cannot create a spanner session when running in compute engine"
# Cannot create a session when running in compute engine
An error occurs when session.create() is called from a compute engine vm. The Compute Engine VM is running in the same Google Cloud Project as the Spanner instance.

## 1. OS type and version
Debian GNU/Linux 9.1 (compute engine vm)

## 2. Python version
Python 2.7.13

## 3. google-cloud-python version
google-auth==1.0.2
google-auth-httplib2

[2017-09-08 08:04] tcroiset commented on #3931
[code]

[code]

[2017-09-08 11:47] tseaver commented on #3932
@dhermes Yes, I was running with those creds.

[2017-09-08 14:15] fcaldas opened #3935 "BigQuery: Streaming inserts"
Hi,

  We are using BigQuery as a backend for analytics and our main database is Google Datastore. Once a day we have a script that streams the latest updates from Datastore into BigQuery and we are noticing a massive number of duplicates after running the application for a few months:

    @staticmethod
    def saveToBigQuery(trademark_list):
        if(len(trademark_list) == 0):
            retu

[2017-09-08 14:22] tseaver commented on #3870
@tswast I'm not sure how your change in #3926 (which only adds system tests) fixes the failure here.

[2017-09-08 15:27] lukesneeringer commented on #3925
I will look into this. When it broke in production, was there a library upgrade, or did it literally just break in-place?

My new publishing code uses threading but has a mechanism to sub out for multiprocessing, but I am unsure how exactly it is interacting with your code.

Also: You mention your process is CPU heavy, but presumably the _publish itself_ is not? Can you explain to me a bit more wh

[2017-09-08 15:42] dhermes commented on #3931
@tcroiset Thanks a lot!

@jonparrott Any ideas?

[2017-09-08 15:47] dhermes commented on #3870
@tseaver That was the last nail. #3901 and #3915 also contributed

[2017-09-08 15:47] #3923 closed

[2017-09-08 19:32] evanj commented on #2463
This is closely related but maybe not the same, let me know if I should create a new issue: I'd love support for preconditions. I personally only need "upload blob only if it does not exist", and not full support. I'm contemplating some gross hacks to do this, although for now I'm going with the "incorrect" version of checking exists() first.

[2017-09-08 19:45] Naveg commented on #3925
The problem appears to be grpcio 1.6.0.

[code]

It broke after a release of our software that did not contain any explicit library updates in our requirements file. However, it looks like gcloud-pubsub doesn't depend on a specific grpcio version  https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4e17158c0f14e0e91cbeb74c3e8483c5a231e9ac/pubsub/setup.py#L58

Adding an explicit depende

[2017-09-08 22:23] mikelambert opened #3937 "Getting 401 errors after one hour of client usage"
So I was wrong at the bottom of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3259 , this problem has not gone away for me. I'm starting a new Issue to track my particular problem here, instead of conflating things.

After my GAE Flex server (and datastore client) has been running for an hour, I get the following error message from my datastore usage (and the errors continue un

[2017-09-08 22:29] mikelambert commented on #3937
You can see a graph of my errors here, including the one-hour cessation of errors after I pushed:
<img width="1884" alt="2017-09-08 16 49 48" src="https://user-images.githubusercontent.com/7953259/30233436-9799dcf6-94c3-11e7-962e-ec7f2b571ed9.png">

[2017-09-08 22:37] dhermes commented on #3937
@mikelambert It's possible that or gRPC/GAX/GAPIC wrapper doesn't bubble up the exception in quite the right way, so the actually credential never gets refreshed.

/cc @jonparrott

[2017-09-09 15:38] deepdad opened #3939 "__exit__ without further info when doanloading gzipped file"
def download_blob(bucket_name, source_blob_name, destination_file_name):
    #Downloads a blob from the bucket.
    storage_client = storage.Client()
    bucket = storage_client.get_bucket(bucket_name)
    blob = bucket.blob(source_blob_name)
    print(bucket.exists(client=storage_client))
    print(bucket.get_blob(blob_name=source_blob_name))
    with open(destination_file_name, 'wb') as file_obj

[2017-09-09 21:01] dhermes commented on #3939
@deepdad Sorry this issue occurred for you. See #3841 for an explanation of why it's happening.

Simply upgrade to `requests >= 0.18.0` and the error will be resolved.

[2017-09-09 21:01] #3939 closed

[2017-09-10 03:15] ryancbuckley commented on #3939
Hi there,
I seem to be seeing a similar error with gzipped files, despite having an up-to-date `requests`.

The error:
[code]

Below is the output of `pip freeze`:
[code]

Thank you

[2017-09-10 08:15] deepdad commented on #3939
#3841 has no explanation and requests is up to date

​import requests
print (requests.__version__)

2.14.2

[2017-09-10 16:13] deepdad opened #3940 "copy to reopen __exit__ without further info when downloading gzipped file #3939"
#3841 has no explanation and requests is up to date, I can't reopen that issue

​import requests
print (requests.version)

2.14.2

I don't have access permissions to the Google Cloud, just through some IPython notebooks, so the trace is all I can see. The error also occurs with binary data files
In fact that may be the poblem, that I do not have storage.objects.get access to object my-data-test-bu

[2017-09-10 16:38] #3940 closed

[2017-09-10 16:39] deepdad commented on #3940
sorry, seems to be a permissions result

[2017-09-10 18:42] dhermes commented on #3939
Sorry, I mistyped, the minimum version is `2.18.0`, not `0.18.0`. "Up-to-date" would be the [latest version][1] on PyPI right now (`2.18.4`).

Sorry for the lack of information in #3841, I had to click my way through to find the real issue (#3736).

The issue is caused by [using][2] a `requests.Response` object as a context manager.

[1]: https://pypi.org/project/requests/2.18.4/
[2]: https://gith

[2017-09-10 18:43] dhermes commented on #3940
See my comment: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3939#issuecomment-328362875

[2017-09-10 19:18] deepdad commented on #3940
thank you, I will ask the admin to update it
the file was not downloaded, just created

[2017-09-10 19:18] deepdad commented on #3939
thank you

[2017-09-11 14:00] lukesneeringer commented on #3933
Does the credential already have the `SPANNER_DATA_SCOPE`?

[2017-09-11 14:49] tseaver commented on #3933
@lukesneeringer, @jonparrott  We cannot update scopes on GCE credentials, which means that should not be subclassed from `google.auth.credentials.Scoped` (raising `NotImplementedError` from the override in a concrete subclass is a [Liskov substition principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle) violation.

[2017-09-11 14:56] tseaver commented on #3933
I opened https://github.com/GoogleCloudPlatform/google-auth-library-python/issues/194 to track the issue.

[2017-09-11 15:28] tseaver commented on #3933
https://github.com/GoogleCloudPlatform/google-auth-library-python/pull/195 suggests a new `ReadonlyScoped` class, from which the GCE `Credentials` derive.

If that PR is merged and released, the code we have now in `Database.spanner_api` will work as designed: GCE credentials will no longer derive from `Scoped`, and thus will bypass the `with_scopes` call.  We would then need to update the minimum

[2017-09-11 17:41] tseaver commented on #3932
@dhermes do we have docs for building / pushing manually?  I just tried with:

[code]

and had it fail:

[code]

[2017-09-11 17:52] dhermes commented on #3932
@tseaver I just do some like this:

[code]

Then I make a PR onto `gh-pages` and ask for a token LGTM.

Note that I avoid pushing to my own remote because I don't have any of the `gh-pages` history there, which would make the push take much longer / use much more data.

[2017-09-11 19:12] snard6 commented on #3925
We ran into the same problem when trying to run `long_running_recognize`. In our case it showed up only when the code was run in a celery task. The workaround by Naveg seems to work for us as well. Thanks!

[2017-09-11 20:02] tseaver commented on #3933
GoogleCloudPlatform/google-auth-library-python#195 has been merged.

[2017-09-11 20:13] #3932 closed

[2017-09-11 21:05] vkedia commented on #3933
What is the core issue here? Why is session creation failing?
@mkmg orthogonal to this, it is better to use the session pooling library instead of managing sessions yourself.

[2017-09-11 21:14] tseaver commented on #3933
@vkedia See https://github.com/GoogleCloudPlatform/google-auth-library-python/issues/194, and the fix in https://github.com/GoogleCloudPlatform/google-auth-library-python/pull/195which updates GCE credentials such that they no longer advertise (falsely) that they can create instances with added scopes.

[2017-09-11 23:03] jonparrott commented on #3937
Hrm. For gRPC and GCE-based credentials it should just pre-emptively refresh the credentials before they expire.

@mikelambert it'd be useful if you could print the credential's `expires` as well as `datetime.datetime.utcnow()` when this error occurs.

[2017-09-11 23:26] mikelambert commented on #3937
Okay, and by `expires`, I assume you mean `expiry`?

[2017-09-11 23:27] jonparrott commented on #3937
Yes. :)

(you'd think I'd know that considering I wrote it...)

[2017-09-11 23:28] jonparrott commented on #3931
Can I get the output of `pip freeze` @tcroiset?

[2017-09-11 23:31] jonparrott commented on #3905
The new exception handling code will only raise a `RetryError` if retires are exhausted, otherwise, it will raise the real error.

Basically, this won't be an issue once we get gapic to use the new error code.

[2017-09-11 23:34] mikelambert commented on #3937
It'll take an hour or so to get the results, but I'm assuming I will just discover that `expiry is None`. Is there anything else you'd like me to debug/print if that's true?

I'm running in GAE Flex with `python-compat` and `enable_app_engine_apis: true`. So not sure if that means I'm pulling from `auth/app_engine.py` or `auth/compute_engine/credentials.py`.

[2017-09-11 23:35] jonparrott commented on #3937
`expiry` shouldn't be None, both GAE and GCE both return the token lifetime.

:O yikes. That should end up being `app_engine.py`.

[2017-09-12 00:56] mikelambert commented on #3937
Looks like you're right!

Instance 1:
[code]

Instance 2:
[code]

For instance 1's client:
[code]

And instance 1's client credentials:
[code]

[2017-09-12 00:58] dhermes commented on #3937
@mikelambert What's it like in the future? Is there still ice cream?

[2017-09-12 00:58] jonparrott commented on #3937
2065? What on Earth. There's the problem. I'm gonna see if I can track it
down, it's likely app engine is just returning it as a different unit than
what we expect.

On Mon, Sep 11, 2017, 5:56 PM Mike Lambert <notifications@github.com> wrote:

[2017-09-12 01:05] mikelambert commented on #3937
@dhermes Do they have Dippin Dots back in your time? It's what we eat for ice cream every day. Sadly it makes for really messy ice cream sandwiches...

[2017-09-12 13:29] tcroiset commented on #3931
cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.2
dill==0.2.7.1
enum34==1.1.6
future==0.16.0
futures==3.1.1
gapic-google-cloud-logging-v2==0.91.3
google-auth==1.0.2
google-cloud-core==0.27.1
google-cloud-logging==1.3.0
google-gax==0.15.14
googleapis-common-protos==1.5.2
grpcio==1.6.0
html5lib==0.999
httplib2==0.10.3
idna==2.6
mercurial==3.1.2
oauth2client==3.0.0
ply==3.8
proto-

[2017-09-12 16:07] jonparrott commented on #3931
Hrm I can't repro either. Can you tell me a bit more info?

* Python version
* OS
* Which type of credentials you're using (`import google.auth; print(google.auth.default())`)

[2017-09-12 16:11] lukesneeringer commented on #3937
That looks like something is returning milliseconds instead of seconds.

[2017-09-12 16:17] jonparrott commented on #3937
I just tracked it down - app engine returns seconds since epoch and we are treating it as seconds from now. Easy fix. I'll grab it as soon as I can.

[2017-09-12 16:18] lukesneeringer commented on #3925
Summoning @nathanielmanistaatgoogle.

[2017-09-12 16:46] vkedia commented on #3933
So does this mean that spanner client does not work at all on compute engine? It definitely did work the last time I tried it.

[2017-09-12 17:19] mikelambert commented on #3937
Awesome to hear! I appreciate you fixing my time machine so I can properly enjoy ice cream sandwiches again!

Slightly curious why I seem to have been the only one reporting this issue for so long in the original thread? Is it just that `google.cloud.datastore` isn't too popular on GAE given to the existence of DB/NDB? Or was I hitting a edge case by using long lived connections in a GAE environme

[2017-09-12 17:21] #3937 closed

[2017-09-12 17:22] jonparrott commented on #3937
These client libraries aren't support on App Engine standard (even though google-auth is), so it's just likely that no one is using this on standard. You're using `python-compat` so you're in the fun gray area. :)

[2017-09-13 06:56] speedplane opened #3946 "google.cloud.datastore Hanging During Iteration After Dockerfile Update"
The datastore library hangs while iterating through results obtained using the `fetch` function.

This started occuring after I rebuilt my app's Docker image from scratch by adding a new base package. This caused the whole Dockerfile to rebuild, likely causing several packages to update. It's possible that in this time the datastore API changed or perhaps there is a versioning issue on my part. An

[2017-09-13 07:21] tcroiset commented on #3931
Here is the dockerfile I use
(It's based on an appengine image because in my full code, it's an appengine app with a worker and a monitor like https://cloud.google.com/python/getting-started/tutorial-app)

[code]

[2017-09-13 07:23] tcroiset commented on #3931
Hum, I just noticed that it is linked with GOOGLE_CLOUD_DISABLE_GRPC.
If I remove it, the error doesn't occur.

[2017-09-13 10:42] akmalhakimi1991 opened #3947 "Intermittent gRPC error while streaming audio to Google Cloud Speech"
1. OS type and version
Code run in NAO Robot with Gentoo OS but I can see the issue in my Ubuntu VM as well

2. Python version and virtual environment information `python --version`
2.7.3

3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
google-cloud : 0.26.1
google-cloud-speech : 0.27.0

4. Stacktrace if available

[code]

5. Steps to reproduce
U

[2017-09-13 12:01] tianqig opened #3948 "KeyError: "Couldn't find field google.protobuf.DescriptorProto.ExtensionRange.options" when import datastore"
Just installed google-cloud (0.27.0) on my Mac OS X EI Capitan
Python 2.7
Anaconda

under a root env. when running: testLog.py
[code]

Got following messages:

[code]

Please help, thanks

[2017-09-13 13:53] lukesneeringer commented on #3948
Hi @tianqig,
Thanks for reporting.

Could you try creating a virtualenv and installing _only_ `protobuf`, and see if `from google.protobuf import descriptor_pb2` passes?

Also, this seems like it is probably an issue with protobuf itself, so I am going to move this issue over there.

[2017-09-13 13:53] lukesneeringer commented on #3948
This issue was moved to google/protobuf#3631

[2017-09-13 13:53] #3948 closed

[2017-09-13 13:56] lukesneeringer commented on #3946
You are actually the second person that mentioned an issue with celery in the past week (the other was in email), but they provided a [repro case](https://github.com/mlucas-NU/celery_issue) that I have been intending to look into.

Could you do me a favor and downgrade `grpcio` from 1.6.0 to 1.4.x and tell me if that fixes the problem? That was one of the solutions that was discussed in the email

[2017-09-13 13:59] lukesneeringer commented on #3946
P. S. This is a model case for a good bug report. Thanks.

[2017-09-13 14:03] lukesneeringer commented on #3933
Note: google-auth 1.1 is on PyPI now.

[2017-09-13 14:20] speedplane commented on #3946
I will try doing just that. In the meantime, I was able to pull the old working Docker image from the container registry, and using `pip freeze` did a diff on the packages in the older (working) and the newer (broken) system. A screenshot of the diff is below. Indeed, `grpcio` was upgraded from 1.4.0 to 1.6.0 (as well as a lot of other packages).

![image](https://user-images.githubusercontent.com

[2017-09-13 14:37] lukesneeringer commented on #3947
Your problem is almost certainly exactly what the error message says it is: audio too long. [The limit is one minute.](https://cloud.google.com/speech/limits)

[2017-09-13 14:37] #3947 closed

[2017-09-13 14:44] akmalhakimi1991 commented on #3947
Yea but my audio is 10 second at most. If it exceed 10 seconds, the audio stream thread will be stopped instantly (or probably I didn't stop it properly?). BTW I'm very new to Python and I didn't fully understand how generator works

[2017-09-13 15:38] nathanielmanistaatgoogle commented on #3925
(Should the title of this issue be changed from "completion_queue.call()" to "completion_queue.poll()"?)

[2017-09-13 15:48] nathanielmanistaatgoogle commented on #3925
Not much changed in the Python layer of gRPC Python between 1.4 and 1.6, but probably a lot changed underneath us in gRPC Core. I suspect that the real problem is that forking/multiprocessing/working across processes has not to date ever been supported by gRPC Core (unfortunately [this is the best citation I can find at the moment](https://github.com/grpc/grpc/issues/7951#issuecomment-260811550)),

[2017-09-13 15:51] nathanielmanistaatgoogle commented on #3925
(Also is this [issue 12455](https://github.com/grpc/grpc/issues/12455) or is this something else?)

[2017-09-13 15:51] speedplane commented on #3946
Just tried downgrading `grpcio` to 1.4.0, that fixed it.

[2017-09-13 15:52] nathanielmanistaatgoogle commented on #3946
(This smells like [issue 12455](https://github.com/grpc/grpc/issues/12455); do you think that it is?)

[2017-09-13 18:12] jonparrott commented on #3931
Ah, it's probably [this line](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/handlers/transports/background_thread.py#L257) which is a relic from when httplib2 was used as it wasn't threadsafe. We can probably just remove that.

@liyanhui1228 Can you take this?

[2017-09-13 20:42] danoscarmike commented on #3890
Hi @lukesneeringer what's the next step here?

[2017-09-13 22:49] igorpeshansky commented on #3622
Also note that (a) https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/pull/146 allows enabling JSON detection in any environment, and (b) the fluentd configuration is now decoupled from the contents of the `fluentd-gcp` container image, so can be adjusted at deployment time...

[2017-09-13 22:50] liyanhui1228 commented on #3931
Sure! I can take this. Sorry for the late reply, I'm looking into this right now.

[2017-09-14 01:08] lukesneeringer commented on #3946
@nathanielmanistaatgoogle Yes, that is exactly what I think it is. :-)

[2017-09-14 01:09] lukesneeringer commented on #3946
@nathanielmanistaatgoogle grpc/grpc#12455 and grpc/grpc#12489 are likely to be duplicates. The latter has a lot of useful information lacking in the former.

[2017-09-14 04:10] tseaver opened #3956 "Add support for storage->pubsub notifications"
See the [concepts doc](https://cloud.google.com/storage/docs/pubsub-notifications) and the [registering object changes doc](https://cloud.google.com/storage/docs/reporting-changes).

Pull requests target the [`3956-storage-notifications` branch](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/3956-storage-notifications)

Steps:

- [x] Add a `BucketNotification` class, mapping the [

[2017-09-14 04:15] tseaver commented on #3956
Another question:  do we need a "round trip" system test?  E.g., one which verifies that notifications arrive at the subscriber?  Or can we get away with just doing `BucketNotification` CRUD in the system tests?

[2017-09-14 15:16] lukesneeringer commented on #3925
@nathanielmanistaatgoogle Pretty sure this is yet another iteration of grpc/grpc#12455.

[2017-09-14 19:46] casa87 opened #3961 "Monitoring : 400 error with compute.googleapis.com/container"
Hi

Using monitoring on compute.googleapis.com/container will return a 400 error

Code :
[code]
Stacktrace :
[code]

Mac OSX
Python 2.7.13
Google Cloud :  0.27.0
google-cloud-monitoring : 0.26.0

[2017-09-14 20:43] dhermes commented on #3961
@casa87 That seems to be the expected behavior. The error says:

I am going to pre-emptively close, as it doesn't seem to be an issue with the library. I'm happy to re-open as we continue discussing.

It seems you're unclear on what the expectation of the return value is? It's most likely one of two things:

- eventual consistency of the backend (i.e. the query will **eventually** have results, bu

[2017-09-14 20:43] dhermes commented on #3961
@casa87 I just re-read the intro, I think it's worth looking into, my apologies.

[2017-09-15 00:20] cookie223 commented on #3023
Hopefully comments are welcomed here. It would be great to have this and hopefully I can use Spanner as airflow backend.

[2017-09-15 10:26] thijsterlouw opened #3965 "Python PubSub consumer high cpu usage after approx 1 hour"
1. OS type and version
Debian GNU/Linux 8 (jessie)

2. Python version and virtual environment information `python --version`
Python 3.6.0

3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
[code]

4. Stacktrace if available
5. Steps to reproduce
* run my python pubsub-consumer (in uwsgi with 1 thread) for a bit more than one hour
* no special log m

[2017-09-15 13:50] sonlac opened #3967 "AttributeError: 'SymbolDatabase' object has no attribute 'RegisterServiceDescriptor'"
Today, our daily `gcloud ml-engine job` has been broken. The problem may come from the changes in the module _grpc-google-iam-v1_. It seems that you did an update for the module _grpc-google-iam-v1_ from **0.11.1** (?) to **0.11.3**  on the server-side.
I compared the "broken" version with the "working" version. I realized that the only diff is in the module **grpc-google-iam-v1**.

**Python versi

[2017-09-15 15:30] dhermes commented on #3965
The 1 hour mark could also be a sign that an auth token is trying to be refreshed but fails (token lifetime is 1 hour). E.g. you could have all 20 workers sharing the same `Credentials` object and then they keep fighting over the state during the refresh. @jonparrott WDYT?

[2017-09-15 15:41] dhermes commented on #3967
@sonlac You can address #3736 instead by upgrading to the [latest version][1] (`2.18.4`) of `requests`

Can you upgrade to the [latest version][2] (`1.4.0`) of `google-cloud-storage` (which has a hard lower bound of `2.18.0` for `requests`) and see if the problem still persists?

[1]: https://pypi.org/project/requests/2.18.4/
[2]: https://pypi.org/project/google-cloud-storage/1.4.0/

[2017-09-15 16:29] jonparrott commented on #3965
Hrm, in that case there would be a spike but not a sustained 20% increase in CPU, but maybe it causes a cascade of sorts?

@thijsterlouw can you turn on debug-level logging and see if there's a lot of logs from `google.auth`? Might as well go ahead and log your pubsub client's `credentials` - especially the `expirty` vs `datetime.utcnow()`.

[2017-09-15 16:39] dhermes commented on #3965
@jonparrott Could you provide a code snippet explaining how one might "turn on debug-level logging"

[2017-09-15 16:39] dhermes commented on #3965
@thijsterlouw Also worth noting that this is just a working theory. It's also possible that the workers are thrashing on some **other** task.

[2017-09-15 16:50] jonparrott commented on #3965
[code]

[2017-09-15 17:54] viyh commented on #2832
+1

[2017-09-15 20:51] yixizhang opened #3981 "Spanner should know how to merge chunk data of TIMESTAMP and DATE type"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner/streamed.py#L300

The dict doesn't cover `type_pb2.TIMESTAMP` and `type_pb2.DATE`, the fix is actually easy because both type is passed in string_value.

[2017-09-16 01:04] vkedia commented on #3981
Thanks for filing this. This indeed looks like a bug.
@tseaver @lukesneeringer please take a look.

[2017-09-17 13:36] NathanWailes opened #3987 "Is Google Cloud Storage required for the asynchronous transcriptions?"
I want to get the word time offsets for audio files that are longer than one minute (as described [here](https://cloud.google.com/speech/docs/async-time-offsets)), and when reading the docs it said *"Use asynchronous speech recognition to recognize audio that is longer than a minute and stored in Google Cloud Storage."* [Source](https://cloud.google.com/speech/docs/async-recognize)

It sounds like

[2017-09-17 15:19] erlichmen commented on #3933
I have the same issue when trying to use the spanner client under plain machine (like my mac).
Same issue as the OP.

[2017-09-17 17:42] sonlac commented on #3967
@dhermes Thank you. I re-tested by upgrading the packages. In both cases, it always raises the same exception as above.
Don't you think that the problem comes from the module **grpc-google-iam-v1-0.11.3**?

**Case 1:**
[code]
Successfully installed packages in ml-engine job:
`17:08:29.488
Successfully installed chardet-3.0.4 gapic-google-cloud-datastore-v1-0.15.3 gapic-google-cloud-error-reporting

[2017-09-18 09:28] florenthemmi commented on #3967
For me it comes from the lib `grpc-google-iam-v1`.
I have downgraded to version 0.11.1: `grpc-google-iam-v1==0.11.1` and it is working great now.

Indeed, I use an old version of `google-cloud-pubsub`: 0.27.0 instead of the latest 0.28.3

[2017-09-18 11:31] thijsterlouw commented on #3965
I added debug logging, but that did not show anything useful at all. After going through many debug logs (on production the application does quite a lot of traffic), I only noticed this:

{quote}
10:39:38.000 DEBUG:root:Message will be acknowledged. message=Message {
10:37:24.000 DEBUG - Received response: received_messages {
{quote}

There were no log messages at all between 10:37:24 and 10:39:38

[2017-09-18 13:06] michaelplaing commented on #3890
This occurs when using the "spawn" context of multiprocessing.
However the "fork" context will also fail (but silently) when using grpcio==0.1.6.
A workaround for "fork" is to specify grpcio==0.1.4.

[2017-09-18 13:35] michaelplaing opened #3988 "PubSub subscription.pull() fails silently in multiprocessing"
* Python multiprocessing is broken by grpcio==0.1.6.
* Downgrading to grpcio==0.1.4 is a workaround.
* The 'spawn' context option _should_ be a workaround but is not because RLock objects are present and cannot be pickled for transmission to child processes.

1. OS type and version
MacOs and linux (Google App Engine Flex)
2. Python version and virtual environment information `python --version`
pyt

[2017-09-18 13:50] michaelplaing commented on #3988
Related issues are:
* #3925 (priority:p2+)
* #3890 (priority:p1)

[2017-09-18 13:52] speedplane opened #3989 "Documentation Unclear: "If the property is not set locally, returns None.""
The [Google Storage Blob documentation](https://googlecloudplatform.github.io/google-cloud-python/latest/storage/blobs.html) says that almost all properties return the value `None` if the "property is not set locally." However, there is no documentation explaining how properties are set/unset locally or when that occurs.

This is confusing, there should be a preamble explaining when local Blob pro

[2017-09-18 15:04] sx5640 commented on #2683
Reproduced the Bigtable issue with `google-cloud-bigtable==0.26.0` during:

    def write_row(key, column_id):
        """
        Utility method for writing a row to BigTable.
        Note that we don't actually store values - the column ids are where we actually store values,
        so the value is always just an empty string.
        :param key: Key of the row to write
        :param column_id

[2017-09-18 15:21] michaelplaing commented on #3988
* The root problem appears to be that grpcio==0.1.6 starts threads during _import_.
* Hence, when the main thread is forked by multiprocessing.Process.start(), these threads are left behind or otherwise messed up.
* Therefore an alternate workaround could be to do a _lazy_ import in the worker.
-> This works, as illustrated by the reworked example:
[code]

[2017-09-18 15:41] jonparrott commented on #3965
This doesn't seem like auth trashing - deferring to @lukesneeringer.

[2017-09-18 17:18] BrandonY commented on #3956
Hi @tseaver,

Answers to questions:

Indeed, GCS will generate IDs for you.

GCS will not create a Cloud Pub/Sub topic for you if one does not exist. It will, though, check to see if the topic you specify exists and permissions have been appropriately configured for GCS to be able to publish topics to it, and the call to create a subscription will fail if either of these two requirements are not m

[2017-09-18 19:56] tseaver commented on #3956
@lukesneeringer Working on system tests for the feature, and running into permissions errors:

[code]

Does the feature require whitelisting?  The docs say that the `notifications/insert` API will create the topic if needed:  I changed the test to create it, without changing the error.

[2017-09-18 21:39] BrandonY commented on #3956
You cannot create a notification to publish to a given Cloud Pub/Sub topic until the following conditions are met:
 1.) the topic exists.
 2.) the GCS service account associated with the project that owns this bucket has permission to publish to that topic.

GCS enforces this constraint, which is what you're seeing. The error message is correct.

[2017-09-18 22:06] lukesneeringer commented on #3988
This is definitely caused by grpc/grpc#12455. I am pinning the client libraries to `< 1.6` to work around this issue for now.

[2017-09-18 22:06] #3946 closed

[2017-09-18 22:06] #3988 closed

[2017-09-18 22:06] #3925 closed

[2017-09-18 23:34] cgthayer commented on #3886
:-(  uhhh, how were the API changes tested before the release if the emulator broke  #test-in-prod

[2017-09-19 02:24] dhermes commented on #3967
@lukesneeringer Can you confirm that `grpc-google-iam-v1` (version `0.11.3` or any other) is still needed?

[2017-09-19 07:30] paulMissault opened #3998 "Google cloud spanner client fails when reading large columns"
Consider following table:

[code]

Which gets populated by 100 rows each containing a large array of 1000 timestamps.

[code]
Trying to fetch these rows with `db.execute_sql('select * from big_arrays limit 100').consume_all()` results in following error and stacktrace:

[code]
Running the above query with the gcloud cli works as intended
`gcloud spanner databases execute-sql my-db --instance=my-in

[2017-09-19 07:55] paulMissault commented on #3998
Issue seems fixed by adding
[code]
to google.cloud.spanner.streamed

[2017-09-19 17:13] dhermes opened #4001 "RTD build broken because of "bad" dependencies in umbrella package"
https://readthedocs.org/projects/google-cloud-python/builds/5997521/

[2017-09-19 18:21] vkedia commented on #3998
cc @tseaver @lukesneeringer
Thanks for filing this. This is duplicate of #3981 .
@paulMissault Do you want to submit your proposed fix as a pull request. It looks reasonable to me.

[2017-09-19 19:45] garye opened #4002 "gRPC connection pool"
I'm interested in adding a gRPC connection pool to the Bigtable client. In the Go client, we implement this using the client-side load balancing infrastructure of gRPC . Is this accessible via python? Alternatively, do you have any better ideas for how to add this feature?

[2017-09-19 19:47] dhermes commented on #4002
/cc @nathanielmanistaatgoogle (He is one of the maintainers of the Python gRPC library `grpcio`.)

[2017-09-19 19:49] garye commented on #4002
FWIW [this](https://github.com/google/google-api-go-client/blob/master/internal/pool.go) is what we do in Go.

[2017-09-19 20:07] mattrobenolt commented on #4001
Same here https://travis-ci.org/getsentry/sentry/jobs/277442282

In our case, this is related to `google-cloud-pubsub` having a looser pin than `google-gox` which was introduced here: https://github.com/googleapis/gax-python/commit/7c018cf3b487a19d1c2ccf59610db15a72407e2a

So when installing just `pip install google-cloud-pubsub` in a new virtualenv, you still end up installing `grpcio==1.6.0` sin

[2017-09-19 20:28] nathanielmanistaatgoogle commented on #4002
I believe client-side load balancing will become available at some point in gRPC Python, but because it's another feature to be inherited from the gRPC Core rather than implemented in Python I have less of a handle on it. @markdroth, do you have more knowledge of the time frame?

[2017-09-19 20:32] dhermes commented on #4001
@mattrobenolt Your issue is not what I'm referring to here. RTD == Read The Docs and the umbrella issue I'm referring to is just a version bound conflict for `videointelligence`.

Thanks for reporting though.

[2017-09-19 20:36] mattrobenolt commented on #4001
But it's the same root cause:

error: grpcio 1.6.0 is installed but grpcio<1.6dev,>=1.0.2 is required by {'google-gax'}

Just replace `google-cloud-pubsub` with `google-cloud-language`. They are both a problem because the each are more liberal with their dependencies than `google-gox`.

And both of these libraries are within the same repository here.

[2017-09-19 20:36] dhermes commented on #4001
Ahh I see that now. Cheers!

[2017-09-19 21:13] garye commented on #1812
This is something the Bigtable team would like to see in the API. I'm happy to sign up to do the work, which I believe could be making `PartialRowsData` iterable with the method @dhermes describes above.

[2017-09-19 21:17] garye commented on #1812
The motivation here is that, while one row can be a maximum of [256MiB](https://github.com/googleapis/googleapis/blob/master/google/bigtable/v2/data.proto#L27), reading the entire result of a `read_rows` call with `consume_all` could quickly lead to memory issues on the client.

[2017-09-19 21:41] bjwatson commented on #3998
@lukesneeringer @tseaver Do you agree that this looks like a quick fix? If so, let's get it done before Beta. If it looks much more involved, then let's discuss more.

[2017-09-19 22:11] dhermes commented on #1812
Works for me @garye.

@lukesneeringer WDYT (re: prioritization)?

[2017-09-19 22:44] subusc opened #4005 "Bigtable / happybase usage from a background thread."
Folks,

  I have an issue with happbase/bigtable client usage in GCE. I have reproed the same in the following script - could one of you please take a look? This is blocking our fleet from talking to BigTable.

  FWIW the script runs fine as far as the scan from current thread (The base table has two rows that match if it matters). Right afterwards when I try to run it from a background thread (po

[2017-09-19 22:48] dhermes commented on #4005
@subusc Could you also provide your version of `grpcio`?

[2017-09-19 22:55] subusc commented on #4005
grpcio==1.6.0 @dhermes  thx.

[2017-09-19 22:58] dhermes commented on #4005
@subusc Can you trying pinning to an earlier version of `grpcio` (e.g. `grpcio==1.4.0`)? We've had reports that `grpcio==1.6.0` is breaking `multiprocessing`.

[2017-09-19 22:59] pdknsk opened #4007 "datastore.Batch doesn't have get method"
I noticed when I tried this.
[code]
I know `client.get` works, but couldn't help notice that all languages operate on a `transaction` object in the [documentation examples](https://cloud.google.com/datastore/docs/concepts/transactions#datastore-transactional-update-python), with the exception of *Python*.

[2017-09-19 23:13] subusc commented on #4005
Oh my that was indeed the issue, it worked! Thanks again!

[2017-09-19 23:13] #4005 closed

[2017-09-19 23:19] dhermes commented on #4005
FYI @nathanialmanistaatgoogle @lukesneeringer another one here.

Sorry for the problem @subusc, we hope to be able to get it resolved so you don't need to worry about the dependencies of your dependencies!

[2017-09-20 00:56] jlewi opened #4008 "spanner library doesn't work with credentials whose scope can't be modified."
I'm using application default credentials to create credentials for use with the spanner client library. These credentials are obtained by running

[code]

My code fails with the following stack trace.

[code]

The problem appears to be the following code from [database.py](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner/database.py#L164)

[code]

[2017-09-20 01:08] jlewi commented on #4008
It looks like there might a helper method [google.auth.with_scopes_if_required](https://github.com/GoogleCloudPlatform/google-auth-library-python/blob/master/google/auth/credentials.py#L224) that will do the right thing. So I think something like the following will work

[code]

[2017-09-20 01:36] jonparrott commented on #4008
This issue aside, you really shouldn't use `gcloud auth application-default login`. It's highly recommend to use service accounts directly. See this documentation: cloud.google.com/docs/authentication/getting-started

[2017-09-20 02:16] lukesneeringer commented on #4008
I think @tseaver just did something for a different API that addresses this?

[2017-09-20 02:19] lukesneeringer commented on #3965
Another possibility would be a connection timing out, except I do not think an hour is a connection timeout anywhere.

[2017-09-20 04:18] jmsuresh commented on #3262
Anyone know what is the recommended way now to use Vision API from appengine Python standard environment.

[2017-09-20 13:11] thijsterlouw commented on #3965
As shown in the last example, the problem sometimes occurs after a longer duration (eg 1h15m). It always seems to happen just after DEADLINE_EXCEEDED but not all DEADLINE_EXCEEDED status codes the problems occur. I cannot tell if the real cause is DEADLINE_EXCEEDED or some other action that simply happens as well in the background.

[2017-09-20 13:55] lukesneeringer commented on #4005
I hereby coin the term "grand-dependencies".

[2017-09-20 13:57] #3931 closed

[2017-09-20 15:25] mbassiouny opened #4010 "Using spanner with OAuth2 fails."
Basically it tries to get the scoped credentials which is not allowed in OAuth2 credentials.

[2017-09-20 18:16] jonparrott commented on #4010
Closed by https://github.com/GoogleCloudPlatform/google-auth-library-python/pull/200

[2017-09-20 18:16] #4010 closed

[2017-09-20 19:43] tseaver commented on #3956
@BrandonY thanks for the followup.  Two points:

- The [docs for enabling notification](https://cloud.google.com/storage/docs/reporting-changes#enabling) say:

I'm guessing that the described behavior is a feature of the `gsutil notification create` subcommand, rather than the `notifications/insert` API.

- I see that error message even when I precreate the topic using the same service account as

[2017-09-20 19:48] dhermes commented on #3956
@tseaver If you're using `gsutil` to understand the behavior, you can actually log the requests made (as well as the payloads sent and received).

[2017-09-20 19:50] tseaver commented on #3956
@dhermes I'm not running `gsutil`:  I'm reading [docs](https://cloud.google.com/storage/docs/reporting-changes#enabling).

[2017-09-20 19:53] dhermes commented on #3956
@tseaver OK, no worries.

[2017-09-20 20:04] tseaver commented on #3956
@BrandonY, @dhermes  See [this gist](https://gist.github.com/tseaver/1944a34a187a5308fe4ce9fa6a146dd7).

[2017-09-21 15:11] tseaver commented on #4008
This is similar to #3933.  The fix there is to update `google.auth >= 1.1.0`, so that GCE credentials no longer derive from `Scoped` (since they cannot implement the `with_scopes` method correctly).

It looks like there is a similar [fix already committed](https://github.com/GoogleCloudPlatform/google-auth-library-python/commit/cb7b3c4f543bc8458863723d47c16ed685440700#diff-8856a6307e1657edfbf1f120

[2017-09-21 15:12] tseaver commented on #3933
Via #3950.

[2017-09-21 15:12] #3933 closed

[2017-09-21 15:15] #3981 closed

[2017-09-21 15:15] #3998 closed

[2017-09-21 15:55] robhaswell commented on #3905
For near-future historians, this is how this programmer did meaningful error handling:

[code]

[2017-09-21 16:01] robhaswell commented on #3886
(This issue is a blocker for me deploying this wonderful new client 😢)

@dhermes

Thank you for your work on emulator support, however for Pub/Sub there was a noticeable drawback, which was that the client library required _any_ valid GCP service account credentials before it would proceed to use the emulator. Hopefully the replaced emulator support won't have this drawback and will use the emulat

[2017-09-21 16:13] robhaswell opened #4017 "Some API documentation is blank (PubSub, Datastore, others)"
Some of the API documentation pages are blank:

* http://google-cloud-python.readthedocs.io/en/latest/pubsub/publisher/api/client.html
* http://google-cloud-python.readthedocs.io/en/latest/pubsub/subscriber/api/client.html
* http://google-cloud-python.readthedocs.io/en/latest/datastore/client.html
* http://google-cloud-python.readthedocs.io/en/latest/monitoring/client.html

This makes it time cons

[2017-09-21 17:45] dhermes commented on #4017
Thanks for letting us know @robhaswell, that certainly is not the intention, it seems something is going wrong with our Read the Docs build.

Check out our `gh-pages` version of the docs:
https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/publisher/api/client.html

/cc @lukesneeringer

[2017-09-21 19:24] tseaver commented on #3956
Looking at the [registering object changes doc](https://cloud.google.com/storage/docs/reporting-changes#enabling) vs. the [`notifications/insert` doc](https://cloud.google.com/storage/docs/json_api/v1/notifications/insert#topic), I have tried using the shorter form for the topic reference (`projects/<project-id>/topics/<topid-id>`), but still get the same 403 error (it even re-expands the path ref

[2017-09-21 19:30] lukesneeringer commented on #3967
I _assume_ it is, but not sure. I can try to find out.

[2017-09-21 19:50] BrandonY commented on #3956
Hi @tseaver,

GCS will not create a topic for you if one does not exist.

I believe you're looking at the instructions under the "gsutil" tab. It is true that the gsutil program will create a topic if you do not specify one. If you click the other tab header, JSON API, you should not see that text.

That is a bit confusing, though. I'll see about changing that bit of doc.

[2017-09-21 20:25] mjschultz opened #4019 "Publish future blocks indefinitely if API raises exception"
1. OS type and version: macOS 10.12.6
2. Python version and virtual environment information `python --version`: Python 3.4.6
3. google-cloud-python version(s):
[code]
4. Stacktrace if available
[code]
5. Steps to reproduce

Attempt to publish to a unknown project/topic (or perhaps a topic you don't have permissions for).

6. Code example

[code]

At this point you'll have a future object, but the

[2017-09-21 20:33] dhermes commented on #4019
@lukesneeringer Is this the `grpcio==1.6.0` issue or something else?

@mjschultz Can you try using an explicitly older version of `grpcio`? i.e. `pip install 'grpcio==1.4.0'`?

[2017-09-21 20:41] mjschultz commented on #4019
Similar results with `grpcio==1.4.0`.

I think the exception that is thrown by the api call just needs to be caught and propagated to the futures

[2017-09-21 22:20] tseaver commented on #3956
@BrandonY thanks for the follow-up.

I had decided already that auto-creation of the topic was not an API feature.  The [system tests I am working on](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4021/commits/374b89c84fb4f8e0f7b7ad61fb624bf5013766df) create the topic before creating the bucket:  they then attempts to create the notification, but fail with the 403.

The Ruby and

[2017-09-21 22:30] #3775 closed

[2017-09-22 00:06] tswast opened #4023 "BigQuery: ArrayQueryParameter.from_api_repr fails with STRUCT query parameter values"
I encountered a system test error on the `bigquery-b2` work when I modified some system tests to use QueryJob to pass in query parameters. The job resource that comes back cannot be parsed because of the query parameters in the query statistics.

The resource which is show the problem is this one:

        RESOURCE = {
            'parameterType': {
                'type': 'ARRAY',

[2017-09-22 00:10] bjwatson commented on #3775
Woo hoo! Thanks @tseaver!

[2017-09-22 07:24] aovlexus opened #4024 "autodetect schema parameter in Table.upload_from_file"
I think it's necessary to add parameter autodetect_chema to function upload_from_file of Table class, this is done by writing corresponding parameter to the matadata dict in this function. But I do not have enough experience to write this code in accordance with the project architecture and tests for this function.

[2017-09-22 09:41] ajudi opened #4025 "Client hangs when using from_service_account_json from the datastore library"
I can't get anything from the datastore or put stuff in the data store from the python lib when using the service account.

1. Linux, Ubuntu 16.04
2. Python 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609] on linux2
3. Name: google-cloud
Version: 0.27.0
Summary: API Client library for Google Cloud
Home-page: https://github.com/GoogleCloudPlatform/google-cloud-python
Author: Google Clou

[2017-09-22 13:28] tseaver commented on #4024
@aovlexus Thanks for the report!  @tswast is in the middle of a redesign of the API, which should accomplish your goal.

[2017-09-22 15:26] tseaver commented on #3474
@lukesneeringer, @dhermes I have just refreshed the `storage-requester_pays-feature` branch.

I updated the one system test, previously skipped because the back-end needed us to be white-listed, to run unconditionally.  We still need to figure out the CI sytem test story for testing that the `user_project` arguments work against a bucket created w/ `requester_pays` (requests passing `user_project`

[2017-09-22 17:05] WillianFuks opened #14498 "test `read_gbq` with `dryRun` in `configuration` parameter"
Hello,

Recently a [question](https://stackoverflow.com/questions/46344535/how-can-i-send-the-dryrun-parameter-to-pandas-read-gbq-function) featured on SO asking about running a `read_gbq` job with `dryRun` settings defined as `True`.

As it turns out, for what I could [check](https://github.com/pydata/pandas-gbq/blob/master/pandas_gbq/gbq.py#L558), currently we can send query definitions but ever

[2017-09-22 17:05] WillianFuks opened #14499 "test `read_gbq` with `dryRun` in `configuration` parameter"
Hello,

Recently a [question](https://stackoverflow.com/questions/46344535/how-can-i-send-the-dryrun-parameter-to-pandas-read-gbq-function) featured on SO asking about running a `read_gbq` job with `dryRun` settings defined as `True`.

As it turns out, for what I could [check](https://github.com/pydata/pandas-gbq/blob/master/pandas_gbq/gbq.py#L558), currently we can send query definitions but ever

[2017-09-22 17:08] tseaver commented on #3956
@BrandonY 7d9ee94 adds the binding to the topic's IAM policy, required to enable creating the notifications.  Those system tests are now passing.

[2017-09-22 17:15] tseaver commented on #3956
@BrandonY re: round-trip tests.  The [concept docs](https://cloud.google.com/storage/docs/pubsub-notifications#delivery_guarantees) say:

That makes writing a non-flaky system test for the round-trip a good deal harder:  how can we know when the notification is active?

[2017-09-22 17:39] tseaver opened #4031 "Missing system tests after pubsub redesign"
The redesign effort (#3859) left behind only very minimal system tests.  The older implementation had much broader system test coverage:

- Listing topics and subscriptions in the client's project.
- Creating subscriptions with non-default settings.
- Listing subscriptions bound to a topic.
- Setting / getting IAM policy for topics and subscriptions
- Creating / seeking snapshots.

I noticed the m

[2017-09-22 17:55] BrandonY commented on #3956
Yes, the service account for the project must have permission to publish to the topic before the call to create the subscription will succeed.

Writing a system test that obeys this constraint will require waiting 30 seconds after you create a notification before verifying that changes are being received by Cloud Pub/Sub. In practice, you can probably get away with 10-15 seconds.

[2017-09-22 18:06] tseaver commented on #3761
[Happened again today](https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/3430).

I think the fix is to have `tearDown` wrap an entire helper function with `retry_429` (since `retry_429` doesn't make sense inside the batch context manager's suite).

[2017-09-22 19:06] tseaver opened #4035 "Logo detection tests flaky"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/3433

[2017-09-22 20:08] ep-tpat opened #4039 "Error running "from google.cloud import storage" command"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2017-09-22 20:53] #4023 closed

[2017-09-22 21:02] jacksonlima91 opened #4042 "Hi, I'm trying to deploy my application to GAE, but I have the errors below. can you help me?"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://github.com/GoogleCloudPlatform/google-cloud-python/issues
- http://stackoverflow.com/questions/tagged/google-cloud-python

If you can provide us with as much of the following infor

[2017-09-23 12:51] lukesneeringer commented on #4039
Is `protobuf` installed? (Your pip freeze command obscures this.)

[2017-09-23 12:53] lukesneeringer commented on #4008
Hello @jlewi,
Based on the above, I am going to close this issue, and you just need to update to `google auth >= 1.1.0`. If that does not solve your problem, feel free to open a new issue.

[2017-09-23 12:53] #4008 closed

[2017-09-23 12:54] lukesneeringer commented on #4042
Hi @jacksonlima91,
This repository is for the Python client libraries for Google APIs, not for GAE. Sorry. :-(

[2017-09-23 12:54] #4042 closed

[2017-09-23 18:23] ambrosejcarr opened #4053 "blob.download_as_string failure (google-cloud-storage 1.3.2)"
I'm having trouble using the `blob.download_as_string` and the related `blob.download_to_file` functionality of google.cloud.storage. I noticed a similar error has come up on the Google Cloud Developers slack.

I installed google-cloud more recently than any other module, so if dependencies are broken, they are not picked up by the `pip3 install google-cloud` invocation.

`google-cloud-storage` is

[2017-09-23 21:23] tseaver commented on #4008
@lukesneeringer FWIW the fix for `google.oauth2.credentials.Credentials` is not part of the `google.auth 1.1.0` release:  @jlewi needs to upgrade to `google.auth 1.1.1` to get the fix.

[2017-09-23 21:28] tseaver commented on #4035
Ugh! PR #4050 "fixes" the failure by blindly copying in the new "magic" values now returned by the back end (replacing the other "magic" values it previously returned).

[2017-09-23 21:28] #4035 closed

[2017-09-23 21:32] tseaver commented on #4053
Duplicate of #3747:  you can work around the issue by upgrading `requests`, e.g.:

[code]

[2017-09-23 21:32] #4053 closed

[2017-09-25 00:40] nathanielmanistaatgoogle commented on #2177
A final (or nearly final) thought on this: [we now believe that `grpc.Channel`s should be treated much more like `file`s or `socket.socket`s in that they should be considered consumers of system resources and not maintained at inappropriate scopes (such as module scope) where they will have inappropriately-long lifetimes (such as the lifetime of the Python interpreter execution)](https://github.co

[2017-09-25 07:09] noamt commented on #4001
We're really suffering from this issue as well when trying to use `google-cloud-pubsub`.
We use `setuptools` to resolve dependencies and it fails fast on `grpcio 1.6.0 is installed but...`, breaking all our builds.
Is there a workaround for this?

[2017-09-25 08:43] mattrobenolt commented on #4001
Just pin grpcio like https://github.com/getsentry/sentry/commit/8fd26a305a6844b9a6425038c65728e43916c100

[2017-09-25 09:05] noamt commented on #4001
Cheers @mattrobenolt

[2017-09-25 10:22] thijsterlouw commented on #3965
Because we have no idea what is going on, we decided to rip out uwsgi and just do "python app.py"
After a while this again resulted in problems:

similar backtrace as before:
[code]

[2017-09-25 12:08] ep-tpat commented on #4039
Hi Luke.  Yes, protobuf seems to be installed:

**$ pip3 freeze | egrep '^google|protobuf'**
google-auth==1.1.1
google-cloud==0.27.0
google-cloud-bigquery==0.26.0
google-cloud-bigtable==0.26.0
google-cloud-core==0.26.0
google-cloud-datastore==1.2.0
google-cloud-dns==0.26.0
google-cloud-error-reporting==0.26.0
google-cloud-language==0.27.0
google-cloud-logging==1.2.0
google-cloud-monitoring==0.26.0

[2017-09-25 16:47] dhermes commented on #4025
@ajudi Can you try this with HTTP and see if you get a similar error? You can do this by setting the env. variable `GOOGLE_CLOUD_DISABLE_GRPC=True`.

[2017-09-25 16:48] dhermes commented on #3474
@tseaver Let's coordinate the `goolge-cloud-node` as the "other project"?

[2017-09-25 17:24] tseaver commented on #3474
We need access to run requests passing their project ID as `userProject` (and I assume we grant similar access for them).

[2017-09-25 18:13] frankyn commented on #3474
Chiming in: @tseaver, which operations does the system test use? The non-owner project doesn't require whitelisting for requester pays, only the bucket owner project.

[2017-09-25 18:59] tseaver commented on #3474
@frankyn The [current system tests](https://github.com/GoogleCloudPlatform/google-cloud-python/compare/master...storage-requester_pays-feature#diff-76380c4d34ce398e5075ab86d5305f5dR99) don't do anything more than create a bucket with `requester_pays` enabled.  Apparently the project we use for CI (`precise-truck-742`) has been whitelisted, which allows them to pass.

However, to properly test the

[2017-09-25 20:17] jnhasty opened #4058 "Spelling Error (_medical_likeliehood)"
_medical_likeliehood -> _medical_likelihood

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/b28a4eb667ae08c3f4dcf9af891ed4931884989c/vision/google/cloud/vision/safe_search.py#L43

[2017-09-25 21:42] jlewi commented on #4008
Thanks

On Sep 23, 2017 2:23 PM, "Tres Seaver" <notifications@github.com> wrote:

[2017-09-25 23:17] tseaver commented on #4058
@jnhasty Thank you for the report!

[2017-09-26 13:00] ppawiggers opened #4062 "Use POST with Translate API"
I try to translate a piece of text that's more than 2000 characters. The limit of a GET request to the translate API is 2000 characters. So my idea was to POST instead of GET, but that does not seem to be configurable, see https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/translate/google/cloud/translate_v2/client.py#L234 .

Is it possible to use POST with Translate?

[2017-09-26 14:03] rasmi opened #4063 "projects.models.versions.setDefault() requires empty body parameter"
When calling [projects.models.versions.setDefault](https://cloud.google.com/ml-engine/reference/rest/v1/projects.models.versions/setDefault):
[code]
It seems that body must be passed even if it is empty. In other methods, body is simply omitted if it is not required, but in setDefault, omitting the body parameter gives an error:
[code]

[2017-09-26 14:36] #4058 closed

[2017-09-26 14:46] dhermes commented on #4063
@rasmi You're looking for https://github.com/google/google-api-python-client

Sorry for the confusion. Let us know if there's anything else we can help with.

[2017-09-26 14:46] #4063 closed

[2017-09-26 15:02] rasmi commented on #4063
Thanks! Issue has been reported already here: https://github.com/google/google-api-python-client/issues/416

[2017-09-26 16:54] frankyn commented on #3474
Thanks for clarifying the state of tests.

Follow-up question, by "having access" you mean grant `roles/storage.objectAdmin` for different object related permissions when using requester pays?

[2017-09-26 17:58] tseaver commented on #3474
System tests run under a service account, associated with a given project.  In order to exercise the APIs which take `user_pays`, that account needs to be "allowed" to pass in a different project than its "default" one, which doesn't seem like a grant of storage-specific roles/permissions on any given bucket / object:  it is more something which would have to be set up at the "resource manager" la

[2017-09-26 18:53] tseaver commented on #4062
Thanks for the report.  According to the [REST API docs](https://cloud.google.com/translate/docs/reference/translate), the `translate` API is *supposed* to be invoked with `POST`:  I am surprised that it works at all with `GET`.

However, that same API doc requires that all parameters to the `translate` method be passed in the query string, which means that the limit is probably not any different

[2017-09-26 21:13] jonparrott opened #4068 "Ensure that gRPC metrics headers are in the order requested by the spec."
The present order in `api.core` is:

[code]

The order per spec should be:

[code]

[2017-09-27 00:34] vkedia opened #4071 "Cloud Spanner client incorrectly handles NOT_FOUND error returned by create database"
While creating a database, is the backend returns NOT_FOUND error, the client assumes it to indicate that instance is not found and thus returns "Instance not found" error message:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanner_v1/database.py#L213

This is not always the case as cloud spanner can return NOT_FOUND in other scenarios. For eg in th

[2017-09-27 05:49] frankyn commented on #3474
IIUC, you're looking for more information what is necessary for testing Requester Pays with multiple projects?

The secondary service account should have roles for Project Owner and Storage.Admin to its own Google Project for requester pays to bill the account when for example downloading an object from a requester pays enabled bucket. (Project Owner role assignment is at the Resource Manager leve

[2017-09-27 09:42] proserve commented on #1295
+1

[2017-09-27 13:59] fcaldas opened #4072 "PubSub: block while reading topic"
Hi,

I have a considerable amount of code depending on `google.cloud.pubsub.Client` and I noticed that on the last versions this object was separated into two objects, one of them being `SubscriberClient` and this new object has a non-blocking behaviour which is causing me some problems.
Since in my use-case I have a cron job that runs once a day and consumes the PubSub I need a way to know when t

[2017-09-27 14:22] lukesneeringer commented on #4072
Hi @fcaldas,
Thanks for reporting / asking. :-)

At this time, the Pub/Sub library does not have a blocking call (essentially due to too many people with high performance needs painting themselves into difficult situations).

For your particular use case, I think what I would recommend is relying on the Pub/Sub client's internal management to know when you have burned down everything in your queue

[2017-09-27 14:22] #4072 closed

[2017-09-27 14:24] lukesneeringer commented on #4068
And `core` should be spelled `gax`.

[2017-09-27 14:26] lukesneeringer commented on #4062
This seems to be a limitation of the underlying API. There is not really anything the client libraries can do about this. Sorry. :-(

[2017-09-27 14:30] lukesneeringer commented on #4039
Hmm. I just tried on my machine with a new virtualenv and was successful.
Are you able to import `google.protobuf` directly? (Just trying to think of things to eliminate.)

[2017-09-27 15:32] dhermes commented on #4039
We've seen this issue quite a lot and it's almost always caused by a "bad" install, i.e. one where the correct `.pth` files don't get created.

@ep-tpat Try installing into a `virtualenv`, so you can verify the install works. Then from your global install (i.e. `/usr/lib/python3.4/site-packages`) you can work on fixing the issue. (Usually just `pip install --ignore-installed protobuf` will work.)

[2017-09-27 15:32] #4039 closed

[2017-09-27 15:41] dhermes commented on #4062
@tseaver Have you tried sending the query parameters in the body?

[2017-09-27 15:50] Kayrnt opened #4073 "Query error when trying to insert in partitioned table"
Using following code to write in an existing daily partitioned table:
[code]

I expected similar result as the CLI with
`bq query --use_legacy_sql=false --replace --destination_table 'dataset.table$20170927' "..."` which works flawlessly

But it returned `ERROR - 400 Partitioning specification must be provided in order to create partitioned table`

I suspect that some parameters are missing that w

[2017-09-27 16:40] Kayrnt commented on #4073
I found out switching to the CLI implementation that the issue was that the table didn't existed (I was passing another dataset, not the one where I created the partitioned table).

I guess the server error is pretty misleading as partitioned tables can't be created out of the format of the table name (ie table$YYYYMMdd or table$YYYYMMdd for upcoming hour level support) and therefore requires a pr

[2017-09-27 16:40] #4073 closed

[2017-09-27 17:44] WillianFuks commented on #3822
I wonder if this is related to this SO [thread](https://stackoverflow.com/questions/36846571/bigquery-table-truncation-before-streaming-not-working). As Hoffa pointed out, this is an expected behavior of BigQuery so I imagine the python API might not have much to do here, other then throw a `ServiceUnavailable` error message.

[2017-09-27 19:06] tseaver opened #4074 "'Bucket'/'Blob' do not support 'user_project' during 'update'"
Whether due to oversight, or because the `buckets.update` / `objects.update` APIs weren't allowing it during implementation, the `update` methods (implemented in `_helpers._PropertyMixin`) don't pass their object's `user_project` (if set).

See #3474.

See also the `buckets.update` and `objects.update` method descriptions in the [discovery doc](https://www.googleapis.com/discovery/v1/apis/storage/

[2017-09-27 19:31] tseaver commented on #4062
@lukesneeringer Our implementation is still contra-spec (sending a `GET` vs a `POST` request).

[2017-09-27 19:33] tseaver commented on #4062
@dhermes I haven't poked at anything:  I just looked at the [`translate` API docs](https://cloud.google.com/translate/docs/reference/translate), which mandate query parameters and a body-less `POST` (absurd, I know).

[2017-09-27 20:18] tseaver commented on #3474
@frankyn I think I have not communicated my issue clearly.  IIUC, when making API requests to a bucket w/ `requesterPays` enabled (or an object in that bucket), the caller passing `userProject` needs two kinds of authorization:

- Permissions/roles to make the request to the API endpoint.
- Authorization to charge that request to a user-supplied project.  Given the explicit `userProject` query par

[2017-09-27 20:35] tseaver commented on #4074
Via #4075.

[2017-09-27 20:35] #4074 closed

[2017-09-27 22:30] frankyn commented on #3474
Following-up through email.

[2017-09-28 04:13] sd-omkar commented on #3923
@dhermes thanks for the patch in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3927.

I was wondering how long would it take for this change to make it to https://pypi.org/project/google-cloud/. The latest there seems to be from Aug. 5, 2017

[2017-09-28 10:31] cpavon opened #4077 "NDB JsonProperty and Cloud Datastore library compatibility"
I have code running on Standar GAE using NDB and code running in flexible env using google cloud datastore library. Both accessing to the same entities.

I have problems dealing with ndb.JsonProperty. As far as I read those properties are stored as blob, so I tried to simulate that property using cloud library. Before store the value I do the following:

[code]
And the opposite when I read a prope

[2017-09-28 11:42] cpavon commented on #4077
Ok, it seems that the value inserted using Cloud Library is saved as String while the one inserted using NDB is a Blob.

So I just need to figure out how to store the value as Blob using cloud datastore library

[2017-09-28 12:51] ep-tpat commented on #4039
Thanks for the help, guys.  After installing virtualenv, it worked perfectly.  So....any chance you can point me in the right direction to get the issue ironed out not using virtualenv?  This was a freshly spun up Google VM running CentOS 7.  I didn't do anything else to it other than install Python3, Pip and Google Cloud.  Also note, I'm new to Python (only about 2-3 months).  Commands below:
___

[2017-09-28 15:07] dhermes commented on #4039
@ep-tpat

1. System Python isn't really a great place to set up an environment, `pyenv` / `virtualenv` really are good options
1. Did you try `pip install --ignore-installed protobuf` (will need to be with `sudo` if you use the `yum` installed Python)?
1. In an interpreter `import google` and print out `google.__path__`, it should give you an idea of where it is installed.
1. Look for "bad" namesp

[2017-09-28 15:10] dhermes commented on #3923
@sd-omkar Thanks for noticing, we'll try to get a release out soon.

Also, worth noting that the `google-cloud` package is less relevant than the [`google-cloud-datastore`][1] package.

[1]: https://pypi.org/project/google-cloud-datastore/

[2017-09-28 15:42] ndrbrt opened #4078 "blob.make_public() not working"
1. OS type and version

2. Python version and virtual environment information `python --version`

3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`

4. Stacktrace if available
[code]
5. Steps to reproduce
6. Code example
[code]

Everything works just fine without `blob.make_public()`

[2017-09-28 16:11] jooon commented on #3861
I see the same problem and I think it is the same issue as #4019. I currently get around it, by subclassing thread.Batch and overriding _commit and wrapping the entire call in a try catch that does future.set_exception. It doesn't feel right though, because it will cause all futures to fail in the batch.

[2017-09-28 16:16] ep-tpat commented on #4039
@dhermes

I'll stick with your first point.  If virtualenv is a good option then I'll just move forward with that.  Thanks for everyone's help!

[2017-09-28 16:17] dhermes commented on #4078
@ndrbrt You need to create the `blob` / object before you can make it public.

[2017-09-28 16:19] dhermes commented on #4077
@cpavon Sorry for the confusion. We upload as bytes if the type is `bytes` (also `str` in Python 2) and as unicode/string if the type is `unicode` (which is `str` in Python 3).

In Python 2, the default string literal `'abc'` is `bytes` but in Python 3 it's unicode. If you want a consistent bytes literal, use `b'abc'` and if you want a consistent unicode literal, use `u'abc'` or `from __future__ i

[2017-09-28 16:19] #4077 closed

[2017-09-28 16:22] dhermes commented on #4077
@cpavon Note the return types of `json.dumps` and `base64.b64encode` in Python 2 and 3:

[code]

vs.

[code]

[2017-09-28 16:26] cpavon commented on #4077
Thanks @dhermes
I'm working with python2 so it seems that just removing the base64 encoding/decoding the value is stored as blob and NDB is reading the value without problems.

[2017-09-28 16:48] dhermes commented on #4077
That's correct.

[2017-09-28 17:57] ndrbrt commented on #4078
@dhermes Isn't `blob = bucket.blob(blob_name)`supposed to do just that?

Also, the example in the docs is very similar: https://cloud.google.com/storage/docs/access-control/making-data-public#storage-make-object-public-python

[2017-09-28 18:09] dhermes commented on #4078
@ndrbrt Sorry for the confusion, `bucket.blob` does no network at all, it just creates a local `Blob` instance bound to the `bucket`. See the [note][1] in the docs. If you want to talk to the server, call `blob.create()`.

The example linked assumes the blob already exists (on the server) in the bucket. @jonparrott Maybe a comment should be added to that document?

I am going to pre-emptively clos

[2017-09-28 18:09] #4078 closed

[2017-09-28 19:12] ndrbrt commented on #4078
@dhermes `AttributeError: 'Blob' object has no attribute 'create'`

It seems, by reading the docs, it's just the bucket that has that method, not the blob. (Am I right?)

At this point I'm wondering when exactly my blob is created.. Might be it's created only when I call the upload URL from the resumable upload session with a PUT request from my client?
If so I can just send another request at tha

[2017-09-28 19:17] tseaver commented on #4078
@ndrbrt You are correct that `Blob` instances are created by uploading them, via `Blob.upload_from_file`, `Blob.upload_from_filename`, or `Blob.upload_from_string`.

`Blob.make_public` is a "convenience wrapper" which updates the blob's ACL and saves it via an API request.  You can bypass the extra API call by updating the blob's ACL yourself before calling one of the upload methods.  E.g.:

[code

[2017-09-28 19:20] dhermes commented on #4078
Ah, so sorry for the wrong information.

[2017-09-28 20:54] mixmastamyk opened #4080 "Install broken due to dependency on tenacity/pbr"
The install bug does not appear in this lib but in a dependency, this is just a courtesy issue to inform.  Going back to "gcloud" does work in the meantime.

- ImportError: No module named 'tasks'
- Py 3.5
- Ubuntu Zesty

Details:

- https://github.com/jd/tenacity/issues/90

[2017-09-28 23:14] mixmastamyk commented on #4080
I was able to get past this by removing cli_helpers:

    ⏵ sudo -H pip3.5 uninstall cli_helpers

[2017-09-28 23:14] #4080 closed

[2017-09-28 23:35] dhermes commented on #4080
Thanks for closing, it seems unrelated to the current version of this library.

[2017-09-29 09:23] ndrbrt commented on #4078
@tseaver If I call it before the upload method it actually raises the same error. I'll probably end up making another request once the upload is done.
Thank you

@dhermes No worries, thank you anyway

[2017-09-29 09:55] duilio commented on #3888
A workaround would be to override the default Policy used by the Client. For instance:

[code]

[2017-09-29 10:34] cpavon opened #4082 "NDB Compressed properties compatibility"
Using NDB you can define entity properties as compressed and its value will be stored as a blob result of the compression (zlib) of the original value.

I tried to emulate this behavior using google-cloud-datastore library and I inserted a value (blob) exactly equal that the one that NDB inserts.

![image](https://user-images.githubusercontent.com/2834052/31012203-2f4ca3be-a511-11e7-9867-0bb586745

[2017-09-29 13:14] pongad opened #4083 "pubsub: streaming pull needs keepalive"
With default configuration, streaming pull will hang if the stream is idle for a few minutes. This usually happens when the subscription has no more messages. In Go, we set gRPC keepalive to 5 minutes [(CL)](https://code-review.googlesource.com/#/c/gocloud/+/17070/). A similar option should be available in Python, though I'm not sure what the code to pass in the option looks like.

[2017-09-29 13:32] tseaver commented on #4078
@ndrbrt I don't mean to call `make_public` (which would make the API request).  In my example above, I configured the blob's ACL the same way `make_public` does (`blob.acl.all().grant_read()`).

[2017-09-29 14:57] dhermes commented on #4082
@cpavon I'm pretty sure `ndb` sets a `meaning` on the property, which is a "bygone" feature of the datastore API (i.e. not officially supported). Can you retrieve the raw protobuf contents of each property and let me know the difference (I think it'd be faster than me deploying a GAE app)?

[code]

[2017-09-29 18:39] tseaver opened #4087 "Blob IAM support apparently invalid"
While writing system tests for the `requester_pays` feature, I triggered the following:

[code]

Note that the earlier call to `Blob.get_iam_policy` does succeed, returning:

[code]

We don't have existing system tests for `Blob.set_iam_policy`, but the [Storage IAM docs](https://cloud.google.com/storage/docs/access-control/using-iam-permissions) don't define any IAM operations for blobs, only for

[2017-09-29 19:04] tseaver commented on #4087
@frankyn confirmed to me offline:

[2017-09-29 20:00] tseaver commented on #4087
It turns out that `Blob.set_iam_policy` can only assign the following "legacy" roles:

- `roles/storage.legacyObjectReader`
- `roles/storage.legacyObjectOwner`

[2017-09-30 02:18] dhermes commented on #3967
@selfiebot We haven't actually confirmed it's an issue. It seems like a bad install of `protobuf`. (PS Are you a person or a bot?)

[2017-10-01 18:30] previ commented on #3947
I have the same problem. It seems that dispite the streaming_recognize session is stopped after a few seconds, any subsequent call adds to the total elapsed time, ultil it encounters the limit.
I was not able to reset the elapsed time or the streaming session, except by restarting the whole process (very inconvenient).
Any hints?

[2017-10-02 07:28] cpavon commented on #4082
Yep, you're right, the value stored using NDB arrives with meaning "22".

[code]

And everything works fine if I set the proper meanings before the put operation using the API:

datastore_entity._meanings = {'name_compressed': (22, datastore_entity.get('name_compressed'))}
client.put(datastore_entity)

If I save the entity in that way NDB and API are be able to read it without problems.

Is that t

[2017-10-02 14:40] #4062 closed

[2017-10-02 15:50] #4082 closed, assigned to dhermes

[2017-10-02 16:58] tseaver opened #4097 "GCS notification convenience methods, pubsub dependency"
In #4021, @BrandonY asked for convenience wrapprer(s) for the following:

- Create the user-supplied topic
- Set the appropriate IAM policy needed to support bucket notifications
- Create a subscription to the topic

Adding this support would make `storage` depend on `pubsub` (at least optionally), and would complicate our testing story (system tests already add it).  Ruby just documents what is r

[2017-10-02 17:08] BrandonY commented on #4097
Without this convenience function, everyone who wants to use notifications will have to write a function that invokes around 4 calls:

* Call GCS to request the name of the appropriate permission for your GCS bucket.
* Call Pub/Sub to create a topic
* Call Pub/Sub's IAM interface to add publish permission to the robot that was the response to the first RPC.
* Call GCS to add notifications to a buc

[2017-10-02 19:53] tseaver opened #4100 "Flaky system test: 'test_create_signed_read_url'"
The expiration time for the URL (5 seconds in the future) is too tight.

[2017-10-02 20:05] #4100 closed

[2017-10-02 23:05] bkungfoo commented on #3967
@dhermes Sorry about that. I commented via an internal thread, and the username surfaced as "selfie bot". :)

[2017-10-03 10:44] ajudi commented on #4025
@dhermes, thanks! This seems to solve the issue but do you know why GRPC wouldn't be working for me. Seems to be installed and importable.

[2017-10-03 15:03] dhermes commented on #4025
@ajudi I was "hoping" it'd be the same error with a better error message.

[2017-10-03 15:21] cgthayer commented on #3888
Having a future to check on would be a whole lot cleaner probably. At least it would be clear that control was being passed around, whereas having the on_exception() is vague and requires understanding the internals some.

We've had to do something similar because we see this error which never seems to recover (running in google container engine):

`grpc._channel._Rendezvous: <_Rendezvous of RPC t

[2017-10-03 18:30] dhermes opened #4109 "Firestore: Use simple types for cursors"
i.e.

[code]

rather than the current

[code]

/cc @samtstern @jonparrott

[2017-10-03 18:33] dhermes commented on #4109
If I was to implement this I could, by accepting `*values` and then making sure either

1. `len(values) == len(self._orders)`
1. `len(values) <= len(self._orders)`

then we could just match each value with the corresponding order. It's documented that subsequent calls to `start_at()` just **RESET** the start point wholesale (and `start_after()` also wipes it, and similar for `end_before()` / `end_

[2017-10-03 18:36] dhermes opened #4110 "Consider adding a `desc` or `descending` keyword argument to `Query.order_by`"
From Google internal bug 65127895 (intentionally not providing a URL).

----

Currently the sort order should be specified as a string:

[code]

This is error prone, since a user may make a typo while typing the
string out. The following would be much simpler:

[code]

We (the Firestore team) don't have a strong opinion on this. Note that the Java SDK uses an Enum, the JS SDK uses the string and t

[2017-10-03 18:36] dhermes commented on #4110
ISTM the original requester didn't realize that the value was accessible as a constant rather than being fully "stringly typed"

[code]

----

From @schmidt-sebastian

I think this is a good simplification but would not treat this as blocking.

[2017-10-03 18:37] dhermes commented on #4110
@jonparrott and @lukesneeringer Can you weigh in here?

[2017-10-03 18:44] dhermes opened #4111 "firestore.CreateIfMissingOption should be replaced"
Paraphrased from @samtstern:

It's still possible to do

[code]

The other Firestore SDKs have removed this option and moved to an option on the `set()` operation called, `merge()`.  For example, in the Android SDK:

[code]

The new semantics make it so that the `set()` operation (and `create()` which some SDKs offer) is the only operation which can make a new document.  The `merge()` option means

[2017-10-03 18:47] dhermes opened #4112 "Do we need to add support for Firestore labels?"
Present on [`WriteRequest`][1] and [`ListenRequest`][2]:

[code]

/cc @schmidt-sebastian @samtstern

[1]: https://github.com/googleapis/googleapis/blob/454e3d57a782e426d79d243aeea2bd2d23e55db8/google/firestore/v1beta1/firestore.proto#L490-L491
[2]: https://github.com/googleapis/googleapis/blob/454e3d57a782e426d79d243aeea2bd2d23e55db8/google/firestore/v1beta1/firestore.proto#L532

[2017-10-03 18:49] dhermes opened #4113 "How asynchronous should the Firestore API be?"
This is very much related to @jonparrott's GAX/GAPIC overhaul. #4692

Most methods return a JavaScript Promise, and we could use a `Future` as return values. However, the current implementation is fully synchronous.

----

From @jonparrott

gRPC supports non-blocking calls. I'm not sure if gax exposes those? If it doesn't it shouldn't be too horribly difficult to do so.

[code]

[2017-10-03 18:54] dhermes commented on #2990
For all those coming by, I have done a "deep" dive today to understand this issue and found out that `pip==9.0.1` (current latest) still comes with a broken version of `setuptools`.

This `'_NamespacePath' object has no attribute 'sort'` error is **unavoidable** if you use `python setup.py install` on one of our packages (they are all namespace packages).

If you have a fresh environment and **onl

[2017-10-03 18:54] dhermes commented on #3581
For anyone who comes here, see #2990.

[2017-10-03 18:54] dhermes commented on #3884
For anyone who comes here, see #2990.

[2017-10-03 18:57] dhermes commented on #4113
[code]

`google.gax.CallOptions` doesn't have a "future" option (that is part of @jonparrott's project)

[2017-10-03 21:03] schmidt-sebastian commented on #4112
Neither WriteRequest nor ListenRequest should at this point be used in the Python SDK.

[2017-10-03 21:05] dhermes commented on #4112
@schmidt-sebastian That is true, they are not. Closing out for now.

[2017-10-03 21:05] #4112 closed

[2017-10-03 21:47] hiranya911 opened #4115 "Firestore Client Doesn't Work in Python 3.3"
Firestore library doesn't work on Python 3.3. Here's a sequence of steps to reproduce:

[code]

The issue seems to be grpc-related. The dependency takes an unusually long time to install.

Here's a link to a [Travis build](https://travis-ci.org/firebase/firebase-admin-python/builds/282938827) of the Firebase Admin SDK which depends on Firestore. Note how things fail only in the Python 3.3 environm

[2017-10-03 21:49] lukesneeringer commented on #4115
Officially, we only support Python 3.4 and up (and 2.7), in keeping with the policy if most other large open source projects. That said, we will take a look at this and fix it if it is straightforward. :-)

[2017-10-04 05:17] panuta opened #4117 "DefaultCredentialsError is raised when getting client using JSON credentials on Docker"
I'm trying to connect to Datastore from inside Docker container running on my local machine when I got this DefaultCredentialsError.

[code]

My Docker container is from `jfloff/alpine-python:2.7` image. I have set Docker volume to let this container access credentials file from the host and I have already make sure that Python can see this file. What I don't understand is that if I try to call fu

[2017-10-04 12:36] mlaferrera commented on #4025
I've been running into this same issue. Settings the above ENV variable does seem to work. One thing that I did notice in my testing is if I run `client.get(key)` within the python interactive shell it will hang, then if I hit `ctrl-c` and re-run `client.get(key)` without instantiating `client` again, it will successfully run.

[2017-10-04 17:39] dhermes commented on #4025
@mlaferrera That makes it sound like a gRPC issue (which is what I think may be happening with @ajudi). Do you mind sharing what OS you are running on? And what version of Python?

[2017-10-04 17:41] dhermes commented on #4117
@panuta Thanks for filing. Have you seen our [auth guide][1]? Also, is the filename in the error:

[code]

the same as the filename you are manually loading?

[code]

[1]: http://google-cloud-python.readthedocs.io/en/latest/core/auth.html

[2017-10-04 17:43] mlaferrera commented on #4025
Certainly. I was also attempting to test on python 3.5.2 and was experiencing the same issue.

[code]

[2017-10-04 18:04] dhermes commented on #4025
@mlaferrera What version of `grpcio` do you have installed? Can you consistently reproduce this behavior?

[2017-10-04 18:13] mlaferrera commented on #4025
Yes, this is consistently reproducible when  `datastore.Client()` is instantiated. However, this was previously working fine in a production environment. From my logs, it appears the problem started at 18:49:25.000 on 9/27/2017.

Below are the python libs installed:

[code]

[2017-10-04 18:18] dhermes commented on #4025
@mlaferrera I was hoping `grpcio==1.6.0` would be the culprit, but I'm equally surprised to see `grpcio==1.1.0`. How are you installing the packages?

[2017-10-04 18:23] stew-r opened #4118 "Python logging page missing usage examples"
This page (https://googlecloudplatform.github.io/google-cloud-python/latest/logging/usage.html) does not provide any information on using the TextEntry objects returned by the logger's list_entries() method. I could not find any other documentation online to describe the attributes or methods for this object. Would it be possible to flesh out the documentation to include an example or two related

[2017-10-04 18:25] dhermes commented on #4118
@waprin Do you know if there are docs for this?

[2017-10-04 18:34] mlaferrera commented on #4025
Well that is silly on my part. I was running an old image that initially had the issue as of the above time. I rebuilt the image with `grpcio==1.6.3` via `pip install google-cloud==0.27.0`.

*Without* the ENV variable `GOOGLE_CLOUD_DISABLE_GRPC=True` set, I then ran:
[code]

Success! With `grpcio==1.6.3` it does not appear to require the ENV set.

However, if I revert to the old image (with the pr

[2017-10-04 18:39] dhermes commented on #4025
@mlaferrera FWIW the ENV var actually changes the transport from HTTP 1.1 to gRPC (which uses HTTP 2). You can "see" this by viewing `client._datastore_api`.

ASIDE: I would recommend that you use `grpcio==1.4.0` due to https://github.com/grpc/grpc/issues/12455

[2017-10-04 19:52] waprin commented on #4118
@stew-r @dhermes is this helpful? https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry

[2017-10-04 19:56] stew-r commented on #4118
That matches up pretty closely with the attributes of the TextEntry object, though not perfectly (e.g., "insertId" vs. "insert_id"). My point was simply regarding capturing a common use case in documentation.

[2017-10-04 20:26] tseaver commented on #4115
This is most likely down to `pip` / `setuptools` bugs WRT namespace packages. @hiranya911, can you please try adding the following:

[code]

Before installing `google-cloud-firestore`?

[2017-10-04 20:34] danoscarmike commented on #4097
Ack.  @BrandonY I'll reach out to you offline.

[2017-10-05 00:04] alexanderwhatley opened #4120 "FireStore GaxError: Request Entity Too Large"
Not clear if this is a bug or not, but the error message seemed pretty strange. The code below threw the following error messsage:

[code]

Error Message:

[code]

[2017-10-05 02:36] alexanderwhatley commented on #4120
I tried breaking the write operation down, and I got another weird error:

[code]
Error:
[code]

[2017-10-05 03:13] dhermes commented on #4120
So for the first error, it seems you are clear on what the issue is, your entity was too large. I'm not sure what the limits are, maybe @samtstern can help there?

As for the second, the string which is the full document key has a length of 79, so the error essentially says it's an incomplete key.

The issue is essentially my fault (I'm the sole dev of the `firestore` package) for allowing a `/` i

[2017-10-05 03:30] alexanderwhatley commented on #4120
Hmm, I changed the line in question to
` field_ref = db.collection('companies').document(cid + '.' + fid)`
and I got a different error message:

[code]

[2017-10-05 03:35] dhermes commented on #4120
@alexanderwhatley You are really putting the API through it's paces :grinning:

I'm surprised to see this, as the concepted of unindexed properties doesn't seem to be part of the Firestore [API definition][1].

I'd guess a more proper reading of that error message is "too many properties" rather than "Too many indexed properties". Though it's also very possible I have made a programming mistake.

[2017-10-05 03:44] alexanderwhatley commented on #4120
@dhermes, would you mind if I email you the data and the code I used so you can try to replicate on your end? Would probably be easier that way.

[2017-10-05 03:46] dhermes commented on #4120
That would be fine with me.

[2017-10-05 03:53] alexanderwhatley commented on #4120
Emailed you.

[2017-10-05 04:37] panuta commented on #4117
@dhermes Yes, I did read and follow the guide. I download json key and set its path to  GOOGLE_APPLICATION_CREDENTIALS environment variable according to the guide.

Also filename is is the same. I copy&paste it :)

To give you more info, I have uploaded my application to Google Compute Engine and run it from there using the same code that I run on my local machine. It runs perfectly fine. Data was

[2017-10-05 05:37] kbl opened #4121 "google-cloud (umbrella release) needs to be updated"
Commit tagged as 0.27.0 contains google-cloud-core dependency in version >= 0.27.0, < 0.28dev (
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/vision-0.27.0/pubsub/setup.py#L54).

While 0.27.0 version hosted on pypi depends on google-cloud-core <0.27dev, >=0.26.0.

Seems like dependencies for that package hosted on pypy are prior this commit: https://github.com/GoogleCloudPlatform

[2017-10-05 07:28] ensonic commented on #3594
Thanks, you are setting the limit to 20Mb - is this configurable (overridable). Please also note the comment @drigz posted on your change.

[2017-10-05 07:57] ensonic commented on #3863
0.27.0 is that last release with the old api. Maybe update the release notes and mention that it is broken or publish a 0.27.1 if easy. Also 0.26.0 seems to suffer from the import error. So which is the last release that works with the old api?

[2017-10-05 08:02] ensonic opened #4122 "ImportError: No module named iterator for <= 0.27.0"
Since the modules are release without semantic versions, rebuilding my stack picked up 0.28.X and fall apart since the api changes. Before I wanted to migrate I need to get it up and running again and tried to pin to google-cloud-pubsub==0.27.0 or even google-cloud-pubsub==0.26.0 but with that I get:
[code]

Any ideas?

[2017-10-05 08:13] ensonic opened #4123 "unclear docs on https://googlecloudplatform.github.io/google-cloud-python/latest/pubsub/#publishing"
The docs have this example:
[code]
should it be:
[code]
main questions:
* how does publisher.create_topic() know what topic if we don't tell it
* is there still a a topic object as there was before 0.28.0?
* can we just create a topic regardless whether it is already there? The old code (pre 0.28.0) was doing:
[code]

[2017-10-05 10:11] ensonic commented on #4122
This combination seems to work:
"google-cloud-core==0.25.0 google-cloud-logging==0.24.0 google-cloud-pubsub==0.26.0"

Any tips for how to figure out which api combination work, other than trial and error?

[2017-10-05 15:27] dhermes commented on #4122
First: apologies. We are aware of the pain that breaking `google-cloud-core` has caused (both for us and users) and are trying hard to get it stable. (Thanks @jonparrott!)

----

To give a practical answer to your question. You can actually see the dependencies [on PyPI][1] (but not on [warehouse][2]):

![screenshot from 2017-10-05 08-24-39](https://user-images.githubusercontent.com/520669/3123556

[2017-10-05 15:33] dhermes commented on #4121
Thanks for commenting @kbl.

As a short-term fix (and as general advice) I recommend against using the `google-cloud` umbrella package, since it brings in **every** package. Instead target the subpackages you explicitly need, like `google-cloud-pubsub`.

[2017-10-05 15:35] dhermes commented on #4121
@kbl Are you indicating that the "latest" version of some subpackage (e.g. `vision`) does **not** depend on the "latest" version of `google-cloud-core`?

[2017-10-05 15:41] dhermes commented on #4117
@jonparrott Can we move this over to https://github.com/GoogleCloudPlatform/google-auth-library-python/?

@panuta Thanks for the details. It's **very** surprising that `_load_credentials_from_file` fails to find the file when called by `google.auth.default()` but not when called directly.

How are you running Docker on your local machine? The file in `/root/.google` won't appear there unless you d

[2017-10-05 15:48] ericbbraga commented on #2683
Hi guys,
I'm also facing this issue but with PubSub subscription.
We've started a subscription for one topic yesterday and all is working fine.
However, today we saw this exception on the console.

I'm using the following packages:

and I'm running on a Linux Machine (Ubuntu 16.04.3 LTS)

Exception:

[2017-10-05 15:56] maiskovich commented on #3388
@tseaver do you know when this will be available in the Google Cloud client distribution through pip? I am trying with the latest available(google-cloud 0.27.0) and this doesn't work.
Thank you very much

[2017-10-05 16:02] tseaver commented on #4123
Thanks for pointing this out:  `Client.create_topic` definitely requires the `name` argument.

No, the redesigned API dropped the `Topic`, `Subscription`, and `Snapshot` classes.

No:  that would raise a `Conflict` exception.

[2017-10-05 16:14] tseaver commented on #3388
@maiskovich Please update to the latest `google-cloud-bigquery`, e.g.:

[code]

[2017-10-05 16:15] #4123 closed

[2017-10-05 16:24] ensonic commented on #4123
Thanks for the quick update. So how do I now check if a topic already exists? Create it and handle the exception?

[2017-10-05 16:24] maiskovich commented on #3388
@tseaver I tried, but it says: Requirement already up-to-date, tried deleting it and installing again, and still not working

[2017-10-05 17:25] tseaver opened #4125 "'objects.rewrite' incompatible with 'user_project'"
Our library functions which use the [`objects.rewrite` endpoint](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite) cannot currently be used with `user_project` set on the object's bucket:  the back-end returns errors for such requests.

@frankyn reports that the issue is known, and that a fix is pending review / release by the back-end team.

[2017-10-05 17:27] tseaver commented on #4125
Affected methods;

- `Blob.rewrite`
- `Blob.update_storage_class`

[2017-10-05 17:28] tseaver opened #4126 "Enable CI testing of 'requester_pays' / 'user_project' feature"
Update `.circleci/config.yml` to set the `GOOGLE_CLOUD_TESTS_USER_PROJECT` environment variable to point at a different project than the default one supplied by our credentials.

Until then, the system tests for `user_project` / `requester_pays` will be skipped.

Note that #4125 will cause system test failures, so we should defer this task until the back-end team releases their fix.

[2017-10-05 17:43] tseaver opened #4128 "Core test failure on AppVeyor"
From https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-python/build/1.0.2336.storage-requester_pays-feature/job/9utfru14kenb40tr

[code]

[2017-10-05 17:46] johnrausersc opened #4129 "GCS downloads are randomly truncated about 1 time in 1000"
I have a process that consumes data from GCS.  There are about 70k objects in the bucket, each several kb to several Mb in size.  A separate process is continuously recomputing and refreshing the objects.  My issue is that the consumer will occasionally download a file using `download_to_filename()` only to find that the local copy is corrupt.  Specifically, the file will be truncated to a small m

[2017-10-05 17:47] dhermes commented on #4128
Seems like a float / int division error?

[2017-10-05 17:48] dhermes commented on #4126
@tseaver We should set env. variables in the project settings, not in `.circleci/config.yml`

[2017-10-05 17:50] dhermes commented on #4129
@johnrausersc Thanks a lot for filing (I saw the discussion with @jonparrott on Twitter, so I appreciate the effort).

Storage downloads and uploads are handled completely by `google-resumable-media`, which does **not** show up in your diff, so hopefully the upgrade is not to blame. I'll look into reproducing and see what I can find.

[2017-10-05 17:50] tseaver commented on #4126
Ah, thanks for clarification.

[2017-10-05 17:56] tseaver commented on #4128
The assertion itself is problematic:  those numbers look suspiciously like "copy what the code actually output," rather than being intrinsically meaningful.

[2017-10-05 18:00] johnrausersc commented on #4129
In the event that the problem is a race condition, it might be important that the consumer does computationally expensive stuff with each file.  In my real application, the downloads are relatively rare (they are cached and I get only a few cache misses per minute) and the machine's CPUs are saturated with other work most of the time.

[2017-10-05 18:01] dhermes commented on #4129
@johnrausersc Having just finished reading your entire post (thanks for the details!) it occurs to me that the file size may change between

- `blob = bucket.get_blob(src_path)`, which is what will make the [query][1] that sets `blob.size`
- `blob.download_to_filename(temp_fname)` (though the `media_link` may be versioned with the `generation`)

[1]: https://cloud.google.com/storage/docs/json_api/

[2017-10-05 18:05] dhermes commented on #4128
(ASIDE: @tseaver I'm not sure if the AppVeyor folks are brits, but I changed the spelling from Appveyour 😉)

[2017-10-05 18:07] johnrausersc commented on #4129
@dhermes Sure, there's a race condition there.  I added that as a quick temporary workaround (the real code will retry in this case).  But would you expect the resulting file to be truncated and corrupt as I describe?  I assume (perhaps foolishly) that puts to GCS are atomic.

[2017-10-05 18:38] dhermes commented on #4129
First, I don't actually think there is a race condition (I was just hoping that'd be a good explanation):

[code]

Second, I'm not sure why it'd fail. GCS writes are either done in a single request (for small payloads / if you don't set the chunk size) or via a resumable upload which has a unique identifier that gets sent with every chunk (and each chunk must identify it's byte range when being up

[2017-10-05 18:40] dhermes commented on #4129
@johnrausersc I think what's most likely is there is either a network error being silently ignored or an I/O error when trying to write the file that is being silently ignored. ISTM the bug would be in [`google-resumable-media`][1].

[1]: https://googlecloudplatform.github.io/google-resumable-media-python/latest/google.resumable_media.requests.html

[2017-10-05 18:43] johnrausersc commented on #4129
@dhermes Hmm.  I'm not sure I understand the import of your comment then.  I thought you were noting a possible cause of a file size mismatch that was the fault of my example code, but perhaps not.  I am out of my depth here w.r.t. the inner-workings of GCS and this client library.

[2017-10-05 19:53] maiskovich commented on #3388
@tseaver I managed to make it work, the method is table.view_use_legacy_sql = False , in the example it was saying table.view_query_legacy_sql = False
I saw now that at the beginning you put view_use_legacy_sql, but I was just copying the example.

Thank you

[2017-10-05 22:42] rubinghv commented on #3967
I'm having a similar issue to sonlac, although the error is occuring in apache beam. In my case I'm trying to run a dataflow job, the apache beam word count example that can be found [here](https://beam.apache.org/get-started/wordcount-example/)

Python version: Python 2.7

Google-Cloud version:

I run the following command:
`python -m apache_beam.examples.wordcount   --project unique-test-176123

[2017-10-05 22:50] dhermes commented on #3967
@jonparrott @waprin Do you know who would be the point person for dataflow?

I seem to recall previous issues where pickle was being using to serialize Python objects across processes, so this might be related?

@rubinghv Do you mind running `pip show protobuf` from the same environment where the error occurred? (I'd also be interested in `import google.protobuf as pb; print(pb.__version__)` if th

[2017-10-05 22:57] waprin commented on #3967
@davidcavazos is new DPE focusing on it @amygdala is DA who tends to know things about it as well ,in case either of them can help.

[2017-10-05 22:58] rubinghv commented on #3967
@dhermes

Sure, no worries, and thanks for the quick reply.

 `pip show protobuf` returns:

When I run `import google.protobuf as pb; print(pb.__version__)`, it prints: `3.2.0`

[2017-10-05 23:11] #3967 closed

[2017-10-05 23:56] beeetooo commented on #4053
That worked for me ^

[2017-10-06 04:33] kbl commented on #4121
@dhermes I'm not using google-cloud package. I'd like to use google-cloud-pubsub, google-cloud-biguery in the same virtualenv. I'd like to have both libraries in the same version. It's not possible to have them both as:
- google-cloud-pubsub 0.27.0 depends on google-cloud-core <0.27dev, >=0.26.0,
- google-cloud-bigquery 0.27.0 depends on google-cloud-core <0.28dev, >=0.27.0.

According to my under

[2017-10-06 05:58] panuta commented on #4117
@dhermes I solved it. It's my own fault. I have set env variable with double quote around the string like

[code]

Took me a while to see this obvious error. Such an embarrassing mistake. Thank you for trying to help me figuring it out.

[2017-10-06 05:58] #4117 closed

[2017-10-06 09:39] robhaswell commented on #3886
Hi team, is this issue on the work schedule at all? This part of our system needs some refactoring and I'm trying to work out if we should delay so we can upgrade to the new client. Thanks.

[2017-10-06 16:19] dhermes commented on #4117
Good deal! 👍

[2017-10-06 17:26] hiranya911 commented on #4115
@tseaver Same error as before. Nothing was updated when I tried to upgrade `setuptools` and `pip`. My versions are:

* pip 9.0.1
* setuptools 36.5.0

Given that this also occurs in a Travis CI environment, I doubt that it is due to outdated tools.

[2017-10-06 17:29] dhermes commented on #4115
Travis is not notorious for having up-to-date environments, e.g. their latest Ubuntu image is the **previous** LTS from April 2014.

[2017-10-06 18:17] jonparrott commented on #4129
That's fine, @dhermes is mostly thinking aloud for the benefit of the other maintainers and transparency. :)

[2017-10-06 19:44] FlapperDoodlez opened #4132 "psqworker hangs at datastore client.get(key) or client.put(key)"
1. OS type and version
   Using Google Container Engine to create the "Bookshelf" sample app following this link https://cloud.google.com/python/tutorials/bookshelf-on-container-engine
2. Python version and virtual environment information `python --version`
   Python 3.4 or Python 2.7, doesn't matter, I've experienced this issue on either version.
3. google-cloud-python version `pip show google-cl

[2017-10-06 19:46] jonparrott commented on #4132
Hey @FlapperDoodlez, could you tell use which version of grpcio is installed?

[2017-10-06 19:50] FlapperDoodlez commented on #4132
@jonparrott

Hi, thank you for your response.
I've got version 1.6.3 of grpcio.

I don't see grpcio in the requirements.txt or requirements-dev.txt, for what it's worth.

[2017-10-06 19:52] jonparrott commented on #4132
Can you try adding `grpcio>=1.4.0, <1.6.0` to your `requirements.txt` file (and recreating your virtualenv if necessary) and seeing if that fixes it?

[2017-10-06 20:08] jba opened #4134 "Implement page size for core.Iterator to control batch size for performance reasons"
__Background__

Google RPCs that enumerate a collection page by page support a request field we'll call "page size," which is the maximum number of items to return in the call. (Confusingly, the older HTTP-based APIs call this query parameter `maxResults`, a fact you're better off forgetting for the remainder of this issue.)

The `google.api.core.page_iterator.Iterator` class abstracts over paging

[2017-10-06 20:08] FlapperDoodlez commented on #4132
@jonparrott
That fixed it 👍

[2017-10-06 20:08] #4132 closed

[2017-10-06 20:24] dhermes commented on #4134
@jba I've actually brought his up before (#3277). @jonparrott Seemed to have a clear conclusion in that issue.

[2017-10-06 20:26] tswast commented on #4134
Sounds like we should do (3) and support both.

[2017-10-06 20:27] dhermes commented on #4134
I personally am on team (3) as well.

[2017-10-06 20:42] jonparrott commented on #4134
From #3277

So yeah, 3 is where it's at. Not sure how core's `Iterator` would need to be modified- typically the page size is bound at request time, eg:

[code]

[2017-10-06 20:54] jba commented on #4134
@jonparrott The problem happens when you provide `max_results` too. I guess it's not a big deal, but because of [this code](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/core/google/api/core/page_iterator.py#L362)
[code]
you could fetch more than you need on the last page.

[2017-10-06 20:56] jonparrott commented on #4134
I'm okay with that.

[2017-10-06 21:26] #4128 closed

[2017-10-07 05:59] jasonqng opened #4135 "Setting a timeout for BigQuery async_query doesn't work"
The documentation and code appears to allow for setting a maximum duration before timing out for an async_query by passing `timeout` (an int for the number of milliseconds) to the `result()` function that is called on a query job (https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/job.py#L476 and https://github.com/GoogleCloudPlatform/google-cloud

[2017-10-07 12:29] jkurz commented on #2683
I just got  this error while running a job on Google ML Engine.

[code]

Honestly not sure how to solve other than retry the job.

[2017-10-07 15:17] pdknsk commented on #1770
I just ran into this and agree it's bad. At the least you'd expect a warning about it in the docs. Even when it's not too difficult to guess what's happening when it returns `long` rather than `datetime.datetime`.

[2017-10-07 17:02] SurferJeffAtGoogle opened #4138 "The commands shown in the commands on the page yield errors."
https://googlecloudplatform.github.io/google-cloud-python/latest/language/usage.html

[2017-10-07 17:04] udasahai commented on #4138
document = language.types.Document( content = 'I am going from las vegas to los Angeles', type=language.enums.Type.PLAIN_TEXT,)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'Type'

[2017-10-08 09:33] david-gang opened #4139 "table fetch_data sometimes breaks"
Sometimes when i run table fetch_data it works and some seconds when running afterwards it crashes. I added all info i know below. Please advise which additional info is needed.

# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

- https://g

[2017-10-08 18:43] alexanderwhatley commented on #4120
@samtstern, @dhermes any updates on this?

[2017-10-09 01:48] jfmyers opened #4140 "Service Account Key Fails w/ Big Query"
I'm having an issue authenticating to Google Big Query. I have created a service account key (json file) and have set this as an environment variable. The service account key has project owner priveleges. The Google Big Query API is also enabled.

I have been playing with this now for the past 4 hours to no avail, creating new projects, new service account keys, even attempting all the various way

[2017-10-09 02:17] dhermes commented on #4140
@jfmyers You need to enable BigQuery in the Cloud Console for your project.

I also recommend checking out http://google-cloud-python.readthedocs.io/en/latest/core/auth.html

I am pre-emptively closing because it seems the 403 error message fully captures the problem. We're happy to continue discussing here / re-open if need be.

[2017-10-09 02:17] #4140 closed

[2017-10-09 09:43] krelst opened #4141 "Pub/Sub 0.28: batch support?"
It seems that the new `google-cloud-pubsub` library version 0.28 does not include any support for pulling and processing messages in batches. Several of our production systems rely on processing pubsub messages in batches in order to reduce the load on other systems (e.g. to lower the amount of queries done our databases). Is there any ETA on re-adding batch pulling to the library?

[2017-10-09 16:08] tswast commented on #4135
/cc @jonparrott

[2017-10-09 16:15] tswast commented on #4135
Just to clarify, the `timeout` parameter on your last `run_sync_query` example does not set a timeout for the query. It sets a timeout on waiting for the results. If the request times out, the query is still running in the background. You can verify this by looking at the list of jobs created.

You have to run `QueryJob.cancel()` to actually stop the query, and even that is only best-effort becaus

[2017-10-09 17:06] tseaver commented on #4126
@lukesneeringer In order to start using the 'gcloud-....-whitelist-not-really' project for CI, we need to either: a> grant our existing CI system account the appropriate permissions on the new project; or b) create a new system account with appropriate permissions, and then re-do our system tests so that they use those creds.  I would prefer a), as it would let the tests as-written just work.

[2017-10-09 17:21] jasonqng commented on #4135
I'm trying to provide back compatibility for this feature: https://github.com/pydata/pandas-gbq/pull/76. This is for preventing stalled jobs from hanging an entire script, and to have an elegant way to move on in the script without having to write our own timer function to handle; if the actual query can be killed in background, all the better, but at the bare minimum, it should stop looking for r

[2017-10-09 19:15] frankyn opened #4142 "[Request] Verify User Project methods comments are not ambiguous"
General Request:

Verify that the comments are clear for methods which accept User Project with and without Requester Pays.

Here's a distinction between Requester Pays and User Project:
User Project: Is a request metadata field that is used to assign Storage operational costs to a specified project.

Requester Pays: Is a bucket-level metadata field that is used to enforce the use of the User Proj

[2017-10-10 13:19] AndreCimander commented on #3024
Looking forward to this, I'm currently forced to re-invent the wheel by writing a thin "django-inspired" model/queryset wrapper around the cloud spanner library in order to enable our junior/mid-level developers to productively work with spanner...

Not having a local developer spanner instance and having no orm support are two **major** issues – we are already considering to switch to CockroachDB

[2017-10-10 16:44] #3956 closed

[2017-10-10 16:46] tseaver opened #4150 "Add 'user_project' support for bucket notification methods"
#4127 (just merged) adds the new `storage.notification.BucketNotification` class.  Once #4056 (`requester_pays` buckets, `user_project` API requests) merges, we need to add `user_project` support to the new `BucketNotfication` API  wrapper methods.

[2017-10-10 17:12] naoko commented on #3736
I'm getting this error with the follow versions
[code]
this is my entire pip freeze output
[code]
Almost identical virtualenv on my mac won't raise this error.

The error I'm getting is on debian
[code]
Any advice would be appreciated.

[2017-10-10 17:24] dhermes commented on #3736
@naoko Run `pip show requests` to make sure that is the version of `pip` you think it is.

[2017-10-10 18:15] Marigold commented on #4122
Is there any ETA on fixing this? This is a major blocker for us as we have been using new pusub api everywhere and now can't use google storage. Thanks!

[2017-10-10 18:26] naoko commented on #3736
@dhermes , thank you for your quick response. It seems that version matches to what shows on pip freeze... :(
[code]

[2017-10-10 18:39] dhermes commented on #4122
@Marigold Can you be more specific about what you'd like to see fixed? (The output of `pip freeze` would be helpful.)

[2017-10-10 18:40] dhermes commented on #3736
Is the Location (`/opt/jenkins/workspace/ML-API-Test/.env/lib/python3.5/site-packages`) the same as `env/lib/python3.5/site-packages` in your stacktrace? (The one in the stacktrace was a relative path, that's why I ask.)

[2017-10-10 23:30] alexanderwhatley commented on #4120
Bump.

[2017-10-11 00:04] naoko commented on #3736
For some reason, running that in Jenkins was so hard (looks like it strips single quote...)
[code]
But the goal is to show that version of `requests` is really `>= 2.18.0` or not on actual running environment. So right above where I run tests, I ran `pip install -U requests` which goes `.env/lib/python3.5/site-packages` and the exception is raised from `.env/lib/python3.5/site-packages/google/resu

[2017-10-11 00:29] bits01 opened #4152 "BigQuery: Client.list_rows should prefetch the first page and populate total_rows and other attributes"
https://googlecloudplatform.github.io/google-cloud-python/latest/_modules/google/cloud/bigquery/table.html#Table.fetch_data

Return value doc:
[code]

The iterator does not have the `total_rows` attribute or a `page` attribute either.

Can `fetch_data()` get a count of all rows or the only way is to iterate and count?

[2017-10-11 01:10] brentshermana commented on #3281
Google should get with it and update their documentation. oauth failed for me as well, but this works like a charm! Thanks.

[2017-10-11 02:11] bits01 commented on #4152
`query.fetch_data()` too.

[2017-10-11 03:04] bits01 opened #4153 "BigQuery: document proper use of run_async_query/QueryJob/QueryResult"
If I run an async query using `run_async_query()`, get a `QueryJob` from it and a `QueryResult` from that by calling `job.query_results()`, the `rows` attribute of QR is empty. It seems that when the `GET` request is sent a parameter `maxResults=0` is automatically added, in the client code, which explains why rows is empty.

But this is confusing and not how it behaves for sync queries. I think i

[2017-10-11 03:09] bits01 commented on #3907
Please also see #4153

[2017-10-11 03:48] halfdanrump opened #4154 "storage API: Allow wildcard in object path to allow retrieval of several objects"
[gcsfs](https://github.com/dask/gcsfs) has a very handy feature that allows you to fetch multiple files by allowing wildcards in the object path. I think this would be a nice little feature to add to this library.

This example illustrates the idea:

[code]

As far as I know, the current way to accomplish the same would be to filter the list of all the files in the bucket  and then fetch the files

[2017-10-11 06:49] Marigold commented on #4122
Sorry @dhermes, I couldn't get it working on GCP yesterday, but the following req seems to be working after starting with fresh instance
[code]
thanks!

[2017-10-11 14:15] kishore-devaraj opened #4155 "dev_appserver.py causing connection errors in gcloud version 174.0.0"
OS: Ubuntu 16.04
python version: Python 2.7.12

I have recently updated my gcloud to version 174.0.0 in ubuntu 16.04. When i tried to run a simple web application in python using dev_appserver.py. The console throws me the following traceback error.

**Traceback error:**
Traceback (most recent call last):
  File "/home/kishoredevaraj/google-cloud-sdk/platform/google_appengine/_python_runtime.py",

[2017-10-11 14:52] sagarrakshe commented on #4154
@halfdanrump `bucket.list_blobs` takes an optional parameter `prefix`. This will filter blobs starting with the given string, this can partly solve your problem.
The following will return iterator for blobs starting with **test_**

    from google.cloud import storage
    client = storage.Client()
    bucket = client.bucket('mybucket')
    blobs = bucket.list_blobs(prefix='test_')

[2017-10-11 18:31] dhermes commented on #4155
@kishore-devaraj Thanks for stopping by, but this is not the bug tracker for Google App Engine.

See:

- https://cloud.google.com/support/docs/issue-trackers
- https://issuetracker.google.com/issues/new?component=187191&template=0

[2017-10-11 18:31] #4155 closed

[2017-10-12 00:55] yixizhang opened #4164 "Spanner: IndexError: pop from empty list when merge_array"
[code]

[2017-10-12 03:10] jwcook23 opened #4165 "BigQuery json upload"
Sorry, newb here. I can't figure out how to stream json data (a dictionary) correctly into BigQuery. The closest I can get is below. This works except 'Name', 'Time', and 'Value' are inserted into the table, instead of their corresponding values. Really appreciate any help.

data = {'Name':'test1',
        'Time':'test',
        'Value':'test3'}
    rows = [data]
    errors = table.insert_data(row

[2017-10-12 05:21] jeffkpayne opened #4167 "PubSub: Default thread-based subscriber Policy's on_response() implementation degenerates into series of synchronous calls because of debug statement"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/4e17158c0f14e0e91cbeb74c3e8483c5a231e9ac/pubsub/google/cloud/pubsub_v1/subscriber/policy/thread.py#L147

While testing out the new PubSub API (v 0.28.3), I noticed that the default thread-based `Policy`, which uses a `ThreadPoolExecutor(max_workers=10)` seemed to be executing the subscriber callbacks sequentially, instead of asynchron

[2017-10-12 05:27] jonparrott commented on #4167
You're totally right. That should be done via add_done_callback instead.

On Wed, Oct 11, 2017, 10:21 PM Jeff Payne <notifications@github.com> wrote:

[2017-10-12 11:38] lukesneeringer commented on #4141
Hi @krelst,
The new libraries relies exclusively on Pub/Sub's new streaming pull feature, in order to maximize performance in high throughput situations.

I am afraid I am unsure what you mean by "batch pulling". Can you explain your use case?

[2017-10-12 11:44] lukesneeringer commented on #4138
Sure enough. It is `language.enums.Document.Type.PLAIN_TEXT`.

[2017-10-12 11:52] lukesneeringer commented on #4139
Hi @david-gang,
This honestly looks like an issue with your machine or network connection. As far as I am aware, www.googleapis.com has not had any outages in the last few days, and the error message quite literally indicates inability to establish a new connection.

I am afraid there is nothing I can do about this, so I am going to close this issue. Feel free to follow up or reopen if I got it wr

[2017-10-12 11:52] #4139 closed

[2017-10-12 12:23] lukesneeringer commented on #4165
Hi @jwcook23,
As the schema is specified in advance (see [the quickstart](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/master/bigquery#load-data-from-csv)), `insert_data` takes a list rather than a dictionary. Provide a list (or tuple) and you should get the results you want.

[2017-10-12 12:23] #4165 closed

[2017-10-12 12:24] lukesneeringer commented on #4152
Summoning @tswast since he has been in this code a lot recently and probably knows the answer off hand. :-)

[2017-10-12 12:27] lukesneeringer commented on #4153
@tswast @jba Assigning you two since I am pretty sure this is likely already fixed in the BigQuery work you are doing, but please verify.

[2017-10-12 12:34] lukesneeringer commented on #4115
Hi @hiranya911,
I looked into this, and the `ImportError` is actually coming from grpc, which is issuing `import enum`.

`enum` was added to the standard library in Python 3.4, _but_ there is a backport on PyPI for previous versions (`pip install enum34`). If you install `enum34` from pip when using Python 3.3, things might work.

What I mean by "things might work" -- doing so will get you past th

[2017-10-12 12:34] krelst commented on #4141
Hi @lukesneeringer

Thanks for the response! In versions of the `google-cloud-pubsub` library bellow 0.28, the `subscription.pull()` method returns a list of (ack_id, messages)-tuples. We are setting the `max_messages` of that method to 1000, and consequently for most of our pipelines the list returned contains in between 100/200 messages.  Instead of processing each message separately, we are par

[2017-10-12 12:51] lukesneeringer commented on #4115
@hiranya911 I also filed grpc/grpc#12976 that will fix this on their side.

Again, no promises of Python 3.3 support, but this seems like sufficiently low hanging fruit.

[2017-10-12 12:51] #4115 closed

[2017-10-12 13:18] lukesneeringer commented on #4141
It does clarify my question, thank you.

I see how this is a useful feature in principle, although when I have time to implement it is a separate question. The Pub/Sub team is primarily concerned with high throughput situations -- they actually explicitly wanted "polling" pull to be _explicitly removed_ so that people would not use it by accident.

There are a few options here.

First: You could u

[2017-10-12 13:24] lukesneeringer commented on #4167
I am noticing @jeffkpayne already fixing the problem, so I am just planning on taking that PR when it is provided. I will knock it out this afternoon if he does not get to it in time, since obviously this is pretty critical to fix.

[2017-10-12 13:27] lukesneeringer commented on #4083
Does the stream _hang_ or _drop_? If the stream drops, we do not care.

[2017-10-12 14:09] lukesneeringer commented on #4121
Use google-cloud-pubsub 0.28.0. :-)

(Separate comment: Having all of these packages that _almost_ track each other but do not completely is really confusing. We should have either made them all strictly track or not had them even remotely close to one another.)

[2017-10-12 14:24] sonlac opened #4171 "ML engine takes an abnormally long time to prepare the job"
Right now (Oct 12, 2017, 2:48:39 PM GMT+2), i tried to launch my ML job many times. It took too much time (30 minutes still **preparing**) than normal and it was always at preparing stage. I had to cancel them.
It takes normally around 5 minutes in the queue and then lanches the job. Today, it seems unusually.
I am wondering if there is some problems today for ML engine?

I always got the error:

[2017-10-12 14:25] jwcook23 commented on #4165
@lukesneeringer Thanks for the response. I should have provided more information.

My ultimate goal is to publish a message using PubSub, and have Dataflow insert the data into BigQuery. My understanding is the Published message must be JSON. To test before implementing the Dataflow, I wanted to directly put JSON into BigQuery. It's difficult for me to comprehend what the table schema should look

[2017-10-12 14:27] sonlac commented on #4171
![screenshot from 2017-10-12 15-45-21](https://user-images.githubusercontent.com/5931124/31501308-2f579e82-af6a-11e7-867a-89e76a7430fc.png)

[2017-10-12 14:42] #3474 closed

[2017-10-12 15:02] kbl commented on #4121
Yes, I know that it's completly rewritten. And for that reason I don't want to use it for now. I wouldn't like to change the code depending on previously used API.

[2017-10-12 15:17] jeffkpayne commented on #4167
@lukesneeringer trying to get my local env setup to run the system tests, etc, as outlined in CONTRIBUTING.rst now...

[2017-10-12 15:56] dhermes commented on #4171
@sonlac This doesn't seem to be related to the `google-cloud-python` libraries?

[2017-10-12 16:00] sonlac commented on #4171
So, where should I report this problem? Thanks.

[2017-10-12 16:00] ajudi opened #4172 "Google Datastore takes 20 minutes to pull a million rows."
1. Linux, Ubuntu 16.04
2. Python 2.7 ipython
3.
[code]
I see that this might be expected behavour but it seems  little extreme, could someone clarify?

[2017-10-12 16:03] lukesneeringer commented on #4172
Hi @ajudi,
Thanks for reporting.

Is this a problem with the _client_ taking a long time to process rows, or the server just takes 20 minutes to return a result? The former is probably an issue in the client library; the latter there is not much we can do about.

Whether 20 minutes to pull a million rows is intended behavior probably depends on your query.

[2017-10-12 16:03] lukesneeringer commented on #4167
@jeffkpayne If you have unit tests working and coverage, feel free to build a PR and I will deal with system tests for you. :-)

[2017-10-12 16:05] ajudi commented on #4172
Hey @lukesneeringer
I get a response almost instantly however at the point where i turn that in to a list the time takes 20 minutes. I'm not sure if this is an inefficiency in the client or in the server. How would I be able to work that out.

Thanks.

[2017-10-12 16:06] dhermes commented on #4172
@ajudi Could you also provide the code you're using to do this?

You **probably** don't want to convert it into a list. `Query.fetch()` returns a paging iterator, so it will make requests from the server, the server will return as many results as it can and then a cursor into the next page. Under the covers, the iterator will then retrieve the next page and continue to yield one entity at a time.

[2017-10-12 16:07] tseaver commented on #4164
@yixizhang Thanks for the report!

@vkedia How is it happening that the back-end is returning an empty partial response chunk?

[2017-10-12 16:11] ajudi commented on #4172
Sure:
[code]
The last stage takes around 20 minutes and is roughly a million rows.  I want to retrieve all the data. Is there a more efficient way to do this or am I using the wrong kind of DB.

Thanks.

[2017-10-12 16:17] dhermes commented on #4172
@ajudi Just don't bother casting to a `list`, iterate through directly:

[code]

[2017-10-12 16:20] dhermes commented on #4172
You can also **explicitly** inspect each page:

[code]

I'm not trying to imply this will be faster than 20 minutes, the limit is largely what the API can return per page.

----

I am going to pre-emptively close this since it doesn't seem there is anything we can do to speed up the fetch from the backend.

If you run the snippet and find you are surprised by the results, feel free to comment here

[2017-10-12 16:20] #4172 closed

[2017-10-12 16:26] dhermes commented on #4171
Here is a list of cloud related issue trackers:

- https://cloud.google.com/support/docs/issue-trackers

However I don't see ML engine on there. @jonparrott @waprin Would you happen to know?

----

@sonlac Feel free to keep commenting but I'm closing out this issue before I forget (since it isn't an issue in our libraries).

[2017-10-12 16:26] #4171 closed

[2017-10-12 17:34] tswast commented on #4152
There's definitely a `pages` property. Not sure about page.

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/99c4498339e8cddb628962215e7fa7953a77c957/bigquery/tests/system.py#L296-L299

Looking at https://github.com/GoogleCloudPlatform/google-cloud-python/blob/99c4498339e8cddb628962215e7fa7953a77c957/core/google/api/core/page_iterator.py#L248, I think you're right that the docs nee

[2017-10-12 17:37] tswast commented on #4153
We still need to update the docs, but yes, it's covered by the work we're doing.

The sample at https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/bigquery/cloud-client/query.py has the current best practices for async queries.

The gist is to ignore QueryResult for the most part. We are doing some work to make this easier in a future version.

[2017-10-12 17:41] dhermes commented on #4152
@tswast The iterator docs are great, they just got unpublished when the module moved from `google.cloud.iterator` to `google.api.core.page_iterator`.

/cc @jonparrott

[2017-10-12 17:45] bits01 commented on #4153
How does one get a count of the rows returned by a query without using `QueryResult`? Not possible it seems from the `destination_table.fetch_data()` iterator, even though the REST API does return a `totalRows` property. Will this also be addressed in the future improvements?

[2017-10-12 17:46] tswast commented on #4153
Thanks for the feedback. I'll double-check that this property is covered.

[2017-10-12 17:46] bits01 commented on #4152
#4153 is related.

[2017-10-12 17:48] #4138 closed

[2017-10-12 19:11] krelst commented on #4141
Indeed this would solve our issue :) As I don't think we are the only one relying on batching of message, we really hope this will be included in one of the next releases of the pub sub library.

[2017-10-12 20:45] vkedia commented on #4164
It can happen if we decide to chunk at the boundary of an array (either top level or nested). In that case we would not mistakenly want to merge with the next Value (in case that too is an array), so we send an empty array as the first value of the next partial result set. For eg say a Row has two columns both of which are of type `ARRAY<INTEGER>`. The values in the first row for these 2 columns a

[2017-10-12 23:55] jsamuel opened #4181 "spanner failed transaction being reused in next call to database.run_in_transaction()"
Using google-cloud-spanner 0.28.0, when running the following:

[code]

The last line fails and appears to be retrying the previous failed transaction.

Below is the output, note the `StatusCode.ALREADY_EXISTS, Row [id_1] in table test.` referencing id_1 when it fails which was from the previous failed transaction, not the one currently being executed.

[code]

If this is intended behavior, how sh

[2017-10-13 00:33] pongad commented on #4083
I'm not certain what the differences between "hang" and "drop" are, but I'll describe the symptoms in more detail.

In both Java and Go (and probably others) without keepalive, the stream just never give us new message or notify us of any errors.
In Java, where we give gRPC callbacks (`onNext`, `onError`, and `onCompleted`) to handle events, none of the callbacks are ever called.
In Go, where we c

[2017-10-13 02:27] halfdanrump commented on #4154
@sagarrakshe You're right, I hadn't noticed that parameter. In my case this is sufficient, so thanks for telling me about it! :)

As you also point it's a partial solution. Actually it might be handle to even allow for regex matches on the filenames @lukesneeringer. I'm not into the code , so I don't know how difficult this would be to implement. Do you think it would be worth the effort?

Cheers,

[2017-10-13 05:00] david-gang commented on #4139
Thanks for the clarification. I am sure this ticket will serve for documentation to others.

[2017-10-13 13:15] tseaver commented on #4164
@vkedia OK, seems like we should have an example like that in the JSON-based acceptance tests.

[2017-10-13 13:17] #4150 closed

[2017-10-13 14:03] lukesneeringer commented on #4141
Hi @krelst,
It is something we will discuss and consider. If the need is common, we will definitely want to find a way to meet it. Taking something roughly like what I wrote above and incorporating it into the library proper could be an approach. It really depends on what people need. :-)

We are committed to the new Pub/Sub surface, so you can implement the above without worry about the surface b

[2017-10-13 14:03] #4141 closed

[2017-10-13 14:09] #4167 closed

[2017-10-13 14:53] lukesneeringer commented on #4122
Closing as working then. :-)

[2017-10-13 14:53] #4122 closed

[2017-10-13 16:39] vkedia commented on #4164
Yeah I agree. I will add this.

[2017-10-13 16:40] vkedia commented on #4181
@lukesneeringer I believe this needs to be P0 . This makes the client unusable if the issue is as described.

[2017-10-13 16:58] tseaver commented on #4181
I'm working on a system test to replicate the reported issue.

[2017-10-13 17:16] yixizhang opened #4184 "Spanner: Timestamp column receives value """
I ran into this traceback during production.  Seems like Spanner db returned a `""` in Timestamp type to the client side, so value parsing failed.

Column with Timestamp type should never have a `""` value in the first place, so my guess is there's miscommunication somewhere between the front and back.

[code]

[2017-10-13 17:21] vkedia commented on #4181
I am able to reproduce this and this only happens if the previous attempt failed. I think this is because the client deletes the transaction object after calling `_delay_until_retry`. But `_delay_until_retry` will `raise` if the error is not `ABORTED` so the transaction object will never get deleted.
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/spanner/google/cloud/spanne

[2017-10-13 17:28] vkedia commented on #4071
@lukesneeringer @tseaver Any updates on this?

[2017-10-13 17:30] vkedia commented on #4184
@yixizhang Which version of the client are you using? Also what was the type of column you were reading? Was it TIMESTAMP or ARRAY<TIMESTAMP>?

[2017-10-13 17:44] yixizhang commented on #4184
@vkedia

1. Version: https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/spanner-0.28.0

2. Type: `TIMESTAMP` i believe.  We don't have column with type `ARRAY<TIMESTAMP>`, though in the query we use https://cloud.google.com/spanner/docs/query-syntax#notes-about-subqueries so there're syntax like
[code]
where `p.Createdtime` has type `TIMESTAMP`.  not sure if relevant.

[2017-10-13 17:48] #4181 closed

[2017-10-13 18:07] markcwhitfield opened #4186 "Core "grpc" extra not found by setuptools"
`google-cloud-pubsub==0.28.4` requires `google-cloud-core[grpc] > 0.27.1, <0.28dev`. I can see from the core library's [setuptools build](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/core/setup.py#L62) that the `grpc` extra is declared; however, setuptools does not seem to be able to locate it from the published PyPi package for whatever reason:

[code]

When installing v

[2017-10-13 18:10] dhermes commented on #4186
@markcwhitfield Sorry about that! The issue is that we haven't released the updated `google-cloud-core` that requires that yet!

[2017-10-13 18:11] markcwhitfield commented on #4186
Oh, haha. Hadn't even noticed that 0.28.4 was only 3 *hours* old. Just poor timing on my part, I suppose.

[2017-10-13 18:12] dhermes commented on #4186
And poor something else on our part!

[2017-10-13 18:16] jonparrott commented on #4186
i'd prefer we hold off on releasing core (it's a big release) and just release a patch of pubsub that fixes this.

[2017-10-13 18:17] vkedia commented on #4184
Thanks. So this indeed would return an Array of Structs one of whose fields is a Timestamp. My first guess would be that this is a bug during merging chunked values of this array.  Backend does not guarantee that each value sent in a chunked response is valid. It is only after the values have been merged together, they need to be valid. So possibly this empty string needed to be merged with the la

[2017-10-13 18:23] dhermes commented on #4186
SGTM. @lukesneeringer SGTY?

[2017-10-13 18:24] dhermes commented on #4186
Can I propose we add `.devN` suffixes to all version numbers? This way we can accurately reflect, e.g. that `google-cloud-pubsub` depends on `google-cloud-core >= 0.28.0.dev1`.

[2017-10-13 22:56] tswast commented on #4152
The iterator is using

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/e6cc4b4a6486971f910139d766c7807a588ea53b/bigquery/google/cloud/bigquery/_helpers.py#L507-L522

which appears to be populating `total_rows`. I'll investigate further and make sure our system tests are checking for this property.

[2017-10-14 15:30] sonlac commented on #4171
@dhermes ML engine is "Cloud Machine Learning Platform" :) https://issuetracker.google.com/issues?q=componentid:187220%20status:open
In fact, it was just an intermittent issue. It worked the day after. Thanks.

[2017-10-14 19:59] bits01 commented on #4152
It works on `QueryResult`, but *not* on the iterator returned by the destination table `fetch_data()`:
`AttributeError: 'HTTPIterator' object has no attribute 'total_rows'`

[2017-10-15 03:59] savraj commented on #1295
Guys, this works right now -- the get_serving_url functionality works for me on the dev server and will try on production soon. Here's how you do it -- you call get_serving_url like this:

```get_serving_url(None, filename="/gs/mybucket/myfile.jpg")```

[2017-10-16 14:09] tswast commented on #4135
I think I know what's going on. The call to result repeatedly calls the done method, but since the done method does an API that could last up to 10 seconds, any timeout less than 10 seconds won't work.

@jonparrot Do you think we could add an optional timeout parameter to done? Or a should we pass the timeout from result to done in some other way?

[2017-10-16 14:12] tswast commented on #4152
My guess as to what is happening is that total_rows only gets populated after you start iterating through, because it gets that information from the first page of results.

I agree that this is confusing behavior.

@jonparrott Do you think we could prefetch the first page when we create the iterator?

[2017-10-16 16:09] bits01 commented on #4152
Indeed. Once you start iterating `total_rows` shows up. Should be made consistent with `QueryResult`, assuming that `QueryResult` even needs to exist at all.

[2017-10-16 16:31] jonparrott commented on #4152
That's a better question for @dhermes, who designed the iterator.

[2017-10-16 16:38] jonparrott commented on #4135
@tswast I don't think we should use connection/response timeouts to indicate incomplete. If we are going to poll indefinitely for the response then blocking on the request is fine, but if the poll has a deadline then the request to check if a job is done should return as quickly as possible.

[2017-10-16 16:59] dhermes commented on #4152
Yes. The easiest way to do this would be to just subclass the relevant iterator class and over-ride the `_next_page` method.

Or you could monkey-patch the `_next_page` method on your instances. This way you wouldn't have to subclass both the HTTP and gRPC iterators, but then you have the problem of figuring out how to fetch the first page via HTTP or gRPC.

[2017-10-16 18:25] alexanderwhatley commented on #4120
It's been a couple weeks now @dhermes. Any updates?

[2017-10-16 20:15] #4142 closed

[2017-10-16 20:29] vkedia commented on #4164
Can this be closed?

[2017-10-16 20:29] tswast commented on #4135
Since the deadline is an integer in seconds, maybe it would make sense if `done()` always tries to complete within 1 second (as compared to the current default of 10 seconds)?

[2017-10-16 21:39] malusdei opened #4204 "Database().snapshot.read() function does not return an error when it should"
What happens is an empty result set is returned - there is no error - when I have intentionally misspelled / misnamed table and column.

What should happen is that I get an error/exception saying that something has gone wrong with the function call, preferably in detail that the table or field could not be found.

This bug found on:

- OSX Sierra 10.12.6
- Python version is 3.6.3
- Google Cloud ve

[2017-10-16 22:09] tseaver commented on #4164
@vkedia PR #4170 will close it when merged.

[2017-10-16 23:04] dhermes opened #4208 "Add `.devN` suffixes to all version numbers"
I propose we add `.devN` suffixes to all version numbers. This way we can accurately reflect, e.g. that `google-cloud-pubsub` depends on `google-cloud-core >= 0.28.0.dev1` rather than a released version of `google-cloud-core`.

Ref: https://snarky.ca/how-i-manage-package-version-numbers/

----

From https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4186#issuecomment-336531198

[2017-10-17 02:26] lukesneeringer commented on #4208
I suggested something similar to @jonparrott in chat, although I discussed doing a 1.0 release candidate series.

Let's discuss more tomorrow. I really want to avoid "release the world" pain for customers.

[2017-10-17 02:27] lukesneeringer commented on #4186
Oh wow, fail on me for not seeing a p0 ticket.
Yes, releasing an update to pubsub to solve the immediate problem is fine.

[2017-10-17 15:43] ppawiggers commented on #3212
Same issue here. The code is running fine for a while, but suddenly I get this error:

[code]

[2017-10-17 16:56] tseaver commented on #3212
@ppawiggers Note the different error codes:  yours is `UNAVAILABLE`, which indicates a transient back-end failure (should be auto-retried).  The error reported by @ensonic is `UNAUTHENTICATED`, which indicates that the credentials associated with the client expired and were not auto-refreshed.

Your issue seems more like #3888 than this one.

[2017-10-17 18:18] dhermes commented on #4120
Sorry for the delay, I am a bit swamped.

[2017-10-17 18:51] samtstern commented on #4111
A list of things that need to change:

  * Total removal of `firestore.CreateIfMissingOption()`, which will require changing the signature of the `update()` methods for document references, batched writes, and transactions.
  * Addition of a new option for set operations called `MergeOption` or similar, which will require changing the signature of the `set()` methods for document references, batch

[2017-10-17 18:59] dhermes commented on #4120
@alexanderwhatley @samtstern After checking out the data, I have found the issue (I think).

Two of the entities (named `actual` and `expected`) had 20,510 keys, but there is a hard limit that is less than that number.

@samtstern Can the limit be published? Can we file a bug with the backend team to make the issue clearer in the error message? Either say "you tried to upload X MB and the limit is

[2017-10-17 21:58] boblepepeur commented on #4120
+1

[2017-10-17 22:03] dhermes opened #4211 "Trace is not in CircleCI list of packages to test"

[2017-10-18 00:00] #4211 closed

[2017-10-18 06:15] Marigold opened #4214 "Number of acked messages does not correspond to metrics in Stackdriver"
I have this trivial script that just consumes messages from PubSub
[code]
I'd expect that all messages would be acked without any problem, but when I look at Stackdriver, I see a huge number of `Deadline Operations` and very few `StreamingPull Acknowledge Operations`. See screenshot of Stackdriver https://imgur.com/Z4ZK2l1 (couldn't upload it here for unknown reasons).

Is this expected? Is it fau

[2017-10-18 07:10] pankajkumar commented on #3212
I am also experiencing the same issue while calling google vision APIs

Here is the stacktrace:-

` File "/usr/local/lib/python2.7/site-packages/google/cloud/gapic/vision/v1/image_annotator_client.py", line 179, in batch_annotate_images
    return self._batch_annotate_images(request, options)
  File "/usr/local/lib/python2.7/site-packages/google/gax/api_callable.py", line 452, in inner
    return

[2017-10-18 07:45] Marigold commented on #4214
Forgot to mention that this happens for topic that has 7 days old messages, could that be an issue? I tried it on queue that is not full and the difference between acked and pulled operations were about 10% (way lower than in previous case, but still unexpected).

[2017-10-18 08:48] pascaldelange opened #4215 "spanner read with timestamp fails"
I am running into the problem described [here](https://stackoverflow.com/questions/46710488/spanner-read-with-timestamp-fails).

When reading from a Spanner table in a snapshot with timestamps, using the code below

[code]
 the read either fails with

[code]
when using spanner v0.26 or simply goes on forever and blocks my terminal with spanner v0.28.
I am using python v2.7.13, google-cloud v0.27 a

[2017-10-18 14:46] tseaver commented on #3746
@tswast, @alixhami, and @jba are doing the work per a different design spec.

[2017-10-18 14:46] #3746 closed

[2017-10-18 14:47] tseaver commented on #3706
Via #3800.

[2017-10-18 14:47] #3706 closed

[2017-10-18 15:07] tseaver opened #4216 "'Bucket.list_blobs' surface issues"
While investigating #4154, I noticed the following problems with `Bucket.list_objects`:

- It exposes paging semantics, rather than a "normal" iterator.
- It exposes `fields`, which is probably not optimal for a method which is supposed to return populated `Blob` instances.
- The semantics of the `versions` flag are questionable, given #2463.

Given that we are in GA, my inclination would be to ad

[2017-10-18 17:34] malusdei opened #4217 "Spanner: instance.execute_sql() with index search works on Python 2 but not Python 3"
I noticed the banking example and the snippets file (which we use as documented examples) run well enough in a Python 2.7 environment.

However, when I set up a Python 3.6 environment and try to run the same thing, I get the following stack trace:

[code]

In this particular case, I was trying to use the .execute_sql method of a snapshot object, but I get a similar message when I execute the query

[2017-10-18 18:14] patitonav opened #4218 "Problem importing google.cloud.gapic.pubsub.v1 in dev_appserver.py"
Hello i am testing my app engine application locally on my Ubuntu 16.04 , I recently remove and reinstall all the packages using pip. I am working on a virtualenv with all the dependencies installed. But I have problems to do this:

 `from google.cloud.gapic.pubsub.v1 import publisher_client`

INFO     2017-10-18 18:10:59,703 module.py:821] icm: "POST /api/announce HTTP/1.1" 500 37
  File "/home/p

[2017-10-18 19:01] joshjacobson opened #4219 "[Question] Can't find documentation on whether any functions require active internet connection, or if all functions can be performed entirely offline"
Quite a basic question... I just can't find any reference in the documentation as to what aspects of this function offline, and which require a connection.

[2017-10-18 19:09] dhermes commented on #4219
@joshjacobson Can you be more specific?

In general, constructors and factory methods that **call** constructors don't require network. In addition setting and getting attributes won't surprise you by making an API call. Essentially every other method will talk to the network.

`Client` constructors may perform disk I/O to determine your default credentials. On GCE, they may actually perform local

[2017-10-18 19:10] tseaver commented on #4219
@joshjacobson The `google-cloud-<api>` libraries are entirely aimed at providing access from Python to the various Google Cloud APIs.  There is pretty much no value in them for apps which run unconnected.

[2017-10-18 19:15] #4219 closed

[2017-10-18 20:27] alexanderwhatley commented on #4120
@dhermes, would the solution for now to be to break the request up (say into chunks of size <=10000)?

[2017-10-18 20:33] dhermes commented on #4120
@alexanderwhatley Yes. 20,000 properties is **a lot**. It seems you'd rather have a list with 20,000 entities than unique keys in a dictionary?

I can't really give recommendations on how to use the Firestore API though, I just wrote the client. (i.e. I don't have intimate knowledge of the backend). @samtstern May know better.

[2017-10-18 20:35] alexanderwhatley commented on #4120
@dhermes, oh, perhaps there is a misunderstanding on my part then. I was trying to import this data from firebase, and store all of the entries in the same way, i.e. as dictionary entries under the main fields.

[2017-10-18 20:41] dhermes commented on #4120
I'm a bit confused at this point. This issue presented in two ways:

- "413:Request Entity Too Large"
- "Too many indexed properties"

Both of these involve you **adding** data to Firebase, not importing/reading **from** Firebase. There is no issue with reading data that is already stored.

[2017-10-18 20:43] alexanderwhatley commented on #4120
So what I did was what the Firestore documentation recommended: I downloaded my Firebase data as a JSON file (which is what I emailed to you.) I then tried to push all of the data in the exact same format to Firestore.

[2017-10-18 20:50] dhermes commented on #4120
Gotcha. I have to tap out at this point: my Firebase knowledge is too limited.

@jonparrott @samtstern do you know of any resources I can point to? (There doesn't seem to be any Firebase link on https://cloud.google.com/support/docs/issue-trackers)

[2017-10-18 20:55] jonparrott commented on #4068
Related: https://github.com/grpc/grpc/pull/12778/files

[2017-10-18 21:02] evanj opened #4222 "Storage: error on HTTP 206 Partial Content discards message leading to confusing errors"
In `download_to_file`,[ if the download code raises `resumable_media.InvalidResponse` [1], it calls `_raise_from_invalid_response`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/storage/blob.py#L499), which calls `exceptions.from_http_response`, which [creates a new exception using the HTTP response inside the `resumable_media.InvalidResponse`](https:/

[2017-10-18 21:16] jonparrott commented on #4068
Part of me kind of wants to sit on this until intercepters are ready.

[2017-10-18 21:21] dhermes commented on #4222
A 206 just means it was a partial response (i.e. if you are downloading in chunks).

This is**really** tough to debug / code for without being able to reproduce. If you at least **see** it again, the stacktrace in Python 3 would be more useful (due to `raise from` semantics), e.g.

[code]

 Do you have a **requirement** to use 2.7?

It seems we should be doing **at least** two things here:

- Keep

[2017-10-18 21:24] pior commented on #3809
Hitting this bug as well.
Is there an ETA for the fix?

[2017-10-18 21:30] tseaver commented on #4120
@dhermes Just for clarity: the source data is from *firebase*, being migrated into *firestore*.

@alexanderwhatley Maybe the [difference in the data models](https://firebase.google.com/docs/firestore/rtdb-vs-firestore#data_model) between Firebase RTD and Firestore is what is tripping you up?  I.e., you need to break up that one, massive JSON top-level mapping into individual documents (one per key

[2017-10-18 21:52] evanj commented on #4222
Python 2.7: We have a large legacy App Engine Standard code base unfortunately. This particular thing does not run on App Engine, but it interacts with libraries that were written for 2.7, so unfortunately we need to use it.

However: Yes, I think using `six.raise_from` would effectively solve this problem. (not for me due to 2.7, but I can accept that Python 3 users will see the correct thing).

[2017-10-18 21:58] frankyn commented on #4087
IAM object-level methods should not be deprecated. We should document how to use these methods to assign legacy roles instead.

[2017-10-18 21:59] tswast commented on #4135
This will be fixed in the next release after the `bigquery-b2` feature branch is merged to `master`.

[2017-10-18 21:59] #4135 closed

[2017-10-18 22:52] alexanderwhatley commented on #4120
Hi @tseaver, I tried that, but it was incredibly slow (I have more than 20,000 keys for some of the fields after all), which is why I'm looking for a reasonable workaround here.

[2017-10-18 22:55] leeparayno opened #4223 "service-management in Python"
I found this in the gcloud SDK docs:

https://cloud.google.com/sdk/gcloud/reference/service-management/list

Is there an equivalent service-management in the Google Cloud Python project?

[2017-10-18 23:49] samtstern commented on #4120
Apologies for my delay here.  Just to recap, there are the following limits on a document (all specified here):
https://cloud.google.com/firestore/quotas

  * Your document can only have 20,000 fields due to indexing limits.
  * The total size of your document can only be 1MB.

For the fields limit nested fields count as well, so this doc has 5 properties:
[code]

When you get "too many indexed pr

[2017-10-19 00:09] alexanderwhatley commented on #4120
@samtstern, would you mind if I email the same data file to you? It would probably be easier to directly view the data than for me to describe it here.

[2017-10-19 00:11] samtstern commented on #4120
@alexanderwhatley sure, that will work.

[2017-10-19 01:11] rmanak commented on #3152
same issue here, is there a fix for this that's merged into some version of datastore client library ?

[2017-10-19 01:42] alercunha commented on #3152
I've forked the project just to do merges from master to the PR branch that contains this fix. You can clone my branch and install it manually if you like.

So you would have to do:

[code]

[2017-10-19 02:29] rmanak commented on #3152
thanks @alercunha  but can't seem to be able to figure out the dependencies ....
in a virtualenv after `python setup.py install`
getting:
ImportError: No module named 'google.api_core'
after trying to do `pip install .` on the parent repo level, I also need to install the google-auth, so when trying to do `pip install google-auth` getting this error message:
AttributeError: '_NamespacePath' object

[2017-10-19 04:31] Chez commented on #3892
I have recently run into an import error with psutils in the types.py called from google.cloud.pubsub_v1 on a GAE standard project inside Pycharm. I messed around for a day trying to find away around it, but no go. psutil imports in python run from the terminal and the console and from a vanilla python project but not from a GAE project. To double up on this I made a basic test of the two as seen

[2017-10-19 04:49] alercunha commented on #3152
Looks like some recent changes end up [breaking certain dependencies](https://stackoverflow.com/questions/45880108/google-cloud-platform-importerror-no-module-named-google-api-core-on-deploy/45899998#45899998).

[2017-10-19 04:56] alercunha commented on #3152
Luckily I [tagged a version](https://github.com/alercunha/google-cloud-python/releases/tag/1.3.0-datastore-issue-3152) that was working fine a few days before.
So you can do instead of checking out the branch:
[code]

[2017-10-19 05:46] rmanak commented on #3152
@alercunha thank you! that worked!

[2017-10-19 11:12] darofar commented on #2683
Hi, i'm getting this error on PubSub consumer. I manage to get a "not so pretty" workaround.

using a policy like this that replicates code for deadline_exceeded on google.cloud.pubsub_v1.subscriber.policy.thread.Policy.on_exception.
`
from google.cloud.pubsub_v1.subscriber.policy.thread import Policy
import grpc

class UnavailableHackPolicy(Policy):
    def on_exception(self, exception):

[2017-10-19 13:32] noamt commented on #4186
So how can we actually resolve this in the meantime?
My `setup.py` declares `google-cloud-storage==1.5.0` and `google-cloud-pubsub==0.28.4` but it failes with
[code]

[2017-10-19 15:26] #4164 closed

[2017-10-19 15:28] lukesneeringer commented on #4223
I do not believe so. /cc @jonparrott as a sanity check.

[2017-10-19 16:02] lukesneeringer commented on #4214
This looks like it might be related to [this question on Stack Overflow](https://www.google.com/url?q=https://stackoverflow.com/questions/46374731/pubsub-ackd-messages-continuously-re-deliver-every-10s-python-beta-client&sa=D&usg=AFQjCNFwYx0Lyowuqf7m6lMNpRm_QoWTIA).

I will look into this further.

[2017-10-19 16:25] samtstern commented on #4120
@dhermes I believe we can close this issue as it's not a problem with the Python library but rather just a more general issue of proper data structuring in Cloud Firestore.  I can confirm that the example data for a "company" that Alexander sent over to me is both over 1MB and has more than 20,000 fields so the errors are expected.

I will see what I can do about getting clearer error messages and

[2017-10-19 16:27] #4120 closed

[2017-10-19 16:28] dhermes commented on #4120
Great thanks!

[2017-10-19 16:55] jonparrott commented on #4223
Not at this time. You may be able to interact with the API using the google-api-python-client.

[2017-10-19 16:55] #4223 closed

[2017-10-19 16:55] shumin opened #4224 "PubSub: New pubsub not compatible with psq"
I'm using google-cloud=0.27.0 currently and now trying to use latest google-cloud-pubsub=0.28.4

But its break with current `psq` implementation. Any workaround so `psq` can work with latest pubsub?

Code snippet for existing implementation (works):

New implementation (breaks):

Thanks

[2017-10-19 16:57] jonparrott commented on #4224
Nope, I need to either update or deprecate PSQ. Most of the features that PSQ has are now incorporated into the Pub/Sub library.

[2017-10-19 17:17] Marigold commented on #4214
Thanks. We have a similar use case to batching https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4141 and weren't able to get even your sample code working (ratio of acked / pulled messages was extremely low). Had to switch to 0.27.0 with sync pulls which work just fine.

[2017-10-19 18:44] makrusak commented on #4083
I have the same problem with latest python pub/sub library.
If there are no new messages on topic during 2-3 minutes, all hangs and callback doesn't trigger more.
I'm searching for solution

[2017-10-19 19:29] mohammad-haque commented on #4224
@jonparrott Thanks. Although Pubsub does offer many features but it doesn't completely replace the need of some queue based task processing, in this case PSQ. It would be really helpful to keep the PSQ as a supported option, not deprecating it.

[2017-10-19 19:30] jonparrott commented on #4224
For sure- really psq isn't a very big library. It shouldn't be too hard (if you want to take a stab at a PR go for it.)

[2017-10-19 20:12] cthrax commented on #4218
I had something similar happen that might help you.

I couldn't use any of the new google cloud tools in appengine standard because both the appengine standard sdk and google cloud tools use the package "google" If one is on the python path, the other isn't and vice versa. Aside from doing my own file copying to the appengine standard SDK, I haven't figure out a way to get this to work. Let me kno

[2017-10-19 20:38] tseaver commented on #3892
pubsub uses `psutil` only for computing a maximum amount of RAM to be used:  ISTM we could fall back to some GAE-standard-appropriate default if `import psutil` raises.

[2017-10-19 21:35] jonparrott opened #4226 "api_core should upgrade service account credentials to jwt credentials if possible"

[2017-10-19 21:35] theacodes opened #15095 "Core: should upgrade service account credentials to jwt credentials if possible"

[2017-10-19 21:39] dhermes commented on #4226
:+1: a million

[2017-10-19 21:49] shumin opened #4227 "Failing MD5 checksum with latest Storage release"
Hey, not sure this directly related to this [merged PR](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3380) but after upgrading to latest storage release (1.5.0) all the download is keep failing and just throwing MD5 checksum exception.

My upload code:
[code]

Download code:
[code]

It all works with previous version but now throws exception in `download_as_string()` with messag

[2017-10-19 22:04] dhermes commented on #4227
This is a duplicate of https://github.com/GoogleCloudPlatform/google-resumable-media-python/issues/34, but I'll leave it open since these are different repositories.

@shumin For now you can get around it by downgrading your version of `google-resumable-media`:

[code]

This will work fine without having to modify the version of `google-cloud-storage`.

@mfschwartz is working on a fix as far as I

[2017-10-19 22:06] pdknsk opened #4228 "bucket.enable_logging should use bucket.name as default prefix"
It matches [`gsutil`](https://cloud.google.com/storage/docs/access-logs#delivery) and is probably what most users want by default.

Currently it sets an [empty prefix](https://googlecloudplatform.github.io/google-cloud-python/latest/_modules/google/cloud/storage/bucket.html#Bucket.enable_logging).

If someone stores logs from multiple buckets in a common *logs-bucket*, without explicitly setting a

[2017-10-19 22:19] tseaver commented on #4228
Seems reasonable.  Changing the default might qualify as a "breaking change".  @lukesneeringer do you have an opinion on that?  ISTM we would need to document explicitly that users could restore the old behavior by passing an explicit `prefix=''`.

[2017-10-19 23:37] vkedia commented on #4215
I tried this and it works for me. One reason this can happen is if the clock on your machine is incorrect and `dt.datetime.now()` returns a time in future. In that case the read will block till that time has elapsed or deadline expires.

[2017-10-20 00:20] danoscarmike opened #4229 "Please update README to indicate Firestore release/support level"
cc/ @lukesneeringer

[2017-10-20 05:56] Chez commented on #3892
It does raise on a mac El Capitan / Pycharm in GAE Standard env, even when installed as a third party to a libs directory. So now we have to write a cloud function to access the pubsub, not ideal...

Traceback (most recent call last):
[code]

[2017-10-20 12:29] pascaldelange commented on #4215
Well, this is embarassing. I should indeed have used datetime.utcnow() instead of datetime.now().
Thank you.

[2017-10-20 12:29] #4215 closed

[2017-10-20 15:48] dhermes commented on #4229
@danoscarmike Could you give an example of what you'd like to see from the README of a different package?

[2017-10-20 15:49] dhermes commented on #4229
Or are you referring to the README for the entire project?

[2017-10-20 15:58] danoscarmike commented on #4229
Hi @dhermes, yes, referring to the project [README](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/README.rst)

[2017-10-20 16:40] tseaver commented on #4087
@frankyn ISTM that the back-end docs need to be updated correspondingly (and first, so that we track them without guesswork).

[2017-10-20 16:47] #4229 closed

[2017-10-20 19:04] #4068 closed

[2017-10-20 19:52] jonparrott opened #4233 "Drop api_core.gapic_v1.wrap_with_paging"
Prefer just inlining the wrapping logic in gapic clients.

/cc @landrito

[2017-10-20 21:36] dhermes commented on #4227
As of the release of https://pypi.org/project/google-resumable-media/0.3.1/ I am going to close this issue as "fixed".

There is still more to be done in `google-resumable-media`, but this at least fixes the reported issue.

[2017-10-20 21:36] #4227 closed

[2017-10-20 21:45] kir-titievsky opened #4234 "Pub/Sub Subscriber does not catch & retry UNAVAILABLE errors"
A basic Pub/Sub message consumer stops consuming messages after a retryable error (see stack trace below, but in short `_Rendezvous: <_Rendezvous of RPC that terminated with (StatusCode.UNAVAILABLE, The service was unable to fulfill your request. Please try again. [code=8a75])>`).  The app does not crash but the stream never recovers and continue to receive messages.  Interesting observations;
- I

[2017-10-20 21:55] jonparrott commented on #4234
Rengerating pubsub to use api_core should solve this, I think.

[2017-10-20 22:08] kir-titievsky commented on #4234
How would I do that?

[2017-10-20 22:09] jonparrott commented on #4234
We're working on it. :)

[2017-10-20 23:31] kir-titievsky opened #4238 "Pub/Sub subscriber flow control stops ack requests"
Pub/Sub client library stops sending Ack or modifyAckDeadline requests entirely when flow control settings are defined.  See code below: when ran as it is against a subscription with a large backlog, it shows that the client thinks it's processing ~700 messages/second, while there is no outgoing traffic from the machine and the monitoring metrics show no ack | modAckDeadline traffic.

If we commen

[2017-10-21 16:31] anybodys commented on #3965
I think the issue may be a thread leak. When it occurs for me, the CPU is spending all its time in `treading.wait`. I noticed that the thread count gets really high too. I believe the problem is here: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/pubsub/google/cloud/pubsub_v1/subscriber/_consumer.py#L231 in `_blocking_consume`.

According to [this comment](https://github.c

[2017-10-23 09:04] safi-manar opened #4239 "Vision: Google Cloud Storage Client project=None bootstrapping problem"
Hello,

In using the Google Cloud API's, I noticed a small discrepancy in the documentation's expected behavior, and the actual behavior.
The documentation and Google cloud examples code typically assumes that credentials should be created using a JSON key store saved on persistent storage. However, this isn't always an option, as with deployments using ephemeral storage. Luckily, a Credentials ob

[2017-10-23 11:55] gcbirzan commented on #4234
We're able to reproduce this consistently within 1-2 minutes of starting a snippet virtually identical to the one on https://cloud.google.com/pubsub/docs/pull#pubsub-pull-messages-async-python. There are no messages published on the topic. Our stacktrace is a bit different, though:

[code]

[2017-10-23 17:25] tseaver commented on #4239
@jonparrott Is this just a documentation issue, or should the client be willing to infer the project from the passed `credentials`?

[2017-10-23 17:33] jonparrott commented on #4239
This is interesting, because storage effectively doesn't need a project to operate. Buckets are global resources.

[2017-10-23 18:10] frankyn commented on #4087
Good point. I'm working on resolving this in Storage docs. I'll update this post.

[2017-10-23 23:32] dhermes opened #4243 "GCS test failures for 'headers'"
Was: https://github.com/GoogleCloudPlatform/google-resumable-media-python/issues/41

[2017-10-24 09:47] thomas-vl commented on #4234
Any update about this issue?

[2017-10-24 12:32] patitonav commented on #4218
I think i can't do the same becouse my problem is with pubsub which isn't in google-api-python-client

[2017-10-24 13:23] anroopak commented on #4234
Any update about this issue?

[2017-10-24 15:42] a13x6au3r commented on #4234
Any update about this issue?

[2017-10-24 16:46] tswast opened #4246 "BigQuery: get_job() and list_jobs() fail when there has been an invalid job request"
The `list_job()` function is failing on my project because it cannot parse an invalid timestamp.

Using the bigquery.jobs.get in the API explorer on the problematic job, I see the resource:

[code]

As you can see, it is known that this job is invalid, but listing should not fail on projects with invalid jobs.

I propose creating a `JobReference` class which includes shared job properties such as

[2017-10-24 16:48] tswast commented on #3907
This will be closed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245.

[2017-10-24 16:50] tswast commented on #4153
I believe https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4153#issuecomment-336213296 is a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4152. The problem is that the `total_rows` property is only updated after doing the first request to fetch the first page.

I plan to address this by prefetching the first page of results when doing the function

[2017-10-24 16:50] #4153 closed

[2017-10-24 16:52] tswast commented on #3929
This issue will be addressed in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245, where both the asynchronous (now called `query`) and synchronous (now called `query_rows`) both accept a `QueryJobConfig` class for configuring optional properties of the query.

[2017-10-24 16:52] #3929 closed

[2017-10-24 17:07] tswast commented on #2931
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245

[2017-10-24 17:07] #2931 closed

[2017-10-24 17:09] tswast commented on #3081
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245.

The new `Client.list_rows` function takes an optional `start_index` parameter.

[2017-10-24 17:09] #3081 closed

[2017-10-24 17:11] tswast commented on #2372
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4193, to be merged to master in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245.

[2017-10-24 17:11] #2372 closed

[2017-10-24 17:13] tswast commented on #4024
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4136 where the load function now takes an optional `job_config` parameter, where this property can be populated.

To be merged to master in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245.

[2017-10-24 17:13] #4024 closed

[2017-10-24 17:14] tswast commented on #3742
Closing, as I haven't seen this flake on the `bigquery-b2` branch and https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4245 is now out to merge that to master.

[2017-10-24 17:14] #3742 closed

[2017-10-24 17:17] tswast commented on #3935
`row_ids` only de-duplicate within the streaming buffer (from a few minutes up to 90 minutes), not once they are in the table.

It is documented at https://cloud.google.com/bigquery/streaming-data-into-bigquery#dataconsistency that BigQuery remembers `row_ids` for at least one minute.

[2017-10-24 17:17] #3935 closed

[2017-10-24 17:18] #3907 closed

[2017-10-24 18:28] Downchuck opened #4247 "Core library does not include init in root path"
There is clearly a hierarchy in this package, for example "google.cloud.storage" is a particular package that includes the google.cloud core library. But there is no upstream "google" library, and so there is no associated `google/__init__.py` file created, which can lead to a painful debugging situation where simple code like "import google.cloud.storage" fails.

In depth:

This is a corner case

[2017-10-24 18:34] dhermes commented on #4247
@Downchuck It seems you are having an issue with [namespace packages][1] in your install.

The real problem is that `google` is a namespace that many other packages outside of our purview own. And if each of those packages tried to over-write `google/__init__.py`, bad things would happen.

There **should not** be a `google/__init__.py` file, but there **should** be `.pth` files, e.g.

[code]

[1]:

[2017-10-24 18:36] dhermes commented on #4247
@Downchuck I am going to pre-emptively close since the namespace packages are:

- Our only choice
- An officially documented (and PEP-accepted) part of Python packaging
- Working "as intended"

----

If you'd like to share some stacktraces, we are happy to help troubleshoot within your environment. (I'm not familiar with what sort of Python interpreters are used for large Spark jobs.)

[2017-10-24 18:36] #4247 closed

[2017-10-24 18:37] Downchuck commented on #4247
Has PEP closed out the concept of a root package?

[2017-10-24 18:38] tseaver commented on #4247
See also: https://github.com/pypa/setuptools/issues/912

[2017-10-24 18:39] dhermes commented on #4247
I'm sorry I don't understand what you mean.

[2017-10-24 18:43] Downchuck commented on #4247
I get that it'd need a root package if a root __init__.py file is going to be created. That's why I'm saying, there ought to be a root package in the dependency chain, even if it's just a single file. This is more an issue of "pain" than it is of anything else. Going with the idea that "With google-cloud-python we try to make authentication as painless as possible" is a worthwhile goal.

You can s

[2017-10-24 19:05] dhermes commented on #4247
There is no need for a "root package". (I'm not sure what you mean when you say "root package".)

----

But you **don't** need to `touch` any files, you need an interpreter that supports namespace packages (i.e. can parse `.pth` files). This shouldn't be an issue, as namespace packages have been around since 2012.

[2017-10-24 19:07] dhermes commented on #4247
It's likely that Spark's `addPyFile` is only intended for simple modules / self-contained `.zip` files. Passing in a wheel seems to subvert this usage (i.e. a wheel file assumes it will be installed by `pip`, which is what will add the `.pth` files).

Can you point to some documentation for `addPyFile`?

[2017-10-24 22:25] duggelz commented on #4247
addPyFile implementation is here, which appears to be the best documentation as well:

https://github.com/apache/spark/blob/7c7266208a3be984ac1ce53747dc0c3640f4ecac/python/pyspark/context.py#L846

It was written some time ago, before namespace packages and wheels existed.  It could be changed to do so, which would be a feature request for the Spark project.  Otherwise, we'd have to package the ent

[2017-10-25 00:16] suhaasprasad commented on #3886
Any workaround here? Passing in the service_path and service_port to the client doesn't seem to work and prints the following error:

`E1025 00:04:54.085080000 140737010254784 ssl_transport_security.c:940] Handshake failed with fatal error SSL_ERROR_SSL: error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER.`

[2017-10-25 07:54] telenieko commented on #3886
Hi,

According to Google documentation the developer (users of the library) should not have to do anything in code to use the emulator. Only set the proper environment variable. Also that is the way it worked before this ticket (apparently).

There are two things missing IMHO: 1) a test case that checks that when the PUBSUB_EMULATOR_HOST is set all requests to PUBSUB are forwarded there, and 2) su

[2017-10-25 13:54] patitonav commented on #4218
Is there a way to use pubsub library in a dev_appserver.py enviroment?

[2017-10-25 14:01] LauraRichter commented on #3067
A question on this --
When I do:

The scopes on the credentials don't seem to be set?

gives nothing?

[2017-10-25 14:59] tseaver commented on #4247
Namespace packages have existed much longer than that:  they have been present since [setuptools 0.5a9](http://setuptools.readthedocs.io/en/latest/history.html#id508), released in June 2005.

[2017-10-25 15:16] dhermes commented on #4218
@patitonav Possibly? Check out https://github.com/dhermes/google-cloud-python-on-gae to see some of the struggle I went through to get `google-cloud-language` working on GAE (both dev and prod).

[2017-10-25 15:18] tswast commented on #3067
/cc @jonparrott

For thoughts on allowing extra scopes in this client library.

[2017-10-25 15:49] #4243 closed

[2017-10-25 16:34] parthmishra commented on #3967
This issue is still occurring even with protobuf on version `3.4.0`

[2017-10-25 16:41] dhermes commented on #3967
@parthmishra Can you run a few commands?

[code]

It may be that you are checking the `protobuf` version and running the code in different interpreters by mistake

[2017-10-25 16:46] parthmishra commented on #3967
Sure, here's my output:

[code]

and

[code]

[2017-10-25 16:50] dhermes commented on #3967
So it looks like there's no issue. The original report was:

[code]

[2017-10-25 16:57] parthmishra commented on #3967
@dhermes so if I'm still getting that AttributeError on a training submission, there is some other decency issue at play?

[2017-10-25 17:04] murataksoy commented on #4234
@kir-titievsky, the [solution you mentioned](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2683#issuecomment-337876366) seems to work at first, but the problem with this approach seems to be that the CPU usage goes up every time the UNAVAILABLE exception is handled this way. Thus, a fix seems to be necessary.

[2017-10-25 17:12] dhermes commented on #3967
You need to make sure the interpreter that is running there has an up-to-date version of `protobuf`. Your local interpreter only tells you about itself.

[2017-10-25 17:28] telenieko commented on #3886
Temporary workaround (ugly) solves the SSL problem:
[code]

[2017-10-25 18:12] jonparrott commented on #3067
I don't want to add any more options to the constructor of clients and scopes are firmly in the purview of the auth layer. In the context of Cloud APIs and service accounts, scopes are essentially becoming meaningless.

If anything, we should just document how to obtain credentials with different scopes.

[2017-10-25 20:32] suhaasprasad commented on #3886
I'm still unclear as to the root issue, but I've reverted to using version 0.27.0 of the google-cloud-pubsub library for now.

[2017-10-25 21:29] jonparrott commented on #3806
Closing this in favor of the umbrella issue around GAE standard support #1893.

[2017-10-25 21:29] #3806 closed

[2017-10-25 21:32] jonparrott commented on #4134
I guessing this is good to close. Feel free to comment if it was in error.

[2017-10-25 21:42] tswast commented on #4134
Reopening, as I don't see `page_size` in the page iterator.

https://github.com/GoogleCloudPlatform/google-cloud-python/blob/a2efd96a107dc19756dbc8bf71691f6cc2f53331/api_core/google/api_core/page_iterator.py#L252-L302

[2017-10-25 21:50] jonparrott commented on #4134
Again, page_size is not a parameter to the iterator, it's parameter to the API method.

For HTTP clients:

[code]

For gRPC clients:

[code]

[2017-10-25 21:50] #4134 closed

[2017-10-25 22:48] #4233 closed

[2017-10-25 22:55] tswast opened #4260 "BigQuery: add page_size parameter for list_rows and use in DB-API for arraysize"
With https://github.com/GoogleCloudPlatform/google-cloud-python/pull/4144 the arraysize parameter no longer affects how much data the library actually requests from the API.

We should add a `page_size` parameter to `Client.list_rows` and use that parameter in the DB-API implementation.

See also: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4134

[2017-10-26 08:34] LauraRichter commented on #3067
Is there a better way to do this then? I have a google sheet external data source BQ table, and I'm trying to read it using the python bigquery module. But I get an error about needing drive scope:

"Forbidden: 403 Access Denied: BigQuery BigQuery: No OAuth token with Google Drive scope was found."

What is the correct way to deal with permissions here?

[2017-10-26 09:59] Downchuck commented on #4247
Some other related docs, such as zipimport; potentially addressed in a later PEP in Python 3, like importlib:
https://docs.python.org/2/library/zipimport.html
https://docs.python.org/3/library/importlib.html

When I say root package, I mean a python package that represents the root namespace "google" so that only one package is writing to that init file. It seems that the cloud core would write an

[2017-10-26 14:49] lukesneeringer commented on #4218
I am 99% sure you will be unable to use the library in dev_appserver (or production GAE). :-(

[2017-10-26 14:50] lukesneeringer commented on #4097
This was decided. We are not doing it.

[2017-10-26 14:50] #4097 closed

[2017-10-26 15:05] luckyapplehead commented on #3967
I come across the same problem as Parthmishra described. I use protobuf-3.4.0, and the output check is as below:
python -c 'from google.protobuf import symbol_database; print(getattr(symbol_database.SymbolDatabase, "RegisterServiceDescriptor", None))'
<unbound method SymbolDatabase.RegisterServiceDescriptor>

But when I run the trainning, it show the same error message:
AttributeError: 'SymbolData

[2017-10-26 15:50] dhermes commented on #3967
@luckyapplehead I'm not familiar with this service, but the issue is the environment where you "run the training". What is the environment? Provide a link or some other context?

[2017-10-26 16:05] dhermes commented on #4247
That's not quite how namespace packages work. `google-cloud-core` puts code in `google.cloud`, so there is nothing to place in the `google` namespace package (other than the `google.cloud` subpackage).

As @duggelz notes, your best bet is to probably package up all of the files in a self-contained zip. You'll be better off doing this by installing into a virtualenv and then zipping what's installe

[2017-10-26 16:53] tswast commented on #3067
Hmm,

[code]

appears to be correct. Are you using a service account? If using the credentials from the `gcloud` command (cloud sdk) the sheets API is not enabled for that project. Better to use a service account as described at https://cloud.google.com/docs/authentication/getting-started

[2017-10-26 17:13] dhermes commented on #3961
@jonparrott @waprin This is a bit perplexing. @chemelnucfin has been able to reproduce the 400 locally.

- What should be present in a project to get this query to return something other than 400?
- It seems the backend is using 400 as a sort of 404

[2017-10-26 17:18] waprin commented on #3961
`metric = 'compute.googleapis.com/container/memory/bytes_total'` to

`metric = 'container.googleapis.com/container/memory/bytes_total'` maybe?

And yeah I agree should probably be 404.

[2017-10-26 17:25] dhermes commented on #3961
Thanks Bill!

[2017-10-26 17:29] dhermes commented on #3961
I confirmed (with @chemelnucfin's help) that there is no bug here, other than maybe a suggestion that the backend have a more helpful error message:

[code]

[2017-10-26 17:29] #3961 closed

[2017-10-26 17:57] berlincode opened #4264 "Datastore: receiving duplicate entities during query iteration"
Hi.

I'm using google-cloud-datastore==1.3.0 from pypi.

When iterating over a query iterator the google-cloud-datastore sometimes returns the same entitiy twice.

I've had a look at the source and it seems that the last entity of a fetched page is the same as the first entity of the next page.

Iterating of pages and printing each enitity id makes the problem obvious.
[code]

The output looks lik

[2017-10-26 18:11] dhermes commented on #4264
Thanks for reporting! We'll look into it. (Also, I'm happy to see you've been able to use the `pages` feature of the iterator!)

[2017-10-26 18:23] lukesneeringer commented on #4234
Hey folks,
I have an update on this issue. :-) I am working on it today.
As @murataksoy mentioned, it is not just as simple as adding an `if` line to return None from `UNAVAILABLE`, because threads are building up. (#3965)

Hoping to have a fix today or tomorrow.

[2017-10-26 19:13] #3842 closed

[2017-10-26 19:37] jonparrott opened #4267 "Move google-cloud-core functionality into api_core"
- [ ] [IAM](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/895951a7ae244634f44debee27597ef384b6c138/core/google/cloud/iam.py) (Related #3882)
- [ ] [Helpers](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/895951a7ae244634f44debee27597ef384b6c138/core/google/cloud/_helpers.py) - many of these will just be distributed among the existing helper modules in api_core.
-

[2017-10-26 19:37] theacodes opened #15096 "Core: Move google-cloud-core functionality into api_core"
- [ ] [IAM](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/895951a7ae244634f44debee27597ef384b6c138/core/google/cloud/iam.py) (Related googleapis/google-cloud-python#3882)
- [ ] [Helpers](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/895951a7ae244634f44debee27597ef384b6c138/core/google/cloud/_helpers.py) - many of these will just be distributed among the existing

[2017-10-26 20:00] jonparrott commented on #4267
Scattered thoughts on stuff for my own future benefit (feel free to comment, but just know these are raw).

Clients:

1. We should just drop the common base class and depend on google.auth.default() for both default credential and project ID detection.
2. We should add a mixin class for `from_service_account_file()` and `from_service_account_info()`, with a deprecated alias for `from_service_accou

[2017-10-26 21:11] dhermes commented on #4267
@jonparrott I actually massively reduced the interface of `Connection` with plans to remove it (and I made it a non-public member intentionally). So I am all for it!

[2017-10-26 22:00] #3888 closed

[2017-10-26 22:00] #4019 closed

[2017-10-26 22:09] duggelz opened #4270 "Firestore unit test failures under Python 3.4 (only)"
I'm seeing unit test failures with google-cloud-firestore under Python3.4, but not 2.x or 3.5+.

1. OS type and version:
  `Debian 8`
2. Python version and virtual environment information `python --version`
  `Python 3.4.2`
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
[code]
4. Stacktrace if available
[code]
5. Steps to reproduce
[code]

[2017-10-27 01:11] duggelz commented on #4270
Known bug in 3.4, fixed in 3.4.7: https://docs.python.org/3.4/whatsnew/changelog.html

[2017-10-27 02:09] #4270 closed

[2017-10-27 03:20] michaelawyu opened #4272 "Vision: Single feature functions generated by cloud vision client library does not support parameter max_results"
As specified in [the gRPC reference](https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#google.cloud.vision.v1.AnnotateImageRequest), AnnotateImageRequest message have three fields, _image_, _features[]_ and _image_context_, in which the _features[]_ field determines what feature user is request (_type_) and max number of returned results (_max_results_). The code for genera

[2017-10-27 14:17] sss721 commented on #4234
Any update on this issue?

[2017-10-27 17:47] luckyapplehead commented on #3967
I have solved the problem according to parthmishra's advice as belows:

Thanks very much:)

[2017-10-27 20:07] anorth2 opened #4274 "PubSub: Subscriber Client stops acking messages after several seconds"
1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version
python:3-alpine docker image running in GKE
3. Python version and virtual environment information `python --version`
4. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
google-cloud-pubsub==0.28.

[2017-10-27 20:21] markcwhitfield commented on #4274
Don't have any solutions for you, but I'm also trying out the new API and seeing similar issues.

I'm also seeing `StatusCode.UNAVAILABLE` killing the consumer thread. My approach was just to let the policy itself retry by returning `None` in `on_exception`, same as `DEADLINE_EXCEEDED`. I don't understand why this wouldn't be the case in the default policy, as occasional `UNAVAILABLE` responses se

[2017-10-27 21:52] samx816 commented on #3861
Is this config only available for google.cloud.pubsub_v1.SubscriberClient and PublisherClient? I want to write a program that utilizes the pull method with a lower timeout limit, but overriding timeout with CallOptions doesn't seem to work. Here is an example snippet:

`from google.cloud.gapic.pubsub.v1 import subscriber_client
from google.gax import CallOptions
import os

os.environ['GOOGLE_APPLI

[2017-10-28 10:43] alaxa27 opened #4275 "Speech: Deprecated doc!"
Hello,
I was using cloud speech and therefore reading the docs when I came across a problem:
[code]
it returns an _OperationFuture object from python Gax Library. Here is the [source code](http://gax-python.readthedocs.io/en/latest/_modules/google/gax.html?highlight=_operation).
But the attributes the documentation tells this object has are untrue. Indeed operation.complete really is operation.don