[2017-05-22 14:49] tweeter0830 commented on #3441
I moved the client into a single thread and I am still having this issue.

[2017-05-22 17:18] dhermes commented on #3441
@tweeter0830 Can you provide some example code so we can discuss the implementation?

[2017-05-22 23:27] liyanhui1228 commented on #3359
I have done this for flask and django. For flask the trace_id is just extracted from request headers, for django I used a middleware to store the request in thread local, and then get the trace_id from it. But the user will need to add the middleware to django settings before deploy the app. If this sounds reasonable, I can post a PR :) Any suggestions? @jonparrott @duggelz @waprin @dhermes

[2017-05-23 15:21] GEverding commented on #3441
I'm seeing similar issues. I'm creating new Client Objects each time I want to upload a file.

[2017-05-23 16:42] dhermes commented on #3441
Thanks for the snippet @GEverding. I'm not a regular user of Celery so I'm not sure what the implications are here. Are you saying you put this in a Python module at global scope and then point Celery at that module?

[2017-05-23 17:08] GEverding commented on #3441
@dhermes Yes the function is in the global scope. We run each task on a separate process so there should only be one thread calling this piece of code.

[2017-05-23 17:55] HassanJaveed84 opened #3449 "No option to specify a custom nullMarker while using table.upload_from_file method"
We have source data where Null values are represented by \N.

However, we're unable to use table.upload_from_file method as there is no parameter to specify a custom null marker(configuration.load.nullMarker).

[2017-05-23 18:11] tseaver commented on #3449
@HassanJaveed84 Thanks for the report.  If you would care to prepare a pull request patching the `table.py` module, it would land more quickly.  Looking at the code, it would need a new `null_marker` argument to `Table.load_from_file`, which would then get passed down to the `_configure_job_metadata` helper.  The PR would also need to update one of the tests to demonstrate passing the value.

[2017-05-23 22:15] vkedia commented on #3123
You can turn on GRPC tracing to look at the actual headers being sent. I did that and I con confirm that x-goog-api-client header is not being set atleast for the data api. Here is a handy command:

`GRPC_TRACE=http GRPC_VERBOSITY=DEBUG python quickstart.py 2>&1 | grep SEND_INITIAL_METADATA | egrep '(user-agent|x-goog-api-client)'`

[2017-05-23 23:02] yaalaa opened #3450 "v0.25.0 with grpcio==1.3.5 hangs in completion_queue.poll()"
I'm not sure that's the right place to file this issue. It could be something well-known one of another project. Nevertheless here it is:
I'm running Google App Engine Flexible VM.
The webservice uses `gunicorn` + `gevent` + `flask` chain.
It uses this lib v0.25.0
Yesterday, upon new deployment, I've faced with old and relatively seldom issue - it hangs in `completion_queue.poll()` in deep of `grp

[2017-05-23 23:14] tseaver commented on #3123
I think this has to be an issue in https://github.com/googleapis/gax-python, rather than here:  that library is responsible for generating that header.

[2017-05-23 23:40] vkedia commented on #3123
Possibly though in that case it should manifest in other libraries as well and not just spanner.

[2017-05-24 02:01] vkedia commented on #3123
@lukesneeringer I think I found the issue. The issue is really in gax that it does not merge the metadata given while creating the callable correctly with extra metadata given while making the call. In that case it will just use the metadata given later. You pass the "google-cloud-resource-prefix" header here:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/391c6fd807f5f4c0ea7066ec

[2017-05-24 08:38] esseti opened #3451 "Performance with multiple upload in parallel."
Hello

I'm using the library to store data in the cloud storage from some containers run by kubernetes. The overview of the system is this:

- we provide an API to upload blob files
- this API allows chunk uploads, such that, you can call it in parallel and chunks are uploaded. This is done using the client
[code]
- when all the chunks are uploaded an API must be called to recompose everything in

[2017-05-24 11:01] HassanJaveed84 commented on #3449
@tseaver I'll go ahead and create a PR, thanks!

[2017-05-24 14:35] HassanJaveed84 commented on #3449
@tseaver I tried following the instructions for local development on:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst

However, I'm unable to run the tests using the given instructions.
"To run all tests for google-cloud-python on a single Python version, run py.test from your development virtualenv "

Not sure about py.test ?

[2017-05-24 14:47] tweeter0830 commented on #3442
Nevermind, fixed.

[2017-05-24 14:48] tweeter0830 commented on #3441
Sorry, I was mistaken. I appears to have fixed the issue.

[2017-05-24 15:21] dhermes commented on #3450
/cc @nathanielmanistaatgoogle

[2017-05-24 15:23] dhermes commented on #3450
@yaalaa Thanks for taking the time to report this!

Which subpackage are you using (other than just `google-cloud==0.25.0`)? Also, can you provide a code snippet that causes this failure (or describe a little bit of what is failing)?

[2017-05-24 15:26] dhermes commented on #3449
@HassanJaveed84 sorry `CONTRIBUTING` is very out of date (/cc @lukesneeringer).

Instead, install `nox` via:

[code]

then run `nox` in the `bigquery` directory:

[code]

[2017-05-24 16:40] yaalaa commented on #3450
Here's the pip configuration that hangs:
[code]

[2017-05-24 16:48] yaalaa commented on #3450
I've looked at the logs. Sometimes it's hard to describe an use-case.
I think my app uses Google Cloud Datastore only.

Here's an example of how worker feels at the end:
[code]

[2017-05-24 17:01] yaalaa commented on #3450
I suppose each worker timeout is preceded by `query` or `get`.

[2017-05-26 23:02] rmmh commented on #3396
insert_data also doesn't support nested records-- it only runs conversion functions on the first level of data.

It feels quite pointless, since it just ends up reconstructing the dictionary internally. Users with a dictionary have to convert it to a tuple according to the schema (but only the first level!), and then insert_data converts it back into **the same dictionary** before issuing a POST.

[2017-05-26 23:37] tswast commented on #2920
DML is GA now (for non-partitioned tables), by the way.
https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language

[2017-05-26 23:54] vkedia commented on #3390
Any updates on this?

[2017-05-26 23:54] vkedia commented on #3395
Any updates on this?

[2017-05-27 12:38] sandys commented on #2990
we are facing the same issue on latest anaconda (and python 3.6.1) - we did the same thing as @bkleef and got it working (pip install)

[2017-05-29 10:01] remcohaszing opened #3455 "__eq__ and __ne__ are implemented incorrectly for all classes"
`__eq__` and `__ne__` are implemented incorrectly throughout the entire `google-cloud-*` code base. I encountered this issue when trying to compare a `google.cloud.datastore.Key` instance to `unittest.mock.ANY`.

When implementing custom equality in Python (2 or 3), it should be written like this:

[code]

Throughout the entire code base of this repository, equality is implemented like this:

[cod

[2017-05-29 14:10] HassanJaveed84 commented on #3449
Thanks @dhermes.
I'll let you know if I run into problems again.

[2017-05-29 18:27] mikelambert commented on #3259
This issue is closed. Should I open a new issue to track the problem I was seeing, under the assumption that it's a different issue with a different cause?

(Mine was perhaps different from the originally-reported error, in that it wasn't intermittent, and instead started-and-kept-occurring after running a certain length of time.)

[2017-05-29 18:28] munsanje opened #3456 "Documentation on creating container optimized VM"
I've searched high and low through the docs as well as open source code for documentation on how to create a Container Optimized VM using the python api, but to no avail. Could someone help me?

[2017-05-29 23:00] laanlabs commented on #1295
+1 on get_serving_url.

[2017-05-30 08:28] tcroiset commented on #3450
We have the same issue (and indeed grpcio==1.3.0 fix it)

[2017-05-30 18:40] ndenny commented on #3356
I've hit this problem in the past few days - google-cloud-* modules can't be installed on clean Python environments installed using PyEnv, so had to use pip to upgrade setuptools first. Seems reasonable that you add a include the requirement so you can be installed seamlessly: it's not an obvious error, and quite hard to find this issue to find the answer.

[2017-05-30 23:41] dhermes commented on #2990
@jonparrott Was there some `pip` / `setuptools` hiccup over the weekend that I missed by going off the grid?

[2017-05-30 23:44] duggelz commented on #2990
It's been around a while. You might have to update setuptools separately
from other packages and/or in a different order depending on what versions
are currently installed.

On Tue, May 30, 2017 at 4:41 PM Danny Hermes <notifications@github.com>
wrote:

[2017-05-31 06:57] ravindranathakila commented on #2053
```query.use_legacy_sql = False```

[2017-05-31 15:56] dhermes commented on #3356
@ndenny I've had the same issue with "fresh-ish" `pyenv` environments, thanks for pointing this out.

[2017-05-31 16:23] dhermes commented on #3450
@nathanielmanistaatgoogle Bump

[2017-05-31 16:27] dhermes commented on #3450
@tcroiset Which subpackage are you using? (Is it `google-cloud-datastore` or something else?) Could you provide a code snippet that fails?

[2017-05-31 16:28] dhermes commented on #3456
@jonparrott Could you help redirect to the proper place?

[2017-05-31 16:31] tcroiset commented on #3450
It's google-cloud
The service is a custom flex engine based on gcr.io/google_appengine/python

It's part of a big project but I'll try by tomorrow to extract only the relevant code and reproduce the issue

[2017-05-31 16:35] dhermes commented on #3455
Thanks @remcohaszing for taking the time to report this! As of 5e86158b79b6dc3706ec552c5e7a5d6f19b18963 it seems to impact 5 subpackages:

[code]

Unfortunately, it's spread out in an ad-hoc way so fixing everything will take awhile:

[code]

[2017-05-31 16:39] dhermes commented on #3450
Thanks @tcroiset.

----

It's worth pointing out the [`google-cloud`][1] doesn't actually have any code in it. It is literally just a `setup.py`, a `README` and some other package artifacts:

[code]

So in general, you may be happier being explicit with the `google-cloud-${SERVICE}` packages you use (these are the ones that actually have code in them).

[1]: https://pypi.python.org/pypi/google-clo

[2017-05-31 16:41] nathanielmanistaatgoogle commented on #3450
[We've known for a while that gRPC Python doesn't yet play nicely with gevent](https://github.com/grpc/grpc/issues/4629) (and gunicorn? I don't know as much about gunicorn), but the most likely change responsible for what you're seeing is [pull request 11154](https://github.com/grpc/grpc/pull/11154). It added a use of `threading`, and gevent breaks use of `threading`, so... there's probably not an

[2017-05-31 16:45] dhermes commented on #3450
Thanks for the pointers @nathanielmanistaatgoogle

[2017-05-31 16:46] dhermes commented on #3259
I think it's fine to keep the issue here?

[2017-05-31 17:46] mwilliammyers opened #3461 "[pubsub] 'module' object has no attribute 'Client'"
I have been using pubsub for a while but after updating it, I am getting
`AttributeError: 'module' object has no attribute 'Client'`

I am following [this](https://googlecloudplatform.github.io/google-cloud-python/stable/pubsub-usage.html#authentication-configuration) example from the official docs:

### macOS 10.12.5 (16F73)
Name: google-cloud-pubsub
Version: 0.25.0
Summary: Python Client for Goo

[2017-05-31 17:52] dhermes commented on #3461
@mwilliammyers We've seen similar issues before due to broken install states combined with namespace packages. It's often due to the presence of a `.egg` file or something similar.

Can you install into a `virtualenv` to make sure the issue is your environment (then we can try to dig into your `/usr/local/lib/python2.7/dist-packages` or the other `Location` on Mac OS X and find the bad file).

[co

[2017-05-31 17:54] #2920 closed

[2017-05-31 17:54] mwilliammyers commented on #3461
I could have sworn I had tried it within a virtualenv, Ill do it again to be sure.

[2017-05-31 17:56] tseaver commented on #2434
#3460, now merged, added `query.num_dml_affected_rows`, needed to implement `cursor.rowcount`.

[2017-05-31 17:57] dhermes commented on #3461
@mwilliammyers Do you mind sharing the code you used to create the `virtualenv`? Would you mind trying the code I provided with a fresh `virtualenv`?

[2017-05-31 18:04] mwilliammyers commented on #3461
I got it working in my venv in ubuntu but still not in venv on macOS:
[code]

works

I did a similar thing in a new env on macOS and it works.

I think I tracked down the offending package (which I hadnt installed yet into the new envs): [`pyrebase`](https://github.com/thisbejim/Pyrebase)

[2017-05-31 18:06] jonparrott commented on #3456
Container-optimized VM has been replaced by Container Optimized OS. Based on the documentation [here](
https://cloud.google.com/container-optimized-os/docs/how-to/create-configure-instance), you can create this using the API by specifying the cos image and the configuration using [cloud-init](https://cloud.google.com/container-optimized-os/docs/how-to/create-configure-instance#using_cloud-init) wi

[2017-05-31 18:06] #3456 closed

[2017-05-31 18:07] dhermes commented on #3461
@mwilliammyers So can I close this issue out or are we still fishing for a cause? (Also, I highly recommend using a "direct path" to things in `${VENV}/bin` rather than relying on `PATH` to "just work".)

[2017-05-31 18:09] mwilliammyers commented on #3461
Yes, thank you!

[2017-05-31 18:09] #3461 closed

[2017-05-31 18:09] tseaver commented on #3461
@mwilliammyers In addition to what @dhermes  says, I would particularly avoid using `activate` (start from a fresh terminal / shell).  `activate` leaves droppings in the environment which can cause oddities like the ones you have reported.

[2017-05-31 18:10] mwilliammyers commented on #3461
The ubuntu one was from a fresh ssh, so it was a new shell. A lot of times I do an `exec` as well.

[2017-05-31 18:12] dhermes commented on #3461
Glad to hear we could help @mwilliammyers

[2017-05-31 21:34] merla18 opened #3462 "incorrect beta note on Python Client library for Cloud Natural Language"
# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or requesting a feature, please search the
existing open and closed issues to see if there is already work being done.

There is a warning about the NL API being beta on https://googlecloudplatform.github.io/google-cloud-python/stable/language-usage.html

"This is a Beta release of Google Cloud Natural Langua

[2017-05-31 21:35] dhermes commented on #3462
@merla18 Our client library is what's beta, not the actual backend API.

Does that make sense?

[2017-05-31 21:44] merla18 commented on #3462
Could we update the verbiage of the Note to make it clearer. For instance:
"This is a Beta release of Google Cloud Natural Language Client Library. This Client library is not intended for real-time usage in critical applications."

[2017-05-31 21:45] dhermes commented on #3462
I'll defer to @lukesneeringer and @jonparrott and that language (though what you've written seems perfectly reasonable).

[2017-06-01 22:39] daiyueweng commented on #2673
has the fix been released yet and is it also reflected in the documentation now? is there any example for putting logs to different monitored resources?

[2017-06-01 22:45] waprin commented on #2673
Probably a good idea to add example to docstring but in meantime look at the tests. Pretty self explanatory, build a MonitoredResource object with type and labels, then pass that into the write calls.

Doesn't look like it's been released yet though you could always depend on the latest in this repo if you really wanted to.

[2017-06-02 08:54] daiyueweng commented on #2673
which unit test file build a MonitoredResource as you mentioned?

[2017-06-02 16:21] daiyueweng opened #3465 "stackdriver logging logger delete is bugged"
I tried to delete logs using the latest `python api` for `stackdriver logging`.

[code]
I got the following errors,

[code]

it is constantly showing up, when I tried to delete some logs.

[2017-06-02 19:58] dhermes opened #3466 "get_target_packages has dependencies in the wrong direction"
We are [adding dependencies][1] during changes:

[code]

but this makes a [build][3] with `logging` only changes [trigger][2] BigQuery, Pub / Sub and Storage:

[code]

- `logging` **depends** on `bigquery`, `pubsub`, `storage`
- `error_reporting` **depends** on `logging`

So the real output should be a reverse of the dependency map:

[code]
[1]: https://github.com/GoogleCloudPlatform/google-cloud-

[2017-06-03 15:10] evanj commented on #2927
I think this is basically a duplicate of #2222

[2017-06-03 15:40] pradeepsharma2004 commented on #3252
The error is still not resolved..same error is encountered when i run the code!!

[2017-06-03 20:05] dhermes commented on #3237
Blerg. I just saw [another one][1]

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2072

[2017-06-05 16:22] sstepashka commented on #3421
So, How I can using custom downloader for Blob (inside GCP environment)?

[2017-06-05 17:28] tseaver commented on #3465
Hmm, are you sure there are actual log entries with that name?  Try the following:

[code]

Is that list empty?

[2017-06-05 18:09] dhermes commented on #3421
Just `pip install google-auth google-resumable-media`, then using the snippet above to define `TimeoutSession`:

[code]

(Most of this is just copied from the [docs][1] I mentioned above.)

[1]: https://googlecloudplatform.github.io/google-resumable-media-python/0.1.1/google.resumable_media.requests.html

[2017-06-05 19:50] tseaver commented on #3062
#3328 made `storage_class` settable before blob creation.

#3051 added a `Blob.update_storage_class` method which allows changing the storage class via a server-side rewrite.

[2017-06-05 19:50] #3062 closed

[2017-06-05 20:17] tseaver commented on #2610
PR #1420 (long stalled) makes a stab at adding usage docs for storage.  #3472 adds the `setter` documentation to `lifecycle_rules` and `versioning_enabled`.

[2017-06-05 20:25] tseaver commented on #2538
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2463#issuecomment-250479449 notes that the `generation` option should be used for the whole range of Object APIs which support it.  I have updated the title to indicate its broader scope.

[2017-06-05 20:25] #2538 closed

[2017-06-05 20:38] tseaver commented on #729
I'm uncertain why we would assign a priority to this, or slot it into a project, given that it is an open question (not a bug, not a requested enhancement).

[2017-06-05 20:42] tseaver commented on #753
Again, this is an open question, not an actionable bug / enhancement, so prioritizing it seems misplaced.

[2017-06-05 20:46] tseaver commented on #754
#3362 includes existing blob properties with the initial (or only) upload request.

[2017-06-05 20:46] #754 closed

[2017-06-05 20:49] tseaver commented on #909
See also #2222, #2927.

[2017-06-05 20:55] tseaver commented on #931
#3362 makes size optional, and avoids calling `os.fstat` except in `Blob.upload_from_filename`.

[2017-06-05 20:55] #931 closed

[2017-06-05 20:59] tseaver commented on #1185
#3362 passes along all non-ACL blob properties with the (initial or only) upload request.

[2017-06-05 20:59] #1185 closed

[2017-06-05 21:20] dhermes commented on #3237
And [another one][1]

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2091

[2017-06-05 21:29] tseaver opened #3473 "Add support for bucket labels"
See: https://cloud.google.com/storage/docs/json_api/v1/buckets#labels

[2017-06-05 21:59] dhermes commented on #3415
@filipealeixo Sorry for the delay. First, I'd like to suggest you upgrade from `gcloud` to `google-cloud-datastore`. (The latest `gcloud` release was in September 2016.)

Second, our `Client`-s should provide the correct scopes, sometimes a 403 occurs when the API hasn't been turned on / enabled in the Cloud Console for your project.

[2017-06-05 22:05] tseaver opened #3474 "Add support for "requester pays" operations"
The storage docs don't really explain this, but the JSON API methods have begun to accept a `userProject' query parameter (or is it a header?  only its yak-shaver knows for sure). The point of it looks to be to bill any charges associated with the request to a different project than the one which owns the bucket in which it takes place.  I can't tell how a bucket owner is supposed to configure thi

[2017-06-05 23:49] jcondit commented on #3001
The OP is correct that these are issues in the design of the current library API. We're working on a revised version that will make the long-running query flow more convenient to execute.

[2017-06-06 06:12] vkedia opened #3476 "Cloud Spanner Client should prevent nested transactions"
Cloud Spanner does not support [nested transactions](https://en.wikipedia.org/wiki/Nested_transaction). But the client library does allow users to call `database.run_in_transaction` inside of the callback that is provided to an outer `database.run_in_transaction`. This is misleading since users might believe that this will behave like a nested transaction but in reality these will be two independe

[2017-06-06 12:33] Rafff commented on #1763
Hey.
So there is no way to get more than 300 results at once ?
I can see that this issue has been closed for a long time but it seems that this "problem" (or feature?) still exists.

[2017-06-06 12:59] jdpedrie commented on #3474
@tseaver, the bucket owner will enable requester pays by setting `billing.requesterPays` to `true` in the bucket settings.

https://github.com/GoogleCloudPlatform/google-cloud-php/pull/527/files#diff-703c9fa16eb822e79062a7936fceffe5R103

[2017-06-06 16:20] dhermes commented on #1763
@Rafff How do you mean? The API has limits based on payload size and there isn't anything we can do about it in the client. However, we do provide an iterator so that you don't have to worry about it.

[2017-06-06 16:20] daiyueweng commented on #3465
No, the list is not empty. The code I have tried is,

[code]
It just could not let me delete the logger.

[2017-06-06 17:11] #1883 closed

[2017-06-06 17:31] liyanhui1228 commented on #3465
You might just need to wait a few seconds before deleting the logger, it takes some time for logs to be sent to stackdriver logging. This might be the reason why you got 'request entity not found'. I have tried your code and wait before deleting the logger, and it works. Hope this could help :)

[2017-06-06 17:33] dhermes commented on #3465
@daiyueweng This API (and most Google APIs) are "eventually-consistent", which might explain what @liyanhui1228 just said.

@liyanhui1228 Do you guys have a page in your docs explaining which operations are eventually-consistent and which are strongly-consistent?

[2017-06-06 17:34] #3466 closed

[2017-06-06 17:39] liyanhui1228 commented on #3465
@dhermes I haven't seen it in the logging docs. Maybe we need to consider add this part to our docs.

[2017-06-06 17:44] dhermes commented on #3465
@liyanhui1228 The [storage][1] doc on consistency may serve as a guide.

[1]: https://cloud.google.com/storage/docs/consistency

[2017-06-06 17:50] liyanhui1228 commented on #3465
Thanks!

[2017-06-06 18:03] dhermes commented on #3440
This somehow fixed itself like magic (I made a small PR #3468 that doesn't seem big enough to have fixed these breakages)

[2017-06-06 18:03] #3440 closed

[2017-06-06 18:23] daiyueweng commented on #3465
The thing is that I created some sample logs yesterday and tried to delete them today and yesterday (only delete operations been executed), I am getting the same errors stated in the OP, and yet the logs are not deleted.

I copied the `google-cloud-python/logging` on `github` into my project root, and then use the `logging`, do you think it might be the source that caused the issue? I am doing thi

[2017-06-06 18:28] tseaver commented on #3474
@jdpedrie Thanks.  That seems less elegant than I had imaginged (e.g., there would be some ACL / IAM tweak which would assign permissions to a "user-is-paying" role).

The whole feature needs both narrative and API docs.

[2017-06-06 19:28] tseaver commented on #3440
#3468 explicitly fixed the breakage in `test_dump_table_w_public_data`.  The one in `test_list_tables` might be an eventual-consistency issue?

[2017-06-06 21:27] dhermes opened #3479 "Speech system tests broken"
See:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2098
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2120
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2146

It's been 20 days since this has run (since `logging`, `bigquery` or `monitoring` have been failed every build)

[2017-06-06 22:46] anarasimham commented on #1893
Thank you for this thread. I've been trying for a few days to execute a batch job on Google Dataflow using the Python API with Beam. It kept giving me this error similar to above:

[code]
Setting a hard version as someone noted earlier in the thread in my setup.py for google-cloud-core did the trick:
...,'google-cloud-core==0.24.1',...

[2017-06-06 23:01] #3473 closed

[2017-06-06 23:43] proppy opened #15453 "tool should merge --save and --credentials flag"
Since they are always used together, the tool could use a single flag instead `--save-credentials`.

Related: https://github.com/androidthings/sample-googleassistant/issues/19#issuecomment-306549681

[2017-06-07 00:05] duggelz commented on #3479
The system tests stop running at the first failure?  That seems problematic.  I do the following when I run these system tests in the Google internal CI system that starts with K:

https://github.com/GoogleCloudPlatform/python-runtime/blob/master/tests/google-cloud-python-system/run_system_tests.sh

[2017-06-07 02:28] dhermes commented on #3479
@duggelz It's a bit of a problem but in the next one or two weeks we'll be splitting up this mono-repo and it won't be relevant any longer. (Thanks for the suggestion though.)

[2017-06-07 10:31] gargpankaj83 commented on #2539
I was facing this issue because I had not enabled the APIs in the Google Cloud Console https://console.developers.google.com/apis/api/cloudresourcemanager

[2017-06-07 15:53] dhermes opened #3481 "Wikipedia URL seems to have disappeared from Language API results"
See:

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2105
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2108
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2110
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2111

[code]

[2017-06-07 17:08] greghecht opened #3482 "API documentation for bigquery client load_table_from_storage incorrectly implies parameter is list."
OS: N/A
google-cloud version: 0.25.0

**Description:**
The google.cloud.bigquery client api includes this function:
 `load_table_from_storage(job_name, destination, *source_uris)`

The [documentation](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-client.html#google.cloud.bigquery.client.Client.load_table_from_storage) for the 'source_uris' parameter says:
*source_uris (

[2017-06-07 17:33] #2610 closed

[2017-06-07 17:42] tseaver commented on #3482
`Client.load_table_from_storage` takes *one or more* source URIs (that is what `*soure_uris` means in python). E.g.:

[code]

[2017-06-07 17:42] #3482 closed

[2017-06-07 17:45] tseaver commented on #3481
We need clarification from the back-end team that this feature will / won't be present for known images previously identified with it.

[2017-06-07 17:52] greghecht commented on #3482
Doh! Sorry about that, thank you.

[2017-06-07 17:56] tseaver commented on #3474
@jdpedrie Is there anywhere in the API docs which defines the `billing` field for buckets?  Or how / when to populate the `userProject` header / query parameter / body field?

[2017-06-07 18:09] tseaver commented on #3396
@rmmh The reason that `insert_data` takes tuples is that most "row oriented" Python modules (the DB-API, the `csv` stdlib module) deal with rows as tuples, not as mappings.  We also work to consume / return the values as the correct native Python types, according to the schema type, which is *not* the same as the on-the-wire JSON values (e.g., datetimes, bools, bytes, etc.)

[2017-06-07 19:41] tseaver commented on #3359
AFAICT, this issue was closed with the merge of #3448.

[2017-06-07 19:41] #3359 closed

[2017-06-07 19:43] dhermes commented on #3481
Sure thing, though I am going to send a PR to fix this right now.

[2017-06-07 19:53] dhermes commented on #3481
OK I'm running locally and seeing no failures.

Both `test_analyze_entities` and `test_analyze_entities_from_blob` pass, and when printing the values the metadata is as expected:

[code]

[2017-06-07 19:58] tseaver commented on #2988
Exposing timeouts as arguments to API-invoking methods is a thing we have done piecemeal to date, with incomplete efforts across multiple APIs.  I wonder if there is a more satisfactory solution using a policy on the API-invoking object (usually the client via one of its helpers).

[2017-06-07 19:59] michaelenglo commented on #3293
I found this on the [source](https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/caac0c3e7dd4d9b2c6b32dfc5d59386dd02e6b57/ndb/key.py#L553-L562). What I did is just copy and paste it on my source. Hopefully this can help those who are stuck.
`def _DecodeUrlSafe(urlsafe):
  """Decode a url-safe base64-encoded string.
  This returns the decoded string.
  """
  if not isinstance(urlsafe,

[2017-06-07 20:02] #3175 closed

[2017-06-07 20:03] michaelenglo commented on #3293
Go to the [source](https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/caac0c3e7dd4d9b2c6b32dfc5d59386dd02e6b57/ndb/key.py#L553-L562) and you will find this:

def _DecodeUrlSafe(urlsafe):
  """Decode a url-safe base64-encoded string.
  This returns the decoded string.
  """
  if not isinstance(urlsafe, basestring):
    raise TypeError('urlsafe must be a string; received %r' % urlsafe)

[2017-06-07 20:11] dhermes commented on #3293
@michaelenglo Thanks for providing the snippet, however the issue is that the raw bytes are different for an entity in App Engine and one using the Google Cloud Datastore API.

[2017-06-07 20:23] dhermes commented on #3481
OK WAT?!? Since my [last comment ][2], a [build][1] has failed.

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2111
[2]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3481#issuecomment-306906262

[2017-06-07 20:23] tseaver commented on #3040
#3444 is the first step towards this:  it makes the RPC status code -> exception type mapping available everywhere, hoisting the '_catch_remap_gax_error()` helper from `bigtable.exceptions` to `core.exceptions`.

[2017-06-07 20:26] michaelenglo commented on #3293
@dhermes That is true, in fact, When I try to print it to the console, it gives me non-textual characters. I prematurely said it worked because I didn't get an exception for the first time when running it lol (been stuck on this for 2 hours now).

By any chance, have we found any solution to this already?

[2017-06-07 20:31] tseaver commented on #2840
`Table.fetch_data` already returns an iterator.  I will work on a PR to make `QueryResults.fetch_data` do likewise (I thought it was already done).

[2017-06-07 20:32] dhermes commented on #3293
@michaelenglo Feel free to provide some code. The issue though is that the two different APIs (the native RPC API in App Engine and the external Cloud Datastore API) use different protobuf definitions for entities, keys, etc.

I'm [pretty sure][1] the GAE protos are in `google.appengine.datastore.entity_pb` (I'm verifying right now) and the Cloud Datastore protos are [here][2].

[1]: https://githu

[2017-06-07 20:33] #2748 closed

[2017-06-07 20:51] dhermes commented on #3293
Here is a confirmation of the difference

[code]

vs.

[code]

[2017-06-07 21:55] michaelenglo commented on #3293
[code]
What kind of data format is this? Is this something that has a publicly available parser?

My only goal here is just to extract the ID from the key. And by the way, I don't understand why the data formatting must be different between AE Standard Env. API and the external GC client library?

[2017-06-07 22:04] dhermes commented on #3293
This is just a pretty-printed representation of an `entity_pb.Reference` object, which is a Python wrapper for a protobuf.

The `ref` instance is already parsed. I recommend firing up the `dev_appserver` and then using the Interactive Console to play around.

The rules for deserializing a protobuf are public (i.e. not a Google secret), though I'm not sure what they are.

I can't help with that. Ou

[2017-06-07 22:25] jdpedrie commented on #3474
Not that I've seen in the public docs. I shared a google doc with more information. (Check your email).

The [REST discovery document](https://www.googleapis.com/discovery/v1/apis/storage/v1/rest) will show which resources accept the `userProject` parameter (it's in the query string). Our implementation simply adds this field in to each request, if the bucket is constructed with `requesterPays` to

[2017-06-07 22:52] michaelenglo commented on #3293
Okay, so I get that. Now the question will be how to actually convert the raw binary data after it has been decoded?

When I called the _DecodeUrlSafe(urlsafe) when urlsafe="agxzfm9lLXNlcnZpY2VyGwsSDkRyYXdpbmdWZXJzaW9uGICAgID4woQKDA", and print the returned value, I get this:

js~oe-servicerDrawingVersionÇÇÇÇ°┬ä

How to convert this value into a protobuf? Is there an API call for this in th

[2017-06-07 22:59] dhermes commented on #3293
You'll want to print the `repr` of the value. That already is a protobuf (as raw bytes). See my snippet above:

[code]

[2017-06-07 23:20] tseaver commented on #3474
@jdpedrie Thanks muchly!

[2017-06-08 04:56] inska opened #3485 "How to serialize to json or dict that response from vision api?"
Hi,

Google Cloud SDK works well to get annotation responses via vision API, and I just like to know how can I serialize the response. Is there any helper or serializer for Google response objects? Otherwise, should I parse and build dictionaries from the response object by manual?

Sincerely,
Inska

# Thank you for reporting an issue to google-cloud-python!

If you are reporting an issue or reque

[2017-06-08 11:02] adriansoghoian commented on #3481
Yesterday, wikipedia and 'mid' has also suddenly disappeared from all entity results for me as well, affecting a production service.

Any idea if this is a permanent or temporary disappearance?

[2017-06-08 13:02] getumen opened #3486 "When I use grpc for datastore_api to get entities in GAE flex, there is no response."
Yesterday, I update my project's environment from `vm: true` to `env: flex` and datastore api version from `0.22.*` to `1.0.0`.
In local test, there is no problem and I can fetch entities with `datastore_api=make_datastore_api(self)(google-cloud-python/datastore/google/cloud/datastore/client.py)`
However, in GAE flex, when I use grpc for datastore_api to get entities in GAE flex, there is no respo

[2017-06-08 14:39] dhermes commented on #3486
@getumen At the beginning of your post, you mention using the non-public `make_datastore_api` instead of just using a `Client`, but below it seems like you are using a `Client` (I just want to be clear which is done).

- What is `c.project`?
- Do you mean it freezes or the response is empty ("there is no response" is a bit unclear)?

[2017-06-08 14:39] dhermes commented on #3481
/cc @jonparrott @lukesneeringer Do you know someone on the backend team?

[2017-06-08 14:48] adriansoghoian commented on #3481
My tests show that this appears to be magically resolved. Is that what you're seeing as well?

[2017-06-08 14:51] dhermes commented on #3481
@adriansoghoian Locally, yes. I just restarted the last failed build, so we'll see if it's true on CI: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2119

[2017-06-08 14:54] lukesneeringer commented on #3481
I have an open channel to the backend team. I will have an answer as soon as they arrive in the office (probably in about an hour).

[2017-06-08 15:29] dhermes commented on #3481
Thanks @lukesneeringer, note that the build spawned above (2119) has passed `language` without issue.

[2017-06-08 15:32] dhermes commented on #3293
So I did some more digging and it turns out the `Reference` protobuf in App Engine is `proto1` (i.e. first generation of protobuf), so the modern `proto2/proto3` tooling can't convert it. I got [very close][1] to converting using standard tools, but some small differences in the protocols prevent it.

You can **definitely** include the `ProtocolBuffer` module in your application (in any location):

[2017-06-08 15:37] lukesneeringer commented on #3481
Yeah, and my build for speech did also. My guess is that they fixed it, but waiting on Mona to confirm before I close this issue.

[2017-06-08 15:44] dhermes commented on #3479
Still broken (it took many builds to make it to "Speech" again)

[2017-06-08 16:42] dhermes commented on #3293
Scratch that, I just had the wrong proto2 definition. Now you can convert with [`onestore_v3_pb2.py`][1]

See the README in that [gist][2] for an example.

[1]: https://gist.githubusercontent.com/dhermes/9d658dc68c55f042f9766490721ac16a/raw/2ef08924e13280081ac06f1339d46adaf549fd4e/onestore_v3_pb2.py
[2]: https://gist.github.com/dhermes/9d658dc68c55f042f9766490721ac16a

[2017-06-08 18:22] tseaver commented on #3474
Implementation plan:

- [ ] Add a `Bucket.requester_pays` boolean property, mapped onto the `billing/requesterPays` subfield defined in the [REST discovery document](https://www.googleapis.com/discovery/v1/apis/storage/v1/rest).
- [ ] Add an optional `user_project` constructor parameter to `Bucket.__init__`:  we cannot know whether it is valid / appropriate to be set during the constructor, so we

[2017-06-08 18:30] tseaver commented on #3474
Note that system testing for this feature requires that a second, valid project be accessible to the account running the tests.  @dhermes, @lukesneeringer how do you think we should arrange for that, both for local testing and for CI?

[2017-06-08 18:44] tseaver commented on #3474
Does this feature require whitelisting?  I just tried adding a system test which passed the `billing/requesterPays` property along as `true` and it fails with an unhelpfully-terse 400.

[2017-06-08 18:48] jdpedrie commented on #3474
@tseaver yes

[2017-06-08 18:49] dhermes commented on #3474
@tseaver We should probably just allow the system test to be skipped locally. It's not too difficult to get a 2nd project for CI.

The plan seems OK :+1:

[2017-06-08 19:27] dhermes commented on #3293
I am going to send a PR ASAP.

[2017-06-08 20:21] dalexander commented on #1198
Was this feature ever added?   Not clear why this was closed.

[2017-06-08 20:34] michaelenglo commented on #3293
It works now! I imported `onestore_v3_pb2.py` and used that to construct a `Reference` from the binary string. I get the `id` by calling `reference.path.Element.id`, which returns the id BUT still of object type `Property`.
[code]
So, I just cast the `id` to `string`, put it on the key constructor argument and voila!
[code]
In this case, I know my kind already so I don't need to get the kind value

[2017-06-08 21:02] dhermes commented on #3293
Sure thing, and due to you and @ndenny this will likely become a feature (see #3491)

[2017-06-08 22:42] dhermes commented on #3485
@inska Can you provide a code snippet that produces the thing you'd like to serialize?

[2017-06-08 23:15] #3293 closed

[2017-06-09 02:08] #2840 closed

[2017-06-09 07:32] getumen commented on #3486
My understanding is that Datatore Api use `make_datastore_api` by default.
In my setting, Datastore Api freezes when I try to get an entity in GAE flex.
However by using `env_variables: GOOGLE_CLOUD_DISABLE_GRPC: True` in app.yaml to use `HTTPDatastoreAPI`, I can get an entity.

print(c.project) returns my project id in both the local and the GAE flex environment.

I mean it freezes. After `c.get(

[2017-06-09 16:12] dhermes commented on #3486
Thanks for the info. @jonparrott I'm not quite sure how to repro in GAE flex, can we chat over Hangouts?

[2017-06-09 20:06] michaelenglo commented on #3293
Hey guys,

There was a small but fatal mistake in my solution. `document_reference.path.Element.id` DOES NOT return the `id`. In fact, it does not return anything meaningful (When I print the value, I get `<property object at 0x00000000057B6E08>`). If you want to access the `id` or the `type`, you must use `document_reference.path.element[0].id` or `document_reference.path.element[0].type`. I trac

[2017-06-09 20:09] dhermes commented on #3293
No worries, thanks for clarifying. I recommend checking out the fix merged in with #3491 for "full-featured" support.

[2017-06-09 20:10] dhermes commented on #3481
@lukesneeringer It seems to have re-disappeared: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2142

[2017-06-09 23:21] tswast commented on #125
Note that Panda's native support for BigQuery has been pulled into the pandas-gbq package (code: https://github.com/pydata/pandas-gbq)

I've been watching that repo begun helping with some maintenance tasks. It might make sense to adopt that package as the official support for Pandas rather than building something here.

[2017-06-09 23:22] waw-google opened #3493 "Allow returning values from transactional functions"
Somebody asks in the Slack:

I believe that this is currently not possible in the Python library, because when you pass a closure to `run_in_transaction`, the return value always gets ignored, and it just returns the commit timestamp.

However this _is_ possible in the Cloud Spanner Java library, and being be able to return whatever you want from the body of a transactional function in the case th

[2017-06-09 23:23] dhermes commented on #125
:+1: Thanks for the heads up Tim! :panda_face:

[2017-06-10 00:24] michaelenglo commented on #3293
I tried running `pip install --upgrade google-cloud` and test the method, but it says `'Key' object has no attribute 'to_legacy_urlsafe'`. Is the PyPI version not always necessarily the same as the Github version? Or should I do `pip install --upgrade google-cloud-datastore` instead? What's the difference between `pip install --upgrade google-cloud-datastore` and just `pip install --upgrade google

[2017-06-10 15:37] dhermes commented on #3293
@michaelenglo

- I haven't pushed a release yet, so that wouldn't work
- I recommend using `pip install --upgrade google-cloud-datastore` over the "umbrella" package `google-cloud`

If you want to install for source, you can do:

[code]

[2017-06-11 19:26] tweeter0830 opened #3494 "Blob.download_to_filename eating lots of RAM"
I have a large ~4 GB binary file on GCS. When I use blob.download_to_filename, my RAM usage goes increases by 3 GB temporarily. Thus behavior goes away if I explicitly set a chunk size for the blob.

This seems like bad default behavior.

[2017-06-12 13:58] lukesneeringer commented on #3485
@inska Sadly, the objects in the current Vision library lack serialization functions (although this is a good idea).

It is worth noting that we are about to release a substantially different library for Vision (it is on master of this repo now, although not released to PyPI yet) where this will be possible. Note that it is a backwards-incompatible upgrade, so there will be some (hopefully not too

[2017-06-12 13:58] #3485 closed

[2017-06-12 16:56] dhermes commented on #3494
@lukesneeringer @jonparrott WDYT about modifying the default? Also, IIUC if we use `requests` / `urllib3` by default we can still stream the entire payload (i.e. no chunking) into a file without having to put the whole thing in RAM first.

[2017-06-12 16:57] dhermes commented on #3479
Still b0rken

[2017-06-12 16:58] jonparrott commented on #3494
Seems reasonable to me. A default of a few megabytes hopefully won't hurt performance for small files. Can you do some benchmarks?

[2017-06-12 18:13] michaelenglo commented on #3293
@dhermes I might be wrong but it seems that your `to_legacy_urlsafe` method returns slightly different urlsafe from the usual urlsafe datastore generates. It should not have any "=", shouldn't it? I tried decoding a urlsafe, generate a key and reverse it back using the method. The returned value is:

agxzfm9lLXNlcnZpY2VyGwsSDkRyYXdpbmdWZXJzaW9uGICAgICAgIAKDA= (re-encoded)
from the former:
agxzfm9l

[2017-06-12 18:28] michaelenglo commented on #3293
Right now while waiting for the released changes on pip, I created my own methods from/to urlsafe by copying the related code from your source into it. It works fine for now but it will be changed soon after the library changes has been pushed to the new pip updates.

But another weird part about the code I copied from `from_legacy_urlsafe` is that when I generate the reference from the real datas

[2017-06-12 18:29] jonparrott commented on #3293
`s~` indicates the app (and its datastore) are located in the US.

[2017-06-12 18:57] dhermes commented on #3293
We made a decision **not** to add the `s~` in `to_legacy_urlsafe`, I'll let @jonparrott explain why (I can't entirely remember).

As for the extra `=` at the end of the the output from `to_legacy_urlsafe`, @jonparrott @lukesneeringer should we strip it? I hadn't realized [it was stripped][1] in `ndb` but it is and it is [added back][2].

[1]: https://github.com/GoogleCloudPlatform/datastore-ndb-py

[2017-06-12 19:00] jonparrott commented on #3293
It doesn't matter. ndb's base64 decode can handle the absence or presence of the padding character.

[2017-06-12 19:05] dhermes commented on #3293
Good point :grinning:

[2017-06-12 20:19] michaelenglo commented on #3293
Just my two cents - For the sake of consistency with App Engine and Datastore, the stripping of the padding characters should be added imo. In my case for example, both the main app and web service app talks to the same datastore and cloud storage. Since every Drawing entity always has one gcs blob, both apps agree to name the gcs objects by their datastore's urlsafe (for uniqueness). But if the m

[2017-06-12 21:40] dhermes commented on #3293
I think that's a good point @michaelenglo. Would you like to send a PR? (You should get some credit since you helped @ndenny push this feature into existence.)

[2017-06-13 01:02] davidcorbin opened #3497 "Storing time in datastore"
I'm trying to store a `datetime.time` object in datastore but am getting the following error: `ValueError: Unknown protobuf attr type <class 'datetime.time'>`.

I've reproduced the error:
[code]

Here is my google-cloud version
[code]

What am I doing wrong?/How should I store a time object (e.g. 10:30 AM) in datastore?

[2017-06-13 01:11] davidcorbin commented on #3497
Upgrade to version 0.25.0 and still getting the same error.

[2017-06-13 03:19] japonikaa opened #3498 "Python2.7 TransportError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:581)"
yesterday, i run python quickstart.py in   python-docs-samples/vision/cloud-client/quickstart and got this error, but in version Python 3.6.1 it run fine.

1. Centos 7
2. Python 2.7.9

(env_2.7.9) [quickstart]$ python quickstart.py
E0613 10:16:38.646972552    9939 plugin_credentials.c:74]    Getting metadata from plugin failed with error: Traceback (most recent call last):
  File "src/python/grpci

[2017-06-13 14:25] dhermes commented on #3498
@japonikaa Thanks for filing. This is something we've seen with shared state across threads in `httplib2`, but it appears the underlying code is using `requests`, so it seems to be different.

[2017-06-13 16:23] jonparrott commented on #3498
@japonikaa try installing request's security extra ` pip install requests[security]`. On older Python versions, the ssl module can't verify SNI certificates. Did you get an `InsecurePlatformWarning` at all?

[2017-06-13 17:09] tseaver commented on #3497
@davidcorbin Thanks for the report.  Based on the [back-end docs for entity property types](https://cloud.google.com/datastore/docs/concepts/entities#datastore-properties-python), there is no "native" way to store time values (as opposed to timestamps, which map both date and time).

Your app would need to store the value using a supported type (e.g., assign `entity['time'] = t.isoformat()`) and t

[2017-06-13 17:09] #3497 closed

[2017-06-13 17:35] dhermes commented on #3497
@jonparrott @lukesneeringer @tseaver Do you think we should type-check on `__setitem__` / `update`? That somewhat defeats the purpose of having `Entity` subclass `dict`, but @davidcorbin probably would've been happier if he got a `TypeError` when trying to update the `Entity` locally rather than when trying to call `put`.

[2017-06-13 17:41] tseaver commented on #3497
Instead of trying to nanny-on-insert, I'd rather we just document the allowed types, with explanations on how to accommodate others.

[2017-06-13 17:48] dhermes commented on #3497
We [already do that][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/313b1fa1760d0e9dfb5886dde7a1647ee8a17372/datastore/google/cloud/datastore/entity.py#L69-L92

[2017-06-13 18:27] michaelenglo commented on #3293
@dhermes Sure! Will notify you when I am done. I am just adding "`.strip("=")`" after the returned `base64.urlsafe_b64encode(raw_bytes)`. Also, have you tested the from_legacy_urlsafe? The other day, I tried using `base64.urlsafe_b63decode(urlsafe)` in python interactive mode to decode the urlsafe from datastore but it raised `TypeError `because of the incorrect padding (that is the reason why (I

[2017-06-13 18:35] dhermes commented on #3293
Yes both `from_legacy_urlsafe` and `to_legacy_urlsafe` should be updated with snippets similar to the ones I linked to [above][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3293#issuecomment-307886701

[2017-06-14 08:02] japonikaa commented on #3498
@dhermes ,@jonparrott thanks for your advise .
but after install requests[security], i got others error below

i have confused because python2 run fine before Error: [SSL: CERTIFICATE_VERIFY_FAILED],but now i decided to using  python3 and solved my problem.

just wonder with wrong with python2.

thanks all.

-----------------------
E0614 14:54:59.432905077    5196 plugin_credentials.c:74]    Getti

[2017-06-14 16:31] kain64 commented on #3441
same problem. 100mb upload ~3-4 minutes. using webbrouser gui ~less than 20 sec
`storage_client = storage.Client()
    bucket = storage_client.get_bucket(GOOGLE_BUCKET)
    blob = bucket.blob(file_name)
    blob.upload_from_filename(os.path.join(local_path, file_name))`

[2017-06-14 17:20] Alexis-Jacob opened #3501 "Google Cloud Storage failing when using threads"
1. Ubuntu 16.04
2. Python 2.7.6
3. google-api-python-client>=1.6.2 and google-cloud-storage>=1.1.1
4.
[code]
6. The client is not thread safe (I think)
[code]

[2017-06-14 17:35] dhermes commented on #3501
@Alexis-Jacob That's correct, the error you are seeing is caused by the lack of thread-safety in `httplib2`. We recommend (for now) creating an instance of `Client` that is local to your thread / process.

[2017-06-14 17:37] dhermes commented on #3501
@Alexis-Jacob I am going to pre-emptively close this issue because it is "known" and something we are working on. If you'd like a thread-safe transport, I recommend looking into https://github.com/GoogleCloudPlatform/httplib2shim

@jonparrott Is there a "better" recommendation to make?

[2017-06-14 17:39] jonparrott commented on #3501
Not for the time being.

On Wed, Jun 14, 2017, 10:37 AM Danny Hermes <notifications@github.com>
wrote:

[2017-06-14 17:40] dhermes commented on #3441
@kain64 It appears you have a different issue than the original reporter. It's likely that the webbrowser GUI is using multiple threads to upload the file in chunks simultaneously (but I'm not sure).

If you'd really like fast uploads, I recommend looking into `gsutil` (we would like to speed up our uploads, but `gsutil` is fast today).

[2017-06-14 17:40] #3501 closed

[2017-06-14 23:51] wobeng opened #3503 "unresolved reference 'google' after pip install google-cloud-translate on PyCharm IDE"
I get an unresolved reference 'google' when I do

[code]
I'm using a virtual environment. Python 3.6

pip freeze:
cachetools==2.0.0
google-auth==1.0.1
google-auth-httplib2==0.0.2
google-cloud-core==0.24.1
google-cloud-translate==0.24.0
googleapis-common-protos==1.5.2
httplib2==0.10.3
protobuf==3.3.0
pyasn1==0.2.3
pyasn1-modules==0.0.9
rsa==3.4.2
six==1.10.0

![error](https://user-images.githubuser

[2017-06-15 02:52] dhermes commented on #3503
@wobeng This is not uncommon, we've seen it many times. It's because `google` and `google.cloud` are namespace packages and those act a bit differently than normal packages.

How did you install / what else have you installed? This is definitely caused by a "bad" install (either from pre-existing packages "polluting" the namespace or from an install gone wrong).

I'm going to close this issue, but

[2017-06-15 02:52] #3503 closed

[2017-06-15 05:17] samuel-pt opened #3505 "Memory leak in Google PubSub python client"
I am publishing messages indefinitely to Google PubSub using Python. I am publishing the messages in batches. I've set the batch_size as 20. I am publishing messages in 5 processes.

I executed below script in GCE with 1 CPU and 3.75 memory. After running for more than a hour, the GCE is out of memory and the publisher get crashed.

[code]

Here is the stackdriver gce-memory-used chart. enter imag

[2017-06-15 09:38] wobeng commented on #3503
@dhermes

It seems to be a bug on pycharm

https://youtrack.jetbrains.com/issue/PY-2813#u=1444657668935.  The fix is going to be included in 2017.2. 2017.1 is the latest

Thanks

[2017-06-15 20:45] tswast opened #3506 "BigQuery: Add QueryResults.reload() function which calls getQueryResults"
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/getQueryResults

One of the things I learned when talking to the BigQuery API folks is that the recommended way to run a query is to create a query job and then call `getQueryResults()` until the `jobComplete` property is `true`.

The reason for this is that a call to get the job resource will return immediately, whereas `getQueryResult

[2017-06-15 22:54] tswast commented on #3506
I figured out that I can force a reload with

        query_iterator = query_results.fetch_data()
        try:
            return six.next(iter(query_iterator))
        except StopIteration:
            pass

but obviously, that's not ideal for the purpose of waiting for a job to finish.

[2017-06-16 03:53] bw4sz commented on #2897
Is there a benefit to running batch if we are asking for the same feature. Would I expect performance increase by running batch versus looping through N requests?

[2017-06-16 18:46] daspecster commented on #2897
@bw4sz yes, batching only makes one large request rather than multiple smaller requests, so it should be faster.

See: https://cloud.google.com/vision/docs/reference/rpc/google.cloud.vision.v1#google.cloud.vision.v1.ImageAnnotator.BatchAnnotateImages

[2017-06-17 02:21] bw4sz commented on #2897
Is there a limit to the batch size, I was batching 600 images and i got a
timeout error, no problem sending them individually. Optimal chunking size?

On Fri, Jun 16, 2017 at 11:46 AM, Thomas Schultz <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
Oregon State University
http://benweinstein.weebly.com/

[2017-06-17 04:37] william-silversmith opened #3507 "v0.26 Release Date?"
Hi, I was wondering when v0.26 will be released on PyPI? There's a fix for setting the content encoding of an uploaded file in a single request (rather than uploading then patching) which decreases the error rate over hundreds of thousands to millions of calls.

I tried installing via a github clone, but there were several layers of references to PyPI and I gave up after fighting with it for a few

[2017-06-19 03:23] dhermes commented on #3505
Thanks for filing. This will be fixed by #3502.

[2017-06-19 11:14] michaelenglo commented on #3293
Hi @dhermes , I have tried to make some changes to the `from_legacy_urlsafe` and `to_legacy_urlsafe`. I also tried to follow the instructions on Contribute Docs, but then I am stuck when running the setup.py. When I run `python setup.py install`, This is what I get:
[code]

And because of this, I cannot install the environment to run the tox tests (and I am not familar with tox myself). Can you gu

[2017-06-19 13:19] daspecster commented on #2897
It looks like the [max number of images per request](https://cloud.google.com/vision/docs/limits)(which may be a soft limit?) is 16.

@lukesneeringer could probably confirm this for you though.

[2017-06-19 15:46] dhermes commented on #3293
Sorry for not mentioning, but the `CONTRIBUTING` doc is woefully out of date. You should install `nox` into your environment:

[code]

and then just run

[code]

from the `datastore/` directory (I don't recommend running `setup.py install`, install and environment management will be handled by the `nox` tool)

[2017-06-19 18:36] evanj opened #3508 "datastore: No way to exclude_from_indexes new properties on updated entities"
When loading an `Entity` from the datastore and updating it, there is no way to exclude new attributes from being indexed, since the only public API for setting `exclude_from_indexes` is on the `Entity` constructor. To work around this, I am currently setting `entity._exclude_from_indexes = (...)` in my code, which is not a "public" API.

Example:

[code]

Output:

[code]

This is actually "expect

[2017-06-19 19:02] tseaver commented on #3507
I'm presuming that your question refers to the `google-cloud-storage` release.  Just for clarity, the latest release is 1.1.1:

-  https://pypi.python.org/pypi/google-cloud-storage/1.1.1

Which PR added the fix you needed?

[2017-06-19 19:34] tseaver opened #3509 "Consider replacing "manual" mock classes with 'unittest.mock' versions"
From discussion on #3500.

There are a *bunch* of manually-defined stub classes in place throughout the codebase.  Suggested pros for replacement:

- `mock.Mock` confines to the test what the expectation is, using a format that contributors are going to be familiar with. Having to look up <local stub class> should not be necessary.
- Improved / standardized assertions (`assert_called_once_with` an

[2017-06-19 19:47] william-silversmith commented on #3507
Hi Tres,

Thanks for responding. I believe the functionality I'm looking for is in:

https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3362
https://github.com/GoogleCloudPlatform/google-cloud-python/issues/754

The storage-1.1.1 was tagged May 2, while this functionality was introduced within the last 30 days if my understanding is correct.

Will

[2017-06-19 19:48] dhermes commented on #3507
Yes `google-cloud-storage==1.1.1` had the `google-resumable-media` changes for downloads, but not uploads.

[2017-06-19 20:18] tseaver commented on #3506
If you are going to iterate over the rows anyway, then that second example becomes:

[code]

That certainly seems like "idiomatic" usage.  Does that accomplish what you need?

[2017-06-19 20:22] tswast commented on #3506
No. The results might not all be there. That's why I need a reload function to check if the query is complete or not. (A bit hard to test, since it requires a query that takes longer than the timeout value, which defaults to 10 seconds).

[2017-06-19 20:24] tseaver commented on #3507
@william-silversmith I will be making a 1.2 release of storage this week.

[2017-06-19 20:24] #3507 closed

[2017-06-19 20:26] william-silversmith commented on #3507
Thank you!!!!!

[2017-06-19 22:43] dhermes opened #3510 "Pub / Sub snapshot system test has started failing"
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2166
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2168
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2193

@tseaver Do you mind looking into this?

[2017-06-19 23:31] tseaver commented on #3510
@dhermes Given that the snapshot feature is still an invite-only alpha-level feature, two months after adding provisional support here, my first inclination is just to remove the feature altogether until it actually "exists," as a public feature of the API.

@lukesneeringer, @geigerj Can you please comment?

[2017-06-19 23:33] geigerj commented on #3510
I'm going defer to @pongad and @bjwatson here. (Note: @lukesneeringer is OOO.)

[2017-06-19 23:33] dhermes commented on #3510
@tseaver Has the `test_create_snapshot` system test passed before? (I think it has.)

[2017-06-19 23:34] tseaver commented on #3510
@dhermes Hell, I don't know.  AFAICT, the feature doesn't exist. :)

[2017-06-19 23:39] bjwatson commented on #3510
@pongad This does not sound Python-specific. How are we handling this in other languages?

[2017-06-20 02:57] dhermes commented on #3503
Thanks for the update

[2017-06-20 04:51] pongad commented on #3510
I believe this is the eventual consistency problem: you might not see the snapshot immediately after creating it. Go gets around this by [retrying](https://github.com/GoogleCloudPlatform/google-cloud-go/blob/4ba0c16dbf9d04d2dd3f98a6ea9b113cf17718ef/pubsub/integration_test.go#L159) for up to a minute before giving up. I don't think we saw this specific flake since then.

[2017-06-20 17:01] dhermes commented on #3510
Good info, thanks @pongad

[2017-06-20 20:14] apengwin commented on #3461
@dhermes  I'm getting the same error, and am unsure how to debug this. I'm working in a virtual env, and have been digging in `vev/lib/python2.7/site-packages`, with no luck.

[2017-06-20 21:05] dhermes commented on #3461
@apengwin Can you create a fresh virtualenv and post here all the commands you used to create/activate the virtualenv, then to import. For example, on my machine I just did:

[code]

[2017-06-20 21:16] apengwin commented on #3461
@dhermes thanks for the prompt response! When I open everything in a fresh virtualenv it works fine.
[code]

[2017-06-20 21:17] dhermes commented on #3461
Good to hear. It seems like your other environment may be broken. Case closed?

[2017-06-20 21:18] apengwin commented on #3461
Yeah. That seems to be the case. I'm not sure how I'd go about fixing the other environment though.

[2017-06-20 21:25] dhermes commented on #3461
@apengwin Just delete the other environment :grinning:. If that's not an option, you can look around for bad `pth` files and also inspect `__path__` and/or `__file__` on modules that are behaving badly, e.g.

[code]

[2017-06-21 01:47] parthea opened #3516 "Broken link"
Hello,

I found that the link at [https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/core/google/cloud/client.py#L33][1] is broken.

https://google-cloud-python.readthedocs.io/en/latest/google-cloud-auth.html

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/661816540f1387bcc6e08b0fd722f4abae585b37/core/google/cloud/client.py#L33

[2017-06-21 01:48] bjwatson commented on #3476
@tseaver This can wait until you have time to work on the Spanner integration tests.

[2017-06-21 01:48] parthea commented on #3516
Potential replacement candidate: http://google-auth.readthedocs.io/en/latest/

[2017-06-21 02:56] dhermes commented on #3516
Thanks for filing @parthea!

This is the new location: https://google-cloud-python.readthedocs.io/en/latest/core/auth.html

Would you like to send a PR to get credit for your find? It will be super easy, no unit tests needed :grinning:

[2017-06-21 03:44] #2182 closed

[2017-06-21 08:57] duggelz commented on #2182
Without looking at the code, a number of pieces of pkg_resources don't behave entirely correctly for namespace packages, and whether a package is a namespace package depends very delicately on sys.path, PYTHONPATH, .pth files, and most relevantly, any __init__.pyc's that might only be generated after the first (or Nth) time something is imported.

[2017-06-21 14:04] jonparrott commented on #2182
pkg_,resources works fine for ns packages and is in fact the mechanism by which we even have them. I'm not sure what this issue was, but it hasn't cropped up again since we switched to nox.

[2017-06-21 14:34] parthea commented on #3516
Done. Thanks @dhermes !

[2017-06-21 14:39] #3516 closed

[2017-06-21 15:12] duggelz commented on #2182
You're right, I'm thinking of pkgutil, which I have a couple of open bugs for.

[2017-06-23 17:02] dhermes commented on #3510
Just got another flake, @tseaver do you think you can tackle this?

[2017-06-23 20:38] tseaver commented on #3510
I'd say we should disable the system tests for the not-yet-released-two-months-later-and-flaky feature.  Frankly, it makes no sense at all to merge support for such a feature before it becomes GA.

[2017-06-23 20:40] dhermes commented on #3510
But we already have the retry helpers in place, it should be a few lines

[2017-06-23 22:34] azymnis opened #3521 "Autodetect schema option is missing from `google.cloud.bigquery.job.LoadTableFromStorageJob`"
This seems to be related to issue #2926 but is not exactly related. There does not seem to be a way to set `configuration.load.autodetect` to `True` for `LoadTableFromStorageJob`. Are there any plans to add it? It would be a pretty straightforward pull request and I would be happy to do it if nobody else has done it.

[2017-06-23 22:40] tswast opened #3522 "Increment threadsafety on BigQuery DB-API interface when httplib2 is removed"
From https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2921/files/5b29a9e42a40f7c74ced0b7a7e9db0add52a20a1#r123596828

Blocked by https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1998

[2017-06-23 22:51] bjwatson commented on #3510
@tseaver We need to keep this feature in the client library. The method documentation should address that it's Alpha quality and requires whitelisting. Is that accurate, @pongad?

Why aren't we getting the retry logic for free with GAPIC? Is this flakiness happening on the HTTP/JSON transport path?

[2017-06-23 23:02] dhermes commented on #3522
I would love to finish the work fro #1998!

It's right now blocked on BigQuery's usage of `google.cloud.streaming`, which I've actually **finished** ripping out in https://github.com/dhermes/google-cloud-python/tree/bigquery-remove-streaming. Alas, the unit tests will be a hard days slog!

[2017-06-23 23:02] dhermes commented on #3510
@bjwatson It's not about connection failures, it's about eventual consistency of the response

[2017-06-23 23:07] tswast opened #3523 "Raise more specific DB-API exceptions for database errors"
Follow-up to https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2921/files/5b29a9e42a40f7c74ced0b7a7e9db0add52a20a1#r116762868

For example, if a query fails due to a syntax error, a `ProgrammingError` could be raised.

[2017-06-23 23:08] tswast commented on #3523
The BigQuery docs have a page on specific errors that could occur.  https://cloud.google.com/bigquery/troubleshooting-errors

[2017-06-23 23:15] bjwatson commented on #3510
Oh, right. So it's a test-specific form of retry.

[2017-06-23 23:56] tswast opened #3524 "BigQuery DB-API: Support struct and repeated query parameter"
Follow-up to https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2921

The query parameter conversion code in `google.cloud.bigquery.dbapi._helpers` will need to be somewhat recursive, I think.

[2017-06-24 12:05] dw opened #3525 "speech/operation.py docstring incorrect, pointless exception raised"
speech/operation.py::Operation._update_state() docstring specifies ValueError as being raised if any result exists, which is the opposite of reality. Additionally, raising ValueError is all but redundant, there is simply no reason to raise it, ignoring the use of a built-in exception type from deeply nested code.

Can we at least fix the docstring, or better yet, just remove the silly exception?

[2017-06-24 16:38] dhermes commented on #3525
@dw Thanks for filing. We're happy to help make the docs/docstrings better, but I'm having a hard time understanding this one. Maybe you are looking at an out-of-date version of this module?

The current version [says][1]

and the code [raises][2] when

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/cbf073bc5469bac9398a5bf7aa5e93e6cb637211/speech/google/cloud/speech/o

[2017-06-24 19:31] dw commented on #3525
Hi @dhermes, looks like it must have been fixed on master. The docstring is not correct for the currently released google-cloud-speech==0.25.1 on PyPI.

Regarding the exception, I cannot fathom what it is for in the first place. The operation is succeeding in this case, but recognition failed to find any valid alternative. My code was already prepared for this scenario, but was tripped up by the n

[2017-06-25 05:22] getumen commented on #3486
I find how to reproduce this issue now.
Datastore API freezes when I use gevent with gunicorn.

In the local setting, my program work with the following gunicorn.conf.py:
[code]

However, my program does not work with the following gunicorn.conf.py

[code]
My gunicorn and gevent version are 19.7.1 and 1.2.2, respectively.

Now I can use grpc for Datastore API if I do not use gevent.
I thought I ca

[2017-06-25 10:54] getumen commented on #3486
#3450
My issue is deplicated.

[2017-06-26 03:24] pongad commented on #3510
@bjwatson I don't feel strongly against keeping the feature in the library. If it goes in a branch and can be merged when the feature comes off whitelist, I think that's OK. I think the decision belongs to Python TL.

[2017-06-26 17:03] dhermes opened #3531 "Fix broken references to old auth doc"
See #3517 and https://github.com/GoogleCloudPlatform/google-cloud-python/commit/7cb86b47acea2339c6c18cb70189d2b0c347ec5e#commitcomment-22758235

[2017-06-26 17:07] dhermes commented on #3486
Thanks for the update @getumen, unfortunately there is nothing we can do at this time, though you can follow along on https://github.com/grpc/grpc/issues/4629 / voice your concerns there (sorry I can't offer better).

For the time being you can use HTTP instead of gRPC by setting the `GOOGLE_CLOUD_DISABLE_GRPC` environment variable (to anything at all, just make sure it's set).

[2017-06-26 17:07] #3486 closed

[2017-06-26 17:34] tseaver opened #3533 "Make releases for all packages with user-visible feature / bugfixes"
Release needed:

- [x] core-0.25.0 (PR #3526)
- [x] datastore-1.1.0 (PR #3527)
- [x] logging-1.1.0 (PR #3528)
- [x] storage-1.2.0 ~~(exclude "requester pays") (PR #3529)~~ (PR #3540)
- [x] bigquery-0.25.0 (PR #3530)
- [x] pubsub-0.26.0 (PR #3532)
- [x] bigtable-0.25.0 (PR #3534)
- [x] language-0.25.0 (PR #3535)
- [x] vision-0.25.0 (PR #3537)

No release needed, exception for "release the world" to

[2017-06-26 18:17] tseaver commented on #3510
My issue is that system tests on the trunk for a whitelist-only feature are inherently flaky:  anybody running the tests from a non-whitelisted account is going to see spurious failures, since we cannot detect that state in order to skip those tests.

From that perspective. moving the code off onto a branch until the feature is GA on the back-end would be ideal.

[2017-06-26 18:27] tseaver commented on #3521
@azymnis I'm pretty sure that this is the same issue as #2926:  our library doesn't expose that API feature yet.  Please feel free to submit a PR adding that support!

[2017-06-26 18:27] #3521 closed

[2017-06-26 20:01] gyangscrf opened #3539 "autodetect schema for avro file is not enabled"
#3513

configuration.load.autodetect
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.load.autodetect
is not included in google.cloud.bigquery.job

[2017-06-26 20:29] tseaver commented on #3539
Thanks for the report, which duplicates #2926.

I'm not sure what #3513 has to do with it:  that issue is about the `google-cloud-trace` library.  Did you mean perhaps #3521, which was another duplicate?

[2017-06-26 20:29] #3539 closed

[2017-06-26 20:54] gyangscrf commented on #3539
Hi tseaver,

I think I added #3513 by accident, yes, you are right, #3521 is a duplicate.

[2017-06-26 21:55] gyangscrf commented on #2926
Where is module `GbqConnector`?

[2017-06-26 21:59] tswast commented on #2926
I believe `GbqConnector` is from the Pandas library, not this one. https://github.com/pydata/pandas-gbq/blob/4b04174ddc61e6490dd07f8e6b758463d82206df/pandas_gbq/gbq.py#L193

[2017-06-26 22:12] tswast opened #3548 "BigQuery: add `is_nullable` method to check for `NULLABLE` mode"
In the DB-API implementation I wrote some code like

    null_ok=field.mode == 'NULLABLE'

Could be nice to have a helper function that does this.

https://github.com/GoogleCloudPlatform/google-cloud-python/pull/2921/files/7d59e97172d16bc18601cce0845000b32e6be9a6#r124069049

[2017-06-26 23:15] michaelenglo commented on #3293
Hi @dhermes. I am very sorry that I have not been able to send my pr since two weeks ago, as I have been little bit busy with my project at work... But I promise to send a PR by tomorrow! Now, I have some questions regarding testing.  I am having trouble with setting up the python3.4 interpreter environments and so I cannot fully complete the coverage test. Here is the error message:
[code]
 I att

[2017-06-26 23:26] dhermes commented on #3293
You can ignore the tests for interpreters you don't have, 3.6 and 2.7 will be sufficient. To target a specific interpreter you can just run

[code]

If you'd like to set up "alternate" Python versions, I recommend looking at [`pyenv`][1]

As for the code coverage, just send the PR and we can discuss there. (We have a 97% target for "unit_tests", but "cover" enforces 100%, so you may just be misrea

[2017-06-26 23:51] tseaver commented on #3533
See:

https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/0.26.0

[2017-06-26 23:51] #3533 closed

[2017-06-27 07:46] linar-jether commented on #2871
At least for uploads, there is support, https://github.com/GoogleCloudPlatform/google-cloud-python/pull/1914/files

Could be documented better...

[2017-06-27 08:33] linar-jether commented on #2871
Simple example for a streaming upload of a large dataframe

[code]

[2017-06-27 16:59] evanj commented on #3501
Wow, can we get this added to the top level `README.md`, and added to the documentation for each of the clients? This causes a significant change in how I can use this library. I believe I'm running into this, and now I need to restructure my app to avoid passing the client or any created sub-objects around.

Additionally, `httplib2shim` doesn't seem to work with the recent updates: the `google-au

[2017-06-27 17:01] jonparrott commented on #3501
@evanj it's our hope that soon we'll be able to wholesale migrate to requests so that this actually won't be an issue. @dhermes were are we on #1998?

That error you posted is curious. Storage is already using our new non-httplib2 transport, so @dhermes might be able to shed some light there.

[2017-06-27 17:11] ericmarkmartin opened #3553 "Morphology in language API"
Hi.

I was playing around with the language API through the REST API, but when I switched over to the python library, I noticed that my responses were missing the morphology data that is available through REST. I couldn't find anything on it in any pending PR's or issues, so I was wondering what the status was vis-a-vis this issue.

Thanks

[2017-06-27 17:12] dhermes commented on #1998
Here is what remains:

- Stop using `google.cloud.streaming` in BigQuery. I've already [done this][1] in the source, but don't have the bandwidth to update the unit/system tests
- Delete `google.cloud.streaming` from `google-cloud-core`
- Change the [default `http` object][2] to a `requests` object
- Deal with the fall out of the previous change (i.e. broken tests and broken code paths)
- Do a `gi

[2017-06-27 17:12] evanj commented on #3501
Thanks for the instant response! I get that this is going to be fixed "soon", but this was a bit of a surprise for me to discover that this is a known issue for the current release that only seems to be documented in Github Issues. I would love it if the following page would say "Client is not thread-safe; do not use it between threads": https://googlecloudplatform.github.io/google-cloud-python/st

[2017-06-27 17:29] tseaver commented on #3553
Thanks for the report!  `google-cloud-language-0.25.0`, just released yesterday, added support for the full "parts of speech" data (added in PR #3457).

Please reopen if that support doesn't meet your needs.

[2017-06-27 17:29] #3553 closed

[2017-06-27 17:29] dhermes commented on #3501
Indeed, thanks for the patience @evanj.

[2017-06-27 17:43] dhermes commented on #3525
Thanks for the update. It's probably human error, i.e. `Operation` was probably written before the synchronous version?

If you'd like, you can send a PR just deleting those 2 lines which check for length 0 and raise? Then in the PR, we'll find out which unit test fails as a result and you can delete that too?

[2017-06-27 19:30] danoscarmike commented on #3481
Ping.  Did we get a response from the backend team?

[2017-06-27 19:31] danoscarmike commented on #3395
Hi Vikas, this seems more like P1.  Can you confirm?  Thanks.

[2017-06-27 19:35] danoscarmike commented on #3123
Ping @tseaver can you review latest update from @vkedia?

[2017-06-27 19:39] tseaver commented on #3123
@danoscarmike AFAICT this is an issue for https://github.com/googleapis/gax-python, where I am not a maintainer.

[2017-06-27 19:46] jonparrott commented on #2117
This exists in gax now, I'm gonna close this.

[2017-06-27 19:46] #2117 closed

[2017-06-27 19:55] jonparrott opened #3556 "Bigquery Jobs should match the Futures interface"
Presently, bigquery uses a custom [`Job`](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/job.py#L85) class (and subclasses) to deal with long-running operations such as queries and data import.

The Job class causes the proliferation of code like this around all of our samples and user code:

[code]

Which in terms means our samples require a

[2017-06-27 20:22] jonparrott opened #3557 "Consolidate google.cloud.Operation and google.gax._OperationFuture"
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/core/google/cloud/operation.py

https://github.com/googleapis/gax-python/blob/3d48d1fe3cb149f875328630267ce148565cbb35/google/gax/__init__.py#L622

They should at least share a common interface.

[2017-06-27 20:29] vkedia commented on #3395
I marked this as P0 to specify that this is Beta blocking. If you think P1 conveys, please downgrade.

[2017-06-27 20:59] ChanganVR opened #3558 "No way to provide speech context through client interface"
I've tried to provide google speech recognizer with speech context and found there is no context parameter to specify in client.sample API. And below are declarations of initialization and recognition function of Sample class. And obviously they are not consistent.

    def __init__(self, content=None, source_uri=None, stream=None,
                 encoding=None, sample_rate_hertz=None, client=Non

[2017-06-27 21:17] ChanganVR commented on #3558
I just found the speech_context is provided through long_running_recognize() funtion in running time and is not provided when initializing the sample object. This question is so stupid... I'm closing it now.

[2017-06-27 21:17] #3558 closed

[2017-06-27 21:33] dhermes commented on #3558
No worries, thanks for coming back to close it. Cheers

[2017-06-28 00:32] bjwatson commented on #3510
Ok, SGTM if that's what @lukesneeringer wants to do.

[2017-06-28 04:01] danoscarmike commented on #3123
Thanks Tres.  @lukesneeringer can you verify Tres' suspicion?  If true let's link to an issue in that repo.

[2017-06-28 15:40] gylu commented on #3212
Does `pip install google-cloud-pubsub` automatically install the latest google-auth-library-python?

Because I think I bumped into the same issue. I'm using python2.7 and below is what my pip freeze shows:

cachetools==2.0.0
certifi==2017.4.17
chardet==3.0.4
dill==0.2.6
enum34==1.1.6
future==0.16.0
futures==3.1.1
gapic-google-cloud-pubsub-v1==0.15.4
google-auth==1.0.1
google-auth-httplib2==0.0.2
g

[2017-06-28 15:50] jonparrott commented on #3212
@gylu 1.0.1 is the latest, but can you tell us more about the issue you're experiencing? This particular issue is that after ~60 minutes requests will fail with unauthenticated for ~5 minutes and then will work for ~60 minutes (repeat).

[2017-06-28 17:17] gylu commented on #3212
@jonparrott My error was quite similar. I had it running for about an hour when this occurred. I will try to rerun it and see if the same thing happens.

Here's what my code is mainly doing. I am reading out of Pubsub and writing into a database.:
[code]
I'll try reproducing the issue. But below is some of the printout I got when it failed:
[code]

[2017-06-28 17:22] jonparrott commented on #3212
@gylu can you give me the following output from when you get this error?

[code]

[2017-06-28 18:18] chaitu1124 opened #3561 "Google cloud Storage 308 Error while writing file"
Hi All,
I tried to pull the report from Double Click Search API and put it into Google Cloud Storage by using google app engine(Python).

The following code is used to pull the report and place in google cloud storage.

[code]

Not sure why getting this error message.

Error Message:

[code]

[2017-06-28 18:31] tseaver commented on #3561
@chaitu1124 Thanks for the report.  Unfortunately, the `_gcs` module you are using is not part of the `google-cloud-storage` library.  I'm not sure where it comes from.

[2017-06-28 18:31] #3561 closed

[2017-06-28 18:53] dhermes commented on #3561
@chaitu1124 FWIW a 308 means that the server is expecting more chunks to be sent during a resumable upload.

[2017-06-28 18:54] dhermes opened #3562 "gRPC _Rendezvous w/ 'ABORTED' status propagated from 'Session.run_in_transaction'"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2281

@tseaver Can you triage / update the issue title to be more specific?

[2017-06-28 19:21] tseaver commented on #3562
The code for `Session.run_in_transaction` expects that the `ABORTED` bit will be propagated as an instance of `google.gax.errors.GaxError`:  somehow, the underlying GAPIC code is raising a gRCP `_Rendezvous` instead.

[2017-06-28 19:22] tseaver commented on #3562
@lukesneeringer Do we need to be regenerating the GAPIC code?

[2017-06-28 19:56] chaitu1124 commented on #3561
@tseaver _gcs is alias for cloudstorage

import cloudstorage as _gcs

[2017-06-28 19:59] tseaver commented on #3561
@chaitu1124 That still isn't the `google.cloud.storage` library.  How did you install it?

[2017-06-28 20:00] dhermes commented on #3561
@chaitu1124 ISTM you are referring to a [GAE library][1]. Is that correct?

[1]: https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/functions

[2017-06-28 20:02] chaitu1124 commented on #3561
@tseaver I try to run the python scripts in App engine. I installed the library with the following command.
pip install GoogleAppEngineCloudStorageClient -t <your_app_directory/lib> [ particular folder]

[2017-06-28 20:13] tseaver commented on #3561
@chaitu1124 OK, that library looks to have its repository / issue tracker [over here](https://github.com/GoogleCloudPlatform/appengine-gcs-client).

[2017-06-28 20:29] tseaver commented on #3474
Note that development of this feature is moved off onto the [`storage-requester-pays-feature` branch](https://github.com/GoogleCloudPlatform/google-cloud-python/tree/storage-requester_pays-feature) until the feature becomes GA.

[2017-06-29 00:44] hiranya911 opened #3564 "Linter False Positives When Importing google.cloud Modules"
An import statement like `from google.cloud import storage` will trigger a linter error on most platforms:

[code]

Environment:
[code]

[2017-06-29 00:46] hiranya911 commented on #3564
Possible fix: Add an empty `__init__.py` file to the google/cloud directory of the codebase.

[2017-06-29 00:57] hiranya911 commented on #3564
It looks like the file exists in google-cloud-core, but some reason it doesn't get installed. Here are the installed contents:

[code]

[2017-06-29 01:19] tseaver commented on #3564
@hiranya911 This is an [issue with how pylint attempts to emulate Python's own import semantics in the face of namespace packages](https://github.com/PyCQA/pylint/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20namespace).  As a check, try:

[code]

which won't raise an exception.

[2017-06-29 01:19] #3564 closed

[2017-06-29 05:12] wolfmanstout opened #3565 "Speech client incorrectly computes chunk sizes"
This code reads chunk_size bytes from the audio file instead of reading chunk_size * encoding_frame_size bytes:
[https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/speech/google/cloud/speech/_gax.py#L348][1]

This seems like  a bug, since the documentation for chunk_size  implies that it is trying to achieve 100 ms chunks:
[https://github.com/GoogleCloudPlatform/google-cloud-py

[2017-06-29 19:36] wubbahed opened #3568 "Inconsistent implementation of TextSpan in google.cloud.language"
In the documentation for Google Language, you refer to [TextSpan](https://cloud.google.com/natural-language/docs/reference/rest/v1beta2/TextSpan) objects as having two properties: content and beginOffset

This is correctly implemented in [google.cloud.language.entity](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/language/google/cloud/language/entity.py), however, in [goog

[2017-06-29 22:06] snarfed commented on #2926
here's workaround code that works with the current released google-cloud-python (0.24.0). the key part is passing `{'configuration': {'load': {'autodetect': True}}}` to `LoadTableFromStorageJob.from_api_repr()`.

[code]

[2017-06-30 00:43] tswast commented on #3556
When you call `.result()` does it actually block? The Video Intelligence API sample, which uses that gax OperationFuture, I believe, shows some polling. https://github.com/GoogleCloudPlatform/python-docs-samples/blob/f1934ad309a05148608cec84edaf473843bc6a8f/video/cloud-client/analyze/analyze.py#L49

[2017-06-30 00:47] jonparrott commented on #3556
Yes, result blocks

On Thu, Jun 29, 2017, 5:43 PM Tim Swast <notifications@github.com> wrote:

[2017-06-30 03:18] dhermes commented on #2926
FWIW the latest is [`0.25.0`][1]

[1]: https://pypi.python.org/pypi/google-cloud-bigquery/0.25.0

[2017-06-30 17:05] dhermes opened #3571 "Is MergeFrom used by accident (instead of CopyFrom) in bigtable.Table.create?"
See [source][1]. As an example of why `MergeFrom` instead of `CopyFrom` can be a bug:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/2d81f88454724f0a672b453c994413c3cf1110c7/bigtable/google/cloud/bigtable/table.py#L184

[2017-06-30 17:06] dhermes commented on #3571
@tseaver I assigned to you but a `git blame` reveals I am the last one to touch that line.

[2017-06-30 18:35] tseaver commented on #3571
In that particular case, the target starts as an empty `Table` protobuf.  Unless the `column_families` argument contains entries with duplicate `column_family_id` values, there won't be any effective difference between `CopyFrom` and `MergeFrom`.

[2017-06-30 19:28] dhermes commented on #3571
In other words, we aren't **relying** on `MergeFrom`, but (assuming users don't pass in duplicate names with different settings) the code "works fine"?

In that case, ISTM that we should

- Switch from `CopyFrom` (since it will be the same in the "safe case" and is it what we intend)
- Add a guard that a key can't be written over

WDYT?

[2017-06-30 20:25] ChanganVR opened #3572 "Is there any way to generate transcription with time label"
Is it possible for google speech API to transcribe a long audio and return the transcription with time label of each word or time label of each sentences?
If not, any idea of how to do that? For example, I have thought about slicing long audio into fixed length short segment with overlapping and transcribe those short audios and then eliminate those overlapped texts. Another possible way to do tha

[2017-06-30 21:56] mackenzieATA opened #3574 "No parameter available to specify a jobId to Table.upload_from_file()"
There is no way to send a `jobId` to the `upload_from_file` function.

My motivation is that I've had issues with uploading the same file twice, duplicating data in the target table.  A suggested solution was to specify my own `jobId` as a hash of the file contents. That way, duplicate uploads would be rejected as having the same `jobId`. Without modifying the library, there is no ability to do th

[2017-07-01 00:13] snarfed commented on #2926
oops, the code i gave in https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2926#issuecomment-312121757 doesn't actually work after all. i ended up having to monkey patch to get autodetect into the API call. here's that code:

[code]

can't wait for official support! :P

[2017-07-01 00:18] tseaver commented on #3574
This should be pretty straightforward:

- Update `Table.upload_from_file` to take an optional `job_name` property and pass it through to `_configure_job_metadata`, along with the table's `project`.
- Update `_configure_job_metadata` to set the top-level `jobReference` IFF the `job_name` is not None.
- Add test coverage.

[2017-07-01 17:36] jzzfs opened #3575 "AttributeError: can't set attribute during EVERY put(), get() and fetch() operation"
## Problem
Both on localhost and in production, essentially every `ext.db` operation fails.

## Local Environment Specs
OS X El Capital 10.11.3
Platform:
- [Mac OS X, x86_64]
- 'Darwin'
- 'XYZ-MacBook-Pro.local'
- '15.3.0',
- 'Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64', 'x86_64', 'i386'
Python Verdion:
- [2.7.13 (default, Dec 17 2016, 23:03:43)

[2017-07-01 17:55] jzzfs commented on #3575
# FIXED ✔

Nevermind! The cause of the problem was my addition of a `@property` whose name started with an underscore, thereby messing up the setter.

[2017-07-01 18:09] tseaver commented on #3575
I'm glad you found your bug.  Note for future reference that this repository is for the `google-cloud-python` libraries, not for the [gcloud sdk](https://cloud.google.com/sdk) / GAE.

[2017-07-01 18:09] #3575 closed

[2017-07-04 15:28] WillFuks opened #3576 "Docstrings from fetch_data method needs to be updated"
Hello,

Recently a [question](https://stackoverflow.com/questions/44895829/bigquery-async-query-job-the-fetch-results-method-returns-wrong-number-of-va) was posted in SO asking about the return params of the `fetch_data` method of `QueryResults' in BigQuery client.

As it seems, the return is no longer a tuple with 3 values but rather an object of the class `HTTPIterator`. Looks like the docstring

[2017-07-04 21:18] danqing opened #3577 "Google Cloud Storage upload error"
OS: Ubuntu 16.04.2 (4.8.0-58)
Python: 3.5.2 (does not seem to happen with Python 3.6.1)

google-cloud-core (0.25.0)
google-cloud-monitoring (0.25.0)
google-cloud-storage (1.2.0)
google-resumable-media (0.1.1)

Code:

[code]

Traceback:

[code]

[2017-07-05 14:57] lukesneeringer opened #3579 "Conflicting Dependencies"
This is reposted from an internal ticket. (Googlers: b/63062329)

-----------------------------

Issue summary:

[code]

Here is the traceback:

[code]

Workaround: Customer has reverted to 0.23.0 to build.

Very similar to #3331.

[2017-07-05 15:03] lukesneeringer commented on #2694
@geigerj What bugs are retried by default? (Looking at an internal bug where Datastore connections time out after 30 minutes, and auto-retry does not work.)

[2017-07-05 15:52] lukesneeringer commented on #3577
@dhermes This looks like a quick bug in google-resumable-media. (Check for a `bytes` and `.decode('utf8')`.)

[2017-07-05 15:52] lukesneeringer commented on #3576
Hi @WillFuks,
Thank you for reporting this. We will get that updated.

[2017-07-05 15:54] lukesneeringer commented on #3572
Hi @ChanganVR,
Thanks for asking. This is actually a question about the API, not the client library, but I am going to see if I can get the right person to come provide an answer.

[2017-07-05 15:59] lukesneeringer commented on #3565
Summoning @geigerj. Any idea if this is something we can easily change?

[2017-07-05 16:03] danaharon commented on #3572
Stay tuned - we will have support for this soon!

[2017-07-05 16:04] lukesneeringer commented on #3572
Thanks @danaharon.

@ChanganVR Since this is a repo for _the client libraries_, rather than the API, I am going to go ahead and close this issue. (It just is not the canonical place to track this thing.) Obviously, if you have any other issues, feel free to re-open or file a new issue.

[2017-07-05 16:04] #3572 closed

[2017-07-05 16:08] geigerj commented on #3565
@lukesneeringer Seems like you can figure out the encoding_frame_size from `sample.encoding` and just do the calculation @wolfmanstout suggested?

[2017-07-05 16:15] geigerj commented on #2694
Assuming by "bugs" you mean status codes, by default we retry only on [`UNAVAILABLE` and `DEADLINE_EXCEEDED`](https://github.com/googleapis/toolkit/blob/6bcfcf03d22c549d782f528a13df505a4a6e03e5/src/main/java/com/google/api/codegen/configgen/RetryGenerator.java#L52), and only for idempotent calls.

However, that configuration can be overridden at a per-service level ([example: Pubsub](https://githu

[2017-07-05 17:32] dhermes commented on #3531
Also #3578

[2017-07-05 17:35] dhermes commented on #3577
@lukesneeringer `google-resumable-media-python` is very "opinionated" about it's input types, so `str` instead of `bytes` (in Python 3) is the "wrong" input. However, we should do a better job passing the right type from within `google-cloud-storage`.

[2017-07-05 17:36] dhermes commented on #3577
UPDATE: We already ["do the right thing"][1]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/14ff1f5d8126b9fa38e73977b4aa2a4fdad9dc36/storage/google/cloud/storage/blob.py#L963-L967

[2017-07-05 17:40] dhermes commented on #3577
OK I just ran the same snippet in Python 3.6 with

[code]

and it successfully uploaded `yo`

[2017-07-05 17:41] dhermes commented on #3577
And now something is **weird**. I tried the same in 3.5 and it failed!

[2017-07-05 17:57] dhermes commented on #3579
@lukesneeringer ISTM the issue is that

- They had an existing installation that conflicts with the latest version
- The bug is somewhat in `pip` / `setuptools`?

----

Here is the latest state of things:

-   [`google-cloud==0.26.0`][2]
    -   `google-cloud-core==0.25.*`
    -   `google-cloud-datastore >= 1.1.0, < 2.0dev`
    -   `google-cloud-logging >= 1.1.0, < 2.0dev`
    -   `google-cloud-st

[2017-07-05 17:58] tseaver commented on #3579
I cannot reproduce.  For `google-cloud==0.25.0`:

[code]

For `google-cloud==0.26.0`:

[code]

[2017-07-05 18:00] dhermes commented on #3577
OK, total DERP, the issue is definitely in `google-resumable-media`. `self._get_body(response)` is what is bytes, but `json.loads` wants `str`:

[code]

[2017-07-05 18:01] wubbahed commented on #3568
:thumbsup:

[2017-07-05 18:01] #3568 closed

[2017-07-05 18:02] #3576 closed

[2017-07-05 18:10] tseaver commented on #3577
[Python 3.6 added support for binary input to the `json` APIs](https://docs.python.org/3/whatsnew/3.6.html#json)

[2017-07-05 18:42] VikramTiwari opened #3581 "pip install failing"
1. OS type and version: macOS Sierra v10.12.5
2. Python version and virtual environment information `python --version`: 3.6.1
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`: Nothing
4. Stacktrace if available: added
5. Steps to reproduce: Try installing it with Python 3.
6. Code example: None

Logs:
[code]

[2017-07-05 18:43] dhermes commented on #3581
@VikramTiwari Thanks for taking the time to file this issue!

This is a common issue with out of date versions of `pip` / `setuptools`. You should update those tools.

[2017-07-05 18:43] #3581 closed

[2017-07-05 18:48] VikramTiwari commented on #3581
That was easy. Thanks. 👍

[2017-07-05 19:02] dhermes commented on #3581
Cheers!

[2017-07-05 20:14] nhammond commented on #3579
Please double-check the repro steps before deciding this is not reproducible. Pip install succeeds, but running a pip-installed executable that requires google-cloud 0.25.0 fails.

The repro steps above have a nice easy way to reproduce that error.

[2017-07-05 20:35] dhermes commented on #3579
Ah, my bad! Confirmed:

[code]

----

Any reason that `google-cloud==0.25.0` is pinned?

----

A picture of the installed packages may give a hint:

[code]

[2017-07-05 20:41] dhermes commented on #3579
I am still sleuthing, but I'm pretty sure the issue is that our "stable" packages have [looser bounds][1]:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/0.25.0/setup.py#L56

[2017-07-05 20:47] dhermes commented on #3579
- [`google-cloud==0.25.0`][1]
- [`google-cloud-bigquery==0.24.0`][2]
- [`google-cloud-bigtable==0.24.0`][3]
- [`google-cloud-core==0.24.1`][4]
- [`google-cloud-datastore==1.1.0`][5]
- [`google-cloud-dns==0.24.0`][6]
- [`google-cloud-error-reporting==0.24.2`][7]
- [`google-cloud-language==0.24.1`][8]
- [`google-cloud-logging==1.1.0`][9]
- [`google-cloud-monitoring==0.24.0`][10]
- [`google-cloud-pub

[2017-07-05 20:52] dhermes commented on #3579
OK, after clicking into all of the `setup.py` files [above][1], I have found the 3 culprits (which confirms my theory):

- https://github.com/GoogleCloudPlatform/google-cloud-python/blob/datastore-1.1.0/datastore/setup.py
- https://github.com/GoogleCloudPlatform/google-cloud-python/blob/logging-1.1.0/logging/setup.py
- https://github.com/GoogleCloudPlatform/google-cloud-python/blob/storage-1.2.0/s

[2017-07-05 20:56] ChanganVR commented on #3572
Thanks! Looking forward to this new feature @lukesneeringer @danaharon

[2017-07-05 21:23] jerjou opened #3582 "Expose error handling in speech client"
Pasted from [python-docs-samples#963](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/963), filed by @datspike

Hello. While using speechv1beta I was able to catch grpc error such as OUT_OF_RANGE and others simply with
[code]
With introducing of speechv1 actual grpc resposces are getting handled inside the `speech` module, and I can only get `alternatives`
[code]

How can I catch

[2017-07-05 21:35] jingpengw commented on #1893
I got a similar bug:
[code]

[2017-07-05 21:41] dhermes commented on #3582
1. @datspike Can you provide some example text so we can reproduce the error codes?
1. If there are two questions, let's make two issues

[2017-07-05 21:41] dhermes commented on #1893
@jingpengw That typically means the package metadata is missing, which is a sign that not all files were copied.

[2017-07-05 21:47] jerjou opened #3583 "Expose stream cancellation in speech streaming generator"
Originally from [python-docs-samples#963](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/963), filed by @datspike

How do you stop recognition correctly in the new client?

With the GRPC client, you can do

[code]

But this client lib only exposes the `streaming_recognize` call as a [generator of alternatives](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/f621d

[2017-07-05 21:47] jerjou commented on #3582
Moved cancellation functionality to #3583

[2017-07-05 21:50] dhermes commented on #3583
@lukesneeringer WDYT? In the linked code:

[code]

the `responses` variable is a `_Rendezvous`, which is a mega-class provided by gRPC. Among other things, it can be cancelled.

[2017-07-05 21:50] dhermes commented on #3582
Thanks @jerjou.

@datspike Can you help with a reproduction?

[2017-07-05 22:15] duggelz commented on #3579
Could this be related to [pip doesn't resolve dependencies correctly](https://github.com/pypa/pip/issues/988)?

[2017-07-06 02:10] jingpengw commented on #1893
@dhermes you mean the metadata of `google-cloud-python` or my local `neuroglancer`?

[2017-07-06 02:41] dhermes commented on #1893
In this instance I mean the metadata of `google-cloud-storage` (which is the package referenced in your stacktrace).

[2017-07-06 12:41] JorritPosthuma commented on #920
As iterator.get_next_page_response is hidden nowadays, you can use the following code:

[code]

[2017-07-06 19:15] dhermes commented on #3579
OK I'm going to send some fixes for this right now. I just pushed two branches:

- https://github.com/GoogleCloudPlatform/google-cloud-python/tree/at-tag-0.25.0
- https://github.com/GoogleCloudPlatform/google-cloud-python/tree/at-tag-0.26.0

corresponding to the existing "broken" tags:

[code]

I will send PRs against them to create `0.25.1` and `0.26.1`, and then will delete those branches from t

[2017-07-06 19:25] dhermes commented on #3579
We've got similar issues in `0.24.0`:

[code]

----

I confirmed it "stops" there, the previous release was "pre-stable"

[code]

[2017-07-06 20:47] RoneyThomas opened #3589 "'ReadOptions' object is not iterable when trying a get a entity Google Cloud Datastore"
1. OS type and version
macOS Sierra 10.12.5
2. Python version and virtual environment information `python --version`
Python 3.6.1
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`
google-cloud-datastore==1.1.0
4) Code sample

[code]

[2017-07-06 21:06] dhermes commented on #3579
OK the following releases have come as a result:

- https://pypi.org/project/google-cloud-error-reporting/0.24.3/
- https://pypi.org/project/google-cloud/0.25.1/
- https://pypi.org/project/google-cloud-error-reporting/0.25.1/
- https://pypi.org/project/google-cloud/0.26.1/

I am closing this as "mostly fixed".

----

@nhammond In the current form `0.25.0` will "never" be fixed and IIUC that's the

[2017-07-06 21:06] #3579 closed

[2017-07-06 21:09] hm-distro commented on #3388
Any update?

[2017-07-06 21:11] tseaver commented on #3589
Thanks for the report!  Unfortunately, I cannot reproduce it:

[code]

[code]

[2017-07-06 21:16] RoneyThomas commented on #3589
Reinstalling dependencies fixed my issue. Please close this.

[2017-07-06 21:21] #3589 closed

[2017-07-06 21:21] tseaver commented on #3589
@RoneyThomas thank you for following up!

[2017-07-06 21:22] #3388 closed

[2017-07-06 21:25] tseaver commented on #3388
@hm-distro PR #3514, which I just merged. adds support for a new `view_use_legacy_sql` property.  E.g.,:

[code]

[2017-07-06 21:28] hm-distro commented on #3388
Thank you.

[2017-07-06 22:34] jdmargulici opened #3592 "The read_rows method in the bigtable client does not provide an interface to specify open/closed key ranges"
The read_rows method of the Table class in the bigtable client is designed such that the results are inclusive of the start key but exclusive of the end key. That seems a reasonable choice, until one considers that keys may be designed to accumulate in reverse order (as recommended in the docs: https://cloud.google.com/bigtable/docs/schema-design-time-series). In that case, it is necessary to flip

[2017-07-06 22:51] nhammond commented on #3579
Thanks @dhermes, I understand not wanting to overwrite the release even if it leaves it in a somewhat broken state.

Given that this just happened a few months ago (#3331), are there any safeguards against repeating the mistake? It will become quite frustrating to users if this breaks in the same mode with every new release of google-cloud.

[2017-07-06 22:56] dhermes commented on #3579
I actually wondered that to myself as well. It'd involve starting with all matches for packages in a range, [e.g.][1]

[code]

yields

[code]

then we just install all combinations and then "check" if OK (e.g. via `pkg_resources` as you provided). There are at least two issues with this though that come to mind:

- Combinatorial explosion of valid packages
- "Recursive" dependencies (i.e. followin

[2017-07-06 23:31] duggelz commented on #3579
The combinatorial explosion is real.  I recommended (internally) that we just test against 1) the latest of combination of "everything", 2) the earliest version of "everything" that still satisfies the dependency specs, and 3) a handful (or less) of particular combinations that are important.  I think this would catch most of the problems with a minimum amount (2x or 3x) of the testing resources.

[2017-07-07 00:08] jingpengw commented on #1893
@dhermes thanks. I downloaded the code and reinstalled with `python setup install`. it works fine now.

[2017-07-07 12:55] ryan-schroeder commented on #3576
Thanks!  I was about to post a question regarding this as well, cheers! =)  Thanks for all your work on this

[2017-07-07 12:58] drigz opened #3594 "Can't receive messages larger than 4MiB"
Cloud Pub/Sub has a maximum message size of around 10 MiB ([source](https://cloud.google.com/pubsub/quotas#other_limits)). gRPC has a default max message size of 4MiB, so there are valid messages that cannot be pulled by google-cloud-python.

These messages appear to be silently dropped, as the pull request generates `<_Rendezvous of RPC that terminated with (StatusCode.RESOURCE_EXHAUSTED, Receive

[2017-07-08 14:09] tseaver commented on #3594
Thanks for the report!  One thing I note in the changes for #2907 is the comment that "''grpc.max_message_length' will no longer be recognized in grpcio 1.1 and later".  I'm unable to verify that assertion from a scan of the [grpc issue tracker](https://github.com/grpc/grpc/issues).

[2017-07-08 15:21] drigz commented on #3594
It'll be ignored, and the send/receive-specific settings will be used,
which is why BigQuery sets both. Pub/Sub should set all three (old and both
new (send/receive)) for max compatibility.

Am 08.07.2017 4:09 nachm. schrieb "Tres Seaver" <notifications@github.com>:

[2017-07-08 23:33] WillianFuks opened #3595 "Update Docs on BigQuery fetch_data method"
Hello,

After this [issue](https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3576) was posted, docstrings looks ok now. I was wondering if it's possible to update the sphinx [documentation](https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-query.html#google.cloud.bigquery.query.QueryResults.fetch_data) as well now as it's still showing information regarding

[2017-07-09 21:56] JasonMWhite commented on #2573
I also found it very inconvenient to pass in real credentials just to run unit tests on an emulator in my CI environment. That requires encrypting the credentials, managing secrets, etc. I tried editing the credential files to not include real keys, but it appears the creds need to actually load correctly to connect to the emulator.

In the end, this worked well. I subclassed `Credentials` and pas

[2017-07-10 16:09] lukesneeringer commented on #3583
The change to "mostly auto-gen" will just do this, right?

[2017-07-10 16:37] dhermes commented on #3595
@WillianFuks sure thing. The "latest" docs **should** be updated but they aren't because we've been having build issues with flaky APIs (more like flaky tests). You linked to the "stable" docs, which only get updated when we do a release.

[2017-07-10 16:38] dhermes commented on #3595
/cc @lukesneeringer

[2017-07-10 17:02] dhermes commented on #3583
I don't have a clear picture what the change will look like, so you tell me?

[2017-07-10 18:33] dhermes commented on #3577
I hope to be able to fix this today or tomorrow

[2017-07-10 19:52] michaelenglo opened #3597 "Datastore Key's reference is missing location identifier in app argument in to_legacy_urlsafe()"
@dhermes I put this as a new issue because I thought people might have a problem with this too. Please feel free to edit/remove this issue if it is not appropriate to put it here.

I was running `pip install --upgrade google-cloud-datastore` to get latest version that has the `key.to_legacy_urlsafe()` implemented in [#3491](https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3491). I t

[2017-07-10 20:04] dhermes commented on #3597
@michaelenglo I'll let @jonparrott handle this. I voiced this concern when writing the original PR and he said we shouldn't worry about it.

I would suggest that you rely on `from_legacy_urlsafe` much more than `to_legacy_urlsafe`, i.e. these are really meant as a way to go **FROM** legacy **TO** "modern", not the other direction.

[2017-07-10 20:04] dhermes commented on #3597
As for sending a PR, there is no "right" way to fix this. The `app` may begin with `dev~`, `s~`, `e~` and possibly other strings I am unaware of. There is no way to determine which of this is appropriate based on the project string.

[2017-07-12 09:55] azymnis opened #3600 "tox is not running tests"
I'm following instructions [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/CONTRIBUTING.rst). Seems like `tox -e py27` is not running any tests. I added a test failure to test this and tests are passing.

1. OS type and version: osx 10.12.5
2. Python version and virtual environment information `python --version`: Python 2.7.13
3. google-cloud-python version `pip show

[2017-07-12 14:08] robertlacok commented on #3592
I also miss this feature. Would it be sensible to add two more optional arguments to the `read_rows` method, `include_start_key` and `include_end_key`, which default to `True` and `False` respectively (current behavior), but they allow setting it manually?

From what I see, that only requires adding a few more if statements [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/mas

[2017-07-12 15:03] dhermes commented on #3600
Yes we've had #3205 open for way too long (I'm closing this as a duplicate).

You should install `nox`:

[code]

and then run tests by stepping into a package directory. For example:

[code]

[2017-07-12 15:04] #3600 closed

[2017-07-12 15:42] lukesneeringer opened #3602 "BigQuery data load fails from GCS on the first load."
This issue is re-posted from an internal ticket. (Googlers: b/63330731)

--------------------------------

Using the google-cloud-python BigQuery client, loading data from GCS fails repeatably on first load due to schema issues, then succeeds on retry.  Using _any_ other method of BQ load from GCS, this behavior is not observed.  Occurs on version 0.24 and 0.25 of the BigQuery client.

GCS source

[2017-07-12 15:49] dhermes commented on #3602
@lukesneeringer Any code snippet?

[2017-07-12 15:59] tseaver commented on #3602
#2926 might be relevant.

[2017-07-12 16:27] lukesneeringer commented on #3602
@dhermes Sorry, that was all they gave me. I can ask for a snippet, though.

[2017-07-12 17:13] tswast opened #3603 "Map BigQuery DB-API onto a SQLAlchemy dialect"
This would allow BigQuery to be used from the BI tool, [Superset](https://github.com/apache/incubator-superset), among other places.

Relevant SQLAlchemy docs:

- [Dialect interface spec](http://docs.sqlalchemy.org/en/latest/core/internals.html#sqlalchemy.engine.interfaces.Dialect)
- [Existing dialects](http://docs.sqlalchemy.org/en/latest/dialects/index.html)

[2017-07-12 17:13] tswast commented on #2434
The DB-API implementation https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2921 is now merged.

I've filed https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3603 to track SQLAlchemy support.

[2017-07-12 17:13] #2434 closed

[2017-07-13 09:58] LeonLiber commented on #3152
It happens to me only when there is an EMPTY indexed array. As a workaround, I added a placeholder value instead of keeping it empty.

Is there any progress with fixing that?

[2017-07-13 15:31] jonparrott commented on #3597
Because there's no "right" way to fix this, I think we should just document that the string returned by our `to_legacy_urlsafe` is equivalent, but not identical to the key returned by `ndb`.

[2017-07-13 16:50] jonparrott commented on #3579
I agree with @duggelz's suggestion of installing all of the latest stuff and running a sanity check import and then another test to install the latest umbrella with the minimum versions of its dependencies. We could do this as a pre-release check.

I would also vote in favor of killing the umbrella package. It's going to become more and more useless as we go one.

I'm also in favor of figuring out

[2017-07-13 16:52] dhermes commented on #3579
The moment we had more sub-packages (like `> 5`) than a person could (reasonably) list from memory, the umbrella package became cumbersome. (Which is especially funny because the [first release][1] after the breakup of the `gcloud` package had 7 sub-packages.)

[1]: https://pypi.org/project/google-cloud/0.19.0/

[2017-07-13 17:26] tseaver commented on #3579
I was always suspicious of the "give me everything" usecase for the umbrella package, so +1 for losing it.

[2017-07-13 18:24] sergiobellon commented on #3577
@dhermes any news with this issue? I am having the same problem and python 3.6 is not available yet in Centos

[2017-07-13 18:53] tseaver commented on #3577
I opened https://github.com/GoogleCloudPlatform/google-resumable-media-python/issues/12 to track the issue in the right place.

[2017-07-13 18:53] #3577 closed

[2017-07-13 19:10] dhermes commented on #3577
Not sure if we should close this? At the very least we need to update deps in `google-cloud-storage` to "resolve". Maybe also cut micro a release?

[2017-07-13 19:21] tseaver commented on #3577
I don't think we need to track this as a bug in `google-cloud-storage`:
- We currently pin `google-resumable-media >= 0.1.1`.
- That pin means that in order deploy a fix, the user can just upgrade to a new release of `google-resumable-media`, without any changes to `google-cloud-storage`.

Once the fixed version is available, we can (at our leisure) update our pin to require the fixed version.

[2017-07-14 01:13] liyanhui1228 opened #3606 "BigQuery does not support table-valued functions when using query_parameters"
I found that when I use query_parameters to run a query, it would not support table-valued functions. Code is like below:
[code]

Error message is:
[code]

And if I do not use query_parameters to substitute the parameters, it would support table-valued functions. Not sure what's the relationship between them.

[2017-07-14 01:19] tseaver commented on #3606
@tswast Can you comment here?

[2017-07-14 11:31] teoguso commented on #2871
@linar-jether that's a great snippet. I have a question though: what does your `get_blob()` function do exactly? Is it the same as the `.blob()` method of the bucket class?

[2017-07-14 11:36] linar-jether commented on #2871
Just a util function that gets a Blob object from a path ('gs://bucket_name/obj.name')

[2017-07-14 11:55] teoguso commented on #2871
Thanks! Do you have suggestions for the recommended chunk size?

[2017-07-14 12:04] linar-jether commented on #2871
Whatever works best for your memory/throughput requirements, when a lower
chunk size will require less memory but might have a lower throughput and
vise versa

On 14 Jul 2017 14:56, "Matteo Guzzo" <notifications@github.com> wrote:

[2017-07-14 12:09] teoguso commented on #2871
Thanks a lot, and I'm sorry, I am quite new to this. Could I use the same procedure to stream up JSON strings directly instead of bytes?

[2017-07-14 12:11] linar-jether commented on #2871
Yes sure, will work for any kind of stream

On 14 Jul 2017 15:09, "Matteo Guzzo" <notifications@github.com> wrote:

[2017-07-14 15:58] lukesneeringer commented on #3602
I have a snippet; sending out-of-band for privacy reasons.

[2017-07-14 16:01] tswast commented on #3606
Definitely a backend issue. I'll ask a query parameters expert.

[2017-07-14 17:01] tswast commented on #3606
The [TABLE_DATE_RANGE](https://cloud.google.com/bigquery/docs/reference/legacy-sql#table-date-range) is a function from legacy SQL. The equivalent for standard SQL is to use [wildcard tables](https://cloud.google.com/bigquery/docs/wildcard-tables).

Unfortunately I don't think you can use query parameters to specify a wildcard table.

For this query, it looks like if you [convert these tables to p

[2017-07-14 17:01] #3606 closed

[2017-07-14 17:05] duggelz commented on #3606
Is using query parameters the wrong thing to do?  Is there something else we should be doing instead?  If not, we need to question why we're making it easy to write insecure code that's vulnerable to SQL Injection, and hard to write secure code.

[2017-07-14 17:27] liyanhui1228 commented on #3606
@tswast I used wildcard tables to get the tables for a list of dates as a work around like this:

[code]
But it would be nicer and easier to have the query support table-valued functions when using query parameters. I will try the table partitions, thanks!

[2017-07-14 17:53] aschmolck commented on #3001
What's the status of this? Does 0.26.x fix the problem?

[2017-07-14 18:06] tswast commented on #3606
You're right. Using `_TABLE_SUFFIX` is your best option for securely allowing user input to select which tables to scan.

[2017-07-15 20:00] davidraleigh opened #3610 "big query documentation link broken"
Steps to reproduce:
Click on link in README.md for bigquery at this line:
https://github.com/GoogleCloudPlatform/google-cloud-python/blame/master/bigquery/README.rst#L12

That line points to this link which is broken:
https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery-usage.html

[2017-07-16 16:09] dhermes commented on #3610
Fixed by #3611

[2017-07-16 16:09] #3610 closed

[2017-07-16 16:11] dhermes commented on #3531
#3610 / #3611 also reveal we might have some other renames to track down.

[2017-07-17 11:37] yinchuandong opened #3614 "the parameter max_alternatives in speech client library does not work"
I set the max_alteratives=10 in my code, however, the I still got only one item with the largest confidence in the returned list.  Then I switched to PHP library, it indeed returned a list with multiple candidates. But except for the item with the largest confidence, other items in the result do have confidence score.

This is my python code and environment:
[code]
[code]

==================
This

[2017-07-17 11:44] Kaanthegmr commented on #2366
I had the same problem.My problem caused by pip.Pip was installing google-cloud in the wrong directory.
I used  `python -m pip install google-cloud` instead and it worked!

[2017-07-17 17:03] #3571 closed

[2017-07-17 19:29] #3574 closed

[2017-07-17 19:35] jonparrott opened #3617 "Spanner, BigTable, and BigQuery operations should use the Futures interface"

[2017-07-17 19:35] jonparrott commented on #3556
Related #3617

[2017-07-17 23:50] michaelenglo commented on #3597
I am a bit concerned about this because urlsafe play an important role in our app. Currently in the implementation of our Document Control app, every document file has its information (in datastore), and its blob (in cloud storage). The way we name each document is by its urlsafe key (since we thought it's always unique, we decided to use it instead of creating app-specific identifier). Now, If we

[2017-07-18 04:55] dhermes commented on #3597
@michaelenglo You can get around this by just using the same identifier here that is using in App Engine standard. It's fairly like your application uses `s~` as the project ID. You can deserialize a protobuf from a `urlsafe` value to find out.

[2017-07-18 04:57] dhermes commented on #3597
`ndb` runs in App Engine, so it has access to the application ID **according to App Engine**, which contains the prefix (`s~`, `e~`, etc.). If you manually add the correct prefix, you'll get the same values (see above).

[2017-07-18 15:43] ishcherbakov commented on #3152
Hi guys!

I'm facing the same issue and I use datastore in read-only mode so I can't do anything with original data. Any news about the fix @lukesneeringer  @dhermes ?

[2017-07-18 15:45] kutu commented on #1893
new django 1.11 was added, but `pytz` module is missing
even so it mentioned in [built-in-libraries-27](https://cloud.google.com/appengine/docs/standard/python/tools/built-in-libraries-27)

[2017-07-18 16:44] arthurdarcet opened #3622 "Logging in GKE is not using the ContainerEngineHandler"
The `KUBERNETES_SERVICE` environment variable is not set in a pod running on GKE, so `ContainerEngineHandler` never actually gets selected as the default handler [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/logging/google/cloud/logging/client.py#L307)

This means all the logs go directly to the "Global" section of the Logging tab in the GCloud console, instead of b

[2017-07-18 19:12] dhermes opened #3624 "Linter wishlist"
This is a wishlist for features of a fantasy linter that we wish existed:

-   Enforce one import per line (added by @dhermes)
-   Enforce importing modules / packages only (rather than members) (added by @dhermes)
-   Yell about spec-less mocks. (added by @jonparrott)
-   Trailing commas in all relevant data structures and fn. calls (added by @dhermes)
-   Uniform line continuation (added by @dhe

[2017-07-18 19:15] jonparrott commented on #3624
* Yell about spec-less mocks.

[2017-07-18 20:15] jamiesonbecker commented on #3461
If you have python aliased to ipython, try:

[code]

[2017-07-18 21:16] #3548 closed

[2017-07-19 04:54] sree-kumar commented on #2990
I can't even upgrade pip as the same error shows when trying
`pip install --upgrade pip`
in Windows 10.

[2017-07-19 04:56] dhermes commented on #2990
@sree-kumar Check out [`get-pip.py`][1]

[1]: https://pip.pypa.io/en/stable/installing/#installing-with-get-pip-py

[2017-07-19 21:58] #3531 closed

[2017-07-19 21:59] dhermes opened #3635 "Video Intelligence docs do not exist"
We need some RST files in `docs/` (I am in favor of using `sphinx-autodoc`)

[2017-07-19 22:43] alexiskattan commented on #3252
any update on this? Same problem.  It hangs with `vision.Client()`

[2017-07-19 23:03] dhermes commented on #3252
@alexiskattan Which version of `grpcio` are you using? Are you using `gunicorn`?

[2017-07-19 23:25] duggelz commented on #3622
Thanks for the bug report!

The regex matches Google's internal log format, which is indeed next to useless for customers.  If you're curious, matching log lines look something like this:

[code]

The format dates back to 1999, so it doesn't necessarily match anything else in the universe :)

[2017-07-20 00:35] alexiskattan commented on #3252
grpcio==1.4.0

[2017-07-20 01:05] jonparrott commented on #2694
Now that tenacity is a dependency of google-cloud-core, it should be significantly easier to build in consistent retires for all libraries.

[2017-07-20 07:42] xmedeko commented on #2694
From my point of view the retry logic should be simple and build just into the core, something like "retry when HTTP 5xx". Otherwise it will be hard to make it consistent across Python, Go, PHP, Java,  C#, ... or a custom HTTP code. I understand it's not possible always, but the main logic should be in the core and the libraries should cover just some edge cases.
If you disagree, then I just hope

[2017-07-20 14:35] umutberkbilgic opened #3638 "Datastore: Return values from delete()"
I love Google Cloud Datastore for Python, after  7-8 hours of fiddling around with it, it finally works as I want it to. However one quick thing that could make life easier is if there was a return flag from functions (such as client.delete(key)) as front end could save a lot of time (both during execution and while developing). It seems to return, well, nothing at the mean time unlike client.get(

[2017-07-20 15:36] dhermes commented on #3638
@umutberkbilgic I'm not sure I understand the request. `Client.delete()` doesn't return because there is nothing to return. "Success" is just indicated by the fact that the `delete()` didn't throw an exception.

[2017-07-20 16:04] jonparrott commented on #2694
@xmedeko I'm not sure what you mean. Our libraries do not share a common core across languages. We have to implement retry in each language's core library.

[2017-07-20 17:18] vladkluev commented on #3562
Hi this is very annoying, to have a whole bunch of exceptions thrown in my application whenever a transaction is aborted. Is there any workaround to this issue at the moment?

[2017-07-20 17:28] dhermes opened #3644 "Bigtable Cluster.create() does not send location"
[Only][1] `serve_nodes` is used in the payload:

[code]

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/08021bd85df19d073b33412dbd4ff4dbc8be008d/bigtable/google/cloud/bigtable/cluster.py#L51-L54

[2017-07-20 17:28] frankyn opened #3645 "Document Storage.Blob setter for metadata"
Hi!

Based on other methods that have a getter and setter for example [bucket.cors](https://googlecloudplatform.github.io/google-cloud-python/stable/storage/buckets.html#google.cloud.storage.bucket.Bucket.cors).

I have a request to document the metadata setter found [here](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/ffd7cca2c1bbcf71b753913eab4d95ec0ca04f8a/storage/google/cloud

[2017-07-20 17:40] #3644 closed

[2017-07-21 06:39] xmedeko commented on #2694
Maybe I have misunderstood your post "it should be significantly easier to build in consistent retires for all libraries". I would expect the retry logic is just in the `google-cloud-core` and the libraries like `google-cloud-storage`, `google-cloud-datastore`, does not need implement it. And I just can set some core settings (e.g. `NUM_RETRIES=6`) to influence all libraries.

I understand there i

[2017-07-21 11:27] umutberkbilgic commented on #3638
Makes a ton of sense, looking more into the source I was able to figure it out thank you.

[2017-07-21 11:27] #3638 closed

[2017-07-21 11:47] umutberkbilgic opened #3649 "Returned entities from "Query.fetch()" have random property order."
**SYSTEM:**
1.Ubuntu 17.04
2. Python 2.7.13 / virtualenv 15.1.0
3. Google Cloud Datastore version 1.1.0

**ISSUE:**
When the following Python code is executed a bunch of times, the properties of entities vary from execution to execution:

[code]

Here are some untouched/parsed data from the server, I will add a new (press enter) before"Entity" for readability purposes.

[code]

Notice that for the

[2017-07-21 16:40] dhermes commented on #3649
@umutberkbilgic This is a symptom of `dict` ordering in Python, which is **intentionally** not deterministic. The ordering of the dictionary is not specified by the backed, it's just a `key->value` mapping.

(I'll try to track down a reference about dictionary ordering in Python.)

[2017-07-21 16:40] #3649 closed

[2017-07-21 16:41] dhermes commented on #3649
See:

- https://docs.python.org/3/using/cmdline.html#envvar-PYTHONHASHSEED
- https://docs.python.org/3/using/cmdline.html#cmdoption-R

[2017-07-21 17:41] jonparrott opened #3652 "Remove all deprecated items from BigQuery before GA"

[2017-07-21 19:42] bmabey commented on #1998
@dhermes Do you have a timeline for when this will be completed?

[2017-07-21 20:05] johnjameswhitman opened #3653 "Update Documentation Link on Pypi Page"
The Pypi package page for [google-cloud-language v0.25.0](https://pypi.org/project/google-cloud-language/0.25.0/) links to the wrong Documentation site (might just be out of step with head).
- Is: https://googlecloudplatform.github.io/google-cloud-python/stable/language-usage.html
- Should be: https://googlecloudplatform.github.io/google-cloud-python/stable/language/usage.html

I couldn't find whe

[2017-07-21 20:13] dhermes commented on #3653
Thanks for filing @johnjameswhitman! I fixed this "broken link" issue in #3631. Unfortunately, AFAIK there is current (https://github.com/pypa/packaging-problems/issues/97) no way to edit package metadata (which includes the README), so that version is "stuck" with a bad link.

The **real** fix going forward is to have fully versioned docs (tough right now with our UBER-package) and to link in the

[2017-07-21 20:34] dhermes commented on #1998
@bmabey Much closer right now (because #3555 is done, w00t!) then we were 24 days ago.

[2017-07-21 22:19] jonparrott commented on #1998
I am bumping this to a p1 and assigning to myself, it's critical that we remove usage of httplib2 before we GA any more libraries.

[2017-07-21 22:20] jonparrott commented on #1998
/cc @lukesneeringer on that last comment.

[2017-07-21 22:20] lukesneeringer commented on #1998
Copy that. Thank you for the effort.

[2017-07-21 22:21] lukesneeringer commented on #1998
Note: Translate is NOT pushed to PyPI yet; do I need to hold it?

[2017-07-21 22:22] jonparrott commented on #1998
@lukesneeringer translate is probably okay. All of the other current GA libraries accept an http parameter that has to be an httplib2 instance, so I'm not sure how we want to deal with that yet.

[2017-07-21 22:42] #3556 closed

[2017-07-22 00:54] nanomosfet opened #3655 "blob.upload_from_file does not support files that are transformed with Pillow and then saved into a file."
## Issue:
After converting file from upload using Pillow bucket shows an empty file for the uploaded image

## Documentation
[Using cloud storage for Python Flexible Environment](https://cloud.google.com/appengine/docs/flexible/python/using-cloud-storage)

## Steps to reproduce:
1. Post form with enctype of multipart/form-data with file upload to server
2. Handle request with Flask and retrieve fi

[2017-07-22 02:12] dhermes commented on #3655
@nanomosfet What doesn't work about it? Can you provide a stacktrace?

I'd guess the issue is that `fs` is not "at the beginning", i.e. `fs.tell() != 0`. If `FileStorage` implements the `file` interface, then you should be able to just call `fs.seek(0)` before uploading.

[2017-07-22 02:26] nanomosfet commented on #3655
@dhermes That was exactly it. Thank you.

[2017-07-22 02:30] dhermes commented on #3655
Well that was easy! Great news, glad I could help :grinning:

[2017-07-22 02:30] #3655 closed

[2017-07-22 15:32] lukesneeringer commented on #3652
Note: BigQuery is not even _beta_ yet.

[2017-07-22 15:33] dhermes commented on #3652
OK good. Let's just delete now?

[2017-07-23 03:00] magoarcano commented on #557
Any news about this. I don't move my projects to Appengine Flexible only because I don't want to migrate my code from ndb to the cloud datastore api.

[2017-07-23 19:38] lukesneeringer commented on #3652
Sure.

[2017-07-24 09:38] jgeewax commented on #557
@magoarcano : See @pcostell's note from above, specifically https://github.com/GoogleCloudPlatform/datastore-ndb-python/blob/master/demo/task_list.py which is a demo app using NDB that runs inside GCE. Pay special attention to the configuration settings that turn things off.

Also, As Patrick says, the performance of this will be sub-par due to synchronous requests and no caching.

It's important

[2017-07-24 12:08] graingert commented on #3103
of course https://pypi.python.org/pypi/txaio might be a better way of implementing it.

[2017-07-24 13:33] evanj opened #3656 "google-cloud-datastore: Import fails with latest setuptools 36.2.1"
Creating a new virtualenv that uses the latest version of setuptools fails to correctly install google-cloud-datastore. Using it will fail with `ImportError: No module named proto.datastore.v1`. The reason seems to be that the package `gapic-google-cloud-datastore-v1` depends on `proto-google-cloud-datastore-v1[grpc]<0.91dev,>=0.90.3`. I believe the `[grpc]` part causes the new versions of setupto

[2017-07-24 13:40] evanj commented on #3656
I just noticed: this may actually be a setuptools bug with the latest release. See https://github.com/pypa/setuptools/issues/1099 and https://github.com/pypa/setuptools/pull/1100

[2017-07-24 13:42] evanj commented on #3656
I'm going to close this since after looking at those issues, this appears to be a known bug, and it seems like another setuptools release is happening to fix it, so hopefully this will stop occurring.

[2017-07-24 13:42] #3656 closed

[2017-07-24 14:06] lukesneeringer commented on #3624
I am going to move this to a Google Doc. This is not a particularly good venue. :-)

[2017-07-24 14:06] #3624 closed

[2017-07-24 14:12] lukesneeringer commented on #3624
Document created and shared with contributors.

[2017-07-24 14:31] MeteKem commented on #3152
Facing the same issue in a critical moment. Any updates @lukesneeringer @dhermes ?

[2017-07-24 16:09] jonparrott commented on #3103
@graingert oh that's super interesting. However, this seems to re-enforce the fact that we can't really support this without breaking our public interface and without seriously re-thinking all of our internals. We'd have to start from scratch with this in mind. :/

[2017-07-24 16:10] jonparrott commented on #3652
SGTM, I'll just drop it then.

[2017-07-24 16:11] graingert commented on #3103
@jonparrott with https://github.com/crossbario/txaio/issues/113 and https://github.com/crossbario/txaio/issues/110

you probably won't have to change that much.

[2017-07-24 16:14] jonparrott commented on #3103
inlinecallbacks would help, but this is an enormous undertaking and a lot of our code that deals with IO is non-trivial (resumable-media).

I'm open to doing this, but from my perspective it seems like the tooling isn't quite ready and it would take an enormous amount of engineering effort to get all of our plumbing ready- plus, we have a consider how gRPC plays into all this.

[2017-07-24 16:15] dhermes commented on #3103
FWIW, `resumable-media` would be the easiest thing of all to add support for because the actual I/O is "isolated" (I took the sans-I/O approach when writing it)

[2017-07-24 16:16] graingert commented on #3103
@jonparrott @dhermes yeah a sans-io approach for this whole library would be the best option!

[2017-07-24 16:16] jonparrott commented on #3103
then it might be a good place to proof-of-concept this?

[2017-07-24 16:30] dhermes commented on #3103
@jonparrott I'm happy to review PRs but I don't have cycles.

As an example, take a look at the very small amount of code in [`ResumableUpload.transmit_next_chunk`][1]:

[code]

Every public method is split into "prepare" and "process" stages in the same way.

[1]: https://github.com/GoogleCloudPlatform/google-resumable-media-python/blob/d296d036453539f03b956f33112baa740d5a723f/google/resumable_me

[2017-07-24 18:43] tseaver opened #3659 "Expose read-isolation parameters in 'Database.read'/'Database.execute_sql'"
~~And therefore in `Snapshot.read` / `Snapshot.execute_sql`.~~

And therefore in `Session.read` / `Session.execute_sql`

From https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3615#issuecomment-317510958

[2017-07-24 18:49] WillianFuks opened #3660 "Question about `Table.upload_from_file` method"
Hello,

This is just a quick question about something that got me confused. I was recently searching for uploading media content for bigquery and found that it should be used with the method `Table.upload_from_file`. I was wondering, shouldn't this method be located in the job.py module, something like `LoadTableFromMediaJob`? (similar to `LoadTableFromStorageJob`).

Maybe this would even remove s

[2017-07-24 19:58] vkedia commented on #3659
I dont think `Snapshot.read` and `Snapshot.execute_sql` should take in isolation parameters since all reads/queries within a multi use snapshot should use the same isolation. So it will be confusing if users can specify those as a parameters for read/query.
`Database.read` and `Database.execute_sql` shouls take in these parameters and pass those to the constructor of snapshot.

[2017-07-24 21:17] #3652 closed

[2017-07-24 21:45] tseaver commented on #3659
Oops, I mean to say `Session.read` and `Session.execute_sql` (because those are the ones called by `Database.read` / `Database.execute_sql`.

[2017-07-24 21:55] tseaver commented on #3660
@WillianFuks The rationale for having this method on `Table` is that it doesn't involve "jobs" at all:  it uses the "media upload" interface against a required-to-exist table.

[2017-07-24 21:55] #3660 closed

[2017-07-25 03:58] WillianFuks commented on #3660
Hi @tseaver , thanks for the reply!

I considered this as a Job because it's defined as a [job.insert](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/insert) method with the same [load.configuration](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.load) as `LoadTableFromStorageJob` (main difference been the post URL that is `upload/bigquery/v2/projects/pr

[2017-07-25 04:02] jonparrott commented on #3660
This is interesting feedback. The last time I touched the table class
during the resumable upload changes I noticed it was fairly large (pylint
is also not happy with it). I couldn't think of a good way to break it up,
but perhaps this makes sense?

/cc @swast as well.

On Mon, Jul 24, 2017, 8:59 PM Willian Fuks <notifications@github.com> wrote:

[2017-07-25 10:25] kipi78 opened #3666 "Storage: TypeError: request() takes at least 3 arguments (3 given)"
Hi,

I'm having trouble while using google.cloud for Storage. I start by trying to list blobs in a bucket.
I'm trying to get threw the proxy of my organization. So I try to create my own http connection in order to specify the proxy, but even with a simple urllib3.PoolManager(), I keep getting the error and stacktrace bellow:

Error:
TypeError: request() takes at least 3 arguments (3 given)

Stack

[2017-07-25 16:54] tswast commented on #3660
+1 to having a common `LoadConfigurationSchemaDefinition` and similar shared objects for the requests. I'm starting to compile a design doc for a redesign/refactoring of the BigQuery client libraries and will take this into account.

[2017-07-25 17:03] dhermes commented on #3666
@kipi78 The issue is your transport:

[code]

Until #1998 is closed, you must use an `httplib2.Http` transport. From [the docstring][1]

----

Is there any reason you passed an explicit `_http` to the `Client` constructor? The leading underscore is a sign that `_http` isn't part of the public API.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/dd372df41fb0abb349f438118207078

[2017-07-25 17:31] #3645 closed

[2017-07-25 17:37] frankyn commented on #3645
Thanks @dhermes!

[2017-07-25 17:43] dhermes commented on #3645
Thanks for filing @frankyn!

[2017-07-25 18:39] tseaver commented on #3562
@vladkluev I'm hopeful we will have a fix pushed out shortly (this bug blocks PR #3663).

[2017-07-25 18:44] tseaver commented on #3562
So, the issue is that the `streaming_read` and `streaming_execute_sql` calls are propagating the `_Rendezvous` error, rather than wrapping them up in a `GaxError` as the `commit` call does.

[2017-07-25 20:16] tseaver commented on #3021
@jonparrott `read` takes a keyset and returns a sequence of row tuples.  If we implement `read_rows` as a thin wrapper around `read`, what semantics should we have for a read which returns no rows?  Raise a `NotFound`?  Return `None`?

[2017-07-25 20:16] dhermes commented on #2549
This issue seems to be un-fix-able because the "internals" have changed so much.

@patrick-ogrady LMK if you're still having this issue and I'm happy to re-open.

[2017-07-25 20:16] #2549 closed

[2017-07-25 20:17] dhermes commented on #2728
Moot by #3667 and #3668.

[2017-07-25 20:17] #2728 closed

[2017-07-25 20:17] jonparrott commented on #3021
I'm leaning towards `NotFound` (like datastore), but @vkedia should weigh in.

[2017-07-25 20:17] dhermes commented on #2796
#3667 and #3668 will go most of the way here

[2017-07-25 20:45] tseaver commented on #3364
@jonparrott Aliasing the "scalar" types is easy (PR #3670).  What do you envision for array / struct?

[2017-07-25 20:51] #3014 closed

[2017-07-25 21:29] jonparrott commented on #3364
@tseaver would `list` and `dict` work, e.g.:

[code]

[2017-07-25 21:31] jonparrott commented on #3364
Oh nevermind, ignore my last comment, I'm being thick.

What does it look like today to if you need to specify an array / struct?

[2017-07-25 22:40] bjwatson commented on #3123
@vam-google @lukesneeringer This is fixed now, correct?

[2017-07-25 22:51] bjwatson commented on #3390
@tseaver Can you work on this next? @vkedia wants this to be done before we declare Beta.

[2017-07-25 22:51] bjwatson commented on #3562
@tseaver I'm discuss this with @lukesneeringer offline.

[2017-07-25 22:59] lukesneeringer commented on #3562
Repeating this back to ensure I understand: Basically this is a situation where one call wraps the errors while others do not? Is this a configuration difference? Something else?

[2017-07-25 23:02] tseaver commented on #3123
@bjwatson I don't see anything in the gax-python repository which would have fixed the issue, which is why I opened https://github.com/googleapis/gax-python/issues/198

[2017-07-25 23:06] tseaver commented on #3562
@lukesneeringer the new system test in #3663 provokes it routinely:  the gRPC `ABORTED` return triggered by `read_streaming` is *not* wrapped, while the other system tests (which mean to trigger it in the `commit` call) do get it wrapped.

[2017-07-25 23:18] tseaver commented on #3390
All the pools are designed to be used via a Python context manager, which prevents any possibility of leaked sessions (that is the point of the context manager).  E.g.:

[code]

No matter what, the session gets returned to the pool at the end of the `with` block.  In the case of `BurstyPool`,  if the pool is over its target size at that point, the session is just discarded (after a call to its `de

[2017-07-25 23:49] bjwatson commented on #3390
Thanks for the clarification @tseaver.

@vkedia Given this explanation, are you okay with the the behavior of `BurstyPool`? It sounds like there should be no leaks, but it can temporarily exceed the configured session pool size in the interest of not blocking on an empty pool.

[2017-07-25 23:52] bjwatson commented on #3123
@tseaver This was fixed by @vam-google in https://github.com/googleapis/gax-python/pull/193. He might have independently discovered the same underlying bug.

[2017-07-26 00:03] tseaver commented on #3123
Great, now we just need a released version which incorporates that fix.

[2017-07-26 00:14] VikramTiwari opened #3673 "Question: How to upload array of strings data in bigquery using csv upload method."
The schema requires being updated to be `STRING` with mode as `repeatable`. But with this schema when I try to push a CSV file, it gives me following error:
[code]

Anything I might be missing?

Related SO question: https://stackoverflow.com/questions/45315063/how-to-add-array-of-strings-as-a-schema-value-for-bigquery/45315110

[2017-07-26 00:14] bjwatson commented on #3123
@lukesneeringer Can you publish an updated GAX?

[2017-07-26 00:28] tseaver commented on #3673
This is a limitation of the CSV file format, which can't really represent multi-valued fields:  each "column" corresponds to a single field.

The [docs for nested / repeated fields](https://cloud.google.com/bigquery/docs/data#nested) say:

[2017-07-26 00:28] #3673 closed

[2017-07-26 12:30] tillahoffmann opened #3675 "`Blob.upload_from_filename` fails silently if the blob name starts with '/'"
Using `google-cloud-storage==1.2.0`, attempting to upload files using `Blob.upload_from_filename` fails silently (i.e. no error is raised but the blob is not uploaded) if the blob name starts with a forward slash `/`. A basic example is given below.

[code]

[2017-07-26 12:58] kipi78 commented on #3666
Thank you for your response.

I wrote _http according to this doc:
http://google-cloud-python.readthedocs.io/en/latest/storage/client.html

Okay, I read that it was not an httplib2 object but an urllib3 object, but I tried with a httplib2.Http.
As I said I want to get threw my proxy. Here is my code with both "simple" http transport and one with proxy settings:

`
httpStorage = httplib2.Http(proxy

[2017-07-26 14:26] mianasbat opened #3676 "TypeError: __init__() got an unexpected keyword argument 'r' Google-cloud-sdk"
I am trying to setup google-cloud-sdk on Centos 6.6 Final. I installed Python 2.7.6 along with default 2.6.6. I am sure that the install.sh is using python2.7 because I tried python3.2 and python2.6 in which case it gives an error that you need python2.7.

What I assume is that google-cloud-sdk is not compatible with Centos 6.6. However I couldnt find any evidence in favour or against on google.

[2017-07-26 16:39] dhermes commented on #3676
@mianasbat This is a repository for the Python client library for Google Cloud APIs.

@jonparrott Could you help redirect for where to file issue for the Google Cloud SDK?

[2017-07-26 16:39] #3676 closed

[2017-07-26 16:47] jonparrott commented on #3676
https://issuetracker.google.com/issues/new?component=187143&template=800102

[2017-07-26 16:53] mianasbat commented on #3676
Thank you guys. I posted it on the mentioned website :)

[2017-07-26 17:08] dhermes commented on #3675
Whoa! Thanks for the bug report @tillahoffmann, I'll look into it.

[2017-07-26 17:10] dhermes commented on #3666
It seems to me that you should be passing `_http=authed_http`.

I am pre-emptively closing this out, it seems you've figure out how to configure against your proxy?

While waiting on #3674 / #1998, you may also want to check out https://github.com/GoogleCloudPlatform/httplib2shim

[2017-07-26 17:10] #3666 closed

[2017-07-26 17:10] dhermes commented on #3666
Let me know if there are still concerns and we can re-open and discuss if need be.

[2017-07-26 17:20] tseaver commented on #3675
I can't reproduce:

[code]

[2017-07-26 17:33] tseaver commented on #1430
The `storageClass` property can apparently be set via `update` but not `patch`, but we expose a custom API which does that now via a rewrite.

[2017-07-26 17:33] #1430 closed

[2017-07-26 19:17] kir-titievsky commented on #2593
This has now been included in https://cloud.google.com/pubsub/docs/emulator .
@Temikus How might we make this more discoverable?

[2017-07-26 20:15] dhermes opened #3681 "Vision "manual" system tests are broken"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2591

[code]

[2017-07-26 20:19] nprogers-WPE commented on #2840
Docs need to be updated: https://googlecloudplatform.github.io/google-cloud-python/stable/bigquery/query.html

[2017-07-26 20:50] dhermes commented on #2840
@nprogers-WPE Check out the `latest` docs: https://googlecloudplatform.github.io/google-cloud-python/latest/bigquery/query.html

@lukesneeringer I'm kind of at a loss with what to do with our `stable` docset (which is the default that people land in from https://googlecloudplatform.github.io/google-cloud-python/)

[2017-07-26 22:14] mbrukman commented on #2411
@garye, @skyfox: since PR #3401 was merged, can we close this issue, or is there more work left?

[2017-07-26 22:48] tseaver commented on #2411
AFAICT, the merge of #3401 should have closed this issue.

[2017-07-26 23:41] #2411 closed

[2017-07-26 23:56] dirtytrashgirl opened #3684 "Add support for Dataflow job status and monitoring"
There is a [dataflow REST API](https://cloud.google.com/dataflow/docs/reference/rest/) which can  monitor jobs and get job status. These would be useful methods to have support for here.

[2017-07-27 07:32] kipi78 commented on #3666
No, my comments meant what I tried to simplify the case. I already tried with `_http=authed_http` which leads to the `TypeError: request() takes at least 3 arguments (3 given)` error. With the bellow code:

[code]

I will have a try with httplib2shim, thank you.

[2017-07-27 07:57] kipi78 commented on #3666
So, with httplib2shim, with the sample code from the doc which uses GoogleCredentials from oauth2client.client, the problem is that google-cloud-python Client only supports credentials from google-auth-library-python.

My code:

[code]

As I need to use ca_certs, I tried to implement this:

with the bellow code:

[code]

Which still leads to the same error, whether I try with a simple PoolManager

[2017-07-27 07:58] dhermes commented on #3666
@jonparrott Can you weigh in here?

[2017-07-27 08:23] danqing opened #3685 "Unable to upload empty file?"
macOS 10.12.6, Python 3.6.2, google-cloud-storage 1.2.0.

It seems that if a file is empty, I cannot upload it:

[code]

Error:

[code]

When uploading a folder, it'd be ideal if I don't need to check whether a file is empty before uploading. Or am I doing something wrong?

Thanks!

[2017-07-27 13:26] tseaver commented on #3685
@danqing Thanks for the report!  I believe this is a bug in https://github.com/GoogleCloudPlatform/google-resumable-media-python/, maybe due to the problematic behavior of `read` (returning an empty string at EOF).

@dhermes Can you clarify?

[2017-07-27 14:07] amsokol opened #3686 "pylint and Visual Studio Code autocomplete does not see "google/cloud/*" modules"
Dear All,

1. Windows 10

1. Python 2.7.13

1. `pip show google-cloud` output:
Name: google-cloud
Version: 0.26.1
Summary: API Client library for Google Clou
Home-page: https://github.com/GoogleCloudPl
Author: Google Cloud Platform
Author-email: jjg+google-cloud-python@googl
License: Apache 2.0
Location: c:\bin\python27\lib\site-packages

pylint and Visual Studio Code autocomplete does not see `go

[2017-07-27 15:31] lukesneeringer commented on #3562
Okay, so it is literally non-deterministic then?

[2017-07-27 15:35] tseaver commented on #3562
It fails repeatably on #3663.  My *suspicion* is that the GAX/GAPIC streaming support is involved (our `read` and `execute_sql` methods actually call the streaming APIs).

[2017-07-27 15:39] tseaver commented on #3562
@vladkluev The `ABORTED` error is *supposed* to propagate as a `GaxError`, but is somehow escaping as the lower-level `grpc._Rendezvous`.  The `run_in_transaction` code handles retrying correctly when `GaxError` is raised.

[2017-07-27 15:49] vladkluev commented on #3562
Ah gotcha

[2017-07-27 16:21] jonparrott commented on #3666
I'm not able to reproduce, here's the code I used:

[code]

I would strongly encourage waiting until #1998 is closed as this will all be significantly easier then.

[2017-07-27 17:10] dhermes commented on #3686
@amsokol Unfortunately this is an issue with Visual Studio and not with these packages.

The `google` and `google.cloud` packages are namespace packages, so they get imported in a special way by Python. They do have `__init__.py` modules but those are typically untouched because `pth` files get added when these namespace packages get installed.

See: https://packaging.python.org/guides/packaging-n

[2017-07-27 17:10] #3686 closed

[2017-07-27 17:11] dhermes commented on #3686
@amsokol I closed the issue pre-emptively because I don't think there's anything more we could be doing. I'm happy to continue discussing though, I just didn't want the issue to languish.

[2017-07-27 17:21] dhermes commented on #1214
For those still following this issue, #3674 is putting the final nail in our usage of `httplib2`

[2017-07-27 17:29] dhermes opened #3689 "Use the Client's http object when talking to google-resumable-media"
This is intended to be done after #3674. Currently, in the two places `google-resumable-media` is used:

[code]

we manually create a transport every time the upload/download APIs are invoked ([`storage`][1] and [`bigquery`][2]).

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/6fff098ce998aac90738b32b0ac500c9a8d9fb65/storage/google/cloud/storage/blob.py#L365-L381
[2]: https:/

[2017-07-27 17:57] dhermes opened #3690 "Speech system test are broken"
This likely occurred in #3607.

https://gist.github.com/dhermes/82fd3e231cd1abc7670f25a74e2626ab

Failure is:

[code]

[2017-07-27 17:57] dhermes commented on #3690
/cc @jonparrott

[2017-07-27 18:00] jonparrott commented on #3690
@lukesneeringer this is occurring only with the http fallback. I thought we were looking to delete that for speech?

[2017-07-27 18:21] #1998 closed

[2017-07-27 18:23] dhermes commented on #1998
Ahhhhhhh! :raised_hands: :confetti_ball: :1st_place_medal: :tada: :taco:

[2017-07-27 18:24] jonparrott commented on #3522
@tswast this is now possible since #1998 has been resolved.

[2017-07-27 18:27] dhermes commented on #3522
Yay! (If only GitHub had a "blocked by" feature with nice notifications.)

[2017-07-27 18:37] tseaver commented on #1998
GOOOOOOOOOOOOOOOOOOOOOAL!!!

[2017-07-27 20:51] tseaver commented on #3364
@jonparrott For arrays, you have to pass the type of the elements:

[code]

For structs, you have to construct / pass a `StructType` describing the members:

[code]

[2017-07-27 22:56] #3522 closed

[2017-07-27 23:03] bjwatson commented on #2683
@lukesneeringer @dhermes The issue that @nathanielmanistaatgoogle referenced (https://github.com/grpc/grpc/issues/11043) was fixed on June 8. Is this still an issue?

[2017-07-28 02:08] dhermes commented on #2683
@bjwatson Checking right now

[2017-07-28 02:10] 99heitor opened #3694 "Can't get this library to work with Google App Engine + Google Vision"
Is it possible to use this library to interact with the Google Cloud Vision API from an app running on Google App Engine? I'm having some trouble.
Here is my error log when deploying the app:

[code]

It seems to be a problem similar to #3262 (which is closed and I can't reopen, since the original poster seems to have forgotten to do so).  My setup is almost exactly as his, but I just installed `g

[2017-07-28 02:13] dhermes commented on #3694
@lukesneeringer I can't really comment on what's in the GAPIC surface that might keep it from working on GAE. Can you step in?

[2017-07-28 02:23] dhermes commented on #2683
The example still fails:

[code]

This fails in Python 2.7 with `grpcio==1.4.0`

[2017-07-28 09:19] TechBK opened #3695 "Fail `table.insert_data`"
1. OS version: ubuntu 17.04
2. Python version: Python 3.6.1
3. Lib version:

[code]

4. After i call `table.insert_data`, `result` object is :
[code]

5. Code example:

* table's schema:

[code]

* data test:

[code]

[2017-07-28 09:35] kipi78 commented on #3666
Okay, the thing is that you passed an AuthorizedHttp to httplib2shim.Http(), while I passed the ProxyManager and applied the AuthorizedHttp on httplib2shim.Http(). So, I don't have this error anymore with your code :)

The thing is now to use the ProxyManager, it looks like I don't manage to do it. I need to configure a proxy with user/password and a certificate. My code bellow leads to this error

[2017-07-28 10:55] dw opened #3696 "generate_signed_url is horrendously slow"
Calls to `google.cloud.storage.Blob.generate_signed_url()` are too slow.

### OS type and version

OS X latest / Linux Ubuntu 17.04 / Debian 8

### Python version and virtual environment information `python --version`

2.7.10

### google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip

[code]

### Stacktrace if available

[code]

### Steps to reproduce

1. Create

[2017-07-28 11:34] dw commented on #3696
The implementation from https://github.com/GoogleCloudPlatform/storage-signedurls-python looks much more competitive, it manages closer to 18ms per URL, vs. 47ish for this package.  I'm still deeply surprised that RSA signing would be so slow, even with the OpenSSL implementation used by storage-signedurls-python

[2017-07-28 12:04] arthurdarcet commented on #3696
with the cryptography package:

[code]

clocks at 1.2ms per signature on my machine

[2017-07-28 14:42] daspecster commented on #1998
Congrats guys!

[2017-07-28 14:57] dw commented on #3696
Thanks for this! I've borrowed it for our application as a temporary measure. I wonder why PyCrypto is so much slower

[2017-07-28 15:15] dhermes commented on #3696
I was going to point this out, but you've already noticed (which is great). We used to support pyOpenSSL and PyCrypto (as well as `rsa`) in `oauth2client`, but I'm not sure what the current "state of the art" is in `google-auth` (will check now).

RE: PyCrypto, that library is no longer maintained, so we won't be adding support for credential signing from it.

[2017-07-28 15:23] arthurdarcet commented on #3696
PyCrypto was more or less replaced by pyca/cryptography: https://cryptography.io/en/latest/
It would be very nice to be able to use this in oauth2client, but I guess the issue is on the wrong repo

[2017-07-28 15:28] dhermes commented on #3696
@arthurdarcet I am currently putting together a "proof-of-concept" signer using pyOpenSSL, so hopefully this will go somewhere. (I've not used `pyca/crytography` enough to be familiar.)

I'd like to emphatically point out that `oauth2client` is "dead", and development has moved to `google-auth`. (So that's where we'd want support for these signers.)

[2017-07-28 15:39] jonparrott commented on #3666
Can you make any requests using the proxymanager alone? Like just
manager.get('http://httpbin.org')?

On Fri, Jul 28, 2017, 2:35 AM kipi78 <notifications@github.com> wrote:

[2017-07-28 15:40] dw commented on #3696
@dhermes Note that pyOpenSSL has been on life support under PyCA for the last few years, and before that it had no active maintainer. The PyCA guys recommend the cryptography package for all new code

[2017-07-28 16:12] dhermes commented on #3696
@dw Thanks for the info. Here is the `pyOpenSSL` example I was working on (though maybe it's not so relevant as you point out):
https://gist.github.com/dhermes/036d4cb068e692a6d6e4a1f6e10e8b29

There isn't a great way in `google-auth` of getting this in use, here is a super hacky approach.

[code]

actually comparing these two we see about a 46x speedup:

[code]

[2017-07-28 16:12] dhermes commented on #3696
@jonparrott We definitely need to move this conversation over to `google-auth`.

[2017-07-28 16:14] jonparrott commented on #3696
Yep, we want to add ECC signers to Google auth so using cryptography for
RSA is an option. We'd just need to make it optional.

On Fri, Jul 28, 2017, 9:12 AM Danny Hermes <notifications@github.com> wrote:

[2017-07-28 16:19] dhermes commented on #3695
@TechBK The issue is that "Record leaf types are not supported." (see the error message.)

@tswast I am not quite sure what that means?

[2017-07-28 16:39] tswast commented on #3695
I think this is a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/2951.

I think we need some examples of inserting nested records in the docs, but for now you can look at the system test that was added for how to do it. https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3171/files

[2017-07-28 16:39] #3695 closed

[2017-07-28 16:53] jonparrott commented on #3364
@tseaver that's pretty rough. Is the proposed change here to make it into something like:

[code]

[code]

[2017-07-28 16:53] dhermes commented on #3696
I add a `cryptography` signer to my [gist][1] (based on the [above][2] from @arthurdarcet):

[code]

----

Post-Script: Though it (`cryptography`) seems to be marginally faster than pyCrypto, it isn't actually. I was playing YouTube videos before so my laptop was working harder. In the more restful state, the previous times became:

[code]

[1]: https://gist.github.com/dhermes/036d4cb068e692a6d6e4

[2017-07-28 16:58] jonparrott commented on #3694
The short answer is that due to limitations in the App Engine standard environment, this library is not supported there.

The long answer(s) are over at #1893. I'm going to go ahead and close this as a duplicate, but by all means please continue to comment- the feedback is useful in communicating issues with the App Engine team. :)

[2017-07-28 16:58] #3694 closed

[2017-07-28 17:00] dhermes commented on #3695
Thanks a lot Tim!

[2017-07-28 17:23] tseaver commented on #3364
@jonparrott Assuming you meant to have the open square bracket after `types.Struct` (the order matters) that should be straightforward.

[2017-07-28 17:26] jonparrott commented on #3364
Actually I didn't, I meant for types.Struct to just use *args. But yeah, let's do it. :)

[2017-07-28 17:39] tseaver commented on #3364
@jonparrott Should we name those factories `ArrayParamType` /  `StructParamType` (to be equivalent to the `FOO_PARAM_TYPE` aliases?

[2017-07-28 17:44] jonparrott commented on #3364
Sure, if that's all they're used for.

[2017-07-28 17:44] tseaver commented on #3364
Conceptually they describe types of returned cell values, too, but we don't expose that.

[2017-07-28 19:18] #3364 closed

[2017-07-28 21:39] danqing commented on #3685
Friendly ping @dhermes :)

[2017-07-29 00:57] bjwatson commented on #3562
@eoogbe can you fix this issue in GAPIC/GAX code next week? I'll be OOO Monday and Tuesday, but I think @tseaver can help you understand what's needed here.

This is blocking us from finishing a system test (https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3663) required for the Spanner Beta.

[2017-07-29 01:05] bjwatson commented on #2683
@nathanielmanistaatgoogle, looks like the gRPC fix was insufficient for this issue. Do you have any insight into what else might be going wrong?

FYI @lukesneeringer

[2017-07-29 06:02] TechBK commented on #3695
But, i see document of `insert_data` function at [#L750](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/table.py#L750):
[code]
I think this document is not clear

[2017-07-30 17:02] tswast commented on #2926
At least some of this issue was fixed in https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3648

[2017-07-31 09:06] kipi78 commented on #3666
Yes it looks like the ProxyManager alone is working:

[code]

The expected HTML is printed.

[2017-07-31 11:59] dw opened #3703 "Blob.download_to_file() downloads to RAM instead"
Hello,

Blob.download_to_file() with no chunk size set causes the file to be pulled entirely into RAM before starting to write it to the supplied file object. This is due to google/resumable_media/download.py's "sans I/O" approach.

I can work around it by setting the chunk size parameter, however this changes both what I am billed for (multiple GETs rather than a single GET) and application's lat

[2017-07-31 12:50] dw opened #3704 "cloud/streaming/http_wrapper.py should not log to the root logger"
Line 394.

pip freeze:

[code]

[2017-07-31 14:06] tseaver commented on #3703
Note that as of PR #3654 the `google.cloud.streaming` subpackage is no longer part of the library (it has been replaced by a dependency on `gooogle.resumable_media`.

[2017-07-31 14:06] tseaver commented on #3704
https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3654

[2017-07-31 14:07] tseaver commented on #3704
Note that as ov https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3654 the `google.cloud.streaming` package is gone:  its functionality is now supplied by the external `google.resumable_media` dependency.

[2017-07-31 15:15] dhermes commented on #3704
Thanks for reporting, but @tseaver is correct, that code is now dead!

[2017-07-31 15:15] #3704 closed

[2017-07-31 15:31] dhermes commented on #3703
I don't think that's called for, though I do appreciate you talking the time to file the issue. I designed `google-resumable-media-python`, so you can put the blame 100% on my shoulders.

The sans-I/O approach has nothing to do with the "missing feature" of piping the HTTP payload directly into a file. What's more, the behavior of the **old** code (i.e. `google.cloud.streaming`) is mostly the same

[2017-07-31 16:05] dw commented on #3703
It seems the sans-IO approach requires a logical abstraction for the entire response, which necessitates it living temporarily on disk or in RAM

I'm confused about this concept of smart chunking -- both producer and consumer of the stream already apply chunking (libc / Python io lib's buffering on the consumer side), and kernel's TCP windowing on the producer side, it doesn't seem like you should

[2017-07-31 16:08] jonparrott commented on #3666
I wonder if the headers are being overridden. Why happens if you make a request and specify some random headers? `http.request('GET','http://httpbin.org', headers={'foo': 'bar'})`?

[2017-07-31 19:29] #3689 closed

[2017-07-31 20:19] sschatts opened #3706 "How to retrieve 'totalBytesBilled'"
1. OS type and version: Mac OS Sierra
2. Python version and virtual environment information `python --version`: Python 2.7.13
3. google-cloud-python version `pip show google-cloud`, `pip show google-<service>` or `pip freeze`: google-cloud-bigquery==0.25.0 and google-cloud-core==0.25.0

Issue: Trying to monitor costs of queries on BigQuery by accessing the 'totalBytesBilled' field which is availab

[2017-07-31 20:29] tseaver commented on #3706
@sschatts Thanks for the question:  it looks like that feature got smuggled into the V2 API after our implementation (there are other new query statistics, too!).

@tswast Can you confirm?

[2017-07-31 20:41] tseaver commented on #3706
To my eye, it appears that `all` the `query`--specific statistics fields are unmapped, as well as `extract.destinationUriFileCounts`.

[2017-07-31 20:48] tseaver commented on #3706
- `query`-specific staticstics support should be added to `job.QueryJob`, but might also need to be plumbed through to `query.QueryResults`.
- The `extract.destinationUriFileCounts` statistic should be added to `job.ExtractTableToStorageJob`.

[2017-07-31 22:34] dhermes opened #15633 "Add (optional) hash validation of objects"
- [x] Add MD5 hash check for `Download` with `stream`, `requests` only (#32)
- [ ] Add MD5 hash check for `Download` with `stream`, generic transport (i.e in `_download.py`)
- [ ] Add MD5 hash check for `Download` **without** stream
- [ ] Add MD5 hash check for `ChunkedDownload`
- [x] Add CRC32C hash check for `Download` (necessary for composite objects, though will be very slow unless `crcmod` is

[2017-08-01 09:47] kipi78 commented on #3666
As soon as I insert an error in the login/password in the headers, this small request does not work. Same thing if I try with random headers. So, I guess the headers are not overridden.

[2017-08-01 11:54] zdenulo opened #3709 "read/write Google Cloud Storage from local Google App Engine"
short question: Is uploading/downloading to Google Cloud Storage from local Google App Engine working?

long question:
I get this error:
[code]

everything works ok when I deploy.
I tried different combinations of authentications based on https://google-cloud-python.readthedocs.io/en/latest/core/auth.html

Strange thing though is that I can for example list buckets in the project locally which mea

[2017-08-01 16:03] jonparrott commented on #3666
Are you saying that adding any headers causes it to fail? Can I see the code and traceback?

[2017-08-01 17:35] dhermes commented on #3709
@jonparrott Is there some magical incantation needed for using `requests` on GAE (in this case the dev server)?

[2017-08-01 17:36] jonparrott commented on #3709
Even with that we just fundamentally do not support App Engine standard. See #1893 for tracking standard support.

[2017-08-01 17:56] jonparrott opened #3710 "Storage: bucket.labels surprisingly returns a deepcopy"
I expected this to work:

[code]

Turns out `bucket.labels` returns a deepcopy, so I have to do this instead:

[code]

[2017-08-01 18:01] dhermes commented on #3710
I'm not sure what the right move is. There are definitely pros and cons here, i.e. I can imagine a user surprised they mutated the `Bucket` when they didn't intend to.

[2017-08-01 18:05] jonparrott commented on #3710
Yeah I agree. Could we at least document it better? The docstring for labels is actually totally wrong: https://google-cloud-python.readthedocs.io/en/latest/storage/buckets.html#google.cloud.storage.bucket.Bucket.labels

[2017-08-01 18:08] dhermes commented on #3710
Copy-pasta strikes again!

[2017-08-01 18:10] jonparrott opened #3711 "Storage: there is no way to remove labels from a bucket"
Attempting to remove a label from a bucket does not appear to work:

[code]

[2017-08-01 19:05] tseaver commented on #3710
The other properties which contain non-scalar values (`cors`, `lifecycle_rules`) also return copies.  I'm working on a PR which adds the following note (modified to use values appropriate to each one):

[code]

[2017-08-01 19:35] tswast commented on #3506
A reload function probably isn't the best solution. After thinking about this, I think `QueryResults` should also implement the futures interface.

[2017-08-01 19:41] tseaver commented on #3711
After stopping inside the `patch` call with the empty labels:

[code]

stepping over the API call leaves an `api_response`:

[code]

[2017-08-01 19:43] jonparrott commented on #3506
I don't think `QueryResults` should implement the future interface, rather, I think that `QueryJob` (which already has the futures interface) should use the `getQueryResults` API method instead of `getJob`.

[2017-08-01 19:44] jonparrott commented on #3711
@tseaver I'm not sure how to process your last comment. Are you saying we're sending the right stuff to the server?

[2017-08-01 19:52] tseaver commented on #3711
If I tweak the code to assign a different, non-empty mapping:

[code]

It passes the new value:

[code]

But the back-end returns the *union* of the two:

[code]

[2017-08-01 19:53] tseaver commented on #3711
@jonparrott Yes, we are:  we send along `{'labels': {}}` as the payload for the `patch` API.

[2017-08-01 19:54] jonparrott commented on #3711
@frankyn can you figure out who to talk to about the backend? :)

[2017-08-01 19:58] tseaver commented on #3711
This is the (failing) [system test](https://github.com/tseaver/google-cloud-python/commit/240fbe19aa74eb6f769b460f57768c982cc33018) I'm using to check out the payload (by adding `pdb`).

[2017-08-01 19:59] tseaver commented on #3711
@dhermes Maybe *this* is the usecase which finally justifies wrapping the `buckets.update` API. ;)

[2017-08-01 20:01] #3710 closed

[2017-08-01 20:16] tseaver commented on #3711
What a hoot!  My guess was right!  If I hack in an `update` method:

[code]

and tweak the system test to use it:

[code]

it passes!

[2017-08-01 20:16] tseaver commented on #3711
Maybe something in the [patch semantics docs](https://cloud.google.com/storage/docs/json_api/v1/how-tos/performance#patch) would explain this?

[2017-08-01 20:34] jonparrott commented on #3711
I think it's definitely because of patch semantics. Adding `bucket.update` and using that in the sample instead of `patch` seems like a reasonable way to solve this.

[2017-08-01 20:53] #3703 closed

[2017-08-01 21:01] frankyn commented on #3711
After reviewing patch semantics, the issue I see here is the patch request is using the following:
[code]

When it should be using:

[code]

To remove the data in that property. [It's recommended](https://cloud.google.com/storage/docs/json_api/v1/how-tos/performance#patch-put-diff) that patch be used because it reduces the amount of data that requested and sent. However, the python client library

[2017-08-01 21:05] dhermes commented on #3510
Now that we have banished the logging failures, this is keeping our builds from being green. Though the discussion is potentially interesting, it'll be quite easy (for someone who has spare cycles) to just add the retry in the appropriate place to account for the eventual-consistency

[Recent failure][1]

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2675

[2017-08-01 21:08] tseaver commented on #3711
@jonparrott #3714 adds the `update` method for both `Blob` and `Bucket`.

[2017-08-01 21:12] tseaver commented on #3711
@frankyn The back-end also merges existing labels with new labels under `PATCH`:  is that expected behavior?  If we wanted to clear an individual label using patch, would we need to pass it's value as `null` ?  E.g.:

[code]

[2017-08-01 21:21] frankyn commented on #3711
Ah I see, I don't believe so given the following comment:

I'll follow-up with the POC for Labels about this.

Thanks!

[2017-08-01 21:28] frankyn commented on #3711
Disregard my last comment.. Object != Array, but I'll follow-up anyway to verify expected result.

[2017-08-01 21:40] frankyn commented on #3711
@tseaver I got a prompt response. It's an expected result for this operation. The payload you presented above is also the expected way to remove a label from the object.

Delete all labels
[code]

Delete a specific label
[code]

Add a new label
[code]

[2017-08-01 22:00] tseaver commented on #3711
@jonparrott supporting those semantics (rather than "make arbitrary changes to the local copy and then call `update`, as illustrated in #3715) will need one of two strategies:

- Add label-specific methods (`add_label`, `remove_label`, `clear_labels`), each of which makes a separate API call.  Maybe that isn't too big a downside, given how low-volume such changes are likely to be.
- Use some batch

[2017-08-01 22:03] jonparrott commented on #3711
By `update` do you mean `patch`? I'm fine with not suggesting `patch` for label usage or going with (1).

[2017-08-01 22:46] jonparrott opened #3717 "Stackdriver Trace API should not yet be surfaced in documentation"
https://google-cloud-python.readthedocs.io/en/latest/trace/index.html

Should not yet be there. We are not yet exposing gapic-only clients to users. This library was added to support a separate stackdriver tracing library and not intended for direct consumption by users.

[2017-08-02 13:52] kipi78 commented on #3666
Here is the code:

[code]

With this version, the request to httpbin.org is printed but i got this traceback:

<ipython-input-14-cfcbd1ad37ad> in <module>()
     26 #storage_client = storage.Client(credentials=credentials, _http=httpStorage)
     27
---> 28 bucket = storage_client.get_bucket('poc_python')
     29 #blobs = bucket.list_blobs()
     30

    171         """
    172         bucket = Bu

[2017-08-02 15:27] lukesneeringer opened #3718 "Spanner ignores provided credentials when executing a query."
(This bug is re-posted from an e-mail I received yesterday.)

----------------------

We are using python spanner client libraries, and I have a credentials issue in executing a sql query. Seems like executing a sql ignores the provided credentials to the client and just try to use the default credentials.

The code looks like:

[code]

Debugging the code for a bit, I found out that eventually the

[2017-08-02 15:36] lukesneeringer commented on #3681
This actually looks like the _output_ changed.

[2017-08-02 16:52] jonparrott commented on #3666
So with a bit of testing using this script and `mitmproxy`:

[code]

It seems the following is true:

1. `urrlib3.ProxyManager` is sending the `proxy-authorization` header.
2. `google.auth.transport.urllib3.AuthorizedHttp` is sending the `proxy-authorization` header.
3. `httplib2shim.Http` is sending the `proxy-authorization` header.
4. However, using the client library *does not* send the `proxy-

[2017-08-02 17:08] jonparrott commented on #3666
Actually - I noticed something that makes a lot more sense: the `proxy-authorization` header is excluded on all `https` requests- this normal behavior for proxies.

I noticed your code is passing in `headers` to `ProxyManager` instead of `proxy_headers`. Maybe that's the issue?

If not, I would just wait until our next release where you can just configure requests globally to respect your proxy se

[2017-08-02 17:30] zdenulo commented on #3709
I realized just now, using request-toolbelt (https://github.com/requests/toolbelt) solved the problem, i.e. adding:

[code]

in appengine_config.py file

Maybe it could be emphasized in documentation somewhere

[2017-08-02 17:35] jonparrott commented on #3709
@zdenulo App Engine standard's docs call that out here: https://cloud.google.com/appengine/docs/standard/python/issue-requests

We don't document it here because we do not yet support standard.

(closing for now, but feel free to comment)

[2017-08-02 17:35] #3709 closed

[2017-08-02 17:53] zdenulo commented on #3709
@jonparrott thanks for info

[2017-08-02 18:35] tseaver commented on #3711
Nope.  The status quo (once #3714 / #3715 land) is to call `update` after re-assigning `bucket.labels` (because `patch` won't work).

[2017-08-02 18:43] tseaver commented on #3718
Parallels #3070, but in the `database` module.

[2017-08-02 18:43] bjwatson commented on #3510
Adding P1 label, since this is all that's standing between us and a green board. Feel to reprioritize as you see fit @lukesneeringer.

[2017-08-02 18:44] bjwatson commented on #3510
CC @timeburks

[2017-08-02 19:11] jonparrott commented on #3711
Oh okay, sorry, I just misread.

I'm okay with the status quo of having to use update over patch for now. In terms of which behavior seems most appropriate it seems like (2) is the right long-term approach if we want to keep `patch`, but (1) is the right approach if we don't. @lukesneeringer should also chime in.

[2017-08-02 20:03] tseaver commented on #3718
Hmm, weird.  The following patch passes through credentials from the client to the `SpannerClientt` constructor:

[code]

but when I run the system tests with that patch, they fail with:

[code]

I've checked, and the scopes on the credentials should work (arguably they are too broad):

[code]

@dhermes, @jonparrott Does that ring any bell?

[2017-08-02 20:15] jonparrott commented on #3718
Yeah that doesn't seem right. @vkedia, do you know why the `spanner.admin` scope wouldn't work?

[2017-08-02 20:20] #3510 closed

[2017-08-02 21:13] tseaver commented on #3706
`query`-specific statistics:

- `query_plan` (maps `"queryPlan"`; return as list of dict)
- `total_bytes_processed` (maps `"totalBytesProcessed"`; int)
- `total_bytes_billed` (maps `"totalBytesBilled"`: int)
- `billing_tier` (maps `"billingTier"`: int)
- `cache_hit` (maps `"cacheHit"`: bool)
- `referenced_tables` (maps "referencedTables"; return list of `Table` instances?)
- `schema` (maps `"schem

[2017-08-02 21:47] mbassiouny commented on #3718
I guess this has to be https://www.googleapis.com/auth/spanner.data. Admin is for administrative actions (Create instance/database).

[2017-08-02 23:21] dhermes commented on #3681
As of https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2688 / #3720, this is keeping is red.

[2017-08-03 00:19] eoogbe commented on #3562
It looks like the streaming gRPC methods *return* a `_Rendezvous` on error, while the unary ones *raise* a `_Rendezvous`. The difference seems to have something to do with `_Rendezvous` being an iterator, but tbh I don't really understand the gRPC code enough to know what the fix is rn.

[2017-08-03 00:23] bjwatson commented on #3562
Thanks for the analysis, @eoogbe. @nathanielmanistaatgoogle might be able to help you with understanding the gRPC code, or can point you to someone who can.

[2017-08-03 08:04] kipi78 commented on #3666
Yes, it looks like it's better when passing ```proxy_headers``` instead of ```headers```.
I can list the blobs in my bucket.
But uploading and downloading do not seem to work.
Code is:

[code]
Traceback is (for download):

<ipython-input-23-f83be087ed88> in <module>()
     28 for blob in blobs:
     29     print(blob.name)
---> 30     blob.download_to_filename("/path/"+blob.name)
     31       #bl

[2017-08-03 14:18] dhermes commented on #3666
That's because `upload` and `download` use a different transport (and it's one you can't modify unless you monkey patch `_make_transport`)

[2017-08-03 14:21] kipi78 commented on #3666
So, will it be possible to configure my own transport with proxy configuration or not ?

[2017-08-03 14:31] dhermes commented on #3666
Soon `httplib2` will be gone (I plan on doing a release tomorrow)

[2017-08-03 15:58] jonparrott commented on #3666
In the meantime, requests should honor the `HTTP_PROXY` and `HTTPS_PROXY` environment variables: http://docs.python-requests.org/en/master/user/advanced/#proxies

[2017-08-03 18:24] mbassiouny commented on #3718
Thanks for the quick fix. In what version this will be in, and also what is the timeline for the release?

[2017-08-03 19:48] tswast opened #3723 "BigQuery: expose public helper method to convert a list of schema fields to/from a list of schema dictionaries (JSON)"
I've received some feedback asking how to take a schema from the client library and save it to a JSON file. One reason to do this is the [`bq` command-line tool](https://cloud.google.com/bigquery/bq-command-line-tool#creatingtablefromfile) accepts a schema file, formatted like

[code]

Note: this format is the same as the API representation.

It would be great if our client libraries could read/wr

[2017-08-03 20:06] tseaver commented on #3723
We already have non-public helper methods which [render](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/3e8d53c02ec658faa0b72667cbd2cff492ee3278/bigquery/google/cloud/bigquery/table.py#L1188) / [parse](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/3e8d53c02ec658faa0b72667cbd2cff492ee3278/bigquery/google/cloud/bigquery/table.py#L1188) schemas to / from a format li

[2017-08-03 20:10] tswast commented on #3723
There are two main use cases that I've head about

- at table creation/load time, being able to load schema from a file.
- after a query so that they can serialize the schema from the stats to then use to create other table.

[2017-08-03 20:12] tswast commented on #3723
Since this is something that would act on lists, it doesn't really correspond to an existing resource representation that we have. Do we put static helper functions in the top-level `google.cloud.apiname` package, generally?

[2017-08-03 23:32] tswast commented on #3723
Going through the issues I see that this is a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3419.

Closing this issue in favor of that one.

[2017-08-03 23:32] #3723 closed

[2017-08-04 02:38] nathanielmanistaatgoogle commented on #3562
@eoogbe: the response-streaming methods _return_ [an object that is both a `grpc.Call` and an iterator that emits the response messages of the RPC](https://github.com/grpc/grpc/blob/3e2d05d4a2bd6bae9021a010f34372da83b7a772/src/python/grpcio/grpc/__init__.py#L510-L514). If the RPC fails, attempts to draw another response message from the object (presumably during iteration, but `next(my_response_it

[2017-08-04 07:54] kipi78 commented on #3666
Uploading and downloading is now working using the ```HTTP_PROXY``` and ```HTTPS_PROXY``` environment variables :) .
But I still need the proxy headers to perform ```get_bucket```.
It would be great to have the ability to configure everything once. I'm looking forward to the next release :)

[2017-08-04 15:17] lukesneeringer commented on #3718
@mbassiouny Our intent is to do a release today. No reason we can not get this in.

[2017-08-04 15:35] #3717 closed

[2017-08-04 15:39] jonparrott commented on #3666
Good deal. Glad we could help. :)

[2017-08-04 17:27] jtigani opened #3725 "job.py in bigquery does unnecessary client-side validation of data formats"
The BigQuery engineering team may decide to expand the allowed formats for import and export, but the allowed values are hard-coded client side. Imports are limited to CSV, DATASTORE_BACKUP, NEWLINE_DELIMITED_JSON, AVRO, for example.

This means that if the BigQuery starts to allow other formats, users will be unable to use those new formats without updating their client. Moreover, there is no way

[2017-08-04 17:39] lukesneeringer commented on #3696
This issue was moved to GoogleCloudPlatform/google-auth-library-python#183

[2017-08-04 17:39] #3696 closed

[2017-08-04 17:59] eoogbe commented on #3562
The code that wraps the `RpcError` in a `GaxError` is [here](https://github.com/googleapis/gax-python/blob/master/google/gax/api_callable.py#L376). It is intended to work on both unary and streaming functions, so it can't assume that the return value is an iterator.

[2017-08-04 18:44] mbassiouny commented on #3718
@lukesneeringer Thanks!

[2017-08-04 21:32] dhermes commented on #3718
@lukesneeringer It must be merged first :grinning:

[2017-08-04 21:40] lukesneeringer commented on #3718
Yeah, I figured that last issue would be fixed sooner than it was. Most likely this will not make it into today's release.

[2017-08-04 22:04] dhermes commented on #3681
This is bothering me, so I'm fixing it right now (if I can in under 15m).

[2017-08-04 22:14] dhermes commented on #3681
Boom, 10 minutes!

[2017-08-04 22:20] #3681 closed

[2017-08-04 23:33] frankyn commented on #3474
Hi @tseaver is it possible to merge this branch into the client library for sample support? Other client libraries have merged this feature merged into master.

[2017-08-05 00:05] dhermes opened #3731 "Language system test fails because API returning HTTPS link instead of HTTP"
Example: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2724

Sadly, this **brand new** failure happened when I wanted CircleCI push a release to PyPI.

[2017-08-05 00:05] nathanielmanistaatgoogle commented on #3562
@eoogbe: it's also not safe to assume that the only problems that can ever happen during an RPC happen during RPC invocation. It's perfectly possible, for example, for a response-streaming RPC to stream one hundred responses and then time out so that the client sees an exception raised from the one-hundred-and-first call to `next(my_response_iterator)`. Or consider another RPC that has streamed fi

[2017-08-05 00:16] #3731 closed

[2017-08-05 00:21] dhermes commented on #3731
Also hosed my [build][1] for the umbrella package.

[1]: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2737

[2017-08-07 01:21] mcurtiss commented on #3021
It would be great for query iterators also to have a `get_one` or `one` method that returns the single row yielded by the query, else throwing an exception.

Note that SQLAlchemy has a similar `one` method: http://docs.sqlalchemy.org/en/latest/orm/query.html#sqlalchemy.orm.query.Query.one

[2017-08-07 11:03] bryanyang0528 opened #3733 "Fix a typo in Vision index.rst"

[2017-08-07 14:01] #3733 closed

[2017-08-07 14:14] lukesneeringer commented on #3684
Hi @dirtytrashgirl,
Thanks for requesting this.

We are hard at work hoping to add support for more and more APIs here. While I can not commit to an exact timeline for Dataflow specifically, we do hope to eventually support as many APIs as is feasible.

As this is not technically an issue with existing code in this repository, I am going to go ahead and close this, but I very much appreciate your

[2017-08-07 14:14] #3684 closed

[2017-08-07 14:18] lukesneeringer commented on #3711
Slight preference for (2), which I can knock out once #3714 and #3715 land.

[2017-08-07 14:37] lukesneeringer commented on #3685
@dhermes I filed GoogleCloudPlatform/google-resumable-media-python#25 to fix this, but need guidance on whether it is correct.

[2017-08-07 14:56] lukesneeringer commented on #3711
There is a third option: The setter for `bucket.labels` can track the diff and do the right thing on a `.patch()` call.

[2017-08-07 15:21] sonlac opened #3736 "blob.download_to_filename fails with google-cloud-storage==1.3.0"
Due to the notable implementation changes in **google-cloud-storage 1.3.0**, the **_blob.download_to_filename_** fails whatever **google-cloud** from **0.24.0** to **0.27.0** (latest)

Our prod server which using **google-cloud==0.24.0** has been broken since last Saturday. I analyzed a bit the error. The problem is come from the upgraded package **google-cloud-storage==1.3.0**. We are using the *

[2017-08-07 15:28] dhermes commented on #3736
@sonlac It looks like you're using a custom transport. When constructing `Client`, are you passing a custom `_http` argument? (Note that the leading underscore in `_http` is a "user-beware" signal.)

For reference, see the release notes:

- https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag/storage-1.3.0
- https://github.com/GoogleCloudPlatform/google-cloud-python/releases/tag

[2017-08-07 16:03] sonlac commented on #3736
@dhermes Thank you for your quick reply. No, I didn't pass anything as custom argument. I am using the latest code to test, all arguments are default ones.
It seems that this change https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3705/files makes the google-cloud-storage 1.3.0 broken?
For my part, I am trying to get the logs for more details...

[2017-08-07 16:05] dhermes commented on #3736
Before making a request, can you print `client._http`?

[2017-08-07 16:07] dhermes commented on #3736
RE: #3705, notice the code in `_make_transport` and compare it to the [`_http` property][1]. You'll see they are the same. Also, using the default `_http`, our system tests are passing.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-python/blob/da8a9606fde1559c7add7a8b5200dbca74551675/core/google/cloud/client.py#L144-L148

[2017-08-07 16:16] #3725 closed

[2017-08-07 16:21] lukesneeringer commented on #3736
@sonlac Can you give us the output of `pip freeze`? In particular, I would like to see what version of `requests` you have installed.

If it is a semi-old one, can you also try updating `requests` to the newest version and tell us if that fixes your issue?

[2017-08-07 16:29] lukesneeringer commented on #3675
@tillahoffmann Can you give us the exact code so we can attempt to reproduce?

[2017-08-07 16:46] dhermes opened #3739 "Monitoring system tests backoff is insufficient sometimes"
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2744
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2746

/cc @liyanhui1228 @duggelz

[2017-08-07 16:49] dhermes commented on #3685
I believe GoogleCloudPlatform/google-resumable-media-python#25 is ready to merge.

@danqing The fix may not lead to immedate releases of `google-resumable-media==0.2.3` (and possibly `google-cloud-storage==1.3.1`), but in the meanwhile, if you don't set the chunk size, then a `MultipartUpload` will be used, which has no issue sending an empty file.

[2017-08-07 16:49] vkedia opened #3740 "Spanner docs are outdated"
Spanner docs still talk about [checking out a session](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/docs/spanner/snapshot-usage.rst) and then doing operations on that such as `session.snapshot` and `session.batch`.
We changed the API long time back where such operations can be done directly on the database object and that is the API we want to promote. Please audit all th

[2017-08-07 16:50] vkedia commented on #3740
cc @lukesneeringer @bjwatson @danoscarmike

[2017-08-07 16:51] vkedia commented on #3740
Also the snapshot doc should talk about nuances of using Snapshots with multi use and single use and the fact that users need to call `begin` if they need to have multiple pending operations.

[2017-08-07 17:05] sonlac commented on #3736
Thank you @dhermes @lukesneeringer for the comments. So, the **problem 1** is about "user-beware". It's was not a bug. For the **problem 2**, I could not reproduce it in a context "out-of-box". I've just tested a simple code using **download_to_filename**, it worked with latest ones: **google-cloud 0.27.0** and **goole-cloud-storage 1.3.0**. In fact, I've run the code inside a ML engine, so it'd t

[2017-08-07 17:09] dhermes commented on #3736
@sonlac I am going to preemptively close this based on

We're happy to keep discussing and re-open if there does turn out to be some issue.

[2017-08-07 17:09] #3736 closed

[2017-08-07 17:13] #3685 closed

[2017-08-07 17:15] lukesneeringer commented on #3653
I am going to go ahead and close this. I agree with the description of the problem, and the fix, but tracking this as a separate line item probably is not going to be all that useful.

@johnjameswhitman Thank you for reporting, and we have a medium-term plan that will sort this out, even for old versions.

[2017-08-07 17:15] #3653 closed

[2017-08-07 17:19] lukesneeringer commented on #3622
@duggelz Is this a bug we can fix? Something that is stick as-is? I would appreciate guidance on what to do with this ticket. :-)

[2017-08-07 17:23] lukesneeringer commented on #3614
Hi @yinchuandong,
Thank you for reporting this.

Since the time that you reported this issue, we released an entirely new version of `google-cloud-speech` with significant alterations. Could you upgrade to the newest version (note that code changes will be necessary to use the new thing; your existing code will use the former, now deprecated code path), and it should fix this problem for you.

I a

[2017-08-07 17:23] #3614 closed

[2017-08-07 17:23] liyanhui1228 commented on #3739
The max retries for the failed test is 10, but the tests failed after retry for 5 times, what stops it from retrying?

[2017-08-07 17:27] lukesneeringer commented on #3594
And it should set it to 20 MB + 1 byte.

[2017-08-07 17:28] dhermes commented on #3739
1. 10 retries is probably too many (after our experience with `logging`)
1. I think the issue is a strange combination of `list()` calls that consume iterators. The retry probably needs to be re-written? (It may predate the rewrite that resulted in the `google.cloud.iterator` module.)

[2017-08-07 17:29] danqing commented on #3685
I see. Thanks @dhermes ! I've already implemented a workaround - will wait until 0.2.3 to get rid of it :)

[2017-08-07 17:30] dhermes commented on #3685
Closing this based on https://github.com/GoogleCloudPlatform/google-resumable-media-python/releases/tag/0.2.3

[2017-08-07 17:34] dhermes commented on #3685
Blerg, the release build https://circleci.com/gh/GoogleCloudPlatform/google-resumable-media-python/189 collided with a different build https://circleci.com/gh/GoogleCloudPlatform/google-resumable-media-python/188 and made some flaky failures.

Hopefully https://circleci.com/gh/GoogleCloudPlatform/google-resumable-media-python/190 will actually succeed and push the release to PyPI

[2017-08-07 17:51] duggelz commented on #3622
This is something we can fix.

[2017-08-07 18:01] lukesneeringer commented on #3390
Having not heard anything on this, and also having looked at the code, I am going to declare this working and close the issue. (@tseaver is correct about how context managers work; solving this kind of problem is exactly why they exist.)

[2017-08-07 18:01] #3390 closed

[2017-08-07 18:02] jonparrott commented on #3557
This is mostly done, but needs to be moved in to google.api.core

[2017-08-07 18:09] vkedia commented on #3390
I think this is fine.

[2017-08-07 18:13] vkedia commented on #3476
Note that this also is beta blocking.

[2017-08-07 18:18] lukesneeringer commented on #3525
Hi @dw,
Since the time that you wrote this, we have released a pretty substantial update to the Speech library, with an entirely new surface. If you do not mind, please upgrade, and I believe this problem should be addressed.

Since this is now an issue against an older version, I am going to close it for now, but feel free to re-open if needed.

[2017-08-07 18:18] #3525 closed

[2017-08-07 18:19] dhermes commented on #3685
https://pypi.org/project/google-cloud-storage/1.3.1/ exists now (in addition to https://pypi.org/project/google-resumable-media/0.2.3/)

[2017-08-07 18:27] vkedia commented on #3659
Any updates on this?

[2017-08-07 18:28] vkedia commented on #3123
Any updates on this?

[2017-08-07 18:37] vkedia commented on #3021
Regarding https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3021#issuecomment-317859229 it is definitely valid for the read to not return any row at all. User might just be checking for the existence of row. So `None` seems better.

Regarding https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3021#issuecomment-320546633 I agree it would be useful to have this and som

[2017-08-07 18:43] dhermes opened #3742 "test_sync_query_w_dml has num_dml_affected_rows unset"
See: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-python/2753

@tswast Any idea what would cause this "flake" to happen? (Note that the 2.7 system tests in the same build did not have this failure, as well as every other time this test case has run on CI.)

[2017-08-07 19:01] duggelz commented on #3622
CC @igorpeshansky Can you comment on the environment variable and fluentd sidecar configuration?

[2017-08-07 19:02] lukesneeringer commented on #3582
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2017-08-07 19:02] #3582 closed

[2017-08-07 19:04] tswast commented on #3742
Bah! No clue. I wish we logged the Job ID so that I could pass it on to the backend team to investigate further.

[2017-08-07 19:04] lukesneeringer commented on #3583
Yeah, fairly certain this should just be done now.
Happy to have this re-opened if not.

[2017-08-07 19:04] #3583 closed

[2017-08-07 19:08] dhermes commented on #3742
Are the job IDs generated by the client? If yes, they probably match some specific regex with the build ID in it.

[2017-08-07 19:12] tswast commented on #3742
They are in this case, but I didn't think to make them match any specific pattern. https://github.com/GoogleCloudPlatform/google-cloud-python/blob/f034c6121dabfb20cb1cf6b6ae6985b236bfef11/bigquery/google/cloud/bigquery/dbapi/cursor.py#L136

[2017-08-07 19:18] lukesneeringer commented on #3594
I am trying to run down how to set this properly in GAX. In theory, I would expect it to be configurable, but not sure if it is. If not, we need to add that.

[2017-08-07 19:19] duggelz opened #3743 "Import error in trace unit tests"
It looks like `trace/` needs to be updated to match changes elsewhere.  Also, `trace/nox.py` seems to be missing some recent changes made to the other `nox.py` files.

To reproduce:
[code]

Output:
[code]

[2017-08-07 19:23] lukesneeringer commented on #3743
Is this the manual code or the autogen, Doug?

[2017-08-07 19:45] dsouzarc commented on #3725
@jtigani @lukesneeringer Thank you both for your help and quick response :)

[2017-08-07 19:51] lukesneeringer commented on #3595
This should now be fixed. Please re-open if not.

[2017-08-07 19:51] #3595 closed

[2017-08-07 20:02] lukesneeringer commented on #3597
Hey @michaelenglo,
I just wanted to follow up on this item. I think we are probably leaning toward leaving this as-is (except maybe adding some documentation), but I wanted to give you an opportunity to follow up on it first.

[2017-08-07 20:14] igorpeshansky commented on #3622
As I understand it, GKE will keep using the fluentd containers to log the pods' `stdout`/`stderr`. @crassirostris should be able to help you debug why the output isn't parsed correctly.

[2017-08-07 20:20] lukesneeringer commented on #3509
I want to do this, but do not particularly want to keep an open issue for it at this time.
If we want to discuss _whether_ to do it, let's use e-mail.